[2022-11-16 03:38] shuo-wu opened #4887 "[BUG] The node ID of backing image data source somehow get changed then lead to file handling failed"
## Describe the bug (🐛 if you encounter this issue)

As mentioned in the title, the node ID change of the backing image data source will lead to a mismatching with its running pod then fail the file downloading/uploading/exporting.

After checking the code, I found that the backing image controller may [wrongly update/modify the node ID](https://github.com/longhorn/longhorn-manager/blob/732f3c8392

[2022-11-16 03:59] github-actions[bot] opened #4888 "[BACKPORT][v1.3.3][BUG] The node ID of backing image data source somehow get changed then lead to file handling failed"
backport https://github.com/longhorn/longhorn/issues/4887

[2022-11-16 04:18] yangchiu commented on #4491
@derekbit I change the command to `dd if=/dev/urandom of=/data/file oflag=sync bs=1M count=1` and even `dd if=/dev/urandom of=/data/file oflag=direct,sync bs=1M count=1` still unable to observe the IO hang..

[2022-11-16 04:24] innobead commented on #4887
@shuo-wu is the workaround to delete the data source pod to restart a new pod?

[2022-11-16 04:49] derekbit commented on #4491
My bad. Shutting down one of the nodes might be not a good way. The engine will receive `EOF` after the shutdown and change to replica to `ERR` directly.

You can stop the network traffict for emulating the unstable network by
[code]

[2022-11-16 05:38] shuo-wu commented on #4887
Typically retrying the backing image creation should be enough.

[2022-11-16 06:56] roger-ryao commented on #3917
**Verified on master-head 20221116**

- longhorn master-head ([7b27a9a](https://github.com/longhorn/longhorn/commit/7b27a9ad49e719bf992401c506b5abefa798d8f7))
- longhorn-manager master-head ([732f3c8](https://github.com/longhorn/longhorn-manager/commit/732f3c8392ca2f8a394ba001015153a649a31691))

**The test steps**

[Ref #3719 (To Reproduce)](https://github.com/longhorn/longhorn/issues/3917#issueco

[2022-11-16 06:56] #3917 closed

[2022-11-16 07:20] yangchiu commented on #4491
Verified passed on master-head (longhorn-instance-manager v2_20221115, longhorn-engine e112364, longhorn-manager 732f3c8) by following steps:

(1) deploy the following deployment to create a workload and a volume with 3 replicas:

[code]

(2) in the workload, execute the following script:

[code]

(3) then disconnect the network of one of the replica's host using:

`tc qdisc add dev eth0 root nete

[2022-11-16 07:20] #4491 closed

[2022-11-16 07:39] chriscchien commented on #3353
**Verified in longhorn manager `732f3c` with test [steps](https://github.com/longhorn/longhorn/issues/3353#issuecomment-1301525065)
Result Pass**

Workload in encrypted volume was working properly in both `aes-xts-plain64` and `aes-cbc-essiv:sha256`
[code]
[code]

Volume encrypted status also reflected on UI

![Screenshot from 2022-11-16 15-35-49](https://user-images.githubusercontent.com/73337386

[2022-11-16 08:12] innobead commented on #3353
@chriscchien @mantissahz will this change impact existing encrypted volume? Did we verify this?

[2022-11-16 22:53] khushboo-rancher commented on #3140
This is something which is on going efforts. So closing this ticket.

[2022-11-16 22:53] #3140 closed

[2022-11-17 00:23] joshimoo commented on #4789
You can test this in multiple ways:

A simple test is to check `kubectl get sharemanagers -n longhorn-system -o jsonpath="{.items[*].status.ownerID}"` this will print out the ownership of the sharemanager custom resource.

When you deploy an RWX volume to a node, the sharemanager pod will randomly be scheduled and the ownership of the cr will switch to the node of the sharemanager pod. Now if you

[2022-11-17 00:24] joshimoo commented on #4876
Test instructions: https://github.com/longhorn/longhorn/issues/4789#issuecomment-1317866581

[2022-11-17 01:23] innobead commented on #4206
Let's follow up with the ARM64 performance benchmark individually instead of trying to compare it with a different architecture. The goal is to see if the performance of each architecture gets improved consistently along with releases.

cc @longhorn/qa

[2022-11-17 01:23] #4206 closed

[2022-11-17 05:57] luke-zhu commented on #3457
The significance of this issue is that if you delete the namespace, you can't use longhorn on that cluster anymore. The CRDs are stuck in terminating state, so you can't create any new longhorn resources.

It seems possible to clean things up by running commands like this after re-creating the CRDs and removing any validation webhooks:

kubectl get volumes.longhorn.io -n longhorn-system -o name |

[2022-11-17 08:03] roger-ryao commented on #4574
**Verified on master-head 20221117**

- longhorn master-head ([dab0603](https://github.com/longhorn/longhorn/commit/dab06038476c337266936b0fe47a5f0ae0cdaed7))
- longhorn-manager master-head ([ed1f742](https://github.com/longhorn/longhorn-manager/commit/ed1f74273fb2d86d85d910ec7a08e2654f477536))

**The test steps**

[Ref #4574 (To Reproduce)](https://github.com/longhorn/longhorn/issues/4574#issueco

[2022-11-17 08:03] #4574 closed

[2022-11-17 09:02] roger-ryao commented on #4554
**Verified on master-head 20221117**

- longhorn master-head ([dab0603](https://github.com/longhorn/longhorn/commit/dab06038476c337266936b0fe47a5f0ae0cdaed7))
- longhorn-manager master-head ([ed1f742](https://github.com/longhorn/longhorn-manager/commit/ed1f74273fb2d86d85d910ec7a08e2654f477536))

**The test steps**

[Ref #4554 (To Reproduce)](https://github.com/longhorn/longhorn/issues/4554#issueco

[2022-11-17 09:02] #4554 closed

[2022-11-17 11:41] scbay commented on #468
Is there any ETA for this feature?

[2022-11-17 13:47] github-actions[bot] opened #4891 "[BACKPORT][v1.3.3][IMPROVEMENT] A hanging NFS backup target might affect the worker nodes"
backport https://github.com/longhorn/longhorn/issues/4772

[2022-11-17 13:48] github-actions[bot] opened #4892 "[BACKPORT][v1.3.3][BUG] Longhorn won't fail all replicas if there is no valid backend during the engine starting stage"
backport https://github.com/longhorn/longhorn/issues/1330

[2022-11-17 14:24] github-actions[bot] opened #4893 "[BACKPORT][v1.3.3][IMPROVEMENT] Periodically clean up all snapshots for a volume"
backport https://github.com/longhorn/longhorn/issues/3836

[2022-11-17 14:40] innobead commented on #4783
Aggressively adding to 1.4.0, but do this by best efforts.

[2022-11-18 03:13] derekbit opened #4897 "[IMPROVEMENT] Refactor backup and enigne monitors"
## Is your improvement request related to a feature? Please describe (👍 if you like this request)

We've already implemented the gerenalized `monitor` interface, so the backup and engine monitors can be refactored using the same interface as well as remove the redundant codes.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternative

[2022-11-18 04:43] derekbit commented on #3198
For the **silent corruption** caused by the bit rot, I don't find a good emulation method. I will update the test steps if I have any update. Any idea is appreciated.

[2022-11-18 04:55] shuo-wu opened #4898 "[IMPROVEMENT] Recurring jobs create new snapshots while being not able to clean up old ones"
## Is your improvement request related to a feature? Please describe (👍 if you like this request)

During rebuilding, the recurring jobs cannot clean up old snapshots but will continue blindly creating new snapshots. Then the snapshot count may exceed the retain count even the max limit.

## Describe the solution you'd like

- Have a notification mechanism like events to inform the users when this

[2022-11-18 05:03] shuo-wu opened #4899 "Allow customizing the backup target access option"
### Discussed in https://github.com/longhorn/longhorn/discussions/4894

<div type='discussions-op-text'>

<sup>Originally posted by **gauravkarki** November 18, 2022</sup>
## Environment
Longhorn version: v1.2.3
Kubernetes version: v1.24.7
Node config
OS type and version: RHEL8.6
CPU per node: 2

Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): AWS

##Additional context

[2022-11-18 05:10] derekbit commented on #4210
e2e
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/2485/console

[2022-11-18 05:10] shuo-wu opened #4900 "[TASK] Check Longhorn compatibility with more kind of Linux distros"
## What's the task? Please describe

Some distros may not support some system cmds Longhorn is using.

For example, [`-regextype posix-extended`](https://github.com/longhorn/longhorn-manager/blob/f1c71ea292a7bc9ad076f261ff05b93dd1d8bf05/util/util.go#L835) used in [the orphan detection feature](https://github.com/longhorn/longhorn-manager/blob/f1c71ea292a7bc9ad076f261ff05b93dd1d8bf05/controller/mon

[2022-11-18 05:13] innobead commented on #4900
cc @derekbit

[2022-11-18 05:15] derekbit commented on #4900
This is pretty annoying. Should we use our customized binary utilities? Or, anything change in the distros will introduce new issues.

[2022-11-18 05:17] innobead commented on #4900
Exactly, but the better solution is done by us instead of relying on external util commands. Let's figure out it in a later version.

[2022-11-18 05:40] innobead commented on #1449
I think this is a general problem caused by `SetConditionAndRecord` which will issue events even if the resource is not really updated yet. Therefore, in general, when using `SetConditionAndRecord`, it will potentially cause this kind of issue.

We need to refactor `SetConditionAndRecord` usage before tackling this issue instead. Currently, the duplicated events make sense to me because they will

[2022-11-18 05:45] #4869 closed

[2022-11-18 05:45] #4867 closed

[2022-11-18 07:05] yangchiu opened #4901 "[TEST-INFRA] Show upgrade path version info on build description"
## What's the test to develop? Please describe

we can update the name of the job build w/ version info, ex: `<id><upgrade-stable-version>[-<upgrade-transition-version>]` ,
This is general for all upgrade jobs.

Related to https://github.com/longhorn/longhorn/issues/4706

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] `item 1`

## Additional context

Add

[2022-11-18 09:08] shuo-wu opened #4902 "[BUG] Cannot upload a backing image larger than 10G"
## Describe the bug (🐛 if you encounter this issue)

Due to the config limitation `lient_max_body_size 10240M` in Nginx, Longhorn UI cannot upload a backing image larger than 10G.

## To Reproduce

Steps to reproduce the behavior:
1. Go to the backing image page
2. Create a backing image with method upload. Then choose a file larger than 10G
3. The upload will fail after waiting a while

## Expect

[2022-11-18 09:10] github-actions[bot] opened #4903 "[BACKPORT][v1.2.7][BUG] Cannot upload a backing image larger than 10G"
backport https://github.com/longhorn/longhorn/issues/4902

[2022-11-18 09:10] github-actions[bot] opened #4904 "[BACKPORT][v1.3.3][BUG] Cannot upload a backing image larger than 10G"
backport https://github.com/longhorn/longhorn/issues/4902

[2022-11-18 09:11] innobead commented on #4900
cc @longhorn/qa

[2022-11-18 10:53] smallteeths commented on #4902
**Workaround**

1. Find the `rancher/mirrored-longhornio-longhorn-ui`  container id
2. `docker cp ${containerId}:/var/config/nginx/nginx.conf ./` copy nginx.conf
3. Edit nginx.conf and change `lient_max_body_size` to `0`
4.  `docker cp ./nginx.conf ${containerId}:/var/config/nginx/nginx.conf`
5.  `docker exec -it ${containerId} /bin/sh` && `nginx -s reload`

[2022-11-18 11:02] innobead commented on #4902
@shuo-wu :point_up: do we need a knowledge base for the workaround?

[2022-11-18 17:37] withinboredom opened #4905 "[BUG] Over half of volumes became faulted on terminal node failure"
## Describe the bug (🐛 if you encounter this issue)

A node failed in a spectacular fashion, and for some reason, any volumes that were in use on that node are listed as faulted and cannot be salvaged despite having (previously) healthy replicas on other nodes. The other node is effectively dead, though we were able to get to the disk the volumes were stored on and can load them up on another node

[2022-11-18 18:03] withinboredom commented on #4905
If I'm understanding how salvage works, I think I just need to add another node. If I'm understanding things correctly, the new blank replica needed for salvaging is following the "rules" and won't be created on a node that already has replicas.

[2022-11-18 20:55] withinboredom commented on #4905
That was indeed the issue. Perhaps when scavenging, volume affinities should be ignored?

[2022-11-19 02:10] #4646 closed

[2022-11-19 14:50] derekbit opened #4906 "[TASK] Upgrade longhorn-manager's version in master branch to v1.4.0"
## What's the task? Please describe

Upgrade longhorn-manager's version in master branch to v1.4.0

## Describe the items of the task (DoD, definition of done) you'd like

- [ ] `item 1`

## Additional context

Add any other context or screenshots about the task request here.

[2022-11-20 12:59] TritonNet opened #4907 "[BUG] Longhorn Manager CrashLoopBackOff with error setting engine-replica-timeout is not supported"
I have a longhorn deployment in microk8s cluster.
My cluster had 2 nodes (_host01 and host03_) and the longhorn deployment was working fine.
However, recently I've added a 3rd node _(host02)_ (for HA) and when the longhorn deployed into this new node, the manager pod fails with the error setting engine-replica-timeout is not supported.

[code]

[code]

My deployment is from `https://raw.githubuser

[2022-11-20 13:22] derekbit commented on #4907
`master` branch is for developement, and `egine-replica-timeout` is a newly introduced setting in the master branch.
Please use the stable version, v1.3.2, instead.
Ref: https://longhorn.io/docs/1.3.2/

[2022-11-20 18:33] TritonNet commented on #4907
oh, thanks, yes my mistake

[2022-11-21 00:07] deadpyxel commented on #4843
Hello and sorry for the delayed response.

We were able to, somehow (still don't understand the reasoning) get it working with a helm install +  a customised `values.yml`.

One point is the `values.yml` present on the both the documentation link and the `master` branch of the longhorn/charts repo has the values for the `1.3.0` (as seen in [longhorn/chart](https://github.com/longhorn/charts/blob/ma

[2022-11-21 01:55] #4907 closed

[2022-11-21 06:16] roger-ryao commented on #3828
**Verified on master-head 20221121**

- longhorn master-head ([7522275](https://github.com/longhorn/longhorn/commit/75222752d22abfd423f8c650f5ebf1e5c3f96ff7))
- longhorn-engine master-head ([acdfe5b](https://github.com/longhorn/longhorn-engine/commit/acdfe5be79f75acabb49a39105643752d601495f))

**The test steps**

[Ref #3828 (To Reproduce)](https://github.com/longhorn/longhorn/issues/3828#issuecomm

[2022-11-21 06:16] #3828 closed

[2022-11-21 06:35] github-actions[bot] opened #4908 "[TEST][FEATURE] Support bundle enhancement"
adding/updating auto e2e test cases for https://github.com/longhorn/longhorn/issues/2759 if they can be automated

cc @longhorn/qa

[2022-11-21 08:49] roger-ryao commented on #4870
**Verified on v1.3.x-head 20221121**

- longhorn v1.3.x-head ([44041ac](https://github.com/longhorn/longhorn/commit/44041acf6c957f27787dbd2d48cc526dd28d4d9b))
- longhorn-manager v1.3.x-head ([857f1ec](https://github.com/longhorn/longhorn-manager/commit/857f1ecb9d0cb8691649ce32cfdeb1b65317d358))

**The test steps**

[Ref #4870 (To Reproduce)](https://github.com/longhorn/longhorn/issues/4870#issueco

[2022-11-21 08:49] #4870 closed

[2022-11-21 09:36] mantissahz commented on #1363
@shuo-wu Could you reproduce this at master-head?
I could not reproduce it in my local environment.

[2022-11-21 10:24] innobead commented on #1363
Probably this was due to this issue reported in 0.8, quite a long ago and postponed a few times.

[2022-11-21 12:19] shuo-wu commented on #1363
YES, this is a pretty old issue. And there are several big changes after v0.8.1 including the instance manager lifecycle. Not sure if we can directly close this.

[2022-11-21 12:21] #1363 closed

[2022-11-21 12:22] innobead commented on #1363
Let's close this first and reopen this when this happens again.

cc @longhorn/qa

[2022-11-21 20:34] joshimoo commented on #4897
Related to #2441

[2022-11-22 00:33] c3y1huang opened #4911 "[TASK] Create longhornio support-bundle-kit image"
## What's the task? Please describe

We need a `longhornio` supoort-bundle-kit `v0.0.12` image.

## Describe the items of the task (DoD, definition of done) you'd like

- [ ] Mirror a [support-bundle-kit](https://github.com/rancher/support-bundle-kit) v0.0.12 image to a longhornio image

## Additional context

https://github.com/longhorn/longhorn/issues/2759

[2022-11-22 00:33] c3y1huang commented on #4911
/cc @yangchiu

[2022-11-22 00:35] innobead commented on #4911
A general task but related to infra, so added to the QA board.

cc @longhorn/qa

[2022-11-22 00:51] c3y1huang opened #4912 "[DOC] Add Recurring * Jobs History Limit to setting referenence"
## What's the task? Please describe

We need to add the new settings to the setting reference page.

## Describe the items of the task (DoD, definition of done) you'd like

- [x] settings added to the doc

## Additional context

https://github.com/longhorn/longhorn/issues/1711

[2022-11-22 00:52] c3y1huang commented on #4912
/ping @weizhe0422

[2022-11-22 00:52] c3y1huang opened #4913 "[DOC] Add Failed Backup TTL to setting referenence"
## What's the task? Please describe

We need to add the new setting to the setting reference page.

## Describe the items of the task (DoD, definition of done) you'd like

- [x] setting added to the doc

## Additional context

https://github.com/longhorn/longhorn/issues/3898

[2022-11-22 00:52] c3y1huang commented on #4913
/ping @mantissahz

[2022-11-22 01:27] yangchiu commented on #4911
Is this the right image? https://hub.docker.com/r/rancher/support-bundle-kit/tags
It doesn't support arm64?

[2022-11-22 01:48] chriscchien commented on #4789
**Verified in longhorn master `576a42` with [steps](https://cloud-native.slack.com/archives/CNVPEL9U3/p1666797996895439?thread_ts=1666760102.890179&cid=CNVPEL9U3)
Result Pass**

Share manager won't fail over when cluster hit 110 pods, it will restart but still worked properly

![Screenshot from 2022-11-22 09-46-37](https://user-images.githubusercontent.com/73337386/203196897-aa6c02bd-f786-4f58-82b

[2022-11-22 01:48] #4789 closed

[2022-11-22 01:50] roger-ryao commented on #4787
PR-1162 was merged, the case is passed in recent Jenkins builds

[2022-11-22 01:50] #4787 closed

[2022-11-22 01:58] bk201 commented on #4911
Harvester doesn't support arm64, so we never tested it before.

[2022-11-22 02:07] weizhe0422 opened #4914 "[IMPROVEMENT] Remove the global setting `mkfs-ext4-parameters`"
## Is your improvement request related to a feature? Please describe (👍 if you like this request)

Since we already could let user configure mkfs parameters in storage class (https://github.com/longhorn/longhorn/issues/4642) , therefore, the setting only specific to ext4 should be deprecated.

## Describe the solution you'd like

The setting and related reference in `longhorn/longhorn-manager` and

[2022-11-22 02:15] innobead commented on #4911
Then, we need to make support-bundle-kits support arm64.

@yangchiu @c3y1huang Please cooperate with the below items.
- Update https://github.com/rancher/support-bundle-kit/blob/master/.drone.yml to support arm64 pipeline w/ manifest (you can reference https://github.com/rancher/rancher/blob/release/v2.7/.drone.yml#L389-L394, the rancher has arm64 build support)
- Make sure arm64 image work well i

[2022-11-22 02:28] yangchiu commented on #4911
we need s390 image too, right?

[2022-11-22 02:30] innobead commented on #4911
Exactly! rancher push CI also has that support, so we can leverage it as well.

[2022-11-22 04:01] #4769 closed, assigned to weizhe0422, roger-ryao

[2022-11-22 06:42] yangchiu commented on #4911
Created PR https://github.com/rancher/support-bundle-kit/pull/54 to build images for arm64 and s390x: https://drone-publish.rancher.io/rancher/support-bundle-kit/92/4

But the build scripts need to be modified too, since currently it shows the following errors:
[code]
cc @c3y1huang @innobead

[2022-11-22 06:48] roger-ryao commented on #1522
**Verified on master 20221121**

- https://longhorn.io/docs/
- website master ([e266055c](https://github.com/longhorn/website/commit/e266055c08a2814be5870eae79854e6dd694ab6f))

**The test steps**

1. Check PR review conversation.
2. Verify the result on https://longhorn.io/docs/

**Result Passed**

[2022-11-22 06:48] #1522 closed

[2022-11-22 06:55] innobead commented on #4911
@c3y1huang please help with the build change. Go discuss with @bk201 if needed.

[2022-11-22 09:02] alonkrispin43 commented on #2259
do we know when this release 1.5/6 will be publish , as this is hugh issue as i can see , how come dual stack is supported and pure ipv6 is not , can someone escalate this issue ?
i have issue when trying using promstack with longhorn on pure ipv6 on k8s 1.22 ,  issue that  prom can't use the stoarge class even if it's bound .

[2022-11-22 11:04] TritonNET opened #4917 "iscsid service status is different when using environment_check.sh script"
I'm using your environment check script to verify my host environment. https://longhorn.io/docs/1.3.2/deploy/install/#using-the-environment-check-script

However, this script reports that `iscsid` is not running on my nodes even though I can see it's running using `systemctl status --no-pager iscsid.service`. Am I missing something?

[code]

[code]
I have an issue where my PVC fails to mount on fo

[2022-11-22 11:35] derekbit commented on #4917
Did you check each worker nodes? The script checks each nodes' status.

[2022-11-22 11:53] TritonNet commented on #4917
Thanks @derekbit, yes, I did check on each node manually using `systemctl`

However, now I've uninstalled the `open-iscsid` from the node _(with apt)_ and installed using the [DeamonSet](https://raw.githubusercontent.com/longhorn/longhorn/v1.3.2/deploy/prerequisite/longhorn-iscsi-installation.yaml).
It started recognizing the `iscsid` service and also my pods started mounting the volume.

I'll clo

[2022-11-22 12:11] derekbit commented on #4917
This is a bit of werid. Could you give me your os and version? I can check it later.

[2022-11-22 12:23] TritonNet commented on #4917
Thanks Derek

[code]

[2022-11-22 13:15] #1965 closed

[2022-11-22 14:44] Bessonov commented on #3957
This is a great news! May I ask what brings IO down in comparison to the baseline?

[2022-11-22 21:04] khushboo-rancher commented on #4210
@roger-ryao Could you add the test skeleton for https://github.com/longhorn/longhorn/issues/4845 while you test this?

[2022-11-22 21:07] khushboo-rancher commented on #4726
@chriscchien Remember to add the test skeleton for https://github.com/longhorn/longhorn/issues/4730 while you're testing it. Thanks

[2022-11-23 00:51] mantissahz commented on #4913
Documents had been merged, closed this issue. Thank @c3y1huang.

[2022-11-23 00:51] #4913 closed

[2022-11-23 01:07] roger-ryao opened #4921 "[v1.2.x][TEST] Analyze|Fix failed test case test_offline_node"
## What's the test to develop? Please describe

Fix failed test case [test_offline_node](https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-upgrade-tests-sles-arm64/291/testReport/junit/tests/test_infra/test_offline_node/)

Re-run test case the result was passed, so I need to check test script logic.

- [x] `Analyze failed test case test_offline_node`
- [x] `Fix failed test case test

[2022-11-23 03:01] chriscchien commented on #4642
**Verified in longhorn master `a0a641`[steps](https://github.com/longhorn/longhorn/issues/4642#issuecomment-1322883145)
Result Pass**

Setting in storage class patameter `mkfsParams` will reflect in volume which using the storageclass as below:

![Screenshot from 2022-11-23 10-56-54](https://user-images.githubusercontent.com/73337386/203461461-d80870aa-d3db-4817-8e00-7a7cf3aef818.png)
![Screenshot

[2022-11-23 03:27] innobead commented on #4904
https://github.com/longhorn/longhorn-ui/pull/550

[2022-11-23 03:29] innobead commented on #4642
@longhorn/qa I think we need an auto e2e for this feature, just added the automation label.

[2022-11-23 03:29] github-actions[bot] opened #4922 "[TEST][FEATURE] Make FS format options configurable in storage class"
adding/updating auto e2e test cases for https://github.com/longhorn/longhorn/issues/4642 if they can be automated

cc @longhorn/qa

[2022-11-23 03:38] chriscchien commented on #4726
**Verified in longhorn master `a0a641` with [steps](https://github.com/longhorn/longhorn/issues/4726#issuecomment-1296663201)
Result Pass**

Volume not stuck at upgrading when upgrade Longhorn from v1.3.2(Concurrent Automatic Engine Upgrade Per Node Limit > 0 and longhornio/longhorn-engine:master-head deployed) to master-head .

[2022-11-23 03:38] #4726 closed

[2022-11-23 06:59] chriscchien commented on #4902
**Verified in longhorn master `a0a641`
Result Pass**

Now Longhorn accepted backing image larger than 10G upload
![Screenshot from 2022-11-23 14-56-07](https://user-images.githubusercontent.com/73337386/203488313-ecf1ff04-0cce-4091-99c7-ce91e46a1eaf.png)

[2022-11-23 07:33] github-actions[bot] opened #4923 "[TEST][FEATURE] Backup/Restore Longhorn System"
adding/updating auto e2e test cases for https://github.com/longhorn/longhorn/issues/1455 if they can be automated

cc @longhorn/qa

[2022-11-23 08:00] yangchiu commented on #3198
@derekbit Following `[the test steps](https://github.com/longhorn/longhorn/issues/3198#issuecomment-1286534879)`, after the replica rebuilding in step (11), I also observe there is a new snapshot created. Is it the right behavior?
![snapshot](https://user-images.githubusercontent.com/5709208/203496424-dbfe49d0-fbac-49a7-a4db-22f03753975f.png)

[2022-11-23 09:38] yangchiu commented on #4911
@innobead @c3y1huang `rancher/support-bundle-kit` images for different platforms already published: https://hub.docker.com/r/rancher/support-bundle-kit/tags

[2022-11-23 12:39] greggameplayer opened #4925 "[BUG] Error on mounted disked which causes data loss"
## Describe the bug (🐛 if you encounter this issue)

Sometimes on my servers when a disk is mounted it's doing that error :
`kernel:[308741.015168] EXT4-fs (sdg): failed to convert unwritten extents to written extents -- potential data loss!  (inode 262194, error -30)`

This causes various problem in the cluster like crashing pods maybe due to data loss

## Environment

 - Longhorn version: master

[2022-11-23 12:48] innobead commented on #4925
@greggameplayer don't use the master for your setup, because the master is under development. Use releases instead and right now it's 1.3.2 or 1.2.5.

[2022-11-23 12:51] greggameplayer commented on #4925
@innobead i can't because my kubernetes cluster version is v1.25.4+k3s1

[2022-11-23 13:48] innobead commented on #1867
@mantissahz need to backport to 1.3 and 1.2.

[2022-11-23 13:49] github-actions[bot] opened #4926 "[BACKPORT][v1.2.7][BUG] Restoring volume stuck forever if the backup is already deleted."
backport https://github.com/longhorn/longhorn/issues/1867

[2022-11-23 13:49] github-actions[bot] opened #4927 "[BACKPORT][v1.3.3][BUG] Restoring volume stuck forever if the backup is already deleted."
backport https://github.com/longhorn/longhorn/issues/1867

[2022-11-23 13:51] derekbit commented on #4925
@greggameplayer How did you trigger this error? Any power outage or unstable network?

[2022-11-23 15:04] #4210 closed

[2022-11-23 15:33] innobead commented on #4210
@khushboo-rancher Should run our e2e pipeline when the checksum is enabled to see if there will be any e2e issues.

cc @longhorn/qa

[2022-11-23 15:54] yasker commented on #4783
Do we have concern over just use checksum alone? How does create time work for the replica has been rebuilt once?

[2022-11-23 17:15] innobead commented on #3161
ref: https://www.talos.dev/v1.2/kubernetes-guides/configuration/replicated-local-storage-with-openebs-jiva/

[2022-11-23 18:38] khushboo-rancher commented on #4922
@chriscchien Could you add the test skeleton for this and if it is quick one, you can add the implementation as well :)

[2022-11-23 23:37] khushboo-rancher commented on #4210
Just a suggestion about the UI, now that we have `Snapshot` section on the setting page, we should move the setting `Automatically Cleanup System Generated Snapshot` from `General` section to `Snapshot` section?

[2022-11-23 23:43] khushboo-rancher opened #4930 "[IMPROVEMENT] Move all snapshot related settings at one place."
## Is your improvement request related to a feature? Please describe (👍 if you like this request)

Now that we have Snapshot section on the setting page ([ref 4210](https://github.com/longhorn/longhorn/issues/4210)), we should move the setting Automatically Cleanup System Generated Snapshot from General section to Snapshot section.

<img width="1283" alt="Screenshot 2022-11-23 at 3 41 00 PM" src="

[2022-11-23 23:55] innobead commented on #3957
It's more about the improvement of latency. Basically, there are 3 primary things:
- Data locality
- Data transfer over Unix socket instead of TCP stack
- No remote replication

[2022-11-24 00:05] greggameplayer commented on #4925
@derekbit append a lot when trying to deploy nextcloud using helm chart

[2022-11-24 00:55] #4856 closed

[2022-11-24 01:16] derekbit commented on #4783
The checksum of a snapshot disk file is calculated and is recorded in the extended attribute when checking the data integrity. The `ctime` of the disk file is recorded as well.

Then, we can simply use `ctime` or `checksum` for speeding up the rebuilding.

- ctime
  - No need to be couple with `checksum`, so it should work without `checksum`, but cannot detect silent corruption.
  - If the `ctime`

[2022-11-24 01:19] jenting commented on #2381
The `x.y.z-dev` branch exists on the longhorn website, the issue be addressed.
Closing it.

[2022-11-24 01:19] #2381 closed

[2022-11-24 01:29] yasker commented on #4783
@derekbit I see. Though, should it be ctime or mtime? Not sure if we care about the snapshot file's metadata change.

Also, I assume once we confirm the file hasn't been changed (at least from the filesystem's point of view), we will still check the checksum and compare it with the remote snapshot's checksum to know if we can safely skip this snapshot? I am wondering if we should consider a malici

[2022-11-24 01:50] innobead commented on #4783
We can let users decide what granularity they want by having two strategies as mentioned above.
- `ctime`, a loose strategy w/o coupling with checksum
- `checksum`, a strict strategy, so if users care about some implicit cases like potential silent corruption or malicious things

[2022-11-24 01:50] derekbit commented on #4783
We should use `ctime`, because the change of metadata or data will update the ctime. Additionally, the ctime update is not allowed by users (ref: https://unix.stackexchange.com/questions/36021/how-can-i-change-change-date-of-file).

[2022-11-24 01:53] yangchiu commented on #4911
@innobead I'm unable to publish `support-bundle-kit` to `longhornio`, no matter login as `longhornbot` or my own account, the error message shows:

[code]
The same script can publish `support-bundle-kit` image to my own dockerhub repo without any problem.

Not sure but probably due to only owners of this organization can create repositories.

[2022-11-24 01:55] yasker commented on #4783
I feel the basic checksum (compare source and destination checksum) should be used in both cases. Otherwise if we have a situation that somehow one snapshot's data missed by a few bytes, it might get easily propagated to other replicas.

[2022-11-24 01:58] innobead commented on #4783
Then, we can make `checksum` by default.

[2022-11-24 02:00] innobead commented on #4911
@yangchiu try again, https://hub.docker.com/repository/docker/longhornio/support-bundle-kit.

[2022-11-24 02:17] yangchiu commented on #4911
@c3y1huang images mirrored to longhornio: https://hub.docker.com/repository/docker/longhornio/support-bundle-kit/general

[2022-11-24 02:40] innobead commented on #4783
A further remote checksum confirmation is a good idea, but it's still the best effort due to some assumptions like other nodes not being compromised.

Let's let @derekbit investigate first to see how to consider all concerns together.

[2022-11-24 02:51] chriscchien commented on #1867
**Verified in longhorn master `2d4000` with [steps](https://github.com/longhorn/longhorn/issues/1867#issuecomment-1324742094)
Result pass**

1. Restore volume from backup then immediately delete the backup -  volume become faulted immediately
2. Restore volume from backup then delete the backup while restoring was in progress - volume become faulted after awhile

[2022-11-24 04:52] chriscchien commented on #4876
**Verified in longhorn manager v1.3.x `857f1e` with [steps](https://cloud-native.slack.com/archives/CNVPEL9U3/p1666797996895439?thread_ts=1666760102.890179&cid=CNVPEL9U3)
Result Pass**

share manager won't fail over when cluster hit 110 pods
![Screenshot from 2022-11-24 12-50-55](https://user-images.githubusercontent.com/73337386/203697021-d4a93276-f64f-459b-9d65-5a3ee3dc8b53.png)

[2022-11-24 04:52] #4876 closed

[2022-11-24 04:55] roger-ryao commented on #4541
Fix failed test case [test_offline_node](https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-upgrade-tests-sles-arm64/291/testReport/junit/tests/test_infra/test_offline_node/)
  - https://github.com/longhorn/longhorn/issues/4921
    - https://github.com/longhorn/longhorn-tests/pull/1189

[2022-11-24 04:57] roger-ryao commented on #4921
Waiting for review
  - https://github.com/longhorn/longhorn-tests/pull/1189

[2022-11-24 04:59] roger-ryao commented on #4709
Update the upgrade test steps and make the test case readable.
Waiting for review
  - https://github.com/longhorn/longhorn-tests/pull/1168

[2022-11-24 05:02] roger-ryao commented on #4750
Update https://github.com/longhorn/longhorn-tests/pull/1178 from @c3y1huang's suggestions
updated cleanup function and remove all node selectors
[the regression test report](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/2501/testReport/)
[the test case test report](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/2497/)
Waiting for review
  - https://github.com/l

[2022-11-24 05:03] shuo-wu opened #4932 "[IMPROVEMENT] Allow users to issue filesystem trim via kubectl"
## Is your improvement request related to a feature? Please describe (👍 if you like this request)

Right now users need to rely on either UI or manual operations to trim the filesystem for volumes.

## Describe the solution you'd like

- Have a spec field and a status field in the volume to handle filesystem trim requests. For example, `v.spec.trimRequestedAt` and `v.spec.lastTrimmedAt`
- Furtherm

[2022-11-24 05:43] github-actions[bot] opened #4933 "[TEST][BUG] a stopped replica on a removed node should not be counted as a healthy replica for the drain setting"
adding/updating auto e2e test cases for https://github.com/longhorn/longhorn/issues/2237 if they can be automated

cc @longhorn/qa

[2022-11-24 07:13] derekbit opened #4934 "[IMPROVEMENT] Replace the modTime (mtime) with ctime in snapshot hash"
## Is your improvement request related to a feature? Please describe (👍 if you like this request)

The current implementation of snapshot hash records the `mtime` of a snapshot disk file and uses it to check the data integrity. A malicious user can change the `mtime` and result in the failure of the snapshot data integrity check. In Linux,`ctime` cannot be changed the ctime by ordinary means ([ref

[2022-11-24 07:20] yangchiu commented on #4784
Verified passed on master-head (longhorn-manager 15badde) by following [the steps ](https://github.com/longhorn/longhorn/issues/4784#issuecomment-1316196306) to setup FIPS enabled environments, and then executing [the test steps](https://github.com/longhorn/longhorn/issues/4784#issuecomment-1301053355) to verify the encrypted volume works or not.

Tested on both FIPS enabled `RHEL 7.9` and `RHEL 8

[2022-11-24 07:20] #4784 closed

[2022-11-24 07:25] derekbit opened #4935 "[FEATURE] local volume data path pass-through"
## Is your feature request related to a problem? Please describe (👍 if you like this request)

A local volume's engine and replica processes have to be located on the same node. Thus, we replace the TCP between the engine process and the replica process with unix-domain socket in the [improvement](https://github.com/longhorn/longhorn/issues/3957). To reduce the latency of the network transmission

[2022-11-24 07:31] yangchiu commented on #3198
Verified passed on master-head (longhorn 2d40004) by following [the test steps](https://github.com/longhorn/longhorn/issues/3198#issuecomment-1286534879).

For both `Snapshot Data Integrity` set to `enabled` and `fast-checked`, after the snapshot file corrupted, the replica rebuilding can be triggered, and the checksum of the rebuilt snapshot file can match with the disk file and the snapshot CR a

[2022-11-24 07:31] #3198 closed

[2022-11-24 09:31] roger-ryao commented on #4904
**Verified on v1.3.x-head 20221124**

- longhorn v1.3.x-head ([44041ac](https://github.com/longhorn/longhorn/commit/44041acf6c957f27787dbd2d48cc526dd28d4d9b))
- longhorn-ui v1.3.x-head ([75b1e42](https://github.com/longhorn/longhorn-ui/commit/75b1e42b6293643109140389d714dfd99373b506))

**The test steps**

[Ref #4902 (To Reproduce)](https://github.com/longhorn/longhorn/issues/4902#issue-1454744495)

[2022-11-24 09:31] #4904 closed

[2022-11-24 09:31] yangchiu opened #4936 "[TEST-INFRA] Error handling for backport issue github action"
## What's the test to develop? Please describe

Github action can automatically assign a user to an issue only of the user **has commented on the issue or pull request, anyone with write permissions to the repository, and organization members with read permissions to the repository**.

ref: [https://docs.github.com/en/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-othe

[2022-11-24 09:40] roger-ryao commented on #4903
**Verified on v1.2.x-head 20221124**

- longhorn v1.2.x-head ([45cfa03](https://github.com/longhorn/longhorn/commit/45cfa03f1904e2d619b616397e4c59224969aa00))
- longhorn-ui v1.2.x-head ([3da85ef](https://github.com/longhorn/longhorn-ui/commit/3da85ef57c7443d30568fdaeb12f30d53266082f))

**The test steps**

[Ref #4902 (To Reproduce)](https://github.com/longhorn/longhorn/issues/4902#issue-1454744495)

[2022-11-24 09:40] #4903 closed

[2022-11-24 10:13] Bessonov commented on #3957
Thanks for your answer. Probably, my question was misleading. I've asked about difference between local-path-provisioner and longhorn with data locality, unix socket and without replication. The difference between 90,531 and 47,667, and also between 77,799 and 21,158 is still huge.

[2022-11-24 10:59] innobead commented on #3957
I see.

Longhorn local volume is not for achieving the similar performance of local-path-provisioner you mentioned, but rather still based on the existing data path w/ some changes above to ensure strict data locality between engine and replica to gain some IO performance if compared with volumes with best-effort or disabled locality.

[2022-11-24 13:37] derekbit commented on #3957
Performance update

![image](https://user-images.githubusercontent.com/12527233/203797514-938500ff-276a-4aa8-845b-00a054edb9be.png)

[2022-11-24 14:11] innobead commented on #4827
cc @mantissahz

[2022-11-24 14:57] michaelandrepearce commented on #3957
Latency is still somewhat 500% local path

[2022-11-24 15:53] derekbit commented on #3957
@michaelandrepearce @Bessonov

The local volume's data path is not changed a lot in this improvement in order to preserve the existing functionalities such as snapshotting, backup, restore, etc.

We will continue the improvement the local volume, e.g. [pass-througn](https://github.com/longhorn/longhorn/issues/4935) to squeeze more performance. However, the performance difference is still significa

[2022-11-24 17:02] michaelandrepearce commented on #3957
sure 150% or something is fine to get the overlay, but 500% is a bit too much i to buy, makes it unusable for localpath usecases which is where you want fast low latency disk access for systems that themselves take care of replication (cassandra, redpanda, postgres)

[2022-11-24 17:06] michaelandrepearce commented on #3957
what i raised and has been closed for this issue, https://github.com/longhorn/longhorn/issues/1965 the point here was to and i quote

"Using K8s native LocalPV's are useful as no network-based storage can keep up with baremetal in write IOPS/latency/throughput, when using NVME/Optane disks. Giving Direct I/O: Near-zero disk performance overhead"

[2022-11-24 18:16] juixtu opened #4937 "[BUG] Failed to use storage network"
## Describe the bug (🐛 if you encounter this issue)

I used multus in the kubernetes cluster and created a NetworkAttachmentDefinition. After configuring the storage network in longhorn, I can see that the image-instance pod is restarted, and I can view the corresponding `k8s.v1.cni.cncf.io/networks-status` annotations, However, after creating the volume and performing the attach operation, the fo

[2022-11-24 19:47] linus365 opened #4938 "[BUG] My PVCs frequently go into read-only mode causing downtime"
## Describe the bug (🐛 if you encounter this issue)

🪲 PVCs frequently go into read only mode causing downtime on apps. I see this happening around 4 times a week on different PVCs. I see this the most on postgres databases like the once i use for nextcloud and gitlab. Usually I have to rotate the statefulset which rotates the pod with the read-only PVC and then the database comes up healthy again

[2022-11-25 00:33] github-actions[bot] opened #4939 "[BACKPORT][v1.3.3][TEST] Analyze|Fix failed test case test_offline_node"
backport https://github.com/longhorn/longhorn/issues/4921

[2022-11-25 01:20] roger-ryao opened #4940 "[BACKPORT][master][TEST] Analyze|Fix failed test case test_offline_node"
backport https://github.com/longhorn/longhorn/issues/4921

[2022-11-25 02:49] roger-ryao commented on #4921
https://github.com/longhorn/longhorn-tests/pull/1189 was merged.

[2022-11-25 02:49] #4921 closed

[2022-11-25 03:21] roger-ryao commented on #4859
https://github.com/longhorn/longhorn-tests/pull/1180 was merged.

[2022-11-25 03:21] #4859 closed

[2022-11-25 03:31] yangchiu commented on #4728
Verified passed on v1.3.x-head (longhorn-manager da3e27c) by following [the test steps](https://github.com/longhorn/longhorn/issues/4728#issuecomment-1317992067).

After upgraded longhorn from v1.3.2 to v1.3.x-head, the longhorn-engine version of the attached volume can also be upgraded to v1.3.x-head successfully without getting stuck.

[2022-11-25 03:31] #4728 closed

[2022-11-25 03:41] roger-ryao commented on #4750
[PR-1178](https://github.com/longhorn/longhorn-tests/pull/1178) was merged.

[2022-11-25 03:41] #4750 closed

[2022-11-25 03:44] yangchiu commented on #4873
Verified failed on v1.2.x-head (longhorn-manager 7f1d17c) by following [the test steps](https://github.com/longhorn/longhorn/issues/4873#issuecomment-1317992819).

After upgraded longhorn from v1.2.6 to v1.2.x-head, the upgrade of longhorn-engine still gets stuck forever:

![test](https://user-images.githubusercontent.com/5709208/203897105-602f02f4-71c3-49c0-9013-f871b3fdd0b5.png)

[code]

cc @man

[2022-11-25 04:11] roger-ryao commented on #4541
We observed the new failed cases on 1.2.x CI daily-regression.
https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-upgrade-tests-sles-amd64/289/
  - [test_backup_lock_deletion_during_restoration](https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-upgrade-tests-sles-amd64/289/testReport/junit/tests/test_basic/test_backup_lock_deletion_during_restoration_nfs_/)

https://ci

[2022-11-25 04:22] xinbinhuang opened #4941 "[BUG] Failed to attach volumes: with log "Error running controller command: size is required.""
## Describe the bug (🐛 if you encounter this issue)

A clear and concise description of what the bug is.

In longhorn UI, volumes keep stuck in `attaching/detaching/detached` loop

## To Reproduce

Not sure how to reproduce

## Expected behavior

Longhorn attach volume successfully

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
Yo

[2022-11-25 04:29] roger-ryao commented on #4940
https://github.com/longhorn/longhorn-tests/pull/1197 was merged.

[2022-11-25 04:29] #4940 closed

[2022-11-25 04:30] roger-ryao commented on #4939
https://github.com/longhorn/longhorn-tests/pull/1196 was merged

[2022-11-25 04:30] #4939 closed

[2022-11-25 04:36] derekbit commented on #4938
The disk type is HDD. There are a tons of `r/w timeout` in the instance-anager logs. The better way is using a HDD raid or SSD. The read-only filesystem is caused by the timeout.

In the upcoming v1.4.0, LH supports the increase of the timeout between engine and the replica. It might be helpful to reduce the timeout issue.

[2022-11-25 04:50] derekbit commented on #4938
BTW, we need to revisit the [improvement](https://github.com/longhorn/longhorn/issues/2206) and check why the filesystem become read-only. Ideally, the volume should fail before changing to read-only.

[2022-11-25 04:50] derekbit commented on #4938
BTW, we need to revisit the https://github.com/longhorn/longhorn/issues/2206 and check why the filesystem become read-only. Ideally, the volume should fail before changing to read-only.

cc @shuo-wu @joshimoo  @innobead

[2022-11-25 05:13] mantissahz commented on #4873
Hi @yangchiu
Upgrading the volume would not be started because two engine images are identical - v1.2.6, v1.2.x-head(20221125) -

`"Engine image longhornio/longhorn-engine:v1.2.6 and longhornio/longhorn-engine:v1.2.x-head are identical, delay upgrade until detach for volume"` in manager log.

[2022-11-25 05:15] derekbit commented on #4941
@xinbinhuang
Have you upgraded the longorn system to v1.3.2?

[2022-11-25 05:27] yangchiu commented on #4873
Verified passed on v1.2.x-head (longhorn-manager 7f1d17c) by following [the test steps](https://github.com/longhorn/longhorn/issues/4873#issuecomment-1317992819).

After upgraded longhorn from v1.2.5 to v1.2.x-head, the longhorn-engine version of the attached volume can also be upgraded to v1.2.x-head successfully without getting stuck.

[2022-11-25 05:27] #4873 closed

[2022-11-25 07:43] derekbit commented on #3957
Need to update hte upgrade test version, because new options are added.
cc @longhorn/qa

[2022-11-25 09:58] linus365 commented on #4938
Thanks for the quick response :)
The timeout configuration option from v.1.4.0 sounds promising, would this definitely solve the issue?
In the meantime I will migrate the workloads which must run stable to another storageClass.
I have been using Longhorn for over a year on that cluster, and the timeouts were the only issues I ever had.

[2022-11-26 08:57] eleven6 opened #4942 "Syslog flooded with messages every 20 seconds"
Dear all,

I am running Longhorn v.1.3.2 on K3S (v.1.24.6) Ubuntu 22.04 RaspberryPi and have recognized that my /var/log/syslog gets flooded with the following message:

`run-containerd-runc-k8s.io-f2b2a1b5606bacf9b28fc64c8aaa27c4133d992c40d4859188bd97009326feac-runc.EccIGd.mount: Deactivated successfully.`

Doing a bit of research I can map it to the following container (from var/log/containers)

[2022-11-26 09:29] jaysonsantos commented on #3071
@shuo-wu sorry for the long delay.
It does not become faulted, and I cannot reproduce it constantely.
For example, my k3s's internal network is using wireguard, even if I stop the wireguard connection for a few seconds, I can still keep running `while sleep 0.1; do touch write-test; done` and it won't detach.
I am instrumenting the whole codebase in my fork with opentelemetry to try and understand

[2022-11-26 17:07] derekbit commented on #4942
Can you check if the pods of Longhorn system work correctly? Or provide us the support bundle?

[2022-11-27 09:16] klucsik commented on #469
Yes, I'm frequent visitor of this thread, yesterday I broke the whole longhorn setup by upgrading k8s to v.125. Now I'm trying to recreating the cluster with 1.24 and gather back my volumes. A tool would be awesome for this. Is there any plan or sketch available which could be worked on?

[2022-11-27 12:41] netwarex commented on #4863
Yes please, this is important as even no data locality respected by the share-manager pod.

[2022-11-27 17:06] eleven6 commented on #4942
Hi Derekbit,

I have attached the support bundle created on the x86 environment where the flooding is more aggressive than on my ARM Cluster.

Attached is as well the list of longhorn PODs running on my system, do not see any anomalies

[code]
Here is the example from /var/log/syslog
[code]

Checking the engine image logs in /var/log/containers shows nothing:
[code]
and the other container is a lo

[2022-11-27 23:21] xinbinhuang commented on #4941
@derekbit  I don't think I can upgrade to v1.3.2 because the helm chart is incompatible with k8s 1.25 when I checked a few days ago. Has it changed?

[2022-11-28 01:13] derekbit commented on #4941
I see. I've checked your support bundle. longhorn-manager is using v1.3.1, but the engine of the volumes are using v1.3.2. Did you update the engine images of the volume? The old manager cannot guarantee to a support newer engine.
Two solutions to this case:
1. downgrade the engines of the volumes to v1.3.1
2. upgrade the longhorn-system to v1.3.2. Your kubernetes version v1.24.4 which should be c

[2022-11-28 01:22] yangchiu opened #4944 "[TEST] Auto summarize benchmark comparison results"
## What's the test to develop? Please describe

Currently in our benchmark test, it just runs kbench twice on two different longhorn version, and prints out the results.
The comparison between these two test results still rely on manual copy & paste.

Need to implement summarizing logic in benchmark test, so we can directly get the final report instead of tedious copy & paste work.

## Describe th

[2022-11-28 01:24] derekbit commented on #4942
The Longhorn system lools quite normal from the support bundle.
Any idea?
cc @shuo-wu @innobead

[2022-11-28 01:26] derekbit commented on #4938
I think the increase of the timeout can reduce the chance of the read-only issue. But we still have to check the root cause of the issue. We will update the investigation result in the ticket later.

[2022-11-28 01:27] derekbit commented on #4937
cc @c3y1huang

[2022-11-28 01:50] c3y1huang commented on #4937
@juixtu can you provide the support bundle?

[2022-11-28 03:08] xinbinhuang commented on #4941
Thank you for the help! It seems like the issue has resolved once I downgrade the engines of the volumes to v1.3.1.

Sorry, I forgot to mention that the blocker on upgrading longhorn is actually caused by the latest version of argocd that uses a helm version compiled for k8s v1.25. I'll probably wait till the v1.25 support come in before upgrading

[2022-11-28 03:08] #4941 closed

[2022-11-28 03:19] c3y1huang opened #4945 "[TASK] Create longhornio liveness probe image"
## What's the task? Please describe

We need a `longhornio` liveness probe v2.8.0 image, similar to other [csi images](https://github.com/longhorn/longhorn/blob/master/deploy/longhorn-images.txt#L1-L5).

## Describe the items of the task (DoD, definition of done) you'd like

- [ ] Mirror a [https://github.com/kubernetes-csi/livenessprobe](https://github.com/kubernetes-csi/livenessprobe) v2.8.0 ima

[2022-11-28 03:20] c3y1huang commented on #4945
/cc @innobead @yangchiu

[2022-11-28 04:47] chriscchien commented on #4934
Verified in longhorn master `91c0fa` with test [steps](https://github.com/longhorn/longhorn/issues/3198#issuecomment-1286534879)
Result  **Pass**

1. With Snapshot Data Integrity set to fast-check or enabled, after manually corrupted the snapshot, replica will rebuild and checksum after rebuild complete was the same with disk file , meta data file and value in CR `snapshots.longhorn.io`
2. In snap

[2022-11-28 04:47] #4934 closed

[2022-11-28 05:31] derekbit opened #4946 "[BUG] Failed to build longhorn-instance-manager master branch"
## Describe the bug (🐛 if you encounter this issue)

[code]

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can generate a Sup

[2022-11-28 05:31] derekbit commented on #4946
cc @yangchiu

[2022-11-28 05:32] derekbit commented on #4946
Should replace `https://download.opensuse.org/repositories/devel:tools:scm/15.4/devel:tools:scm.repo` with `https://download.opensuse.org/repositories/devel:/tools:/scm/15.4/devel:tools:scm.repo`

[2022-11-28 05:51] roger-ryao commented on #4926
**Verified on 1.2.x-head 20221128**

- longhorn 1.2.x-head ([45cfa03](https://github.com/longhorn/longhorn/commit/45cfa03f1904e2d619b616397e4c59224969aa00))
- longhorn-manager 1.2.x-head ([7f1d17c](https://github.com/longhorn/longhorn-manager/commit/7f1d17c7c27d49830755ac98dd8f4a86652418e0))

**The test steps**

[Ref #4926 (To Reproduce)](https://github.com/longhorn/longhorn/issues/4926#issuecomme

[2022-11-28 05:51] #4926 closed

[2022-11-28 06:44] yangchiu commented on #4945
image published: https://hub.docker.com/r/longhornio/livenessprobe/tags

[2022-11-28 06:44] #4945 closed

[2022-11-28 06:57] roger-ryao commented on #4927
**Verified on 1.3.x-head 20221128**

- longhorn 1.3.x-head ([44041ac](https://github.com/longhorn/longhorn/commit/44041acf6c957f27787dbd2d48cc526dd28d4d9b))
- longhorn-manager 1.3.x-head ([da3e27c](https://github.com/longhorn/longhorn-manager/commit/da3e27c161f5eb28149f0b0a114dc4ed4f2c2a4f))

**The test steps**

[Ref #4927 (To Reproduce)](https://github.com/longhorn/longhorn/issues/4927#issuecomme

[2022-11-28 07:17] c3y1huang commented on #4911
@yangchiu we need to mirror a v0.0.14 image that includes [this fix](https://github.com/rancher/support-bundle-kit/pull/56).

[2022-11-28 07:29] roger-ryao commented on #4845
Hi @khushboo-rancher
      After reviewed the [PR-1175](https://github.com/longhorn/longhorn-tests/pull/1175), the test cases `test_snapshot_hash_global_enabled_with_immediate_hash`, `test_snapshot_hash_global_enabled_without_immediate_hash`,
`test_snapshot_hash_global_fast_check_with_immediate_hash`, and
`test_snapshot_hash_global_fast_check_without_immediate_hash`
cover all combinations of the [

[2022-11-28 07:34] c3y1huang opened #4949 "[TASK] Fix devel tools repo in all Longhorn component projects"
## What's the task? Please describe

See https://github.com/longhorn/longhorn/issues/4946

## Describe the items of the task (DoD, definition of done) you'd like

- [ ] Update the repo path in all Longhorn component projects.

## Additional context

https://github.com/longhorn/longhorn/issues/4617

[2022-11-28 07:49] yangchiu commented on #4911
done!

[2022-11-28 08:22] R-Studio opened #4951 "[BUG] PVC only works with plural annotation `volumes.kubernetes.io/storage-provisioner: driver.longhorn.io`"
## Describe the bug (🐛 if you encounter this issue)
When I create a PVC (for example by an restore or manually create one), the PVCs are created but get stuck in the `Pending` state and the PV will never be created. _I noticed this bug by try to restore PVC from an Velero backup._

## To Reproduce
Steps to reproduce the behavior:
1. Create a PVC, the following example that dind't work (stuck in `P

[2022-11-28 08:29] derekbit commented on #4951
Cannot reproduce your issue. Works well on my env.
[code]

[2022-11-28 08:39] derekbit commented on #4951
I used v1.3.2.
Can you check the longhorn-manager log and see the related error logs?

[2022-11-28 08:50] R-Studio commented on #4951
@derekbit the only log I get is:
![image](https://user-images.githubusercontent.com/7498854/204234004-c8c1fcb0-7c26-47ee-906a-31d93ae53ec4.png)

[2022-11-28 09:33] chriscchien commented on #3957
Hi @derekbit

When I attached strict-local volume form one node to another node, volume will looped between attaching and detaching, the only active button was delete, is it on purpose? thank you.

[2022-11-28 09:38] github-actions[bot] opened #4952 "[BACKPORT][v1.3.3][BUG] Longhorn gives 500 error when trying to provision a volume created using a snapshot."
backport https://github.com/longhorn/longhorn/issues/4785

[2022-11-28 10:01] R-Studio commented on #4951
@derekbit I have a lot of the following errors, but I don't think this is related to this issue:
![image](https://user-images.githubusercontent.com/7498854/204249045-fd270fda-7035-420b-8b58-e793b866a5ed.png)

[2022-11-28 10:43] derekbit commented on #3957
This is expected, because the strict-local volume one replica  should satisfy
1. single replica
2. engine and replica are on the same

So, if you attach the volume to another node, the attach-detach loop should happe because of the lack of a replica.

[2022-11-28 13:13] weizhe0422 commented on #4951
Hi @R-Studio, would you mind to try remove annotation and create the PVC again?

[2022-11-28 15:25] derekbit commented on #4783
In summary, the experiment shows the replica rebuilding is accelerated by 805 % in the 50 GiB volume test. The volume contains 1 volume-head and 8 snapshot disk files, and each disk file contains 45 GiB random data.

#### Experimental Setup
- Host
  Vendor: AWS EC2
  Machine: t2.2xlarge
  CPU: Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz
  RAM: 32 GB
  Storage: 800 GB SSD (gp2)

- Kubernetes
  Versio

[2022-11-29 01:16] derekbit opened #4956 "[BUG] Repeatedly storage-network setting failure log messages in longhorn-manager"
## Describe the bug (🐛 if you encounter this issue)

[code]

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

Should not print the repeatedly error messages if the setting is already applied.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You

[2022-11-29 02:13] yangchiu commented on #4949
longhorn-manager: doesn't use these packages
longhorn-engine: https://github.com/longhorn/longhorn-engine/pull/774
longhorn-instance-manager: already updated
longhorn-share-manager: doesn't use these packages
backing-image-manager: https://github.com/longhorn/backing-image-manager/pull/70

[2022-11-29 02:25] c3y1huang opened #4957 "[TEST] Cascading test failures in daily regression run"
## What's the test to develop? Please describe

Seems to have cascading test failures in the daily regression run.
[code]

https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/325/console

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] fix cascading failures

## Additional context

https://github.com/longhorn/longh

[2022-11-29 02:25] c3y1huang commented on #4957
cc @chriscchien

[2022-11-29 03:10] chriscchien commented on #3957
Verified in longhorn master `400b8c` with test [steps](https://github.com/longhorn/longhorn/pull/4928/files?short_path=81c1c17#diff-81c1c17adfdd76ac015d96d7b77207a19f3837b1bc28c19c0caa92e91b049f14)
Result **Pass**

1. Can successfully create a local volume with numberOfReplicas=1 and dataLocality=strict-local
2. Webhook **rejected** the following cases when the volume is created or attached
   - L

[2022-11-29 03:10] #3957 closed

[2022-11-29 03:16] innobead commented on #3957
After discussing with @derekbit , see if we need to have a validation hook to avoid unnecessary intended reconsiling for this situation.

[2022-11-29 03:32] c3y1huang commented on #3907
Need to make the probe less verbose.
https://github.com/longhorn/longhorn-manager/pull/1570#discussion_r1034264740

[2022-11-29 03:40] chriscchien commented on #4957
Recently test script modified related to delete volume was https://github.com/longhorn/longhorn-tests/commit/de2fa205b758474218e76ad479bc81655a9763ba, so the cascading error may caused by this (this PR backported to v1.3.x and v1.2.x but not seen the cascading error)

I triggered 2 pipelines, 1 is master-head and another is code before https://github.com/longhorn/longhorn-tests/commit/de2fa205b758

[2022-11-29 04:34] c3y1huang commented on #3907
https://github.com/longhorn/longhorn-manager/pull/1574

[2022-11-29 04:41] PhanLe1010 opened #4959 "[BUG] volume is stuck in attaching/detaching loop with error `Failed to init frontend: device...`"
Volume stuck in attaching/detaching loop with the error:
[code]

From Longhorn engine, the error `tgtd: target_mgmt(147) Failed to unbind by address: ALL` comes from [this function call](https://github.com/longhorn/longhorn-engine/blob/d9b87bed2172b93ab463287d33f988bba67d441c/vendor/github.com/longhorn/go-iscsi-helper/iscsidev/iscsi.go#L236)

From the tgtadm, it comes from t[his line of code](http

[2022-11-29 04:42] innobead commented on #4959
cc @shuo-wu @derekbit @joshimoo

[2022-11-29 04:46] 10935336 commented on #2070
Had the same problem, I had 2 volumes of 20G with actual size 4.5GB.
I connect nodes located in different datacenters through tailscale and cilium.
Today I observed that the two volumes were degraded and rebuilds would fail halfway through.
When rebuilding, the two nodes communicate directly through the tailscale at 10M/s. Halfway through the rebuilding, the traffic suddenly drops, and then the re

[2022-11-29 04:58] derekbit commented on #2070
Do you know how long the network outage between the nodes lasted when rebuilding the replica?

[2022-11-29 05:05] roger-ryao commented on #4793
Node restart/down scenario with `Pod Deletion Policy When Node is Down` set to default value `do-nothing`.
**The workload pod will get stuck in the `terminating` state.**

![Screenshot_20221129_130039](https://user-images.githubusercontent.com/104337648/204443376-05de54f2-d6a2-4ee7-9ed0-5054922dd9f3.png)
![Screenshot_20221129_122407](https://user-images.githubusercontent.com/104337648/204443419-64

[2022-11-29 05:20] 10935336 commented on #2070
OK, I try to reproduce this process.
Then I found out that if I manually rebuild a replica (turning up the replica count), it completes fine.
If I try to rebuild 2 copies at once, it fails 100%.
It fails almost immediately, which is not the same as what I have observed before, where the traffic can continue for a while. Maybe the reconstruction of the two copies is staggered.
I recorded a video

h

[2022-11-29 05:36] weizhe0422 commented on #4772
Test with two scenarios:
1. Setting NFS as backup target -> suspend ganesha.nfsd process -> Iteratively create backups and lists -> recover  ganesha.nfsd process
2. Setting NFS as backup target -> kill ganesha.nfsd process -> Iteratively create backups and lists -> wait the ganesha.nfsd recreate

Result
 - the CPU usage won't trend up and server won't freeze.
 - backup creation normally after reco

[2022-11-29 05:51] innobead commented on #4772
@weizhe0422 Could you verify 1.3 branch and 1.3.2? See if they have this issue or not.

[2022-11-29 06:26] github-actions[bot] opened #4960 "[BACKPORT][v1.2.7][BUG] Engine binary cannot be recovered after being removed accidentally"
backport https://github.com/longhorn/longhorn/issues/4380

[2022-11-29 07:07] R-Studio commented on #4951
@weizhe0422 your two workarounds are working. But it is really only a workaround, because I can't always touch each PVC on a restore.

When will be `volume.beta.kubernetes.io` removed?

[2022-11-29 07:25] chriscchien commented on #4957
By execute case `test_replica_schedule_to_disk_with_most_usable_storage` with https://github.com/longhorn/longhorn-tests/commit/de2fa205b758474218e76ad479bc81655a9763ba inculded, I can reproduce volume clean stuck situation my local, if run test case without https://github.com/longhorn/longhorn-tests/commit/de2fa205b758474218e76ad479bc81655a9763ba, volume will be deleted eventually

[2022-11-29 08:06] innobead commented on #4957
Have we tested this before?

[2022-11-29 08:14] chriscchien commented on #4957
Sorry I tested it before by pytest option `-k disk' but did not notice that volume not cleanup clearly for the test case was latest 1 execute, I will modify `test_replica_schedule_to_disk_with_most_usable_storage` and submit PR to fix it today

[2022-11-29 08:26] innobead commented on #4957
I see, no worries, just fix this. However, why did you mention `test_replica_schedule_to_disk_with_most_usable_storage`? In https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/325/console, many teardown failures not just `test_replica_schedule_to_disk_with_most_usable_storage`?

[2022-11-29 10:58] #4911 closed

[2022-11-29 13:04] chriscchien opened #4961 "[TEST] Enhance common function create_host_disk"
## What's the test to develop? Please describe

Enhance common function [create_host_disk](https://github.com/longhorn/longhorn-tests/blob/545820ef4c7d4500effd1e56947c7aa0d76bb624/manager/integration/tests/common.py#L5235) let it auto generate disk name with prefix `vol-`
Make sure when disk related case running teardown, the volume delete order will be test volume first(`longhorn-testvol-`)  then

[2022-11-29 13:42] innobead commented on #4141
@jingxu97 thanks for your interest, and we will have a new negative-testing plan in near future, so this will be covered later. Feel free to contribute to this later.

cc @longhorn/qa

[2022-11-29 13:42] #4141 closed

[2022-11-29 13:48] derekbit commented on #4951
We have some discussions on the upgrade of the csi-privisioner in https://github.com/longhorn/longhorn-manager/pull/1518#discussion_r1034173395.
Because LH supports kubernetes v1.21.0, we cannot upgrade the csi-privisioner to a newer versio than v2.1.2.

[2022-11-29 14:01] derekbit commented on #4925
Apart from the development branch issue, if you encounter the issue again, suggest providing the dmesg and the support bundle for further investigation.
In addtion, if the instance-manager-r/e crashes corrupt the filesystem, you can try to fix the filesystem as the steps in https://longhorn.io/kb/troubleshooting-volume-filesystem-corruption/

[2022-11-29 14:38] innobead commented on #4846
cc @longhorn/qa

For longhorn's current design, we quite rely on saving some files persistent on the host, so it's inevitable to have some error handling and self-healing/recovering when the persistent data on the host has some problems like getting deleted or empty like in this case.

For QA, need to have more negative testing to cover this kind of external interrupt to test Longhorn resilience.

[2022-11-29 14:59] derekbit commented on #4905
Sorry for the late reply.
There were network error such as connection refused and network unexpected disconnection between engines and replicas.
Afterwards, the longhorn manager set`engine.spec.salvagerequested` of the faulted volumes.
However, the engine process of the faulted volumes is not created for futher replica salvage.

Any idea? cc @shuo-wu

@withinboredom
Can you please try scaling down

[2022-11-29 15:08] withinboredom commented on #4905
@derekbit Once I added in a new node, they were salvaged successfully. I suspect the volume anti-affinities kept the salvage volumes from being created, but I was mostly working on getting back online and to a good state.

[2022-11-29 16:26] derekbit opened #4962 "[BUG] Failed to create a replenished replica process because of the newly adding option"
## Describe the bug (🐛 if you encounter this issue)

 Failed to create a replenished replica process because of the newly adding option

## To Reproduce

Steps to reproduce the behavior:
1. Set up a LH v1.3.2 with 3 worker nodes
2. Create one volume with 3 replicas
3. Deploy longhorn/longhorn/example/pod_with_pvc.yaml
4. Upgrade LH to master-head branch
5. Delete one of the replicas
6. LH failed t

[2022-11-29 16:34] innobead commented on #4962
cc @longhorn/qa

[2022-11-29 16:47] github-actions[bot] opened #4963 "[TEST][BUG] Failed to create a replenished replica process because of the newly adding option"
adding/updating auto e2e test cases for https://github.com/longhorn/longhorn/issues/4962 if they can be automated

cc @longhorn/qa

[2022-11-29 20:21] issmirnov commented on #2533
Necromancing this a bit to add context for other fellow bug hunters.

I'm running k3s on LXC containers on proxmox. Observing the same issue. Noticed that the `iscisid` service is failing with error `sendmsg: bug? ctrl_fd 5`, which is a known bug in LXC. https://bugs.launchpad.net/ubuntu/+source/lxc/+bug/1226855

If you are using k3s with longhorn on lxc promxox, you will have similar problems. I

[2022-11-29 21:45] PhanLe1010 commented on #4959
[code]
---
The old TGT target is actually still here (with the id 1) as shown in the output.  One thing to notice is that the ACL information is already empty which means that this [UnbindInitiator](https://github.com/longhorn/longhorn-engine/blob/d9b87bed2172b93ab463287d33f988bba67d441c/vendor/github.com/longhorn/go-iscsi-helper/iscsidev/iscsi.go#L236) function call already succeeded once before.

[2022-11-29 22:29] khushboo-rancher commented on #4962
@roger-ryao is already working on this scenario - https://github.com/longhorn/longhorn-tests/pull/1168, The PR is in review status.

[2022-11-29 22:30] khushboo-rancher commented on #4963
This test will be covered as a part of https://github.com/longhorn/longhorn/issues/4709

[2022-11-29 22:30] #4963 closed

[2022-11-29 22:33] github-actions[bot] opened #4964 "[TEST][BUG] Volume metafile getting deleted or empty results in a detach-attach loop"
adding/updating auto e2e test cases for https://github.com/longhorn/longhorn/issues/4846 if they can be automated

cc @longhorn/qa

[2022-11-29 23:21] github-actions[bot] opened #4965 "[BACKPORT][v1.3.3][IMPROVEMENT] volume is stuck in attaching/detaching loop with error `Failed to init frontend: device...`"
backport https://github.com/longhorn/longhorn/issues/4959

[2022-11-29 23:21] github-actions[bot] opened #4966 "[BACKPORT][v1.2.7][IMPROVEMENT] volume is stuck in attaching/detaching loop with error `Failed to init frontend: device...`"
backport https://github.com/longhorn/longhorn/issues/4959

[2022-11-30 00:43] #4793 closed

[2022-11-30 01:32] innobead commented on #4959
tgtadm return codes.
https://github.com/fujita/tgt/blob/master/usr/tgtadm.c#L56-L87

[2022-11-30 01:41] innobead commented on #1330
@roger-ryao could you help check if this issue is still valid? Thanks.

cc @longhorn/qa

[2022-11-30 01:48] chriscchien commented on #4957
Cascading error not happening on latest build after https://github.com/longhorn/longhorn-tests/pull/1209 merged
Here is test result [build326](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/326/)

[2022-11-30 01:48] #4957 closed

[2022-11-30 03:07] innobead commented on #3957
We also need to check if local volume supports auto/manual salvage.

https://github.com/longhorn/longhorn-tests/blob/ee78127d9dd5c05dbf66f95ab3b5f6936b90b447/docs/content/manual/pre-release/ha/single-replica-node-down.md?plain=1#L23-L32

[2022-11-30 03:57] roger-ryao commented on #1330
Hi @innobead :
     This issue is still valid on the master-head.

**To Reproduce**
Steps to reproduce the behavior:

Scenario 1
1. Create and attach a volume.
2. Create three snapshots for the volume.
3. Manually modify `volume-head-003.img.meta` on all nodes
    replace the `Parent` with the invalid image file name
4. Detach then reattach the volume.
5. Then the volume still loops in detach and

[2022-11-30 04:09] innobead commented on #1330
Thanks @roger-ryao .

cc @longhorn/qa this is a good example for resilience.

[2022-11-30 04:43] chriscchien commented on #3957
Verify test case  [Node restart/down scenario with `Pod Deletion Policy When Node is Down` set to `delete-both-statefulset-and-deployment-pod`](https://github.com/longhorn/longhorn-tests/blob/ee78127d9dd5c05dbf66f95ab3b5f6936b90b447/docs/content/manual/pre-release/ha/single-replica-node-down.md?plain=1#L23-L32) on longhorn master `066dde` with strict-local volume
Result **Pass**

With `Pod Deletio

[2022-11-30 04:49] chriscchien opened #4967 "[TEST] Add strict-local volume test scenario into single-replica-node-down test"
## What's the test to develop? Please describe

Add strict-local volume test scenario into [single-replica-node-down test](https://github.com/longhorn/longhorn-tests/blob/master/docs/content/manual/pre-release/ha/single-replica-node-down.md)

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] Add strict-local volume test scenario into single-replica-node-down

[2022-11-30 05:18] AdamJSoftware opened #4969 "[BUG] Failed to get backup-name backup status on unknown replica"
## Describe the bug (🐛 if you encounter this issue)

A clear and concise description of what the bug is.

## To Reproduce

Simple recurring backup

## Expected behavior
Backup properly completes

A clear and concise description of what you expected to happen.

## Log or Support bundle
Following error message: Failed backup backup-3e15a3876d804aab has been deleted: proxyServer=10.42.0.222:8501 dest

[2022-11-30 05:48] derekbit commented on #4969
Can you check the instance-manager log?

[2022-11-30 05:48] yangchiu opened #4970 "[TEST] Upgrade test failed after support bundle commit"
## What's the test to develop? Please describe

Like https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-2-stage-upgrade-tests-sles-amd64/13/testReport/, because there is no support bundle manager in previous version of longhorn, the function call `client.list_support_bundle()` will throw exception and the upgrade test will fail directly.

## Describe the items of the test

[2022-11-30 05:51] #3914 closed

[2022-11-30 05:56] innobead commented on #2293
Need to update the doc, https://longhorn.io/docs/1.4.0/advanced-resources/rwx-workloads/

[2022-11-30 06:08] innobead commented on #1330
cc @mantissahz

[2022-11-30 06:11] innobead commented on #4959
Assigned @PhanLe1010 here, because he was working on the analysis, but @derekbit will do the rest of the implementation. Thanks, both.

[2022-11-30 06:13] shuo-wu commented on #1674
Need to avoid the issue we found before when implementing this feature: https://github.com/longhorn/longhorn/issues/1040

[2022-11-30 06:44] innobead commented on #2759
@chriscchien because support-bundle-kit didn't be verified on arm64 before, so needs to ensure the tests run well on arm64 as well because arm64 is GA in 1.4.0.

P.S. @c3y1huang has implemented e2e test cases as well, so you can verify them too.

cc @longhorn/qa

[2022-11-30 06:47] github-actions[bot] opened #4971 "[TEST][IMPROVEMENT] Speed up replica rebuilding by the metadata such as ctime of snapshot disk files"
adding/updating auto e2e test cases for https://github.com/longhorn/longhorn/issues/4783 if they can be automated

cc @longhorn/qa

[2022-11-30 06:59] roger-ryao commented on #3907
**Verified on master-head 20221130**

- longhorn master-head ([066dde1](https://github.com/longhorn/longhorn/commit/066dde111000b6639ccc8e2cdbc6b8f6e0c1c4f1))
- longhorn-manager master-head ([b7afa36](https://github.com/longhorn/longhorn-manager/commit/b7afa36f6cfef80c4518d0c93f370884ac6eb6b6))

**The test steps**

https://longhorn.github.io/longhorn-tests/manual/release-specific/v1.4.0/test-csi-p

[2022-11-30 06:59] #3907 closed

[2022-11-30 06:59] derekbit commented on #4971
The e2e test cases will conver the following cases

**Case A**
1. Enable `snapshot-data-integrity` to `enabled` and `fast-check`
2. Enable `snapshot-data-integrity-immediate-check-after-snapshot-creation`
3. Create a volume with 3 replicas
4. Create multiple snapshots
5. Check the checksum files of the snapshot disk files are generated
6. Delete one of the replicas
7. A replica will be replenished

[2022-11-30 07:00] roger-ryao commented on #4875
**Verified on v1.3.x-head 20221130**

- longhorn v1.3.x-head ([b2c607d](https://github.com/longhorn/longhorn/commit/b2c607d4aeb1a4e72898c2eefef2a52f86673e2c))
- longhorn-manager v1.3.x-head ([3bb3fe3](https://github.com/longhorn/longhorn-manager/commit/3bb3fe374f709f2c2d4dfb2774f775d386e1f21a))

**The test steps**

https://longhorn.github.io/longhorn-tests/manual/release-specific/v1.4.0/test-csi-p

[2022-11-30 07:00] #4875 closed

[2022-11-30 07:48] chriscchien commented on #2759
Hi @c3y1huang ,

I tried to download support bundle from ARM64 ubuntu20.04 machine, but the support bundle manager faced CrashLoopBackOff state, below are information for your reference, thank you.

[code]
[code]

<details>
  <summary>pod description</summary>

[code]
</details>

[2022-11-30 09:49] c3y1huang commented on #2759
@chriscchien , arm64 needs to wait for https://github.com/longhorn/longhorn/pull/4972.

[2022-11-30 10:42] shuo-wu commented on #3071
Can you elaborate more about the benefit of this extra server-side `context`? Notice that there is already `apiContext` in some API functions. Not sure if we can direct use it if necessary.
We are happy with the contributions from the community anyway!

[2022-11-30 11:39] innobead commented on #3285
@mantissahz This should be part of #3353 , and we need to update the doc. You can update https://longhorn.io/docs/1.4.0/advanced-resources/security/volume-encryption/.

[2022-11-30 11:41] innobead commented on #3353
@mantissahz this ticket has `require/doc` and for any new feature, we need to update the doc. https://longhorn.io/docs/1.4.0/advanced-resources/security/volume-encryption/

[2022-11-30 11:45] github-actions[bot] opened #4974 "[BACKPORT][v1.3.3][BUG] Can't delete volumesnapshot if backup removed first"
backport https://github.com/longhorn/longhorn/issues/4107

[2022-11-30 11:45] github-actions[bot] opened #4975 "[BACKPORT][v1.2.7][BUG] Can't delete volumesnapshot if backup removed first"
backport https://github.com/longhorn/longhorn/issues/4107

[2022-11-30 11:50] innobead commented on #3726
Removing this from 1.4.0, because it will depend on the progress of https://github.com/longhorn/longhorn/issues/3715.

[2022-11-30 13:43] #3285 closed

[2022-11-30 13:43] #3353 closed

[2022-11-30 15:26] mantissahz commented on #3353
@innobead I tested this - created encrypted volumes and workloads at 1.3.x and upgrade to master-head, then drained worker nodes one by one. Workloads look fine and volumes' data is the same (write some data by `dd` and keep checksume file created by `md5sum`)
So this feature should not impact existing encrypted volume

[2022-11-30 15:49] jaysonsantos commented on #3071
@shuo-wu the only benefit would be cancelation of individual calls, for example, having a timed out backup creation but, as most of the processes in longhorn are single processes. or for the telemetry.

well, let me know and i can send.

[2022-11-30 17:30] derekbit commented on #4490
@JohannesMerkt

LH v1.3.2 does not support k8s v1.25. The support will start from LH v1.4.0