[2021-03-14 22:16] krisko commented on #2338
After attaching in maintenance mode, I am not able to attach or detach the volume - buttons are grayed out.

![image](https://user-images.githubusercontent.com/2367953/111085887-c3c3d580-8519-11eb-8910-d442e922bf55.png)

I've noticed that not only volumes which were attached in maintenance mode have this issue. Some other volumes, like in the picture cannot be detached either.
I can see that **/de

[2021-03-15 03:16] c3y1huang opened #2341 "[BUG][e2e] test_recurring_job_labels_with_backing_image fails"
**Describe the bug**
Failed at `setting backup-target is empty`.

**To Reproduce**
Run test

**Expected behavior**
Should pass

**Log**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/289/testReport/junit/tests/test_backing_image/test_recurring_job_labels_with_backing_image/

**Environment:**
`n/a`

**Additional context**
Add any other context about the probl

[2021-03-15 03:17] shuo-wu commented on #2303
All right. Consider #1948, in the worst case, there is only one big chunk in the block device. Reusing a replica won't be faster or save more bandwidth. But most of the time there is a filesystem on top of Longhorn volume then replica reuse could help. Longhorn will limit the size when comparing or transfer the files for 2 replicas, which is a goal of #1948

[2021-03-15 03:55] c3y1huang opened #2342 "[BUG][e2e] test_storage_class_from_backup fails"
**Describe the bug**
Failed at `setting backup-target` is empty`.

**To Reproduce**
Run test

**Expected behavior**
Should pass

**Log**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/290/testReport/tests/test_basic/test_storage_class_from_backup/

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-15 06:21] c3y1huang opened #2343 "[BUG][e2e] test_restore_volume_with_invalid_backupstore fails"
**Describe the bug**
Failed due to behavior change in Longhorn #2006. The case should be updated

**To Reproduce**
Run test.

**Expected behavior**
Should pass

**Log**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/290/testReport/junit/tests/test_ha/test_restore_volume_with_invalid_backupstore/

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-15 07:35] c3y1huang opened #2344 "[BUG][e2e] test_engine_image_daemonset_restart fails"
**Describe the bug**
Failed at `assert image.state == state`.

**To Reproduce**
Run test.

**Expected behavior**
Should pass

**Log**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/290/testReport/junit/tests/test_basic/test_engine_image_daemonset_restart/

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-15 10:30] c3y1huang opened #2345 "[BUG][e2e] test_setting_toleration* fails"
**Describe the bug**
Fails due to incorrect engine image state value.

**To Reproduce**
Run test.
* test_setting_toleration
* test_setting_toleration_extra

**Expected behavior**
Should pass.

**Log**
`n/a`

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-15 10:32] c3y1huang opened #2346 "[BUG][e2e] test_setting_priority_class fails"
**Describe the bug**
Fails due to incorrect engine image state value.

**To Reproduce**
Run test.

**Expected behavior**
Should pass

**Log**
`n/a`

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-15 12:10] cclhsu opened #2347 "[BUG] csi-resizer encounter error"
**Describe the bug**

csi-resizer  encounters following errors:

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:

Use the latest code from master

[code]

suspect related new timeout setting in https://github.com/longhorn/longhorn-manager/commit/c1376723fe87e5d3852069f7816b5f80878dea2b

**Expected behavior**
csi-resizer to deploy successfully.

**Log**
If applicable, add the Long

[2021-03-15 13:18] cclhsu commented on #2340
Hi! Can you provide output of command `sudo systemctl status iscsid` for the nodes?

[2021-03-15 15:10] mohjam2004 commented on #2287
Thanx Alot.

[2021-03-15 15:10] #2287 closed

[2021-03-15 18:06] meldafrawi commented on #2321
Nightly upgrade tests fixed,
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-upgrade-tests-ubuntu-amd64/

[2021-03-15 18:06] #2321 closed

[2021-03-15 18:47] crackerjam commented on #2340
You bet, thanks for the reply.

[code]

Other nodes are similar, just with different pid values.

[2021-03-15 19:03] liyimeng commented on #2303
@shuo-wu  not sure if I get you. Are you saying as long as there is a file system in the volume, longhorn will only write the diff? I did a quick test, it dose take a longtime to rebuild on the same node. Not sure if it is read and compare takes time, or it was rewriting.

[2021-03-15 20:31] chifu1234 opened #2349 "[FEATURE] Add Disk"
**Is your feature request related to a problem? Please describe.**
When trying to add a disk to longhorn, it's not necessary to create a filesystem and mount the device beforehand.

**Describe the solution you'd like**
It should be possible to add a disk to longhorn(/dev/sda) not just a mount point on the system.

[2021-03-15 22:25] crackerjam commented on #2340
I did find one thing, re-reading the documentation, I discovered the environment_check.sh script, and see some errors, but I'm not entirely sure what's causing them.

[code]

I have `MountFlags=shared` in `/lib/systemd/system/docker.service`, so as far as I know it should work fine. Based on the content of the script it looks like the kubectl commands aren't able to connect to something. Not sure

[2021-03-15 22:55] PhanLe1010 commented on #2335
Original discussion at https://forums.rancher.com/t/advanced-scheduling-for-share-manager/19717

[2021-03-16 01:16] timothystewart6 commented on #2156
CORS websocekt errors here, only fors Longhorn UI. The rest of Rancher + traefik works fine.

UI says `Request failed with status code 405` when trying to create a snapshotbackup

[code]

[2021-03-16 02:08] PhanLe1010 commented on #2349
Thanks. We are looking into this

[2021-03-16 02:18] c3y1huang opened #2350 "[BUG][e2e] test_running_volume_with_scheduling_failure fails"
**Describe the bug**
After replica process crashes, it takes a lot longer(~10m) for scheduling to fail.

**To Reproduce**
Run test

**Expected behavior**
Should pass

**Log**
`n/a`

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-16 02:20] c3y1huang commented on #2350
Don't think the long wait for scheduling to fail is expected. @shuo-wu @joshimoo any ideas?

[2021-03-16 02:58] shuo-wu commented on #2350
Why will replica process crash lead to scheduling failure? Can you paste the error log here?

[2021-03-16 03:07] c3y1huang commented on #2350
Could you check if the test skeleton needs to be updated?

https://github.com/longhorn/longhorn-tests/blob/master/manager/integration/tests/test_basic.py#L2310-L2312

[2021-03-16 03:50] shuo-wu commented on #2303
I mean, when you format and use a filesystem in a Longhorn volume, the filesystem will arrange data locations rather than directly store the data in a single chunk. Then there won't be only one data chunk in the volume, and you don't need to worry about [this issue](https://github.com/longhorn/longhorn/issues/1948#issuecomment-791641308).

Longhorn may take some time to check the existing data of

[2021-03-16 04:06] c3y1huang opened #2351 "[BUG] cannot restart engine image daemonset sometimes"
**Describe the bug**
While running e2e tests, noticed sometimes when deleting the engine image to trigger restart will fails to bring all engineimage pod to running.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with new longhorn cluster
2. Delete engine-image daemonset.
[code]

**Expected behavior**
All engine image pods should restart and become running eventually.

**Log**
[code]

[2021-03-16 04:32] cclhsu commented on #2340
did you run this command on the master or an external with kubeconfig?  Seems like you run in one of worker node.

[2021-03-16 04:42] innobead commented on #1691
ref: https://forums.rancher.com/t/general-io-performance-of-longhorn-storage-backend/14970/5 (about IO speed)

[2021-03-16 04:56] c3y1huang opened #2352 "[BUG][e2e] test_replica_zone_anti_affinity fails"
**Describe the bug**
Failed at `assert volume.conditions.scheduled.status`

**To Reproduce**
Run test.

**Expected behavior**
Should pass

**Log**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/291/testReport/junit/tests/test_zone/test_replica_zone_anti_affinity/

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-16 07:46] innobead opened #2353 "[FEATURE] Standardize the label naming pattern"
**Is your feature request related to a problem? Please describe.**
Review the current usage of the labels, then standardize them in a consistent pattern. This will be beneficial for user experience when operating on the resources directly/indirectly.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
Add any other context or screensho

[2021-03-16 07:49] c3y1huang opened #2354 "[BUG][e2e] test_disable_scheduling_on_cordoned_node fails"
**Describe the bug**
Failed at waiting for volume scheduled condition.

**To Reproduce**
Run test.

**Expected behavior**
Should pass.

**Log**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/291/testReport/junit/tests/test_node/test_disable_scheduling_on_cordoned_node/

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-16 08:25] cclhsu commented on #2337
Hi! Can you help provide information on cluster setup? If node (10.42.3.150) is pingable and iscsi install on that Node?

[2021-03-16 09:56] c3y1huang opened #2355 "[BUG][e2e] test_replica_scheduler_too_large_volume_fit_any_disks fails"
**Describe the bug**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-upgrade-tests-ubuntu-amd64/289/testReport/junit/tests/test_node/test_replica_scheduler_too_large_volume_fit_any_disks/

**To Reproduce**
Run test.

**Expected behavior**
Should pass

**Log**
`n/a`

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-16 11:01] c3y1huang opened #2356 "[FEATURE][infra] automatically run regression before pr merge"
**Is your feature request related to a problem? Please describe.**
Failures from PR might not manifest after 1 or 2 days since nightly regression is started by timer and takes 10+ hours to run.

**Describe the solution you'd like**
Leverage on private regression to have PR automatically run regression test before the merge. The tests to execute could be base on the area labeled on the issue.

**De

[2021-03-16 11:05] c3y1huang commented on #2334
Seems like it could be caused by resource exhaust in the deployed zone. Might need to add some timeout or error.

[2021-03-16 12:22] hendra-2020 opened #2357 "[BUG] RWX mount share ownership is being reset to user nobody"
**Describe the bug**
I created a few RWX share volumes and mounted them on pods with the following securityContext:

        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"

The first time pod is created, the share volume has correct ownership of root:root. After around 30min, the ownership of share and all files within it changed to nobody:42949

[2021-03-16 14:33] jenting commented on #2292
I did a test again that deploy LH not by Rancher GUI, but by helm command directly, I'm able to reproduce it.
Therefore, the issue might not be caused by helm-controller by instead caused by LH chart manifest _or_ helm itself.

[code]

[2021-03-16 14:40] innobead commented on #2334
@meldafrawi can we think about dynamically selecting a different zone when running the test cases if the resource is not enough?

[2021-03-16 18:30] PhanLe1010 commented on #2350
Thanks @c3y1huang

It was because of the reusing failed replica that makes Longhorn to wait for 6 minutes before attempting to create a new replica.

@shuo-wu

It is because we disable node `soft anti-affinity`, volume has 3 replicas, cluster has 3 nodes. So Longhorn cannot schedule replacement replica when a replica fails.

[2021-03-16 18:52] PhanLe1010 opened #2359 "[BUG][e2e] test_replica_scheduler_large_volume_fit_small_disk fail"
**Describe the bug**
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/99/testReport/junit/tests/test_node/test_replica_scheduler_large_volume_fit_small_disk_2/

[2021-03-16 18:53] PhanLe1010 opened #2360 "[BUG][e2e] test_replica_scheduler_update_over_provisioning failed"
**Describe the bug**
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/99/testReport/junit/tests/test_node/test_replica_scheduler_update_over_provisioning/

[2021-03-16 18:54] PhanLe1010 opened #2361 "[BUG][e2e] test_replica_scheduler_just_under_over_provisioning"
**Describe the bug**
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/99/testReport/junit/tests/test_node/test_replica_scheduler_just_under_over_provisioning_2/

[2021-03-16 18:55] PhanLe1010 opened #2362 "[BUG][e2e] test_replica_scheduler_update_minimal_available fails"
**Describe the bug**
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/99/testReport/junit/tests/test_node/test_replica_scheduler_update_minimal_available/

[2021-03-16 18:56] PhanLe1010 opened #2363 "[BUG][e2e] test_node_controller_sync_storage_scheduled fails"
**Describe the bug**
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/99/testReport/junit/tests/test_node/test_node_controller_sync_storage_scheduled/

[2021-03-16 18:56] PhanLe1010 opened #2364 "[BUG][e2e] test_node_umount_disk fails"
**Describe the bug**
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/99/testReport/junit/tests/test_node/test_node_umount_disk/

[2021-03-16 19:09] PhanLe1010 opened #2365 "[BUG][e2e] test_node.* fails"
**Describe the bug**
The following `test_node.*` is falling:
[test_replica_scheduler_rebuild_restore_is_too_big[s3]](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/99/testReport/junit/tests/test_node/test_replica_scheduler_rebuild_restore_is_too_big_s3_/)
[test_replica_scheduler_rebuild_restore_is_too_big[nfs]](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/99/t

[2021-03-16 19:27] PhanLe1010 commented on #2359
Sorry. This issue is on master

[2021-03-16 19:27] #2359 closed

[2021-03-16 20:20] crackerjam commented on #2340
All 3 of the nodes in my cluster have all of the roles, so they each have etcd, control plane, and worker status. They were all created through a docker command like this:

`sudo docker run -d --privileged --restart=unless-stopped --net=host -v /etc/kubernetes:/etc/kubernetes -v /var/run:/var/run  rancher/rancher-agent:v2.5.6 --server https://rancherurl:8443 --token token --ca-checksum checksum --

[2021-03-16 20:24] LuizBuffa25 opened #2366 "[Question] There is a way to fix problem (waiting with nfs server start)?"
**Question**
Created a volume, a pv/pvc and run a POD.
Normally the POD attaches the volume successfully, but sometimes (after reboot or on new installations) the volume stuck on attaching...
Check the share-manager-my-volume logs and see this spawn message:
time="2021-03-16T20:11:26Z" level=warning msg="waiting with nfs server start, volume is not attached" volume=my-volume
time="2021-03-16T20:11

[2021-03-16 22:38] PhanLe1010 opened #2367 "[BUG][e2e] test_single_replica_failed_during_engine_start fails"
**Describe the bug**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/292/testReport/junit/tests/test_ha/test_single_replica_failed_during_engine_start/

[2021-03-16 23:20] #2360 closed

[2021-03-16 23:22] #2361 closed

[2021-03-16 23:24] #2362 closed

[2021-03-16 23:27] #2363 closed

[2021-03-16 23:29] #2364 closed

[2021-03-16 23:41] PhanLe1010 commented on #2363
Close because when I ran the test case individual, it passed

[2021-03-16 23:42] PhanLe1010 commented on #2364
Close because when I ran the test case individual, it passed

[2021-03-16 23:42] PhanLe1010 commented on #2362
Close because when I ran the test case individual, it passed

[2021-03-16 23:42] PhanLe1010 commented on #2361
Close because when I ran the test case individual, it passed

[2021-03-16 23:42] PhanLe1010 commented on #2360
Close because when I ran the test case individual, it passed

[2021-03-17 00:42] PhanLe1010 commented on #2365
Close because when I ran the test case individual, it passed

[2021-03-17 00:42] #2365 closed

[2021-03-17 01:03] #2334 closed

[2021-03-17 05:18] nickngch opened #2368 "[BUG] Observed massive `CSI UnmountVolume failed` in the kubelet log"
**Describe the bug**
Observed massive `CSI UnmountVolume failed` in the kubelet log, it is printing millions of similar messages with an hour, which contributed to kubelet log's size to over 200GB

Example:
[code]

**To Reproduce**
Steps to reproduce the behavior:
- Not sure what triggered that at the moment

**Expected behavior**
Message printing out in a lower frequency

**Log**

[podlogs.zip](h

[2021-03-17 05:40] cclhsu commented on #2340
For RKE cluster, please follow the guide (https://rancher.com/docs/rancher/v2.x/en/cluster-admin/cluster-access/kubectl/) to setup on kubeconfig.

[2021-03-17 06:00] cclhsu commented on #2297
seem like related to discussion in https://github.com/containerd/containerd/issues/5113#issuecomment-796538266, where large mount caused by shm on `/run/k3s/containerd/io.containerd.grpc.v1.cri/sandboxes/dbafa07dc970a457a4c179b55cd1963ab25da3c7f2deb1194e472a21c3f97a0a/shm type tmpfs (rw,nosuid,nodev,noexec,relatime,si
ze=65536k)`

[2021-03-17 07:30] innobead commented on #2282
Istio already supports the core function of Kubernetes ingress, so you should be able to try it based on the example ingress config provided in the doc excluding niginx specific annotations. (ref: https://longhorn.io/docs/1.1.0/deploy/accessing-the-ui/longhorn-ingress/)

BTW, as Istio claims, only the core of Kubernetes ingress functions is supported, and the recommended way is its gateway ingress

[2021-03-17 08:38] liyimeng commented on #2297
@cclhsu i am double checking. It seem like it mess up container runtime and lead longhorn into bad behaviors.

[2021-03-17 08:43] ElisaMeng commented on #2297
@cclhsu I am double checking. It seem that bad pod mess up the runtime and cause longhorn move into bad state. Back to you later.

[2021-03-17 09:02] cclhsu commented on #2368
Hi! The log provided is limited.  Is it possible for you to provide the support bundle?

[2021-03-17 09:04] cclhsu commented on #2366
HI! Can you provide Environment information and attach the support bundle for us to investigate? Thanks!

[2021-03-17 09:05] c3y1huang opened #2369 "[BUG][e2e] test_recurring_jobs_when_volume_detached_unexpectedly fails"
**Describe the bug**
https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/292/testReport/junit/tests/test_recurring_job/test_recurring_jobs_when_volume_detached_unexpectedly_s3_/

https://ci.longhorn.io/job/private/job/longhorn-tests-regression/120/testReport/tests/test_recurring_job/test_recurring_jobs_when_volume_detached_unexpectedly_nfs_/

**To Reproduce**
Run

[2021-03-17 09:19] shuo-wu commented on #2314
Snapshot revert is different from the expansion cancelling. And Yes, a snapshot will be created before expansion or backup.

[2021-03-17 09:20] cclhsu commented on #2357
Currently, Longhorn workload do not change the mount share ownership   Is possible that you have workload in cluster done it?  Can you share the manifests used to mount RWX volume?

[2021-03-17 09:35] joshimoo commented on #2357
We currently do not squash any permissions see https://github.com/longhorn/longhorn-share-manager/blob/master/pkg/server/nfs/export.go#L159

As such when the pod runs as root it should have the correct permissions, it seems interesting that this happens after 30 minutes, anything that could be the cause of this? i.e. security software, application workloads?

[2021-03-17 10:18] hendra-2020 commented on #2357
I have initcontainer which sets volume ownership to root [slurm-dp.txt](https://github.com/longhorn/longhorn/files/6155333/slurm-dp.txt). However it baffles me why after some time the ownership goes back to nobody. This happens across multiple RWX shares running different workloads, so almost for certain not the workloads causing this. The OS is also basic ubuntu 20.04.2 with no security software

[2021-03-17 10:22] joshimoo commented on #2357
@hendra-2020 that baffles me as well, are all your pods that use this volume running as root?
Can you check the ownership + permissions inside of the share-manager-<volume-name> pod.
`ls -l /export/<volume-name>`

[2021-03-17 10:33] hendra-2020 commented on #2357
My other pods are using other RWX volumes, but they all exhibit this behaviour. In the share-manager-pod, ownership are all root:

bash-5.0# ls -l /export/pvc-623485af-9a5c-4269-b42d-3a7de4602c02/
total 25
-r--r--r-- 1 root root   101 Mar  3 09:55 acct_gather.conf
-r--r--r-- 1 root root   262 Mar  3 09:55 cgroup.conf
-r--r--r-- 1 root root    90 Mar  3 09:55 cgroup_allowed_devices_file.conf
-r--r-

[2021-03-17 11:15] c3y1huang opened #2370 "[BUG][infra] daily regression run gets terminated due to cluster deployment timeout"
**Describe the bug**
Daily regression had been terminated due to unable to bring up the testing environment.

**To Reproduce**
`n/a`

**Expected behavior**
Should stabilize terraform deployment for daily runs.

**Log**
[Build#290](https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-upgrade-tests-ubuntu-amd64/290/)
[Build#291](https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/j

[2021-03-17 13:43] crackerjam commented on #2340
Thanks for that, that resolved my problems with the environment check script at least.

[code]

That's odd, I don't see any pods that include "instance" in the name, in any namespace. Is "longhorn-manager" the same thing, or is my deployment missing something somehow?

[2021-03-17 14:53] ElisaMeng commented on #2297
@cclhsu I find similar issue with rshared mount in this other cluster, so I think it is ourself to blame. Thanks for your time! I will close this for now.

[2021-03-17 14:53] #2297 closed

[2021-03-17 14:54] cclhsu commented on #2340
There should be one instance-manager-e and one instance-manager-r in each of the worker node.  If the worker nodes lack of resources, these pods might either fail to startup or get killed.  Try to increase resource allocation (CPU/Memory) for the worker nodes.

[2021-03-17 15:00] ElisaMeng commented on #2303
@shuo-wu Thanks for the  explantation! I am happy now :)  please close this question.

[2021-03-17 15:17] crackerjam commented on #2340
I don't believe that's the problem here, there's a good amount of free resources, and the pods simply don't exist, they don't appear to be in a creation loop or something like that. For example,

[code]

I've also run `kubectl describe nodes` just to show the resource usage on my nodes, there's really not much going on with them.

[kubectl describe nodes.txt](https://github.com/longhorn/longhorn/f

[2021-03-17 16:35] jmcclenny-PRE commented on #2282
We have istio-gateway configured and went down the path of creating a virtual service instead of using nginx-controller/ingress.

However, when we try to navigate to the virtual-service host url, we only get a blank page. Using web tools, the get request returns status 503, Service Unavailable.

Here is our virtual-service config.
[code]

[2021-03-17 16:43] mckernanin opened #2371 "[Question] Error upgrading to latest with helm"
**Question**

**Environment:**
 - Longhorn version: longhorn-1.0.2
 - Kubernetes version: 1.19.8
 - Node config
   - OS type and version: Ubuntu server 20.04
   - CPU per node: 4c/8t i7 7700k
   - Memory per node: 16
   - Disk type: m.2 SSD
   - Network bandwidth and latency between the nodes: home gigabit network
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): micr

[2021-03-17 16:45] jmcclenny-PRE commented on #2282
Figured it out.

Host: longhorn-frontend needs the full path. longhorn-frontend.longhorn-system.svc.cluster.local.

[2021-03-17 16:45] #2282 closed

[2021-03-17 17:01] joshimoo opened #2372 "[ENHANCEMENT] Longhorn UI websocket traffic is way to high"
Currently it seems we send the whole volume information for each volume every couple of seconds via the websocket connection.
While the user is on the frontpage of the longhorn UI.
This does not scale well,

Example the Websocket connection consumes:
5-8MB/s for 151 volumes on a 9 nodes cluster.

As one can see this leads to some heft traffic, since all of this goes via the rancher proxy this is s

[2021-03-17 17:06] joshimoo commented on #2353
This is a good idea, at the same time we should consider whether we can add additional labels to existing resources, to allow for quick retrievals, via label selectors. i.e. for association between replica,engine -> volume for example.

[2021-03-17 17:08] joshimoo commented on #2297
@ElisaMeng Thanks for the update, please let us know if you are having additional issues after resolving your cluster setup.

[2021-03-17 20:12] Mist-Hunter commented on #2309
Same issue. Ubuntu 20.04.2 LTS, Longhorn 1.10.1, Rancher 2.5.7, K3s 1.20, RWX volume.

[2021-03-17 21:20] PhanLe1010 commented on #2338
@krisko

A few points:
1. Why do you need to attach the volume in the maintenance mode, btw?
1. When you attach the volume in maintenance, Longhorn will not create a block device on the host. The workload will not be able to use the volume because it is in "maintenance".  You will need to detach the volume first.
1. From the picture you sent, I notice that you might have selected multiple volumes

[2021-03-17 21:40] krisko commented on #2338
@PhanLe1010
1. I had to attach the volume in order to create backup/snapshot
2. ok, I didn't realize that there's no device when attaching in maintenance mode.
3. no, I only selected the volume in the pic. Using `operation` drop down does not help ):
![Screenshot_20210317_222427](https://user-images.githubusercontent.com/2367953/111541092-52319480-8770-11eb-9cfe-5310bdbdb935.png)
4. What I did was

[2021-03-17 21:55] PhanLe1010 commented on #2338
@krisko

1. I see
2. __
3. Checking on it
4. I see. How does the DB complains? We are trying to have minimize the effect of snapshot action on the workload. The issue is track at https://github.com/longhorn/longhorn/issues/2187. We would like to collect data about your use case.

[2021-03-17 22:53] PhanLe1010 opened #2373 "[UI] Update the github issue link"
**Is your feature request related to a problem? Please describe.**
The [issue template](https://github.com/longhorn/longhorn/issues/new?title=*Summarize%20your%20issue%20here*&body=*Describe%20your%20issue%20here*%0A%0A---%0AVersion%3A%20`v1.1.0`)  when a user opens the GitHub issue from Longhorn UI currently doesn't contain the evn info.

<img width="400" alt="Screen Shot 2021-03-17 at 12 08 15 P

[2021-03-18 02:51] #2303 closed

[2021-03-18 02:57] innobead commented on #2333
@meldafrawi please help with this. Thanks!

[2021-03-18 04:15] chaos95 commented on #828
I tend to agree with @gknepper - neither k3os nor the other options suggested really meets the brief that RancherOS did. That said, there is an effort to maintain it moving forward over at BurmillaOS, so perhaps it might be worth submitting the proposed changes there.

[2021-03-18 04:35] c3y1huang commented on #2333
Also happens when timeout on regression deployment.

[2021-03-18 04:59] c3y1huang opened #2374 "[BUG][e2e] Revision Counter Disabled setting mismatch causing engine tests unstable"
**Describe the bug**
Occasionally engine integration tests catch replica during times out of sync and lead tests to fail.

**To Reproduce**
`n/a`

**Expected behavior**
Should have stable pass.

**Log**
[code]

https://drone-publish.longhorn.io/longhorn/longhorn-engine/83/1/3
[code]

https://drone-publish.longhorn.io/longhorn/longhorn-engine/77/2/3
[code]

**Environment:**
`n/a`

**Additional cont

[2021-03-18 05:25] cclhsu commented on #2371
Not sure if this helm related issue as in https://github.com/helm/helm/issues/7697.  Can you provide your helm version? If possible, provide log for `helm upgrade longhorn ./longhorn/chart --namespace longhorn-system --debug -v 10`?

[2021-03-18 07:33] cclhsu commented on #2244
@vineetsingh5 Are you able to resolve the issue by turning off the `firewalld`?

[2021-03-18 07:46] cclhsu commented on #2340
From the logs `longhorn-manger.log` you have attached, we see that

[code]

Seems like lacks of CPU Resources.

[2021-03-18 08:12] meldafrawi opened #2375 "[BUG][e2e] investigate nightly upgrade test failure in RHEL"
**Describe the bug**
https://ci.longhorn.io/job/public/job/rhel/job/amd64/job/longhorn-upgrade-tests-rhel-amd64/8/

[2021-03-18 11:23] khushboo-rancher commented on #2081
Verified with Longhorn master - `03/18/2021`

Validation - **Fail**

The volume attached to a node where taint was not given, stuck in detaching state on scaling down the pod.
Steps:
1. Create a volume with 3 replicas on a cluster having 3 worker nodes and attach to a pod.
2. Add taint to a node (not attached to the volume)
3. Scale down the pod.
4. Observe the volume stuck in detaching.

[longhor

[2021-03-18 14:37] crackerjam commented on #2340
So, I think I may have figured out the problem.

The README for the chart, at least in Rancher says "Important: Please install Longhorn chart in longhorn-system namespace only."

Seeing this, I had gone ahead and created a longhorn-system namespace manually, inside of the "System" project. _Something_ with this configuration was applying a CPU limit, causing those instance-manager pods to be unabl

[2021-03-18 16:04] khushboo-rancher commented on #2161
@cclhsu I don't see the new logs in the longhorn-manager pods. Do we expect the logs in the longhorn-manager or somewhere else?
[longhorn-support-bundle_a444e374-3939-4468-ba7d-285a62ea082d_2021-03-18T15-59-12Z.zip](https://github.com/longhorn/longhorn/files/6165496/longhorn-support-bundle_a444e374-3939-4468-ba7d-285a62ea082d_2021-03-18T15-59-12Z.zip)

[2021-03-18 17:06] corend opened #2376 "[BUG] UI issue: Save button is not working when we set a label "node.longhorn.io/create-default-disk=true" to a node in the Longhorn UI"
**Describe the bug**
In the UI of Longhorn, when we select a node configuration and add a Label "node.longhorn.io/create-default-disk=true" to be able to deploy Longhorn on this new node (https://longhorn.io/docs/1.1.0/references/settings/#create-default-disk-on-labeled-nodes) this is not possible to save the data: when you click on save, nothing happens.

**To Reproduce**
Steps to reproduce the b

[2021-03-18 17:30] innobead commented on #2340
longhorn chart installation does not handle `namespace` creation which depends on the helm version. In the readme, we mentioned the namespace usage in different versions of the helm, so we can't make sure how the namespace managed before the helm chart installation.

[code]
helm install longhorn/longhorn --name longhorn --namespace longhorn-system
[code]

But, it's good to know you already figured

[2021-03-18 17:30] #2340 closed

[2021-03-18 18:13] cclhsu commented on #2161
Hi! I didn't see the support-bundle do the snapshot.  Can you try  with steps as described in https://github.com/longhorn/longhorn-engine/pull/566? Thanks!

[2021-03-18 18:22] innobead commented on #2161
@cclhsu please make sure test steps documented somewhere (like corresponding PRs) and mentioned/described in https://github.com/longhorn/longhorn/issues/2161#issuecomment-790296500. This can help QA verify based on the steps engineering provide. Thanks.

[2021-03-18 18:42] khushboo-rancher commented on #2376
@corend I'm not sure if I understood the reproduction steps here, are you trying to add `Node Tag` to the node using Longhorn UI?

[2021-03-18 18:59] khushboo-rancher opened #2377 "[BUG] Engine image and instance manager state is not correct on the node page of Longhorn UI"
**Describe the bug**
The components details for a node don't show correct value if the engine image, instance-manger etc are not running on the node.
<img width="1509" alt="Screen Shot 2021-03-18 at 12 41 21 PM" src="https://user-images.githubusercontent.com/60111667/111682663-a610ac00-884a-11eb-8729-4fe8293a5694.png">

**To Reproduce**
Case 1:
1. Deploy Longhorn on a K8s cluster.
2. Add taint to

[2021-03-18 19:01] khushboo-rancher commented on #2377
After discussing with @PhanLe1010, below points should be taken in consideration.
1. The UI should not should deployed when engine image NodeDeploymentMap[currentNode] == false. This can be fixed from UI side.
2. The issue with replica CR still in running state and this issue have the same root cause: when Longhorn manager pod stops running on a node but the Kubernetes node object is still ready,

[2021-03-18 19:25] khushboo-rancher commented on #2161
@cclhsu I tried the test steps from https://github.com/longhorn/longhorn-engine/pull/566#issue-584489542, but still don't see the logs when created a snapshot.
[longhorn-support-bundle_7ba02057-d37d-49d4-8984-007dcf3dd618_2021-03-18T19-16-26Z.zip](https://github.com/longhorn/longhorn/files/6166718/longhorn-support-bundle_7ba02057-d37d-49d4-8984-007dcf3dd618_2021-03-18T19-16-26Z.zip)

[2021-03-18 20:08] HubbeKing commented on #2062
Looks like the latest set of releases have the fix:
v1.18.16 [Changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#changelog-since-v11816)
v1.19.9 [Changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#changelog-since-v1198)
v1.20.5 [Changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.

[2021-03-18 20:11] PhanLe1010 commented on #2338
@krisko

For point #2, I see that the volume is detached and in faulted state in the backend:
[code]
Not sure why Longhorn UI still show that the volume is healthy. Can you try to refresh the UI page?

For the reason why the volume is in faulted state, it is because all 2 replicas of the volumes is in error state. For why the replicas are in faulted state. It could be because of the CPU pressure o

[2021-03-18 20:12] khushboo-rancher commented on #2187
Verified with Longhorn-master `03/19/2021`

Validation - **Pass**

The test steps from https://github.com/longhorn/longhorn/issues/2187#issuecomment-793703267 works fine.

@joshimoo The snapshot and backup creation worked fine while the writing was in process, but this works fine with v1.1.0 also, how can I make sure that `fsfreeze` is being validated with these test steps?

Regarding the test cas

[2021-03-18 21:06] PhanLe1010 commented on #2272
@runningman84

The support bundle looks fine to me.

After restoring the volume, how do you create the PV/PVC using Longhorn UI? Can you take a screenshot of the parameter in Longhorn UI just before you click create PV/PVC? It might be the case that you already have the PV/PVC with the same name in the cluster.

This is a feature of Longhorn. Longhorn remembers the workload that this volume was at

[2021-03-18 22:52] PhanLe1010 commented on #2339
@tyzbit Thank you for reporting

First, can we request more info about your environment?
1. Can you send us a support bundle to `longhorn-support-bundle@rancher.com` ?
2. How big is your backup in the s3

From the code perspective, in the current implementation I can see that deleting backup might consume significant amount of memory. [Longhorn is doing incremental backups](https://longhorn.io/doc

[2021-03-18 23:36] PhanLe1010 commented on #2357
@hendra-2020  You are correct that the `fsGroup` setting doesn't work for RWX volume. From Kubernetes source code: https://github.com/kubernetes/kubernetes/blob/e87da0bd6e03ec3fea7933c4b5263d151aafd07c/pkg/volume/csi/csi_mounter.go#L435

[2021-03-19 00:57] innobead commented on #2264
@khushboo-rancher could you help do the regression again to see if this fixed? thanks.

[2021-03-19 01:35] PhanLe1010 commented on #2376
For more details please see https://longhorn.io/docs/1.1.0/advanced-resources/default-disk-and-node-config/

[2021-03-19 03:30] tyzbit commented on #2339
1. Sent
2. This particular backup is 240Gi total, 191Gi used.

That explanation makes sense.  If that memory usage is inevitable then I suggest at least some sort of informational notification to the user warning them of the increased memory usage, or queuing the deletion of backups (if possible) when a user wishes to delete many backups at once.  I'm sure other users will come across scenarios li

[2021-03-19 03:31] c3y1huang opened #2378 "[BUG] The number of snapshot and backup created in recurring job is unstable"
**Describe the bug**
Should fix the unstable number of snapshots and backups created in the recurring jobs. This is causing test_recurring_job regression results unstable.

Finding:
1. When wite and backup happen at the same time, occasionally seeing the backup created twice.
![Screenshot-2021-03-19-16:27:16](https://user-images.githubusercontent.com/22583541/111751982-17df0900-88d0-11eb-8e3e-65ca

[2021-03-19 03:41] c3y1huang opened #2379 "[FEATURE][infra] allow pytest to run test repeatedly"
**Is your feature request related to a problem? Please describe.**
Consider the ability to run specified tests repeatedly in a single build. Useful for verifying not always reproducible (unstable) cases.

**Describe the solution you'd like**
Add pytest option.

**Describe alternatives you've considered**
`none`

**Additional context**
`none`

[2021-03-19 04:02] cclhsu commented on #2161
I just repeated the steps with Ubuntu 20.04/RKE v1.2.6 against master longhorn-manager branch and see the log .  It seems like sha256 is different

Master with the Patch:
[code]

Master without the Patch:
[code]

I am not sure why when you ran you probably get an older image.

[2021-03-19 05:56] c3y1huang opened #2380 "[IMPROVEMENT] Dump NFS ganesha logs to pod stdout"
**Is your feature request related to a problem? Please describe.**
Currently, ganesha dumps logs to /tmp/ganesha.log file inside the share-manager container. It could be difficult to retrieve the log file if the pod goes into a crash loop.

**Describe the solution you'd like**
Able to see ganesha log included when using `kubectl logs`

**Describe alternatives you've considered**
`none`

**Addition

[2021-03-19 06:24] jenting opened #2381 "[FEATURE] The Longhorn doc website should have the current master branch"
**Is your feature request related to a problem? Please describe.**

It'd be good to let the current master branch documentation publish to the Longhorn doc website, like https://longhorn.io/docs/master.

**Describe the solution you'd like**

After PR merge to https://github.com/longhorn/website master branch, release the latest doc to website.

**Describe alternatives you've considered**

Pull the

[2021-03-19 07:03] jenting opened #2382 "[FEATURE] Add GitHub action for auto-assign PR reviewers"
**Is your feature request related to a problem? Please describe.**

It'd be good to add the GitHub action for auto-assign PR reviewers for all of the Longhorn projects.

**Describe the solution you'd like**

- Create `.github/auto_assign.yml`
[code]

- Create `.github/auto_assign.yml`
[code]

**Describe alternatives you've considered**

N/A

**Additional context**

To check would it possible to ge

[2021-03-19 07:40] innobead commented on #2357
It seems related to https://github.com/nfs-ganesha/nfs-ganesha/issues/695#issuecomment-800300339.

The suggestion we probably can take, https://github.com/nfs-ganesha/nfs-ganesha/issues/514

[2021-03-19 07:44] innobead commented on #2379
cc @meldafrawi

[2021-03-19 07:46] innobead commented on #2380
This will help us to improve the support bundle enrichment w/ more helpful logs.

[2021-03-19 07:58] khushboo-rancher commented on #2264
This error is not seen with Longhorn-master `03/19/2021`, good to close this.

Validation - **Pass**

[2021-03-19 07:58] #2264 closed

[2021-03-19 08:07] ElisaMeng opened #2383 "[Question] why getting too many snapshots"
**Question**

I have a volume running for about a week, and I have recurrent snap job on as below:

[code]

Question, why I have so many snapshots? why it was not pure via recurrent job?

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: 1.19
 - Node config
   - OS type and version: k3os
   - CPU per node: 24
   - Memory per node: 128G
   - Disk type: ssd
   - Network bandwidth an

[2021-03-19 08:43] corend commented on #2376
Oh god... I was tired when I did that... sorry indeed we can close this... this is a node annotation I tried to add in the UI of Longhorn via the tag/label field of the node. This is indeed confusing or I didn't understand the goal of this in this UI, anyway this is directly on the node that I have to add this annotation... Tired period, sorry :)

[2021-03-19 08:43] #2376 closed

[2021-03-19 09:25] cclhsu commented on #2294
@ElisaMeng It seems like the feature is related to https://github.com/longhorn/longhorn/issues/2297?

Currently, We have probe configurations as below

[code]

The configuration covered the slow starting container ` set up a startup probe with the same command with a failureThreshold * periodSeconds long enough to cover the worse case startup time` as described in [Configure Liveness, Readiness an

[2021-03-19 09:53] c3y1huang commented on #2383
@ElisaMeng thanks for reporting.

Longhorn only keeps the retained number and cleans up the snapshots with the same label. From the manifest, `labels: null` is set in recurringJobs, therefore in your situation, I think Longhorn received an empty list of snapshots and doesn't know what to clean up.

https://github.com/longhorn/longhorn-manager/blob/master/app/volume.go#L419-L422

[2021-03-19 10:21] joshimoo commented on #2357
@innobead using only numeric id's is a good change, can you assign someone to make the update this way they get to go through the whole share-manager update process, since I am currently the only one that has done that.
If the person has any questions, I will help :)

This can be added to the NFSV4 block here:
https://github.com/longhorn/longhorn-share-manager/blob/master/pkg/server/nfs/nfs_server

[2021-03-19 10:44] hendra-2020 commented on #2357
@innobead This will likely help. I have the following logs (appearing around every 10m) in the server where my workload pods are running:

Mar 19 11:01:07 slave-sys1 nfsidmap[2607242]: nss_getpwnam: name 'root@localdomain' does not map into domain 'lan'
Mar 19 11:11:47 slave-sys1 nfsidmap[2668880]: nss_getpwnam: name 'root@localdomain' does not map into domain 'lan'
Mar 19 11:22:47 slave-sys1 nfsi

[2021-03-19 10:54] joshimoo opened #2384 "[BUG] uninstall-controller does not cleanup share-manager crds"
`smInformer` needs to be passed to the uninstall controller.
https://github.com/longhorn/longhorn-manager/blob/fa71929a4893869544f2436fb718171bb6cf1cc2/app/uninstall.go#L133

CacheSync + event handler can be added here:
https://github.com/longhorn/longhorn-manager/blob/fa71929a4893869544f2436fb718171bb6cf1cc2/controller/uninstall_controller.go#L120

Cleanup for the crds can be added here:
https://

[2021-03-19 10:59] LuizBuffa25 commented on #2366
I found the problem, it is on my NFS, you can close this issue.
Thanks!

[2021-03-19 11:28] ElisaMeng commented on #2383
@c3y1huang thanks. Good to know. But as you see, the volume only created for a week. The job runs weekly, the volume already have more 249 snapshots. What else is missing?

[2021-03-19 11:41] joshimoo commented on #2322
Long delay times for mount, can be caused by kubernetes recursive chown/chmod, if your volume contains lots of files.
If you don't need this have a look here https://kubernetes.io/blog/2020/12/14/kubernetes-release-1.20-fsgroupchangepolicy-fsgrouppolicy/#allow-users-to-skip-recursive-permission-changes-on-mount

`fsGroupChangePolicy: "OnRootMismatch"`
@ElisaMeng can you check if your volume contai

[2021-03-19 11:42] innobead commented on #2357
@hendra-2020 thanks for the confirmation :+1:

This should be tackled, otherwise, the consumer container needs to have the correct user ID mapping.

[2021-03-19 12:49] c3y1huang commented on #2383
@ElisaMeng sorry missed that part, that does look weird. Could you provide a support bundle?

[2021-03-19 12:54] LuizBuffa25 opened #2385 "[Question] Single node cluster, node drain/reboot issue."
**Question**
Only have 1 node with 2 volumes and 1 replica for each.
When I reboot, the machine gets stuck on reboot process and block my SSH access because of that.
I found a similar issue https://github.com/longhorn/longhorn/issues/1024
 Check my machine log when it get stuck:
 4459.424724] sd 3:0:0:1: [sdb] tag#49 timing out command, waited 360s
[ 4459.426076] blk_update_request: I/O error, dev

[2021-03-19 13:16] LuizBuffa25 commented on #2385
Update:
The problem happens after a backup was taken.

If I just reboot the machine it works, but if I perform a backup, wait until it finished, and then reboot, I got the error above.

[2021-03-19 13:36] joshimoo commented on #2366
@LuizBuffa25 mind sharing what the problem was, so if someone else encounters this issue they would find this thread :)

[2021-03-19 13:45] npawelek opened #2386 "[BUG] Engineimage stuck in deploying state"
**Describe the bug**
I recently replaced the control plane nodes by deleting and re-joining via `kubeadm join`. These are Raspberry Pi nodes on eMMC storage, so the join process is a bit slow. I also noted a delay waiting for etcd steps to fully complete. While the etcd steps were pending, the nodes were added to longhorn before the `NoSchedule` taints were applied to nodes. This delay caused the

[2021-03-19 13:49] joshimoo commented on #2382
This is a good idea :)
[code]

The default value of 0 seems to be to add all reviewers?

[2021-03-19 13:53] joshimoo commented on #2382
An alternative is to update the bot to do this as well as move community issues in new :)

[2021-03-19 13:57] joshimoo commented on #2339
@tyzbit if you want to delete all backups for a volume one can use this function, that way we don't need to do in use detection of backup blocks.
![image](https://user-images.githubusercontent.com/1287163/111791308-620dbd80-88c3-11eb-8214-db1aa92b86e0.png)

[2021-03-19 14:28] ElisaMeng commented on #2383
it seems not telling that much.

[code]

[2021-03-19 14:52] joshimoo commented on #2339
@PhanLe1010 this is a fun one to fix :)

- retrieve the blockMap per backup then merge into the blockMap
- keep track of the lastBackup while evaluating the backups
- this way we don't need to retain all the backup information in memory, this will still spike but the gc can cleanup

here is a patch, finish the mergeMap and it should be good to go, also verify the empty lastBackupName/time for the

[2021-03-19 14:56] joshimoo commented on #2339
@innobead we should include this fix in v1.1.1 if we have time.

[2021-03-19 15:22] khushboo-rancher commented on #2161
With Longhorn-manager `03/19/2021`, I am able to see the added logs as below.
[code]
Validation - **Pass**

[2021-03-19 15:22] #2161 closed

[2021-03-19 15:24] khushboo-rancher commented on #2187
Logs for `Froze filesystem`
[code]

[2021-03-19 15:29] joshimoo commented on #2386
cc @PhanLe1010 can you link to your issue which we fixed in v1.1.1

[2021-03-19 15:31] LuizBuffa25 commented on #2385
Fixed.
Just add:
allow-node-drain-with-last-healthy-replica          true

Since I have only one replica, I need to set this variable to true.

You may close this issue, thanks.

[2021-03-19 15:39] c3y1huang commented on #2383
@ElisaMeng, thanks,  was just confirming the last recurring job schedule time.
Can you see when did the flooding of snapshots started? Did it happen before or after the recurring job got scheduled?

Would be good if you can provide the support bundle so we get more info and logs.

[2021-03-19 16:44] joshimoo commented on #2187
@khushboo-rancher Your best bet is the Froze Filesystem log.

You can also add status reporting `dd if=/dev/urandom of=/mnt/<volume> conv=fsync status=progress` this should force outputting. But all of this is only relevant if the freeze takes longer then a second, which it shouldn't :)

[2021-03-19 17:02] joshimoo commented on #2161
one can use https://github.com/longhorn/longhorn/blob/master/dev/scripts/lm-update.sh and https://github.com/longhorn/longhorn/blob/master/dev/scripts/update-image-pull-policy.sh

To update the image pull policy when testing a dev version of longhorn on an existing cluster, might need a restart of the engine image pods.

[2021-03-19 17:06] khushboo-rancher commented on #2161
Thanks @joshimoo
I always use image pull policy as `Always` in my testing env, not sure why the logs were not captured.

[2021-03-19 17:08] b225ccc opened #2387 "[FEATURE] Add annotations support for resources in helm chart"
**Is your feature request related to a problem? Please describe.**
Adding custom annotations is a common use-case.  The Longhorn helm chart should provide users a way to do this.

**Describe the solution you'd like**
Support for annotations in helm chart.

My specific use-case is that I need to add annotations to the longhorn-manager pods to send the [longhorn prometheus metrics](https://longhorn.

[2021-03-19 17:40] khushboo-rancher commented on #2316
Verified with Longhorn-master `03/19/2021`

Validation - **Pass**

RWX volumes are able to attach to pods and basic scenarios like writing data/attach/detach/snapshot/backup are working fine.

[2021-03-19 17:40] #2316 closed

[2021-03-19 17:56] joshimoo opened #2388 "[ENHANCEMENT] update CSI components to newest versions"
Since the snapshotter is GA, we can look into where the distributions are at now.
There are also changes on the resizer, we should look into and update this one especially.
A good time for this update of all CSI components would probably be 1.2/1.3 since we are running some pretty old components targetting csi 1.1 we can update to target csi 1.2 and remove some of the old code that checks for kube

[2021-03-19 18:09] khushboo-rancher opened #2389 "[BUG] UI - 'Expand volume' option is enabled for attached RWX volume."
**Describe the bug**
The expand volume option is enabled for a attached RWX volume. On clicking on it it shows `405` error.
<img width="1517" alt="Screen Shot 2021-03-19 at 11 29 06 PM" src="https://user-images.githubusercontent.com/60111667/111824388-2814d980-890c-11eb-973c-79e7e8bb961a.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn-master on a K8s cluster
2. Create a

[2021-03-19 18:12] khushboo-rancher commented on #2181
Verified with Longhorn-master `03/19/2021`

Validation - **Pass**

The expansion of RWX volumes is working fine now.

[2021-03-19 19:09] LuizBuffa25 commented on #2385
Actually, After I change allow-node-drain-with-last-healthy-replica to true, another bug appears on longhorn-csi-plugin:

time="2021-03-19T19:04:00Z" level=info msg="CSI Driver: driver.longhorn.io csiVersion: 0.3.0, manager URL http://longhorn-backend:9500/v1"
time="2021-03-19T19:04:10Z" level=fatal msg="Error starting CSI manager: Failed to initialize Longhorn API client: Get \"http://longhorn-ba

[2021-03-19 20:11] ElisaMeng commented on #2383
It is hundreds MBs of support bundle. :( May you instruct me how to collect relevant logs instead?

[2021-03-19 20:18] ElisaMeng commented on #2383
BTW, I don't see how to set a label for snapshot in UI. it seems not possible, but possible for backup, do you know why?

[2021-03-19 22:07] unixfox commented on #1242
Bump

[2021-03-19 23:07] jonathon2nd commented on #1339
bump

[2021-03-19 23:08] jonathon2nd commented on #1541
bump

[2021-03-20 13:23] bennyandresen commented on #469
I'm currently experiencing the worst possible outcome. All I have left are the contents of the `/var/lib/rancher/longhorn` directory.
That means I have `replicas` and the diferrent PVC below them.

I was able so far to mount -o loop the volume-head-xxx.img, but it unfortunately does not contain the data I'm mostly interested in.

I was unsuccessful to launch the simple-longhorn engine, as describe

[2021-03-20 14:23] Moumouls commented on #1210
It seems that longhorn has some effect on https://github.com/kubernetes/kubernetes/issues/45419. Thanks to @meldafrawi my cluster with longhorn storage seems to works correctly now (No more PLEG error).

[2021-03-20 14:31] innobead commented on #2238
remove stale due to the incorrect exempt label

[2021-03-20 14:33] innobead commented on #2237
remove stale due to the incorrect exempt label

[2021-03-20 14:34] innobead commented on #1964
remove stale due to the incorrect exempt label

[2021-03-20 14:34] innobead commented on #1857
remove stale due to the incorrect exempt label

[2021-03-20 14:34] innobead commented on #1826
remove stale due to the incorrect exempt label

[2021-03-20 14:34] innobead commented on #1817
remove stale due to the incorrect exempt label

[2021-03-20 14:35] innobead commented on #1783
remove stale due to the incorrect exempt label

[2021-03-20 14:35] innobead commented on #1752
remove stale due to the incorrect exempt label

[2021-03-20 14:35] innobead commented on #1740
remove stale due to the incorrect exempt label

[2021-03-20 14:36] innobead commented on #1730
remove stale due to the incorrect exempt label

[2021-03-20 14:36] innobead commented on #1729
remove stale due to the incorrect exempt label

[2021-03-20 14:36] innobead commented on #1728
remove stale due to the incorrect exempt label

[2021-03-20 14:36] innobead commented on #1727
remove stale due to the incorrect exempt label

[2021-03-20 14:38] innobead commented on #1726
remove stale due to the incorrect exempt label

[2021-03-20 14:38] innobead commented on #1667
remove stale due to the incorrect exempt label

[2021-03-20 14:38] innobead commented on #1613
remove stale due to the incorrect exempt label

[2021-03-20 14:39] innobead commented on #1553
remove stale due to the incorrect exempt label

[2021-03-20 14:39] innobead commented on #1506
remove stale due to the incorrect exempt label

[2021-03-20 14:39] innobead commented on #1436
remove stale due to the incorrect exempt label

[2021-03-20 14:39] innobead commented on #1421
remove stale due to the incorrect exempt label

[2021-03-20 14:40] innobead commented on #1337
remove stale due to the incorrect exempt label

[2021-03-20 14:41] innobead commented on #1411
remove stale due to the incorrect exempt label

[2021-03-20 14:41] innobead commented on #1386
remove stale due to the incorrect exempt label

[2021-03-20 14:41] innobead commented on #1370
remove stale due to the incorrect exempt label

[2021-03-20 14:41] innobead commented on #1358
remove stale due to the incorrect exempt label

[2021-03-20 14:42] innobead commented on #1335
remove stale due to the incorrect exempt label

[2021-03-20 14:42] innobead commented on #1324
remove stale due to the incorrect exempt label

[2021-03-20 14:42] innobead commented on #1305
remove stale due to the incorrect exempt label

[2021-03-20 23:18] PhanLe1010 commented on #2377
In this issue, we should also fix this issue from @joshimoo  suggestion:

for each enqueue remove these type of checks, since they prohibit ownership transfer: https://github.com/longhorn/longhorn-manager/blob/b0b3579609ac768d76271f68f662ce2243b6cb99/controller/engine_image_controller.go#L656
The controller should at least look at each resource to determine whether it's responsible for it or not,

[2021-03-21 05:17] KyleSanderson commented on #1964
I too am looking for this. I'm intending on running Rook instead as the 2x storage factor is not ideal.

[2021-03-21 06:01] jenting commented on #2330
Looks like the XFS filesystem was corrupted, consider repairing it with `xfs_repair -L <device>`.

BTW, there is another error that seems to have the same problem with the filesystem.
[code]

[2021-03-21 11:52] virus2016 commented on #2330
Thanks @jenting, did this and it attempted a repair. The mount then worked but the data was corrupted... I've found that if I only do only one I.e. either a one backup or one snapshot in the schedule, longhorn seems to work with no issues. Very strange.

I've had issues in the past where I have a schedule to take an snapshot every hour and a 1am backup. When I do this, the data get corrupted... so

[2021-03-21 13:45] jenting commented on #2330
Is this symptom happens at Longhorn v1.1.0? Or before Longhorn v1.1.0?
We had issue #612 (this is fixed at Longhorn v1.1.0) , the symptom is similar.

[2021-03-21 13:56] immanuelfodor opened #2392 "[BUG] Error: backup-target is empty with NFS (when it's apparently not)"
**Describe the bug**
The UI says "error listing backups: setting backup-target is empty" when an NFS target is specified on a fresh Longhorn installation. The setting is present in the `ConfigMap` and even the UI shows it on the Settings page, so it shouldn't be throwing the error.

![image](https://user-images.githubusercontent.com/21174107/111905988-c27d3600-8a4e-11eb-8e2a-ce2ce33ff29c.png)

![i

[2021-03-21 14:56] virus2016 commented on #2330
Currently on v1.1.0. Always upgraded the engine when a new one comes out.

[2021-03-21 20:47] LuizBuffa25 opened #2393 "[Question] There is a way to perform a full backup (not a incremental)? What happens when reach retain number?"
**Question**

I have 2 scenarios:
Scenario 1)
A bucket on s3 that store daily backups from my volumes with retain=30, that backups are executed every day at 00:00H;
Q1: When longhorn performs the 31st backup, what happens with the others?

Scenario 2)
Another bucket on s3 that store a backup that is executed only one  time per month on Sundays;
Q2: I want to know if there is a way to have infinite

[2021-03-22 01:46] c3y1huang commented on #2383
You look for and collect logs on:
1. The manager logs.
2. Anything triggered the unexpected snapshot to start?

Sorry, I think I've drowned to conclusions too quickly without fully understanding your context. AFAIK If you are using UI then the label should automatically applied,
[code]

[2021-03-22 02:32] jenting commented on #2392
@immanuelfodor
Thank you for the reporting, however, I can't reproduce it. Have you tried to uninstall the helm chart and re-install it again?

[2021-03-22 06:50] immanuelfodor commented on #2392
I didn't try that but I can, sure. What will happen to an existing volume, will it be preserved or completely destroyed upon the uninstall? Now I have one attached to a pod (with 3 replicas).

When I try to backup the volume, the snapshot is created fine but the backup fails with the same backup-target missing error. Of course, I can manually save it to a hostPath volume from within a "migration/r

[2021-03-22 07:00] jenting commented on #2392
It will be completely destroyed.

[2021-03-22 07:24] immanuelfodor commented on #2392
After uninstall and install, I get a different error on the Backup page:

`error listing backups: error listing backup volumes: Failed to execute: /var/lib/longhorn/engine-binaries/longhornio-longhorn-engine-v1.1.0/longhorn [backup ls --volume-only nfs://192.168.1.1:/nfs/longhorn-backup], output Cannot mount nfs 192.168.1.1:/nfs/longhorn-backup: nfsv4 mount failed but nfsv3 mount succeeded, may be

[2021-03-22 07:24] #2392 closed

[2021-03-22 07:41] rajivml commented on #1475
+1 We also have this similar requirement

[2021-03-22 08:00] runningman84 commented on #2272
Ok here are some screenshots:
![image](https://user-images.githubusercontent.com/1699128/111956178-c2327880-8aea-11eb-8c8c-b81d7515031d.png)
![image](https://user-images.githubusercontent.com/1699128/111957067-d460e680-8aeb-11eb-8b2c-fabb1d672ac2.png)
This time there was also some (temporary) AWS error:
[code]

[2021-03-22 08:57] innobead commented on #2241
@khushboo-rancher or @cclhsu I assume this should be already tackled in https://github.com/longhorn/longhorn-manager/pull/840 because of the prerequisite installation already verified in CentOS 8.x. Can you double confirm? Thanks.

[2021-03-22 08:59] innobead commented on #1221
Already fixed in #2131 and https://longhorn.io/kb/troubleshooting-volume-take-long-time-to-mount/ provided.

[2021-03-22 08:59] #1221 closed

[2021-03-22 09:02] innobead commented on #2062
Closing, because the issue was already fixed at upstream and upstream releases out as well.

[2021-03-22 09:07] c3y1huang commented on #2393
https://github.com/longhorn/longhorn/issues/2191 might help to answer this question.

Currently, longhorn restricts the MaxRecurringJobRetain to 50.
https://github.com/longhorn/longhorn/issues/1016

Longhorn only supports incremental for snapshots and backups. Do you mind you share the reason why incremental backup doesn't work for you? Would [Disaster Recovery Volumes](https://longhorn.io/docs/1.

[2021-03-22 09:08] innobead commented on #2062
@PhanLe1010 To make sure the fix does resolve the feature impact. Please help reverify again by using the latest K8s upstream release to see if this issue has been fixed correctly. Thanks.

[2021-03-22 09:23] cclhsu commented on #2241
The logs which user provided are the same as described in https://github.com/longhorn/longhorn/issues/2319.  Solution was tested on Centos 7.8 and 8.2.  @kaskavalci Can you confirm if it is the same for RHEL 8.2?

[2021-03-22 13:30] cocampbe commented on #2338
I am having a similar issue. I scaled down some deployments and statefulsets of a RWX volume. I did this to expand the volume. I attached the device to a node in mainatence mode. I then went to detach and am not able to. The device shows attached to one of the workers. But I am not sure how to detach it.

[2021-03-22 13:40] cocampbe commented on #2338
In order to detach the volume, I edited the volume via kubectl. I set the nodeID to ""  and set disableFrontend to false. For grins, I reattached the volume again in maintenance mode. And once again, I was not able to detach it. I edited the volume again and then scaled my workloads up. This has worked for me in the past.

[2021-03-22 13:44] cocampbe commented on #2338
I created a new volume and attached it in maintenance mode. I was able to detach it. It worked as expected. I am not sure why a specific volume is having this issue.

[2021-03-22 14:21] LuizBuffa25 commented on #2393
Thanks!
Answering your question: With your explication, incremental backup works for me now.
You may close this issue.

[2021-03-22 14:27] #2393 closed

[2021-03-22 15:25] cocampbe commented on #2338
I think I may understand the issue. For one, I did not need to put a volume in maintenance mode to resize it. And the reason It cannot be detached afterwards is because there is a PVC bound. My understanding of when to use maintenance mode was not correct.

https://longhorn.io/docs/1.1.0/concepts/#22-reverting-volumes-in-maintenance-mode

[2021-03-22 16:11] yasker commented on #2314
@dbpolito @mfbrj

Thanks for reporting. We will close this one as a duplicate of https://github.com/longhorn/longhorn/issues/1674 .

Feel free to continue the discussion there.

[2021-03-22 16:11] #2314 closed

[2021-03-22 16:15] yasker opened #2394 "[POC] HA NFS"
We need to do a POC for our purposed solution before implementing https://github.com/longhorn/longhorn/issues/2293 .

[2021-03-22 16:54] cocampbe commented on #2338
@PhanLe1010 This is an interesting issue. What I cannot understand is why the detach option is grayed out. Let's say a user, like me, attaches a volume in maintenance mode on a host for reasons that don't make sense, ie, did not know what I was doing. In this instance, where the change was made based on a bad understanding of when o use maintenance mode, the user is kind of stuck. I fortunately ha

[2021-03-22 17:13] PhanLe1010 commented on #2081
This problem is tracked at https://github.com/longhorn/longhorn/issues/2081#issuecomment-801842133 since it is not directly related to this feature.

[2021-03-22 23:42] ElisaMeng commented on #2383
@c3y1huang i probably find the root cause. I have a disk is full 100% used. For some reason, longhorn believe there is still space on the disk. It keep trying to rebuild replica on it, and failed with "No space left on the device", and the ends up in a lot of snaps.

I delete some failed replica on the disk, it then back to function again.

[2021-03-22 23:48] ElisaMeng commented on #2322
@joshimoo It is empty volume. You can try to re-produce it what the yaml I provided to see if it is the case for u. For me, I delay is quite obvious when volume size is big.

[2021-03-23 00:24] PhanLe1010 commented on #2386
Yeah, we have fixed this problem at https://github.com/longhorn/longhorn/issues/2081
The fix will be available in the next release, Longhorn v1.1.1

[2021-03-23 00:32] npawelek commented on #2386
Perfect. Thanks for confirming!

[2021-03-23 00:33] #2386 closed

[2021-03-23 02:03] c3y1huang commented on #2383
Possible also relate to https://github.com/longhorn/longhorn/issues/2029

[2021-03-23 03:13] jenting commented on #2330
- What's the host underlying filesystem?
- Is this happens to all volumes or partial volume? Is the corrupted volume located at the same node?
- What's the disk type is? HDD/SSD/NVM.e/...?

[2021-03-23 03:17] jenting commented on #2385
Since you're using a single node, after reboot, it has to wait for Longhorn-system to become ready so the endpoint `longhorn-backend` is available from Kubernetes service to longhorn-manager Pod.
- Is this issue keeps happening after a period of time?
- Is the longhorn-manager comes back successfully?
- Could you please run `kubectl exec -it <longhorn-ui-pod> -n longhorn-system -- /bin/bash` and r

[2021-03-23 03:39] jenting commented on #2383
Could you please provide the longhorm-manager and instance-manager Pods log, we'd like to see did Longhorn detects the disk is full 100% used and skips rebuilding replica on it?

[2021-03-23 04:08] jenting commented on #2336
- Is the fsck error volume all happens on the same node? If yes, could you please check the HW with S.M.A.R.T. tool?
- could you please check each replica content is fine or not? https://longhorn.io/docs/1.1.0/advanced-resources/data-recovery/export-from-replica/ (we'd like to find out the health replica)

[2021-03-23 04:10] mbwmbw1337 opened #2395 "[BUG] ErrImagePull after install"
**Describe the bug**
k3s (v1.20.4+k3s1) installation on arm raspberry pi

After installing the error pulling the image. Tried clearing everything and installing it several times
[code]

[2021-03-23 04:41] virus2016 commented on #2330
It's on digitalocean so I think they are ext4 ssd.

It's was a single volume and all replicas were affected to my knowledge as I tried multiple times to recover by scheduling different nodes￼ for xfs_repair and then attempted to use the snapshots created during the day. I reverted back to the backup created earlier that day.

[2021-03-23 04:49] khushboo-rancher commented on #2389
Verified with Longhorn-master - `ccc88d3` `03/23/2021`

Validation - **Pass**

The `expand volume` is disabled for attached RWX/RWO volumes.

[2021-03-23 04:49] #2389 closed

[2021-03-23 05:21] PhanLe1010 commented on #2272
In my evn, I just verify creating PV/PVC from a restored volume working fine.

Looking back at your support bundle. It is weird that there is no `pvCreate` or `pvcCreate` request in Longhorn UI pod as well as Longhorn manager pod? Is it possible that the request from UI doesn't reach the backend?

Can you try 1 more time:
1. restore volume `hass-home-assistant-config-restore-2`
1. Paste the result

[2021-03-23 05:53] c3y1huang commented on #2395
Seems like the cluster is having issues getting access to the images.

How are you deploying Longhorn and which version?
Could you do a describe of one of the resources that is having issues with image pulling?
[code]

[2021-03-23 05:59] jenting commented on #2204
Note: we need to improve this.

[2021-03-23 06:47] PhanLe1010 commented on #2338
Thanks @cocampbe ! yeah, this is indeed a bug.

Reproduce steps:
1. Deploy Longhorn v1.1.0
2. Create a workload using a Longhorn volume in RWX mode
3. Scale down the workload to detach the volume
4. Attach the volume in mantainance mode
5. See that user cannot detach the volume using UI. Workload cannot use the volume again.

[2021-03-23 07:05] khushboo-rancher commented on #2242
Verified with Longhorn-master - `03/29/2021`

Validation - **Pass**

The error message is logged as below in case the `var/lib/longhorn-backupstore-mounts` is deleted and a file with same name is created in the longhorn-manager pods.

[code]

[2021-03-23 07:05] #2242 closed

[2021-03-23 07:12] PhanLe1010 commented on #2338
This is an UI bug. We block the `detach` action here At https://sourcegraph.com/github.com/longhorn/longhorn-ui/-/blob/src/routes/volume/VolumeActions.js#L167

We should modify the function [isRwxVolumeWithWorkload()](https://sourcegraph.com/github.com/longhorn/longhorn-ui/-/blob/src/routes/volume/VolumeActions.js#L136) so that it only returns true when there is a workload pod that is actually cur

[2021-03-23 07:17] khushboo-rancher commented on #2319
Verified with https://raw.githubusercontent.com/longhorn/longhorn-manager/master/deploy/prerequisite/longhorn-iscsi-installation.yaml.

The iscsi is getting installed on RHEL7 and RHEL8 and installation with other OS is validated with https://github.com/longhorn/longhorn/issues/1741

[2021-03-23 07:17] #2319 closed

[2021-03-23 07:18] khushboo-rancher commented on #2241
https://github.com/longhorn/longhorn/issues/2319 is validated with RHEL7.8 and RHEL8.2

[2021-03-23 08:09] innobead commented on #2241
Closing, resolved by #2319

[2021-03-23 08:09] #2241 closed

[2021-03-23 08:32] khushboo-rancher commented on #2187
I checked the page after taking the snapshot, it went down after the `fsfreeze`.
<img width="784" alt="Screen Shot 2021-03-23 at 1 48 45 PM" src="https://user-images.githubusercontent.com/60111667/112116425-4a467a00-8be0-11eb-9b4c-4497d83f82b7.png">

[2021-03-23 08:37] meldafrawi commented on #1999
integration tests passed

[2021-03-23 08:37] #1999 closed

[2021-03-23 08:40] meldafrawi commented on #1922
integration test passed

[2021-03-23 08:40] #1922 closed

[2021-03-23 10:09] davidmateos opened #2397 "[BUG] CVE-2020-27350, CVE-2021-24031, CVE-2018-20482, CVE-2019-9923"
**Describe the bug**
A clear and concise description of what the bug is.
We're using Rapid7 and WhiteSource to scan the images that my company uses in its deployments.
Those tools report the following vulnerabilities in `longhornio/longhorn-engine:v1.1.0`, `longhornio/longhorn-manager:v1.1.0`, `longhornio/longhorn-instance-manager:v1_20201216`:
* CVE-2020-27350: `apt-1.6.12ubuntu0.1` is affected.

[2021-03-23 11:32] cocampbe commented on #2338
@PhanLe1010 When you put a volume into maintenance mode, is that stored somewhere? I assumed I would see a reference to it in the volume spec, but I did not see anything.  I am not sure how much work it would take, but it seems to make sense to record that a volume is in maintenance mode and use that as a flag.

[2021-03-23 11:42] LuizBuffa25 commented on #2385
After I waited for longhorn-backend and manager, everything is working.

You may close this issue, thank you.

[2021-03-23 12:43] mbwmbw1337 commented on #2395
I tried deploying via helm and `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v0.8.0/deploy/longhorn.yaml`

Both resulted in the same issue.

Results of command:
# kubectl -n longhorn-system get daemonset/longhorn-manager -o json | grep '"image"'
                        "image": "longhornio/longhorn-manager:v1.1.0",

[2021-03-23 12:47] mbwmbw1337 commented on #2395
I am running **HypriotOS/armv7** possible I need to manually specify an ARM architecture for the image pull during the installation? How would I do that? I am adding some more logs below.

kubectl api-resources --verbs=list --namespaced -o name \

92m         Normal    Pulling             pod/longhorn-uninstall-2mtr6        Pulling image "longhornio/longhorn-manager:v1.1.0"
92m         Warning   F

[2021-03-23 12:58] proligde commented on #2099
@joshimoo I'm late to the party but thanks a lot for your answer! I had deleted the pvc, not the pv but still I wasn't able to recover the link from a new pvc to the pv. In the end I just re-created the cluster in Version 1.1 and restored data from a backup.

[2021-03-23 12:58] #2099 closed

[2021-03-23 13:22] jenting commented on #2395
Currently, we only support amd64 and arm64, there is a feature request #1997 for the armv7 already.

[2021-03-23 13:25] #2385 closed

[2021-03-23 13:31] mbwmbw1337 commented on #2395
Thank you. That resolves the issue.

[2021-03-23 13:31] #2395 closed

[2021-03-23 13:42] tyzbit commented on #2278
Just as an update, I pruned my volumes down to 10 volumes total and scheduled a backup on the problematic volume which completed successfully with only one backup saved.  I am also going to upgrade to 2.5GbE tomorrow which should put me in spec for the recommended network throughput for 10 volumes.

[2021-03-23 14:06] joshimoo commented on #2338
@cocampbe maintenance mode is equivalent with `spec.disabledFrontend = true`

[2021-03-23 15:22] cocampbe commented on #2338
Cool. Thank you.

[2021-03-23 16:50] abennani31 opened #2398 "[QUESTION] Volume never become attached"
Volume never becomes attached. It still in Attaching/detaching state.

---
[longhorn-support-bundle_9e873963-d075-49ce-b96a-a4bf657b7564_2021-03-23T16-36-51Z.zip](https://github.com/longhorn/longhorn/files/6191407/longhorn-support-bundle_9e873963-d075-49ce-b96a-a4bf657b7564_2021-03-23T16-36-51Z.zip)

Version: `v1.1.0`

[2021-03-23 16:51] abennani31 commented on #2398
Kubernetes bare metal installation.
Vm: centos 8 stream

[2021-03-23 17:33] MikaelSmith commented on #2336
The "hardware" is block storage from a Tintri storage array, which is not reporting errors.

I don't have these setup anymore. The last failure I ran through, I checked and all replicas had fsck errors.

Also, running through "export-from-replica" is challenging when using containerd rather than Docker.

[2021-03-23 17:35] khushboo-rancher opened #2399 "[BUG] Deployed image showing 'deploying' state forever."
**Describe the bug**
On upgrading Longhorn v1.1.0 to Longhorn-master, the deployed engine image is showing deploying on the Longhorn UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v1.1.0 on a K8s cluster.
2. Create some volumes and attach them to pods.
3. Upgrade Longhorn using `kubectl` command to master
4. Check the engine image page on Longhorn UI. The engine image s

[2021-03-23 17:37] khushboo-rancher commented on #2399
This happened on my testing env where I deployed Longhorn different versions multiple times. I'm trying to reproduce the issue again if this problem is consistent and can be reproduce, I'll increase the priority.

[2021-03-23 18:03] yasker commented on #2206
We're running out of time to fix this in v1.1.1 release. Move to v1.1.2.

[2021-03-23 18:09] khushboo-rancher commented on #1955
Verified with Longhorn-master - `03/23/2021`

Validation - **Pass**

**With v1.1.0**
Tried listing 50 volumes backups as per https://github.com/longhorn/longhorn/issues/1955#issuecomment-768128322 and it got timed out.
[code]
**With master**
Longhorn listed the backups.

[2021-03-23 18:10] khushboo-rancher commented on #2310
Closing this in favor of https://github.com/longhorn/longhorn/issues/1955

[2021-03-23 18:10] #2310 closed

[2021-03-23 19:13] immanuelfodor commented on #836
I have a related but may be a bit different question. How to reclaim space by a removed _first_ snapshot? My 5G volume became fully utilized by the stored ~300MB data and some experimentation with `dd` to see how a volume grows, then I deleted a replica (as part of learning Longhorn to also see what happens), it created a snapshot automatically to recover the lost replica, then I removed that snap

[2021-03-23 19:39] immanuelfodor commented on #836
After reading this masterpiece (https://github.com/longhorn/longhorn/issues/1555#issuecomment-671097588), I feel I've run into the same issue as others :grinning:

However, these two questions might still be valid:
- Why is the removed snapshot still present on the disk? Maybe it was the first and this is the way Longhorn works with the volume head never replacing back the first snapshot?
- Could

[2021-03-23 20:04] immanuelfodor opened #2400 "[FEATURE] Add tabular display of the visual snapshots, backups and volume head summary"
**Is your feature request related to a problem? Please describe.**
The current display of snapshots & backups & volume head state is very visual but lacks in UX in multiple cases:
- As I searched the issues, I observed that users need to screenshot multiple tooltips when reporting issues to show their current volume state. Examples for snapshot + head state:
  - https://github.com/longhorn/longhor

[2021-03-23 20:53] immanuelfodor commented on #836
I could reclaim the 4.7G space on all replicas with a simple script to recreate the volume with a backup to a `hostPath` PV. As Jellyfin temporarily stores movie transcodes on the config volume which can take up hundreds of megabytes, I can semi-automate the PV recreation this way when the Actual Size will take up too much space over the ~300MB of base files.

**migrate-longhorn.yml**

[code]

**r

[2021-03-24 05:25] innobead commented on #1526
This ticket needs two types of test planes.

`request/automation-e2e` for annotation management
`requrest/manual-test-plan` for the complete e2e flow including S3 operation

cc @khushboo-rancher @meldafrawi

[2021-03-24 07:14] jenting commented on #2387
@b225ccc If I understand correctly, the annotation is added to the longhorn-manager Pods (i.e. longhorn-manager DaemonSet template), right?

[2021-03-24 08:20] jenting commented on #2398
I saw this error on the volume `pvc-3ca3d243-9e72-49b4-a0c2-93746ff3898e-e-b6a79411`
[code]

Could you check the `iscsid` daemon is running on all the nodes?  Ref to https://longhorn.io/docs/1.1.0/deploy/install/#installation-requirements

Also, could you please provide the specific time period and volume name that is in attaching/detaching state?

Thank u.

[2021-03-24 08:24] jenting commented on #2336
The documentation should be updated to provided commands if the Kubernetes cluster using `containerd`.

[2021-03-24 08:33] jenting commented on #2400
@smallteeths any comments or suggestions on it?

[2021-03-24 08:45] smallteeths commented on #2400
![Jietu20210324-163832](https://user-images.githubusercontent.com/27733391/112280171-afbd6800-8cbf-11eb-9fd6-7c53c6d37c97.jpg)
Can we do this by clicking on the backup icon and adding an options `show info` . pop-up window to display a table with backup/snapshot information?

[2021-03-24 08:52] jenting commented on #2330
Thank you for finding the workaround.

Please wait for v1.1.1 which implements `fsfreeze` before snapshot (backup) operations to ensure that the filesystem info is flushed. We think it's probably the root cause of it.

[2021-03-24 09:05] smallteeths commented on #2400
Another option is to display it as a Popconfirm component. This way the UI can display multiple backup/snapshot information at the same time as shown in the figure

![Jietu20210324-170009](https://user-images.githubusercontent.com/27733391/112283490-290a8a00-8cc3-11eb-9560-3de756001bea.jpg)

[2021-03-24 12:56] immanuelfodor commented on #2400
The click on the backup/snapshot icon to show the menu can work on mobile as click=tap.

What would be great is to not only display the individual snapshot info in the popconfirm but from all the existing ones in one table in the next step. It could highlight the corresponding row of the clicked element to let the user know which is that particular one from where they came.

Displaying only one it

[2021-03-24 16:16] MikaelSmith commented on #2336
To clarify, I didn't figure out how to run a container with a mounted volume with containerd. I instead tried deleting and recreating each replica, and was not able to get a working one. It's possible that ended up polluting all of the replicas somehow.

[2021-03-24 16:22] khushboo-rancher commented on #1731
Verified with Longhorn-master `03/24/2021`

Validation - **Pass**

The logs for replica-controller is structured now and have info like, nodeId, OwnerId, dataPath etc.
[code]

[2021-03-24 16:22] #1731 closed

[2021-03-24 16:54] khushboo-rancher commented on #2399
The problem is on upgrading Longhorn v1.1.0 to master, the existing image goes to `deploying` state and then Longhorn functionality stop to work. Volume even can't be upgraded and failed with below error.
<img width="1762" alt="Screen Shot 2021-03-24 at 10 22 08 PM" src="https://user-images.githubusercontent.com/60111667/112351112-9c29f580-8cef-11eb-81d2-860c0ee89d87.png">

<img width="1769" alt="

[2021-03-24 16:59] khushboo-rancher commented on #2347
csi-resizer `longhornio/csi-resizer:v0.5.1-lh1` is getting deployed and running properly with Longhorn-master `03/24/2021`

[2021-03-24 16:59] #2347 closed

[2021-03-24 20:06] b225ccc opened #2401 "[BUG] Volumes not able to attach or detach"
**Describe the bug**
Longhorn had been running fine, but now some volumes are not able to detach or attach properly.

An overview of the status of some volumes:
![image](https://user-images.githubusercontent.com/75042005/112372742-cb1b7980-8ca5-11eb-845e-ecdfe8ff8d42.png)

An individual volume that is stuck in Detaching:
![image](https://user-images.githubusercontent.com/75042005/112373042-25b4d58

[2021-03-24 20:59] b225ccc commented on #2401
I just emailed a support bundle to longhorn-support-bundle@rancher.com

[2021-03-24 21:12] b225ccc commented on #2401
One thing we've noticed is that one of the replica nodes always reports a different state than the other two.  (3 replicas total). You can see in the screenshot in the original report that the `ip-10-0-1-146.ec2.internal` node reports `Running` while the other two report `Stopped`.  This is true for all volumes currently stuck in "Detaching" state.

[2021-03-24 21:37] abennani31 commented on #2398
HI,
I've not started daemon in worker indeed!  In the documentation a saw onlu instructions with yum install and nothing about starting a service.
Thanks for your replay i'ts good now.
Regards

[2021-03-24 21:37] #2398 closed

[2021-03-25 03:23] smallteeths commented on #2372
The front end may not be able to solve this problem. The front end needs to stay connected to get the latest data. And each page has an icon for the status of the ws connection.

![Jietu20210325-112101](https://user-images.githubusercontent.com/27733391/112414083-6a9b4380-8d5c-11eb-98fa-7e389858ab1c.jpg)

[2021-03-25 04:46] jogaleins opened #2402 "[QUESTION] longhorn-manager pod error when creating container"
I created a K3S cluster in LXC ubuntu containers. when doing install via helm chart by running the following command. I'm getting the following errors in the pod.  Can you help advise what is causing the error. My LXC containers are mounted using LVM on /dev/sdb.

Install Steps:
git clone https://github.com/longhorn/longhorn.git
kubectl create namespace longhorn-system
helm install longhorn ./long

[2021-03-25 04:52] yasker opened #2403 "[FEATURE] Create backing image from volume"
**Is your feature request related to a problem? Please describe.**
For VM users, it's often that the user wants to update the content of the volume then create more VM with the updated content. As the storage layer, Longhorn needs to implement creating backing images from volumes in order to support this use case.

**Describe the solution you'd like**
Support creating a backing image from a volume

[2021-03-25 05:00] yasker opened #2404 "[FEATURE] Backing image upload"
Currently, Longhorn can only retrieve backing image from somewhere outside of the Longhorn system. But since Longhorn already stores copies of the backing image, we should allow users to upload the backing image if the user wants to do so locally.

[2021-03-25 05:04] yasker opened #2405 "[FEATURE] Volume download support"
We want to provide an option for the user to directly download the volume from the UI or CLI.

It might be a prerequisite for https://github.com/longhorn/longhorn/issues/2403

[2021-03-25 05:17] yasker opened #2406 "[FEATURE] Support metrics for IOPS and bandwidth real time"
Currently we have real-time IOPS and bandwidth data from the engine, but we haven't connected the data to the manager or exposing it yet.

We want to show the user what's the real-time IOPS and bandwidth for each volume.

It should also be exposed as a Prometheus endpoint so it can be read from outside of the Longhorn system.

[2021-03-25 05:24] yasker opened #2407 "[FEATURE] CSI driver to support external Longhorn cluster"
**Is your feature request related to a problem? Please describe.**
There are some cases that users want to use Longhorn outside of the cluster that's hosting Longhorn. E.g.
1. User is running a Kubernetes cluster inside the VMs, which have Longhorn on the VM layer but not inside the guest cluster.
2. User wants to have a dedicated storage cluster and consume from there.

**Describe the solution yo

[2021-03-25 06:03] cclhsu commented on #2402
I saw you create namespace `kubectl create namespace longhorn-system` instead of create namespace using helm:

[code]

I am not sure if the namespace `longhorn-system` has proper permissions.  Can you try to uninstall following the guide https://longhorn.io/docs/0.8.0/install/uninstall-longhorn/ and redeploy using helm command provides?  Please provide the support-bundle if you continue to have th

[2021-03-25 07:47] c3y1huang commented on #2402
I think this could be related to how LXC container is mounted. If you check the directory, it's likely in private propagation.
[code]

However, we've removed /var/run bind-mount in https://github.com/longhorn/longhorn-manager/commit/d9ac050ef7f5a828cd32422ac568f4648dfe1958#diff-f0046f268c88ac5f6d64449ad5a84d8292f898ba582da43f8e0948aed5d7f4ea and think we forgot to remove it in the chart :-/

@joga

[2021-03-25 08:15] smallteeths commented on #2400
![Jietu20210325-161035](https://user-images.githubusercontent.com/27733391/112440181-f32dda00-8d84-11eb-9ee9-00c2cd483ca7.jpg)

Is it okay to design this way? Would you please check this. @immanuelfodor thanks

[2021-03-25 09:00] immanuelfodor commented on #2400
This is an absolutely love-able design for the table, thank you!

[2021-03-25 09:56] bodleytunes opened #2408 "Cant attach existing volumes after network and node issues: GRPC error: rpc error: code = Internal desc = Action [attach] not available on"
Issue reared its head after nodes were down for some time and there were some transient Network connectivity issues, routing problems etc.

It has happened before but I just created new volumes, this time I would like to see if it's possible to reattach them.

**Environment:**
 - Longhorn version:  1.1.0
 - Kubernetes version:  1.2.x
 - Node config
   - OS type and version:  K3S Latest/Test 1.2.5

[2021-03-25 09:58] bodleytunes commented on #2408
[code]

[2021-03-25 10:31] jogaleins commented on #2402
Yes you're right it's mounted as private instead of shared.

root@worker1:~# findmnt -o TARGET,PROPAGATION /var/run
TARGET PROPAGATION
/run   private
root@worker1:~#

 I tried installing it using this kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/deploy/longhorn.yaml

Result is:
➜  ~ kubectl get all  -n longhorn-system
NAME                                           RE

[2021-03-25 10:50] jogaleins commented on #2402
After re-creating the cluster from scratch. I'm still getting this. and the PROPAGATION is still private.

  Warning  Failed     3m32s                  kubelet            Error: failed to generate container "fe34a5e795f2976c4c625ea7d6c6024d9fe974542e0449affac7f8433c5dece4" spec: failed to generate spec: path "/var/lib/longhorn/" is mounted on "/" but it is not a shared mount
  Warning  Failed

[2021-03-25 10:51] joshimoo commented on #2408
A quick look makes me think that your volume might require salvage, are you running a single replica on the node that went down?
If it requires salvage normally auto salvage should take care of it, when it's enabled. But we are working on some fixing in that area.
If salvage is indeed required you can initiate it via the longhorn ui.

[2021-03-25 10:54] bodleytunes commented on #2408
Hi,
As far as I'm aware I set replicas to 2 when installing longhorn from rancher UI (Apps).
its a 3 node k3s cluster for quorum but the 3rd node is a raspberry pi running noExecute so is only there to stop split-brain from happening.

I'm struggling to actually access the UI, every time I try and create a LoadBalancer entry for it with metal LB I have to set a port of say 30000 which I think maps

[2021-03-25 11:00] joshimoo commented on #2408
I use the L7 ingress via rancher for my dev environment.
You might be able to set this up then look at the underlying rules.
![image](https://user-images.githubusercontent.com/1287163/112462690-a2f15080-8d61-11eb-9f92-3dea1175fee2.png)

[2021-03-25 11:02] c3y1huang commented on #2402
Longhorn doesn't handle the propagation, it needs to be enabled before the install.

I am not too familiar with enabling mount propagation in LXC-container. But [this](https://www.claudiokuenzler.com/blog/955/rancher2-kubernetes-cluster-provisioning-fails-error-response-not-a-shared-mount) might help.

[2021-03-25 11:05] bodleytunes commented on #2408
Thanks! I'll try that now.

[2021-03-25 12:11] bodleytunes commented on #2408
Strange I still get a blank page.  I'm sure I've had this working in the past

I pointed longhorn.wizznet.co.uk at one of my kube host ip addresses

![image](https://user-images.githubusercontent.com/619239/112471004-4131e600-8d63-11eb-9a6b-b674b711b035.png)

[2021-03-25 12:58] bodleytunes commented on #2408
[code]

[2021-03-25 12:59] bodleytunes commented on #2408
This is not working because 10.43 isn't routable and there is no nat mapping to that internal port. Also when I try L4 using metalLB, nothing happens I don't get a new IP advertised for some reason. :-(

[2021-03-25 13:06] bodleytunes commented on #2408
even trying a port forward isn't working
[code]

[2021-03-25 13:17] bodleytunes commented on #2408
Is there any way that I can run these salvage commands from the cli ?

[2021-03-25 13:49] bodleytunes commented on #2408
Cant seem to get to the longhorn frontend service, even traefik is saying its down by the looks of it
![image](https://user-images.githubusercontent.com/619239/112483424-e8694a00-8d70-11eb-8452-2d3e1c3e3c5b.png)

[2021-03-25 13:53] bodleytunes commented on #2408
ok got it working following this: https://forums.rancher.com/t/longhorn-ui-with-traefik/16742/2

[2021-03-25 13:56] bodleytunes commented on #2408
Looking better now after salvage!

![image](https://user-images.githubusercontent.com/619239/112484495-e6ec5180-8d71-11eb-8a05-abe2d1f5fd50.png)

![image](https://user-images.githubusercontent.com/619239/112484550-f66b9a80-8d71-11eb-87b0-83ae76824bee.png)

[2021-03-25 14:01] bodleytunes commented on #2408
All working again now thanks :)

I'm pretty sure auto salvage is already turned on yet they didn't salvage themselves?
Cheers,
Jon.

[2021-03-25 15:04] joshimoo commented on #2408
@bodleytunes I am currently working on some fixes for the auto salvage, since the issue was solved I am closing for now. If you encounter another salvage issue once v1.1.1 is release please reopen.

[2021-03-25 15:04] #2408 closed

[2021-03-25 16:53] khushboo-rancher commented on #2373
Verified with Longhorn-master `3638eb7`

Validation - **Pass**

[2021-03-25 16:53] #2373 closed

[2021-03-25 18:10] khushboo-rancher commented on #2197
Verified with Longhorn-master `03/25/2021`

Validation - **Pass**

The share-manager pod for rwx volume is coming up healthy successfully. Validated basic scenarios of RWX volumes.

[2021-03-25 18:10] #2197 closed

[2021-03-25 21:30] PhanLe1010 commented on #2329
I will fix this bug as part of refactoring the ownership handling logic https://github.com/longhorn/longhorn/issues/2377

[2021-03-25 21:58] meldafrawi commented on #2257
Testing Steps:

1. Create a k3s cluster (1 controller node, 3 worker nodes)  -- by default k3s use traefik as ingress controller.
2. Create traefik ingressclass
[code]
 3. Using Helm: add ingress-nginx repo
[code]
4. Using Helm, create the default values file
`helm show values ingress-nginx/ingress-nginx > nginx-ingress-values.yml`

5. Edit  `Controller.service.ports` to avoid conflicts between ng

[2021-03-25 22:17] #508 closed

[2021-03-25 23:50] PhanLe1010 commented on #2234
close this issue because of no activity. Feel free to reopen it if you still have problem

[2021-03-25 23:50] #2234 closed

[2021-03-25 23:54] PhanLe1010 commented on #2339
Thank @joshimoo for the suggestion
Sure! I would like to take this one after finish other pending issues

[2021-03-26 01:28] PhanLe1010 commented on #2278
Regarding the question https://github.com/longhorn/longhorn/issues/2278#issuecomment-791173613, when we failed to delete a snapshot, we return `nil` and continue to take the backup here:
https://github.com/longhorn/longhorn-manager/blob/f6ff18666ea238c4eec4bfdce9612796da1a0701/app/volume.go#L297
I think this is intended behavior , not a bug  because we would rather have extra backup than missing b

[2021-03-26 02:09] tyzbit commented on #2278
I believe I spoke too soon.  When I did a manual backup it completed successfully however I re-enabled scheduled backups and the issue is back with 3 backups for every backup.
<img width="1384" alt="image" src="https://user-images.githubusercontent.com/3319104/112566838-19b83900-8db6-11eb-8336-2006f2c65147.png">

I upgraded to 2.5GbE between the nodes as well, which puts me in spec for recommended

[2021-03-26 02:15] cclhsu commented on #2322
Hi! @ElisaMeng Just wondering if the option `fsGroupChangePolicy: "OnRootMismatch"` helps you while attaching when restarting?  We have some previous tests and cases relating to stateful with large volume:

- https://github.com/longhorn/longhorn/issues/2168
- https://github.com/longhorn/longhorn/issues/2131

Those are resolved with the option.

[2021-03-26 03:15] jenting commented on #2401
To make clarify, for `3 nodes with Longhorn EBS volumes attached`, is this mean that the Longhorn volume running on these 3 nodes only?
 If yes, could you please check the CPU or I/O performance on these 3 nodes on AWS to check if the resource enough for running about 350 to 495 volumes?

[2021-03-26 03:44] jenting commented on #2203
The pod instance might have the same problem
If the users have replicas across 3 nodes but then a scale in could potentially remove the 3 nodes with the replicas.

ref to https://rancher-users.slack.com/archives/CC2UQM49Y/p1616608281051900

[2021-03-26 03:57] cclhsu commented on #2337
@jinze1107 Are you able to resolve the issue? If not, please try to deploy ISCSI from link below:

https://github.com/longhorn/longhorn-manager/tree/master/deploy/prerequisite

and apply following command

[code]

to see if it helps.  I think it could related to iscsi mod/servevice not staring properly.

[2021-03-26 06:48] Rancheroo opened #2410 "[FEATURE] Document Snapshot Best Practices"
**Is your feature request related to a problem? Please describe.**
The Longhorn documents don't really cover the best practices when it comes to snapshot accumulation risks and best practices.

After using VMware snapshots they are a HUGE risk profile for leaving snapshots in place on a VM to do with delta files and recoverability. For example

https://kb.vmware.com/s/article/1025279

**Describe t

[2021-03-26 06:54] guangbochen commented on #2309
similar issue here, when the host is rebooted the minio pod recovery is blocked by the salvage. cc @yasker
[code]
error log from the longhorn-manager:
[code]
and the volume spec:
[code]

[2021-03-26 08:09] joshimoo commented on #2309
@guangbochen I am working on a fix for your issue as part of a fix for this:
https://github.com/longhorn/longhorn/issues/2329#issuecomment-807527079
This is caused by the volume never being able to to complete a sync loop once the nodeID's have been unset.

[2021-03-26 09:52] bodleytunes commented on #2408
@joshimoo : Is there an open bug I can watch for the auto salvage stuff?
Cheers,
Jon.

[2021-03-26 11:29] jogaleins commented on #2402
Thanks c3y1huang. That did the trick.

[2021-03-26 15:08] silhouette commented on #2171
I'm experiencing a similar issue. I have several volumes stuck in "Deleting" or "Attaching" status and no option to finish the process. Support-Bundle is attached. We had a power outage recently, too, but I'm not sure if it really caused this problem.

[longhorn-support-bundle_3cfdb494-dce5-451c-aa66-83cc180506c8_2021-03-26T15-03-56Z.zip](https://github.com/longhorn/longhorn/files/6212660/longhorn

[2021-03-26 15:16] brian-fa commented on #2401
@jenting Our cluster is 21 total nodes.  3 of these nodes we call our "storage nodes".  Each of these storage nodes has an additional 1TB EBS disk attached that is dedicated for Longhorn.  These storage nodes are tainted (like mentioned [here](https://longhorn.io/docs/1.1.0/advanced-resources/deploy/taint-toleration/)) so that no general workloads get scheduled to these nodes.  So these storage no

[2021-03-26 16:51] meldafrawi commented on #2333
Failed to read test report file: https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/301/

[2021-03-26 19:38] khushboo-rancher commented on #2387
Verified with Longhorn helm changes from https://github.com/longhorn/longhorn/pull/2391/files

@jenting The annotation is getting added to `spec->template->metadata->annotations`, shouldn't be this add to `metadata->annotations` ?

[code]

Also, this should be added to the Rancher charts. Linking this with https://github.com/longhorn/longhorn/issues/2262

[2021-03-26 19:42] khushboo-rancher commented on #2387
Can we update the values.yaml inline comment for annotations to `# Annotations to add to the Longhorn Manager DaemonSet's. Optional.` as annotations are only getting added to longhorn-manager daemonSet?

[2021-03-26 20:19] khushboo-rancher commented on #2399
Verified with Longhorn master `03/27/2021`

Validation - **Pass**

The engine image is now showing `deployed` on upgrading Longhorn v1.1.0 to master.

[2021-03-26 20:19] #2399 closed

[2021-03-26 21:05] khushboo-rancher opened #2411 "[BUG] Attach option available for an already attached RWX volume."
**Describe the bug**
Attach option available for an already attached RWX volume.
<img width="1755" alt="Screen Shot 2021-03-27 at 2 23 21 AM" src="https://user-images.githubusercontent.com/60111667/112691954-1a2efd80-8ea4-11eb-9637-f8a089021e36.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Create a RWX volume.
2. Attach the volume to a workload.
3. Check the Longhorn UI, the attach o

[2021-03-26 21:07] khushboo-rancher commented on #2338
Verified with Longhorn-master `03/27/2021`

Validation - **Pass**

Validated with RWX volume, the detach option is available to a RWX when attached to a node only and not available when attached to a pod.
Observed one regression for attach button https://github.com/longhorn/longhorn/issues/2411

[2021-03-26 21:07] #2338 closed

[2021-03-27 12:46] FCarvMobil commented on #2029
Hello guys, just an update from me about the issue.

Starting from the assumption that the problem was in one of my cluster nodes (every volume in a pod running at this node starts to fail the backup as explained earlier) I managed to isolate the node where K8s don't schedule pods with PVCs on it.

Then, the problem 'moved' to another node... sigh.

So I'm asking if there's any news about this ope

[2021-03-27 13:04] virus2016 commented on #2029
Hopefully this fix will address our issues. When are we looking to get the next release of longhorn with this in it?

[2021-03-27 15:58] tuxpeople commented on #1286
Should this be fixed in 1.1.0? I'm asking because it looks like I still have this problem with 1.1.0.

It's a three worker node cluster, Rancher Initiated RKE, Kubernetes v1.20.4.

[code]

[2021-03-27 16:17] ElisaMeng commented on #718
How do we fix problem, I seem similar thing in v1.1.0

[2021-03-27 17:43] khushboo-rancher commented on #1286
@tuxpeople Looks like the pod `elasticsearch-master-0` was unable to terminate in your case.
The reason `instance-manager` didn't evict is `instance-manager` pod will only evict at the last i.e. once all the pods on the node is evicted. If there is any other pod still exists on the node, PDB will restrict `instance-manager` to evict.

[2021-03-27 18:10] khushboo-rancher commented on #2328
Verified with Longhorn-master `03/27/2021`

Validation - **Pass**

The number of parallel upgrade of volumes is as per `concurrent auto engine upgrade per node limit` setting.

[2021-03-27 18:10] #2328 closed

[2021-03-27 18:11] khushboo-rancher commented on #2281
Closing this in favor of https://github.com/longhorn/longhorn/issues/2328

[2021-03-27 18:11] #2281 closed

[2021-03-27 18:30] tuxpeople commented on #1286
@khushboo-rancher Thanks!

[2021-03-28 11:33] khushboo-rancher commented on #2292
Verified with RKE2 cluster with the Yaml and Helm changes.

Validation - **Pass**

I was able to reproduce the problem with v1.1.0. With Longhorn-master the longhorn-post-upgrade and longhorn-uninstall jobs work fine on RKE.

Linking this with https://github.com/longhorn/longhorn/issues/2262 to validate this with Rancher charts.

[2021-03-28 11:33] #2292 closed

[2021-03-28 16:59] codeclown opened #2412 "[BUG] longhorn-manager fails to start on Docker for Mac ("... is not a shared mount")"
**Describe the bug**
longhorn-manager pod fails to start on Kubernetes managed by Docker for Mac, due to bidirectional mount issue.

Most likely caused by an issue in Docker for Mac (see Additional context below).

**To Reproduce**
Steps to reproduce the behavior:
1. Reset the cluster from Docker for Mac Preferences (cluster is now empty, doesn't contain user-installed resources)
2. Install Longho

[2021-03-28 22:47] ElisaMeng opened #2413 "[BUG] failed to make any backup"
**Describe the bug**
A clear and concise description of what the bug is.
I have scheduled a backup job, but it seems I never get any backup happened. So I decide to do it manually. I then ends up in getting an error like this:

`fail to create snapshot: error creating snapshot '': Timeout executing: /var/lib/longhorn/engine-binaries/longhornio-longhorn-engine-v1.1.0/longhorn [--url 10.42.2.105:100

[2021-03-29 01:13] #2402 closed

[2021-03-29 01:32] jenting commented on #2387
No, the purpose is to add the annotation to the longhorn-manager Pods. Since the longhorn-manager Pods created by longhorn-manager DaemonSet, so adding the annotation to longhorn-manager DaemonSet will apply to longhorn-manager Pods.

[2021-03-29 01:48] vincetai opened #2415 "Photon OS - iscsi issue pvc keeps being attached and detached"
Hi,

pvc keeps being attached and detached. Longhorn was installed on VMware Tanzu Grid w/ K8S v.1.8 installed.
Worker nodes are Photon OS so open-iscsi was installed instead of iscsi-initiator-utils.
Tested iscsi daemon is up and running.

VT
[longhorn-support-bundle_c21c0082-0f59-4d32-9153-8034a77806af_2021-03-29T01-47-43Z.zip](https://github.com/longhorn/longhorn/files/6218722/longhorn-support-

[2021-03-29 02:02] cclhsu commented on #2415
Message from `engine-manager.log` has the following error:

[code]

Seems to be PhotoOS package related as described in [Missing kernel modules to support software iSCSI with the open-iscsi package
#1039](https://github.com/vmware/photon/issues/1039).  Maybe method in the ticket can help you.

[2021-03-29 02:46] shuo-wu commented on #718
The implementation of this part in v1.1.0 is different from v0.6.0. If there are multiple sets of instance managers in your Longhorn system, this means some running volumes are still handled by old instance managers.

[2021-03-29 02:59] shuo-wu commented on #2029
@FCarvMobil I plan to replace `sync` with `fsfreeze` for the snapshot creation. Then the following backup creation won't be blocked if `sync` is the root cause.

@virus2016 The fix will be in the next release.

[2021-03-29 03:11] smallteeths commented on #2411
I'm not quite sure what our expected behavior should be. For rwx volume should we consider the case of attaching multiple nodes? Or should I disable the attach operation after attaching a node.

The difference between rwx volume and rwo volume in longhorn is that the actions in the data returned to the front end after attaching the rwx volume can still perform attach actions

![Jietu20210329-11084

[2021-03-29 03:35] innobead commented on #2308
@khushboo-rancher you can close it if no extra issues. Thanks.

[2021-03-29 03:36] shuo-wu opened #2416 "[BUG] There is no way to cancel the file syncing when the caller becomes invalid"
**Describe the bug**
For backing image manager, if a backing image is removed during the file syncing, the syncing goroutine cannot be stopped or cancelled.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy backing image managers for 2 nodes.
2. Enter into the 1st manager pod, pull a backing image from the remote.
3. Limit the bandwidth of the 1st manager pod so that it won't syncing th

[2021-03-29 04:13] tyzbit commented on #2278
Increasing the guaranteed CPU to 1.0 had little effect; my cluster has a good amount of spare CPU per node so Longhorn would have had more CPU when it needed it.

I actually happened to catch the backup run about 5 minutes after it started and it looks like two backups are started basically at once
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/3319104/112785132-4cb23

[2021-03-29 04:32] vincetai commented on #2415
Thanks cclhsu but after I "yum install linux", the issue persists.

[2021-03-29 04:52] cclhsu commented on #2415
Have yout tried to

[code]

[2021-03-29 04:55] vthk commented on #2415
tried to?

[2021-03-29 05:05] innobead opened #2417 "[BUG] after deleting all backups, the backup blocks do not be cleaned up"
**Describe the bug**

After deleting the used VolumeSnapshots, even the backup was deleted but the referenced backup blocks did not get cleaned up.

ref: https://github.com/rancher/harvester/issues/385

**To Reproduce**

Please refer to the discussion thread. https://github.com/rancher/harvester/issues/385.

**Expected behavior**

The unused backup blocks should be cleaned up.

**Log**
If applicab

[2021-03-29 05:50] innobead commented on #2351
In the current implementation, the engine image container is just like a driver/bin installer, so it should be an atomic operation. But unfortunately, because it involves the file copy in the mounted hostpath volume, so it's possible to encounter some race issue before and after the operation.

I doubt this only happens in the tests. Let's figure it out in the test regression.

cc @khushboo-ranche

[2021-03-29 07:19] vincetai commented on #2415
yes. tried but no luck. attached please find the support bundle again.
btw, i can create iscsi volume and assign to node properly.
but when i create a block volume and assign to node, the volume will keep being attached and detached, too.
thanks.

vt

![image](https://user-images.githubusercontent.com/70743517/112800391-2d0f2100-90a2-11eb-80a4-8eb603ee7a99.png)

[2021-03-29 07:21] vincetai commented on #2415
[longhorn-support-bundle_dfa030f9-4e1c-4e55-8fac-2eb4dc273897_2021-03-29T07-17-25Z.zip](https://github.com/longhorn/longhorn/files/6219954/longhorn-support-bundle_dfa030f9-4e1c-4e55-8fac-2eb4dc273897_2021-03-29T07-17-25Z.zip)

[2021-03-29 08:13] cclhsu commented on #2415
The error message is different now:

[code]

I notice you are using `longhornversion: v0.8.0`.  Can you update to `v1.1.0`?  The issue could be related to https://github.com/longhorn/longhorn/issues/1240.

[2021-03-29 10:05] innobead commented on #1526
After discussing with @jenting, we decide to defer the automation-e2e to later because it needs more effort than expectation and possibly impacts the current test regression.

[2021-03-29 10:21] c3y1huang commented on #2357
Looking at the previous discussion it seems this issue is caused by a mismatch of the Domain in /etc/idmapd.conf between client and server.  In share-manager NFSv4 domain is set to `localdomain` by default which is included as part of the lookup string. A mismatch between `Domain = localdomain` and `Domain = lan` caused mapping incomplete and hence file permissions to fall back to use `nobody:nogr

[2021-03-29 10:26] c3y1huang commented on #2357
Also from the discussion, noticed that the shared directory seems not rw accessible when the consumer pod is running as none-root user. This could be related to the suggested fix in https://github.com/longhorn/longhorn/issues/2357#issuecomment-802718167. I will create a new issue for that.

[2021-03-29 10:35] vincetai commented on #2415
done. longhorn is now 1.1.0 on k8s v1.81. issue persists. attached please find the support bundle. thanks.

vt
[longhorn-support-bundle_07b1bc13-95a3-4e37-bd89-4bc9d2560352_2021-03-29T10-33-12Z.zip](https://github.com/longhorn/longhorn/files/6221101/longhorn-support-bundle_07b1bc13-95a3-4e37-bd89-4bc9d2560352_2021-03-29T10-33-12Z.zip)

[2021-03-29 10:39] c3y1huang opened #2418 "[FEATURE] rwx shared directory should be rw accessible when running as non-root user"
**Describe the bug**
The rwx shared directory seems not rw accessible when the consumer pod is running as non-root user.

**To Reproduce**
Steps to reproduce the behavior:
1. Create rwx pvc with pod running as non-root user.
2. Create file in /data/

**Expected behavior**
Able to create file.

**Log**
`n/a`

**Environment:**
 - Longhorn version: 1.1.0

**Additional context**
From discussion in htt

[2021-03-29 10:44] innobead commented on #2418
cc @joshimoo any idea?

[2021-03-29 10:55] ElisaMeng commented on #2413
Is backup actually working, I run v1.1.0 and do backup to minio. After create backup, my backup list is still empty after a couple of hours.

[2021-03-29 10:56] c3y1huang commented on #2357
@hendra-2020 thank you for the info about the cluster domain. We will look more into this.

[2021-03-29 11:09] khushboo-rancher commented on #2308
Verified with Longhorn-master - `03/29/2021`

Validation - **Pass**

[2021-03-29 11:09] #2308 closed

[2021-03-29 11:28] c3y1huang commented on #2357
@hendra-2020 could you provide the server's /etc/idmapd.conf before you updated it?

[2021-03-29 11:33] khushboo-rancher commented on #2387
Thanks @jenting for confirming, updated https://github.com/longhorn/longhorn/issues/2387#issuecomment-808467265 and closing it as it is working as expected.

[2021-03-29 11:33] #2387 closed

[2021-03-29 11:48] cclhsu commented on #2415
The log has the same iscsi error as in the very beginning:

[code]
Please make sure that iscsi and [Installation Requirements](https://longhorn.io/docs/1.1.0/deploy/install/#installation-requirements) are checked before longhorn deployments.  Thanks!

[2021-03-29 11:50] hendra-2020 commented on #2357
@c3y1huang The pod uses the standard volumeMounts using longhorn RWX through PVC accessMode ReadWriteMany. When the pod is started and share is just mounted, the ownership is corrent (root:root). However, as the host log shows, there is a background process nfsidmap (in the pod/host) for nfs4 mounts which regularly every 10m trying to check ownership (this happens even if rpc.idmapd is not running

[2021-03-29 17:34] khushboo-rancher opened #2420 "[BUG] Unable to attach RWX to a node using Longhorn UI"
**Describe the bug**
RWX volume doesn't attach to a node when attach request is sent by Longhorn UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a RWX volume using Longhorn UI.
2. Create PV/PVC for that volume.
3. Click attach and select a node.
4. The volume doesn't get attached to the node.

**Expected behavior**
The volume should get attached to the node.

**Log**
I don't see L

[2021-03-29 17:35] khushboo-rancher commented on #2411
I think this is because of https://github.com/longhorn/longhorn/issues/2127 may be. @joshimoo Can you check this?

[2021-03-29 17:44] khushboo-rancher commented on #2127
@joshimoo I tried the below scenario,
[code]
 I'm using Longhorn UI to detach the volume and it get stuck at step 8.
[code]
As in Longhorn UI there is no selection of node available in case of detach, how can test this?

I see the integrated test `test_migration` has been passing in nightly runs. Can we rely on those tests for validation of the feature?

I think the best way to validate this is by

[2021-03-29 17:54] ElisaMeng commented on #2383
sorry, i did not see this. i think everything was being erased since i have re-installed longhorn.

[2021-03-29 17:55] joshimoo commented on #2127
@khushboo-rancher yeah the e2e tests the migration correctly and can be relied on.

For the manual test:
- create pvc with Block VolumeMode, see https://longhorn.io/docs/1.1.0/references/examples/#block-volume
- spawn first pod wait for running
- spawn a second pod, wait for running

Case migration success
- terminate pod 1 (migration success)

Case migration rollback
- terminate pod 2 (migration

[2021-03-29 17:57] joshimoo commented on #2420
RWX volumes can only be manually attached in maintenance mode, otherwise they are controlled by the share-manager.

[2021-03-29 18:00] joshimoo commented on #2411
I am working on always exposing the attach/detach actions as part of the action map, so we can call them irregardless of state of the volume. The backend will then do the appropriate action.

You can hide the attach/detach options unless the volume is in maintenance mode, i.e disableFrontend.
You can wait with this changes, till my volume api changes hit, since there will be changes on the attach/

[2021-03-29 18:33] khushboo-rancher commented on #2420
@joshimoo Thanks for clarifying this behavior change from v1.1.0 to master. Do you think we should show a message on the Longhorn UI in this case?

[2021-03-29 20:21] vincetai commented on #2415
Hi,

Already installed all the pre-requisites listed at https://longhorn.io/docs/1.1.0/deploy/install/#installation-requirements.

[iscsi daemon is working fine]
sudo systemctl status iscsid● iscsid.service - Open-iSCSI
   Loaded: loaded (/lib/systemd/system/iscsid.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2021-03-29 19:50:13 UTC; 4s ago
     Docs: man:iscsid(

[2021-03-30 00:56] c3y1huang commented on #2357
The /etc/idmapd.conf looks good.
Another scenario is when the domain name is resolving to the loopback.
[code]
Could you check if this is your case?

[2021-03-30 02:05] cclhsu commented on #2413
HI! Can you provide support bundle so we investigate? Also, It seems like the resources (CPU/Network) is are at low-end side probably can try to increase the resource.

[2021-03-30 02:27] cclhsu commented on #2412
Hi! Longhorn currently do not officially support "Docker-on-Mac".  It is required for Longhorn to deploy on file-system supporting shared mounted.  HFS+ seems not support it.

[2021-03-30 03:18] vthk commented on #2415
i think i know whats wrong with it. iscsi daemon is fine but the module iscsi_tcp was missing from the open-iscsi i installed from photonos' repo. for the time being i dont know how to get the missing module installed as photonos is quite restrictive. let mw try to sort it out first. thx

vt

[2021-03-30 03:35] PhilParisot commented on #1061
Any updates for this?

[2021-03-30 05:37] c3y1huang commented on #2418
This doesn't look like a bug anymore but is more related to kubernetes consumer pod mount behavior.
https://github.com/kubernetes/kubernetes/issues/77986

Since we've exported the NFS as root. The consumer pod then needs to access with the same user. With the current design, there are two ways to resolve when the consumer pod is running as non-root.
1. Use securityContext to enforce to run as root

[2021-03-30 05:40] jenting commented on #2417
I create a Longhorn cluster with version v1.1.0 and v1.1.1-preview1 respectively and deploy an Elasticsearch cluster (StatefulSet) on it. However, I can't reproduce the issue.

Delete VolumeSnapshot would delete backups in S3 or NFS. If all the volume's VolumeSnapshot deleted, the folder `backups/` and `blocks/` would be deleted also.

Note: The only remaining is the `volume.cfg` if all volume's V

[2021-03-30 05:59] c3y1huang commented on #2418
I will close this for now. Please re-open if this needs another look.

[2021-03-30 06:03] nickngch opened #2422 "[BUG] Application couldn't mount the volume after expanded the volume"
**Describe the bug**
Application (Harbor in this case) couldn't mount volume after expanded on the Longhorn UI

**To Reproduce**
Steps to reproduce the behavior:
1. Scale down the application replica to 0
2. Expand the volume from 200GB to 400GB on Longhorn UI
3. The volume expanded successfully on the Longhorn UI
4. Scale up the application replica to 1
5. The application failed to mount the volu

[2021-03-30 06:24] c3y1huang commented on #2351
This one I was able to reproduce manually. But when it gets stuck, restart again would mostly fix it.

[2021-03-30 07:25] hendra-2020 commented on #2357
@c3y1huang This is not my case, the server is resolving to its own proper IP, not localhost.

[2021-03-30 07:56] innobead commented on #2257
I think the modified value of `ingress.enabled` is `true`.

[2021-03-30 08:30] khushboo-rancher commented on #2351
https://github.com/longhorn/longhorn/issues/2113 could be similar one.

[2021-03-30 09:48] ElisaMeng opened #2423 "[BUG] Minior typo in a lhv yaml stop entire cluster from working"
**Describe the bug**
A clear and concise description of what the bug is.
longhorn manager failed to startup

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'kubectl -n longhorn-system rollout restart daemonset longhorn-manager'
2. longhorn-manager pod keep electing leader forever

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log**
If

[2021-03-30 10:16] #2333 closed

[2021-03-30 10:18] meldafrawi commented on #2257
@innobead Fixed, Thank you.

[2021-03-30 10:19] ElisaMeng commented on #2423
finally it passed, but crash with:

[code]

engine image was deployed early, but since no volume use it anymore, it get clean up and removed for some reason.

[2021-03-30 10:48] khushboo-rancher opened #2424 "[BUG] Volume starts with uppercase in the volume details page"
**Describe the bug**
Volume name in the volume detail page is appearing with first letter as uppercase.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume using Longhorn UI named `volume-test-2`
2. Click on the volume to go to the volume detail page.
3. See the name appearing as `Volume-Test-2`
<img width="844" alt="Screen Shot 2021-03-30 at 2 59 33 PM" src="https://user-images.

[2021-03-30 11:03] ElisaMeng commented on #2423
Problem addressed, there is lhv has recurring backup configured, and it seem there is typo in it. this might typo shutdown entire cluster.

[2021-03-30 11:49] c3y1huang commented on #2357
According to the idmapd, the Domain needs to be the FQDN minus hostname.
Could you confirm `hostname --fqdn` returned something like `xxx.lan`?

[2021-03-30 12:26] hendra-2020 commented on #2357
Yes, this is correct, the name returned is xxx.lan.

[2021-03-30 13:37] jenting commented on #2424
It also happens at LH v1.1.1-preview1 version.

[2021-03-30 13:54] bdsoha commented on #2195
Me too

[2021-03-30 14:33] PhilParisot commented on #1549
Any updates? I'm on a fresh install, everything at their defaults, followed the instructions step by step.

[2021-03-30 14:35] PhilParisot commented on #1549
What would be the best workaround at the moment?

[2021-03-30 14:38] ElisaMeng commented on #2423
Steps to reproduce:
- kubectl -n longhorn-system edit lhv <a lhv>
- put it some valid yaml syntax, but not for friendly to longhorn
- add a new node to cluster
-  longhorn not possible to attach any lhv
- restart longhorn-manager  daemonset.
- no manager can be ready, you cluster is gone. :(

Might need two engine image in the cluster since it is this line stop longhorn-manager to startup

`level=

[2021-03-30 15:12] PhilParisot commented on #1549
[code]

[2021-03-30 15:13] PhilParisot commented on #1549
and I get this when trying the get the logs:
[code]

[2021-03-30 15:15] PhilParisot commented on #1549
[code]

[2021-03-30 15:21] codeclown commented on #2412
Thank you for the quick response! Understood, just wanted to check to make sure it's not behind a config or something. Closing.

[2021-03-30 15:21] #2412 closed

[2021-03-30 15:25] jaisers commented on #1549
Ok, here is probably the problem:
Failed environment check, please make sure you have iscsiadm/open-iscsi installed on the host
The package iscsiadm/open-iscsi is probably missing on the worker nodes.
Can you install it on the systems and check if the deployment gets a step further?

[2021-03-30 15:28] PhilParisot commented on #1549
Ok I'll check thanks @jaisers

[2021-03-30 15:56] PhilParisot commented on #1549
Snap I think that worked! Thanks @jaisers!

[2021-03-30 21:05] khushboo-rancher commented on #2400
Verified with Longhorn-master `03/31/2021`

The `Name` column and `ID` columns are same. We can remove repeated info from the table I believe.
<img width="1765" alt="Screen Shot 2021-03-31 at 2 30 11 AM" src="https://user-images.githubusercontent.com/60111667/113056441-6e4e2080-91c9-11eb-882d-66a6690f31d4.png">

[2021-03-30 21:46] tyzbit opened #2425 "[BUG] Storage over provisioning setting can be misinterpreted"
**Describe the bug**
I had a problem which required me to recreate my Kubernetes cluster.  I reused the masters and worker nodes without wiping the entire disks, but cleared out `/var/lib/rancher/longhorn` and the storage directory, `/mnt/external/longhorn/`.  When I create any volumes, they have scheduling failures.

I have a lot of the same symptoms as #2147

**To Reproduce**
Steps to reproduce

[2021-03-30 22:51] jenting commented on #2336
Sorry for the late reply.

1. Could you please check which replica is the healthy one? You could consider installing `docker` on the host and follows https://longhorn.io/docs/1.1.0/advanced-resources/data-recovery/export-from-replica/ to mount the block device to access the data to check which replica is the healthy one.
2. Try to fix the block device by run `fsck` check and repair unhealthy repli

[2021-03-30 23:16] MikaelSmith commented on #2336
This cluster no longer exists. I may be able to set up another to test sometime in the next week or two.

Given how frequently this occurred, my concern was more that it was a recurring issue, not recovering from that specific failure.

[2021-03-30 23:34] PhanLe1010 commented on #2377
Manual test:
**Case 1:**
Test case 1 in the reproduce steps in the issue description

**Case 2:**
Test case 2 in the reproduce steps in the issue description

**Case 3:**
1. Set up a 3 node cluster and install Longhorn
1. Create a Deployment/StatefulSet of 1 pod using a volume of 3 replicas.
1. Taint the node that is not where the volume is attaching to with the taint `k=v:NoExecute`
1. Scale down

[2021-03-30 23:54] PhanLe1010 commented on #2377
@smallteeths
Besides the backend, This issue contains a UI bug. Can you help to fix?
* Each engine image object has the map `NodeDeploymentMap` that shows which node has this engine image like:
[code]
* When user click on this popup modal:
   <img width="1509" alt="111682663-a610ac00-884a-11eb-8729-4fe8293a5694" src="https://user-images.githubusercontent.com/22139961/113070737-25ba4700-9178-11eb-9

[2021-03-31 01:48] tyzbit commented on #2425
[support bundle](https://github.com/longhorn/longhorn/files/6233283/longhorn-support-bundle_5be709ef-a54d-46ea-971f-a9f7c4fb4b26_2021-03-31T01-47-43Z.zip)

[2021-03-31 02:46] innobead commented on #2425
Thanks for the reporting.

The settings CR seems not to be removed. Please make sure to follow the [uninstall process](https://longhorn.io/docs/1.1.0/deploy/uninstall/) to clean up the old cluster nodes.

The workaround, please delete the `setting.longhorn.io` resources by yourself, then restart the longhorn-manager daemon to let the manager recreate the setting.

cc @cclhsu please follow up.

[2021-03-31 03:19] tyzbit commented on #2425
When I uninstalled, I did `helm uninstall`.  After uninstalling again, I double checked that the settings custom resources were gone:
[code]

After reinstalling with helm, the issue persists.  I even ran the CRD removing script on that page.

[2021-03-31 03:29] jenting opened #2426 "[BUG] sparse tool crash"
**Describe the bug**

Replace the longhorn-engine with lastest commit `98a2ee802384cf387d0d91d453e5e8d1d795e2c5`, the replica instance manager show panic message
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Replace the longhorn-engine with lastest commit `98a2ee802384cf387d0d91d453e5e8d1d795e2c5`
2. Watch the log of replica instance manager
3. Delete some replicas

**Expected behav

[2021-03-31 03:40] c3y1huang commented on #2423
Can you share the yaml you've used for `RecurringJobs`?

[2021-03-31 04:43] c3y1huang commented on #2357
Thank you for confirming @hendra-2020 .

To Reproduce:
1. Setup cluster hosts FQDN in /etc/hosts
[code]
2. Deploy pod with rwx pvc.
[code]

To Resolve:
1. Uncomment or add `Domain = localdomain` in /etc/idmapd.conf on all cluster hosts.
[code]
2. Delete, and re-create rwx resource stack (pvc + pod).
[code]

[2021-03-31 05:10] innobead commented on #2400
Agree, thanks @khushboo-rancher :+1:

[2021-03-31 05:18] smallteeths commented on #2400
Because the data is the structure of the tree. So I kept the id for the user to compare the parentid. If only name is left, is it semantically worse? @innobead i

[2021-03-31 05:32] innobead commented on #2400
It's fair from the semantic point of view. Let's keep it for now until a strong reason to remove it. Thanks for the explanation. :+1:

[2021-03-31 07:54] joshimoo commented on #2426
@cclhsu This happens because the request is missing the directIO query param, see
https://github.com/longhorn/sparse-tools/blob/deeff402e893e8af727b6f75ae1db3286303bf80/sparse/rest/handlers.go#L77

[2021-03-31 08:20] jenting commented on #2426
Updates: all images I used are v1.1.1-preview1 version expect the engine-image is build from the latest master branch.

[2021-03-31 08:47] joshimoo commented on #2422
Here is a case how this could happen as mentioned during the meeting:
- scale down workload
- use longhorn ui to expand the volume
- wait for expansion finish

These 2 steps could be combined
- scale up workload
- update pvc size to match new size

Error happens here
- now csi-resizer cannot call expand / csi plugin errors out since we don't support online expansion

Therefore pvc is stuck in `rez

[2021-03-31 09:21] shuo-wu commented on #2422
As Joshua mentioned above, the resizer error is by modifying the PVC size when the volume is attached.

As for the mount failure log, it's probably a transient errors. The volume mount works finally: https://github.com/longhorn/longhorn/issues/1712

[code]

[2021-03-31 09:33] shuo-wu commented on #2422
We may need to modify the implementation of the UI expansion: If there is a PVC, we need to directly update the PVC.

[2021-03-31 09:37] joshimoo commented on #2422
Just leaving some notes here related to the expansion/resizer:
- I fixed some idempotency issues for the resize operation, which will be in v1.1.1
- the old csi-resizer 0.5 does not respect the offline expansion only capability, so it always calls Expand where we will return FailedPrecondition, the newer resizer has a setting for this see: https://github.com/kubernetes-csi/external-resizer/blob/re

[2021-03-31 09:37] joshimoo commented on #2422
@nickngch it's sufficient and better to update the PVC size then kubernetes will initate the longhorn volume expansion once the workload is scaled down and kubernetes + longhorn will be in sync.

[2021-03-31 10:07] joshimoo opened #2427 "[TASK] benchmark noatime mount option"
I thought about this before but didn't have time to benchmark the difference.
We should consider adding this as a mount options to the default storage class or at least creating a KB article for this.
Right now anytime a file is accessed on an EXT4 filesystem, we will have to do a write for each replica even though we only need to read from one.

Benchmark test:
- Create 2 Storage Classes one with

[2021-03-31 10:09] nickngch commented on #2422
@joshimoo thanks for the information!

[2021-03-31 10:44] #2400 closed

[2021-03-31 10:48] immanuelfodor commented on #2400
This was a really quick implementation, thank you everyone! :)

[2021-03-31 10:49] #2417 closed

[2021-03-31 10:53] innobead commented on #2420
cc @smallteeths

[2021-03-31 11:14] TeoGoddet opened #2428 "[FEATURE] Feedback on volume salvage"
**Is your feature request related to a problem? Please describe.**
Longhorn UI is not verbose about volume salvaging. Users have not feedback about failure reason or anything (except if the volume change from the faulted to another state)
**Describe the solution you'd like**
- displaying a popup indicating the result of the operation
- displaying more infos in the event log

[2021-03-31 11:21] TeoGoddet opened #2429 "[Question] Restore from backup PVC created volume."
**Question**
How can I restore a backup to an pvc/pv created volume ?
I tried to restore the backup to a volume using the previous name option but fail because original volume still exist.
I tried to restore the backup to a volume not using the previous name option but i cannot then bind the pvc to the new volume.
I'm unusure this possible now and may switrch this to a feature request.
Thanks
**En

[2021-03-31 13:08] c3y1huang commented on #2372
Seems like a side-effect from the fix of adding timestamp in https://github.com/longhorn/longhorn/issues/648.

I've deployed 100 pvc, wait until detached, and open the dashboard page with a browser.

The observation with the current master branch code base shows continuing traffic even if there is no resource change.
![Screenshot-2021-03-31-19:17:47](https://user-images.githubusercontent.com/22583

[2021-03-31 14:52] mtfsc opened #2430 "[BUG] longhorn-manager breaks after deleting disk (invalid memory address or nil pointer dereference)"
**Describe the bug**
After Deleting a Disk from UI, longhorn-manager gooes into CrashLoopBackOff state. We are unable to recover from this point and have to uninstall longhorn completely to get it working again.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh Install of Longhorn with kubectl (like described in documentation)
2. Goto UI
3. Click on Nodes, Edit Node & Disk, click on Sche

[2021-03-31 15:20] ElisaMeng commented on #2423
[code]

I do a kubectl edit lhv, and as far as I remember, it is something like above.

[2021-03-31 15:39] saiyam1814 opened #2431 "[BUG] CSI snapshotting not working using a tool Kubestr"
I am trying to get a benchmark done using a new tool called Kubestr but it gets stuck after the snapshotting phase.
Steps performed:

- Create K3s cluster
- Install Kubestr -> https://github.com/kastenhq/kubestr/releases/tag/v0.4.13
- install  Longhorn via Kubectl
- Enable CSI Snapshot Support on a Cluster using this guide -> https://longhorn.io/docs/1.1.0/snapshots-and-backups/csi-snapshot-suppor

[2021-03-31 15:39] saiyam1814 commented on #2431
cc - @yasker

[2021-03-31 16:32] saiyam1814 commented on #2431
Slack thread - https://rancher-users.slack.com/archives/CC2UQM49Y/p1617205245088700

[2021-03-31 16:47] khushboo-rancher commented on #2127
Verified with Longhorn-master `03/31/2021`

Validation - **Pass**

Validated the cases from https://github.com/longhorn/longhorn/issues/2127#issuecomment-809585801, the migration and rollback work fine on Longhorn-master and Longhorn-master upgraded set up.

[2021-03-31 16:47] #2127 closed

[2021-03-31 16:48] ElisaMeng commented on #2423
@c3y1huang I don't think the main issue here is to reproduce it, but to review the over architecture here. An error in an individual volume shall not prevent the entire cluster from working. What do you say @joshimoo @yasker ?

[2021-03-31 17:12] khushboo-rancher commented on #1943
Verified with Longhorn-master - `03/31/2021`

Validation - **Pass**

Steps:
1. create a volume.
2. create a snapshot.
3. remove a replica.
4. wait till the new replica is ready
5. Logs from instance-manager
[code]

[2021-03-31 17:12] #1943 closed

[2021-03-31 17:19] khushboo-rancher commented on #2424
Verified with Longhorn-master `03/31/2021`

Validation - **Pass**

<img width="833" alt="Screen Shot 2021-03-31 at 10 48 32 PM" src="https://user-images.githubusercontent.com/60111667/113184807-47e4bf80-9273-11eb-89a2-e36518ed77e1.png">

[2021-03-31 17:19] #2424 closed

[2021-03-31 20:58] runningman84 commented on #2272
hi @PhanLe1010 you are right... the request somehow did not reach the api. I could create a pvc using a port forward to the longhorn-frontend service.

Funny enough the webgui works fine using the ingress but the create pvc operation is somehow different?

This is my traefik ingress config:
[code]

[2021-03-31 22:32] ElisaMeng commented on #2430
This is very bad from architecture perspective, see also #2423

[2021-04-01 01:48] smallteeths commented on #2372
I'm not so sure if this problem can be modified from a front-end perspective. The volume needs to be kept up to date.  I think the reason for the high traffic is that it keeps pushing data to the front end even when there is no change in the data. I think we can push a null when there is no data change. This way ws can keep the heartbeat and the amount of data is not very large

Issue#648 The prob

[2021-04-01 02:22] smallteeths commented on #2420
The ui can be modified in this way. Selected by default and disabled `Maintenance` radio When manually attaching rwx volume.

![Jietu20210401-102047](https://user-images.githubusercontent.com/27733391/113234599-31bb1b80-92d4-11eb-8e8e-4a911d6c566c.jpg)

Is this okay? @innobead @joshimoo @khushboo-rancher

[2021-04-01 02:58] innobead commented on #2420
It sounds good to me. Do we have any tip style for this kind of enforced behavior like disabled by default? like some message next to the check.

[2021-04-01 03:23] jenting commented on #2426
Sorry, I can't find a reproduce way now, I'll update it once I can reproduce it.
Close it.

[2021-04-01 03:23] #2426 closed

[2021-04-01 03:30] tyzbit commented on #2425
I figured it out (spoiler: it was self-inflicted).  I was setting `storageOverProvisioningPercentage` to `0` instead of `100`.  At the time I thought the value was what percentage **over 100%** to add.  In my previous installation I must have modified this value correctly, but this time I pre-set the values via the helm chart in a Flux HelmRelease, which did not have the helpful tooltip `The over-

[2021-04-01 03:31] kadamkaustubh opened #2432 "[FEATURE] Recurring snapshot/backup job supports imagePullSecrets"
**Describe the bug**
Longhorn is deployed with helm chart version 1.1.0 with private registry credentials defined (`systemDefaultRegistry` is not set). The deployment is successful, I am able to create and attach volumes. I created a recurring snapshot schedule for a volume, the cron job is created in `longhorn-system` namespace. the cronjob does not have imagePullSecrets added to the job spec. wh

[2021-04-01 03:38] innobead commented on #2425
@tyzbit thanks for the clarification. This is helpful for users when they encounter a similar self-explanation configuration issue.

[2021-04-01 03:39] #2425 closed

[2021-04-01 06:29] mtfsc commented on #2430
Used yaml for deployment (Basically its this one: https://github.com/longhorn/longhorn/blob/957bb72c8ab8c3c7d7b5d0fd50a18910eab82e7d/deploy/longhorn.yaml, with some adjustments in the longhorn-default-setting ConfigMap Section)

[longhorn.yaml.txt](https://github.com/longhorn/longhorn/files/6241444/longhorn.yaml.txt)

[2021-04-01 08:18] PhanLe1010 commented on #2431
@saiyam1814
We should check manually creating snapshot first before digging into the `Kubestr` tool.

* First, it is a bit weird that `kubectl get volumesnapshotclasses`  doesn't show the DRIVER field. Can you provide us the output of `kubectl get volumesnapshotclasses -o yaml` ?

* You mentioned in Slack that  after you create the `test-snapshot-pvc` VolumeSnapshot, running the corresponding snap

[2021-04-01 09:00] jenting commented on #2204
Personally, I'm not pretty sure should we keep still need to fix the issue?

Because there is no healthy replica on the node, the *.img and `volume.meta` both got polluted.
The workaround way to recover it is to remove the Error state message in `volume.meta`.

[2021-04-01 09:14] innobead commented on #2204
Can u automatically try recovering the degraded replica from the error state? If it’s not faulted, it will be recovered. But it’s still faulted, the state keeps in repeated attaching/detaching state looks reasonable to me because the volume actually faulted.

@shuo-wu @joshimoo any ideas?

[2021-04-01 10:51] c3y1huang opened #2433 "[ENHANCEMENT] Reduce the ws data transfer for event resource"
After removing the timestamp from the websocket stream, and monitoring traffic from the frontend still shows small spikes of traffic loads. This is coming from the event resource and possibly from an unsorted dictionary. Might want to see if event traffic can be reduced further.

![Screenshot-2021-04-01-17:39:44](https://user-images.githubusercontent.com/22583541/113283689-31923e80-931b-11eb-878c-

[2021-04-01 11:21] joshimoo commented on #2430
Thank you for reporting, this specific issue was addressed as part of the below issue and the fix will be available once v1.1.1 is released.
https://github.com/longhorn/longhorn/issues/2208
https://github.com/longhorn/longhorn-manager/pull/830

[2021-04-01 11:21] #2430 closed

[2021-04-01 11:57] joshimoo opened #2434 "[BUG] RWX filesystem is not frozen for snapshots"
Since the mount of the longhorn volume happens inside of the share-manager pod and not the host namespace.
The host has no mount point for this volume and therefore it cannot be frozen (i.e. cannot find a mount point to freeze)

We could consider doing the mount in the host namespace then doing a bind mount into the share-manager pod.
This might impact potential failover in the HA scenario where t

[2021-04-01 12:00] saiyam1814 commented on #2431
@PhanLe1010 Right
first  output
[code]
Second output
[code]

[2021-04-01 12:29] tcrst opened #2435 "[BUG] Instance-manager instances redeploying every 60 minutes"
I'm having this odd behavior where all my instance-manager pod(s) are getting redeploy, at the same, on all the nodes.

It impacts all the attached volumes through detaching them and results in downtime.

[code]

Support bundle sent trough email.

[2021-04-01 12:45] ElisaMeng commented on #2413
@cclhsu from the log, it failed to snap and hang. I play it as toy to study longhorn. I have torn it down. I will installed the latest version when released and try again to see if it works better.

[2021-04-01 12:57] bmalynovytch commented on #2329
I you need to release many volumes at once, the following script may help:

[code]

If you wish to speed up the process (and stress your cluster), you may fork the "Deleting attachment" section.

[2021-04-01 13:36] joshimoo commented on #2384
To test the uninstall process, you need to create an orphaned share-manager crd.
Since generally when the volume gets deleted it will cleanup the share-manager crd that is associated with the volume.
You should be able to just copy an existing share-manager crd and change the name.
Example below, should work but haven't tested it so feel free to use your own :)

[code]

[2021-04-01 15:03] WisdomWolf commented on #2227
You could create storage classes with the recurring backups schedule so that they don't have to be stored relative to the backup, right?

[2021-04-01 15:12] pulberg commented on #2227
@WisdomWolf The current storage class contains the recurring backup schedule.  When a backup is restored, it doesn't inherit the existing recurring backup schedule.  It would be great to be able to either inherit the existing backup schedule or be able to pick which schedule to use if there are multiple storage classes and backup schedules.

[2021-04-01 15:33] joshimoo commented on #2227
Some thoughts on this:
- we should move the recurring schedule out of the volume crd into it's own crd
- potentially just using the [kubernetes cronjob crd](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/) with labels for volume etc.
- for backups we should just serialize the new crd and store it separately from the volume
- right now if a user has a mistake in their recurring

[2021-04-01 15:42] tmorin opened #2438 "[BUG] Backup Target - NFS - the k8s node supports only 4.0 - an incorrect mount option was specified"
Hi,

I've the following error from the front-end `#/backup` when I configure Longhorn to use a NFS "Backup Target".

[code]

From my understanding, the error is raised by [util.Execute] when called in [nfs.mount].

[util.Execute] https://github.com/longhorn/backupstore/blob/51dcc71901ed7f377a80df143196933096605cf4/util/util.go#L152
[nfs.mount] https://github.com/longhorn/backupstore/blob/51dcc7190

[2021-04-01 15:58] joshimoo commented on #2431
@saiyam1814 can you provide the logs from the kube-system/snapshotcontroller.

Since the csi plugin was never called and the external-csi snapshot side car also didn't do any work, I am assuming the failure might be located in the snapshot controller.

[2021-04-01 16:07] joshimoo commented on #2438
Leaving a note here, this happens because the error message does not contain: "Protocol not supported"
So once the first mount fails, the other versions won't be even attempted.

The fix should probably be to try all mount versions in the error case instead of parsing the error message.
Since if all of them fail the last error will be returned, which is the baseline v4.0

See:
- https://github.com

[2021-04-01 16:41] saiyam1814 commented on #2431
@joshimoo here are the snapshotcontroller logs
[code]

[2021-04-01 17:11] PhanLe1010 commented on #2431
Thanks @saiyam1814

The first output look fine
For the second output, there is no `test-vol` PVC in you system. Can you delete the `test-snapshot-pvc` VolumeSnapshot ; point `persistentVolumeClaimName` to a PVC of an attached healthy volume; then apply the YAML file gain?
Then, we can continue to from there.

[2021-04-01 17:22] #2375 closed

[2021-04-01 17:23] meldafrawi commented on #1526
Validation: **PASSED**

Test Steps:

[2021-04-01 17:38] saiyam1814 commented on #2431
@PhanLe1010 I changed the test-vol pvc to the one that is healthy
[code]

[code]

[2021-04-01 17:42] khushboo-rancher opened #2439 "[BUG] Longhorn setting page toggles with blank page."
**Describe the bug**
The setting page of longhorn is going blank in interval of about 21 seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn UI - master `3c287b3`
2. Go to setting page.
3. The page is blank initially and periodically shows the settings.

https://user-images.githubusercontent.com/60111667/113332448-d07c6200-933e-11eb-81ab-ea1e24274f2a.mov

**Log**
WebSock

[2021-04-01 17:45] PhanLe1010 commented on #2431
Thanks @saiyam1814

Can we have:
* a new support bundle
* `kubectl get VolumeSnapshotContent -o yaml `
* `kubectl get crd volumesnapshots.snapshot.storage.k8s.io  -o yaml`
*  the snapshotcontroller logs

[2021-04-01 18:35] meldafrawi commented on #2270
Validation: **1 Test still failing**

Test command:
`./csi-sanity -csi.endpoint /var/lib/kubelet/obsoleted-longhorn-plugins/driver.longhorn.io/csi.sock -ginkgo.skip="should create volume from an existing source snapshot|should return appropriate values|should succeed when creating snapshot with maximum-length name|should succeed when requesting to create a snapshot with already existing name and s

[2021-04-01 18:36] meldafrawi commented on #2076
will track the testing in https://github.com/longhorn/longhorn/issues/2270#issuecomment-812095144

[2021-04-01 18:42] #2076 closed

[2021-04-01 19:00] khushboo-rancher commented on #2207
Verified with Longhorn master - `04/01/2021`

@shuo-wu Can you confirm the below results are fine.
For below config node the default cpu request with 12 in the setting `Guaranteed Engine Manager CPU` and `Guaranteed Replica Manager CPU` -  The request doesn't fit with the formula -  `total cpu * Guaranteed Manager CPU%`

RAM | CPU Request
--- |---
32 GB | 960m
8 GB | 480m
4 GB | 240m

Also, have w

[2021-04-01 19:34] joshimoo commented on #2431
@saiyam1814
Looks to me like your snapshot-controller is the GA version, while we are still using beta crds.
Can you use this release of the snapshot controller.
https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v2.1.5

[code]

We are still on the snapshot beta train for v1.1.1
Which is still maintained, as you can see that this release is from a couple of days ago.

Unfortunatel

[2021-04-01 19:50] joshimoo commented on #2309
Reproduce steps:
- create volume + pod with single replica + data locality
- turn off node

Problem 01: kubernetes + longhorn out of sync
- before csi changes, kubernetes and longhorn would go out of sync and kubernetes could no longer attach the volume since it's still desired to be attached to the prior node v.spec.NodeID is not unset.

Problem 02: salvage deadloop preventing volume updates
- af

[2021-04-01 19:52] joshimoo commented on #2329
Reproduce steps:
- create volume + pod with single replica + data locality
- turn off node

Problem 01: kubernetes + longhorn out of sync
- before csi changes, kubernetes and longhorn would go out of sync and kubernetes could no longer attach the volume since it's still desired to be attached to the prior node v.spec.NodeID is not unset.

Problem 02: salvage deadloop preventing volume updates
- af

[2021-04-01 20:02] bitvilag opened #2440 "[BUG] failed to renew lease longhorn-system/external-attacher-leader-driver-longhorn-io: failed to tryAcquireOrRenew context deadline exceeded"
**Describe the bug**
A clear and concise description of what the bug is.

I have installed a brand new microk8s with two nodes. I have then installed longhorn using helm3 without any modification to it.
No issue found so far

I have added the third node using the built in tools of microk8s. Longhorn took quite a time until service was back -> lot of uknown status pods, but then when it came back I

[2021-04-01 21:35] meldafrawi commented on #2384
Validation: **PASSED**

Steps to test:
1. Create an orphaned share-manager crd
[code]
2. run uninstaller
3. make sure share managers are deleted

[2021-04-01 21:35] #2384 closed

[2021-04-01 23:06] PhanLe1010 opened #2441 "Refactoring the Logic for Resources Monitoring"
We should consider refactoring the logic for engine and instance manager monitoring logic according to this suggestion https://github.com/longhorn/longhorn-manager/pull/854#issuecomment-812101940

The idea is the the monitor is keeping state of the CR and ensuring a requeue of the CR when there is new update. The main sync function will be the own to make the DS get/update calls.

[2021-04-01 23:13] innobead commented on #2372
@c3y1huang as we discussed, probably we need to update generated Rancher client code which is based on manager API.

[2021-04-01 23:21] PhanLe1010 commented on #2431
@joshimoo

I tested install Longhorn v1.1.0 and use snapshot-controller v4. Taking a snapshot using CSI is working fine for me.

Could be something else. Waiting for the info from users.

[2021-04-02 00:51] PhanLe1010 commented on #2401
I haven't find out the root cause yet but some observations are:

Some volumes are stuck in detaching because one of its replicas cannot be stopped. For example, the replica `pvc-8c3d6914-a3e6-4d71-b139-e9428974eb30-r-bda29de9` has
[code]
but the status of the replica is tucked in:
[code]
Looking into the instance manager of the replica, `instance-manager-r-6710c7f6`, it is running and it doesn't

[2021-04-02 00:53] cmcarthur commented on #2401
Thanks @PhanLe1010 for digging into this -- please let us know if we can provide any other context.

[2021-04-02 01:16] PhanLe1010 commented on #2423
The error comes from  [this line](https://github.com/longhorn/longhorn-manager/blob/278ff44085b967923d6f07dfb43a95a7b2974470/upgrade/v102to110/upgrade.go#L112) which prevents the Longhorn manager pods from starting.

In order to prevent the problem that users accidentally update Longhorn CRs with invalid values and thus nuke down the Longhorn system, we can use schema validation for the Longhorn C

[2021-04-02 02:36] jenting commented on #2423
Reference to #604, we need to improve CRD to have structural schemas and ValidatingAdmissionWebhook.

[2021-04-02 05:07] smallteeths commented on #2439
Because the websocket has been updated on the back end, the ui has been updated in line with the changes on the back end. The reason for the bug is that the ui version is not up to date.

https://github.com/longhorn/longhorn/issues/2372

[2021-04-02 05:08] #2439 closed

[2021-04-02 09:36] shuo-wu commented on #2207
The requests in the table fit the formula. e.g., 8 CPU * 12% = 0.96 CPU = 960 mCPU. It's not related to RAM...

In the setting description, there is one related note `This global setting will be ignored for a node if the field "ReplicaManagerCPURequest" on the node is set`. But we didn't mention that the node fields will be set when upgrading from old versions. We may need to mention that somewher

[2021-04-02 09:51] shuo-wu commented on #2204
1. If a volume contains multiple replicas and one replica encounters this issue, will this issue block the whole attachment?
2. For a failed replica, it can be either reusable or not. If it's not reusable, we don't need to keep retrying it. If it's reusable, we need to verify the replica and remove the error message in the info file if possible. It's not a good idea to do the current meaningless r

[2021-04-02 12:12] shuo-wu commented on #2295
Will add drone and unit tests during or after the review.

[2021-04-02 16:02] saiyam1814 commented on #2431
Hi Since the controller was not working properly so I wiped out everything and created everything from scratch and it worked on a new one !!
Not really sure what was the issue but I did the same steps that I mentioned at the beginning of the issue!
Might be due to a cluster issue as well as on a new cluster it worked fine!
Thank you @PhanLe1010 @joshimoo and @sheng-liang for the help!

[2021-04-02 16:02] #2431 closed

[2021-04-02 17:32] khushboo-rancher commented on #2207
Validation - **Pass**

Test cases from https://github.com/longhorn/longhorn-tests/pull/532 are passing.

[2021-04-02 17:40] alexgleason commented on #1210
I have no clue what multipath is, what problem its trying to solve, or why it causes this issue, but @meldafrawi's solution fixed the problem for me nearly instantly. Thank you!

[2021-04-02 18:07] TeoGoddet commented on #2429
Hi !
I've been able to restore a faulted pvc created volume from backup.
The process is long :
```kubectl scale deploy -n <ns> --replicas=0 <deploy_name>```
launch restore of the backup from the ui (with a new volume name)
```kubectl delete -n <ns> pvc <pvc_name>```

recreate PVC (from UI) or
```curl -X POST "http://longhorn.localhost:8888/v1/volumes/<new-vol-name>?action=pvcCreate" -d '{"pvName":

[2021-04-02 18:49] yasker commented on #2006
Move to Icebox. Pending merge of https://github.com/longhorn/longhorn/issues/2295

[2021-04-02 18:49] #2257 closed

[2021-04-02 18:50] yasker commented on #2081
Move to Icebox due to blocked by https://github.com/longhorn/longhorn/issues/2377

[2021-04-02 19:18] khushboo-rancher commented on #2420
Verified with Longhorn-master -`04/03/2021`

Validation - **Pass**

User can attach RWX only in `maintenance mode`. UI shows the message on clicking the attach button. Validated the single and multiple volume attach scenarios.

<img width="1071" alt="Screen Shot 2021-04-03 at 12 44 57 AM" src="https://user-images.githubusercontent.com/60111667/113446680-eb6dd580-9415-11eb-83d8-099fbdba32fb.png">

[2021-04-02 19:18] #2420 closed

[2021-04-02 21:03] joshimoo commented on #2423
Just leaving a note here, we were planning to look at schema validation as part of the api refactor issue:
https://github.com/longhorn/longhorn/issues/791

[2021-04-02 21:06] joshimoo commented on #1547
For v1.1.1 we have added a change to the backupstore polling so that it's only run by a single node.
If you don't use the DR volume feature you can still leave the backupstore polling turned off.
Otherwise you can now safely enable it and the S3 call count should be heavily reduced since the equation now only depends on the volume count and no longer on the node count.

https://github.com/longhorn

[2021-04-02 21:14] joshimoo commented on #2357
@innobead is it okay if @c3y1huang does the share manager update for the only numeric id fix for v1.1.1
There is also a community PR to chmod the export folder, here https://github.com/longhorn/longhorn-share-manager/pull/9
Not sure if that actually will help since we still create the per volume pvc folder as root.

[2021-04-02 22:04] meldafrawi commented on #2300
Fixed: https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-upgrade-tests-ubuntu-amd64/308/

[2021-04-02 22:04] #2300 closed

[2021-04-03 15:43] taxilian commented on #2309
I'm having this issue as well, though in my case the nodes didn't go down just the control plane endpoint load balancer did. I see code has been merged; is there a way to get it? I could provide a support bundle if that'd be useful

[2021-04-03 17:54] dahrens commented on #1805
I started writing calico specific network policies - not just for the UI, but for all components.
To achieve this it would be extremely useful to have the necessary connections documented somehow - this issue looks like a good place to start.
I currently have a working setup that allows / restricts the following.

Summarized based on a default deny all setup:

egress:

* allow egress traffic from

[2021-04-03 18:30] dahrens commented on #1983
Looks like it is vulnerable - as it is just [proxied by the frontend webserver](https://github.com/longhorn/longhorn-ui/blob/master/nginx.conf.template#L32) and provides plain HTTP without authentication.
If you want to ensure that other pods should not fiddle with the API, you should at least restrict ingress network traffic regarding the `longhorn-system` namespace.

[2021-04-03 19:07] dahrens opened #2442 "Minimal necessary access rights for the longhorn cluster role and service account"
**Question**

The [cluster role](https://longhorn.io/docs/1.1.0/deploy/install/install-with-kubectl/#clusterrole-longhorn-role) needs full access to all secrets within the cluster. It is also privileged to do everything with nodes, deployments, daemonsets, etc.

Are those access rights already the necessary minimum?

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: 1.19.9
 - Node

[2021-04-04 19:28] khushboo-rancher commented on #2120
@PhanLe1010 For upgrade scenario, users having/want tolerations set for Longhorn-manager, UI, Driver deployer with previous Longhorn versions will see tolerations getting removed on upgrading to v1.1.1 and they will have to upgrade the chart/yaml for Longhorn-manager etc with the tolerations. Do we want to mention this somewhere in the release notes?
cc: @innobead

[2021-04-05 04:15] shuo-wu commented on #2309
The fix will be in the next release. For now, you may need to do manual salvage via Longhorn UI as a workaround. The manual salvage does what you mentioned in the Slack channel (unset `replica.spec.failedAt`)

[2021-04-05 04:51] shuo-wu commented on #2207
The upgrade note PR related to this enhancement: https://github.com/longhorn/website/pull/281

[2021-04-05 08:47] khushboo-rancher commented on #2329
@joshimoo Is this good to test as I see https://github.com/longhorn/longhorn-manager/pull/854 is not merged ?

[2021-04-05 14:27] taxilian commented on #2309
Interesting and thanks for the update; as an FYI, the manual salvage via longhorn UI did not do anything, but editing the replicas manually did.

[2021-04-05 17:10] PhanLe1010 commented on #2120
Yeah, Good point. I agree that we should mention this behavior in the release note.

[2021-04-05 18:37] innobead commented on #2411
I think the issues already fixed in https://github.com/longhorn/longhorn-manager/pull/859 by @joshimoo, so I assume we don't need to do anything here, right? (@joshimoo , @smallteeths )

[2021-04-05 20:27] khushboo-rancher commented on #2120
Verified with Longhorn-master - `04/06/2021`

Validation - **Fail**

There are two different behavior in below scenario when Longhorn is deployed with Helm and kubectl.
1. Deploy longhorn master with the tolerations, the default tolerations as well as tolerations for Longhorn-manager, driver and UI.
2. Once the Longhorn is deployed, delete the toleration using Longhorn UI.
**With kubectl**
-- No c

[2021-04-05 22:09] PhanLe1010 commented on #2428
@TeoGoddet

When all replicas of the volume fail unexpectedly. Longhorn automatically salvages the replicas. The `salvage` event is recorded in the volume's `event log`. You can see it inside Longhorn UI
<img width="1052" alt="Screen Shot 2021-04-05 at 3 04 21 PM" src="https://user-images.githubusercontent.com/22139961/113632588-4a069f80-9620-11eb-9961-ff51be1839bf.png">

If the Longhorn successfu

[2021-04-05 22:14] PhanLe1010 commented on #2440
It seems that something is wrong with the `etcd` so the `csi` deployments cannot do the leader election:
[code]
and they enter a crashloop.

You can start by checking the health of `etcd`. This issues seems similar to the issue https://github.com/longhorn/longhorn/issues/2287

[2021-04-06 02:02] meldafrawi commented on #2272
We will be looking into the issue.
A possible workaround can be find [here](https://github.com/longhorn/longhorn/issues/1442#issuecomment-639761799)

[2021-04-06 03:14] shuo-wu commented on #2309
Does your Longhorn UI work fine when you issue other operations? Some users mentioned that the UI doesn't work with specific configs.

[2021-04-06 03:36] khushboo-rancher opened #2444 "[BUG] Priority class not getting set for recurring jobs"
**Describe the bug**
Priority set using Longhorn UI is not reflecting for recurring job.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn master on a cluster.
2. Set priority class in the setting page of Longhorn UI.
3. Create a volume and configure recurring snapshot/backup job for it.
4. Check the yaml for recurring job, there is no priority class.

**Environment:**
 - Longh

[2021-04-06 03:36] khushboo-rancher commented on #2120
Sorry, I used the wrong image to test the helm installation. Updated https://github.com/longhorn/longhorn/issues/2120#issuecomment-813630535 as validation - Pass

The behavior is as below.
1. For new installation, the toleration and priority class for components other than Longhorn-manager, UI and Driver deployer can be set using Longhorn UI or default setting. To set toleration and priority class

[2021-04-06 04:52] jenting commented on #2204
I check the support bundle again, although the user uses longhorn version `v1.1.0`, however, the volume's engine image still uses `v1.0.2` version. The below code introduced in v1.1.0, so it's not the root cause for the user's problem.

The root cause should be https://github.com/longhorn/longhorn-engine/blob/v1.0.2/pkg/replica/server.go#L119-L120 and https://github.com/longhorn/longhorn-engine/bl

[2021-04-06 04:54] PhanLe1010 commented on #2442
Thanks @dahrens. We will investigate to see if there is unnecessary access and remove it from the Longhorn role.

[2021-04-06 04:56] PhanLe1010 commented on #2120
Thanks @khushboo-rancher

[2021-04-06 05:00] c3y1huang commented on #2270
Weird, running csi-sanity failed at a different test for me. I will create PR for this test.
[code]

[2021-04-06 06:34] shuo-wu commented on #2429
1. Can I ask the reason why you want to restore an existing volume? Is it due to the existing volume becoming faulted? Typically, the volume replicas will be salvaged/reused automatically if the volume becomes faulted. If the auto salvage feature doesn't work, you may encounter [this bug](https://github.com/longhorn/longhorn/issues/2309). But I can do manual salvage via UI as a workaround. By resu

[2021-04-06 06:35] shuo-wu commented on #2429
As for the size mismatching, can you provide the PVC and the volume info?

[2021-04-06 06:38] innobead commented on #2204
Just a note, in a normal case of `more than one replica`, the issue will be tackled by the auto salvage process to rebuilt the faulty replica, so users will not encounter this issue except all replica faulty.

[2021-04-06 06:55] PhanLe1010 commented on #2444
Not sure if we want to add `priority class` to the recurring jobs since the recurring jobs are not critical for Longhorn basic functionalities. On the other hand, adding `priority class` to the recurring jobs would make Kubernetes evicts other lower priority workloads in cluster when there is resource contention.
How do you think? @shuo-wu , @innobead

[2021-04-06 08:37] joshimoo commented on #2411
@smallteeths so the attach/detach options are now always exposed regardless of state and volume type. Can you make the necessary modifications on the UI, so that you rely on the volume state instead of the actions map to determine whether a volume can be attached/detached.

For RWO volumes:
- `attach` should only be shown while they are detached
- `detach` should only be shown while they are attac

[2021-04-06 09:55] innobead commented on #2444
Thanks for raising this concern/question. I am OK with this adaptive definition but probably need some documentation somewhere (self-explanatory in UI setting or chart) to let people know recurring jobs not under this enforcement.

[2021-04-06 10:06] joshimoo commented on #2214
issue for the update of all csi components #2388

[2021-04-06 10:24] shuo-wu commented on #2444
I am fine with both as well. Or we can add PriorityClass as a new field of the recurring job.

[2021-04-06 10:59] c3y1huang commented on #2418
Reopen issue for
* https://github.com/longhorn/longhorn/issues/2357#issuecomment-812718469
* https://github.com/longhorn/longhorn-share-manager/pull/9

[2021-04-06 11:24] rsoika opened #2445 "[BUG] FailedAttachVolume - cannot be attached to the node A since it is already attached to the node B"
I want to report a problem I have with Longhorn from the early beginning and even I have build up complete new Kuberntes clusters I get not rid of the problem.

**The situation:**

 - running a cluster with 3 worker nodes and 1 master
 - running a POD with a durable longhorn volume
 - Now one of my nodes failed (e.g. a network problem)
 - after 5 minutes kubernetes restarts the POD on a different

[2021-04-06 11:24] shuo-wu opened #2446 "[BUG]Instance Manager Pods will be deleted during Longhorn installation"
**Describe the bug**
When a new Longhorn system is just installed, the instance manager will be deleted immediately.

If this happens only in a newly installed Longhorn, then there is no big impact. If it can be triggered during the Longhorn system upgrade, we need to fix it.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn with the master images
2. Check all Longhorn workload

[2021-04-06 11:25] shuo-wu commented on #2446
@PhanLe1010 Can you take a look?

[2021-04-06 11:39] c3y1huang commented on #2357
Waiting for the share manager image update. /cc @joshimoo

[2021-04-06 13:08] rsoika commented on #2445
Is it possible that this is related to the flag:

    Replica Node Level Soft Anti-Affinity=false (default)

Do you think it makes sense to set this to 'true' for a situation I described here?

[2021-04-06 13:26] joshimoo commented on #2445
@rsoika The above error message makes me believe that the csi driver did not call detach on the volume, but returned success to kubernetes, this means that the longhorn volume still has v.spec.NodeID set while kubernetes thinks the volume is available again.

I fixed a bug in this regard that we now always call attach/detach from the csi driver.
https://github.com/longhorn/longhorn-manager/pull/85

[2021-04-06 13:41] rsoika commented on #2445
Thanks a lot for the feedback! For now I can not test v1.1.1 because this is my productive cluster. But as soon as 1.1.1 is released, I will upgrade my longhorn version. And I will give you my feedback on this issue.
You can close the issue if it bothers you.

[2021-04-06 14:50] taxilian commented on #2309
Most other things are working in my UI, though backups sometimes don't show up

[2021-04-06 19:34] khushboo-rancher commented on #2372
Verified with Longhorn master - `04/07/2021`

Validation - **Pass**

The test is done with 51 volumes in a 3 nodes (worker) cluster.
The avg traffic for v1.1.0 is around 720 kbit/s
<img width="1714" alt="Screen Shot 2021-04-07 at 12 46 38 AM" src="https://user-images.githubusercontent.com/60111667/113767791-ba0a4800-973c-11eb-90b1-d867d791752d.png">
which got improved with master and avg comes aro

[2021-04-06 20:24] meldafrawi commented on #2270
Validation: **PASSED**

![image](https://user-images.githubusercontent.com/18232258/113773795-c388b580-9726-11eb-8853-c060af9262d4.png)

[2021-04-06 20:24] #2270 closed

[2021-04-06 20:35] joshimoo commented on #2339
@innobead @yasker We should really consider including this in v1.1.1 since It can have a big impact on customer cluster stability.
Let me summarize the issue, memory consumption during deletion depends on the amount of backups and the amount of blocks a volume has stored and can skyrocket since we load and maintain all backup information for a volume in memory for the duration of the deletion proc

[2021-04-06 20:38] joshimoo commented on #2445
@rsoika not a problem, thanks for reporting this issue, I will leave it open and please let us know if v1.1.1 fixes the behavior :)

[2021-04-06 20:46] yasker commented on #2339
I've put it tentatively in v1.1.1. Let's discuss it in the next meeting. cc @innobead

[2021-04-06 20:50] khushboo-rancher commented on #2329
Verified with Longhorn Master `04/07/2021`

The scenario of statefulSet with 1 replica and data locality enabled is working fine with Longhorn master but I also couldn't repro the problem with this scenario with Longhorn v1.1.0.

I'm validation other scenarios, will update the results.

[2021-04-06 21:56] meldafrawi commented on #2377
Validation: **PASSED**

[2021-04-06 21:56] #2377 closed

[2021-04-07 01:36] #2265 closed

[2021-04-07 01:37] #1210 closed

[2021-04-07 02:18] cclhsu commented on #2435
From log user provided, it seems that the environment is in Azure and continuously have `error while dialing dial tcp 10.0.2.166:10000: connect: connection refused\""` and similar.  Could be a network issue regarding Azure.

[2021-04-07 02:41] c3y1huang commented on #2372
The latter screenshot looks right. The fix is to ensure websocket does not push full resources data per-second interval when there is no change. Might be easier to check with browser developer tools.
![Screenshot-2021-04-07-10:38:06](https://user-images.githubusercontent.com/22583541/113802683-b357f100-978d-11eb-89c1-68d44eec711a.png)

[2021-04-07 03:13] shuo-wu commented on #2309
Backup not shown may be caused by this issue: https://github.com/longhorn/longhorn/issues/1955. It will be fixed in v1.1.1 as well. But the salvage should work in UI... Can you provide more info if it still doesn't work after refreshing your UI page?

[2021-04-07 04:45] #2372 closed

[2021-04-07 06:50] innobead commented on #2106
@khushboo-rancher please revisit this after verifying #2062

[2021-04-07 06:56] innobead commented on #2155
@jrecreative any update?

[2021-04-07 07:01] innobead commented on #2006
The new version of backing image implementation is actually be based on #2295 . To avoid confusing QA for these similar tickets, close this and move focus on #2295.

[2021-04-07 07:01] #2006 closed

[2021-04-07 11:15] khushboo-rancher commented on #2120
Linking this issue with https://github.com/longhorn/longhorn/issues/2262 to track and validate with Rancher charts changes.

[2021-04-07 12:02] cocampbe opened #2449 "[Question] [Enhancement] Is it possible to set snapshots and backups via yaml"
I am trying to figure out how to add snapshots and backups to volumes via patches, or some something. I know I can create a new storage class, but I just don't like that approach. My idea is to have a more self service way for users to decide whether they want snapshots or backups, etc. I think it would be interesting to use annotations on the pvc and have something like kyverno intercept that and

[2021-04-07 12:43] khushboo-rancher commented on #2309
Verified with Longhorn Master `04/07/2021`

Validation - **Pass**

The test cases from https://github.com/longhorn/longhorn/issues/2329#issuecomment-812134862 work fine. Validated this with the setting `Pod Deletion Policy When Node is Down` also, the pods with RWO were able to move to another node and got attached to volume but RWX remains on the same node with unavailable status.

[2021-04-07 16:42] khushboo-rancher commented on #2309
Closing this now based on the validation. @taxilian The fix will be available with Longhorn v1.1.1, feel free to reopen if you see the issue in future.

[2021-04-07 16:42] #2309 closed

[2021-04-07 18:23] khushboo-rancher commented on #2411
Verified with Longhorn v1.1.1-rc1

Validation - **Pass**

The attach/detach button is getting enabled/disabled as per the below rules:

For RWO volumes:
- `attach` should only be shown while they are detached
- `detach` should only be shown while they are attached

For RWX (Migratable) volumes:
- `attach` should only be shown while they are detached
- `detach` should only be shown while they are a

[2021-04-07 18:23] #2411 closed

[2021-04-07 18:33] poksiala opened #2452 "[BUG] Manager listens only one address in dual-stack cluster"
**Describe the bug**
In dual-stack cluster pod status might have multiple IPs
[code]

But longhorn-manager only listens to one of them as per
[code]

For this reason other pieces of the puzzle fail to connect the pod as they receive IPv6 address from DNS.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up dual-stack kubernetes cluster with service preference to IPv6 over IPv4
2. Deploy l

[2021-04-07 18:49] khushboo-rancher commented on #2062
Verified with Longhorn v1.1.1-rc1

Validation - **Pass**

Validated with K8s v1.20.5, if the setting `Pod Deletion Policy When Node is Down` is set to `delete-both-statefulset-and-deployment-pod`, on power down the node the pod moves to another node.

[2021-04-07 18:49] #2062 closed

[2021-04-07 18:52] #2106 closed

[2021-04-08 03:15] jenting opened #2453 "[FEATURE] Replace controller client-go to controller-runtime"
**Is your feature request related to a problem? Please describe.**

We could consider refactor the way we written controller with [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) and [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime)

**Describe the solution you'd like**

Refactor controllers.

**Describe alternatives you've considered**
A clear and concise de

[2021-04-08 03:17] jenting opened #2454 "[FEATURE] Improve controller unit test coverage"
**Is your feature request related to a problem? Please describe.**

To make sure the controller reconcile logic is robust, we should add more unit tests to the controllers with mocked data.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fea

[2021-04-08 08:15] jenting opened #2455 "[BUG] Configures Kubernetes Taint Toleration sometimes not work"
**Describe the bug**

Configures Kubernetes Taint Toleration sometimes not work.

**To Reproduce**
1. Add taint to the control plane node
[code]
2. Go to Setting > General >  Kubernetes Taint Toleration
[code]
3. Get the pods on the control plane node
[code]
4. The instance-manager-r, instance-manager-e, longhorn-csi-plugin, and engine-image-ei still exist
[code]

**Expected behavior**

The pods o

[2021-04-08 08:20] PhanLe1010 commented on #2455
@jenting
What is the observed behavior?

[2021-04-08 08:30] jenting commented on #2455
Mostly, the instance-manager-r and instance-manager-e won't be deleted. If I manually delete the Pods, it work.
Not sure is the problem comes that longhorn-manager got deleted before other system components.

[2021-04-08 08:35] PhanLe1010 commented on #2455
In v1.1.1 Longhorn manager, driver, ui pods should not be deleted.

[2021-04-08 10:33] joshimoo commented on #2452
related ipv6 support #2259 #1723

[2021-04-08 11:51] shuo-wu opened #2456 "[BUG] Update verification failure should be handled"
**Describe the bug**
Right now for all Longhorn resource update functions, there is no error returned then no error handling after the verification failure.
https://github.com/longhorn/longhorn-manager/blob/08c89c2d5e36f5585df7939bbbdb94fe47562f45/datastore/longhorn.go#L2242

**To Reproduce**
Not sure how to fail this function now.

[2021-04-08 14:55] tmorin opened #2457 "[BUG] Mount RWX volumes doesn't work on k8s nodes supporting only NFS 4.0 - an incorrect mount option was specified"
**Describe the bug**

When mounting a RWX Longhorn volume on a host handling only the NFS version 4.0, the mount fails: `mount.nfs: an incorrect mount option was specified`.

Indeed, the option `vers=4.1` is not supported by the k8s host, i.e. the **NFS client**, whereas the option `vers=4.0` is supported.
This issue might be highly related to #2438.

FYI the **NFS server** handles the following N

[2021-04-08 15:09] khushboo-rancher commented on #2081
Verified with Longhorn v1.1.1-rc1

Validation - **Pass**

The test cases from https://github.com/longhorn/longhorn/issues/2081#issuecomment-783747541 passed.

[2021-04-08 17:19] yasker opened #2458 "[TASK] Add the way of generating support bundle into the doc"
Thanks to @joshimoo , we have figured out a way to get support bundle in case UI isn't available.

We should put it in the official doc Troubleshooting section, so we can find it when needed.

https://gist.github.com/joshimoo/cdf2995e5c517a74b588bab59dbf3a1f

[2021-04-08 17:41] cocampbe commented on #2449
It it helps make a case, here is a similar function using velero.

https://nirmata.com/2021/01/24/self-service-velero-backups-with-kyverno/

[2021-04-08 18:06] PhanLe1010 commented on #2455
@jenting

The expected behavior should be:
1. The pod of Longhorn manager, driver, ui pods should not be deleted.
2. The pods of system-managed components should be deleted and recreated immediately. Because those components have the same toleration as the taint on the node, they should exist.

From what you reported:
[code]
and what I just tested following the same reproduce steps, it seems that

[2021-04-08 19:12] khushboo-rancher commented on #2446
Verified with Longhorn v1.1.1-rc1

Validation - **Pass**

No termination of instance-manager is observed with Longhorn v1.1.1-rc1. I couldn't reproduce the problem as the master is updated with the fix already.

[code]

No logs of `Deleted instance manager pod` in the Longhorn-manager

[2021-04-08 19:12] #2446 closed

[2021-04-08 19:39] khushboo-rancher opened #2459 "[BUG] Error logs in csi-snapshotter after Longhorn deployment."
**Describe the bug**
The csi-snapshotter shows error logs as
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.1-rc1 in a K8s/K3s cluster.
2. Check the logs for csi-snapshotter.

**Log**
[code]

**Environment:**
 - Longhorn version: Longhorn v1.1.1-rc1
 - Installation method (e.g. Rancher Catalog App/Helm/Kubectl): Kubectl
 - Kubernetes distro (e.g. RKE/K3s/EKS/Open

[2021-04-08 19:41] PhanLe1010 commented on #2459
Did you install snapshot crds?

[2021-04-08 19:54] khushboo-rancher commented on #2459
After discussing with @PhanLe1010, these error message are fine if shown before installation of the crds. Closing this issue.

[2021-04-08 19:54] #2459 closed

[2021-04-08 20:38] jenting commented on #2455
After discuss with @PhanLe1010, it's not an issue.

If we want to limit Longhorn deployed on worker nodes only, we could add taint to the control plane node
[code]
then, no need to configure the Kubernetes Taint Toleration setting.

[2021-04-08 20:38] #2455 closed

[2021-04-08 21:04] khushboo-rancher commented on #2357
Verified with Longhorn v1.1.1-rc1

Validation - **Pass**

I was able to reproduce the problem with Longhorn v1.1.1-preview1. Followed the manual test steps to validate it, it worked fine with Longhorn v1.1.1-rc1.
Validated this with upgraded and newly installed Longhorn v1.1.1-rc1. The RWO/RWX volume ownership doesn't get reset.

[2021-04-08 21:04] #2357 closed

[2021-04-09 02:53] guangbochen opened #2460 "[BUG] Unlimited volume replica rebuilding causes system unstable like latency of etcd access"
**Is your feature request related to a problem? Please describe.**
after a node reboot, the longhorn volume will trigger the volumes rebuilding upon the checksum validation, however, when the node has a lot of volumes that needs to rebuild it will result in a very high disk I/O and may even kill the k3s cluster due to high latency of ETCD check.

**Describe the solution you'd like**
Add a queue to

[2021-04-09 08:36] TeoGoddet commented on #2429
I had the use case of "revert to an old backup" also in mind, but I now have a better understanding of this and that's not the way it should be done (correct way is described here https://forums.rancher.com/t/how-do-you-launch-a-snapshot-at-longhorn/16130/4)

So the only case left is when salvage does not work, I understand that this should not be the case anymore in the future

If all replicas ar

[2021-04-09 08:43] TeoGoddet commented on #2428
Each time I had faulty replicas (I'm testing with a bad network on purpose)
Longhorn didn't salvaged them automatically and they stay in the faulted state.

And when I click manually on the salvage button in the UI I did not see anything in the logs.

shuo-wu made me realize in another issue that I may be experiencing this https://github.com/longhorn/longhorn/issues/2309

So I propose to close it

[2021-04-09 09:17] cclhsu commented on #2449
Currently, if we want to manually set snapshot/backup from command line, it would require following the guide https://longhorn.io/docs/1.1.0/snapshots-and-backups/csi-snapshot-support/ to snapshot/backup through YAML.  We have a feature plan https://github.com/longhorn/longhorn/issues/613 to allow CLI to include the same function as UI.

[2021-04-09 12:08] cocampbe commented on #2449
I was hoping to be able to just patch a lhv. What's interesting is this.

1. If I add a volume and add the recurringJob it does not persist.
2. I then add it via the UI.
3.  I delete the recurringJob from the lhv. It disappears in the UI.
4. I then add a recurringJob to the lhv and it then shows up in the UI and persists. And that is with a new name, cron, etc.

Pretty interesting. What I would li

[2021-04-09 12:40] shuo-wu commented on #2429
After salvaging the volume, you need to check if the data is available. If YES, you don't need to do anything. Otherwise, you need to do a snapshot revert or a backup restore.

`20G` means 20000000000 Bytes. Currently, Longhorn won't touch the field `storage` in `pvc.spec`. As long as the Longhorn volume size is the same as the field, the volume is correct.

[2021-04-09 14:37] dbpolito opened #2461 "[BUG] Failed replicas not being cleared from node"
**Describe the bug**

I got a instability on one node that made some replicas to corrupt and got rebuilt, but it seems that the disk usage wasn't freed by these replicas that failed:

<img width="1578" alt="image" src="https://user-images.githubusercontent.com/347400/114196338-a53dd800-9927-11eb-98a8-39f0f45dcac2.png">

**Environment:**
 - Longhorn version: 1.1.0
 - Installation method (e.g. Ranch

[2021-04-09 15:14] cmcarthur commented on #2401
hey @PhanLe1010 have you or the team found anything else here? we've been able to reproduce this in a variety of environments across multiple k8s versions (1.17, 1.18, 1.19). we're happy to provide more detail here if that is helpful.

[2021-04-09 19:53] khushboo-rancher opened #2462 "[BUG] Node can't be removed from Longhorn UI if scheduling not disabled before removing Longhorn components from the node"
**Describe the bug**
Node can't be removed from Longhorn UI if scheduling not disabled before removing Longhorn components from the node.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.1-rc1 on 4 worker nodes K8s/k3s cluster.
2. Add taint to a node 'key=val:NoSchedule;key=val:NoExecute'
3. On the Longhorn UI, the node is becomes `Down` with Readiness as `NotReady`
4. Tr

[2021-04-09 20:03] khushboo-rancher commented on #2461
@dbpolito Can you check the `staleReplicaTimeout` for you storage class, the failed replica remains on the disk for sometime based on the `staleReplicaTimeout`.

[2021-04-09 20:29] dbpolito commented on #2461
I don't remember customizing that, so i guess it's the default: `staleReplicaTimeout: "30"`

That's not even customizable on helm chart: https://github.com/longhorn/charts/blob/master/charts/longhorn/templates/storageclass.yaml#L21

[2021-04-09 21:40] khushboo-rancher opened #2463 "[BUG] RWX doesn't work with Degraded Availability"
**Describe the bug**
Pod attached to RWX volume fails to come up if there are insufficient nodes available.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.1-rc1 on a 3 worker nodes cluster.
2. Power down a node and make sure `Allow Volume Creation with Degraded Availability` is enabled.
3. Create deployment with RWX PVC.
4. Deployment pod fails to come up with below err

[2021-04-09 22:54] meldafrawi opened #2464 "[BUG] In case upgrading from v1.0.1 to v1.1.1-rc1, instance manager will not recreated in case of changing Guaranteed Engine Manager CPU and Guaranteed Replica Manager CPU values."
**Describe the bug**
see title

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v1.0.0
2. Upgrade to Longhorn v1.1.1-rc1
3. Update `Guaranteed Engine Manager CPU`  and `Guaranteed Replica Manager CPU` to different values.
4. Wait for instance manager recreation.

**Expected behavior**
Instance manager pods should be recreated using the new limits.

**Log**
N/A

You can also a

[2021-04-09 23:03] michaelpearce-gain commented on #587
Is there any update on this? When would it possibly be available. Whilst hard affinity is ok, in AZ failure scenarios it can hurt, you obviously want replicas in separate AZ's so that should a DC fail you know data is in another AZ, but once that occurs, you kind of want your operations to continue in the remaining, including able to create new PVs, as well as have resilience from node loss whilst

[2021-04-09 23:05] innobead commented on #2462
cc @c3y1huang @smallteeths

[2021-04-09 23:07] innobead commented on #2464
cc @shuo-wu

[2021-04-10 04:20] taxilian commented on #114
I am currently doing this via ingress, however the current UI will not work when behind an SSL ingress because it keeps trying to perform commands via websockets and uses the insecure (`ws://`) protocol instead of the secure one (`wss://`).

Perhaps this should be a different ticket, but I think this would be solved if the javascript would just detect that the page is https and use wss for opening

[2021-04-10 11:01] joshimoo commented on #2463
@khushboo-rancher does this happen for RWO volumes as well?

The message is related to this scheduling check done during the attach call, since this happens for all volume attachments I am assuming this happens for RWO volumes as well?
https://github.com/longhorn/longhorn-manager/blob/08c89c2d5e36f5585df7939bbbdb94fe47562f45/manager/volume.go#L325-L328

[2021-04-10 11:09] joshimoo commented on #587
@michaelpearce-gain we do have the option for sofft anti affinity on the zone.
https://longhorn.io/docs/1.1.0/volumes-and-nodes/scheduling/#the-node-and-zone-selection-stage

This would allow a rebuild to happen in Zone `A` when Zone `B` fails.
But we currently don't have auto rebalancing after Zone `B` comes back.

As a workaround a user can manually evict a single replica from Zone `A` once Zone

[2021-04-10 11:33] joshimoo commented on #685
Some quick thoughts on this:
- we might want to consider not removing the finalizer on a marked for deletion Replica till we have cleaned up the data
- in that case we could still mark the replica for deletion and are free to ignore it for other processing
- we can remove the finalizer of deletion marked replicas once a node gets deleted from longhorn

My initial instinct is that we could assume t

[2021-04-10 12:23] ghabarid opened #2465 "[BUG] PV mounting takes too long time"
Creating a mongodb with one replicaset  can take about 50 min. It takes 3-4 sec to create and bind the pv/pvc.
The pods log shows:
Warning  FailedMount  113s (x5 over 33m)  kubelet            Unable to attach or mount volumes: unmounted volumes=[datadir], unattached volumes=[workdir config configdir default-token-kztxg init datadir]: timed out waiting for the condition

Nevertheless after a long t

[2021-04-10 13:29] liyimeng commented on #2460
This is something need to consider. I have similar concern when discussing with shuo-wu in https://github.com/longhorn/longhorn/issues/2303

I wanna ask again: is it possible to take a  snapshot before node reboot, then rebuild only catch up from that point in time, but not going through entire volume? when the volume is hundred GBs, this is disaster for the node.

[2021-04-10 13:36] joshimoo commented on #2465
@ghabarid is this observed on an empty volume (i.e. after initial creation?)

[2021-04-10 14:35] khushboo-rancher commented on #2463
@joshimoo No, the error is not seen with RWO volumes.

[2021-04-10 23:10] taobaez opened #2466 "Can I extract data from .img file?"
Can I extract data from .img file? /var/lib/longhorn/replicas/pvc-196eb810-7108-435b-919c-6e74565f6971-ee0cba62.

I lost all connectivity with longhorn, I still have data stored in nodes so, can I extract data from replicas files like :/var/lib/longhorn/replicas/pvc-196eb810-7108-435b-919c-6e74565f6971-ee0cba62/volume-head-006.img?

Have you an alternate idea to get the data back?

Last Error:
Fai

[2021-04-11 08:05] iangregsondev opened #2467 "[QUESTION] Detached volume - can't delete through UI - doesn't seem to do anything - support bundle attached, ui bug ?"
Hi,

Can anyone help ?

I have 6 detached volumes, they are old volumes with no PVC. In the UI - I can see them, but I just want to delete them. But when I use the UI and try to delete, nothing seems to happen, the 6 detached volumes remain,.

Am I doing something wrong ?

I will attached a support file.

[2021-04-11 08:07] iangregsondev commented on #2467
[longhorn-support-bundle_7f81eb7b-b909-44d7-ba2e-4902983e6fc3_2021-04-11T08-05-38Z.zip](https://github.com/longhorn/longhorn/files/6291366/longhorn-support-bundle_7f81eb7b-b909-44d7-ba2e-4902983e6fc3_2021-04-11T08-05-38Z.zip)

Its probably me :-( But I thought it would be as simple as just deleting them. They are not in use.

You can probably see I have 10 volumes, 6 of which are detached, these d

[2021-04-11 08:11] iangregsondev commented on #2467
The way I am deleting it, which I believe is correct ? Is by doing the following, but it just disappears and I don't see any events being launched..

![image](https://user-images.githubusercontent.com/2370364/114296957-4bb3e580-9aae-11eb-9493-cc250eec9d1a.png)

[2021-04-11 08:29] iangregsondev commented on #2467
Ok weird, is this a bug ? I managed to remove them via the UI. Basically the context menu on the right (Operation - indicated by the red arrow below) - it never worked via that, but if I highlight the Volumes (detached ones only) and then click the big Delete button (indicated by the green arrow below) - then it seems to work. Confused :-)

Here is an example (it shows a healthy volume - but it's

[2021-04-11 13:00] taobaez commented on #2466
Solved: https://longhorn.io/docs/1.1.0/advanced-resources/data-recovery/export-from-replica/

[2021-04-11 13:00] #2466 closed

[2021-04-11 19:30] khushboo-rancher commented on #2464
There is a note on the setting page that `This global setting will be ignored for a node if the field "ReplicaManagerCPURequest" on the node is set`. To make the `Guaranteed Engine Manager CPU`  and `Guaranteed Replica Manager CPU` effective user has to remove the `ReplicaManagerCPURequest` from the yaml.

Reference:
https://github.com/longhorn/longhorn/issues/2207#issuecomment-812108580
Point 5 -

[2021-04-11 22:27] iangregsondev opened #2468 "[QUESTION] POD can access a replicated volume that is NOT on it's node (host) ?"
**Question**

Could you confirm that this sentence is correct (found in the docs)

"Note: The recommended way of choosing the default replica count is: if you have more than three nodes for storage, use 3; otherwise use 2. Using a single replica on a single node cluster is also OK, but the HA functionality wouldn’t be available. You can still take snapshots/backups of the volume."

In my case I ha

[2021-04-12 01:44] innobead commented on #2464
@meldafrawi please help close this w/ `wontfix` if this is the expected as per @shuo-wu and @khushboo-rancher info. Thanks.

[2021-04-12 02:16] shuo-wu commented on #2464
And here is the explanation doc: https://github.com/longhorn/website/pull/281

[2021-04-12 02:28] innobead commented on #2467
cc @khushboo-rancher @meldafrawi @smallteeths  is this a regression?

[2021-04-12 02:29] cclhsu commented on #2461
`staleReplicaTimeout: "30"` is in minutes as in example of https://longhorn.io/docs/1.1.0/volumes-and-nodes/create-volumes/

[2021-04-12 02:56] cclhsu opened #2469 "[BUG] Longhorn UI should disallow decimal for guaranteed-engine-manager-cpu and guaranteed-replica-manager-cpu"
**Describe the bug**

UI should disallow invalid number such as decimal (0.01) and provide a response, but did see error message in longhorn-manager log when set (0.25)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Setting'
2. Update value for  ' guaranteed-engine-manager-cpu` and `guaranteed-replica-manager-cpu'
3. UI is nonresponsive for invalid decimal value
3. See errors in long

[2021-04-12 03:16] smallteeths commented on #2467
I haven't revised the related issues recently.

For the front-end, the api request are the same for both bulk and individual delete operations.  I'm not sure that the reason volume didn't delete successfully is that the conditions for deletion were not met on the back end.
![Jietu20210412-110151](https://user-images.githubusercontent.com/27733391/114335460-63a76a00-9b7f-11eb-8259-fc2d5cc8150a.jpg)

[2021-04-12 03:29] wahyd4 commented on #1819
I had experienced a similar issue here, it happened was I accidentally upgraded the kubelet of one storage node. And unfortunately, the postgres pod was on the same node as the one that got upgraded.  Then caused the postgres pod to fail to run, and recreate the pod didn't work either.

The error details are:
[code]
I had to restart the node to solve this issue.

[2021-04-12 04:48] jenting opened #2470 "[BUG] Longhorn engine concurrent upgrade is not correct with RXW volume"
**Describe the bug**

Concurrent upgrade longhorn engine from v1.0.2 to v1.1.1-rc1. the number of longhorn engine upgrade is not the same as the Concurrent Automatic Engine Upgrade Per Node Limit value.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn with v1.1.1-rc1 expects longhorn-engine v1.0.2.
2. Download the StatefulSet yaml manifest from [example](https://longhorn.io/do

[2021-04-12 05:08] innobead commented on #2470
cc @PhanLe1010

[2021-04-12 06:33] khushboo-rancher commented on #2462
There is difference between behavior of the delete button at the top and the remove node option in the menu.
<img width="1768" alt="Screen Shot 2021-04-12 at 11 46 05 AM" src="https://user-images.githubusercontent.com/60111667/114349209-3b226e80-9b85-11eb-9e3b-3b9c8d3b5084.png">

1. The `Delete` button at the top is enabled even when there is a replica running on the node.
2. The reported problem

[2021-04-12 06:36] iangregsondev commented on #2467
Hi, I can confirm that the reason it didn't prompt to delete a volume with an associated pvc in my example was that I removed the pvc manually in k8s.

Although I have managed to do reproduce it a few times - so this isn't related to the issue..

I tried deleting a new volume in the UI with the pvc in tact and sometimes it works and other times it doesn't.

The way to fix this is to click around t

[2021-04-12 06:43] innobead commented on #2462
@smallteeths please help with that to make the behavior consistent. thanks.

[2021-04-12 06:53] jenting opened #2471 "[BUG] Concurrent expanding volume and upgrade longhorn-engine image"
**Describe the bug**

Concurrent expanding volume and upgrade longhorn-engine image, the volume state become strange
- The volume state is not ready
- The volume is attached to a node
-  The volume can't detach anymore

![image](https://user-images.githubusercontent.com/49380831/114351714-92ccd400-9b9d-11eb-9a1c-478b4740032f.png)
![image](https://user-images.githubusercontent.com/49380831/11435172

[2021-04-12 07:27] smallteeths commented on #2462
Ok

[2021-04-12 08:46] huskar-t commented on #1674
@yasker Is this feature progress?

[2021-04-12 09:44] joshimoo commented on #2468
You can think of the **replica** as the `volumes-data` the more replicas the more data redundancy you have, each replica contains the full volumes data.

You can think of the **engine** as the `volumes-controller` that exposes the volume and it's responsible for processing all IO requests for the volume and dealing with the replicas.

Longhorn will always start an engine on the same node as your w

[2021-04-12 10:12] joshimoo commented on #2329
@PhanLe1010 can you check this part `pods with RWO were able to move to another node and got attached to volume but RWX remains on the same node with unavailable status.` i.e. in regard to the ownership changes/pod creation of the share-manager.

[2021-04-12 10:37] joshimoo commented on #2457
We do not support NFS v4.0 as a client for the RWX volumes, since v4.1 brought some much needed enhancements including performance as well as session support.
Here is some info on the differences:
- https://events.static.linuxfound.org/sites/events/files/slides/AllMar18_0.pdf
- https://www.iaps.com/nfsv4.1-new-features.html
- https://tools.ietf.org/html/rfc5661

Since nfsv4.1 has been ratified in

[2021-04-12 10:44] joshimoo commented on #2457
Leaving a note here, for the simplified (delete workload on share-manager failure) implementation we could get away without the improvements in v4.1 but for the HA version we definitely require at least v4.1 #2394

Therefore it doesn't make sense to enable v4 now then require v4.1 in a later longhorn update.  This would be more confusing for the users since a previously running system now does no

[2021-04-12 10:49] joshimoo commented on #2457
@c3y1huang the linked issue https://github.com/longhorn/longhorn/issues/2438 is a bug in the evaluation of protocol support in the backupstore, see my comment on that issue. It's separate from this issues deliberate choice to not allow nfs v4

[2021-04-12 10:54] iangregsondev commented on #2468
Great thanks @joshimoo ,

So in my case, as I only have 3 nodes - then the correct value should Replicas: 2

Right ?

[2021-04-12 11:23] tmorin commented on #2457
Hi @joshimoo
Thank for the explanations.
I'm going to see how to upgrade the client side for v4.1.
Best regards

[2021-04-12 11:23] #2457 closed

[2021-04-12 11:43] c3y1huang opened #2472 "[REFACTORING] refactor longhorn/backupstore to not use log as global variable"
When trying to overwrite the log causes go test to catch data race. Should refactor so we are not using it as a global variable.
Overwrite:
[code]
Error:
[code]
This Issue was found during https://github.com/longhorn/backupstore/pull/69.

[2021-04-12 11:47] c3y1huang opened #2473 "[ENHANCEMENT] refactor longhorn/backupstore to not use log as global variable"

[2021-04-12 11:58] jenting commented on #2473
#2472

[2021-04-12 11:58] #2473 closed

[2021-04-12 11:59] joshimoo commented on #2468
@iangregsondev depends on how much redundancy you require, see below:
- If you have 1 replica your volume will be faulted when you lose that node/disk
- If you have 2 replicas you can lose 1 of the replica nodes/disks without any impact
- If you have 3 replicas you can lose 2 of the replica nodes/disks without any impact

For important data I use 3 replicas, for data I don't care about I use 1 rep

[2021-04-12 12:00] meldafrawi commented on #2464
Validated, Thanks @innobead @shuo-wu @khushboo-rancher

[2021-04-12 12:00] #2464 closed

[2021-04-12 15:37] iangregsondev commented on #2468
Thank you @joshimoo .

Yep, then 2 makes good sense for me, it is an homelab.

Closing - Thanks for all the help.

[2021-04-12 15:37] #2468 closed

[2021-04-12 15:39] iangregsondev commented on #2467
Not sure if this is the right place - but I thought I would also tag onto this...

I noticed another UI issue. So I was adding S3 backup stuff, went into Settings, added the backup fields for s3... clicked Save - I 100% clicked save :-)

Went to backup, told me it was missing....

So tried it again, seems like if I click save 3 / 4 times, then I can guarantee that it saves..

Went to the backup, a

[2021-04-12 16:09] dgrechka commented on #2070
My rebuild never succeeds for large replicas.

[longhorn-support-bundle_70cfb67f-d94c-494f-bbb9-17c10d783ca3_2021-04-12T15-59-14Z.zip](https://github.com/longhorn/longhorn/files/6298123/longhorn-support-bundle_70cfb67f-d94c-494f-bbb9-17c10d783ca3_2021-04-12T15-59-14Z.zip)

Longhorn Version: 1.1.0
Kubernetes distro: K3s v1.18.9+k3s1
Node OS: v0.11.1
CPU per node: vary
Memory per node: vary
Disk Typ

[2021-04-12 17:30] khushboo-rancher commented on #2462
@smallteeths Can we add the alert message `Are you sure you want to remove the --- node?` to the `Remove Node` option too.
<img width="1235" alt="Screen Shot 2021-04-12 at 3 23 12 PM" src="https://user-images.githubusercontent.com/60111667/114436178-a64e5e00-9be2-11eb-8319-94dee25bd1e4.png">

[2021-04-12 18:55] migmurillo commented on #1051
Please, What is the solution? I have the same issue.

[2021-04-12 20:41] yasker opened #2474 "[BUG] Sometimes the pods running raw block volumes are stuck in `terminating` to be released due to `Resource busy`"
**Describe the bug**
Sometimes the pods running raw block volumes are stuck in `terminating`.

This issue only happens at a certain setup.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to this setup.
2. Deploy https://github.com/longhorn/longhorn/blob/master/examples/block_volume.yaml
3. Once the pod starts running, delete pod `block-volume-test`
4. The pod will get stuck in the `termin