[2019-04-02 04:03] yasker commented on #444
Can you send me the support bundle? My email is on my profile. And let me know which node pod is running on. The information provided by kubelet (kubectl desc) is not consistent with the log of the csi plugin

Those failed to acquire leader lease are expected. Those are not the errors.

[2019-04-02 04:11] debianmaster commented on #444
i have sent it to   your email.

[2019-04-02 04:12] debianmaster commented on #444
btw  `/var/lib/kubelet/plugins/io.rancher.longhorn/csi.sock`  is empty on all nodes if that helps

[2019-04-02 04:14] debianmaster commented on #444
`csi.sock`  is available in location `/var/lib/origin/openshift.local.volumes/plugins/io.rancher.longhorn/csi.sock`

[2019-04-02 05:03] yasker commented on #444
I found out that kubelet seems unable to communicate with CSI plugin at all, except for creation or attaching. So I took a second look at the document you provided and noticed this:
[code]

So it seems OpenShift didn't change `kubelet` root-dir in the end, but it changed the mountpoint-dir to `/var/lib/origin/openshift.local.volumes/pods/`, which is really unusual. That's why I always wondering wh

[2019-04-02 05:28] botzill commented on #444
Thx @shuo-wu, it works now.

[2019-04-02 06:03] debianmaster commented on #444
when i linked sock.io  like this on all nodes.   it started working.
[code]

[2019-04-02 07:10] yasker commented on #444
@debianmaster Sorry, but seems something is missing from your comment.

[2019-04-03 00:43] yasker commented on #374
We've added CoreOS support in v0.4.1. See https://github.com/rancher/longhorn/blob/master/docs/csi-config.md for details.

[2019-04-03 00:43] #374 closed

[2019-04-03 00:45] yasker commented on #358
Due to #308 , we're going to support Kubernetes v1.11+ starting v0.5.0.

[2019-04-03 00:52] yasker commented on #449
rancher/longhorn-manager#246 merged.

[2019-04-03 01:02] yasker commented on #445
@PhilippHeuer I was thinking about this, now I am curious why you prefer Helm? Longhorn currently can be installed/upgraded by a single line of kubectl, uninstalled by two lines of kubectl. It doesn't like other applications that needs many configurations since we spent quite some efforts on detecting the user environment and configure Longhorn automatically.

Could you share your ideas on why you

[2019-04-03 02:39] vincent927 opened #455 "kubernetes v1.13.5 driver name io.rancher.longhorn not found in the list of registered CSI drivers"
When I upgraded from 1.16 to 1.13.5 ， it was wrong .

[code]

[2019-04-03 18:17] yasker opened #456 "UI: Longhorn icon was partially hidden on Chrome"
<img width="1026" alt="Screen Shot 2019-04-03 at 11 16 09 AM" src="https://user-images.githubusercontent.com/3344618/55502675-f82a7980-5601-11e9-9a34-36a9debb14ba.png">

[2019-04-03 18:19] yasker opened #457 "UI: Upgrade dependency to newer versions"
There are many warnings about deprecated package during Longhorn UI build:

[code]

Also, need to check UI against vulnerability scanner.

[2019-04-03 18:59] PhilippHeuer commented on #445
You do already supported helm over the rancher catalog, just not as vanilla helm chart because of the different directory structure.

The reason is pretty simple, i know how to install any app with helm since it's always the same command with a different chart. But everytime i need to use kubectl apply i need to check the docs for my current version on what to do (multiple commands for setup / del

[2019-04-03 20:20] yasker commented on #445
@PhilippHeuer Thanks for elaborating.

Yeah, we will include an official Helm chart in the Longhorn (besides the one using by Rancher) in the next release.

[2019-04-03 22:56] giminni opened #458 "Add arm64v8 support"
Please add arm64v8 support. Thx

[2019-04-04 18:20] yasker commented on #455
Which version of Kubernetes you're using before?

If it was 1.11 or less, you need to delete the driver deployer pod to allow redeploy of Longhorn CSI drivers, since the registration mechanism changed starting Kubernetes 1.12.

You can refer to https://github.com/rancher/longhorn/issues/425#issuecomment-468864486 and later comments.

For Longhorn v0.4.0 or before, you need to follow https://github

[2019-04-04 21:17] yasker opened #459 "manager: Add last backup field to volume"
It would be very informative if users can know when is the last time this volume backed up.

Brief design:
Volume's last backup field will be updated when a backup was done, along with the timestamp. It should update as the last backup indicates in the backup store for the volume, instead of setting the field to be the backup that just completed. The source of truth should be the backup store.

[2019-04-04 21:18] yasker commented on #459
Related to https://github.com/rancher/longhorn/issues/83

[2019-04-04 21:31] yasker opened #460 "UI: Make backup volume page to be two levels"
It's inconvenient for the user to search for the volume only from the volume name dropdown.

We should provide a two-level page in the Backup page.

The first level is a list of all the BackupVolumes, with filters for name etc .

The second level is the same as the current backup page, which is a list of backups for a specified volume. And the user should be able to navigate back to the first leve

[2019-04-04 21:59] yasker opened #461 "manager: better kubernetes integration"
Currently, users don't know the relationship between Longhorn volume and Kubernetes workload, so it's hard for the user to operates on a volume while knowing what's the potential impact would be. It's important for the user to know which workload is using the volume, so when a volume needs to be performed maintenance or need to be backup/restored, the user can know exactly what data they're workin

[2019-04-04 23:49] yasker commented on #381
There is one scenario we can deal with:
1. Pod is running as a part of Deployment or StatefulSet
2. Volume detached unexpectedly
    1. Longhorn will delete the related VolumeAttachment when volume detached, let Kubernetes know the volume has detached.
3. User **deleted the pod**.
4. Kubernetes recreated the pod, even on the same node.
5. The pod would able to run without problem.

However, if in

[2019-04-05 01:04] yasker commented on #461
UI details:
Feature 1: workload display
1. Remove Frontend and Endpoint from volume list.
2. Add Workload name, pod name, namespace to the list. Workload and pod name show as `workload/pod`.
3. Add PV and PVC in the list. Show the name and status as a tooltip for the icon.
4. In volume details, add all the information from volume.status.kubernetesStatus.

Feature 2: create pv/pvc by volume
Add new

[2019-04-05 17:43] yasker opened #462 "uninstaller: add ability to cleanup leftover resources with finalizers when longhorn uninstall stuck"
Wrongly uninstall Longhorn shouldn't require user to remove finalizers manually.

[2019-04-05 18:26] yasker opened #463 "engine: block device permission is not consistent with native block devices"
e.g.

directories:
drwxr-xr-x  2 root root         580 Apr  5 11:01 block/
drwx------  2 root root          60 Apr  4 23:53 longhorn/

block devs:
brw-rw----  1 root disk      8,   0 Mar 25 18:58 sda
brw------- 1 root root 8, 16 Apr  4 00:30 /dev/longhorn/test

We should make the permissions consistent with native ones.

Raised by https://forums.rancher.com/t/systemd-complaining-still-working-fine

[2019-04-05 19:25] yasker opened #464 "manager: replace `:` in the support bundle directory name with `_`"
To be consistent with the zip name

[2019-04-05 19:41] yasker opened #465 "manager: improve getting log in the engine"
Once the engine starts outputing journal log, the previous information are all gone.

Either we reduce the size of journal log, or collect more logs when engine crashed.

Currently we only get 100 lines of engine log, which can be easily flooded by engine journal.

[2019-04-05 19:43] yasker opened #466 "engine: Don't do unnecessary direct_io"
For example, during the rebuilding process, we don't need direct_io since if a rebuilt was completed, we're not going to use it anyway. We can run `sync` just before verifying the completion of the rebuild.

[2019-04-05 21:52] yasker commented on #461
First feature backend part has been merged in. See volume.status.kubernetesStatus

[2019-04-05 22:01] yasker commented on #83
In the volume list, we will show:
1. What's the latest backup and when it was taken (depends on backend https://github.com/rancher/longhorn/issues/459 )
2. Is there a recurring backup has been configured for the volume. It can be just an icon, then e.g. click the icon to show the detail of recurring snapshot and backups.

[2019-04-05 22:30] yasker opened #467 "Default recurring backup policy"
We're need recurring backup policies.

It would be easier to apply backup policies to volumes instead of hand fill volumes' recurring schedule. Also, one of them can be set as default, which will be applied to all the volumes.

If the default policy was set, any newly created volume will automatically have this policy when created. The policy will be applied to all the existing and new volumes. Ch

[2019-04-07 08:12] dnauck opened #468 "[Feature Request] Support Backup to WebDAV"
Please add support for WebDAV locations as backup storage

[2019-04-08 05:20] paulmorabito opened #469 "Restoring volume from single replica"
Hi,

Is there any way to restore a volume from a single replica copy?

I've been testing various clusters and storage configs and have one volume without a backup but I do have a single replica that should be valid.

Thanks,

[2019-04-08 09:30] XzenTorXz opened #470 "Engine upgrade is stuck"
We updated from longhorn 0.3 to 0.4.1 and most of the volume updated the engine, but 2 are stuck.

![grafik](https://user-images.githubusercontent.com/3819224/55713644-5c2db300-59f1-11e9-908c-cb7050482999.png)

It does not give the option to upgrade the engine anymore.

The logs are full with:

[code]

but are still working

[2019-04-08 09:43] XzenTorXz opened #471 "Volumes and their replicas get faulted from time to time"
Since the update to 0.4.1 we noticed failing volumes on 2 diffrent machines.

Here 2 volumes both connected with mariadb pods (in 2 diffrent namespaces) crashed at the same time.

The logs for faulted volume `pvc-b5ead96e2de411e9`:

[code]
...
[code]
...

[code]
...
[code]

[code]

then it detaches. We need to salvage it from a replica (that is also faulted) and then restart the pods and it works

[2019-04-08 12:24] XzenTorXz commented on #470
when i view the details i see this error for a short time:
![grafik](https://user-images.githubusercontent.com/3819224/55723699-fb5ea480-5a09-11e9-9985-2f5c0a4324bf.png)

[2019-04-08 19:02] yasker commented on #469
So the volume itself has been removed from Longhorn, so you no longer able to see it in the Longhorn UI?

If that's the case, there is no built-in way of restoring one out of Longhorn system replica into a full Longhorn volume for now.

 The data is still there though. If you want to get the data out, you can try the following command to create a block device on the host:

[code]

e.g.
[code]

It

[2019-04-08 20:32] yasker commented on #471
Can you check if high CPU utilization happened at the same time? One engine reported `Receive terminated to exit` which means someone killed this engine using SIGTERM, maybe it's kubelet that evict the node.

You can send me the support bundle for me to take a closer look.

[2019-04-08 22:57] yasker opened #472 "manager: kubernetesStatus should be `camelCase`"
To follow JSON naming convention.

[2019-04-09 01:10] yasker commented on #472
Fixed.

[2019-04-09 01:10] #472 closed

[2019-04-09 04:05] paulmorabito commented on #469
That worked. Thank you!

On Tue, 9 Apr 2019 at 04:03, Sheng Yang <notifications@github.com> wrote:

[2019-04-09 04:30] paulmorabito opened #473 "Linking the PVC to the PV"
Hi,

I'm testing out a kubespray generated k8s cluster (K8s version 1.13.5) with longhorn (0.4.1). I'm trying to mount a longhorn volume using the following PV and PVC:

[code]

[code]

When I add these through kubectl, I can see the PV and it’s marked as available however the PVC is stuck in pending status. I've verified the longhorn storage class exists and other mount types (such as NFS) work f

[2019-04-09 06:37] yasker commented on #473
No provisioner/storage class supports selector since provisioner is used to creating a new volume, not associating to an existing volume. See https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L375

You can just use `volumeName` field, see: https://github.com/rancher/longhorn/blob/master/examples/csi/example_pv.yaml#L30

[2019-04-09 06:50] xXTim97Xx opened #474 "Error: Failed to mkdir /lib-modules: mkdir /lib-modules: read-only file system"
I'm getting a "CrashLoopBackOff" on the Longhorn-csi-plugin pod with kubic-os and an on premise Kubernetes Cluster.

The error shows me: "Error: Failed to mkdir /lib-modules: mkdir /lib-modules: read-only file system"

Maybe this is because kubic uses a read-only file system.
How to solve that problem?

[2019-04-09 07:54] XzenTorXz commented on #471
I sent you the support bundle.

I cant tell for sure that there was a high CPU load at the moment. But in general its around 7% and I never saw it above 20%.

[2019-04-09 08:11] paulmorabito commented on #473
I made the changes as follows:

[code]

And

[code]

When I create the PV, I can see it register in the logs as before. When I create the PVC, there is nothing logged and it remains in pending status.

[2019-04-09 11:08] paulmorabito commented on #473
Describing the service reports this:

[code]

[2019-04-09 11:13] paulmorabito commented on #473
Fixed. Typo. G instead of Gi for size!

[2019-04-09 11:36] #473 closed

[2019-04-09 16:02] benosman opened #475 "Automatic Provisioning of Persistent Volumes (CSI)"
Hello,

I'm testing out Longhorn for my cluster, and one minor niggle I have with it is that in the UI it shows only the guid of the volume, not the label of the claim.

I read in #82 that it may not be possible to retrieve that information from the storage driver.

So, I was looking at ways of getting the volume names to be manually set rather than the auto generated guid.

Since I'm using Kubern

[2019-04-09 19:34] yasker commented on #473
You can also try to use `Gi` for both since Longhorn volumes use 1024 instead of 1000.

[2019-04-09 19:41] yasker commented on #474
It looks like the directory specified by CSI plugin pod here is wrong. It shouldn't need to create a new directory. Looks like should be `/lib/modules` instead of `/lib-modules`.

We will fix this in the next release.

[2019-04-09 19:45] yasker commented on #475
Though it's impossible to control what the PV name is when Kubernetes decide to provision it, we're going to address #82 by implementing #461 in the next release, so users would be able to see the workload using Longhorn volume in the Longhorn UI. Hope this will address your issue as well.

[2019-04-09 21:27] yasker opened #476 "Test failure: function call to delete_and_wait_statefulset() in test_statefulset_restore"
[code]

[2019-04-10 01:40] yasker commented on #456
Fixed.

[2019-04-10 01:40] #456 closed

[2019-04-10 07:30] yasker commented on #460
Done.

[2019-04-10 07:30] #460 closed

[2019-04-10 09:44] ManCon commented on #392
Hi Yasker

I have the same issue and I am testing with LongHorn 1.40 RancherOS 1.4.0 and Kubernetes v1.13.5-rancher1-2.

An other volume on node-01 was Attached correctly.

[2019-04-10 11:31] benosman commented on #475
Great, those changes would certainly go a long way to easing this issue for me!

Closing this issue then, and I will keep an eye on 461.

[2019-04-10 11:31] #475 closed

[2019-04-10 17:22] yasker commented on #392
Hi @ManCon

What's the Longhorn version you're using? We don't have v1.4.0 yet. Did you mean v0.4.0? RancherOS support has been introduced in Longhorn v0.4.1.

[2019-04-10 17:23] yasker commented on #392
@Dremor We also introduced CoreOS support in v0.4.1

@Dremor @ManCon You can check https://github.com/rancher/longhorn/blob/master/docs/csi-config.md for details.

[2019-04-10 20:03] yasker opened #477 "manager: Add kubernetes node information in the support bundle"
It can help with investigating the resource issue, e.g. https://github.com/rancher/longhorn/issues/470

[2019-04-10 20:06] yasker commented on #470
Both pod `pvc-6911aebbfa3411e8-r-13b22912` and  `pvc-5a91cdf9216111e9-r-b1dc670d` cannot be started due to Kubernetes unable to start the pod:
[code]

Seems there are too many pods on that node.

For now, you can detach the volume and upgrade for those two volumes, following https://github.com/rancher/longhorn/blob/master/docs/upgrade.md#offline-upgrade

We're working on a design that can help wit

[2019-04-10 22:10] yasker commented on #471
@XzenTorXz

Both volumes failed due to unable to talk to all their replicas suddenly, starting around 04-05T08:44:16 (or a few seconds earlier).

I don't think it's directly related, but both failed volumes are located on node1, which has run out of pods according to what I found in #470. Sounds like it can be a side-effort of sudden workload increase. It's possible that the engines on node 1 cann

[2019-04-11 19:46] XzenTorXz commented on #470
this seemded to be the case, even so we now just use 80 of the 110 and i upgrade only 4 volumes at a time, but the cleanup might have taken longer

[2019-04-11 19:49] XzenTorXz commented on #471
i dont think this is the issue is related to the running out of pods, since we had no changes in pods when the error occured. It also occured on a different server, where we have only 70 of 110 pods.
Also on both are single node servers, if that helps.

[2019-04-11 20:36] yasker commented on #471
@XzenTorXz those are on-prem or cloud? Which platform/provider you're using to start VMs? I still think CPU has a high chance of getting involved. Still, we will try to reproduce this in house. This kind of random network disconnection between the pods on one node really bothers me...

[2019-04-11 23:17] #477 closed

[2019-04-11 23:18] #465 closed

[2019-04-11 23:19] yasker commented on #474
Closed by mistake. That commit should refer to #464

[2019-04-11 23:19] yasker commented on #464
Fixed by https://github.com/yasker/longhorn-manager/commit/337029e97907a6de3938ab3b7d102b34e834c125

[2019-04-11 23:19] #464 closed

[2019-04-12 07:06] XzenTorXz commented on #471
There are 2 servers that running longhorn with a simular setup.
Hardware:

and are hosted in 2 diffrent data centers.

Software:
Both running rancher 2.1.4 with kubernetes v1.12.3 and are not connected. The docker version is 17.03.2-ce. One server is now updated to rancher 2.1.8 and kubernetes v1.12.7 (the error has not occured since then).

![grafik](https://user-images.githubusercontent.com/3819

[2019-04-12 08:33] XzenTorXz commented on #471
just happend again. i think it is weird that always the same volumes are faulted and always both at the same time. they both running in diffrent pods on diffrent namespaces, but are both connected to a maria sql database.

[2019-04-12 08:53] KuroObi opened #478 "Volumes get bigger and bigger"
We observed that volumes get bigger than there maximal size. We are running a Prometheus and Elasticsearch database where a lot of data gets generated and deleted.
Is there a way to slim down the replicas to reduce the overall used storage on nodes with the replicas.

[2019-04-12 12:16] XzenTorXz commented on #471
it also occured on the other server (with the updated kubernetes) again. I sent you the support bundle.

[2019-04-12 18:24] yasker commented on #478
@KuroObi After backing up the snapshots, you can delete them to remove unnecessary history data, which will shrink the volume size.

Notice the snapshot deletion may take a relatively long time (since we need to coalesce the data) and result in a higher than normal load on the system, so it's better to do it one by one.

If you have recurring backup/snapshot set, the snapshot deletion would be per

[2019-04-12 19:07] ManCon commented on #392
Hi
I have done now some tests with this setting:

RancherOS 1.4.0
Rancher Server Docker 18.03
Rancher v2.2.1
Kubernetes v1.13.5-rancher1-2
Node Docker-17.03.2-ce

Fore me it is working with this versions.
Thanks for your support

[2019-04-12 20:04] shuo-wu opened #479 "Test failure: failed to call create_and_wait_statefulset()"
[code]

[2019-04-12 20:52] yasker opened #480 "manager: support bundle improvements"
- [x] Allow user to add comment in the support bundle.It will help to understand and keep track of the problem
- [x] Add `snapshot info` in the support bundle if the engine is up and running.

[2019-04-13 00:57] yasker commented on #471
I think it's the CPU load.

There is another controller experienced errors during the time as well, though it has recovered by themselves.

[code]

We're going to ask Kubernetes to guarantee Longhorn's CPU in https://github.com/rancher/longhorn/issues/416 . The feature has been scheduled after next release.

Is it possible that one large operation on those maria DB instances can happen at the same

[2019-04-13 06:29] dnauck commented on #480
Year, maybe also a Github Issue id ;)

[2019-04-15 05:51] yasker commented on #459
The backend change is not ready yet.

[2019-04-15 17:15] Oats87 opened #481 "Longhorn v0.4.1 engine log spam with message "tgtd: bs_longhorn_request(136) unsupported cmd->scb[0]: 35""
Running Longhorn v0.4.1, when observing logs of the engine container, i.e. pvc-0f94cc3e-5f9c-11e9-a3cf-005056aa4d4e-e-9d06dcbb it can be observed that a massive amount of logs are being spammed.

Log contents are similar to:
[code]
multiple times per second.

[2019-04-15 20:53] yasker commented on #481
Fix merged.

[2019-04-15 20:53] #481 closed

[2019-04-16 19:40] yasker commented on #462
The stuck situation be simulated by `kubectl delete ns longhorn-system` or `kubectl delete -f deploy/longhorn.yaml`

See also https://forums.rancher.com/t/longhorn-system-stuck-terminating/13690

[2019-04-16 20:48] yasker commented on #459
Backend change merged.

[2019-04-16 23:46] yasker commented on #462
Remember to update the doc for v0.5.0

[2019-04-17 00:49] yasker commented on #454
Fix merged.

[2019-04-17 00:49] #454 closed

[2019-04-17 07:26] sebastiansirch opened #485 "Orphaned pod (...) found, but volume paths are still present on disk"
Our kubelet logs are full with thousands of lines like this:

[code]

Not sure if it is actually a Longhorn issue, but as discussed with @yasker , we at least wanted to document it.

[2019-04-17 07:53] KuroObi commented on #485
We've encountered this problem too.
There is already a [kubernetes Ticket](https://github.com/kubernetes/kubernetes/issues/60987) open.

we delete the orphaned pods from time to time manual by running:

`num=$(docker logs --tail 20 kubelet 2>&1 | grep "errors similar to this. Turn up verbosity to see them." | tail -1 | awk '{print $23}' | sed 's/"//g')

while [ $num ]

do

  rm -r /var/lib/kubelet

[2019-04-17 08:13] xvonabur commented on #471
@yasker I faced that issue too, during high CPU utilization. Some of my replicas (not all of them) became faulted.

Is there a way to set cpu requirements manually right now? I don't mind editing some yaml description of pods, but I don't know what to edit.

[2019-04-17 12:59] gabrielcalderon opened #486 "Make StorageClass and ReplicaCount configurable in Helm Charts"
When installing Longhorn from Rancher's UI there's no way to configure how many replicas are created. This results in single node systems having 3 replicas for each volume, and 3 pods for the drivers/provisioner.

Would it make sense to have this value be configurable ?

[2019-04-17 13:58] ViceIce opened #487 "namespaces "longhorn-system" not found: undefined"
Tried to deploy longhorn to a kubernetes custom v1.13.5 cluster (2 nodes) with rancher v2.2.2

`namespaces "longhorn-system" not found: undefined`

If i manually add the namespace `longhorn-system` it will deploy to that. It looks like it ignores the namespace setting.

I tried longhorn template version 0.4.0 and 0.4.1

[2019-04-17 20:03] yasker commented on #486
@gabrielcalderon Yeah, we will add the option to configure `numberOfReplicas` for the default storage class `longhorn` in the next release.

[2019-04-17 20:36] yasker commented on #461
Done.

[2019-04-17 20:37] yasker commented on #462
@shuo-wu Have you updated the doc yet?

[2019-04-17 20:38] shuo-wu commented on #462
You mean Longhorn doc? Not yet

[2019-04-17 22:39] yasker commented on #362
For now, we're going to deal with the second point first.

We will add the ability to set up recurring backup/snapshot using the storage class or volume directly.

[2019-04-17 23:29] gabrielcalderon commented on #486
Great to hear! 👍

[2019-04-18 07:40] yasker commented on #459
Done.

[2019-04-18 07:45] yasker commented on #83
The support of default backup policy will be tracked as #467

The feature that listing the current backup schedule and last backup has been merged.

[2019-04-18 07:45] #83 closed

[2019-04-18 08:15] KuroObi commented on #478
We had to remove the old volume but the new one is nearing its limit.
I'll let  you know when the  replica get to there limit.

[2019-04-18 08:35] yasker commented on #478
@KuroObi Does delete snapshots work for you?

[2019-04-18 09:49] KuroObi commented on #478
@yasker  with the old volume we couldn't delete the snapshots due to the fact that we lost one of our replicas and it took to long to restore it so we deleted it and recreated the volume from scratch.
But the new replicas approaching the limit, i should know more on monday.

[2019-04-18 16:24] yasker opened #489 "manager: engine image ownership didn't transfer when the owner node is down"
If an engine image's owner node is down, the controller should assign a new owner. Otherwise, the engine image status won't be updated.

It won't be a problem for new engines, but the status of old engines can be stuck in `deploying`.

[2019-04-18 16:42] yasker commented on #487
It's a Rancher issue, we are tracking it at https://github.com/rancher/rancher/issues/19697

[2019-04-18 22:13] yasker opened #490 "UI: Volume overview page improvement"
- [x] Change `Schedule` to `Backup Schedule`, seems better to be two lines.
- [x] Remove the wording `Click for details` for `Workload/Pod` and `Schedule` tooltips. I noticed the mouse pointer will turn into a hand sign, which should be enough to tell the user it's clickable. Keep the `Last time used:` tooltip for `Workload/Pod`.
- [x] In `Workload/Pod`, don't show `Pod Status` if `Last Pod Ref at

[2019-04-19 01:51] yasker commented on #471
@xvonabur Kubernetes doesn't allow modify QoS after pod started, so It would be hard to do that manually.

We will add an experimental feature to guarantee the engine's CPU in v0.5.0. We hope this will improve Longhorn stability with high load situation. Though due to the potential resource constraint, the attaching of volume may fail with the feature enabled. We are working on a better solution a

[2019-04-19 02:00] yasker commented on #487
The issue can be workaround by manually set namespace to `longhorn-system` instead of `longhorn` or `longhorn-xxx`.

It will be fixed in the next Rancher release.

[2019-04-19 05:45] yasker commented on #490
Done

[2019-04-19 05:45] #490 closed

[2019-04-21 09:55] C0NO opened #492 "Auto deattach/attach volumes"
I have 2 slave 1 master kubernetes cluster.I installed longhorn and i can access web ui succesfully.I am really interested in with handle node failure.When i create a pod with pv it starts and i can see the attached status on web ui.When i delete the pod the pv status is getting detached status on web ui.But if i poweroff the node (which has the pod) and wait 45 minutes it shows still attach that

[2019-04-21 15:21] yasker commented on #492
Hi @C0NO,

Please check if https://github.com/rancher/longhorn/blob/master/docs/node-failure.md applies to your setup. Currently we need user to delete the original pod to get volume reattached automatically to the new pod, for both statefulset and deployment.

[2019-04-21 19:52] C0NO commented on #492
Thank you for reply.Even if i delete the pod (with --force) it is not deataching automatically.But if i do it manually via gui it is succesfully reattaching.

[2019-04-21 20:26] C0NO commented on #492
I can also see that the longhorn controller can see the node status unknown on the event logs:
Kubernetes node slave2 not ready: NodeStatusUnknown

[2019-04-21 21:54] yasker commented on #492
How long you had been waiting after pod was force deleted? Kubernetes took about 6 minutes to ask storage driver to detach the volume as we observed (see the doc). If it's still not working, we can investigate.

[2019-04-21 23:45] vitobotta opened #493 "K3S - Can't access Longhorn UI through Rancher due to timeouts"
I have set up a K3S cluster, imported it into Rancher, and installed Longhorn. Install went OK but I can't access the UI through Rancher by clicking on the relevant link in the Apps page, due to timeouts:

[code]

I can access the UI with an ingress, but that's unauthenticated so I would prefer access it through Rancher. Any idea on why it is timing out? Thanks!

[2019-04-22 06:38] C0NO commented on #492
Ok i tried to force deleteion deployment(nnot pod in the deployment) and it attached manually on the new pod.I tried only force delete the pod but it is worked when i delete deployment.Thank you for help.I am looking for reduce the auto recovery time now.Best regards.

[2019-04-22 19:17] yasker commented on #492
We're improving the reattaching time in Longhorn v0.5.0.

It's a bit unclear to me what is the process working for you? Just force delete the pod should be good enough.

[2019-04-22 19:31] C0NO commented on #492
I just try to migrate some classic server type application to a private cloud system.I have 1 edge 1 cloud server and i am working to setup a high availability which is literally zero downtime for applications.But 10 minutes quite good for me but at the future for some customer this time should  reduced.But it would be good if there is option about reattach time.Thank you for kind replies.

[2019-04-22 21:56] yasker opened #494 "[DOC] Provide the user guide for Kubernetes upgrade"
User will need to upgrade Kubernetes from time to time, we need to cover Kubernetes major version upgrade in our tests, and provide guidance for the user to prepare for the Kubernetes upgrade.

[2019-04-22 22:58] yasker commented on #358
Move to v0.6.0

[2019-04-22 23:19] yasker opened #495 "feature: incremental restoration for disaster recovery"
## Goal

To ensure DR on another datacenter works well, we're planning to have a standby volume in the recovery region, receiving incremental backup from the backup store, and ready to be deployed.

It's easier than putting an async replication across the data center.

Also, it will require a mode for the engine to not enable frontend, but allow the command to restore the backups in an incremental

[2019-04-22 23:46] yasker commented on #493
@guangbochen Is there anything we can check for Rancher proxy?

[2019-04-23 07:19] KuroObi commented on #478
I was able to recreate the issue:
![longhorn_vol_size_20190423](https://user-images.githubusercontent.com/2558064/56562037-cf662600-65a8-11e9-95fa-e551c3ef08a1.png)

The only snapshot that i can see is a system snapshot that I can't delete.

[2019-04-23 08:56] KuroObi commented on #471
@xvonabur We too run into that problem. The problem got a bit better after we set kube-reserved, system-reserved and an eviction-threshold on our k8s cluster. It didn't vanish completely, but we reduced the number of times it append.

[2019-04-23 15:38] vitobotta commented on #493
Thanks @yasker , I hope I can get it to work with K3S :)

[2019-04-23 18:11] yasker commented on #474
https://github.com/rancher/longhorn-manager/pull/267 merged.

[2019-04-23 18:40] yasker opened #496 "Expose warning for too many snapshots"
Normally the user shouldn't have more than 100 snapshots. The engine limit is 250 but it definitely shouldn't reach to that number. Normally it's something wrong if more than 100 snapshots exist, e.g. recurring cleanup routine didn't clean up as expected. We need to warn the user about the issue before it becomes too serious, e.g. hitting 250 and replica rebuilt can be paused.

Design:
1. It shoul

[2019-04-23 18:53] yasker commented on #478
@KuroObi If you move your mouse over the snapshot and head, you should see the real `size` of each.  The actual size is what added up by those number.

The volume head is also treated as a snapshot in the Longhorn. So it's still OK for the actual size to be bigger than the nominal size.

If you want to downsize the volume, you can create a new snapshot, then delete the first volume.

It works like

[2019-04-23 21:56] yasker opened #497 "UI: snapshot tree: system generated snapshot should be hidden by default"
If `Create By User` is false, the snapshot should be hidden by default. It should be only revealed if `Show System Hidden` is chosen.

Once it's revealed, it should be shown different from `removed=true` snapshots or user-created snapshots. The user won't be allowed to `revert` to it, but unlike removed snapshot, `delete` is allowed for the system created snapshots once it's revealed.

[2019-04-24 03:05] gabrielcalderon commented on #487
@yasker I just ran into this same issue and changing the namespace to "longhorn-system" solved it. This doesn't happen if longhorn is created as a multi-cluster app.

[2019-04-24 11:02] KuroObi commented on #478
@yasker That worked, thank you very much.
Is there going to be a feature in the future that is going to tell longhorn to downsize the volumes automatically?

[2019-04-24 17:40] yasker commented on #478
@KuroObi Currently you can schedule a recurring snapshot or backup, so the snapshot would be automatically created and cleaned up if the number of snapshots exceeds the specified retain number.

It's highly recommended to schedule a few recurring backups, as the fall back protection for your data.

[2019-04-24 18:34] junkiebev commented on #64
Is access granted by RBAC? What are the roles required?

[2019-04-24 18:44] junkiebev opened #498 "[Question] Need to clean up failed deployment"
I had a deployment, done through the app catalog, in Rancher v2.2.2, fail on me. I deleted it but it seems to have left api resources and maybe some other things. This, I believe, is resulting in the namespace being stuck `Terminating` with a `kubernetes` finalizer.

Is there some cleanup script which would remove all artifacts? Can I just run the one in the catalog's chart somehow?

[2019-04-24 19:10] yasker commented on #487
@meldafrawi Can you check if this one impacts the multi-cluster app as well?

[2019-04-24 19:21] vitobotta opened #499 "K3S - Volumes stuck at "Creating" but not always"
This is a follow up to the conversation on Slack.

I am having an issue with Longhorn in a K3S cluster, where volumes provisioned with PVCs sometimes are created and attached without problems, while sometimes they get stuck at the "Creating" phase. I have the same happening regardless of whether I configure Longhorn to use the CSI driver or the Flexvolume one.

Thanks in advance for looking into i

[2019-04-24 19:23] yasker commented on #499
Does the thing happen if you're using UI to create a volume directly? Maybe a race condition so you may want to try multiple times.

[2019-04-24 19:25] yasker commented on #64
I think it's limited to who has access to the `longhorn-system` namespace in Rancher. @guangbochen can help to confirm.

[2019-04-24 19:30] yasker commented on #498
The uninstallation tool has been improved to help with this situation. Though if the app was uninstalled using Rancher App page, this should be done automatically.

Some instructions on how to delete stuck namespace is at https://github.com/rancher/longhorn/blob/master/docs/upgrade.md#delete-crds-in-different-namespace

Alternative, if you want to give the unreleased uninstallation tool at try, us

[2019-04-24 19:51] vitobotta commented on #499
When I create volumes directly from the UI instead of with a PVC, the volumes are created instantly and I can then attach them to nodes without problems.

[2019-04-24 22:12] meldafrawi commented on #487
I've tried to deploy longhorn as a multi-cluster app using rancher server v2.2.2
a new namespace is being created with a name longhorn-**prefix**,
all pods have been created successfully in that namespace.

[2019-04-24 22:35] yasker commented on #487
@meldafrawi Seems we have an issue here since we need the multicluster app stick to our predefined `longhorn-system` namespace.

[2019-04-25 00:25] guangbochen commented on #64
yes, and to be more detailed, we will default to project(1 project contains multiple ns) level access protection, not 100% sure about namespace level protection, but you can always move it to an independent project if that matters.

[2019-04-25 00:54] yasker commented on #64
Close this issue since we now provided authentication though Rancher. Separate user management can be filed as another issue.

[2019-04-25 00:54] #64 closed

[2019-04-25 15:15] yasker commented on #414
This can be done by introducing three new APIs.

1. POST `/supportbundle/, and it should be called with `nodeId` set so we can route the request to one of the longhorn manager. Other options would include description and issue URL etc. API server will return a bundleID which client can use to check if the supportbundle is ready or not.
2. GET `/supportbundle/<bundleId>`, providing bundleId and nod

[2019-04-25 16:09] yasker commented on #499
Found this line in the log
[code]

I suspect it's similar to https://github.com/rancher/longhorn/issues/133. There is a rare race condition between creating an engine and get the engine information due to how Kubernetes indexer works. So we've created the engine object twice, result in later we found an unexpected engine exists with this error.

We haven't seen this in Kubernetes setup yet. But si

[2019-04-25 16:11] yasker commented on #499
@vitobotta Can you share your environment setup so we can try to reproduce it?

[2019-04-25 16:12] vitobotta commented on #499
@yasker It's a test K3S cluster with a master (1 core, 2 GB of ram) and three workers (2 cores, 8 GB of ram). Any other info I can provide? Thanks!

[2019-04-25 16:14] yasker commented on #499
@vitobotta which version of k3s?

[2019-04-25 16:16] vitobotta commented on #499
v1.14.1-k3s.4

[2019-04-25 16:22] yasker commented on #499
So K3s v0.4.0, got it.

[2019-04-25 16:32] vitobotta commented on #493
Just to add that I had the same problem with Nodeport access with another cluster but I had forgotten to install an ingress (Since I installed K3S with Traefik disabled). In another cluster with Nginx ingress I can access the UI with a Nodeport, not sure if it's related. I still can't access the UI with the Rancher proxy on this new cluster though.

[2019-04-25 19:40] meldafrawi commented on #462
**Test steps**

_Install steps:_
- install Longhorn (latest)   https://github.com/rancher/longhorn-manager/commit/43b34366ada0ee04fe87dcc9e5e7e46c5b176e1b
 - create a storage class
 - create a pod using Longhorn volume

 _Uninstall steps:_
- delete the pod
- delete the storage class
- delete Longhorn, and get stuck, pressing Ctrl + c
-  create Longhorn uninstall jobs
- create Longhorn uninstall jo

[2019-04-25 19:48] #462 closed

[2019-04-25 22:38] meldafrawi commented on #449
**Test steps**

- create k3s server using `/usr/local/bin/k3s --debug  server --bind-address K3S_SERVER_ADDRESS`
- create 2 k3s agents using `/usr/local/bin/k3s --debug  agent --server https://K3S_SERVER_ADDRESS:6443  --token  K3S_SERVER_TOKEN`
- install Longhorn (latest)   https://github.com/rancher/longhorn-manager/commit/43b34366ada0ee04fe87dcc9e5e7e46c5b176e1b
 - create a storage class
 - crea

[2019-04-25 22:39] #449 closed

[2019-04-26 03:12] junkiebev opened #500 "longhorn-csi-plugin flapping on Rancher v2.2.2"
Possibly related to https://github.com/rancher/longhorn/issues/277 but I don't think so as I'm running identical disk images on other nodes which are working.

Probably more detail than required :D

Running Rancher v2.2.2/k8s v1.13.5/docker 18.9.5/Canal network overlay

I've deployed Longhorn from the Rancher GUI, with the default selections which have worked on other, similar, clusters.

I'm runn

[2019-04-26 03:49] yasker opened #501 "FindAncestorByName should check for both `dockerd` and `containerd`"
`dockerd` won't be found in e.g. Docker v18.09. `go-iscsi-helper`'s unit test will fail.

Need to update Longhorn engine and manager to check for both `dockerd` and `containerd`.

[2019-04-26 08:49] guangbochen commented on #493
The generated URL `http://10.42.2.4:8000/` is not a proper proxy URL, can you please run `kubectl cluster-info` to check if the proxy URL is generated correctly of the Longhorn UI, for example, the default the CoreDNS proxy URL would be something like: `https://YOUR_ID_ADDRESS/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy`

[2019-04-26 08:51] vitobotta commented on #493
Hi @guangbochen , that is not the URL I use to access the UI. I access the UI from a URL on the Rancher app, but when it times out I see that error message in the page.

[2019-04-26 08:55] guangbochen commented on #493
yes, but even from the rancher UI the correct url address should be a system-proxy address, so we need double check if the proxy url has been generated in the k8s cluster or it is a UI display and linking bug, thanks.

[2019-04-26 16:30] vitobotta opened #502 "Velero/Restic restores of Longhorn volumes not working properly"
Not sure if this belongs here...

I am testing Velero backups and I enabled Restic support so that I could backup volumes too. For some reason, if I use Longhorn for the volumes the restores don't work properly because Restic cannot find expected data in the volumes restored.

If I use for example Rook for the volumes, then restores work properly, so this seems to suggest that there might be somet

[2019-04-26 17:55] junkiebev commented on #500
hey it was systemd-resolved - I fixed it by doing `sudo service resolvconf reload`

i love systemd - it sure is cool.

[2019-04-26 18:30] courcelm opened #503 "Snapshot issue after restoring from backup"
I restored a few volumes from backup and it's not able to take any snapshot. I get the following error from UI pop up:

fail to list snapshot: cannot get client for volume matomo-backup-1: cannot get engine client with image rancher/longhorn-engine:v0.4.1: engine image ei-6e2b0e32 (rancher/longhorn-engine:v0.4.1) is not ready, it's deploying

UI engine pods status is green.

[2019-04-26 18:50] courcelm commented on #503
Not sure if backup restoration is the problem. New volume also have this issue.

[2019-04-26 19:02] yasker commented on #502
I am not sure how Restic work... Is it an essentially a zip file? We probably can look into it later.

One of the highlights of Longhorn is the built-in backup/restore mechanism. You may want to give it a try.

[2019-04-26 19:04] yasker commented on #503
Is there anything recently changed with the cluster nodes? Image may become unready when something for the node changed. We've found a bug #489 recently.

[2019-04-26 19:08] yasker commented on #500
@junkiebev Glad you figured it out! This normally indicates longhorn-csi-plugin driver registrar cannot communicate with the csi-plugin, which may either due to it cannot find the socket or the csi-plugin itself cannot find the manager to talk to. We can take a look at csi-plugin (container)'s log for more clues next time.

[2019-04-26 19:08] #500 closed

[2019-04-26 19:17] courcelm commented on #503
I was restoring backup and loading apps. Not sure about the above issue. I flushed the manager and it fixed my problem.

[2019-04-26 19:17] #503 closed

[2019-04-26 19:22] meldafrawi commented on #459
It would be more clear to add **Last Backup At** field along with **Created At** field so users can know when is the last time this volume backed up.

![Screenshot from 2019-04-26 21-01-57](https://user-images.githubusercontent.com/18232258/56831351-1b46f280-6869-11e9-8828-45a906d2e2cf.png)

[2019-04-26 19:34] yasker commented on #459
@smallteeths Can you look into this? ^^

[2019-04-26 20:19] meldafrawi commented on #497
`Show System Hidden` stopped working after page reload,

![Screenshot from 2019-04-26 22-11-46](https://user-images.githubusercontent.com/18232258/56833953-61538480-6870-11e9-8188-c77c0a534dbf.png)

![Screenshot from 2019-04-26 22-15-30](https://user-images.githubusercontent.com/18232258/56834119-d32bce00-6870-11e9-96e8-5f914deca032.png)

**Steps to reproduce this behavior:**
- create pod using
`k

[2019-04-27 10:31] vitobotta commented on #502
Hi @yasker, yep I have tried the built in in backup feature and it works really well. However I am experimenting with Velero as well because it has the advantage of backing up the whole deployment, not just the volumes. So for example if I delete a namespace I can restore it entirely from a backup with one restore command. The whole thing.  Or if I migrate to a new cluster, I can also restore all

[2019-04-28 05:44] smallteeths commented on #497
@meldafrawi I followed your steps, but the bug did not recur. May I ask if the version of UI is the latest? This is the address of my project http://3.19.64.160:32175/volume/pvc-03f90a2c-695b-11e9-85c9-063587d8a228

[2019-04-29 17:34] meldafrawi commented on #497
@smallteeths
I'm using latest longhorn-ui images exited on docker hub
  `image: rancher/longhorn-ui:241599b`

[2019-04-29 17:40] yasker commented on #497
@meldafrawi Can you re-test with the latest Longhorn UI? Just run `make` with https://github.com/rancher/longhorn-ui to get the latest image built.

[2019-04-29 17:54] meldafrawi commented on #497
I've built a new Longhorn UI image, and re-tested.
The issue is resolved.
I'm closing the issue.

[2019-04-29 17:55] #497 closed

[2019-04-29 19:53] vitobotta commented on #502
Is there something that I can do to investigate myself? Thanks :)

[2019-04-29 20:14] meldafrawi commented on #461
**Testing list:**

_Feature 1: workload display_

- [ ] Remove Frontend and Endpoint from volume list.
- [ ] Add Workload name, pod name, namespace to the list. Workload and pod name show as workload/pod.
- [ ] Add PV and PVC in the list. Show the name and status as a tooltip for the icon.

- [ ] In volume details, add all the information from volume.status.kubernetesStatus.

_Feature 2: create pv

[2019-04-29 20:41] meldafrawi commented on #461
It would be much easier for the user if workload/pod **namespace** exist in the volume list level, with sort and filtering.

[2019-04-29 20:50] yasker commented on #502
@vitobotta This is a really weird problem. By just reading Restic documents, it should work with any underlying storage system since they only need to access the filesystem for the pod. If it's up to me, I will start googling for the error message shown by Restic. It knows it had backed things up, but it cannot find the things that suppose be there. I feel Longhorn is probably not the only case it

[2019-04-29 20:52] vitobotta commented on #502
Could this be related to the other issue concerning the double engines? I will try again with the workaround you suggested on Slack and let you know.

[2019-04-29 20:52] yasker commented on #461
@meldafrawi Agreed.

@smallteeths Can we add `Namespace` between `PV/PVC` and `Pod`? And add sorting for it too.

[2019-04-29 21:05] yasker opened #504 "UI: Present an alternative form of recurring scheduling setup"
Users may want to set more complex schedulings, e.g. backup for every 4 hours.

We have a parser in the Rancher UI can show people what they've chosen for the cron job. We can reuse the logic (or find some other component to do it for us)

<img width="1320" alt="Screen Shot 2019-04-29 at 2 04 08 PM" src="https://user-images.githubusercontent.com/3344618/56926955-c1704380-6a87-11e9-8339-f7ad9558bff

[2019-04-29 22:28] vitobotta commented on #499
As a followup to our conversation on Slack, and for reference, I wanted to update the issue just in case somebody else plays with Longhorn on K3S as well :)

So it is confirmed that the problem with volumes sometimes stuck at "Creating" is indeed due to two engines being created for those volumes for the reason explained above by @yasker.

As suggested on Slack, when the problem occurs I find with

[2019-04-29 22:31] yasker commented on #499
Thanks @vitobotta !

Btw, I've reopened the bug to track the effort to fix it in v0.5.0.

[2019-04-29 22:44] vitobotta commented on #502
Update: I tested this with the workaround described in #499 but it looks like this specific problem is not related to the volumes getting stuck at "Creating", although that also happens sometimes when restoring with Velero.

When the restore of a volume is completed by Velero/Restic (which reports that the restore was successful), the pod that uses the volume and that is recreated by Velero has a

[2019-04-29 22:45] vitobotta commented on #499
Wonderful, thanks!

[2019-04-29 23:06] vitobotta commented on #502
I see the following in the logs of the engine, however this was after I deleted a second copy of the engine for the pvc as per the aforementioned engine-related issue.

[code]

[2019-04-29 23:07] vitobotta commented on #502
After a little while this also showed up:

[code]

[2019-04-29 23:19] meldafrawi opened #505 "UI - Setting snapshot/backup configuration when creating a volume"
**As a UI user, I want to be able to set snapshot/backup configurations while creating Longhorn volume.**
‏
![Screenshot from 2019-04-30 01-19-26](https://user-images.githubusercontent.com/18232258/56932926-05923100-6ae6-11e9-8dc8-a424292796b3.png)

[2019-04-29 23:28] yasker commented on #502
@vitobotta Those logs look perfectly normal... No issues so far.

[2019-04-29 23:29] yasker commented on #505
We should able to add an `advanced` option while creating the volume, which includes:
1. Base image option
2. Frontend selection
3. Recurring snapshot/backup

[2019-04-29 23:46] meldafrawi commented on #362
- [ ]  Create StorageClass with default snapshot and Backup configurations, Using
[code]

[2019-04-30 07:39] stoneLee81 opened #506 "i have two questions about longhorn?"
1 I use longhorn class to create a volume, and add volume, then start the service, in this service  I can find the volume. IF I create some files in the volume, and last delete this volume, the data i created before exists?

2 Is it possible to increase/decrease the existing volume of longhorn size?

[2019-04-30 10:49] vitobotta commented on #499
@yasker I have noticed that when I apply the workaround it takes a while for the pod to attempt attaching the volume again after it failed the first time. How long does it take for the attaching to be attempted again?

[2019-04-30 11:37] vitobotta commented on #493
Update: it's not just the Rancher proxy that is timing out; I guess this is based on the same way the `kubectl proxy` command works because if I try to open something else with that command I also get the timeout. See https://github.com/rancher/k3s/issues/418

[2019-04-30 17:37] yasker commented on #499
It sounds like the exponential backoff in Kubernetes, which is described here: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

[2019-04-30 17:45] yasker commented on #506
Hi @stoneLee81

1. There are a few different cases here:
    1.1. If by volume you meant the Longhorn volume, then no. The data stored in the volume would be gone if the Longhorn volume has been deleted. However, you can backup the volume using Longhorn built-in backup mechanism, so later you can restore to the volume back to the cluster from the backup store.
    1.2 If you meant Kubernetes PV, i

[2019-04-30 18:04] meldafrawi commented on #461
- [ ] Add Namespace between PV/PVC and Pod.

[2019-04-30 18:07] meldafrawi commented on #459
- [ ] Add `Last Backup At` field

[2019-04-30 18:07] #459 closed

[2019-04-30 18:50] yasker commented on #424
Cannot reproduce this recently.

[2019-04-30 18:56] yasker commented on #431
We will add an experimental feature to guarantee the engine's CPU in v0.5.0. We hope this will improve Longhorn stability with high load situation. Though due to the potential resource constraint, the attaching of volume may fail with the feature enabled (that's why it's experimental).

Let me know if it improves the situation you're experiencing.

We are working on a better solution after v0.5.0.

[2019-04-30 18:58] yasker commented on #436
Sounds like https://github.com/rancher/longhorn/issues/499 is also the symptoms of the issue.

[2019-04-30 19:01] yasker commented on #381
Cannot find a way for Longhorn to ask Kubernetes to remount the volume at the moment...

The new experimental setting `GuaranteedEngineCPU` in v0.5.0 may help with the situation if it's due to the resource constrain. We're working on a better solution after v0.5.0 for the issue.

[2019-04-30 19:03] yasker commented on #476
Fixed.

[2019-04-30 19:03] #476 closed

[2019-04-30 19:39] meldafrawi commented on #461
`Last Backup At` trimmed, need to be adjusted.

![Screenshot from 2019-04-30 21-31-17](https://user-images.githubusercontent.com/18232258/56988094-7fcac000-6b8f-11e9-9643-15600e06c990.png)

I can't find `namespace` the filter list.
![Screenshot from 2019-04-30 21-37-25](https://user-images.githubusercontent.com/18232258/56988408-3f1f7680-6b90-11e9-9e12-54fceec975c9.png)

[2019-04-30 20:22] meldafrawi commented on #461
@smallteeths, Can you please check this ^ ?

[2019-05-01 14:58] tlvenn commented on #502
Pretty interested to get this integration with Velero / Restic  fixed as well. @vitobotta did you end up finding anything else ? @yasker is there any chance you can try to reproduce the issue on your side ?

[2019-05-01 15:55] vitobotta commented on #502
Hi @tlvenn , unfortunately I haven't found anything better than the workaround above.

[2019-05-01 20:01] vitobotta commented on #493
Closing, since it's not related to Longhorn. When K3S server is started with `--disable-agent`, the server can't communicate with the services on the workers and therefore the proxy can't either. See https://github.com/rancher/k3s/issues/418

[2019-05-01 20:01] #493 closed

[2019-05-02 02:58] #506 closed

[2019-05-02 05:02] smallteeths commented on #505
@meldafrawi I tried add an advanced option while creating the volume, But it doesn't look very friendly.
![Jietu20190502-125021](https://user-images.githubusercontent.com/27733391/57057316-4fdc0380-6cda-11e9-97ba-9988bc6663ba.jpg)

[2019-05-02 16:03] yasker opened #507 "engine: automatic sync before taking snapshot"
Run `sync` automatically before taking the snapshot. It may take a long time but it's necessary.

[2019-05-02 16:42] yasker commented on #507
Need to figure out what's the mount point on the host to execute the sync on the host.

[2019-05-02 18:42] yasker commented on #294
We've implemented the speed up for volume detach for Kubernetes on failed nodes. But we need to look into the Kubernetes on normal pod deletion process to see if it's OK to apply the same logic here. Move to v0.6.0.

[2019-05-02 19:03] yasker opened #508 "Provide a choice to replace revision counter"
The record of revision counter results in one additional direct_io writes to the disk, which caused the performance penalty, especially this feature is more for data validation purpose.

We will see if we can replace the revision counter using some existing mechanism.

[2019-05-02 21:21] yasker opened #509 "UI: For PV/PVC field, show the PV state instead"
It's hard for the user to understand what's the meaning of icons still.

Let's just show the PV status in text, and keep the tooltip.

[2019-05-02 21:56] meldafrawi commented on #457
**[WIP] Features to be tested:**
- Dashboard
- Node
  - [ ] As UI user, i was able to list/sort all nodes details.
  -  [ ] As UI user, i was able to disable scheduling on a node.
  -  [ ] As UI user, i was able to filter nodes, using Name or Status (Schedulable, Unschedulable, Disabled, Down).
  - [ ] As UI user, i was able to add disk to node.
  - [ ] As UI user, i was able to enable/Disable Sch

[2019-05-03 00:11] yasker opened #510 "UI: Fields adjustment in the volume list page"
- [x] Merge the `State` with `Health`. Name the new field `State`. Conditions:

| Health \ State 	| Attached 	| Attaching 	| Detaching 	| Detached 	| Creating 	| Deleting 	|
|----------------	|----------	|-----------	|-----------	|----------	|----------	|----------	|
| Healthy        	| Healthy  	| Attaching 	| Detaching 	| Detached 	| Creating 	| Deleting 	|
| Degraded       	| Degraded 	| Attach

[2019-05-03 06:43] Remigius2011 commented on #154
hi,

how aboout running longhorn on a rancher provisioned cluster on prem (in my case on vSphere)? it would be nice to have a section describing how to prepare the nodes for longhorn as part of provisioning, preferrable using a `cloud-init.yaml`. How about using the available open-iscsi system service of rancher OS (in the dscription open-iscsi is installed manually using the ubuntu shell which ha

[2019-05-03 07:15] paulmorabito commented on #431
OK thank you for the update. So far, since I've moved to better hardware,
I've not had an issue with volumes disconnecting but would be happy to help
test this out.

On Wed, 1 May 2019 at 03:56, Sheng Yang <notifications@github.com> wrote:

[2019-05-03 17:24] yasker commented on #463
https://github.com/rancher/longhorn-engine/pull/350 merged

[2019-05-03 17:38] yasker commented on #466
The preliminary result of switching from direct IO to buffered IO for replica rebuilt process doesn't show much improvement on system utilization. The read cache won't be necessary since we're not going to reuse the data (and it's normally too big for the cache as well). The write cache is probably useless too because we're doing large chunk writing instead of IOPS intense small writings. The next

[2019-05-03 21:55] yasker commented on #457
Reopen to track for merging the code.

[2019-05-03 21:59] #461 closed

[2019-05-04 01:35] yasker commented on #508
The basic design:
1. The engine will ask replica for the FIEMAP of the volume head and compare them. They should be the same.
2. If not all replicas report the same FIEMAP, check the timestamp for the last access time of volume head (precision is nanoseconds). Accept the latest one and the ones with the same FIEMAP as it.
    2.1. This will require servers to have NTP servers running.
    2.2. One

[2019-05-06 13:21] tiger0425 opened #511 "pvc error No such file or directory"
Readiness probe failed: ls: cannot access '/dev/longhorn/pvc-3dd3c3fa-6fef-11e9-8bec-005056b4546b': No such file or directory
--

[2019-05-06 13:24] tiger0425 commented on #511
tgtd: iser_ib_init(3431) Failed to initialize RDMA; load kernel modules?
tgtd: work_timer_start(146) use timer_fd based scheduler
tgtd: bs_init(387) use signalfd notification
tgtd: device_mgmt(246) sz:108 params:path=/var/run/longhorn-pvc-3dd3c3fa-6fef-11e9-8bec-005056b4546b.sock,bstype=longhorn,bsopts=size=1073741824
tgtd: bs_thread_open(409) 16
time="2019-05-06T11:34:42Z" level=info msg="New dat

[2019-05-06 17:11] yasker commented on #511
It sounds like the iscsid(open-iscsi) exists but wasn't configured correctly on the host. This is what iscsiadm reported.

`Could not open /run/lock/iscsi: No such file or directory`

[2019-05-07 01:23] tiger0425 commented on #511
Thank you. I found the reason. There is no automatic folder / run / lock generated by installing open-iscsi.
i create mkdir /run/lock,is ok

[2019-05-07 02:35] tiger0425 commented on #305
I have the same problem? How to deal with it, please?

[2019-05-07 02:55] yasker commented on #305
@tiger0425 You need to follow https://github.com/rancher/longhorn/issues/305#issuecomment-425619372 and delete the volume from Kubernetes side.

[2019-05-07 02:55] yasker commented on #511
Thanks for the update. Issue closed.

[2019-05-07 02:55] #511 closed

[2019-05-07 16:33] meldafrawi commented on #463
**Longhorn Engine Version:**  cb070da
- [x] Block Devices created with 0660 permissions

[2019-05-07 16:33] #463 closed

[2019-05-08 00:06] yasker opened #512 "PVC cannot bound to PV if default storage class is set when create PV/PVC from Longhorn UI"
Reproduce steps:
1. Create a volume in Longhorn UI
2. Set a storage class to be default in Kubernetes. (either using Rancher or https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/ )
3. Create PV of the volume
4. Create PVC of the volume.

The PVC won't show up.

`kubectl` shows that PVC has the default storage class set, which PV doesn't have.

[2019-05-08 01:16] yasker opened #513 "test: Kubernetes status test failed sometime"
[code]

[2019-05-08 01:37] yasker opened #514 "Create PV/PVC together may end up in error"
It due to UI didn't wait for PV to complete creation (and in Available state) before continue to create PVC, so PVC creation call errors out.

<img width="880" alt="Screen Shot 2019-05-07 at 6 36 14 PM" src="https://user-images.githubusercontent.com/3344618/57343156-0a16a500-70f7-11e9-8487-2f49acf4282e.png">

<img width="800" alt="Screen Shot 2019-05-08 at 11 20 42 PM" src="https://user-images.git

[2019-05-08 02:00] yasker commented on #507
Fixed.

[2019-05-08 02:00] #507 closed

[2019-05-08 02:12] #133 closed

[2019-05-08 02:12] #436 closed

[2019-05-08 02:12] #499 closed

[2019-05-08 02:14] yasker commented on #457
Merged. Please file new bugs in the new issues.

[2019-05-08 02:14] #457 closed

[2019-05-08 02:23] MetalJacx commented on #500
@junkiebev where did you run that command? I am running into the same issue.

[2019-05-08 02:45] yasker opened #515 "UI: without setting the backup target, UI keeps pop out warning"
<img width="1070" alt="Screen Shot 2019-05-07 at 7 43 04 PM" src="https://user-images.githubusercontent.com/3344618/57345610-5c0ff880-7100-11e9-98db-d939d2ec8acc.png">

Seems `/v1/backupvolumes` is always queried when loading the page.

And even when there is no backup target, `Backup` page shows a list of volumes... Seems like a cache.

[2019-05-08 02:48] yasker opened #516 "UI: the color of green bar in the node page seems slightly different from the dashboard"
It seems a bit lighter?

[2019-05-08 03:41] junkiebev commented on #500
The command line on the host itself.

[2019-05-08 21:11] meldafrawi opened #518 "UI - Blank volume details page with browser console errors"
**Longhorn UI Version:** 829735f

**Description:** Blank volume when accessing volume details page, with the following errors in console.

![Screenshot from 2019-05-08 23-07-30](https://user-images.githubusercontent.com/18232258/57408600-5bea2880-71e6-11e9-95c7-8b57b9b27724.png)

[2019-05-09 02:46] yasker commented on #414
Backend merged.

[2019-05-09 02:50] yasker commented on #414
@shreesha21 Can you provide an API example here?

[2019-05-09 02:55] shreesha21 commented on #414
API examples for 3 requests and the responses:

**Support Bundle Initiate Request:**
```curl -X POST http://165.22.149.199:32318/v1/supportbundles```

**Response:**
```{"actions":{},"errorMessage":"","id":"srao3","links":{"self":"http://165.22.149.199:32318/v1/supportbundles/srao3"},"name":"longhorn-support-bundle_40981e85-7203-11e9-b075-a2aeebaaea88_2019-05-09T02-38-29Z.zip","nodeID":"srao3","sta

[2019-05-09 06:11] yasker commented on #516
Fixed.

[2019-05-09 06:11] #516 closed

[2019-05-09 06:49] yasker commented on #514
Talked with @smallteeths , it seems hard and slow for the frontend to poll the volume state between creating PV and create PVC.

We can add a flag to CreatePVInput and CreatePVCInput: `WaitForCompletion bool`. For CreatePV, we will wait (with a timeout) until PV shows up with status `Available` in the volume.KubernetesStatus; for CreatePVC, we will wait for the PV change state to `Bound`. This can

[2019-05-09 16:28] yasker commented on #515
Fixed.

[2019-05-09 16:28] #515 closed

[2019-05-09 16:29] yasker commented on #505
Remove the blocker. Move this issue to the next release.

[2019-05-09 18:30] yasker commented on #480
@shreesha21  Two fields can be added to the metadata.yaml, `issueURL` and `description`.

[2019-05-09 21:56] yasker commented on #480
Let's create a new directory in the support bundle, called `volumes`.

So the snapshot information can be stored at:

`volumes/<volumename>/snapshots.json`

[2019-05-09 23:14] yasker commented on #509
Fixed.

[2019-05-09 23:14] #509 closed

[2019-05-09 23:14] yasker commented on #510
Done.

[2019-05-09 23:14] #510 closed

[2019-05-09 23:26] yasker commented on #495
Backend merged.

[2019-05-09 23:39] yasker commented on #495
UI part:
1. Add a dropdown in the BackupVolume page (not backup page), which enables the user to create a standby volume using the latest backup from this backup volume. User will need to input the volume name, replica size etc like restoring from a backup.
2. We need to show one more icon next to the volume state, indicates it's a standby volume instead of a normal volume. User needs to manually

[2019-05-09 23:46] yasker commented on #495
@shuo-wu can you provide a few API examples for the above actions/status?

[2019-05-10 00:08] shuo-wu commented on #495
Standby volume creation is similar to normal volume creation but with some specific input fields requirements:
  1. Boolean field `standby` should be true.
  2. String field `fromBackup` should be set with a valid backup url.
  3. String field `frontend` should be empty.

Standby volume starts to do restoration only after it is attached to one node.

If a volume is standby volume, the following ac

[2019-05-10 02:16] yasker commented on #480
Backend merged

[2019-05-10 19:10] meldafrawi opened #520 "Deleting a volume will not delete its PV/PVC."
- Using UI:
  - Create a volume.
  - Create PV/PVC
  - Delete the volume.
- Using `kubectl get pv`
  - PV/PVC not deleted.

[2019-05-10 20:13] meldafrawi opened #521 "UI: Create PV/PVC in volume details drop down menu not working."
**Longhorn UI version:** e077811

Steps to reproduce:
- Create a volume
- Go to volume details page.
- From upper right drop down menu click Create PV/PVC.

[2019-05-10 20:33] meldafrawi opened #522 "UI: Blank volume details page after volume deletion from drop down menu"
**Longhorn UI version:** e077811

**Steps to reproduce:**
- Create a volume.
- Go to volume details page.
- From upper right drop down menu click Delete, After successfully deletion volume, volume details get removed and page stay blank.

![Screenshot from 2019-05-10 22-31-19](https://user-images.githubusercontent.com/18232258/57555029-5ff78100-7373-11e9-9e72-cc7f002b8d24.png)

**Suggestion**:  we

[2019-05-10 21:22] yasker opened #523 "Need to allow user to specify the polling interval for backup store update"
Need a global setting. Make sure the user can control the interval of restoration of standby volume.

[2019-05-10 22:08] yasker commented on #520
We need to think more about deleting a volume.

Currently deleting a volume won't be blocked by any operations.
1. PV can be deleted while deleting the volume. But PVC is the declaration of a workload. User can manually create it for its workload. I don't think we can just delete it.
2. If there is workload current using the volume, should we allow deleting the volume? Or, should we even allow det

[2019-05-10 22:14] yasker commented on #512
Fix merged.

[2019-05-11 00:28] yasker commented on #514
Backend change has been merged. No frontend change needed.

[2019-05-11 00:34] meldafrawi opened #524 "UI - Grayed out "Create PV/PVC" in drop down menu when trying to create a PVC for a PV in Released state."
**Steps to reproduce:**
- Create a pod with longhorn volume, using  `kubectl create -f https://raw.githubusercontent.com/rancher/longhorn/master/examples/pvc.yaml`

- Delete the pod using `kubectl delete pod volume-test`

- Change PV `persistentVolumeReclaimPolicy` to **Retain** using:
`kubectl patch  pv PV_NAME  -p '{"spec":{"persistentVolumeReclaimPolicy":"Retain"}}'`

- Delete pvc  using `kubec

[2019-05-11 00:45] meldafrawi opened #525 "PVC status stuck in Pending when trying to create a PVC for a PV in Released state."
**Steps to reproduce:**
- Create a pod with longhorn volume, using  `kubectl create -f https://raw.githubusercontent.com/rancher/longhorn/master/examples/pvc.yaml`

- Delete the pod using `kubectl delete pod volume-test`

- Change PV `persistentVolumeReclaimPolicy` to **Retain** using:
`kubectl patch  pv PV_NAME  -p '{"spec":{"persistentVolumeReclaimPolicy":"Retain"}}'`

- Delete pvc  using `kubec

[2019-05-11 00:47] yasker commented on #524
An easier way to reproduce:
1. Create a volume
2. Create PV and PVC for it.
3. Delete the PVC using `kubectl delete pvc xxx`
4. Notice the UI shows the PV state to `Released`, but `Create PV/PVC` in dropdown wasn't allowed.

[2019-05-11 01:29] yasker commented on #525
Reference: https://github.com/kubernetes/kubernetes/issues/48609#issuecomment-314066616

[2019-05-11 01:39] yasker commented on #501
Fix merged.

[2019-05-11 21:50] liyimeng opened #526 "k3os supported?"
Make a quick shot and try to deploy on k3os with following the instructions, it failed
[code]

[2019-05-12 17:55] yasker commented on #526
@liyimeng

Hi, we haven't supported K3OS yet. We will add it soon.

[2019-05-12 18:05] yasker opened #527 "support bundle: Add progress field"
The generation process took a while. It's better to add `progress` field and let users know they need to wait.

[2019-05-13 07:19] mtenrero opened #528 "All volumes get faulted randomly"
Hello.

I've a simple deployment of k8s with longhorn as base pvc provider on bare-metal. Everything is working fine, excepting sometimes (maybe once or twice per week) all the nodes get faulted automatically without any clear reason.

[code]

[code]

These are some logs from failing pods. Another pods run smoothly:

[code]

[code]

[2019-05-13 07:45] liyimeng commented on #526
Thanks so lot @yasker ! Looking forward to seeing that! Providing longhorn is already support RancherOS + k3s, it should not be a big work, right?
More importantly, k3os + longhorn will be a fantastic combination, Thank you for all the great work again!

[2019-05-13 08:52] smallteeths commented on #524
After deleted the PVC successful， the PVstatus from the data will be failed, SO if created the PVC again, it's also will be failed.
![Jietu20190513-144606](https://user-images.githubusercontent.com/27733391/57607267-42a5fb00-759d-11e9-9c42-3bc93f505fff.jpg)

[2019-05-13 16:12] yasker commented on #524
@smallteeths This may be related to #525

[2019-05-13 16:19] yasker commented on #528
@mtenrero

The follow log is harmless, we've removed the log from the upcoming release.
[code]

This log indicates something is wrong with the network
[code]

If it doesn't always happen, normally it's due to the CPU load increased on a certain node, cause the engines cannot get enough CPU to process the data, result in volume faulted. If the engine is running on that node, the volume may become f

[2019-05-13 16:39] yasker commented on #528
Also, in the next release v0.5.0, we've introduced an experimental feature to allow users to reserve CPU for Longhorn engines, though it has some side effects so we won't make it permanent. We want to use it as a confirmation of the root cause of the issue. You can give it a try when it's released.

The permanent fix is coming in v0.6.0.

[2019-05-13 18:16] yasker opened #529 "disaster recovery volume result in error"
Cannot reproduce now. Not sure about what triggers it.

[2019-05-13 19:03] yasker opened #530 "Don't log for GetInitiatorNSPath() if containerd or dockerd cannot be found"
It's too many logs.

For both manager and engine.

In fact, let make GetHostNamespacePath() return `string` instead of `string, error` so it can be directly used by manager and engine.

If things go wrong, later the caller to `iscsiadm` will error out.

[2019-05-13 22:57] #445 closed

[2019-05-13 22:57] #486 closed

[2019-05-14 00:40] #451 closed

[2019-05-14 00:51] meldafrawi commented on #451
Test Steps:
- change `kubeletRootDir` value in helm chart `values.yml`
- install longhorn using helm CLI
- check `longhorn-csi-plugin` for `spec.volumes.hostPath` , it's value reflected the change.

[2019-05-14 02:27] tiger0425 commented on #392
Docker版本 18.9.6
Kubelet版本 v1.12.0
操作系统 CentOS Linux 7
内核版本 3.10.0-957.10.1.el7.x86_64

ttachVolume.Attach failed for volume "pvc-341bbf51-75ed-11e9-bfc0-005056b4b2af" : node "crawler203" has no NodeID annotation

Dashboard/volume/pvc-341bbf51-75ed-11e9-bfc0-005056b4b2af
Volume Details
State:Detached
Health:
Frontend:Block Device
Attached Node & Endpoint :
Size:2 Gi
Actual Size:0 Bi
Base Image:
Eng

[2019-05-14 02:27] meldafrawi commented on #522
**Longhorn UI version:** 9f1e1cf
UI now redirect to volume list page after deletion from drop down menu in volume details page.

[2019-05-14 02:27] #522 closed

[2019-05-14 02:29] meldafrawi commented on #518
Longhorn UI version: 9f1e1cf

Fixed

[2019-05-14 02:29] #518 closed

[2019-05-14 02:31] meldafrawi commented on #521
**Longhorn UI version:** 9f1e1cf

Fixed

[2019-05-14 02:31] #521 closed

[2019-05-14 03:38] yasker commented on #392
@tiger0425 According to the kubernetes, it's a bug in v1.12, and should be fixed in v1.13.

As a workaround, can you try to scale deployment `longhorn-driver-deployer` to 0 then rescale it back to 1? This should result in Kubernetes retry the driver installation process and may workaround the bug.

[2019-05-14 14:04] ShadowN1ghtmare opened #531 "A fatal error has occured, this connection is terminated"
I was playing Minecraft on a Server with my friends, I was just flying around in the nether when is got kicked from the server and now I cant connect anymore, it says "a fatal error has occured, this connection is terminated". I tried reinstalling modpack, restarting pc and my friend restarted server for me. But nothing helped :/ I googled the error but as different sites say so different issues i

[2019-05-14 14:07] ShadowN1ghtmare commented on #531
I think those lines should tell what the issue is , but I dont understand it
[19:43:28] [Server thread/INFO]: ShadowN1ghtmare[/62.224.240.179:51900] logged in with entity id 95464 at (146.24548705081068, 42.015623522335375, 95.89720035207029)
[19:43:28] [Server thread/INFO]: ShadowN1ghtmare joined the game
[19:43:28] [Server thread/ERROR]: "Silently" catching entity tracking error.
net.minecraft.u

[2019-05-14 18:10] yasker commented on #531
@ShadowN1ghtmare  I think you're in the wrong project...

[2019-05-14 18:11] #530 closed

[2019-05-14 18:14] #529 closed

[2019-05-14 18:14] #501 closed

[2019-05-14 18:14] #474 closed

[2019-05-14 18:15] #414 closed

[2019-05-14 19:48] meldafrawi commented on #512
**Longhorn Version:** 0.5.0-rc1

- PVC is now bound to PV
- in `kubectl` PV & PVC have the default storage class set.

[2019-05-14 19:48] #512 closed

[2019-05-14 19:59] meldafrawi commented on #514
**Longhorn Version:** 0.5.0-rc-1

I was able to Create PV/PVC together using,
  - UI: drop down menu in volume list page
  - UI: drop down menu in  volume details page
  - UI: using bulk `Create PV/PVC` button in volume list page.
and are ended up being in bound state

[2019-05-14 20:00] #514 closed

[2019-05-14 20:09] IsaackRasmussen opened #533 "creating new volumes fails on custom paths"
I've added a custom path and all my volume attachment fails. There is enough storage and I see Longhorn creating sub folders for the volumes but it still fails with this error:

time="2019-05-14T20:05:42Z" level=info msg="Creating volume /volume, size 1073741824000/512"
time="2019-05-14T20:05:42Z" level=fatal msg="Error running start replica command: open /volume/revision.counter: invalid argument

[2019-05-14 20:22] meldafrawi commented on #525
**Longhorn Version:** 0.5.0-rc1

- PVC now created successfully, and bound to PV
- UI: in volume list page `PV/PVC` column is showing state `Bound`.
- `kubectl` PVC state is bound to the correct PV.

[2019-05-14 20:23] #525 closed

[2019-05-14 20:48] yasker commented on #533
@IsaackRasmussen What file system you're using for the custom path?

[2019-05-14 21:03] yasker opened #534 "UI: Need a way to show restoring in progress for disaster recovery volume"
Since the `activate` action is not available during restoration, users need to know that restoring is in progress.

@shuo-wu

Can you provide more details on how can UI tell if the restoration in progress from API's perspective?

[2019-05-14 21:22] IsaackRasmussen commented on #533
I’m using ZFS

[2019-05-14 21:26] yasker commented on #533
ZFS doesn't support DIRECT_IO until very recently. And it seems had problems with the sparse file as well. We recommended using either EXT4 or XFS instead.

[2019-05-14 21:47] #531 closed

[2019-05-14 21:55] IsaackRasmussen commented on #533
I see, thanks @yasker
I will try again with a different setup

[2019-05-14 22:03] meldafrawi commented on #480
**Longhorn Version:** 0.5.0-rc1

- was able to add `issue URL` and `Description` to support bundle, data is exist in `metadata.yaml`
- was able to verify snapshot information in support bundle
  - yamls/volumes/<volumename>/snapshots.yaml
  - yamls/volumes/<volumename>/generationError.log

[2019-05-14 22:04] #480 closed

[2019-05-14 23:27] yasker opened #535 "doc: Document disaster recovery volume feature"

[2019-05-14 23:28] yasker opened #536 "doc: Document the Kubernetes integration feature"

[2019-05-15 01:12] tiger0425 commented on #392
thanks for you
I have done install RancherOS1.5.1,is OK

[2019-05-15 03:27] #362 closed

[2019-05-15 03:35] shuo-wu commented on #534
When` volume.standby == true && volume.lastBackup != "" && volume.lastBackup != volume.controllers[0]. lastRestoredBackup`, the disaster recovery volume is in restoring process.

For corner case `volume.standby == true && volume.lastBackup == “”`, it’s possible that the the disaster recovery volume is in restoring process. But we cannot figure it out in UI perspective.

[2019-05-15 06:57] yasker opened #537 "manager: wrong error message for cannot change backup target"

[2019-05-15 15:37] vitobotta opened #538 "Very high CPU usage"
I mentioned this on Slack as well, anyway I thought I'd open an issue about it. I am testing many things at the moment, including various things concerning Longhorn. I *really* like Longhorn, but I am having a big issue with CPU usage when using volumes with actual data. One of my tests is copying around 25 GB of mixed data (small files, large videos) to a volume used by a Nextcloud installation,

[2019-05-15 15:51] yasker commented on #538
We have some fixes for it but wasn’t able to make into v0.5.0 release. Some performance improvement and lower CPU utilization should be in the v0.6.0 release. And we will have ability to QOS the volume later as well. So you can control how much CPU/how much IOPS you want to assign to the volume.

[2019-05-15 16:06] vitobotta commented on #538
Thanks, looking forward to these fixes.

[2019-05-15 20:28] meldafrawi opened #539 "Backend: Create backup API call timing out"
**Longhorn Version:**  0.5.0-rc1

steps to reproduce:
  - Create a volume X
  - Attach the volume X to a node
  - Create a backup of X
  - Backup Volume list page, click `Create Disaster Recovery Volume` from volume drop down
  - Create the DR volume Xdr
  - Attach the Xdr volume to any node
  - Format volume X on the attached node
  - Mount the volume on the node, write a fairly large file ~ 2GB

[2019-05-15 20:28] meldafrawi opened #540 "UI: Create Backup button in volume list page not showing Backup In Progress notification."
**Longhorn UI Version:**  0.5.0-rc1

steps to reproduce:
  - Create a volume
  - Attach the volume to a node
  - select the volume & click Create Backup button

[2019-05-15 20:31] vitobotta commented on #45
Hi, looking forward to seeing this implemented. At the moment I am backing up some volumes but I don't know if the backup has finished or not yet.

[2019-05-15 21:37] vitobotta opened #541 "[Feature request] Ability to fetch backup information / restore from command line"
Rather than using the Longhorn the UI at the moment I can also restore a volume by creating a storage class with the URL of the backup to restore, and then creating a PVC that uses that storage class. However I still need to use the Longhorn UI to find the URL of the backup. It would be great if I could fetch the backup information via kubectl or something.

Even better, it would be super awesome

[2019-05-15 21:50] vitobotta opened #542 "[FEATURE] Email or Slack notification when backup completes"
This would be great to keep an eye on the status of backups. Thanks

[2019-05-15 22:08] yasker commented on #542
We may able to support webhook for e.g. Slack. But email would need a SMTP server, which would be more complex.

[2019-05-15 22:27] vitobotta commented on #542
Slack is even better! :)

[2019-05-15 22:48] meldafrawi opened #543 "User should not be able to set Backupstore Poll Interval to negative number."
**Longhorn Version:** v0.5.0-rc1

in Longhorn UI > `Settings/General` >  set  `Backupstore Poll Interval` to negative value & click save

[2019-05-16 05:20] yasker commented on #539
Fixed in https://github.com/rancher/longhorn-manager/pull/295

[2019-05-16 17:06] yasker commented on #543
Should be fixed at https://github.com/rancher/longhorn-manager/commit/dd6c207aba0d2ed6348060b83e2547ccd6579656

[2019-05-16 17:44] yasker opened #544 "Create PV/PVC using Longhorn UI then delete the PVC using kubectl result in PV in `failed` state"
Similar to https://github.com/rancher/longhorn/issues/524#issuecomment-491735488

Reproduce steps:
1. Create a volume in Longhorn
2. Create PV and PVC for the volume
3. After PV and PVC bound, delete the PVC using `kubectl delete pvc xxx`
4. PV would be stuck in `Failed` state

PV after PVC deleted

[code]

[2019-05-16 19:04] meldafrawi opened #545 "Reusing old volume names that had backups may lead to confusing Last Backup At field."
**Steps to reproduce:**
  - Create A volume with name X.
  - Attach volume X to a node.
  - Create volume X backup, check that `Last Backup At` field updated.
  - Detach and Delete volume X.
  - Create a new volume with the old name X,

`Last Backup At` field will be updated with old volume backup time.

[2019-05-16 20:52] yasker commented on #504
@smallteeths

- [ ] Edit Cron. `Cron` tab doesn't reflect the current setting.

[2019-05-16 21:01] yasker opened #547 "UI: Volume detail page: Show replicas datapath as a tooltip to the `Node`"
- [x] Rename `Host` to `Node`
- [x] Remove `Path` name (keep the content)
- [x] Show `datapath` as a tooltip of the Path name.

[2019-05-16 21:51] yasker opened #549 "engine: continuous call to restore and error out when restore incrementally"
Restoring in manager seems result in duplicate calls of restoring request to engine.
[code]

[2019-05-16 22:23] yasker opened #550 "UI: Node: Edit disk page: Units are misaligned"
<img width="1229" alt="Screen Shot 2019-05-16 at 3 22 49 PM" src="https://user-images.githubusercontent.com/3344618/57890973-89d6fa80-77ee-11e9-8b3d-c0afb33a06da.png">

[2019-05-17 01:20] shuo-wu opened #551 "UI: wrong Kubernetes status name after deleting PVC and workload for Longhorn volume"
After deleting PVC and workload for Longhorn volume, the status name should be `Last Bounded PVC Name`, `Last Namespace`, `Last Pod Status`, and `Last Workload Type` rather than `PVC Name`, `Namespace`, `Pod Status`,  and `Workload Type`.

[2019-05-17 01:21] yasker commented on #536
Merged.

[2019-05-17 01:21] #536 closed

[2019-05-17 01:22] yasker commented on #551
Also, I noticed the `namespace` is not shown as yellow in the list when `lastPVCRefAt` was set.

[2019-05-17 01:23] shuo-wu opened #552 "UI: backup list may temporarily become empty"
Without refreshing page, the backup list will become empty after deleting a backup in backup list page

[2019-05-17 16:02] yasker opened #553 "Manager: add cron validation in the API"
To prevent cronjob failure without user knowing.

[2019-05-17 19:43] meldafrawi commented on #527
**Longhorn Version:** 0.5.0-rc2

Longhorn UI shows progress while creating support bundle.

[2019-05-17 19:43] #527 closed

[2019-05-17 19:50] meldafrawi commented on #534
**Longhorn Version:** 0.5.0-rc2

Longhorn UI:
- DR volume icon has gray color while DR volume is in restore process.
- DR volume icon has blue color when DR volume restoration process completed.
- DR volume icon tool tip show the state of DR volume restoration process.

[2019-05-17 19:50] #534 closed

[2019-05-17 19:55] meldafrawi commented on #543
#523

[2019-05-17 19:57] meldafrawi commented on #523
**Longhorn Version:** 0.5.0-rc2

User is now allowed to set `Backupstore Poll Interval` only to positive number starting from 1s.

[2019-05-17 19:57] #523 closed

[2019-05-17 19:58] #543 closed

[2019-05-17 20:41] meldafrawi commented on #489
**Longhorn Version:** 0.5.0-rc2

Steps to reproduce:
- check engine image owner ID.
- power off the owner ID node
- check engine image owner ID, and ensure that is is in running state.

[2019-05-17 20:41] #489 closed

[2019-05-17 21:29] meldafrawi commented on #453
Longhorn Version: 0.5.0-rc2

Can remove node when Role changed from`worker` to `non-worker`.

[2019-05-17 21:31] meldafrawi commented on #539
Longhorn Version: 0.5.0-rc2

Fixed

[2019-05-17 21:31] #539 closed

[2019-05-17 21:32] meldafrawi commented on #540
Longhorn Version: 0.5.0-rc2

Fixed

[2019-05-17 21:32] #540 closed

[2019-05-17 22:49] meldafrawi commented on #524
Longhorn Version: 0.5.0-rc2

Fixed

[2019-05-17 22:49] #524 closed

[2019-05-17 22:56] meldafrawi commented on #537
**Longhorn Version:** 0.5.0-rc2

[2019-05-17 22:56] #537 closed

[2019-05-17 22:57] meldafrawi commented on #544
**Longhorn Version:** 0.5.0-rc2

Fixed

[2019-05-17 22:57] #544 closed

[2019-05-18 00:14] meldafrawi commented on #551
**Longhorn UI Version:** fc8ba32

Fixed

[2019-05-18 00:14] #551 closed

[2019-05-18 00:26] meldafrawi commented on #552
Longhorn UI version: fc8ba32

Fixed

[2019-05-18 00:26] #552 closed

[2019-05-18 00:28] meldafrawi commented on #547
Longhorn UI version: fc8ba32

Fixed

[2019-05-18 00:28] #547 closed

[2019-05-18 00:36] meldafrawi commented on #550
`Enabled` radio button is still misaligned.

![Screenshot from 2019-05-18 02-31-51](https://user-images.githubusercontent.com/18232258/57962328-b6396680-7915-11e9-827e-9159ec81f025.png)

[2019-05-18 01:14] meldafrawi commented on #504
**Longhorn Version:** fc8ba32

[2019-05-18 01:19] shuo-wu commented on #549
1. Create normal volume A
2. Attach and mount volume A. Create a backup for A
3. Create disaster recovery volume B based on A. Then attach volume B
4. Write a big file e.g. 500MB into volume A then create one backup
5. This incremental restoration will take a long time. And during the restoration, the manager will send duplicate restoring requests to the engine regardless the restoration is in pro

[2019-05-18 01:53] #535 closed

[2019-05-18 01:56] yasker opened #555 "UI: Magic proxy is broken"
Rancher App cannot access Longhorn UI

![Screen Shot 2019-05-17 at 5.39.57 PM.png](https://images.zenhubusercontent.com/596fdd6761b4ca3b0a750acc/53bf99e9-4e5e-47f6-8298-0ccdc31f63fd)

[2019-05-18 02:23] meldafrawi commented on #553
**Longhorn Manager Version:** dcd57d

I was able to set invaild cron structure.

![Screenshot from 2019-05-18 04-23-14](https://user-images.githubusercontent.com/18232258/57963458-b0974d00-7924-11e9-88c9-303138c82094.png)

[2019-05-18 02:37] yasker commented on #553
@meldafrawi I found out it's not allowed to save since that's when it passed to the backend. But editor part wasn't validated by the backend.

[2019-05-18 02:45] meldafrawi commented on #549
**Longhorn Manager Version:** dcd57d

Fixed

[2019-05-18 02:46] #549 closed

[2019-05-18 02:49] #495 closed

[2019-05-18 03:26] meldafrawi commented on #504
if cron syntax was wrong, and `save` failed to pass API validation, cron still have the wrong content, and it disappears when trying to `edit`

[2019-05-18 03:39] yasker commented on #504
The order of some sequences are wrong too:

every X starting at hour n means, x is the interval, n is the starting time
so
[code]
should mean `5, 8, 11,  etc`

but it’s `Every 3, 8, 13, 18, 23, 28, 33, 38, 43, 48, 53 and 58th minute past every hour`

[2019-05-18 04:07] yasker commented on #553
Per @meldafrawi , this is verified.

[2019-05-18 04:07] #553 closed

[2019-05-18 06:03] yasker commented on #555
Fixed.

[2019-05-18 06:03] #555 closed

[2019-05-18 06:04] yasker commented on #550
Fixed in v0.5.0-rc3.

[2019-05-18 06:04] #550 closed

[2019-05-18 15:01] yasker commented on #513
Test still fails. Seems due to there is a default storage class set in the cluster.

[code]

[code]

[2019-05-18 15:06] yasker opened #557 "test: test_replica_scheduler_too_large_volume_fit_any_disks failed sometime"
[code]

[2019-05-18 15:08] yasker commented on #513
Move to v0.6.0

[2019-05-18 15:18] yasker opened #558 "test: test_restore_inc failed"
Version: v0.5.0-rc3

[code]

[2019-05-18 15:28] yasker commented on #558
Volume `sb-1-longhorn-testvol-0mfj4t` and others seem picking up the last backup very late, which can exceed the retry timeout.

[2019-05-18 17:16] yasker opened #559 "UI: support bundle cannot be downloaded after the rancher proxy"
Version: v0.5.0-rc3

Download URL is `https://rancher/v1/supportbundles/yasker-longhorn-dev-1/longhorn-support-bundle_5dc27a5e-7932-11e9-9004-f6f96bf218da_2019-05-18T15-52-11Z/download` which become 404 behind rancher proxy.

[2019-05-18 18:07] yasker commented on #559
Verified.

[2019-05-18 18:07] #559 closed

[2019-05-19 12:05] vitobotta opened #562 "UI: Restore seems to ignore replica count specified by user"
Hi, I am currently testing backups with a single node (v0.5.0) so I specify 1 as the replica count when restoring a volume. However the restore creates two replicas instead, so I have to update the replica count and delete a replica manually. I would expect the restore to create a single replica in this case. Thanks

[2019-05-19 12:21] vitobotta opened #563 "[Feature request] Add label/description to backups created manually from UI"
At the moment when I click on the `Create backup` button, a backup is created but cannot be recognized easily from the backups list for the volume - apart from the date/time when the snapshot was taken. It would be nice if it were possible to add a description to backups taken manually. So for example if I want to take a backup before an upgrade or something, I can add a description that says that

[2019-05-19 12:50] vitobotta opened #564 "[0.5.0] Volumes attach but timeout on mounting"
This is a follow up to a conversation had recently on Slack. I am seeing this very often also with 0.5.0: when for example scaling the deployment, deleting/recreating a pod or restoring, volumes attach according to the UI and the events for the pod but then time out on mounting with something like this:

[code]

In the manager's log I see this, not sure if it's relevant:

[code]

It takes a **very

[2019-05-19 13:01] vitobotta commented on #562
Just noticed that when I click the OK button to restore a volume after setting the replicas to 1, it reverts to 2 just before submitting the form.

[2019-05-20 03:52] yasker commented on #563
@vitobotta That's a good idea! Maybe we can add workload information automatically in addition to the user note if the volume is using by a workload.

[2019-05-20 04:18] yasker opened #565 "Setup nightly integration test for Longhorn"
We'd like to have a nightly integration test setup for Longhorn.

The test cases are at https://github.com/rancher/longhorn-tests

The expectation of the nightly test framework:
1. Build the latest manager, engine, and test automatically.
2. Deploy the latest manager and engine in a three-node Kubernetes setup. We may need different clusters in the future for different Linux distros.
3. Run the te

[2019-05-20 04:24] yasker opened #566 "engine: Switch to gRPC for Longhorn micro services internal communication"
Engine:
1. Communications between sync agents
2. Communications between controller and replicas.

[2019-05-20 09:02] vitobotta opened #567 "Performance issues with backup/restores"
I have been testing the backup/restore functionality with 0.5.0, and while both backups and restores work as expected, both operations seem to run slower than expected. For example, backing up and restoring a volume with some 25 GB of data took around 18-20 minutes using Velero with Restic. Backing up and restoring exactly the same data and on the same server but with Longhorn took over 40 minutes

[2019-05-20 09:09] vitobotta commented on #563
Awesome :)

[2019-05-20 09:21] yasker commented on #567
@vitobotta I think it's the two replica setup result in the longer restoration time. Also, as long as the snapshot used for the last backup still exists, Longhorn should perform an incremental backup as well,  which should be very fast.

I just double checked v0.5.0, seems there is a bug preventing the incremental backup from working properly. The replica reports `Cannot find the last snapshot in

[2019-05-20 09:31] yasker opened #568 "engine: Incremental backup wasn't working properly"
Version v0.5.0.

Reported by https://github.com/rancher/longhorn/issues/567

Reproduce steps:
1. Create a volume with 1 replica. Format and mounted to a node.
2. Write a 1G file to it.
3. Backup the volume.
4. Wait for volume backup to complete. Backup the volume again.
5. Check the replica log, it shows:

It shouldn't since the last snapshot still exists.

We also need to find a way to validate t

[2019-05-20 09:54] vitobotta commented on #567
Thanks @yasker :)

[2019-05-20 10:44] tiger0425 opened #569 "Attach failed for volume"
*Describe your issue here*
AttachVolume.Attach failed for volume "pvc-ea952885-707a-11e9-bfc0-005056b4b2af" : rpc error: code = Internal desc = Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [code=Server Error, detail=, message=unable to attach volume pvc-ea952885-707a-11e9-bfc0-005056b4b2af to rancher016: Node to be attached rancher016 is different from previous spec ran

[2019-05-20 10:46] yasker commented on #569
@tiger0425 Can you describe the steps to reproduce the issue? It seems due to an attempt to attach already attached volume.

[2019-05-20 11:49] tiger0425 commented on #569
yes,  I migrated pods to other node,    volume no attached

[2019-05-20 11:51] tiger0425 commented on #569
Restart rancher cluster after power outage，volumn no attached

[2019-05-20 17:16] vistalba opened #570 "Replicas are on the same node"
Longhorn version: 0.5.0

I run a 3 node longhorn cluster. Replica Count is 3.
Tonight one node failed and longhorn rebuild the 3. replica on one of the two remaining nodes.

After the 3 node was back online, longhorn doensn't redistribute the replica. It stays in the state whith two replicas on the same node.

Is there a solution for this so that longhorn does automaticly redistribute one of the b

[2019-05-21 09:15] dnauck commented on #542
Or MS Teams ;)

[2019-05-21 15:42] mmriis commented on #311
+1 would like to see this as we utilize bare-metal servers that have both HDD and SSD storage.

[2019-05-22 02:13] tiger0425 commented on #569
State:Detached
Health:
Frontend:Block Device
Attached Node & Endpoint :
Size:200 Gi
Actual Size:0 Bi
Base Image:
Engine Image:rancher/longhorn-engine:v0.4.1
Created:15 days ago
Latest Backup:

[2019-05-23 07:56] yasker commented on #569
How did you migrate the pods? Can you list the steps that we may able to reproduce the issue?

[2019-05-23 08:04] yasker commented on #570
For now you can follow the steps below to redistribute:
1. Increase the volume replicas by 1. The new replica should be rebuilt on the new node.
2. Decrease the volume replicas to original (3).
3. Remove one of the replicas on the existing node.

We can have something like that automatically. Though we need to think more about it since it also related to how can we minimalize the data transferred

[2019-05-23 08:06] yasker opened #571 "Volume should be usable once restoration is done"
Now the real restoration happened during the first time of attaching.

It can be a huge delay in workload starting time.

We should make sure the restoration has been completed before the restoration call returned.

[2019-05-23 08:59] vistalba commented on #570
Yes, I know how to solve this manually.

But there is no alert/notification about this. I can just see this in the WebGUI.
I think this is a must that it can do this automaticly. (or that I can check it in the settings if I wish to do this automaticly).

Maybe there should be a limit how much volumes on the same time. A limit how oft a rebuild will be started in a timeperiod? How to send a notific

[2019-05-23 16:56] infinytum commented on #413
I'm currently facing this issue, has there been any progress ?

[code]

[2019-05-23 19:11] tidalf commented on #570
I think I'd like two (and not more) on the same host only if one host is available (otherwise never)

[2019-05-24 06:58] paulmorabito opened #572 "Faulted volumes after draining node"
Hi,

I had to take a node down for maintenance. I marked it as disabled for scheduling in the longhorn UI and then drained the node using the following command:

kubectl drain k8sn1 --delete-local-data  --ignore-daemonsets --force

When I restored the node, all of the volumes were faulted. I was able to recover them with no issue but I am curious as to how I can avoid this in future.

Without the

[2019-05-24 11:33] paulmorabito commented on #572
Actually, I am also getting a few issues trying to remount the volmes. An example is:

[code]

longhorn-manager reports:

[code]

Everything seems to be ok and the volume is marked as healthy but never connects.

[2019-05-24 16:23] vistalba opened #573 "Since update to 0.5 AWS EU-Requests-Tier1 increased"
Since update to v0.5.0 I see a increase of the request (EU-Requests-Tier1) in my S3 AWS Cost explorer by factor 10.

---
Version: `v0.5.0`

[2019-05-25 06:56] tiger0425 commented on #569
Thank you. I've dealt with this myself. I moved the pod to the NODE where the storage is located.

[2019-05-25 07:37] paulmorabito commented on #572
upgraded to kubernetes 1.14.1 and re-deployed the driver deployer. Indirectly, this seems to have fixed it.

[2019-05-25 09:53] yasker commented on #573
Oh, it's likely due to the new backup related features. We currently polling backup target every 5 minutes (by default) to update the latest backup.

You can set the settings BackupStorePollInterval to a large number to delay the polling. Though if you're on disaster recovery setup for multicluster, this won't be favorable. We can add a way to disable the auto polling e.g `using value 0` to disabl

[2019-05-25 10:14] vistalba commented on #573
I alreay set this value to 3600.

It wasn't a real problem for my bill. It just increased from 0.01 cent/day to 0.1 cent/day. It's just a test cluster with 7 volumes so it doesn't really matter but for people with a lot of backups this may be relevant.

I don't understand the point with "disaster revocery setup".
I already tested in version v0.4.1 a recovery from S3 on a new clean rancher-cluster

[2019-05-25 10:25] yasker commented on #573
@vistalba Yeah, the disaster recovery feature is an upgraded version of the current process. The restoration is copying the data from the backup store, which can take a long time. It's undesirable if the volume is very big and needs quite some time (e.g. hours) to be copied over.

The disaster recovery feature is designed so the volume in the backup cluster will constantly poll the backup store, a

[2019-05-25 10:35] vistalba commented on #573
@yasker thanks for explaination. Nice feature.

So I think it is useful if this feature isn't used (e.g. there is no backup cluster in place) it can be disabled.
Maybe it is also a good idea to better explain what the setting is doing. My backup-plan creates one backup per day - if I understand you right - there is no sense to poll the store more often. So maybe there is a way to calculate a good/

[2019-05-25 10:53] yasker commented on #570
Seems there are many issues we want to discuss here. Let me try to list them down:
1. More than expected replicas are scheduled to the same node when there are no other nodes available. Two replicas on the same node sound OK, but no for three or more. Is that universal? I don't think so. We at least need an option for this.
2. The implication of 1 is if the volume has a number of replicas schedule

[2019-05-25 10:56] yasker commented on #573
@vistalba In your case, this setting should be disabled. The setting BackupStorePollingInterval is useful in the backup cluster. If it's in the same cluster, any backup and list backup operation has a side effect to update the related `Last Backup` field, so you don't need to poll the store if you're making backups from the same cluster.

[2019-05-25 10:58] yasker commented on #572
@paulmorabito Thanks for the update. I want to keep this issue open so we can investigate the node drain issue. When you said all the volumes are faulted, does every volume has a replica on the node?

[2019-05-25 11:00] yasker commented on #569
@tiger0425 Glad that you get it solved.

Though I am still a little confused on how did you `move/migrate` the pod?

[2019-05-25 11:33] paulmorabito commented on #572
Yes, all volumes were on k8sn1 and k8sn2. When I drained k8sn1 and rebooted, it reported all of the replicas on k8sn1 were faulted and I restored from the replica on k8sn2.

I still occasionally get problems remounting volumes after the container/pod is updated. I have keel running to check for updates and every week or so one of the pods/containers is stuck at "container creating" with a mounting

[2019-05-25 11:35] vistalba commented on #570
I don't think so too. What is the benefit, if two of three replica are on the same node?

From my point of view it should be possible.
For Example:
If I have 3 replicas and one node goes offline. Two replicas are still running so the volume is "degarded". In this case it doesn't make sense to rebuild the 3 replica on one of the two remaining nodes... but why you should prevent the usage of the vol

[2019-05-25 20:35] paalkr opened #574 "Longhorn manager try to describe non existing node label"
Hi

I have deployed a HA K8s test-cluster on AWS for testing Longhorn, the underlying OS is CoreOS. The cluster has 3 etcd instances, two masters, 3 spotfleet worker nodes and two storage nodes (with a 500GB gp2 ebs volume each). My plan is to run longhorn on the storage nodes only, Any pods on nodes should be able to consume longhorn PVCs.

[code]

This is the state of pods after deploying longho

[2019-05-26 12:45] yasker commented on #574
@paalkr

In fact the manager pods cannot be isolated to the storage node in this case. The manager is needed to provide the volume to the worker node as well (if you want volumes to be usable by the worker node other than the storage worker node). You can simply use the yaml file or chart to deploy longhorn and if you don't want the disk space on non-storage node to be used, you can disable the sc

[2019-05-26 12:47] yasker commented on #574
One important question is, what's your Kubernetes distribution? EKS? The node labels should be related to the distribution so we can investigate.

[2019-05-26 12:52] paalkr commented on #574
@yasker ,

Thanks for the feedback. The distribution is not EKS, the cluster is deployed using kube-aws, https://github.com/kubernetes-incubator/kube-aws. We have been using kube-aws in production for several years.

I probably did a mistake to isolate the manger to the storage nodes. but as I said it's still unclear to me what role the different compensates in longhorn play ;)

How do I configure

[2019-05-26 13:10] paalkr commented on #574
I removed the NodeSelector from the manager DaemonSet, so the manager now runs on all nodes. But still the describe node label fails, probably as expected, and the manager pods are crashlooping with the same error as I described previously.

Probably that's also why I get
`curl: (7) Failed to connect to longhorn-backend port 9500: Connection refused`
when exec into the init container and executing

[2019-05-26 13:20] paalkr commented on #574
One more thing, what value do you expect the `node-role.kubernetes.io/worker` label to have, just `true` or empty, or something different? I can easily add that label to all my worked nodes, if it's a requirement for Longhorn. As you can see kube-aws adds formats the label in question like
`node-role.kubernetes.io/<worker_pool_name>`

This is my current set of label for master, normal workers and

[2019-05-26 13:30] paalkr commented on #574
Btw, I think looking for the `kubernetes.io/role=node` would be closer to the Kubernetes intention, the node-role.kubernetes.io/<value> is meant to describe what type the node is.
https://github.com/kubernetes/kubernetes/pull/35975/files#diff-c8063ac1e636c387ca8169633ddee1bdR54

[2019-05-26 14:13] yasker commented on #574
@paalkr We need to take a closer look at the role issue (I just found out GKE set no role for the nodes), but it shouldn't stop the manager from starting.

How many managers pods and engine image pods you've seen? There should be 5 pods for each (as the same number as your worker nodes) since both are just a daemon set.  Managers need to wait for engine image pods to complete deployment before con

[2019-05-26 15:17] paalkr commented on #574
This is what I observe in the longhorn-system namespace
[code]
Nodes
[code]
PS, I have still taints on the storage nodes, so that no normal workloads should be able to run there.
[code]

[2019-05-26 15:32] paalkr commented on #574
After manually editing the engine-image DaemonSet to include the toleration for my storage node taints, the longhorn system seems to start up.
[code]

[code]

[2019-05-26 15:48] vitobotta commented on #502
Tried this again with 0.5.0, same problem. I know I can use Longhorn's backups, but I am exploring options.

[2019-05-26 15:52] paalkr commented on #574
Thanks for the help so far!
After some manual intervention I did get Longhorn up running, see attached screen shot from the manager :)
![image](https://user-images.githubusercontent.com/9726307/58384146-c79e0500-7fde-11e9-927e-2f790c115e85.png)

But there are some areas that I think should be handled a little different, to get at fault tolerant self healing storage system in place.

- Taints shoul

[2019-05-27 14:41] yasker opened #575 "UI: Support bundle download link doesn't work in the volume detail page"
Version: v0.5.0

404 returned if click Generate support bundle in the volume detail page.

It works in dashboard though.

[2019-05-27 14:46] yasker opened #576 "manager: Fail to set volume status after all replica failed may result in volume is not attachable."
v0.5.0.

The error message for attaching:
[code]

And it caused by the follow issue in this case. But it can be due to other reasons.
[code]

This is caused by the volume `faulted` state can only be triggered once at the moment all replicas failed. We should reconcile to the `faulted` state once we detected all the replicas has failed.

[2019-05-28 10:17] vitobotta opened #577 "[Feature request] Search volumes by namespace"
This is a small one. It would be nice to be able to filter volumes by namespace in the volumes list, useful when there are many volumes and you want to perform some action on all the volumes within a namespace. Thanks

---
Version: `v0.5.0`

[2019-05-28 12:38] vitobotta opened #578 "[Feature request] Restore backup schedule when restoring volume or allow choosing storage class with schedules"
At the moment, if I create a storage class that defines snapshot/backup schedules, whenever I create a volume with that storage class the volume inherits the snapshot/backup schedules. However when I restore the volume from backup, those schedules are lost so you need to remember to reschedule the backups manually from the UI. It would be nice if either the schedules were saved with the backup or,

[2019-05-28 22:21] yasker commented on #577
@smallteeths Let me know if you need backend's help.

[2019-05-28 22:28] yasker commented on #578
@vitobotta

It would be weird for the backup to store the scheduling since it's hard to say this volume will always have the same backup scheduling.

Storage Class does support `fromBackup`, you may able to copy the original storage class, then add this field to create the volume. It's a bit cumbersome, but Kubernetes doesn't allow extra per PV/PVC parameters currently.

If you are restoring the v

[2019-05-28 23:50] wjimenez5271 opened #579 "Restore won't allow you to activate DR in UI"
I've created a DR volume from a backup, but I can't do anything further with it to make use of it in my cluster. I am told there should be a menu on the right side which is missing.

![Screen Shot 2019-05-28 at 4 29 15 PM](https://user-images.githubusercontent.com/322834/58519494-be40a400-8168-11e9-930d-82de55a73263.png)

[2019-05-28 23:53] yasker commented on #579
@smallteeths Seems it's better to fix the action menu? It's confusing to the user if they didn't see the menu on the right.

[2019-05-29 00:25] yasker commented on #574
@paalkr You're welcome!

First two items in your list, we definitely can do. I can see the use case now. Feel free to file separate issues for them (which makes it easier for us to track them)

Though, what's the mount path you're talking about?

[2019-05-29 00:26] yasker commented on #502
Let me put this in v0.6.0 first. Cannot make a commitment that we can fix it but we will look into it.

[2019-05-29 00:29] yasker commented on #572
@paulmorabito Thank you!

How to reproduce your remounting issue?

[2019-05-29 00:34] paulmorabito commented on #572
Specifically, use keel to auto-update an image and you should see it occur
eventually. The status will be stuck at "Container Creating" and if you do
a describe pod, it will be stuck at the mounting stage.

On Wed, 29 May 2019 at 09:29, Sheng Yang <notifications@github.com> wrote:

[2019-05-29 00:38] yasker commented on #572
@shuo-wu ^^ It may be related to #564

[2019-05-29 06:21] paalkr commented on #574
@yasker , thanks!

Great that you are happy about my suggested improvements to Longhorn.
What I mean by bulletpoint 3 is that I would like to specify what mount path on the host that should be automatically included in Longhorn. In my case during node startup attached EBS volumes are striped together and mounted at `/ebs/`, which is where I would like Longhorn to store data. Currently Longhorn add

[2019-05-29 12:54] courcelm commented on #478
I'm also having this issue with Elasticsearch. It seems that system hidden snapshots are not deleted. What is the retain number for those?
This is problematic, my 30Gi volume is now 123Gi and this eventually causes disk pressure.

[2019-05-29 16:39] junkiebev opened #580 "Upgrade app in Rancher UI - not able to hit management site"
I upgraded the longhorn app to `0.5.0` from the rancher catalog in the UI and now the UI doesn't come up.

I'm using the proxy ingress and it seems to just sit there when I try to hit it
index.css and index.js throw a 503 (eventually) - the request sits *pending* for quite some time.

A fresh deploy to a different cluster works just fine.

[2019-05-29 16:53] yasker commented on #580
Can you check the status of longhorn manager to see if it's running?

[2019-05-29 17:21] junkiebev commented on #580
It's the proxy - When I use a regular ingress (xip.io) it works fine.

[2019-05-29 17:35] yasker commented on #580
It's maybe UI or proxy.  Proxy is Kubernetes proxy, should work by default. Can you open the failed UI and the Chrome developer's console? There should be errors shown.

[2019-05-29 17:38] junkiebev commented on #580
Yea - it tells me that the 2 index files throw 503s after spinning to load for a minute or so

Do you know the workload which runs the kubernetes proxy? I can try re-deploying it.

[2019-05-29 17:41] yasker commented on #580
@junkiebev No, it's built-in. I think something may be wrong with the URL UI is requesting.

Can you share the screenshot and details in the developer's console? We need to look into it.

[2019-05-29 17:47] junkiebev commented on #580
Screenshot would just be a blank white page

URL is https://wrangler.mycompany.com/k8s/clusters/c-n9llk/api/v1/namespaces/longhorn-system/services/http:longhorn-frontend:80/proxy/

initial request (hangs for a few minutes)
![image](https://user-images.githubusercontent.com/6684332/58578994-b5ef7400-820f-11e9-9843-6cb9dac779ab.png)

eventual response is a 503. Did you need more details? I'm going t

[2019-05-29 17:58] junkiebev commented on #580
Do you reckon it might be this? https://github.com/linkerd/linkerd2/pull/1765

[2019-05-29 18:05] yasker commented on #478
@courcelm system hidden snapshots should be automatically deleted once you delete any snapshots. Does https://github.com/rancher/longhorn/issues/478#issuecomment-485930147 help in your case?

[2019-05-29 18:06] yasker commented on #574
@paalkr Yeah, that makes sense. I will file separate issues for those improvements.

[2019-05-29 18:09] junkiebev commented on #580
[code]
is also a thing I've gotten

[2019-05-29 18:22] yasker commented on #580
@junkiebev Can you get the result of `kubectl -n longhorn-system get pod`? Is the old UI still running?

[2019-05-29 18:35] courcelm commented on #478
The UI does mention that hidden snapshots are deleted.

Following your above comment, I created a new snapshot (I had none previously). Then I deleted it. I got a 504 error from the UI. It seems deleted after a page refresh. However, my actual size is still 124 Gi instead of lower than 30 Gi.

[2019-05-29 18:40] courcelm commented on #478
I got this in my replica log:

time="2019-05-29T18:38:35Z" level=info msg="Marking disk 37415192-abe0-4505-9bd6-311df5c82dd1 as removed"
10.42.7.98 - - [29/May/2019:18:38:35 +0000] "POST /v1/replicas/1?action=markdiskasremoved HTTP/1.1" 200 10019 "" "Go-http-client/1.1"
time="2019-05-29T18:38:35Z" level=info msg="Prepare removing disk: 37415192-abe0-4505-9bd6-311df5c82dd1"
time="2019-05-29T18:38:3

[2019-05-29 18:41] paalkr commented on #570
@vistalba , I absolutely agree with you on all the comments you made in the last post.

Regarding 1, I would like the option to configure (system wide or pr storage class?) a limit for how many replicas for the same volume that are allowed to land on the same node. In my case I would probably set the limit to 0, and run with a degraded volume until a new node is added to the storage cluster and Lo

[2019-05-29 18:50] junkiebev commented on #580
The UI looks different than I remember and the workload says it is running `longhorn-engine:v0.5.0`

One _weird_ thing is that I have 2 engine images (with 2 different versions) running - is that normal?

![image](https://user-images.githubusercontent.com/6684332/58583023-ac1e3e80-8218-11e9-8bad-8b118f7b900d.png)

[code]

[2019-05-29 19:26] yasker commented on #478
@courcelm Can you show me a screenshot of your snapshots? Each of them (including volume head) should have an actual size assigned to them when you hover your mouse over the snapshot name.

[2019-05-29 19:29] yasker commented on #580
@junkiebev The old engine image will be automatically removed after you finish the engine upgrade process for v0.5.0.

If `10.42.5.9` is the Longhorn UI pod IP, then I cannot understand why the following happens:
[code]

Where did you see this error message?

Also, @smallteeths can you take a look at this issue?

[2019-05-29 19:32] courcelm commented on #478
Here it is:

![Screenshot from 2019-05-29 15-29-11](https://user-images.githubusercontent.com/1862936/58585402-99126b00-8226-11e9-9a79-b8dd26d55ec2.png)

![Screenshot from 2019-05-29 15-30-14](https://user-images.githubusercontent.com/1862936/58585431-b34c4900-8226-11e9-9b0d-61d48b01ab02.png)

+ 25 hidden snapshots

[2019-05-29 19:40] yasker commented on #478
@courcelm Can you send me a support bundle? You can find the generation link at the bottom of UI, and try it in the dashboard page (there was a bug on the volume detail page).

You can find my email in my profile.

[2019-05-29 21:36] junkiebev commented on #580
The website - it may have been during an upgrade then? Should I remove the old engine?

[2019-05-29 21:55] yasker commented on #580
@junkiebev So the URL behind the rancher proxy is working now?

You don't need to worry about the old images (and don't remove it using kubectl). If you want to remove it after upgraded all the volumes to the v0.5.0, you can use Longhorn UI -> Settings -> Engine images.

[2019-05-30 20:31] junkiebev commented on #580
@yasker - It was the kube-apiserver acting up due to an etcd node misbehaving. It works now. That was a fun one to fix!

[2019-05-30 20:36] junkiebev commented on #580
@yasker  - Do I need to do anything to kill the old engine image? It has references so I'm prevented from killing it in the UI - Do I migrate them into v0.5.0 in some way?

[2019-05-30 22:15] yasker commented on #580
@junkiebev wow, just curious how did you figure it out it's due to kube-apiserver?

[2019-05-30 23:01] yasker opened #581 "engine: Race condition in `snapshot purge`"
The issue is raised by https://github.com/rancher/longhorn/issues/478#issuecomment-496924063

It seems we allow two `snapshot purge` to happen at the same time, which caused issues like inside the replica.

2019-05-30T15:43:50.959196973Z time="2019-05-30T15:43:50Z" level=error msg="Error in request: Cannot find source of replacing: volume-snap-71f6968d-8124-4b22-9693-bd21f40672c8.img"

[code]

[2019-05-31 06:20] paalkr opened #582 "The ability to specify the default data path on the host"
Ref: https://github.com/rancher/longhorn/issues/574

It must be possible to specify what mount path on the host that should be automatically included in Longhorn. In my case during node startup attached EBS volumes are striped together and mounted at /ebs/, which is where I would like Longhorn to store data. Currently Longhorn adds /var/lib/rancher/longhorn/ to the storage pool by default, which w

[2019-05-31 06:24] paalkr opened #583 "Mark nodes with/without certain label as disabled/enabled by default"
Ref: https://github.com/rancher/longhorn/issues/574

Only some of the nodes in my cluster has disks attached that is intended for Longhorn. So I would like to store Longhorn data only on nodes that has a specific label. All other nodes should by default be marked as disabled.

![image](https://user-images.githubusercontent.com/9726307/58685890-7b0b4e80-837d-11e9-81db-bd69f788c786.png)

[2019-05-31 06:32] paalkr opened #584 "Add support for tolerating tainted nodes"
Ref
https://github.com/rancher/longhorn/issues/583
https://github.com/rancher/longhorn/issues/574

I have added dedicated nodes intended for Longhorn storage to my cluster, these nodes has EBS volumes attached. Other nodes does not have these extra storage volumes. So to make sure that the dedicated Longhorn nodes are not used for general purpose workloads they are tainted (and labeled).

[code]

[2019-05-31 06:36] paalkr commented on #574
I have created separate tickets for the various issues I have reported during testing. So I guess this current issue then can be focused on the fact that the Longhorn manager tries to describe a non existing node label. This error does not prevent Longhorn from starting though, but it fills up the logs with clutter.

[code]

[2019-05-31 13:53] junkiebev commented on #580
@yasker  - I read through ~250k lines of logs looking for something chatty after submitting a ticket to Rancher Support for a different issue I was having with that cluster, lmao.

Purchase Rancher support, y'all!

[2019-05-31 17:34] yasker commented on #580
@junkiebev Thanks for the business! :)

I will close this issue then.

[2019-05-31 17:34] #580 closed

[2019-05-31 17:37] yasker commented on #574
@paalkr Thanks for filing the issues. Yeah, we're going to fix this error message in the next release.

[2019-06-02 18:43] vistalba commented on #570
Happens again today. Don't know why but all volumes are "Healthy" again but with replicas on the same node. No rebalance and also no notification.

We should get a fast workaround solution here... :-/
Maybe something like a settings we can activate to avoid replicas build on same node or that he automaticly rebanalce if all nodes are back up. Any other suggestions?

[2019-06-03 12:35] DeepLJH0001 opened #585 "it doesn's work when i use iscsi pvc, can't mount pv in pod"
k8s version
[code]

rancher version : 2.2.3
longhorn version 0.5.0
os version: centos 7.6
[code]

 kubelet config
[code]

pod.yaml
[code]

csi logs
[code]

pvc and pv was in bound status
[code]

[2019-06-03 12:37] DeepLJH0001 commented on #585
open-iscsi was installed
[code]

[2019-06-03 18:12] yasker commented on #585
@DeepLJH0001

Most users use blockdev frontend for Kubernetes. iSCSI is designed for use with VMs mostly, and would need extra configurations. If you want to use iSCSI frontend, you need to use Kubernetes iSCSI PV type. Longhorn driver doesn't support iSCSI frontend. See https://github.com/rancher/longhorn/blob/master/docs/iscsi.md for details.

[2019-06-03 18:12] #585 closed

[2019-06-03 21:56] yasker commented on #311
We can also add node level tags. The disks in each node will inherit that node tags then users can control which group of nodes can be used for storage.

[2019-06-03 22:15] yasker opened #586 "Support scheduling replica with hard anti-affinity"
https://github.com/rancher/longhorn/issues/570

Currently, we're using `soft anti-affinity` rules for replica scheduling. Though for many, scheduling more than one replicas per node doesn't make sense. It helps with bit rot but that's only necessary when you're down to the last node, which shouldn't happen normally.

We will introduce a `Replica Hard Anti Affinity` option in the `Scheduling` setti

[2019-06-03 22:27] yasker opened #587 "[FEATURE] Support automatic rebalance the replicas"
Add a global setting to enable `Automatic replica rebalance`.

In the case of there is a limited or no redundancy for the volume (e.g. due to node offline temporarily), if this option is enabled, we can automatically check if a new replica can be scheduled on the new node to restore the redundancy. Notice this can have some system level impact since it will result in more network traffic in the sy

[2019-06-03 22:28] yasker opened #588 "Support `Maximum Concurrent Replica Rebuilding Count` setting"
Add a `Maximum Concurrent Replica Rebuilding Count` option, to limit replica rebuilding happens at the same time. Rebuilding is high bandwidth operations, especially with #587 implemented.

from: https://github.com/rancher/longhorn/issues/570

[2019-06-03 22:32] yasker commented on #570
@vistalba

One extra replica can help with bit rot, though it's not common and will help only if you have just one working node left. I would prefer a simple option to enable hard anti-affinity rule here.

Filed https://github.com/rancher/longhorn/issues/586 for this.

It's not related to the existing volume. But if you want to create a volume with 3 replicas, but only one of them can be scheduled

[2019-06-03 22:36] yasker commented on #570
@vistalba

In your latest case, it sounds like you'd lost the connection to one node, which triggered the rebuild process. At least you should be able to see the `limited redundancy` icon in the UI for the volumes.

I've added #586 to the next Longhorn release, but it's not the root cause of your issue. Can you check what's the reason of losing connectivity to a node in your environment? We also w

[2019-06-04 01:23] DeepLJH0001 commented on #585
Thanks a lot~ I just want to try kubevirt and create a vm with a iscsi pv type of booting disk.

[2019-06-04 05:43] vistalba commented on #570
@yasker
I know it isn't the root cause. It was a issue with host connectivity at my hosting provider.

I know that I can see this in the UI. But there is no notification about that... so the only thing to detect it is when I go to the UI periodically or if I can see the outage in the monitoring.

[2019-06-04 07:45] rbq opened #589 "Suggestion: Announce replica state via Pod annotations"
Would it be possible make Longhorn annotate Pods belonging to replicas with their individual replication state, as well as the volume's state?

The reason: I'm running [kured](https://github.com/weaveworks/kured) (Kubernetes Reboot Daemon) to trigger (one at a time) node reboots when the OS requests one by creating `/var/run/reboot-required`. I'd very much like to block this for nodes which curren

[2019-06-04 08:02] mmriis commented on #311
This would mean that some nodes should only have fast storage and some slow? So no mixing storage classes in nodes?

[2019-06-04 18:44] yasker commented on #311
@mmriis No. The nodes tag are not overriding the disk tag.

For example, the node tag can be `storage_main` for node 1-5, `storage_backup` for node 6-10. The disk A tag for node 1 can be `fast`, disk B for node 1 can be `slow`. Internally, we will treat disk A on node 1 as both `fast` and `storage_main`, disk B on node 1 as `slow` and `storage_main`.

[2019-06-04 19:14] yasker commented on #589
@rbq

Currently, our replica pods will always have the label `longhorn-volume-replica=test` on them. Any running replica will either be healthy or rebuilding. Faulted replica won't be running on the node.

Though in the next release v0.6.0, we're going to change the way of deploying engine and replicas. We are going to use two DaemonSet act as a container for the engine and replicas, and creating

[2019-06-05 12:35] rbq commented on #589
@yasker Okay, thanks!

[2019-06-06 08:45] smallteeths commented on #577
@yasker Don't need backend and this is the frontend filtering

[2019-06-10 17:33] yasker commented on #573
We will add a disable option to the BackupStorePollingInterval. If it's 0, it's disabled.

[2019-06-10 17:42] yasker commented on #358
We can do this after #308 implemented. Longhorn v0.6.0 will only support Kubernetes v1.11+.

[2019-06-10 18:01] yasker commented on #367
Let's recheck after the refactor is done.

[2019-06-10 18:03] yasker commented on #584
Let's revisit the issue after the engine process refactoring is done.

[2019-06-10 18:19] yasker commented on #487
Fixed in Rancher 2.2.4

[2019-06-10 18:19] yasker commented on #82
Item 1 and 5 have been implemented in v0.5.0

[2019-06-10 18:21] yasker commented on #308
We need to at least investigate and know the potential impact. I am worried about the upgrade path.

[2019-06-10 21:18] Angelinsky7 opened #591 "[UI] Remove maxheight from ant-table-body in volume page"
Hi,

is it possible to remove the maxheight attribute on the ant-table-body table in the volume page ?
now it looks like this :
![image](https://user-images.githubusercontent.com/13157968/59227344-704e8600-8bd5-11e9-99f7-a38edb46b9ae.png)

without it will look like that :
![image](https://user-images.githubusercontent.com/13157968/59227373-7f353880-8bd5-11e9-9436-6a024b4b0e16.png)

the `overflow:

[2019-06-10 21:31] yasker commented on #591
Nice catch!

@smallteeths What do you think about this? I know we've been tweaking volume list page a lot, not sure if we're deliberately doing this for some reason.

[2019-06-11 20:30] yasker commented on #307
#586 should help with this.

[2019-06-11 20:32] yasker commented on #413
@infinytum

Hi, somehow I missed your comment.

For a workaround, you can figure out which replica is failing, then delete it (only if you have other healthy replicas). Longhorn will rebuild a replica to replace the failing one.

[2019-06-12 18:37] milovanderlinden commented on #353
The link is dead.

[2019-06-12 18:42] yasker commented on #353
@milovanderlinden please see https://github.com/longhorn/longhorn/blob/master/docs/snapshot-backup.md#setup-a-local-testing-backupstore instead.

[2019-06-12 20:34] milovanderlinden commented on #353
Yes, I found it, but I justed wanted to make sure others would not stumble on a dead link. By the way, in github comments you can use relative URL's.

[2019-06-13 00:26] shuo-wu opened #592 "engine: Add tests for incremental backup"
See https://github.com/longhorn/longhorn-engine/pull/358

[2019-06-13 00:38] meldafrawi commented on #502
Longhorn Version: 0.5.0

- Using Velero **V1.0.0** with Restic integration: https://heptio.github.io/velero/v1.0.0-rc.1/restic.html

- Pod example: https://raw.githubusercontent.com/longhorn/longhorn/master/examples/pvc.yaml

I was able to:
  - Create a backup and restore Longhorn volume to a **Healthy state** and verified data integrity inside the volume.
  - The restored pod was stuck in **Init

[2019-06-13 06:02] yasker opened #593 "manager: need to set health check according to the engine image"
https://github.com/longhorn/longhorn-manager/commit/a69b9512ff5b237fc53a9483d7bcb555d7d6973f broke all the previous pod's health check method. So if there is a new pod starting with older version of engine, e.g.:
1. Create a volume
2. Upgrade Longhorn from v0.5.0 to dev version
3. Before upgrading the volume engine, kill one replica
4. Rebuild will fail.

Because manager is going to use the new he

[2019-06-13 06:08] yasker commented on #593
Or, we can add a script in place of standard grpc healthcheck program, and it can check for both rest api and grpc. If GPRC failed, then it will check rest API instead.

[2019-06-13 07:31] smallteeths commented on #591
@yasker The height of the page was designed to be supported by the content, but if the list is too long, you can't see the header, I want to have a full screen type of ui and I don't want to change the layout, so I use max-height. It will take some time to change the original layout

[2019-06-13 14:52] itmuckel opened #594 "Cannot mount nfs"
Hello!

I used the test configuration with nfs-ganesha that you provided in the docs to make a backup of my volumes to a hostPath on a specific node. Also the restore procedure worked fine.

Then I killed the NFS server and restarted it. It had the same configuration, but Longhorn was not able to connect to it / find the existing backups.

I then decided to switch to the newer docker-nfs-server. H

[2019-06-13 17:45] infinytum commented on #413
Hey @yasker,

Yes, I've tried to remove that replica. It created a new one which then failed the same way. I found that eventually it will self-heal over time. Thats fine for smaller disks, but larger ones take quite a while to replicate again and again.

[2019-06-14 12:16] fmax commented on #311
+1 that would be greate to have a SSD and HDD pool
:)

[2019-06-15 12:25] TrueCarry commented on #60
Hello. I spent last 2 days recovering my longhorn volumes, so I think I can provide some info. Maybe someone else will find it of help.

What happened:
We needed to turn off one machine to replace hard drive which reported signes of failure. I've added temporal machine to share load and turned off machine in question. For some reason I couldn't evacuate machine, it didn't stop any service. So I re

[2019-06-16 05:59] yasker opened #595 "test: engine: force interruption after block device created result in test suite hang"
And the iscsi session won't quit.

To reproduce, add a `time.sleep(100)` in one test case after the block device was created. Use `dapper ./scripts/integration-test -- -s -x -k <testname>` to run that single test. Once the block device was created, use `ctrl-c` to stop the test.

The test process won't stop. It just hangs there, require `docker kill` to stop the container. Also, iscsiadm session w

[2019-06-16 09:12] HZMarico opened #596 "How To Avoid Exceeding The Limit"
# I don't know what happened.

## longhorn ui
![image](https://user-images.githubusercontent.com/15900595/59561989-35c36e00-9059-11e9-9f12-b1caf0f82949.png)

## du -h
![image](https://user-images.githubusercontent.com/15900595/59561998-64414900-9059-11e9-8033-8262cd4d7853.png)

## rancher ui
![image](https://user-images.githubusercontent.com/15900595/59562016-a4083080-9059-11e9-840a-21ca5441ab94.p

[2019-06-17 05:19] vistalba opened #597 "Backups with no Data still shows in Longhorn and S3"
I deleted a volume around 25 days ago.
This volume has some backups. Yesterday I deleted all the backups from each device (manually) in the Longhorn UI.

Now, this volume is still in the "Backup" List but has no "Backup" behind. In S3 the Folder exists for example `backupstore/volumes/e9/ef/VOLUMENAME` and has a size of 10.88GB.

How can I remove this stuff from my Backuplist and S3?

---
Version:

[2019-06-17 15:27] yasker commented on #596
Hi @HZMarico

It seems you have snapshots made in the system, which contains the history so the volume can be bigger than the nominal size. See https://github.com/longhorn/longhorn/issues/478#issuecomment-482675743 and https://github.com/longhorn/longhorn/issues/478#issuecomment-485930147 on explaining why.

You can schedule a recurring snapshot or backup to avoid accumulate unnecessary history fo

[2019-06-17 15:30] yasker commented on #597
@vistalba That sounds like a bug. The data for the volume should be gone and the volume shouldn't show up in the backup list if there is no backup.

Can you show me the directory structure (and files) under `backupstore/volumes/e9/ef/VOLUMENAME`? Maybe the last backup cleanup was interrupted so the volume won't be removed.

(btw, seems we need to have a `delete backup volume` option. May want to f

[2019-06-17 15:36] yasker commented on #594
@itmuckel The nfs server we provided as the example should work fine in the most case, but we do know genasha has a bug with Docker sometimes (https://github.com/janeczku/docker-nfs-ganesha/issues/1 ).

The one you installed (https://github.com/ehough/docker-nfs-server) depends on kernel modules. E.g. for Ubuntu, you need to install `nfs-kernel-server` package for it to work. You can check the NFS

[2019-06-17 15:38] yasker commented on #413
Thanks for the info @infinytum . It's unexpected the new replica will fail the same way. We will look into this issue.

[2019-06-17 15:46] yasker commented on #60
@TrueCarry The last three volumes should be salvageable as well. Probably caused by an issue we found recently https://github.com/longhorn/longhorn/issues/576 .

But I agree that we should able to provide an easier way to recover a volume using a replica from the disk. Maybe we can follow up in https://github.com/longhorn/longhorn/issues/469

[2019-06-17 15:47] vistalba commented on #597
@yasker

First... there should be a option like `delete all backups of volume ...`

Don't know how to export this structure in AWS Webconsole.

There is a file `backupstore/volumes/e9/ef/VOLUMENAME/volume.cfg` and a folder `backupstore/volumes/e9/ef/VOLUMENAME/blocks`.

In the folder there are a lot of folders like:  `1b`, `1c`, `1d` ... `ff`. And in this folders there are again folders like `67`.

[2019-06-17 15:50] yasker commented on #469
There is a suggestion by @TrueCarry to add a feature in Longhorn to allow importing a replica for creating a volume. I think we would need it since it is a part of our data recovery mechanism.

[2019-06-17 15:55] yasker opened #598 "backupstore: provide an option to delete all the backups of one volume"
https://github.com/longhorn/longhorn/issues/597

[2019-06-17 15:56] yasker commented on #597
@vistalba Yeah, that what I meant. We need an option to delete all the backups of a volume. I've filed #598 for this.

And yes, it's safe to delete that `VOLUMENAME` directory. We will try to reproduce the issue locally and keep this issue open to tracking the blocks leftover issue.

[2019-06-17 16:00] vistalba commented on #597
@yasker Okay fine. Then I will delete the stuff there :)
My cluster rancher cluster run into wired issues with creating new nodes so I decided to create a new one and restroe the volumes from there (because it's not a production environment).

I installed longhorn on the new cluster and restored some all of the used volumes. In this step I realized that I've some volumebackups that didn't exist an

[2019-06-17 16:14] yasker opened #599 "manager: scheduler retry for replica is too quick, result in unnecessary system load"
Noticed it when checking #570 . Tried the scheduling failure case and notice an abnormal. The retrying for scheduling happens too quick when there is obviously no way to schedule another replica. We need to somehow slow that down (the easy way) or don't retry scheduling until a certain condition is met (need more thoughts).

[2019-06-17 19:42] ttpcodes commented on #599
Regarding the first approach, we can follow something similar to the Kubernetes `CrashLoopBackOff` that gradually slows down the retry attempts as subsequent attempts fail and it becomes apparent that the cause of the scheduling failure will take longer to resolve. We should, of course, modify this logic a bit so it doesn't time out progressing or reach absurdly long back off wait times.

Regardin

[2019-06-17 20:11] ssirag opened #600 "Longhorn exhibiting strange scheduling habits"
I've configured a Rancher Kubernetes (RKE) cluster built on-premises by Rancher 2.2.4, and have configured Longhorn as persistent storage for the cluster.

The objective is to use this as our development kubernetes custer as we work on dockerizing our apps.

At this point the cluster is lightly used, with just the default system containers, metallb, phpmyadmin  and longhorn running.

I have 4 node

[2019-06-18 05:25] HZMarico commented on #596
Thank you for your reply.

[2019-06-18 05:25] #596 closed

[2019-06-19 00:19] meldafrawi commented on #575
Longhorn-ui version: 57bd2a1

Scenarios tested:
 - on Volume Details page, click on Support bundle download link, Enter Issue URL, and description, and click OK

 - on Volume Details page, click on Support bundle download link  and click OK

[2019-06-19 00:19] #575 closed

[2019-06-19 00:34] meldafrawi commented on #577
Longhorn-ui version: 57bd2a1

Created multiple longhorn volumes in different namespaces, and filtered using namespace.

[2019-06-19 00:34] #577 closed

[2019-06-19 09:06] yasker commented on #599
@ttpcodes Yeah, those changes you listed should trigger volume's reconciliation. I think the current retry mechanism due to other volume related state change as well. We can implement a backoff by putting a volume specific `lastSchedulingFailed` in the volume controller. Kubernetes's maximum retry period for pod failure is 5 minutes, though I am not sure how Kubernetes handles scheduling failure (

[2019-06-19 22:33] ttpcodes commented on #599
Oh yeah, changes to `Volumes` such as a `Volume` having one less `Replica` could free up space and potentially allow a previously failing `Replica` to be scheduled.

Based on my own experience with Kubernetes `Deployments`, if a `Pod` fails to get scheduled somehow, such as due to a lack of requested resources, the same `CrashLoopBackOff` retry logic seems to apply silently in the background. Kube

[2019-06-20 02:30] smallteeths commented on #591
Recommended use Chrome or Firefox

[2019-06-20 20:39] mariusstaicu commented on #17
this is a big blocker for using longhorn atm, as well as for using rancher2. is it gonna be postponed indefinitely like other rancher features ?

[2019-06-20 20:55] ttpcodes opened #601 "Accessing any route with the word `backup` in it attempts to list backups"
I've been able to reproduce this on `v0.5.0` of `longhorn` and on the `master` versions of all of the `longhorn` components.

The main way to encounter this issue is by creating a volume named `backup` and attempting to view its information. This will take you to the route `/volume/backup`, which triggers the logic that the `longhorn-ui` uses to attempt to list off `Backups`. This applies to other

[2019-06-21 03:57] yasker commented on #571
https://github.com/longhorn/longhorn-manager/pull/310

(@ywei88 Remember to add a reference to the issue in the PR next time)

[2019-06-21 03:58] yasker opened #602 "Automatically attach standby(DR) volume after it's created"
User shouldn't need to attach it manually to make it work.

Can use the similar logic of #571

[2019-06-21 07:04] yasker commented on #601
Nice catch @ttpcodes ! @smallteeths Can you take a look at what's happened?

[2019-06-21 07:10] yasker commented on #17
@mariusstaicu We're not pushing back the feature indefinitely. As you see there is a milestone assigned to the feature, that means we're tracking and planning to work on it.

More and more users are asking for this feature, so we've prioritized it from "no milestone" to v0.6.0 this year. But later we've decided to introduce an architecture refactor in v0.6.0, so we have to push some features to v0

[2019-06-21 07:12] ChrisScottThomas opened #603 "Pod Security Policy result in failed to wait for engine image rancher/longhorn-engine"
I have a PSP enabled cluster, which I am trying to deploy Longhorn to, using the YAML file.
The engine daemonset refuses to create, and I see no errors point to why it's not working, which is frustrating.

All I've done to make it work with PSP, is to add rules allowing the service account to use a privileged psp.

[code]

The psp being used:
[code]

The logs vary from:
[code]

[code]

Where shoul

[2019-06-21 08:07] yasker commented on #599
Sounds good.

We don't want a backoff to 10 minutes though. Let's set the maximum backoff to 1 minute for now.

[2019-06-21 11:34] ChrisScottThomas commented on #603
It looks like the engine-image daemonset, created by the manager, isn't inheriting the roles set.  So get's blocked from spawning?

[code]

[2019-06-21 11:58] ChrisScottThomas commented on #603
Adding:
[code]

to the `daemonset.apps/engine-image-ei-9bea8a9c` manually, has made them spawn.  Bad times, as this is generated by the manager...

[2019-06-21 12:09] ChrisScottThomas commented on #603
This is the least privileged PSP required to run Longhorn, if anyone else is wanting to do this:
[code]

This still requires a manual edit to the engine-image daemonset to make work under PSP/RBAC security, however.

[2019-06-21 12:52] yasker commented on #603
@ChrisScottThomas Thanks for reporting this issue with Pod Security Policy. We haven't looked into the PSP yet so that's why you've encountered some problems.

Regarding why Longhorn needs those directories, many of them Longhorn indeed needs. A few I can explain without further looking up into the code:
- `/var/lib/kubelet/plugins`: Kubernetes requires it for CSI driver
- `/var/lib/kubelet/plugin

[2019-06-21 13:02] ChrisScottThomas commented on #603
No worries :)  In regards to the directory access, IMO it'd be better if they aren't mounted as read/write if they only need to read.  It'd enable a bit more tightening on the PSP and turn some of those `readOnly: false` to true.  If you set any to true, you block the deployment as the volumes are being mounted as rw be default.

[code]
which earns you a bunch of these:
[code]

More pressing conce

[2019-06-21 13:22] yasker commented on #600
@ssirag

If you want to remove a node from Longhorn, you need to disable the scheduling of the node and delete the replicas on the node first. After clicking the number of `Replicas` (6 on that error node) and select all and delete. Then you should be able to remove the node. Seems we need some document improvement on this.

The reason why Longhorn scheduled a 63GB volume on the 14GB disk is Longh

[2019-06-21 13:26] yasker commented on #603
@ChrisScottThomas Thanks for understanding. We will look into the daemonset permission issue. Let's keep this issue open to track the daemonset issue.

[2019-06-21 21:04] yasker commented on #311
@smallteeths backend merged. We can start  UI development.

[2019-06-21 23:06] shreesha21 commented on #45
Usage for UI:
The backup list could be seen in the JSON format with the following request:

`curl http://<longhorn-ui-ip>:<port>/v1/volumes`

Sample Response:

[code]

[2019-06-21 23:15] yasker commented on #45
@shreesha21 Also need to document the interaction between fields in backup status.

[2019-06-21 23:39] shreesha21 commented on #45
In BackupStatus, there are 4 important fields whose purpose is defined below:
[code]

[2019-06-22 00:20] yasker commented on #566
Done. No QA needed for this issue since any issue will be exposed in the manager integration test.

[2019-06-22 00:20] #566 closed

[2019-06-22 18:01] giminni commented on #458
@yasker K3s suport armhf, arm64 and amd64 is there a change to compile by myself longhorn-manager, controller and ui?

[2019-06-23 01:49] yasker commented on #458
We haven't looked into arm64v8 support yet...

On the other hand, you should able to only deploy manager on certain nodes by modify the manager deployment yaml file. Though the engine image daemonset will likely fail since the image supports amd64 only. We're looking at some ways to customize a few workloads generated by Longhorn manager, including engine image daemonset (https://github.com/longho

[2019-06-23 14:22] giminni commented on #458
Thanks @yasker

BTW I asked the K3s team if there could be a seamless integration between longhorn and k3s for all the supported architectures. (https://github.com/rancher/k3s/issues/567)

[2019-06-24 00:24] yasker commented on #416
With the new engine deployment architecture, we can just set the QoS to guaranteed for e.g. 500m for each engine and replica pod, since they're going to be shared between engine and replica processes.

[2019-06-24 00:28] yasker commented on #582
Two things regarding the merged PR:
1. Change the new default setting to `/var/lib/longhorn/`. Remember it only applies to the new nodes after v0.6.0. For nodes/disks before v0.6.0, it still should be `/var/lib/rancher/longhorn`.
2. What if user set this field to empty? I think we can disable automatic disk creation in this case.

[2019-06-24 01:53] yasker opened #604 "Evaluate CRD's Structural Schemas"
https://kubernetes.io/blog/2019/06/20/crd-structural-schema/

[2019-06-24 02:00] yasker commented on #502
Remove from v0.6.0 release since we cannot reproduce the issue without more inputs.

[2019-06-24 02:14] yasker commented on #604
According to the article, `A structural schema for CRDs in apiextensions.k8s.io/v1beta1 will not be required. But we plan to require structural schemas for every CRD created in apiextensions.k8s.io/v1, targeted for 1.16.`. We can worry about it when we drop support for version before v1.16.

Also, the schema is only used to validate the schema of the CRD. Seems what we need more is ValidatingAdmis

[2019-06-24 02:14] #604 closed

[2019-06-24 12:57] ByJacob commented on #564
I have the similar issue. After create volume from rancher i cannot attach it.

[longhorn-support-bundle_0539ab84-3509-11e9-b754-0201507d0508_2019-06-24T12-51-03Z.zip](https://github.com/longhorn/longhorn/files/3320879/longhorn-support-bundle_0539ab84-3509-11e9-b754-0201507d0508_2019-06-24T12-51-03Z.zip)

[2019-06-24 15:39] ttpcodes commented on #582
1. So this would mean that the initially created default `Disks` from before `v0.6.0` should still be using `/var/lib/rancher/longhorn/`, and only any new `Nodes` added after the upgrade or installation of `v0.6.0` should use `/var/lib/longhorn/` for the default `Disk` right?
2. Yes, I think we can allow the user to set this field to empty and place a note in the settings that states that leaving

[2019-06-24 23:25] ttpcodes opened #605 "Required settings are not validated in longhorn-manager"
I was able to reproduce this issue on both `v0.5.0` and `master`.

Even though `longhorn-ui` will warn you that a required `Setting` has been left empty, if you still go through and submit the `Setting` form, the `longhorn-manager` will not validate that these `Settings` have been filled, and still attempt to save the `Setting` value on the back-end.

For some `Settings`, this doesn't break anythi

[2019-06-25 01:25] yasker commented on #582
Per our discussion, it's not feasible to use the empty field as the indicator for if we need to create a new default disk for the new node. We will add a new setting for that purpose later.

[2019-06-25 01:26] yasker commented on #564
@ByJacob Thanks for attaching the support bundle. Can you also list the reproduce steps here?

[2019-06-25 06:56] ByJacob commented on #564
Ok, it is my stem for reproduce it:
Rancher	v2.2.4
User Interface	v2.2.70
Helm	v2.10.0-rancher11
Machine	v0.15.0-rancher8-1
Longhorn V0.5.0

1 example - run cassandra instance from docker image:
- click Deploy
- docker image: cassandra:3.11.4
- Workload Type: Scalable deployment of 1 pod
- Volumes: Add a new persistent volume
-- Use a Storage Class to provision a new persistent volume
-- Storage C

[2019-06-25 07:02] yasker commented on #564
@ByJacob you need to use storage class `longhorn` instead of `longhorn-static`. The later doesn't come with provisioner and was used by Longhorn when users want to create PV/PVC with UI.

[2019-06-25 07:11] ByJacob commented on #564
@yasker
I have defined 2 storage class
`{
   "annotations":{
      "storageclass.beta.kubernetes.io/is-default-class":"true",
      "storageclass.kubernetes.io/is-default-class":"true"
   },
   "baseType":"storageClass",
   "created":"2019-03-19T07:21:24Z",
   "createdTS":1552980084000,
   "creatorId":null,
   "id":"longhorn",
   "labels":{
      "io.cattle.field/appId":"longhorn"
   },
   "links"

[2019-06-25 07:41] ByJacob commented on #564
@yasker
And when downgrade to version v0.4.1 all works correctly.

[2019-06-25 13:48] yasker commented on #311
@ttpcodes can you write the API reference for the feature? @smallteeths needs it for UI

[2019-06-25 20:26] meldafrawi commented on #582
Steps to Test:
  - create a 3-node kubnernetes cluster, and install longhorn.
  - create longhorn storage class and create a pvc using: https://raw.githubusercontent.com/rancher/longhorn/master/examples/pvc.yaml
  - In `Settings/General` page, change `Default Data Path` field to `/var/lib/longhorn-data`
  - provision a 4th node, before adding the node to the cluster, create `/var/lib/longhorn-data

[2019-06-26 09:19] yasker commented on #576
You can use the following command to forcefully mark the volume as faulted then it can be salvaged:

[code]

<volume_name> is like `pvc-499dbb42-78b8-11e9-9f61-000c299a5b45`

[2019-06-27 02:32] ywei88 opened #606 "Backup deletion may timeout"
When I was deleting a 7G backup for a volume on longhornUI, which was the only backup for that volume, it sometimes encountered timeout error. The error message was like this :

This interrupted the backup deletion process and cause data leftover in blocks, and the volume was still in the backup list with no backup behind it ( #597 ), also there was no option to delete that volume in the backup li

[2019-06-27 06:32] yasker commented on #606
We cannot use a timeout to determine if the deletion completed or not. We need to implement something similar to #49 and #45 and timeout based on the progress movement. If there is no progress at all (no timestamp change) for a certain period of time, we can say it's timed out.

[2019-06-27 09:34] smallteeths commented on #311
@ttpcodes There is no connection between node tags and disk tags. When I create volume, I select one of node tags and one of disk tags. However, this node does not contain the disk tag, which fails to create volume.It would be nice to add a parameter in the 'disktags' API to return the appropriate disktags

[2019-06-27 21:55] yasker commented on #564
@ByJacob I don't think we have many changes in the driver between v0.4.1 and v0.5.0. If you encounter the issue again, can you send me the support bundle?

[2019-06-28 21:25] meldafrawi opened #607 "UI: Replica Hard Anti Affinity checkbox"
**Longhorn UI version:

**Settings page:**
  - `Replica Hard Anti Affinity` **checkbox** need to go up adjacent to the text, and help info get  aligned with the rest of help info in the page.

![Screenshot from 2019-06-28 23-23-49](https://user-images.githubusercontent.com/18232258/60372131-dde31a80-99fb-11e9-8024-d2c8bdf9df57.png)

[2019-06-28 22:39] meldafrawi commented on #586
Steps to test:
  - Create a Kubernetes cluster with `N` worker nodes , install longhorn, and create Longhorn StorageClass.
  - On `Settings/General` page, check `Replica Hard Anti Affinity` and click save.
  - Create a longhorn volume with number of replicas = `N-1`, you should see on `Volume Details` page `Replica Scheduling Failure`.

  - [x] You should not be able to attach the volume to a Node

[2019-06-28 23:01] vincent99 commented on #607
"Required" has no meaning on a checkbox; it's impossible to not provide a value.

Instead of a negative title (`Anti-`) and negative description (`Prevent...`), consider flipping it:

`[ ] Allow scheduling more than one healthy replica of a volume per node`

Or two radio buttions:

[code]

</random UX drive-by>

[2019-06-29 01:01] yasker commented on #607
@vincent99 Yeah, flip it makes sense. @ttpcodes Can we flip the option and set the default to be true?

The reason there is a "required" for the checkbox is that we have other required non-empty fields in the setting, so the property is included in the schema of the setting, and "required=false" doesn't sound like a correct choice.

@smallteeths Can you check if we can have a better layout for the

[2019-06-29 03:36] maaztariq opened #608 "Pod Security Policy Should be used instead of privileged"
Our cluster does not allow privilege mode, we should be able to run using POD Security policy with right permission instead of privilege = true https://github.com/longhorn/longhorn/blob/master/chart/templates/daemonset-sa.yaml#L22

[2019-06-30 22:39] yasker commented on #608
Thanks for the reporting @maaztariq

Internally Longhorn also deploys a few containers so we would need to look into PSP to find out what would be requirements and ways to address those issues.

[2019-07-02 08:58] #594 closed

[2019-07-02 09:09] itmuckel opened #610 "Trigger Backup Manually"
Hello again!
We now use a minio pod as backup target, so we can then backup the backup with our custom services.

Here's the problem: We're a little paranoid and we don't want to rely on longhorn's recurring backup. Instead we want to have a script that we can trigger whenever we need to which
1. creates the backups
1. processes them with our internal tools.

For this to work we need to trigger th

[2019-07-02 20:01] meldafrawi commented on #573
Steps to test:
- Create 2 K8S clusters (A & B), install longhorn, and create longhorn `StorageClass`
- Create an AWS S3 bucket, and configure backup target to use it for both clusters.
- On Cluster B Settings page:  set `Backupstore Poll Interval` to **0**
- On Cluster A: Create Longhorn volume `XA`, attach it to a node, and create a backup.
- On Cluster B, backup page, click `Create Disaster Reco

[2019-07-02 20:13] ywei88 commented on #573
Actually when you set the backupstore poll interval to nonzero value, the backup polling should be enabled again and the XA_DR's Last Backup At value on volume page should be updated

[2019-07-02 20:15] meldafrawi commented on #573
it was a typo, i updated it, thank you.

[2019-07-02 20:21] #573 closed

[2019-07-02 20:37] meldafrawi commented on #571
Steps to test:

- Create 2 K8S clusters (A & B), install longhorn, and create longhorn StorageClass
- Create an AWS S3 bucket, and configure backup target to use it for both clusters.
- On Cluster A: Create Longhorn volume `XA`, attach it to a node, and create a backup.
- On Cluster B, backup page, click `Create Disaster Recovery Volume` and create a DR volume `XA_DR`
**Expected result:**  `XA_DR`

[2019-07-02 20:39] #571 closed

[2019-07-02 20:46] meldafrawi commented on #579
Action menu now appears on the right of the DR volume.

[2019-07-02 20:46] #579 closed

[2019-07-02 20:48] #586 closed

[2019-07-02 21:13] meldafrawi commented on #601
Steps to test:
- Make sure `Backup Target` `Setting` is unset.
- Create a volume named `backup`
    - `/volume/backup` path in longhorn ui should go to volume details page.
    - `/dashboard/backup` should return 404 error.
    - in both cases, you should **NOT** be able to see `error listing backups: error listing backup volumes`  notification

[2019-07-02 21:13] #601 closed

[2019-07-02 23:46] shubb30 opened #611 "API links are broken when Longhorn UI exposed via proxy"
When you expose the Longhorn UI via the Rancher-Proxy, the links in the API are broken.  They appear to be meant for the Layer 7 Loadbalancer method, because they work fine there.

When using the Rancher-Proxy, the API is accessed at
[code]

The links are formatted like:

[code]

When I go to the "activate" link, the actual URL I get is:

[code]

which does not exist since it loses the proxy path.

[2019-07-03 00:50] yasker opened #612 "[BUG] Potential race condition between creating/restoring backup and deleting backup"
When deleting backups, we're checking the backup's block and scan all the other backups to decide which blocks can be discarded. If a new backup:
1. is created after the GC backup scanning was done
2. but before the GC process was done
3. and has reused one of the blocks in the old backup
4. and has checked the block exists already before GC process gets to it.

Then the block won't exist so that

[2019-07-03 01:58] yasker commented on #610
Hi @itmuckel

We don't have a dedicated CLI tool right now, but in our integration test, we communicate with Longhorn manager using cattle python client. You can see some examples here: https://github.com/longhorn/longhorn-tests/blob/master/manager/integration/tests/test_basic.py#L29

Cattle CLI is at https://github.com/rancher/cattle-cli

We will start working on Longhorn CLI soon.

[2019-07-03 02:00] yasker commented on #611
Hi @shubb30

That simple API UI wasn't supposed to be used outside of the development environment. You can use Longhorn UI with rancher-proxy instead.

[2019-07-03 12:29] itmuckel commented on #610
@yasker
Awesome, thank you for your quick response!
In the meantime I hacked something together.

We query the volumes that need to be backed up. Then a kubernetes job starts which accesses the frontend-service's API like `longhorn-frontend/v1/volumes/${volume}?action=snapshotCreate` to get a snapshot name and `*snapshotBackup`. That's enough to trigger backups automatically.

It is extremely hack

[2019-07-03 14:04] shubb30 commented on #611
How do you access the officially supported Longhorn API?

[2019-07-03 18:38] yasker commented on #611
UI talks to the `longhorn-backend` service in the end. You can create a pod inside Kubernetes cluster and access `longhorn-backend` service from there, or expose `longhorn-backend` service as e.g. node port or load balancer and access it. It's unauthenticated this way.

[2019-07-03 18:41] yasker opened #613 "[FEATURE] Longhorn CLI"
We need Longhorn CLI as an alternative to the Longhorn UI for automation/scripting purpose.

[2019-07-03 18:42] yasker commented on #610
@itmuckel I know... I've filed https://github.com/longhorn/longhorn/issues/613 to track Longhorn CLI.

And the backend service is named `longhorn-backend`. :)

[2019-07-03 20:13] shubb30 commented on #611
We have external services that we use to manage and monitor our Rancher and its clusters.  We would rather not have to have an extra service that we run inside each cluster just to talk to Longhorn.

This really should be better integrated with the existing Rancher API so that we can use the RBAC we have already set up with Rancher.

[2019-07-03 21:28] yasker commented on #611
@shubb30 I see, I was wondering how did you get past the Rancher authentication. This makes sense if you already have external services in place for that.

I will keep this issue open to track the feature.

Also, by RBAC and better integration, you meant the accessibility to Longhorn API or anything more than that?

[2019-07-03 21:57] shubb30 commented on #611
I'm not sure what you mean by `how did you get past the Rancher authentication`.  As a logged in user, I browsed to the Longhorn UI via the "app" in the Longhorn project.  From there, I just changed the URL from `.../http:longhorn-frontend:80/proxy/dashboard` to `.../http:longhorn-frontend:80/proxy/v1/volumes` and then I saw the list of the volumes.  I figured out the `v1/volumes` from [here](http

[2019-07-03 22:03] yasker commented on #611
@shubb30 I thought you're using an external service to authenticate against Rancher API so you can get access to Longhorn. Of course, UI works. But you need an external service to operate on Longhorn directly, you need to get past Rancher authentication using that external service instead of UI.

Yeah, we're at the same page about RBAC. Though the proxied path is the standard way to integrate apps

[2019-07-03 22:08] shubb30 commented on #611
Sorry, by external service I mean the app we wrote to monitor and manage our Rancher systems.  That system accesses the Rancher API using a service account that is authenticated via LDAP.  Once that service account is authorized, then it can just browse to the same URL from the original post.

[2019-07-03 22:45] meldafrawi commented on #45
Steps to test:

- Create longhorn volume
- Attach the volume to a node
- Mount the volume on the node
- Write fairly large data into the mounted volume ~ 3 GB
- On volume details page, click `Create Backup`
  **Expected result:**
    - In volume details page, Snapshots section you should see a new snapshot being created, and you should see backup progress.
    - Hovering on the snapshot, a tool-ti

[2019-07-04 08:37] itmuckel opened #615 "PV gets created, but fails to attach."
It's me again...

I have created a PVC and the default storage class is "longhorn".
The PV gets successfully created and I can see it in the UI, but it looks like this:

![image](https://user-images.githubusercontent.com/18561536/60651015-98807c00-9e45-11e9-9f4d-b02d2e2e5841.png)

As you can see the PVs are attached to the right Pods, but the status is "Detached". Therefore the node names under th

[2019-07-05 03:39] arrowfeng opened #616 "Mount Failed in Kubernetes"
I create volume through longhorn UI, the state is detach before, I create PV/PVC based with the volume, now everything is ok, but when I create Deployment mounting this PVC in Kubernetes, then showing mount failed below, and volume's state become Faulted.

![image](https://user-images.githubusercontent.com/20623365/60696657-490b8000-9f19-11e9-9059-cf38b15603e7.png)
![image](https://user-images.git

[2019-07-05 05:59] arrowfeng commented on #616
I directively run doc's example,  and there is a samle problem.
kubectl create -f https://raw.githubusercontent.com/rancher/longhorn/master/examples/pvc.yaml
![image](https://user-images.githubusercontent.com/20623365/60701095-0a7fc080-9f2d-11e9-82d6-d8eba5a25ea9.png)
![image](https://user-images.githubusercontent.com/20623365/60701097-0eabde00-9f2d-11e9-981d-2116e9cf9b45.png)

[2019-07-06 22:13] yasker commented on #616
What's the network connection between your Kubernetes nodes? Faulted volume normally because there is no way for the engine to connect to the replicas. You can check the manager log for details.

[2019-07-06 22:17] yasker commented on #615
The error message you saw shouldn't cause this. Any more logs around the time when this happened?

[2019-07-07 03:08] arrowfeng commented on #616
the network is ok, I run a pod mounting pvc created by dynamic provisioner is right, but I firstly create static pvc/pv by longhorn ui, there is still a same  problem.
this is a manager's log below.
![image](https://user-images.githubusercontent.com/20623365/60763451-7b4ae800-a0a7-11e9-9a5e-743151ad1fd5.png)

[2019-07-08 08:27] itmuckel commented on #615
Yes, the csi-attacher logs like crazy since days:

[code]

Apparently it tries to attach not existing volumes.

I must admit that I manually removed volumes before with `kubectl edit pv <pv-name>` and removed the finalizers, because they were stuck in `Terminating` mode.

[2019-07-08 11:46] itmuckel commented on #615
I have restarted a few longhorn pods and now the error from the pod is a little bit different:

[code]

It looks like it cannot connect to longhorn?

[2019-07-08 12:01] itmuckel commented on #615
So the `csi-provisioner` is printing on repeat:

[code]

[2019-07-08 12:48] martinounap opened #617 "Node selector for storage provider pods"
Could you please guide me, if I can somehow deploy longhorn so, that we could use nodeSelector.

We would love to use selectro: storage = longhorn.

With pods, what need to use storage, I would use same selector. Or is it better then to let k8s select node (but then I need to have longhorn client on all nodes? Is it possible that storage is provisioned from nodes with nodeSelector, but used in all

[2019-07-08 17:40] #45 closed

[2019-07-08 18:06] yasker commented on #615
@itmuckel yeah, the CSI driver plugin is unable to communicate with Longhorn. Can you check `kubectl -n longhorn-system get pod` to see if Longhorn driver has been deployed successfully?

[2019-07-08 18:08] yasker commented on #616
@arrowfeng The replicas were disconnected from the engine very soon after it's started. Can you show the log a few lines earlier?

[2019-07-08 19:07] yasker commented on #251
Should be naturally solved by #45 and #49

[2019-07-08 19:07] #251 closed

[2019-07-08 19:12] yasker opened #618 "Longhorn engine deployment model refactoring"
We're working on a refactoring of Longhorn architecture.

Engines and replicas would be run as processes inside the DaemonSet Pods instead of one pod for each engine or replica.

[2019-07-08 19:17] yasker opened #619 "manager: Introduce instance manager"
Introduce instance manager CRD to manage the instance manager pods that will start engine and replica instances.

[2019-07-08 19:19] yasker opened #620 "instance manager: Allow multiple engines and replicas to share one pod"
1. Replica pod will have the ability to start multiple replicas processes.
2. Engine pod will have the ability to allow multiple engine processes to share one TGT frontend.

[2019-07-08 19:21] yasker opened #621 "manager: Use instance manager to operate engine and replica processes"

[2019-07-08 19:21] yasker opened #622 "Upgrade support from v0.5.0 to v0.6.0"

[2019-07-08 19:36] yasker commented on #617
@martinounap It's better to let Kubernetes select the node. The nodes that provide storage are not the same one that uses the storage, so you can use any Longhorn volume on all the nodes. You can allow only certain nodes to provide storage for Longhorn by disabling unneeded nodes.

We're tracking the enhancement #583 that can automatically detect the node labels for enabling/disabling storage usag

[2019-07-08 20:02] yasker commented on #583
@ttpcodes

`Create Default Disk` setting can be enhanced to address this. We can `Create Default Disk Only With Annotation` only when a certain label annotation has been found in the new node. If the setting is empty, then we will create a default disk for every new node. Otherwise, we will check for the existence of the annotation. We can suggest using `longhorn: storage-node` as the annotation.

[2019-07-08 20:37] ttpcodes commented on #583
Per discussion with @yasker, it seems like `Create Default Disk` should still be a `boolean` setting, but modified so that instead of switching between enabling and disabling default `Disk` creation, it should switch between creation on all `Nodes` versus creation on `Nodes` that are labeled with a certain label that we will decide on.

[2019-07-08 20:47] yasker commented on #583
@ttpcodes We want to use annotations in this case instead of labels since we didn't expect users to frequently search for the annotation. And it's a one-time operation, happens only when adding the node.

[2019-07-08 21:16] shuo-wu commented on #576
I cannot reproduce this issue.

Steps I tried to reproduce it:
1. Create a volume and attach it to a node. Then wait for healthy.
2. Delete all related replica pods quickly.
3. Check volume `Health`.

Result: the volume is `Health: Faulted` and automatically gets detached.

[2019-07-08 22:57] paalkr commented on #583
I would strongly encourage to follow @ttpcodes suggestion to use node labels and not node annotations to determine if a node is suitable for a longhorn disk or not. The common way in Kubernetes is to specify node capabilities using labels, not annotations. Annotations is usually describing arbitrary node metadata, not node capabilities.

[2019-07-08 23:20] yasker commented on #583
@paalkr Fair enough. Labels are more likely used for classification in Kubernetes.

Though what if the user removed a label from the node? I don't think we can remove the default disk automatically.

[2019-07-08 23:32] paalkr commented on #583
Will that be any different then if a user removed an annotation? Never the less,
my intention when creating this ticket was to address the one shot process that executes once when a new node is added to a cluster. I did not have in mind that changing a node label (or annotation for that matter) at a later time would have any impact on the node status in Longhorn.

[2019-07-08 23:42] yasker commented on #583
@paalkr Yeah, I was talking about another thing, not related to use label or annotation. We can use the label.

How about this:

Setting option: `Create default disk only with labeled node`.
1. If it's false, we will create a default disk specified by `Default Data Path` and enable scheduling on all new nodes.

2. if it's true, we will create a default disk and enable scheduling on the node only w

[2019-07-08 23:49] paalkr commented on #583
Sounds reasonable. I assume that the ability to define a custom default data path (https://github.com/longhorn/longhorn/issues/582) will apply in both scenarios?

[2019-07-08 23:54] yasker commented on #583
@paalkr Yeah, it will work with #582

[2019-07-09 00:51] paalkr commented on #583
So how is these settings specified during longhorn system deployment? In a configmap?

[2019-07-09 01:19] yasker opened #623 "manager: Support custom setting during Longhorn deployment"
The general idea is to add `01-prerequisite/04-custom-setting.yaml`, which contains a config map and a `longhorn-manager` command to apply the config map included setting to the system. The config map is just an empty `map[string]string` json file by default. But users can add custom settings to it, e.g. specify `Create Default Disk With Node Labeled` and `Default Data Path` before Longhorn system

[2019-07-09 01:19] yasker commented on #583
@paalkr That's a good question. We didn't support set up Longhorn settings before the deployment, but it can be done. I've filed #623 for this.

[2019-07-09 01:29] paalkr commented on #583
Excellent, thanks! It makes perfect sense to be able to define settings related to default data path (https://github.com/longhorn/longhorn/issues/582) and node labels to automatically enable/disable scheduling, during the initial deployment.

[2019-07-09 17:54] shuo-wu opened #624 "test: In test_restore_inc, the volume doesn't update `lastBackup` field after creating a backup"
[code]

Manually listing backups will force volumes to update `lastBackup` field.

[2019-07-09 18:31] yasker commented on #581
The previous fix only covers the positive case. We need to deal with error cases as well.

[2019-07-09 18:47] meldafrawi commented on #311
Steps to test:
  - Create 4 nodes cluster, with each node have main disk A, and additional disk B
  - Deploy Longhorn, create longhorn StorageClass.
  - for each node, make sure you added the extra disks and scheduling is enabled on them.
  - for Nodes 1 & 2 : Create a node tag `main`
  - for Nodes 3 & 4 : Create a node tag `backup`
  - Create a disk tag `ssd-pool` for
      - Node 1 Disk A

[2019-07-09 19:05] #311 closed

[2019-07-09 19:13] meldafrawi commented on #607
fixed

[2019-07-09 19:13] #607 closed

[2019-07-09 20:10] meldafrawi commented on #504
Scheduling recurring backups and snapshots can be done by either:

1. Specifying schedules using crontab format
![Screenshot from 2019-07-09 22-06-04](https://user-images.githubusercontent.com/18232258/60919436-fd006880-a295-11e9-83ab-c02ec1cc0e60.png)

2. Generate schedules using `Generate Cron` tab
![Screenshot from 2019-07-09 22-09-30](https://user-images.githubusercontent.com/18232258/60919550

[2019-07-09 21:00] yasker commented on #581
Move this to the next release since we're going to moving the purging operation to the sync agent server in the future.

[2019-07-09 21:43] meldafrawi commented on #568
fixed.

[2019-07-09 21:43] #568 closed

[2019-07-09 22:34] #504 closed

[2019-07-10 00:25] arrowfeng commented on #616
![image](https://user-images.githubusercontent.com/20623365/60931381-01f00700-a2ec-11e9-80d1-087daf3b15f1.png)

![image](https://user-images.githubusercontent.com/20623365/60931444-395eb380-a2ec-11e9-9523-4bd681e804d1.png)

[2019-07-10 00:36] yasker commented on #616
@arrowfeng Yeah, it's network connection error. The data cannot flow from the engine to replicas, caused timeout.

[2019-07-10 00:51] arrowfeng commented on #616
thank you

[2019-07-10 00:51] #616 closed

[2019-07-10 04:47] cail41 opened #625 "Attach failed for volume (identical to #569)"
Hi, I have the same problem with the mentioned issue #, but with no resolution

Steps
Install Longhorn with default sc = true
Create pvc  (note the status below)

NAME             STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
longhorn-pvc     Bound    pvc-17417ec1-a2ca-11e9-99d2-0050568b72ee   25Gi       RWO            longhorn       14m
postgres-

[2019-07-10 07:13] cail41 commented on #625
UPDATE: The issue for me seems to have been a PV stuck in terminating state. I needed to look at kubectl get volumeattachment and identify attachments that should not be there and manually delete them. So right now things are ok, but I am concerned about the stuck pv volume. I believe I have a problem with one node so that when a pod was created, it was evicted, and that eviction caused the longho

[2019-07-10 13:27] JRial95 opened #626 ""The disk has changed file system" error when using a new machine"
As I changed one of my nodes to a new machine with the same name as the old machine (kubernode1), the ```longhorn-manager``` gives me this error when I try to edit disks:
[code]
The Longhorn UI displays the node as "Disabled" with a size of 0 Bi.

If I add nodes with a name that has not been used in the past, there is no problem.

Have you ever encountered this problem?

[2019-07-10 17:30] yasker commented on #626
@JRial95 The error is expected since Longhorn used node name to identify the node. The node was changed so the filesystem wasn't the one recorded by Longhorn, thus the warning. You should able to remove the disk after removing all the replicas on it, then create a new disk for the node.

[2019-07-10 17:42] yasker commented on #625
Add a link to #569

@cail41 Pod eviction is probably the reason, which would be similar to what @tiger0425 mentioned in #569 . I would still like to know how @tiger0425 "migrated" the pod in the first place to trigger the issue though. Sounds like an easier way to reproduce than forcing a pod eviction.

[2019-07-10 18:07] JRial95 commented on #626
@yasker Thank you for your answer. The problem is solved. It is not possible to remove and create a new disk with the same path at once with the UI. It is required to click "Save" and reopen the modal to create a new disk.

[2019-07-10 18:07] #626 closed

[2019-07-10 18:26] yasker commented on #619
https://github.com/longhorn/longhorn-manager/pull/326

Done. Internal change, N/A for QA.

[2019-07-10 18:26] #619 closed

[2019-07-10 18:27] yasker commented on #416
https://github.com/longhorn/longhorn-manager/pull/333

[2019-07-10 18:28] yasker commented on #557
Issue no longer happened in the integration test run.

[2019-07-10 18:28] #557 closed

[2019-07-10 18:28] yasker commented on #558
Issue no longer happens in the integration test.

[2019-07-10 18:28] #558 closed

[2019-07-10 20:43] meldafrawi commented on #605
Longhorn manager now returns status code: 500 in case of empty value.

[2019-07-10 20:46] #605 closed

[2019-07-10 21:16] meldafrawi commented on #562
Steps to test:
  - Create volume with 3 replicas. attach it to a node.
  - Create backup
  - Restore the backup multiple times with different number of replica counts.
    _Expected result_: restored volumes replica counts should match the number at specified at restore action

[2019-07-10 21:16] #562 closed

[2019-07-10 21:16] yasker commented on #563
We will support two ways of adding a label to the backup: manually and automatically.

Whenever a backup was made, if we detect the pod information, we will store that information as backup label automatically. This is designed for recurring backups.

And when a backup was created manually, the user can specify multiple labels (except for the reserved keywords Longhorn used), in addition to the au

[2019-07-10 21:54] yasker commented on #413
Merged a workaround solution. Push this to post v0.6.

[2019-07-10 23:13] meldafrawi commented on #576
fixed

[2019-07-10 23:14] #576 closed

[2019-07-11 01:29] ttpcodes opened #627 "[BUG] Backup status is not updated by Longhorn"
Right now, the `longhorn-engine` does not conduct monitoring of the `BackupStore`, meaning that if a `Backup` for a `Volume` gets deleted, `longhorn-engine` will still report the `Backup` existing, even if it doesn't. This can be inconvenient when trying to restore a `Backup` that doesn't actually exist or trying to view the status of a `Backup` in `longhorn-ui` when the information is actually ou

[2019-07-11 01:32] ttpcodes opened #628 "UI should prioritize displaying the progress of an uncompleted Backup"
Right now, there is no priority for the `longhorn-ui` to determine which `Backup`'s progress to display. That means that if there are two or more `Backups` which exist on the same `Snapshot`, the `longhorn-ui` will just randomly switch between the `Backups`, making it hard to view the `Backups` or track the progress of an uncompleted `Backup`.

We should have a way to prioritize which `Backup`'s p

[2019-07-11 18:08] yasker commented on #563
UI: when creating PV/PVC with a volume has previous KubernetesStatus set, UI should provide two checkboxes to allow automatically fill PV or Namespace/PVC with previous KubernetesStatus setting. If there is no previous information available, the checkbox will be grey out and cannot be clicked.

[2019-07-11 18:44] yasker opened #629 "manager: Allow user to attach a volume without frontend"
If the user wants to revert to a previous snapshot for an existing volume, the frontend shouldn't be enabled since it can cause unnecessary issues on the block device level.

We should allow users to attach a volume without the frontend. And we should only allow reverting to happen in such case.

[2019-07-11 20:51] meldafrawi commented on #583
Steps to test:
  - Create a k8s cluster (1 controller, 1 worker)
  - Install Longhorn
  - On settings page, Check `Create Default Disk on Labeled Nodes` = true, Click `Save`
  - Add two more workers to k8s cluster, one of them labeled with `node.longhorn.io/role: storage`

I expected that after the nodes gets added to the cluster, only the node labeled will be `Schedulable` on Longhorn UI, but bot

[2019-07-11 22:26] ttpcodes opened #630 "Recurring Job does not set Base Image Label on Backups"
When creating a `Backup` manually in `longhorn-manager`, the `longhorn-manager` will check to see if the `Volume` has a `BaseImage` set on it, and will set a corresponding `Label` on the `Backup` that is created so that the appropriate `BaseImage` gets loaded when someone attempts to restore the `Backup` into a new `Volume`.

This `Label`, however, is not set if the `Backup` is created as part of

[2019-07-11 23:45] yasker opened #631 "Use GRPC streaming to speed up the status update for the engine and replicas inside instance manager controller"
The polling method we're currently using is too slow, even compared to the native Kubernetes pod starting. We need to speed up the status update process.

[2019-07-12 17:59] jocarren opened #632 "failed to acquire lease"
I have a rancher cluster with 2 nodes running Longhorn, both nodes are in different locations linked by a layer 2 tinc vpn.
When I create a pod, the PVC gets created but only replicas in one of the nodes are healthy, replicas on the other node are "failed".

csi-attacher logs on failed node:

I0712 17:55:01.024378 1 leaderelection.go:192] failed to acquire lease longhorn-system/external-attacher-l

[2019-07-12 18:07] yasker commented on #632
@jocarren The csi attacher's log is normal.

Longhorn needs a good underlying network to work. Normally it runs on top of the network with at least 1Gb bandwidth between the nodes. Since it's a storage software, imagine pumping hundreds of MB's data using the slow network, it will result in connection failure or volume failure because block device has a strict requirement on how long the timeout c

[2019-07-12 19:14] meldafrawi commented on #487
**Rancher Version:** v2.2.4
**Longhorn Version:** v0.5.0

- `longhorn-system` namespace is created.
- Longhorn components get deployed to `longhorn-system` namespace successfully.

[2019-07-12 19:31] meldafrawi opened #633 "Deploying Longhorn as multi-cluster app in rancher"
When Longhorn is deployed as multi-cluster app in rancher, an auto generated namespace in the format of `longhorn-p-xxxx` is created, and longhorn components are deployed to it.

[2019-07-12 19:34] meldafrawi commented on #633
rancher/rancher#17913

[2019-07-12 19:43] yasker commented on #583
@ttpcodes ^^ I think we haven't updated the label in the setting usage yet.

[2019-07-12 20:55] jocarren commented on #632
Well, maybe I'm a bit too ambitious.

[2019-07-12 21:00] yasker opened #634 "engine: Implement iscsi session clean up after integration test"
As we discussed, we need to make sure even if the test was interrupted or failed, the environment can be properly cleaned up, especially for iscsi sessions used during the test.

It's better to use `trap` in bash to clean it up properly.

[2019-07-12 21:16] yasker commented on #583
@meldafrawi Fix merged.

[2019-07-12 21:18] yasker commented on #416
PR merged. Close this one. The test would be done against https://github.com/longhorn/longhorn/issues/618

[2019-07-12 21:18] #416 closed

[2019-07-12 21:19] yasker commented on #629
We can call the option `[x]For maintenance` for Attach. Essentially it attaches without a frontend.

[2019-07-12 21:51] meldafrawi commented on #583
Validation FAILED.

@yasker @ttpcodes ^

[2019-07-12 21:53] yasker commented on #583
@meldafrawi what's your reproduce step?

[2019-07-12 21:55] meldafrawi commented on #583
Steps to test:

- Create a k8s cluster (1 controller, 1 worker)
- Install Longhorn
- On settings page, Check `Create Default Disk on Labeled Nodes`  =  true, Click Save
- Add two more workers to k8s cluster, one of them labeled with `node.longhorn.io/role: storage`

[2019-07-12 21:56] yasker commented on #583
@meldafrawi The instruction for setting should have changed.

[2019-07-12 22:05] meldafrawi commented on #583
Validation PASSED.

Steps to test:

- Create a k8s cluster (1 controller, 1 worker)
- Install Longhorn
- On settings page, Check `Create Default Disk on Labeled Nodes`  =  true, Click Save
- Add two more workers to k8s cluster, one of them labeled with `node.longhorn.io/create-default-disk: true`
_Expected Result:_ Only the node labeld  `node.longhorn.io/create-default-disk: true` get default disk

[2019-07-12 22:05] #583 closed

[2019-07-12 23:12] yasker commented on #624
Fixed.

[2019-07-12 23:12] #624 closed

[2019-07-12 23:17] yasker commented on #513
Haven't seen this for a while. Would reopen if it happens again.

[2019-07-14 08:48] vistalba commented on #586
Is this now possible? I run into a major outage because of that behavior. Any ETA?

[2019-07-15 01:23] grailsweb commented on #485
my centos 7 box kubelet running as process. Used this script to remove the old volume

[code]

[2019-07-15 17:35] yasker commented on #565
Done

[2019-07-15 17:35] #565 closed

[2019-07-15 18:17] yasker opened #635 "test: Test node offline scenario in the manager integration test"
We want to cover add/remove/node offline in the manager integration test.

As the first step, we want to test https://github.com/longhorn/longhorn-tests/wiki/Manual-Test-Plan#physical-node-down automatically.

[2019-07-15 19:00] yasker commented on #586
@vistalba It would be in v0.6.0. Coming in a few weeks.

[2019-07-15 20:38] yasker opened #636 "multiple `sfold` processes running at the same time, result in CPU resource exhausted"
@jaredkipe reported the issue.

It may be related to https://github.com/longhorn/longhorn/issues/581

[code]

The volume has enabled recurring snapshot and seems the recurring snapshot job may fail and retry, cause the multiple sfold processes running at the same time.

[2019-07-16 01:26] yasker commented on #563
@smallteeths Backend is merged.

[2019-07-17 12:57] Moumouls commented on #218
Hi everyone,
I'just made a bench test with `bonnie++` between `Longhorn`, `OpenEBS Jiva`, `Without Volume`
Here are stats, i hope that will help people that search performance results.

[code]
@yasker write performance is low, for you it seems correct ? (bonnie is IOPS intensive i guess)

[2019-07-17 14:39] yasker commented on #218
@Moumouls This result is a bit weird. On the one side, read performance is way too high, 3G/per second is unlikely real, I suspect there is a cache; on the other side, the write performance is way too low, I suspect the CPU is the bottombeck. If it's IOPS intense, it's better if we can know the block size, and IOPS per second. Also, it's interesting to see what's the result of Ceph.

Also, we have

[2019-07-17 15:09] Moumouls commented on #218
@yasker thanks for the tips. I'have updated my comment.
I just made a test of a full init of an app (Axelor) with volumes mapped to data (tomcat files) and database directory (postgres)

[code]

In real use case performance seems now ok !
I'm going to make complementary tests with FIO

[2019-07-17 17:27] meldafrawi commented on #582
Validation: PASSED

Steps to Test:
  - create a 3-node kubnernetes cluster, and install longhorn.
  - create longhorn storage class and create a pvc using: https://raw.githubusercontent.com/rancher/longhorn/master/examples/pvc.yaml
  - In `Settings/General` page, change `Default Data Path` field to `/var/lib/longhorn-data`
  - provision a 4th node, before adding the node to the cluster

  - add th

[2019-07-17 17:27] #582 closed

[2019-07-17 23:02] yasker commented on #599
@meldafrawi Reproduce steps:

1. Enable hard anti-affinity option
2. Create a volume with 3 replicas on 3 nodes.
3. disable scheduling on one node.
4. Delete one replica.

Without the fix, you should see the replica was created then deleted rapidly (e.g. one per second). in the volume detail page.

[2019-07-17 23:09] meldafrawi commented on #599
Validation: PASSED

[2019-07-17 23:09] #599 closed

[2019-07-18 06:19] sybnex commented on #375
I had the same Issue Today with:
Rancher: 2.2.5
Longhorn: 0.5
On a Single Node RKE (0.2.5) Cluster with Kubernetes 1.15.0

After an update of Docker to Version 18.9.8 and a reboot of all containers, longhorn was not able to attach the discs to the workload container.

After scale down to 0 and rescale to 1 of the container the discs could be attached again.

Hopefully this will be fixed.

[2019-07-18 18:46] yasker opened #637 "kubernetes v1.16: Update Kubernetes API to avoid using deprecated APIs"
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2019-07-18 19:02] ttpcodes opened #638 "Volume restored with PersistentVolume information from Backup Label does not get updated"
The `Label: KubernetesStatus` is automatically applied to `Backups` to store the `KubernetesStatus` if it exists so that this data can be reused later once the `Backup` is restored. However, `PVName` on `KubernetesStatus` is supposed to only reflect the current status of a connected `PersistentVolume` and not hold historical data, unlike what `PVCName` and the other fields that have a `LastRefAt`

[2019-07-18 19:05] yasker commented on #638
I think it's better to avoid restoring these fields. Maybe we don't want to store them at all, but no matter what the value was, we shouldn't restoring those.

[2019-07-18 21:13] ttpcodes opened #639 "KubernetesController does not check driver of PersistentVolumes"
When checking for `PersistentVolumes` to update the `KubernetesStatus` of a `Volume` in `Longhorn`, the `KubernetesController` does not run a check on the `Spec.CSI.Driver` field to ensure that the `PersistentVolume` is using `Longhorn` (denoted by the value `io.rancher.longhorn`).

As a result, if `Longhorn` detects a value in `Spec.CSI.VolumeHandle` that matches the name of an existing `Volume`

[2019-07-18 23:53] yasker commented on #638
Done.

[2019-07-18 23:53] #638 closed

[2019-07-19 00:04] yasker opened #640 "engine: PortUpdate shouldn't lock the whole controller"
https://github.com/longhorn/longhorn-engine/blob/f8c6c9b3ac58260a82bd0bff1f99bc50df0b288f/controller/rpc/server.go#L247

This stops data flowing temporarily. It seems unnecessary since it doesn't affect the data path. Need another way to do it.

Also in the engine integration test, there is an extra space in this line. Not sure how it works:
https://github.com/longhorn/longhorn-engine/blob/f8c6c9b

[2019-07-19 00:16] yasker commented on #637
Done.

[2019-07-19 00:17] #637 closed

[2019-07-19 00:23] yasker commented on #598
@smallteeths Backend merged.

[2019-07-19 00:24] yasker commented on #598
@ywei88 Can you document the API here for UI engineer?

[2019-07-19 00:36] yasker opened #641 "Move test cases to python 3"
Python 2.7 would reach end of life by Jan 1, 2020. We need to move on to Python 3.

[2019-07-19 00:38] ywei88 commented on #598
r.Methods("DELETE").Path("/v1/backupvolumes/{volName}").Handler(f(schemas, s.BackupVolumeDelete))

________________________________
From: Sheng Yang <notifications@github.com>
Sent: Thursday, July 18, 2019 8:24 PM
To: longhorn/longhorn
Cc: Wei, Yijie; Mention
Subject: Re: [longhorn/longhorn] backupstore: provide an option to delete all the backups of one volume (#598)

@ywei88<https://github.com/y

[2019-07-21 20:07] alexellis opened #642 "Typo in GitHub description"
`Cloud native, distributed block storage buil*d* on and for Kubernetes` should probably be:

`Cloud native distributed block storage built on and for Kubernetes`

or

`Cloud native distributed block storage built for Kubernetes`

The GitHub README clone instructions also point at the old repo rancher/longhorn, but should be updated to reflect the new location/home. https://github.com/longhorn/long

[2019-07-21 22:08] thbeh opened #643 "Adding nodes"
Hi, I have been testing with Longhorn for quite a while now and happy with the longhorn UI  adding new nodes functionality. My question is, apart from using Longhorn UI, are there any other ways that I could define the structure of my nodes (with raw device), maybe using yaml, adding the nodes and device when deploying longhorn?

[2019-07-22 18:15] yasker commented on #628
The merged PR shows the average of two or more progress, which is probably better than just show the latest.

[2019-07-22 18:30] yasker commented on #642
Thanks for pointing those out. We've fixed the description as well as update the repository references. Please kindly let us know if we missed anything.

[2019-07-22 18:51] alexellis commented on #642
No problems

[2019-07-22 18:51] #642 closed

[2019-07-23 00:05] shreesha21 opened #644 "engine: Remove the timeout mechanism for restoration"
~~As backup creation is asynchronous, we should have a mechanism to check if there is some progress being made towards completion. Otherwise, the backup creation should timeout and fail.~~

We've decided to remove the timeout mechanism since if the process is still running without error, it should still working on it. We were worried about it may hang sometime but for restoration, user can see the

[2019-07-23 00:18] yasker commented on #629
@shuo-wu Can you document the API for @smallteeths ?

[2019-07-23 01:18] yasker commented on #643
Hi @thbeh ,

There are multiple features related here:
1. In the next release, users can choose which new nodes would be used automatically by Longhorn and which directory they would use as the default data path. See #582 and #583 .
2. The settings of the two options when deploying longhorn will be covered by #623 . But I guess what you want is to have node added automatically in the disabled stat

[2019-07-23 01:21] shuo-wu commented on #629
Now `Attach` operation in `volume` accepts two fields:
  1. `hostId`. It's the same as before.
  2. `disableFrontend`. This is a newly added field. The default value of this field should be `false`.

[2019-07-23 01:30] yasker commented on #629
@smallteeths ^^

[2019-07-23 01:54] thbeh commented on #643
Yes, I believe #623 make sense and something similar below (from glusterfs/heketi) would be good -
        {
          "node": {
            "hostnames": {
              "manage": [
                "k8s-w3"
              ],
              "storage": [
                "192.168.34.13"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/data1",

[2019-07-23 17:35] yasker commented on #643
@thbeh I think what you need is more than #623 . #623 only dealt with the global setting of Longhorn, not node configuration. And there is no way to configure node if the node is not there. So sounds like you would need #613 to help with the node configuration (which is a common feature request we've received recently).

[2019-07-23 23:55] meldafrawi commented on #628
Validation: PASSED

Steps to test:
 - in Settings page, make sure backup target is defined.
 - Create a volume.
 - Attach the volume to a node.
 - format the volume, mount it to a directory on the attached node.
 - Write relatively big sized data files to the the volume
 - In volume details page, Create a snapshot
 - in Snapshot section click on the created snapshot, a drop down menu will appear,

[2019-07-23 23:55] #628 closed

[2019-07-24 13:49] jocarren opened #645 "Backup Cluster"
I have a question regarding a concept mentioned in the docs:

https://github.com/longhorn/longhorn/blob/master/docs/dr-volume.md

What is a main and backup cluster? is it a Rancher feature? A Kubernetes practice?

Where can I find info about it?

[2019-07-24 13:50] #632 closed

[2019-07-24 17:30] yasker commented on #49
@smallteeths backend merged.

[2019-07-24 17:32] yasker commented on #645
Hi @jocarren

By backup cluster, we simply mean a Kubernetes cluster was set up for backup purpose. There is no extra configuration for it.

The idea is if the main cluster is done, the backup cluster can take over soon. It normally needs manual intervene like configure the global DNS to point to the new cluster etc.

[2019-07-24 19:15] yasker opened #646 "engine: Fix the integration test on failing to access data during shutting down the volume"
Issue https://github.com/longhorn/longhorn/issues/424 was nearly impossible to reproduce in the old engine but now it's likely to show in the current version of the engine integration test(before the fix). It's weird since the bug would only be triggered by error handling part of liblonghorn, which means currently we're triggering more errors than before. From the log, most errors seem related to

[2019-07-24 19:25] jocarren commented on #645
I see, thought it was some deployment filosophy or backup-o-matic feature.

Thanks.

[2019-07-24 19:48] cisiever opened #647 "Snapshots Causing Volumes to Increase in Size"
Some of our volumes have grown to be between 3.5x-4x the allocated size. There are snapshots when I "Show System Hidden" on each volume. All 4 of our nodes have become unschedulable due to this.

Example:

![image](https://user-images.githubusercontent.com/3027961/61823711-533ee100-ae2a-11e9-9748-92980872627c.png)

![image](https://user-images.githubusercontent.com/3027961/61823685-40c4a780-ae2a-1

[2019-07-24 20:25] yasker commented on #647
Hi @cisiever

Those snapshots are created when some interruptions happened to the cluster cause the volume to rebuild in order to remain healthy. You can create a new snapshot then delete one of the snapshots to trigger clean up process. You can see how it works with more informations here https://github.com/longhorn/longhorn/issues/478#issuecomment-485930147

[2019-07-24 21:04] lugg1 commented on #375
We had also trouble at mounting the pvc to a pod.

Event of the pod:
`MountVolume.SetUp failed for volume "pvc-0135e5d7-ae18-11e9-9f9e-005056a722c2" : rpc error: code = Internal desc = exit status 1`

This was issued by the `multipathd`. The solution was to add a `blacklist` of the vendor "IET" at the `/etc/multipath.conf` and reload the daemon.

multipath.conf - add:
`blacklist {
        device {

[2019-07-24 22:04] yasker commented on #584
It's unlikely we will have time to work on this during v0.6.0 release. Push it to v0.7.0 release. We can pick it up from v0.7.0 release if we decided to do a v0.6.1 release instead.

[2019-07-24 22:06] yasker commented on #424
Close this one. Feel free to reopen if the issue happens again in the latest release (v0.6.0).

[2019-07-24 22:06] #424 closed

[2019-07-24 22:25] yasker commented on #453
Due to https://github.com/longhorn/longhorn/issues/574, we need to fix this issue in a different way.

I cannot find a universal method to determine the Kubernetes node's role. For example, GKE sets no node role in the node label.

We probably have to rely on if the manager pod exists on the pod or not instead (`NodeConditionReasonManagerPodMissing`).

[2019-07-24 22:34] yasker commented on #49
@shreesha21 Can you document the API reference for the restoration status for UI here?

[2019-07-25 02:01] smallteeths opened #648 "Data returned by websocket is inconsistent with the data returned by request"
- longhorn ui
- On volume details page:
   - "Recurring Snapshot and Backup Schedule" section:
       - Click Edit > Click New > Click Save > Click Edit > Click New > Click Save > Cycle

This bug appears randomly,The main reason is that websocket’s data is older than what’s in the request sometime.

The request address is /v1/volumes
The ws address is /v1/ws/1s/volumes

![:Users:ouomouya:Downloads

[2019-07-25 03:16] yasker opened #649 "engine: Restoration status need to report backup URL as well"
Otherwise, the caller doesn't know which restoration has been completed.

I assume it's the reason why we have https://github.com/longhorn/longhorn-engine/blob/master/integration/data/cmd.py#L91 .

[2019-07-25 05:31] yasker commented on #49
@smallteeths for now you should able to refer to https://github.com/longhorn/longhorn-manager/blob/master///api/model.go#L584

[2019-07-25 05:38] shreesha21 commented on #49
Request: `curl http://172.104.18.252:30766/v1/volumes`
Response: The response contains all the fields of volume object along with `restoreStatus` as below:

[code]