[2021-10-07 13:54] joshimoo opened #3125 "[BUG] fsfreeze race condition"
**Describe the bug**
there is a race condition around the `fsfreeze`  between mount point evaluation of a device and the invocation of the fsfreeze if the device is unmounted from that mount point, the folder will now reference the original device that hosts the mount point folder.

As a hotfix I am removing the fsfreeze invocation and replacing it with our previous behavior of calling sync.

**Ad

[2021-10-07 14:17] joshimoo commented on #3125
@khushboo-rancher for regression testing, we need to double check snapshot / recurring jobs.
Since after this hotfix we rely on the previous behavior of system sync, this has the effect that the volume head is not automatically dirty again, so we will skip backups in case nothing has changed. Like we did previously REF: #2555

[2021-10-07 16:56] innobead opened #3126 "[Backport] [BUG] fsfreeze race condition"
ref: #3125

[2021-10-07 16:57] innobead opened #3127 "[Backport] [BUG] fsfreeze race condition"
ref: #3125

[2021-10-07 18:59] PhanLe1010 opened #3128 "[TASK] Remove the feature that skip taking backup/snapshot when the volume head is empty in recurring backup jobs"
**What's the task? Please describe.**
Currently, inside recurring job, we have a feature that can skip taking backup/snapshot for volume if the volume head is empty:
* https://github.com/longhorn/longhorn-manager/blob/a38318e502e83452e0b6dc68ea5c4c26095b25f0/app/recurring_job.go#L700
* https://github.com/longhorn/longhorn-manager/blob/a38318e502e83452e0b6dc68ea5c4c26095b25f0/app/recurring_job.go#L

[2021-10-07 18:59] khushboo-rancher commented on #3111
Verified with v1.2.2-rc1

Validation - **Pass**

Below are the test cases.

1. Take multiple backups (3), restore 1st backup. Verify the data by attaching to pod.
2. Take multiple backups(3), restore 2nd and 3rd backup. Verify the data.
3. Create backups in v1.2.1. Upgrade the longhorn image. Repeat 1st and 2nd scenario from above
4. Take multiple backups(3), Delete 2nd backup, restore 1st and 3rd

[2021-10-07 18:59] #3111 closed

[2021-10-07 19:00] #3114 closed, assigned to kaxing, PhanLe1010

[2021-10-07 20:52] bertrand1974 commented on #3099
Alright, so I have made a few changes.

First of all, my `/var/lib/longhorn` was initially a link to `/srv/var/lib/longhorn`, but docker can't mount links, so I instead have been using the `/srv/var/lib/longhorn` directory directly, so I uninstalled longhorn completely.
I then reinstalled it using the `kubectl` command. Here is the part I changed in my `longhorn.yaml` file to point to the `/srv/va

[2021-10-08 00:05] meldafrawi commented on #3116
Validated: **LGTM**
- Longhorn installation/upgrade rancher 2.5.9 cluster manager
- Longhorn installation/upgrade rancher 2.5.9 cluster explorer
- Longhorn installation/upgrade rancher 2.6

[2021-10-08 00:22] khushboo-rancher commented on #3116
Validated the mandatory manual regression for v1.2.2 - LGTM

1. Basic operation RW
2. Attach/detach of volume
3. Rebuilding
4. snapshots creation deletion
5. Reverting to snapshot
6. Backup creation.
7. restore
8. Changes in settings

Thanks @meldafrawi for running core test.
Core test results -   https://ci.longhorn.io/job/private/job/longhorn-tests-regression/487  - All Passed

[2021-10-08 01:05] khushboo-rancher commented on #3126
Verified with V1.2.2

Validation - **Pass**

1. Validated the creation, deletion of snapshot. Revert to snapshot, snapshot while writing data.
2. Validated the recurring job snapshot/backup - Scheduled recurring jobs are getting skipped if there is no change in the data.
[code]
3. Validated the interruption in recurring jobs - Detached volume when a recurring backup was in progress, the next recur

[2021-10-08 01:07] #3125 closed, assigned to joshimoo, khushboo-rancher

[2021-10-08 02:46] kaxing opened #3129 "[BUG] Backing Image upload failed when access through Rancher UI"
**Describe the bug**
- When upload finish the image size remain in zero byte.

**To Reproduce**
Steps to reproduce the behavior:
Access Longhorn UI via Rancher
1. Click on Longhorn on the side bar
2. Click on Longhorn block to open the UI
    - <img src="https://user-images.githubusercontent.com/602540/136488873-24b5e786-2ca7-434e-90f8-4eb19fd82e11.png" width="53%" />
3. Hover to Setting, then cli

[2021-10-08 04:09] shuo-wu commented on #3120
Typically, a system snapshot will be created when one of the following cases happens:
1. the volume is expanded
2. there is a rebuilding
3. the volume is restored from a backup

Notice that Longhorn is a block-layer storage vendor. All Longhorn volumes don't understand the concept of the filesystem. When the filesystem inside a volume writes some data to a file then removes the file, the volume it

[2021-10-08 04:21] jenting opened #3130 "Remove the keyword `register`"

[2021-10-08 04:21] jenting commented on #3130
Test GitHub new feature, close it.

[2021-10-08 04:21] #3130 closed

[2021-10-08 04:32] shuo-wu commented on #2885
This parameter now works in v1.2.2. Can you have a quick try in v1.2.2?
[code]

[2021-10-08 05:36] jenting commented on #2544
Related to #1409.

[2021-10-08 06:16] shuo-wu commented on #3086
There are really tons of logs in the support bundle. I cannot even open and search some large files...
With a brief glance at the volume, I found there were a lot of rebuilding happens on the volume. Some of the rebuilding retries were caused by too many snapshots in the volumes. But some of them were caused by a weird timeout error during rebuilding starting. I am not sure if it can be caused by

[2021-10-08 07:16] jenting commented on #2637
I choose the most complicated struct [EngineStatus](https://github.com/longhorn/longhorn-manager/blob/v1.2.2/types/resource.go#L263-L280) which contains 8 maps and 2 sub-maps under struct [Snapshot](https://github.com/longhorn/longhorn-manager/blob/v1.2.2/types/resource.go#L282-L291).

The go benchmark test result, I put to my repo https://github.com/jenting/deepcopy-bench

Generally, the auto-gen

[2021-10-08 07:17] budimanjojo opened #3132 "[FEATURE] Separate deploy/longhorn.yaml into multiple files?"
Hello, current approach to install longhorn using kubectl is to use the yaml file in `deploy/longhorn.yaml`. It's okay to simplify all of the resources into single file, but I think a lot of people will love to at least separate `crds + namespace` and other resources, especially with current GitOps popular template, i.e: https://github.com/k8s-at-home/template-cluster-k3s

Having 2 separate yaml f

[2021-10-08 07:44] kaxing commented on #3132
For testing needs, I do use yaml files from here: [longhorn-manager/deploy/install/](https://github.com/longhorn/longhorn-manager/tree/master/deploy/install)
To the point having separated manifests, maybe this is what you are looking for @budimanjojo ?

[2021-10-08 09:04] bilemedimkq commented on #3120
Hi @shuo-wu !

I don't need this snapshot. And this snapshot, takes up 5 times more space than volume's own size. What is the reason of it? Why the system use more space? Is there anyway to delete this?

[2021-10-08 09:09] jenting commented on #3109
Thank you, I think we should add the above to our knowledge base doc since lots of issues are related to to DNS.

[2021-10-08 13:31] kaxing opened #3133 "[BUG] Volume creating with Backing Image contains invalid checksum string will result in attaching problem"
**Describe the bug**
When creating Backing Image with invalid format of checksum string (not incorrect), while using this problematic backing image to create a new volume, this volume will be having issue when attaching.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Backing Image
2. Input invalid checksum, eg. begin with a white space or a line break character
3. Create a volu

[2021-10-08 16:28] derekbit commented on #3133
We can validate the checksum at ui codes or longhorn-manager.
The later solution seems more general.

After patching to longhorn-manager to validate the input checksum(SHA512), it works well.
I will submit a pull request if there is no other concern. :)

[code]

[code]

[2021-10-08 19:36] bertrand1974 commented on #3099
I have uninstalled and reinstalled Longhorn with the mount point being in `/var/lib/longhorn` and everything is working fine. I still think that not being able to change the `default-data-path` is an issue and should be remedied.

[2021-10-08 22:43] khushboo-rancher opened #3134 "[TEST] Upgrade test in our jenkins pipeline is getting stuck."
**What's the test to develop? Please describe.**
https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-upgrade-tests-ubuntu-amd64/
The job for upgrade on Master-head is getting stuck.

**Describe the items of the test development (DoD, definition of done) you'd like.**
- [ ] Fix the pipeline for upgrade test on master-head

[2021-10-09 07:01] t3hmrman opened #3135 "[QUESTION] What would it take to support non-hostPath storage (PVC) for Longhorn?"
**Question**

I'm trying to run longhorn in my environment and have a disk provisioner I'd like to run *underneath* it (OpenEBS ZFS LocalPV). I can expose a drive and/or mount with EXT4/XFS, but the problem I'm running into is using a PVC with Longhorn. I've started hacking around it like so:

- Converting the `DaemonSet` to a `StatefulSet` with `antiAffinity` (manually set `replicas` and node sel

[2021-10-09 09:36] budimanjojo commented on #3132
I have created a simple repo for this, it will be automatically updated whenever there is a new version in upstream repository (longhorn/longhorn-manager). https://github.com/budimanjojo/longhorn-manifests

[2021-10-09 09:36] #3132 closed, assigned to nobody

[2021-10-09 16:44] chickeaterbanana opened #3136 "[QUESTION] How can I test my http proxy settings are valid?"
**Question**
How can I test my http proxy settings are valid?

**Environment:**
 - Longhorn version: 1.2.2
 - Kubernetes version:
   - Server Version: version.Info
     - Major:"1"
     - Minor:"21"
     - GitVersion:"v1.21.5+rke2r2"
     - GitCommit:"aea7bbadd2fc0cd689de94a54e5b7b758869d691"
     - GitTreeState:"clean"
     - BuildDate:"2021-10-04T22:39:02Z"
     - GoVersion:"go1.16.7b7"
     - C

[2021-10-11 03:48] shuo-wu commented on #3113
I just directly googled the error message `controlbuf.go:508] transport: loopyWriter.run returning. connection error: desc = "transport is closing"`. It seems that this is related to ETCD & API server, or it may be just noises.

[2021-10-11 03:56] shuo-wu commented on #3120
As I mentioned above, when the workload/application/users remove a file from the filesystem, the underlying Longhorn volume won't release the sectors that were consumed by the file since it doesn't understand anything about filesystem. As a result, even if there is nothing in the filesystem of a volume, the volume's actual size still takes a portion of space.

For more explanation about volume siz

[2021-10-11 04:06] shuo-wu commented on #3136
If you can access Longhorn via UI and the CSI part works fine, the proxy setup should be fine except for the backup part.
You can refer to this doc and see how to set up proxy for Longhorn backup: https://longhorn.io/docs/1.2.2/snapshots-and-backups/backup-and-restore/set-backup-target/

[2021-10-11 08:57] chickeaterbanana commented on #3136
My secret has already the corresponding proxy settings:
[code]

I'm not sure how to debug the backup-container if he uses the proxy.

I already tried the proxy settings without `http://` but this doesn't work either. Can I add some commandline options to get more debug informations?

[2021-10-11 11:15] rlex opened #3137 "[QUESTION] Longhorn s3 backup issues: invalid argument"
**Question**

Not sure if bug or question, so let's start with question first.

Created s3 bucket, created IAM identity with permissions. IAM keys works, verified with different s3 client software - can list directories and create files.

Created secret named "longhorn-backup-secret":
[code]

However, any attempts to use any backup-related functions end up with

[code]

**Environment:**
 - Longhor

[2021-10-11 11:19] rlex commented on #3137
<img width="553" alt="Screenshot 2021-10-11 at 14 13 34" src="https://user-images.githubusercontent.com/84462/136781690-0d55f5c6-dc71-43aa-89cf-4512a37ccef1.png">
settings in longhorn UI

[2021-10-11 11:54] #3137 closed, assigned to nobody

[2021-10-11 15:03] innobead opened #3138 "[Backport] [BUG] Backing Image upload failed when access through Rancher UI"
#3129

[2021-10-11 17:45] khushboo-rancher opened #3139 "[TASK] Add charts validation steps"
**What's the task? Please describe.**
Add the steps taken to validate charts for the release testing.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Add the steps on the confluence

[2021-10-11 18:25] khushboo-rancher opened #3140 "[TASK] Move the regression test cases to the longhorn manual test website"
**What's the task? Please describe.**
Restructure the manual test cases on the website.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Add the regression test cases on the website.
- [ ] Identify the test cases for automation and convert them to code.

[2021-10-12 01:22] jenting commented on #3136
Not sure if you missed adding `192.168.0.0/16` (internal IPs in the cluster) to the `NO_PROXY` variable.

[2021-10-12 02:03] mfbrj commented on #1061
Sharding in the same node seems to be useless. Anyone can create a node with larger disks. What we neeed is transpararent sharding leveraging the space on several nodes, pehaps with another concept beyond simple replicas. Chunks?

An example of a new Model:
A 512 GB volume compound by 4 chuncks of 128 GB, each chunk with 2 replicas. This volume can easily fit on 8 (4 chunks x 2 replicas) nodes wit

[2021-10-12 03:37] shuo-wu commented on #3135
Right now with mounting the root host path `/` in some Longhorn components, Longhorn is capable of adding any directories to the node as the data path. But if we prefer Longhorn to store data in a specific volume mount provided by a PVC, it implicitly breaks the Longhorn disk feature, which may be complicated as well as introducing some regression issues. Longhorn team already received some simila

[2021-10-12 05:03] derekbit commented on #3133
Send a PR v2 https://github.com/longhorn/longhorn-manager/pull/1086

[2021-10-12 06:38] timmy59100 opened #3141 "[BUG] Longhorn manager constantly logging Error inspecting backup config"
**Describe the bug**
The Longhorn manager constantly logs: Error inspecting backup config .... Driver not supported. Even after clearing the backup target and setting the polling intervall to 0.

I think that causes high cpu too with 2-3 CPU per manager.

**Expected behavior**
After clearing backup target the manager should not try to get the backup config.
Polling should not cause high CPU

**Log

[2021-10-12 06:56] jenting opened #3142 "[BUG] Support bundle missed newly added Longhorn CRDs"
**Describe the bug**

Dump the support bundle with Longhorn v1.2.2, the newly added CRDs from v1.2.0 are missed inside `./yamls/longhorn`.
Such as:
- backingimagedatasources.yaml
- backingimagemanagers.yaml
- backups.yaml
- backuptargets.yaml
- backupvolums.yaml

**Environment:**
 - Longhorn version: v1.2.2

[2021-10-12 07:35] timmy59100 commented on #3141
@jenting How would I do that? I can't find that specific backup.
I sent the support-bundle btw if It's in there.

[2021-10-12 07:37] jenting commented on #3141
Sorry, we have an issue that the Backup CR isn't in the support bundle.
Could you please run
[code]

[2021-10-12 08:15] hizheng opened #3143 "[FEATURE] Longhorn should ensure reading data from local replica at first priority if there is any to lower the read latency"
**Is your feature request related to a problem? Please describe.**
See the issue described in the title.

**Describe the solution you'd like**
For a volume, it has two more replicas and one is local, it should ensure reading data from local one at first. It can lower the read latency.

[2021-10-12 09:48] hizheng commented on #3143
Got it. If it does not impact the write process, the master + slave  mode is still to pick up the best replica to read. If we consider the fast disk, it is a little complicated for that case in which one replica is local + HDD, one replica is remote + SSD, how to know which one is the fast one. So I suggests we can focus on the locality case at Phase one, and in next phase, we can figure out the f

[2021-10-12 16:28] HubbeKing opened #3144 "[FEATURE] CRD for snapshots"
**Is your feature request related to a problem? Please describe.**
Snapshot RecurringJobs set to Retain X number of snapshots do not touch unrelated snapshots, so if one ever changes the name of the RecurringJob, the old snapshots will stick around forever. These then have to be manually deleted in the UI.
Having a CRD for snapshots would greatly simplify this, as one could prune snapshots using k

[2021-10-12 19:26] #3139 closed, assigned to khushboo-rancher

[2021-10-12 19:28] #2999 closed

[2021-10-13 01:12] jenting commented on #2973
@cocampbe would you mind filing a PR to https://github.com/longhorn/website to update the doc wording? That'd be great to help us improve the doc, thank you.

[2021-10-13 01:20] jenting opened #3145 "[Backport] [BUG] Support bundle missed newly added Longhorn CRDs"
#3142

[2021-10-13 03:53] jenting commented on #3141
I've checked the code, the problem is during the recurring backup job creation, the backup target URL is empty at that time.
Therefore, the backup creation failed [code](https://github.com/longhorn/longhorn-manager/blob/v1.2.2/controller/backup_controller.go#L461).
Also, we don't run backup creation of the `status.state=error` Backup CR again if it's not a newly created one [code](https://github.c

[2021-10-13 12:16] timmy59100 opened #3146 "[QUESTION] Longhorn Manager High CPU"
**Question**
On one of our clusters, the longhorn managers have a very high CPU utilization. This is the same after a restart of the managers.
Is this normal? The others are much lower.

![grafik](https://user-images.githubusercontent.com/7300669/137129954-52d4b212-77b8-4d51-a0b7-717103482c2a.png)

Logs:
Support bundle sent.

**Environment:**
 - Longhorn version: 1.22
 - Kubernetes version: v1.20.

[2021-10-13 18:10] PhanLe1010 commented on #2894
The workaround at the moment is users can manually set pod anti-affinity for csi-attacher, csi-provisioner, csi-resizer, csi-snapshotter deployments

[2021-10-14 01:24] innobead commented on #3146
cc @derekbit

[2021-10-14 08:46] #2554 closed, assigned to shuo-wu

[2021-10-14 08:55] gitlawr opened #3149 "[BUG] Recreated pod pends in ContainerCreating after node deletion"
**Describe the bug**
After deleting a node, the pod running on it gets recreated but is stuck in ContainerCreating status.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Rancher v2.6.1 to provision an AWS rke2 cluster with 1 etcd/control and 4 worker nodes.
2. Install Longhorn 100.1.0+up1.2.2 app.
3. Create the following storageclass
[code]
4. Create the following PVC/Deployment
[code]

[2021-10-14 09:14] ivanovpavel1983 opened #3150 "Disk in degradation status after network problems"
Help restore the disk to working status after a long network problem

 - Longhorn version: 1.1.2
 - Kubernetes version: 1.21.4
 - Node config
   - OS type and version Centos 7
   - CPU per node: 48
   - Memory per node: 1024Gb
   - Disk type SSD
   - Network bandwidth and latency between the nodes: 1Gb/s
 - Underlying Infrastructure: Baremetal

There are 250 snapshots:
![image](https://user-images

[2021-10-14 13:16] rlex opened #3151 "[BUG] confirmation dialog box doesn't appear sometimes for delete volume action."
**Is your feature request related to a problem? Please describe.**
Noticed that volume deletion option does not have any kind of condirmation dialog, even for attached volumes

**Describe the solution you'd like**
Confirmation box when deleting volume. Maybe even aws-style s3 deletion box, where you need to copy/type volume name when deleting object

[2021-10-14 22:26] khushboo-rancher opened #3152 "[TASK] Update the screenshots for the Longhorn installation on Rancher"
**What's the task? Please describe.**
The screenshot should be updated according to the latest Rancher explorer flow in the Longhorn docs.
https://longhorn.io/docs/1.2.2/deploy/install/install-with-rancher/

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Update the screenshot in the docs

[2021-10-15 01:34] jenting commented on #3144
I remember we discussed internally that Longhorn needs the snapshot CR. cc @joshimoo @shuo-wu

[2021-10-15 01:46] jenting commented on #3149
@kaxing could you please help reproduce it, thx.

[2021-10-15 02:06] rlex commented on #3151
k3s, but with ingress-nginx behind oauth2-proxy

[2021-10-15 02:14] jenting commented on #3143
cc @keithalucas

[2021-10-15 02:39] jenting commented on #3150
- How many volumes are inside the cluster?
- Since you're using v1.1.2 which doesn't have an enhancement on slow disk / slow network issue and your underlying is 1Gbit/s network.
- Could you please try to detach and attach the volume to see the `rpc error: code = Unknown desc = Replica must be closed, Can not add in state: dirty` not happen again?
- Too many snapshots problem is causing that befor

[2021-10-15 03:27] jenting commented on #3146
@derekbit as we discussed, I think we should add how to dump the `pprof` result in the knowledge base doc.

[2021-10-15 05:35] shuo-wu commented on #3120
@gricuk This volume shrinking feature is already tracked in https://github.com/longhorn/longhorn/issues/836.

[2021-10-15 06:07] shuo-wu commented on #3143
In the previous discussion with @hizheng , we prefer to use the tag & selector mechanism for this feature. In a nutshell, tags will be dynamically generated based on the volume current status (if one replica is on the same node as the volume or if one replica is still in a SSD disk) during replica launching, and the selectors will be applied later for the engine launching based on users' read prio

[2021-10-15 06:46] derekbit opened #3153 "[TASK] Add pprof usage in knowledge base"
**What's the task? Please describe.**
Add pprof usage in knowledge base of longhorn.io.
It helps users fetch the profiling data for debugging.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [ ] Add item in the knowledge base of longhorn.io

**Additional context**
https://github.com/longhorn/longhorn/issues/3146

Ref: https://github.com/longhorn/longhorn/issues/2715

[2021-10-15 07:05] ivanovpavel1983 commented on #3150
Ok, I'll try update to version 1.2.2
I reduced number of replicas to 1, detach and than attach disk to node (in maintenance mode) again

![image](https://user-images.githubusercontent.com/5180093/137444548-5e70d6e7-3402-4268-85f1-26bc9f2d0964.png)

After that, I again increased the number of replicas to 2:

![image](https://user-images.githubusercontent.com/5180093/137444860-4010d4ed-ff6d-42fe-ac9

[2021-10-15 08:26] innobead opened #3154 "[Backport] [BUG] Volume creating with Backing Image contains invalid checksum string will result in attaching problem"
ref #3133

[2021-10-15 09:27] guangbochen opened #3155 "[FEATURE] Allowing users to download backing images"
**Is your feature request related to a problem? Please describe.**
Allowing users to download the backing images from UI, so that those images can be shared accordingly.

[2021-10-15 09:39] kaxing opened #3156 "[BUG] Leftover replica from deleted node will not be cleanup"
**Describe the bug**
When the worker node deleted, the instance manager for the replicas will also be deleted, however the replica will be remained, and being display under the volume page:
![image](https://user-images.githubusercontent.com/602540/137466230-42de64bb-efc5-4d75-a31e-ab85070865d0.png)

**To Reproduce**
1. Create and deploy a StatefulSet workload, using the example from: https://githu

[2021-10-15 09:51] derekbit commented on #3146
@timmy59100
What's the unit of the "CPU usage" of the pods in the image?
Which tool do you use to measure?

[2021-10-15 09:53] derekbit commented on #3154
PR: https://github.com/longhorn/longhorn-manager/pull/1106

[2021-10-15 12:59] fmolinelli opened #3157 "[DOC] RWX support for NVIDIA JETSON Ubuntu 18.4LTS kernel requires enabling NFSV4.1"
V1.2 RWX PV cannot be mounted by pods

Environment:

Longhorn version: 1.2.2
Kubernetes version: k3s version v1.21.3+k3s1 (1d1f220f) / go version go1.16.6
Node config
OS type and version:
NVIDIA Jetson AGX Xavier [16GB] (M), NVIDIA Jetson NX Xavier [8GB] (W), NVIDIA Jetson Nano [2GB] (W)
L4T 32.6.1 [ JetPack 4.6 ]
Ubuntu 18.04.6 LTS
Kernel Version: 4.9.253-tegra
CPU per node: 8, 6, 4
Memory per no

[2021-10-15 14:43] lfdominguez opened #3158 "[QUESTION] How to make master kubernetes nodes schedulable"
**Question**
I have a 10 nodes kubernetes cluster and has 3 masters with 1T of disk, how i can make that Longhorn use that masters disk too to schedule, these masters are powerful servers and i don't want to waste infrastructure resources.

**Environment:**
 - Longhorn version: 1.2.2
 - Kubernetes version: v1.21.3+rke2r1
 - Node config
   - OS type and version: Ubuntu 20.04
   - CPU per node: 56

[2021-10-15 14:54] lfdominguez opened #3159 "[BUG] Changed node type from master to worker and longhorn not change node from unschedulable to schedulable"
**Describe the bug**
Longhorn not recognize the change of new node type on change from master to worker.

**To Reproduce**
1. Delete node from cluster
2. Reinstall k8s
3. Join again to cluster (with same name)
4. Longhorn not schedule any disk to it (maybe has the old info of the cluster)

**Expected behavior**
Longhorn schedule disk to the new node

**Log**

**Environment:**
 - Longhorn version:

[2021-10-15 19:07] reitermarkus opened #3160 "[BUG] longhorn-manager: no kind "CronJob" is registered for version "batch/v1""
**Describe the bug**

I tried upgrading from 1.2.0 to 1.2.2, however `longhorn-manager` is stuck with the following error message and does not complete the healthcheck:

[code]

I then tried to uninstall everything (all volumes and the `longhorn-system` namespace). After reinstalling (with Helm) `longhorn-manager` still is stuck with the same error.

**To Reproduce**

Steps to reproduce the behavi

[2021-10-15 20:08] timmy59100 commented on #3146
@derekbit Did the pprof with 180 secons.

- Yes, no difference in cpu usage.
- 120 volumes, 50 active volumes, many rwx volumes.
- No, it's constantly this high.

[2021-10-16 00:01] PhanLe1010 commented on #3143
Similar idea as @derekbit , I am thinking if we can keep track of the number of the in-flight read requests to each replica. Then we pick the replica with the smallest value to read from. By doing this we are picking replica based on their true capability, not by their fame.

Pulling @keithalucas into the thread

[2021-10-16 20:48] runningman84 opened #3161 "[FEATURE] Talos support"
**Is your feature request related to a problem? Please describe.**
Talos does not support longhorn due to missing iscsi support:
https://github.com/talos-systems/talos/issues/3057

**Describe the solution you'd like**
Other supported storage providers in talos use the nvmf protocol to overcome this issue.

**Describe alternatives you've considered**
I would really like to continue using longhorn,

[2021-10-17 08:06] liyimeng commented on #2214
@jenting longhorn doc point to https://github.com/kubernetes-csi/external-snapshotter/tree/release-4.0/client/config/crd

while the link looks like this
<img width="1245" alt="Screenshot 2021-10-17 at 10 03 49" src="https://user-images.githubusercontent.com/3155688/137617915-2fc7911d-d32d-42ea-a87d-4c1e0f9189a3.png">

Dose that mean 4.0 is already have v1?

[2021-10-17 09:35] derekbit commented on #3157
@fmolinelli
Enable nfsv4.1 by CONFIG_NFS_V4_1=y.

[2021-10-17 11:27] chickeaterbanana commented on #3136
I have recreated all pods of longhorn and the secret. To be sure the secret is correctly filled I have created a job:
[code]
It looks like everything is correctly configured:
[code]

With this test I should have proved the secret has the correct values, these values can be mounted and the `longhorn backup ls` command can work. But the `longhorn backup create` doesn't work. The error is still the s

[2021-10-18 02:55] hizheng commented on #3143
Taking load balance into consider, we can define some stragetegy for user to select, like rr(round robin), wrr(weighted round-robin), and lrf(local replica first). We can make wrr as the default. When user choose lrf, it is saying that the user values the read latency more than load balance. In another words, in this case, local replica will hold all read requests, whereas non-local replicas just

[2021-10-18 03:10] derekbit commented on #3153
PR: https://github.com/longhorn/website/pull/399

[2021-10-18 11:02] Cobra1978 opened #3162 "[QUESTION] access longhorn volumes from outside the Cluster"
Hi.

There is any way or best pratcice to access longhorn volumes from outside the Rancher2 Cluster?

Scenario: we have many apache+php-fpm containers hosting websites.
Actualy we use an external nfs server, and all nfs exports are mounted on an ftp server, so we can upload content.

We want to test longhorn, but how can we mount the volume for the webserver on an external ftp server?

There is an

[2021-10-18 11:44] shuo-wu commented on #3160
It seems to be related to the Kubernetes version:
https://stackoverflow.com/questions/67520866/no-matches-for-kind-cronjob-in-version-batch-v1

`k3os v0.20.11-k3s2r1` means k3s version `v1.20.11+k3s2`. I don’t know why this issue is not triggered in the v1.2.2 release test.

[2021-10-18 15:18] chriscchien opened #3163 "[BUG] Pod stuck at pending phase after recurring backup with detached volume complete."
**Describe the bug**
This issue **not happen every time**, but happened in automation test and can be manually reproduce.

When doing recurring backup on detached volume by scale deployment replica number to 0, while backup started, scale replica number to 1, sometimes after backup completed, pod will stuck at pending phase forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable 'All

[2021-10-18 16:43] yasker opened #3164 "[DOC] Improve the documentation about troubleshooting and worse/best practice of operations"
Need to improve the documentation for the below areas including troubleshooting, worse/best practice of operations, etc.

- [ ] We need to discourage users from modifying the Longhorn objects (e.g. volume, replica, etc) directly (unless call out explicitly), at least before v1.3. Those are mostly considered as internal states of Longhorn and modifying them might cause Longhorn to malfunction.
- [

[2021-10-19 00:33] jenting commented on #3153
Doc merged, close it.

[2021-10-19 00:47] innobead commented on #3127
@longhorn/qa from 1.3, we will use backport issues instead of backporting labels only for ensuring the issues getting verified in all corresponding release branches, so please remember to close the backport issue after verifying in the release branch.

[2021-10-19 01:41] jenting commented on #2637
@yasker mentioned in today's meeting that probably we could consider changing the CRD data struct to match the Kubernetes convention.

[2021-10-19 05:56] apeXerX opened #3165 "[QUESTION] k3s docker.io/rancher/pause:3.1 private registry missing image"
****

**k3s-Environment:**
 - Longhorn version: v1.1.2
 - Kubernetes version: v1.21.2+k3s1

I setuped a k3s-environment with 1 Server and 2 agents.

First of all i setuped a private docker-registry.
And now i tryed to get longhorn running, but when it create the container longhorn-manager:v1.1.2 the log file show me

kubelet  Failed to create pod sandbox: rpc error: code = Unknown desc = failed to

[2021-10-19 07:37] #3165 closed, assigned to joshimoo

[2021-10-19 08:28] joshimoo commented on #2637
I think we should go with meta.time as well, since it's whole purpose for existence is the correct marshaling :)
And it can be used more or less like a regular time.time since it's embedded.

I think I mentioned this as part of the backup refactor.
**Can you investigate & analyse the scope of the necessary changes?**

Potentially also consider changing some of the string time instances, to meta.ti

[2021-10-19 12:37] rronneburger opened #3166 "[BUG] Upgrade from longhorn 1.2.0 to longhorn 1.2.2 via rancher marketplace chart fails"
**Describe the bug**
We have several clusters running longhorn 1.2.0, 1.2.2 or 1.1.1 upgraded from 1.0.0 originally. When we try to upgrade them via the rancher ui (marketplace -> charts -> longhorn -> install) the upgrade fails with the error given below. On other clusters with longhorn 1.1.0 installed initially (the clusters where setup at a later time this year) the upgrade works. The error mes

[2021-10-19 18:56] PhanLe1010 commented on #3159
@lfdominguez
How did you delete RKE2 node from cluster?

[2021-10-19 19:58] PhanLe1010 commented on #3150
@ivanovpavel1983 , can you try:

* Reduce the number of replica to 1
* Triggle a snapshot purge by deleting an old snapshot
* Wait for the number of snapshot to reduce. Good number should be around 10-20
* Increase the number of replica

[2021-10-19 21:09] #3159 closed, assigned to nobody

[2021-10-19 21:20] #3158 closed, assigned to nobody

[2021-10-19 21:55] PhanLe1010 commented on #3102
Thanks @dp-42

Good point! We will discuss this with other team members

[2021-10-19 22:26] PhanLe1010 commented on #3160
Thanks @reitermarkus

Something is wrong with k3os v0.20.11-k3s2r1. Could @longhorn/qa give it try?

[2021-10-20 00:21] MarkMckessock opened #3167 "[BUG] VolumeSnapshot remains in `READYTOUSE=false` indefinitely."
**Describe the bug**
I am attempting to setup Kasten K10 for backing up and snapshotting longhorn volumes to an external server. When creating a volumesnapshot, either through Kasten or manually (such as using the example provided in the [docs](https://longhorn.io/docs/1.2.2/snapshots-and-backups/csi-snapshot-support/create-a-backup-via-csi/#create-a-backup-via-the-csi-mechanism)), a volumesnapsho

[2021-10-20 02:24] PhanLe1010 commented on #3102
Need to double check the upgrade path. Will Helm remove the existing secret when users upgrade to the new version?

[2021-10-20 02:34] jenting commented on #3151
- Had you tried different browsers?
- Could you please open the browser's dev tool to check if there are any errors when you click `Delete` button?

[2021-10-20 03:27] innobead commented on #3102
ref: https://github.com/longhorn/longhorn/issues/2157

[2021-10-20 03:38] innobead commented on #2028
@smallteeths Is this still a valid issue after several WS improvements in the previous releases?

[2021-10-20 04:22] innobead commented on #1868
This should be considered together with https://github.com/longhorn/longhorn/issues/2285

[2021-10-20 04:23] #1855 closed

[2021-10-20 04:55] khushboo-rancher commented on #3142
Verified with Master-head `10/19/2021`

Validation - Pass

Sample support bundle
[longhorn-support-bundle_4bdb9312-3de1-4eb4-937a-a9052d5301a9_2021-10-20T03-40-40Z.zip](https://github.com/longhorn/longhorn/files/7378213/longhorn-support-bundle_4bdb9312-3de1-4eb4-937a-a9052d5301a9_2021-10-20T03-40-40Z.zip)

[2021-10-20 04:55] #3142 closed

[2021-10-20 05:19] smallteeths commented on #2028
I will close this issue, Ws has been optimized.

[2021-10-20 05:20] #2028 closed

[2021-10-20 05:38] innobead commented on #2689
Duplicated of https://github.com/longhorn/longhorn/issues/2962

[2021-10-20 05:38] #2689 closed

[2021-10-20 06:04] innobead commented on #627
Duplicated of #3035

[2021-10-20 06:04] #627 closed

[2021-10-20 06:05] PhanLe1010 commented on #3150
Remove the newer one near the volume head

[2021-10-20 08:15] jenting opened #3168 "[IMPROVEMENT] Have backup progress icon on Backup page"
**Is your feature request related to a problem? Please describe.**

After the #3035 be enhanced, the backend endpoint (RESTful/Websocket) will have a progress and error message. UI could
- add a progress bar to let users know the backup creation progress just like the progress bar when creating backup shown on the `Snapshots and Backups` under Volume page.
- show the pop-out tip when the Backup st

[2021-10-20 08:17] PhanLe1010 commented on #3150
@ivanovpavel1983 I think you sent some messages via email that aren't posted here.

Please don't delete the file on the replica disk. It will mess up the volume.

Use Longhorn UI to delete a snapshot

[2021-10-20 08:23] jenting commented on #1421
We've Backup CRD #1761 from v1.2.0.
This issue could be closed.

cc @innobead

[2021-10-20 08:40] PhanLe1010 commented on #3150
Btw, 1Gips network is pretty slow.
Also please setup a backup target for the peace of mind

[2021-10-20 12:18] cite commented on #3166
Since the old UI seems to be unavailable in Rancher 2.6+, what's the preferred path to migrate?

[2021-10-20 12:59] xueyangkk opened #3169 "[BUG]host not found in upstream "longhorn-backend" in /etc/nginx/nginx.conf:32 nginx: [emerg] host not found in upstream "longhorn-backend" in /etc/nginx/nginx.conf:32"
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-10-20 13:15] rronneburger commented on #3166
I upgraded the older longhorn instances via:

kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.2.2/deploy/longhorn.yaml

However, this does not seem to lead to the same result:

Old Cluster, upgraded via above kubectl command:

$ kubectl get deployments -n longhorn-system -o wide
NAME                       READY   UP-TO-DATE   AVAILABLE   AGE     CONTAINERS                 I

[2021-10-20 18:02] khushboo-rancher commented on #2720
I've not observed this from long time. We can close this for now. If I observe this again, I will reopen this.

[2021-10-20 18:02] #2720 closed

[2021-10-20 18:08] khushboo-rancher commented on #2830
Okay, Let's close this one as the most of the tests are passing now and also the test `test_backing_image_basic_operation` failure is not frequent.
If only `test_backing_image_basic_operation` has problem which is not frequent, we can create an issue specific to to the test.

[2021-10-20 21:08] rlex opened #3170 "[QUESTION] empty backups?"
**Question**
Reinstalled my k3s cluster, added longhorn, added secrets/url to backup back, opened backups, only one volume is listed with size and restorable, all others are 0 bi and can't be restored.

**Environment:**
 - Longhorn version: 1.2.2
 - Kubernetes version: k3s 1.22

[2021-10-20 21:36] rlex commented on #3170
it appeared after i rebooted nodes (forgot to install proper kernel). Waited for quite some time before that.
Not sure if it's related, but works now, thanks!

[2021-10-20 21:36] #3170 closed, assigned to nobody

[2021-10-20 22:44] liyimeng opened #3171 "[BUG] longhorn allocate with bigger capacity than requested"
**Describe the bug**
A clear and concise description of what the bug is.

While creating a PVC, it ends up with bigger capacity than requested

[code]

Request:  "2634217728"
Capacity: 2514Mi = 2636120064

It is slightly larger that requested.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

**Expected behavior**
A clear and conci

[2021-10-20 23:28] #3102 closed

[2021-10-21 02:31] innobead commented on #494
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/494?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #613
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/613?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #791
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/791?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #1805
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/1805?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #1983
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/1983?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2128
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2128?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2227
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2227?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2285
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2285?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2527
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2527?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2534
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2534?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2618
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2618?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2650
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2650?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2777
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2777?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #2955
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2955?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #3044
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3044?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #3055
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3055?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #3083
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3083?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #3155
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3155?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:31] innobead commented on #3164
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3164?planning-poker) with ZenHub @jenting @PhanLe1010 @shuo-wu @joshimoo

[2021-10-21 02:38] innobead commented on #2214
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/2214?planning-poker) with ZenHub @jenting @joshimoo @PhanLe1010 @shuo-wu

[2021-10-21 02:47] innobead commented on #2868
@joshimoo We need to backport this to 1.2.x. Please help create the backport issue and related PRs. Thanks.

[2021-10-21 02:51] shuo-wu commented on #3083
The Longhorn installation part will be improved when the new design for https://github.com/longhorn/longhorn/issues/2582 is introduced. I will write down the design as a LEP once I start to work on it. In brief, before each manager pod becomes running, it needs to acquire the leadership and walk through all upgrade paths. This behavior greatly slows down the installation.

Once both this and the i

[2021-10-21 03:06] innobead commented on #3044
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3044?planning-poker) with ZenHub @keithalucas

[2021-10-21 05:53] novvoo opened #3172 "[BUG] CSINode oc-master-03 does not contain driver driver.longhorn.io"
[code]

[code]

[code]

[2021-10-21 08:39] kaxing opened #3173 "[BUG] Backing Image with an invalid URL will result in faulty volume"
**Describe the bug**
When creating volume with unhealthy status backing image, attaching will cause the volume in faulty status.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a backing image with invalid url
2. Create a volume with the volume created in last step
3. Attach the volume
<img src="https://user-images.githubusercontent.com/602540/138094066-cb4eb340-6119-40ef-8bca-18bc32a

[2021-10-21 08:41] kaxing commented on #3133
Close this issue as extended test issue open in here #3173

[2021-10-21 08:41] #3133 closed

[2021-10-21 08:54] #3154 closed

[2021-10-21 10:04] innobead commented on #3173
cc @shuo-wu

[2021-10-21 10:16] shuo-wu commented on #2107
We can revisit this after fixing https://github.com/longhorn/longhorn/issues/1512

[2021-10-21 11:11] olicu commented on #3169
I also encountered the same problem, but I tried to restart all nodes and run normally. You can try it.
befor![图片](https://user-images.githubusercontent.com/26193513/138265809-010689ea-2d3a-4e46-9ccb-ae7d714dc259.png)
after
![图片](https://user-images.githubusercontent.com/26193513/138265940-971c31da-f8d8-4569-b5b7-e94bb4d1571b.png)

[2021-10-21 11:36] shuo-wu commented on #1656
Consider this issue as a part of https://github.com/longhorn/longhorn/issues/3083.

[2021-10-21 12:13] joshimoo commented on #3171
Leaving a note here for knowledge sharing, this is independent from Longhorn

Generally the PVC request size is a lower bound and not an exact bound. It's only required that the provisioned PV has at  least the requested capacity. For example in a non dynamic provisioned cluster with pre provisioned PV. Assuming the only free available PV has 100GB then a new PVC gets created with a request size o

[2021-10-21 13:28] shuo-wu opened #3174 "[BUG] The size of an uploaded or downloaded sparse file is the apparent file size"
**Describe the bug**
When uploading a sparse file as a backing image, the space it takes should be the actual size rather than the apparent size.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sparse file in local
[code]
2. Upload the file as a backing image
3. Check the actual size of the uploaded backing image
[code]

**Expected behavior**
The uploaded file should not take so muc

[2021-10-21 15:59] derekbit opened #3175 "[FEATURE] Backup supports "no compression" and "compression" option"
**Is your feature request related to a problem? Please describe.**
1. Current backup compresses blocks by gzip, but the compression is helpless and only increases the backup time and wastes computation power for incompressible files.
2. gzip is much slower compared to newer and fast compression algos

**Describe the solution you'd like**
User has the option to disable compression.
Previous backup

[2021-10-21 16:31] joshimoo commented on #1409
@derekbit thanks for the evaluation, can you summarize the testing procedure that you went through:

My assumption is that you created 2 longhorn volumes. volume1 you filled with uncompressable data (/dev/urandom) while volume2 was filled with compressable data. Then always did clean backups (inital backup) via longhorn?

- How did you measure the compression ratio/times?
- Did you implement the o

[2021-10-21 16:54] joshimoo commented on #2868
We will also need to backport https://github.com/longhorn/longhorn/issues/2794
as well to have encryption expansion support.

@innobead Will make the necessary backports, we currently don't have a branch for v1.2.3 on the longhorn repro yet, so I waited with the chart PR to not modify the master head. Can you create the appropriate release branch on longhorn/longhorn

[2021-10-21 17:03] innobead commented on #2868
Just created :)

[2021-10-21 19:44] joshimoo commented on #2618
This should be addressed as part of https://github.com/longhorn/longhorn/issues/2527 since at that point only v.Spec.NodeID will be responsible for attach/detach decisions which will then do a correct Detach when the csi-plugin performs that appropriate call.

[2021-10-21 23:12] yasker opened #3176 "[FEATURE] Read side caching"
We can implement a read side caching in the engine, to increase the read performance and lower the latency if the data was cached.

[2021-10-22 00:41] innobead commented on #3073
cc @kaxing @khushboo-rancher

[2021-10-22 01:10] #3149 closed, assigned to kaxing, PhanLe1010

[2021-10-22 01:15] PhanLe1010 commented on #2621
I don't think Longhorn support Ephemeral volume

[2021-10-22 01:51] jenting commented on #3169
you could ref to https://github.com/longhorn/longhorn/issues/1490#issuecomment-649003076

[2021-10-22 05:39] CoreTechnologyAG opened #3177 "[BUG] MountVolume.MountDevice failed for volume "pvc-28bcd383-4f7e-4f48-b8eb-1df00b3d8023" : rpc error: code = Internal desc = format of disk "/dev/longhorn/pvc-28bcd383-4f7e-4f48-b8eb-1df00b3d8023" failed: type:("ext4") target:("/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-28bcd383-4f7e-4f48-b8eb-1df00b3d8023/globalmount") options:("defaults") errcode:(exit status 1) output:(mke2fs 1.45.5 (07-Jan-2020) /dev/longhorn/pvc-28bcd383-4f7e-4f48-b8eb-1df00b3d8023 is apparently in use by the system; will not make a filesystem here!"
**Describe the bug**

We have upgraded to V1.2.2 from V1.1.2. Now we have some problems, after deleting namespaces.
We are working in a developer infrastructure, to get the postgresql-helm-chart running. So we can try the chart with different parameters.
For this testing/developing we uninstall the helm chart and delete the namespaces div. times. In V1.1.2 it work perfect, in V1.2.2 we got the abo

[2021-10-22 06:54] fkocik opened #3178 "[BUG] Instance Manager is running out of pthread resources"
**Describe the bug**

Instance manager fails to allocate new replica reporting `runtime/cgo: pthread_create failed: Resource temporarily unavailable`.

**To Reproduce**

After a while of normal operating state.
Creating a PVC in longhorn related storage class.
The volume is successfully created and attached but remains in *Degraded* state with on replicas that won't initialize.

**Expected behavio

[2021-10-22 09:31] #3172 closed, assigned to nobody

[2021-10-22 14:59] rlex opened #3180 "[BUG] cron setting won't persist"
**Describe the bug**
Can't save cron on recurring job, shows proper setting, but actually is 0 0 * * *
Noticed that after checking my backups and seeing only midnight one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'recurring jobs'
2. Click on 'edit job'
3. Edit cron, save
4. See new cron but it's actually 0 0 * * *

**Expected behavior**
Cron should save

**Log**
Found no errors

[2021-10-22 17:37] khushboo-rancher opened #3181 "[TASK] Check if the performance of backup and restore different between 1.1.2 and 1.2.2"
**What's the task? Please describe.**
After changes made during v1.2.0, we want to benchmark the backup restore performance. Compute the time taken to create backup and restore different size of data.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Backup creation time benchmarking
- [x] Restore from backup time benchmarking

[2021-10-22 22:15] khushboo-rancher opened #3182 "[BUG] Volume API doesn't have the `workloadStatus` updated"
**To Reproduce**

1. Run the tests basic.test_restore_inc, test_restore_inc_with_expansion, test_kubernetes_status, test_pvc_creation_with_default_sc_set, test_backup_kubernetes_status. They get failed because the `kubernetesStatus` have the `workloadsStatus` as `None`

2. Same tests are working fine with v1.2.2

**Comparison between the kubernetesStatus from v1.2.2 and master-head**
v1.2.2
[code]

[2021-10-23 01:37] khushboo-rancher opened #3183 "[BUG] Restored volume show 'scheduled' with 2 replicas running and 1 unscheduled replica"
**To Reproduce**
1. Run the test `test_allow_volume_creation_with_degraded_availability_restore`, the test fails with below error
[code]
2. The test fails because the volume remains schedules=True even after it gets attached to a pod.

**Expected behavior**
Once the volume attached to a pod the schedule should become False.

**Log**
[longhorn-support-bundle_dfcf1034-331f-4b07-8b6c-c4ea403900b7_202

[2021-10-24 12:13] sseneca opened #3184 "[BUG] Volumes provisioned with the `longhorn` storage class don't show up in the Longhorn UI"
**Describe the bug**
Volumes provisioned with the `longhorn` storage class don't show up in the Longhorn UI.

I also just tried adding a default backup target in https://github.com/sseneca/sserver/commit/0b1a186b627228f2e1136b5b76ba02266423e799 but I get `backup target URL is empty`, even though the change is present in the `ConfigMap`?

**To Reproduce**
Steps to reproduce the behavior:
1. Install

[2021-10-25 15:33] Mantany opened #3185 "[BUG] UI: Can't create/delete/revert snapshots"
**Describe the bug**
Its not possible to create/delete/revert snapshots over the UI.

running on k3s + rancher install

<img width="1076" alt="image" src="https://user-images.githubusercontent.com/34173993/138723761-a8f52e61-8446-4ac0-a5d0-a06c13059b94.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Install longhorn via rancher marketplace described here: https://longhorn.io/docs/1.2.2

[2021-10-26 01:34] #3127 closed, assigned to joshimoo, khushboo-rancher

[2021-10-26 06:22] wpi86 opened #3186 "[BUG] Resources limits in chart values.yaml not work"
**Describe the bug**
When i uncomment resources lines in values.yaml, adjust them as necessary, and remove the curly braces after 'resources:' it does not apply.

**To Reproduce**
Steps to reproduce the behavior:
1. Specify resources in values.yaml
2. Install Longhorn from helm chart
3. kubectl describe pod <pod_name>

**Expected behavior**
Created pods have resources limits

**Environment:**
 - L

[2021-10-26 08:25] penghon opened #3187 "[BUG] Node unschedulable status differ between GUI and kubectl output"
**Describe the bug**
GUI shows node as unschedulable.
![Screenshot 2021-10-26 at 16 09 45](https://user-images.githubusercontent.com/15919411/138835595-6fb5e187-6745-4478-b815-71526dde912d.png)
[code]
**To Reproduce**
Reduce available disk space /var/lib/longhorn on node to below 25% as shown above.

**Expected behavior**
That the CLI output and GUI both showing consistent status.

**Log**

**Envi

[2021-10-26 12:39] shuo-wu opened #3188 "[FEATURE] Instruction of restoring Longhorn system from ETCD to a brand new cluster"
**Is your feature request related to a problem? Please describe.**
Longhorn provides a doc that guides the ETCD restore to a cluster containing existing volume data in #2228 : https://longhorn.io/docs/1.2.2/advanced-resources/rancher-cluster-restore/

We need a similar doc for the new cluster restore as well. Notice that the restored volumes here are meaningless. And the triggered backup recurring

[2021-10-26 16:55] #3185 closed, assigned to nobody

[2021-10-27 01:23] kaxing opened #3189 "[TASK] Collect and discover settings that haven’t been covered in the test"
**What's the task? Please describe.**
As new features had been introducing throughout the new releases, there some settings haven't been updated in tests.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [ ] Look into current cases and sort out the setting tests  under the docs/
  - [ ] Add the mapping name for settings.longhorn.io
- [ ] Update the test cases in the docs

[2021-10-27 08:19] bashofmann opened #3191 "[BUG] Longhorn UI: XHR request URL sometimes wrong when UI is proxied"
**Describe the bug**
When the Longhorn UI is proxied through Rancher/Kubernetes API, the XHR request URLs on the volumes detail page sometimes do not contain the additional proxy path.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install Rancher, tested with 2.6.2
2. Create a new cluster, tested with RKE2 on DigitalOcean, 3 nodes with all roles, each 2CPU, 4GB RAM, 80GB disk
![Bildschirm

[2021-10-27 12:24] #3177 closed, assigned to nobody

[2021-10-27 15:03] MichaelShohat opened #3192 "[QUESTION] Backing up to MinIO on premise"
Hi,
I'm working on an air-gapped network with Longhorn installed on Rancher and our s3 endpoint is a MinIO server.
We have our own CA.
After adding AWS_CERT to my longhorn backup secret I'm getting the following error:
`error listing backups: error listing backup volumes: Failed to execute <the entire backup command> , output failed to append custom certificates: <my base64 certificate>,  error ex

[2021-10-28 21:48] khushboo-rancher opened #3193 "[BUG] rwx volume fail to attach"
**Describe the bug**
Deploy the https://raw.githubusercontent.com/longhorn/longhorn/master/examples/rwx/rwx-nginx-deployment.yaml in a cluster having the nfs-common installed on the nodes.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy https://raw.githubusercontent.com/longhorn/longhorn/master/examples/rwx/rwx-nginx-deployment.yaml or run the integration tests for rwx.
2. Pods fail t

[2021-10-28 22:30] jenting opened #3194 "[BACKPORT] [REFACTOR] Remove the keyword register of deepcopy-gen"
**What's the task? Please describe.**

According to https://www.openshift.com/blog/kubernetes-deep-dive-code-generation-customresources `GLOBAL TAGS` section

Since the current Longhorn min supported Kubernetes is 1.16, so we could remove the keyword `register` in
- https://github.com/longhorn/longhorn-manager/blob/d901b23/k8s/pkg/apis/longhorn/v1beta1/doc.go#L1
- https://github.com/longhorn/longh

[2021-10-29 08:45] #3150 closed, assigned to nobody

[2021-10-29 10:11] #3138 closed, assigned to kaxing, smallteeths

[2021-10-29 21:47] PhanLe1010 commented on #3184
@sseneca

You might have multiple API groups start with the keyword `volumes`. Can you try `kubectl get volumes.longhorn.io -n longhorn-system` instead?

[2021-10-29 22:21] khushboo-rancher commented on #3152
This is completed, so closing it.
Thanks @chanow816

[2021-10-29 22:21] #3152 closed

[2021-10-29 22:22] khushboo-rancher commented on #2671
Let's wait for today's (10/29/2021) nightly test run to see the results for https://github.com/longhorn/longhorn/issues/3193, https://github.com/longhorn/longhorn/issues/3183, https://github.com/longhorn/longhorn/issues/3182 before closing this.

[2021-10-29 22:55] jenting commented on #3183
Probably #1113 is not the culprit.

[2021-10-29 22:58] khushboo-rancher commented on #2794
Validated the expansion of RWO and RWX volumes, they are working fine.

@joshimoo Any other area needs to be tested to close the validation for this issue?

[2021-10-29 23:00] PhanLe1010 commented on #3136
Thanks @chickeaterbanana The volume is using the latest engine image `longhornio/longhorn-engine:v1.2.2`. Engine image is not the problem here

[2021-10-29 23:05] khushboo-rancher commented on #3115
Passed in the nightly test run https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64-s3/11/testReport/tests/test_basic/test_restore_basic_s3_/

[2021-10-29 23:05] #3115 closed

[2021-10-29 23:10] chickeaterbanana commented on #3136
I'm not sure how to debug it further. Maybe something went wrong after upgrade of longhorn? For ~30 days the backups(1.2.1) worked as expected. But something changed there(1.2.2). I haven't changed the settings from my proxy or network.

[2021-10-29 23:12] PhanLe1010 commented on #3136
@chickeaterbanana would you like to jump in a live debugging session?

[2021-10-29 23:13] chickeaterbanana commented on #3136
We can try our luck.

[2021-10-29 23:16] PhanLe1010 commented on #3136
@chickeaterbanana Are you in the CNCF Longhorn channel? https://cloud-native.slack.com/archives/CNVPEL9U3
I can jump in a live debugging session if you want to

[2021-10-29 23:24] PhanLe1010 commented on #3192
Can you check if the AWS_CERT is correctly encoded in base64 format and there are no trailing spaces?

Can you also try with an invalid AWS_CERT to see the error message is the same as this one?

[2021-10-29 23:25] PhanLe1010 commented on #3191
Todo: need to evaluate to see if this is enough to fix from UI part or it also need to fix in backend

[2021-10-29 23:27] PhanLe1010 commented on #3186
Thanks @jenting and @wpi86

TODO: We need to evaluate how to add this setting back for both user deployed components (e.g, Longhorn manager, Longhorn driver, Longhorn UI) and system managed components (e.g, instance manager, engine image, CSI driver, etc.)

[2021-10-29 23:30] chickeaterbanana commented on #3136
No, I'm not in the slack channel at the moment. You can invite me and I'll join. I've written you a email to your address from your github account.

[2021-10-29 23:35] PhanLe1010 commented on #3136
This is the invitation link https://join.slack.com/t/rancher-users/shared_invite/zt-wrenkole-W~0k~eNIOcCzHxI_yhDsDA

[2021-10-30 00:34] khushboo-rancher opened #3195 "[TASK] Fix the flaky test `test_disk_migration`"
**What's the task? Please describe.**
The test test_disk_migration fails sometimes.
The reason of failure is that the replica get scheduled on the default disk sometimes which is being disabled and deleted by the test.
https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64-s3/11/testReport/tests/test_node/test_disk_migration/

<img width="909" alt="Screen

[2021-10-30 01:27] PeterPilley opened #3196 "[BUG] Cant delete replicas from node"
**Describe the bug**
Have a node that has disk pressure, cannot delete any replicas to clean up space.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Longhorn UI
2. Click on Node
3. Identify node and attempt to use the UI to delete replica
4. Nothing happens

**Expected behavior**
Expecting the replica is removed so the node taint can be removed.

**Log**
If applicable, add the Longho

[2021-10-30 01:38] innobead commented on #3115
Good thanks @khushboo-rancher

[2021-10-30 01:59] PhanLe1010 commented on #3136
So we got into a live session. We think that the engine image might be broken somehow. After pulling the new images and detach/attach the volume. It is working now.

[2021-10-30 02:00] chickeaterbanana commented on #3136
We had a live session. I'm not really sure what the root cause was, but we could fix the problem. Any of the following things could help:
* delete the docker image of the longhorn-engine
* delete the daemon-set of the engine
* detach the volume (for example by scaling down the replicaset and waiting until the frontend says detached)
* attach the volume (for examply by scaling up the replicaset and

[2021-10-30 07:57] fkocik commented on #3178
Hi,

Got a new crash today, here are the CPU/Memory stats for the last three hours :

![im-r-1](https://user-images.githubusercontent.com/34087769/139524823-071467ef-714c-4ab2-b7fe-2015ea13d70d.jpg)
![im-r-3](https://user-images.githubusercontent.com/34087769/139524826-86c29bc1-680a-4fb3-b2f8-9cd3777d9edc.jpg)
![im-r-2](https://user-images.githubusercontent.com/34087769/139524825-6cc0b4c9-9145-4f4

[2021-10-30 10:29] derekbit commented on #2438
PR V3:
longhorn/longhorn-engine#671
https://github.com/longhorn/backupstore/pull/86

[2021-10-30 10:39] sseneca commented on #3184
Doing `kubectl get volumes.longhorn.io -n longhorn-system` results in the same `No resources found in longhorn-system namespace.` Same happens if I search all namespaces.

[2021-10-30 19:55] chickeaterbanana commented on #3136
I've checked the metrics longhorn is writing. I couldn't find any metrics about the recurring jobs. It would be cool to have some metrics to check if the backups/snapshots are running. Are there any AlertmanagerRules/Metrics I can use for it?

[2021-10-31 00:19] rlex opened #3197 "[BUG] some components are missing app.kubernetes.io labels"
**Describe the bug**
certain pods are missing "standard" labels which are useful for certain scenarios:

app.kubernetes.io/name
app.kubernetes.io/instance

**To Reproduce**
Steps to reproduce the behaviour:
1. Deploy longhorn
2. Check labels

default labels are missing on:

all csi-.* pods
engine-image
instance-manager
longhorn-csi-plugin

**Expected behavior**
app.kubernetes.io/name should be lon

[2021-10-31 05:47] jenting commented on #3136
Similar to #2940

[2021-10-31 05:48] jenting commented on #3136
Not sure if the https://github.com/longhorn/longhorn/issues/542#issuecomment-934148281 fulfill your requirement?

[2021-10-31 10:44] chickeaterbanana commented on #3136
#2940 is exactly what I',m searching for. Thanks.

[2021-10-31 10:57] chickeaterbanana commented on #2940
the backups are based on snapshots if I understand the documentation correctly. So it would be cool to have both snapshot and backup metrics. The snapshots are incremental so here the size is also a matter. Some use cases:

If the snapshot size(incremental) is for x-time 0 bytes, than you could say this volume isn't used. For some systems like databases and so on, which are in use, this could sign

[2021-10-31 11:22] chickeaterbanana opened #3198 "[FEATURE] Automatic identifying of corrupted replica (bit rot detection)"
see also: https://longhorn.io/docs/1.2.2/advanced-resources/data-recovery/corrupted-replica/

**Describe the solution you'd like**
You already described a way of identifying corrupted replicas. This could also work on blocks. If you add some meta data to the snapshot in form of hashes of the changed blocks. It would be possible to identify corrupted blocks automatically. This would help to identif

[2021-10-31 14:00] MichaelShohat commented on #3192
The AWS_CERT is encoded in base64 format and there are no trailing spaces.

With an invalid value we get the same error, for example I used the value 'A' ('QQ==' in base 64)
and got back `error listing backups: error listing backup volumes: Failed to execute <the entire backup command> , output failed to append custom certificates: A, error exit status 1`

[2021-11-01 03:06] jenting commented on #3194
@joshimoo any idea/thought on how QA to verify it?

[2021-11-01 04:28] jenting commented on #3055
We've implement the [check](https://github.com/longhorn/longhorn-manager/blob/v1.2.x/manager/volume.go#L203-L206) already.

[2021-11-01 06:28] jenting commented on #2382
David will help configure the code review auto-assignment by the Longhorn team thru. GitHub feature
https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-assignment-for-your-team

cc @innobead

[2021-11-01 07:50] jenting commented on #3136
I will close this issue now, feel free to reopen it _or_ create a new one if have more issues.

[2021-11-01 07:50] #3136 closed

[2021-11-01 08:09] jenting commented on #3192
May I say your AWS_CERT format is like this?
[code]

[2021-11-01 08:30] jenting commented on #3184
Since you deployed Longhorn by Flux, and Longhorn has an issue #2570 that the default value can't be overwritten if the CR existed. I'd suggest you check the Setting CR `kubectl get settings.longhorn.io -n longhorn-system` to see if the configuration is really applied. Or you could consider using the Longhorn UI to change the configuration.

[2021-11-01 08:33] jenting commented on #3184
Could you please dump the Storage/PV/PVC to here?
[code]

[2021-11-01 08:44] MichaelShohat commented on #3192
I've actually missed the fact it should be .PEM formated, thanks!

[2021-11-01 08:44] #3192 closed

[2021-11-01 08:46] derekbit opened #3199 "[FEATURE] Show warning messages when recurring jobs failed"
**Is your feature request related to a problem? Please describe.**

UI doesn't show recurring back job failure when the the NFS backupstore server is unreachable.
To help user understand the health of recurring jobs quickly, the warning messages are necessary on UI.

[2021-11-01 09:27] sseneca commented on #3184
Ah yes doing `kubectl get settings.longhorn.io -n longhorn-system` shows that the settings haven't actually been applied (`backup-target` is empty). So is the only way I can change these settings through the UI or manually editing it? I can't use Flux?

[code]

[code]

[code]

[2021-11-01 09:56] jenting commented on #3184
I think now Longhorn is not well support on GitOps tool.

There are PVs/PVCs using longhorn StorageClass, but can't see it under Volume CRs (volumes.longhorn.io) 🤔

[2021-11-01 10:52] MrDienns commented on #2650
Hi all,

Good to see an issue being created for this. I see this was initially scheduled for v1.2.0, so it's honestly a bit disappointing to see this being pushed back to v1.3.0. Is there any way we can get this as a fix on v1.2.x instead? I've experienced numerous production outages, for example because we had to update our network plugin (see https://github.com/cilium/cilium/issues/16669), had t

[2021-11-01 11:07] kaxing commented on #3156
Hey @khushboo-rancher I was using all default setting, the _**Replica Replenishment Wait Interval**_ is 600.

[2021-11-01 12:11] kaxing commented on #3181
Hey @shuo-wu ,

Here is a benchmark result between node/pod and s3 bucket. By leveraging a neat script by [dvassallo/s3-benchmark](https://github.com/dvassallo/s3-benchmark). With following parameters:
`./s3-benchmark --bucket-name for-s3-benchmark --region ap-southeast-1 --payloads-max 12 -payloads-min 12`, test results:
[code]

[2021-11-01 13:20] joshimoo commented on #2794
@khushboo-rancher only expansion, did you test with encrypted volumes? see related issue https://github.com/longhorn/longhorn/issues/2868

[2021-11-01 13:24] joshimoo commented on #2637
Same testing procedure as in https://github.com/longhorn/longhorn/issues/2671#issuecomment-947922659
crud operations and e2e tests. Since this impacts all resources issues should become apparent rather quickly.

[2021-11-01 17:47] khushboo-rancher commented on #3183
Yes, the test `test_allow_volume_creation_with_degraded_availability_restore` is still failing. https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64-s3/12/#showFailuresLink

[2021-11-01 18:22] khushboo-rancher opened #3200 "[TASK] Combine s3 and nfs jobs on Jenkins"
**What's the task? Please describe.**
Combine two jobs (s3 and nfs) in one to have better reporting.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Combine the s3 and nfs job in one for nightly run
- [x] Verify the nightly tests are triggering properly.

[2021-11-01 18:33] innobead commented on #2650
@MrDienns this will be backported to 1.2.x.

[2021-11-01 21:56] jenting commented on #3197
Not sure if there is a de facto Kubernetes labels, but here is the Kubernetes doc recommended labels https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2021-11-01 22:30] khushboo-rancher opened #3201 "[BUG] Sometimes Jenkins job for integration test stuck trying to start the docker."
**Describe the bug**
The Jenkins job to run nightly test stuck and fail eventually trying to start the docker.

https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64-s3/10/console

[2021-11-01 23:10] keithalucas opened #3202 "[FEATURE] Longhorn SPDK Support"
Using the information gained by the SPDK proofs of concept, begin working a version of the longhorn engine that uses SPDK.  This will work on a network on systems running the same customized SPDK software.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Create SPDK JSON RPC command to add a volume, with 0 or more replicas.  This will make the volume available over N

[2021-11-02 00:19] khushboo-rancher commented on #3200
cc: @innobead

[2021-11-02 00:27] jenting commented on #1132
Same issue to #836

[2021-11-02 00:38] derekbit commented on #3128
PR: https://github.com/longhorn/longhorn-manager/pull/1115

[2021-11-02 01:28] jenting commented on #3035
TODO:
- check when backup creation is in progress, what's the behavior when the engine lost?
- add a new action button under the Snapshots and Backups to allow users to delete snapshot only _or_ delete snapshot & backup.

[2021-11-02 01:52] jenting commented on #3033
We'll fix it on the backend side.

[2021-11-02 01:53] jenting commented on #2997
We'll fix it on the backend side.

[2021-11-02 01:58] jenting commented on #2858
The question has been addressed, close this issue/question.
Feel free to open a new issue _or_ question if you have further ones.

[2021-11-02 01:58] #2858 closed

[2021-11-02 01:59] jenting commented on #3038
The question has been addressed, close this issue/question.
Feel free to open a new issue _or_ question if you have further ones.

[2021-11-02 01:59] #3038 closed

[2021-11-02 02:25] innobead commented on #1132
Closing due to a duplicate of #836

[2021-11-02 02:25] #1132 closed

[2021-11-02 02:26] jenting commented on #3196
Could you provide more information on this node? Like dumping the Node CR `kubectl get nodes.longhorn.io -n longhorn-system`. Or send us the support bundle, attach to GitHub _or_ send to longhorn-support-bundle@suse.com

[2021-11-02 02:41] jenting commented on #2090
I'm using SLES 15 SP2 (with BTRFS), and I encounter an issue that the file size check of `/var/lib/longhorn` is incorrect.
The Longhorn uses `stat` command to know the current file size usage `/var/lib/longhorn`.
So, even without any replicas on the node, this node reports `Unschedulable` (DiskPressure) because the file size not enough.
![Screenshot from 2021-11-02 10-41-07](https://user-images.gi

[2021-11-02 03:46] jenting commented on #3035
Did a quick test by deleting the corresponding engine instance manager Pod of that engine.
The Backup CR become `Error` state with the error message
[code]

[2021-11-02 04:21] innobead commented on #2090
ref: https://www.suse.com/support/kb/doc/?id=000018807

[2021-11-02 04:33] shuo-wu commented on #3181
The bandwidth is 1Gi hence transferring 10Gi data would take roughly 1min30s ~ 2min. Since the data is generated by `dev/urandom` hence the compression does not contribute to reducing the transferring data size here but just slow down the backup progress.

Based on the compression investigation in https://github.com/longhorn/longhorn/issues/1409#issuecomment-948693046:
The total backup time (that

[2021-11-02 04:43] shuo-wu commented on #3181
As for the restore, it's still unclear why the restore time varies. It can be affected by the network since the DO does not provide a guaranteed 1Gi bandwidth. Or there may be something wrong with the code. Compared with backup creation that is handled by one replica, restore always means that all replicas of a restore volume will download data from the server simultaneously from the server. Then

[2021-11-02 05:22] innobead commented on #3181
I think the concern is fair, but the priority can be low and @kaxing or QA can plan in the future.

[2021-11-02 05:29] innobead commented on #3193
Need to move to `ready for testing.

[2021-11-02 05:30] shuo-wu commented on #3181
@innobead Sure. And it’s better to rename this ticket then open another ticket for the restore test.

[2021-11-02 05:38] innobead commented on #3181
@khushboo-rancher Please help create another one for the benchmark of backup & restore, but actually the part for backup was done already. Thanks.

[2021-11-02 06:04] innobead commented on #3128
@derekbit Please create a backport issue then backport to 1.2.x. Thanks.

[2021-11-02 06:23] derekbit opened #3203 "[BACKPORT] [TASK] Remove the feature that skip taking backup/snapshot when the volume head is empty in recurring backup jobs"
#3128

[2021-11-02 07:05] derekbit commented on #3203
PR: https://github.com/longhorn/longhorn-manager/pull/1116

[2021-11-02 09:23] timmy59100 commented on #3146
@PhanLe1010 Do yu need any more information? because of the Pending user response.

[2021-11-02 09:24] mazycool opened #3204 "[FEATURE] Longhorn UI - hard to find on which longhorn node replicas are running"
I'm running kafka on k8s with longhorn as storage driver. I would like to spread replicas widely on all nodes, but by default when kafka pods are created many repilcas are place on the same node. Would be nice to have possibility to list where replicas of each volumes are running from Volume menu in UI.

The view from node menu where all replicas are running on node are presented only with pv name

[2021-11-02 10:21] shuo-wu opened #3205 "Longhorn system backup and restore"
To have a complete story for Longhorn system backup & restore. We need to consider the following scenarios:
- ECTD backup & restore
    - [x] Restore to a cluster that contains all volume data:
            It's already done in https://github.com/longhorn/longhorn/issues/2228. And the instruction doc is in https://longhorn.io/docs/1.2.2/advanced-resources/rancher-cluster-restore/
    - [x] Restore

[2021-11-02 12:18] shuo-wu opened #3206 "[BUG] Volume crash during migrating"
**Describe the bug**

There are 4 cases related to the volume crash. Some of them will lead to migrating volume hanging there:
1. The old engine crashes only: The migration confirmation works but the migration rollback gets stuck (in state `Healthy`).
2. The new engine crashes only: Both the migration rollback and confirmation get stuck (in state `Healthy`).
3. All old replicas crash: The migratio

[2021-11-02 12:19] rlex opened #3207 "[BUG] orphaned pod pod_id found, but error not a directory occurred when trying to remove the volumes dir"
**Describe the bug**
After unclean node shutdown and probably some other cases, kubelet fails to remove orphaned pod with longhorn PVC

**To Reproduce**
1) Deploy k3s
2) Deploy longhorn
3) Deploy pod with longhorn volume
4) crash node with pod running / kill k3s
5) Observe the logs

**Expected behavior**
No log spam should appear

**Log**
[code]

**Environment:**
 - Longhorn version: 1.2.2
 - Inst

[2021-11-02 12:21] rlex commented on #3207
Additionally: https://github.com/kubernetes/kubernetes/issues/60987#issuecomment-415370444

[2021-11-02 12:23] eminalemdar commented on #836
Having a manual or automatic or some kind of scheduled space reclamation option would be a perfect solution for this issue. Everyone always deletes some data from the filesystem all the time. Backups are created using system snapshots as well and that is also increasing the actual size of the volume.

[2021-11-02 12:26] shuo-wu commented on #3206
One possible solution in my mind now: The volume controller can do revert by deleting the migration engine & replicas when Longhorn encounters some of the above cases. Then it can handle salvage & auto-recovery as usual and re-create the migration engine & replicas.
cc @joshimoo

[2021-11-02 12:27] shuo-wu commented on #3206
If this one is not urgent, we can re-evaluate the solution after the volume refactoring https://github.com/longhorn/longhorn/issues/2527

[2021-11-02 13:17] kaxing commented on #2432
Validation - **PASSED**

Tested with master-head image set(20211102) with air gap installation(via helm3) from a standalone Docker Private Registry service.

<Details>
<Summary>a working configuration for reference: values.yaml</Summary>

[code]
</Details>

An example of a working recurring job:
[code]

[2021-11-02 13:17] #2432 closed

[2021-11-02 14:31] derekbit commented on #2894
PR: https://github.com/longhorn/longhorn-manager/pull/1117

[2021-11-02 17:23] khushboo-rancher opened #3208 "[TASK] Backup and restore benchmarking"
**What's the task? Please describe.**
After changes made during v1.2.0, we want to benchmark the backup restore performance. Compute the time taken to create backup and restore different size of data.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [ ] Backup creation time benchmarking - This is done already with https://github.com/longhorn/longhorn/issues/3181 but can

[2021-11-02 20:58] MarkMckessock commented on #3167
Since creating this issue, I have re-created my cluster with the r610 node now acting as a single master because I believe etcd was getting bottlenecked on the raspberry pis. (Let me know if I should create a new issue).

Here is a new support bundle: [longhorn-support-bundle_f000b16c-7569-4938-a158-e8468cbc32dd_2021-11-02T20-49-32Z.zip](https://github.com/longhorn/longhorn/files/7463939/longhorn-

[2021-11-03 01:50] vinid223 opened #3209 "[BUG] Volumes keeps crashing and can't create replicas. Large volumes, HDD, ARM"
**Describe the bug**
Can'T create a replicat of a large volume on a slow cluster (Raspberry PIs)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume with a single replicat
2. Fill the volume with ~30-40Gb
3. Increase the replicat minimum count to 2
4. Timeout while creating the replicat betweer 60 and 80% progression

**Expected behavior**
Complete a replicat reconstruction witho

[2021-11-03 01:52] innobead commented on #3209
cc @keithalucas

[2021-11-03 01:53] vinid223 commented on #3209
I know I created an issue like this in the past and been told to wait for 1.2.2.

After upgrading to 1.2.2 it did made life easier for medium size volumes and better performance overall. But now my volumes are getting biggers and I am still adding large amount of data to the volumes but I can't transfer more than ~4-5Gb before the all the replicas crashes and restart the pods and recreate the repl

[2021-11-03 01:58] vinid223 commented on #3209
I can provide a full support bundle and I can reproduce anytime the issue for you if it can help

[2021-11-03 02:30] vinid223 commented on #3209
This is what happens when I transfer a large amount of files. The engine fails and restart
![image](https://user-images.githubusercontent.com/777832/140002318-e60cafcc-1d12-4f1e-b9cf-a10b0bc39ba8.png)

[2021-11-03 02:40] vinid223 commented on #3209
I've sent the support bundle by email to `longhorn-support-bundle@suse.com`

[2021-11-03 03:57] shuo-wu opened #3210 "[BUG] Restored volume wrongly restarts restoration during migration"
**Describe the bug**
When users try to migrate a restored volume, the migration engine & replicas wrongly restart the restoration then get stuck.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare a Backup
2. Create a StorageClass with fields `migratable` and `fromBackup` set.
3. Use the StorageClass to create a PVC with the accessMode `ReadWriteMany`
4. Attach the volume.
5. Start the

[2021-11-03 03:57] shuo-wu commented on #3210
cc @guangbochen

[2021-11-03 06:26] flippy1345 opened #3211 "[QUESTION] Resize Node"
**Question**

I upgraded my Server/VM, which gave me more storage.
It shows in the UI only what I had.
Now the question is how can I let longhorn "know" there is more storage available to use.

**Environment:**
 - Longhorn version: 1.2.2
 - Kubernetes version:  v1.21.4+k3s1
 - Node config
   - OS type and version: Ubuntu 20.04
   - CPU per node: 4
   - Memory per node: 16GB
   - Disk type: HDD

[2021-11-03 08:11] timmy59100 commented on #2135
@shuo-wu This does not work anymore for me on longhorn 1.2.2.

It keeps reseting itself to the "longhorn" storageclass.

[2021-11-03 09:32] derekbit opened #3213 "[BACKPORT][FEATURE] podAntiAffinity for csi-attacher/csi-provisioner/csi-resizer/csi-snapshotter"
https://github.com/longhorn/longhorn/issues/2894

[2021-11-03 09:36] kaxing commented on #3061
Validation: **PASSED**

Testing with master image(20211103).

Now when backing image disk files is corrupted or with additional file under the same directory, backing image will not stuck in restarting itself.

Additionally, while cleaning up unuse backing image will also remove all those unwanted files.

Also, in an extreme case, if manually modified all backing-image disk files inside each backi

[2021-11-03 09:36] #3061 closed

[2021-11-03 09:40] shuo-wu commented on #3061
If all files of a downloaded backing image used by one volume are corrupted, Longhorn will re-start the downloading after `Backing Image Recovery Wait Interval` is passed. Then everything will be recovered automatically

[2021-11-03 09:54] derekbit commented on #3213
PR: https://github.com/longhorn/longhorn-manager/pull/1120

[2021-11-03 10:17] Krumbelfix opened #3214 "[FEATURE] [WebUI] Add Information which cluster is selected / configured"
**Is your feature request related to a problem? Please describe.**
We have a lot of clusters, we are planning to use Longhorn on some of them. But its hard to find any information on the Longhorn-ui on which cluster you are currently working.

**Describe the solution you'd like**
Add the Clustername in the UI (for example on the Dashboard)

**Describe alternatives you've considered**
leave it as i

[2021-11-03 10:41] Martin-Weiss opened #3215 "[BUG] - documentation link for alerts broken"
**Describe the bug**
Check this URL https://longhorn.io/docs/1.2.2/monitoring/integrating-with-rancher-monitoring/ and click on "set up alerts"... in Rancher UI.

**To Reproduce**
See above

**Expected behavior**
Link should work

[2021-11-03 12:54] Martin-Weiss commented on #3215
Maybe the link should point to https://longhorn.io/docs/1.2.2/monitoring/alert-rules-example/ ?

[2021-11-03 19:25] PhanLe1010 commented on #1805
Test steps:
1. Deploy Longhorn
2. Deploy the network policies examples: https://github.com/longhorn/longhorn-manager/tree/master/examples/network-policy
3. Make sure all Longhorn functionalities are not broken by the network policies.
4. Try to ping/curl Longhorn pods from unauthorized pods specified in the network policy. Verify that the access is blocked.

[2021-11-03 20:43] khushboo-rancher opened #3216 "[BUG] Tests related to backup failed on nightly test run"
**Describe the bug**
All the tests related to backup are failing on master-head.
https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/477/

Looks like the backups are stuck and didn't complete.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any test related to backups.

**Expected behavior**
The backup should complete properly.

**Log**
[code

[2021-11-03 21:15] khushboo-rancher commented on #2894
@derekbit Could you please help with the test steps?

[2021-11-03 22:38] PhanLe1010 commented on #3216
After meeting with @khushboo-rancher , we found out that it was because [this engine commit](https://github.com/longhorn/longhorn-engine/commit/fb9142dbba6dc24ba2fd7d013368b7410790b3f4)  is merged while the Longhorn manager is not merged https://github.com/longhorn/longhorn-manager/pull/1107

[2021-11-03 22:42] khushboo-rancher commented on #3180
Validated with Longhorn master-head `1bd49df`

Validation - **Fail**

The cron job setting is persistent now but on changing the value multiple times, the value is not persistent.

https://user-images.githubusercontent.com/60111667/140214940-a80bb9b6-4d92-4400-a6b2-d479fdd8530f.mov

[2021-11-03 22:48] khushboo-rancher opened #3217 "[IMPROVEMENT] Make GI as default value in volume expand screen"
**Description**
Can we make Gi as default value in volume expansion.

<img width="527" alt="Screen Shot 2021-10-29 at 3 53 49 PM" src="https://user-images.githubusercontent.com/60111667/140218605-4a2ae6cc-b0e8-4049-9cca-463a0210f970.png">

[2021-11-03 23:31] derekbit commented on #2894
@khushboo-rancher I've updated the steps in Pre Ready-For-Testing Checklist.

[2021-11-03 23:36] derekbit opened #3218 "[BACKPORT][BUG] Backup Target - NFS - the k8s node supports only 4.0 - an incorrect mount option was specified"
https://github.com/longhorn/longhorn/issues/2438

[2021-11-04 01:05] jenting commented on #3214
I don't think there is a way for the Longhorn application able to get the cluster name from Kubernetes API without the kubeconfig file.

Related issue on kubernetes https://github.com/kubernetes/kubernetes/issues/44954

[2021-11-04 01:28] innobead commented on #2748
Reopening, because this flaky problem still exists even after #3193 is fixed. @chanow816 will work on it.

[2021-11-04 01:46] jenting commented on #3204
The replicas by default should be spread across nodes, what is your configuration of `Default Data Locality` (or `dataLocality` inside the StorageClass) and `Replica Node Level Soft Anti-Affinity`?

Besides that, you could check which nodes the replicas locate inside the Volume -> PV page.

You could hover onto the Volume -> PV/PVC field, it will pop out the PVC name.

[2021-11-04 03:26] innobead commented on #3216
https://github.com/longhorn/longhorn-engine/pull/674

[2021-11-04 08:00] jenting commented on #2954
Close it since it's a doc change only.

[2021-11-04 08:00] #2954 closed

[2021-11-04 08:06] jenting commented on #3215
The section https://longhorn.io/docs/1.2.2/monitoring/prometheus-and-grafana-setup/#install-and-configure-prometheus-server provides the link to https://longhorn.io/docs/1.2.2/monitoring/alert-rules-example already.

[2021-11-04 08:06] jenting commented on #3215
Close this issue since it's a doc change.

[2021-11-04 08:06] #3215 closed

[2021-11-04 08:10] chanow816 opened #3219 "[TASK]Fix flaky test case : test_allow_volume_creation_with_degraded_availability"
**What's the task? Please describe.**
A flaky test case in nightly build.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Find the root cause
- [ ] #3220

**Additional context**
Fail log https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64-nfs/12/testReport/junit/tests/test_basic/test_allow_volume_creation_with_degraded_a

[2021-11-04 08:43] cchien816 opened #3220 "[Bug] Degraded volume generate failed replica make volume unschedulable"
**Describe the bug**
This is found from automation test case **[test_basic.py::test_allow_volume_creation_with_degraded_availability](https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64-nfs/12/testReport/junit/tests/test_basic/test_allow_volume_creation_with_degraded_availability/)** , can reproduced by hand (**Reproduced rate about 20%**).

Write data

[2021-11-04 09:42] innobead commented on #3220
cc @longhorn/qa

[2021-11-04 10:10] dominch commented on #3109
Hello,
I just realized that my issue was not fixed with K3S_RESOLV_CONF change,
probably when I made that change and restarted k3s it just moved longhorn pod to different node where dns were ok and everything came up with no problem (because longhorn-backend name was available there)

When I restarted cluster yesterday it recreated longhorn pods on problematic node and that caused PV problems on e

[2021-11-04 18:42] khushboo-rancher commented on #3216
As per the nightly test run, the problem in fixed.
https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/478/#showFailuresLink

[2021-11-04 18:42] #3216 closed

[2021-11-04 20:44] khushboo-rancher commented on #3193
The rwx feature is working fine on master-head `11/04/2021`
Validation - **Pass**

https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/478/

[2021-11-04 20:44] #3193 closed

[2021-11-04 20:49] khushboo-rancher commented on #3182
Worked on master-head `11/04/2021`

Validation - **Pass**

https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/478/testReport/tests/test_basic/

https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/478/testReport/tests/test_kubernetes/

[2021-11-04 20:49] #3182 closed

[2021-11-04 23:27] PhanLe1010 commented on #3076
Test Steps:

#### Case 1: Evicting disk
1. Disable the setting `Replica Node Level Soft Anti-affinity`
2. Create some volumes. Make sure there is a replica on each worker node.
3. Add a new schedulable disk to a node.
4. Disable the scheduling then Enable eviction for the old disk on the same node.
5. Verify that the replicas on the old disk move to the new disk

#### Case 2: Retest evicting node

[2021-11-04 23:51] PhanLe1010 commented on #3214
@Krumbelfix Can you tell the cluster by looking at the URL of Longhorn UI?

[2021-11-04 23:52] PhanLe1010 commented on #3214
If we want to support displaying the information. I think we can get/display `longhorn-system` namespace UUID. Then the user can use it to identify the cluster. @jenting

[2021-11-05 00:58] PhanLe1010 commented on #2135
What do you mean by `resetting itself to the "longhorn" storageclass`? @shuo-wu instruction is to change the `loghorn` storageclass no on-default

[2021-11-05 01:08] PhanLe1010 commented on #3146
@timmy59100 Moved it to `in-progess`. Thank you for the reminder. We will put this one into planning.

I think the issue over here is https://github.com/longhorn/longhorn/issues/3146#issuecomment-944794892 Which should be solve by @joshimoo 's suggestion https://github.com/longhorn/longhorn/issues/3146#issuecomment-945987785

For the workaround, can you:
1. Condor the high CPU node
2. Scale down a

[2021-11-05 02:05] jenting commented on #3211
Could you please check the size in the Node CR is expanded? Under the CR `.status.diskStatus.<disk-name>.storageMaximum`

[code]

Then, check the VM's block-level size is expanded also. Go to the VM and run

[code]

the size is calculated by `totalBlock` * `blockSize`.

The last you expanded the disk on the host, make sure the expansion level is on top of `/var/lib/longhorn` path.

[2021-11-05 02:34] jenting commented on #3209
Did a check on the support bundle, different cases that make the replica rebuilding fail. Let me summarize analyze results:

1. `failed to send file volume-snap-48d5a6c7-f9ef-4124-a654-1bf5ef728df6.img to 10.42.3.18:10175: failed to send file volume-snap-48d5a6c7-f9ef-4124-a654-1bf5ef728df6.img to 10.42.3.18:10175: rpc error: code = Unknown desc = stat volume-snap-48d5a6c7-f9ef-4124-a654-1bf5ef728

[2021-11-05 02:41] jenting commented on #3209
@vinid223
From the above 2-4, during the replica rebuilding, some of the HTTP/RPC operations can't be fulfilled within 5 seconds, so the replica keeps rebuilding failed.

Could you please check your underlying network is stable, and also consider removing the control plane node `rpimaster` from the Longhorn cluster to make the network reliable on kube-apiserver/longhorn control plane path. You cou

[2021-11-05 03:08] jenting commented on #3214
I think `lens` read the user's kubeconfig file to get the cluster namespace.
However, the Longhorn is an in-cluster application and doesn't need to rely on the kubeconfig file.

[2021-11-05 03:14] jenting commented on #3167
Currently, the Longhorn CSI snapshotter is a kind of snapshot+backup to the remote backup target.
Since you did not configure the remote backup target, so I think that's the problem _why_ the `READTOUSE=false` in the end.

Issue #2534 is to extend the CSI snapshotter to be an in-cluster snapshot only, so we don't have to reply a remote backup target.

[2021-11-05 03:24] jenting commented on #3184
The last thing I could think is that is your kubeconfig role is able to list the `longhorn-system` namespace?

[2021-11-05 03:28] jenting commented on #2649
I think the question be answered already.
I'd prefer to close this question, feel free to reopen it once you have more.

[2021-11-05 03:28] #2649 closed

[2021-11-05 03:35] jenting commented on #3109
Thank you @dominch, it is a pretty detailed troubleshooting step. :100:

Also, looks like the steps in the knowledge base doc probably be wrong.

Yes, we had thought about this before. However, we can't guarantee that the other components like CSI would like to keep connected to the Longhorn manager and the Longhorn manager Pods be fully restarted.

[2021-11-05 03:41] jenting commented on #2762
We did some improvement on the slow disk/network from v1.2.0, you could consider upgrading the Longhorn to the latest version to see if the replica rebuilding still failed in your case.

[2021-11-05 03:45] jenting commented on #2903
Please check if it is a DNS issue, I'm guessing that the DNS name `longhorn-backend` is not available.

[2021-11-05 03:47] jenting commented on #2862
Related to #2128

[2021-11-05 03:48] jenting commented on #2862
Probably Velero+restic could fix your problem for now.

[2021-11-05 03:49] jenting commented on #2863
Any feedback @bodleytunes?
Otherwise, I'd prefer to close this issue.

[2021-11-05 03:52] jenting commented on #2966
I think you could change the value on the GUI by changing the value of `Edit Node and Disks` -> `Storage Reserved`.

[2021-11-05 03:54] jenting commented on #2880
Out of activity, close this issue. Feel free to reopen it when you could provide more information on this one.

[2021-11-05 03:56] jenting commented on #3072
Any updates on this one @jleni?

[2021-11-05 05:26] shuo-wu commented on #2135
Do you mean you can not set `longhorn` as non-default StorageClass? I just retried this. It works fine...
By deleting the annotation `storageclass.kubernetes.io/is-default-class: "true"` or modifying its value to `"false"`, you can still set StorageClass `longhorn` as the non-default one in v1.2.2.

[2021-11-05 05:27] fkocik commented on #3178
Hi,

After removing a volume, my cluster seems to be stable more time (+/- one day).
It seems load related : I cannot host more than 10 replicas by node (currently 33 volumes for 3 nodes).

But, this morning, one of the node is starting to randomly loose replicas and rebuild them (after one or two retries).

Hopefully, I was able to capture a more complete log dump that you can see here (the affec

[2021-11-05 05:29] shuo-wu commented on #2966
Yes. Users can modify it in GUI. But the **default** value is always 30% of the total space when Longhorn **automatically creates default disks** for the node.

[2021-11-05 05:38] fkocik commented on #3178
Here is the support bundle :

[longhorn-support-bundle_3f8db42e-6f4b-4e7f-a084-8ae9040adcd8_2021-11-05T05-27-58Z.zip](https://github.com/longhorn/longhorn/files/7480841/longhorn-support-bundle_3f8db42e-6f4b-4e7f-a084-8ae9040adcd8_2021-11-05T05-27-58Z.zip)

[2021-11-05 06:36] Krumbelfix commented on #3214
kind of. There is an unique "id" for each cluster:
![grafik](https://user-images.githubusercontent.com/8148917/140468539-393143ca-a360-450c-8e38-b3fa778d01ac.png)

This ID is also show in the Longhorn UI:
![grafik](https://user-images.githubusercontent.com/8148917/140468651-37fc0c1b-eef2-4899-bca7-02792e67b9fb.png)

[2021-11-05 06:47] Martin-Weiss commented on #3214
Maybe it is too much effort to "detect" the cluster name automatically - and this also might be a problem in case there is no Rancher and it is just RKE2 or an other K8S distribution in which Longhorn is deployed..

Maybe as a first step adding a value for "cluster name", setting this in a configmap or similar and then display the configured name in the UI would be a step forward?

[2021-11-05 07:13] chanow816 opened #3221 "[TASK] Fix flaky test case : test_node_eviction_soft_anti_affinity"
**What's the task? Please describe.**
Flaky test case[ tests.test_node.test_node_eviction_soft_anti_affinity](https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64-nfs/12/testReport/junit/tests/test_node/test_node_eviction_soft_anti_affinity/) in nightly build.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x]  Find the root

[2021-11-05 07:22] PhanLe1010 commented on #3214
Agree with @Martin-Weiss
I was thinking the same that we can let the user specify the name and store it somewhere. Lens also does it ( it lets the user set the cluster name which is default to the context name in the kubeconfig file)

[2021-11-05 07:22] timmy59100 commented on #2135
@timmy59100 Ok, I set it to false `storageclass.kubernetes.io/is-default-class: "true"` and a few seconds later it's true again.

[2021-11-05 07:23] PhanLe1010 commented on #2135
@timmy59100 which command you use to set it?

[2021-11-05 07:27] timmy59100 commented on #2135
@PhanLe1010 Ah i see. I edited the storageclass directly and not the configmap. Sorry used the wrong command.

[2021-11-05 08:12] jleni commented on #3072
No, sorry, we just downgraded. There were other problems with v1.2.0 and we decided it was to risky at that point in time.
We can probable close this issue.
Thanks!

[2021-11-05 08:12] #3072 closed

[2021-11-05 08:23] chanow816 commented on #3221
Root cause and PR for this issue at https://github.com/longhorn/longhorn-tests/pull/785

[2021-11-05 08:30] alkmim commented on #2762
Hi @jenting .

Thanks a lot for the update on this. I actually migrated to use drbd, but I am happy to try again longhorn since it is much easier to set up and maintain.

Do you know the improvements made on the slow disk or have a list describing them?

[2021-11-05 08:33] jenting commented on #2762
You could check it in detail #2206 and #2882

[2021-11-05 08:39] alkmim commented on #2762
Interesting. This could actually solve my issues. I am using spinning disks and the network/disk can get overloaded sometimes.

[2021-11-05 08:43] dominch commented on #3109
I was surprised how everything works without right DNS, in fact most services just don't use it. Problem is not that visible and You can see on my example that even when You try to test everything You can miss such obvious thing ;)

Also my use case seems to be common. Most people will configure longhorn on cluster launch and then add charts and then nodes (when resources are running out). Im my c

[2021-11-05 08:57] bashofmann commented on #3214
If the cluster name is configurable through helm values, Rancher could automatically (or as a default) set this value to its cluster name when installing Longhorn from the App Marketplace.

[2021-11-05 08:58] kaxing commented on #2894
Validation - **PASSED**

Tested with latest v1.2.x-head image set (20211105).

**csi-attacher pods** now will now spreading to different worker nodes.

A small notice, in a extreme case, if constantly deleting all csi-attacher pods all at the once, there is a chance one or two pods will be allocated on the same worker node.

// @derekbit thanks for the test steps!

[2021-11-05 08:58] #2894 closed

[2021-11-05 09:10] kaxing commented on #3213
Validation - **PASSED**

Backport PR tested with latest v1.2.x-head image set (20211105).

Details in [issues/2894#issuecomment-961726544](https://github.com/longhorn/longhorn/issues/2894#issuecomment-961726544)

[2021-11-05 09:10] #3213 closed

[2021-11-05 09:18] shuo-wu commented on #2135
Yeah. We use the ConfigMap to control the special StorageClass 'longhorn'.
If the issue is resolved, can we close this ticket?

[2021-11-05 09:28] timmy59100 commented on #2135
It seems that we have to edit the configmap after every upgrade. Is this correct?

[2021-11-05 09:32] shuo-wu commented on #2135
To set `longhorn` as non-default StorageClass? Not exactly, you can do that via modifying the Helm value or Rancher UI as well:
https://github.com/longhorn/longhorn/blob/fb40e1b540ae73dd53169351b515bc2bfb518724/chart/values.yaml#L55

[2021-11-05 09:39] timmy59100 commented on #2135
Ok, that should help. Thank you.

[2021-11-05 09:39] #2135 closed

[2021-11-05 10:17] kaxing commented on #3208
To minimized testing factors, I am rerun the backup restoring test with in-cluser minio service.

- Worker node spec: EC2 m5.2xlarge
- In-cluster minion deployment: [this yaml file](https://github.com/longhorn/longhorn/blob/master/deploy/backupstores/minio-backupstore.yaml)
- Longhorn setting: default replica count: 1
- Test volume size: 10G (generated from urandom)

Version | Restore time
:- | :-

[2021-11-05 13:28] innobead commented on #3076
Also the test cases of `replica auto rebalance` needed to be covered in the regression.

[2021-11-05 14:38] sseneca commented on #3184
Yes, I'm the sole cluster admin, there shouldn't be any permissions issues

[2021-11-05 15:41] bodleytunes commented on #2863
Got it sorted with timeouts, in the end, you can close the ticket :-)

On Fri, 5 Nov 2021 at 03:49, JenTing Hsiao ***@***.***> wrote:

[2021-11-06 00:56] vinid223 commented on #3209
Hello @jenting

Thank you for this amazing response.

1. I did notice during a dual rebuild process of the same volume to see in longhorn ui the delete process of snapshots. This certainly does not help for a slow environment
2. Probably the timeout is hit while rebuilding as well as clearing snapshots. This happens only on really large volumes while doing large amount of data transfer
3. This is

[2021-11-06 09:47] alkmim commented on #2762
Was there any change in the replica/engine/volume object specs in kubernetes?

[2021-11-06 10:43] StarAurryon commented on #2259
@joshimoo What is the current status on IPv6 only cluster. I could help by making PRs.

We have a full IPv6 network and kubernetes with nat64 as dual stack kubernetes was in beta state whereas IPv6 was not.

[2021-11-06 19:29] liyimeng commented on #3037
@shuo-wu  The number was not impressive, but since there are too much noise in the cluster, I therefore discard it as a unfair test.   I see QingStor present their solution neonio, it is really impressive
![Neonio](https://pic1.zhimg.com/80/v2-a4875987a7c0fdf68d6a514e1fe243e4_1440w.jpg),  If https://github.com/longhorn/longhorn/issues/3202 is ready, will longhorn catch up by any chance?

[2021-11-07 07:09] alkmim commented on #2762
@jenting Unfortunately it is still failing for me. Basically I always have 1 replica running and 1 replica rebuilding.

I did  a test run with a volume  of 100GB. I added a large file using dd. I created the volume using the UI, using the default configuration. One important information is that the longhorn hard drives are being attached through iSCSI.

I attached the UI screenshot and the logs of

[2021-11-07 13:45] derekbit commented on #3080
The NodeUnpublishVolume is not called after kubelet restart sometimes, so the volume is not unmounted.

The race condition is resolved in this commit since kubernetes 1.22.0.

https://github.com/kubernetes/kubernetes/commit/3eadd1a9ead7a009a9abfbd603a5efd0560473cc

[2021-11-07 13:50] derekbit commented on #3207
@rlex , what's your k3s version?

[2021-11-07 15:13] rlex commented on #3207
v1.22.2+k3s2

[2021-11-07 16:23] derekbit commented on #3207
@rlex
I cannot reproduce it in my environment.

Could you please help to provide the following information for narrowing down the problem and further analysis?
- What's your longhorn configuration? number of replicas? Are some nodes unscheduable?
- Pod and PVC yaml files for reproduce
- In your step 4, after the worker nodes crashed, did it re-join to the cluster?
- In your step 5, is the log on t

[2021-11-07 16:28] rlex commented on #3207
ATM i'm cleaned all my nodes from leftover files, so i can't give you exact configuration.
I used default storageClass with 3 replicas. All nodes are schedulable.
Node with attached PV crashed (kernel panic, probably unrelated to longhorn)
Yes, node rejoined cluster, but pod was already rescheduled and recreated at different node. Log was on crashed node.
I can try digging around in my logs, maybe

[2021-11-08 05:00] jenting commented on #3209
Did a test during replica rebuild, delete the snapshot from the GUI, the Longhorn engine would block snapshot [purge](https://github.com/longhorn/longhorn-engine/blob/v1.2.2/pkg/sync/sync.go#L151-L156) and [delete](https://github.com/longhorn/longhorn-engine/blob/v1.2.2/pkg/sync/sync.go#L127-L133) if there is a replica in rebuilding.

[2021-11-08 05:35] innobead commented on #2868
@joshimoo Please help backport to 1.2.x then we can move this to `ready for testing`. Thanks.

[2021-11-08 06:02] derekbit commented on #3080
The commit is not back ported from kubernetes 1.22 to 1.21 or before.
I'll document it on longhorn.io knowledge base.

[2021-11-08 06:13] derekbit commented on #3207
@rlex
Here's my step trying to reproduce, but I can't reproduce with multiple trials.
If there is anything I missed or any clue, please let me know, thank you.

1. Deploy k3s (1 masetr + 4 workers)
2. Deploy longhorn with 3 replicas
3. Deploy deployment with longhorn volume
[code]

4. kill worker not where pod is running by `systemctl stop k3s-agent.service`
5. After the node becomes NotReady, re-

[2021-11-08 06:16] innobead commented on #3183
Where we are?

[2021-11-08 07:37] innobead commented on #3055
@jenting anything left for this issue? 👇

[2021-11-08 07:57] innobead commented on #3178
cc @PhanLe1010 @kaxing

[2021-11-08 08:32] chanow816 commented on #3221
PR merged, I'll close this issue.

[2021-11-08 08:36] innobead commented on #3221
@chanow816 let's close after the test case will pass in the next build.

[2021-11-08 08:46] innobead commented on #3055
The update from @jenting

If I remember correctly, the problem/step is

1. The recurring job call RESTful API to delete Backup (the deletion is background delete)
2. User clicks restore, LH manager validates okay by checking the Backup CR is exist (since the deletion is background delete, so the Backup CR exists)
3. The backup_controller deletes the Backup from the remote backup target (this step,

[2021-11-08 09:19] innobead commented on #3080
@khushboo-rancher I know we cover test cases for node down, but do we have this included?

[2021-11-08 09:42] innobead commented on #3176
cc @keithalucas @derekbit

[2021-11-08 10:39] innobead opened #3222 "[TASK] Leverage upstream test cases to cover the regression of CSI volume operations"
**What's the task? Please describe.**
Create test pipelines to run CSI sanity tests and Kuberentes storage testuistes.

- https://github.com/kubernetes-csi/csi-test
- https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/testsuites

**Describe the items of the task (DoD, definition of done) you'd like.**
- [ ] Create a test pipeline run to CSI sanity tests
- [ ] Create a pipeline t

[2021-11-08 10:40] innobead commented on #3222
cc @derekbit

[2021-11-08 16:33] rlex commented on #3207
Can you try non-clean shutdown, simulating power outage or something like this? Killing VM? I think this is what caused leftover files, but i'm not sure.

[2021-11-08 20:54] joshimoo commented on #3209
I am guessing once the pi is busy (io/cpu) utilized heavily.
The checksum operation might take longer then 5 seconds as identified by @jenting the same might be true for the io storage operation. Generally I wouldn't expect a 2mb transfer to take longer then 5s.

[2021-11-09 00:50] innobead opened #3223 "[BACKPORT] [BUG] Restored volume wrongly restarts restoration during migration"
#3210

[2021-11-09 01:03] jenting commented on #3198
Probably we could choose [hash](https://cyan4973.github.io/xxHash/) since the calculation time is faster.

Adding a hash to the replica is a good idea, to automatically detect the corrupted replica.

The hash calculation could based on per-replica or per-sector. I think per-sector is more suitable because we could calculate the hash of each write operation to the sector, instead of after each writ

[2021-11-09 01:33] snagiel commented on #3026
Vault already provides mechanisms (and tutorials) on utilizing its secret engine to:
1) [inject values into pods with the agent container sidecar](https://learn.hashicorp.com/tutorials/vault/kubernetes-sidecar?in=vault/kubernetes)
2) [mount (Vault-managed) secrets as proxied volumes](https://learn.hashicorp.com/tutorials/vault/kubernetes-secret-store-driver?in=vault/kubernetes)

I would think that

[2021-11-09 01:37] jenting commented on #3184
Could you please provide us with the support bundle? Attach to here or send to longhorn-support-bundle@suse.com

[2021-11-09 01:39] jenting commented on #3026
Thank you for the information.
We'll investigate to see how longhorn to achieve it with Vault.

[2021-11-09 01:41] jenting commented on #2804
I think we could add this feature with the similar way as #3026

[2021-11-09 01:43] jenting commented on #3178
Did look at the support bundle, the number of goroutines inside the replica instance manager is not much (63 goroutines).

We did not have a test on Arch Linux, not sure if it is related to OS issue _or_ glibc issue.
If possible, could you please add new nodes with another OS like ubuntu? To see if it's reproducible or not.

[2021-11-09 04:02] innobead commented on #2955
The following changes possibly impact e2e. cc @longhorn/qa

[2021-11-09 05:53] innobead commented on #2271
@c3y1huang besides updating the pipeline, please remember moving it to the current sprint because you are working on it. Thanks.

[2021-11-09 07:43] joshimoo commented on #3178
Some additional steps for helping us diagnose this issue:
- check and post the `ulimit -a` inside of the instance-manager pod as well as on the node where you are having this issue
- provide us with the archive generated by https://gist.github.com/joshimoo/afcfa1ebec8a1c0d59f0419d33a1dd38 (need to replace the pid with the pid from an instance-manager that is close to exhaustion, then run this from

[2021-11-09 07:57] kaxing commented on #1805
Validating in progress, testing with master branch.

The example NetworkPolicies does its job by blocking access not defined in the rules.
Creating and deleting volumes via kubectl after policies applied does not have problem.
But I am still looking at the way to make UI work through the ingress and rancher proxy.

---

Attaching some error messages for later discussion:
With the ingress, it gives

[2021-11-09 10:40] sseneca commented on #3184
Sure, I've sent the support bundle to that email address

[2021-11-09 12:48] jenting commented on #3184
Could you please check the CRDs exist? `kubectl get crd -l longhorn-manager -n longhorn-system`

[2021-11-09 13:41] sseneca commented on #3184
[code]

[2021-11-09 15:05] 0x4c6565 opened #3225 "[QUESTION] Authentication issues using UI"
**Question**

**Environment:**
 - Longhorn version: v1.2.2
 - Kubernetes version: RKE v1.21
 - Node config
   - OS type and version: CentOS 7.9.2009
   - CPU per node: 4
   - Memory per node: 8GB
   - Disk type: Block device / SSD
   - Network bandwidth and latency between the nodes: 10Gbps
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): VMware

**Additional context

[2021-11-09 16:35] miketice22 opened #3226 "[QUESTION] Longhorn CSI plugin fails on one node"
**Question**

**Environment:**
 - Longhorn version: 1.0.0
 - Kubernetes version: 1.17.4  (Rancher 2.4.8)
 - Node config
   - OS type and version RHEL 7
   - CPU per node: variable, 40-48
   - Memory per node: ~256 GB
   - Disk type HDD
   - Network bandwidth and latency between the nodes: 10G ethernet NICs, nodes are spread out between 2 racks in the same row of the datacenter.
 - Underlying Infra

[2021-11-09 16:56] miketice22 commented on #3226
[longhorn-support-bundle_12ee0ddf-4efd-4d71-aba4-731e71654143_2021-11-09T16-58-50Z.zip](https://github.com/longhorn/longhorn/files/7506618/longhorn-support-bundle_12ee0ddf-4efd-4d71-aba4-731e71654143_2021-11-09T16-58-50Z.zip)

[2021-11-09 19:23] khushboo-rancher commented on #3080
@innobead You're right, we need to explicitly call this case out of kubelet/k3s agent restart.
We have automation around the case where we crash instance manager and remount the pod with subpath https://github.com/longhorn/longhorn-tests/blob/master/manager/integration/tests/test_ha.py#L2047 and this is running fine on k8s and k3s env.

We'll add the test case in manual test case during validation

[2021-11-09 22:05] khushboo-rancher commented on #2831
The reported problem is no more reproducible on v1.1.3. Closing this one.

[2021-11-09 22:05] #2831 closed

[2021-11-09 22:10] khushboo-rancher commented on #3195
The test has been passing in the nightly test runs.

[2021-11-09 22:10] #3195 closed

[2021-11-09 22:12] khushboo-rancher commented on #3200
The tests are getting triggered properly. There is a typo in the upgrade job fixed in https://github.com/longhorn/longhorn-tests/pull/792

[2021-11-09 22:12] #3200 closed

[2021-11-09 22:39] khushboo-rancher commented on #2671
The results of e2e tests master look good. https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/478

The functionality of volume, engine, replica, backups is looking good as well.
Checked some of the cases related to engine/replica crash.

[2021-11-09 22:39] #2671 closed

[2021-11-09 22:44] khushboo-rancher opened #3227 "[Backport] [FEATURE] move filesystem expansion into the csi driver"
Backport the feature https://github.com/longhorn/longhorn/issues/2794

[2021-11-09 22:44] khushboo-rancher commented on #3227
@joshimoo If this duplicated, please close this and point me to correct ticket.

[2021-11-09 22:46] khushboo-rancher commented on #2794
I see https://github.com/longhorn/longhorn/issues/2868 in the ready for test state. I will test the encrypted volume with #2868 ticket. Closing this one.

Couldn't find the ticket for backport so created https://github.com/longhorn/longhorn/issues/3227 for the backport to v1.2.x.

[2021-11-09 22:46] #2794 closed

[2021-11-09 23:01] khushboo-rancher commented on #2637
Validation - **Pass**

The e2e test on ubuntu looks good https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/478/# and also performed some manual steps for crashing IM for volume and basic operations.

[2021-11-09 23:01] #2637 closed

[2021-11-09 23:02] khushboo-rancher commented on #3194
Keeping this one open as we are analyzing the e2e test failures on branch v1.2.x.

[2021-11-09 23:28] khushboo-rancher opened #3228 "[BUG] Tooltip of a backup taken shows 0 size if a snapshot is taken just before it"
**Describe the bug**
Any backup taken just after a snapshot or a recurring backup without writing in interval shows 0 size in the tool tip. This is little confusing as the progress of the backup shows 100% (backup status) but the size shows 0 (snapshot size).
<img width="1124" alt="Screen Shot 2021-11-09 at 3 13 56 PM" src="https://user-images.githubusercontent.com/60111667/141021608-7b0127fc-ce8d

[2021-11-09 23:43] khushboo-rancher commented on #3128
Validated with the master - `11/09/2021`

Validation - **Fail**

The recurring backup is creating backup/snapshot with no change in the head now but found an issue in retain count of the backup.

For recurring backup job retain count -3, the backups in the backups in backupstore is (retain count + 1) i.e. 4
Details of the recurring job in screenshot:
<img width="1766" alt="Screen Shot 2021-11-09 a

[2021-11-09 23:44] khushboo-rancher commented on #3203
Reopening this as per testing comment https://github.com/longhorn/longhorn/issues/3128#issuecomment-964645102

[2021-11-10 00:21] khushboo-rancher commented on #3128
With further investigation, looks like the deletion happens really slow. It takes time and if the recurring job is frequent like (3 mins and 5 mins), the backups in the backupstore appear more than the retain count.

Initially I had recurring backup scheduled in every 5 mins and I was not writing any data in between the two backups. In this case I saw 4 backups.
However, when I increased the time

[2021-11-10 00:57] jenting commented on #3226
Could you please check your networking? The longhorn-manager can't access the kube-apiserver, try to disable the firewalld in the nodes.

[2021-11-10 01:26] miketice22 commented on #3226
firewalld is now disabled on all nodes. Still same issue.

[2021-11-10 01:50] miketice22 commented on #3226
For comparison (a working longhorn manager container):
[code]

Now for the problem node:
[code]

I also cannot ping other IPs within the cluster CIDR. So this seems to be a networking thing that I do not know how to solve..

[2021-11-10 02:12] jenting commented on #3226
No idea either, probably need to check the CNI/Host/Firewall related.
Use consider using traceroute related tool to help you trace which part failed.

[2021-11-10 02:18] c3y1huang commented on #3226
Could also try to disable SELinux if it's enabled.

[2021-11-10 02:19] miketice22 commented on #3226
Ok thanks for the replies but I think I figured it out (thanks for the networking tip). When adding the node to the rancher cluster the iptables rules were never written (iptables show no rules at all), this is probably the cause.

Sorry for the noise.

FYI I'm still seeing things like:
[code]

But I'm assuming this is another issue and will try to find a more appropriate place to file that issue.

[2021-11-10 02:25] #3226 closed

[2021-11-10 02:29] kaxing commented on #1805
Validation - **PASSED**

Tested the examples configuration files with following combination, pods outside of the rule will not able to access longhorn-manager resources and the basic operations are working fine with the policies:
- Longhorn: master (20211109)
- Kubernetes: RKE1,  v1.20.12
  - CNI: Canal

Things to be noticed:
- Longhorn UI via Rancher proxy won't go through, additional policies is

[2021-11-10 02:29] #1805 closed

[2021-11-10 03:13] vinid223 commented on #3209
I did try to remove the control-plane for longhorn and deployments but it broke everything and took me an hour to revive the pods manually after reverting the taint. The cattle-system pods kept crashing as well as longhorn could not be accessible.

After fixing all that, I did remove some replicas on a prometheus volume and an InfluxDB volume to remove some load and for now it seems to be better.

[2021-11-10 03:57] derekbit commented on #3128
@khushboo-rancher
Seems the delay of the deletion. Do you know how long is the delay?
Why does the retain count go to normal after increasing the interval?

[2021-11-10 05:29] liushifa opened #3229 "[BUG] mount fail"
Warning  FailedMount  12m  kubelet, k8s-106  Unable to attach or mount volumes: unmounted volumes=[data], unattached volumes=[data default-token-bbvns]: timed out waiting for the condition
  Warning  FailedMount  10m  kubelet, k8s-106  MountVolume.MountDevice failed for volume "pvc-97b1f277-a0d4-434d-b243-3dd9c7e1a311" : rpc error: code = Internal desc = mount failed: exit status 32
Mounting comma

[2021-11-10 05:52] smallteeths opened #3230 "[BUG] longhorn-ui has a warning message in the browser's console"
**Describe the bug**
There is a warning message in the browser's console. as shown

<img width="641" alt="截屏2021-11-10 上午11 50 51" src="https://user-images.githubusercontent.com/27733391/141056757-2552efe6-14ae-4395-ba62-fdccb336c477.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume
2. Check the browser console

**Expected behavior**
The time format returned by the back-e

[2021-11-10 06:01] derekbit commented on #3128
@khushboo-rancher
After testing again, the deletion times are both 4 seconds averagely in my environment with in-cluster nfs and minio.
I guess the long deletion time in your test might be due to the network, underlying storage performance and so on. Could you please help to check it?
I also think it is not in the scope of this feature.

[2021-11-10 06:01] jenting commented on #2611
Let's use #2570 to track this issue, close this one.

[2021-11-10 06:01] #2611 closed

[2021-11-10 06:12] innobead commented on #3128
Agree with @derekbit . @khushboo-rancher let's create another issue to track inconsistent count? Thanks.

[2021-11-10 06:54] innobead commented on #3225
cc @khushboo-rancher

[2021-11-10 08:25] maxiloEmmmm commented on #1058
v1.2.2 the same problem arises
![image](https://user-images.githubusercontent.com/16779121/141076797-06adf5b0-9232-49de-8029-1f7a0fcef8d2.png)

[2021-11-10 08:35] 0x4c6565 commented on #3225
Just to update - this issue appears to have resolved without any intervention, however was apparent for at least an hour post-installation. Odd!

I'll close this for now, and reopen with further details if it does reoccur

[2021-11-10 08:35] #3225 closed

[2021-11-10 10:41] flippy1345 commented on #3211
Thx for the response I will check that.

[2021-11-10 13:01] fkocik commented on #3178
Here the results on affected node epimethee today :

[code]
https://github.com/fkocik/lh-support/blob/main/lh-trace.tar.gz?raw=true

It's a bare-metal setup so I do not have enough resources to reproduce on another Linux distro. I can try to downgrade kernel in order to switch to LTS stream. Don't know if it may help ?

Another interesting result I found is this parameter of the runtime engine (**

[2021-11-10 13:15] modzilla99 commented on #3167
Same problem here! I tried adding the backup-target and backups do work. I have a lot of unfinished backup jobs and some that errored out, same as @MarkMckessock I assume.

[code]

I was able to remove those leftovers by running those 2 commands:
[code]
Since it still doesn't work for me, I attached the support-bundle and the snapshotcontroller-logs as well:

[longhorn-support-bundle.zip](https://

[2021-11-10 13:20] modzilla99 commented on #3167
Yeah that's because the tolerations aren't correctly applied. In addition to the entries in the helm-values, the toleration has to be changed in the UI as well:

![grafik](https://user-images.githubusercontent.com/32171364/141120199-09a9b67e-87ae-43e3-acbd-c5449fafac14.png)

[code]

[2021-11-10 18:38] khushboo-rancher commented on #3225
Looks like you are accessing the Longhorn using Rancher proxy. I'm suspecting may be some pods/services in Rancher system was not up at this time. Next time if you encounter this can you please check the pods and services in the Rancher system?

[2021-11-10 20:46] khushboo-rancher opened #3231 "[BUG] Sometimes backup count is inconsistent if recurring job is frequent (1 min - 10 min)"
**Describe the bug**
For recurring backup job with frequency (1 min - 10 min) with no change in data in the volume, the backup count in the backup store appears more than the retain count.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a K8s cluster with instance in us-east-2 region
2. Create a volume, write some data into it. (100 MB)
3. Create an S3 bucket in us-west-2 region (GCP)

[2021-11-10 22:16] khushboo-rancher opened #3232 "[BUG] recurring job icon doesn't reflect correct color pattern and tooltip."
**Describe the bug**
The recurring job icon on the volume does show the right color for the volumes. For volume with no scheduled jobs also shows yellow icon. Also, there is no information on the tooltip.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 volumes.
2. For 1 volume, set recurring job
3. See the volume page, both volumes show yellow icon in the schedule column.

**Expecte

[2021-11-10 22:30] khushboo-rancher commented on #3128
Created an issue for the inconsistency in backup count https://github.com/longhorn/longhorn/issues/3231.

Validation - **Pass**

Validated the below scenarios:
1. The RWO and RWX volume with some data in between the snapshot/backup recurring job.
        Jobs scheduled fine.
2. The RWO and RWX volume with no data in between the snapshot/backup recurring job.
        Jobs scheduled fine.
3. Crashin

[2021-11-10 22:30] #3128 closed

[2021-11-10 22:42] khushboo-rancher commented on #3168
Validated this with master-head `5db6c8d` and v1.2.x-head `45144ea`

Validation - **Fail**

I enabled recurring backup job, I didn't see any progress on the backup, it always show 0% an then completed.

<img width="1355" alt="Screen Shot 2021-11-10 at 2 39 06 PM" src="https://user-images.githubusercontent.com/60111667/141205548-d59cd66d-37fb-4f4e-bf38-833232dd2e40.png">

[2021-11-10 23:06] khushboo-rancher commented on #3203
Validated on v1.2.x-head `11/10/2021`

Validation - **Pass**

Validated the upgrade case from v1.2.2 to v1.2.x  and fresh installation of v1.2.x, recurring job is getting triggered even though there is no change in the data.
Detailed testing is done on master as per https://github.com/longhorn/longhorn/issues/3128

[2021-11-10 23:06] #3203 closed

[2021-11-10 23:06] jenting commented on #3168
The backend code (manager/engine) code hasn't merged yet.

[2021-11-10 23:09] khushboo-rancher commented on #3168
Thanks @jenting for the info, @smallteeths Can you help in moving this to `ready for testing` bucket once the backend code is merged.

[2021-11-11 01:03] innobead commented on #3168
@smallteeths I think we missed https://github.com/longhorn/longhorn/issues/3035 needed to merge first. Could you help revert those PRs and have draft PRs to merge until https://github.com/longhorn/longhorn/issues/3035 is ready? Thanks.

[2021-11-11 01:06] smallteeths commented on #3168
ok

[2021-11-11 01:54] c3y1huang opened #3233 "[TEST] nightly build sometimes fails for recurring job cases"
**What's the test to develop? Please describe.**
The tests sometimes fail, mostly caused by the snapshot/backup counter. Possibly a side-effect from https://github.com/longhorn/longhorn/issues/3203.

**Describe the items of the test development (DoD, definition of done) you'd like.**
- [x] Have consistent test results.

**Additional context**
https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x

[2021-11-11 01:56] c3y1huang commented on #3233
@chanow816 can you take this one?

[2021-11-11 02:36] jenting commented on #3229
Could you plz provide some basic env information to us? Is this volume RWO or RWX volume?

[code]

[2021-11-11 02:58] jenting commented on #2570
We might need to consider the validating/mutating admission webhook #791 along with this issue to auto-correct the invalid user input, for example:
- if the user input <true|false>, the Longhorn manager help auto-correct to <"true"|"false"> and updates the Setting CR.
- if the user input value but not in our value range, the Longhorn manager falls back to use the default value and updates the Sett

[2021-11-11 07:29] smallteeths commented on #3228
The data used on the front end is the `snapshotList` and the current `volume's backupStatus`. If we need to display the actual size of the backup, it is better to add the actualsize property to the `volume's backupStatus` via the back end .
@jenting. cc @innobead

<img width="740" alt="截屏2021-11-11 下午2 53 14" src="https://user-images.githubusercontent.com/27733391/141255066-ffe1d789-613a-4628-90e2

[2021-11-11 08:24] bk201 opened #3234 "[BUG] VM migration is stuck because destination pod can't attach a migrating volume"
**Describe the bug**
This was observed during implementing the upgrade feature of Harvester. We want to allow zero-downtime upgrades, thus we perform the upgrade with this flow:

For each node:
- Wait for the previous upgraded node reboot and back.
- Live migrate VMs on the node to other nodes.
- Drain the node.
- Do node upgrade (patch OS, load images, etc).
- Reboot the node.

The issue happens

[2021-11-11 08:47] kaxing commented on #3217
Validation - **PASSED**

Tested with master image set (ui: bdb3260).

The default unit will be Gi instead of Mi, even when the volume is less than a Gi:
![image](https://user-images.githubusercontent.com/602540/141266185-178afe9d-8f98-4e1a-9707-889853cefa27.png)

[2021-11-11 08:47] #3217 closed

[2021-11-11 08:58] shuo-wu commented on #3234
The fix for issue https://github.com/longhorn/longhorn/issues/3206 probably works for this bug as well.

[2021-11-11 09:37] MeranaTona opened #3235 "[QUESTION] Longhorn Web-UI not loading"
**Question**
Hi all,

I cant reach the Longhorn Web-UI.

I followed the Longhorn installation guide via helm: https://longhorn.io/docs/1.2.2/deploy/install/install-with-helm/ (including successfull requirements check). Results:
[code]

Next, I installed a nginx ingress controller, by following the "bare metal" guide on https://kubernetes.github.io/ingress-nginx/deploy/#bare-metal. I added the line

[2021-11-11 09:45] kaxing opened #3236 "[BUG] Volume size in Mi will be increased in the volume expanding dialog"
**Describe the bug**
As in latest master, expanding volume size will default to Gi with the Expand Volume dialog.
If the volume is less than a Gi, it will be automatically converted into Gi, but the size will be increased.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Volume with size in Mi, and make it less than a Gi, for example 111Mi(~=0.1083984375Gi)
2. Expand the volume from th

[2021-11-11 10:05] kaxing commented on #3121
Validation - **PASSED**

Tested with master image set (ui: bdb3260)

When the backup volume and the disaster recovery volume with the same name on the same cluster, there will be popover showing the reason and hinting to use a different name.

![image](https://user-images.githubusercontent.com/602540/141278541-becf8028-4686-48cb-89b1-7e5cba014b92.png)

[2021-11-11 10:05] #3121 closed

[2021-11-11 12:07] muqp opened #3237 "[QUESTION] pod can not attach volume."
**Question**
I have a k8s cluster with single node.The longhorn replicas is one.Pod can not attach the volume.The PV and PVC status is bound.Longhorn UI show the volume's state switches between attaching and detaching.
This is a screenshot:
![image](https://user-images.githubusercontent.com/52477868/141294962-496450ca-5e05-4f94-9f15-664d38c1aaf6.png)
![image](https://user-images.githubusercontent.

[2021-11-11 17:45] myoung34 opened #3238 "[BUG] UI sometimes does not show snapshots"
**Describe the bug**

I just set up longhorn via helmgenerator (helm chart 1.2.2)

Im trying to set up snapshots for a new volume

Sometimes the UI lets me attach the schedule, sometimes it doesnt
Sometimes the UI shows the schedule and ability to take snapshots, sometimes it doesnt.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a volume
2. Add an existing snapshot
3. Get angry and r

[2021-11-11 18:01] myoung34 commented on #3238
[code]

[2021-11-11 19:22] meldafrawi commented on #3210
Validation: **PASSED**

Longhorn Version: **master** `Thu Nov 11 09:20:28 PM EET 2021`

Test Steps:

1. Prepare a Backup
2. Create a StorageClass with fields `migratable: true` and `fromBackup` set.
3. Use the StorageClass to create a PVC with the `accessMode` `ReadWriteMany`
4. Attach the volume.
5. Start the migration by sending an attach request with parameter `hostId` set to another node
6. Ch

[2021-11-11 19:47] khushboo-rancher commented on #3194
Validation - **Pass**

The e2e tests look good on v1.2.x https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-lh-tests-ubuntu-amd64/44/
The failed tests are either flaky or being tracked by other issues.

Also, the basic operation of Volume, backup, replica, engine is working fine.

[2021-11-11 19:47] #3194 closed

[2021-11-11 20:19] PhanLe1010 commented on #2527
Leave a note here about a race condition that I think should be solve after doing this refactoring.

* Initially, the problematic volume was on node `us1sxlxk80262` in the user's cluster
* At `2021-11-09T23:30:40.164647072Z`, all replicas of the volumes failed (may be due to network issue): `2021-11-09T23:30:40.164647072Z time="2021-11-09T23:30:40Z" level=info msg="All replicas are failed, set eng

[2021-11-11 21:22] chuegel commented on #3105
Same issue here with 1.2.2

![image](https://user-images.githubusercontent.com/6955465/141370915-6c8ce91c-ac6e-4651-9878-efaeb67ca974.png)

[2021-11-11 23:08] meldafrawi commented on #3223
Validation: **PASSED**

Longhorn Version: 1.2.x `Fri Nov 12 01:07:07 AM EET 2021`

Test steps:
1. Prepare a Backup
2. Create a StorageClass with fields migratable and fromBackup set.
3. Use the StorageClass to create a PVC with the accessMode ReadWriteMany
4. Attach the volume.
5. Start the migration by sending an attach request with parameter hostId set to another node
6. Check if the restore is

[2021-11-11 23:09] #3210 closed

[2021-11-11 23:09] #3223 closed

[2021-11-11 23:38] khushboo-rancher opened #3240 "[Backport] Support Filesystem expansion for encrypted volumes"
Backport for https://github.com/longhorn/longhorn/issues/2868

[2021-11-11 23:47] khushboo-rancher commented on #2868
Created https://github.com/longhorn/longhorn/issues/3240 for backport.

Validation - **Pass** on master-head `11/11/2021`

Validated the expansion with below scenarios
1. RWO encrypted volume created using Longhorn UI.
2. RWX encrypted volume created using Longhorn UI.
3. RWO and RWX encrypted volume created using storage class.
4. Restored encrypted volume expansion.

Logs:
[csi.log](https://gith

[2021-11-11 23:47] #2868 closed

[2021-11-12 00:42] jenting commented on #791
I'll implement the CRD structural schema first by leveraging controller-gen.

[2021-11-12 00:57] jenting commented on #3235
Could you please provide the screenshot?

You're using the Baremetal, usually, I use the [MetalLB](https://metallb.universe.tf/) in front of it.
But personally, I use NodePort to access the LH when developing.
Could you please check if the NodePort works for you?

[2021-11-12 01:00] jenting commented on #3238
Could you please open the browser developer mode to see if there is any error?
Besides that, if you are using Traefik 2.x, you need to check this [KB](https://longhorn.io/kb/troubleshooting-traefik-2.x-as-ingress-controller/).

[2021-11-12 01:06] jenting commented on #3237
Would you please provide us with the support bundle? We'd like to see the CSI-related plugins log.
You could attach to here or send to longhorn-support-bundle@suse.com

[2021-11-12 01:08] jenting commented on #3237
@muqp
Besides that, we notice that you're using Kubernetes 1.16.3, but start from Longhorn v1.2.0, the minimal supported Kubernetes version is 1.18.x. https://longhorn.io/docs/1.2.0/deploy/important-notes/#notes

[2021-11-12 01:14] muqp commented on #3237
I have send the report to this email.My id is muqipeng@cetccloud.com.Wish your help.

[2021-11-12 01:14] jenting commented on #3229
Besides that, it'd good to provide us with the support bundle, to help us see the CSI-related log.
You could attach it here or send it to longhorn-support-bundle@suse.com.

[2021-11-12 01:18] muqp commented on #3237
Sorry.It's my fault.My longhorn version is 1.0.0.

[2021-11-12 01:29] jenting commented on #3237
We did a lot of enhancement after 1.0.0, not sure what's the reason you're still using 1.0.0 version?

[2021-11-12 01:31] muqp commented on #3237
Which version is appropriate with kubernetes 1.16.3.

[2021-11-12 01:45] jenting commented on #3178
@joshimoo Do you have time to see/analyze the lh-trace result?

[2021-11-12 01:46] jenting commented on #3237
Longhorn 1.1.2 https://longhorn.io/docs/1.1.2/deploy/install/#installation-requirements

[2021-11-12 01:53] muqp commented on #3237
OK.I'll try.

[2021-11-12 02:37] jenting commented on #3184
We could only see the following CRs have data inside it
- engineImages.longhorn.io
- instancemanagers.longhorn.io
- nodes.longhorn.io
- settings.longhorn.io

Besides that, we did not see any NodePublish/NodeUnpublish in the CSI plugin log. Are you sure this is the same cluster?

[2021-11-12 02:45] jenting commented on #3167
In your case, we could see more than one issue
- volume `pvc-7147ae2b-06cb-4d13-b8e6-35b1fb57762f-e-7d2e91a7` engine is not running -> Is this volume detached?

- some volumes not found
  - `pvc-c78ba665-2b77-46c2-a5d1-a0ad1c51547d`
  - `pvc-3d55f015-59bc-4fea-b814-2ce2f688d020`
  - `pvc-41787a70-90e4-4fcd-a248-78b8e0f60e84`
Are these volumes still exist when performing CSI snapshotter?

[2021-11-12 05:20] innobead commented on #3231
Except for the longer deletion you suspected, were all the backups successful, or some of them failed but all counted to the count of backup here? If that's the case, it seems something related to the flaky tests @chanow816 fixed recently?

cc @jenting

[2021-11-12 05:30] innobead opened #3241 "[FEATURE] Mutating/Validating admission webhook"
**Is your feature request related to a problem? Please describe.**

This is part of #791, besides having schema validation, we need to have validation hooks to integrate into Kubernetes to validate or mutate Longhorn CRs.

**Describe the solution you'd like**

Have our resources validation to hook into Kubernetes CR CRUD flow.

**Describe alternatives you've considered**
N/A

**Additional context*

[2021-11-12 05:31] innobead commented on #2570
We need this, created https://github.com/longhorn/longhorn/issues/3241.

[2021-11-12 05:48] innobead commented on #3236
It's a side effect for #3217 , but for a better experience, maybe we should adapt to the right unit of the current volume size.

[2021-11-12 06:22] smallteeths commented on #3236
The size returned by the backend is 117440512. 117440512 / 1024 / 1024 = 112Mi, and the frontend is showing the correct size. I'm not sure why I create a volume of 111 Mi and the backend returns 112 Mi. Is this because the block storage must meet some condition? @shuo-wu  cc @kaxing

<img width="599" alt="截屏2021-11-12 下午2 18 24" src="https://user-
images.githubusercontent.com/27733391/141419869-bb

[2021-11-12 06:41] innobead commented on #3236
ref: https://github.com/longhorn/longhorn/issues/2624 this is on purpose due to this fix to make sure the volume size is times of 2*1024*1024 B.

[2021-11-12 06:41] #3236 closed

[2021-11-12 07:10] innobead commented on #3174
@shuo-wu you probably need to update this example again as per your latest PR change for QA reference.

[2021-11-12 07:13] chanow816 commented on #3233
Most failed case due to timing issue. I sent PR[#794](https://github.com/longhorn/longhorn-tests/pull/794) for review, thanks

[2021-11-12 07:40] kaxing commented on #3191
Validating in progress,

Testing with Rancher v2.6.2 + Longhorn master image set (ui: bdb3260), didn't see further XHR related error throughout the basic operations when accessing the UI via the proxy.

But current response will always return schema in http, checking further details on this.

[2021-11-12 07:41] muqp commented on #3237
I got the log of instance manager which show "Backing-store longhorn is not supported".What does it mean?

[2021-11-12 07:59] kaxing commented on #3236
Adding a note here about current size limit for the future traveler:

[code]

[2021-11-12 10:55] sseneca commented on #3184
Yes it is definitely the same cluster.

[2021-11-12 12:26] bodleytunes commented on #2863
Hey I thought I had this fixed but it seems after building my clusters again with what I think were the right settings, I'm still having issues where the new pod wont start

![image](https://user-images.githubusercontent.com/619239/141466864-67ef577e-cdbc-433c-b6b7-47494f8000bd.png)

![image](https://user-images.githubusercontent.com/619239/141466889-bc8dee2f-7f25-4c66-a712-e0c00a623af1.png)

I'm

[2021-11-12 12:28] bodleytunes commented on #2863
[code]

[2021-11-12 12:34] bodleytunes commented on #2863
OK seemed to finally mount the volume but must have taken 12+ minutes ! :(  Not sure if this is because of a setting I have or whether its some change in the newer versions of k3s or whatever?

[2021-11-12 12:53] innobead commented on #3076
ref: https://github.com/longhorn/longhorn/issues/2141

[2021-11-12 12:55] innobead commented on #3076
@PhanLe1010 please also come out the test skeleton for this new test case in longhorn/longhorn-tests. Thanks.

[2021-11-12 13:27] rudolfbyker commented on #1815
Question about the implementation (I can't find the answer in the docs): Does this do some kind of fast/instant copy-on-write, or is all data copied up front? I need a way to create near-instant clones of volumes, and I was wondering whether CSI volume cloning in Longhorn will be a good fit.

[2021-11-12 17:18] khushboo-rancher commented on #3231
In this case, all the backups were successful.
Only the intentional failure which I interrupted, went not successful.

[2021-11-13 10:44] maxiloEmmmm opened #3242 "[BUG] Volume attachment take long time, which may be caused by the replica controller queue being flooded by the backing image events"
**Question**
there is no problem when there are few resources
but very slow for attach detach on more backup and restore
pod 40+, some pod includes multi volume, exp: 10+
every pod has one volume base on backing storage class, backing file like os image, size 800M+ or 6G+
volume 250+
backup 40+
restore 40+
**Environment:**
 - Longhorn version: 1.2.2(upgrade from 1.1.2)
 - Kubernetes version: 1.18+

[2021-11-14 00:03] derekyle commented on #1843
I am getting this same error. I just sent my support bundle to Longhorn-support-bundle@rancher.com as well.

[2021-11-15 03:28] derekbit commented on #2955
I've  replaced status.Conditions's `map` datatype with `slice` to follow the k8s status.conditions, and also refactored the related codes.
e.g.
[code]
https://github.com/derekbit/longhorn-manager/commit/09f38141b9b67222c61a19c9fefe456417dc82ef

But while upgrading from v1.2.2 to the patched version, I encountered the datatype mismatching error.
Does anyone have idea about this issue? Or, to upgrad

[2021-11-15 06:19] kaxing commented on #3191
Validation - **PASSED**

tested again with master image set.

No more seeing the error with WSS.

---

The https problem with Rancher Proxy will not interfering the usability. Will track in a new issue once had more clues.

[2021-11-15 07:05] innobead opened #3243 "[TASK] Make all pipelines running on K3s + SLES by default"
**What's the task? Please describe.**

Right now, we are running test pipelines on RKE1 when the arch is amd6, but K3s for amd64. We should make the execution simple w/o any implicit design like this.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] All pipelines should run on K3s amd64/arm64
- [x] Use the latest SLES images by default instead of Ubuntu
- [ ] All pip

[2021-11-15 07:06] innobead commented on #3243
cc @longhorn/qa

[2021-11-15 07:29] kaxing opened #3244 "[Backuport][BUG] Longhorn UI: XHR request URL sometimes wrong when UI is proxied"
Backport fix from #3191 (longhorn/longhorn-ui@45144ea5eed2fc79eba728ffb2a33a11e87d28a7)

[2021-11-15 08:32] #3237 closed

[2021-11-15 08:32] muqp commented on #3237
I have resolved this problem with rebuild tgt.

[2021-11-15 10:38] kaxing opened #3245 "[BUG] Actions list is not return with https via Rancher Proxy"
**Describe the bug**
When accessing Longhorn UI from Rancher with https(and valid certificate) from the WebSocket API, the http can be seen in returning data.

**To Reproduce**
Steps to reproduce the behavior:
1. With Rancher server
2. Click on Longhorn from main menu
3. Open Longhorn UI from overview
4. Click on Volume (with Chrome DevTools open and recoding the connection)

**Expected behavior**

[2021-11-15 11:25] c3y1huang commented on #2285
The components that get affected are the replica process, engine process, and iscsiadm. Currently, the challenge is how to overcome that Multus CNI is not visible on the host network to be used by iscsiadm.

[2021-11-15 11:29] shuo-wu commented on #3174
This result should keep unchanged.

[2021-11-15 11:31] shuo-wu commented on #3174
There is no need to create another PR for the v1.2.x backport. All we should do is update the default backing image manager in the deployment file.

[2021-11-15 11:47] shuo-wu commented on #2863
When did your volume get **attached**? In the 1st step, we need to check which step takes such a long time.

BTW, notice that you are using v1.2.0, which is affected by a critic bug https://github.com/longhorn/longhorn/issues/2964. I would suggest you upgrade to v1.2.2 to avoid it.

[2021-11-15 11:58] innobead commented on #2285
@joshimoo @keithalucas any concerns for what @c3y1huang described? I don't think we need to deal with the communication between iscsi client and server (longhorn engine) over the storage network, but what we do care about are actually below:
- data traffic between engine and replicas
- data traffic between replicas

[2021-11-15 12:11] innobead commented on #2842
@meldafrawi is this still valid? If yes, please update the ticket description to describe what the source of PRs needs to backport?

[2021-11-15 13:12] hendra-2020 commented on #3000
This has been happening to me on several occasions even for RWO volumes on longhorn v1.2.2, rke2 1.21.2, ubuntu 20.04.3. They happened to me after node reboot.

[2021-11-15 14:27] modzilla99 commented on #3167
I don't know what the `-e-7d2e91a7` in the pvc refers to, but `pvc-7147ae2b-06cb-4d13-b8e6-35b1fb57762f` is attached and healthy.
![grafik](https://user-images.githubusercontent.com/32171364/141797903-0dd8645e-9332-4784-8e6c-f1384cade739.png)
![grafik](https://user-images.githubusercontent.com/32171364/141797967-d15a04c4-a533-4d12-9786-124ceb549c8e.png)

Sorry I am not sure what exactly you mean b

[2021-11-15 14:35] modzilla99 commented on #3167
Oh it started to work. Unfortunately I did do a couple things at a time, so I don't know what fixed it.

Option A: Waiting
Option B: Deleting all old snapshots
Option C: Restarting the snapshot-controller
Option D: All of the above

[2021-11-15 21:10] PhanLe1010 commented on #2971
Update: some of the CSI sidecar components doesn't work with Kubernetes v1.22 (e.g., the csi-attacher).
So, we also need to update the csi sidecar components not just the k8s dependency

[2021-11-15 21:24] tyzbit commented on #3077
This is also causing backups and snapshots not to be taken:

[code]

[2021-11-15 21:56] meldafrawi opened #3251 "[TASK] Nightly tests: add support for k3s and RKE2 for amd64 architecture."
**What's the task? Please describe.**
Currently we're running nightly integration tests using RKE1 for amd64 arch, and k3s for arm64 arch.
We need to also add support for k3s and RKE2 for amd64 as well

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] add k3s support for amd64 and arm64 arch
- [x] add RKE2 support for amd64 and arm64 arch

**Additional context**
N/A

[2021-11-15 22:13] #3191 closed

[2021-11-16 00:03] PhanLe1010 commented on #2971
Note: We need to add to v1.1.3 release note that this version only runs on Kubernetes >= v1.18

[2021-11-16 00:11] PhanLe1010 commented on #2971
Test steps:

* Follow the manual test steps at https://github.com/longhorn/longhorn-tests/pull/676/files but for Longhorn v1.1.3 version
* Check the following items:
    - Raise K8s version in Helm chart
    - Raise K8s version in Doc, Release note
    - Check the fsGroup permission issue https://github.com/longhorn/longhorn/issues/2964#issuecomment-911993644
    - Check the RWX feature feature

[2021-11-16 00:20] khushboo-rancher commented on #3180
Validated on Longhorn-v1.2.x-head `df6ad60`

Validation - **Fail**

From the recurring Job, it works fine, but the problem still exists in the volume details page.

https://user-images.githubusercontent.com/60111667/141872996-fb848fb3-ed96-40ab-95a0-e63a2420da2d.mov

[2021-11-16 00:26] khushboo-rancher commented on #3230
Validated on Longhorn-v1.2.x-head `df6ad60` and Longhorn master-head - `d250d9c` - `11/15/2021`

Validation - **Pass**

No warning in observed on console. Validated on the Longhorn UI using ingress and Rancher proxy.

[2021-11-16 00:26] #3230 closed

[2021-11-16 00:47] PhanLe1010 commented on #3000
Ok. Even though we cannot reproduce the issue in the lab, I think we should still prevent it from happening by cleaning up the extra default instance manager CRs.

[2021-11-16 01:16] myoung34 commented on #3238
@jenting This did in fact solve it

Thanks!

[2021-11-16 01:16] #3238 closed

[2021-11-16 02:10] shuo-wu commented on #2134
I used Velero to backup & restore some Longhorn resources in https://github.com/longhorn/longhorn/issues/3166#issuecomment-953804773 and it worked.
I think this method can be applied to the configuration-related resource as well. e.g.,
[code]

[2021-11-16 02:12] PhanLe1010 opened #3253 "[TEST] Add unit test to cover 100% replica scheduler logic"
Ref: https://github.com/longhorn/longhorn-manager/pull/1121#pullrequestreview-805620896

[2021-11-16 04:12] kaxing commented on #2438
Validating in progress,

Testing master image set with nfsv3-only worker nodes,

In Scenario 2., when trying to use the NFS as backup target user will now see this error notification:
![image](https://user-images.githubusercontent.com/602540/141906636-b843f563-d630-42f0-b529-9809105eb6e4.png)
[code]

[2021-11-16 09:08] chriscchien opened #3254 "[TASK] Analyze/Fix Ubuntu upgrade test fail cases"
**What's the task? Please describe.**
In nightly build, Ubuntu upgrade test had some fail cases
https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-upgrade-tests-ubuntu-amd64/498/#showFailuresLink

**Describe the items of the task (DoD, definition of done) you'd like.**
- [ ] Make sure test result consistency

**Additional context**

Failed cases type:
- Recurring job -

[2021-11-16 09:20] kaxing commented on #2438
Validation - **PASSED**

Tested with master images.

On cluster with with NFSv3-only kernel installed,
The message will be shown as mentioned in above message.
And the Backup Target won't work.

On cluster with with NFSv4-only kernel installed,
There won't be info or error messages.
And the Backup Target can set to the NFSv4 server.

[2021-11-16 09:20] #2438 closed

[2021-11-16 09:22] kaxing commented on #3218
Validation - **PASSED**

Tested with latest v1.2.x images.

Please refer to this comment for the details: [2438#issuecomment-970077110](2438#issuecomment-970077110)

[2021-11-16 09:22] #3218 closed

[2021-11-16 09:28] kaxing commented on #3244
Validation - **PASSED**

Tested with latest v1.2.x images(ui: 742a5d7), the xhr/wss errors no longer shows.

[2021-11-16 09:28] #3244 closed

[2021-11-16 10:28] tmorin commented on #2438
Thank you!!! :rocket:

[2021-11-16 10:36] shuo-wu opened #3255 "[BUG] Instance process is still running when the corresponding engine/replica CR is gone"
**Describe the bug**
When a replica is created with desired state `running` then gets removed immediately, the following case may be triggered:
1. The controllers send the instance process creation requests to the instance manager
2. The instance manager pods launch a process for it. But the instance manager CR has not synced with the pod and updated the instance map.
3. The controllers find the d

[2021-11-16 11:52] c3y1huang opened #3256 "[BUG] YAML in Recurring Snapshots and Backups page is out of format"
**Describe the bug**
![Screenshot-2021-11-16-19:31:45](https://user-images.githubusercontent.com/22583541/141980228-941f74ec-8b45-4edb-815c-5c5099c238e0.png)

**To Reproduce**
https://longhorn.io/docs/1.2.2/snapshots-and-backups/scheduling-backups-and-snapshots/#set-up-recurring-jobs-using-a-longhorn-recurringjob

**Expected behavior**
Should be formatted.

**Log**
`None`

**Environment:**
`None`

[2021-11-16 17:20] derekbit commented on #3176
Rough design note
- a LRU cache
   - configurable cache size
   - key: offset, value: block

- IO path
  - read
[code]
  - write
[code]
- TBD
   - cache drop, need or not?

[2021-11-16 19:15] riazarbi commented on #2559
Hello, I'm chasing a similar problem - please let me know if I should create a separate issue. Happy to generate support bundles etc, just give me guidance.

The issue emerged after upgrading from longhorn v 1.1.2 to v 1.2.2. I actually attempted to upgrade from 1.1.2 to 1.2.0 but encountered issues related to backups disappearing, so I rolled back and waited for the 1.2.2 release.

I am running o

[2021-11-16 21:35] PhanLe1010 opened #3257 "[Backport] Cannot migrate replicas in an evicting disk to a new disk on the same node when the node level hard affinity is applied."
https://github.com/longhorn/longhorn/issues/3076

[2021-11-16 21:39] riazarbi commented on #2559
Upgraded my cluster to k3s `v1.21.5` and the deployment completed.

So I no longer have an issue, but leaving my comment above for posterity.

[2021-11-16 22:08] PhanLe1010 opened #3258 "[TASK] Change the CSI sidecar images from upstream repo to Longhorn repo"
Longhorn v1.2.0 - v1.2.2 use the CSI sidecar images  from upstream repo https://github.com/longhorn/longhorn/blob/b6b6e4824d1949da6d5a1774c97242b97d6a2cb6/chart/values.yaml#L30-L42
We want to change them to point to the mirrored images in our Docker hub Longhorn repo https://hub.docker.com/u/longhornio

[2021-11-16 23:20] PhanLe1010 commented on #3258
Test steps:
* Verify that new installation using helm/kubectl is ok
* Verify that Upgrading from older version to this version is ok for both helm and kubectl
* Verify that that installation/upgrading by helm/kubectl are ok when using a private registry. See the [doc](https://longhorn.io/docs/1.2.2/advanced-resources/deploy/airgap/#using-a-manifest-file) for instruction about how to use private re

[2021-11-17 00:19] innobead commented on #2839
Closing due to the integration is ready in each component repos and it will be periodically scanned and reported in the fossa dashboard.

cc @jenting

[2021-11-17 00:19] #2839 closed

[2021-11-17 01:04] TrooperT commented on #2259
I am also curious as to the status of longhorn supporting an ipv6 only cluster.

[2021-11-17 01:05] #3256 closed

[2021-11-17 01:06] meldafrawi opened #3261 "[BUG] can't reset Backup Target Credential Secret"
**Describe the bug**
I can see that there is an error when setting Backup Target Credential Secret to empty value

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn
2. Deploy testing backupstore and it's secret using `https://raw.githubusercontent.com/longhorn/longhorn-tests/master/manager/integration/deploy/backupstores/minio-backupstore.yaml`
3. Set Backup Target to `s3://bac

[2021-11-17 01:19] jenting commented on #3261
Related PR https://github.com/longhorn/longhorn-manager/pull/970

[2021-11-17 01:23] jenting commented on #811
Regression issue #3261

[2021-11-17 03:33] ayr-ton commented on #1815
@rudolfbyker This should not be faster than creating a new replica in an existing volume, I believe. So no instant copy-on-write.
Have you tested the existing snapshot functionality?

[2021-11-17 05:05] kaxing commented on #811
Testing with [minio-backupstore.yaml] (https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/backupstores/minio-backupstore.yaml
) example, there is error message as situation described in 3261,

![image](https://user-images.githubusercontent.com/602540/142137816-f284e3dd-3614-4eaa-8278-8aeebd040847.png)

Check the secret data it doesn't seems to have any space or new line,
[code]

dec

[2021-11-17 05:07] jenting opened #3264 "[TEST] Maintain only one single source of backupstore yaml"
**What's the test to develop? Please describe.**

At longhorn-tests repo, there are backupstore YAML manifests https://github.com/longhorn/longhorn-tests/tree/master/manager/integration/deploy/backupstores
Also, in longhorn repo, there are the same backupstore YAML manifests https://github.com/longhorn/longhorn/tree/master/deploy/backupstores

We could consider remove the backupstroe YAML manifest

[2021-11-17 05:13] jenting commented on #2559
Thank you @riazarbi
It looks like Kubernetes version issue?

@taxilian Had you fix this issue in the end?

[2021-11-17 05:47] innobead commented on #811
@jenting Please help backport this to 1.2.x and 1.1.x. Thanks.

[2021-11-17 06:03] jenting commented on #3081
Use the newly created issue to track, close this one.

[2021-11-17 06:03] #3081 closed

[2021-11-17 06:38] innobead commented on #3181
Closing and let's track #3208

[2021-11-17 06:38] #3181 closed

[2021-11-17 06:41] jenting commented on #2662
Use #2438 to track it, close this one.

[2021-11-17 06:41] #2662 closed

[2021-11-17 06:44] jenting commented on #3191
Ref issue #3245

[2021-11-17 06:53] oliverdawid commented on #2662
I wonder if you also consider testing with a server which only supports lower nfs versions as this is the case in #2438

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: JenTing Hsiao ***@***.***>
Gesendet: Wednesday, November 17, 2021 7:41:37 AM
An: longhorn/longhorn ***@***.***>
Cc: Oliver Dawid ***@***.***>; Mention ***@***.***>
Betreff: Re: [longhorn/

[2021-11-17 06:56] #2144 closed

[2021-11-17 06:56] jenting commented on #2662
@oliverdawid you could check the test result https://github.com/longhorn/longhorn/issues/2438#issuecomment-970077110
If anything missing, feel free to tell us, thank u.

[2021-11-17 07:00] derekbit opened #3265 "[IMPROVEMENT] CRD version webhook for longhorn.io/v1beta1 and longhorn.io/v1beta2"
## Is your improvement request related to a feature? Please describe

To avoid the CR operation crash using different CRD version APIs, we need a CRD version conversion mechanism for v1beta1 and v1beta2.

## Describe the solution you'd like

Add CRD conversion webhook for longhorn.io/v1beta1 and longhorn.io/v1beta2.
Ref:
- https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-

[2021-11-17 07:00] jenting opened #3266 "[BACKPORT][BUG] Validate S3 input to make sure they don't contain trailing newline or space"
#811
#3261

[2021-11-17 07:02] jenting opened #3267 "[BACKPORT-v1.1.x][BUG] Validate S3 input to make sure they don't contain trailing newline or space"
#811
#3261

[2021-11-17 07:05] jenting commented on #3265
Reference the command on how to access different API version https://github.com/kubernetes/kubernetes/issues/87231#issuecomment-574731190

[2021-11-17 07:46] innobead commented on #3265
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3265?planning-poker) with ZenHub @derekbit @jenting @joshimoo @shuo-wu

[2021-11-17 08:20] jenting commented on #791
The controller-gen is working with adding the kubebuilder marker, also we change to use [generate-group.sh](https://github.com/kubernetes/code-generator/blob/v0.18.0/generate-groups.sh) script instead of manually installing the binaries `deepcopy-gen`, `client-gen`, `lister-gen`, `informer-gen`.

[2021-11-17 08:24] maxiloEmmmm commented on #3242
this occurs in the second cluster

[2021-11-17 08:25] innobead commented on #791
So longhorn-manager/k8s/generate_code.sh will be updated accordingly?

[2021-11-17 08:26] jenting commented on #791
Yes, you could check the draft PR if you're interested https://github.com/longhorn/longhorn-manager/blob/7f0ccd7452a4f27c0acdbce8946a511376bd351d/k8s/generate_code.sh

[2021-11-17 08:40] jenting commented on #791
@yung reminds me that it's better to make `kubectl explain <crd>` work to explain have a description of each field.

[2021-11-17 10:25] udhayd opened #3268 "[BUG] old Daemonset/engine-image-ei exist during the longhorn upgrade from 1.1.1 to 1.2.0"
**Describe the bug**
Hi Team,
We have upgraded longhorn version from 1.1.1 to 1.2.0 , though longhorn version got updated daemonset/engine-image-ei for "1.1.1" doesnt get removed . We were able to view two daemonset/engine-image-ci .

We have made attempt to delete the old daemonset/engine-image-ci for 1.1.1 version , it gets re-created.

NAME                                      DESIRED   CURRENT

[2021-11-17 11:58] shuo-wu commented on #3265
Leave a note here:
We will check and upgrade the API version for existing CRs here: https://github.com/longhorn/longhorn-manager/blob/2a9411bf733e33c13355c907f05bf7df1fc5dd5e/upgrade/upgrade.go#L180

[2021-11-17 13:47] derekbit commented on #3268
@udhayd
The old daemonset//engine-image-ei manages the v1.1.1 engine image.
After full upgrade to v1.2.0, you can delete the v1.1.1 engine image, and the daemonset//engine-image-ei will be deleted as well.

[2021-11-17 14:45] udhayd commented on #3268
@derekbit

Thanks for your update , this fixes the issue.

We had a understanding the old daemonset/engine-image-ci gets removed automatically after successful upgrade.

I wish if this could be added in future releases it would be more helpful.

Thanks for understanding and your support ! 😀

[2021-11-17 15:13] joshimoo commented on #3227
related issue, they should be tested together than closed.
https://github.com/longhorn/longhorn/issues/3240

[2021-11-17 15:36] taxilian commented on #2559
ultimately I had too many issues with longhorn; lots I like about it, but it wasn't reliable enough for my needs so I've switched to rook/ceph.

[2021-11-17 15:57] innobead commented on #3268
cc @PhanLe1010

[2021-11-17 16:55] christiangonre opened #3269 "[BUG] defaultDataPath option not working on versions higher than 1.1.0"
**Describe the bug**
I´m trying to configure in a new longhorn installation the option` defaultDataPath` to configure a custom path, but it´s not working as expected. I´m using helm to configure it, I tried using the longhorn chart version 1.2.2 and 1.1.2 but it does not works, however, using version 1.1.0 it works without any problem. I think that maybe there is a bug in versions after 1.1.0 that

[2021-11-17 17:58] joshimoo commented on #3003
@khushboo-rancher once the backport PR is merged this requires a full test of all the known rwx failure cases (node failures / pod failures)

I include all the share-manager controller changes, to correctly manage the share-manager, I did not incorporate some of the newer csi changes (NodeStageVolume, etc) since they are much bigger and out of scope for the RWX failure cases.

[2021-11-17 18:43] joshimoo commented on #3146
@timmy59100 the rwx is just a coincidence and most likely unrelated, it just so happens that all the share-manager pods where scheduled to a single node. Therefore this node has a much higher number of volumes running on it.

Can you check the socket connections via `ss -na | wc -l` inside of the longhorn-managers and post the output for comparison.

[2021-11-17 23:10] PhanLe1010 commented on #3268
@udhayd

After all volume migrate to the new engine, the old engine image CR/demonset will be cleaned up automatically after 60 mins. ref https://github.com/longhorn/longhorn-manager/blob/5021be21e51ce49b1df6ec96a723408210baa31d/controller/engine_image_controller.go#L41

Btw, please use Longhorn v1.2.2 instead of v1.2.0. The v1.2.0 has critical bugs that we fixed in v1.2.2

[2021-11-17 23:17] PhanLe1010 commented on #2559
@taxilian  Appreciate your feedback!
It is sad to see you are leaving. Reliability is our top priority and we will continue working toward this goal.

[2021-11-18 00:05] PhanLe1010 commented on #1815
Like @ayr-ton mentioned, this is NOT instant copy-on-write.

Data are copied over to a new volume before the new volume is available for use. After cloning old volume and new volume are completely non-related.

[2021-11-18 00:15] PhanLe1010 commented on #1815
If your use case is that you have pre-existing data and you want to instantly create a new Longhorn volume (or many Longhorn volumes) that contains those data, you may want to take a look at the backing image feature https://longhorn.io/docs/1.2.2/advanced-resources/backing-image/#create-and-use-a-backing-image-via-storageclass-and-pvc.

[2021-11-18 00:21] PhanLe1010 commented on #2971
@kaxing
Please pause on testing this issue. We are planing to revert the commits of this issue because we don't want to drop support for Kubernetes v1.16 and v1.17 in Longhorn v1.1.3
cc @innobead

[2021-11-18 01:32] udhayd commented on #3268
Thanks @PhanLe1010

[2021-11-18 04:16] c3y1huang commented on #2271
[code]
The last 2 remaining failures should be skipped.
1. Longhorn allows the same snapshot name when the volume is different.
2. Suggest skipping if using a custom target path. Ref: https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/node.go#L456-L461

[2021-11-18 05:10] innobead opened #3273 "[TASK] Have a on-demand PR testing for user deployed components"
**What's the task? Please describe.**
To ensure the PRs accidentally break e2e functions after they get merged, we should come out on-demand PR check for running sanity testing to cover major longhorn functions.

Why on-demand? because this can save testing costs instead of always running it when each PR gets updated.

**Describe the items of the task (DoD, definition of done) you'd like.**
- [ ]

[2021-11-18 06:10] jenting commented on #791
Run the E2E `coretest`, all good.

[2021-11-18 07:08] hippopos commented on #3229
i meet the same error. fix with install nfs-utils : yum install nfs-utils

[2021-11-18 08:31] innobead opened #3276 "[EPIC] Clean up deprecated code/implementation"
**Is your feature request related to a problem? Please describe.**
For 1.3, we are working on stabilizing the exposed APIs based on the new version of CRDs, but at the same time, we found some deprecated codes/implementations we should revisit to clean up like deprecated v1alpha1 CRDs.

This is an EPIC to cover related issues to better understand the coverage.

**Describe the solution you'd like**

[2021-11-18 08:33] innobead commented on #3276
cc @joshimoo @shuo-wu @derekbit @jenting

[2021-11-18 08:42] derekbit commented on #3269
@christiangonre
Follow the steps in https://longhorn.io/docs/1.2.2/advanced-resources/deploy/customizing-default-settings/ using helm3
- `curl -Lo values.yaml https://raw.githubusercontent.com/longhorn/charts/master/charts/longhorn/values.yaml`
- update the defaultDataPath

Work as expected on my environment.
Could you try the steps to see if it works for you?

[2021-11-18 09:07] innobead commented on #2971
As per @PhanLe1010 investigation, it's unable to support K8s 1.22 in the coming 1.1.3 w/o updating CSI sidecars because the current sidecars use the deprecated storage storage.k8s.io/v1beta1) APIs which was deprecated and removed from 1.22 already. Also updating sidecars will also require users to have 1.18 minimum version cluster first before upgrading to 1.1.3.

For a patch release, we should fo

[2021-11-18 09:07] #2971 closed

[2021-11-18 11:53] #3268 closed

[2021-11-18 13:15] shuo-wu commented on #3242
If the rate-limited queues of the engine/replica/volume controllers are overwhelmed, the attachment/detachment does get delayed for a long time.
Notice that you mentioned `very slow for attach detach on more backup and restore`, do you mean the cluster works fine if there are not too many restored volumes or backups in the backup target? Or you are just not sure if that can be a cause.

[2021-11-18 13:23] shuo-wu commented on #3229
It seems that you are using RWX volume. Can you check if the requirements are satisfied first? If it does not work, you can then send the support bundle to us.

https://longhorn.io/docs/1.2.2/advanced-resources/rwx-workloads/#requirements

[2021-11-18 17:13] joshimoo commented on #1685
@shuo-wu can you estimate the effort/uncertainty for this part?

[2021-11-18 17:43] #2842 closed

[2021-11-18 22:11] khushboo-rancher opened #3280 "[BUG] Test_settings fails in the integration test"
**What's the test to develop? Please describe.**
The test test_settings fails on the below line
client.update(setting, value="testvalue$test")

logs:
[code]

[2021-11-18 22:22] meldafrawi commented on #3280
Ref: https://github.com/longhorn/longhorn/issues/3261

[2021-11-19 00:24] khushboo-rancher commented on #3180
Validated with v1.2.x and master-head `11/18/2021`

Validation - **Pass**

[2021-11-19 00:24] #3180 closed

[2021-11-19 01:47] maxiloEmmmm commented on #3242
@shuo-wu hi~
v1.1.2
1. not use snapshot(csi snapshot)
2. no pod has mount too many volume

upgrade to v1.2.2
1. use snapshot to restore pvc
2. some pod has mount too many volume
3. after suddenly slowing down, the volume can't be attached for nearly 6 hours, during this period, I tried to manually change the replica CRD field(like spec.logRequest), but the controller did not respond. I found that

[2021-11-19 02:03] jenting opened #3281 "[TASK] Enhance CRD structural schema"
**What's the task? Please describe.**

After the PR https://github.com/longhorn/longhorn-manager/pull/1126 be merged, the Longhorn CRDs with structural schema.
However, because we want to minimize the side effect and minimize the regression failure test, we make all fields under spec/status are `optional`. Also, there are some more ground work we could enhance:
- Missing description under spec/sta

[2021-11-19 03:36] innobead commented on #3281
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3281?planning-poker) with ZenHub @jenting @joshimoo @PhanLe1010 @shuo-wu

[2021-11-19 03:41] shuo-wu commented on #3242
OK, got it! If this issue is related to backup or restore is unclear. The statement is just describing your current env.

What's your replica count when this issue is triggered? 250+ * 3? You can check the replica count on each node via Longhorn UI - Node page.

Notice that the underlying disks of your cluster nodes are all HDD, which are shared by all replicas on each node. If there are too many

[2021-11-19 03:51] innobead commented on #3281
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3281?planning-poker) with ZenHub @c3y1huang

[2021-11-19 05:15] maxiloEmmmm commented on #3242
replica count = volume count * 3,  count is ok
![image](https://user-images.githubusercontent.com/16779121/142568562-7037771d-f202-43b7-93f2-0a964c96ccd5.png)
![image](https://user-images.githubusercontent.com/16779121/142568931-61e5b132-ea2c-49b4-afb8-496a465355a7.png)

each node 3.6T hdd
![image](https://user-images.githubusercontent.com/16779121/142567997-1a978023-0719-4fba-995c-40140889eeff.pn

[2021-11-19 12:18] jenting opened #3282 "[TASK] Align the field under CRD spec/status with it's data type"
**What's the task? Please describe.**

There're three fields with data type `int64` but stores as `string` in the ETCD.
Consider changing these three field stores in ETCD as `int64` in the new Longhorn CRD v1beta2 API version.
The fields are
- https://github.com/longhorn/longhorn-manager/blob/1e91e52/k8s/pkg/apis/longhorn/v1beta1/engine.go#L89
- https://github.com/longhorn/longhorn-manager/blob/1e

[2021-11-19 13:00] cocampbe opened #3283 "[BUG] longhorn volume I/O error, then OS tries to remout fs as read-only"
**Describe the bug**
There is one node in the cluster that has been having issues with longhorn volumes recently. It is the only  node in the cluster that does not have local longhorn storage. The lhv connections are over iscsi. Through out the day, the file system on the volume may have an I/O error. Oracle Linux then tries to keep the file system from getting corrupted by remounting it read-only

[2021-11-19 13:05] cocampbe commented on #3283
[longhorn-support-bundle_701c1dea-2945-4490-bb70-30d9a6eab027_2021-11-19T13-01-40Z.zip](https://github.com/longhorn/longhorn/files/7570386/longhorn-support-bundle_701c1dea-2945-4490-bb70-30d9a6eab027_2021-11-19T13-01-40Z.zip)

[2021-11-19 13:14] cocampbe commented on #3283
I realize 1.1.0 is older. It looks like there may be improvements with this in later releases. I intend to upgrade to 1.2.2 after I can get rancher upgraded to 2.6.1 or 2.6.2.

[2021-11-19 13:24] chanow816 commented on #3003
Test version : v1.1.3-rc1
Validation - **Pass**

Automation script test_rwx.py
Test result : **All rwx test case passed**

[BUG] Track terminating pods in the volume workload status #2874
Test result : **share-manager restart is not observed.**

[BUG] Deleting the only pod in a single replica ReplicaSet causes an attachment failure of the replacement pods when the volume is RWX. #2946
Test result:

[2021-11-19 17:40] #3003 closed

[2021-11-20 01:05] Rojikku opened #3284 "[BUG] Can't deploy Helm chart to Arm64 cluster ; Uncertain why"
**Describe the bug**
[Arm64 Only Cluster.](https://pastebin.com/NBu0Zvv4)
[AMD64 Node In Cluster](https://pastebin.com/NBu0Zvv4)
When deploying the helm chart all my amd64 nodes enter into CrashLoop, as above.

**To Reproduce**
Steps to reproduce the behavior:
1. helm repo add longhorn https://charts.longhorn.io
2. helm repo update
3. helm install longhorn longhorn/longhorn --namespace longhorn-sy

[2021-11-20 01:31] chris93111 commented on #2203
Hi any update ?

[2021-11-20 02:27] derekbit commented on #3284
@Rojikku
Could you please check if the open-iscsi is installed correctly on your arm64 nodes?

[2021-11-20 12:30] bengray2 opened #3285 "[DOC] Add information about encryption algorithm to documentation"
**Is your feature request related to a problem? Please describe.**
The documentation page for volume encryption contains no information about the encryption algorithms & modes used for encryption in transit or at rest.   This information is often required by IT Security managers or compliance authorities.

**Describe the solution you'd like**
Add a summary about what encryption algorithms are used

[2021-11-20 13:53] derekbit commented on #3285
@bengray2
The volume encryption leverages dm-crypt LUKS and cryptsetup. The default encryption algorithm of cryptsetup is aes-xts-plain64 ( AES as cipher and XTS as mode of operation).

Ref:
- https://github.com/longhorn/longhorn/issues/1859
- (longhorn-manager/csi/crypto/luks.go](https://github.com/longhorn/longhorn-manager/blob/42f27d4013d8624c3f3b5c9e5f020550709fe120/csi/crypto/luks.go#L27)
- [

[2021-11-20 15:33] Rojikku commented on #3284
[code]
@derekbit Beautiful.
Raspbian Lite did not come with open-iscsi, great call.

That's my bad for not reading the prerequisites, and assuming it said "You need helm and kubernetes."
All my nodes are working now, and it was as simple as installing the package and waiting a few moments.

Thanks a ton!

[2021-11-20 15:33] #3284 closed

[2021-11-21 01:50] #2366 closed

[2021-11-21 01:50] #1812 closed

[2021-11-21 16:05] derekbit commented on #3207
@rlex

Sorry for being late reply. I can reproduce the issue by increasing the power outage period.

I noticed the error messages in the reboot node' kubelet log. The root cause is that the connection to CSI driver was broken, so the remove of vol_data.json in UnmountVolume.TearDown cannot be executed and lead to the Rmdir failure of the old volume mountpoint.

So, there were lots of error message

[2021-11-21 16:29] dagan opened #3286 "Allow user-defined manifest templates for controlled pods/jobs"
**Is your feature request related to a problem? Please describe.**
The complex requirements of secured/hardened clusters sometimes require custom labels, annotations, or sidecars to meet security and compliance requirements. The DaemonSets and Deployments associated with Longhorn are customizable via the Helm chart, but the workloads managed by longhorn-manager (e.g. instance managers and jobs) ar

[2021-11-22 01:45] chanow816 commented on #3221
Passed in recent build

[2021-11-22 01:45] #3221 closed

[2021-11-22 01:49] chanow816 commented on #3219
Close this because now it's product issue and planed fix in v1.3.0

[2021-11-22 01:49] #3219 closed

[2021-11-22 01:50] chanow816 commented on #2748
Not happened in recent build
https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/496/
https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/497/

[2021-11-22 01:50] #2748 closed

[2021-11-22 03:11] kaxing commented on #3267
Validation - **PASSED**

Tested with v1.1.3-rc1.

There will be an error notification from the UI, while the encoded data contains incorrect format:
![image](https://user-images.githubusercontent.com/602540/142795467-d798ea18-2ef8-4775-a3c6-4a65d8fff75a.png)
[code]

[2021-11-22 03:11] #3267 closed

[2021-11-22 03:19] kaxing commented on #3280
Same error can be seen with **longhorn-manager-test:v1.1.3-rc1**
The commit is backported right after the rc release tag: longhorn/longhorn-tests@198dd3097979fd4b5142d44994536e931093f909

[2021-11-22 04:28] innobead commented on #3280
As we discussed, you can keep using 1.1.3-head longhorn-test instead of 1.1.3-rc1 to keep the test cases updated.

[2021-11-22 08:44] shuo-wu opened #3287 "[BACKPORT][BUG] Instance process is still running when the corresponding engine/replica CR is gone"
#3255

[2021-11-22 08:45] shuo-wu opened #3288 "[BACKPORT][BUG] Instance process is still running when the corresponding engine/replica CR is gone"
#3255

[2021-11-22 08:55] innobead commented on #3207
cc @joshimoo

[2021-11-22 09:38] shuo-wu opened #3289 "[TASK] Remove deprecated fields after CRD API version bump"
**What's the task? Please describe.**
After adding the migration logic (from old fields to the new fields), all deprecated fields like [these](https://github.com/longhorn/longhorn-manager/blob/a7f4a67f232aa4bd0a34e10cefad189276f5732e/k8s/pkg/apis/longhorn/v1beta1/volume.go#L152-L156) can be removed after the version bump.

Need to wait for https://github.com/longhorn/longhorn-manager/pull/1136 mer

[2021-11-22 09:54] innobead commented on #3289
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3289?planning-poker) with ZenHub @c3y1huang @shuo-wu @joshimoo @jenting @derekbit @PhanLe1010 @keithalucas

[2021-11-22 11:34] kaxing opened #3291 "[BUG] Volume with `robustness is unknown` is not reflect under Volume page"
## Describe the bug

When attached note got deleted, the Unkown volume state is not shown.

## To Reproduce

Steps to reproduce the behavior:
1. Create a volume 1
2. Attach volume to node A
3. Update the replica count of volume 1 to 1
4. Delete all replicas and keep only one replica that is not on the same node with the volume 1
5. Delete the node A from kubectl or kubernetes dashboard
6. Goto the

[2021-11-22 11:45] shuo-wu commented on #3283
You mean Longhorn did volume re-attachment and re-mount **after** the pod restart? Was the mount point still valid when the issue happened? Typically this issue is caused by the volume crash whereas the workload is not restarted, which is already recored in [this article](https://longhorn.io/kb/troubleshooting-volume-readonly-or-io-error/). But based on your statement, it may not fix your case.

v

[2021-11-22 11:48] kaxing opened #3292 "[TASK] Update "Test node deletion" test case"
## What's the task? Please describe

Update the test case to reflect the differences in each release.

## Describe the items of the task (DoD, definition of done) you'd like

- [ ] check the feature/fix change
- [ ] update the step
- [ ] cleanup the format

## Additional context

https://longhorn.github.io/longhorn-tests/manual/pre-release/node/node-deletion/

[2021-11-22 11:53] shuo-wu commented on #3207
@derekbit Does this mean that asking Longhorn to start the CSI plugin automatically after kubelet/node restart would help fix this issue?

[2021-11-22 12:57] derekbit commented on #3207
@shuo-wu
Yes. The CSI plugin can restart automatically after the restart of the node and kubelet now, so we don't need to do any change.
The influence of vol_data.json in old volume on the restart node is the repeated error log messages. It should be fixed in kubelet.

[2021-11-22 13:53] MeranaTona opened #3293 "[QUESTION] Mount Longhorn"
## Question
Hi all,

is it possible to mount Longhorn as a filesystem, so that all files within Longhorn can be accessed?
E.g. "sudo mount /dev/longhorn /my/custom/dir"

Thank you in advance

[2021-11-22 14:19] jenting commented on #791
The test steps are to make sure after the Longhorn CRD structural schema, it won't trigger any E2E test case test result from PASS to FAILED.

[2021-11-22 14:59] innobead commented on #3265
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Longhorn-Main-Board-59d8105b2fbdf4155c4589ef/issues/longhorn/longhorn/3265?planning-poker) with ZenHub @PhanLe1010 @c3y1huang

[2021-11-22 15:16] TachunLin opened #3294 "[BUG] Suggest to provide more intuitive error message for backing image with unsupported file format"
## Describe the bug
In Harvester, when user try to create image file by uploading unsupported file type like (e.g `.dmg`)
User will get the error message response from Longhorn API call response
`Uploaded failed the upload file size should be a multiple of 512 bytes since Longhorn use directIO by default`

Error message on Harvester UI
![image](https://user-images.githubusercontent.com/29251855/14

[2021-11-22 15:18] jenting commented on #3265
Leaving a note here.

We need to consider if the users still use v1beta1 to operate CR.
Furthermore, we can't rely the E2E test to cover this since currently E2E test isn't create/get/update/delete from CR directly. And, only engineers know which fields changed from v1beta1 to v1beta2.

[2021-11-22 15:34] derekbit opened #3295 "[TASK] Generate multiple CRD versions"
## What's the task? Please describe
Longhorn will support v1beta1 and v1beta2 (storage version), so need to generate multiple CRD versions in crd.yaml by k8s/generate_code.sh instead of by manual.

- https://github.com/longhorn/longhorn-manager/pull/1126
- https://github.com/longhorn/longhorn/issues/2955

[2021-11-22 16:14] 0x4c6565 opened #3296 "[FEATURE] Support CSI snapshots without requiring Longhorn backup configuration"
## Is your feature request related to a problem? Please describe

When creating a CSI snapshot, the Longhorn CSI plugin will fail to create the snapshot without valid backup configuration in Longhorn. For our use case, we'd like to create snapshots for an external backup utility (Velero) - currently, we have to configure a dummy backup target within Longhorn for the snapshot creation to complete

[2021-11-22 18:18] khushboo-rancher commented on #3291
@kaxing After waiting for sometime, did the error go?

[2021-11-22 19:27] meldafrawi opened #3297 "[BUG] [v1.1.3] Longhorn upgrade from v1.1.2 to v1.1.3-rc1 failed"
## Describe the bug

upgrading longhorn from v1.1.2 to v1.1.3-rc1 failed

## To Reproduce

Steps to reproduce the behavior:
1. install Longhorn v1.1.2
2. upgrade to v1.1.3-rc1
3. check longhorn-manager

## Expected behavior
Longhorn upgrade should complete successfully.

## Log or Support bundle
[code]

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can

[2021-11-22 20:36] PhanLe1010 commented on #3297
Test steps:
Follow the reproduce steps in the issue description and verify Longhorn can be upgraded successfully

[2021-11-23 00:38] derekbit commented on #3295
The task is implemented in https://github.com/longhorn/longhorn-manager/pull/1136.

[2021-11-23 00:58] innobead commented on #2011
@jenting still valid?

[2021-11-23 01:05] jenting commented on #2011
It seems a duplicate of #1768

[2021-11-23 01:33] shuo-wu commented on #3242
OK. Just checked with @PhanLe1010. Some scalability issues are probably introduced in v1.2.x. The attachment will take a long time as well when there are 450+ volumes in a 100-node cluster. We will investigate and keep posting for it.
https://github.com/longhorn/longhorn/issues/2986#issuecomment-929751211

[2021-11-23 02:16] maxiloEmmmm commented on #3242
@shuo-wu
Hi, it's nice to meet you again!
I looked at the test and found that it was different from the environment here. There were a few things I was worried about
1. There is only a small amount of work in the environment here, and the master also carries the work of work, exp: 3 node, which causes replicas to be scattered on these nodes instead of other nodes
2. There should be cases where man

[2021-11-23 02:50] jenting commented on #3168
Backend code merged into the master branch.

[2021-11-23 03:00] jenting opened #3298 "[BACKPORT][IMPROVEMENT][v1.2.3] Simplify the way to record and fetch backup info after introducing Backup CRD"
Backport #3035

[2021-11-23 03:43] dbpolito commented on #2144
Hello guys, the new page is looking great, but now after upgrading from `1.1.1` to `1.2.2` i'm facing the same issue, i will have 5 old instance managers...

The docs are clear, but i think the current approach isn't very friendly for when you have lots of volumes.

Currently the only way for seeing which pods are using these instance managers is going to the detail page, which in my case, which i

[2021-11-23 03:57] innobead commented on #2144
@smallteeths @shuo-wu could we have a way to improve a bit on the UI part? like showing show which volumes still using a non-default/latest image from the volume list table.

[2021-11-23 03:58] dbpolito opened #3299 "[BUG] 1.2.2 Snapshots aren't being created from recurring jobs"
I created a recurring job:

![image](https://user-images.githubusercontent.com/347400/142969347-fb075842-4520-481b-a677-6a8e6b63ebd9.png)

Looking at the logs of the the job:

[code]

[2021-11-23 05:00] kaxing commented on #3299
Hey @dbpolito, can you do a quick check on the status of longhorn manager pods?
[code]
Also, it would be good to know how you install Longhorn and the version of Kubernetes distro.

[2021-11-23 06:17] jenting commented on #2441
The backup controller is done with this [PR](https://github.com/longhorn/longhorn-manager/pull/1107)

[2021-11-23 06:23] jenting opened #3300 "[BACKPORT][BUG] Failed backups should be available to the user with a failed status"
Backport #1311.

[2021-11-23 06:23] jenting opened #3301 "[BACKPORT][BUG] Volume UI displays only the last backup"
Backport #2997.

[2021-11-23 06:23] jenting opened #3302 "[BACKPORT][BUG] Snapshots and Backups chain displays backup that was previously deleted on Backup screen"
Backport #3033.

[2021-11-23 06:49] kaxing commented on #3291
@khushboo-rancher the "Attached" state remain quite a bit time(around 30mins) from the UI, hence the error can be reproduced easily by click into the volume detail page.

I will double check the http/wss responses.

[2021-11-23 08:19] joshimoo commented on #2335
@awelsman this is definitly a good use case, to have more control over the scheduling of the internal longhorn components (share-manager, etc). Thanks for opening the enhancement, no commitment yet, but it's something to keep in mind next time we do some refactoring around the share-manager #2096

[2021-11-23 08:27] shuo-wu opened #3303 "[TASK] The CSI resizer may not work when the Job pod status is Completed"
## What's the task? Please describe

Due to the bug mentioned https://github.com/kubernetes-csi/external-resizer/issues/175, it's better to add the flag `--handle-volume-inuse-error=false` into the Longhorn code so that users don't need to edit it manually after launching the Longhorn system.

once we bump to the version that contains the fix, we can remove the flag.

[2021-11-23 08:55] joshimoo commented on #2011
Leaving some notes below:

This has to do with a crash in the cgo call to glibc, in pre v1.1.x we where using alpine as a base image, which uses musl as a glibc replacement. So there might have been some compatibility issues when run on a os that uses glibc as it's runtime library.

For the v1.1.x release we switched to an ubuntu base image, which uses glibc instead of musl.
So I am not sure if us

[2021-11-23 09:14] joshimoo opened #3304 "[IMPROVEMENT] Use PDB to protect Longhorn components from unexpected drains"
When using `kubectl drain` on a single node cluster there might be a case where it's impossible to correctly cleanup/detach a volume. Since the csi sidecars might end up evicted before the pod/va is cleaned up correctly.

It would be useful to have PDB on the **csi-sidecars**, to prevent all sidecars from being unavailable.
We could consider removing the PDB once we have evaluated that all longhor

[2021-11-23 09:15] joshimoo commented on #3304
potentially issues that are caused by this mismatch
https://github.com/longhorn/longhorn/issues/2933

[2021-11-23 09:31] jenting commented on #1268
I'll try to reproduce this one, but I think it should be fixed along with #3035

[2021-11-23 09:35] shuo-wu opened #3305 "[TASK] Remove the in-use volume error handling flag from the CSI resizer after bumping up the version"
## What's the task? Please describe

After we bump up the CSI resizer version that contains the fix of the issue mentioned in https://github.com/longhorn/longhorn/issues/3303, we can remove the flag.

[2021-11-23 09:37] innobead commented on #2577
Duplicated, and let's track https://github.com/longhorn/longhorn/issues/1768 instead.

[2021-11-23 09:37] #2577 closed

[2021-11-23 09:38] innobead commented on #2011
Duplicated, let's track https://github.com/longhorn/longhorn/issues/1768.

[2021-11-23 09:38] #2011 closed

[2021-11-23 09:39] innobead commented on #1768
Some analysis from @joshimoo

https://github.com/longhorn/longhorn/issues/2011#issuecomment-976295622

[2021-11-23 09:41] shuo-wu commented on #2144
I think YES. The volume and its engine will record which instance manager they are using. And UI is capable of fetching the instance manager info via REST API as well as the default instance manager image from the setting.
Let's open a separate ticket to track it if we decide to do so.

[2021-11-23 09:46] innobead opened #3306 "[FEATURE] Have UI support to identify non-default instance manager image of each volume in the volume list"
## Is your feature request related to a problem? Please describe

As per https://github.com/longhorn/longhorn/issues/2144#issuecomment-976337603, it will be helpful for users to identify what volumes still using the non-default instance manager image from the volume list page. Please also be careful with any performance concerns when dealing with tons of volumes.

## Describe the solution you'd li

[2021-11-23 09:47] innobead commented on #3306
cc @shuo-wu @smallteeths @khushboo-rancher

[2021-11-23 11:44] mazycool commented on #3204
Default Data Locality -> disabled
Replica Node Level Soft Anti-Affinity -> disabled

I would like to have an overview in one place.
Let me explain my issue:
One node is hitting border:
![image](https://user-images.githubusercontent.com/16590575/143017639-894a0f88-9e13-4103-8aa3-40dbfcb8130b.png)
I would like to check which volumes used by which application are running there and decide what I can m

[2021-11-23 11:54] mazycool opened #3307 "[QUESTION] How many storage do I need for longhorn volume - How big can be acutal-size?"
## Question
I'm going to setup application which is not stateless. We need around 1TB of storage to keep data.
Two times we hit max storage used and we decide to extend volume. But now we have an issue with underlying FS dedicated only for longhorn - it use to many data.
My question is how big can be actual size with this setup:
![image](https://user-images.githubusercontent.com/16590575/143019255

[2021-11-23 12:28] dbpolito commented on #3299
[code]

I installed using using Helm Chart version 1.2.2.

[2021-11-23 12:32] cocampbe commented on #3283
No. The is at the OS level, not at the k8s/pod/pvc level. The pod was running. But at the OS level, the disk was giving an I/O error. When that occured, the OS performed a remount of the volume to make it read only. The errors are ext4 journal errors. It's a protection mechanism.

When that remount occurs, it causes an issue with the pod and likely longhorn. The pod then errors and restarts. It ta

[2021-11-23 13:17] dbpolito opened #3308 "[BUG] Revision Counter is false by default?"
I installed longhorn using helm chart 1.2.2 (i originally installed 1.0 and keep upgrading).

I didn't change it on my helm chart, so it means it's `~`, nor on ui:

![image](https://user-images.githubusercontent.com/347400/143030672-eec58b0d-1bbe-47cf-908b-465d69a8a4a2.png)

But all my volumes has it disabled:

![image](https://user-images.githubusercontent.com/347400/143030722-934b68a5-bc6c-4eae-

[2021-11-23 13:18] derekbit commented on #3265
Leaving a note here.

After applying #2955, the conditions cannot be retrieved correctly.
[code]

[2021-11-23 14:36] kaxing commented on #3291
The response from _/v1/volumes_ still shows attached,
<Details>

<Summary>(expand to see the full json of the unkown volume) </Summary>

[code]

</Details>

If I leave the volume long enough the node down icon will be shown next to the volume,
![image](https://user-images.githubusercontent.com/602540/143043336-18b57956-f012-434e-8599-05389742af08.png)

When click into it, will actually show as Unk

[2021-11-23 14:43] derekbit commented on #3308
Revision Counter is enabled by default.
It is an UI bug.
https://github.com/longhorn/longhorn-ui/blob/master/src/routes/volume/detail/VolumeInfo.js#L326

[2021-11-23 14:47] timmy59100 commented on #3146
@joshimoo We reduced the amount of the rwx volumes in use by about 15-20 which reduced the cpu usage a bit.

longhorn-manager-hwczb
3380

longhorn-manager-hl7nw
747

longhorn-manager-bld7k
2864

[2021-11-23 15:07] jenting commented on #3296
Duplicate to #2534

[2021-11-23 15:08] jenting commented on #3308
Could you please check the revision counter setting inside the Setting CR?
[code]

[2021-11-23 15:15] dbpolito commented on #3308
Yup, seems false:

[code]

Cool, so it's just a confusing UI that needs improving. Probably just upgrading the label or inverting the if.

[2021-11-23 18:26] gricuk commented on #3071
The same problem. Problem is reproduced after upgrade to 1.2.0

Environment:

Longhorn version: 1.2.0
Installation method (e.g. Rancher Catalog App/Helm/Kubectl): Rancher-catalog
Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version: RKE 1.19.7
Number of management node in the cluster: 1
Number of worker node in the cluster: 1

[2021-11-23 22:24] khushboo-rancher commented on #3261
As per the integration test run, Looks like it is working after the fix.

[2021-11-24 01:10] khushboo-rancher opened #3309 "[BUG] Test related to backup is failing due to the state changed to 'completed' from 'complete'"
## Describe the bug

https://ci.longhorn.io/job/public/job/master/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/499/

## To Reproduce

Steps to reproduce the behavior:
1. Run integration tests related to backup on Master

## Log or Support bundle

[code]

## Environment

 - Longhorn version: Master-head `11/23/2021`

[2021-11-24 01:16] khushboo-rancher opened #3310 "[TASK] Add Support for RHEL/CentOs having SELinux enabled in the Jenkins job"
## What's the task? Please describe

Add Support for RHEL/CentOs having SELinux enabled in the Jenkins job. Either we can add in the existing jobs or create a new job.

## Describe the items of the task (DoD, definition of done) you'd like

- [x] Add a new job or modify the existing one to enable SELinux on RHEL/CentOS
- [x] Run the job and verify the job is working fine.