[2021-02-03 04:27] mikeccuk2005 commented on #1675
I also had this issue with 3TB ssd and 1.5TB volume.
I had 2 nodes with very high spec, 32Cores ,128GB Memory.
However the network is somewhat never go above 5mbps on the network adaptor.
Plus the volume will fail to replicate daily, as the system snapshot can be too large ( eg, 500GB system snapshots )

I decided to make recurring snapshot every 4 hours for 18 recurring ( 3 days); this is a quick

[2021-02-03 06:51] #1911 closed

[2021-02-03 10:18] andreshamedfernandez opened #2233 "When resizing lvm to 200GB this is not visible in the longhorn UI."
OS: CentOS 7
Longhorn vs 1.1.0
After resizing the LVM, which is used as disk for /data/longhorn, to 200GiB I still see in the Longhorn UI disk the previous size 150GiB.

I would expect that this would happen automatically. We comply to all the requirements in the documentation:
https://longhorn.io/docs/1.0.0/volumes-and-nodes/expansion/

[code]

![image](https://user-images.githubusercontent.com/6

[2021-02-03 13:41] lucky4ever2 commented on #2218
I increased retain so that no backup has to be deleted = same error. The error has nothing to do with the fact that old backups have to be deleted.

To prevent Longhorn from attempting the backup multiple times, I set the `back off limit` to 0. Same error.

BUT: The volume is backed up successfully. That shows Lonhorn in the UI.

![Bildschirmfoto 2021-02-03 um 14 26 32](https://user-images.githubu

[2021-02-03 17:24] meldafrawi commented on #2219
@ishankhare07
This error is due to an extra new line when generating your `base64` encoding for `AWS_ACCESS_KEY_ID`
Please re-generate  using the following command: `echo -n YOUR AWS ACCESS KEY ID  | base64`

[2021-02-03 19:25] teknologista commented on #2125
Thanks @PhanLe1010 .

Sorry for the late reply but as we have to do this on 8 out of 22 nodes we had postponed the task.

We will do it this weekend and report back here on the outcome.

[2021-02-04 04:56] shuo-wu commented on #2218
- If there is no backup timeout error in the longhorn manager logs, then the cause in your case is probably what you said. Do you config anything special for your cluster network? You can create a pod in the longhorn namespace and see if you can `curl` the longhorn backend address inside the pod.
- Which kind of resource do you modify `back off limit` for? I think modifying `RestartPolicy` of the

[2021-02-04 08:46] SimmyD opened #2234 "After 1.1.0 upgrade all PVC's engines updated bar one."
Hi,

I have performed the upgrade and all PVC's have updated except pvc-9415c828-da2d-4356-8608-b6cd816b1e53.

I have attached the support bundle and would love to know what i need to do.

---
Version: `v1.1.0`

[2021-02-04 08:47] SimmyD commented on #2234
[longhorn-support-bundle_0f3ab4ab-ca38-4985-86ab-ada78b243354_2021-02-04T08-44-16Z.zip](https://github.com/longhorn/longhorn/files/5924306/longhorn-support-bundle_0f3ab4ab-ca38-4985-86ab-ada78b243354_2021-02-04T08-44-16Z.zip)

[2021-02-04 08:48] c3y1huang commented on #2076
Ok not sure if this should be moved to review since [this PR](https://github.com/longhorn/longhorn-manager/pull/825) skipped 5 tests.

[2021-02-04 09:06] tksm opened #2235 "[FEATURE] Delete replicas when a node is deleted"
**Is your feature request related to a problem? Please describe.**

[`allow-node-drain-with-last-healthy-replica: false`](https://longhorn.io/docs/1.1.0/references/settings/#allow-node-drain-with-the-last-healthy-replica) feature which was introduced in v1.1.0 is great, but we still need to [evict replicas on the node manually](https://longhorn.io/docs/1.1.0/volumes-and-nodes/disks-or-nodes-evicti

[2021-02-04 09:16] SimmyD commented on #2234
ok deleting the pod and having k8s rebuild the pod unstuck it.  Is there something i should have done different?

[2021-02-04 10:12] andreshamedfernandez commented on #2233
My apologies. the filesystem was not resized only the the logical volume.
This was a default setting in the ansible playbook.
This issue can be closed.

[2021-02-04 10:12] #2233 closed

[2021-02-04 10:28] yfoelling commented on #1457
i upgraded over a week ago and no issues so far!
It seems to be fixed. Thanks for your fast fix. :-)

[2021-02-04 10:49] hickersonj opened #2236 "[BUG] Unable to start the instance manager or csi-plugin due to path \"/\" is mounted on \"/\" but it is not a shared mount""
**Describe the bug**
The longhorn-csi-plugin and instance-manager do not start due to a shared mount issue with "/", however, I am unable to make / a shared mount as it is an initramfs.  I have made various mount shared to get to this point, i.e. /var/run and /var/lib/longhorn

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
longhorn-system should start and run

**L

[2021-02-04 14:18] lucky4ever2 commented on #2218
`Back Off Limit`means in Rancher `The number of retries before marking this job failed.`

I restored the volume in a test cluster and was able to reproduce the error there. I have sent you the support bundle.

[2021-02-04 15:30] janeczku commented on #2128
Application state may be distributed across multiple persistent volumes (e.g. sharded DB). The application consistent backup must then ensure that snapshots are performed in a point-in-time consistent manner across all volumes.

Offering such feature Longhorn may allow users to create "volume groups" and define on-demand or scheduled backup plans for the whole group instead of individual volumes.

[2021-02-04 20:52] ElisaMeng commented on #2221
@yasker You are right, I dig into details and find there are about 240 snapshots was created by system. I don't know why. Base the link, yes, it will take a while.  Thanks yasker.  Most of the volumes back into normal as expected after a while.  However, I got one volume look very strange.

In the UI, I try to create snapshot, it complains too many snapshot created.  I click on "show  system snaps

[2021-02-05 00:30] PhanLe1010 commented on #2232
The `/var/lib/longhorn` path in chart:longhorn/daemonset-sa.yaml is where Longhorn store engine-binaries and it is harder coded into the manage daemonset.

the `Values.yml: defaultDataPath` is where Longhorn store volumes' replica and it is configurable by users.

So, they are 2 different concepts.

[2021-02-05 00:36] PhanLe1010 commented on #2163
@itscaro

We are wondering about how you install open-iscsi?
Also, how did you find out that the library is missing?

We want to know because we are seeing a [similar issue](https://github.com/longhorn/longhorn/issues/2045) where Longhorn is successfully installed but cannot attach the volume.

[2021-02-05 00:44] PhanLe1010 commented on #2231
@ElZakariyae

Thank you for reporting. We will fix this in a future release.
Unfortunately, I don't see an easy workaround at the moment.

Some of the initial ideas with our team:
1. Automatically delete the snapshot and only keep 1 or 2 snapshots for a recurring backup job. If users want to retain snapshots they can create a recurring snapshot instead.
1. Allow users to create a global setting th

[2021-02-05 05:14] shuo-wu opened #2237 "[BUG] A stopped replica on a removed node should not be counted as a healthy replica for the drain setting"
**Describe the bug**
See the `Additional context` in issue https://github.com/longhorn/longhorn/issues/2235
If a detached volume has 2 stopped replicas and a replica is on the deleted node, both replicas will be counted as healthy. Then when the user drains the node containing the left replica of the volume, the setting `allow-node-drain-with-last-healthy-replica=false` won't block the drain and p

[2021-02-05 05:14] shuo-wu commented on #2235
1. Which Longhorn version are you using? In v1.1.0, Longhorn removes the node deletion API from the UI. The node object in Longhorn will be cleaned up automatically only if the Kubernetes node is deleted from the cluster. But when you run `kubectl -n longhorn-system delete nodes.longhorn.io <Node Name>`, it will directly remove the node regardless of the replicas.
2. Longhorn should not count a st

[2021-02-05 05:34] shuo-wu commented on #2236
Since replica instance manager pods need to access the mount points of all disks on a node, host directory `/` must be mounted to the pods. It's a hard requirement based on the current architecture.

I am not sure if mount options of `initramfs` are configurable. Since you said `I am unable to make / a shared mount as it is an initramfs`, do you mean `mount --make-rshared` doesn't work?

[2021-02-05 06:06] hickersonj commented on #2236
Yes I can mount / as `--make-rshared`, however, once I do this some process seems to be unmounting /proc because the /proc path becomes empty.  To continue, I tried mounting proc using `mount -t proc proc /proc` but then mtab no longer can find the mount points:
`mtab -> ../proc/self/mounts`
[code]
So I tried bypassing that by directly linking mtab to /proc/self/mounts to at least link the mounts

[2021-02-05 06:27] tksm commented on #2235
Thank you for your quick reply!

We use Longhorn v1.1.0. Currently we only delete a Kubernetes node object.

With https://github.com/longhorn/longhorn/issues/2237 , this is the perfect solution for us :+1:

Now I understand. Thank you for your explanation.

[2021-02-05 08:29] ajjo-tech commented on #2217
@PhanLe1010
There was a comment of where to put the crds and the snapshot controller.
But going back now and reading it again i read in much clearer light and stand corrected.
No need to change the documentation, if i had read it all ive would have had a clearer picture.

Thanks again for the support!

[2021-02-05 08:29] #2217 closed

[2021-02-05 09:53] shuo-wu opened #2238 "[IMPROVEMENT] Add a new settings that allows Longhorn to evict replicas automatically when a node is drained"
**Is your feature request related to a problem? Please describe.**
See the title

**Additional context**
Derived from https://github.com/longhorn/longhorn/issues/2235

[2021-02-05 14:03] shuo-wu commented on #2015
Here may be the cause of this issue. Since there are tons of error logs, it's hard to confirm the whole flow. I am not quite sure if the following is correct:
1. The engine & replicas of volume `pvc-19fcefc4-0646-42cc-8742-c14c5daebd73` becomes `error` due to the instance manager pods crash.
2. Longhorn does auto salvage.
3. Somehow `v.Status.RemountRequestedAt` is set/updated. (Maybe caused by th

[2021-02-05 21:15] anupama2501 commented on #2136
Able to reproduce the issue with above mentioned steps.

- Brought up the cluster with 3 worker nodes [all Ubuntu 20.04.1 LTS], 1 etcd and 1 control plane
- Once the nodes are up, from /etc/default/grub — edited the line as follows to disable the ipv6 and then gave update-grub on all the worker nodes.
- Now installed the long horn app installing from the rancher UI[longhorn UI version to longhorn-

[2021-02-05 21:43] anupama2501 commented on #2136
Verified the same issue on the rancher UI by upgrading the version of longhorn UI to v1.1.0.
Added an external ingress and was able to launch UI without any issue
![Screen Shot 2021-02-05 at 1 17 13 PM](https://user-images.githubusercontent.com/38144301/107090050-7b93f380-67b4-11eb-9af7-fa1c13e9877b.png)

Verified on master:
Once all the worker nodes are up, disabled the IPV6 from grub.
Launched l

[2021-02-06 00:58] hickersonj commented on #2236
@shuo-wu, is it correct that it is performing a pivot_root, I see the function in the instance manager code, so the assumption is yes. No option to use native/nopivotroot?

Thanks again for investigating.

[2021-02-06 03:23] rajivml commented on #1541
@yasker do you have metrics comparing longhorn vs ceph performance, we have almost decided to use longhorn but after reading the blogpost from longhorn on the IOPS hit that one has to take compared to bare metal disk we started exploring other options

[2021-02-06 10:37] iangregsondev opened #2240 "[Question] Getting an error on new install, UI is unavailable but I have some logs"
**Question**

I was successful installing it on 3 nodes in digitalocean, did the same on 3 x k3s nodes but its failing.

[code]

Not sure how I do a support bundle as I can't get access to the UI as the system won't start.

I do have some of this data, is this helpful ? its from a log using kutectl

[code]

[code]

[code]

[2021-02-06 10:58] itscaro commented on #2163
@PhanLe1010 I followed the installation guide on longhorn.io
To find out the missing library, I connected to kubelet and `ldd` iscsiadmin

[2021-02-06 11:06] iangregsondev commented on #2240
Ok, I have it working. So what happened was I was missing the iscsi that I had to install using apt install etc...

So my first install failed...

so I did the standard kutectl delete - thinking all would be ok and appeared to be

But looking at the questions I noticed that it's not enough just to do that ...

SO I want and uninstalled it correctly, re-installed and the UI is working now!

[2021-02-06 14:51] rajivml opened #2241 "Fresh Install longhorn volumes not getting attached to pods"
**Describe the bug**

I have created an 3 node RKE2 cluster on bare metal azure VM's and I have installed longhorn as per the documentation through kubectl method

Each machine has one 256 GB SSD attached to it and this is how I have partitioned each disk and attached the same via longhorn UI

Now to testing the working of it , I have created an volume as per the documentation
kubectl create -f ht

[2021-02-06 15:14] rajivml commented on #2241
[code]

[2021-02-07 05:39] #2005 closed

[2021-02-07 05:39] #2019 closed

[2021-02-07 05:40] #1985 closed

[2021-02-07 09:59] teknologista commented on #2125
An update to let you know all went well @PhanLe1010 !

Many thanks for the great support!

[2021-02-07 09:59] #2125 closed

[2021-02-07 16:31] incedo commented on #2195
I have the same question, where is the answer - I see the issue is closed

[2021-02-07 21:44] rsoika opened #2242 "[Question] unable to mount NFS backup"
**Question**

I have a strange behaviour with a NFS Backup Store. I have two different kubernetes clusters. From the one I can backup volumes and list the backups on my nsf storage.
But on the other cluster backup failes and also when I try to list the backups from the Lonhorn UI I got the following error displayed:

`error listing backups: error listing backup volumes: Failed to execute: /var/lib

[2021-02-08 02:20] shuo-wu commented on #2236
Yes. That's required. Right now I have not found a possible workaround.

[2021-02-08 02:56] shuo-wu commented on #2241
One quick question, have you installed iscsi on all of your worker nodes? https://longhorn.io/docs/0.8.0/install/requirements/

To debug the issue, we need to check the info of the stuck pod `volume-test` (by using `kubectl describe`), and the logs of longhorn manager pods or instance manager pods (by using `kubectl logs`).

[2021-02-08 08:53] #2030 closed

[2021-02-08 10:25] shuo-wu commented on #2218
Here is the cause of the error `2021-02-04T12:38:28.698044878Z time="2021-02-04T12:38:28Z" level=fatal msg="Error taking snapshot: failed to complete backupAndCleanup for pvc-dca02b3d-8845-4e35-b4ba-7e004238d70d: Post \"http://longhorn-backend:9500/v1/volumes/pvc-dca02b3d-8845-4e35-b4ba-7e004238d70d?action=snapshotBackup\": context deadline exceeded (Client.Timeout exceeded while awaiting headers)

[2021-02-08 10:43] rajivml commented on #2241
yes, I have installed yum install iscsi-initiator-utils on all the nodes and I have verified the setup through the shell script that has been documented

To share the logs, I no longer have that environment, but with the ticket, I have attached the support dump, wouldn't it contain the logs that are required to debug the issue ?

[2021-02-08 11:42] gsacre opened #2243 "[BUG] Nodes and volumes not listed in UI after longhorn-manager update"
**Describe the bug**
I cannot see anything (nodes, volumes...) in the UI after longhorn-engine update from v1.0.x to v1.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. `wget https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/deploy/longhorn.yaml`
2. Edit `longhorn.yaml` to set default data path
3. `kubectl apply -f longhorn.yaml`
4. Wait for containers to be updated / (re-)create

[2021-02-08 11:47] vineetsingh5 opened #2244 "[BUG] Fresh Single Node longhorn Install Not able to attach pod volume"
**Describe the bug**
I have created a single node RKE2 cluster on bare metal Azure VM's. I have attached 512Gb SSD and partition disk using command.
`mkfs -t ext4 /dev/sdc`
`mkdir -p /mnt/sdc`
`mount /dev/sdc /mnt/sdc`

I have also installed longhorn required dependencies **open-iscsi** and verified the setup via the script available in the document.

I am testing my setup using the example `kubec

[2021-02-08 14:06] joshimoo commented on #2195
@incedo can you open an issue that describes your problem with all the necessary environmental details + support bundle attached?

[2021-02-08 14:08] joshimoo commented on #2240
Glad that you were able to solve the issue.

For reference we have uninstall instruction here:
https://longhorn.io/docs/1.1.0/deploy/uninstall/

Installation requirements here:
https://longhorn.io/docs/1.1.0/deploy/install/#installation-requirements

[2021-02-08 14:08] #2240 closed

[2021-02-08 14:15] lucky4ever2 commented on #2218
Thank you for the detailed description. What can I do to avoid the timesout or is it a bug in Longhorn?

[2021-02-08 14:27] joshimoo commented on #2243
@gsacre @smallteeths I don't remember exactly, but I think after the v1.1 update the user needs to close the browser, is that correct?

[2021-02-08 14:40] joshimoo commented on #2244
Looking at the logs, there is a communication problem between the manager and the instance-managers.
@shuo-wu any idea what could be causing this, and how to recover from this state? `failed to get version`
[code]

[2021-02-08 15:13] gsacre commented on #2243
I checked again the docs because I wasn't sure, but nothing is written.

I've closed my browser (Firefox) and just to be sure, I opened another one (Chrome), but still nothing.

[2021-02-08 15:39] innobead commented on #2128
Thanks for the comment. The similar idea we had some discussion before. The goal is we need to introduce a mechanism to make the volumes of application atomic aware operations supported and like u said, not just individual volumes.

Please follow up the discussion and proposals in near future.

[2021-02-08 16:10] timmy59100 commented on #2243
After 1.1 the path is slightly different. If you have bookmarked it you have to open it new from the apps page.

[2021-02-08 17:34] rsoika commented on #2242
Finally I narrowed the problem down to only one of my nodes in the cluster. And I decided to drain and remove the node. Backup on the other nodes worked fine.
We have also this discussion thread in parallel: https://forums.rancher.com/t/nfs-backup-cannot-create-mount-directory/19436/4

I think we can close this issue if you not have any thoughts about this. I am now unable to provide more informat

[2021-02-08 18:52] gsacre commented on #2243
I checked again the docs because I wasn't sure, but nothing is written.

I've closed my browser (Firefox) and just to be sure, I opened another one (Chrome), but still nothing.

[2021-02-08 18:52] #2243 closed

[2021-02-08 18:57] yasker commented on #2183
@jenting IIUC, we need to fix the pagination to fix #1955, so I've assigned this issue to you.

[2021-02-09 01:18] PhanLe1010 commented on #2234
This the error message from the manager
[code]
It is complaining that the new engine process cannot be start. Do you experience high CPU pressure in your cluster?

[2021-02-09 02:02] #2223 closed

[2021-02-09 02:05] #2219 closed

[2021-02-09 02:06] #2232 closed

[2021-02-09 03:06] shuo-wu commented on #1516
Can you file a new issue and provide more error info as well as the environment?

[2021-02-09 03:14] shuo-wu commented on #2244
There may be something wrong with your network/firewall settings. Can you try to ping the instance manager pods manually inside the longhorn manager pods and see if the communication is fine?

BTW, there is one related issue with RHEL8 + RKE:
https://github.com/rancher/rke/issues/2432

[2021-02-09 03:36] shuo-wu commented on #2218
Right now we haven't found the root cause of this issue. I guess something is wrong with the replica, or the backup content of this specific volume. Can other volumes trigger this bug?

[2021-02-09 03:44] shuo-wu commented on #2241
1. I see tons of the iscsi related errors in your cluster. Can you check if the iscsi service is started among all of your nodes?:
[code]

2. I don't know why there are volumes using the non-existing v0.8.0 engine image. And I am not sure if this old engine image is still compatible in v1.1.0. If possible, can you upgrade them to the default engine image?
[code]

[2021-02-09 04:21] shuo-wu commented on #2015
There are some other error logs we need to take care:
1. Need to avoid the node down check if the volume is detached (by the share manager controller?) during the auto salvage
[code]
2. Skip printing the log fetching errors when the instance manager is not running:
[code]
3. Skip preparing the instance manager client if it's not running:
[code]

[2021-02-09 04:51] shuo-wu commented on #1877
1. Do you mean the previous mount records? Can you try to manually umount the extra layers for each longhorn manager pod then restart it? (Do it one by one to prevent crashing the whole system)
2. I cannot reproduce this issue with the following step
    1. Deploy Longhorn v1.1
    2. Run `docker kill "$(docker ps | grep longhornio/longhorn-manager| awk '{print $1}')"` on a worker node. So that th

[2021-02-09 05:44] #2136 closed

[2021-02-09 08:45] rondlite opened #2245 "[Question] why does Longhorn mention a path doesn't look like a replica data path?"
**Question**

Why is `/mnt/longhorn/replicas` not a valid path?
Posting as a question since it seems I am missing something.
`fail to sync replica for longhorn-system/pvc-bf535eff-847f-42fa-9061-16a056c4dc2b-r-0971f863: /mnt/longhorn/replicas doesn't look like a replica data path`

However, the sync gets done so this is the more confusing part.

**Environment:**
 - Longhorn version: 1.1.1
 - Kuber

[2021-02-09 09:36] shuo-wu opened #2246 "[TASK] Test Longhorn on high spec nodes"
**Is your feature request related to a problem? Please describe.**
There may be some unexpected issues when Longhorn creates snapshots/backups on high spec nodes:
https://github.com/longhorn/longhorn/issues/1675
https://github.com/longhorn/longhorn/issues/2029

[2021-02-09 09:36] shuo-wu commented on #2029
We plan to test Longhorn on high spec nodes and see if we can trigger this issue: https://github.com/longhorn/longhorn/issues/2246

[2021-02-09 10:02] lucky4ever2 commented on #2218
No, the problem only affects the largest volume (200GB). The smaller volumes don't have the problem

[2021-02-10 01:57] yasker commented on #1930
@timmy59100 as the result of https://github.com/longhorn/longhorn/issues/2206 , we now have more insight into the replica failures. The fix is targeting for v1.1.2 release. it should reduce the resource requirement and reduce the replica disconnection a lot.

Before that, can you refer to the https://longhorn.io/docs/1.1.0/best-practices/ to allow enough CPU and disk IO for Longhorn? Assuming you'

[2021-02-10 09:01] PhanLe1010 commented on #2242
The error is not on the NFS server side. It is either because of Longhorn or the cluster node.
When listing backups, one of Longhorn managers (one of the pod `longhorn-manager-xxxxx`) tries to create a directory (the directory `/var/lib/longhorn-backupstore-mounts/foo_com/var/backups/nfs` in this post) inside the its container
When taking a backup, one of Longhorn replica instance manager pod (one

[2021-02-10 10:19] rsoika commented on #2242
@PhanLe1010  what did you mean with a 'support bundle'? How do I generate this?

[2021-02-10 10:26] rsoika commented on #2242
**My Environment:**

    Longhorn version: 1.1.0
    Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version: self hosted kubernetes - kubelet 1.19.3, Docker Version 19.3.13, Linux Kernel 4.19.0-12-amd64
        Number of management node in the cluster: 1
        Number of worker node in the cluster: 3
    Node config
        OS type and version: debian
        CPU per node: 4
        Memory pe

[2021-02-10 18:01] PhanLe1010 commented on #2221
@ElisaMeng

The UI pull data from volumes, engines, replicas CRDs.

You can manually delete an user-created snapshot (the blue one) to trigger system snapshots (yellow ones) purge;

I am not sure why atm. Can you can us a support bundle so I can take a look?

[2021-02-10 18:19] joshimoo commented on #1675
Thanks for reporting, we will investigate the usage of longhorn on high spec nodes.
https://github.com/longhorn/longhorn/issues/2246
Afterwards we will provide answers in here, with guidance.

[2021-02-10 18:42] PhanLe1010 commented on #2163
Related to https://github.com/longhorn/longhorn/issues/1741

[2021-02-10 18:47] joshimoo commented on #1966
Since we implemented the feature in v1.1, I am closing this issue.
If you have additional questions feel free to reopen or file a new issue.

[2021-02-10 18:47] #1966 closed

[2021-02-10 18:48] joshimoo commented on #2165
We scheduled a task to write a KB article on this #2148
If you have additional questions feel free to reopen or file a new issue.

[2021-02-10 18:48] #2165 closed

[2021-02-10 18:49] joshimoo commented on #2160
Since I haven't heard anything back, I am closing this issue.
Feel free to reopen if this is still a problem.

[2021-02-10 18:49] #2160 closed

[2021-02-10 18:50] joshimoo commented on #2194
Closing this issue, please feel free to reopen if you require further assistance.

[2021-02-10 18:50] #2194 closed

[2021-02-10 18:51] joshimoo commented on #2180
Closing, please feel free to open if you have this issue with a supported os configuration.

[2021-02-10 18:51] #2180 closed

[2021-02-10 18:54] yasker commented on #2186
We need to add back the node deletion with certain conditions in the next release.

[2021-02-10 18:56] joshimoo commented on #2192
Closing, feel free to reopen if you require further clarifications.

[2021-02-10 18:56] #2192 closed

[2021-02-10 19:00] joshimoo commented on #2222
@osddeitf can you provide a support bundle to us, that way we can try to identify the issue and adress it.

[2021-02-10 19:00] joshimoo commented on #2008
Closing, please feel free to reopen if you require further guidance.

[2021-02-10 19:00] #2008 closed

[2021-02-10 19:05] joshimoo commented on #2241
possibly related to iscsci installation on redhat #1741

[2021-02-10 19:07] joshimoo commented on #1741
This user found that they are missing a library on rhel, might help with open-iscsi problems.
https://github.com/longhorn/longhorn/issues/2163

[2021-02-10 19:07] joshimoo commented on #2241
This user found that they are missing a library on rhel, might help with open-iscsi problems.
#2163

[2021-02-10 19:08] verbunk commented on #1966
Not sure if I should re-open this ... 1.1 does not completely refresh the pod in a way that LH recognizes. I literally had a support session yesterday (for a different reason) that we had to manually juggle the pods for the reason above.

[2021-02-10 19:12] joshimoo commented on #2242
We want to improve the error messages for this failure case, so that we get additional details of why the mkdir doesn't work.

[2021-02-10 19:37] yasker commented on #2124
Closing this issue. Feel free to reopen the issue or file a new issue if you still have issues.

[2021-02-10 19:37] #2124 closed

[2021-02-10 19:39] yasker commented on #2118
Closing this issue due to lack of activity. Feel free to reopen the issue or file a new issue if you still have issues.

[2021-02-10 19:39] #2118 closed

[2021-02-10 19:40] yasker commented on #1842
Closing this issue due to lack of activity. Feel free to reopen the issue or file a new issue if you still have issues.

[2021-02-10 19:40] #1842 closed

[2021-02-10 19:43] yasker commented on #2139
Closing this issue due to lack of activity. Feel free to reopen the issue or file a new issue if you still have issues.

[2021-02-10 19:43] #2139 closed

[2021-02-10 19:43] yasker commented on #1017
Closing this issue due to lack of activity. Feel free to reopen the issue or file a new issue if you still have issues.

[2021-02-10 19:43] #1017 closed

[2021-02-10 21:35] rsoika commented on #2242
Yes, this would help. The strange thing is, that the NFS backup works on some nodes in my cluster and on others not. Restarting pods seems not to help. But as long as I know which node is working, I can attach a volume to such a node and backup it. So for the moment I can help myself. But sure, it would be better to understand the root of the problem.

If I do a ssh on a pod, which I know is not w

[2021-02-10 22:46] anupama2501 opened #2247 "[BUG] Sort functionality for size on longhorn UI for nodes is not working"
**To Reproduce**
Steps to reproduce the behavior:
1. Install the longhorn app
2. From the longhorn UI in the nodes tab, click on the sort button for size.
3. We can see that sort action is not working

<img width="1016" alt="Screen Shot 2021-02-10 at 2 38 28 PM" src="https://user-images.githubusercontent.com/38144301/107582187-022e4380-6bae-11eb-81ae-4ad444633e0e.png">

**Expected behavior**
After

[2021-02-11 02:47] shuo-wu commented on #2241
Based on our QA test result in RHEL8.3, RHEL 8.3 will not start iscsid service automatically then lead to errors like `iscsiadm: No records found` and the users need to start it manually. Can you check if there is a similar case in RHEL8.2?

[2021-02-11 02:57] shuo-wu commented on #1966
The new setting is designed for workload pods that are managed by a controller. In other words, it doesn't work for single pods. Currently, you may need to delete and recreate this kind of pods manually with the old PVCs/PVs resued. If that's not the case, feel free to reopen the issue or recreate a new issue to report the details.

[2021-02-11 03:03] jdunhamvrtx commented on #1966
Hey @shuo-wu ,

Good distinction. My original post was not focused on controller managed workloads so I'd prefer to keep this issue open and maybe open a different one to track the cases that were solved.

I don't think this is an edge case; if I use RMC and deploy a single pod workload and it 'loses' the volume in some way I would prefer a series of escalating level of roughness until the workloa

[2021-02-11 03:22] shuo-wu commented on #1966
Then you can file a new post as a feature request: Recover Longhorn volumes for single pods, or Add alarms in this case.

[2021-02-11 15:53] yasker commented on #1151
The automatic removal of the node feature has been implemented in Longhorn v1.1.0.

[2021-02-11 15:53] #1151 closed

[2021-02-11 16:21] yasker commented on #1457
Since we cannot reproduce the issue now in v1.1.0, consider it fixed.

[2021-02-11 16:21] #1457 closed

[2021-02-11 17:34] rajivml commented on #2241
I have observed this on few installs where it started automatically but on few it didn't , it's very random

[2021-02-11 19:25] meldafrawi opened #2248 "[TASK] Test framework: add the ability to run integration tests using dev images"
We want to be able to trigger integration tests using dev images to test for regression.

[2021-02-11 21:41] anupama2501 opened #2249 "[FEATURE] Engine image version to be displayed in the UI for volumes"
**Is your feature request related to a problem? Please describe.**
On the longhorn UI, under the volume tabs, engine image version is shown in the volume details

**Describe the solution you'd like**
Request to add in the engine image version under the volume name as for every volume we need to go in the volume details to check the version

**Describe alternatives you've considered**
Alternatives

[2021-02-12 00:16] PhanLe1010 commented on #2245
@rondlite
The error message comes from [this line of code](https://github.com/longhorn/longhorn-manager/blob/c2e1728c2dbfb05f8060bc182c9ad5c23d4171ee/controller/replica_controller.go#L283), Longhorn is trying to delete the replica and it finds that the `replica.Spec.DataDirectoryName` is empty. So, it doesn't fit the format. We are wondering why the `replica.Spec.DataDirectoryName` is empty. Can y

[2021-02-12 00:20] PhanLe1010 commented on #2242
@rsoika
You can use Longhorn UI to generate a support bundle. The link on the bottom
<img width="573" alt="Screen Shot 2021-02-11 at 4 19 12 PM" src="https://user-images.githubusercontent.com/22139961/107715927-1b55f380-6c85-11eb-83ba-0fd5501c2e5d.png">
 in the below picture:

[2021-02-12 00:27] PhanLe1010 commented on #2242
I don't think it is an issue since this is how [DR volumes](https://longhorn.io/docs/1.1.0/snapshots-and-backups/setup-disaster-recovery-volumes/) work across the different clusters.

@joshimoo Do you see any problem?

[2021-02-12 00:34] PhanLe1010 commented on #2242
Can you exec into the pod which you know is not working and try to `mkdir -p -m 700 /var/lib/longhorn-backupstore-mounts/foo_com/var/backups/nfs` to see if it is ok.

[2021-02-12 00:36] PhanLe1010 commented on #2245
You can use Longhorn UI to generate a support bundle. The link on the bottom in the below picture:
<img width="573" alt="Screen Shot 2021-02-11 at 4 19 12 PM" src="https://user-images.githubusercontent.com/22139961/107716918-53f6cc80-6c87-11eb-8f46-407f861c145c.png">

[2021-02-12 00:47] joshimoo commented on #2242
Don't see any problem with using the same longhorn backup target (nfs storage) for multiple clusters.

@rsoika If you want test you can kubectl exec into the longhorn-manager pod where the backup fails and try to run the failing mkdir command manually. edit see above suggestion by @PhanLe1010 :)

[2021-02-12 00:51] yasker commented on #2249
We don’t show the engine version in the overview because it’s considered a minor detail. For each volume, if it’s not the default version, then a green up arrow will show up, remind the user to upgrade. Also, there are already too many items listed in the volume overview page, I don’t think it’s necessary to have the engine version listed there since except for the upgrade, they’re always the same

[2021-02-12 00:51] #2249 closed

[2021-02-12 01:16] bbarclay opened #2250 "[BUG] Longhorn crash due to adding disk to a node that's in evicting/unschedulable"
I'm not sure what caused this. But it happened twice.
1. Adding a drive to a node that is set to unscheduled and evict, causes the drive that your adding to crash longhorn, taking down all your drives. Or
2. When trying to add a drive while draining and unscheduling the main drive on that node, causes it to bug.

I had this happen twice. You get a white screen of death, all your pods crash and the

[2021-02-12 01:20] yasker commented on #2250
Thanks for the reporting @bbarclay , we will try to reproduce the issue first.

[2021-02-12 01:34] yasker commented on #2241
We will check back this issue once we're done with https://github.com/longhorn/longhorn/issues/1741

[2021-02-12 01:37] matulek opened #2251 "[BUG] Random manager pods seem to be stuck when requested at /v1 uri"
**Describe the bug**
Randomly manager pods seem to be stuck when requested at /v1 uri

**To Reproduce**
Steps to reproduce the behavior:
It's hard to provide any reproduction scenario as it occurs on my VPS kubernetes cluster.
Cluster parameters:
Three nodes (one master, two workers), 16 GiB RAM, 4 cores intel x64.
CNI plugin: Calico
Standard Kubespray installation without tweaks.

[code]

[code]

[2021-02-12 02:10] joshimoo commented on #2251
Please provide us with a support bundle either attach it here or send it to longhorn-support-bundle@rancher.com
![image](https://user-images.githubusercontent.com/1287163/107722545-6ac90d80-6cdf-11eb-88b2-d4df7c4002a5.png)

[2021-02-12 02:36] joshimoo commented on #2181
The problem is that the expansion call disables the frontend and never enables it again which prohibits the share-manager from controlling the volume. We rely on the attach call to reenable the frontend, the pr https://github.com/longhorn/longhorn-manager/pull/829 reworks the csi + api interaction so that we call attach for each volume type.

Workaround:
After expansion is completed, manually atta

[2021-02-12 05:23] #2041 closed

[2021-02-12 06:51] t3hmrman commented on #1242
bump

[2021-02-12 09:34] rsoika commented on #2242
I generated a support bundle but it has a size of 67MB and I can  upload only files smaller than 10MB. The bundle contains very large log files... I deleted some of them
[longhorn-support-bundle_d583a0b5-9d5f-457e-ae59-1a6152d002b6_2021-02-12T09-27-17Z (Kopie).zip](https://github.com/longhorn/longhorn/files/5970782/longhorn-support-bundle_d583a0b5-9d5f-457e-ae59-1a6152d002b6_2021-02-12T09-27-17Z.K

[2021-02-12 09:37] rsoika commented on #2242
for example the csi-snapshotter.log files contain thousands of messages like this:

[code]

[2021-02-12 09:40] rsoika commented on #2242
I did a ssh on the replica-manager on node worker-4 which is affected from the issue:
[code]

[2021-02-12 09:42] rsoika commented on #2242
The csi-provisioner log files are flooded with messages like this:

[code]

[2021-02-12 09:46] rsoika commented on #2242
...and the csi-attacher.log files are flooded with messages like this :

[code]

maybe the NFS is not the root problem...?

[2021-02-12 10:17] matulek commented on #2251
Due to misbehaving longhorn-manager pods the longhorn-ui is unusable, I can't generate it. I can try to play with manager pods by restarting them until both are working but until then that's everything I see when trying to download the bundle
 ![Uploading obraz.png…]()

[2021-02-12 11:07] joshimoo commented on #2009
Closing this since we released native rwx support in v1.1
https://longhorn.io/docs/1.1.0/advanced-resources/rwx-workloads/

[2021-02-12 11:07] #2009 closed

[2021-02-12 11:15] joshimoo commented on #2242
The leader election logs are debug logs you can ignore them as long as the mentioned pods `csi-attacher-74db7cf6d9-ncfwt` and `csi-provisioner-d444fb7c9-kd7zt` are active you should be able to see the current operations in it.

For the snapshotter you need to install the crds if you want to use csi snapshot support, more info here:
https://longhorn.io/docs/1.1.0/snapshots-and-backups/csi-snapshot-

[2021-02-12 11:43] joshimoo commented on #2251
You can follow these instructions to manually generate a support bundle via curl against the backend.
you need to adjust the mentioned parameters, you might need to route this against a running manager instance manually.
https://github.com/longhorn/longhorn/issues/2118#issuecomment-748099002

If that is not possible provide the logs from each longhorn-manager instance.

[2021-02-12 17:46] antonum opened #2252 "[Question] programmatically changing longhorn settings"
**Question**

How do I programmatically read the current state and change individual settings in Longhorn? For example DefaultDataPath, PodDeletionPolicyWhenNodeisDown?

Ideally via kubectl. I'm aware of https://longhorn.io/docs/1.1.0/advanced-resources/deploy/customizing-default-settings/#using-the-longhorn-deployment-yaml-file but it's more "all or nothing" approach and still doesn't let me read

[2021-02-12 18:57] joshimoo commented on #2252
@antonum you can access and edit all settings via `kubectl get settings.longhorn.io -n longhorn-system`

[2021-02-12 22:16] PhanLe1010 commented on #2252
To echo what @joshimoo mentioned about the Longhorn API. We have document about how build a Python script to control Longhorn system https://longhorn.io/docs/1.1.0/references/longhorn-client-python/

Longhorn CLI is also on the roadmap.

[2021-02-12 23:18] antonum commented on #2252
Excellent! Thank you! Feel free to close the issue.

[2021-02-13 01:32] anupama2501 opened #2253 "[FEATURE] Type of the "Concurrent Automatic Engine Upgrade Per Node Limit" to be integer"
**Is your feature request related to a problem? Please describe.**
**Describe the bug**
Type of the "Concurrent Automatic Engine Upgrade Per Node Limit" to be integer. The field right now is a LabeledInput

**To Reproduce**
Steps to reproduce the behavior:
From the longhorn UI, go to settings -- General
In the concurrent Automatic Engine Upgrade Per Node Limit, if we put in any value eg., string,

[2021-02-13 11:56] ishankhare07 commented on #2219
@meldafrawi I can confirm this doesn't solve the issue. Also the question was about compatibility with Google cloud storage. Can some light be shed on what goes in the fields for `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` from GCP?

I am getting the above error even for AWS s3

[2021-02-13 19:52] matulek commented on #2251
I'm into it, I'll try to get to this at sunday.

[2021-02-14 05:13] vikstlu opened #2254 "[BUG] Some longhorn volumes stuck detaching after SAN problems which made the virtual machines reboot/pause"
**Describe the bug**
We had an outage in our datacenter where there were some problems with the SAN/network causing oVirt to restart/pause all virtual machines. After the virtual machines have restarted and the cluster is up again (took around 2 hours before we unpaused some virtual machines) some volumes in longhorn are stuck in detaching. I tested to manually mount one of the replicas (using doc

[2021-02-14 10:05] iangregsondev opened #2255 "[ENHANCEMENT] Manage cloud provider storage via storage class then schedule longhorn replicas on the cloud provider attached volumes"
**Question**

Hi,

I would like to add a persistent volume to my digitalocean cluster, this is supported (see links below) by using a do-block-storage storage class but I am unsure how to get longhorn to use this volume ?

https://www.digitalocean.com/docs/kubernetes/how-to/add-volumes/

Does anybody have any experience with this, is there a small HOW TO on longhorn ?

Maybe I am reading into it t

[2021-02-14 18:45] JSN-1 commented on #2228
could also be very nice, if you where able restore default backup/snapshot schedule, when restoring using web ui.

[2021-02-14 19:10] #2053 closed

[2021-02-14 19:10] #2068 closed

[2021-02-14 19:10] #2047 closed

[2021-02-14 19:10] #2050 closed

[2021-02-14 22:49] ElisaMeng commented on #2221
@PhanLe1010 Since it was a lab env. I have destroyed the cluster. :(
I suspected it is something wrong in the snapshot ls function, which overflow somewhere since I only see this when I have up to 249 snapshots. Other volumes that there are less snapshots, I never saw this problem.

[2021-02-15 02:18] PhanLe1010 commented on #2131
# Analysis

### 1. Running pod as non-root user and the problem

It is good practice to run pod as a non-root user to prevent bugs or malicious code from taking over the system. An example of a pod that runs as non-root user could be:
[code]
The above YAML file tells Kubernetes to run every process of every container inside the pod with user ID 1000 and primary group ID 3000. So far so good, proce

[2021-02-15 02:32] PhanLe1010 commented on #2168
Hi @mikeccuk2005

For the question:

No. The setting is on the pod's spec so Longhorn cannot set it. Users will have to modify that workload deployment to add fsGroupChangePolicy: "OnRootMismatch" if they want to speed up the Kubernetes mounting process for a volume with many files and with `fsGroup` set.

See https://github.com/longhorn/longhorn/issues/2131#issuecomment-778897129 for more details

[2021-02-15 11:03] venomone commented on #2145
Well for the moment I will stay with the old-style of deploying NFS shares manually.

[2021-02-15 15:42] rsoika opened #2256 "[BUG] Manually deleting a longhorn volume of a currently running pod, will lead to longhorn-kubernetes-pod-controller continuously failing to sync that pod"
**Question**

The log file of the longhorn-manager pod in two of my 3-node cluster are showing messages like this one:

`level=warning msg="longhorn-kubernetes-pod-controller: Error syncing Longhorn kubernetes pod my-namespace/my-pod-575f79ff56-nccfg: longhorn-kubernetes-pod-controller: fail to sync my-namespace/my-pod-575f79ff56-nccfg: volume.longhorn.io \"my-pod-volume\" not found"   `

The mess

[2021-02-15 21:53] SimmyD commented on #2234
Hey @PhanLe1010 ,  Thanks for looking at this.  I am using OVH here in Aus and wondering if some of the RO issues i am getting are based on the performance of the nodes.  I will jump the nodes to the next plan to see if this resolves it.

Thanks for looking

[2021-02-15 23:49] Diaoul opened #2257 "[FEATURE] Add support for ingressClassName in helm chart"
**Is your feature request related to a problem? Please describe.**
`kubernetes.io/ingress.class` annotation is progressively replaced with `ingressClassName` in the ingress as of v1.18. See [this related blog post](https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/).

**Describe the solution you'd like**
Support for ingressClassName in helm chart

**Describe

[2021-02-16 08:13] BogdanIonesq opened #2259 "[BUG] Volume stuck in an attach/detach loop"
**Describe the bug**
When trying to attach a volume, either by using the UI or `kubectl` commands, it remains stuck in an attach/detach loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Longhorn UI > Volume.
2. Click on 'Create Volume'. Use a random name, size 1Gi, everything else left on default. Click 'OK'.
3. Try to attach the newly created volume to any node.
4. See error: volu

[2021-02-16 13:31] joshimoo commented on #2259
Might be related to the ip v6 only cluster, more investigation needed.
@BogdanIonesq Can you attach a support bundle?

[2021-02-16 13:33] BogdanIonesq commented on #2259
@joshimoo the support bundle is attached to the end of the post

[2021-02-16 15:39] anupama2501 opened #2260 "[FEATURE] Upgrade engine image other options to be greyed out while the upgrade is going on"
**Is your feature request related to a problem? Please describe.**
When the concurrent value is set and when the upgrade starts, if we try any other options such as update replica count or delete or detach, we don't see the option we just clicked on working. Even after the engine upgrade is finished, we don't see the volume deleted or replica count increased/decreased.

**Describe the solution you

[2021-02-16 16:19] joshimoo commented on #2256
@rsoika Is it possible you manually deleted the volume `my-pod-volume` via the longhorn ui?
Is the pod  `my-pod-575f79ff56-nccfg` in the `my-namespace` still running?

Can you post the output of:
`kubectl get pods my-pod-575f79ff56-nccfg -o yaml -n my-namespace`

[2021-02-16 18:21] #2252 closed

[2021-02-16 18:28] timmy59100 opened #2261 "[BUG] Longhorn Instance Manager stuck on 100% Node cpu & volumes were not detaching/attaching"
**Describe the bug**
Today morning the longhorn instance manager suddenly used 100% of cpu of one node, till the point it became unresponsive.
This is not because of real load. This is the second time this happens in a short time.

After the node ist down, we wanted to start the workloads on other nodes, I detached the volumes from the node, accepting the warning. After some time they detached.
Bu

[2021-02-16 18:55] joshimoo commented on #2261
Thanks for reporting, we will wait for the support bundle to investigate.

[2021-02-16 19:32] rsoika commented on #2256
Yes - it is ;-) - I do sometimes delete volumes via the longhorn UI

The output looks like this:

[code]

[2021-02-16 19:51] rsoika commented on #2256
I did now delete my deployment with

    kubectl delete -f ...deplyoment.yaml

waited until all pods were removed and checked if the volumes in Longhorn-UI were detached.

Than I created my deployment again with:

    kubectl apply -f ...deplyoment.yaml

And the message in the longhorn-manager is there again :-/

[2021-02-16 21:57] yasker commented on #2149
Done.

[2021-02-16 21:57] #2149 closed

[2021-02-16 22:06] yasker commented on #2131
Thanks, @PhanLe1010 , it's a well-written explanation.

I also feel that we should put this either into our documentation or KB.

After that, I will leave it for QA to verify the result, then we can close it.

[2021-02-16 22:27] yasker commented on #2206
Update: we've investigated and identified a few issues with tgt/engine/replica communication on the data path regarding the spinning disk. We need to figure out a solution to fix/improve the situation.

[2021-02-16 22:29] yasker commented on #2253
@smallteeths can you check if this is something can be enforced in UI?

[2021-02-16 22:32] yasker commented on #2260
@PhanLe1010 Can you check to see which options should be disabled during engine upgrade?

[2021-02-17 00:16] joshimoo commented on #2166
We currently do not have the capacity to test against non standard operating systems, for a list of our recommended operating systems have a look here: https://longhorn.io/docs/1.1.0/best-practices/#software

We do want to have another look at this issue once we are closer to the 1.2 release.

[2021-02-17 00:18] joshimoo commented on #2146
@ajjo-tech is this still an issue, the above logs point towards a network environment issue.
Particularly the csi plugin part: `Also when i try to check logs on longhorn-csi-plugin-XXXX/longhorn-csi-plugin i receive “dial tcp 10.227.34.12:10250: i/o timeout`

[2021-02-17 00:22] joshimoo commented on #2236
We currently don't have a workaround for this, we want to have another look at this issue when we are closer to the 1.2 release.

[2021-02-17 00:28] joshimoo commented on #2234
@SimmyD Is it correct that you were able to solve your problem by doing a offline engine image upgrade?
I am closing this for the moment, if please reach out if you encounter this again in the future.

[2021-02-17 01:17] PhanLe1010 commented on #2234
@SimmyD

What is the level of your current cluster resources? Can you fill out those details so we can take a look at your RO issues?
[code]

You can also take a look at our [minimum resource requirement analysis](https://github.com/longhorn/longhorn/issues/1691#issuecomment-729633995) to have a better idea

[2021-02-17 01:22] PhanLe1010 commented on #2234
Reopen this issue because of the new question, the RO question

[2021-02-17 02:43] yasker commented on #2205
@PhanLe1010 Can you confirm this UI change is ready to be validated?

[2021-02-17 02:46] PhanLe1010 commented on #2205
@yasker Yes, It is ready to be validated.

Should I move it to merged column?

[2021-02-17 05:32] anupama2501 commented on #2153
Verified https://v1-1-1.longhorn.io/docs/1.1.1/references/settings

All the pointers mentioned above have been addressed:
All the settings are arranged in alphabetical order and the "Auto Cleanup System Generated Snapshot" is set to true
The Default value of Default Instance Manager Image, Latest Longhorn Version similar to above mentioned Default Engine Image were removed.

**Following two points

[2021-02-17 06:10] khushboo-rancher opened #2262 "[TASK] Verify the changes in rancher charts are in sync with the Longhorn chart."
**Description**
Before the release v1.1.1, make sure the changes made in the Longhorn chart are available in the Rancher charts.
Also, compare the charts with the Longhorn Yaml file before the release.

**Additional Context**
https://github.com/longhorn/longhorn/issues/2200

[2021-02-17 07:25] khushboo-rancher commented on #2200
Verified with the chart on the branch v1.1.1

Validation - **Pass**

From Longhorn-manager, ping and ns lookup to longhorn-test-nfs-svc.default are working.

Verified with SLES15 SP2 and ubuntu, Longhorn is able to list the backups from nfs backupstore.

[2021-02-17 07:25] #2200 closed

[2021-02-17 08:57] timmy59100 commented on #2261
@joshimoo I just generated the support bundle, I did not have time yesterday.
The incident started yesterday on 06:45 UTC. If the logs are not included in the support bundle I can search for them in elasticsearch.

[2021-02-17 11:23] mohjam2004 opened #2263 "How can I resize the longhorn volume? The new size should be shown in both rancher&longhorn UI"
**Question**
I only can resize longhorn volume through longhorn ui and the new size is not shown in rancher ui (the old value is shown).
In this way when I start the pod everything is fine and pod starts successfully. (but in rancher ui the volume size is old)
If I use another way to change the volume size and  edit the PV yaml file, the pod can't start and get failed log (in this way the volume s

[2021-02-17 13:40] ajjo-tech commented on #2146
@joshimoo
We can go ahead and close this. As you correctly concluded it was network related.

Thanks,
/Anders.

[2021-02-17 17:02] #2146 closed

[2021-02-17 17:41] joshimoo commented on #2256
I previously noticed the first issue when manually deleting a volume from a running pod.
Since the pod is still running we will fail to sync the pod status, I think instead we should nuke the pod just like we do for engine failures, this way the pod will be recreated and stuck in pending state, which makes the issue apparent to the administrator.

Can you elaborate on the second issue after recrea

[2021-02-17 18:11] joshimoo commented on #2257
Thanks for submitting a pr and suggesting this, we will discuss it and have a look at the pr and document.

[2021-02-17 18:13] joshimoo commented on #2254
Thanks for reporting.
We solved a few problems related to volume attach/detach state changes in v.1.1
Would you be able to update to this new version?

[2021-02-17 18:21] joshimoo commented on #2250
@khushboo-rancher @meldafrawi once you have capacity can you have a look to see if we can reproduce this issue.

[2021-02-17 18:24] joshimoo commented on #2221
Closing since you currently don't have this issue anymore.
From your message that you have 249 snapshots, it most likely means that your environment isn't stable and you have lots of replica failures, since each replica failure will lead to a system generated snapshot.

This can be caused by exhausting cpu, memory, network bandwith or a flaky network.

[2021-02-17 18:24] #2221 closed

[2021-02-17 18:27] joshimoo commented on #2245
@rondlite can you confirm that you are indeed using Longhorn version: 1.1.1 which we haven't released yet.
Also can you attach a support bundle so we can have a look why there is no replica data path specified.
I assume you meant 32GB of memory per node, can you confirm this?

[2021-02-17 18:30] joshimoo commented on #2261
Thanks for sending us the support bundle, we will have a look to see if we can identify a issue.

[2021-02-17 19:01] joshimoo commented on #2218
@khushboo-rancher @meldafrawi Once you have capacity can you try to reproduce this issue internally, a good time to reproduce this and test it internally would be while testing the pagination feature implementation. https://github.com/longhorn/longhorn/issues/1904

A good test scenario would be, do a couple of cycles of the below before starting the deletion phase
- create a 200GB volume.
- write

[2021-02-18 01:13] PhanLe1010 commented on #2081
## Proposal

**Goal**: we want to change from checking EI's availability on all nodes to checking the EI's availability on some nodes (the attaching node and all replicas' nodes)

### Changes to EI's `EngineImageStatus` struct

1. Replace [EngineImageStateReady](https://github.com/longhorn/longhorn-manager/blob/c2e1728c2dbfb05f8060bc182c9ad5c23d4171ee/types/resource.go#L255) by `EngineImageStateDe

[2021-02-18 02:32] yasker commented on #2153
@cclhsu Can you help to update the doc according to @anupama2501 's finding?

[2021-02-18 04:10] anupama2501 commented on #1741
For RHEL version
NAME="Red Hat Enterprise Linux Server"
VERSION="7.8 (Maipo)"

I still see the same issue mentioned by @khushboo-rancher.

Followed these steps to install:
kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/iscsi/longhorn-iscsi-installation.yaml
kubectl apply -Rf ./deploy/install/
kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/m

[2021-02-18 04:26] cclhsu commented on #1741
@anupama2501 Can you try with update yaml in https://github.com/longhorn/longhorn-manager/tree/master/deploy/prerequisite?  I think https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/iscsi/longhorn-iscsi-installation.yaml is not the latest code.  It is not yet merged back.

[2021-02-18 06:07] vikstlu commented on #2254
Hi, sorry about this bug request. You can close it. Had forgotten about it when we had similar problems with the SAN next night again.

This was due oVirt pausing some of the kubernetes nodes during the SAN LUN problems. Those virtual machines that just continued to run after 2-3 hours paused had their clocks running 2-3 hours wrong. Chrony started correcting the clocks by speeding them up on the

[2021-02-18 09:23] cclhsu commented on #2058
After discussion, will implement as a feature instead we have updated docuemnt https://github.com/longhorn/website/pull/256 and  provided NFS manifest https://github.com/longhorn/longhorn-manager/pull/820

[2021-02-18 09:27] c3y1huang commented on #2076
Move this to the review stage for https://github.com/longhorn/longhorn-manager/pull/825 to make the current issue status less confusing.

@joshimoo feel free to change the stage back to implement if you think we should implement the 5 skipped tests.

[2021-02-18 13:46] joshimoo commented on #2254
@vikstlu Thanks for responding, will close the issue, please feel free to reach out if you have another issue in the future.

[2021-02-18 13:46] #2254 closed

[2021-02-18 16:34] khushboo-rancher commented on #1904
Verified with the Longhorn Master - `02/18/2021`

Validation - **Pass**

Validated with S3 backupstore, more than 1000 backups are getting listed. Also, verified with NFS backupstore, there is no impact.

The timeout issue during backup is being tracked and will be reproduced and validated as a part of https://github.com/longhorn/longhorn/issues/2218

[2021-02-18 16:34] #1904 closed

[2021-02-18 18:43] yasker commented on #2131
FYI: During the team meeting, we decide that we should write a KB article for the issue.

[2021-02-18 18:59] khushboo-rancher commented on #2253
After discussing with @yasker we decided to show error from frontend for all below fields that take only integer as an input to have consistency across the settings.

1. Concurrent Automatic Engine Upgrade Per Node Limit
2. Default Replica Count
3. Replica Replenishment Wait Interval
4. Backupstore Poll Interval
5. Storage Minimal Available Percentage
6. Storage Over Provisioning Percentage

[2021-02-18 19:01] PhanLe1010 commented on #2260
I think we should disable:
* Update replica count (we shouldn't disrupt the upgrading replicas)
* Update data locality (we shouldn't disrupt the upgrading replicas)
* Backups (we shouldn't disrupt the upgrading engine)

I think `Delete` and `Detach` action should work from the code perspective. I also tested them on a cluster. Can you verify it @anupama2501 ?

[2021-02-18 19:04] PhanLe1010 commented on #2260
Btw, I think UI can determine whether the volume is upgrading engine image by comparing `curretnImage` and `engineImage` in the volume resource returned by API `v1/volumes`

[2021-02-18 20:05] yasker commented on #2253
As a note: the information of acceptable data type should be sent to the frontend already, so we shouldn't need to hard-code the name of the field for the validation.

[2021-02-18 20:07] matulek commented on #2251
@joshimoo I'm sorry, I couldn't get to this as fast as I was expecting to.
The service 'longhorn-backend' exposes manager pods which are misbehaving on my setup so generating support bundle with curl ends with connection drop. I'll provide pod logs as attachments. Personally I couldn't find anything

[longhorn-manager-7hjpn.txt](https://github.com/longhorn/longhorn/files/6005594/longhorn-manager-7

[2021-02-18 20:18] ayr-ton commented on #1815
@joshimoo Do you know a way of using the `data_migration.yaml` copy/pasting from volumes in two different namespaces?

[2021-02-19 01:09] PhanLe1010 commented on #2251
Form the log, it seems that manager pods are repeatedly restarted:
[code]
But I am not able to figure out why they are restarted constantly from the provided manager logs

[2021-02-19 01:29] anupama2501 commented on #1741
Thanks @cclhsu that worked

Verified on
RHEL version 7.8 (Maipo)

SUSE Linux Enterprise Server 15 SP1 x86_64 (64-bit)

Followed these steps RHEL and SE Linux

kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn-manager/master/deploy/prerequisite/longhorn-iscsi-installation.yaml
kubectl apply -Rf ./deploy/install/
kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn

[2021-02-19 02:01] PhanLe1010 commented on #2263
@mohjam2004

To see the change inside Kubernetes (through Rancher ), you need to edit the PVC instead. See more instruction at https://longhorn.io/docs/1.1.0/volumes-and-nodes/expansion/#via-pvc

[2021-02-19 02:14] PhanLe1010 commented on #2261
@timmy59100

Can I have some questions:

1. Did you remember which instance manager pod uses 100% CPU?
1. How often this issue occurs?
1. Can you search the `elasticsearch` and send  us the `longhorn-manager` pods' log before and after the incident? We don't have them inside the support bundle since Longhorn manager pods were restarted.

[2021-02-19 02:25] PhanLe1010 commented on #2251
After discussing with the team, it could also be the network in the cluster. I see the log:
[code]

Can you help us to do 2 things:
1. Check the status of `longhorn-manager` Daemonset and pods by:
[code]
   We want to see how many time manager pods restart
2. Can you check the network in the cluster. I.e., the logs of the Calico CNI plugin

[2021-02-19 02:45] #1741 closed

[2021-02-19 04:57] jenting commented on #1955
@timmy59100 could you please log in to one of the longhorn-manager pod and configure the related environment variable to the shell, the environment variable could get from the backup target credential secret (for example, aws-secret).
[code]

Then, provide the time it consumes to us? thank you.

[code]

[2021-02-19 06:58] khushboo-rancher opened #2264 "[BUG] Error during WebSocket handshake for Longhorn UI"
**Describe the bug**
The Longhorn UI shows 404 error for some request on refreshing the page or while navigating to different tabs but the operations on the page work fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn Master on a cluster of 4 nodes (1 etcd/control plane, 3 worker)
2. Navigate to Longhorn UI using rancher proxy on google chrome.
3. Open console on the dev t

[2021-02-19 07:01] khushboo-rancher commented on #2264
This could be because of the Backing image feature is not fully merged.

[2021-02-19 07:58] khushboo-rancher commented on #2198
Verified with Longhorn Master - `02/19/2021`

Validation - **Pass**

On editing the value of Proxy in the secret, the values are getting refreshed.

[2021-02-19 07:58] #2198 closed

[2021-02-19 09:55] timmy59100 commented on #1955
![image](https://user-images.githubusercontent.com/7300669/108488627-e529fc80-72a0-11eb-933f-57638276d890.png)

[2021-02-19 11:03] timmy59100 commented on #2261
@PhanLe1010
1. First incident it was instance-manager-e-17b282a4, second instance-manager-e-5a722e43
2. We now had this issue twice in a row. Before there were just normal disconnects.
    After the first one we double the cpu on the nodes.
3. I sent you the login for elasticsearch with the logs.

[2021-02-19 11:35] Q-efx opened #2265 "[QUESTION] Longhorn-UI: Error during WebSocket handshake: Unexpected response code: 200"
Initial install works fine, but after a day or two, I suddenly get this message in the browser and values are empty:

Error during WebSocket handshake: Unexpected response code: 200

I used helm chart with version 1.1.

I cant generate support bundle, since there seems to be an issue with communication :)

Ingress messages:

[code]

Longhorn UI messages:

[code]

kubectl get all -n longhorn:

[cod

[2021-02-19 18:54] joshimoo commented on #2265
Did you restart a node or something, what's with the time difference and the old longhorn-ui deployment?

[2021-02-19 23:44] yasker commented on #2264
Let's check it again once the backing image backend is merged.

[2021-02-20 00:46] dragon2611 commented on #1955
I had a lot of trouble with this on backblaze as well, it would frequently timeout before bringing up the restore dialogue

[2021-02-20 05:27] mohjam2004 commented on #2263
Hi @PhanLe1010
AS I explained in my 1st post, I have edited the Persistent volume yaml file. But I don't have the parameter: spec.resources.requests.storage as the longhorn document explain.

longhorn doc:
![image](https://user-images.githubusercontent.com/59224403/108584770-24b41f80-7359-11eb-8724-20dd4c938254.png)

what I see when I edit my persistent volume:
![image](https://user-images.githubu

[2021-02-20 07:09] PhanLe1010 commented on #2263
@mohjam2004

You need to edit Persistence Volume Claim, not the Persistent Volume. When you edit PVC, Kubernetes will automatically try to expand the PV by asking Longhorn CSI to expand the underlying Longhorn volume.

The Longhorn document shows how to edit a PVC.

[2021-02-20 07:17] PhanLe1010 commented on #2263
To find the PVC, you can try:
kubectl get pvc -n <NAMESPACE-OF-PROMETHEUS>

[2021-02-20 07:52] mohjam2004 commented on #2263
Hello @PhanLe1010
Thanx a lot for the help.
1st I stopped the pod then I edited the PVC claim.
Now the changes is shown both in rancher and longhorn ui.

[2021-02-20 07:52] #2263 closed

[2021-02-20 11:05] dragon2611 commented on #1955
Whilst I really don't recommend this (or at least copy to another bucket or snapshot it first) I did some hackery on my backup repository where I went in and Deleted a load of the .cfg files for the volume.

Obviously that's going to leave you with orphan blocks so you'll probably have to write off the backup repo after but it allowed me to actually restore the latest snapshot.

[2021-02-20 11:07] dragon2611 opened #2267 "[Question] Delete nodes in v1.10"
Is there a way to force delete nodes in v1.10?

I replaced several of my nodes in k3s (I actually only have 1 node running in a VM on a dedicated at the moment) and for whatever reason they didn't get deleted from longhorn when I deleted them from kubernetes.

[2021-02-20 16:09] rsoika commented on #2256
When I look into the replikas on the affected node I see something like this:

![image](https://user-images.githubusercontent.com/1339124/108601517-3ddebf80-739d-11eb-80c1-b7a3668fbe84.png)

Does is make sense to delete these failed volumes?

[2021-02-20 18:32] Q-efx commented on #2265
Hello,

yes I tried restarting the containers, hoped it might fix the issue (Iit didnt)

Here is the support bundle

Thanks!

[bundle.zip](https://github.com/longhorn/longhorn/files/6015987/bundle.zip)

[2021-02-21 10:49] raelix commented on #2145
Hello, @yasker we are facing the same issue with the new Longhorn 1.1.0 and nfs. The volumes are mounted as uid=99,gid=99, Is there a possible automated work-around for this?

Thanks in advance

[2021-02-21 16:22] venomone commented on #2145
Hello,

well as already explained you can create the share manually, like in version < 1.1

Please check the following example for the NFS:

[code]

For the PVC:

[code]

and at you deployment yaml:
[code]

[2021-02-21 16:25] venomone commented on #2145
And make sure that clusterIP: 10.43.99.2 is not in used somewhere else. You need to attach a dedicated IP here for each share that is deployed like that into longhorn. Looks freaky but works like a charm

[2021-02-21 17:14] matulek commented on #2251
[yamls.zip](https://github.com/longhorn/longhorn/files/6018138/yamls.zip)

[2021-02-22 03:12] obscurerichard commented on #1997
See #1847 for a tantalizing clue that it's possible to hack this together. @vsellier published some 32 bit arm images that are partially functioning.

[2021-02-22 04:22] shuo-wu commented on #2267
Longhorn v1.1.0 node will be removed automatically when the related Kubernetes objects are deleted from the cluster. Hence there are 2 options to delete the node from Longhorn:
1. Delete the related Kubernetes node objects in the cluster: `kubectl delete node <node name>`
2. Or directly delete the Longhorn node objects: `kubectl -n longhorn-system delete nodes.longhorn.io <node name>`

Warning: Pl

[2021-02-22 04:48] shuo-wu commented on #2261
For the issue `But almost all volumes could not be attached on another node, there was always an error, that it was attached already`, how do you reuse these volumes? by creating new workloads without waiting for the old workload terminated?

Typically, Kubernetes will consider a RWO volume as reuseable/attachable only if the old workload is terminated and the related `VolumeAttachment` object is

[2021-02-22 06:33] anupama2501 commented on #2152
Test scenarios verified:

1. Deploy a workload with rwx scale 10 and verify the volumes created can be used for all of them. Once the workloads are created, upgraded the image version of longhorn. Set the concurrent value to 2, verified all the volumes are upgraded in sets of 2[concurrent value].
2. While the concurrent is set to 3, and upgrade is happening , change the value to 4 - This action ha

[2021-02-22 09:01] timmy59100 commented on #2261
@shuo-wu I set the replicas to 0, kill the old workloads and waited a few minutes. But it didn't help.
Difficult to reproduce in our case.
Could the volumeattachement in kubernetes be manually deleted? But of course it should be automatic.

[2021-02-22 14:25] joshimoo commented on #1955
@dragon2611we cleanup orphaned blocks when you request a backup delete.
So you can request a backup delete operation from the longhorn ui and we will evaluate all blocks and cleanup orphaned ones.
This will also update the backup volume size to be correct.

[2021-02-22 15:06] joshimoo commented on #2256
Just leaving a note here:
A removal fix for ophaned volumes from pods was just merged in https://github.com/kubernetes/kubernetes/pull/95301
kubernetes@1.20 with consideration for backporting.

[2021-02-22 18:05] joshimoo commented on #1549
reopening since it's marked as knowledge base, is this still required @yasker

[2021-02-22 23:12] yasker commented on #1549
@joshimoo Thanks for catching it. Yes, we still need it. Scheduled it to v1.1.2.

[2021-02-22 23:17] PhanLe1010 commented on #2081
## Manual Tests:
### Case 1: Test volume operations when engine image DaemonSet is miss scheduled
1. Install Longhorn in a 3-node cluster: `node-1`, `node-2`, `node-3`
1. Create a volume, `vol-1`, of 3 replicas
1. 1. Create another volume, `vol-2`, of 3 replicas
1. Taint `node-1` with the taint: `key=value:NoSchedule`
1. Check that all functions (attach, detach, snapshot, backup, expand, restore,

[2021-02-23 01:28] PhanLe1010 commented on #2251
@matulek

From your provided yaml files, I see that some Longhorn manager pod's container is restarted a few times right after it is started.
For example, the manager pod `longhorn-manager-shh69` has the following `status.containerStatuses` field:
[code]

We want to investigate why the container inside the manager pod exited with error code. Can you try to monitor `event` of the `longhorn-manager`

[2021-02-23 01:35] yasker commented on #2265
@smallteeths Can you help to check this?

[2021-02-23 07:10] khushboo-rancher commented on #2247
Verified with Longhorn-master - `5d83fc4` - `02/23/2021`

Validation - Pass

The sorting for columns `Status`, `Name`, `Replicas`, `Allocated`, `Used`, `Size` are working fine.

[2021-02-23 07:10] #2247 closed

[2021-02-23 07:16] Martin-Weiss commented on #2090
In case Longhorn would be using BTRFS - we might have to verify if that makes sense regarding performance (latency). We have seen that BTRFS with COW is not the best filesystem for latency dependent services.. so it might bring some overhead without much value?

[2021-02-23 11:57] khushboo-rancher opened #2268 "[BUG] DR volume is not getting upgraded automatically by default"
**Describe the bug**
The feature auto upgrade is not working for DR volume when it is not activated.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0 on a K8s cluster.
2. Create a DR volume, (Don't activate it)
3. Upgrade longhorn to master and provide `Concurrent Automatic Engine Upgrade Per Node Limit`
4. The DR volume is not upgraded automatically.

**Expected behavi

[2021-02-23 14:20] user-name-is-taken commented on #2090
Could you link to some resources describing the problem?

[2021-02-23 15:34] adamwoolhether commented on #1549
just popping in to say i'm having the same exact issue. Running on Arm64. Port-forwarding is enabled. Have tried deleting
the session affinity as noted above.

Situation seems identical, issue with coredns
[code]

Here are my logs from long-horn manager.

[code]

[2021-02-23 18:12] gdznela commented on #2244
I had same issue with RHEL8 + RKE (k8s 1.19.7 + calico 3.16.5) + Longhorn(same error message in longhorn manager logs).
Disabling firewalld helped.

[2021-02-23 19:31] wenerme opened #2269 "[BUG] Node Unschedulable do not have storage"
**Describe the bug**

Third row allocated is __-40G__

![image](https://user-images.githubusercontent.com/1777211/108896509-fcc20600-764f-11eb-90c8-ed6ec795fb63.png)

The node is been __replaced__ before(using same node name, but redeployed k3s), then upgrade longhorn from 1.0.2 to 1.1.0

**To Reproduce**

**Expected behavior**
Correct node storage

**Log**
If applicable, add the Longhorn managers

[2021-02-23 19:34] PhanLe1010 commented on #2268
As discussed with @khushboo-rancher , It is expected that Longhorn doesn't automatically upgrade the DR volume's engine image since doing so would require a full restoration on the DR. This behavior is documented in the manual test https://github.com/longhorn/longhorn-tests/blob/master/docs/content/manual/pre-release/upgrade/auto-upgrade-engine.md

closing this issue.

[2021-02-23 19:34] #2268 closed

[2021-02-24 00:33] c3y1huang opened #2270 "[BUG] volume name limitation breaks CSI sanity check"
**Describe the bug**
The current Longhorn volume name limitation is causing the CSI sanity check to fail some tests.

**To Reproduce**
Run csi sanity check against longhorn cluster.
[code]

**Expected behavior**
Test should pass

**Log**
[code]

**Environment:**
 - Longhorn version: master-head
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version:
   - Number of management node in the clu

[2021-02-24 01:47] c3y1huang commented on #2076
The success of csi-sanity test is dependent on https://github.com/longhorn/longhorn/issues/2270

[2021-02-24 01:54] PhanLe1010 commented on #1877
**Reproduce steps:**
1. Install Longhorn v1.1.0 from Rancher UI
1. SSH into a worker node that has a longhorn-manager pod running
1. check the mount point `/run/secrets/kubernetes.io/serviceaccount` by running
[code]
1. Kill the longhorn-manager pod on the above node
1. Check the mount point `/run/secrets/kubernetes.io/serviceaccount` by running
[code]
1. Observe that each time the longhorn-manage

[2021-02-24 02:53] shuo-wu commented on #2269
Is the disk of the replaced node the same as that of the removed node? If NO, you can try to delete the disk and recreate it.

[2021-02-24 04:39] innobead opened #2271 "[TASK] Fix the remaining failed test cases of CSI sanity test"
**Is your feature request related to a problem? Please describe.**

Need to resolve the remaining failed test cases of CSI sanity check.

Ref: https://github.com/longhorn/longhorn-manager/pull/825#issuecomment-771520991
[code]

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
- #2076
- #2270

cc @c3y1huang

[2021-02-24 07:39] wenerme commented on #2269
@shuo-wu Recreated before, seems the dir not exists, changed to /var/lib/longhorn, now works, thanks

[2021-02-24 07:39] #2269 closed

[2021-02-24 07:41] Martin-Weiss commented on #2090
I need to dig into our Bugzilla to find these - this will take some time - but I remember that especially with qgroups enabled we have had big challenges and also with ETCD on BTRFS so we moved ETCD to XFS. In case of Longhorn - is there any technical value for Longhorn when using BTRFS "below" Longhorn block/file storage? Would Longhorn be able to use COW from BTRFS or Send/Receive..?

[2021-02-24 08:42] timmy59100 commented on #2261
Today night we had the issue with 100% cpu again. Some replicas failed and volumes disconnected.
instance-manager-r-b37ad58d
You can see it in the logs again.

![image](https://user-images.githubusercontent.com/7300669/108972821-fcdbf900-7683-11eb-83df-929c8d9f4871.png)

[2021-02-24 09:44] runningman84 opened #2272 "[QUESTION] Restored volume does not appear in k8s"
**Describe the bug**
A clear and concise description of what the bug is.
I have two clusters which use the same s3 backup bucket. I would like to restore a volume in the second cluster which was backed up in the first cluster. The volume appears health in the longhorn gui but does not appear in the k8s api.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two clusters
2. Connect both c

[2021-02-24 13:36] joshimoo commented on #2272
Did you create a PV/PVC for the volume after restore?
![image](https://user-images.githubusercontent.com/1287163/109008514-b4d1cc00-76ad-11eb-9f2d-7a7dda531f23.png)

[2021-02-24 14:50] khushboo-rancher commented on #2205
Verified with Longhorn-master `02/24/2021`

Validation - **Pass**

1. **With the auto engine upgrade disabled** - It is allowed to upgrade the engine to a engine image which is not default.
2. **With the auto engine upgrade Enabled** - Upgrade to only default engine image is allowed using UI. The dropdown doesn't show engine image other than the default one.

[2021-02-24 14:50] #2205 closed

[2021-02-24 14:56] khushboo-rancher commented on #2253
Verified with Longhorn-master `02/24/2021`

Validation - **Pass**

The below fields in the setting only accept the integer value and on leaving it blank shows the error.
1. Concurrent Automatic Engine Upgrade Per Node Limit
2. Default Replica Count
3. Replica Replenishment Wait Interval
4. Backupstore Poll Interval
5. Storage Minimal Available Percentage
6. Storage Over Provisioning Percentage

<i

[2021-02-24 14:56] #2253 closed

[2021-02-24 16:04] meldafrawi commented on #1303
Affected by: https://github.com/longhorn/longhorn-tests/pull/538

We have moved nightly tests to use aws, so we need a new implementation for communicating with AWS APIs.

[2021-02-24 17:59] joshimoo commented on #2255
You need to ensure, the do volume is attached to the node then you can make longhorn use the volume to create new replicas on it.

[2021-02-24 18:03] joshimoo commented on #2259
@BogdanIonesq We currently don't fully support ipv6 only clusters, it's something we want to look into in the future.

[2021-02-24 18:19] PhanLe1010 commented on #2212
@rbq
Any update?

[2021-02-24 18:19] joshimoo commented on #2218
We are planning to replicate this problem internally and do additional investigation.
We added pagination support for backups and are adding parallelization for the list object calls, in a follow on pr.

[2021-02-24 21:36] rene-demonsters commented on #1819
Ran into the exact same issue after some storage issues at our provider.

We have a 3 server cluster, symptoms were as follows:

- Anything from Longhorn that was attached to server 1 would fail to actually mount the storage
- Addressing the same PVC but from any other server or creating a new workload addressing it worked fine
- Kicking the server out of the cluster, scrubbing it from Rancher ent

[2021-02-24 22:28] jcamilsa opened #2273 "Failed to bind volumes: provisioning failed for PVC "milvus-release""
Created a Azure kubernetes cluster and deployed Milvus cluster. 3 out of 4 pods are NOT running due to volume mount errors.  "milvus-release-mysql" was mounted successful but not "milvus-release" . Followed the steps from https://milvus.io/docs/v0.10.6/mishards.md for Mishards installation

Kubernetes version: 1.18.14

Logs:

[code]

[2021-02-24 22:55] carpenike commented on #2131
Hey Folks,

I'm running into this problem and it seems as though _something_ needs to be set in the csidriver. Even with the securityContext defined in the pod I'm still getting the `kubernetes.io/csi: expected valid fsGroupPolicy, received nil value or empty string`.

I've got this defined in spec.securityContext
[code]

[2021-02-24 22:58] PhanLe1010 commented on #2131
@carpenike Which Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version are you using? Also, which Longhorn version?

[2021-02-24 23:00] carpenike commented on #2131
@PhanLe1010 --

Kubeadm deployed on top of Ubuntu. Longhorn 1.1.0.

[code]

[2021-02-24 23:01] carpenike commented on #2131
Heh, realized that only had the kubeadm version...

Kube version is 1.20.2-00:

[code]

[2021-02-24 23:02] PhanLe1010 commented on #2131
@carpenike Thanks
Can you provide us the CSI Driver yaml
[code]

[2021-02-24 23:03] carpenike commented on #2131
[code]

[2021-02-24 23:09] PhanLe1010 commented on #2131
From the yaml file, it is weird that Longhorn is saying that your Kubernetes version is v1.19.8
[code]

[2021-02-24 23:10] carpenike commented on #2131
Yeah, it was an in-place upgrade.

[2021-02-24 23:10] carpenike commented on #2131
[code]

[2021-02-24 23:17] PhanLe1010 commented on #2131
By default Kubernetes v1.20 should automatically field in the field `fsGroupPolicy` for Longhorn CSI Driver CR. So the error `kubernetes.io/csi: expected valid fsGroupPolicy, received nil value or empty string` shouldn't happen.

I am guessing order of the upgrading process might contribute to the issue. Can you give more detail about what you mean by `in-place upgrade` ?

[2021-02-24 23:19] carpenike commented on #2131
Yup! They're ubuntu nodes so it's just an apt update process. Kubelet restarts on each node and reports in to the control-plane with the updated version.

[2021-02-24 23:26] carpenike commented on #2131
Should I just remove the driver and re-create it?

[2021-02-24 23:31] PhanLe1010 commented on #2131
@carpenike Yes, the workaround is just simple as that. You can also just delete the pod `longhorn-driver-deployer-xxxx` and it will be restarted and recreate the CSIDrive CR.

 However, is it possible that you can hold on a second? We would like to learn about how to reproduce the issue. Is would be great if you can help us?

[2021-02-24 23:31] carpenike commented on #2131
Sure no problem. :)

[2021-02-24 23:42] PhanLe1010 commented on #2131
What is your upgrade order?
Is it
1. worker nodes (drain, upgrade kubelet and kubectl, uncordon) -> control plane nodes
or
2. ontrol plane nodes ->  worker nodes (drain, upgrade kubelet and kubectl, uncordon)

[2021-02-24 23:44] carpenike commented on #2131
Generally the first one.

[2021-02-24 23:47] PhanLe1010 commented on #2131
Ok, that explains why Longhorn is saying that your Kubernetes version is v1.19.8 in the CSI Drive CR. Since at the time the `longhorn-driver-deployer` pod starts it see that K8s server has the old v1.19 version. Latter on, when the K8s server is upgraded to v1.20. The `longhorn-driver-deployer` pod is not restarted so it doesn't see the new v1.20 version and it doesn't update the CSI Driver CR.

[2021-02-24 23:48] PhanLe1010 commented on #2131
Can you try the workaround:

[2021-02-24 23:51] carpenike commented on #2131
Done. It seems like longhorn is caching the k8s version?

[code]

[2021-02-24 23:52] carpenike commented on #2131
CSIDriver looks the same too:

[code]

[2021-02-25 00:02] PhanLe1010 commented on #2131
No, it fetches the info from the Kube API Server https://github.com/longhorn/longhorn-manager/blob/bb8a72669a61e36ab70d25651b9c8f67c5c7fb2b/csi/deployment_util.go#L158

Hmm

[2021-02-25 00:15] PhanLe1010 commented on #2131
Can you try:
[code]
and
[code]

[2021-02-25 00:57] carpenike commented on #2131
Figured it out -- the k8s kubelets had upgraded to 1.20.4 but the underlying API and services had not. Ran through the kubeadm upgrade process and now things are starting up as expected. Deleted the longhorn-driver and it's re-deploying everything.

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

This would likely not have been encountered with a fresh 1.20.x cluster.

[2021-02-25 03:37] smallteeths commented on #2265
I did not reproduce this bug locally. Can you provide another support bundle? The last bundle seems to be broken. Thank you @Q-efx

There is another thing in this issue I am a little confused is that if the websocket cannot be connected, it should be able to generate support bundles through ui.

[2021-02-25 06:58] c3y1huang commented on #2197
Seem it is required to have host ipv6 enabled because the nfs-ganesha used in share-manager automatically binds to tcp6 socket unless on FreeBSD.

When ipv6 is disabled using sysctl, the change does not pass through to Kubernetes pods hence share-manager manages to survives.
[code]
And when using kernel boot entries, the changes take effects, and ganesha exits due to unable to find to tcp6 socket

[2021-02-25 07:14] c3y1huang commented on #2197
@joshimoo correct me if I'm wrong, but this seems like a no fix, and we should add to requirement in doc.

[2021-02-25 07:50] runningman84 commented on #2272
Yes I have created a pv/pvc accordingly.

[2021-02-25 13:00] odidev commented on #2201
@khushboo-rancher , We would also like to see this issue fixed, Is it within your scope of next release?

[2021-02-25 15:36] khushboo-rancher commented on #2201
@odidev Yes, it is in the scope for v1.1.1 (next release)

[2021-02-26 01:02] strigona-worksight opened #2274 "[FEATURE] Changing the size of a partition on the host OS does not get reflected in Longhorn."
**Is your feature request related to a problem? Please describe.**
Changing the size of a partition on the host OS does not get reflected in Longhorn.

**Describe the solution you'd like**
Monitor the filesystem for a change in size and update metadata accordingly.

**Describe alternatives you've considered**
In hindsight, allocating the additional space as a new partition and adding that disk in

[2021-02-26 01:13] joshimoo commented on #2274
@shuo-wu is this something we already monitor?

[2021-02-26 02:27] joshimoo commented on #2197
@c3y1huang good analysis, generally it would be okay for us to force ganesha to use ipv4 only, since we currently don't support ipv6 only clusters.

I think one can force ganesha to use IP4 only but I cannot find the documentation for the flag might be miss remembering. We can forcefully disable ipv6 in the source code since we are building from source, Besides that I think there is a bug in the g

[2021-02-26 02:52] shuo-wu commented on #2273
I saw that all PVCs are created by the StorageClass `default`. Is this StorageClass a Longhorn StorageClass?
Based on the annotation `volume.beta.kubernetes.io/storage-provisioner: kubernetes.io/azure-disk` in the stuck PVC `milvus-release`, you may not even use Longhorn.
Notice that this PVC is mode `ReadWriteMany`, make sure you config the RWX Longhorn volume correctly based on the Longhorn vers

[2021-02-26 04:13] c3y1huang commented on #2197
Thanks @joshimoo , as discussed, we will try to either enforce disable ipv6 in the source code or apply your pr patch to adopt tcp ipv4 fallback. The full regression seems to be dependent on https://github.com/longhorn/longhorn/issues/2111, I will take a look at it first.

[2021-02-26 04:24] joshimoo commented on #2111
Leaving a note here, when testing the new image on arm ubuntu 20.04 host.
It looks /etc/mtab is not available when starting ganesha so it's unable to find all mounted filesystems.
You can investigate this easily by deploying a share-manager image, but replacing the start command with /bin/bash then manually start `./longhorn-share-manager` with an attached volume.

This will try to start ganesha a

[2021-02-26 04:35] joshimoo commented on #2015
@shuo-wu the remountRequested at getting continously reset should not be a problem. I will check the support bundle to see if there is an issue with it.

[2021-02-26 04:46] joshimoo commented on #2272
@runningman84 if you have restore the pvc/pv then the volume should be available via
`kubectl get pv <pv-name>` and `kubectl get pvc <pvc-name> --n <pvc-namespace>`

[2021-02-26 05:57] satwell opened #2275 "[BUG] Longhorn UI Node dashboard - denominator in allocated column is double actual"
**Describe the bug**
In the longhorn-ui node dashboard, the denominator values reported in the "Allocated" column are twice the actual values.  The numerator is correct, and the "Used" and "Size" columns appear to be correct.  See example screenshot below.  These nodes both have 30G disks, but the Allocated column is reporting that it can go up to 39.85Gi (twice the "Size" column).

<img width="92

[2021-02-26 07:09] Q-efx commented on #2265
Hello and good morning :)

Sorry for the late reply.

Attatched is the new support bundle.

Thanks!

Sadly, the file is too big now.

https://file.io/prun50XKuTjx

[2021-02-26 09:43] runningman84 commented on #2272
Unfortunately the volume does not appear in the pv/pvc list.

[2021-02-26 09:51] ahedderich commented on #2265
I just ran into the same problem after recently updateing from v1.0.0 to v1.1.0
from the logs you posted i can see you are trying to open the ui with "[longorn-url]/node" which leads to a wrong wss url, since it seems to be relative now.
try opening the ui without any subdirectory. that solved it for me.

[2021-02-26 10:16] ambis opened #2276 "[BUG] rpc error: code = InvalidArgument"
**Describe the bug**
I have a k3s `v1.20.4+k3s1` cluster running three Hetzner Cloud VPS nodes (cx41 (Intel) and cpx41 (EPYC) tested) running Debian-10 and Longhorn 1.1.0.

Not running any production workloads yet. I experienced this issue before, and decided to recrate the whole cluster from scratch (new vps).

After about a day running anything using volumes, I end up having this error randomly:

[2021-02-26 14:42] Q-efx commented on #2265
You must be kidding me, you are right.... what the?..

This is really a confusing bug! :(

Still, what's the cause here? Even when clicking around, it stays bugged...

[2021-02-26 15:25] ahedderich commented on #2265
The url structure changed.
Before  v1.1.0 `[longorn-url]/volume`
After  `[longorn-url]/#/volume`
The bug only appears to people using an old version deep link.
Without knowing the details, my guess is that this change helps using the ui with a subfolder url structure like `[admin-gui-url]/longhorn/#/volume`. But no clue what the real story is behind the change.

[2021-02-26 16:56] LuizBuffa25 opened #2277 "[Question] How to restore a backup after I use backup-to-file and get .qcow2/.raw file"
**Question**
How I restore a volume after I use [backup-to-file.yaml](https://github.com/longhorn/longhorn/blob/master/examples/restore_to_file.yaml.template) and get mybackup.qcow2 or mybackup.raw, must be **without** using UI? What I need is to know how I restore a volume backup and make it available.
Thanks!

* Using S3 to store backups.

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernete

[2021-02-26 17:14] joshimoo commented on #2272
Please provide a support bundle with context information about the volume + pvc that you restored.
As well as the output from `kubectl get pv` and `kubectl get pvc -n <namespace>`

[2021-02-26 17:22] yasker commented on #2265
Thanks for the help @ahedderich , yes we indeed change the routing/URL structure in v1.1.0. So reopen the link from the app page should automatically fix it (the browser cache might need to be cleaned). See https://github.com/longhorn/longhorn/issues/2118#issuecomment-748202730

We will make sure to document the change like this in the release note next time.

[2021-02-26 21:34] #1701 closed

[2021-02-26 22:33] ElisaMeng commented on #1500
I see this quite often in my hobby lab as well. I only have 1G connection and run ssd, but I have small load on the system.

[2021-02-27 07:33] derzufall commented on #1500
We still have this very same issue on a regular basis. Ssds, VMs (see my answers above). Newest version with all the stuff in place that was supposed to counteract the issue, like data locality and all. It even got worse. Now when a volume goes read-only and I restart the container all replicas of the volume will be corrupt and i cannot remount any of the volumes.

Even the checksums of all replic

[2021-02-27 08:28] Q-efx commented on #2265
Yeah, but maybe also add a redirect for old links to, at least the frontpage? Or a 404 with a link to main page?

[2021-02-28 01:00] tyzbit opened #2278 "[BUG] Backup fails to complete due to timeout causing duplicate backups"
**Describe the bug**
Scheduled backup to S3 results in multiple copies of each individual backup in S3.  Furthermore, automatic cleanup appears to be broken.

**To Reproduce**
Steps to reproduce the behavior:

Prerequisite: Configure S3 Backups
1. Create a volume in Longhorn
2. Configure snapshots twice a day, retaining 1 (not necessary).
3. Configure backups twice a day, retaining 4.

**Expected

[2021-02-28 22:34] ElisaMeng commented on #1500
@joshimoo may you share some insight about how #2206 will help? this is pretty scary problem to have data stored on longhorn. :(

[2021-03-01 02:23] smallteeths commented on #2265
Front-end routing uses hash history, there are two reasons

- Longhorn may be deployed to different paths. In order to correctly execute front-end routing. .e.g `/longhorn/#/dashboard`

- Another reason is that the longhorn backend does not dynamically support page redirection, and the front end is a single-page application.

[2021-03-01 07:47] tabnul commented on #2278
Do your backups even complete effectively?
I also have this issue since a week but i think it is due to some backups suddenly starting crashing (cleanup not being kicked off afterwards, or cleanup causes crashing?)

[code]

[2021-03-01 09:15] Q-efx commented on #2265
You know the old URL structure? No? like /node?

Just remove the /node then... or old parts and replace them with the new URL schema...

[2021-03-01 12:09] joshimoo commented on #2278
I am guessing the timeout will mark the job as failed.
Even though the backup is actually running and will complete successfully.
Thanks for reporting we will look into this.

[2021-03-01 12:11] ElisaMeng opened #2279 "[QUESTION] Failed to attach volume when engine image is not ready"
**Describe the bug**
A clear and concise description of what the bug is.

[code]
**To Reproduce**
Not sure how to do :(

**Expected behavior**
A clear and concise description of what you expected to happen.

volume should attach successfully

**Log**
If applicable, add the Longhorn managers' log when the issue happens.

You can also attach a *Support Bundle* here. You can generate a Support Bundle

[2021-03-01 12:16] joshimoo commented on #2279
Your engine image is not deployed on all nodes.
`kubectl get engineimage ei-cf743f9c -o yaml -n longhorn-system`

This might be because some of the nodes are down or have been tainted after longhorn has picked up the node before.
We are working on changing the behavior to be per node instead of depending on all nodes as part of https://github.com/longhorn/longhorn/issues/2081

you can check the no

[2021-03-01 12:22] joshimoo commented on #2277
Check the documentation: https://longhorn.io/docs/1.1.0/advanced-resources/data-recovery/recover-without-system/

Any reason you don't use the normal backup & restore with longhorn installed?
https://longhorn.io/docs/1.1.0/snapshots-and-backups/backup-and-restore/create-a-backup/

Or the CSI integration to create longhorn backups?
https://longhorn.io/docs/1.1.0/snapshots-and-backups/csi-snapshot-s

[2021-03-01 13:27] bdsoha commented on #2276
Same issue here, however I'm running `v1.19.7+k3s1`.

[2021-03-01 14:57] joshimoo commented on #2276
There is definitely something wrong with your kubernetes cluster.
The below error indicates that kubelet on the node is unable to evaluate the volume attachment status.
Try fixing that and then reporting back if you are still having this issue.

[code]

[2021-03-01 15:21] ambis commented on #2276
I have observed myself that it takes a some time for that "no relationship" error to appear. If I interpret the log messages and their "timestamps" correctly, there is about 6 minutes gap before the "no relationship" error appears and that coincides well with my own observation.

It is difficult to see that it would be the cause for this? Maybe that error is generated after the VolumeAttachment is

[2021-03-01 15:48] ElisaMeng commented on #2279
@joshimoo Thanks a lot! I do have a node is down. New behaviour seem make a lot of more sense. Looking forward to having available.

[2021-03-01 16:17] strigona-worksight commented on #2274
I poked around the code base before posting and I only saw these values being referenced when creating new disks - either the default disk or a new one:
https://github.com/longhorn/longhorn-manager/blob/7babd5de9189aef792f8c13f4d92274a3944ceed/util/util.go#L368
https://github.com/longhorn/longhorn-manager/blob/7babd5de9189aef792f8c13f4d92274a3944ceed/types/types.go#L428
https://github.com/longhorn

[2021-03-01 17:20] joshimoo commented on #2274
@strigona-worksight this also gets called here indirectly.
https://github.com/longhorn/longhorn-manager/blob/7babd5de9189aef792f8c13f4d92274a3944ceed/controller/node_controller.go#L619

Then gets read here to update the disk status, from a cursory look this looks like it should update the size.
https://github.com/longhorn/longhorn-manager/blob/7babd5de9189aef792f8c13f4d92274a3944ceed/controller/no

[2021-03-01 17:24] joshimoo commented on #2276
@ambis
[code]

[2021-03-01 17:27] joshimoo commented on #2279
I am closing this for now, if that node is never coming back and you don't need any of the data on it.
You can manually remove it via `kubectl delete nodes.longhorn.io <node-to-delete> -n longhorn-system`

[2021-03-01 17:27] #2279 closed

[2021-03-01 17:44] natereid72 commented on #1549
Had same symptom. Logs showed that nodes.longhorn.io CRD had not been created. Using the kubectl apply -f method skips past it. I've seen this with other mega-manifests. Running the apply a second time successfully created all CRDs and all pods cam online.

[2021-03-01 18:15] #2159 closed

[2021-03-01 18:15] #1718 closed

[2021-03-01 18:29] khushboo-rancher commented on #2152
Verified with Longhorn master - `03/01/2021`

Validation - **Pass**

Below scenarios passed:
1. **Node failure cases**
    a. When there are volumes in the queue to be upgraded and the node is rebooted. - Once the node is back online the remaining nodes get auto upgraded.
[code]

[2021-03-01 18:41] khushboo-rancher opened #2280 "[BUG] Updating the config map in the Longhorn yaml doesn't set the values of the settings."
**Describe the bug**
Deploy Longhorn-master after setting some values like `concurrent-automatic-engine-upgrade-per-node-limit` in the Config map in the Longhorn yaml file. The values are not reflected the Longhorn setting once deployed.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0 on a K8s cluster.
2. Create some volumes and attach them to pods.
3. Change the `conc

[2021-03-01 18:57] tabnul commented on #2278
keep in mind that the logfile i posted might not be related to the problem of @tyzbit .
it does however seems to be a 'possible' scenario.
@tyzbit do you see failed backjobs ? (kubectl get job )

[2021-03-01 19:02] strigona-worksight commented on #2274
Ok, after further digging, the issue is purely me not fully understanding LVM. I had increased the size of the volume, but not the file system. As soon as I properly resized the file system Longhorn immediately acknowledged the change.

Sorry for any confusion.

[2021-03-01 19:02] #2274 closed

[2021-03-01 19:14] khushboo-rancher opened #2281 "[BUG] Show indication on the UI that the automatic upgrade is in progress"
**Describe the bug**
This is related to https://github.com/longhorn/longhorn/issues/2152, while the automatic upgrade is in the progress, UI should show some message that the automatic upgrade is in progress.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0 on a K8s cluster.
2. Create some volumes and attach them to pods.
3. Upgrade Longhorn to Master and enable automat

[2021-03-01 19:33] khushboo-rancher commented on #2208
Validated with the Longhorn-master `03/02/2021`

Validation - **Pass**

Added a random disk with `eviction requested` True and `scheduling` as False, there is no error and Longhorn-manager pods don't stuck in crashloop and work fine.

[2021-03-01 19:33] #2208 closed

[2021-03-01 19:35] PhanLe1010 commented on #2281
We can show upgrade in progress for each volumes by comparing `curretnImage` and `engineImage` in the volume resource returned by API `v1/volumes`

Though, we cannot determine whether auto-upgrade is happening or it is a manual upgrade since auto-upgrade is basically same as manual upgrade after it is trigged

[2021-03-01 20:40] tyzbit commented on #2278
I see logs identical to the ones you posted, so it appears we have the same issue.

[2021-03-01 20:48] jmcclenny-PRE opened #2282 "[Question] Longhorn UI with Istio instead of Nginx"
**Question**
Is it possible to configure the Longhorn UI to work with Istio instead of the Nginx Controller?

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: v1.19.3+vmware.1
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): AWS

[2021-03-01 22:11] LuizBuffa25 commented on #2277
Thanks for answer,
I need to perform a backup and restore 100% without UI. I know the CLI is in development, until it releases I needed some work around, I will study your links.

You may close this issue.

[2021-03-01 22:20] PhanLe1010 commented on #2261
@timmy59100
I was able to check the logs in elasticsearch last week but today I cannot search for the logs from Feb 23 to Feb 24. Did you added some restriction on the access?

We are investigating the 100% CPU. Can we have some questions?
1. What is the time zone in the above Grafana graph? Is it UTC?
2. From the Grafana graph, not only Longhorn instance manager but the other pods also uses a lot

[2021-03-01 22:39] meldafrawi commented on #2250
Reproduce steps:

- Deploy RKE2 cluster (1 master node, 3 worker nodes)  Ref: https://docs.rke2.io/install/quickstart
- Install Longhorn V1.1.0
- Create a volume and attach it to a node
- Choose a worker node, and set `Eviction Requested: True` and `Node Scheduling: disabled`
- Create a new disk to the chosen worker node instance, attach it, format it and mount it.
- On longhorn UI, add new disk t

[2021-03-01 22:53] yasker commented on #2250
Thank you @meldafrawi .

@bbarclay we are able to reproduce the issue. Will fix it in v1.1.1.

[2021-03-01 23:02] joshimoo commented on #2250
@meldafrawi can you verify, I think this might have been fixed as part of https://github.com/longhorn/longhorn/issues/2208

[2021-03-02 00:20] timmy59100 commented on #2261
@PhanLe1010 unfortunately there was a configuration error in elasticsearch, so the logs got deleted from this time, but the logs from an earlier incident on 16.02 are still there.

1. It's UTC+1
2. Grafana is just set for 4 day retention time. We will change this.
3. Yes not on all nodes, just one or two nodes in an incident.
     Here's the dmesg from one node (w02). If you need, I can get anothe

[2021-03-02 00:39] #2277 closed

[2021-03-02 01:54] yasker commented on #2111
Waiting for the share manager image update. cc @joshimoo

[2021-03-02 02:18] shuo-wu commented on #2015
Will recheck this during the share manager refactoring: https://github.com/longhorn/longhorn/issues/2096

[2021-03-02 02:26] shuo-wu commented on #2276
If you still have any questions after fixing your cluster, feel free to reopen it.

[2021-03-02 02:26] #2276 closed

[2021-03-02 02:51] smallteeths commented on #2265
Yes, Delete the old path, or revisit the root path of the longhorn you configured.

There are several ways to access longhorn

- rancher-proxy directly click on the generated connection on the rancher page.

- NodePort, Access your url:port directly.

- Ingress, If the configuration is the root path `/`, you can directly access your domain name. If other paths are configured, Ingress needs to be c

[2021-03-02 02:58] joshimoo commented on #2197
The new share-manager image `longhornio/longhorn-share-manager:v1_20210302`  has been released
The build pipeline pushes the new images to dockerhub, link here: https://hub.docker.com/r/longhornio/longhorn-share-manager/tags

@c3y1huang After testing the updated image, you can submit pr's to:
longhorn - to update the chart. Example here: https://github.com/longhorn/longhorn/pull/2173/files
longhor

[2021-03-02 03:46] shuo-wu commented on #2275
Due to [the setting `Storage Over Provisioning Percentage`](https://longhorn.io/docs/1.1.0/references/settings/#storage-over-provisioning-percentage), the allocatable space is greater than `Size`, which is the actual available size of the node. You can check [this doc](https://longhorn.io/docs/1.1.0/volumes-and-nodes/node-space-usage/) for more details.

[2021-03-02 05:16] c3y1huang commented on #2197
Test v1_20210302
[code]

[2021-03-02 07:27] jenting commented on #1539
@smallteeths I added the Label `KubernetesStatus` to the  `/v1/backupvolumes` API, you could get the PVC, namespace, Workload/Pod name from it.

[2021-03-02 08:23] PhanLe1010 commented on #2280
I observe the error message:
[code]
This error block Longhorn from setting any default setting. The error comes from [the method](https://github.com/longhorn/longhorn-manager/blob/7babd5de9189aef792f8c13f4d92274a3944ceed/upgrade/v1alpha1/types/setting.go#L368). It is complaining that `guaranteed-engine-manager-cpu` doesn't exist in the [SettingDefinition](https://github.com/longhorn/longhorn-manag

[2021-03-02 09:00] anissmajlovic opened #2284 "[Question] NFS ganesha fails continously."
**Question**

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: v1.18.14
 - Node config
   - Ubuntu 18.04.05
   - 16 vCPU
   - 32 GB RAM
   - DSSD
   - 20 Gbps between 5 ESXi nodes
 - VMware

**Additional context**
Add any other context about the problem here.

Hello everyone

I have a share-manager pod that is crashing all the time. I am not sure what to check, it is something ab

[2021-03-02 10:58] janeczku opened #2285 "[FEATURE] Longhorn should support multi-network K8s clusters (storage network)"
**Is your feature request related to a problem? Please describe.**

A typical bare-metal server/network architecture involves servers being attached to multiple networks, including a dedicated storage fabric that provides accelerated throughput and IO separation from the data plane.

Longhorn does not support segregate networks and uses the default CNI network for all the storage traffic. That mak

[2021-03-02 14:34] ralf-berger commented on #2212
Sorry, had to give up, please close the issue.

[2021-03-02 14:35] #2212 closed

[2021-03-02 14:58] joshimoo commented on #2284
@anissmajlovic Can you check if you have ipv6 enabled on your host node.
probably related to https://github.com/longhorn/longhorn/issues/2197

If the issue is indeed disabled IPV6 you can test the new share-manager image that will be released with v1.1.1
`longhornio/longhorn-share-manager:v1_20210302`

[2021-03-02 15:20] joshimoo commented on #1731
@c3y1huang thanks I merged this, can you fill out the bots info then we can move this into merged.

[2021-03-02 15:51] joshimoo opened #2286 "TASK: update the backupstore.yaml ssl certificate with the one from the engine integration test"
Since the certificate in the test backupstore.yaml will expire at the end of april.
We should replace it with the one from the engine integration test, which I already updated back then to have an experience date in 21xx.

public certificate:
[code]

private key:
[code]

[2021-03-02 19:54] runningman84 commented on #2272
here is some context:
[code]

![image](https://user-images.githubusercontent.com/1699128/109706663-836b6b80-7b99-11eb-8760-27be257468e0.png)

I have already sent the support bundle to @yasker

The webui also does not allow me to delete the volume. It is somehow stuck...

There are some errors in the log like these:
[code]

[2021-03-02 21:46] mohjam2004 opened #2287 "I get error on csi-attacher, csi-provisioner, csi-resizer and csi-snapshotter in specific time period."
**Question**
Some of my longhorn workloads (csi-attacher, csi-provisioner, csi-resizer and csi-snapshotter) have errors at specific time through the day. (through 11:00 PM To 12:40 AM)

**Environment:**
 - Longhorn version: I have errors on both longhorn versions (1.0.2 and 1.1.0)
 - Kubernetes version: 1.17.11
 - Node config
   - OS type and version: debian 10 buster
   - CPU per node: 4VCPU
   -

[2021-03-02 23:35] anissmajlovic commented on #2284
Hi Joshimoo

I tried to disable ipv6 for all nodes and it didn't help, also I reboted worker nodes.

-> sudo tee -a /etc/sysctl.d/99-kubernetes.conf <<EOF
-> net.ipv6.conf.all.disable_ipv6 = 1
-> net.ipv6.conf.default.disable_ipv6 = 1
-> EOF
-> sudo vi /etc/sysctl.d/99-kubernetes.conf
-> sudo sysctl --system

Then I upgraded share manager to:
-> longhornio/longhorn-share-manager:v1_20210302
also d

[2021-03-03 04:02] shuo-wu commented on #2287
Can you provide the support bundle? There is too little info in the log and I am not sure if this issue is related to the following error. Typically these csi components except for `longhorn-csi-plugin` are actually provided by Kubernetes and Longhorn is just responsible for deploying them. :
[code]

[2021-03-03 05:36] mohjam2004 commented on #2287
Hi @shuo-wu .
Thanx for your reply. What do you mean from "support bundle"?

[2021-03-03 06:30] c3y1huang commented on #2287
@mohjam2004 You can find `Generate Support Bundle` link at the bottom of the UI. This downloads a zip file contains Longhorn related configuration and logs that will provide us more info about the incident.

![Screenshot-2021-03-03-14:18:40](https://user-images.githubusercontent.com/22583541/109763403-fa9e0f80-7c2c-11eb-82e7-f0c9645b4d43.png)

[2021-03-03 06:32] shuo-wu commented on #2287
For each kind of csi component, there will be a leader elected among all pods then this leader pod will handle the CSI requests from k8s while others are the candidates. The function `tryAcquireOrRenew` is for the leader election, and normally there should be a result rather than the deadline exceed error.

[2021-03-03 06:36] mohjam2004 commented on #2287
This is my support bundle:
[longhorn-support-bundle_13bf0275-7526-4a13-b679-a21266509a8c_2021-03-03T06-35-00Z.zip](https://github.com/longhorn/longhorn/files/6074008/longhorn-support-bundle_13bf0275-7526-4a13-b679-a21266509a8c_2021-03-03T06-35-00Z.zip)

[2021-03-03 06:36] shuo-wu commented on #2270
Oh sorry. I don't know why this issue is closed when I merged the PR...

[2021-03-03 06:44] c3y1huang commented on #2270
Not your fault. It's because the PR is linked to this issue. All good!

[2021-03-03 07:54] joshimoo commented on #2272
@runningman84 the errors you are seeing is because the csi snapshot crds are not deployed on your cluster, if you want to use csi snapshots follow the below documentation. But they are not required for volume usage.
https://longhorn.io/docs/1.1.0/snapshots-and-backups/csi-snapshot-support/enable-csi-snapshot-support/

You are saying the volume does not show up, but it's clearly visible in the pvc/

[2021-03-03 08:00] PhanLe1010 commented on #2261
@timmy59100

Thank you for providing us the information.

The `dmesg` shows errors with Longhorn block because we know that the volume's engine was crashed (because of the CPU pressure on the node).

With the given data, I haven't found out know why the instance manager uses too much CPU yet. Since the elasticsearch log is deleted, I think we will have to wait until the next time this problem happ

[2021-03-03 08:03] joshimoo commented on #2284
@anissmajlovic I meant that if the cluster has ipv6 disabled at boot time, ganesha will fail to come up.
The above image should fix that issue, best to wait for longhorn v1.1.1

[2021-03-03 08:43] anissmajlovic commented on #2284
@joshimoo

First thank you very much for your replay.

I am sorry, just one more time to clarify.
I thought that if is enabled that I have to disable IPv6. For now I enabled IPv6 again using the commands above and also I upgraded share manager to latest version : longhornio/longhorn-share-manager:v1_20210302
Proper will be that IPv6 is enabled in cluster, right and then to upgrade share-manager to

[2021-03-03 09:02] joshimoo commented on #2284
@c3y1huang if you have time can you follow up with this, after the new e2e test is ran successfully.

[2021-03-03 09:07] anissmajlovic commented on #2284
Thank you both @joshimoo  and @c3y1huang

Kind regards

[2021-03-03 09:40] PhanLe1010 opened #2289 "[BUG] /engineUpgrade API error handling"
**Describe the bug**
 `/engineUpgrade` API allows upgrading the volume that is in degraded state
 `/engineUpgrade` API allows live upgrading the volume when the current engine image is not ready on all replicas nodes and the attaching node.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v1.1.0 in the cluster of 3 worker nodes
2. Create a volume of 3 replicas and attach it t

[2021-03-03 13:59] runningman84 commented on #2272
Yes I am talking about the hass-home-assistant-config-restore volume. I have already clicked on create pv/pvc but nothing happens (there is no error either). I also tried to delete the volume in the longhorn ui but nothing happens too...

[2021-03-03 16:01] khushboo-rancher commented on #2058
Verified with the nfs-installation yaml - https://raw.githubusercontent.com/longhorn/longhorn-manager/master/deploy/prerequisite/longhorn-nfs-installation.yaml

Validation - **Pass**

Validated with Ubuntu 20.4, SLES 15-sp1 and RHEL 7.8, the daemon set install nfs-utils on the nodes.

[2021-03-03 16:01] #2058 closed

[2021-03-03 17:04] khushboo-rancher commented on #2281
Sounds good to me. Just to confirm does it mean if the `concurrent-automatic-engine-upgrade-per-node-limit` setting is greater than `0` and there is at least 1 volume (except DR volume/degraded volume) which is still with old `engineImage`, we will show the message?

[2021-03-03 18:06] Martin-Weiss opened #2292 "[BUG] longhorn-post-upgrade job fails due to "Error: container has runAsNonRoot and image will run as root""
**Describe the bug**
During config change (helm chart deployed via rancher and then changed values and with activated PSP setting) - we see a pod "longhorn-post-upgrade-knbp2" failing to start with the error "Error: container has runAsNonRoot and image will run as root"

Assumption is that this POD does not fulfill the PSP.

**To Reproduce**
Steps to reproduce the behavior:
Deploy longhorn 1.1.0 a

[2021-03-03 18:11] khushboo-rancher commented on #2260
Verified with Longhorn-master UI `03/03/2021` - `a8ebc99`

Validation - **PASS**

The options replica count, data locality and backups, snapshot operations are greyed out.

[2021-03-03 18:11] #2260 closed

[2021-03-03 18:54] khushboo-rancher commented on #2280
Thanks @PhanLe1010 for looking into this and explaining the expected behavior.

This is not a bug and functionality is as below.
* Only the newly added setting will be set on upgrading Longhorn i.e. if the setting CRD is already exist in the system with some value, Longhorn will not overwrite it.
* The values should be added with one space after colon `:`
e.g. `concurrent-automatic-engine-upgrade-

[2021-03-03 18:54] #2280 closed

[2021-03-03 19:17] yasker opened #2293 "[FEATURE] NFS support (RWX) GA"
We want to improve our NFS solution to be highly available, so one node down (especially the node running the NFS server) will result in minimal downtime of the NFS server and near-zero interruption for the NFS client.

One note: since the NFS server uses `sync` mode by default, all the data are written by the client will be written on the underlying block device before the request was acked.

Ref

[2021-03-03 20:07] mohjam2004 commented on #2287
Hi,
This is the state of my cluster pods at the time of problem:
![image](https://user-images.githubusercontent.com/59224403/109865529-65753800-7c79-11eb-93dd-0066c5154dac.png)

[2021-03-03 21:06] joshimoo commented on #2292
@khushboo-rancher @meldafrawi are we able to reproduce this internally?

[2021-03-03 21:14] joshimoo commented on #2272
@runningman84 thanks for reporting, can you post the output of
`kubectl get volumes.longhorn.io <volume_name> -n longhorn-system -o yaml`

If you just want to delete the volume you can use
`kubectl delete volumes.longhorn.io <volume_name> -n longhorn-system`
This should set a deletion timestamp, you can check if the volume deletion has been requested before by
`kubectl get volumes.longhorn.io <vol

[2021-03-03 21:23] mohjam2004 commented on #2287
Hi
This is my last support bundle. I exported it at the end of the time of problem.
Time range of the problem is:
11:04 PM to 12:40 AM
[longhorn-support-bundle_13bf0275-7526-4a13-b679-a21266509a8c_2021-03-03T21-20-20Z.zip](https://github.com/longhorn/longhorn/files/6079273/longhorn-support-bundle_13bf0275-7526-4a13-b679-a21266509a8c_2021-03-03T21-20-20Z.zip)

[2021-03-03 21:26] khushboo-rancher commented on #1877
Verified with Longhorn-master `03/03/2021`

Validation - **Partially fail**

1. Scenario passed for new Longhorn master installation or if the `longhorn-manager` daemon-set is edited.
2. Upgrade scenario (Longhorn yaml file used for installation and upgrade using kubectl command) failed where If I add bidirectional mount `/var/run` in the yaml of v1.1.0 and upgrade to master which doesn't have `/v

[2021-03-03 21:53] joshimoo commented on #2287
@mohjam2004 what is your utilization of the network and cpu on the etcdserver and apiserver nodes (kubernetes control plane) during the error timeframe?

[2021-03-03 23:07] ElisaMeng opened #2294 "[FEATURE] Avoid exec as liveness probe"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

According to this https://github.com/opencontainers/runc/issues/2532
liveness probe with exec for every seconds seem consume too much resource.

Can we avoid liveness probe with exec in instance managers?

**Describe the solution you'd lik

[2021-03-03 23:24] meldafrawi commented on #2250
Couldn't reproduce it on `master`

[2021-03-03 23:24] #2250 closed

[2021-03-04 01:31] jenting commented on #2218
For the `rpc error: code = Unavailable desc = transport is closing` error, I had seen a related issue at Velero when performs backups to S3. The solution is to increase the CPU and memory resource limit.

@lucky4ever2 had you set up the CPU/memory requests/limits for longhorn-manager?

[2021-03-04 05:05] khushboo-rancher commented on #2033
The Yaml files for `iscsi` and `nfs` installation are validated with https://github.com/longhorn/longhorn/issues/2058 and https://github.com/longhorn/longhorn/issues/1741.

We should be good to close this.
@yasker @cclhsu anything specifically needs to be validated with this one?

[2021-03-04 05:26] shuo-wu opened #2295 "[FEATURE] Enhance the backing image feature"
**Is your feature request related to a problem? Please describe.**
Right now when a backing image is requested, Longhorn will fetch the backing image file from the remote for each node. In other words, if a backing image is required for N nodes, each node will take bandwidth to pull the data and total bandwidth consumed is N * backing image size.

To save the bandwidth as well as make some fancy f

[2021-03-04 07:46] #2033 closed

[2021-03-04 07:48] iangregsondev commented on #2255
Ok Thanks @joshimoo .

I will close this now.

[2021-03-04 07:48] #2255 closed

[2021-03-04 08:10] lucky4ever2 commented on #2218
I had don't set up the CPU/memory requests/limits for longhorn-manager. And the Cluster has a high performance.

[2021-03-04 10:25] Martin-Weiss commented on #2292
FYI - same issue with longhorn-uninstall POD..

[code]

[2021-03-04 12:07] shuo-wu commented on #2228
**This is a draft of the investigation only. It hasn't been verified**

## Rancher snapshot restore

This is more like a cluster snapshot rollback.

### Assumptions:
1. All or most of the data still exist in the cluster and can be directly reused before the restoration.
2. There is a backupstore holding valid and non-expired data.
3. The setting `Disable Revision Counter` is false. (It's false by

[2021-03-04 13:39] khushboo-rancher commented on #2153
Verified with the latest changes, the https://github.com/longhorn/longhorn/issues/2153#issuecomment-780311175 are incorported in the docs.

[2021-03-04 13:39] #2153 closed

[2021-03-04 15:21] danmanners opened #2296 "[BUG] Launching Longhorn in two namespaces bricks both"
**Describe the bug**
I accidentally re-deployed longhorn in a second namespace ('longhorn'), and it seemed to break Longhorn in my original namespace ('longhorn-system').

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn per the documentation
2. Deploy Longhorn again per the documentation, but in a second namespace (I used `longhorn` instead of `longhorn-system`)
3. Try to remo

[2021-03-04 15:34] joshimoo commented on #2296
We currently do not support running longhorn outside of the longhorn-system namespace.
It's something we are working on.

The engine images that you are showing are 2 different engine image custom resources that both have a reference to the same longhorn-engine (docker image) but operate independently of each other.

[2021-03-04 15:36] danmanners commented on #2296
Hey @joshimoo, thanks for the really fast response.

To be clear, I did not intend to launch it outside of the "longhorn-system" namespace; I made a typo and realized it a few seconds too late.

The issue that I'm running into is that I can no longer use longhorn in the "longhorn-system" namespace successfully, and attempting to remove the engineImage from the "longhorn" namespace does not work.

[2021-03-04 15:51] danmanners commented on #2296
Quick update, running the uninstall script from the docs [here](https://longhorn.io/docs/1.1.0/deploy/uninstall/#uninstalling-longhorn-using-kubectl) seems to have removed the resources, but unclear if any of my pods with persistent storage are actually coming back up.

[code]

I'll update when I have more.

[2021-03-04 15:53] joshimoo commented on #2296
If you remove the finalizer from the engine image or any other kubernetes longhorn resource, than it will be deleted.
[code]

You can use kubectl edit to do so, have a look here:
https://longhorn.io/docs/1.1.0/deploy/uninstall/#problems-with-crds

There is a uninstall.yaml but it's only supposed to be used for the longhorn-system namespace.

[2021-03-04 16:42] runningman84 commented on #2272
here is the output:
[code]

Deleting the volume in kubectl works just fine.

I have just tried to restore the volume once again usting the latest backup but I get the same result.

There is also the bug that once you restore a volume it is shown as attached to some pod (which might be the pod name of my other cluster). After a restore the volume should not be attached to anything from my opinion.

[2021-03-04 17:38] khushboo-rancher commented on #1539
Verified with Longhorn master - `03/03/2021`

Validation - **Fail**

The PVC and workload is not appearing on the backup page, the titles are present but the values are always null.

<img width="1281" alt="Screen Shot 2021-03-04 at 11 02 10 PM" src="https://user-images.githubusercontent.com/60111667/110004856-e433a900-7d3d-11eb-93e8-396a5120d986.png">

The `backupvolumes` API doesn't have the stat

[2021-03-04 17:50] kirinnee commented on #538
Hi, I still facing this issue, where longhorn manager takes up quite a bit of CPU. Is the current workaround to put a CPU limit?

[2021-03-04 18:38] mfbrj commented on #1948
Performance improvements in replica rebuild are very apreciated. I use Ubuntu nodes that ask for a restarts due updates almost every week and on every restart, all replicas on the node are rebuilted.

My current metric when rebuild a replica on SSD diskand 10 Gb/s network:
Size: 50 Gi
Actual Size:38.8 Gi
Time to rebuild a replica: 648s
Replica rate: (38.8Gi/648) = 61.3 MB/s

[2021-03-04 20:54] danmanners commented on #2296
It would appear that after a full restart of **ALL** Longhorn containers things are working.

**TL;DR**: I turned it all off and back on.

Remediation steps:
1. Scaled all deployments/statefulsets using Longhorn volumes to zero
2. Deleted/Restarted ALL Longhorn pods
3. Waited for all pods to come back up (~3-4m)
4. Scaled deployments/statefulsets using Longhorn volumes back to their original count

[2021-03-04 20:54] #2296 closed

[2021-03-04 21:39] mohjam2004 commented on #2287
Hi @joshimoo
Based on your post, I enable cluster monitoring to investigate the metrics you have mentioned.
I'll screenshot and post them at next post.
Regards

[2021-03-04 21:51] ElisaMeng opened #2297 "[BUG] instance manager seem to screw worker nodes after running for 2-3 weeks"
**Describe the bug**
A clear and concise description of what the bug is.

After running longhorn for a while, some worker nodes ends up in this situation:
[code]

This is the top output of the node,  I originally report this at https://github.com/k3s-io/k3s/issues/2980, now i am suspecting it cause by longhorn. Because if I kill longhorn managers on the node, the problem then disappear.

**To Repr

[2021-03-04 22:25] LuizBuffa25 opened #2298 "[Question] How to change volume mount location from /dev/longhorn/<vol name>"
**Question**
I read the documentation that says how to [customize defaults settings](https://longhorn.io/docs/1.1.0/advanced-resources/deploy/customizing-default-settings/), notice that is possible to change (default-data-path: /var/lib/longhorn-example/) but not mounting point (/dev/longhorn/<vol name>

There is a way to change that? (not using UI).

Other questions, I notice that when I write da

[2021-03-04 23:11] joshimoo commented on #2298
The device file location is not configurable `/dev/longhorn/<volume_name>` is not the mount point, it's a block device node.
The /dev/longhorn/<volume_name> will be dynamically added an removed when you attach/detach a volume from a node.

When configuring a volume with only 1 replica, then you will only have 1 replica.
So if you lose that disk the data is lost.

You can setup recurring backups, t

[2021-03-04 23:23] LuizBuffa25 commented on #2298
Thanks, you may close this issue!

[2021-03-04 23:36] #2298 closed

[2021-03-04 23:41] ElisaMeng commented on #2206
I have some hyperid disk which has ssd cache in front of spinning disks.
When running without longhorn
[code]

I have them spread over 6 nodes, running only 1 replica for each volume. I am not even able to spawn more than 5 volumes at the same time. Got a lot of timeout error when attaching volume.

[2021-03-05 01:21] jenting commented on #1539
Display the `bound etc`, when mouse over, the PV/PVC information displayed, like this.
![image](https://user-images.githubusercontent.com/49380831/110053222-f04a5580-7d93-11eb-970a-5f0c9455a2ca.png)

[2021-03-05 01:45] shuo-wu commented on #2294
Actually we had encountered this issue then modified the period to 5s from 1s: https://github.com/longhorn/longhorn/issues/767

Maybe we still need further investigation for this liveness probe.

[2021-03-05 02:33] cclhsu commented on #2297
@ElisaMeng Can you provide output for `ps auxf` so we can know what these runc is running?

[2021-03-05 02:59] shuo-wu commented on #538
No. Longhorn manager pods will eat some CPUs temporarily if there are some operations like attach/detaching coming. Are the longhorn manager pods keeping taking up high CPU? If YES, there may be something wrong.

[2021-03-05 03:43] c3y1huang commented on #2284
@anissmajlovic this seems related to https://github.com/longhorn/longhorn-share-manager/pull/7 and should be fixed in the next release.

[2021-03-05 04:28] khushboo-rancher commented on #1539
After discussing with @jenting we found that scenario of https://github.com/longhorn/longhorn/issues/1539#issuecomment-790797948 is upgrade case where the volumes were created with Longhorn v1.1.0.

Validation - **Pass** with Lognhorn-master

The PV/PVC and workloads are appearing on the backup page if the backup is taken with Longhorn-master.
<img width="1529" alt="Screen Shot 2021-03-05 at 9 50

[2021-03-05 05:32] c3y1huang commented on #2284
Actually, on a second look, wipe my previous comment, it's possibly not related.

[2021-03-05 05:49] shuo-wu commented on #2278
I cannot find the root cause. The related backup pods as well as some old replica manager pods are gone, and the info in the longhorn manager is insufficient. This bug maybe not related to the snapshot/backup timeout. There is no timeout error for all snapshot creation and backup creation. And the interval between 2 snapshot creations or backup creations is less than 1 minute, which is the timeout

[2021-03-05 05:53] c3y1huang commented on #2284
@anissmajlovic are you able to extract `/tmp/ganesha.log` from within the share-manager before it crash? Could you also provide the support bundle?

[2021-03-05 08:26] ElisaMeng commented on #2297
@cclhsu Here is the top output of the node. ps output is too big to paste here, I will update this comment via attaching file shortly

[code]

[2021-03-05 08:32] ElisaMeng commented on #2297
Here is the ps output:
[ps.log](https://github.com/longhorn/longhorn/files/6089143/ps.log)

what worth to highlight here is:

[code]

[2021-03-05 08:38] ElisaMeng commented on #2294
@shuo-wu I suspect it leads the system into #2297

[2021-03-05 08:38] ddfiberglass opened #2299 "Longhorn 1.1.0 volume is detached for test on K3S 1.20.4."
**Describe the bug**
I have 3 nodes, one server from Aliyun Hangzhou, China [**as Master**, 2cpu-4G ], one server from Aliyun, US [ agent, 1cpu-2G ], one server from Baidu Guangzhou, China [bce, 2cpu-2G].

I have install longhorn 1.1.0 on K3S: 1.20.4-k3s1, the linux system is Ubuntu 20.04.

I use the test volume: https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/examples/pod_with_pvc.yaml

[2021-03-05 09:31] cclhsu commented on #2297
Looking at helm charts in https://github.com/longhorn/longhorn/, we currently do not use resources limit as

[code]

We probably should, otherwise "bad configuration change that causes a program to go out of control and use 100% of the available CPU. "

[2021-03-05 11:05] ElisaMeng commented on #2297
@cclhsu that is nice to have! Meanwhile, we need to figure out while instance manager get mad :)

[2021-03-05 11:12] c3y1huang opened #2300 "[BUG] e2e longhorn upgrade fails"
**Describe the bug**
Running e2e `test_upgrade` fails.

**To Reproduce**
Run e2e `test_upgrade`.

**Expected behavior**
Should pass.

**Log**
`n/a`

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-05 13:17] lucky4ever2 commented on #2218
https://github.com/longhorn/longhorn/issues/2218#issuecomment-780778622
it was something like that with me. Because the backup with Minio didn't work at first, I always deleted the snapshots manually. Until now there is this error. Is it possible to add a bug fix to 1.1.1?
![Bildschirmfoto 2021-03-05 um 14 15 45](https://user-images.githubusercontent.com/46378117/110120398-48498200-7dbd-11eb-9881-

[2021-03-05 13:25] mritd opened #2301 "[Question] How to revert snapshot?"
**Question**

How to revert snapshot?

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: 1.20.4
 - Node config
   - OS type and version: Ubuntu 20.04
   - CPU per node: 8 vCPU
   - Memory per node: 16g
   - Disk type: VMware
   - Network bandwidth and latency between the nodes: private network(1000M)
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): V

[2021-03-05 15:15] cclhsu commented on #2297
@ElisaMeng Can you also provide longhorn-support-bundle? and send to longhorn-support-bundle@rancher.com?

[2021-03-05 15:23] almorgv commented on #1819
Same here.
- Longhorn `1.1.0`
- Ubuntu 20.04.01
- k8s cluster with pretty slow hdd disks

It happens on one node and all workloads on that node cant get volume mount

[code]

Reboot fixes this but another network lag very likely brings this again

[2021-03-05 15:42] yasker commented on #1539
@khushboo-rancher it's fine if it only works for new backups, as long as  when user took a new backup for existing volumes they will see the additional information.

[2021-03-05 16:29] ElisaMeng commented on #2297
Not sure if that is doable, when this happen, the cluster is almost in accessible.  I will give it a try later anyway.

[2021-03-05 16:33] joshimoo commented on #2301
Give this a try to revert to a prior snapshot.
https://github.com/longhorn/longhorn/issues/63#issuecomment-387807856

[2021-03-05 19:46] yasker commented on #1948
One possible explanation (thanks to the discussion with @mfbrj ):

In https://github.com/longhorn/sparse-tools/blob/c1877f4a574f57a461f7a69709defd20bc52718a/sparse/client.go#L95 , we depends on the holes to separate the sections for checksum.

But what if one section (data interval) is very big (hundreds of MB or even GB) but only changed a small amount, we will have to resync the whole section du

[2021-03-05 20:05] ElisaMeng commented on #2294
grpc-health-probe default timeout is 1s, and longhorn probe every seconds. In case server is not reachable, longhorn actually make the second probe before the first one completed. I don't if this will mess up k3s and runc runtime in some way.

[2021-03-05 20:27] mohjam2004 commented on #2287
This is Memory and CPU utilization during the period of problem (All 3 nodes):
![image](https://user-images.githubusercontent.com/59224403/110168644-b9645600-7e0c-11eb-9e0c-fa5943ef0c30.png)
This is network traffic:
![image](https://user-images.githubusercontent.com/59224403/110168838-ff211e80-7e0c-11eb-9f83-b2926ee8d433.png)
node1 disk graph:
![image](https://user-images.githubusercontent.com/592

[2021-03-05 20:30] mohjam2004 commented on #2287
This is my last cluster events:
![image](https://user-images.githubusercontent.com/59224403/110170095-ea458a80-7e0e-11eb-83ac-b0040b5ac380.png)

[2021-03-05 20:33] mohjam2004 commented on #2287
Sometimes I have this error on etcd service:
![image](https://user-images.githubusercontent.com/59224403/110170323-49a39a80-7e0f-11eb-965f-18b72206f234.png)

[2021-03-05 20:36] mohjam2004 commented on #2287
All my system workloads are in active and no problem state except longhorn csi: attacher, snapshotter and resizer which go in updating state.

[2021-03-05 20:39] mohjam2004 commented on #2287
node1 status:
![image](https://user-images.githubusercontent.com/59224403/110170975-39d88600-7e10-11eb-9845-67d82bd914b4.png)
node2 status:
![image](https://user-images.githubusercontent.com/59224403/110170977-3a711c80-7e10-11eb-8304-a474dc5af8ca.png)
node3 status:
![image](https://user-images.githubusercontent.com/59224403/110171005-44931b00-7e10-11eb-9ae4-e8e36f59e0f0.png)

[2021-03-05 20:43] ukd1 opened #2302 "[Question] yaml equivalent of docs"
**Question**
Having good docs and a web interface is nice, but I want to do as much as I can with yaml and config. I've not found a way to set the backup target in [the docs](https://longhorn.io/docs/0.8.1/snapshots-and-backups/backup-and-restore/set-backup-target/), but I'd really like to.

Questions:
- how to set backup target in yaml
- how to select the secret to use in yaml

Thanks!

[2021-03-05 20:47] mohjam2004 commented on #2287
cluster Metrics:
![image](https://user-images.githubusercontent.com/59224403/110171212-a81d4880-7e10-11eb-8b94-2a301f9367bf.png)
etcd  metrics:
![image](https://user-images.githubusercontent.com/59224403/110171324-cdaa5200-7e10-11eb-8170-67dbf6ad3f01.png)
Kubernetes component metrics:
![image](https://user-images.githubusercontent.com/59224403/110171396-e61a6c80-7e10-11eb-9a14-733a74c468d6.png)

T

[2021-03-05 20:52] mohjam2004 commented on #2287
This is my last cluster events at 12:20 am:
![image](https://user-images.githubusercontent.com/59224403/110172178-fe3ebb80-7e11-11eb-9ab4-eb0f73fd967a.png)

[2021-03-05 20:54] mohjam2004 commented on #2287
All pods status:
![image](https://user-images.githubusercontent.com/59224403/110172390-4f4eaf80-7e12-11eb-9502-8fee6f2bc266.png)
![image](https://user-images.githubusercontent.com/59224403/110172415-5970ae00-7e12-11eb-99f2-c6009699aa82.png)

[2021-03-05 22:04] joshimoo commented on #2302
`kubectl get settings.longhorn.io backup-target -o yaml -n longhorn-system`
[code]

`kubectl get settings.longhorn.io backup-target-credential-secret -o yaml -n longhorn-system`
[code]

I stripped them down to the bare minimum, that should work for `kubectl apply -f`
[code]

@ukd1 You can give this a try and report back, I didn't test this but should work :)

[2021-03-05 22:07] joshimoo commented on #2287
Are the above screenshots from the worker nodes or the control plane nodes?
If you look at this screenshot you posted, https://user-images.githubusercontent.com/59224403/110170095-ea458a80-7e0e-11eb-83ac-b0040b5ac380.png It shows that your etcd server is unhealthy, since it failed to respond not just to longhorn but also to the prometheus operator.

[2021-03-05 22:13] joshimoo commented on #2287
If you look at this screenshot, of the etcd https://user-images.githubusercontent.com/59224403/110171324-cdaa5200-7e10-11eb-8170-67dbf6ad3f01.png you can see that the disk sync time spikes in accordance with your error timeframe.
Are there scheduled etcd backups / compactions / check the k3s / etc configurations & documentation?

[2021-03-06 02:59] mritd commented on #2301
Thanks for your answer, I tried the UI again and succeeded.

[2021-03-06 02:59] #2301 closed

[2021-03-06 05:17] mohjam2004 commented on #2287
I have 3 nodes and all of the them have control plane, etcd and worker role.
I get etcd backup every 6 hours but only one time per a day (11:05 PM to 12:40 AM) I have problem.
I wan to check If there is any scheduled tasks on disk at this time period in my cloud environment or not.
I have got my nodes (VMs) from cloud (open stack).

[2021-03-06 07:50] mohjam2004 commented on #2287
According to this image, I don't know  why this problem affect only long-horn pods?
https://github.com/longhorn/longhorn/issues/2287#issuecomment-790020978

[2021-03-06 08:02] ElisaMeng commented on #2297
@cclhsu I takes forever to produce something.
If look close to the mad container, we see this:
[code]
i.e. the bad processes are not sub-process of instance-manager.  Is volume instance process supposed to subprocess to instance manager? If that is the case, instance manager should not the one to be blamed. It is someone come from the outside of container, e.g. run a process via exec against the c

[2021-03-06 09:33] joshimoo commented on #2287
It doesn't just affect longhorn pods, your cluster is unhealthy look at the screenshot from rancher (prometheus).
https://user-images.githubusercontent.com/59224403/110170095-ea458a80-7e0e-11eb-83ac-b0040b5ac380.png

You can also see it in the etcd metrics, your disk sync shoots up to 8s and api server rate drops.
I suggest you start by moving your control plane into a dedicated node.

If you are

[2021-03-06 09:47] mohjam2004 commented on #2287
What do you suggest me to check to find out the source of problem?
everything is fine except at specific period of time. the load on my nodes are normal according to my htop output command (htop output at the time of problem period).
https://github.com/longhorn/longhorn/issues/2287#issuecomment-791674580

[2021-03-06 09:59] FCarvMobil commented on #2029
Hi guys, any news on this?
Best regards!

[2021-03-06 12:43] virus2016 commented on #2029
I have had this issue before on our test cluster. We moved to only backups and it have been perfect ever since.

On our production clusters we have found that snapshots haven't been the most reliable especially on databases (postgres) where if data is being written at the same time as the snapshot, both snapshot and volume become corrupted. We switched to a full backup and instead of snapshot and

[2021-03-06 19:10] liyimeng opened #2303 "[Question] Dose longhorn plays nice with my ssd disks?"
**Question**
Hi longhorn experts!

I am wondering if longhorn plays nice with ssd disks. I mean every SSD has write limits. whenever I see longhorn rebuild replica, it seems to write a lot more than necessary, this likely hurt my ssd and short its life span a lot.  What is actually happening when rebuild occurs in these scenarios:
- A replica fails because of node reboot,  will longhorn rebuild re

[2021-03-07 08:41] miralita commented on #1464
Let me vote for this feature. Now I'm trying to figure out how I can organize sending longhorn backups to the store https://www.hetzner.com/storage/storage-box. A minio configured to write to a folder mounted via sshfs looks ugly extremely unreliable.

[2021-03-07 12:12] mohjam2004 commented on #2287
I investigate my nodes the output of iostat shows that I have high util%
![image](https://user-images.githubusercontent.com/59224403/110239301-7664c880-7f5b-11eb-882f-27e5c2d29fd2.png)
I guess during the time of problem it hits 100%
It shows the storage on which I write is busy and this can cause the problem, as @joshimoo mentioned before:
https://github.com/longhorn/longhorn/issues/2287#issuecomm

[2021-03-07 14:07] cclhsu commented on #2297
Longhorn Instance Manager creates/manages the engine and replica instances on the node.  It is difficult to pinpoint the cause of the issue with the information we currently have.  Is it possible that we try to retrieve logs and manifests in another way using the following script?

[code]

To Run:

[code]

The file could be a little big depended on your cluster node size.  At the same time, I am s

[2021-03-07 15:00] vaskozl commented on #538
On node with 10 attachments (no local disk), I'm seeing 600m longhorn-manager usage and 100m instance-manager usage.So a total of 700m or ~70m per attachment. This is on arm64 at 2GHz clock rate.

Is ~70m per attachment about what should be expected? I have to say it does seam rather high since most of the pods which require this attachment use much less than ~70m, so longhorn ends up being the bi

[2021-03-07 16:02] morteza1131 opened #2304 "Extract my volume"
**Question**
Hi
I have my volume file and I want to extract them
my volume had 2 replicas but they failed and I could not attach the volume to pod so now I want to extract the data of volumes

Have can I do this
I use the instruction in longhorn site but it was not helpful and when I mount the created device there is nothing in it but my volume size is 1Gigabyte.

**Environment:**
 - Longhorn vers

[2021-03-07 22:17] prosolitnl commented on #828
Switch console to alpine and reboot the node

 sudo ros console switch alpine

[2021-03-08 02:42] shuo-wu commented on #2218
There will be fixups related to snapshot creation and backup list. Hope this would help solve this issue.

[2021-03-08 03:31] shuo-wu commented on #2294
For the gRPC health probe, there are 2 timeouts:
[code]
Based on this info, we can set the Longhorn liveness probe `TimeoutSeconds` to 2s, then there won't be more than 1 probe running. But I don't think it is the root cause since thee liveness probe could start 2 probes at max with the current setting.

[2021-03-08 03:45] innobead commented on #2187
ref: https://github.com/longhorn/longhorn/issues/2029#issuecomment-791931309

[2021-03-08 03:49] shuo-wu commented on #538
The processes in the instance manager are the essentials of volume io, 100m for 10 volumes is definitely not enough. Considering the total CPU is 2000m and the further upgrade, 300~400m might be the choice. And as I mentioned, you don't need to set a limit for longhorn managers since most of the time they won't eat lots of CPUs.
The resource requirement investigation (for instance manager):  https

[2021-03-08 04:21] shuo-wu commented on #2029
What do you mean by `both snapshot and volume become corrupted`? To create a backup, Longhorn will create a snapshot first then do a backup based on this snapshot. Hence backup working fine but snapshot being problematic does not make sense... Since Longhorn volume itself is a block device, it doesn't understand the filesystem and the application data format. If there is part of a record data that

[2021-03-08 05:03] shuo-wu commented on #2297
This is one k8s host containing 1 running engine and 1 running replica:
[code]

Typically, the CPU will be consumed by engine or replica processes **during** data r/w. The process is like:
(replica)
[code]
(engine)
[code]

It seems that `runc`s in your cluster are not engine/replica processes. Not sure if it's caused by liveness probe.

[2021-03-08 06:37] morteza1131 commented on #2304
I have another problem, to bring my disk back I create a volume in UI and attach it to an node and then when it goes to healthy state I dettach it and copy content of my old replica to its dir and then attach it to node and create a pvc for it from UI and finally attach it back to my pod and its work , but my new volume size is bigger than old one and the volume in UI is in expannition progress fo

[2021-03-08 06:40] ElisaMeng commented on #2294
Providing runc as it should, I agree with you, but if runc takes a bit long time to clean up exec, would it be the case?

[2021-03-08 06:44] ElisaMeng commented on #2297
As long as we need to talk to k3s, I have problem in running things. May you have instructions that I can log into node, collecting log directly, without go through k3s?

[2021-03-08 07:39] c3y1huang opened #2305 "[BUG] e2e test_restore_inc_* fails"
**Describe the bug**
Running e2e `test_restore_inc`, `test_restore_inc_with_expansion[nfs]` fails.

**To Reproduce**
Run e2e `test_restore_inc`, `test_restore_inc_with_expansion`

**Expected behavior**
Should pass

**Log**
`n/a`

**Environment:**
`n/a`

**Additional context**
`none`

[2021-03-08 07:58] Martin-Weiss commented on #2090
Just found one of the issues that describes some problems - especially with qgroups https://bugzilla.suse.com/show_bug.cgi?id=1178231 . Regarding COW - I believe we might have to verify if we can disable COW for the files / areas where Longhorn stores data - but that needs testing I assume..

[2021-03-08 08:20] ArcaneDiver commented on #1493
It worked for me...

[2021-03-08 08:24] smajlovica commented on #2284
Hi

Sorry for late reply. I am waiting for app team to troubleshoot issue from their side. I want to be sure that is not a problem on the app side and then I will attach logs.

Thank you very much for your support.

[2021-03-08 10:05] khushboo-rancher opened #2308 "[BUG] UI - 'Enable scheduling' option appears for 'down' node on the Longhorn UI"
**Describe the bug**
The menu option `Enable Scheduling` becomes available once the node goes down on the Longhorn UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn - master on a cluster of 4 nodes (1 control plane/etcd, 3 worker)
2. Add taint to a node.
3. That node becomes `down` on the Longhorn UI.
4. Check the menu available for the node, there is an option `Enable Sche

[2021-03-08 10:06] khushboo-rancher commented on #2186
Verified with Longhorn-master - `03/08/2021`

Validation - **Pass**

Validated below scenarios:
1. Once the node is evicted and taint was added to the node, the node shows `down` status on the Longhorn-UI and can be deleted by clicking the remove node.
<img width="1458" alt="Screen Shot 2021-03-08 at 2 13 58 PM" src="https://user-images.githubusercontent.com/60111667/110305443-b04cd200-8022-11eb-8

[2021-03-08 10:06] #2186 closed

[2021-03-08 10:08] virus2016 commented on #2029
I mean the volume stops responding in the pod and if we restart/delete it, the pod will be stuck. The volume attaches fine according to longhorn. We then use maintenance mode and revert back to a working snapshot/backup.

Could it be that if you do a snapshot close or at the same time as the backup it could get into this state?

We haven’t had the above issue for a while now so I don’t have a supp

[2021-03-08 11:33] LuizBuffa25 opened #2309 "[Question] Volume faulted after reboot, need manually salvage?"
**Question**
Every time a reboot my node (using only 1 replica), my volume became "faulted", every time I need to go to UI and perform a salvage, my question is: There is a way to do it automatically or via command line?

* already set auto-salvage: true on default-setting.yaml, but it does not work.

**Environment:**
Longhorn version: 1.1.0
Kubernetes version: 1.20

 - Node config
   - OS type an

[2021-03-08 13:18] JSN-1 commented on #2228
Here is my way to restore cluster, hope this helps.

### k8s cluster recovery using longhorn

+ on all worker nodes restore longhorn-disk.cfg from backup
scp /backup/workers/node01/longhorn-disk.cfg workernode01:/var/lib/longhorn/
scp /backup/workers/node02/longhorn-disk.cfg workernode01:/var/lib/longhorn/
scp /backup/workers/node03/longhorn-disk.cfg workernode01:/var/lib/longhorn/

#### On all ma

[2021-03-08 13:21] muhlba91 commented on #2278
similar problem here but i receive a very odd behaviour.

number of volumes: 3
cluster created via kubeadm, running on raspberry pi's (arm64)
backup policy: twice a day, retain 4
backup to S3: backblaze

volume 1 created 8 days ago (size 5Gi, actual size ~750MB) has each backup showing up multiple times. in contrast to @tyzbit i don't see a pattern here. sometimes it's showing up as 2 backups, som

[2021-03-08 14:05] khushboo-rancher opened #2310 "[BUG] Timeout in listing backup for NFS server on RHEL 8.2"
**Describe the bug**
Backup page doesn't list the backups for backup store configured as NFS server.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0 using kubectl command.
2. Configure backup store as NFS `nfs://nfs-server:/opt/backupstore`
3. Take backup
4. Backups are getting created on the server but Longhorn UI is unable to list the backups.

**Expected behavior**

[2021-03-08 14:31] khushboo-rancher commented on #1877
@PhanLe1010 I think the scenario 2nd failed because I altered the Yaml file and added the mount path `/var/run`. Because of the functionality of `kubectl.kubernetes.io/last-applied-configuration`, the mount path got retained on upgrading Longhorn to the master. Can you please confirm this?

[2021-03-08 16:10] yasker commented on #2310
Linked to the slack thread: https://rancher-users.slack.com/archives/CC2UQM49Y/p1615206503012800

We've seen this in a few different cases.

[2021-03-08 18:56] derzufall commented on #1500
All Volumes just dies today with this issue. We lost all our data. We are now moving to Ceph via Rook.

[2021-03-08 19:23] PhanLe1010 opened #2311 "[UI] Change engine image state from `ready` to `deployed`"
**Is your feature request related to a problem? Please describe.**
Since we changed the logic for handling the readiness of engine image ([see more details](https://github.com/longhorn/longhorn/issues/2081#issuecomment-780964823)), UI needs to change:
1. Display blue color for `status` when the state if the engine image is `deployed` (I guess by adding the class `.deployed` to [classes.less](https

[2021-03-08 19:56] yasker commented on #2311
Are we showing the engine image readiness on the node?

[2021-03-08 19:58] yasker commented on #2062
Both PRs fix for Kubernetes [v1.19](https://github.com/kubernetes/kubernetes/pull/98140) and [v1.20](https://github.com/kubernetes/kubernetes/pull/98168) has been merged in. But need to check which release will include those fixes.

[2021-03-08 20:00] joshimoo commented on #1500
@ElisaMeng longhorn currently doesn't support spinning disks. If you are having a different issue when not using spinning disks, can you open a new github issue for us to investigate & track.

[2021-03-08 20:05] PhanLe1010 commented on #2311
Yes, we display the engine image readiness when users click on the Readiness field of the node. But everything is plain text (there is no blue highlight in v1.1.0 when engine image readiness is `ready`) so I think we don't need to highlight `deployed` state neither

<img width="1309" alt="Screen Shot 2021-03-08 at 12 00 47 PM" src="https://user-images.githubusercontent.com/22139961/110375154-6bb33

[2021-03-08 20:29] yasker commented on #1500
@derzufall Sorry to hear that. But I don't think you can lose your data even with replica issues. The volume might need to be salvage, or in the worst case, you can recover your data from single replica by following https://longhorn.io/docs/1.1.0/advanced-resources/data-recovery/export-from-replica/

[2021-03-08 21:31] vaskozl commented on #538
In my situation most volumes are pretty much idle, and `longhorn-manager` uses 6x more CPU than instance-manager on the given node. I don't have either limited. Are you suggesting that longhorn-manager can be limited, and instance-manager should not be? I'm ok with 100m usage, but when longhorn is the majority CPU user cumulatively using almost a core with mostly 0 i, I'm starting to worry about h

[2021-03-09 00:36] joshimoo commented on #2029
A backup always creates a snapshot first, then exports that snapshots data to the final storage (s3, nfs).

[2021-03-09 00:42] joshimoo commented on #538
@vaskozl mind sharing a support bundle with us, you can attach it here or send an email to `longhorn-support-bundle@rancher.com` with reference to this thread and your cluster environment (cpu, mem, disk type, network, etc, dedicated control plane)

[2021-03-09 00:43] PhanLe1010 commented on #2299
Seems that some Longhorn components are missing on node `bce`:

A support bundle would give us more data. Can you use the link on the bottom of the Longhorn UI page to generate a support bundle and send it to `longhorn-support-bundle@rancher.com`?

[2021-03-09 00:47] c3y1huang opened #2312 "[BUG] list backup volume for NFS backupstore should not returns error when directory not exist"
**Describe the bug**
Reference to https://github.com/longhorn/longhorn-tests/pull/549#discussion_r589716906. When listing backup volume on a non-existing directory should return nil.

**To Reproduce**
Steps to reproduce the behavior:
1. Run NFS related e2e tests

**Expected behavior**
Tests should not fail at `backupstore_cleanup`.

**Log**
[code]

**Environment:**
`n/a`

**Additional context**
`n

[2021-03-09 02:30] #2286 closed

[2021-03-09 02:38] jenting commented on #2310
Similar to #1955.

[2021-03-09 03:47] shuo-wu commented on #2309
The values in `default-setting.yaml` will be applied to newly launched Longhorn systems only. In other words, if you re-deploy/update this YAML files for an existing Longhorn system, it doesn't work.

Here, you need to directly check the setting value via Longhorn UI or `kubectl -n longhorn-system get settings`

[2021-03-09 03:53] shuo-wu commented on #2303
1. To make Longhorn have a chance to reuse the existing data of the failed replica, you can set an appropriate value for setting `Replica Replenishment Wait Interval`. This setting will wait for an interval before creating a new replica. If the node or the network gets recovered during this interval, Longhorn can automatically try to reuse the failed replicas.
2. For replica rebuilding, Longhorn w

[2021-03-09 04:23] shuo-wu commented on #2278
@muhlba91 Thanks for your information! I guess [this backup listing timeout bug](https://github.com/longhorn/longhorn/issues/1955) before the cleanup may fail the job. If there are multiple backup volumes in your backupstore, this may be the cause.

[2021-03-09 04:32] shuo-wu commented on #2029
Ideally snapshotting should be done in seconds and it won't block or fail data r/w. Not sure if the cache flushing would lead to this case. Need to see if the fix I mentioned works in the next release.

[2021-03-09 04:33] gknepper commented on #828
Thanks @joshimoo for the info. That's more or less what I assumed on January. I migrate my workload to ubuntu but I still miss the speed, the simplicity and the objectiveness of RancherOS. I'm trying OpenSUSE MicroOS. Concept wise it's promising but automation wise I'm still facing some issues when running in a VMware cluster with RancherOS node driver. BTW this thread is from 2019 maybe due covid

[2021-03-09 04:35] shuo-wu commented on #538
I mean, ideally, you don't need to limit both. Besides, you need to guarantee the CPU resource for instance managers. Here you said that ` longhorn-manager uses 6x more CPU than instance-manager`, then something may be wrong. You can send a support bundle as well as the CPU-related info (the support bundle doesn't contain the CPU usage info) to us.

[2021-03-09 04:42] shuo-wu commented on #1877
BTW, I think we need to ask How the Longhorn get installed in section `Environment`. I just check the reproducing step. The reason why I cannot reproduce it is that I was using YAML file installation while the user was using Helm or Rancher.

[2021-03-09 05:42] ddfiberglass commented on #2299
I have reinstalled everything from a new start. And it is working now. Thanks, Everyone.

[2021-03-09 05:42] #2299 closed

[2021-03-09 07:03] liyimeng commented on #2303
What happen with "reuse the failed replicas"? Do replica rebuilding as below?

[2021-03-09 08:49] shuo-wu commented on #2303
It will find the data directory of the failed replica and compare it with the data of a healthy replica. If there is a mismatching, Longhorn will copy that part of the data chunk only.
As for new replica rebuilding, Longhorn will directly copy all data from a healthy replica.

[2021-03-09 11:22] LuizBuffa25 commented on #2309
Also, I reboot my server and $ kubectl get pods -n longhorn-system, after reboot longhorn try to create "shared-manager-MY-VOL-NAME" but the pod went to terminating and don't restart anymore.

[2021-03-09 12:10] liyimeng commented on #2303
@shuo-wu Thanks a lot! Some more question how efficient is the diff operation? So the best way to upgrade a node is to shutdown  all live traffic on it, right? And snapshots should be prune periodically?

[2021-03-09 12:33] shuo-wu commented on #2228
@JSN-1 Thank you for the sharing! In your case, you are restoring the Longhorn system to a new cluster that doesn't contain any data. This is a different scenario that we are investigating. Hence, it's a great complement!

BTW, I think the prerequisite of your method is that the nodes (naming and count number) of the new cluster should be the same as that of the old cluster.

[2021-03-09 15:36] joshimoo opened #2313 "[TASK] Improve the best practices documentation"
- add section on volume size (only request as much storage as the workload actually needs)
-- talk about the snapshot size requirement for disks with high io churn
- add section on physical volumes: many small vs few large
- add section on dedicated storage nodes vs distributed in cluster storage
- link to knowledge base article on different storage setups for different application workloads
- add

[2021-03-09 15:39] joshimoo commented on #2309
@LuizBuffa25 you linked to the v1.0 deployment, can you check if you actually used the correct v1.1.0 deployment files?
https://raw.githubusercontent.com/longhorn/longhorn/v1.0.0/deploy/longhorn.yaml

[2021-03-09 15:41] joshimoo commented on #2304
Longhorn only supports offline expansion, so the workload needs to be shutdown and the volume detached. So that expansion can happen.

[2021-03-09 16:34] LuizBuffa25 commented on #2309
@joshimoo Just a copy and paste mistake, I am using v1.1.0.

[2021-03-09 17:00] joshimoo commented on #2081
Moving back to implement, since we are missing the deep copy function update.
https://github.com/longhorn/longhorn-manager/blob/75e88c839111b44758c89628d9c99b4148fa0fbc/types/deepcopy.go#L171-L170

[2021-03-09 17:23] dbpolito opened #2314 "[FEATURE] Online Volume Expansion"
Currently we can only expand a volume if it's `detached`, is there any plan for supporting `Online Volume Expansion`?

Maybe not really online but allowing to do it and restarting the pod as it currently does with `Automatically Delete Workload Pod when The Volume Is Detached Unexpectedly`.

My use case is that i deploy things using helm charts like wordpress which uses longhorn as persistent volu

[2021-03-09 17:43] khushboo-rancher commented on #2111
Verified with Longhorn master - `03/09/2021` and share-manager image `longhornio/longhorn-share-manager:v1_20210302`

Validation - **Pass**

RWX feature works on ubuntu arm and amd64 set up.

**Steps taken**
1. Deployed Longhorn Master and verified the RWX feature on Ubuntu arm64.
2. Deployed Longhorn Master and verified the RWX feature on Ubuntu amd64.
3. Upgraded Longhorn v1.1.0 to master with s

[2021-03-09 17:43] #2111 closed

[2021-03-09 17:55] khushboo-rancher opened #2315 "[BUG] UI - Upgrade menu option is not enabled on Longhorn UI."
**Describe the bug**
Upgrade option is not enabled on Longhorn UI on upgrade.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0 using kubectl command in a cluster of 4 nodes (1 etcd/control plane, 3 worker)
2. Create some volumes and attach them to pods.
3. Upgrade Longhorn to master.
4. Neither live upgrade nor offline upgrade option is not available on the Longhorn UI.

[2021-03-09 18:48] PhanLe1010 commented on #2315
It is because of https://github.com/longhorn/longhorn/issues/2311

[2021-03-09 20:34] yasker commented on #2127
Remove `require/doc` due to this feature is not directly user-facing.

[2021-03-10 03:03] shuo-wu commented on #2303
1. Longhorn will calculate the checksums then compare them before actually copying data.
2. You may need to cordon and evict all workloads as well as all Longhorn components for this node before upgrading or maintaining it. For Longhorn components eviction, it's better to do it on Longhorn UI - Node page. Others can be done by `kubectl`
3. Snapshot will take extra space. If you don't need so many

[2021-03-10 03:32] shuo-wu commented on #2309
OK. Can you check if the result of `kubectl -n longhorn-system get settings auto-salvage` is true? If NO, then something may be wrong. And it's better to generate a support bundle then we can take a deep look.

I guess you are using a RWX Longhorn volume. Since the volume is faulted, the share manager pod should be stopped. And it will be created/recreated after the volume attachment/reattachment.

[2021-03-10 03:43] shuo-wu commented on #2228
Yeah. Storing the recurring job info in backups is already in planning.

As for the disk config file restoring, if you can clean up then recreate disks for all Longhorn nodes after the cluster restore, this step is not required. Here is the reason for restoring the disk config files: when the Longhorn node objects that contain the previous disk info are restored once Longhorn is up, Longhorn then

[2021-03-10 04:03] shuo-wu commented on #2294
I am not sure... It's better to know what these `runc`s were doing.

[2021-03-10 05:53] PhanLe1010 commented on #2304
@morteza1131

Can you try:

1. Find the node that has a failed replicas and `ssh` into the node
1. Find the folder that contains the replica data. By default, it is `/var/lib/longhorn/replicas/VOLUME-NAME`. The replica folder should contain something similar to:
[code]
1. We notice that you said `my volumes stuck in deleting` so please check the folder in step 2 and make sure that the data of the

[2021-03-10 05:57] morteza1131 commented on #2304
thanx, this solved my problem.

[2021-03-10 05:59] morteza1131 commented on #2304
as I mentioned above I at the end I create a new volume and copy content of old one to it and reattach it, and problem solved , but that link you mentioned does not helpful I used it before.

[2021-03-10 06:31] PhanLe1010 commented on #2304
It is good to know that you are able to retrieve the data using the second method.
For the first method, I just successfully tried it. Not sure why you see the empty folder after mounting.

[2021-03-10 06:35] morteza1131 commented on #2304
when this message shown in docker output do I need to do something else or just mount the volume?
` msg="Process pvc-18dbcb3b-2e08-4995-8b04-ef4ea171ebff-13f4e600-e has started at localhost:10015"`
how about mkfs?

[2021-03-10 06:38] PhanLe1010 commented on #2304
After that message, you can open a new terminal. Mount the block device at `/dev/longhorn/VOLUME-NAME` to a directory on the host and copy the data out.

No need to `mkfs` because doing so would erase all the data.

[2021-03-10 08:37] joshimoo commented on #2314
Thanks for opening this enhancement, we currently do not support online expansion.
cc @yasker @innobead there are some technical difficulties for  adding online expansion support @shuo-wu will leave some dev notes on what he encounted prevoiusly in this regard.

[2021-03-10 09:06] PhanLe1010 commented on #2272
@runningman84

We are waiting for the support bundle

[2021-03-10 09:11] #2267 closed

[2021-03-10 11:21] LuizBuffa25 commented on #2309
output:
NAME           VALUE   AGE
auto-salvage   true    24h

Yes, I am using RWX. There is a workaround to "salvage" using the command line instead of UI?

[2021-03-10 11:29] khushboo-rancher opened #2316 "[BUG] RWX volume fails to attach to a pod"
**Describe the bug**
Pod https://raw.githubusercontent.com/longhorn/longhorn-manager/master/examples/rwx/rwx-nginx-deployment.yaml fails to come up with Longhorn-master

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn on a K8s cluster.
2. Install nfs-common on all the nodes using https://raw.githubusercontent.com/longhorn/longhorn-manager/master/deploy/prerequisite/longhorn-nf

[2021-03-10 11:51] MrDienns opened #2317 "[FEATURE] Support for multiple backup locations"
**Is your feature request related to a problem? Please describe.**
While Longhorn supports replication across servers, it does not support adding multiple backup locations. With some hosts, one S3 compatible endpoint for instance equals one datacenter. In order to support off-site backups for these hosts, being able to configure two (or more) backup locations could tackle this. Perhaps you're simp

[2021-03-10 12:10] c3y1huang opened #2318 "[BUG] e2e backup_image tests fails (w/upgrade disabled)"
**Describe the bug**
Running backing_image test fails at volume.backingImage assertion.

https://ci.longhorn.io/job/public/job/ubuntu/job/amd64/job/longhorn-tests-ubuntu-amd64/285/testReport/tests/test_backing_image/test_backing_image_basic_operation/

**To Reproduce**
Run backing_image tests (w/upgrade disabled)

**Expected behavior**
Should pass

**Log**
`n/a`

**Environment:**
`n/a`

**Addition

[2021-03-10 12:15] khushboo-rancher commented on #1877
Closing this as the scenario 2 is working as expected. If user add/modify the yaml file of Longhorn manager and upgrade it, the previous value will come from the metadata of the yaml file.

[2021-03-10 12:15] #1877 closed

[2021-03-10 12:21] shuo-wu commented on #2309
OK, then there may be a bug for this feature. Can you provide the support bundle? So that there is a chance to fix it and you don't need to worry about the manual salvage.

Using the command line to salvage replicas manually is possible but a little bit complicated. You need to figure out all failed replicas in running disks, then pick up the possible valid replicas and unset field `spec.failedAt`

[2021-03-10 12:38] ElisaMeng commented on #2303
will evict cause replica rebuild? Or just make them as temporary unavailable, then get them caught up with replica on other nodes later?

[2021-03-10 13:30] cclhsu opened #2319 "[BUG] Configuration file `/etc/iscsi/initiatorname.iscsi` does not exist iscsi using `longhorn-iscsi-installation.yaml`."
**Describe the bug**

Configuration file `/etc/iscsi/initiatorname.iscsi` does not exist iscsi using `longhorn-iscsi-installation.yaml`.

After configuration created with following:

[code]
Pod is able to mount and create successfully.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy POD in Centos with following:

[code]

**Expected behavior**

Pod is able to mount and create successf

[2021-03-10 14:09] khushboo-rancher commented on #2281
Waiting for https://github.com/longhorn/longhorn/issues/2315

[2021-03-10 15:10] dbpolito opened #2320 "[BUG] Slack Channel is closed to specific emails"
I would like to join `longhorn-dev` slack and get involved but it seems closed to specific emails:

<img width="647" alt="image" src="https://user-images.githubusercontent.com/347400/110650361-3d199c00-8199-11eb-8cdd-29521e960424.png">

Is this email required intentional? Or it should be public?

I had a problem on one of my public slacks that got this lock and i had to change the config:

<img wi

[2021-03-10 15:13] LuizBuffa25 commented on #2309
Hey just one more question, when I submit a support bundle, any data of my longhorn will be exposed?

[2021-03-10 17:38] meldafrawi opened #2321 "[Task] Fix nightly upgrade tests"
**Describe the bug**
Nightly upgrade tests are failing due to some API changes between Longhorn v1.1.0 and  `master`

Affected by:
- https://github.com/longhorn/longhorn-tests/pull/541
- https://github.com/longhorn/longhorn-tests/pull/524

[2021-03-10 18:01] joshimoo commented on #2320
Are you already on the rancher-users slack?
You should be able to get an invite at the below link.
https://slack.rancher.io/

[2021-03-10 18:11] dbpolito commented on #2320
Awesome, maybe worth adding to https://github.com/longhorn/longhorn/blob/master/CONTRIBUTING.md that you have to go through this page, tried to find myself before opening this issue but no luck.

Thank you!

[2021-03-10 18:11] #2320 closed

[2021-03-10 19:08] PhanLe1010 commented on #2315
We can close this one in favor of https://github.com/longhorn/longhorn/issues/2311

[2021-03-10 22:43] ElisaMeng opened #2322 "[BUG] Long delay to attach volume when statefulset restart"
**Describe the bug**
When using volumeClaimTemplates with longhorn in a statefulset, initial deployment goes ok, but if running

kubectl rollout restart statefulset, longhorn volume will get failed to mount again. It seems stuck in being state, which is not supposed being like that.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy statefulset workload with volumeClaimTemplates
2. Wait

[2021-03-10 22:46] PhanLe1010 commented on #2322
What is the yaml file of the stateset and the longhorn storageclass ?

[2021-03-11 02:35] shuo-wu commented on #2303
The node/disk eviction via Longhorn UI will lead to new replica rebuilding first, then delete the replicas on the evicting node/disk. This won't hurt the HA or most of the volume functionalities. But if there is no other node available for the replica rebuilding, the eviction may get stuck, IIRC.

[2021-03-11 02:53] shuo-wu commented on #2309
It seems that you just upgraded Longhorn before you generate the support bundle. I didn't saw any salvage related logs in it.

[2021-03-11 05:13] c3y1huang opened #2323 "[BUG] e2e test_deleting_backup_volume fails"
**Describe the bug**
After https://github.com/longhorn/longhorn/issues/2312 fix, the test fails at
[code]
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/50/testReport/junit/tests/test_basic/test_deleting_backup_volume/

**To Reproduce**
Steps to reproduce the behavior:
1. Run test_deleting_backup_volume with fix in [#2312](https://github.com/longhorn/longhorn/issues/2312).

**Exp

[2021-03-11 05:16] ukd1 commented on #2302
@joshimoo magic, thanks. Is this something that could be put in the docs?

[2021-03-11 07:16] innobead commented on #2319
@khushboo-rancher I assumed QA verified this before, did you encounter this issue? https://github.com/longhorn/longhorn/issues/1741#issuecomment-781750824

[2021-03-11 07:50] khushboo-rancher commented on #2319
Validation of this should be covered with https://github.com/longhorn/longhorn/issues/1741, but I'll revalidate this once on Centos and confirm.

[2021-03-11 08:50] jenting commented on #2292
@Martin-Weiss,
To clarify, you only change the helm setting by disabled the PSP?

![image](https://user-images.githubusercontent.com/49380831/110760259-7df0de00-8289-11eb-936c-35d2ec3404a1.png)

[2021-03-11 10:16] c3y1huang opened #2325 "[BUG] e2e test_instance_manager_cpu_reservation failed"
**Describe the bug**
The [test_instance_manager_cpu_reservation](https://github.com/longhorn/longhorn-tests/blob/master/manager/integration/tests/test_settings.py#L315-L317) needs to be updated for [Enhanced resource reservation mechanism](https://github.com/longhorn/longhorn/issues/2207).

**To Reproduce**
Steps to reproduce the behavior:
1. Run test_instance_manager_cpu_reservation

**Expected b

[2021-03-11 10:21] c3y1huang commented on #2325
@shuo-wu , as discussed, could you please help to update the test skeleton?

[2021-03-11 11:19] ElisaMeng commented on #2297
[
[longhorn-support-bundle_28661347-f230-4964-9d0d-3f0342c5ddf9_2021-03-11T11-08-13Z.zip](https://github.com/longhorn/longhorn/files/6122566/longhorn-support-bundle_28661347-f230-4964-9d0d-3f0342c5ddf9_2021-03-11T11-08-13Z.zip)
](url)

@cclhsu Finally, I get something.  Please have a look.

[2021-03-11 11:52] ElisaMeng commented on #2322
[code]

@PhanLe1010  btw, If set the volume size to 1G, it works without issue.

[2021-03-11 12:03] LuizBuffa25 commented on #2309
Yes, I will simulate the error later and send another support bundle.

[2021-03-11 12:06] ElisaMeng commented on #2297
I see longhorn manager consume 1-3G RAM, is that normally? while it needs so much memory?

[2021-03-11 12:13] cclhsu commented on #2297
Is it longhorn-manager-gtzgm in lab4node0 that consume so much memeory?

[2021-03-11 12:16] ElisaMeng commented on #2297
no, on this one, It is not. As may you see, I have almost zero volume active at the moment.

[2021-03-11 12:24] ElisaMeng commented on #2297
I get this problem on more and more nodes and cluster. What is common in these cluster is that i recently try out longhorn. Before that, I don't have this problem. this lead me to suspect it is longhorn problem.

[code]

I learn from other GitHub dev, saying run init get high cpu load because there are two many mounts, as I show above.  Where is this mounts coming from, anything relative to longho

[2021-03-11 12:27] Martin-Weiss commented on #2292
I have PSP already ON during deployment via:

[code]

and then I change i.e. the path to one image or add an annotation, adjust ingress or similar and will see the "error".

i.e. add:

[code]

Now I get longhorn-post-upgrade-j5p7c -> CreateContainerConfigError

`Error: container has runAsNonRoot and image will run as root`

`kubectl -n longhorn-system get pod longhorn-post-upgrade-j5p7c -o yaml`

[2021-03-11 12:50] morteza1131 commented on #2304
so what is this error when I want to bring up 3 node longhorn cluster:
`kubectl -n longhorn-system logs -f longhorn-csi-plugin-6hksm longhorn-csi-plugin
time="2021-03-11T12:46:04Z" level=info msg="CSI Driver: driver.longhorn.io csiVersion: 0.3.0"
time="2021-03-11T12:46:14Z" level=fatal msg="Error starting CSI manager: Failed to initialize Longhorn API client: Get \"http://longhorn-backend:9500/v1\

[2021-03-11 14:02] jenting commented on #2292
Could you please check the Pod's annotation (which has CreateContainerConfigError error), to make sure which PSP policy it applies? `global-restricted-psp` _or_ `longhorn-psp` or other?

[2021-03-11 14:04] LuizBuffa25 commented on #2309
Sent an e-mail with a new support bundle.

[2021-03-11 14:30] ElisaMeng commented on #2322
[code]

`Some more update.  it actually was not failing, but taking a very long time to attach, far longer than the first time it attach.

[2021-03-11 14:41] liyimeng commented on #2303
This sounds worrying for me. If there are TB of data on the node (it is actually so common nowadays), longhorn either need to rewrite most of them  on the same node or rebuild all of them on another node. It cost so much to reboot a node! There  should be room to improve here, e.g. take a maintenance snapshot on active volumes when user decide to maintain the node, catch up to by copying diff betw

[2021-03-11 16:54] joshimoo commented on #2297
@ElisaMeng can you attach the full output of `mount | grep shm`.
Possibly related to the secret mount spam, noticed here: https://github.com/longhorn/longhorn/issues/2083

[2021-03-11 17:23] joshimoo commented on #2317
Leaving a note here, related #1761

[2021-03-11 17:24] joshimoo commented on #2317
Currently longhorn only supports a single backup target.
In the future we want to refactor the backup mechanism, to allow for multiple backup targets.
That refactor is not scheduled yet, see #1761.

[2021-03-11 17:46] Martin-Weiss commented on #2292
It is the global-restricted-psp:

[code]

Strange - I see a role, role-binding and the "use longhorn-psp" - but for some reason the Annotation is still "global-restricted-psp". For other longhorn pods I see the annotation "kubernetes.io/psp: longhorn-psp" but not for longhorn-uninstall-n4zwk and  longhorn-post-upgrade-k5xmp.. maybe this is related to the "helm upgrade process" that is done via the

[2021-03-11 18:16] khushboo-rancher commented on #2131
Verified the scenarios from https://github.com/longhorn/longhorn/issues/2131#issuecomment-778897129, all the explanations hold good.

Validations - **Pass**

1. The pod with `fsGroupChangePolicy: "Always"` or no `fsGroupChangePolicy` or with different `fsGroups` and `csiDriver.spec.fsGroupPolicy: ReadWriteOnceWithFSType` takes around 6 min to mount the path containing 500000 files. This confirms t

[2021-03-11 18:16] #2131 closed

[2021-03-11 18:22] khushboo-rancher commented on #2311
Can we move this to merged column or are we waiting for something?

[2021-03-11 18:23] PhanLe1010 commented on #2311
Moved to merge. Thanks Khushboo

[2021-03-11 18:25] #2315 closed

[2021-03-11 19:58] LuizBuffa25 opened #2327 "[Question] There is a way to get restore progress % using command line?"
**Question**
When I run a backup, for example, is possible to get de backup progress by checking the pod log. I Would like to know if there is a similar way t get restore progress. I try to see the log of the instance responsible for volume/replica without success.

I need something like:
$ kubectl get/logs/describe <some resource> | grep restore-progress

As output something like:
time="2021-03-1

[2021-03-11 20:05] khushboo-rancher opened #2328 "[BUG] Number of volumes upgrading appeared to be more than `Concurrent Automatic Engine Upgrade Per Node Limit` setting value."
**Describe the bug**
The number of parallel upgrade of volumes is more than what we set in the setting `Concurrent Automatic Engine Upgrade Per Node Limit` on upgrading Longhorn from v1.1.0 to master.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0 on K8s cluster.
2. Create 20 volumes on the same node and attach them to pods.
3. Upgrade Longhorn to master.
4. Set `Conc

[2021-03-11 20:06] khushboo-rancher commented on #2281
The upgrade symbol looks good but there is a problem with the number of upgrade happening with the setting `Concurrent Automatic Engine Upgrade Per Node Limit`. Logged https://github.com/longhorn/longhorn/issues/2328 to track.
Once https://github.com/longhorn/longhorn/issues/2328 is fixed, this should be good to close.

[2021-03-11 20:11] ElisaMeng commented on #2297
@joshimoo
I simply run

`kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/deploy/longhorn.yaml
`

Here is top output of one of the clusters
[code]
below are part of the thousands mounts:
[code]

[2021-03-11 20:18] ElisaMeng commented on #2297
I don't miss iscsi software like #2083 for sure since it is functioning as expected at the beginning, but get explosion by time.

[2021-03-11 21:30] MikaelSmith opened #2329 "[BUG] Volume unable to recover when upgrading several StatefulSets"
A volume is stuck with Unknown health, and several can't be mounted because they're already attached. This probably happened after restarting the Longhorn manager instances.

and

<img width="1506" alt="Screen Shot 2021-03-11 at 1 28 43 PM" src="https://user-images.githubusercontent.com/8162496/110857435-b4b8fb00-826d-11eb-82e8-b5f29e4e2a51.png">

I'm surprised they aren't automatically fixed base

[2021-03-11 23:02] ElisaMeng commented on #2329
might be relative to #2322?

[2021-03-11 23:19] PhanLe1010 commented on #2287
As discuss by @joshimoo and @mohjam2004 , please resolve the ETCD disk pressure.

Move the issue to resolve. Feel feel to ping us if you still see a problem with Longhorn after resolving the ETCD disk pressure.

[2021-03-11 23:22] MikaelSmith commented on #2329
My current theory is that restarting the Longhorn managers with volumes still attached left them attached to a specific node and never attempted to stop > detach > start the pods that couldn't mount volumes. I'm not sure what happened with the failed replicas though.

[2021-03-11 23:22] PhanLe1010 commented on #2302
Btw, if you want to build automation script to control Longhorn, we have some docs at https://longhorn.io/docs/1.1.0/references/longhorn-client-python/

[2021-03-12 00:39] PhanLe1010 commented on #2327
You can look into the `engines` resource corresponding to the volume inside `longhorn-system` namespace. The restore progress is recorded inside the field `restoreStatus` of the `engine` resource.

For example, `kubectl get engines <ENGINE-NAME> -n longhorn-system -o yaml | grep -A 25 "restoreStatus:"` shows:
[code]
Similarly, another way to check backup progress is checking the field `backupStatu

[2021-03-12 00:43] PhanLe1010 commented on #2327
The in-planing [Longhorn CLI feature](https://github.com/longhorn/longhorn/issues/613) should make this easier.

[2021-03-12 01:50] virus2016 opened #2330 "[BUG] MountVolume.SetUp failed for volume: Structure needs cleaning"
**Describe the bug**
Did a backup and longhorn services crashed. Now trying to attach a volume back to our postgres pod and get this message.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Take a backup
2. Crash longhorn services
3. Try to attach volume to pod

**Expected behavior**
Looks like there is data corruption so should run a disk check.

[longhorn-support-bundle_4cf5d64d-8e

[2021-03-12 03:15] c3y1huang opened #2331 "[FEATURE][infra] display test logs in Jenkins console output while tests are running"
**Is your feature request related to a problem? Please describe.**
Currently, we can only see very little info about the testing status during test runs, and to discover issues we need to wait for the test run to complete.
[code]
Should consider having the test logs output to Jenkins console output so we could discover issues and progress with fixes at an earlier stage.

**Describe the solution yo

[2021-03-12 04:51] innobead commented on #2331
cc @meldafrawi

[2021-03-12 05:02] mfbrj commented on #2314
Could item 2 be mitigated by a snapshot revert done by the user?

 So, Longhorn could do an automatic snapshot before the expansion, and delete de snapshot after a successful expansion

[2021-03-12 05:13] c3y1huang opened #2333 "[BUG][infra] junit-report.xml failed to read"
**Describe the bug**
Noticed currently the junit-report.xml report gets created from [kubectl logs](https://github.com/longhorn/longhorn-tests/blob/master/test_framework/scripts/longhorn-setup.sh#L210), and when py.test hits an error will break the junit-report.xml.

The [error](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/62/testReport/junit/longhorn-test-junit-report/xml/_fai

[2021-03-12 05:26] shuo-wu commented on #2329
For volume `pvc-ef1550da-b248-4b74-995f-4af189bfcfaa-e-b5bb8817`
Root cause:
1. All replicas are state `error` but the engine is still state `running`. Ideally, the engine should error out and the volume should become `Faulted`, then auto salvage will help recover the volume. But the field `spec.failedAt` in replica `pvc-ef1550da-b248-4b74-995f-4af189bfcfaa-r-73cbddfa`  is empty, which doesn't mat

[2021-03-12 05:31] innobead commented on #2333
cc @meldafrawi

[2021-03-12 06:01] shuo-wu commented on #2329
For volume `pvc-1a16cfdb-6b14-472a-a104-c8a654da0102`

Workaround:
Manually detach the volume (via Longhorn UI) and clean up the related VolumeAttachment `csi-569be94630dc21616bb66ba5383a0930da5a6d0537f29457642d021d9a4cf5b0`:
[code]
Then wait for Kubernetes retries the attachment for the workload.

Root cause:
When the volume is crashed then becomes detached (the crash seems to be caused by the in

[2021-03-12 06:17] jenting commented on #2292
@Martin-Weiss,
1. Could you please dump the cluster PSP? `kubectl get psp`
2. Had you change the `enablePSP` value during `helm upgrade`?

I tried to reproduce on rke2 (v1.19.8+rke2r1) with cis-1.5 profile, but all my longhorn Pods assigned PSP would be `global-unrestricted-psp`.

![image](https://user-images.githubusercontent.com/49380831/110900385-a0dcca00-833d-11eb-8d30-43239036982d.png)

[2021-03-12 06:39] Martin-Weiss commented on #2292
[code]

As long as I do not change the helm values I see this:

[code]

-> just when I change a helm value the two pods get started and have the wrong PSP for some reason

No

Maybe there is a difference in deployment.. I am deploying with putting the helmchart yaml into /var/lib/rancher/rke2/server/manifests/longhorn...yaml. And in that I also do the adjustment, there.

Initial deployment is with

[2021-03-12 06:49] jenting commented on #2292
Thank u, now it's more like helm operator issue.

[2021-03-12 07:04] c3y1huang opened #2334 "[BUG][infra] regression job get stuck"
**Describe the bug**
Sometimes [regression](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/) get stuck with,
[code]

**To Reproduce**
Not exactly sure, but could try to start two jobs at the same time with the same parameters.

**Expected behavior**
Should run and finish.

**Log**
`none`

**Environment:**
`none`

**Additional context**
[Build #70](https://ci.longhorn.io/job/priva

[2021-03-12 07:07] PhanLe1010 commented on #2329
I think the issue https://github.com/longhorn/longhorn/issues/1631#issuecomment-664768769 is related to the problem with the second volume (volume pvc-1a16cfdb-6b14-472a-a104-c8a654da0102)

[2021-03-12 07:21] MikaelSmith commented on #2329
I was able to recover all volumes by: stopping the pods attempting to use them, detaching the volumes in the UI, then starting the pods.

Ideally this would be done automatically.

[2021-03-12 08:23] cclhsu commented on #2322
Add some note on behavior of statefulset:

1. Create Statefulset:

[code]

Events:

[code]

2. Rollout restart:

[code]

Pod will restart one by one, and pvc/pv will not deleted.

Events:

[code]

3. Delete Statefulset:

[code]

Need to manual delete pvc. pvc and pv existed even after YAML deleted.

Events:

[code]

NOTE: As size of PVC request increase, restarting or terminating time seems also i

[2021-03-12 08:36] shuo-wu commented on #2329
Oh, that's the PDB issue. Since this case is not caused by node drain, PDB won't help here. We need to find another way to fix it.

[2021-03-12 08:37] shuo-wu commented on #2329
Yes. After fixing these bugs, volumes would be recovered automatically. Thank you for reporting!

[2021-03-12 08:58] shuo-wu commented on #2303
Maintaining a node without rebuildings implicitly means degrading the HA for running volumes. To avoid HA downgrade as well as rebuilding, directly detaching the volumes contain replicas on this node may be a choice. If you can't stop volumes and really don't want the rebuilding, you can set an appropriate value for setting `Replica Replenishment Wait Interval` and make sure the maintenance time i

[2021-03-12 09:22] Martin-Weiss commented on #2292
The operator just creates an helm job that does a "helm upgrade" with different values - so it seems the issue might be in the helm chart or the process of helm chart based upgrades of longhorn.. does that "helm upgrade" of longhorn i.e. delete and re-create the PSP causing a potential race condition?

[2021-03-12 09:22] c3y1huang commented on #2270
Sorry missed https://github.com/longhorn/longhorn-manager/pull/845, need review.

[2021-03-12 10:01] khushboo-rancher commented on #2319
@cclhsu Can you please confirm that you're using https://raw.githubusercontent.com/longhorn/longhorn-manager/master/deploy/prerequisite/longhorn-iscsi-installation.yaml file to deploy iscsi-installer and what's the version of the CentOS you're using?

1. With CentOS 7 the https://raw.githubusercontent.com/longhorn/longhorn-manager/master/deploy/prerequisite/longhorn-iscsi-installation.yaml is work

[2021-03-12 10:55] cclhsu commented on #2319
Yes, the issues are addressed in https://github.com/longhorn/longhorn-manager/pull/840

[2021-03-12 10:57] LuizBuffa25 commented on #2327
It worked! Thanks.

Waiting anxiously for the client.

You can close this issue.

[2021-03-12 11:13] #2327 closed

[2021-03-12 12:27] cclhsu commented on #2244
After some testing, a working cluster starts to have these errors appearing after turn on `firewalld`, and cannot communicate with other node.

[2021-03-12 12:47] ElisaMeng commented on #2322
@cclhsu Statefulset is designed to not delete pic/pv when pod get deleted.

[2021-03-12 12:54] ElisaMeng commented on #2297
Am I only one keep longhorn running for more that two weeks? soon my 100% of cluster see the same problem. Curious why no once else see this problem. ;)

[2021-03-12 14:11] ElisaMeng commented on #2303
@shuo-wu I got the idea of reuse existing data. But I read somewhere in your report, saying reuse existing data is actually not efficient as expected, @yasker said it was caused by the size of chunk, which then result in rewrite most of user data. I therefore take this into concern.

[2021-03-12 14:43] jenting commented on #2292
I can reproduce it!

1. I redeploy a new fresh install cluster RKE2 + CIS-1.5 profile, two PSP existed
![image](https://user-images.githubusercontent.com/49380831/110954852-ef14bc00-8383-11eb-950b-f72daa939655.png)

2. Deploy Longhorn on Rancher, all Longhorn Pods with PSP `longhorn-psp`
![image](https://user-images.githubusercontent.com/49380831/110954936-05227c80-8384-11eb-8661-f63f792ad36f.png)

[2021-03-12 15:01] awelsman opened #2335 "[FEATURE] Advanced Scheduling for Share Manager"
I have a cluster with a number of nodes (EC2 instances) which, under considerable load, can die and be cycled back into the cluster by RKE. I want to run Longhorn on both those nodes and a few other, much more reliable ones. I have three nodes dedicated to Longhorn, one in each availability zone, and am storing my RWX volume replicas there. I can attach my volume to one of these dedicated nodes, b

[2021-03-12 15:52] yasker commented on #1943
Just to clarify the issue: we need to error out if direct IO is requested (for snapshot files) but cannot be achieved. Because using buffered IO will result in the data written to the cache, so in the case of power disruption, the user will suffer from data loss, and Longhorn is no longer crash consistent. That’s the reason we cannot fall back to buffered IO if direct IO is requested.

[2021-03-12 17:24] MikaelSmith commented on #2329
Ah, sorry this didn't follow the bug format. It seems selecting Open Issue from the Longhorn UI skips that selection.

[2021-03-12 17:25] khushboo-rancher commented on #2311
Verified with Longhorn-master `03/12/2021`

Validation - **Pass**

The state of the engine is changed to `deployed` in all the below places.

<img width="1780" alt="Screen Shot 2021-03-12 at 12 05 26 AM" src="https://user-images.githubusercontent.com/60111667/110975647-03f24f00-8386-11eb-8d88-6eb96468c2a6.png">
<img width="1011" alt="Screen Shot 2021-03-12 at 12 06 02 AM" src="https://user-images.

[2021-03-12 17:25] #2311 closed

[2021-03-12 18:59] joshimoo commented on #2302
@ukd1 documentation pull request are very much welcome https://github.com/longhorn/website#contributing-to-docs

The reason we don't publish things like this is that it bypasses the backends validation layer, since we currently don't run a kubernetes validation webhook for the crds and instead expect the settings to be set via the backend api.

[2021-03-12 18:59] #2302 closed

[2021-03-12 19:31] MikaelSmith opened #2336 "[BUG] Cycling pods regularly results in fsck errors"
**Describe the bug**
Stopping and starting pods in an application with 13 PVCs results in at least one showing up with
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a 3-node cluster (1 control-plane, 2 workers) with Longhorn using all 3 nodes
2. Run a large application. Mine has 13 PVCs, writing log updates pretty much continuously (every couple seconds) and with 6 postgres inst

[2021-03-12 19:40] joshimoo commented on #2330
Leaving a note here, for v1.1.1 we implemented `fsfreeze` before snapshot (backup) operations to ensure that the filesystem info is flushed #2187

@innobead can someone investigate the support bundle to see if there is a panic/crash of one of the longhorn components in there.

[2021-03-12 20:59] MikaelSmith commented on #2329
Had another instance of this while making no changes to the system. All 3 replicas were detected to be in error (I'm not sure what triggered this, can try to track it down if you have some pointers what to look for in logs), Longhorn attempted to auto-salvage and thought it got it to a healthy state, then
[code]

Scaling the pod down didn't automatically detach the pod. After manually detaching, t

[2021-03-12 21:26] MikaelSmith commented on #2336
The new incident, trying to mount to "connect-a" (sha1sums)
[code]

"connect-a" seems to be the faulty replica, but I'm also suspicious of the replica on "connect" due to the volume-head number mismatch.

[2021-03-12 21:34] joshimoo commented on #2336
@MikaelSmith thanks for the update, can you attach a new support bundle.
And post the context information, time of incident, which volumes, relevant nodes, etc.

[2021-03-12 21:41] MikaelSmith commented on #2336
[longhorn-support-bundle_ee48a964-d6ec-4141-af7a-84f62c5cea44_2021-03-12T21-35-45Z.zip](https://github.com/longhorn/longhorn/files/6133109/longhorn-support-bundle_ee48a964-d6ec-4141-af7a-84f62c5cea44_2021-03-12T21-35-45Z.zip)

Failure was March 12 (today) sometime between 17:39-18:00 UTC, on "connect-a", pvc-8ca2553a-0d63-42d4-93ce-4a1c47085dff. Not a production system.

Happened when rolling out

[2021-03-12 22:24] PhanLe1010 commented on #2120
Manual Tests:

### Case 1: Existing Longhorn installation
1. Install Longhorn master.
1. Change toleration in UI setting
1. Verify that `longhorn.io/last-applied-tolerations` annotation and `toleration` of manager, drive deployer, UI are not changed.
1. Very that `longhorn.io/last-applied-tolerations` annotation and `toleration` for managed components (CSI components, IM pods, share manager pod, E

[2021-03-13 00:12] joshimoo commented on #2297
@ElisaMeng Which OS and kubernetes distro + version are you running?
Possibly related to k3s/k3os, needs further investigation.
https://github.com/rancher/k3os/issues/498
https://github.com/k3s-io/k3s/issues/1042

[2021-03-13 10:42] jinze1107 opened #2337 "Longhorn mount disk Consul use longhorn do not work well"
1.i install longhorn with helm chart  [longhorn-1.1.0   v1.1.0] ,and i mount one remote disk:
df -h :
/dev/vdb                                                1.1T  538M  981G   1% /data/longhorn

2.then i set longhorn defaultDataPath: /data/longhorn. , run longhron
3. helm install consul i use longhorn
   storageClass: longhorn

  then run consul, but longhorn volume is work well:
   volume state

[2021-03-13 11:17] jinze1107 commented on #2337
i found error in engine-manager.log:  but ican install iscsi use command :   yum install -y iscsi-initiator-utils  why have still errors?
2021-03-13T18:01:27.786797157+08:00 receive_msg: fail to read magic version
2021-03-13T18:01:27.786800353+08:00 response_process: Receive response returned error
2021-03-13T18:01:27.786802958+08:00 lh_client_close_conn: Closing connection
2021-03-13T18:01:27.786

[2021-03-13 16:09] runningman84 commented on #2272
@PhanLe1010 I just send you the support bundle per mail...

[2021-03-13 21:00] krisko opened #2338 "[QUESTION] After attaching volume in maintenance mode, the volume can't no longer be attached or detached"
**Describe the bug**
After attaching volume in maintenance mode, the volume can't no longer be attached or detached. I cannot see the /dev/longhorn/ device for the volume.

**To Reproduce**
Steps to reproduce the behavior:
1. Downscale deployment to 0 (volume will be detached), Attach volume with maintenance mode. Create snapshot. Scale deployment back to desired replica count.
2. Error from pod:

[2021-03-14 01:17] ElisaMeng commented on #2297
I do run k3os and I have report similar issue early. I mention https://github.com/k3s-io/k3s/issues/2980 at the beginning of this issue. As I said, I suspect bugs in contained/runc get explosion by "bad" behaviour of longhorn.

[2021-03-14 01:19] liyimeng commented on #2303
I mean https://github.com/longhorn/longhorn/issues/1948

[2021-03-14 10:20] joshimoo commented on #2338
@krisko after attaching in maintenance mode the volume will remain in maintenance mode, till it gets manually attached by the user. Did you try detaching the volume after finishing your maintenance?

[2021-03-14 10:22] joshimoo commented on #2297
Looks like the readiness probe of the longhorn-engine image, which are the binaries that are used to communicate / initiate certain engine actions.
https://github.com/longhorn/longhorn-manager/blob/master/controller/engine_image_controller.go#L763

[2021-03-14 17:03] wpwoodjr commented on #2329
We are seeing similar issues as reported here: [Longhorn volume doesn't re-attach to pod](https://support.rancher.com/hc/en-us/requests/15114)

One thing I noticed, if instance manager restarts, Longhorn also restarts pods associated with it.  Pods which move to another instance manager are fine, but pods which go to the new one can fail to re-attach.

We are seeing failures with volumes that have

[2021-03-14 18:56] tyzbit opened #2339 "[BUG] Deleting a backup causes longhorn-manager memory to spike for 30 minutes"
**Describe the bug**
After deleting a backup, longhorn-manager's memory usage spikes to >1GB.  It comes back down after 30 minutes.  If multiple backups are deleted in quick succession, it compounds so much so that it crashes and causes that node to desync and all volumes become degraded.

<img width="1137" alt="image" src="https://user-images.githubusercontent.com/3319104/111080500-22b32b80-84d5-

[2021-03-14 19:49] crackerjam opened #2340 "[BUG] The volume <pvcid> is attaching"
**Describe the bug**
I'm trying to create a simple pod with an attached longhorn volume, but the pod startup fails with a cryptic error:
` AttachVolume.Attach failed for volume "pvc-c5c541a0-82f3-44fd-8e7e-88f95d3d6f83" : rpc error: code = Aborted desc = The volume pvc-c5c541a0-82f3-44fd-8e7e-88f95d3d6f83 is attaching `

The volume in the Longhorn UI sits in state "Attaching" indefinitely.

**To R

[2021-03-14 20:23] ch8zer commented on #2309
I'm experiencing the exact same thing. I'm running on k3s - fresh install. I've emailed in a support bundle as well - hope it helps.