[2022-06-13 03:08] derekbit commented on #4018
If you hit it again, feel free to open the ticket. Thank you.

[2022-06-13 03:08] #4018 closed

[2022-06-13 03:24] innobead commented on #3425
Mention in the 1.3.0 doc, https://github.com/longhorn/website/commit/87cd69f9bbc22bfd173e820ca9726e4614e99b49

[2022-06-13 03:41] mantissahz commented on #4065
Verified on v1.23.6+k3s1 cluster with master-head image 2022/06/13
Validation - PASSED

Steps:

1. helm install Longhorn
2. delete `deployment/longhorn-ui`
3. update `setting/kubernetes-cluster-autoscaler-enabled` to true or false
4. longhorn-manager pods still are `Running`

[2022-06-13 03:41] #4065 closed

[2022-06-13 03:48] cchien816 commented on #4103
Tested on longhorn manager-head ec91a689daef211cd0435f840d7fed2f4fb2ae51

Scenarrio 1 - **Pass**
1. Setup the Kubernetes cluster and deploy the Longhorn system with master-head
2. Create a LHV and do nothing.
3. Use the command kubectl cordon [worker node] and then kubectl drain --force --ignore-daemonsets --delete-emptydir-data --grace-period=10 [worker node].
4. Drain work well

Scenarrio 2 - **

[2022-06-13 04:30] c3y1huang commented on #4103
Is the volume still attached when draining node?

[2022-06-13 04:41] cchien816 commented on #4103
After discussed with @c3y1huang , I understood that Longhorn not allowing drain while volume is still attached.
Update test result

**Tested on longhorn manager-head ec91a689daef211cd0435f840d7fed2f4fb2ae51
Result : Pass**

1. Setup the Kubernetes cluster and deploy the Longhorn system with master-head
2. Create a LHV and do nothing.
3. Use the command kubectl cordon [worker node] and then kubectl

[2022-06-13 05:18] cchien816 commented on #4103
Hi @impsik ,

Would you mind create another ticket for tacking issue about unable to drain node when using Ansible? thank you

[2022-06-13 05:39] cchien816 commented on #3425
Compare IBM Z test result and SLES test ressult, there are few test results may need to keep tracking :
- test_scheduling.py::test_data_locality_basic - not happen in SLES test [result](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/152/testReport/tests/test_scheduling/test_data_locality_basic/)
- test_settings.py::test_instance_manager_cpu_reservatio

[2022-06-13 06:00] innobead commented on #3425
@thehejik Could you help manually verify these test cases or even run them to see if they will pass? Thanks.

[2022-06-13 06:21] c3y1huang commented on #4103
@cchien816 , sorry I've misled you. Going through [Updating the Node OS or Container Runtime](https://longhorn.io/docs/1.2.4/volumes-and-nodes/maintenance/#updating-the-node-os-or-container-runtime) and seems we are expecting the engine process to migrate during drain.

https://github.com/longhorn/longhorn/issues/1631#issuecomment-708842694

[2022-06-13 06:57] cchien816 commented on #4103
Update test result

**Tested on longhorn manager-head ec91a689daef211cd0435f840d7fed2f4fb2ae51
Result : Pass**

Scenario 1
1. Setup the Kubernetes cluster and deploy the Longhorn system with master-head
2. Create a LHV and do nothing.
3. Use the command `kubectl cordon [worker node]` and then `kubectl drain --force --ignore-daemonsets --delete-emptydir-data --grace-period=10 [worker node].`
4. Dra

[2022-06-13 06:57] #4103 closed

[2022-06-13 07:55] lukaszraczylo commented on #4018
@derekbit definitely, thank you so much. To be fair RC2 is the most stable version of longhorn I've ran so far [ funnily enough, it's RC2 ]. Not even a single issue in 12 days. You're smashing it! :)

[2022-06-13 07:57] derekbit opened #4106 "[BUG] longhorn-manager crashed due to "close of closed channel""
## Describe the bug

While downloading a backing image on v1.2.4 and then upgrade longhorn to master-head,
longhorn-manager status becomes CrashLoopBackOff.

## To Reproduce

1. Install longhorn-manager v1.2.4
2. Download one backing image
3. While downloading the backing image, upgrade to master-head branch
4. longhorn-manager status becomes CrashLoopBackOff

log
[code]
## Expected behavior

no p

[2022-06-13 08:00] innobead commented on #4106
cc @shuo-wu

[2022-06-13 08:27] chriscchien opened #4107 "[BUG] Can't delete volumesnapshot if backup removed first"
## Describe the bug

After using volumesnapshot to create backup, if we delete backup first then delete the volumesnapshot, the volumesnapshot delete will stuck forever

## To Reproduce

Steps to reproduce the behavior:
1. Deploy Longhorn v1.3.0-rc3
2. Enable Install the Snapshot CRDs / controller introduced [here](https://longhorn.io/docs/1.2.4/snapshots-and-backups/csi-snapshot-support/enable-cs

[2022-06-13 09:09] innobead commented on #4107
This seems the same behavior of older versions (ex: 1.2.4), so it should not be a regression but rather a new issue.

https://github.com/longhorn/longhorn-manager/blob/ec91a689daef211cd0435f840d7fed2f4fb2ae51/csi/controller_server.go#L798-L811 (1.3.0)

https://github.com/longhorn/longhorn-manager/blob/b661af0c6315d0f910a3400b650b0e9fba2df577/csi/controller_server.go#L692-L712 (1.2.4)

[2022-06-13 09:33] impsik opened #4108 "[BUG] Unable to drain node using Ansible"
## Describe the bug

I have 3 workernodes. But sadly i'm not able to drain using Ansible (module: kubernetes.core.k8s_drain)
"msg": "Failed to delete pod longhorn-system/instance-manager-e-4edb318f due to: Too Many Requests"
I guess this module works over API.

## To Reproduce
Ansible play part:
[code]

## Expected behavior

worker node will be drained

## Log or Support bundle

If applicable, add

[2022-06-13 09:40] cchien816 commented on #4107
Use the same [step](https://github.com/longhorn/longhorn/issues/4107#issue-1269088630) double verify on v1.2.4, can reproduce on Longhorn v1.2.4

In kubectl terminal, can observe the volumesanpshot delete command will never complete and
In Rancher UI can see `Resource scheduled for deletion` as below picture shows
![Screenshot from 2022-06-13 17-37-20](https://user-images.githubusercontent.com/733

[2022-06-13 10:37] thehejik commented on #3425
Just re-verified the failed tests by deploying a fresh RKE2.s390x cluster with more RAM (4->8GB), vCPUs (2->4) and storage (20->40GB).

* `test_scheduling.py::test_data_locality_basic` - PASSED when `RETRY_INTERVAL` is set to 2 instead of default 0.5 in `common.py`
* `test_settings.py::test_instance_manager_cpu_reservation` - PASSED no modification needed
* `test_infra.py::test_offline_node` - sti

[2022-06-13 10:45] innobead commented on #4106
cc @longhorn/qa

[2022-06-13 10:51] mantissahz commented on #4086
Verified on v1.23.6+k3s1 cluster with master-head image 2022/06/13
Validation - PASSED

Steps:
1. Create six backing images with image sizes 958Mi, 683Mi and 501Mi.
2. Create six multiple volumes using these backing images and attach them to the node.
3. Wait for the attachment complete.
4. repeat steps 1~3 for six rounds and it won't gets stuck in the port-already-in-use error.

[2022-06-13 10:51] #4086 closed

[2022-06-13 11:01] derekbit commented on #3665
**m3.small.x86 Environment**

Cloud provider: Equinix
Machine: m3.small.x86
Kubernetes: v1.23.6+rke2r2
Nodes: 3 (each node is a master and also a worker)
OS: Ubuntu 22.04 / 5.15.0-33-generic
Storage: 1 SSD (Micron_5300_MTFD)
Network throughput between nodes (tested by iperf over 60 seconds): 15.0 Gbits/sec
Longhorn volume: RWX

![image](https://user-images.githubusercontent.com/12527233/173339690-

[2022-06-13 12:33] derekbit commented on #4106
Verified with master-head image 2022/06/13
Validation - PASSED

Steps:
1. Install longhorn-manager v1.2.4
2. Download one backing image
3. While downloading the backing image, upgrade to master-head branch
4. longhorn-manager can start as expected

[2022-06-13 13:26] derekbit commented on #4108
Can you drain the worker node successfully by manual?

[2022-06-13 14:54] c3y1huang opened #4109 "[BUG] gRPC proxy connection leak when failed to get backup target client"
## Describe the bug

Found when testing for https://github.com/longhorn/longhorn-manager/pull/1379.
![Screenshot-2022-06-13-22:38:41](https://user-images.githubusercontent.com/22583541/173381426-4709ebc4-bd83-494d-8375-962d80c71877.png)

## To Reproduce

Steps to reproduce the behavior:
1. Deploy Longhorn with https://github.com/longhorn/longhorn-manager/pull/1379 code base.
2. Setup monitoring st

[2022-06-13 14:56] innobead commented on #4109
cc @longhorn/qa @shuo-wu @derekbit

[2022-06-13 16:59] derekbit commented on #2293
**OS: ubuntu 22.04 (kernel: 5.15.0)**

The incomplete IO operation is retried in the second case in the above comment after the volume and share-manager pod are re-created on another node. The NFS-HA is achieved.

The iptable rules contain more sophisticated traffic rules between the app pod share-manager pod in this environment. These rules are not seen in the above one. We need to investigate ip

[2022-06-14 00:49] yangchiu commented on #4096
Test replica rebuilding failed.

Create a volume, and write 1TB data, and delete a replica through UI to trigger replica rebuilding, but the rebuilding keeps restarting, cannot rebuild the replica successfully.

test steps:
(1) create a volume with size > 1TB, with default replica count = 3
(2) create a pod for the volume and write 1TB data to the volume
[code]
(3) wait for writing processes compl

[2022-06-14 00:53] innobead commented on #4096
@yangchiu The fix is after RC3, so we need to verify it via the latest master build. Please help verify it again. Thanks.

[2022-06-14 02:21] cchien816 commented on #3220
Close this ticket because issue not happen in recent [build](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/153/testReport/tests/test_basic/test_allow_volume_creation_with_degraded_availability/) after fix merged .

[2022-06-14 02:21] #3220 closed

[2022-06-14 02:23] c3y1huang opened #4110 "[BUG] gRPC proxy connection leak when failed to backup"
## Describe the bug

Found whe
![Screenshot-2022-06-14-09:58:19](https://user-images.githubusercontent.com/22583541/173477264-bb45b45b-adff-4a5a-bb31-e39e86ea99a2.png)
n testing for https://github.com/longhorn/longhorn-manager/pull/1379.

## To Reproduce
Steps to reproduce the behavior:
1. Deploy Longhorn with https://github.com/longhorn/longhorn-manager/pull/1379 code base.
2. Setup monitoring st

[2022-06-14 04:34] innobead commented on #4110
cc @longhorn/qa

[2022-06-14 04:58] innobead commented on #4110
@cchien816 Please help verify this after @c3y1huang moves it to ready-for-testing. Thanks.

[2022-06-14 05:01] shuo-wu opened #4111 "[BUG] The last backing image file may not be cleaned up before the backing image manager shutdown"
## Describe the bug

When the last backing image file is no longer needed, the backing image manager (BIM) will be stopped as well. In this case, the BIM pod may be stopped before the file is successfully cleaned up.

## To Reproduce
Run integration test `test_setting_backing_image_auto_cleanup`

## Expected behavior

There is no leftover in this case.

## Log or Support bundle

https://ci.longhor

[2022-06-14 05:21] innobead commented on #4111
@mantissahz Please help with this verification. Thanks.

cc @longhorn/qa

[2022-06-14 05:33] yangchiu commented on #4096
Test replica rebuilding failed on master-head + longhorn-instance-manager:v1_20220611
After write data and delete a replica through UI to trigger replica rebuilding, no replica rebuilding starts, volume stuck in `Scheduling Failure` state with a stopped replica.

test steps:
(1) setup k3s cluster with c5d.12xlarge instances
(2) for each instance, format and mount one of the SSD storages and add it

[2022-06-14 05:40] cchien816 commented on #4109
**Verified on https://github.com/longhorn/longhorn-manager/pull/1379
Result Pass**

Test [steps](https://github.com/longhorn/longhorn/issues/4109#issue-1269567402)
After deploy with Longhorn with PR code and setup monitoring stack, can observe during`test_basic.py::test_backup` executing, the connection number greater than 0 and after test complete, the connection number returned to 0 as expected

[2022-06-14 05:40] #4109 closed

[2022-06-14 05:40] innobead commented on #4096
@shuo-wu @derekbit Could you check this to see why the replica can't be recreated? Is it possible to https://github.com/longhorn/longhorn-manager/commit/fedb7eb0303bbc509b995916b3f5460e519c4e2b?

[2022-06-14 05:57] derekbit commented on #4096
Weird, the scheduler cannot find an available node, but one of the nodes has enough space for the replica.

[code]

[2022-06-14 05:58] derekbit commented on #4096
Looks not related. The error message is related to the scheduler.

[2022-06-14 06:14] derekbit commented on #4096
support bundle
[longhorn-support-bundle_cfb377c5-6b21-4067-9bfe-cb6882172f97_2022-06-14T05-53-52Z.zip](https://github.com/longhorn/longhorn/files/8896896/longhorn-support-bundle_cfb377c5-6b21-4067-9bfe-cb6882172f97_2022-06-14T05-53-52Z.zip)

[2022-06-14 06:24] innobead commented on #3894
This can be after 1.3.0 out.

[2022-06-14 06:28] mantissahz commented on #4111
Verified `2022/06/14` with master-head image on
1. v1.23.6+k3s1 local building cluster
2. Jenkins Integration Test.

Validation - PASSED

https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1559

[2022-06-14 06:28] #4111 closed

[2022-06-14 06:44] innobead commented on #4082
This can be after 1.3.0 out.

[2022-06-14 06:46] innobead commented on #3425
Closing, because the integration is finished and all testings align with other supported arches.

[2022-06-14 06:46] #3425 closed

[2022-06-14 07:02] derekbit commented on #4096
It's an expected behavior.
https://github.com/longhorn/longhorn-manager/blob/master/scheduler/replica_scheduler.go#L611

MinimalAvailablePercentage is 25 by default.

[2022-06-14 07:55] c3y1huang commented on #4094
Closed, already verified https://github.com/longhorn/website/pull/514#pullrequestreview-1005369662.

[2022-06-14 08:01] innobead commented on #3714
This can be after the 1.3.0 longhorn chart out.

[2022-06-14 08:22] yangchiu commented on #4096
verified passed on master-head (with longhorn-instance-manager:v1_20220611) by:
(1) Create a 800GB volume
(2) Set the `Storage Minimal Available Percentage` to 0 and write ~800GB data to the volume
(3) When the write process completed, the volume actual size is ~800GB, then do
(3-1) delete a replica to trigger replica rebuilding
(3-2) create a snapshot
(3-3) create a backup
All the above operation

[2022-06-14 08:22] #4096 closed

[2022-06-14 08:37] arontsang commented on #4071
@derekbit The problem is that the worker nodes aren't stable (dynamically provisioned). Therefore, I have no control of when the nodes are added/removed, nor do I have control over the node-id.

Given that volumes in longhorn seem to be addressed by node-id, this seems to mean that when the block storage is attached, longhorn might not realize it is the same volume.

Additionally, if the storage i

[2022-06-14 08:40] arontsang commented on #4071
I noticed that Rook supports running Ceph with the Ceph OSD components in a Statefulset, rather than as a Daemon, which would solve my issue.

However, Ceph has rather steep requirements compared to Longhorn.

Is it possible to run the Longhorn storage backend as a StatefulSet rather than as a Daemon?

[2022-06-14 14:35] cchien816 commented on #4110
HI @c3y1huang ,

I tested with longhorn-manager fae77ef0a5cbf1396a177c55c58483afe537ba60 and https://github.com/longhorn/longhorn-manager/pull/1379 code base 5e78f31aba973d26c8a2b39954c5ce3c77b8a87f

After test_recurring_job complete, can obviously observe that most gRPC proxy connection will close so the connect number return to 0.
But eventually in my test environment in one node there still hav

[2022-06-14 14:48] hamamini commented on #2259
Do you have any plan to support Kubernetes IPv6-only clusters!!?

[2022-06-14 14:55] c3y1huang commented on #4110
Hmm.. [here](https://github.com/longhorn/longhorn-manager/pull/1379#issuecomment-1155136842) is my test result from `99706a589089fabf4a067d385006b805af2f9b91`. Since the test is dependent on [PR#1379](https://github.com/longhorn/longhorn-manager/pull/1379), maybe we test after that one gets merged, WDYT?

[2022-06-14 16:01] derekbit commented on #3612
Unable to reproduce the bug using the same configuration on my local environment.

@cchien816 @yangchiu Could you help check it again? Thank you.

[2022-06-15 02:44] yangchiu commented on #3612
Tested on master-head with Ubuntu 20.04 v1.21.9+rke2r1 cluster.

(1) create rke2 cluster and install longhorn:
`kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/longhorn.yaml`
(2) deploy a statefulset with rwx volume, scale up to 5 replicas
(3) ssh into each worker node, stop all the kubelet service on each node with command:
`service rke2-agent stop`
(4) wait for

[2022-06-15 02:52] derekbit commented on #3957
As the benchmarking result, if the volume and the single replica are on the same node, the latency and iops can improved significantly.

![image](https://user-images.githubusercontent.com/12527233/173726307-022c758d-ff75-41f9-af4b-987b0cbe1e5e.png)

In addition, the tcp can be replaced with unix domain socket to gain more performance in this case.

[2022-06-15 03:00] derekbit commented on #3612
Awesome! Do you reproduce in local env or cloud env?
Could you provide me the support bundle? Thank you.

[2022-06-15 03:04] yangchiu commented on #3612
I reproduced it on AWS.
The support bundle:
[longhorn-support-bundle_df8fb15b-c522-497a-bb67-3077a8f06362_2022-06-15T03-01-43Z.zip](https://github.com/longhorn/longhorn/files/8905342/longhorn-support-bundle_df8fb15b-c522-497a-bb67-3077a8f06362_2022-06-15T03-01-43Z.zip)

[2022-06-15 03:13] cchien816 commented on #3488
Hi @derekbit
I tested on longhorn v1.2.x head `0ed376c4cc3765f64e77cfad7f41f8a28d7baeca`, follow test step [here](https://github.com/longhorn/longhorn/issues/2570#issuecomment-1126938163)

1. Create customized-default-settings.yaml
2. Install Longhorn v1.2.x head with customized-default-settings.yaml
3. check default settings
But the default setting not applied, could you have look on this? thank

[2022-06-15 03:33] derekbit commented on #3488
Weird... workable in my env. I used the tag `tag: v1.2.x-head`.

[2022-06-15 04:39] cchien816 commented on #3488
**Verified on v1.2.x-head `0ed376c4cc3765f64e77cfad7f41f8a28d7baeca`
Test [steps](https://github.com/longhorn/longhorn/issues/2570#issuecomment-1126938163)
Result Pass**

Test 1. Fresh installation v1.2.x
Check default setting value working properly at each step

- [ ]  Install Longhorn with customized-default-settings.yaml
- [ ]  Update default settings using kubectl
- [ ]  Upgrade longhorn-manag

[2022-06-15 04:39] #3488 closed

[2022-06-15 04:58] c3y1huang opened #4112 "[IMPROVEMENT] Split gRPC proxy connection counter by instance manager"
## Is your improvement request related to a feature? Please describe

When having 2 IM-E pods after Longhorn upgrade, there will be two cases:

No differentiated metrics for each IM pod, so the reported metrics actually the same for them
If the first pod is not found, the counter will be reset so it will cause the other reported metrics probably incorrect

## Describe the solution you'd like

Each

[2022-06-15 05:46] c3y1huang opened #4113 "[BUG] a connection not closed in full regression"
## Describe the bug

We need to figure out why there is a connection remaining in the Prometheus metric after full regression.

## To Reproduce

Steps to reproduce the behavior:
1. Setup monitoring stack
2. Monitor `longhorn_instance_manager_proxy_grpc_connection` in Grafana panel.
3. Run full regression

## Expected behavior

All connections should return to 0 after the tests are finished.

## Lo

[2022-06-15 06:17] yangchiu commented on #4038
Verified passed on master-head.
`longhorn_instance_manager_proxy_grpc_connection` can be found in REST endpoint `http://longhorn_manager_ip/:PORT/metrics`

[2022-06-15 06:17] #4038 closed

[2022-06-15 08:01] cchien816 commented on #4110
**Verified in master-head `0d9116913e787a633226b234f3721a8b916bf6e5`
Result Pass**
**Test [steps](https://github.com/longhorn/longhorn/issues/4110#issue-1270165231)**

After use master head to observe `longhorn_instance_manager_proxy_grpc_connection` most connection will close after test script complete.

But there still have 1 connection not closed as https://github.com/longhorn/longhorn/issues/4

[2022-06-15 08:48] cchien816 commented on #3938
Update test result of

- Verify longhorn chart PR to ensure all artifacts ready (install, upgrade) - https://github.com/longhorn/charts/pull/63#issuecomment-1156174284
- Run manual smoke testing: (install, upgrade) - has been manually tested on v1.2.4 -> v1.3.0 and fresh install / uninstall is also tested on v1.3.0

cc @yangchiu @mantissahz

[2022-06-15 09:24] derekbit commented on #3957
Replace the tcp connection between the engine and the single replica with unix-domain-socket.
- The IOPS and Latency are improved.
- The bandwidth number is saturated, so the improvement is not seen here.

![image](https://user-images.githubusercontent.com/12527233/173792789-3a189f49-30f1-412a-8733-fde0bcc39510.png)

[2022-06-15 09:58] yangchiu commented on #3949
[v1.3.0 amd64 coretest](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1568/): 1 failure
[v1.3.0 amd64 upgrade coretest](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1569/): no failures
[v1.3.0 arm64 coretest](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1570/): 5 failures
[v1.3.0 arm64 upgrade coretest](https://ci.longhorn.io/job/private/j

[2022-06-15 10:10] innobead commented on #3949
Comments from @longhorn/qa

[test_allow_volume_creation_with_degraded_availability_csi](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1568/testReport/junit/tests/test_csi/test_allow_volume_creation_with_degraded_availability_csi/) is flaky
Other arm64 failed cases related to engine_upgrade, we are not support yet

[2022-06-15 10:10] #3949 closed

[2022-06-15 13:56] TodorSamardziski opened #4119 "[QUESTION] Use specific IP for backup and restore to external NFS storage"
Hello Longhorn Team,

Is it possible to specify an IP or a node as a source FROM where the backup and restore must be done ? For example on a K3S cluster in HA with 3 server and 3 agent node specify the node_agent_1 as a primary "backup" and "restore" source and node_agent_2 as second.  (Or better, exclude a node to backup and restore)

## Environment
 - Longhorn version: v1.2.4
 - Kubernetes vers

[2022-06-15 14:24] CrazyMushu opened #4120 "[BUG] Scale replica warning"
## Describe the bug

When reducing the number of replicas via the web interface:
Detected replica UNKNOWN-tcp://10.0.5.74:10000 (10.0.5.74:10000) in error

longhorn-manager says:

[code]

## To Reproduce

Steps to reproduce the behavior:

pvc yaml example

[code]

1. Сreate pvc from above example
2. Attach volume to node
3.  Scale replicas to 5
4. Scale replicas to 3
5. See error "Detected replica

[2022-06-15 14:26] innobead commented on #4120
cc @c3y1huang

[2022-06-15 18:02] PhanLe1010 commented on #3938
Updated. Thank you

[2022-06-15 21:43] joshimoo commented on #3957
@derekbit good job on the evaluation :)

[2022-06-15 21:51] joshimoo commented on #3972
To support an active/active configuration one needs a distributed filesystem, which the standard fs (ext4/xfs) are not.
Theoretically the raw block dev can be used in an active/active configuration, but without a distributed FS or specific software it is kinda pointless, so we don't expose that usage mode currently.

The only way for active/active at the moment would be to use the RWX mode which i

[2022-06-15 21:51] #3972 closed

[2022-06-16 01:36] c3y1huang commented on #4120
Note, this is also in v1.2.4.

[2022-06-16 02:09] c3y1huang commented on #4120
@CrazyMushu can you confirm that you are able to scale down?

[2022-06-16 02:54] innobead commented on #4120
cc @longhorn/qa (when verifying issues, please also pay more attention on application logs)

[2022-06-16 03:03] cchien816 opened #4121 "[TEST] Fix flaky test case test_allow_volume_creation_with_degraded_availability_csi"
## What's the test to develop? Please describe

Fix flaky test case test_allow_volume_creation_with_degraded_availability_csi

## Describe the items of the test development (DoD, definition of done) you'd like

- [x] Script have consistent result

## Additional context

https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/155/testReport/junit/tests/test_csi

[2022-06-16 03:10] cchien816 commented on #4047
Most of the failure not happen in master [build](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/156/testReport/) .

Remain
test_allow_volume_creation_with_degraded_availability_csi  https://github.com/longhorn/longhorn/issues/4121
test_cloning.test_cloning_interrupted https://github.com/longhorn/longhorn/issues/4045

[2022-06-16 03:11] innobead commented on #4047
This is awesome! @longhorn/qa

[2022-06-16 03:35] derekbit opened #4122 "[IMPROVEMENT] Reduce syscalls while reading and writing requests in longhorn-engine"
## What's the task? Please describe

Reduce syscalls while reading and writing requests in longhorn-engine

## Describe the items of the task (DoD, definition of done) you'd like

Writing or reading a header of a request calls multiple syscalls, which increase the latency of the data io. The task is to reduce the number of the syscalls and the memory allocations.

https://github.com/longhorn/longh

[2022-06-16 03:56] yangchiu opened #4123 "[TEST] Adjust CI pipeline to disable 1.1.x and create 1.3.x"
## What's the test to develop? Please describe

* Disable 1.1.x pipeline (no need to delete)
* Create 1.3.x pipelines and enable daily run
* Make the master as 1.4 daily run

[2022-06-16 07:08] yangchiu opened #4124 "[TEST] Show longhorn version information for each regression test build"
## What's the test to develop? Please describe

For each regression test build, `the version (commit id)` of `longhorn-manager` and `longhorn-engine` should be recorded and shown on somewhere for reference.

[2022-06-16 07:34] innobead commented on #4124
@yangchiu Please remember to add to the DevOps project next time :slightly_smiling_face:

![image](https://user-images.githubusercontent.com/899492/174017212-3c8deaab-107a-481c-b190-5eb9f1959c4a.png)

[2022-06-16 09:04] FaraSys commented on #4120
Hi.
We also get Warning, when scaledown replicas.
`time="2022-06-16T08:55:14Z" level=info msg="Deleting snapshot CR for the snapshot 4220c48f-1509-4363-8d84-1bf9a675a009" controller=longhorn-engine node=k-node-1
time="2022-06-16T08:55:14Z" level=info msg="Creating snapshot CR for the snapshot 4d8bd402-9e0e-4e2b-98f9-bb79871d9480" controller=longhorn-engine node=k-node-1
time="2022-06-16T08:55:14Z"

[2022-06-16 09:11] c3y1huang commented on #4120
This is different from the unknown replica warning. Please create another issue for this. Thanks.

[2022-06-16 09:19] FaraSys opened #4126 "[BUG] Scale replica snapsots warning"
When reducing the number of replicas via the web interface:
type: 'Warning' reason: 'SnapshotError' lost track of the corresponding snapshot info inside volume engine"
type: 'Warning' reason: 'SnapshotDelete' snapshot is marked as removed"

longhorn-manager says:

[code]

## To Reproduce

Steps to reproduce the behavior:

pvc yaml example
[code]

1. Сreate pvc from above example
2. Attach volume t

[2022-06-16 09:21] FaraSys commented on #4126
KEYWORD #4120

[2022-06-16 09:30] c3y1huang commented on #4126
cc @PhanLe1010

[2022-06-16 14:40] thehejik commented on #3425
Results from `-m coretest` on `v1.3.0` running on three nodes `v1.24.1+rke2r2` SLE15SP3.s390x cluster with EXT4 rootfs, Minio as s3 backupstore. Logs [here](https://github.com/longhorn/longhorn/files/8919835/longhorn-test.log)

[code]

[2022-06-16 15:45] derekbit commented on #4105
Hello @iosifnicolae2,
Could you elaborate `evict a volume from a disk` more?
What's the purpose of the feature?

[2022-06-16 17:09] iosifnicolae2 commented on #4105
hi, sure

by evicting a volume from a disk I mean to actually move it to move it to another disk because the current disk is almost full and we have other disks which have plenty of space

[2022-06-16 21:34] PhanLe1010 commented on #4126
I tried to the reproducing steps. This behavior is expected because:
1. When users increase number of replica count for volume by 2, Longhorn will retry to rebuild replica one by one
2. For each replica rebuild, Longhorn make a new system snapshot before rebuilding (hence you see the `Creating snapshot CR for the snapshot ..` message). After each rebuilding, Longhorn will do an automatic snapshot

[2022-06-16 23:51] PhanLe1010 commented on #4000
I am trying to reproduce the filesystem crash problem but have no luck so far. If you have a lab env that I can borrow, that would be great help @michaelpearce-gain @IJOL . Below are the steps, I did:

## Environment

 - Longhorn version: v1.2.2
 - Installation method (e.g. Rancher Catalog App/Helm/Kubectl): kubectl
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version: RKE1 v1.19.16
   -

[2022-06-16 23:54] PhanLe1010 commented on #4070
I am trying to reproduce the filesystem crash problem but have no luck so far. If you have a lab env that I can borrow, that would be great help @diamonwiggins @voarsh2 . More details about the steps I have tried https://github.com/longhorn/longhorn/issues/4000#issuecomment-1158289321

[2022-06-17 00:50] derekbit commented on #4105
Got it. More precisely, you hope the replica can automatically move to another disk which has more free space.

[2022-06-17 01:10] joshimoo commented on #4105
Epic for tracking replica scheduling improvements #3840
I think we will be adding disk anti affinity rules as part of the volume group feature #2128
The replica eviction request sounds reasonable, since we currently already allow for evicting replica from a node.

[2022-06-17 01:48] joshimoo commented on #3446
Performance Benchmarks between lh v1.2.x and v1.3
https://github.com/longhorn/longhorn/issues/4002

Single local replica via unix socket latency decrease benchmark
https://github.com/longhorn/longhorn/issues/3957

[2022-06-17 01:50] derekbit commented on #4069
There are lots of duplicate messages, so we need to check and reduce it.

[2022-06-17 02:01] derekbit commented on #4119
Need to investigate it in both the current design using tgt and the one using spdk.

[2022-06-17 02:31] c3y1huang opened #4128 "[IMPROVEMENT] Add TOC to doc"
## Is your improvement request related to a feature? Please describe

We should review and have TOC for each section with sub-items so users don't need to check from the side menu.

For example, https://longhorn.io/docs/1.3.0/advanced-resources/support-managed-k8s-service/

## Describe the solution you'd like

Have TOCs

## Describe alternatives you've considered

`None`

## Additional context

`N

[2022-06-17 03:41] derekbit opened #4129 "[Question] Specifying bytes-per-inodes ration in mkfs.ext4 options"
The default inodes number when mkfs.ext4 is done by longhorn is not matching with my needs. I have a lot of small files in my filesystem.

The documentation is talking about the mkfs-ext4-parameters (-O ) but not about the block size (-b ) or the bytes-per-inodes ratio (-i )

https://forums.rancher.com/t/specifying-bytes-per-inodes-ration-in-mkfs-ext4-options/38052

[2022-06-17 04:02] joshimoo commented on #4129
One should be able to specify arbitrary params, for the mkfs,ext4 binary invocation.
See the below code excerpts for additional information,

REF:
- https://github.com/longhorn/longhorn-manager/blob/3163c4508c672544658b6462e16fb1815485d78b/csi/node_server.go#L628
- https://github.com/longhorn/longhorn-manager/blob/3163c4508c672544658b6462e16fb1815485d78b/csi/util.go#L60

[2022-06-17 05:53] innobead commented on #4126
cc @shuo-wu

[2022-06-17 07:56] tuhin37 commented on #3834
I have the exact same issue. I am running longhorn v1.2.4 on EKS.
I have created an s3 bucket, created a secret in longhorn-system namespace, and updated the s3 URL and secret name on the setting page. Now every time I go to the backup tab I get this error

error listing backup volume names: Failed to execute: /var/lib/longhorn/engine-binaries/longhornio-longhorn-engine-v1.2.4/longhorn [backup ls

[2022-06-17 07:56] FaraSys commented on #4126
@PhanLe1010 If this is normal behavior, why are we getting a **warning** instead of an **info**?
Wanging's message says:
type: 'Warning' **reason: 'SnapshotError'** lost track of the corresponding snapshot info inside volume engine"

[2022-06-17 08:37] cchien816 opened #4131 "[TEST] Implement test_migration_with_failed_replica"
## What's the test to develop? Please describe

Currently `test_migration_with_failed_replica` only have test skeleton, need to implement test script.

## Describe the items of the test development (DoD, definition of done) you'd like

- [x] Implement the test script
- [x] Verify the test is running fine in the pipeline

## Additional context

N/A

[2022-06-17 08:59] shuo-wu commented on #4126
I think you mean the snapshot file & the record in `engine.Status.Snapshots` will be removed first, then this log will be printed before the monitor cleans up the corresponding CR.

---

In the next version Longhorn will remove `engine.Status.Snapshots` hence there should not be such kinds of confusing logs.

[2022-06-17 10:40] c3y1huang commented on #4113
Note: This is likely to be caused by a goroutine leak in the backup monitor when backup CR gets deleted before erroring out or complete.

[2022-06-17 10:42] thehejik commented on #3425
Results from full pytest run on `v1.3.0`, logs [here](https://github.com/longhorn/longhorn/files/8920574/longhorn-test.log)

[code]

[2022-06-17 10:47] derekbit commented on #4122
Performance
![image](https://user-images.githubusercontent.com/12527233/174283939-a0d557ac-6ff5-4bb1-a6d7-2334d3af1910.png)

[2022-06-17 11:23] FaraSys commented on #4126
I understand. Thank you

[2022-06-17 21:37] keithalucas commented on #4122
We could reduce the system calls in https://github.com/rancher/liblonghorn/blob/master/src/longhorn_rpc_protocol.c as well.  The go code uses buffered I/O to reduce the number of syscalls as well.  In C we could make our own buffering or use `fread` and `fwrite`.  If this benefits the longhorn-engine, doing it in the liblonghorn should probably cause an improvement as well.

[2022-06-17 21:49] keithalucas opened #4133 "[IMPROVEMENT] Reduce read and write calls in liblonghorn (tgt <-> engine)"
## Is your improvement request related to a feature? Please describe

https://github.com/longhorn/longhorn/issues/4122 improves the reading and writing of longhorn messages in the longhorn-engine.  This issue aims to do something similar with liblonghorn.

## Describe the solution you'd like

Each field of the header of a longhorn message is individually read from and written to the unix domain so

[2022-06-17 23:09] jemand771 opened #4134 "[BUG] No new instance manager deployed on the node after v1.3.0 update if there are disks evicted"
## Describe the bug

After upgrading longhorn manager from v1.2.4 to v1.3.0, I tried to upgrade the engine image on my volumes as described in https://longhorn.io/docs/1.3.0/deploy/upgrade/
Those updates got "stuck" with a new replica being created but not started.
I've also noticed some other weird™ behaviour around the longhorn ui, and to me, it looks like the reason is that I'm missing an insta

[2022-06-18 02:16] #3830 closed

[2022-06-18 03:03] innobead commented on #4134
cc @PhanLe1010 @c3y1huang

[2022-06-18 03:20] innobead commented on #4133
cc @derekbit @joshimoo @shuo-wu

[2022-06-18 15:16] jemand771 commented on #4134
minor additions that I either forgot or couldn't find when I opened the issue:
* I also get log messages like this one a lot. looks like they're printed for all volumes (I replaced spaces with newlines for easier reading)
[code]
* my full upgrade path from installing longhorn to now is v1.2.3 -> v1.2.4 -> v1.3.0 -> v1.2.4 -> v1.3.0 (and a couple more iterations back and forth between v1.2.4 and v1

[2022-06-18 17:47] yogdutt commented on #906
Did you get chance to test following scenario?
- What happens when node (where the iscsi volume is being exposed) gone down? My observation is the volume is degraded instead of migrating the pod (which provides the volume) to another node.

[2022-06-18 23:31] johnwc commented on #1309
We also need this for backing up to our cloud. Minio seems to [no longer support](https://blog.min.io/deprecation-of-the-minio-gateway/) gateway.

[2022-06-19 02:18] #3965 closed

[2022-06-19 13:00] AbubakrSamsodien commented on #1997
+1

[2022-06-19 16:49] johnwc commented on #3014
This is documented in the changelog as being a feature of v1.3.0 release, but I see it in my v1.2.4 install and not listed on the changelog for v1.2.4.

[2022-06-19 21:00] zamazan4ik opened #4135 "[DOC] Document supported hardware architectures"
Hi!

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is required - I do not know).

This kind of information is important for the end-users.

Thanks in advance!

[2022-06-20 01:12] derekbit opened #4136 "[IMPROVEMENT] Replace the GCC allocator in liblonghorn with a more efficient memory allocator"
## Is your improvement request related to a feature? Please describe

Replace the gcc allocator in liblonghorn with a more efficient memory allocator

## Describe the solution you'd like

The memory buffers are frequently allocated and freed in liblonghorn during sending and receiving requests. GCC's memory allocator is less efficient than other memory allocators such as [tcmalloc](https://github.

[2022-06-20 01:21] derekbit commented on #4135
You can find the supported hardware and os information in Longhorn official document.

https://longhorn.io/docs/1.3.0/what-is-longhorn/
https://longhorn.io/docs/1.3.0/best-practices/

[2022-06-20 02:30] rebeccazzzz opened #4137 "[IMPROVEMENT] Volume Core Operations: Attaching/detaching (kubelet <-> CSI)"

[2022-06-20 02:33] rebeccazzzz opened #4138 "[IMPROVEMENT] Volume Core Operations: Corresponding workload pods terminating (kubelet <-> CSI)"

[2022-06-20 02:34] rebeccazzzz opened #4139 "[TEST] Volume Core Operations: Long replica rebuilding time (engine <-> replica <-> replica)"

[2022-06-20 02:35] rebeccazzzz opened #4140 "[TEST] Volume Core Operations: Problematic volume operations when one replica"

[2022-06-20 02:36] rebeccazzzz opened #4141 "[TEST] Volume Availability & Resilience: Volume corruption, read-only volume (SPOF engine <-> replicas)"

[2022-06-20 02:37] rebeccazzzz opened #4142 "[TEST] Volume Data Service: Recurring job not working correctly (snapshot operations, replica rebuilding)"

[2022-06-20 02:37] derekbit opened #4143 "[BUG] Wrong nodeOrDiskEvicted collected in node monitor"
## Describe the bug

Wrong nodeOrDiskEvicted collected in node monitor.
https://github.com/longhorn/longhorn-manager/blob/master/controller/monitor/node_monitor.go#L135
The bug hinders the other tasks in the node monitor.

## To Reproduce

Steps to reproduce the behavior:
1. Add two disks in the longhorn node
2. Evict one of the disks
3. The log show
[code]

## Expected behavior

No the related er

[2022-06-20 02:37] rebeccazzzz opened #4144 "[IMPROVEMENT] Volume Data Service: Long backup/restore time (ex: large volume size)"

[2022-06-20 02:38] derekbit commented on #4134
Can you **delete the evicted disk** or **disable the eviction disk**?
Related bug: https://github.com/longhorn/longhorn/issues/4143

[2022-06-20 02:38] rebeccazzzz opened #4145 "[IMPROVEMENT] Volume Capabilities: Max volume size"

[2022-06-20 02:38] rebeccazzzz opened #4146 "[TEST] Volume Capabilities: Upper bound of snapshot/backup"

[2022-06-20 02:39] rebeccazzzz opened #4147 "[IMPROVEMENT] Volume Capabilities: How to impose the hard limit of volume actual size on disk including snapshots"

[2022-06-20 02:40] rebeccazzzz opened #4148 "[IMPROVEMENT] Resources Outage: Orphaned resources clean up (failed backup, unmanaged replicas)"

[2022-06-20 02:40] rebeccazzzz opened #4149 "[TEST] Resources Outage: Cascading effects caused by longhorn disks outage (failed snapshot operations)"

[2022-06-20 02:41] rebeccazzzz opened #4150 "[IMPROVEMENT] Infra: Uncertain volume operations when engine/replicas in different zones, about Longhorn components topology (latency between engine, replica, and replicas)"

[2022-06-20 02:41] rebeccazzzz opened #4151 "[IMPROVEMENT] Upstream Kubernetes: Kubernetes storage e2e coverage"

[2022-06-20 02:42] rebeccazzzz opened #4152 "[IMPROVEMENT] Upstream Kubernetes: CSI sanity"

[2022-06-20 02:42] innobead commented on #4143
cc @longhorn/qa @shuo-wu

[2022-06-20 02:43] shuo-wu commented on #4143
Will this lead to the instance manager missing after the upgrade?

[2022-06-20 02:49] derekbit commented on #4143
It hinders the instance-manager sync.
https://github.com/longhorn/longhorn/issues/4134

[2022-06-20 03:15] shuo-wu commented on #4143
Yes. This is probably the root cause.

[2022-06-20 03:25] innobead commented on #4143
Don't we have disk eviction cases? if not, we need to add. cc @longhorn/qa

[2022-06-20 03:26] derekbit commented on #4143
Add e2e tests for the case for instance-manager sync if some of disks are evicted.

[2022-06-20 03:27] innobead commented on #4143
@derekbit In addition, please also update the workaround for users' reference as well. Thanks.

[2022-06-20 03:29] derekbit commented on #4143
Workaround
https://github.com/longhorn/longhorn/issues/4143#issue-1276280630

[2022-06-20 03:29] shuo-wu commented on #4134
The below log is misleading:
[code]

It will be printed when the system containing volumes is upgraded to v1.3.0.

[2022-06-20 03:32] innobead commented on #4134
the log level is wrong, @shuo-wu could you help with that improvement? @c3y1huang is out this week.

[2022-06-20 03:32] shuo-wu commented on #4134
Sure. Will create a separate ticket to track it.

[2022-06-20 03:36] shuo-wu opened #4153 "[BUG] Misleading log "BUG: replica is running but storage IP is empty""
## Describe the bug

The below log is misleading:
[code]

It will be printed when the system containing volumes is upgraded to v1.3.0.

## To Reproduce

Steps to reproduce the behavior:
1. Deploy Longhorn v1.2.x
2. Create one volume
3. Upgrade Longhorn to v1.3.0
4. Check the longhorn manager pod logs and search the error message `BUG: replica is running but storage IP is empty`

## Expected behavi

[2022-06-20 05:09] rebeccazzzz opened #4154 "[FEATURE] S3/Object Gateway Support - Experimental"
## Is your feature request related to a problem? Please describe (👍 if you like this request)

Longhorn will support provisioning and managing s3 object gateways over longhorn volume to become an opinionated storage solution for having block/fs/object interface/protocol support.

## Describe the solution you'd like

Support vendor-neutral S3 backend integration based on COSI protocol, https://gith

[2022-06-20 05:19] derekbit opened #4155 "[BACKPORT][v1.3.1][BUG] [BUG] Wrong nodeOrDiskEvicted collected in node monitor"
## Describe the bug

https://github.com/longhorn/longhorn/issues/4143

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can gene

[2022-06-20 06:04] innobead commented on #4134
@derekbit assigned this to you and also marked this as duplicated, because you already fixed this in https://github.com/longhorn/longhorn/issues/4143, but please also update the status of this issue afterward. Thanks.

[2022-06-20 06:12] derekbit commented on #4134
The bug is fixed in v1.3.1 (https://github.com/longhorn/longhorn/issues/4155) and master-head branch (https://github.com/longhorn/longhorn/issues/4143).

Before the v1.3.1 release, the temporary two workarounds are

1. Delete the evicted disk from the Longhorn node resource
Navigate to UI > Node page. Click the Edit node and disks and then delete the evicted disks from the node.

2. Disable the ev

[2022-06-20 07:46] zamazan4ik commented on #4135
@derekbit Thank you a lot! Just a note from me. Maybe will be better to move/duplicate the information about supported architecture from "What is Longhorn" to "Best practices" page since "Best practices" page consists of different requirements to hardware/software. And an architecture fits good to this kind of information too.

[2022-06-20 07:57] innobead commented on #4135
@mantissahz Could you help with this update? Thanks.

[2022-06-20 08:28] shuo-wu opened #4156 "[BUG][BACKPORT][v1.3.x] Misleading log "BUG: replica is running but storage IP is empty""
## Describe the bug

https://github.com/longhorn/longhorn/issues/4153

[2022-06-20 09:37] derekbit opened #4157 "[QUESTION] Longhorn changes ctime of the files in volume after restart if SELinux is enabled"
## Question
### Discussed in https://github.com/longhorn/longhorn/discussions/4130
Hi,

I am facing an issue that ctime of the files in longhorn volume changes every time I start the pod.

stat command output:
[code]

Any hints?

Thanks.

## Environment

one node cluster created by RKE2 on Redhat 8.4
SELinux enabled
Longhorn is installed by default, the pvc is attached to /dev/longhorn/pvc-x--x-x-

[2022-06-20 09:39] derekbit commented on #4157
The issue is due to the SELinux and confirmed the discussion https://github.com/longhorn/longhorn/discussions/4130.
This ticket is to investigation if there is possible solution to the ctime change after pod restart.

[2022-06-20 10:10] innobead commented on #4133
@derekbit will help with this. cc @keithalucas

[2022-06-20 11:34] innobead opened #4158 "[DOC] Update the doc of volume size after introducing snapshot prune"
## What's the task? Please describe

We have https://longhorn.io/docs/1.3.0/volumes-and-nodes/volume-size/#space-configuration-suggestions-for-volumes, but the current formula does not include the required space of the volume head, and furthermore, it does not consider different use cases like below.

a volume
- with a recurring job + n snapshots
- without a recurring job + n snapshots
- w/o a rec

[2022-06-20 19:23] joshimoo commented on #4143
@longhorn/maintainer  for V1.4  if we have time we should continue with more of the controller/monitor refactoring, so we can add unit tests for them.

This issue would have been caught during dev by a unit test, since we would have been able to add a comprehensive set of disk/node conditions for the tests, with very little effort once we have the initial refactoring/setup done.

That set of tests

[2022-06-21 01:49] jemand771 commented on #4134
thanks for all the quick replies, just disabling eviction on the default disk did the trick :D
(no need to have eviction set anyway since the disk doesn't have scheduling disabled)
If you want to keep this issue open for tracking, feel free to do so - from my side this is resolved

[2022-06-21 03:08] innobead opened #4159 "[TASK] Automate issue management via issue status/attribution update"
## What's the task? Please describe

Automatically manage issues when some Github events happen as below tasks.

Now, we have a longhorn bot integration but would suggest leveraging Github action to achieve the goals below.
- https://github.com/longhorn/bot (you probably can still use the bot as a lib but the trigger point will be from Github action)
- https://docs.github.com/en/actions/managing-i

[2022-06-21 03:16] innobead commented on #4134
Thanks, @jemand771 . Let's track the fix in https://github.com/longhorn/longhorn/issues/4143 instead.

[2022-06-21 03:16] #4134 closed

[2022-06-21 03:24] innobead commented on #2394
Closing, let's follow up with https://github.com/longhorn/longhorn/issues/2293 instead.

[2022-06-21 03:24] #2394 closed

[2022-06-21 03:29] #4033 closed

[2022-06-21 03:42] derekbit opened #4160 "[BUG] longhorn-manager cannot start while upgrading if the configmap contains volume sensitive settings"
## Describe the bug

longhorn-manager cannot start while upgrading if the configmap contains volume sensitive settings

## To Reproduce

Steps to reproduce the behavior:
1. Fresh install v1.2.x with one of the settings
    - taint-toleration: ...
    - default-longhorn-static-storage-class: ...
    - system-managed-components-node-selector: ...
2. Create a volume and attach it to one node.
3. Upgr

[2022-06-21 04:27] cchien816 commented on #4153
Hi @shuo-wu ,

I tested with master-head, after upgrade LH from v1.2.4 to master-head, got log below
[code]
The content still present but log level changed from `error` to `debug`, reference to this [PR](https://github.com/longhorn/longhorn-manager/commit/801c85df00f0d7eebb3d9114b87a1ece4801ef73), I think this is correct behavior?

If it's OK I'll close thsi issue, thank you

[2022-06-21 04:32] shuo-wu commented on #4153
This message is the correct one. I can close this now.

[2022-06-21 04:35] chillwinston opened #4161 "[BUG] Suspected bug: Longhorn + Lucene - Lucene can't delete segment copies"
## Describe the bug

Jackrabbit Oak re-indexing failing due to an inability to delete Longhorn mounted Lucene index (data).  Does Longhorn prevent file deletions ?  We've moved Elastic off Longhorn due to similar log errors related to file locks.  I believe we're using an iSCSI target for longhorn clients.

java.io.IOException: Unable to delete file: /opt/aem/crx-quickstart/repository/index/custom

[2022-06-21 04:35] #4153 closed

[2022-06-21 04:36] innobead commented on #4153
@cchien816 We need to verify on 1.3.x as well. Please create a backport issue for that. Thanks.

[2022-06-21 04:42] shuo-wu commented on #4153
@innobead The backported issue ticket is already there: https://github.com/longhorn/longhorn/issues/4156

[2022-06-21 04:43] #4135 closed

[2022-06-21 04:44] innobead commented on #4135
The doc updated.

[2022-06-21 05:08] cchien816 commented on #4156
**Verified on v1.3.x-head
Result Pass**
[Steps](https://github.com/longhorn/longhorn/issues/4153#issue-1276314288)

After upgrade LH from v1.2.4 to v1.3.x-head, can get correct level log(debug) in longhorn-manager pod as below shown
[code]

[2022-06-21 05:08] #4156 closed

[2022-06-21 05:09] derekbit commented on #4161
@chillwinston Can you check`dmesg` and check if the file/dir is hold or locked by other process?

[2022-06-21 05:20] chillwinston commented on #4161
This is a Jackrabbit Oak component within Adobe AEM.  No other processes
would know of the existence of the Lucene index file, and Adobe AEM is an
Enterprise product that is unlikely to have such an issue.  Separately on
local copies of AEM (SSD) the issue doesn't occur.  I'll check once the
issue re-occurs, however the likelihood is that it isn't another process.

On Tue, 21 Jun 2022 at 15:09, De

[2022-06-21 06:00] chillwinston commented on #4161
Some insight into the conditions under which Longhorn would prevent a file
from being deleted would be welcomed.  It seems very odd given Linux's
default non-locking style that Longhorn would by default lock files or
prevent file deletion.  I'm assuming a large test suite of common
filesystem use-cases have been used to test Longhorn ?

On Tue, 21 Jun 2022 at 15:19, Starlight Rising <
***@***.***>

[2022-06-21 06:56] derekbit commented on #4161
Did you access the volume via NFS, right? If yes, I mean the .nfs000… is usually renamed from another file after the deletion for a nfs folder. In the case, the file cannot be deleted by another process. So, you can check if the file is really locked by fuser utility.

Longhorn provides the block storage, formats the file system and mounts it. It does not handle the file system stuff.

[2022-06-21 08:18] #4082 closed

[2022-06-21 08:18] innobead commented on #4082
cc @longhorn/qa

[2022-06-21 08:43] jwenjian commented on #4157
Additional info, found a lot of audit message in `/var/log/messages`:

[code]

[2022-06-21 10:24] derekbit commented on #4108
Still under investigation.
The deletion is not granted because of the PDB. Can you check the kubelet log to see if there is any clue?

@shuo-wu Do you have idea how to drain the node?

[2022-06-21 11:04] derekbit opened #4162 "[BACKPORT][v1.3.1][BUG] longhorn-manager cannot start while upgrading if the configmap contains volume sensitive settings"
## Describe the bug

https://github.com/longhorn/longhorn/issues/4160

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can gene

[2022-06-21 11:04] derekbit opened #4163 "[BACKPORT][v1.2.5][BUG] longhorn-manager cannot start while upgrading if the configmap contains volume sensitive settings"
## Describe the bug

https://github.com/longhorn/longhorn/issues/4160

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can gene

[2022-06-21 11:32] impsik commented on #4108
From the docs i found that i need to use `--pod-selector='app!=csi-attacher,app!=csi-provisioner'`
However pod-selector is not supported by `kubernetes.core.k8s_drain` module [LINK](https://github.com/ansible-collections/kubernetes.core/issues/454)
I added to my playbook:
[code]
Also commented `kubernetes.core.k8s_drain:` part. Seems to work fine

[2022-06-21 13:23] derekbit commented on #4108
Ref: https://longhorn.io/docs/1.3.0/volumes-and-nodes/maintenance/#updating-the-node-os-or-container-runtime

[2022-06-21 16:35] derekbit commented on #4157
@jwenjian
I cannot reproduce the issue in my env with selinux enforced mode.
Could you provide the steps or manifests?

[2022-06-22 00:28] jwenjian commented on #4157
- RedHat 8.4 with selinux enabled (enforcing)
- Longhorn(1.2.3) installed with default configuration, volume data is located in /var/lib/longhorn
- RKE2 single node cluster
- A workload (Deployment) with pod container's securityContext.previleged = true
  - This workload also have a host path volume mount local timezone file into the container
  - This workload also have a init container which mou

[2022-06-22 02:34] yangchiu commented on #4143
verified passed on master-head (longhorn-manager:ddf1b8d)

**Scenario I : fresh install master-head**
1. Install longhorn master-head
2. Create a statefulset with volumes to let every node have multiple replicas
3. Add a new disk to a node
4. For the node has 2 disks, set `Scheduling = False, Eviction Requested = True` for the old disk, and `Scheduling = True, Eviction Requested = False` for the n

[2022-06-22 02:34] #4143 closed

[2022-06-22 02:38] yangchiu commented on #4155
verified passed on v1.3.x-head (longhorn-manager:90b5004)

**Scenario I : fresh install v1.3.x-head**
1. Install longhorn v1.3.x-head
2. Create a statefulset with volumes to let every node have multiple replicas
3. Add a new disk to a node
4. For the node has 2 disks, set `Scheduling = False, Eviction Requested = True` for the old disk, and `Scheduling = True, Eviction Requested = False` for the n

[2022-06-22 02:38] #4155 closed

[2022-06-22 02:47] shuo-wu commented on #3894
Close this since the doc update is already tracked in https://github.com/longhorn/longhorn/issues/4158

[2022-06-22 02:47] #3894 closed

[2022-06-22 03:03] cchien816 commented on #4120
**Verified in master-head `ddf1b8`
Result Pass**

Follow test [steps](https://github.com/longhorn/longhorn/issues/4120#issue-1272318365), after scale up/down replica count from 5 to 3, observe longhorn-manager log, log does not contain error message about unknown replica event.

[2022-06-22 03:03] #4120 closed

[2022-06-22 03:31] derekbit commented on #4157
@jwenjian
Thanks for your information. I'm still unable to reproduce it. But, this looks related to the  application pod's securityContext or SELinux stuff rather than the settings of Longhorn.

My current thought is that if something wrong with the SELinux context or SELinux context  is missing while starting the application pod, so recursive SELinux relabeling is triggered.

[2022-06-22 06:23] yangchiu commented on #3911
verified passed on v1.2.x-head (longhorn-engine:232d53c)

following [the test steps](https://github.com/longhorn/longhorn/issues/3883#issuecomment-1105938840) and [the steps for snapshot purge](https://github.com/longhorn/longhorn-tests/blob/master/docs/content/manual/release-specific/v1.3.0/test-snapshot-purge-retry.md), the bug mentioned in the original issue cannot be reproduced.

[2022-06-22 06:23] #3911 closed

[2022-06-22 09:04] FrankYang0529 opened #4165 "[FEATURE] Restore BackingImage for BackupVolume in a new cluster"
## Is your feature request related to a problem? Please describe

A normal `Backup` for `Volume` can be restored in another cluster. However, a `Volume` based on a `BackingImage` **_can't_** be restored because we don't help users backup `BackingImage` in the backup target.

## Describe the solution you'd like

Store `BackingImage` to the backup target if a `BackupVolume` is based on it. Restore `

[2022-06-22 09:37] suikast42 opened #4166 "Explore Longhorn volume"
Is there a tool for exploring the lonhorn volumes with ls or something like that?

I see there is a img file in my volume directory butr don't now how to explore it

[2022-06-22 09:46] derekbit commented on #4166
You can access the files in the volume via the application pod.
[code]

[2022-06-22 09:47] #4166 closed, assigned to nobody

[2022-06-22 13:37] Dubouchj commented on #2988
@PhanLe1010  Is there a way to fix the problem?
I also have 249 (empty) snapshots on a volume and the replicas doesn't work. The PVC is degraded.

[2022-06-22 16:38] ohthehugemanatee commented on #3999
+1 here, having the same problem. I also have a small cluster, 6 nodes with non-master nodes running longhorn. Used the helm chart to install.  Hosting volumes for 2 sqlite3 databases, mariadb, prometheus, and loki. I noticed the issue because one of the sqlite-based services stopped working. Turned out that two of my nodes were listed as unavailable under high CPU load with longhorn processes peg

[2022-06-22 18:12] PhanLe1010 commented on #3714
How about a KB article since this tutorial applies to many versions (e.g., all 1.2.x and 1.3.0) ?

[2022-06-22 23:05] PhanLe1010 commented on #2988
@Dubouchj

Can you try to use Longhorn UI to delete snapshots?

[2022-06-23 00:56] innobead commented on #2188
Closing first, because the doc has been updated.

[2022-06-23 00:56] #2188 closed

[2022-06-23 01:00] innobead commented on #3188
We have https://longhorn.io/docs/1.3.0/advanced-resources/cluster-restore/restore-to-a-new-cluster-using-velero/ already. @shuo-wu do we still need this?

[2022-06-23 01:00] #3188 closed, assigned to nobody

[2022-06-23 01:01] innobead commented on #4100
@DamiaSan are you working on this? any update.

[2022-06-23 01:40] derekbit opened #4169 "[BACKPORT][v1.3.1][IMPROVEMENT] Reduce syscalls while reading and writing requests in longhorn-engine"
## Is your improvement request related to a feature? Please describe

https://github.com/longhorn/longhorn/issues/4122

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context

[2022-06-23 02:16] DamiaSan commented on #4100
Hi David,
sorry for the late I come back to you but last 2 weeks I have studied spdk code to understand how to make the task Keith assigned to me.
Just today I asked him on Slack some questions to confirm my last doubts, now I have a clear idea of the work to do.
Tomorrow I will start writing some notes about steps of the development and drowning a simple diagram of the code architecture; I will s

[2022-06-23 02:22] derekbit opened #4170 "[BACKPORT][v1.2.5][IMPROVEMENT] Reduce syscalls while reading and writing requests in longhorn-engine"
## Is your improvement request related to a feature? Please describe

https://github.com/longhorn/longhorn/issues/4122

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context

[2022-06-23 02:57] shuo-wu commented on #4158
Test is not required for the doc update ticket

[2022-06-23 02:57] #4158 closed

[2022-06-23 06:43] cchien816 commented on #4160
**Verified on longhorn master head `1e8dd33`
Result Pass
Test [step](https://github.com/longhorn/longhorn/issues/4160#issue-1277807172)**

1. Can reproduce on v1.3.0
2. Longhorn can successfully upgrade from v1.2.x to master-head when `taint-toleration` was in `longhorn-default-setting`, no CrashLookbackOff observed from longhorn-manager

[2022-06-23 06:43] #4160 closed

[2022-06-23 07:03] cchien816 commented on #4162
**Verified on longhorn v1.3.x head `90b5004`
Result Pass
Test [step](https://github.com/longhorn/longhorn/issues/4160#issue-1277807172)**

1. Can reproduce on v1.3.0
2. Longhorn can successfully upgrade from v1.2.x to v1.3.x head when taint-toleration was in longhorn-default-setting, no CrashLookbackOff observed from longhorn-manager

[2022-06-23 07:03] #4162 closed

[2022-06-23 07:42] Dubouchj commented on #2988
@PhanLe1010 The snapshot was hidden and by "_showing system hidden_"  I was able to delete snapshots.
Thanks a lot!

[2022-06-23 19:24] Forestsoft-de opened #4171 "[IMPROVEMENT] share manager should respect kubernetesClusterAutoscalerEnabled also"
## Is your improvement request related to a feature? Please describe
Well, I waited a long time for this #2203 feature. Thanks for that.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
After i updated to the latest version i get a new error message from cluster autoscaler:
node cannot be removed: longhorn-system/share-manager-pvc-61760353-2a01-.... is

[2022-06-24 00:40] yangchiu opened #4172 "[DOC] Airgap installation documentation outdated"
## What's the task? Please describe

In https://longhorn.io/docs/1.3.0/advanced-resources/deploy/airgap/#using-a-helm-chart, the example code for `chart/values.yaml` still shows:
[code]
But this default setting for registry secret has been removed in https://github.com/longhorn/longhorn/commit/b79b914967a84d66c5bb141e8056cd638d52ace2 and doesn't needed anymore.

Also, we have a new value:
[code]
t

[2022-06-24 01:11] yangchiu opened #4173 "[BUG] Airgap installed Longhorn Helm chart get ErrImagePull errors during regression test"
## Describe the bug

Airgap installed Longhorn Helm chart get ErrImagePull errors during regression test.

## To Reproduce

Steps to reproduce the behavior:

Follow [Air Gap Installation -  Using a Helm Chart](https://longhorn.io/docs/1.3.0/advanced-resources/deploy/airgap/#use-default-image-name) to install Longhorn Helm chart:
1. Clone the Longhorn repo:
`git clone https://github.com/longhorn/lo

[2022-06-24 01:22] derekbit commented on #4171
For now, the annotation of the share-manager is not set, but it is feasible. But, the potential issue is the service interruption because the share-manager contains the nfs server.

[2022-06-24 01:23] derekbit commented on #4171
cc @c3y1huang @innobead

[2022-06-24 01:53] derekbit opened #4174 "[Doc] Update the outdated "Customizing Default Settings" document"
## What's the task? Please describe

 "Customizing Default Settings" document is outdated. The task is updating the document.

https://longhorn.io/docs/1.3.0/advanced-resources/deploy/customizing-default-settings/

[2022-06-24 01:58] derekbit opened #4175 "[DOC] Update Helm readme and document"
## Is your improvement request related to a feature? Please describe

Update
- Helm chart readme
- Helm document for install and upgrade

## Reference
https://longhorn.io/docs/1.3.0/deploy/install/install-with-helm/
https://cloud-native.slack.com/archives/CNVPEL9U3/p1655831028570819

[2022-06-24 04:14] yl-yue commented on #3888
It is indeed a headache. In the case of big data, it is easy to cause the environment to fail

I am trying to see if the XFS file system can reuse blocks(`df` the actual size seen)

[2022-06-24 04:41] innobead commented on #3888
ref: #836 cc @shuo-wu

[2022-06-24 06:02] innobead opened #4176 "[TASK] Replace jobq lib with an alternative way for listing remote backup volumes and info"
## What's the task? Please describe

For now, we are using `github.com/honestbee/jobq` for queries backup volumes & each backup info, but that lib lacks an OSS license. So, we need to look for an alternative solution.

## Describe the items of the task (DoD, definition of done) you'd like

Use https://github.com/gammazero/workerpool or similar.

## Additional context

N/A

[2022-06-24 07:22] innobead commented on #4069
Right now, I believe we don't differentiate well what logs should be in which log level but rather mostly at debug level.

So the first thing we should do is to improve the right differentiation, then expose the configuration of the log level.

[2022-06-24 10:22] innobead commented on #4174
cc @longhorn/qa merged.

[2022-06-24 10:22] #4174 closed

[2022-06-24 13:31] Forestsoft-de commented on #4171
Yeah i get the point but if I configure the cluster autoscaler explicit i should be aware of potential service interruption. :)

[2022-06-25 17:32] iosifnicolae2 commented on #836
Here is how we shrink'ed a disk manually: https://github.com/longhorn/longhorn/discussions/4178.

[2022-06-25 17:44] voarsh2 commented on #2293
Could making the share-manager run thru a headless service or ClusterIP, with replica's? K8 design is to have more than one instance running and share-manager is not using replica's.....

[2022-06-25 21:19] craigcabrey opened #4179 "[BUG] Backup UI blank when backups do exist"
## Describe the bug

Backups don't show up in the UI when navigating via the main navigation. Backups do show up when navigating via individual volumes. Backup target is an NFS share. I can confirm that backup data exists.

## To Reproduce

Steps to reproduce the behavior:
1. Go to backups
2. See blank view

## Expected behavior

Existing backups are enumerated

## Log or Support bundle

[longhorn

[2022-06-26 07:41] korenlev commented on #836
Scale all deployments using the volumes to 0

In production ??

Let's continue trying to get a production solution

On Sat, Jun 25, 2022, 20:32 Iosif Nicolae ***@***.***> wrote:

[2022-06-26 08:15] VladoPortos opened #4180 "Adding faster storage class: specified node tag sdd does not exist"
## Question
Hi all,
I'm not sure what I'm missing. I have added 1x SSD to 3 of my nodes. Then added them in the UI to longhorn, they are visible and shedulable. I have tagged the disk with "ssd" in UI, I have tagged the nodes in the UI where the disks were added with tag "ssd" (Other nodes do not have tags, and the 3 nodes have only tah ssd).

Added new storage class:

[code]

Makes sense so far,

[2022-06-26 16:02] voarsh2 commented on #3198
In this case my system will not expose smart data - smartctl can't pickup my disks in the raid controller, the HP Smart Array P420i Controller itself checks the disks though but the hypervisor won't. And since I am running on VM's with virtual disks, it would make smart data for data integrity pointless in my case.

[2022-06-26 23:24] davidfordaus commented on #4161
Yes, the volume was accessed via NFS, however there are two possible causes of the bug:
1) Longhorn is inexplicably preventing files from being deleted possibly due to it preventing some blocks from being updated
2) NFS has an internal bug (regardless of the underlying block device; normal local disk or Longhorn) in which files/ folders are being prevented from deletion

I somehow doubt that there

[2022-06-27 02:51] voarsh2 opened #4181 "[BUG] (unknown cause) Volume thinks it is expanding (e.g. 20gb to 10gb)"
## Describe the bug
I updated my RKE cluster config and many of my volumes were being rebuilt.
Some volumes were corrupted and needed restoring.

One volume (I've seen this a few times) thinks it is in expanding state:

![image](https://user-images.githubusercontent.com/60437695/175850886-39f9ef61-061a-4ec1-9fe0-6372636c8433.png)

## To Reproduce

Steps to reproduce the behavior:

## Expected beha

[2022-06-27 04:21] yl-yue commented on #836
Hi, maybe we can escalate the priority of this issue, it will no longer be an enhancement feature, but a **level 1 bug**, as it has caused serious production incidents in our production environment.

The explanation is as follows:

When the actual size of the volume exceeds the nominal size, longhorn will consider the disk space of this node to be unschedulable, which will cause all `pvc` mounted

[2022-06-27 08:29] innobead opened #4182 "[TASK] Verify spinning disk/HDD via the current e2e regression"
## What's the task? Please describe

We have improved the performance of the spinning disk in 1.2.0 (https://github.com/longhorn/longhorn/issues/2206), but we haven't added spinning disks as longhorn disks as part of our existing e2e regression to see if there will be some outstanding issues.

To certificate/claim if Longhorn is able to support spinning disks, we need to improve our testing.

## D

[2022-06-27 08:40] chickeaterbanana commented on #3198
You could add a option to enable/disable the hash check. I would also recommend to make the hash configurable. Some CPUs have special hardware support for hash algorithms:
https://en.wikipedia.org/wiki/Intel_SHA_extensions

For us data reliability has equal priority to performance. If we had to accept performance decrease, but afterwards we can be sure to have reliable data, we would accept the pe

[2022-06-27 08:43] shuo-wu opened #4183 "[IMPROVEMENT] Purging a volume before rebuilding starts"
## Is your improvement request related to a feature? Please describe

If we can do snapshot purge before rebuilding, we would eliminate 1x space used by the system snapshots for the case we mentioned in https://longhorn.io/docs/1.3.0/volumes-and-nodes/volume-size/#space-configuration-suggestions-for-volumes

## Describe the solution you'd like

Before creating the system snapshot for the rebuildin

[2022-06-27 14:09] VladoPortos commented on #4180
ooookey, never mind... typo in storage class  nodeSelector: "sdd" ->  nodeSelector: "ssd" amd all is green again. Thanks Glenn Marcy from slack longhorn community.

[2022-06-27 14:09] #4180 closed

[2022-06-27 17:24] voarsh2 commented on #4181
This has happened to two volumes when I opened this issue. The size gets updated in LH somehow... but the PVC/PV show "10 GB) in size... and when I delete and restore the volume the new size is 20GB.

[2022-06-27 18:05] yasker commented on #3198
Maybe we can utilize `dm-integrity` for this.

[2022-06-28 03:07] PhanLe1010 commented on #2947
Test steps:

1. Deploy a statefulset of cale 1 that use PVC provisioned by Longhorn.
2. Set `Pod Deletion Policy When Node is Down` setting to `delete-both-statefulset-and-deployment-pod`
3. Find and turn off the node where the pod is running on.
4. I should takes less than 8 mins the pod to recover.
5. Repeat the above steps with deployment instead of statefuleset.

### Before the fix

| Event |

[2022-06-28 04:06] shuo-wu commented on #836
Thank you for @keithalucas's investigation and reporting. In brief, users should take their own risk of the data from the trimmed part being read if someone has access to the raw block device of the filesystem, right?

[2022-06-28 04:14] shuo-wu commented on #836
I am suspecting the exceeded data on the cluster nodes triggers the **Kubernetes node disk pressure** issue. Then the Kubernetes node becomes unscheduable.
Right now there is no way for Longhorn to prevent the volume from continuing consuming space even if the rest free disk space is limited. By default, Longhorn enables volume over-provisioning. It's possible to trigger the disk pressure issue/Ku

[2022-06-28 04:30] derekbit commented on #4179
There are lots of `apiserver not ready` and `list`/`watch` errors `in your longhorn-managers Could you check if your kubernetes system works well first?

[2022-06-28 06:19] m3nax commented on #1674
Like sql databases.

Any update?

[2022-06-28 08:00] iosifnicolae2 commented on #1674
@m3nax you can deploy a HA database with two pods( 1 master, 1 slave) using [Crunchy Operator](https://github.com/CrunchyData/postgres-operator) for PostgreSQL.
When the master pod is down, the slave pod will be promoted automatically.

[2022-06-28 08:38] shuo-wu commented on #1549
@jonmahoney15 It seems that the pod timeouts talking with the API server. Can you check if the API server works fine?

[2022-06-28 11:51] lynx-coding commented on #3793
Any ideas about fixing this or at least a work around?

[2022-06-28 13:34] iosifnicolae2 opened #4185 "[IMPROVEMENT] Schedule volumes based on available disk space"
## Is your improvement request related to a feature? Please describe

Today is the second time when the production was down because we did not have enough disk space for volumes.
When we've tried to move replicas between disks, the replica is not moved on a disk with the maximum available space..

## Describe the solution you'd like

Longhorn should take into consideration the available disk space

[2022-06-28 14:52] gp187 commented on #3896
No, it's not. It's insanely slow on SSD as well. I just benchmarked.

[2022-06-28 18:21] voarsh2 commented on #3896
This pretty much sums up my issue here, getting some strange results when I run tests on host disk and the LVM for Longhorn (which is also on the same physical disk): https://github.com/longhorn/longhorn/discussions/4186

[2022-06-29 03:46] shuo-wu commented on #4185
When scheduling a new replica or reusing a failed replica, Longhorn needs to consider the current available space of the disks.
For the failed replica reusage, there is another ticket tracking it: https://github.com/longhorn/longhorn/issues/3921

[2022-06-29 07:49] c3y1huang commented on #4152
Note: expecting some tests to fail due to the decision made not to auto-attach volume for CSI snapshot. Ref https://github.com/longhorn/longhorn/issues/2271#issuecomment-1062583631.

[2022-06-29 13:26] kclejeune opened #4187 "[BUG] Cannot create mount directory on NFS backup server if directory already exists"
## Describe the bug

I'm running several scheduled backups against an NFS server. These backups appear to be working and they show up correctly in the backups tab, but a toast pops up with an error:
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Make a backup
2. Click on the backups tab
3. See error

## Expected behavior

The same thing but...without the error?

## Log or Support bun

[2022-06-29 19:09] diamonwiggins opened #4188 "[BUG] GET error for volume attachment on node reboot"
## Describe the bug

After a reboot of a node in a 4 node cluster a user is seeing the following:

[code]

To recover, the user had to create the volumeattachment object manually for the Pod to mount its storage again

## To Reproduce

I have not been able to reproduce this yet unfortunately

## Expected behavior

A pod can successfully mount its storage despite a node reboot in the cluster

## Lo

[2022-06-29 22:29] luca-heitmann opened #4189 "[TASK] Update CSI sidecar versions"
## What's the task? Please describe

Update the CSI sidecar images to their latest versions:

https://github.com/longhorn/longhorn/blob/fe5565dbcf30d26232a4ce9dfff43cc3fc7460e5/chart/values.yaml#L31-L43

## Describe the items of the task (DoD, definition of done) you'd like

- [ ] [attacher](https://github.com/kubernetes-csi/external-attacher/releases) (v3.4.0 -> v3.5.0)
- [ ] [provisioner](https:

[2022-06-30 02:17] #4001 closed

[2022-06-30 02:17] #3952 closed

[2022-06-30 07:20] rajeevpnair opened #4190 "[QUESTION] unable to create snapshots/backups using CSI"
## Question

## Environment

 - Longhorn version: 1.30
 - Kubernetes version: 1.22
 - Node config
   - OS type and version: redhat 8.4
   - CPU per node: 4
   - Memory per node: 8Gb
   - Disk type ext4
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): Baremetal

## Additional context

Unable to create CSI snapshots

[2022-06-30 11:38] c3y1huang opened #4191 "[BUG] SLES15_SP3 is now 15.3 in opensuse devel:tools:scm"
## Describe the bug

Longhorn engine fails to build because the repo no longer exists [here](https://github.com/longhorn/longhorn-engine/blob/master/Dockerfile.dapper#L19). Should be the same for other components.

The [repo](https://download.opensuse.org/repositories/devel:/tools:/scm/) now has 15.3 instead of SLES15_SP3.
![Screenshot-2022-06-30-19:40:49](https://user-images.githubusercontent.com

[2022-06-30 11:42] c3y1huang commented on #4191
cc @shuo-wu @innobead

[2022-06-30 12:01] vasyakrg opened #4192 "[BUG] spec and status of disks on node are being syncing after delete node from cluster"
## Describe the bug

After delete node of cluster longhorn don't delete node from config

## To Reproduce

Steps to reproduce the behavior:
delete node manually except error:

error: admission webhook "validator.longhorn.io" denied the request: spec and status of disks on node <nodename> are being syncing and please retry later.

all another resource with its node deleted.

from node status:
  con

[2022-06-30 12:13] derekbit commented on #4192
It hits an issue we found in v1.3.0.
Before the upcoming release of v1.3.1 which will include the fix, you can use the workaround case 2 to fix it temporarily.
https://github.com/longhorn/longhorn/issues/4143

[2022-06-30 12:48] vasyakrg commented on #4192
many thanks, issue done.

[2022-06-30 12:48] #4192 closed

[2022-06-30 12:55] mantissahz commented on #4190
@rajeevpnair Could you please provide the support bundle?
You could find the latest documents at [https://longhorn.io/docs/1.3.0/](https://longhorn.io/docs/1.3.0/).

[2022-06-30 13:50] rajeevpnair commented on #4190
@mantissahz Please find the attached bundle , I am referring  the latest documentation of longhorn,

Longhorn version: 1.3.0
Installation method: helm
Number of management node in the cluster: 1
Number of worker node in the cluster: 1
Node config
OS type and version: Red Hat Enterprise Linux Server 8.4
CPU per node: 4
Memory per node: 8GB
Disk type(e.g. SSD/NVMe): (Unsure, but can gather this info

[2022-06-30 16:58] FireBall1725 opened #4193 "[BUG] Node exists in longhorn and shows as healthy even when offline"
## Describe the bug

I was having issues with one of my nodes, so I took it offline and ended up replacing it, however the node still shows as healthy in longhorn, and i'm not able to delete it.

![image](https://user-images.githubusercontent.com/727458/176734364-adf1b748-a77c-44d4-a439-5fc72a473fdf.png)

## To Reproduce

Steps to reproduce the behavior:

1. Drain + Delete kubernetes node
2. Go to

[2022-06-30 16:59] FireBall1725 commented on #4193
[longhorn-support-bundle_be1b73df-873b-494c-9d3f-5938c2c3d447_2022-06-30T16-59-13Z.zip](https://github.com/longhorn/longhorn/files/9021873/longhorn-support-bundle_be1b73df-873b-494c-9d3f-5938c2c3d447_2022-06-30T16-59-13Z.zip)

[2022-06-30 17:15] FireBall1725 commented on #4193
also, if i try to disable scheduling in the UI i get this error:
![image](https://user-images.githubusercontent.com/727458/176738023-4b484768-5b0e-4016-9b49-04aa61c9e2a3.png)

[2022-06-30 17:19] derekbit commented on #4193
It hits an issue we found in v1.3.0.
Before the upcoming release of v1.3.1 which will include the fix, you can use the workaround case 2 to fix it temporarily.
https://github.com/longhorn/longhorn/issues/4143

[2022-06-30 23:17] FireBall1725 commented on #4193
@derekbit thanks for the link, that fixed the original issue, once i applied the change and went to disable the node it disappeared saying it didn't exist anymore. Everything was able to recover from there.

Thanks!

[2022-06-30 23:17] #4193 closed

[2022-07-01 00:11] chillwinston commented on #4161
Greetings - as mentioned, this is still critical for us to understand why this process is failing under Longhorn, as otherwise we will be forced to choose an alternative technology to Longhorn.  We already have Rancher, so would prefer to stay within that technology stack, though if we can't trust Longhorn then we will be forced to move.   We may also be fine with purchasing support to resolve thi

[2022-07-01 01:06] c3y1huang commented on #4191
I've reached out to one of the maintainers, Dirk Mueller, and I believe this is an intended change.
[code]

[2022-07-01 01:30] derekbit commented on #4161
No, as I mentioned, Longhorn won't prevent the updates or deletion of blocks or files.

One exception is that if the connection between the engine and the replicas is not stable, the filesystem will be remounted to read-only filesystem. In the case, you can check if you can write or delete files in the filesystem. It rarely happen, but you can check this first.

Additionally, two things you need t

[2022-07-01 03:56] mantissahz commented on #4190
Hi @rajeevpnair Would you provide the longhorn support bundle as well? You could generate it from longhorn UI. Thanks.

[2022-07-01 04:08] yangchiu commented on #4122
longhorn-engine master is at [Reduce write and read calls while processing requests](https://github.com/longhorn/longhorn-engine/commit/4abd8ae965c0243e3a7fbf6591c77ca17ba3f406) (commit id: 4abd8ae)

**replica = 1**

  |   | IOPS |   | Bandwidth (KiB/s) |   | Latency (ns) |  
-- | -- | -- | -- | -- | -- | -- | --
  |   | read | write | read | write | read | write
v1.3.0 (replica = 1) | rand | 19,9

[2022-07-01 04:28] chillwinston commented on #4161
Thanks for the response.  A key question revolves around the "connection between engine and replica's is not stable" - we're using Azure standard networking on a single Azure subnet; beyond that is the local Linux firewalls.  It theory both of these are stable, however it's possible they're not.  We'll check - thanks for that update.
Though it does raise a question of how Longhorn determines the "

[2022-07-01 04:34] derekbit commented on #4122
Weird. Cannot imagine the huge change between the two versions.

[2022-07-01 04:44] derekbit commented on #4161
Usually, the the unstable connection can be handled by Longhorn. Longhorn marks the replica ERR and rebuilds it on another node. But in a very few situation, the filesystem is remounted to read-only mode, and Longhorn cannot handle this case currently. We still try to find a way to reproduce it and to investigate it.

[2022-07-01 05:00] rajeevpnair commented on #4190
@mantissahz  please find the attachment
[longhorn-support-bundle_efe841ad-6f7e-41d7-ae98-2157347894ff_2022-07-01T04-58-50Z.zip](https://github.com/longhorn/longhorn/files/9025191/longhorn-support-bundle_efe841ad-6f7e-41d7-ae98-2157347894ff_2022-07-01T04-58-50Z.zip)

[2022-07-01 07:11] mantissahz commented on #4190
I found this message `"Error creating backup: mkdir /var/lib/longhorn-backupstore-mounts/192_168_168_82/tmp/nfs_shares/backupstore: permission denied"` in the support bundle.
Could you help me check about the NFS server configuration? Ref: [nfs kb](https://longhorn.io/kb/troubleshooting-unable-to-mount-an-nfs-backup-target/)
or could you kubectl exec into the instance-manager pod to mount the remo

[2022-07-01 07:59] rajeevpnair commented on #4190
thanks much @mantissahz, somehow the nfs filesharing was not allowing anybody to write in the folder even after with 777 permission, I created a new nfs file share and its started taking backups and snapshots... thanks again for your help :)

[2022-07-01 08:01] rajeevpnair commented on #4190
@mantissahz did you find this log in the snapshot controller logs ?

[2022-07-01 08:04] mantissahz commented on #4190
I found it in the longhorn support bundle, in the instance-manager log file.

[2022-07-01 09:08] sarce666 opened #4194 "[QUESTION] storageclasses.storage.k8s.io "longhorn-static" not found"
hello
longhorn version : 1.2.4

i m create pvc with web interface and attached the volume to a node
i can see that the storageclass is longhorn-static

mattermost       data-db-523050-mysql-0        Bound    pvc-63002a2f-fb47-4639-88cd-a0cffac3b3b2   50Gi       RWO            longhorn-static   52d

but

NAME                 PROVISIONER          RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANS

[2022-07-01 10:06] yangchiu commented on #4122
Yes, c5d.2xlarge has a 200GB NVMe device

Get reasonable results after rerun the tests on Equinix c3.small.x86 instances (3 nodes cluster, kbench test size = 30G)

_For replica count < cluster size, extra nodes should be cordoned to let the volume and replicas fixed on the same node so we can got the reasonable results, which is missed in the current longhorn-benchmark-test, another ticket would b

[2022-07-01 10:06] #4122 closed

[2022-07-01 11:02] vojtechmares commented on #3834
Sorry for the really late reply.

Indeed, the issue was with base64 encoding of the credentials.

[2022-07-01 11:02] #3834 closed

[2022-07-01 11:13] mantissahz commented on #4194
I think that is the normal setting of longhorn.
Did you try to do backups then failed?

[2022-07-01 11:50] voarsh2 opened #4195 "[BUG] Volume mount hangs, workload times out, high system load"
## Describe the bug

I have a specific, small volume for PHP sessions that seems to get stuck on the host. Read/write to it hangs and Kubelet and PLEG start playing up

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

## Log or Support bundle

I started seeing these logs printed on the host:

[code]

I also saw this from the pod on the node with a stuck volume:
[code]

Syst

[2022-07-01 13:03] sarce666 commented on #4194
yes it fails because this storageclass does not exist in kubernetes , it must be a label ?

[2022-07-01 16:22] #4190 closed

[2022-07-01 16:25] joshimoo commented on #4194
`longhorn-static` is a fake storage class used for preprovisioned PVC (static provisioning)
You want to use the dynamic provisioning via for example the default `longhorn` storage class.
You can just create a PVC directly referencing the `longhorn` storage class and it will be dynamically provisioned for you.

REF: https://longhorn.io/docs/1.3.0/volumes-and-nodes/create-volumes/#creating-longhorn-

[2022-07-02 00:51] PhanLe1010 opened #4197 "[BUG] Replica stuck in buggy state with status.currentState is error and the spec.desireState is running"
## Describe the bug

A Longhorn volume has replica count 1. The volume is trying to attach however, the replica has `status.currentState is error` and the `spec.desireState is running`. This prevent the Longhorn manager pod to start the replica: [code](https://github.com/longhorn/longhorn-manager/blob/79ce2cfde922a7e0966059f72b8aee5f05bff513/controller/instance_handler.go#L249-L267). Also, the eng

[2022-07-03 16:54] untcha opened #4199 "[BUG] Listing Backups in "Backup" tab fails"
## Describe the bug

When I click on "Backup" in the Longhorn dashboard. A toast shows up with the following error message:
[code]
Backups are successfully stored on the NAS in that nfs volume 'Longhorn' and folder 'backupstore'. But do not show up in the Longhorn dashboard.

## To Reproduce

Steps to reproduce the behavior:
1. Go to 'Settings'
2. Scroll down to 'Backup Target'
3. Insert the backu

[2022-07-04 01:38] yangchiu opened #4200 "[TEST] Refine longhorn-benchmark-test pipeline for replica count < worker node count"
## What's the test to develop? Please describe

When running Longhorn benchmark test, if the Longhorn volume replica count for testing < the worker node count of this cluster, whether the volume is on the same nodes of replicas would cause large difference in the benchmark results. Please see: https://github.com/longhorn/longhorn/issues/4002#issuecomment-1148317900 for more detailed data.

The cur

[2022-07-04 02:45] derekbit opened #4201 "[DOC] Add KB for handling the failure upgrade to v1.3.0 caused by `spec.preserveUnknownFields=true`"
## What's the task? Please describe

Longhorn v1.0.x set the `spec.preserveUnknownFields` to`true`.
After webhook was introduced, the value should be set to *false*. Otherwise, the upgrade to v1.3.0 will fail.

Reproduce step:
1. Install Longhorn v1.0.0 (apiextensions.k8s.io/v1beta1) on k8s v1.21.13+k3s1
2. Upgrade Longhorn to v1.2.3. The upgrade should succeed.
3. Upgrade Longhorn to v1.3.0. The

[2022-07-04 03:51] mantissahz commented on #4187
@kclejeune Could you please also check about nfs server configuration for the sharing IP range, and all longhorn working nodes in the sharing IP range?

[2022-07-04 03:58] kclejeune commented on #4187
Yes, but it's not actually my NFS server, so I'm trying to track down that info. I'll send an update when I hear back with more info. Thanks!

[2022-07-04 04:28] shuo-wu commented on #4191
Need to backport to v1.3.x for the engine repo.

[2022-07-04 04:39] shuo-wu commented on #3598
@B1ue-W01f Does the volume get re-attached (automatically) before encountering the issue? If YES, you can wait for #3325 investigation.

[2022-07-04 06:24] NicklasWallgren opened #4202 "[BUG] Instance Manager crashing - No such file or directory, expected NSFileLock LOCKED"
## Describe the bug
During deployment the instance manager crashed on one of the nodes, see log below.

[code]

[code]

## To Reproduce

## Expected behavior

The instance manager should not crash during deployment.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can generate a Support Bundle using the link at the footer of the

[2022-07-04 06:53] NicklasWallgren commented on #4202
After deleting the pvc (`kubectl delete pvc/id`) the node is stuck in `Unschedulable` mode, with the longhorn-manager outputs

[code]

[2022-07-04 08:27] NicklasWallgren commented on #4202
New volumes is still being attached to the problemsome node

[code]

[2022-07-04 08:37] NicklasWallgren commented on #4202
Tried to re-create the longhorn-manager pod by deleting it, now it's stuck in CrashLoopBackOff

[code]

[2022-07-04 09:08] shuo-wu commented on #4161
Do you mean that the filesystem becoming read-only is triggered by the rebuilding rather than the volume reattachment?

[2022-07-04 09:14] mantissahz commented on #4199
@untcha Could you please check that the nfs server is alive or the network connectivity between work nodes and nfs-server is ok?

[2022-07-04 09:16] untcha commented on #4199
@mantissahz yes, nfs server is alive and connectivity is available. Longhorn is able to create backups to exact that location but unable to list them in the UI

[2022-07-04 09:52] NicklasWallgren commented on #4202
@derekbit Thanks for the reply. iscsid is installed and is running as far as I can determine, we had longhorn-volumes attached to that node previously 🤷‍♂️

[code]

[2022-07-04 10:03] derekbit commented on #4202
Only this node is problematic?

[2022-07-04 10:06] NicklasWallgren commented on #4202
Yes, it seems like it. I'll try to restart the node later today.

![image](https://user-images.githubusercontent.com/1784879/177132810-bd3c7343-34e1-4655-a218-181d7fe70ec8.png)

This issue seems to be related to https://github.com/longhorn/longhorn/issues/2533#issuecomment-825935755

[2022-07-04 10:11] derekbit commented on #4202
Got it. I'm not sure if the iscsi service is corrupted in your environment.  If there is no volume on this node, you can try to reinstall open-iscsi.

[2022-07-04 10:59] NicklasWallgren commented on #4202
The problem was due to issues in our Vmware setup.

Thanks for the help.

[2022-07-04 10:59] #4202 closed

[2022-07-04 15:15] derekbit commented on #4199
Probably because "nfsvers" was changed to "mountvers" in Ubuntu 22.04 nfs-common.

[2022-07-04 15:21] derekbit commented on #4199
Mount options need to be updated on Longhorn's side.
Let us test if this is the culprit and think if there is any workaround.

[2022-07-04 15:22] derekbit commented on #4199
@untcha Could you try ubuntu 20.04 to see if it can work as expected?

[2022-07-04 15:26] untcha commented on #4199
@derekbit it did (at least with Ubuntu 21.10)

I stumbled on a similar issue on Ubuntu 22.04 LTS with the nfs-provisioner. I had to add additional mount options:
[code]

Only with that the nfs-provisioner was able to work on my cluster.

[2022-07-05 00:37] #3960 closed

[2022-07-05 01:05] yangchiu opened #4204 "[TEST] Add version information on each regression test build"
## What's the test to develop? Please describe

Currently there's no way to know the version (commit id) of longhorn-manager and longhorn-engine used in each regression test build.
These information need to be revealed so we are able to know this build includes a commit or not.

[2022-07-05 01:05] cchien816 commented on #3845
Close this ticket because test cases working properly on master-head pipeline

- [test_csi_snapshot_snap_create_csi_snapshot](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/176/testReport/tests/test_csi_snapshotter/test_csi_snapshot_snap_create_csi_snapshot/)
- [test_csi_snapshot_snap_create_volume_from_snapshot](https://ci.longhorn.io/job/public/job/

[2022-07-05 01:05] #3845 closed

[2022-07-05 01:07] cchien816 commented on #4040
Close this ticket because test case working properly on master-head pipeline

- [test_disk_eviction_with_node_level_soft_anti_affinity_disabled](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/176/testReport/tests/test_node/test_disk_eviction_with_node_level_soft_anti_affinity_disabled/)

[2022-07-05 01:07] #4040 closed

[2022-07-05 01:09] cchien816 commented on #4121
Close this ticket because now the flaky result not happen in case [test_allow_volume_creation_with_degraded_availability_csi](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/176/testReport/tests/test_csi/test_allow_volume_creation_with_degraded_availability_csi/)

[2022-07-05 01:09] #4121 closed

[2022-07-05 04:59] Citrullin opened #4205 "[BUG] Longhorn doesn't support non aws s3 buckets"
## Describe the bug

As described in [this discussion post](https://github.com/longhorn/longhorn/discussions/4203), I need to backup into a non aws s3 bucket. I got a HTTPs endpoint. But apparently Longhorn doesn't support this. It only supports `s3://`. I guess a new version of the protocol? Not very familiar with s3 and the in and outs.

## To Reproduce

Steps to reproduce the behavior:
1. Add a

[2022-07-05 05:05] c3y1huang commented on #4205
Ref https://github.com/longhorn/longhorn/issues/1645#issuecomment-865036442

[2022-07-05 05:18] Citrullin commented on #4205
The documentation doesn't make very clear that you have to insert a fake endpoint in the UI. Also from a design perspective it's not very elegant. Anyway. I get a certificate error, but this part works. Thank you.

[2022-07-05 05:22] c3y1huang commented on #4205
We understand that and we have an [issue](https://github.com/longhorn/website/issues/161) for improvement. Feel free to create a PR for this.

[2022-07-05 06:31] Citrullin commented on #4205
@c3y1huang I guess it works with CERT etc. but I still get this error now.
[code]

[2022-07-05 06:52] c3y1huang commented on #4205
There are similar issue reported [here](https://github.com/longhorn/longhorn/issues/3137) and [here](https://github.com/longhorn/longhorn/issues/3834). Have you tried to execute the same command from the manager pod to see if there are more clues?

[code]

[2022-07-05 07:52] voarsh2 commented on #4195
This issue keeps happening to 2 nodes, every couple of hours now, about a specific volume. I do not know if it's because the Ubuntu version, these two are different (Ubuntu 21.10) and (Ubuntu 21.04), others are Ubuntu 20 LTS. I recently changed the default CPU guarantees:

Guaranteed Engine Manager CPU: 5
Guaranteed Replica Manager CPU: 10

However, these two nodes are really idle compared with th

[2022-07-05 07:55] Citrullin commented on #4205
The command `backup` doesn't exist in the manager container.

[2022-07-05 08:21] voarsh2 commented on #4013
Following up:
https://github.com/longhorn/longhorn/issues/4195
Lowering the Guaranteed CPU seems (although, maybe too early, but I was getting it at least once a day or so) to have stopped read-only volumes, however, I am currently experiencing an issue with a mount with a volume hangs 2 nodes, regularly. Only solution is to reboot them. And when it hangs, it does seem to hang the workload as it n

[2022-07-05 08:31] derekbit commented on #4199
@untcha Can you show your NFS server kernel version by `uname -r`?

[2022-07-05 15:31] derekbit commented on #4199
Got it.
I can reproduce this using my own QNAP NAS.
`mount -t nfs -o nfsvers=4.2 10.20.90.100:/Longhorn /root/test`
nfsvers=4.1 or 4.2 hangs the mount operation forever, and server does not return the error code.

Although `nfsvers=4.0` can work correctly, but the `nfsvers` fallback mechanism in Longhorn relies on error code from the server side. No error code returned leads to fallback failure.

[2022-07-05 16:17] derekbit commented on #4199
`/var/lib/longhorn-backupstore-mounts/192_168_178_110/Longhorn` already exists.
You can check if it's already mounted. If it's empty, you can delete it and try again.

[2022-07-05 16:27] untcha commented on #4199
In the meantime (until fix of QNAP or whatever). Is there a possibility to recover a volume from backup kind of "manually" like the Volume migration pod example?
Starting a pod, mounting the NFS Volume and migrate the backup back into a pvc?

[2022-07-05 16:36] derekbit commented on #4199
You can copy the backup folder on the QNAP NAS to another machine. Then, export the folder and set the new path to the Longhorn `backup target`.

[2022-07-05 21:01] PhanLe1010 commented on #4197
Have not tested yet but an idea to reproduce:
1. Create a volume of 1 replica
2. Somehow mess up the engine binary on the host but still make sure that it passes the liveness probe of the engine deamonset
3. Attach the volume and see the behavior

[2022-07-06 02:08] yangchiu commented on #4124
same as https://github.com/longhorn/longhorn/issues/4204
close for duplicated

[2022-07-06 02:08] #4124 closed

[2022-07-06 02:09] #4123 closed

[2022-07-06 02:16] mantissahz commented on #4181
@voarsh2 we want to know how did you update the RKE cluster and what configurations you modified, Did you do anything before and when updating the cluster configuration?
If yes, could you provide the detail steps about what you did?
Thanks.

[2022-07-06 02:18] #4042 closed

[2022-07-06 02:59] mantissahz commented on #4189
Hi @luca-heitmann,
Thanks for CSI updating information.
You could modify the repository(like k8s.gcr.io/sig-storage/csi-snapshotter) and tag you showed in chart/value.yaml or [here longhorn.yaml](https://github.com/longhorn/longhorn/blob/master/deploy/longhorn.yaml#L3582-L3591) to fit the version you need.

[2022-07-06 03:06] mantissahz commented on #4187
@kclejeune could you please try to kill the longhorn-manager pods then see if a toast pops up with this error again?

[2022-07-06 03:07] innobead opened #4206 "[FEATURE] ARM64 GA"
## Is your feature request related to a problem? Please describe

We have ARM64 experimental support from 1.1. To graduate to GA, it's necessary to ensure the coverage and testing result of arm64 is consistent with amd64.

## Describe the solution you'd like

Figure out the gap in test results between arm64 and amd64, then fix it.

## Describe alternatives you've considered

N/A

cc @longhorn/qa

[2022-07-06 04:09] innobead commented on #4189
https://github.com/kubernetes/kubernetes/pull/104590

[2022-07-06 04:10] mantissahz commented on #4188
Hi @diamonwiggins, ref:[issues-2629]( https://github.com/longhorn/longhorn/issues/2629)
Did it 'FailedMount' happen for a long time before you created the volumeattachment object?

[2022-07-06 04:13] mantissahz commented on #4194
Hi @sarce666,
Does the situation still happen? If yes, could you please provide the support bundle for us?
Document is here [troubleshooting-guide](https://longhorn.io/docs/1.3.0/advanced-resources/troubleshooting/#troubleshooting-guide).

[2022-07-06 06:23] innobead commented on #3849
`longhorn-iscsi-installation` or even NFS manifests are more like a helper script instead of part of longhorn installation. Because PSP will be removed, we will see how to improve this at least via doc or even a better automation way.

[2022-07-06 06:28] untcha commented on #4199
Closing this issue.
Thanks a lot for your effort and help @derekbit 👍🏻

[2022-07-06 06:32] yangchiu opened #4207 "[TEST] Remove "Your License Limit is Exceeded." message in drone-pr"
## What's the test to develop? Please describe

https://www.sobyte.net/post/2022-05/drone-license/#free-to-use-open-source-or-enterprise-version

probably need to rebuild our own custom image

[2022-07-06 06:39] innobead commented on #4207
Do you mean right now we use a customized drone image?

[2022-07-06 06:58] sarce666 commented on #4194
hello

i m not sur i understand
ok this is fake storage class
but in my porduction kubernetes i see it running as a storage class longhorn-statics
should i then create a storageclass longhorn-static ( a copy of the existing storage class longhorn ?

[2022-07-06 07:04] innobead commented on #3075
@cchien816 Could you help check if this is still a valid issue? Thanks.

[2022-07-06 07:09] mantissahz commented on #4194
@sarce666 you could modify the `Default Longhorn Static StorageClass Name` value on UI page `Setting> General`
ref: [default-longhorn-static-storageclass-name](https://longhorn.io/docs/1.3.0/references/settings/#default-longhorn-static-storageclass-name)

[2022-07-06 07:29] deersheep330 commented on #4207
No, currently we use official drone helm chart / docker image.
I mean this issue seems can only fixed by rebuild the image by ourselves with additional parameter.

[2022-07-06 07:35] innobead commented on #4207
I see, but why drone-push does not have this issue? Does it use a different way?

[2022-07-06 07:42] yangchiu commented on #4207
Probably because the total builds in drone-publish are < 5000.
In drone-pr, The total builds of longhorn-manager + longhorn-engine + longhorn-tests are already > 5000.

[2022-07-06 08:12] innobead commented on #4207
https://docs.drone.io/enterprise/#is-drone-enterprise-available-for-trial

[2022-07-06 08:26] c3y1huang opened #4208 "[TEST] Cannot build longhorn-manager-test image"
Running `make` for [longhorn-tests/manager/integration](https://github.com/longhorn/longhorn-tests/tree/master/manager/integration) fails at installing zypper packages.
[code]

## Additional context

https://drone-publish.longhorn.io/longhorn/longhorn-tests/709/1/4

[2022-07-06 08:40] #4191 closed

[2022-07-06 08:57] innobead commented on #4208
cc @longhorn/qa

[2022-07-06 10:25] #4175 closed

[2022-07-06 10:49] shuo-wu commented on #4136
Do you have a rough benchmark/estimation over the improvement after switching to `tcmalloc`?

[2022-07-06 11:38] voarsh2 opened #4209 "[BUG] Storage Class not adding labels to volumes created via helm app(s)"
## Describe the bug

I created a new Storage Class e.g. longhorn db and added "node selector" db on the new storage class.

In my Helm Chart I node use of the "longhorn db" storage class, deleted the old volume and found the new volumes created, but noted that the volume itself had no node tag.
A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[2022-07-06 12:29] shuo-wu opened #4210 "[IMPROVEMENT] Introduce checksum for snapshots"
## Is your improvement request related to a feature? Please describe

After creating a snapshot, Longhorn volume can calculate the checksum then store it in the metafile along with the modification time. Later on when the volume needs to rebuild/reuse a failed replica or somehow need to validate a replica, checking the checksum & modification time matching would help skip unnecessary snapshot sync

[2022-07-06 13:52] jdbaudean commented on #3619
Hi I was wondering if there was an ETA on when this might be addressed?  We'd like to use longhorn with rancher autoscaling but autoscaling down will eventually result in data loss if detached volumes aren't replicated.

[2022-07-06 17:16] liyimeng commented on #4133
Reading the code, it seem merge 6 write into a single one, should improve quite a bit. Do you have any benchmark number?

[2022-07-06 17:19] liyimeng commented on #4170
benchmark for improvement?

[2022-07-06 22:02] baskinsy commented on #3661
I have the same issue on a 1.23.7 RKE2 cluster with longhorn 1.2.4. Wordpress still fails to write to the RWX volume due to permissions. Any workaround? Thank you.

[2022-07-07 00:04] yangchiu commented on #4208
https://bugzilla.suse.com/show_bug.cgi?id=1201261 is opened for this.
It seems to work now. All the pending drone publishes are restarted and completed.

[2022-07-07 00:08] innobead commented on #4208
Just close this if all ok now. Thanks.

[2022-07-07 02:10] innobead commented on #3714
cc @rebeccazzzz

[2022-07-07 02:58] mantissahz commented on #4209
Hi @voarsh2,
Could you please provide more detail steps about how did you create the StorageClass and add "node selector" (or manifest?)
Here the document [storage-tags](https://longhorn.io/docs/1.2.0/volumes-and-nodes/storage-tags/) may help.

[2022-07-07 03:20] innobead commented on #3619
We will see if we can do something for 1.5, but right now just added to the backlog first.

[2022-07-07 03:25] innobead commented on #1645
Reopening this to improve the doc.

[2022-07-07 04:32] innobead commented on #1455
This is what we have now for backup/restore longhorn.
- https://longhorn.io/docs/1.3.0/advanced-resources/cluster-restore/restore-to-a-cluster-contains-data-using-rancher-snapshot/
- https://longhorn.io/docs/1.3.0/advanced-resources/cluster-restore/restore-to-a-new-cluster-using-velero/

[2022-07-07 05:32] yangchiu commented on #4207
Fixed by removing build records in drone database to make total # of builds < 5000.
https://gist.github.com/david-liu-950627/0bfc5520cce019c5b2d595236f141dd5

[2022-07-07 05:32] #4207 closed

[2022-07-07 11:15] a10sbraun commented on #3753
I have also the same issue with a fresh installation :-(.

[code]
![Screenshot from 2022-07-07 11-34-37](https://user-images.githubusercontent.com/74243350/177760060-31e12166-2ba9-4049-82f1-677cd1e73304.png)
![Screenshot from 2022-07-07 11-34-59](https://user-images.githubusercontent.com/74243350/177760096-1c012ac1-8c1a-4751-aebd-e88dd79af527.png)
![Screenshot from 2022-07-07 11-35-25](https://use

[2022-07-07 16:58] #4077 closed

[2022-07-07 17:02] #3745 closed

[2022-07-07 17:48] joshimoo commented on #3619
@jdbaudean consider using 2 scaling groups i.e. (fixed storage set (can be scaled up but not down), dynamic worker set (can be arbitrarily scaled))

If your provider does automatic node recycling after a time you need to ensure that the longhorn data disk is not located on the default node disk.

Instead a dedicated disk need to be attached to the recycling nodes, otherwise every time the node get

[2022-07-07 22:24] voarsh2 commented on #4195
With 12 Guaranteed CPU's for Engine Manager and Replica Manager and the two weaker nodes having no attached/scheduled volumes the social-php mountpoint, which is essentially a large collection of PHP session files froze again....
I've upped the Guaranteed CPU to 20 for both and scaled workload to 0 and up... but it doesn't seem like it'll help.....

[2022-07-08 00:10] voarsh2 commented on #4195
Yep. 20% Guaranteed CPU didn't help.
From 2 hours to 4 hours apart now. The Uninterruptible Sleep State got high on two nodes (Ubuntu 20 and Ubuntu 21.4) - and eventually the health check failed, were killed but cannot use the volume.
![image](https://user-images.githubusercontent.com/60437695/177890919-d3484e16-85fa-4659-b2a4-58ac167706db.png)

[2022-07-08 00:45] derekbit commented on #3446
Replace the gcc memory allocation with efficient one
https://github.com/longhorn/longhorn/issues/4136

[2022-07-08 01:27] joshimoo opened #4211 "[IMPROVEMENT] Longhorn UI bandwith/scalability improvement"
## Is your improvement request related to a feature? Please describe

Currently once there are around 400 active volumes, the UI tends to become rather laggy and takes a while for operations to complete. Part of the problem here is the way the websocket and api polling happens.

We already did some minor improvements in previous versions but to really address this requires a backend + frondend mod

[2022-07-08 01:39] shuo-wu commented on #3714
We need to update this doc with a link to the kb article as well: https://longhorn.io/docs/1.3.0/deploy/upgrade/longhorn-manager/#upgrade-as-a-rancher-catalog-app

[2022-07-08 02:24] innobead commented on #3714
@PhanLe1010 Can you help with this? Thanks.

[2022-07-08 06:12] PhanLe1010 opened #4212 "[BUG] Somehow the Rebuilding field inside volume.meta is set to true causing the volume to stuck in attaching/detaching loop"
## Describe the bug

Somehow the `Rebuilding` field inside `volume.meta` is set to true causing the volume to stuck in attaching/detaching loop

## To Reproduce

Not sure how to reproduce yet.
There is a situation in which the volume is trying to attach. Replica process is running. However, when the engine process trying to connect to the replica, it hits this error `2022-06-22T17:35:28.031550367Z

[2022-07-08 12:02] elton557 opened #4213 "[BUG] After updating longhorn to version 1.3.0, only 1 node had problems and I can't even delete it"
Hello, I updated my longhorn to version 1.3.0, but 1 node was not healthy and crashed some volumes, they are degraded, what can I do?
<img width="1437" alt="Screen Shot 2022-07-07 at 22 00 22" src="https://user-images.githubusercontent.com/52458645/177988166-f607095a-8fe2-42eb-a446-e53b9140b9a8.png">

I tried to delete the node with problems, but it only has this state

<img width="1426" alt="Scre

[2022-07-08 12:17] derekbit commented on #4213
Any error message?

[2022-07-08 12:28] elton557 commented on #4213
this command did not work see

<img width="1028" alt="Screen Shot 2022-07-08 at 09 27 10" src="https://user-images.githubusercontent.com/52458645/177992121-d9b1a1fe-51dd-4e04-a9bf-5864485ae261.png">

[2022-07-08 12:44] elton557 commented on #4213
After the update, this node was the only one that didn't enter the longhorn-manager, see! looks like he was orphaned, that's when I thought about deleting him from the rancher, thinking it would unlock the volumes!

<img width="1430" alt="Screen Shot 2022-07-08 at 09 40 18" src="https://user-images.githubusercontent.com/52458645/177994427-a8a77a49-cf1e-4eee-ace3-3dbaaedcbe3e.png">

[2022-07-08 12:45] elton557 commented on #4213
After the update, this node was the only one that didn't enter the onghorn-manager, see! looks like he was orphaned, that's when I thought about deleting him from the rancher, thinking it would unlock the volumes!

<img width="1440" alt="Screen Shot 2022-07-08 at 09 45 13" src="https://user-images.githubusercontent.com/52458645/177994661-6dffe935-f53f-4923-8eae-8a3f30c4f2e3.png">

[2022-07-08 12:51] derekbit commented on #4213
Weird. Could you send us the support bundle? We can check it.
Is any important data in your unlocked volume?

[2022-07-08 12:53] voarsh2 commented on #4195
Things I've tried:
- Lowered Guaranteed CPU from 20 to 12, and back up
- Volume mounts were not attached to node 4 (weakest CPU)
- Restore from backup
- CPU changes for specific weak nodes

I've cleared the contents of the php sessions volume, the ubuntu 20 VM does not have any of the volumes for the workload attached, they're attached on other nodes. It seems to have stopped happening.... Which i

[2022-07-08 13:18] derekbit commented on #4213
I saw the longhorn node (rancher-k8s-dc-node01) is still in your longhorn-system.
`kubectl -n longhorn-system get nodes.longhorn.io rancher-k8s-dc-node01`
How did you delete the node from the longhorn/kubernetes cluster?

[2022-07-08 15:48] elton557 commented on #4213
@derekbit  When I try to remove the node through the longhorn interface I get the print errors

<img width="1432" alt="Screen Shot 2022-07-08 at 12 46 32" src="https://user-images.githubusercontent.com/52458645/178026484-b5f843f5-4385-4da9-979a-3d15a068abd0.png">

[2022-07-08 16:58] rebeccazzzz opened #4214 "[TEST] Test with spinning disk"

[2022-07-08 16:59] rebeccazzzz opened #4215 "[TEST] Test with ARM64"

[2022-07-08 18:45] voarsh2 commented on #4195
The issue has happened again after a longer time. 2 out of 3 nodes running the RWX workloads began to get high uninterrupted Sleep State (D) and app was getting slower, redeploying and I get mount errors, same as before.

[2022-07-09 01:07] kclejeune commented on #4187
Just following up on this -

Still don't have this info yet, sorry

I redeployed the longhorn-manager deployment to kill all of the pods and it appears to have the same issue.

Tried manually removing the backup directory:

[code]

I'm working under some security requirements so I'm not sure if I'm permitted to send the support bundle. I'll look through it to check if I need to scrub anything. Tha

[2022-07-09 04:40] PhanLe1010 commented on #3093
# Longhorn Upgrade Responder Migration

## Prepare
1. Scale down the current upgrade repsonder deployment in Bigmac cluster

## Migrate InfluxDB database

### Migrate measurements
1. measurement `byLonghornVersion_1h` => `by_app_version_down_sampling`

    We need to do 2 things for this measurement: change measurement name from `byLonghornVersion_1h` => `by_app_version_down_sampling` and the tag

[2022-07-09 04:41] PhanLe1010 commented on #3093
TODO:
1. Update Private Garafana in the livestock cluster
2. Cleanup the unnecessary measurements in the DB
3. Cleanup the unnecessary deployment/svc/configmap/secrete in bigmac
4. Build Growth rate graph for Harvester
5. Update Longhorn client to send appVersion and extraInfo.kubernetesVersion

[2022-07-09 12:12] ohthehugemanatee commented on #3999
Bump on this thread as I encounter the problem again. Two weeks seems about the lifetime of my longhorn cluster before hitting this issue.

I'm remote for the next several weeks, so I can't kick over nodes. Any advice on lowering CPU usage? My current plan is to shut down the pods that are using longhorn and wait.

[2022-07-09 13:10] flkdnt opened #4216 "[BUG] Unable to use a TTY error when running environment_check.sh"
## Describe the bug

Running environment_check as a suggested prereq to install throws an error: "Unable to use a TTY - input is not a terminal or the right kind of file"

## To Reproduce

On k8s cluster, run:

```curl -sSfL https://raw.githubusercontent.com/longhorn/longhorn/v1.3.0/scripts/environment_check.sh | bash```

## Expected behavior

I'd start seeing checks being performed

## Log or Sup

[2022-07-11 02:02] innobead commented on #4214
This is duplicated of https://github.com/longhorn/longhorn/issues/4182. Let's track there instead.

[2022-07-11 02:02] #4214 closed

[2022-07-11 02:02] innobead commented on #4215
Duplicated with https://github.com/longhorn/longhorn/issues/4206, so let's track there.

[2022-07-11 02:02] #4215 closed

[2022-07-11 02:17] derekbit commented on #4213
@elton557 Can you set disable the scheduling of the `rancher-k8s-dc-node01` before deleting the node?

[2022-07-11 02:58] derekbit commented on #4216
@flkdnt  Thank you for raising the issue. Could you submit the PR fixing the TTY issue?

[2022-07-11 04:32] cchien816 commented on #3714
Close this ticket.
Because all PRs were merged and migrate script on different combination test all verified as well(https://github.com/longhorn/longhorn/pull/4095#issuecomment-1175828539) .

[2022-07-11 04:32] #3714 closed

[2022-07-11 05:40] derekbit commented on #2293
The `Lease_Lifetime` of the NFS server is 60 seconds. The value needs to be decreased but also investigate if there is any  downside.

https://www.suse.com/support/kb/doc/?id=000019374
https://github.com/longhorn/longhorn-share-manager/blob/5b57b596e192d758f3049142a7ced47c0b0dae03/pkg/server/nfs/nfs_server.go#L37

[2022-07-11 06:33] innobead commented on #4182
@yangchiu we also need to have a test result here for 1.3.0.

[2022-07-11 08:26] innobead opened #4218 "[TEST] Create a pipeline or enrich the existing to run regression over storage network"
## What's the test to develop? Please describe

https://github.com/longhorn/longhorn-tests/pull/984#issuecomment-1180100078

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] Create an individual pipeline or enrich the current pipeline to run the regression over the storage network

cc @longhorn/qa @c3y1huang

[2022-07-11 08:30] cchien816 opened #4219 "[TEST] Have pipeline to build engine test images"
## What's the test to develop? Please describe

https://github.com/longhorn/longhorn-tests/pull/1012 can generate engine test images
Need to have a pipeline build engine test images on demand to replace run in local.

## Describe the items of the test development (DoD, definition of done) you'd like

- [x] Pipeline work well

## Additional context

N/A

[2022-07-11 08:50] sharanbabumg commented on #3907
@PhanLe1010  Kindly reopen the task and give some fix or work around this. As we have deployed longhorn in uat and production k8s clusters. After patching activity on worker nodes the nodes get rebooted and the kubelet restart happens and we are facing issue with longhorn-csi-plugin pods to be in crashloopbackoff state so we manually need to restart pods for now as work around to fix the applicati

[2022-07-11 09:03] sharanbabumg opened #4220 "liveness and readiness probes with longhorn csi plugin daemonset"
As of now after patching of our worker nodes are are rebooting every node after patching, but we ended up with pvc not able attach or mount issues and pods were stuck in container creating state only.

MountVolume.MountDevice failed for volume "pvc-d0af4c3e-355d-40db-88d5-cbec82fe3f00" : rpc error: code = Internal desc = Get "[http://longhorn-backend:9500/v1/volumes/pvc-d0af4c3e-355d-40db-88d5-cbe

[2022-07-11 09:19] Froxz commented on #3943
@saul-data

Did you find an answer/solution to this? I stuck with DO and mostly because of their upgrade policy they replace nodes, and Longhorn doesn't automatically move replicas, so maybe using Volumes will help...

[2022-07-11 09:28] saul-data commented on #3943
Yes 100% - I didn’t get an answer unfortunately. It will be hugely
beneficial.

I think there is a way to mount the volume on a location of the node where
longhorn picks it up - I think that’s worth experimenting with…

On Mon, 11 Jul 2022 at 10:19, Sergkei Melingk ***@***.***>
wrote:

[2022-07-11 10:25] derekbit commented on #2293
Assume the failover time should be smaller than 30 seconds.
There are several factors we need to consider in order to achieve the NFS-HA.

- Default kubernetes `node-monitor-grace-period` is 40 seconds. It means the node status is set to`down`/`not ready` when the node is down for 40 seconds. Thus, the value should be set to be smaller than 30 seconds, e.g 12 seconds.
    - The downside is that a

[2022-07-11 10:52] a10sbraun commented on #3753
@mantissahz  I currently test this on VMs via KVM before I will use/install it on my real systems. So I boot it up very often and it does not helped/changed so far...

As you can see here (based on the age), i just powered it up right now and the issue keeps the same :'(

[code]

[2022-07-11 12:39] mantissahz commented on #4187
@kclejeune Did you also restart the instance-manager?

[2022-07-11 13:44] Froxz commented on #3943
@saul-data the problem is also DigitalOcean they will not re-attach any volume created outside k8s cluster.

What I'm doing now is decreasing `replicaReplenishmentWaitInterval` to 60 seconds

And create 2 pools in DO (based on DO they will upgrade cluster 1 pool after another). in this case, all volumes will be transferred to new nodes.) Anyway, I'm still testing this...

[2022-07-11 13:48] saul-data commented on #3943
Oh right! Yes that sounds messy. I agree with this concept of backing
longhorn or other Kubernetes storage mechanisms with volume storage by the
cloud providers.

On Mon, 11 Jul 2022 at 14:44, Sergkei Melingk ***@***.***>
wrote:

[2022-07-11 13:51] Froxz commented on #3943
@saul-data Ideally it will be good if the Longhorn team will adopt DO csi for volumes: https://github.com/digitalocean/csi-digitalocean

[2022-07-11 16:16] innobead commented on #2293
I don't think we should have a best practice for this setting, but rather describe the HA will respect or be impacted by this period setting.

Sounds good to me and it seems general to be able to reuse for other on-demand pods like backing image.

Do we have any reference value from other HA examples? 5 seconds seems very aggressive, any possible downside?

Question: when using the live migration,

[2022-07-11 16:27] innobead commented on #4220
Closing due to duplication, let's track at https://github.com/longhorn/longhorn/issues/3907 instead.

[2022-07-11 16:40] elton557 commented on #4213
![914FCC24-9A29-4215-AE17-FEBC88A78228](https://user-images.githubusercontent.com/52458645/178314642-b96e8480-0970-4580-bc79-edb7297bc3ad.png)

[2022-07-11 16:41] innobead commented on #4213
cc @PhanLe1010

[2022-07-11 17:00] derekbit commented on #2293
OK. We can address the setting in the document.

A low `Lease_Lifetime` value might result in loss of leases and locks when the network condition is not stable. I think this means the mounted filesystem becomes unstable under a bad networking condition.
.
SUSE doc recommends the lease value should be larger than 30 seconds (default: 60 seconds) for safety.
https://www.suse.com/support/kb/doc/?id=0

[2022-07-11 22:02] PhanLe1010 opened #4222 "[BACKPORT][v1.3.1] Update Longhorn client to send appVersion and extraInfo.kubernetesVersion"
Ref: https://github.com/longhorn/longhorn/issues/3093

[2022-07-11 22:03] PhanLe1010 opened #4223 "[BACKPORT][v1.2.5] Update Longhorn client to send appVersion and extraInfo.kubernetesVersion"
Ref: https://github.com/longhorn/longhorn/issues/3093

[2022-07-11 22:22] PhanLe1010 commented on #3093
Test steps:
1. Trigger Longhorn manager to send request to the upgrade respoder server by on of the following ways:
    1. Kill Longhorn manager pods
    2. Turn on and off `Enable Upgrade Checker` settings
1. Verify the logs of Longhorn manager `time="2022-07-11T22:21:04Z" level=info msg="Latest Longhorn version is v1.3.0" controller=longhorn-setting node=phan-v170-pool2-088b1150-7h9fj`

[2022-07-12 01:50] joshimoo commented on #2293
@derekbit I agree that it would be simpler to start without active/passive (i.e. no second engine) and just rely on the share-manager pod being started on a different node.

Grace Period should be at least 2x Lease_Lifetime so that there is a chance to reclaim the locks.
Since currently we don't store the metadata persistently we cannot do lock reclaim, therefore after the NFS server starts the cl

[2022-07-12 03:29] derekbit commented on #4213
@elton557 Can you delete the longhorn node by command line?

[2022-07-12 03:58] innobead commented on #2293
It's interesting. @joshimoo could you elaborate more about `the metadata volume`, is this what we can control or actually at ganesha part?

[2022-07-12 04:13] innobead commented on #3907
https://github.com/kubernetes-csi/livenessprobe

[2022-07-12 05:17] PhanLe1010 opened #4224 "[BACKPORT][v1.2.5][BUG] Turn a node down and up, workload takes longer time to come back online in Longhorn v1.2.0"
Ref: https://github.com/longhorn/longhorn/issues/2947

[2022-07-12 05:19] PhanLe1010 opened #4225 "[BACKPORT][v1.3.1][BUG] Turn a node down and up, workload takes longer time to come back online in Longhorn v1.2.0"
Ref: https://github.com/longhorn/longhorn/issues/2947

[2022-07-12 08:05] yangchiu commented on #4182
[Full regression test result using HDD](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1603/)

Following are failed test cases:
[code]

Among the failed test cases, the following are flaky test cases:
[code]

[The following are test cases only failed when using HDD](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1615/):
[code]
They all failed due to timeouts.

[2022-07-12 08:36] innobead commented on #4182
@yangchiu Thanks. This is good. Is it/timeout related to test case implementation or the function broken?

[2022-07-12 11:40] flkdnt commented on #4216
@derekbit will do

[2022-07-12 12:49] elton557 commented on #4213
would it be via kubectl? can you give me the instruction? this node has some replicas stuck on it will it work?

[2022-07-12 13:41] derekbit commented on #4213
@elton557 You can try `kubectl -n longhorn-system delete node.longhorn.io rancher-k8s-dc-node01`.

[2022-07-12 14:00] elton557 commented on #4213
Hello I ran the command it is stuck like this and also does not remove the node

<img width="1026" alt="Screen Shot 2022-07-12 at 10 57 54" src="https://user-images.githubusercontent.com/52458645/178507998-bb471b8a-6e19-4c97-81b0-93f4420a00b8.png">

[2022-07-12 15:08] derekbit commented on #4213
Can you check your kubelet log to see if there is any error message?

[2022-07-12 15:15] elton557 commented on #4213
doesn't show me any errors

[2022-07-12 15:21] derekbit commented on #4213
@PhanLe1010 Do you have any idea how to delete the longhorn node?

[2022-07-12 15:58] innobead commented on #4213
Blocked by the finalizer?

[2022-07-12 16:16] elton557 commented on #4213
I can enter the edit, remove the lines and save, but it returns this error and does not save
<img width="1037" alt="Screen Shot 2022-07-12 at 13 14 12" src="https://user-images.githubusercontent.com/52458645/178542324-d3b60fe3-7859-4cf8-bf81-9953b4764b86.png">

[2022-07-12 23:52] PhanLe1010 commented on #4224
Test step: https://github.com/longhorn/longhorn/issues/2947#issuecomment-1168164307 but with `longhornio/longhorn-manager:v1.2.x-head` image

[2022-07-12 23:52] PhanLe1010 commented on #4225
Test step: https://github.com/longhorn/longhorn/issues/2947#issuecomment-1168164307 but with `longhornio/longhorn-manager:v1.3.x-head` image

[2022-07-13 00:36] derekbit commented on #4213
Weird, can you show the changes it mentioned in `/var/foldders/xm/vlrq....../T/kubectl-edit-9qawx.yaml`?

[2022-07-13 00:41] elton557 commented on #4213
Follow the content of the directory!
<img width="1047" alt="Screen Shot 2022-07-12 at 21 38 42" src="https://user-images.githubusercontent.com/52458645/178624183-0c12e9b3-9263-4820-9921-857ab078bffe.png">

[2022-07-13 00:50] PhanLe1010 commented on #4213
The original issue was that Longhorn manager pod didn't come up on the node https://github.com/longhorn/longhorn/issues/4213#issuecomment-1178949024. It could potentially due to some taint on this node. I the approach would be to try to get longhorn manager pods to be running on this node.

Now that you deleted the node from rancher UI, let's check to see why we cannot delete the Longhorn node.

F

[2022-07-13 00:55] PhanLe1010 commented on #4213
Anyway to workaround the validation weekhook? @derekbit

[2022-07-13 01:04] derekbit commented on #4213
Yes. The node validation webhook can be removed temporary.

Step 1. User can disable the validating webhook of the node resources temporarily
[code]

Step 2. Remove the part (rule for node validation) and then save.
[code]
Step 3. Remove the node finalizers

Step 4. Delete the admission webhook pod, and then the pods are re-created and regenerate the rules

 kubectl -n longhorn-system delete pod -

[2022-07-13 01:28] elton557 commented on #4213
hello, do i need to do something?

[2022-07-13 01:29] derekbit commented on #4213
Yes. You can follow the steps in https://github.com/longhorn/longhorn/issues/4213#issuecomment-1182648730

[2022-07-13 02:21] yangchiu commented on #4182
The original timeout is RETRY_COUNTS * RETRY_INTERVAL = 300 * 0.5 = 150 sec

After modified the constants to have a longer timeout, most of the failed test cases would pass:
[Test with 4x timeout (600 sec)](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1621/): 2 failures
[Test with 8x timeout (1200 sec)](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1623/): on

[2022-07-13 02:38] yangchiu opened #4227 "[BUG] test_csi_snapshot_snap_create_volume_from_snapshot failed when using HDD as Longhorn disks"
## Describe the bug

test_csi_snapshot_snap_create_volume_from_snapshot failed when using HDD as Longhorn disks:
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1623/testReport/tests/test_csi_snapshotter/test_csi_snapshot_snap_create_volume_from_snapshot/
Rerun the test with a modified longer timeout, this test case would still timeout and assert failed.

- Only using HDD (AWS Thr

[2022-07-13 02:40] yangchiu commented on #4182
https://github.com/longhorn/longhorn/issues/4227 opened to track test_csi_snapshot_snap_create_volume_from_snapshot failed issue.

[2022-07-13 02:49] innobead commented on #4182
Probably we can make this retry as a parameter to adjust accordingly when running for HDD? Create a ticket for that improvement. WDYT?

[2022-07-13 02:53] innobead commented on #4227
This is probably not an issue but rather needs a longer time to wait until it is finished.

@PhanLe1010 Please help check this. This is related to #4182 .

[2022-07-13 03:04] yangchiu opened #4228 "[TEST] Use longer timeout when running HDD regression test"
## What's the test to develop? Please describe

When running HDD regression test, test cases need longer timeout to complete the test steps, else lots of test cases will fail due to timeout. https://github.com/longhorn/longhorn-tests/pull/1050/files has already done parts of this work, but some modification of jenkins pipeline still needed to interface the whole thing.

Objective:
When use_hdd is

[2022-07-13 03:05] yangchiu commented on #4182
Yes, it's much more reasonable. Opened https://github.com/longhorn/longhorn/issues/4228 to track this.

[2022-07-13 03:07] derekbit commented on #4213
If the kubernete node is gone, Longhorn doesn’t need to error out here.

https://github.com/longhorn/longhorn-manager/blob/969ffd1dfc69985718f12cd00412680a7c8da05a/webhook/resources/node/validator.go#L86-L89

[2022-07-13 03:13] innobead opened #4229 "[TEST] Resources Outage: Cascading effects caused by node/cluster down, network unplug"
## What's the test to develop? Please describe

A clear and concise description of what the test you want to develop.

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] `item 1`

## Additional context

Add any other context or screenshots about the test request here.

[2022-07-13 09:12] innobead opened #4230 "[FEATURE] Different replica scheduling strategies"
## Is your feature request related to a problem? Please describe

Right now, where to schedule replicas depends on the existing implicit rules instead of obvious specific/tunable strategies, so users don't have ways to decide the scheduling strategies except node tags, node/disk scheduling, etc.

There are some discussions at https://github.com/longhorn/longhorn-manager/pull/1397#pullrequestreview

[2022-07-13 09:17] innobead commented on #4216
The PR was merged, but still needs QA to walk through the ready-for-testing flow. Assigned to @cchien816 .

[2022-07-13 10:03] shuo-wu commented on #1826
Maybe https://github.com/longhorn/longhorn/issues/3836 would help resolve this issue

[2022-07-13 12:28] darinwil opened #4231 "[BUG]"
## Describe the bug

Adding RWX volumes lead to ContainerWaiting status and an error:

MountVolume.MountDevice failed for volume "pvc-f2ab97f6-b965-41be-a1e2-6095ba1a458f" : rpc error: code = Internal desc = mount failed: exit status 32 Mounting command: /usr/local/sbin/nsmounter Mounting arguments: mount -t nfs -o vers=4.1,noresvport,soft,intr,timeo=30,retrans=3 10.43.39.233:/pvc-f2ab97f6-b965-41

[2022-07-13 12:29] darinwil commented on #4231
[longhorn-support-bundle_cf907e2f-5ef4-461c-be48-50b4c9acc7d9_2022-07-13T12-28-55Z.zip](https://github.com/longhorn/longhorn/files/9102088/longhorn-support-bundle_cf907e2f-5ef4-461c-be48-50b4c9acc7d9_2022-07-13T12-28-55Z.zip)

[2022-07-13 13:22] mantissahz commented on #4231
Hi @darinwil Could you please check the `nfs-utils` installed and does it support nfs v4?

[2022-07-13 13:26] darinwil commented on #4231
It is and it is supposed to, I have nfs-utils-2.5.1-3.ph4.x86_64 installed and there is /sbin/mount.nfs4 . I also noticed that rpcbind was not running on all the nodes, I started and enabled it hoping that was the problem but deleting and recreating the deployment with the RWX volume still fails.

[2022-07-13 13:58] derekbit commented on #4213
The first step is just open the resource manifest and don't need to do other things. Then, the seconds step is removing the content I mentioned.

[2022-07-13 14:11] elton557 commented on #4213
Node has been removed, but volumes are still stuck like this

<img width="1440" alt="Screen Shot 2022-07-13 at 11 10 05" src="https://user-images.githubusercontent.com/52458645/178754520-df80e345-fa6d-49b4-b8ca-08abc9a39dd8.png">

[2022-07-13 15:05] derekbit commented on #4213
Is the volume on which node?

[2022-07-13 16:10] Mafalda22 opened #4232 "Longhorm volumes cannot attach"
I have a rancher cluster with rke2 and longhorm installed. I'm trying to deploy elastic cloud and the volumes are being attached and unattached all the time and eck isn't quite ready. In the logs I see the following:

Warning  FailedAttachVolume  10s   attachdetach-controller  AttachVolume.Attach failed for volume "pvc-70a16c86-2e98-4a7e-a306-ef7238969f85" : rpc error: code = DeadlineExceeded desc

[2022-07-13 17:15] darinwil commented on #4231
Okay I finally figured this out, apparently when the kernel is updated on PhotonOS it deletes the currently running kernel modules directories or something like that. I found on one of the nodes that the nfsd module was not loaded and when I tried to load it modprobe complained that it couldn't find a path, which I was able to find in the staged updated kernel module path. Rebooting each node (ens

[2022-07-13 17:15] #4231 closed

[2022-07-13 19:50] elton557 commented on #4213
Hello, I will not use these volumes that are in detaching status, but I try to remove the replica that is N/A, nothing happens, but there are volumes that are in disaggregated mode because of the node replica that I removed, which I can't remove and return to healthy status:

<img width="1428" alt="Screen Shot 2022-07-13 at 15 36 43" src="https://user-images.githubusercontent.com/52458645/17881871

[2022-07-13 21:00] PhanLe1010 commented on #4213
@derekbit

We can check the code paths:
* Detaching a volume which was previously attached to non-existing node
* Deleting replicas that is to non-existing node

[2022-07-13 22:57] PhanLe1010 commented on #4227
The link to the test job and log bundle returns `HTTP ERROR 404 Not Found`. Is there any cluster that I can use for debugging @cchien816 ?

[2022-07-14 01:14] #4222 closed

[2022-07-14 01:14] #4223 closed

[2022-07-14 01:15] #3093 closed

[2022-07-14 01:22] innobead commented on #4227
You probably need to login the ci first before downloading the bundle. cc @yangchiu

[2022-07-14 02:58] derekbit commented on #4213
The replica sync is hindered by
[code]

[2022-07-14 03:52] innobead commented on #4183
@shuo-wu any risk to backport to 1.2?

[2022-07-14 04:02] derekbit commented on #4213
While the volume is at detaching state, the volume controller will check if all replicas are stopped ([code](https://github.com/longhorn/longhorn-manager/blob/master/controller/volume_controller.go#L1370)).

But the replica, which is on the N/A node, cannot be synced by the replica controller because of the error ([code](https://github.com/longhorn/longhorn-manager/blob/master/datastore/longhorn.g

[2022-07-14 07:32] mantissahz commented on #4232
Hi @Mafalda22
1. Could you please describe your more details about rancher, rke2, and longhorn environments?
2. Do you have all requirements https://longhorn.io/docs/1.3.0/deploy/install/#installation-requirements ?
3. Did you see any error or warning logs in longhorn-manager, instance-mananger or other longhorn pods?
That would be good if you could provide the support bundle for us.

[2022-07-14 08:32] innobead commented on #4182
@yangchiu as discussed, we also need to run the test for 1.2.4 to see if the result is the same as 1.3.0.

[2022-07-14 08:40] yangchiu opened #4233 "[TEST] Support RWX in longhorn benchmark test"
## What's the test to develop? Please describe

Support RWX in longhorn benchmark test

[2022-07-14 09:24] innobead opened #4234 "[TASK] Replica rebuilding performance measurement"
## What's the task? Please describe

Replica rebuilding is a frequent activity for each volume to ensure volume availability.  It's better to measure the performance of replica rebuilding based on different impacted factors to know how much resource cost will be required for each node. This can help us understand any potential impacts (direct or indirect/cascading) on the system, then indirectly i

[2022-07-14 12:30] Mafalda22 commented on #4232
Hi @mantissahz I have an rke2 development cluster with 6 nodes, three workers and three nodes. Then three servers for rancher. I have installed longhorm in a development cluster namespace and when I create pods with volumes they attach and detach constantly.
I have reviewed the requirements, I have installed open-iscsi and NFSv4 client. The check script tells me that everything is ok.
the csi atta

[2022-07-14 12:47] mantissahz commented on #4232
@Mafalda22 Could you provide the support bundle for us to find out what happened? You could generate the support bundle on Longhorn UI.

[2022-07-14 14:20] courcelm opened #4235 "Rancher chart migration script clarification"
## Describe the bug

I get the following error when I run the migration script:

Looking up Rancher Project App 'longhorn-system' ...
error: the server doesn't have a resource type "apps"

## To Reproduce

Steps to reproduce the behavior:

./longhorn_rancher_chart_migration.sh -u PATH -d PATH -t migrate

## Expected behavior

No error

## Log or Support bundle

If applicable, add the Longhorn mana

[2022-07-14 15:24] courcelm commented on #4235
I confused the upstream kubeconfig file. In my case, the right upstream kubeconfig was from the local cluster.

The upstream concept is not clear in the documentation (step 2 of https://longhorn.io/kb/how-to-migrate-longhorn-chart-installed-in-old-rancher-ui-to-the-chart-in-new-rancher-ui/) and I suggest it is clarified.

[2022-07-14 15:29] innobead commented on #4235
In the KB, the upstream means your rancher cluster, and the downstream is for the cluster Longhorn is running on. Any part you suggested to clarify?

[code]

BTW, did the migration work after using the right kubeconfig?

cc @PhanLe1010

[2022-07-14 15:42] courcelm commented on #4235
The first part would need clarification: Download the kubeconfig file for the upstream rancher cluster.

From my point of view, I installed Longhorn using the catalog in the same cluster as Longhorn is running. This is where I can see it in the Legacy/Project section. I did not expect it was referring to the local cluster. I don`t know if the Rancher is always named local but it could be added.

Y

[2022-07-14 16:02] innobead commented on #4235
It seems your point is more about the cluster name on Rancher UI confusing you when the cluster is the same for upstream & downstream in your case.

@PhanLe1010 What do you think @courcelm suggestion?

It's good to know it works well 👍

[2022-07-14 16:20] innobead commented on #4213
https://github.com/longhorn/longhorn-manager/blob/master/datastore/longhorn.go#L1037-L1042

I believe the user does not use the storage network, so the `r.Status.StorageIP` should be equal to `r.Status.IP`.

Just a reference: there is a fix related to get storage IP recently (https://github.com/longhorn/longhorn-manager/pull/1398).

cc @c3y1huang

[2022-07-14 19:11] Arsenikki opened #4236 "[BUG] Backing images stuck in 'unknown' state and volume not attaching to node"
## Describe the bug
Some of my BackingImages are stuck in an 'unknown' state. This seems to cause the existing volumes utilizing the same backing image to get stuck in trying to attach to node.

I noticed that this issue can be bypassed by creating a clone of the failing backing image (using the same url), which ends up in 'ready' state. After creating a new volume using it, longhorn is successful

[2022-07-14 22:29] PhanLe1010 commented on #4213
For the workaround, we can use `kubectl edit replicas.longhorn.io pvc-52b17e7a-e53d-47c6-8bf6-c8e0f180304d-r-3a695451 -n longhorn-system` and remove the `longhorn.io` finalizer @derekbit

[2022-07-14 22:46] PhanLe1010 commented on #4235
It is not always local

I modified the doc to mention that it is the kubeconfig file of the cluster on which the rancher instance is running on. Thank you

[2022-07-14 23:52] yasker commented on #2759
Update on this: https://github.com/rancher/support-bundle-kit now features `simulator` command to mock a Kubernetes cluster, making it extremely easy to look into the k8s environment for troubleshooting.

[2022-07-15 00:05] #4235 closed

[2022-07-15 01:00] joshimoo commented on #4234
Just leaving a note here in regard to a major contributor to rebuild performance.
On older kernels and with ext4 fs for the longhorn storage mount, rebuild performance will be slow.
See https://github.com/longhorn/longhorn/issues/2640 for more details.

TLDR:
`5.4.0-73-generic = slow, 5.8.0-53-generic = fast`

[2022-07-15 01:41] mantissahz commented on #2319
Note: https://cloud-native.slack.com/archives/CNVPEL9U3/p1657732662397739

[2022-07-15 02:49] arontsang commented on #4071
Switched to kadalu instead. That supports attach to PV.

[2022-07-15 02:49] #4071 closed

[2022-07-15 03:15] jwenjian commented on #4157
Hi, further information: setting SELinux mode to permissive can still re-produce this issue, only setting SELinux mode to disabled can fix

Any hints on this topic to debug? more vms having this issue now in our env...

[2022-07-15 03:36] jwenjian commented on #4157
Noticed that, the ctime of the file already changed in init container, it's just a busybox image.

[2022-07-15 03:44] derekbit commented on #4157
@jwenjian
I cannot reproduce this issue on my side.
I would suggest you provide a simple setup/configuration and pod/volume manifests for helping us identifying the issue.

BTW, I notice your host is Redhat 8.4. Does it also happen on another OS?

[2022-07-15 05:45] yangchiu commented on #2947
Verified on master-head (longhorn-manager 8e7d947) by following [the test steps](https://longhorn.github.io/longhorn-tests/manual/pre-release/node/improve-node-failure-handling/).

Creating a statefulset, and stopping the node where the statefulset pod is running and starting monitoring pod status, the pod would recover in less than 8 mins:
[code]

[code]

Creating a deployment, then stopping the

[2022-07-15 05:51] cchien816 commented on #4113
**Verified on longhorn-manager `8e7d94`
Result Pass**

Steps

- Setup [Prometheus and Grafana](https://longhorn.io/docs/1.3.0/monitoring/prometheus-and-grafana-setup/)
- Import Longhorn Example v1.1.0(13032) in Grafana
- Add metrics `longhorn_instance_manager_proxy_grpc_connection` in Grafna
- Run test_recurring_job.py
- Observe grpc connection after test compleme and verufy value = 0

![Screensho

[2022-07-15 05:51] #4113 closed

[2022-07-15 06:00] cchien816 commented on #4216
**Verified in longhorn `edc1b83`
Result Pass**

Can reproduce in v1.3.0
[code]

I longhorn master-head the environment check script will get below result which does not contain `Unable to use a TTY` error massage
[code]

[2022-07-15 06:00] #4216 closed

[2022-07-15 06:26] yangchiu commented on #4225
Verified on v1.3.x-head (longhorn-manager 883fb8e) by following [the test steps](https://longhorn.github.io/longhorn-tests/manual/pre-release/node/improve-node-failure-handling/).

Creating a statefulset, and stopping the node where the statefulset pod is running and starting monitoring pod status, the pod would recover in less than 8 mins:
[code]

[code]

Creating a deployment, then stopping the

[2022-07-15 06:56] cchien816 opened #4238 "[BUG] The last healthy replica may be evicted or removed"
## Describe the bug

`test_disk_eviction_with_node_level_soft_anti_affinity_disabled` failed in master-head [edc1b83](https://github.com/longhorn/longhorn/commit/edc1b83c5fe906b1ec4248c0b1279cb13813bda9)
Double verified in release version, the fail situation not happen on V1.3.0

## To Reproduce

Steps to reproduce the behavior:
1. Setup longhorn with 3 nodes
2. Deploy longhorn-test
3. Run `test_d

[2022-07-15 07:15] yangchiu commented on #4224
Verified on v1.2.x-head (longhorn-manager 4bfd0df) by following [the test steps](https://longhorn.github.io/longhorn-tests/manual/pre-release/node/improve-node-failure-handling/).

Creating a statefulset, and stopping the node where the statefulset pod is running and starting monitoring pod status, the pod would recover in less than 8 mins:
[code]

[code]

Creating a deployment, then stopping the

[2022-07-15 07:15] #4224 closed

[2022-07-15 07:15] #2947 closed

[2022-07-15 07:15] #4225 closed

[2022-07-15 08:03] innobead opened #4239 "[FEATURE] Align with upstream K8s version support from Longhorn 1.4 and update component/pkg/build dependencies"
## What's the task? Please describe

For each feature release, we will revisit if need to bump the minimum support version of K8s and K8s dependent libraries based on different reasons like K8s support version cycle, the minimum versions of K8s used by CSI sidecar components planned to deliver/support, etc.

https://kubernetes.io/releases/patch-releases/
At the moment, 1.25, 1.24, and 1.23 are act

[2022-07-15 13:31] iosifnicolae2 opened #4241 "[BUG] Failing to upgrade to longhorn v1.3.0"
## Describe the bug
We cannot upgrade to longhorn v1.3.0 because the images have not been published to Docker registry.

## To Reproduce

Steps to reproduce the behavior:
1. Install longhorn from Rancher UI

## Expected behavior

Longhorn should have been installed

## Log or Support bundle

The v1.3.0 images have not been pushed to Docker registry so we're getting ` ErrImagePull` error.
https://h

[2022-07-15 13:45] emosbaugh opened #4242 "[BUG] Mount failed Longhorn device assigned to wrong disk"
## Describe the bug

The longhorn device mount fails.

longhorn-csi-plugin log

[code]

It looks like the device `pvc-05cb71ee-1fcd-4ef7-bb72-83ef3e41cc57` got assigned to the wrong disk `sdd`.

[code]

[code]

[code]

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you

[2022-07-15 13:57] innobead commented on #4241
@iosifnicolae2 were you able to upgrade the chart from the rancher marketplace? I think it's about to publish.

[2022-07-15 14:06] iosifnicolae2 commented on #4241
Closing this issue as it will be solved in https://github.com/rancher/image-mirror/pull/250

Thank you!

[2022-07-15 18:32] emosbaugh commented on #4242
Apologies. I think i see the issue here. Ceph is configured to use all disks and claims the disk that longhorn creates. I'll verify and close if that is the case.

[2022-07-15 20:23] Dudoleitor commented on #4187
Hi, I'm having a similar issue.
In my cluster there is no way to have longhorn create backups: a snapshot is created but the backup is not. I tried to manually create a backup for a volume, running a cronjob from kubernetes and even waiting for a recurring job to happen but the result is the same.

In my case the problem appeared after updating the engine image to v1.3.0 from v1.2.4 (could be a co

[2022-07-15 20:24] kclejeune commented on #4187
Yes, I redeployed all of the longhorn resources I could find and so far the issue is persisting.

[2022-07-15 21:30] elton557 commented on #4213
Thanks that worked!

[2022-07-15 23:49] PhanLe1010 opened #4243 "[BACKPORT][v1.3.1][IMPROVEMENT] Longhorn doesn't reuse failed replica on a disk with full allocated space"
ref: https://github.com/longhorn/longhorn/issues/3921

[2022-07-16 12:49] #4242 closed

[2022-07-17 16:10] derekbit commented on #2293
A NFS recovery backend records the client id when a client connects the NFS server, and it will be utilized for the recovery process after the server is crashed and comes back.

Client ID is recorded in a NFS recovery backend when a client connects to the NFS server, and it will be used to recovery the connection after the server crashes and then comes back.

Longhorn share-manager's NFS server us

[2022-07-17 22:51] meustrus opened #4244 "[QUESTION] longhorn-engine failing in k3s with error: "/data/longhorn: Permission denied""
## Question

I'm filing this as a question and not as a bug because this is my first time installing Longhorn so the most likely issue is user error, and I'm expecting I will need to add something to my setup to make it work.

I have installed longhorn by Helm chart in K3S using the Helm chart CRD (and I used Terraform to do it, but that probably isn't important). I have ingress configured and can

[2022-07-18 00:17] yangchiu commented on #4182
**Test results of v1.2.4:**

**(1) without adjusting TIMEOUT**: [8 faltures](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1644/)

After excluding flaky test cases, failed test cases are:

[code]

They are same as v1.3.0 (There's no `test_csi_snapshotter.test_csi_snapshot_snap_create_volume_from_snapshot` test case in v1.2.4)

**(2) Rerun the failed test cases with 16x longer TI

[2022-07-18 00:33] yangchiu commented on #4182
**Test results of v1.3.0 using sc1 cold hdd Max throughput 250 MiB/s:**

**(1) without adjusting TIMEOUT**: [19 failures](https://ci.longhorn.io/job/public/job/v1.3.x/job/v1.3.x-longhorn-tests-sles-amd64/32/)

[code]

(**2) Rerun the failed test cases with 16x longer TIMEOUT multiple times, only the following 2 test cases are always failed**:

https://ci.longhorn.io/job/public/job/v1.3.x/job/v1.3.

[2022-07-18 00:53] yangchiu commented on #4208
Closed since https://bugzilla.suse.com/show_bug.cgi?id=1201261 already fixed.

[2022-07-18 00:53] #4208 closed

[2022-07-18 00:55] derekbit opened #4245 "[BACKPORT][v1.3.x][BUG] After updating longhorn to version 1.3.0, only 1 node had problems and I can't even delete it #4213"
## Describe the bug

https://github.com/longhorn/longhorn/issues/4213

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can gene

[2022-07-18 01:19] mantissahz commented on #4187
@Dudoleitor Could you try to stop the cronjob and remove backup target temporarily then delete this /var/lib/longhorn-backupstore-mounts/nfs-server-redacted/k3s-cluster/longhorn-backup and re-depoly the pods, last add the backup target back and see if this situation happened again?
That would be great if there is the support bundle you could provide.
Thanks.

[2022-07-18 01:59] mantissahz commented on #4244
Hi @meustrus, what does getting pods of longhorn `kubectl -n longhorn-system get pod` show?
Are you running SELinux and firewalld?
Might be related to this [issue 1273](https://github.com/longhorn/longhorn/issues/1273).

[2022-07-18 02:42] meustrus commented on #4244
[code]

I'm not intentionally running SELinux or firewalld inside the k3s VM. I'm taking the default OpenStack release of Debian and using cloud-init to set up users, packages, volume mounts and file permissions, and start k3s. There is a firewall running on the physical host, but that's a layer removed from the network the VMs are actually connecting to.

[2022-07-18 04:43] mantissahz commented on #4244
It seams that all engine-image-ei pods are not ready, what are the output of `kubectl -n longhorn-system describe engine-image-ei-df38d2e5-ghv2c` and `kubectl -n longhorn-system logs engine-image-ei-df38d2e5-ghv2c`?

[2022-07-18 06:01] mantissahz commented on #4194
@sarce666 officially we don't encourage you to create the StorageClass 'longhorn-static' to fit the existing volumes.

[2022-07-18 07:10] innobead commented on #3921
@PhanLe1010 Also need to backport to 1.2.x. Thanks.

[2022-07-18 07:54] innobead opened #4246 "[IMPROVEMENT] Recognize default toleration and node selector to allow Longhorn run on the RKE mixed cluster"
## Is your improvement request related to a feature? Please describe

When users install Longhorn on an RKE mixed cluster with Win nodes, users need to manually update the tolerations and node selector for user deployed components and the default settings for system-managed ones.

However, RKE mixed clusters provisioned by Rancher will have some taint tolerations and node labels for Linux nodes, s

[2022-07-18 07:56] innobead commented on #4246
cc @longhorn/qa

[2022-07-18 11:13] Arsenikki commented on #4236
I was able to resolve the issue and get the BackingImage back to 'ready' state by removing the matching BackingImageDataSource. That seemed to force a redownload of the backing image.

[2022-07-18 18:00] innobead commented on #4246
@c3y1huang if having any questions, check with @PhanLe1010 . He has the whole context. Thanks.

[2022-07-18 22:37] PhanLe1010 commented on #4212
**Workaround:**
Since the volume has only 1 replica in this case, we can:
1. Scale down the workload. Longhorn volume will be detached
2. Wait for Longhorn volume to be detached
3. SSH into the node that has the replica
4. cd into the replica folder (for example, `/longhorn/replicas/pvc-126d40e2-7bff-4679-a310-e444e84df267-1a5dc941`)
5. Change the`Rebuilding` field from `true` to `false` in the fi

[2022-07-18 22:40] PhanLe1010 commented on #4197
Workaround:

1. Scale down the workload
2. Manually reset the `spec.nodeId` to `""` by `kubectl edit volumes.longhorn.io <VOLUME-NAME> -n longhorn-system` to detach the volume
3. Scale up the workload

[2022-07-18 23:10] PhanLe1010 opened #4247 "[BACKPORT][v1.2.5][IMPROVEMENT] Longhorn doesn't reuse failed replica on a disk with full allocated space"
ref: https://github.com/longhorn/longhorn/issues/3921

[2022-07-18 23:53] PhanLe1010 commented on #4227
@yangchiu Could you help me to create a cluster with HDD similar to this test for manual debugging?

Looks like the new PV is never provisioned

[2022-07-19 02:15] cchien816 commented on #4047
Close this ticket and create new one to tracking test result after v1.3.0 release

[2022-07-19 02:15] #4047 closed

[2022-07-19 02:17] cchien816 opened #4248 "[TEST] Verify e2e failed cases on master-head build 190, 1.4.0"
## What's the test to develop? Please describe

Recently failed cases below
https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/190/#showFailuresLink

test_backing_image.test_exporting_backing_image_from_volume
test_ha.test_ha_salvage
test_backing_image.test_ha_salvage_with_backing_image
test_ha.test_engine_crash_for_restore_volume[s3]
test_node.test_disk_

[2022-07-19 02:20] cchien816 commented on #4248
Analzyed

- test_node.test_disk_eviction_with_node_level_soft_anti_affinity_disabled - Issue [4238](https://github.com/longhorn/longhorn/issues/4238)
- test_cloning.test_cloning_interrupted - PR [982](https://github.com/longhorn/longhorn-tests/pull/982)

Ongoing

- test_backing_image.test_exporting_backing_image_from_volume
- test_ha.test_ha_salvage
- test_backing_image.test_ha_salvage_with_backin

[2022-07-19 03:21] jwenjian commented on #4157
After further investigation, it's more like caused by RKE2 / containerd working with SELinux enabled, see https://github.com/containerd/containerd/discussions/7178 for further discussion, thanks for your support.

[2022-07-19 03:29] #4157 closed

[2022-07-19 03:48] yangchiu commented on #4182
**Test results of v1.2.4 using sc1 cold hdd (Max throughput 250 MiB/s)**

**(1) Without adjusting TIMEOUT:** [18 failures](https://ci.longhorn.io/job/public/job/v1.3.x/job/v1.3.x-longhorn-tests-sles-amd64/61/)

**(2) After rerun the failed test cases with longer TIMEOUT multiple times, only the following [3 test cases](https://ci.longhorn.io/job/public/job/v1.3.x/job/v1.3.x-longhorn-tests-sles-amd

[2022-07-19 04:59] innobead opened #4249 "[TASK] Create a cluster provision pipeline for development purpose"
## What's the task? Please describe

Have a pipeline to create/teardown a K8s cluster w/ Longhorn and Rancher installed by leveraging the existing provision tasks in the existing testing pipeline, and also can specify settings to have different capabilities like HDD, Windows node, Longhorn version, Rancher version, other options (arch, etc) provided by the existing pipeline.

This can simplify the

[2022-07-19 05:02] innobead commented on #4047
Thanks @cchien816 👍

[2022-07-19 05:35] hanxinhang commented on #3965
I have the same problem

[2022-07-19 06:26] derekbit opened #4250 "[BUG] Volume detaching and attaching repeatedly while creating multiple snapshots with a same id"
## Describe the bug

Volume detaching and attaching repeatedly while creating multiple snapshots with a same id

## To Reproduce

Steps to reproduce the behavior:
1. Create a RWO volume
2. Create a snapshot via CSI
3. Somehow the external volume snapshot controller repeatedly request multiple snapshot creation with the same snapshot id
4. LH encounters error because the snapshot id is conflict wit

[2022-07-19 06:30] innobead commented on #4250
https://github.com/longhorn/longhorn/issues/3844

cc @PhanLe1010

[2022-07-19 06:56] yangchiu commented on #4182
**Test results of v1.3.0 using volume type st1 (Max throughput 500 MiB/s):**

**(1) Without adjusting TIMEOUT:** [9 faltures](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1653/)

[code]

**(2) Rerun the failed test cases with 16x longer TIMEOUT, all the test cases can pass:** [1 failures](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1657/) except `test_cloni

[2022-07-19 07:00] yangchiu commented on #4182
Test results of v1.3.0 using volume type st1 Throughput Optimized HDD (Max throughput 500 MiB/s): https://github.com/longhorn/longhorn/issues/4182#issuecomment-1188672177
Test results of v1.3.0 using sc1 Cold HDD (Max throughput 250 MiB/s): https://github.com/longhorn/longhorn/issues/4182#issuecomment-1186644095

Test results of v1.2.4 using volume type st1 Throughput Optimized HDD (Max throughput

[2022-07-19 07:00] innobead commented on #4182
Thanks @yangchiu 🙂 !

[2022-07-19 07:01] mantissahz commented on #3753
@a10sbraun we might hit this https://github.com/longhorn/longhorn/issues/4213#issuecomment-1183960066

[2022-07-19 09:56] R-Studio commented on #4129
Unfortunately we are hitting the ext4 inodes limit and without the possibility to configure the inode_ration we are not able to use longhorn. 😢😭
I also changed  the `inode_ratio` in `/etc/mke2fs.conf` (under `[default]`), but no difference. I think longhorn has hardcoded the `inode_ratio`. 😔

[2022-07-19 10:24] tommy04062019 commented on #4245
Same problem. Even cannot uninstall longhorn clusster when having a failed node

[2022-07-19 10:29] derekbit commented on #4245
You can follow the workaround temporarily.
https://github.com/longhorn/longhorn/issues/4213#issuecomment-1182648730

[2022-07-19 10:42] shuo-wu opened #4251 "[BACKPORT][v1.3.x][IMPROVEMENT] Purging a volume before rebuilding starts"
https://github.com/longhorn/longhorn/issues/4183

[2022-07-19 11:06] R-Studio commented on #4129
We could minimize the issue, by using XFS instead of ext4. Maybe this helps someone.

[2022-07-19 11:21] flashflexpro commented on #3109
Just installed longhorn 1.3, and see this:

Any idea how to fix it please?

[2022-07-19 11:28] flashflexpro commented on #3109
reopen?

[2022-07-19 12:55] shuo-wu opened #4252 "[BACKPORT][v1.2.x][IMPROVEMENT] Purging a volume before rebuilding starts"
https://github.com/longhorn/longhorn/issues/4183

[2022-07-19 13:17] R-Studio commented on #3888
@yl-yue what are the outcomes with XFS as file system?

[2022-07-19 13:35] R-Studio commented on #836
This is really **level 1 bug** for us, as @yl-yue says! 😰
Is it somehow possible to fix this bug before release v1.4.0 (v1.4.0 is planned for january 2023😯)?

_Because of this bug we have to use NFS instead of Longhorn for multiple production workloads._ 😢

[2022-07-19 22:17] PhanLe1010 commented on #4227
[code]
THe slow HDD disk might have exposed the ticket https://github.com/longhorn/longhorn/issues/4250#issuecomment-1188652164

[2022-07-19 22:46] meustrus commented on #4244
I found my issue. I had `var/lib/longhorn` mounted with the `noexec` option, which is what was preventing it from running the engine binary. Longhorn appears to be working for me now. Thank you for your help!

[2022-07-19 22:46] #4244 closed

[2022-07-19 23:05] PhanLe1010 commented on #4227
The weird think it that this only happen in the jenkin pipeline test. I couldn't reproduce it using the the env @yangchiu gave me

[2022-07-19 23:09] PhanLe1010 commented on #4250
Yeah, we might want to raise the priority for https://github.com/longhorn/longhorn/issues/3844 because this issue is also causing https://github.com/longhorn/longhorn/issues/4227

[2022-07-20 00:09] PhanLe1010 commented on #4227
Ok, So sometimes the test passed as in this run https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1675/. This is a race condition

[2022-07-20 01:54] joshimoo commented on #3109
@flashflexpro please open a new issue, seems to be different i.e. unix domain socket for csi driver instead of dns issue.

[2022-07-20 01:57] joshimoo commented on #4129
@R-Studio did you try specifying the override for mkfs? then create a new PVC to check if it's correctly applied?
- https://github.com/longhorn/longhorn/issues/4129#issuecomment-1158466458
- https://longhorn.io/docs/1.3.0/references/settings/#custom-mkfsext4-parameters

the mkfs override isn't just for -o, please let us know if that solves your issue?

[2022-07-20 02:11] joshimoo commented on #2293
@derekbit correct implementing our own recovery backend either based on etcd or via an api on longhorn/api server extension, seems like a good idea once we have all the other nfs moving parts working.

You can continue with the CIFS mount for the POC test, to ensure that we addressed all the other issues.

Also based on our slack communication, if you set the UTS namespace (i.e. hostname) before s

[2022-07-20 02:21] PhanLe1010 opened #4253 "[BACKPORT][v1.3.x][BUG] Replica stuck in buggy state with status.currentState is error and the spec.desireState is running"
Ref: https://github.com/longhorn/longhorn/issues/4197

[2022-07-20 02:22] PhanLe1010 opened #4254 "[BACKPORT][v1.2.x][BUG] Replica stuck in buggy state with status.currentState is error and the spec.desireState is running"
Ref: https://github.com/longhorn/longhorn/issues/4197

[2022-07-20 04:35] innobead commented on #4197
@PhanLe1010 Need to backport to 1.3.1 and 1.2.5. Thanks.

[2022-07-20 04:44] innobead commented on #2293
@derekbit for the recover backend, how will it be integrated into ganesah used by our share manager? Is it just an external binary able to hook into the server at runtime or does it need to be statically compiled into the ganesha executable at compile time?

Yeah, agreed with that to use in-cluster resource like etcd_kv you named, but it should be k8s_api backend instead. I don't think we want any

[2022-07-20 05:41] derekbit commented on #2293
@innobead It needs to be compiled into the nfs-ganesha executable at compile time.
The nfs-server is running in the share-mamager pod, so I'm still thinking how to access the in-cluster resource. Any suggestion?

[2022-07-20 07:11] schnapsidee opened #4255 "[BUG] Backup Job returns "Completed" despite running into errors"
## Describe the bug

The Scheduled Backup of one of our volumes fails every time it runs. It always gets to 94/95% and then throws an error.
Some other volumes appear to have this same issue but only sporadically.
The snapshot and backup actually do get created but the backup appears to be corrupted as a restore does not work.
The job returns as succesful/completed in Kubernetes despite returning

[2022-07-20 07:11] cchien816 opened #4256 "[BUG] Backing image is not deleted and recreated correctly"
## Describe the bug

From [e2e](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/191/testReport/junit/tests/test_backing_image/test_exporting_backing_image_from_volume/)

In fresh install environment,  run `test_exporting_backing_image_from_volume` twice, first 1 will pass, but second run will always fail and get `Can't find backing image, may have been

[2022-07-20 07:15] innobead commented on #4256
@cchien816 Is this a feature bug or a test case bug like that the teardown of the test case needs to modify?

[2022-07-20 07:17] cchien816 commented on #4256
I thank its' feature bug because error message `Cannot find backing image bi-test2 during invalid backing image cleanup` showed in longhorn-manager log and affected test case

[2022-07-20 07:45] innobead commented on #4256
@shuo-wu Please check if this is a real issue.

[2022-07-20 07:53] shuo-wu commented on #836
Typically this kind of important feature won't be put into patch releases (v1.3.x) since it may have unpredictable impacts on the stability/robustness.

[2022-07-20 12:22] zhuw0312 opened #4258 "longhorn-manager CrashLoopBackOff"
## kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.3.0/deploy/longhorn.yaml
then
longhorn-system   longhorn-manager-pfpr2                              0/1     CrashLoopBackOff   42 (3m12s ago)   3h13m
longhorn-system   longhorn-manager-xb2fb                              0/1     CrashLoopBackOff   42 (2m34s ago)   3h13m
longhorn-system   longhorn-manager-zzxhf

[2022-07-20 12:43] zhuw0312 commented on #4258
[code]

[2022-07-20 13:31] yangchiu opened #4259 "[TEST] Option for running different versions of Longhorn in the same longhorn-benchmark-test build for comparison"
## What's the test to develop? Please describe

Current longhorn-benchmark-test can only run benchmark test on one specified Longhorn version and then destroy the resources.

To compare the performance of 2 different versions of Longhorn, currently we have to separately run longhorn-benchmark-test twice.
The 1st run would create disk set A and run Longhorn version A based on disk set A and get tes

[2022-07-20 14:08] mantissahz commented on #4258
Hi @zhuw0312 could you please use the newest script [environment_check.sh](https://raw.githubusercontent.com/longhorn/longhorn/master/scripts/environment_check.sh) to check the environment again?

[2022-07-20 14:38] derekbit commented on #4089
After disabling the` multipathd` on arm64 machine, three `longhorn-engine`  integration tests passed.

[2022-07-20 17:33] FredrickB commented on #2151
Can confirm that a similar issue happens if DNS is not responding on the network during the installation and the backup storage is a remote S3 bucket hosted at a cloud provider referenced by domain name. I got the same error and realized my DNS server was down during the installation process. Fixing DNS and reinstalling resolved the issue. Leaving this here for anyone troubleshooting the same erro

[2022-07-20 18:06] innobead commented on #4213
@c3y1huang @derekbit Please provide the test steps to QA. Thanks. cc @cchien816

[2022-07-21 00:04] yangchiu commented on #4227
For reference,
I repeatedly run this test case in [jenkins test pipeline](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/) for 20 times (from #1676 to #1695). It passed 2 times, and failed 18 times.

[2022-07-21 01:06] c3y1huang opened #4260 "[BACKPORT][v1.2.x][IMPROVEMENT] Schedule volumes based on available disk space"
https://github.com/longhorn/longhorn/issues/4185

[2022-07-21 01:09] c3y1huang opened #4261 "[BACKPORT][v1.3.x][IMPROVEMENT] Schedule volumes based on available disk space"
https://github.com/longhorn/longhorn/issues/4185

[2022-07-21 02:03] yangchiu commented on #4169
**Test environment:**

machine: Equinix c3.small.x86
test size: 30G
v1.3.x-head longhorn-engine version: 4b37b4e

**Test Result:**

Bandwidth: KiB/s
Latency: ns

_(1) Replica count = 1_

  |   | IOPS |   | Bandwidth |   | Latency |  
-- | -- | -- | -- | -- | -- | -- | --
  |   | read | write | read | write | read | write
v1.3.0 | rand | 32,164 | 18,584 | 423,947 | 409,271 | 282,990 | 224,490
  | s

[2022-07-21 02:03] #4169 closed

[2022-07-21 03:49] innobead commented on #4200
note: This change will make the volume engine always on a node that has its corresponding replica but rather only focuses on replica count.

@yangchiu We should improve the benchmark pipeline to cover the scenario about volume engine and replica on different nodes as well. You can leverage node taint tolerance or node label selector. Please create a ticket for that. Thanks.

[2022-07-21 03:53] cchien816 commented on #3921
Verified on longhorn-manager `dc17cf`
Result Pass

Steps:
- Create a Longhorn cluster with 3 nodes
- Create 3 volumes such that the total size of 3 volumes is equal to the maximum allocable space
- Attach the volumes, write some data to them
- Reduce the Storage Over Provisioning Percentage setting a bit so that all nodes are un-schedulable due to allocated space being bigger than max allocated sp

[2022-07-21 03:53] #3921 closed

[2022-07-21 05:39] yangchiu commented on #4185
Verified on master-head (longhorn-manager dc17cf4) by the following steps:

(1) Create longhorn cluster with default disk on each node.
(2) Pick a random node A, attach an extra storage which has larger size than the default disk.
(3) Add this extra storage as an additional disk to the node A.
(4) Create and attach a longhorn volume, for the node A, the volume replica is scheduled to the additiona

[2022-07-21 05:39] #4185 closed

[2022-07-21 06:29] cchien816 commented on #4243
**Verified on longhorn v1.3.x dbd99b
Result Pass**

Steps:

- Create a Longhorn cluster with 3 nodes
- Create 3 volumes such that the total size of 3 volumes is equal to the maximum allocable space
- Attach the volumes, write some data to them
- Reduce the Storage Over Provisioning Percentage setting a bit so that all nodes are un-schedulable due to allocated space being bigger than max allocated

[2022-07-21 06:29] #4243 closed

[2022-07-21 06:42] cchien816 commented on #4247
Verified on longhorn v1.2.x `0ed376`
Result Pass

Steps:

- Create a Longhorn cluster with 3 nodes
- Create 3 volumes such that the total size of 3 volumes is equal to the maximum allocable space
- Attach the volumes, write some data to them
- Reduce the Storage Over Provisioning Percentage setting a bit so that all nodes are un-schedulable due to allocated space being bigger than max allocated sp

[2022-07-21 06:42] #4247 closed

[2022-07-21 06:43] ilanni2460 opened #4263 "[FEATURE] longhorn customizes the volume name through Storageclasses"
longhorn customizes the volume name through Storageclasses

[2022-07-21 07:13] cchien816 commented on #4163
**Verified on longhorn v1.2.x head 0ed376
Result Pass
Test [step](https://github.com/longhorn/longhorn/issues/4160#issue-1277807172)**

Upgrade from v1.2.4 to v1.2.x head
Longhorn can successfully upgrade from v1.2.4 to v1.2.x-head when taint-toleration was in longhorn-default-setting, no CrashLookbackOff observed from longhorn-manager

[2022-07-21 07:13] #4163 closed

[2022-07-21 07:25] yangchiu commented on #4261
Verified on v1.3.x-head (longhorn-manager a4b5f37) by the following steps:

(1) Create longhorn cluster with default disk on each node.
(2) Pick a random node A, attach an extra storage which has larger size than the default disk.
(3) Add this extra storage as an additional disk to the node A.
(4) Create and attach a longhorn volume, for the node A, the volume replica is scheduled to the additiona

[2022-07-21 07:25] #4261 closed

[2022-07-21 07:26] yangchiu commented on #4260
Verified on v1.2.x-head (longhorn-manager 7a2b7a5) by the following steps:

(1) Create longhorn cluster with default disk on each node.
(2) Pick a random node A, attach an extra storage which has larger size than the default disk.
(3) Add this extra storage as an additional disk to the node A.
(4) Create and attach a longhorn volume, for the node A, the volume replica is scheduled to the additiona

[2022-07-21 07:26] #4260 closed

[2022-07-21 12:56] derekbit opened #4265 "[BACKPORT][v1.3.1][IMPROVEMENT] Replace the GCC allocator in liblonghorn with a more efficient memory allocator"
## What's the task? Please describe

https://github.com/longhorn/longhorn/issues/4136

[2022-07-21 16:19] Oscar-Campo commented on #1985
Same issue here.

When a node goes down, the new pod is scheduled on another node and it's stuck with the same error above.

Any hints?

[2022-07-21 16:41] tannernt opened #4266 "[BUG] longhorn-ui fails to start on RKE2 with cis-1.6 profile for Longhorn v1.3.0 with helm install"
## Describe the bug

`longhorn-ui` pod fails to start when installing Longhorn v1.3.0 via helm with longhorn/longhorn:1.3.0 on RKE2 with cis-1.6 profile.

## To Reproduce

Steps to reproduce the behavior:
1. Create RKE2 cluster using the steps listed at https://docs.rke2.io/security/hardening_guide/
2. Install Longhorn v1.3.0 with longhorn/longhorn:1.3.0 helm chart
3. Pod for longhorn-ui stuck in

[2022-07-22 00:29] innobead commented on #4266
This is a regression caused by migrating the base image to BCI.

@mantissahz Please help with this first and need to backport to 1.3.1. Thanks.

[2022-07-22 00:31] derekbit opened #4267 "[BACKPORT][v1.3.x][TEST] Unstable flaky engine test test_snapshot_mounted_filesystem"
## Describe the bug

https://github.com/longhorn/longhorn/issues/4089

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can gene

[2022-07-22 00:47] rebeccazzzz commented on #4182
As discussed with @innobead, we need to add the documentation for this issue as well.

[2022-07-22 00:53] innobead commented on #4206
@cchien816 has implemented the automatic engine image build for arm64 about compatibility and upgrade testing. https://github.com/longhorn/longhorn-tests/pull/1012, after that, we can start tracking if the test coverage of arm64 is the same as amd64.

@cchien816 Please help with this. Thanks.

[2022-07-22 01:41] derekbit commented on #4213
I cannot reproduce the issue on my side and just knew the operation was stuck at the node's validating webhook from log.

[2022-07-22 03:51] innobead commented on #4182
The doc is updated for 1.2.4 and 1.3.0 best practices.

[2022-07-22 03:51] #4182 closed

[2022-07-22 03:52] c3y1huang opened #4268 "[BACKPORT][v1.3.x] upgrade: autofill replica storage IP"
https://github.com/longhorn/longhorn-manager/pull/1411
https://github.com/longhorn/longhorn/issues/4213#issuecomment-1184955056

[2022-07-22 03:58] c3y1huang commented on #4213
This one is probably hard to catch since in normal cases the storageIP gets updated even before the fix. @cchien816 suggested we do tests by steps mentioned in this issue.

[2022-07-22 04:02] cchien816 commented on #4213
**Verified on longhorn-manager `dc17cf`
Result Pass**

Scenario 1
1. Install LH master-head with 3 nodes
2. Run command `kubectl delete node <node name>`
3. In LH UI, the node disappeared

Scenario 2
1. Install LH v1.2.4 with 3 nodes
2. Upgrade LH to master-head
3. During upgrade, run command `kubectl delete node <node name>`
4. Observe upgrade completed and the deleted node disappear in Longhorn

[2022-07-22 04:02] #4213 closed

[2022-07-22 04:26] innobead commented on #4136
We can just follow up on the e2e result to see if any outstanding impact for this introduction.

@yangchiu Please verify this by running the benchmark pipeline to compare the result before and after introducing this memory allocator, tcmalloc. Close it afterward. Thanks.

[2022-07-22 06:16] zhuw0312 commented on #4258
tks very much for ur reply.when i tried again,it works.

[2022-07-22 06:30] cchien816 commented on #4245
**Verified on longhorn v1.3.x head `dbd99b`
Result Pass**

Steps

- Install LH v1.3.x head with 3 nodes
- Run command `kubectl delete node <node name>`
- In LH UI, the node disappeared

Additional:
In v1.3.0 after command `kubectl delete node <node name>`, node in UI will be in down state and can not edit.

[2022-07-22 06:40] cchien816 commented on #4268
**Verified on longhorn v1.3.x head `dbd99b`
Result Pass**

Steps

- Install LH v1.2.4 with 3 nodes
- Upgrade LH to v1.3.x head
- During upgrade, run command` kubectl delete node <node name>`
- Observe upgrade completed and the deleted node disappear in Longhorn UI

[2022-07-22 06:40] #4268 closed

[2022-07-22 09:02] chriscchien opened #4271 "[BUG] test_node_eviction_multiple_volume may cause undeletable volume"
## Describe the bug

e2e some times will have cascading [error](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/193/) related to `cleanup_all_volumes`

It may due to test case `test_node_eviction_multiple_volume`. when test case fail, it may create undeletable volume like

![Screenshot from 2022-07-22 16-47-50](https://user-images.githubusercontent.com

[2022-07-22 09:26] innobead commented on #4271
cc @longhorn/qa

[2022-07-22 09:54] w13915984028 commented on #1473
connect with https://github.com/harvester/harvester/issues/2517
Harvester is planning to add logging and alert for all related componenets.

[2022-07-22 10:53] c3y1huang opened #4273 "[BACKPORT][v1.2.x][IMPROVEMENT] Recognize default toleration and node selector to allow Longhorn run on the RKE mixed cluster"
https://github.com/longhorn/longhorn/issues/4246
https://github.com/longhorn/longhorn/pull/4262

[2022-07-22 10:54] c3y1huang opened #4274 "[BACKPORT][v1.3.x][IMPROVEMENT] Recognize default toleration and node selector to allow Longhorn run on the RKE mixed cluster"
https://github.com/longhorn/longhorn/issues/4246
https://github.com/longhorn/longhorn/pull/4262

[2022-07-22 13:16] liyimeng commented on #4136
What about write, any improvement?

[2022-07-22 19:33] luca-heitmann commented on #4189
Hi, I was able to fix my problem by making a change in the Velero CSI plugin ([here](https://github.com/vmware-tanzu/velero-plugin-for-csi/pull/115)). If both annotations are removed when restoring a backup, it also works (Kubernetes reattaches both annotations, Longhorn finds the beta annotation and provision the volume -> all good).

Nevertheless, I think it makes sense that current versions of

[2022-07-22 23:47] alexgorbatchev commented on #1985
I haven't found a good solution.

[2022-07-23 00:45] PhanLe1010 commented on #4197
**Test steps:**

Goal: Make sure that Longhorn retries to attach the volume when the replica failed to start

Steps:

1. Create a volume of 1 replica. Let's say the replica is on node01
1. Artificially simulate the replica launching failure by somehow messing up the engine binary on the host but still make sure that it passes the liveness probe of the engine deamonset
    1. Edit the engine-image-

[2022-07-23 01:01] PhanLe1010 commented on #4263
Can you give more detail about your request/usecase? Do you mean use the Storageclasses to config the PV name?

[2022-07-23 02:01] innobead commented on #4189
Thanks @luca-heitmann . I believe Velero plug-in needs to ensure those annotations removed for the compatibility because the beta annotation is deprecated but not removed yet. Your fix looks good.

For longhorn, we will do the update in the next feature release 1.4.0, so the sidecars will be updated accordingly. Let's keep this issue open.

[2022-07-23 02:18] PhanLe1010 commented on #4255
@schnapsidee Thank you for reporting

In order to help us to investigate, could you send Longhorn support bundle to `longhorn-support-bundle@suse.com`.

Is it correct that the backup name is `backup-dbb8cedbc1b049d9` and volume name is `pvc-e8c4857a-33bd-4de8-9377-e92933f624bb` ?

[2022-07-23 02:21] PhanLe1010 commented on #4255
This error is temporary and trivial

This one is more serious, it means that some how engine of the volume was crashed while backup is happening.

This observation is abnormal and require investigation

[2022-07-23 05:58] simsicon opened #4277 "[QUESTION] How to rescue Faulted volumes"
## Question

After a node crash, I end up with two faulted volumes that can not be attached, they can't be mounted to `/dev/longhorn/`, but the longhorn pods works fine, and the image files looks fine to me.

[code]

I wonder if I can try to `fsck` or somehow repair the filesystem?

## Environment

 - Longhorn version: 1.2.4 (recently upgraded from 1.2.3)
 - Kubernetes version: v1.24.2+k3s2
 - Nod

[2022-07-23 17:47] nickramser commented on #1522
This isn't 100% related to the updating the documentation and this issue, but I thought it was worth mentioning since I came across this issue and #1521 looking for a similar information. I created a separate container which can export longhorn backups out of the system and extract the files from `qcow2` into a `tgz` per volume, https://github.com/nickramser/longhorn-backup.

Someone looking for u

[2022-07-24 04:22] brianclemens opened #4278 "[BUG] Longhorn volume stuck in deleting state"
## Describe the bug

I have a longhorn volume stuck in a "deleting" state , despite there being no references to it other than a volume.longhorn.io and snapshot.longhorn.io object for it. The PV / PVC for it no longer exists.

## To Reproduce

Unfortunately I can't be of help here. This issue occurred after rebooting the entire cluster.

## Expected behavior

The longhorn volume to finish deleting

[2022-07-24 15:52] colliwhopper commented on #4258
didnt work for me:

curl -sSfL https://raw.githubusercontent.com/longhorn/longhorn/v1.3.0/scripts/environment_check.sh | bash
[INFO]  Required dependencies are installed.
[INFO]  Waiting for longhorn-environment-check pods to become ready (0/2)...
[INFO]  All longhorn-environment-check pods are ready (2/2).
Unable to use a TTY - input is not a terminal or the right kind of file
Unable to use a TTY

[2022-07-24 15:53] colliwhopper commented on #4258
then longhorn install fails, manager has a crash loop backoff.

[2022-07-25 00:55] mantissahz commented on #4258
Hi @colliwhopper,
Could you please try again with this commmand `curl -sSfL https://raw.githubusercontent.com/longhorn/longhorn/master/scripts/environment_check.sh | bash`?
`Unable to use a TTY` was fixed at https://github.com/longhorn/longhorn/pull/4226

[2022-07-25 01:01] derekbit commented on #4258
@colliwhopper
Can you also please provide the outputs of
`kubectl -n longhorn-system logs <longhorn-manager manager>`  and
`kubectl -n longhorn-system describe pod <longhorn-manager manager>`?
Thanks.

[2022-07-25 01:25] cchien816 commented on #1961
Close this ticket because now we have private pipeline to build necessary arm64/amd64 test engine images.
Arm64 pipeline have no failure related to engine upgrade test

- Build [181](https://ci.longhorn.io/job/public/job/master/job/sles/job/arm64/job/longhorn-tests-sles-arm64/181/) : 5 failures
- Build [182](https://ci.longhorn.io/job/public/job/master/job/sles/job/arm64/job/longhorn-tests-sles-ar

[2022-07-25 01:25] #1961 closed

[2022-07-25 01:28] cchien816 commented on #3872
Close this ticket. test case passed in recent build

- Build [196](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/196/testReport/tests/test_settings/test_setting_concurrent_rebuild_limit/)
- Build [195](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/195/testReport/tests/test_settings/test_setting_concurre

[2022-07-25 01:28] #3872 closed

[2022-07-25 01:31] cchien816 commented on #4131
Close this ticket because test case passed in recent pipeline

- Build [196](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/196/testReport/tests/test_migration/test_migration_with_failed_replica/)
- Build [195](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/195/testReport/tests/test_migration/test_migrati

[2022-07-25 01:31] #4131 closed

[2022-07-25 01:33] cchien816 commented on #4219
Close ticket because now we have private pipeline to build necessary test engine upgrade images and arm64 pipeline have no failures related to engine upgrade
Build [182](https://ci.longhorn.io/job/public/job/master/job/sles/job/arm64/job/longhorn-tests-sles-arm64/182/)
Build [181](https://ci.longhorn.io/job/public/job/master/job/sles/job/arm64/job/longhorn-tests-sles-arm64/181/)

[2022-07-25 01:33] #4219 closed

[2022-07-25 01:44] cchien816 commented on #4206
After build test images PR build, ARM64 pipeline now have no failures related to engine upgrade
Below are recent test results for reference:

AMD64

- Build [195](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/195/testReport/) - 6 fail, 228 pass
- Build [196](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64

[2022-07-25 01:58] innobead commented on #4206
This is awesome. Let's keep this open until the number of failed cases is down close to 0 for both arches.

[2022-07-25 02:45] derekbit commented on #2293
- The hostname of the share-manager pod is already the pod name and won't be changed after failovering to another node.
- CIFS does not support symbolic link operation, so I replaced it with an external folder as a recovery backend.

Using the test method in https://github.com/ClusterLabs/resource-agents/issues/1644, the io error happened after failover caused by `NFS: __nfs4_reclaim_open_state: L

[2022-07-25 04:08] innobead commented on #4267
Closing, and see if everything works fine in the longhorn-engine PR testing.

[2022-07-25 04:08] #4267 closed

[2022-07-25 04:08] innobead commented on #4089
Closing, see if the longhorn-engine PR testing will work well in the future.

[2022-07-25 04:08] #4089 closed

[2022-07-25 06:00] derekbit commented on #3844
Close and tracked in https://github.com/longhorn/longhorn/issues/4250.

[2022-07-25 06:00] #3844 closed

[2022-07-25 07:17] derekbit opened #4279 "[BACKPORT][v1.3.1][BUG] Volume detaching and attaching repeatedly while creating multiple snapshots with a same id"
## Describe the bug

https://github.com/longhorn/longhorn/issues/4250

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can gene

[2022-07-25 07:18] derekbit opened #4280 "[BACKPORT][v1.2.x][BUG] Volume detaching and attaching repeatedly while creating multiple snapshots with a same id"
## Describe the bug

https://github.com/longhorn/longhorn/issues/4250

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can gene

[2022-07-25 07:53] yangchiu commented on #4197
@PhanLe1010 I Followed the [test steps](https://github.com/longhorn/longhorn/issues/4197#issuecomment-1193023991) to verify this issue, but somehow I'm unable to get the expected result.

Is anything wrong in the following steps?

(1) install longhorn master-head (longhorn-manager 70203d6)
(2) create a volume of replica count = 1, the replica is on node-01
(3) `kubectl edit daemonset engine-image-

[2022-07-25 08:23] KeithTt commented on #1412
@khushboo-rancher Thanks a lot, this doc really help me.

[2022-07-25 09:53] cchien816 commented on #4246
**Verified on longhorn `81a094`
Result Pass**

Steps
1. Deploy Rancher mixed cluster (1 Windows node, 3 Linux node)
2. Download kubeconfig from Rancher in exported to local
3. In local, clone https://github.com/longhorn/longhorn.git, create namespace `longhorn-system`
4. Change `windowsCluster` enable to `true` in chart/values.yaml
[code]
5. Run `helm install longhorn ./longhorn/chart -n longhorn-

[2022-07-25 10:03] cchien816 commented on #4274
**Verified on longhorn v1.3.x head `190717`
Result Pass**

Steps

1. Deploy Rancher mixed cluster (1 Windows node, 3 Linux node)
2. Download kubeconfig from Rancher and exported to local
3. In local, clone https://github.com/longhorn/longhorn.git, switch to branch v1.3.x, create namespace `longhorn-system`
4. Change windowsCluster enable to `true` in chart/values.yaml
[code]
5. Run helm install lo

[2022-07-25 10:03] #4274 closed

[2022-07-25 10:56] cchien816 commented on #4273
HI @c3y1huang ,

I encounter engine image can not deploy issue when test this backport issue
[Steps](https://github.com/longhorn/longhorn/issues/4274#issuecomment-1193841308)

Event log
[code]
[code]

Support bundle
[longhorn-support-bundle_9e128633-594c-481b-aea6-bd8373a2287e_2022-07-25T10-52-39Z.zip](https://github.com/longhorn/longhorn/files/9180435/longhorn-support-bundle_9e128633-594c-481b-ae

[2022-07-25 11:59] c3y1huang commented on #4273
Some notes from the support bundle.
- setting`system-managed-components-node-selector` and `taint-toleration` have empty value.
- `longhorn-default-setting` ConfigMap have correct value for the settings. Not sure why there is `|2-`.
[code]

[2022-07-25 12:56] cchien816 commented on #4273
Retested with fresh environment, but still encounter the same issue, if needed I will recreate environment tomorrow, thank you.

[2022-07-25 13:47] derekbit commented on #2293
Update the work on https://github.com/longhorn/longhorn/issues/2293#issuecomment-1193494986:

`fs_ng` recovery backend stores the client information as the format  `::ffff:${client IPv4}-(31:Linux NFSv4.1 ${node name})`.

My environemt is k3s with flannel CNI.

- When the client and nfs server are on different two nodes, the `${client IPv4}` is the IP address of `flannel.1` interface of the client

[2022-07-25 14:23] mantissahz opened #4281 "[BUG] the IP address is duplicate when using storage network and the second network is contronllerd by ovs-cni."
## Describe the bug

[PR176](https://github.com/longhorn/longhorn-engine/pull/716#issue-1299602110)

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when t

[2022-07-25 15:01] mantissahz opened #4282 "[BACKPORT][v.1.2.x] [BUG] the IP address is duplicate when using storage network and the second network is contronllerd by ovs-cni."
## Describe the bug

[PR176](https://github.com/longhorn/longhorn-engine/pull/716#issue-1299602110)

## To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Perform '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when t

[2022-07-25 15:38] c3y1huang commented on #4273
I am able to reproduce this.

[2022-07-25 15:47] derekbit commented on #4273
I will check the default settings first.
cc @c3y1huang @cchien816

[2022-07-25 15:59] innobead commented on #4238
@cchien816 Is this happening in 1.3.1 code base?

[2022-07-25 16:00] c3y1huang commented on #4273
Note:
I am also seeing `|2-`.
[code]

While the cluster failed to provision with empty setting values,
[code]
I can update the settings `taint-toleration` and `system-managed-components-node-selector` manually
[code]

and the cluster will eventually deploy and run.
[code]

[2022-07-25 16:44] derekbit commented on #4273
The setting CRs synced from longhorn-default-setting configMap works expectedly.
Do you use `v1.2.x-head` images?
cc @c3y1huang @cchien816

[2022-07-25 21:33] kclejeune commented on #4187
@mantissahz I've sent the support bundle - thanks for your patience!

[2022-07-25 22:16] usma0118 commented on #3945
Faced similar issue.

found this thread on kasten k10:
[pre-flight-checks failing](https://community.veeam.com/kasten-k10-support-92/kasten-k10-pre-flight-checks-reports-longhorn-as-not-a-supported-csi-driver-2661)

[2022-07-25 23:16] PhanLe1010 commented on #4197
Thanks @yangchiu for the reporting.

It was a problem in [the test steps](https://github.com/longhorn/longhorn/issues/4197#issuecomment-1193023991). I have updated the test steps. Could you try again?

The problem was the volume has never been attached before. Therefore, the replica.spec.healthyAt field has never been set. As the result, the auto salvage logic doesn't kick it and volume stuck in d

[2022-07-25 23:20] PhanLe1010 commented on #4278
We got the support bundle via email. Thanks

[2022-07-25 23:47] PhanLe1010 commented on #4236
Thanks @Arsenikki for reporting. We will investigate this issue.

In the mean time, if you see the problem again, can you send us a support bundle to `longhorn-support-bundle@rancher.com`

[2022-07-25 23:57] PhanLe1010 commented on #4232
@Mafalda22 Do you still have issue here?
@mantissahz Could you please put the slack link here? Thank you

[2022-07-26 00:56] mantissahz commented on #4232
Sure, here it is https://rancher-users.slack.com/archives/CC2UQM49Y/p1657740361696769
and it hit this issue https://github.com/longhorn/longhorn/issues/2319.
@Mafalda22 I think the issue had bean solved, WDYT?

[2022-07-26 01:54] cchien816 commented on #4273
**Verified on v1.2.x-head `c9161b`
Result Pass**

Steps

1. Deploy Rancher mixed cluster (1 Windows node, 3 Linux node)
2. Download kubeconfig from Rancher and exported to local
3. In local, clone https://github.com/longhorn/longhorn.git, switch to branch v1.2.x, create namespace longhorn-system
4. Change windowsCluster enable to true in chart/values.yaml
[code]
5. Use v1.2.x head images by modify

[2022-07-26 01:54] #4273 closed

[2022-07-26 01:54] joshimoo commented on #2293
@derekbit great job on the investigation and testing :)
I wonder though if the connection was via `cni0` before the failure, what happens to the connection after the failover?
Since it would need to reroute via `flannel.1` does the nfs client by default have the appropriate retry logic for this?

[2022-07-26 02:01] joshimoo commented on #2293
@derekbit while working on this, can you also update the underlying ganesha version :)
It's a good way to get comfortable with it, there is a custom patch applied to it.
https://github.com/longhorn/nfs-ganesha/commit/1c27c2b8667b849c0b1b1d8fb718a736ddec393f

The patch changes just a little bit with the newer versions, let me know if you have issues with that.
Afterwards need to create a new releas

[2022-07-26 02:03] derekbit commented on #2293
No problem. My nfs-ganesha is based on https://github.com/longhorn/nfs-ganesha/commit/1c27c2b8667b849c0b1b1d8fb718a736ddec393f.

[2022-07-26 02:16] derekbit commented on #2293
@joshimoo

IIUC, if the client and the server on the same node, the reroute via `flannel.1` is not required, so the server will record the client using the `cni0` IP. The route path is `client->cni0->server`.

However, if they are on different nodes, the reroute is inevitable, and the `flannedl.1` is recorded. The route path becomes `client->cni0->flannel.1->server`.

If the server goes to the cli

[2022-07-26 02:20] yangchiu commented on #4136
**Test environment:**

machine: AWS c5d.2xlarge
test size: 80G
master-head longhorn-manager version: 70203d6

**Test Result:**

Bandwidth: KiB/s
Latency: ns

_(1) Replica count = 1_

  |   | IOPS |   | Bandwidth |   | Latency |  
-- | -- | -- | -- | -- | -- | -- | --
  |   | read | write | read | write | read | write
v1.3.0 | rand | 22,606 | 16,282 | 362,226 | 161,778 | 353,714 | 303,726
  | seq |

[2022-07-26 02:20] #4136 closed

[2022-07-26 02:49] yangchiu commented on #4197
Verified passed on master-head (longhorn-manager 70203d6) by following [the test steps](https://github.com/longhorn/longhorn/issues/4197#issuecomment-1193023991).

[2022-07-26 02:49] #4197 closed

[2022-07-26 03:01] yangchiu commented on #4254
Verified passed on v1.2.x-head (longhorn-manager 5917653) by following https://github.com/longhorn/longhorn/issues/4197#issuecomment-1193023991.

[2022-07-26 03:01] #4254 closed

[2022-07-26 05:51] smallteeths opened #4283 "[BUG] build longhorn-ui image error"
## Describe the bug

build longhorn-ui image error

## To Reproduce

Steps to reproduce the behavior:
1. git clone  longhorn-ui
2. make

<img width="1220" alt="截屏2022-07-26 下午1 47 41" src="https://user-images.githubusercontent.com/27733391/180932832-a9869748-24f4-4b4b-a397-55aa1123831c.png">

## Expected behavior

Build success

[2022-07-26 05:54] innobead commented on #4283
cc @mantissahz

[2022-07-26 05:57] Martin-Weiss commented on #4210
In case this helps for „delta-sync“ of data - this would be a really important feature! Especially in the area of Harvester it is really important to get a journal / delta-sync added! In the case of Harvester we have volumes with several hundreds of GB and we have node capacity of 4, 8 or more TB of data - and full re-replication of such an amount of data during node failures / maintenance / data-

[2022-07-26 05:58] mantissahz commented on #4283
Yeah, that's what I encountered.

[2022-07-26 06:35] cchien816 commented on #4238
Yes, using v1.3.x head images to run test case, failed at the same step

[2022-07-26 06:51] innobead commented on #4238
@c3y1huang Could you help with this? This is a regression for 1.3.1. Thanks.

[2022-07-26 08:12] yangchiu commented on #4265
**Test environment:**

machine: AWS c5d.2xlarge
test size: 80G
v1.3.x-head longhorn-manager version: 57c20a3

**Test Result:**

https://ci.longhorn.io/job/private/job/longhorn-benchmark-test/16/console

Bandwidth: KiB/s
Latency: ns

_(1) Replica count = 1_

  |   | IOPS |   | Bandwidth |   | Latency |  
-- | -- | -- | -- | -- | -- | -- | --
  |   | read | write | read | write | read | write
v1.3.0