[2020-11-17 20:52] htwalid commented on #1842
@yasker thank you for your support . bellow some lines from logs of pod's longhorn manager
`10.42.2.9 - - [16/Nov/2020:22:38:57 +0000] "GET /v1/volumes/pvc-14f085bf-3125-4665-80b4-0fcbbb9eb0b1 HTTP/1.1" 200 3168 "" "Go-http-client/1.1"
time="2020-11-16T22:38:57Z" level=warning msg="Starts to clean up then recreates pod for instance manager instance-manager-e-a460822f with state stopped"
time="2020

[2020-11-17 21:36] meldafrawi commented on #1920
Validation: **PASSED**

[2020-11-17 21:36] #1920 closed

[2020-11-17 21:49] khushboo-rancher commented on #1269
I tried with ASG and observed that on instance refresh in ASG, the EBS volume also gets created with ec2 instances and doesn't use the same EBS volumes.

@all4innov Could you please provide the details of your set up and how ec2 uses the same EBS on instance refresh in ASG?

The steps I took are as below.
Scenario -1
1. Created a launch template in AWS and configured root EBS volume and additional

[2020-11-17 22:05] PhanLe1010 commented on #1874
**Test Steps:**
1. Go to the Longhorn UI
1. Set a toleration like `node-role.kubernetes.io/controlplane=true:NoSchedule`, try to save changes
1. Verify that Longhorn applies the toleration to components.
1. Manually add `test.kubernetes.io/test=true:NoSchedule` to any deployment/daemonset in Longhorn system.
1. Go to the Longhorn UI
1. Set a toleration like `key1:val1=true:NoSchedule`, try to save

[2020-11-17 23:26] flokli commented on #1984
Not sure I understand. If I don't want to use the iSCSI frontend from https://longhorn.io/docs/0.8.0/install/iscsi/, do I still need the iscsi packages?

[2020-11-17 23:48] yasker commented on #1984
Yes, you need. It's required for using Longhorn with Kubernetes. See https://longhorn.io/docs/0.8.0/install/requirements/

[2020-11-18 00:04] flokli commented on #1984
That doesn't reply to my question :-) Does longhorn make use of any of the icsci packages if I don't use the iSCSI frontend?

[2020-11-18 00:23] davidsbond commented on #1993
Discovered the issue was due to how my CRDs were set up, I had removed the:

[code]

At the bottom, as the k8s plugin for my IDE told me it didn't do anything and greyed it out. Including it allowed things to start being created. Looked at the docs, and it does seem to be more important than my IDE let on:

[2020-11-18 00:23] #1993 closed

[2020-11-18 01:22] yasker commented on #1993
Thanks for the update @davidsbond . I would never think an IDE will do this kind of change automatically..

[2020-11-18 01:24] yasker commented on #1984
As I said, yes, you need. The open-iscsi package is required if you want to use Longhorn with Kubernetes, even you don't want to use `iscsi` frontend. Since `blockdev` frontend depends on it.

[2020-11-18 02:00] PhanLe1010 commented on #1977
Thanks @takuhiro ! You are right!

https://github.com/longhorn/longhorn-manager/blob/00f8d97faccf54518b8cd90f09260aaf695447f6/util/util.go#L707

We are fixing this bug.
Thank you for reporting.

[2020-11-18 02:06] PhanLe1010 commented on #1977
**Test Steps:**
Follow the reproduce step at https://github.com/longhorn/longhorn/issues/1977#issue-741403375
Verify that there are 2 tolerations `example.com/foobar:NoExecute;example.com/foobar:NoSchedule` in every Longhorn components.

[2020-11-18 07:37] SoutisV commented on #1470
With the current nfs-provisioner it takes around 90sec for the failover. Would be supported in v1.1.0 a HA setup for RWX?

[2020-11-18 08:00] all4innov commented on #1269
@khushboo-rancher similar to the last 2 lines, a script (based on cloud-init) where at boot of each new instance there is a check of available pre-provisioned EBS volumes (created as a seperate step from ASG) to attach and mount one that is available or detached from an older/terminated instance.

[2020-11-18 10:38] davidsbond commented on #1993
@yasker It didn't, I actually removed it myself when converting the single YAML file into separate manifests for kustomize. So it was user error!

I think my k8s plugin has confused the `status` key for those in normal manifests which is only set on resources once they're applied.

![Screenshot from 2020-11-18 10-37-09](https://user-images.githubusercontent.com/6227720/99519664-10433e00-298a-11eb-

[2020-11-18 11:10] flokli commented on #1984
Can you point me to the exact binaries that are invoked? I tried digging into `longhorn-manager`, but could only find some `mkfs` and `mount` invocations there, and in `vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux.go`.

[2020-11-18 11:31] unixfox opened #1997 "[FEATURE] Support for ARMv7 Architecture"
**Is your feature request related to a problem? Please describe.**
ARMv8/ARM64 support was added in https://github.com/longhorn/longhorn/issues/6 but a lot of capable ARM devices are still in ARMv7.
An example is the Odroid HC2 which has a quite powerful CPU, 2GB of RAM and a SATA connector: https://www.hardkernel.com/shop/odroid-hc2-home-cloud-two/. A perfect device for running a replicated longh

[2020-11-18 12:02] shuo-wu commented on #1691
Minimal CPU usage test:
1. Use image 1shuowu/longhorn-manager:8af120dd-dirty1 to deploy Longhorn, which can set CPU limits for engine manager pods or replica manager pods.
2. Make sure the request CPU resource is much smaller than the limit. (set to `0.001`)
3. Attach and mount volumes. Then run
[code]
4. Check manager log. And monitor CPU usage via `kubectl -n longhorn-system top pods`

For each

[2020-11-18 16:14] yasker commented on #1991
You might need to set security context to change the permission of folders in the mount, see https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

But also it worth considering running postgres as root since it's already inside a container.

[2020-11-18 17:47] chaets opened #1998 "[QUESTION] Data is not persisting when redeployed and attached with same PV and PVCs"
Hi everyone
I have deployed Longhorn 1.02 with Rancher 2.5.2,
I problem I am stating is when I am redeploying and attaching with the same PV and PVC the data is not persisting, means all the older data before redeployment is lost, Any clue, what I am doing wrong?

Longorn PV and PVC state in Longhorn UI
[code]
Storage Class

[code]

These are the deployment, service and PVC yaml files,
[code]
as w

[2020-11-18 19:42] sankarshvittal commented on #1987
@yasker Thanks a lot for the suggestion. Found through the longhorn-manager logs that the problem was with the iscsi-initiator-utils package. Uninstalling and then installing the package back on the nodes did the trick for me. It's working fine now. Thanks!

[2020-11-18 19:43] #1987 closed

[2020-11-18 19:46] khushboo-rancher commented on #1269
@all4innov In this case, to use this feature in Longhorn v1.1.0, you will have to adjust ```Replica Replenishment Wait Interval``` depending on how fast you're adding those disks in Longhorn.
By default ```Replica Replenishment Wait Interval``` is 600 secs, so Longhorn will try to use the existing replica till 600 sec and if couldn't find it, Longhorn will rebuild a new replica.

[2020-11-18 19:57] all4innov commented on #1269
@khushboo-rancher sounds perfect and great having the flexibility with `Replica Replenishment Wait Interval` as it's related to the ASG process and disk attachment process (e.g., AWS or OnPrem environment)
Just another point: In case of longhorn started rebuilding the replicas and just few seconds later the disk was attached, it will be nuked ? Replicas integrated and taken into account ?
What is

[2020-11-18 21:37] khushboo-rancher opened #1999 "[BUG] Volume stuck in attaching state if one of the replica location can't be found on scaling up a pod."
**Describe the bug**
 Volume stuck in attaching state if one of the replica location can't be found on scaling up a pod.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn on a cluster of 4 nodes (1 etcd/control plane, 3 workers)
2. Mount an additional disk on node-1 and add that disk in longhorn.
3. Disable the default disk on node-1.
3. Create a volume (3 replicas), attach it

[2020-11-18 21:43] meldafrawi commented on #1813
Validation:
1. install using yaml : **PASSED**

2. install using helm chart : waiting for PR:https://github.com/longhorn/longhorn/pull/1971 to be reviewed and merged.

[2020-11-18 22:17] meldafrawi commented on #1974
Validation: **PASSED**
tests  `test_ha_salvage` & `test_salvage_auto_crash_all_replicas` are passing for the past 5 nightly test runs

[2020-11-18 22:17] #1974 closed

[2020-11-18 23:09] yasker commented on #1269
@all4innov If Longhorn already decides to rebuild a new replica, it will not stop the ongoing replica rebuild process even the old replica comes back a few seconds later.

[2020-11-18 23:15] yasker commented on #1691
Good work @shuo-wu !

Can you check if we can safely claim 30m CPU per engine/replica even there are more engines/replicas on the node? I want to see if the minimal requirement holds. Pay attention to the potential IO bandwidth limitation on the disk or network when you're testing with more engines and replicas.

Also, pay attention to the volume attached node's `dmesg`. There are might be recover

[2020-11-18 23:20] yasker commented on #1984
You can check https://github.com/longhorn/go-iscsi-helper/search?q=iscsiadm . And here is the code we use to start the frontend (expose the block device) https://github.com/longhorn/longhorn-engine/blob/9d21b822ecec363320d94091fd314bb36721eb42/pkg/frontend/tgt/frontend.go .

iSCSI related operation is a part of Longhorn Engine (who is the data plane), rather than Longhorn Manager (who is the manag

[2020-11-18 23:22] yasker commented on #1470
@SoutisV Unfortunately it's not going to be HA RWX. It's very hard to do zero downtime HA RWX with Longhorn which is designed to be a distributed block storage system instead of a distributed filesystem.

[2020-11-18 23:27] yasker commented on #1017
@cr0 Can you attach or send us a support bundle? Is there anything that happened before the incident? We haven't seen it in any other places than RancherOS.

[2020-11-19 00:04] khushboo-rancher commented on #1269
Validation - **Pass** with longhorn-master ```11/18/2020``` image.

Apart from https://github.com/longhorn/longhorn/issues/1269#issuecomment-728738178 below scenarios also passed.

Scenario 1 - ASG set up with a script to migrate existing EBS volume. Trigger rolling update with **volume detached**.
1. Create an Autoscaling group in AWS with user data to migrate EBS volume on the creation of new in

[2020-11-19 00:04] #1269 closed

[2020-11-19 00:06] yasker commented on #1983
I am trying to understand why we need to be concern about the internal traffic originated from the cluster. Longhorn UI is exposed as a service by default, which is bound to the RBAC. If the user doesn't have the access to the service and namespace, then they won't able to access the UI or backend API. So it seems RBAC should be sufficient?

[2020-11-19 00:08] yasker commented on #1985
My guess is the volume wasn't completed detached when the statefulset was deleted before recreate. Does it heal it self? The workaround would be scale down the statefulset again, wait for the volume to detach, then scale it back up. If it doesn't detach and you're sure there isn't any other user of the volume, you can detach it from UI. But if that happens, it's a bug.

Which version of Longhorn a

[2020-11-19 00:10] yasker commented on #1756
@timmy59100 Can you check how many engines and replicas are there on each node? Only need to count the attached ones. You can find the replicas on the node page. For engines, you can check it through the Volume Overview page and filter by the attached node name.

[2020-11-19 01:31] khushboo-rancher commented on #1832
Verified with longhorn-master - 11/18/2020

Validation - **Pass**

The below metrics are available and shows correct data:
1. longhorn_node_storage_capacity_bytes
2. longhorn_node_storage_usage_bytes
3. longhorn_node_storage_reservation_bytes
4. longhorn_disk_capacity_bytes
5. longhorn_disk_usage_bytes
6. longhorn_disk_reservation_bytes

However, the ```longhorn_disk_reservation_bytes``` and ```lo

[2020-11-19 01:31] #1832 closed

[2020-11-19 01:35] hillbun commented on #1985
longhorn v1.0.2
Kubernetes v1.17.9

This error often happened when host resouce CPU, memery high.

How to confirm pvc is complely detach by kubectl command?

[2020-11-19 01:44] yasker commented on #1985
`kubectl -n longhorn-system get lhv <volume-name>` and then check for `status.state`.

[2020-11-19 01:58] hillbun commented on #1985
Can not see status

[code]

[2020-11-19 02:08] yasker commented on #1985
Need to add `-o yaml`, so `kubectl -n longhorn-system get lhv <volume-name> -o yaml`

[2020-11-19 03:19] Raboldar opened #2000 "[BUG] NFS - Provisioning : persistentvolume-controller storageclass.storage.k8s.io "longhorn" not found"
I was trying to create a NFS provisioner for my Kubernetes Cluster to use for backups.

I followed the example set at : https://longhorn.io/docs/1.0.2/advanced-resources/rwx-workloads/
After applying the 01-security.yaml I changed the ClusterIP in the deployment file of the 02-longhorn-nfs-provisioner.yaml and changed the size of my VolumeClaim to 25G. The pod longhorn-nfs-provisioner was hanging

[2020-11-19 11:27] samene commented on #1991
Looks like the issue is related to https://github.com/istio/istio/issues/26882
I verified that istio is overwriting the fsGroup to 1337 (istios internal user) at the pod level which is causing the wrong permission.

[2020-11-19 11:48] shuo-wu commented on #1988
Custom Resource (CR) instance manager (e.g., `instance-manager-r-54eb0aeb`) somehow cannot be updated then some volume replicas cannot be set to `running` based on instance manager status. Here is the related logs in longhorn-manager `longhorn-manager-5hd42`:
[code]
[code]

According to the issue reported [here](https://github.com/kubernetes/kubernetes/issues/82130#issuecomment-527665796). It's li

[2020-11-19 12:19] dcplaya commented on #1988
After staring at the logs long enough and doing enough Google searching, I ran the command located in #1801 on one of my `esphome` replicas that was stuck `detaching`. Once that completed and that replica was removed, everything took off and started to either properly attach or create replicas. The whole process was being held up by 1 task it seems.

[2020-11-19 12:22] timmy59100 commented on #1756
@yasker
Just had another incident where the volumes failed.
Node01: 10 replicas + 2 failed, 7 engines
Node02: 11 replicas + 2 failed, 1 engine
Node03:   9 replicas + 0 failed, 7 engines

[2020-11-19 15:44] timmy59100 commented on #1756
@yasker on this cluster we have only one etcd/controlplane node
On the other where we don't have the problem we have 3.

In https://github.com/longhorn/longhorn/issues/1475#issuecomment-641462673 you explained longhorn uses etcd to store metadata.

Could that be an issue?

[2020-11-19 16:46] yasker commented on #1756
@timmy59100 It's probably not etcd.

How many CPUs you have for each node? And what's the CPU utilization when the issue happened? You mentioned you have a total of 4 replicas failures, so where do those volumes attach to?

We can try reserving more CPUs for Longhorn on the nodes in the setting `GuaranteedEngineCPU`, but it will require all the volumes to be detached before setting it(since it wil

[2020-11-19 17:10] yasker commented on #1988
@dcplaya Glad that you worked around it. We still need to understand how this happened and make sure it won't be an issue for Longhorn future releases.

[2020-11-19 17:10] dbpolito opened #2001 "[BUG] All node volumes gone"
Not sure it's actually a bug or expected...

**Describe the bug**

Today all my volumes of one node suddenly disappeared... i had this node almost full so i disabled `Node Scheduled` a few days ago so new volumes would go to other nodes.

Today my node was `Disabled` with `0 Volumes` and `0% allocated`, it was `30 Volumes` and `90% allocated` before.

The replicas worked an i just enabled this nod

[2020-11-19 17:13] yasker commented on #2001
@dbpolito It sounds like the disk on that node was removed or replaced, or cleaned up. If you take a look at why the disk was `disabled`, it will probably tell you the disk has been changed. Can you check the Longhorn manager log on that node to see if it's the case?

[2020-11-19 17:20] yasker commented on #2000
@joshimoo any ideas?

[2020-11-19 17:28] dbpolito commented on #2001
Well i disabled the `Node Scheduling` myself, the disk itself wasn't removed or replaced as far as i can tell, it has default configuration:

<img width="873" alt="image" src="https://user-images.githubusercontent.com/347400/99701155-d5690500-2a72-11eb-9c0e-af77baebd3e6.png">

It's mounted on the root EBS of the EC2 node, no events on node.

<img width="1606" alt="image" src="https://user-images.g

[2020-11-19 18:17] yasker commented on #2001
The root EBS volume? Is it possible EKS trying to upgrade the node OS so the disk was cleaned up as a side effect? How long has the manager pods (and other pods) been running on the node? Might need a support bundle to look into it.

[2020-11-19 19:36] khushboo-rancher commented on #1995
Verified on longhorn-ui ```f91466b``` - 11/19/2020

Validation - **Passed**

Replica count is shown against the disk now and on clicking them a screen opens up and shows the replica details.
<img width="1399" alt="Screen Shot 2020-11-19 at 11 33 17 AM" src="https://user-images.githubusercontent.com/60111667/99715239-6df38b00-2a5b-11eb-81ce-33b1338b9e3b.png">

[2020-11-19 19:36] #1995 closed

[2020-11-19 19:38] khushboo-rancher commented on #1994
Verified on longhorn-ui ```f91466b``` - 11/19/2020

Validation - **Passed**

<img width="884" alt="Screen Shot 2020-11-19 at 11 36 58 AM" src="https://user-images.githubusercontent.com/60111667/99715455-c32f9c80-2a5b-11eb-9a5e-90f5b4ed1fc5.png">

[2020-11-19 19:38] #1994 closed

[2020-11-19 19:42] timmy59100 commented on #1756
@yasker we have 4 CPUs per Node at the moment.
So 3 vcpus would be a bit much.

On a second Cluster we have 5 nodes same ressources ,but a few volumes more. Here we dont have the problem.

[2020-11-19 20:08] joshimoo commented on #2000
@Raboldar
Your change is incorrect and unnecessary, the longhorn-nfs-provisioner volume needs to be a regular longhorn volume.

looks like you are missing the longhorn storage class?
`Warning  ProvisioningFailed  108s (x42 over 11m)  persistentvolume-controller  storageclass.storage.k8s.io "longhorn" not found`

What does `kubectl get storageclasses` look like.
example output:
[code]

[2020-11-19 20:11] khushboo-rancher commented on #1796
Verified with longhorn-master ```11/19/2020```

Validation - **Passed**

The recurring job gets triggered on different nodes randomly.

[2020-11-19 20:11] #1796 closed

[2020-11-19 21:02] Raboldar commented on #2000
You are right, it was missing. I had deleted it and created a different one.
So to test the feature I create a new longhorn StorageClass:
[code]
After which I applied the deployment file :
[code]
Which results in the creation of the following :
[code]
I checked the deployed Pod :
[code]
I checked the longhorn interface and I have 163 Gb Schedulable storage. I took a look at the created PVC and it

[2020-11-19 21:11] meldafrawi commented on #1948
**Observations:**

Cluster specs:
1 controlplane node  (4 vCPUs / 8 GB /160 GB)
3 worker nodes  (4 vCPUs / 8 GB /160 GB)

**Rebuilding replica with 10 GB of data**
- Longhorn v1.0.2: 5 min, 47 seconds
- Longhorn master: 5 min, 27 seconds

**Rebuilding replica with 16 GB of data**
- Longhorn v1.0.2:  15 min, 7 seconds
- Longhorn master: 12 min, 27 seconds

[2020-11-19 21:34] khushboo-rancher opened #2002 "[FEATURE] Move recurring jobs functionality to longhorn-manager"
**Is your feature request related to a problem? Please describe.**
Instead of triggering recurring backup/snapshot jobs via cron job, move the functionality to longhorn-manager so that recurring jobs are triggered without the cron job.

https://github.com/longhorn/longhorn/issues/1796#issuecomment-706409328

[2020-11-19 22:02] unacceptable opened #2003 "Feature Request - PVC usage option instead of host storage"
Use cases
-----------
- Volatile environments where all nodes might be lost (like environments that use spot ec2 instances)
- Environments that are only up for a few hours a day (like dev or qa)

Why would I still want to use longhorn in the situations instead of cloud provided solutions
------------------------------------------------------------------------------------------
- Longhorn could all

[2020-11-19 22:07] unacceptable commented on #2003
Looking at the helm chart it looks like this would be easy to implement.  I will experiment around with this when I have time and see about putting in a PR if no one else beats me to it. 🙂

[2020-11-19 22:08] joshimoo commented on #2000
@Raboldar I am assuming you deployed the default longhorn storage class which requires 3 replicas with hard anti affinity (i.e. 3 worker nodes)

Do you have 3 worker nodes available? if not set the replica count of your customer storage class to your worker count.
You can then use your custom storage class, for the nfs-provisioner by replacing the reference to the longhorn storage class above.

[2020-11-19 23:17] khushboo-rancher commented on #1779
Verified with longhorn-master ```11/19/2020```

Validation - **Pass**

Longhorn v1.0.0 can be installed in a set up where longhorn v1.0.2 was installed and deleted. The `lease` object `longhorn-manager-upgrade-lock` is getting removed on uninstallation.

[2020-11-19 23:17] #1779 closed

[2020-11-19 23:25] khushboo-rancher opened #2004 "[BUG] Few services don't get deleted on uninstalling longhorn using rancher app"
**Describe the bug**
Few services don't get deleted on uninstalling longhorn using rancher app

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy longhorn v1.0.2 in a cluster using rancher v2.4.9
2. Uninstall longhorn by removing the app.
3. Check the service in longhorn-system namespace

[code]

**Expected behavior**
All the components should be deleted.

**Environment:**
 - Longhorn ve

[2020-11-19 23:53] yasker commented on #1756
@timmy59100 OK, is it possible to try set GuaranteedEngineCPU to 500m? Also, I guess even the replica failed on node 2, the volumes with failed replicas are probably attached to node 1 or 3 instead of node 2.

Regarding the second cluster, are they in the same data center? running a similar workload? How is the CPU utilization look like on the second cluster? It might be some workload on certain n

[2020-11-19 23:57] yasker commented on #2003
@unacceptable Longhorn's RWX is an upcoming feature and it won't be a full HA solution like EFS. Longhorn's main use case is still RWO.

Also, it's in fact not easy to implement local storage via PVC. The problem is Longhorn dynamically detects the disks (including available spaces etc), but Kubernetes cannot dynamically attach PVC to a running Pod. To make PVC useful similar to the way as host di

[2020-11-20 00:00] Raboldar commented on #2000
I did have 4 Worker Nodes that were available at the moment. Strangely it took a while but it ended up scheduling the volume (took around 15 mins), I don't know what slowed down the process. So if I understand correctly each time that the cluster would need a RWX volume it would create a claim that would use the nfs-longhorn StorageClass ? Is there a scenario where we need to use the nfs-longhorn-

[2020-11-20 00:02] dcplaya commented on #1988
It seems like longhorn tried to rebuild a replica and then that node got lost (ie, reboot) and then it just kind of hung out for a bit.

I also noticed someone submitted bug #1999, which seems semi-related. (Could be completely independent)

I am happy to provide as much info as I can though, just let me know what is needed!

[2020-11-20 00:35] harshavardhana commented on #1887
The latest release now has support for multiarch manifests

[2020-11-20 06:40] chendo commented on #1838
FWIW, I just deployed 1.0.2 with the 1.0.201 helm chart and it appears the longhorn workloads do have the `priorityClassName` on the pods as expected.

[2020-11-20 09:28] venomone opened #2005 "[Question] What if I allocate more space at a PVC than a single node has?"
Hey Folks,

can smb. tell me if its possible to allocate more space at a pvc than a single node of my long-horn cluster has?
For example, i got 3 nodes, each with a 200gb block devices for long-horn to store Data. Now I have a container where my PVC claim is 450GB which would not fit onto a single node as each node has as already mentioned just 200GB of Storage available. Does such a scenario work

[2020-11-20 12:16] joshimoo commented on #2000
@Raboldar
Correct RWX volumes will need to be created against the longhorn-nfs storage class.
You can change the name of that class as long as you copy the parameters, have a look here for an explanation of what needs to be changed if you plan on running multiple provisioners.
https://longhorn.io/docs/1.0.2/advanced-resources/rwx-workloads/#multiple-rwx-workloads

I don't understand the last quest

[2020-11-20 16:11] michaelandrepearce commented on #1965
@yasker can you put a label on this so it doesnt auto close (i assume like other open source repos e.g. k8s theres an auto close if in active bot enabled)

[2020-11-20 16:32] #1784 closed

[2020-11-20 18:09] Blackclaws commented on #1983
Cluster internal traffic is a concern in case a pod gets compromised/you use your cluster for development/CI workloads. In any production system that is open to the internet compromise is a potential threat that needs to be mitigated. While I agree that a network policy is probably the "real" way to go about this, some sort of authentication scheme that would disallow just anything with the abilit

[2020-11-20 18:14] yasker commented on #1965
Sure. I've added `enhancement` label so this issue won't be auto closed.

[2020-11-20 19:47] unacceptable commented on #2003
@yasker Thanks for replying back.

I understand the RWX is scheduled for the 1.1 release milestone (and I am super excited to get my hands on that when it's available).  I believe that this RWO functionality as I described it is possible via the helm chart today with some chart modifications (I just wouldn't be protected against an availability zone becoming unresponsive until 1.1).

Dynamic PVCs

[2020-11-20 20:45] khushboo-rancher commented on #1653
Verified with longhorn-master - `11/20/2020`

Validation - **Pass**

The uninstallation time has reduced to about 60 sec in compare to v1.0.2 uninstallation.
I don't see the repeated logs for instance managers but see them for engineimages.
[code]

[2020-11-20 21:42] meldafrawi commented on #1642
Validation: **PASSED**

validated with yaml manifest, and helm chart using https://github.com/longhorn/longhorn/pull/1971

[2020-11-20 21:47] #1642 closed

[2020-11-20 22:49] yasker commented on #1653
Engine images log are fine since daemonset indeed took a while to be deleted.

[2020-11-20 22:51] yasker commented on #1800
This reminds me we need to have a story around how to use Longhorn with managed Kubernetes services.

Use root disk won't be a good idea because they will get nuked during node upgrade.

One thing we need to investigate is how can users attach additional disks and use them for Longhorn in the managed Kubernetes services, like EKS, GKE, AKS.

[2020-11-20 23:26] PhanLe1010 commented on #1989
This is due to the fact that the final output, `test.raw`, is a sparse file. It has the actual size of 815Mb and the total size of 8Gb. When `qemu-img convert` writes `test.raw` to `/scratch` directory, the `ext4` filesystem understands sparse file and skips writing the zero holes. However, When `qemu-img convert` writes `test.raw` to `/dev/cdi-block-volume`, it tries to write the full 8Gb of data

[2020-11-20 23:38] yasker commented on #1887
Thanks @harshavardhana . That's a great update.

@meldafrawi Can we switch to use the official MinIO images? Once we verify it works well, we can mark https://github.com/longhorn/minio-multiarch-image as obsolete.

[2020-11-21 01:08] Raboldar commented on #2000
Sure, I'm sorry, this is no longer a bug related question but I was wondering if there's a scenario where we actually use the defined provisioner service or it's just an internal component used by the NFS longhorn system. (I was talking about the "02-longhorn-nfs-provisioner.yaml"). Supposing I need a NFS provisioner in my cluster, can I use the provisioner service with a different Storage Class ?

[2020-11-21 01:57] yasker commented on #1989
We will re-introduce the base image feature for Longhorn in the next release. Before that, we can expose Longhorn volume as a filesystem instead of a block device to workaround this problem.

[2020-11-21 01:57] #1989 closed

[2020-11-21 02:06] yasker opened #2006 "[FEATURE] Enable backing image feature in Longhorn"
Longhorn Engine has the ability to use a qcow2 file as the backing image for the Longhorn volume. It was designed for VM but the feature was never implemented in Longhorn manager nor UI. We need to enable this feature for Harvester to use Longhorn with existing root images.

Btw, the field was called `base image` but it's better to rename everything into `backing image` because `base image` has be

[2020-11-21 23:24] #1538 closed

[2020-11-22 18:59] #1766 closed

[2020-11-22 21:22] flokli commented on #1984
Okay, so reading through https://github.com/longhorn/go-iscsi-helper/blob/ee87992ec536c9471aebb6a107d52cd0490dcc1a/longhorndev/dev.go#L119, for both block device and iscsi frontend, the iscsi target is created (`d.scsiDevice.CreateTarget()`, and for block device, the initiator is started, too - `d.scsiDevice.StartInitiator()`).

Apparently, enging longhorn creates iscsi targets for all devices, no

[2020-11-23 01:32] dbaker-rh commented on #1983
Not much more to add beyond what was just said.

Regardless of whether or not you trust your local users, this exposure could allow an otherwise benign web application flaw to pivot into something very destructive indeed.

Also, +1 to the question to confirm whether the backend, too, is vulnerable to internal + unauthenticated traffic.

[2020-11-23 03:25] shuo-wu commented on #2005
It's possible. As long as you set `Storage Over Provisioning Percentage` to an appropriate value and don't actually use up all storage, Longhorn volume should work fine. You can check this doc for more details: https://longhorn.io/docs/1.0.2/references/settings/#storage-over-provisioning-percentage

[2020-11-23 06:53] hillbun opened #2008 "[Question] How to update StorageClass snapshot retain quantity？"
I update

  recurringJobs: '[
    {
      "name":"snap",
      "task":"snapshot",
      "cron":"0 * * * *",
      "retain":10
    }
  ]'

from 10 to 5.

But get error

The StorageClass "longhorn" is invalid: parameters: Forbidden: updates to parameters are forbidden.

[2020-11-23 07:05] PhanLe1010 commented on #2008
Updating StorageClass is forbidden by Kubernetes, [link](https://kubernetes.io/docs/concepts/storage/storage-classes/#the-storageclass-resource).
If you want to change `retain` for existing volumes, you can do it in Longhorn UI. e.g. go to the volume details page and change the recurring backup job.
If you want to change `retain` for future volumes, please create a new StorageClass with `retain=5`

[2020-11-23 10:05] venomone commented on #2005
Okay, but I guess this still does not solve the question... I guess, maybe I miss understood you.
Where is my Data placed, given the following scenario:

- 3x Nodes with 200gb Block Device (XFS)
- 1x PVC with a size of 450GB

If I now really write 450GB into that volume where is my Data located then?

[2020-11-23 16:02] obeyler commented on #1997
+1

[2020-11-23 16:48] yasker commented on #2005
@venomone No, you cannot write 450GB into the volume. One Longhorn replica can only reside in one disk, so the maximum volume size (real size) cannot exceed the disk size.

What @shuo-wu mentioned above is over-provisioning, which means you can create a volume bigger than your disk, as long as you don't use it to the full size.

[2020-11-23 17:26] yasker commented on #1984
@flokli A little bit of the background story.

In the early year of Longhorn, we were trying to find a way to expose the block device to the end-user. Since Longhorn is running in userspace, and the block device must be exposed by the Linux kernel, we essentially have a few different ways of doing it:
1. NDB. Unreliable at the time. Can cause kernel crash easily.
2. FUSE + Loopback device. Very sl

[2020-11-23 18:23] #1653 closed

[2020-11-23 18:59] yasker commented on #1691
It won’t help if we control the bandwidth for each engine since the user won’t do that. Try to find a total workable bandwidth instead.

[2020-11-23 19:24] PhanLe1010 commented on #1670
**Test Steps:**
1. Import new Longhorn chart at the branch v1.1.0 of the repo longhorn/longhorn
1. Copy all Longhorn require images to your private registry

New installation with the correct password :
1. Install Longhorn using the new chart. Specify `registry`, `username`, `password`, `registry secret name` in `private registry section`
1. Verify that Longhorn installation succeeds

New installa

[2020-11-23 19:57] #1792 closed

[2020-11-23 20:17] luckyluc74 commented on #6
For anyone who want to install and run longhorn master-arm on raspberry pi 4 with helm

# Prerequisites

## install open-iscsi
`apt install -y open-iscsi `

# Installation

## create namespace
`kubectl create namespace longhorn-system`

## add helm repo longhorn
[code]

## install longhorm helm chart
[code]

I encountered 1 error
[code]

Fix this by adding

[code]

[2020-11-23 22:29] #2000 closed

[2020-11-23 23:02] Raboldar opened #2009 "[BUG] - ReadWriteMany (RWX) workloads not present in the Longhorn web interface"
After installing the NFS provisioner according to the documentation :
**01-security.yaml**
[code]
***02-longhorn-nfs-provisioner.yaml***
[code]
*** 03-rwx-test.yaml ***
[code]
The PVC/PV that was created does not apear in the longhorn interface.
Is there a way to add them ? (label, annotation etc ?)
I suppose the problem comes from the fact that the interface might check only the volumes that have

[2020-11-23 23:38] PhanLe1010 opened #2010 "Need to add csi-snapshotter and share manager to airgap installation document"
We need to add `csi-snapshotter` and `share-manager` to the airgap document at ~~https://longhorn.io/docs/1.0.2/advanced-resources/deploy/airgap/~~ https://github.com/longhorn/website/blob/v1.1.0/content/docs/1.1.0/advanced-resources/deploy/airgap.md

**Additional context**
Ref
https://github.com/longhorn/longhorn/issues/304

[2020-11-24 00:00] yasker commented on #2010
1.0.2? We don't support it in 1.0.2. You meant v1.1.0?

[2020-11-24 00:02] PhanLe1010 commented on #2010
Yes, I mean v1.1.0

[2020-11-24 00:13] PhanLe1010 commented on #1986
https://github.com/longhorn/longhorn/pull/2007 should affect/fix this issue.

[2020-11-24 01:58] davidsbond opened #2011 "[BUG] Panic when listing backups"
**Describe the bug**
After configuring longhorn-manager to use my minio instance as a backup target, I get a panic when I go to the backups page in the UI

**To Reproduce**
Steps to reproduce the behavior:
1. Configure backup target as per documentation
2. Go to backups list
3. See panic

**Expected behavior**
The backups page loads without error

**Log**

[code]

**Environment:**
 - Longhorn vers

[2020-11-24 05:22] cjyar opened #2012 "[BUG] New volume stuck detaching"
**Describe the bug**
Note this is arm64, using `master-arm64` image tags.

A newly created volume is detaching and unable to attach to a pod.

Pod events:
[code]

PVC events:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download `deploy/longhorn.yaml` from master.
1. Replace every instance of `longhornio/${image}:{tag}` with `longhornio/${image}:master-arm64`.
1. Uncomment `CSI_ATT

[2020-11-24 07:01] #1942 closed

[2020-11-24 07:07] khushboo-rancher commented on #298
The tests `test_node_eviction`, `test_node_eviction_multiple_volume`, `test_node_eviction_no_schedulable_node`, `test_node_eviction_soft_anti_affinity` have been passing since more than 5 nightly test run.

[2020-11-24 07:07] #298 closed

[2020-11-24 07:07] khushboo-rancher commented on #1704
The tests `test_node_eviction`, `test_node_eviction_multiple_volume`, `test_node_eviction_no_schedulable_node`, `test_node_eviction_soft_anti_affinity` have been passing since more than 5 nightly test run.

[2020-11-24 07:07] #1704 closed

[2020-11-24 07:51] khushboo-rancher commented on #2009
@Raboldar If I understood your problem statement correctly, you are not seeing the volume pertaining to PVC `nfs-test` on the longhorn UI?

In the above yaml, volume pertaining to PVC `nfs-test` is **not** expected to be present in the Longhorn UI as explained below.

With the above yaml, a volume attached to `longhorn-nfs-provisioner` is created and should be available on the Longhorn UI. The pod

[2020-11-24 08:42] joshimoo commented on #2000
@Raboldar yes you can use a differently named storage class for the rwx volumes (see above link:
https://longhorn.io/docs/1.0.2/advanced-resources/rwx-workloads/#multiple-rwx-workloads)
ensure that you set the provisioner param of your storage class to the provisioner param you specified for your provisioner:
https://github.com/longhorn/longhorn/blob/4d52211839d40efabc6d89ed021132ac7eba4fa8/exampl

[2020-11-24 09:46] cr0 commented on #1017
@yasker I will submit a support bundle once the error occurs again which luckily happens very rarely.

It have to restart the node (which is also the master) to access it again which also means that I can only generate the support bundle after the restart. Is that ok?

[2020-11-24 16:41] flokli commented on #1984
Thanks a lot for writing up the detailled explanation! I'd love if some parts of this could end up somewhere on the website, too :-)

[2020-11-24 18:09] yasker commented on #2011
Formatted error message
[code]

[2020-11-24 18:12] yasker commented on #2011
According to the error message, it's a duplicate of https://github.com/longhorn/longhorn/issues/1768.

But we don't know the exact condition to trigger it.

Target was set to `s3://volumes@none` which is weird though. MinIO should be set up according to https://longhorn.io/docs/1.0.2/snapshots-and-backups/backup-and-restore/set-backup-target/#set-up-a-local-testing-backupstore

[2020-11-24 18:15] davidsbond commented on #2011
I specified `@none` for the region, because I'm not using a particular region, since I'm running a single minio instance in my own cluster.

[2020-11-24 18:20] yasker commented on #2011
By default, MinIO is using region `us-east-1`, not sure if it's related though. See e.g. https://docs.min.io/docs/minio-client-complete-guide.html

[2020-11-24 18:23] yasker commented on #2012
Can you share the log of `longhorn-manager`? As well as `longhorn-csi-plugin` log inside the `longhorn-csi-plugin` pod.

[2020-11-24 18:37] davidsbond commented on #2011
I don't think so, so far any S3 clients/cli I've used with it haven't complained about using `none` as the region. If there's a way I can debug further I'm happy to do so, it's a homelab cluster with nothing critical on it.

[2020-11-24 18:45] davidsbond commented on #2011
Just an initial thought, but is the `longhorn-manager` built with `CGO_ENABLED=0`? Seems like if you compile without cgo you just end up using the pure go resolver. I'm not sure if `longhorn-manager` has any C dependencies though that require CGO.

There's some documentation here around line 66, although I don't know enough to say for sure what the problem is

https://golang.org/src/net/net.go

[2020-11-24 19:12] yasker commented on #2011
The error is coming from Longhorn engine, which is built using https://github.com/longhorn/longhorn-engine/blob/master/scripts/build . There are some clues in https://github.com/longhorn/longhorn/issues/1768 , which might indeed be a build option issue.

[2020-11-24 19:35] yasker commented on #1017
It's not a good idea to have Longhorn running on the master node though. After the restart, the manager on the node will lose the log. So it's better if we can get some logs before the restart.

Can you do `kubectl exec` or ssh into the node then `docker logs` to get the `/var/lib/tgtd.log` in `instance-manager-e-xxxx` which running on that node? That one should contain more detail information reg

[2020-11-24 20:38] cjyar commented on #2012
The longhorn-manager log had lots of these, until I modified the ClusterRole:
[code]

And the CSI pod had many repetitions of this:
[code]

[2020-11-24 20:54] Raboldar commented on #2009
Thanks for the reply !!
I understand why the pods don't appear in the interface but is there any way to add them ? (label, annotation..)
It would be great to be able to monitor all the disks with the same interface (Longhorn web). At worst I could do a script that would print infos about the nsf disks but it would be great so somehow integrate them in the interface.
If it isn't possible for now co

[2020-11-24 21:36] PhanLe1010 commented on #1957
**Test Steps:**
Follow the reproduce step https://github.com/longhorn/longhorn/issues/1957#issue-737344777
Verify that we always get the `Expected behavior`
Create a volume of 1 replica. Create deployment of 1 pod using the volume. Write some data to the volume. Set `Disable Revision Counter` to true. Find the replica instance manager of the volume's replica. Kill the replica process of the volume

[2020-11-24 21:39] khushboo-rancher commented on #2009
We have a feature planned for this already https://github.com/longhorn/longhorn/issues/1849 and this will be available in Longhorn v1.1.0 coming soon.

[2020-11-24 21:52] Raboldar commented on #2009
Glad to hear ! Thanks for the help !

[2020-11-24 22:22] yasker commented on #2012
I see. The deployment method is wrong.

The master for `github.com/longhonr/longhorn` is still v1.0.2. To deploy the in-dev master, you need to deploy from https://github.com/longhorn/longhorn-manager , See https://github.com/longhorn/longhorn-manager#deployment . You shouldn't need to modify anything to make it work.

You can use the uninstaller to cleanup the broken deployment for now.

[2020-11-25 00:54] PhanLe1010 commented on #1986
**Reproduce steps:**
1. Using Rancher, create a cluster of 1 node (with controller, etcd, worker roles) on Amazon EC2 provider. It is easier to control the network for a one-node cluster.
1. Wait until the cluster is created, SSH into the EC2.
1. Follow the document at https://longhorn.io/docs/1.0.2/advanced-resources/deploy/airgap/ to download all images of Longhorn v1.0.1, Longhorn v1.0.2, Longh

[2020-11-25 01:01] khushboo-rancher commented on #1977
Verified with Longhorn-master - 11/24/2020

Validation - **Partially Passed**

**Scenarios**
1. Setting multiple tolerations on a set up of 4 nodes (1 etcd/control plane, 3 workers) - **Passed**
2. Setting multiple tolerations with combination of effect and empty effect. - One case failed explained below

When two same toleration `example.com=foobar:NoExecute;example.com=foobar:NoExecute; persiste

[2020-11-25 02:22] PhanLe1010 commented on #1986
@gitlawr Thank you for reporting.

We will fix this bug in the coming v1.1.0 release. When v1.1.0 is out, you can download v1.0.1 images to the cluster and update Longhorn.

[2020-11-25 03:38] cjyar commented on #2012
Thanks! It worked as you said.

[2020-11-25 03:38] #2012 closed

[2020-11-25 11:08] shuo-wu commented on #1918
`test_csi_expansion_with_replica_failure` passed in recent nightly tests. And the test implementation iteself looks fine.

[2020-11-25 19:48] PhanLe1010 commented on #2004
We also need to delete all lease objects of CSI components

[2020-11-25 23:07] casek14 opened #2013 "[Question] How to set k8s-api-server address"
Hi,
when running longhorn-manager I need to set the k8s api address which should manager use.
Manager uses the the env variables `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` .
But I need to point the manager to different endpoint, otherwise for internal api address I will get following error:
[code]

Is there a possibility to set the k8s api address ??
thanks in advance

[2020-11-25 23:35] yasker commented on #2013
How do you do it for other Kubernetes controllers? I thought updating `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` is the way to change the API server endpoint.

[2020-11-25 23:50] PhanLe1010 commented on #2013
@casek14
Is it correct the you are using the in cluster config so it uses `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` to get the API Server endpoint. https://github.com/longhorn/longhorn-manager/blob/c97e0d81791884cc12ca6b09ba48d7e75706c503/vendor/k8s.io/client-go/rest/config.go#L410

I haven't tried yet but I am thinking whether we set the `--kube-config=<KUBE_CONFIG_PATH>`at [here](h

[2020-11-26 01:16] khushboo-rancher commented on #1977
Verified with Longhorn-master - `11/25/2020`

Validation - **Pass**

Instance manager pods are no longer have duplicate tolerations.

[2020-11-26 08:19] davidhoelzel opened #2014 "[BUG] fsGroup mixed up when using subPaths"
**Describe the bug**
I have two statefulsets. Each mounting the same volume using subPath and fsGroup.
After starting the containers, the fsGroups are mixed up. The folder mounted in app1 has the group-id of app2 (1010). Seems to be related to the order of the container start. If app2 starts before app1, the folder in app2 /var/app2 has the groupId 1000.

**To Reproduce**
Steps to reproduce the be

[2020-11-26 08:24] casek14 commented on #2013
Thank you for replies.
The k8s provider I am using use api endpoint in format `https://{cluster-id}.{zone}.exo.io:6443` , and as you can see when I use in cluster config, the api ip is not included in the cert so the manager cannot validate it.
For example cilium has option in config `k8s-api-server` to change the api endpoint, so I wanted to know, if longhorn has something similar.
I will try the

[2020-11-26 08:46] PhanLe1010 commented on #2013
Thanks! Looking forward to the result from you. If there is problem with the approach, I will dig deeper into the issue.

[2020-11-26 08:49] willzhang commented on #1911
prometheus have similar error
[code]

[2020-11-26 11:46] casek14 commented on #2013
I was able to figure it out, at least for manager and driver deployer.
I just overwritten the `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT`
[code]

Pods are running except `csi-provisioner`:
[code]
The csi-provisioner log:
[code]

I find out that csi-provisioner deployment is created by the manager here: https://github.com/longhorn/longhorn-manager/blob/master/csi/deployment.go#L122

And

[2020-11-26 12:31] casek14 commented on #2013
Update test with kubeconfig mounted into manager and driver deployer.
Result is same as with use of env variables overwrite.
csi-provisioner is still failing.

[2020-11-26 17:42] PhanLe1010 commented on #2013
Thanks for the update! Yeah, I think you found the root cause of the issue. Since this fix require modification to Longhorn manager source code, there is no workaround at the moment. We will fix this in the v1.1.0 release which is scheduled to release on Dec 15th.

[2020-11-26 20:48] casek14 commented on #2013
Thx that`s fine.
@PhanLe1010 @yasker can you please point me to some document how to build longhorn docker images ? I would like to try workaround it in code and build images and test before, it`s merged.

[2020-11-27 01:42] PhanLe1010 commented on #2013
Hi @casek14

Sure! Here is the document [Getting started with Longhorn Development](https://github.com/longhorn/longhorn/wiki/Getting-started-with-Longhorn-Development) .

There are a few Longhorn components. However, you only need to build [Longhorn manager](https://github.com/longhorn/longhorn-manager) for this fix.

After you built the new `Longhorn manager` image. You can replace the `longhorn

[2020-11-27 05:40] willzhang commented on #1911
today i restart a node , and jenkins have error again

[code]

[2020-11-27 08:12] willzhang commented on #1911
## jenkins问题

升级系统，重启了下kubesphere devops服务器节点，发现jenkins pod挂掉了

[code]

查看日志，又是longhorn pv无法挂载，像是文件系统坏掉得样子

[code]

最后提示让使用fsck修复，报错，e2fsck版本太低

[code]

下载最新版本e2fsprogs

https://distfiles.macports.org/e2fsprogs/

[code]

再次执行

[code]

重启pod恢复正常

[code]

[2020-11-27 08:35] casek14 commented on #2013
Thank you, this works

[2020-11-27 11:17] shuo-wu commented on #1948
I just tested 50GB data rebuilding today. The result is almost the same as Mohamed's. I will re-check this feature later.

[2020-11-27 15:26] chrisingenhaag opened #2015 "[BUG] Endless attaching volume"
**Describe the bug**
I have multiple volumes in use with longhorn. One of it as quite big now with about 100Gb used data. This volume cannot be attached anymore. I could just delete it and restart / restore from backup. But I think it would help to improve longhorn.

I also tried to investigate other issues regarding "stuck attaching" but none of the issues seems to be my problem. I also tried to

[2020-11-27 16:03] mritd commented on #1663
When I try to delete with kubectl, the longhorn-system namespace is always in Terminating state...

![image](https://user-images.githubusercontent.com/13043245/100467251-1dd89080-310d-11eb-93aa-ca6b09d6e705.png)

![image](https://user-images.githubusercontent.com/13043245/100467280-28932580-310d-11eb-8a96-ca42f550ee94.png)

[2020-11-27 16:20] mritd commented on #1663
I just tried `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/longhorn.yaml` according to the documentation, and then I used `kubectl delete -f https://raw ....`; This is too scary, the namespace created by longhorn cannot be deleted, it seems to have a permanent impact on my cluster.

[2020-11-27 17:05] yasker commented on #1663
You need to follow the uninstall instructions here https://longhorn.io/docs/1.0.2/deploy/uninstall/ . Use Longhorn uninstaller, or Helm instead of yaml for installation.

[2020-11-28 06:18] mritd commented on #1663
It's already working, so exciting! But I’m curious why I can’t install using kubectl?

[2020-11-28 08:52] khushboo-rancher commented on #1874
Verified with longhorn-master `11/26/2020`

Validation - **Passed**

Validated the test cases from https://github.com/longhorn/longhorn/issues/1874#issuecomment-729242290 and additional test cases for deletion of toleration with same key and different value.

[2020-11-28 08:52] #1874 closed

[2020-11-28 08:57] khushboo-rancher commented on #1874
@PhanLe1010 @yasker While upgrading the longhorn (having toleration) from v1.0.2 to master, the below intermittent issue is observed.

The longhorn manager pods initially fail with error crashloop and then recover after sometime. Is it something that we can overlook?
[code]

[2020-11-28 19:02] #1808 closed

[2020-11-28 19:15] liyimeng commented on #1541
@yasker [this](https://openebs.io/blog/mayastor-nvme-of-tcp-performance/) seems impressive. Dose longhorn have any plan to adapt this? They have learned the architecture from longhorn, is it time for longhorn to take some good bit from them?

[2020-11-29 02:02] alexgorbatchev commented on #1442
Just encountered the same issue with Longhorn v1.0.2, @christiaangoossens solution also worked for me.

[2020-11-29 15:45] #1782 closed

[2020-11-29 16:02] dcplaya commented on #1988
A volume got stuck attaching (ombi) again. This time, it also seems like a random volume also go deleted (home-assistant)!  Luckily I had a backup to restore. I've attached another support bundle in the hope it gives you guys a bit more info.

[longhorn-support-bundle_0c735fa4-c8bd-45a1-8537-4d822e8b35fe_2020-11-29T15-37-56Z.zip](https://github.com/longhorn/longhorn/files/5612394/longhorn-support-

[2020-11-30 05:55] shuo-wu commented on #2015
1. It seems that the replica manager pod `instance-manager-r-be418a40` in which the only running replica `pvc-b5d4d3aa-ad5d-48e4-ad4e-e53b92cb4645-r-463e0e79` resides somehow gets crashed around `2020-11-26T15:34:27` during the volume attaching:
[code]
[code]
2. Then issue #1999 is triggered hence the volume will get stuck in attaching:
[code]

[2020-11-30 12:20] mikekuzak opened #2016 "[FEATURE] - Extend documentation for CoreOS/Flatcar"
The only way I could get Longhorn working on Flatcar was doing the following steps:

1) systemctl start iscsid, this will create the /etc/iscsi/initiatorname.iscsi file
2) Add to the cluster definition the following paths:
[code]

Without this it would attach/detach all the time.

Reference:
- [https://stackoverflow.com/questions/37921980/cant-start-iscsiadm-inside-rkt-container-on-coreos](url)
-

[2020-11-30 16:48] ypyly commented on #1997
I do believe, we can get many "+" here 👍

[2020-11-30 18:04] yasker commented on #1874
@PhanLe1010 Not sure why the upgrade process can fail due to conflict (since there should be only one manager at the time of upgrade). Can you look into it?

[2020-11-30 18:13] yasker commented on #1663
@mritd Of course, you can. But you need to follow the instruction to uninstall (rather than just do `kubectl delete`). There are things we need to clean up during uninstallation that cannot be done by `kubectl delete`.

[2020-11-30 18:17] yasker commented on #1541
We already have SPDK (which is what Mayastor is using for frontend) on our roadmap for v1.2 release.

[2020-11-30 18:21] khushboo-rancher opened #2017 "[BUG] Intermittent issue with longhorn manager pods having tolerations on upgrade"
**Describe the bug**
The longhorn manager pods initially fail with error crashloop and then recover after sometime on upgrade longhorn from v1.0.2 to v1.1.0 if there are some tolerations.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v1.0.2.
2. Set some tolerations like `key1=value1:NoSchedule; key2:NoExecute`
3. Wait for the longhorn pods to be redeployed.
4. Upgrade Long

[2020-11-30 18:31] khushboo-rancher commented on #1914
The below tests have passing the nightly test run.
1. test_salvage_auto_crash_all_replicas
2. test_salvage_auto_crash_replicas_short_wait
3. test_salvage_auto_crash_replicas_long_wait
4. test_volume_reattach_after_engine_sigkill

[2020-11-30 18:31] #1914 closed

[2020-11-30 19:14] khushboo-rancher commented on #1742
The tests `test_salvage_auto_crash_replicas_short_wait` and `test_salvage_auto_crash_all_replicas` are passing in nightly test run from more than last 10 runs.

[2020-11-30 19:14] #1742 closed

[2020-11-30 19:37] jwklijnsma commented on #1831
Hi is this fix in version 1.1.0 are 1.1.1 ?

[2020-11-30 21:42] meldafrawi commented on #1978
CSI sanity check failed due to [this line](https://github.com/kubernetes-csi/csi-test/blob/701d229922c637cb8f6746300c340238cd135f16/pkg/sanity/sanity.go#L443)

volumes created in sanity checks will be similar to this `sanity-expand-volume-666657CB-A442298A` which conflicts with Longhorn volume name regex check
[code]

CSI sanity check is tested on Longhorn master after making modifictions to csi-s

[2020-11-30 21:56] meldafrawi commented on #1978
Test results of only running tests related to  `NodePublishVolume`

`./csi-sanity -csi.endpoint /var/lib/kubelet/obsoleted-longhorn-plugins/driver.longhorn.io/csi.sock  -ginkgo.focus NodePublishVolume`

[code]

[2020-11-30 23:05] yasker commented on #1978
@shuo-wu Can you check the reports above and give me an estimate how long we might need to fix them? Seems most failures are negative test cases.

Also, we need to investigate the difference between CSI sanity check requirement for volume name and how Longhorn implemented volume name, to get the native CSI sanity check working if possible.

[2020-12-01 01:18] hillbun commented on #1985
@yasker

state: detaching

I have scale statefulset that mounted replicas to 0.
but state keeps detaching for a long time.

[2020-12-01 02:04] mritd commented on #1663
@yasker Thanks, I check the helm repo code 😀.

[2020-12-01 04:28] shuo-wu commented on #1978
I just take a brief view of the report. There are 3 kinds of errors in general:
1. Misuse the error code. e.g.
[code]
2. Volume naming check is not passed.
[code]
[code]
3. The returning/behavior of Longhorn implementations is not what the CSI sanity check expected. e.g.
Idempotency requirement:
[code]
CSI snapshotter with backup:
[code]
Others:
[code]

I think fixing the errors found by the CSI s

[2020-12-01 06:18] PhanLe1010 commented on #1969
### Background Info:
[A RKE Snapshot/Backup](https://rancher.com/docs/rke/latest/en/etcd-snapshots/) essentially contains a snapshot of ETCD and copies of certificates in a cluster.
When we restoring the cluster using a snapshot, RKE effectively reverts ETCD to be the same as the ETCD snapshot. (Actually, it deletes the old ETCD cluster and creates a new one base on the snapshot, [link](https://ra

[2020-12-01 06:20] PhanLe1010 commented on #1969
### Background Info:
[A RKE Snapshot/Backup](https://rancher.com/docs/rke/latest/en/etcd-snapshots/) essentially contains a snapshot of ETCD and copies of certificates in a cluster.
When we restoring the cluster using a snapshot, RKE effectively reverts ETCD to be the same as the ETCD snapshot. (Actually, it deletes the old ETCD cluster and creates a new one base on the snapshot, [link](https://ra

[2020-12-01 06:40] LinXiaoJian opened #2018 "[BUG] Volume It is always in the state of deletion。"
**Describe the bug**
I installed Longhorn on the server cluster，It was discovered yesterday that Longhorn on one of the mainframes had been in an abnormal condition。PVC on this mainframe is in detaching state。Then I removed all the PVC from Longhorn-Manager。The PVC on this machine has been in a Deleting state。

`
E1201 06:27:38.559308       1 replica_controller.go:177] fail to sync replica for lon

[2020-12-01 06:47] PhanLe1010 commented on #1969
@yasker @shuo-wu Can you take a look at [this analysis](https://github.com/longhorn/longhorn/issues/1969#issuecomment-736250245)?

[2020-12-01 08:20] hillbun opened #2019 "[Question] Can not create PVC with existing backup data"
[code]

after create PVC, I mount it to pod, but no data recovered.

[2020-12-01 18:03] bor8 commented on #1769
Coming back to my question.

I managed to install Rancher HA.

But HMPF, it is not HA: an etcd setup with five instances tolerates only two failed instances. I have two locations A and B. A hast 3 etcd instances and B has 2 etcd instances. If A goes offline B will only throw etcd timeouts. :(

But no worries. I will split everything into two clusters and use S3 or NFS backup in Longhorn.

Btw, wou

[2020-12-01 18:31] miraculixx commented on #2005
what is the rationale behind this feature? it seems somewhat odd that you can define a volume larger than a node disk, but then once you start filling the volume the storage system breaks (been there, done that).

Ideally, longhorn could split the block storage across nodes, say

* 1 PV of size 450GB
* 3x nodes with 400gb node disk (=600GB)

=> longhorn distributes its blocks across these three no

[2020-12-01 22:01] khushboo-rancher commented on #1918
The test `test_csi_expansion_with_replica_failure` failed recently. https://ci.longhorn.io/job/public/job/longhorn-upgrade-tests/176/
Moving it back to the backlog.

[2020-12-01 22:25] yasker commented on #2005
@miraculixx We indeed have a `sharding` mechanism in the roadmap https://github.com/longhorn/longhorn/wiki/Roadmap#future which is similar to what you've described here. Though at the moment our main focus is still on a single replica on a single disk use case.

Overprovisioning is a feature for those users who don't use up all the spaces they requested. You can disable the feature by setting the

[2020-12-01 22:32] yasker commented on #1769
@bor8 Regarding the HA case, I am afraid that's more like an etcd limitation. You can raise an issue in Rancher for that.

S3 endpoint can be secured by SSL if you chose to do so. We looked into NFS authentication (https://github.com/longhorn/longhorn/issues/1388 ) but decided not to move forward with it due to what we've documented in the comment.

[2020-12-01 22:34] yasker commented on #2019
Can you check the log of the manager to see if there are any errors? btw, there are two `fromBackup` in your storageclass yaml, not sure if the second one will override the first one.

[2020-12-01 22:49] yasker commented on #1969
@PhanLe1010 Thanks for the detail analysis. We might need some major changes to make it work with etcd restore.

Punt to v1.2.0.

[2020-12-01 22:53] yasker commented on #2018
Can you try to find the pod ` instance-manager-r-4e30e133` and delete it? There was a bug in v1.0.0 that might cause the instance manager to lock up if the specified data directory doesn't exist. Not sure if you've triggered that.

[2020-12-01 22:57] yasker commented on #1978
@shuo-wu Let's try to fix as many as we can before the v1.1.0 release. We can fix the remaining ones in the v1.1.1 release.

Also, make sure to check if the original issue exists or not.

[2020-12-01 22:57] yasker commented on #1985
@hillbun Do you see any error log in the Longhorn manager?

[2020-12-01 23:31] #1798 closed

[2020-12-01 23:31] #1810 closed

[2020-12-01 23:59] bor8 commented on #1769
Wow thanks for your quick answers.

I think the RAFT algorithm will not be changed that fast. I'm going to open a ticket anyway.

NFS can't easily be set up redundantly, especially since the locations are 300 km away from each other and that gives performance problems (tested with GlusterFS). Since I can only specify one NFS endpoint in Longhorn, it must be at location A or B. For another location

[2020-12-02 00:19] khushboo-rancher commented on #1957
Verified with Longhorn-master - `12/1/2020`

Validation - **Pass**

Killed the replica process ~20 times with `Revision Counter` enabled and disabled. The field `salvageRequested` becomes True and once `salvageExecuted` is set True, the `salvageRequested` becomes False.

Output of `kubectl get engines -n longhorn-system -o yaml -w | grep salvage` is as below
[code]

[2020-12-02 00:19] #1957 closed

[2020-12-02 00:23] yasker commented on #1769
In this scenario, I would recommend using some third-party S3 storage in this case, e.g. AWS. For multiple backup targets, yeah we thought about that years ago but decide to go with the simple approach. We might need to revisit the decision later. But are you fine with duplicating the backup to both NFS server? The non-local distance one, as you said, might need authentication and can be very slow

[2020-12-02 01:22] khushboo-rancher commented on #2017
Verified with longhorn master - `12/01/2020`

Validation - **Pass**

No intermittent issue is observed on upgrading a longhorn set up having tolerations.

[2020-12-02 01:22] #2017 closed

[2020-12-02 01:39] dbaker-rh commented on #1850
Not sure if I should re-open this, or open a new issue.

I've been running with the master branch for a while and bumped into a problem with the new changes.

To reproduce:
- kubectl create .... to create a 256Mi volume.  Use it, then unmount.
- In the longhorn ui, try to "Expand Volume".  The Size gets prefilled as 256Gi.
- If I attempt to resize to "0.5 Gi", the error shows, "Size should be larg

[2020-12-02 01:54] yasker commented on #1850
@dbaker-rh Thanks for the reporting. Can you open a new issue? Likely a UI bug.

[2020-12-02 02:14] LinXiaoJian commented on #2018
Thank you very much for your reply. I've removed instance-manager-r-4e30e133. Longhorn is back to normal. I am now upgrading Longhorn to version 1.0.2. Will this version have similar problems

[2020-12-02 02:42] yasker commented on #2018
If it's the issue with the data directory, it's https://github.com/longhorn/longhorn/issues/1599 and will be fixed in the upcoming v1.1.0 release.

[2020-12-02 02:55] PhanLe1010 commented on #1967
**Test steps:**
Goal: we want to verify that Longhorn does actually attempt to retry the failed request to S3 and the maximum number of retries is 3

[2020-12-02 03:09] PhanLe1010 commented on #1967
Install [Squid](https://github.com/wernight/docker-squid)

1. Copy the following file to `~/squid.conf` in your VM
[code]

2. Install Squid using the above config file:
[code]
3. Docker exec into the squid container
4. See the traffic that goes through the proxy by running
[code]

[2020-12-02 03:46] shuo-wu opened #2020 "[FEATURE]Update docs and descriptions based on the CPU & Network requirement investigation result"
**Is your feature request related to a problem? Please describe.**
Need to update Longhorn docs and the description of setting `Guaranteed Engine CPU` based on the result in #1691

[2020-12-02 04:00] shuo-wu opened #2021 "[BUG]Unexpected high network bandwidth requirement when there are multiple volumes on a node"
**Describe the bug**
When there are multiple volumes writing data sequentially and simultaneously on a node, the network bandwidth may not be able to reach the requirement then lead to writing timeout errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a cluster with 5 workers
2. Create and attach 5-replica 10 volumes (`vol1`~`vol10`) to a node.
3. Run the following writing comman

[2020-12-02 07:09] liyimeng commented on #1541
@yasker super exciting 👍

[2020-12-02 08:05] gmle opened #2022 "[Question] Excuse me, I want to install longhorn without docker and k8s, what should I do?"

[2020-12-02 08:26] shuo-wu commented on #1988
For the attaching volume `ombi-config`, the related engine somehow get deleted and recreated (this shouldn't happen). then the engine name saved in old replicas doesn't match the the newly recreated engine name. As a result, [Longhorn consider there is no valid replica](https://github.com/longhorn/longhorn-manager/blob/ba4ca64ad03911194c8586932e9f529e19c884a4/controller/volume_controller.go#L1047)

[2020-12-02 09:47] serverbaboon commented on #6
Using K3s 1.18.12 on a Raspberry Pi 4 cluster on Ubuntu 20.04 I had to expand the the above permission of poddisruptionbudgets as my requests were stuck in a forever attaching state. Found error messages about not being able to create or watch poddisruptionbudgets.

I guess it can be reduced but at the moment I have this

  - verbs: ["*"]
     apiGroups: ["policy"]
    resources: ["poddisruptionbu

[2020-12-02 15:02] dbaker-rh commented on #1850
Will do.  Thanks.

[2020-12-02 16:59] dcplaya commented on #1988
Does a replica get marked invalid when engine for that replica gets restarted (either by killing the pod or a reboot)?

What happens if I only have 1 replica of a PV and the replica gets marked as invalid (due to the above)? Will it throw that replica out but since there are no other replicas to rebuild from, the entire PV is gone? My Home Assistant PV only had 1 replica at the time (its been incr

[2020-12-02 17:06] connde opened #2023 "[BUG] AttachVolume.Attach failed for volume : node has no NodeID annotation"
**Describe the bug**
I'm trying to run a simple Statefulset application but volume is not being attached correctly.

I'm running K3S on a single VPS server.

PVC is created correctly but is not attached to the pods, manually attaching the PVC also does not work.

Error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
- Deploy k3s: curl -sfL https://get.k3s.io | sh -s - --disable=

[2020-12-02 17:42] cjyar commented on #6
I learned the hard way the the correct way to install longhorn is using [longhorn-manager](longhorn/longhorn-manager). The docs on [longhorn.io](https://longhorn.io/docs/0.8.0/install/install-with-kubectl/) are wrong. When I installed on my arm64 k3s cluster using longhorn-manager, it was flawless.

[2020-12-02 18:18] joshimoo commented on #6
@cjyar we sync the content from the longhorn-manager repo to the longhorn repo before releases. So in the case where you want to run the current master branch it's best to use the deployments from the longhorn-manager repo.

[2020-12-02 19:08] khushboo-rancher opened #2024 "[BUG] Test 'test_setting_toleration_extra' fails to check the updated tolerations."
**Describe the bug**
`test_setting_toleration_extra` fails to check that the longhorn components are updated with tolerations.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the integration test `test_setting_toleration_extra` in a cluster of 1 etcd/control plane and 3 wroker nodes.
2. The test fails with below error
[code]

[2020-12-02 20:22] yasker commented on #2022
Longhorn is built on top of K8s. Without Kubernetes, you might able to use the Longhorn engine separately, but you will need to do the orchestration yourselves.

[2020-12-02 21:11] meldafrawi commented on #1986
Validation: **PASSED**

[2020-12-02 21:12] #1986 closed

[2020-12-02 21:17] meldafrawi commented on #1906
@PhanLe1010
Chart version is still not updated

https://github.com/longhorn/longhorn/blob/v1.1.0/chart/Chart.yaml#L3

[2020-12-02 21:18] meldafrawi commented on #1906
LGTM, except for Chart version update

[2020-12-02 21:31] yasker commented on #1906
The chart version will be updated during the release process, so it's fine to leave it there.

[2020-12-02 21:58] dbaker-rh opened #2025 "[BUG] UI does not resize correctly validate volume resizes under 1Gi"
**Describe the bug**

Recently, a change went into the code to permit volume support under 1Gi in size.  The corresponding changes in the UI to support resizing these volumes was not recognized to be needed.

Resizing a volume of, e.g., 256**Mi** will prompt for a minimum resize of 256**Gi** in the UI.

Bug exists in the master branch.  Does not exist in current 1.0.2 release.

A clear and concise

[2020-12-02 22:43] #1906 closed

[2020-12-02 22:44] meldafrawi commented on #1813
Validation: **PASSED**

[2020-12-02 22:44] #1813 closed

[2020-12-02 22:59] MalibuKoKo commented on #2012
Hi, can we reopen this issue ?

I install longhorn with helm chart with following command :

[code]

pod **longhorn-driver-deployer** stuck in **Init** status and pod **longhorn-manager** show same issue:
[code]

I fix it with the following command:
[code]

I think CRD is not fixed in the last version :
- REPO: https://charts.longhorn.io
- CHART: longhorn-1.0.2
- APP VERSION: v1.0.2

[2020-12-02 23:14] PhanLe1010 opened #2026 "[BUG] Setting and clearing the toleration `:` leaves some down nodes in Longhorn system"
**Describe the bug**
In a cluster with control/etcd nodes separated from workers nodes, the control/etcd nodes become `down` state when users set then clear the special toleration `:` (which means it will tolerate every taints)

**To Reproduce**
1. Create a cluster of 4 nodes with 1 control/etcd node and 3 worker nodes
2. Install Longhorn. Set toleration `:` in Longhorn UI
3. Wait until all Longho

[2020-12-02 23:18] khushboo-rancher commented on #1999
Verified with Longhorn master - `12/02/202`

Validation - **Passed**

Volume attach to pod successfully in `degraded` state if replica/disk is not found. The replica in this case becomes `failed` and on making the disk available again the failed replica got rebuilt.

[2020-12-02 23:20] PhanLe1010 commented on #2026
The current workaround is that users can manually delete the failed Longhorn node CRs by:
[code]

[2020-12-02 23:41] yasker commented on #2012
@MalibuKoKo ARM64 is not supported for Longhorn v1.0.2, and only replace the images won't work. Please install using `longhorn-manager` repo as I mentioned above if you want to give it a try before the formal release. ARM64 will be released with the upcoming Longhorn v1.1.0 release, with the Helm chart.

[2020-12-02 23:46] yasker commented on #2023
One node installation? See if https://longhorn.io/kb/troubleshooting-volume-pvc-xxx-not-scheduled/ helps.

[2020-12-02 23:51] yasker commented on #2020
Volume count in the cluster?

Also, I am thinking if we should ask the user to reserve 1/8 of the total CPU count then tell them how many volumes/engine/replicas can be used per node. Since it would be hard for the user to adjust the value later.

[2020-12-03 01:25] khushboo-rancher opened #2027 "[BUG] Update CSI Driver details in the longhorn docs."
**Describe the bug**
Update CSI Driver details in the longhorn doc page https://longhorn.io/docs/1.0.2/concepts/#13-csi-driver

[2020-12-03 03:00] LinXiaoJian commented on #2018
ok ,Thank you very much for your reply.

[2020-12-03 03:00] #2018 closed

[2020-12-03 03:05] connde commented on #2023
Hi, @yasker , thanks for the feedback, I tried setting Anti-Affinity to True but I'm still getting the same results. Removed longhorn and installed again just to be sure, also the message I'm seeing is not equal to the one on the link you shared.

Longhorn deployment is working "as expected" and all pods are running, UI is working, I can create volumes. I had to tackle some issues during the way a

[2020-12-03 03:55] shuo-wu commented on #1988
1. killing the pod or a reboot won't cause the above issue. The cause of the above issue is that the engine object (it's a Custom Resource) of the volume is directly deleted then the entire volume cannot work correctly. The **lifecycle of an engine object** should be **the same as** that of the **related volume**.
2. You can run the following command to directly update field `spec.engineName` for

[2020-12-03 04:16] shuo-wu commented on #1948
I just retry the test with some additional debug logs added. Here is the test step and the result :
1. Deploy Longhorn system with the `master` image
2. Deploy 2 engine images:
  - `shuowu/longhorn-engine:master-1948` (Based on the `longhornio/longhorn-engine:master `and just add some addtional debug logs)
  - `shuowu/longhorn-engine:v1.0.x-1948` (Based on the `longhornio/longhorn-engine:master` b

[2020-12-03 07:04] gmle commented on #2022
Thank u for your reply, Am compiling these modules.

[2020-12-03 07:04] #2022 closed

[2020-12-03 10:05] smallteeths opened #2028 "Optimize websocket"
The current version of the websocket pushes frequently, and the front-end cannot tell if the data is updated or not, and the page is re-rendered every time it is pushed.

Can longhorn refer to the way Rancher websocket is implemented. Returning an empty object when there is no data change

[2020-12-03 11:05] FCarvMobil opened #2029 "[BUG] Scheduled backups didn't complete and leave tons of snapshots behind"
Hi guys, don't know if it is a bug or not.
Most of the 37 volumes running at the K8s cluster had some backup schedule assigned to.

About 9 of them are suffering from some issue where the backup operation didn't occur and leave behind a lot of snapshots (4 snapshots for each backup execution for each volume) and they must be deleted manually, pretty much like in #1826
![image](https://user-images.

[2020-12-03 14:15] andreshamedfernandez opened #2030 "[Question] Longhorn remounting filesystem read-only, also after container restart."
System information:

•	Centos version: CentOS Linux release 7.9.2009 (Core)
•	Kernel version: 3.10.0-1160.el7.x86_64
•	Kubernetes version: v1.17.5
•	Docker version: 19.03.11
•	Longhorn version: 1.0.2

Good afternoon,

We are experiencing a issue at random times (a few times a week) where our Jenkins containers stop working due to an filesystem issue on a Longhorn Persistent Volume. The filesystem

[2020-12-03 15:06] guangbochen opened #2031 "[FEATURE] allow specify namespace when install longhorn as sub-chart"
**Is your feature request related to a problem? Please describe.**
When using the longhorn as a sub-chart the release namespace is not always going to be the `longhorn-system`, we should allow the user to specify override namespace in this scenario.

**Describe the solution you'd like**
Add `namespaceOverride` value that allows the user to override the `Release.Namespace` when it is not using the

[2020-12-03 15:21] c3y1huang commented on #2023
Look like could be related to https://github.com/longhorn/longhorn/issues/835. Maybe this would help:
1.  Use `/var/lib/kubelet` instead, this shouldn't require to manually create `/var/lib/kubelet/plugin_registry`.
[code]
2. Also set `replica-soft-anti-affinity` to true since you on one node cluster.

[2020-12-03 16:19] connde commented on #2023
Thanks @c3y1huang, that did the tricky.

I was following this steps, that's why I ended up with different root dir for kubelet.
https://longhorn.io/docs/0.8.1/advanced-resources/os-distro-specific/csi-on-k3s/#failed-to-get-arg-root-dir-cannot-get-kubelet-root-dir-no-related-proc-for-root-dir-detection-

[2020-12-03 16:19] #2023 closed

[2020-12-03 16:22] dcplaya commented on #1988
That got that PV back and running again!

I suspect my master node might have NVMe issues maybe?  That's the only NVMe that was purchased 2nd hand so I will investigate that closer. Adding a 2nd master might prevent the weird stuff from happening (as long as the 2nd master doesn't have hardware issues) but would only mask the actual hardware issue, if I have one. I have had additional weird stuff

[2020-12-03 18:32] yasker commented on #2023
@connde That doc is a bit old since it was for v0.8.1. Check https://longhorn.io/docs/1.0.2/advanced-resources/os-distro-specific/csi-on-k3s/#failed-to-get-arg-root-dir-cannot-get-kubelet-root-dir-no-related-proc-for-root-dir-detection- for the latest one.

[2020-12-03 20:12] yasker opened #2033 "[FEATURE] Help user to install dependencies when installing Longhorn"
If we decide to install open-iscsi dependency, we need to do more investigation to ensure we have a way to workaround the potential Helm chart installation failure due to initContainer failed to install open-iscsi package.

For RWX volumes, we also require NFS client on the node. We can include it here as well.

Ref: https://github.com/longhorn/longhorn/issues/1741#issuecomment-724183156

[2020-12-03 20:12] yasker commented on #1741
@dbpolito Due to the time constraint for this release, we need to move the `initContainer` implement to the next patch release. We need to do more test with Helm chart to ensure we have a way to rollback/workaround if the initContainer approach failed, since Helm is not really famous for fault tolerations during installation/upgrading. We had a few incidents before, e.g. one StorageClass blocking

[2020-12-03 20:42] meldafrawi opened #2034 "[BUG] Remove hard-coded namespace in uninstall controller"
**Describe the bug**
`longhorn-system` namespace should not be hardcoded inside [uninstall controller](https://github.com/longhorn/longhorn-manager/blob/master/controller/uninstall_controller.go#L39).

[2020-12-03 20:46] meldafrawi opened #2035 "[BUG] Uninstall Job should remove all Longhorn resources (CRDs, PodSecurityPolicies, ClusterRoles, and ClusterRolebindings)"
**Describe the bug**
see title

**To Reproduce**
Steps to reproduce the behavior:
1. install Longhorn using Helm Chart
2. uninstall Longhorn

**Expected behavior**
All Longhorn related resources should be deleted

**Log**
N/A

**Environment:**
 - Longhorn version: `master` & `1.0.2`
 - Kubernetes version: 1.18
 - Node config
   - OS type and version
   - CPU per node:
   - Memory per node:
   - Di

[2020-12-03 21:07] khushboo-rancher commented on #2025
Validated with the UI image `wangsiye/longhorn-ui:ee5ab96`

The volume size is converted in Gi and shown. If a volume is created with `10` Mi then it is shown as `0.00976563` Gi on the longhorn UI.
However the frontend should round up the size provided to expand the volume to multiples of 512 to make sure volume get expanded successfully.

[2020-12-03 22:29] yasker commented on #2035
I am not sure if CRDs should be cleaned up though. Rancher chart (2.5) seems deals with it differently. CC @shuo-wu

[2020-12-04 01:11] yasker commented on #1777
It is too minor to be mentioned in the release note. Close this as `won't fix` for now.

[2020-12-04 01:11] #1777 closed

[2020-12-04 03:24] PhanLe1010 commented on #2030
Hi @andreshamedfernandez

Base on the given information, Longhorn volumes were detached unexpectedly. First, we want to find out what was the reason that made the volumes detach unexpectedly. For the `patching docker` case, Longhorn instance managers were killed so volumes were detached unexpectedly. For other cases (you saw a few times a week), it is likely that volume engines experienced high CP

[2020-12-04 05:14] shuo-wu commented on #2029
Can you provide the support bundle if possible? I didn't find any important clues based on the current info.

As for debugging this issue, you may need to know that Longhorn will do snapshot creation before each backup. In this case, the recurring backup failed at the snapshot creation part (timeout error). But it seems that the snapshot is actually created even if there is a timeout error. I may

[2020-12-04 07:40] andreshamedfernandez commented on #2030
1.	What is the network bandwidth in your cluster? 100MB/s ~ 150 MB/s
2.	How many CPUs and volumes do you have on each node? 16 cores,  32GB memory and 3 volumes.
3.	Can you send us the support bundle so we can take a deeper look? Mailed to 'longhorn-support-bundle@rancher.com'

1.	Does your Jenkins deployment use Longhorn volumes in subpath? I checked our deployment configuration and saw that our

[2020-12-04 08:16] pangliang commented on #469
Excuse me, is there any progress on this? I am looking forward to this feature

[2020-12-04 09:13] shuo-wu commented on #1118
I am thinking if we still need to add extra logic to handle [this error ](https://github.com/longhorn/longhorn-manager/blob/8af120dd7c109d81d86118e482f88a26ddf7650f/controller/instance_handler.go#L215). Right now Longhorn will immediately recreate a new instance manager if the existing one somehow is deleted. And instance-manager-controller will mark all related processes as ERROR when the instanc

[2020-12-04 12:37] shuo-wu commented on #1975
The root cause of this issue:
1. When the old instance manger pod is deleted and Longhorn hasn't relaunch instances in the corresponding new instance manager pod, Longhorn system is updated.
2. At this moment, the old instance manager CR will be cleaned up due to no instances running in it. Then the rebuilding replica will get stuck there.
[code]
3. Since there is [an old replica get stuck in rebu

[2020-12-04 13:46] riazarbi commented on #1554
@smallteeths will this be in the next release?

[2020-12-04 14:35] shuo-wu commented on #1975
Test steps:
1. Deploy Longhorn v1.0.2
2. Create and attach a volume
3. Upgrade Longhorn to master
4. Delete one replica manager pod. And do live upgrade for the volume **before** the new replica is created.
5. Check if Longhorn can reuse the failed replicas and complete the live upgrade

[2020-12-04 15:05] FCarvMobil commented on #2029
Hi @shuo-wu ! Thanks for replying.
It's ok to provide a support bundle. How can I send you the file? It has 27MB.

Another thing i've noticed is that the proxy settings for longhorn-manager were inaccurate, so one of the cluster nodes (there are 3) wasn't covered by the proxy exceptions (this is something at this particular cluster that is annoying).
So a few hours ago I bring down all workloads t

[2020-12-04 15:28] xoojulian commented on #1210
Is there any plan to perform this automatically by longhorn in the future?

[2020-12-04 17:54] yasker commented on #1118
We do have finalizers for InstanceManager CR, so the cleanup process shouldn't be skipped. So it won't be an edge trigger case.

As long as the reconciliation process won't get blocked and can recover, I am fine with closing this issue.

[2020-12-04 17:56] yasker commented on #1975
Hmm? Is the fix for #1118 a pre-requirement for this fix? But you also suggested that we don't need to add more fix to #1118. I am confused.

[2020-12-04 18:01] PhanLe1010 commented on #2030
Thank you for the info! We are looking into it

[2020-12-04 18:01] yasker commented on #1975
The upgrade is by design disabled during the rebuild process. It should allow the user to finish the rebuild first, then complete the upgrade process. Is it OK to create a new replica instance manager (new version) for this rebuild? or we have to create a replica instance manager with the old version.

[2020-12-04 18:30] bor8 commented on #1769
Thank you. Anyway, this is no show-stopper and I will try it with Longhorn. I have implemented your hint and created a ticket regarding Rancher or etcd: https://github.com/rancher/rancher/issues/30352.

[2020-12-04 19:38] yasker opened #2037 "doc: Node related doc needs to be updated"
Now the node will be automatically removed.

https://v1-1-0.longhorn.io/docs/1.1.0/volumes-and-nodes/maintenance/#removing-a-node

Also, now `drain` is allowed since we can automatically blocking the drain using pod disruption budget. We also need to let user know they have choices to manually evict the replicas before drain and block draining if there are last healthy replica on the node.

Also,

[2020-12-04 20:05] cr0 commented on #1017
I know, I know, however, it is only a cluster I am running at home and resources are limited ;) definitely upgrading to a third, master-only node in the near future.

It happened again but when trying to collect the logs I noticed that the fs (also rootfs) where longhorn stores its volumes was remounted as ro. Thus, I was unable to access the container but I'll keep an eye out for a potential corr

[2020-12-04 20:08] Wykiki opened #2038 "[FEATURE] UI : Dark Theme"
**Is your feature request related to a problem? Please describe.**

Longhorn UI comes with a light theme.
A dark theme would be really nice, to match Rancher's one.

**Describe the solution you'd like**

A dark theme on the Longhorn UI.

**Additional context**
Longhorn rocks !

[2020-12-04 20:30] #1758 closed

[2020-12-04 21:28] meldafrawi opened #2039 "[BUG] [Rancher 2.5 Cluster Explorer UI] Longhorn Uninstall get stuck, Longhorn UI deployment will not be removed."
**Describe the bug**
see title

**To Reproduce**
Steps to reproduce the behavior:
1. Create new chart repository using Longhorn chart from v1.1.0 branch -> Rancher 2.5 Cluster Explorer UI
2. Deploy Longhorn app
3. Try to uninstall Longhorn

**Expected behavior**
Longhorn UI Deployment should be removed, and uninstall job should finish uninstalling Longhorn app.

**Log**
![image](https://user-image

[2020-12-04 21:32] meldafrawi commented on #1670
Validation: **PASSED**

Rancher (**Cluster Manager UI**):
- New installation with the correct password: **(PASSED)**
- New installation with the wrong password : **(PASSED)**
- Upgrade with the correct password: **(PASSED)**
- Upgrade with the wrong password: **(PASSED)**
- Upgrade from older Longhorn version: **(PASSED)**

Rancher (**Cluster Explorer UI**):
- New installation with the correct pas

[2020-12-04 21:33] #1670 closed

[2020-12-04 21:34] meldafrawi commented on #2031
Validation: **PASSED**

[2020-12-04 21:35] #2031 closed

[2020-12-04 22:30] dbaker-rh opened #2040 "[FEATURE] Include more non-default columns in web ui volume list"
**Is your feature request related to a problem? Please describe.**

There is data available in the per-volume information page which is not visible in the main volume listing, even as a non default column.

The two that come immediately to mind are number of replicas and data locality.

**Describe the solution you'd like**

More columns to be available in the volume list, corresponding to all data

[2020-12-05 00:02] PhanLe1010 commented on #2030
### What was the reason that made the volumes detach unexpectedly?

From the Longhorn manager logs, I see that there was network disconnection around `2020-11-26T17:15:53`, Longhorn engine volume lose connection to replicas:
[code]
Longhorn also couldn't reach the Kube API server around the same time:
[code]
So network disconnection was likely the reason that made Longhorn volumes detached unexpec

[2020-12-05 00:14] PhanLe1010 commented on #2029
@FCarvMobil
Can you please send it to longhorn-support-bundle@rancher.com ?

[2020-12-05 04:26] shuo-wu commented on #1975
@khushboo-rancher Can you check if you can reproduce the case you provide? More accurately, how do you guarantee:
1. there is 1 stopped old replica + 2 running old replicas
2. the live upgrade is blocked even if the volume is healthy without error replica.

[2020-12-05 04:27] shuo-wu commented on #1118
Found the error in #1975. Let's see if Khushboo can provide the reproducing step first.

[2020-12-05 14:25] bradwood opened #2041 "[BUG] longhorn-manager not starting due to poddisruptionbudget policy error"
**Describe the bug**
It seems that a cluster role/role does not permit longhorn-manager to start.

**To Reproduce**
apply ` https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/deploy/longhorn.yaml` to a cluster.

**Expected behavior**
Longhorn-manager starts.
**Log**
[code]

**Environment:**
 - Longhorn version: v1.1.0/master

 - Kubernetes version:
[code]
 - Node config
   - OS type and ve

[2020-12-05 14:26] bradwood commented on #2041
Seems related to #1818, but note, that this is not the chart deployment, but vanilla yaml

[2020-12-05 14:36] bradwood commented on #2041
I applied the following change:
![image](https://user-images.githubusercontent.com/3472045/101245746-df436700-3706-11eb-93ab-c656ce2f7a53.png)

This seemed to fix the problem...

[2020-12-05 16:23] yasker commented on #2041
We haven't start the final release process yet, so the yaml in the longhorn/longhorn(even for v1.1.0) hasn't been updated. Before RC1, we recommend to use the tank at longhorn/longhorn-manager to deploy, which contains the latest master (and Pod Disruption Budget config etc)

[2020-12-05 21:01] frezbo commented on #2016
@mikekuzak Here is a [gist](https://gist.github.com/frezbo/e124b2c57b407b99aaff5cf82d50721d) that worked for me for K3s on top of FlatCar. Spend so many hours getting this to work

[2020-12-05 21:35] gnoejuan opened #2042 "[Question] K3os/RKE2 auto-deploy manifests?"
Which files are needed to autodeploy in RKE2 and/or K3os? I see longhorn/chart/[chart.yaml | questions.yaml | values.yaml] and longhorn/deploy/[longhorn.yaml | backupstores/minio-backupstore.yaml | backupstores/nfs-backupstores.yaml | iscsi/longhorn-iscsi-installation.yaml]. Would it be possible to improve the documention since the products are from the same company?

[2020-12-06 17:14] yasker opened #2043 "task: Add share manager image into the chart"
Share manager was recently introduced and need to be in the chart for offline upgrade etc.

[2020-12-07 02:11] BayanAzima opened #2045 "[BUG] Pod stuck in 'ContainerCreating' while trying to attach to PV"
**Describe the bug**
unable to run pvc/pod example here: https://longhorn.io/docs/0.8.0/examples/pod-with-pvc/

**To Reproduce**
Steps to reproduce the behavior:
1. Setup k3s cluster.
2. added the cluster to rancher
3. installed node dependency: iscsi-initiator-utils
3. navigated to the cluster in ranch > deployed app > Longhorn.
    Modified properties in the values file.
    - kubeletRootDir = /

[2020-12-07 03:29] shuo-wu commented on #2045
Can you generate a support bundle (via the button in the footer left of the UI page) and send it to longhorn-support-bundle@rancher.com ?

[2020-12-07 03:53] BayanAzima commented on #2045
Just sent the support bundle your way. Thanks.

Next I think i will try longhorn on some other boxes and see if i run into the same issue.

[2020-12-07 03:56] shuo-wu commented on #2029
For the proxying setting issue, I am not sure which part you are worried about. Typically proxy setting is related to Longhorn UI rather than longhorn manager daemonset. If possible, you can file a separate post to track the proxy issue.

[2020-12-07 04:35] BayanAzima commented on #2045
Update: on some similar infrastructure I was able to setup longhorn successfully but the version of k3s was different (v1.18.10+k3s2).

[2020-12-07 09:40] shuo-wu commented on #2035
This CRD not-clean-up issue is caused by the annotation `helm.sh/resource-policy: keep` introduced in #1818.

After adding this annotation, the CRD will be retained not only during the upgrade but also during the deletion. And I found there is a similar case in the Helm github community: https://github.com/helm/helm/issues/7839#issuecomment-606044441

I will investigate if we can fix this issue vi

[2020-12-07 09:41] hangnu opened #2047 "Why does the system always have degraded volumes？"
We deployed longhorn v1.0.2 successfully，but there always are some volumes degrading in the system.

Never the volumes are all healthy；

When we reboot pods, there will even more volumes go to downgrade, like 30%, and system has to rebuild replicas crazy

[2020-12-07 11:54] shuo-wu commented on #1978
@meldafrawi How do you run csi-sanity test? By directly running `./csi-sanity -csi.endpoint /var/lib/kubelet/obsoleted-longhorn-plugins/driver.longhorn.io/csi.sock` on a Longhorn work node? Do we need to setup/config anything for this test?

[2020-12-07 15:33] andreshamedfernandez commented on #2030
@PhanLe1010 Yes as soon as it happens I will do that.
On a side note I saw the you posted the logging from the 26th of november. The reason of that disconnection had to do with a unvoluntary restart of the docker engine on all nodes at the same time.
After that restart we did have another issue on the 2nd of december (you can see the logging in the original post.
Thanks in advance for the help.

[2020-12-07 18:29] yasker commented on #2035
If we cannot delete it automatically (since we don't really know who is installing/uninstalling), we can call it out in the uninstallation doc.

[2020-12-07 18:44] yasker commented on #2039
Rancher 2.5 requires a different format of Helm packaging.

[2020-12-07 18:46] yasker commented on #2039
In fact, @shuo-wu can do document the changes we need to make to make Rancher 2.5 works? It seems wrong that anyone has to maintain two Helm charts. I am wondering if we can solve it on the Rancher side.

[2020-12-07 19:04] yasker commented on #1999
It's unlikely we have time for writing an automation test in v1.1.0. Let's do a regression test and then punt it to v1.1.1 release.

[2020-12-07 19:05] yasker commented on #1304
@PhanLe1010 Can you work on the integration test for this one?

[2020-12-07 19:05] yasker commented on #1903
It's unlikely we have time for writing the automation test for this issue in v1.1.0. Let's do a regression test and then punt it to v1.1.1 release.

[2020-12-07 19:06] PhanLe1010 commented on #1304
Sure

[2020-12-07 19:10] yasker commented on #307
It's unlikely we have time for writing the automation test for this issue in v1.1.0. Let's do a regression test and then punt it to v1.1.1 release.

[2020-12-07 19:12] yasker commented on #304
It's unlikely we have time for writing the automation test for this issue in v1.1.0. Let's do a regression test and then punt it to v1.1.1 release.

[2020-12-07 19:12] yasker commented on #1922
It's unlikely we have time for writing the automation test for this issue in v1.1.0. Let's do a regression test and then punt it to v1.1.1 release.

[2020-12-07 23:32] khushboo-rancher commented on #1975
I tried reproducing the case which I've mentioned but couldn't reproduce because of the merged code I think. I was seeing the issue on upgrading Longhorn v1.0.2 to longhorn Master dated `11/11/2020` with a set up of 4 Nodes (1 etcd/control plane and 3 worker)

However, to have 1 stopped old replica + 2 running old replicas before upgrade, we can follow the below steps.
1. Have a set up of Longhorn

[2020-12-08 00:40] khushboo-rancher opened #2048 "Option of creating RWX volume from the Longhorn UI"
There should be an option of creating RWX volume from Longhorn UI. As of RWX feature in v1.1.0, Longhorn supports the RWX volume creation if created using storage class

**Is your feature request related to a problem? Please describe.**
If a volume is created using Longhorn UI and PV/PVC (with RWX enabled) are created later, the volume fails to attach to the pod.
[code]

[2020-12-08 01:43] yasker commented on #469
@pangliang We haven't got time to work on this yet in the upcoming v1.1.0 release. It's targeting v1.1.1 release for now.

[2020-12-08 01:49] yasker commented on #1210
@xoojulian No, we don't have plan to perform this automatically by Longhorn. Since the end-user owns this `multipath` process on the host, there isn't much Longhorn can do. And even Longhorn can modify the host configuration, Longhorn doesn't have the knowledge to determine what's the right behavior in this case.

[2020-12-08 02:00] yasker commented on #2038
We're planning to rewrite the Longhorn UI during or after v1.2.0 release cycle since we need to refactor the API framework first. We will include a dark theme then.

[2020-12-08 02:05] yasker commented on #2040
For v1.1.0 we've added the support for custom columns, but we do miss a few fields like the number of replicas and data locality.

@PhanLe1010 Can you follow up and see what other fields we can add to the volume overview page?

[2020-12-08 02:11] yasker commented on #2042
You can install it as a regular Helm chart or yaml following the instruction at https://longhorn.io/docs/1.0.2/deploy/install/ .

[2020-12-08 02:16] BayanAzima commented on #2045
Update: I wanted to see if it was related to version v1.19.4+k3s1 but it seems I get the same issue when i uninstall k3s on all the nodes and downgrade to v1.18.10+k3s2. must be something else..

i am setting up these nodes in HA mode could that be an issue? I may try none HA tomorrow. In the k3s distro i guess v1.19.4+k3s1 uses embedded etcd while v1.18.10+k3s2 uses dqlite.

my cluster init comma

[2020-12-08 03:18] shuo-wu commented on #2045
1. This attaching issue is caused by the following iSCSI error:
[code]
Can you try to manually create and attach a volume with frontend `iSCSI` then log into it? If the login timeout error is still triggered, there may be something wrong with the iSCSI config on your worker node host.
2. As for`on some similar infrastructure I was able to setup longhorn successfully`. Are you still using Red Hat E

[2020-12-08 03:21] BayanAzima commented on #2045
Thanks so much for your insight I will look into this tomorrow and get back
to you...I image it’s the node configuration.

On Mon, Dec 7, 2020 at 7:18 PM Shuo Wu <notifications@github.com> wrote:

[2020-12-08 03:43] shuo-wu commented on #1017
1. Since you said `resources are limited`. Can you tell us what your Longhorn worker node config (CPU, Memory, Network) is?
2. When there are multiple workloads using Longhorn volumes on a node, tgtd may be busy. If you encounter this issue again, can you try to make all volumes idle (attached but no i/o) then check the tgtd status?

[2020-12-08 05:44] smallteeths commented on #1554
[code]

![Jietu20201208-133517](https://user-images.githubusercontent.com/27733391/101444352-4573f800-395a-11eb-8774-603c456c9cde.jpg)

Sorry for the late reply,  v1.1.0 will fix this issue. It should be noted that, The last `/` can't be omitted from the access path. @riazarbi

[2020-12-08 07:12] khushboo-rancher opened #2049 "[BUG] 'last-applied-tolerations' annotation is missing in shareManager pods."
**Describe the bug**
'last-applied-tolerations' annotation is missing in the Yaml of shareManager pods.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy longhorn v1.1.0-rc1 in a cluster having 4 nodes (1 etcd/control plane and 3 worker).
2. Create a RWX volume.
3. Check the Yaml of ShareManager pod.
4. `longhorn.io/last-applied-tolerations` is missing from the YAML.
[code]

**Expected

[2020-12-08 07:38] nicktming opened #2050 "[Question] performance and stability of longhorn?"
**Question**
what about the performance and stability of longhorn ? what is the maximum nodes of single kubernetes cluster do longhorn support ?

**Environment:**
 - Longhorn version:
 - Kubernetes version:
 - Node config
   - OS type and version
   - CPU per node:
   - Memory per node:
   - Disk type
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/G

[2020-12-08 07:57] jvincze84 opened #2051 "Multiple Instance Manger On The Same Node"
Hi,

I have a single node Kubernetes installation with Longhorn Persistent Storage.
I've noticed that multiple Instance Manager is running on the same node:
[code]

And have multiple intancamanagers CRDs as well:
[code]

I would like to know if it is OK? If not how can I fix it?

During the installation 1 replica count was set in the default configuration, and in the default-replica-count setting

[2020-12-08 09:03] shuo-wu commented on #1975
Yes. There will be a stopped replica (with `spec.FailedAt` set) based on the steps you provide. But the error `failed to get instance manager for instance` is not triggered. Let's ignore #1118 unless we can find a way to reproduce it in the future.

[2020-12-08 09:03] tburschka opened #2052 "[Bug] (Updated) Hangs in attached state, seems to be a problem with raid10 (or permissions)"
**Question**

**Environment:**
 - Longhorn version:

 - Kubernetes version:

 - Node config
   - OS type and version

   - CPU per node:

   - Memory per node:

   - Disk type

  - Network bandwidth and latency between the nodes:

 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal):

**Additional context**
[code]

Test:

[code]

Logs:

[code]

[2020-12-08 09:08] #1835 closed

[2020-12-08 11:06] IJOL opened #2053 "Can replica rebuilding be throttled in any way?"
We found replica rebuilding a little slow given our hardware environment ( a private Gbit ethernet connection in between nodes) and all using only SSD drives, a 15 Gb replica rebuild, lasts for about 6 minutes.. an equivalent operation between the nodes using SCP  lasts in  2:45 minutes  a 50% increase in speed, so I wonder if there is any way to throttle replica, I understand that there will be s

[2020-12-08 11:27] ElisaMeng opened #2054 "[Question] How to troubleshooting when replica failed"
**Question**
Like many other reported here, we constantly see many volumes rebuild their replica on our lab cluster.  It seems never end. :(

We have checked CPU, and were sure we have allocated more than enough for each instance manager.  Cluster is L2 connected with 10G ethernet. We have no clue why there will be so many replica failures. It looks very worrying to put this into productions. Any

[2020-12-08 11:40] shuo-wu commented on #2029
1. According to the log instance manager pods, the engine and replicas succeeded to create 4 snapshots around `2020-12-02T13:05:57Z`. It means the volume snapshot creation works fine, and the issue is not caused by the interval network disconnection.
[code]
[code]
[code]
2. I saw there is a snapshot cleanup around `"2020-12-02T12:48:18Z"`. Since it was done within 1 minute and the snapshot creatio

[2020-12-08 13:05] tburschka commented on #2052
Update: It seems that k3s now create `/var/lib/kubelet` instead of `/var/lib/rancher/k3s/` (or `/var/lib/rancher/k3s/agent/kubelet` so ive reinstalled k3s and longhorn with `helm install longhorn ./longhorn/chart/ --namespace longhorn-system --set csi.kubeletRootDir=/var/lib/kubelet`

[2020-12-08 15:13] tburschka commented on #2052
It seems, that the raid10 that i've created can't be used in the current state. But i don't know which circumstances let longhorn fail on this since the directories `engine-binaries`, `replicas` and the `longhorn-disk.cfg` were written.

[2020-12-08 16:36] joshimoo opened #2055 "[BUG] Nightly tests failed because the priority class setting was not cleaned up"
When the priority class test fails, we don't ensure that the custom set priority class setting gets cleared.
But we do have a finalizer on the actual priority class which will remove the priority class from kubernetes.
So all future following tests will fail, since the longhorn components fail to come up.

[2020-12-08 16:40] yasker commented on #1118
Punt to v1.1.1 due to hard to reproduce the issue.

[2020-12-08 17:39] BayanAzima commented on #2045
The local volume I am trying to use for storage is different in the failing
infrastructure then the working one. We had the storage team setup a large
ssd disk array.

I have to admit I am unfamiliar with how iscsi works, i'll read up on it
and try to troubleshoot. Do you have any docs I should refer to for
troubleshooting?

On Mon, Dec 7, 2020 at 7:21 PM Bayan Azima <bayanazima@gmail.com> wrote:

[2020-12-08 18:16] khushboo-rancher opened #2056 "[BUG] The 'Attached to' column needs to incorporate all pods history for RWX volume"
**Describe the bug**
The 'Attached to' column needs to incorporate pods history for all the RWX volume on the longhorn UI. As of now, it shows only the last pod attached history.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an statefulSet of 3 pods with RWX volume.
2. Scale down all the pods.
3. RWX volume shows only the last pod attached history.

**Environment:**
 - Longhorn vers

[2020-12-08 18:27] PhanLe1010 opened #2057 "[BUG] Multiple managers delete pod at the same time when volume remountRequestedAt field is set"
**Describe the bug**
Multiple managers delete pod at the same time when volume remountRequestedAt field is set. This is a problem with a StatefulSet where the newly recreated pod has the same name as the previous pod. Some deletion requests might be missed or come late. The result is that newly the newly recreated pod is deleted again when those late requested get to Kubernetes API.
**To Reproduce

[2020-12-08 18:27] khushboo-rancher opened #2058 "[FEATURE] Handle NFS client info for the RWX feature"
**Please describe.**
Having NFS client on each node is prerequisite for the feature RWX in Longhorn. If a RWX volume fails to come up because of NFS missing on the nodes, there is no proper indication for that.

**Describe the solution you'd like**
1. There should be an option to trigger installation of NFS client on the nodes.
2. If NFS-client is not installed, a proper error message saying the N

[2020-12-08 18:31] yasker commented on #2024
The test passed for build [188](https://ci.longhorn.io/job/public/job/longhorn-tests/188/), [189](https://ci.longhorn.io/job/public/job/longhorn-tests/189/), [190](https://ci.longhorn.io/job/public/job/longhorn-tests/190/)

[2020-12-08 18:31] #2024 closed

[2020-12-08 18:31] yasker commented on #1977
`test_setting_toleration_extra` passed for [188](https://ci.longhorn.io/job/public/job/longhorn-tests/188/), [189](https://ci.longhorn.io/job/public/job/longhorn-tests/189/), [190](https://ci.longhorn.io/job/public/job/longhorn-tests/190/)

[2020-12-08 18:31] #1977 closed

[2020-12-08 18:33] yasker commented on #1719
`test_auto_remount_with_subpath` still failed for [189](https://ci.longhorn.io/job/public/job/longhorn-tests/189/testReport/junit/tests/test_ha/test_auto_remount_with_subpath/).

[2020-12-08 18:34] yasker commented on #1719
It's unlikely we have time for writing an automation test in v1.1.0. Let's do a regression test and then punt it to v1.1.1 release.

[2020-12-08 18:35] yasker commented on #1719
We need to look into how this test case failure happened.

[2020-12-08 18:36] yasker commented on #1741
Punt to v1.1.1 due to the change is not in the code and we should able to fix it without shipping a new release.

[2020-12-08 18:36] khushboo-rancher opened #2059 "The detach message should include the RWX volume behavior"
**Describe the bug**
The RWX volume can't be detach using Longhorn UI. On clicking detach, the volume first get detached and then automatically get attached to the volume.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Longhorn UI.
2. Select a RWX volume and detach it.
3. The volume get detached and attached again.
4. The message doesn't reflect this behavior.

**Expected behavior**
T

[2020-12-08 18:38] yasker commented on #1967
Punt the validation to v1.1.1. As long as there is no side effect for the v1.1.0 release (which we can observe from the nightly test), I am fine with including the fix now.

[2020-12-08 18:38] PhanLe1010 opened #2060 "[BUG] Volume Attachment Recovery Policy feature conflicts with Pod Deletion Policy"
We already have the deleting mechanism(https://github.com/longhorn/longhorn/issues/1105). So, we need to consider whether we can safely remove the feature Volume Attachment Recovery Policy which deletes volume attachments on terminating pods on a failed node.

[2020-12-08 18:38] yasker commented on #2043
Done

[2020-12-08 18:38] #2043 closed

[2020-12-08 18:45] yasker commented on #1976
Done.

[2020-12-08 18:45] #1976 closed

[2020-12-08 18:58] PhanLe1010 commented on #2047
There are several reasons that lead to degraded volumes. The most common reason is the cluster doesn't meet the minimum resource requirement. You can take a look at this report, https://github.com/longhorn/longhorn/issues/1691#issuecomment-729633995 , to see if your cluster experiences this issue.

Do you mean that you reboot the nodes? If you reboot a node, Longhorn will see that the replica on t

[2020-12-08 19:00] yasker commented on #2054
`7200 mechanical disk` is likely the problem. Longhorn isn't built with a spinning disk in mind, so it doesn't optimize the read/write to satisfy the requirement of a spinning disk. IOPS for 7200 spinning disk is likely less than 100 IOPS per second, which will cause problems for Longhorn.

[2020-12-08 19:02] yasker commented on #2051
These are two kinds of instance manager, `-e` is for `engine` and `-r` is for `replicas`. So this is by design.

You won't see `instance-manager-r` on a node that doesn't provide storage to Longhorn, but `instance-manager-e` will be on every node that will potentially use Longhorn volumes.

[2020-12-08 19:06] yasker commented on #2050
You can find our performance and scalability report at https://longhorn.io/blog/performance-scalability-report-aug-2020/ .

So far in our lab, we've tried scaling up to 100 nodes and 900 volumes. You can find more details in the report.

[2020-12-08 19:09] jvincze84 commented on #2051
@yasker
Hi,

Thank you very much for your help, and explanation.
It's very helpful for me.

Best Regards,
Janos Vincze

[2020-12-08 19:09] #2051 closed

[2020-12-08 19:17] PhanLe1010 commented on #2040
How about `revisionCounterDisabled`, `recurringJobs`, and `share` (`RWX`) ?

cc @yasker @shuo-wu

[2020-12-08 19:38] PhanLe1010 commented on #2030
@andreshamedfernandez

I also saw that there was also a network disconnection on Dec 2nd. Node `stkub15` cannot reach `etcdserver`. Therefore, volume engine on `stkub15` also cannot reach all of its replicas because all replicas are on other nodes. This explains why volume is detached unexpectedly
[code]

However, I still don't know why Longhorn auto attachment feature doesn't help in this case. W

[2020-12-08 19:51] PhanLe1010 commented on #2030
Btw, for 3 volumes, your network bandwidth (1gbps) on the low end of the minimum resource requirement. You can see the minimum resource requirement analysis [here](https://github.com/longhorn/longhorn/issues/1691#issuecomment-729633995).
One way to reduce the network connection is to have one volume's replica on the same node as the consuming workload. I saw that all of your 3 volumes has all of i

[2020-12-08 20:49] yasker commented on #2040
`share` should be there. `Recurring Jobs` is already in the `Scheduled` column. We don't need `revisionCounter` disabled since it's more of an implementation detail.

[2020-12-08 21:26] yasker opened #2061 "task: Longhorn v1.1.0 release chart"
Need to update Rancher charts for Longhorn v1.1.0 release.

[2020-12-08 21:28] yasker commented on #2034
One note: the uninstaller is designed to run in default namespace, since if `longhorn-system` namespace is deleting, we cannot creating a new pod in it.

[2020-12-08 21:42] joshimoo commented on #2034
The fix here is to use the uninstall-controller namespace variable.
https://github.com/longhorn/longhorn-manager/blob/master/controller/uninstall_controller.go#L48

Which is set based on the passed longhorn-namespace env variable which must be specified in the uninstall.yaml.
https://github.com/longhorn/longhorn-manager/blob/master/deploy/uninstall/uninstall.yaml#L78

[2020-12-08 23:20] ElisaMeng commented on #2054
@yasker Thanks a lot! So do we have any docs for recommending setup for longhorn? e.g. the minimal requirement for backing disks?

And accoring to performance report https://longhorn.io/blog/performance-scalability-report-aug-2020/, seem longhorn introduce a big penalty on IOPS.  Do we see any improvement very soon?

[2020-12-09 00:47] PhanLe1010 opened #2062 "[BUG] The feature Pod Deletion Policy When Node is Down doesn't work on Kubernetes >= v1.19.0"
When a node goes down, Kubernetes v1.18 or older versions set the taint `node.kubernetes.io/unreachable:NoExecute` to the failed node. As the result, the pods of StatefulSet and Deployment will have DeletetionTimestamp after 300s (300s because by default Kubernetes automatically adds toleration for `node.kubernetes.io/not-ready` and `node.kubernetes.io/unreachable` with `tolerationSeconds=300` to

[2020-12-09 01:12] yasker commented on #2013
@casek14 due to the time constraint, we are unable to get this in v1.1.0. We will revisit it in v1.1.1.

[2020-12-09 01:16] yasker commented on #2062
This issue is for tracking the Kubernetes v1.19 fix.

[2020-12-09 02:25] BayanAzima commented on #2045
I have scaled my problem down some. I have 1 node, with k3s version v1.18.10+k3s2 installed
[code]

I can go to the Longhorn UI and create a volume using frontend iSCSI. I can then see it and connect to it on the host node using iscsiadm. props to the thread here for showing me the way :) https://github.com/longhorn/longhorn/issues/906
[code]

my question now is i think the issue is with block sto

[2020-12-09 03:40] shuo-wu commented on #2040
And it seems that the field `frontend` is not there. We may need to add it for custom columns.

[2020-12-09 04:29] PhanLe1010 commented on #2040
So the list is:
1. number of replicas
1. data locality
1. share
1. frontend

[2020-12-09 04:40] c3y1huang commented on #1701
/cc @innobead

[2020-12-09 04:51] c3y1huang commented on #1509
/cc @innobead

[2020-12-09 04:53] shuo-wu commented on #1978
Test step & the result:
1. Deploy Kubernetes v1.20 Cluster (using k3s v1.20 `curl -sfL https://get.k3s.io | INSTALL_K3S_SKIP_START=true INSTALL_K3S_COMMIT=08dd8fcda1ae448d3d01dd5b0128ba54e75c504a bash` here)
2. Comment [the directory creation code](https://github.com/longhorn/longhorn-manager/blob/ba4ca64ad03911194c8586932e9f529e19c884a4/csi/util.go#L114) and build a longhorn-manager image `shuowu

[2020-12-09 04:54] shuo-wu commented on #1978
Do we need to file a separate issue to track the CSI sanity test & fix issue?

[2020-12-09 06:02] guangbochen opened #2063 "[BUG] failed to launch pod using longhorn v1.1.0-rc1 on k3os"
**Describe the bug**
failed to lauch pod using longhorn v1.1.0-rc1 on k3os with v0.19.4-dev.5

**To Reproduce**
Steps to reproduce the behavior:
install the longhorn using
1. `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/deploy/longhorn.yaml`
1. create pod and VM following the https://rancher.com/docs/k3s/latest/en/storage/ example

**Expected behavior**
the pod shou

[2020-12-09 07:45] khushboo-rancher opened #2066 "[BUG] ShareManager pod doesn't restart on terminating the node when both sharemanager and workload pod is on the same node"
**Describe the bug**
ShareManager pod doesn't restart on terminating the node when both ShareManager and workload pod is on the same node.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0-rc1 on a K3s cluster of 3 nodes.
2. Create a StatefulSet (1 pod) with RWX volume. Make sure both the shareManager pod and the workload is attached to the same node.
3. Power down the a

[2020-12-09 08:38] khushboo-rancher commented on #2066
This could be because of the setting `Pod Deletion Policy When Node is Down`. The setting `Pod Deletion Policy When Node is Down` was `do-nothing` in this cluster, so the workload stuck in terminating state.

[2020-12-09 10:36] gitlawr commented on #1701
It doesn't work well in my single node cluster test:

**Env:**
Single node Ubuntu18.04 on AWS, v1.19.4+k3s1 Kubernetes cluster

**Steps:**
1. Deploy longhorn using the chart from v1.1.0 branch (6a301741dcfe3304a42a52c828dfaa68b7d99417)
2. Wait until all longhorn pods are ready.
3. Deploy the following manifests
[code]

Result:
The pod pends in ContainerCreating status, with the following events:
[

[2020-12-09 11:53] andreshamedfernandez commented on #2030
Thank you for the feedback,
I checked the replicas of the volumes and they all have a replica on their workload node now. Will it help having 2 replica's instead of 3? If anything happens again I will send you the new support bundle.

Do you know when version 1.1.0 of longhorn will be released?

[2020-12-09 12:40] tburschka commented on #2052
This must definitly be a bug. First, I've set the permissions to 777 to ensure longhorn has the permissions, but it didn't work.   So I've relocated the `/var/lib/longhorn` directory back to the host ssd and did a reinstall on longhorn. That worked. So i validated the functionality of my raid, i even did a rebuild and reformat but issue keep going as soon as the directory points to this raid. I'm

[2020-12-09 13:56] proligde opened #2067 "[BUG] Rebuild loop after Volume degraded"
**Describe the bug**

Volume doesn't rebuild - stuck in rebuild loop: One of three nodes constantly loses on of the replica nodes in the GUI, starts rebuilding, fails, starts rebuilding, fails and so on. Sometimes the rebuild reaches 100% and then fails. Sometimes it fails before even starting.

the cluster has no known network issues and is in active use without any problems aside from the longho

[2020-12-09 14:11] yasker commented on #1978
@shuo-wu Yes, please file another bug for CSI sanity check.

[2020-12-09 14:29] yasker commented on #2040
The endpoint implies what is the front end, since blockdev and iscsi havr different formats for front end.

[2020-12-09 14:35] tburschka commented on #2052
Ive updated the settings of the helm install command:

 `helm install longhorn ./longhorn/chart/ --namespace longhorn-system --set defaultSettings.defaultReplicaCount=1 --set csi.kubeletRootDir=/var/lib/kubelet --set defaultSettings.replicaSoftAntiAffinity=true --set defaultSettings.defaultDataPath=/data/longhorn`

but even this doesn't help. I hope some one can answer me (don't like monoge)

[2020-12-09 14:53] hijak opened #2068 "[BUG] Unable to take snapshots/backups"
**Describe the bug**
I am unable to take snapshots due to connection to engine timeout

**To Reproduce**
Steps to reproduce the behavior:
1. Go to longhorn ui
2. Click on take snapshot
3. Perform a snapshot
4. See error
[code]
**Expected behavior**
snapshot suceeds

**Log**
fail to create snapshot: error creating snapshot '': Timeout executing: /var/lib/longhorn/engine-binaries/longhornio-longhorn

[2020-12-09 16:10] joshimoo commented on #2066
From the logs it looks like this is not a bug, there was no longer an active workload.
Which meant that the kubernetes_pv_controller set the lastPodRef, here:
https://github.com/longhorn/longhorn-manager/blob/master/controller/kubernetes_pv_controller.go#L490

This means that there is no need for the share manager any longer and the share manger went into the stopped state and detached the volume.

[2020-12-09 16:11] joshimoo commented on #2066
@khushboo-rancher once you scale the workload up or create a new workload, new deployment refering the same pvc, the share manager should be coming up again, correct?

[2020-12-09 16:14] joshimoo commented on #2066
From the pods.yaml the sharemanager pod: pvc-852ea68c-340a-4fc1-a0d0-75e67508f4ac also no longer shows up so it correctly got force deleted as well.

[2020-12-09 16:50] casek14 commented on #2013
Ok thank you, and when is the v1.1.1 version planned to be released ?

[2020-12-09 18:01] khushboo-rancher commented on #2066
@joshimoo Yes, on scaling up the workload, the ShareManager came up. I think, we can close this.

[2020-12-09 18:04] khushboo-rancher commented on #2066
Closing this. Not a bug.

[2020-12-09 18:04] #2066 closed

[2020-12-09 18:20] yasker commented on #2054
Longhorn requires SSD/NVMe devices.

For the best practice guide, see https://longhorn.io/docs/1.0.2/best-practices/ . We will update it with SSD/NVMe requirement too.

And we're planning to integrate with SPDK to improve the IOPS in v1.2.0 release cycle, which is targeting the first half of 2021.

[2020-12-09 18:33] yasker commented on #2068
Hi @hijak

Can you provide a support bundle? You can find the button to generate one at the bottom of the UI. Once generated, you can attach it to the issue, or send us to `longhorn-support-bundle@rancher.com`.

[2020-12-09 18:34] khushboo-rancher opened #2069 "[BUG] Include ShareManager resources in the support bundle of longhorn"
**Describe the bug**
Include ShareManager resources in the support bundle of longhorn. From Longhorn v1.1.0 we have ShareManager resources, the support bundle should have the logs of these resources.

[2020-12-09 18:36] joshimoo commented on #2053
@IJOL Do I understand correctly that you are asking whether the replica rebuild can be speed up?
Are you having many instances where a replica rebuild is required?

One reason the replica rebuild is slower than a direct copy, is that we have a verification pass.
We are working on the below issues, to speed up the replica rebuild speed.
- https://github.com/longhorn/longhorn/issues/1948 (improves t

[2020-12-09 18:37] hijak commented on #2068
@yasker thank you i have sent the support bundle to the email

[2020-12-09 18:40] joshimoo commented on #2067
@proligde Can you attach/email a support bundle, something seems to be killing the replica process `pvc-7df48764-b7db-4868-b9e2-f2e9d6ae73b6-r-de3dd018: state error: Error: signal: killed"`

That should allow us to investigate further also a dmesg from the node where this is happening would be useful.

[2020-12-09 18:41] yasker commented on #2013
@casek14 It will be a few weeks after v1.1.0 release, likely in Jan 2021.

[2020-12-09 19:00] khushboo-rancher opened #2070 "[BUG] Intermittent issue while rebuilding replica"
**Describe the bug**
There is an intermittent issue observed while the rebuilding of a replica. Later rebuilding successfully completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn on a K8s cluster of 3 nodes (1 etcd/control plane, 3 workers).
2. Create volume with 3 replicas.
3. Write some data and take some snapshots.
4. Enable `Data-locality` and reduce replica count t

[2020-12-09 19:03] PhanLe1010 commented on #2052
@tburschka Thanks for reporting

Longhorn doesn't work with symlink. Can you make sure to use hard link instead? See more instruction about [how to create an alternative/alias path for the disk](https://longhorn.io/docs/1.0.2/volumes-and-nodes/multidisk/#use-an-alternative-path-for-disk-on-the-node)

When you uninstall the old Longhorn deployment. Longhorn usually clean up CRDs when uninstalled us

[2020-12-09 19:13] PhanLe1010 commented on #2030
Yes, having 2 replicas with 1 local replica will reduce network consuming by 66%. However, be aware that it will not as HA as 3 replicas. You can also setup [backup target](https://longhorn.io/docs/1.0.2/snapshots-and-backups/backup-and-restore/set-backup-target/) to backup your data if it is critical.

Thank you

[v1.1.0](https://github.com/longhorn/longhorn/wiki/Releases) will be released in 6 d

[2020-12-09 20:26] zbialik commented on #1470
Is there really no plan to make the longhorn-nfs-provisioner available in a HA setup? Having a single point of failure for a shared persistent volume for my RWX workloads is not ideal. A 90 second fail over is a deal breaker.

If its the longhorn storage-class that is limiting the longhorn-nfs-provisioner from replicating the storage quick enough for zero downtime, could another storage-class be l

[2020-12-09 20:37] PhanLe1010 commented on #1701
@gitlawr

Cannot reproduce the problem

**Env:**
Single node Ubuntu18.04 on AWS, v1.19.4+k3s1 Kubernetes cluster

**Steps:**
1. Deploy longhorn using the chart from v1.1.0 branch (6a301741dcfe3304a42a52c828dfaa68b7d99417)
2. Wait until all longhorn pods are ready.
3. Deploy the following manifests
[code]

I notice that [the reproduce steps](https://github.com/longhorn/longhorn/issues/1701#issuecom

[2020-12-09 22:10] yasker commented on #1701
In fact, it doesn't look like due to the default storage class setting, since Longhorn has created related logs in the manager. Need some more information regarding the issue.

[2020-12-09 23:25] khushboo-rancher opened #2071 "[BUG] Restored RWX volume can't be used with RWX PVC"
**Describe the bug**
A restored RWX volume can't be used with a PVC created with RWX option.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0-rc1 in a k3s cluster.
2. Create an RWX volume.
3. Write some data into the pod.
4. Take backup and restore it.
5. Create an rwx enabled PVC for the restored volume.
6. Attach to a pod. It fails to attach to a pod.

**Expected beha

[2020-12-10 00:55] yasker commented on #1883
Release note and chart minimal version have been updated to v1.16.

[2020-12-10 00:55] #1883 closed

[2020-12-10 01:17] khushboo-rancher opened #2072 "[BUG] Unable to drain the node where ShareManager pods exist and the workload pod is on other node."
**Describe the bug**
Draining a node fails if the node have ShareManager pods running on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy longhorn v1.1.0-rc1 on a k3s cluster of 3 nodes
2. Create RWX volume and write some data into it.
3. Make sure the workload pod and shareManager pod is on different nodes.
3. Drain the node where the ShareManager pod is running.
4. Drain action f

[2020-12-10 04:13] yasker commented on #2027
CSI driver part (https://v1-1-0.longhorn.io/docs/1.1.0/concepts/#13-csi-driver) has been updated to refer to https://v1-1-0.longhorn.io/docs/1.1.0/advanced-resources/deploy/airgap/ , which contains the latest information regarding the airgap installation.

[2020-12-10 04:13] #2027 closed

[2020-12-10 04:15] yasker commented on #1996
Will fix it along with https://github.com/longhorn/longhorn/issues/2037 .

[2020-12-10 04:54] yasker commented on #2037
Done by https://github.com/longhorn/website/pull/236.

https://v1-1-0.longhorn.io/docs/1.1.0/volumes-and-nodes/maintenance/

[2020-12-10 04:54] #2037 closed

[2020-12-10 05:03] BayanAzima commented on #2045
Hi @shuo-wu, The iscsi frontend creation works from the UI and i am able to log into it while creating the the frontend as block fails.

[code]

this excerpt from the instance manager looks to be the source of the issue like you pointed out. Any other clues you see I might be able to look into?

[code]

[2020-12-10 05:31] yasker commented on #1996
Done with https://github.com/longhorn/website/pull/237

https://v1-1-0.longhorn.io/docs/1.1.0/high-availability/node-failure/

[2020-12-10 05:31] #1996 closed

[2020-12-10 05:41] shuo-wu opened #2073 "[BUG]Volumes used by MinIO workloads cannot be attached with state Degraded"
**Describe the bug**
See the title and the reproducing steps.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a new cluster.
2. Deploy Longhorn v1.1.0-rc1 (or master - Dec 10, 2020). Make sure:
  1. the Longhorn StorageClass is the default one.
  2. the Longhorn StorageClass replica count should be greater than the Longhorn cluster worker node count.
3. Fetch the MinIO Chart and insta

[2020-12-10 05:54] khushboo-rancher opened #2074 "[BUG] Longhorn v1.1.0-rc1 doesn't work on PSP enabled cluster"
**Describe the bug**
CSI-plugin doesn't get deployed on PSP enabled cluster. Thus the functionality of longhorn doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a K8s cluster of 4 nodes (1 etcd/control plane, 3 workers)
2. Enable PSP `restricted` on the cluster.
3. Deploy longhorn v1.1.0-rc1.
4. The CSI plugin doesn't get deployed.
5. User is unable to create volume using

[2020-12-10 12:19] ElisaMeng commented on #2054
@yasker Thanks again. I manage to improve the IOPS on host by using raid and cache, it is jump from 150 to 4K-5K IOPS already. But when test with a single longhorn volume on top of this setup,
On host:

On host:
[code]
On longhorn volume:

[code]

The iops is

   iops        : min= 3498, max= 5108, avg=4367.71, stdev=34.99, samples=1190

vs

   iops        : min=    7, max=  150, avg=26.11, stdev=

[2020-12-10 12:21] shuo-wu commented on #2073
There is tons of [conflicts](https://github.com/longhorn/longhorn-manager/blob/b467f4fbb9f936b91830449a125cea04c9b0b6b6/api/volume.go#L206) happens during [updating volume object](https://github.com/longhorn/longhorn-manager/blob/b467f4fbb9f936b91830449a125cea04c9b0b6b6/manager/volume.go#L321) in the VolumeAttach call. As a result, the longhorn manager cannot respond to the CSI plugin then lead to

[2020-12-10 13:06] proligde commented on #2067
@joshimoo Thanks for your request. I had looked into dmesg but there weren't any noticeable problems. "Unfortunately" the problem resolved itself after several hours in quite a mysterious way: Except of one failing node there now were two:

1st the previously failing Replica was shown as unavailable in the "Volume" Tab of the GUI (after klickin on the volume), although marked as "schedulable" and

[2020-12-10 13:06] #2067 closed

[2020-12-10 13:07] thomasdba commented on #1549
I met the similar issue ,but all looks good ,coredns is also fine .
longhorn-manager log like this :
time="2020-12-10T12:51:14Z" level=debug msg="Requeue longhorn-system/lab1 due to conflict: Operation cannot be fulfilled on nodes.longhorn.io \"lab1\": the object has been modified; please apply your changes to the latest version and try again"

OS: ubuntu 20.04 , k8s : rke2 1.18

[2020-12-10 13:59] WhitePhoera opened #2075 "[Question] Help needed to understand reason of readonly."
I like the longhorn and functional it gives.
i have small test environment(it will grow later, but it's small for now)
Two VDS, one master and one worker node(in plans to increase later, so master is master anyway)

And i regullary see that pod with postgresql fails with readonly FS.
i can see errors in instance-manager, but i can't determine the reason.
due to only one worker node, any payload wo

[2020-12-10 16:06] yasker commented on #2010
We will validate the steps as a part of air gap installation pre-release test.

[2020-12-10 16:06] #2010 closed

[2020-12-10 17:26] kiddouk commented on #6
From a few days ago, you also need the `shareManager` that has been included in the chart for `v1.1.0`. For this, make sure to clone https://github.com/longhorn/longhorn/tree/v1.1.0 and then issue :

[code]

[2020-12-10 17:35] yasker commented on #6
@kiddouk In fact just install the chart from https://github.com/longhorn/longhorn/tree/v1.1.0 should work since our image build are multi-arch, you shouldn't need to change the image specifically for the ARM64 environment.

[2020-12-10 19:48] yasker commented on #2063
@guangbochen can you help to validate the issue? It should be fixed in the longhorn master branch now.

[2020-12-10 21:52] joshimoo commented on #2048
I added an `accessMode` field to the volume api object, as well as an updateAccessMode api endpoint.
The valid values for the accessMode are
- `rwo` for the label `ReadWriteOnce`
- `rwx` for the label `ReadWriteMany`

All volume creation needs to expose dropdown fields (restore, create volume to specify  this access mode, the field should be below the data locality field. Example screenshots below

[2020-12-10 22:04] joshimoo commented on #2071
![create-volume](https://user-images.githubusercontent.com/1287163/101835395-06050180-3b3c-11eb-9567-96cce4ce3a4e.png)
![restore-volume](https://user-images.githubusercontent.com/1287163/101835397-069d9800-3b3c-11eb-92cd-63d81fc563ed.png)

[2020-12-10 22:04] joshimoo commented on #2071
@smallteeths for the label you can also use rwo/rwx depending on what looks better from a ui standpoint :)

[2020-12-10 22:05] joshimoo commented on #2048
![create-volume](https://user-images.githubusercontent.com/1287163/101835526-36e53680-3b3c-11eb-98b1-e359a9c9ac15.png)
![restore-volume](https://user-images.githubusercontent.com/1287163/101835530-377dcd00-3b3c-11eb-8624-760b345d63ca.png)

[2020-12-10 22:06] joshimoo commented on #2048
@smallteeths For the labels you can also use rwo/rwx depending on what looks better from a ui standpoint.

[2020-12-10 22:31] yasker opened #2076 "task: CSI Sanity check"
Use this issue to track the fix for CSI sanity check.

Ref: https://github.com/longhorn/longhorn/issues/1978

[2020-12-10 22:32] yasker commented on #1978
Close this since we've validated Longhorn works fine with Kubernetes v1.20.

For CSI sanity check, tracking it using #2076.

[2020-12-10 22:32] #1978 closed

[2020-12-10 22:46] joshimoo commented on #2048
There should be 3 places where this ui modification is necessary:
- create volume
- restore volume
- creation of a dr volume

[2020-12-10 23:13] khushboo-rancher opened #2077 "[BUG] Intermittent issue on longhorn-manager while deploying Longhorn on SLES15 SP2"
**Describe the bug**
Longhorn-manager goes into crash-loop for a short period of time (~5 sec) and recovers later.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a set up for K8s cluster on SLES15 SP2 nodes (1 etcd/control plane, 3 workers)
2. Deploy Longhorn v1.10-rc1
3. Observe the manager pods go to crashloop for sometime.
4. After sometime new pods for manager come up fine.

**Lo

[2020-12-10 23:20] yasker commented on #2077
Likely due to those two lines
[code]

[2020-12-10 23:50] joshimoo commented on #1849
leaving a note here.
For we added an accessMode field to the volume api object
https://github.com/longhorn/longhorn/issues/2048

which can be used by the frontend to differentiate between rwo/rwx volumes

[2020-12-10 23:53] joshimoo commented on #2035
related for installations outside of the longhorn-system namespace:
https://github.com/longhorn/longhorn/issues/2034

[2020-12-11 00:08] khushboo-rancher commented on #2048
We should also handle the PV/PVC creation with RWX/RWO form longhorn UI.

[2020-12-11 00:36] joshimoo commented on #2048
I will create the pv/pvc based on the volumes access mode.

[2020-12-11 00:50] khushboo-rancher opened #2078 "[BUG] Volumes fail to attach on RHEL 8.2 (SELinux)"
**Describe the bug**
ShareManger unable to start the NFS server on RHEL 8.2 SELinux enabled node.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a K8s cluster on RHEL 8.2 SE Linux enabled nodes ( 1 etcd, 1 Control plane, 3 worker)
2. Deploy Longhorn v1.1.0-rc1
3. Create a PVC with RWX option.
4. The shareManger pod is unable to start the NFS server.
5. Volume stuck in attaching state

[2020-12-11 00:52] ElisaMeng commented on #2054
Hi again @yasker,  I continue to look into the how to build a longhorn cluster properly. After improve the underline disk IOPS, I still have problem to achieve good enough IOPS in longhorn level, I doubt it related to cluster_size on qcow file. Do we still use qcow as backing file? if yes, what is it cluster_size? Thanks a lot for the great work! When digging a deeper into the project, I am gettin

[2020-12-11 01:06] PhanLe1010 commented on #2073
I think that the root cause was https://github.com/longhorn/longhorn-manager/pull/795

How do you think?

[2020-12-11 01:43] joshimoo commented on #2078
This isn't related to the share-manager, was unable to start any RWO volume as well.
Seems to be related to the communication with the iscsid deamon on the host.
[code]

[2020-12-11 02:02] khushboo-rancher commented on #2049
Verified with Longhorn-master - 12/10/2020

Validation - **Partially Passed**

The annotation `longhorn.io/last-applied-tolerations` is appearing now when there is some toleration provided.
In the case of no toleration provided `longhorn.io/last-applied-tolerations: '[]'` is not appearing unlike other Longhorn component.

I think, not having empty valued annotation will not impact the functionalit

[2020-12-11 02:30] khushboo-rancher opened #2079 "[BUG] ShareManager pod fails to come up if the node is deleted"
**Describe the bug**
If the node where the share-manager pod exists is deleted from the cluster and the workload pod is on another node, the nfs-server fails to come up.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy longhorn v1.1.0-master on a K8s cluster ( 1 etcd/control plane, 3 worker)
2. Create an RWX volume. Make sure the workload and share-manager are on different nodes.
3. De

[2020-12-11 02:35] khushboo-rancher commented on #2079
This one is observed with longhorn-master. I'm not sure if it is reproducible all the time or it depends on the fact that the share-manager and workload pods are on different nodes.

[2020-12-11 03:46] PhanLe1010 commented on #2073
### Test steps:

**Scenarios 1:**

Test the reproduce steps in the issue's description

**Scenarios 2:**
Deploy the following statefulset. Notice the field `podManagementPolicy: "Parallel"`, it instructs Kubernetes to lunch all pods at the same time and make the issue more likely to happen.
[code]
Verify that 10 volumes are attached within 30s.
Verify that the logs of longhorn-csi-plugin doesn't c

[2020-12-11 05:12] khushboo-rancher opened #2080 "[BUG] Error in uninstallation of longhorn"
**Describe the bug**
There are error logs in uninstallation of longhorn.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy longhorn in a k8s cluster
2. Once all the components of longhorn are up.
3. Uninstall the longhorn
4. There are error logs as below.
[code]

**Environment:**
 - Longhorn version: v1.1.0-rc1

[2020-12-11 05:17] yasker commented on #2078
Is this a regression? @khushboo-rancher can we try v1.0.2 as well?

It's maybe iscsid wasn't enabled on the node.

[2020-12-11 05:24] yasker opened #2081 "[BUG]Engine Image fail to reach `ready` state if there are tainted worker node"
**Describe the bug**
Engine Image fail to reach `ready` state if there are tainted worker node in the cluster and Longhorn doesn't tolerate the taint.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn
2. Taint one of the node, then delete the engine image daemonset to allow recreation
3. Volume operations (attach/detach) will fail due to engine image is not ready.

**Expected

[2020-12-11 05:41] yasker commented on #2072
We should update the manual test for node drain to include share manager as well.

[2020-12-11 05:42] khushboo-rancher commented on #1975
Verified with longhorn master `12/10/2020`

Validation - **Pass**

The live upgrade worked fine in case the instance-manager-r was deleted and recreated before longhorn upgrade. Tried it 3 times.

[2020-12-11 05:42] #1975 closed

[2020-12-11 05:53] yasker opened #2082 "bug: correct the inconsistent default value in chart for customized default setting"
The default values in https://github.com/longhorn/longhorn/blob/master/chart/questions.yml is inconsistent with what we suggested in the UI.

[2020-12-11 05:57] PhanLe1010 commented on #2049
Yeah, I think we should make it consistent with other components. We can set it by marshal the tolerations even if it is an empty slice:
https://github.com/longhorn/longhorn-manager/blob/1fe2e0563734fa4a8662c3642c489d35ce1a9bb4/controller/share_manager_controller.go#L487

[2020-12-11 06:02] khushboo-rancher commented on #2025
Validated with longhorn-UI `bad9258`

Validation - **Fail**

1. The scenario of expanding the size lower than 1 Gi - Pass

The below scenario fails
1. User is able to create less than 10 Mi Volume from Longhorn UI. As per https://github.com/longhorn/longhorn/issues/357, the minimum size to create a volume in 10 Mi

[2020-12-11 06:25] khushboo-rancher commented on #2057
Verified with longhorn-master `12/10/2020`

Validation - **Pass**

Tested with Deployment and statefulSet, the deletion is handled by one manager.
Tested with the setting `Automatically Delete Workload Pod when The Volume Is Detached Unexpectedly` disabled, no deletion gets triggered.

[2020-12-11 06:25] #2057 closed

[2020-12-11 07:17] khushboo-rancher commented on #2071
Verified with Longhorn-master - `12/10/2020`

Validation - **Fail**

The restored volume is getting attached to rwx PVC but on scaling up the deployment attached to the rwx volume, pod is failing to come up.

**Steps:**
1. Create a rwx volume.
2. Take a backup.
3. Restore the backup.
4. Create a rwx enabled PV/PVC.
5. Create a deployment with 2 pods with the PVC created at step 4.
6. First pod com

[2020-12-11 07:21] shuo-wu commented on #2034
IIRC, for Helm 3, the namespace won't be created and deleted automatically by Helm. Do we need to update the uninstallation YAML file for the Chart to make it run in default namespace?

[2020-12-11 07:24] shuo-wu commented on #2035
As I mentioned in that issue, Helm 3 won't clean up the namespace during the uninstallation. I am not sure if the cleanup failure of the resource except for CRD is related to this namespace setting issue.

[2020-12-11 07:42] khushboo-rancher commented on #2078
We have this problem on v1.0.2 as well. Volume can't be attach to a pod.

[2020-12-11 08:14] khushboo-rancher commented on #2071
I'm seeing this issue with a new rwx volume created also on longhorn-master. On v1.1.0-rc1, I never encountered this issue.

**Steps:**
1. Created a rwx PVC.
2. Attached it to a Daemon set.
3. Two pods came successfully and the 3rd pod failed with below error.
[code]

[2020-12-11 08:20] khushboo-rancher commented on #2074
Verified with longhorn-master `12/11/2020`

Validation - **Pass**

[2020-12-11 08:20] #2074 closed

[2020-12-11 08:49] axeal opened #2083 "[BUG] Service account secret mount spam as a result of longhorn-manager restarts caused by missing iscsi pre-req"
**Describe the bug**

As a result of `mountPropagation: Bidirectional` on the `/var/run` hostPath mount for `longhorn-manager`, introduced in `v1.0.2` there are growing number of `/var/run/secrets/kubernetes.io/serviceaccount` mounts on nodes upon `longhorn-manager` Pod restarts. Continued restarts will increase System CPU usage until the Docker runtime becomes unresponsive and the nodes down in k

[2020-12-11 09:15] tburschka commented on #2052
@PhanLe1010  Thank you for the reply. This i didn't see in the documentation. But instead of hardlink (i saw the message later) i reinstalled the server and setup the whole raid as /var/lib so there is no symlink needed. Next time i will double check the documentation.

[2020-12-11 09:15] #2052 closed

[2020-12-11 09:56] joshimoo commented on #2034
@shuo-wu I don't know about helm, but if you look at the code you will see that instead of using the passed namespace var, which the user could set to the namespace that should be cleaned up, we will use the hardcoded `longhorn-system` namespace for the informers, so we won't be getting the add/update/delete events for namespaced objects if longhorn is not installed in `longhorn-system`. therefore

[2020-12-11 10:11] joshimoo commented on #2079
This is caused by the volume controller not being able to handle it's own detach/attach flow if a different node is requested.
I will make this more robust in the share manager for now,

@yasker For 1.2 we really should refactor the volume controller so it can handle it's own detach/attach when a different node is specified in the spec. It doesn't make sense that the client needs to manage the det

[2020-12-11 11:00] joshimoo commented on #2034
My point is the code already creates the uninstallation pod in the default namespace, and passes a `LONGHORN_NAMESPACE` env
Which gets used by the controller as it's namespace variable instead of the actual namespace it's runnig in.
https://github.com/longhorn/longhorn-manager/blob/master/deploy/uninstall/uninstall.yaml#L77

At the moment if the user want's to uninstall longhorn that is not instal

[2020-12-11 12:59] joshimoo commented on #2071
@khushboo-rancher looks like you are missing the nfs client on the host?
[code]

[2020-12-11 15:47] joshimoo commented on #2083
Thank you for reporting this, for 1.1 we try to install iscsid on the host via an init container.
We still want to investigate the secret mount spam.

[2020-12-11 16:57] yasker commented on #2078
@khushboo-rancher I remember we've tested SELinux for v1.0.2. Anything changed? I will punt this to v1.1.1 if v1.0.2 failed as well.

[2020-12-11 19:22] yasker opened #2086 "task: add `share-manager-` prefix to the share manager pods"
Now share manager pods are using the volume name as the name, which is confusing if you take a look at `kubectl get pod`. It's better to add a prefix to it, indicates it's a share manager.

[2020-12-11 21:54] khushboo-rancher commented on #2078
We tested RHEL 7.8 with SELinux enabled I guess. I'll check v1.0.2 on RHEL 7.8 and update the result.

[2020-12-11 23:28] khushboo-rancher commented on #2080
Verified with the longhorn-uninstall.yaml master -`12/11/2020`

Validation - **Pass**

[2020-12-11 23:28] #2080 closed

[2020-12-11 23:45] joshimoo commented on #2048
- add the ability to change the access mode
- display the access mode when creating pvc

[2020-12-11 23:48] khushboo-rancher commented on #2025
Verified with longhorn-ui `773e09b`

Validation - **Pass**

1. The creation of volume in MI/GI from Longhorn UI works fine.
2. Expanding of the volume in MI/GI from Longhorn UI works fine.

[2020-12-11 23:48] #2025 closed

[2020-12-12 00:47] khushboo-rancher opened #2087 "[BUG] The share-manager pod stuck in terminating state if the workload is deleted or scaled down"
**Describe the bug**
The share-manager pod stuck in terminating state if the workload is deleted

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn on a K8s cluster.
2. Create a PVC with `rwx` option.
3. Create a daemonSet using the PVC created in step 2.
4. Once all the pods of the daemonSet is up, delete the daemonSet.
5. The share-manager pod stuck in `terminating` state.

**

[2020-12-12 00:57] khushboo-rancher commented on #2087
Happening with scaling down also, raising the priority.

[2020-12-12 01:04] khushboo-rancher commented on #2086
Verified with Longhorn-manager `12/11/2020`

Validation - **Pass**

[2020-12-12 01:04] #2086 closed

[2020-12-12 01:17] khushboo-rancher commented on #2049
Verified with longhorn-master `12/11/2020`

Validation - **Pass**

Toleration is getting set and removed properly from share-manager pod.

[2020-12-12 01:17] #2049 closed

[2020-12-12 01:51] khushboo-rancher commented on #2040
Verified with longhorn-master `12/11/2020`

Validation - **Pass**

Option to select the column Replicas, Data Locality and Access Mode is available in `Custom Column`.
<img width="1779" alt="Screen Shot 2020-12-11 at 5 45 38 PM" src="https://user-images.githubusercontent.com/60111667/101969491-701fb400-3bd9-11eb-8f2d-a03d91a244d4.png">

[2020-12-12 01:51] #2040 closed

[2020-12-12 03:13] PhanLe1010 opened #2088 "[BUG] Cannot list backups from a in-cluster NFS service url in SLES 15 SP2"
**Describe the bug**
On SLES 15 SP2 + RKE setup, Longhorn cannot list backups if the backup target is an NFS server exposed by an in-cluster service and the URL of the service is set in Longhorn UI

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster with SLES 15 SP2 + RKE
2. Deploy a NFS server and create a service to expose it by:
[code]
3. Set backup target to `nfs://longhorn-

[2020-12-12 03:24] yasker commented on #2088
All the services DNS endpoint cannot be found in the Longhorn manager pod.

[2020-12-12 03:25] yasker commented on #1785
Found a potential issue with SLES 15 SP2 https://github.com/longhorn/longhorn/issues/2088 . Having trouble connecting to the Kubernetes services inside the manager pod. It impacts NFS backupstore.

[2020-12-12 03:54] yasker commented on #2088
It caused by Longhorn manager Pod has bind-mounted `/var/run` directory on the host, which result in `/var/run/nscd/` leaking into the pod, and caused the DNS search failure.

I cannot recall why we need `/var/run`. Running integration test to verify that we can remove it.

[2020-12-12 05:56] #1687 closed

[2020-12-12 07:07] yasker opened #2089 "bug: longhorn manager log is flooded by `Enqueuing share manager for pod` when using RWX"
Even when there is no activity happening, the log is flood by the following (from every Longhorn manager) while using the RWX:

[code]

[2020-12-12 13:24] bor8 commented on #1769
Sorry, I don't use Longhorn any more. The reasons are the following. I don't have S3 storage and won't be getting any anytime soon. So I would have to use NFS as a backup. With Longhorn you can only configure one NFS. Since I have two locations, I have to choose one. If this location fails, I have a problem. Of course, I can try to mirror the data via script. But then Longhorn doesn't do me much g

[2020-12-12 13:24] #1769 closed

[2020-12-12 22:50] user-name-is-taken opened #2090 "[FEATURE] Support BTRFS"
**Is your feature request related to a problem? Please describe.**

According to the [installation requirements](https://longhorn.io/docs/1.0.2/deploy/install/#installation-requirements) longhorn can't be used on top of BTRFS, only ext4 and xfs. This means I can't install it on top of suse's kubic or microOS.

**Describe the solution you'd like**

Support BTRFS

[2020-12-13 01:58] yasker opened #2091 "task: Update Longhorn base images for v1.1.0"
Need to update to latest base images to address potential CVEs.

[2020-12-13 06:07] guangbochen commented on #2073
verified using k3os-v0.19.4-dev5 and it works as expected.
[code]

[2020-12-13 06:07] guangbochen commented on #2063
verified using k3os-v0.19.4-dev5 and it works as expected.
[code]

[2020-12-13 10:58] VladoPortos commented on #6
@yasker  thanks so much, I'm going to give it a try, I'm so frustrated rebuilding rook+ceph ( It destroy it self after two reboots and never come back )

[2020-12-13 16:18] VladoPortos commented on #6
So I did:
[code]
But the pods are failing with:
`time="2020-12-13T14:27:21Z" level=fatal msg="Error starting manager: require share-manager-image"`

Than I tried the same with:

[code]

With same result, why is it missing share-manager-image, and how I can provide it ?

[2020-12-13 16:23] ikaruswill commented on #6
@VladoPortos It seems like you're still on the master branch.
A quick check over at https://github.com/longhorn/longhorn/blob/v1.1.0/chart/values.yaml will reveal that you're not pulling the right `values.yaml`.

Also it seems to stem from the fact that you're specifying the wrong branch name. Use `v1.1.0` as @yasker mentioned here https://github.com/longhorn/longhorn/issues/6#issuecomment-7426755

[2020-12-13 17:59] yasker commented on #6
Also, re-pull the images on the node if you're using master. The default image pull policy is `IfNotPresent` which will not update the master image.

[2020-12-13 18:00] yasker commented on #2063
Close according to https://github.com/longhorn/longhorn/issues/2063#issuecomment-743958684

[2020-12-13 18:00] #2063 closed

[2020-12-13 18:00] yasker commented on #2073
Verified according to https://github.com/longhorn/longhorn/issues/2073#issuecomment-743958672

[2020-12-13 18:07] yasker opened #2092 "[BUG] `Ready for workload` is false for detached RWX volumes"
**Describe the bug**
`Ready for workload` is false for detached RWX volumes

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume with RWX access mode.
2. Check `Ready for workload` field
3. See it's `false`

**Expected behavior**
`Ready for workload` should be true for volumes that are ready to be used by workload.

**Log**
N/A

**Environment:**
 - Longhorn version: master-12/12/2

[2020-12-13 20:15] VladoPortos commented on #6
@yasker you are right, wrong branch... :) its up now. It took some time to spin up and one cluster rebuild :D Looking forward to some testing.

[2020-12-14 02:04] dsb3 commented on #1442
Just encountered this with v1.1.0-rc1.  The middleware solution worked for me.  Would be great to add this to the docs.

For me, it was particularly hard to track down. The *FIRST* edit to any volume worked; all subsequent ones silently failed.

[2020-12-14 03:01] yasker commented on #1999
Re-validation was done by @PhanLe1010 . Move the E2E test to v1.1.0 release.

[2020-12-14 04:13] khushboo-rancher opened #2093 "[BUG] RWX volume fails to attach to a pod on RHEL 7.8 SELinux enabled"
**Describe the bug**
RWX volume fails to attach to a pod on RHEL 7.8 SELinux enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Create a K8s cluster on RHEL 7.8 nodes (1 etcd, 1 control plane and 3 worker)
2. Deploy Longhorn
3. Create a PVC with RWX using longhorn storage class.
4. Attach the PVC to a pod.
5. Pod fails to attach to the volume.
[code]

**Log**
[longhorn-support-bundle_79

[2020-12-14 04:13] khushboo-rancher commented on #2078
Longhorn v1.0.2 works with RHEL 7.8 SELinux enabled.

However `ReadWriteMany` is not working on RHEL 7.8 SELinux enabled and shows below error. Logged https://github.com/longhorn/longhorn/issues/2093 to track it.
[code]

[2020-12-14 04:18] khushboo-rancher commented on #2069
Verified with longhorn-master `12/13/2020`

Validation - **Pass**

[2020-12-14 04:18] #2069 closed

[2020-12-14 04:40] yasker commented on #2093
Is `nfs-common` or equivalent installed?

[2020-12-14 04:54] khushboo-rancher commented on #2093
My bad. I forgot to install nfs-common.

RWX feature is working fine on RHEL 7.8.

[2020-12-14 04:54] #2093 closed

[2020-12-14 05:11] khushboo-rancher opened #2094 "[BUG] Update Access mode should be disabled if volume is already bound to a PV/PVC"
**Describe the bug**
Update Access mode should be disabled if volume is already bound to a PV/PVC.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy longhorn in a K8s cluster.
2. Create a volume with `ReadWriteOnce` using longhorn UI.
3. Create a PV and PVC for the volume.
4. Update the access mode to `ReadWriteMany`.

**Expected behavior**
The `Update access mode` should be disabled if

[2020-12-14 06:14] khushboo-rancher commented on #2071
Verified with Longhorn-master `12/13/2020`

Validation - **Pass**

The restored volume can either be used as RWX or RWO. There is an option provided in the Longhorn UI to select the AccessMode while restoring the backups.
Also, the restored volume can be switched to RWO/RWX using the Longhorn UI.

Validated the DR volumes also. It worked fine.

[2020-12-14 06:14] #2071 closed

[2020-12-14 06:22] shuo-wu commented on #2091
The related CVE:
https://avd.aquasec.com/nvd/cve-2020-1971/

---

Test step:
Run `trivy image --severity HIGH <Image>` for Longhorn images or the related base images.

---

Some conclusions:
- The latest version of base image `nginx`, which is used in `longhonr-ui`, is `1.19.5-alpine`. The CVE issue still exists in the image.
- As for `ubuntu:18.04` used by other longhorn images, there is no CVE i

[2020-12-14 06:27] khushboo-rancher commented on #2048
Verified with Longhorn master - `12/13/2020`

Validation - **Pass**

The option to select AccessMode is available for creation of volume, restoration volume (with single and multiple volumes) and creation of DR volume.
<img width="705" alt="Screen Shot 2020-12-13 at 10 24 52 PM" src="https://user-images.githubusercontent.com/60111667/102047399-10b8d400-3d92-11eb-95cc-c1185d8db2bb.png">
<img width=

[2020-12-14 06:29] yasker commented on #2091
OpenSSL package should be installed by Longhorn, so we should be able to get the latest version. Then I don't understand why it's not up to date and required an extra command. Is it because of the Docker cache that contains the older version and didn't update it?

[2020-12-14 06:33] shuo-wu commented on #2091
I guess there may be some other packages used by Longhorn depending on the old version `openssl`. But I am not sure which one is using it.

[2020-12-14 06:48] benqwu opened #2095 "[Question] About performance enhanced frontend using SPDK"
**Question**
We know that SPDK uses a polling model, and one thread needs to consume one cpu. In this case, how to support multiple independent engine processes, because the number of cpus in the server is limited.
Does the design philosophy of longhorn microservices need to be changed? For example, all engines run in the same process to share SPDK threads.

**Environment:**
 - Longhorn version:

[2020-12-14 08:22] joshimoo commented on #2087
Thanks for reporting,
I broke this as part of https://github.com/longhorn/longhorn/issues/2086
I forgot to change the delete call to use the new share-manager prefix for the pod.

[2020-12-14 13:01] sstent commented on #1997
+1

[2020-12-14 19:35] PhanLe1010 commented on #1903
Re-validated manually

[2020-12-14 19:36] PhanLe1010 commented on #307
Re-validated manually: Pass

[2020-12-14 19:36] yasker commented on #2048
Punt the e2e test part into v1.1.1.

[2020-12-14 19:48] yasker commented on #2020
Done. The doc has been updated, and the setting description.

[2020-12-14 19:48] #2020 closed

[2020-12-14 19:52] yasker commented on #2078
Punt to v1.1.1 due to Longhorn v1.1.0 RWX works with RHEL 7.8 with SELinux enabled.

[2020-12-14 22:30] PhanLe1010 commented on #1719
Fixed the `test_auto_remount_with_subpath` test case

[2020-12-14 23:07] yasker commented on #2089
Verified on master-12/14/2020. No more log spam.

[2020-12-14 23:07] #2089 closed

[2020-12-14 23:09] yasker commented on #2092
Verified on master-12/14/2020. Detached RWX volume is marked as ready.

[2020-12-14 23:09] #2092 closed

[2020-12-15 00:00] khushboo-rancher commented on #2078
On further testing I identified that Lonhorn doesn't work on `RHEl-7.8-50G-Native-Docker-Selinux-ON` also. This is a machine where SElinux is enabled at native docker level.

On a `RHEl-7.8-Upstream-Docker19.03-Selinux-ON` Longhorn works fine.

[2020-12-15 01:02] yasker commented on #1470
@zbialik It's complicated to get a HA NFS working for a block storage system like Longhorn. The cluster IP can front multiple Pods, but those Pods must have the same data to keep it consistent across the board. Also, each NFS server has an internal state machine that needs to keep consistent across the whole setup. And in the case of losing one NFS server, we need to handle the traffic on the fly

[2020-12-15 01:04] zbialik commented on #1470
Thanks for the explanation!

[2020-12-15 01:07] yasker commented on #2054
@ElisaMeng You can find our latest performance report at https://longhorn.io/blog/performance-scalability-report-aug-2020/ . And it's unlikely due to the block size (if what you meant), since we've experimented with different block sizes as well but it doesn't change the performance much.

Using SSD/NVMe, 10Gbps network between the nodes and enough CPU on the node should get you a better performan

[2020-12-15 01:12] yasker commented on #2045
@BayanAzima Can you try this?
1. Create an iscsi volume and attach it to expose the endpoint.
2. `kubectl exec -it` into the `instance-manager-e-xxx` on the same node as the iscsi volume.
3. Run the iscsiadm command like this (remember to change the IP and target)
[code]

To see if you will get the same hanging result.

[2020-12-15 02:25] yasker commented on #2095
@benqwu We can still design sharing one thread with multiple Longhorn engines, through some kind of internal communication mechanism. We still need to dive deep into SPDK before we can say that for sure. For now, I don't think the microservice approach will be changed, since the separation of the concern is still very important for us.

[2020-12-15 02:43] khushboo-rancher commented on #2088
Validated with Longhorn-Master `12/14/2020`

Validation - **Pass**

Longhorn is able to list the backups from NFS backup server.

Ran the integration tests on the SLES 15- SP2, All tests passed.

[2020-12-15 02:43] #2088 closed

[2020-12-15 02:45] khushboo-rancher commented on #1785
Ran integration tests On SLES 15 SP1/SP2 and SLES 12 SP5, Integration tests passed on the set up.
Validated the RWX feature also, The basic functionality of RWX is working fine.

[2020-12-15 02:45] #1785 closed

[2020-12-15 02:47] khushboo-rancher commented on #1470
Verified the RWX feature with Longhorn v1.1.0-rc1

Validation - **Pass**

Executed test cases from longhorn/longhorn-tests#496.

[2020-12-15 03:27] shuo-wu opened #2096 "task: Refactor Share Manager related logic"
**Is your feature request related to a problem? Please describe.**
Actually, there are still 2 issues in the share manager controller even after [the refactor PR](https://github.com/longhorn/longhorn-manager/pull/791) is merged:
1. Based on the volume state, the related share manager can be `Running` or `Stopped`. In other words, it's better to add a field `Spec.DesireState`to indicates that rathe

[2020-12-15 04:11] PhanLe1010 commented on #2090
Longhorn is a thin-provisioned storage system and [Longhorn's architecture](https://longhorn.io/docs/1.0.2/concepts/#2-longhorn-volumes-and-primary-storage) requires the filesystem on the host to support `sparse file` and `DIRECT_IO`.

From a quick search, it seems that BTRFS meets those requirements. We will investigate more about BTRFS in the future releases.

[2020-12-15 05:32] Bwvolleyball commented on #1549
I'm having this same problem:

[code]

When I try to curl, I get this:

[code]

My service is this:

[code]

Since my curl tried to connect to the correct IP, that implies that DNS is working within the cluster, right?

Here's the logs from the longhorn-manager:

[code]

Here are the events for the manager:

[code]

So, I'm very confident it is up.

I installed this from the helm chart, with very

[2020-12-15 07:42] khushboo-rancher commented on #2087
Verified with Longhorn v1.1.0-rc2

Validation - **Pass**

On deletion or scaling down the workload, the ShareManager pod is terminating successfully.

[2020-12-15 07:42] #2087 closed

[2020-12-15 08:07] khushboo-rancher commented on #2094
Verified with Longhorn v1.1.0-rc2

Validation - **Pass**

The Access mode is disabled when the volume is bound to PV or PV/PVC both.
Validated with volume created, restored volume and DR volume.

[2020-12-15 08:07] #2094 closed

[2020-12-15 09:08] khushboo-rancher commented on #2072
Verified with Longhorn v1.1.0-rc2

Validation - **Pass**

The drain with and without force worked for the node.
Validated the below scenarios .
1. Workload and sharemanager on the same node
2. Drain workload node when workload and sharemanager on the different node.
3. Drain sharemanager node when workload and sharemanager on the different node.

[code]

After draining, validated the data.

[2020-12-15 09:08] #2072 closed

[2020-12-15 09:44] benqwu commented on #2095
I have another questions. According to the test results here [](https://longhorn.io/blog/performance-scalability-report-aug-2020/) , I suspect that compared with native, the main latency increase is on the network side. Is this guess correct?
If using dpdk as the frontend, how much latency can be reduced, could you share some experimental results?
Thank you. @yasker

[2020-12-15 11:54] shuo-wu commented on #2091
Do we need to add the flag for other repos?

[2020-12-15 12:00] shuo-wu commented on #2035
Now all resources including CRDs will be cleaned up successfully via `helm` or Rancher Cluster Manager App for `v1.0.x` and `master`. I cannot reproduce the case that `PodSecurityPolicies, ClusterRoles, and ClusterRolebindings are not deleted in Longhorn v1.0.2`

My test step:
1. Install Longhorn via `helm install` or Rancher Cluster Manager App
2. Wait for Longhorn running.
3. Uninstall Longhorn

[2020-12-15 16:38] PhanLe1010 commented on #304
Revalidated manually: Pass

[2020-12-15 16:42] proligde opened #2099 "[Question] NFS-Provisioner: Can't access my data after recreating PVC and renaming longhorn-nfs storage class"
**Question**

I created a longhorn Cluster and added an NFS provisioner according to https://longhorn.io/docs/1.0.2/advanced-resources/rwx-workloads/

Everything worked fine until I made changes to the the elements specified by "longhorn-nfs storage class" in the link above.

- What I did: I copied several hundred GB of data to the nfs-mounted volume
- I removed the nfs "client" PVC (the one that

[2020-12-15 17:13] yasker commented on #2091
Let's try to find a way to add those into the drone instead for every build.

Also, we need to update `share-manager` and `manager` too.

[2020-12-15 17:13] yasker commented on #2091
Reassigned to @meldafrawi

[2020-12-15 17:14] shuo-wu opened #2100 "[BUG]Longhorn node is not cleaned up automatically when the kube node is removed in v1.0.x and the Longhorn is upgraded to v1.1.0"
**Describe the bug**
See the title.

**To Reproduce**
It's the same as [the test Longhorn upgrade with node down and removal](https://longhorn.github.io/longhorn-tests/manual/release-specific/v1.1.0/reusing-failed-replica-for-rebuilding/)

**Expected behavior**
At step 6, Longhorn node related to the removed node should be cleaned up automatically after upgrade

**Environment:**
 - Longhorn versio

[2020-12-15 20:13] dcplaya opened #2101 "PVC Stuck In Attaching"
I have multiple PVCs that will not get past attaching. Sometimes, after waiting hours, it will attach, other times it will never attach. If I scale back, the PVC reports detached (eventually). Then scaling back up, I get back into the same place.

The current support bundle has a pod named `sonarr-4k` trying to attach, similar issues on multiple other PVCs.

---
Version: `v1.0.2`

[2020-12-15 22:05] khushboo-rancher commented on #2079
Verified with Longhorn v1.1.0-rc2

Validation - **Pass**

**Scenario 1** - ShareManager pod deleted, `Automatically Delete Workload Pod when The Volume Is Detached Unexpectedly` enabled
1. I had workload on node-1 and shareManager on node-2.
2. Deleted the node-2.
3. The shareManager pod moved to node-3, started the nfs-server once the volume was attached.
4. The workload pod got recreated because

[2020-12-15 22:05] #2079 closed

[2020-12-15 22:43] khushboo-rancher opened #2102 "[BUG] Daemon set takes more time to come up with RWX PVC"
**Describe the bug**
Daemon set takes at least 2 mins to come up with RWX PVC.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0-rc2 on K8s cluster of 4 nodes (1 etcd/control plane, 3 workers)
2. Create an RWX PVC.
3. Create a `DaemonSet` with the above created PVC.
4. The first pod of the `DaemonSet` takes more than 2 mins, then other pods come up quickly.

Time taken f

[2020-12-15 23:53] PhanLe1010 opened #2103 "[BUG] Cannot detach the restored volume when there is a node goes down during restoring"
**Describe the bug**
Create a restore volume, `restored-vol`, from a backup.
During the restoring process, if a node that contains one replica of the `restored-vol` goes down, the volume finishes restoring and remain attaching to forever. Cannot manually detach the volume.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a backupstore outside of the cluster, e.g. AWS S3. We want to make

[2020-12-16 00:26] khushboo-rancher opened #2104 "[BUG] NodeDownPodDeletionPolicy not working on K8s v1.19.4"
**Describe the bug**
The feature `Pod Deletion Policy When Node is Down` is not working with K8s v1.19.4

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0-rc2 on a K8s cluster of 4 nodes (1 etcd/control plane, 3 worker)
2. Create a deployment and attach to a volume.
3. Set `Pod Deletion Policy When Node is Down` to `delete-both-statefulset-and-deployment-pod` and `Volume

[2020-12-16 00:28] PhanLe1010 commented on #2104
Nice catch. It seems similar to https://github.com/longhorn/longhorn/issues/2062

[2020-12-16 00:41] khushboo-rancher commented on #2104
Closing this bug as this is duplicate of #2062

[2020-12-16 00:41] #2104 closed

[2020-12-16 01:29] abonillabeeche opened #2105 "[BUG] check script reports false negative on SLES15-SP2"
**Describe the bug**
Check Script provides a false positive on SLES15-SP2 + k3s

Longhorn does install properly

**To Reproduce**
Steps to reproduce the behavior:
run the Check Script for Longhorn

**Expected behavior**
Check Script should be satisfied

**Log**
node : MountPropagation DISABLED
  MountPropagation is disabled on at least one node.
  As a result, CSI driver and Base image cannot be s

[2020-12-16 01:55] yasker commented on #2095
The test result shows we are getting almost the same result regardless of the replica is remote or local, so we believe the majority of the latency is introduced by our current frontend stack instead of the network. That's why we're looking forward to update our block device front end implementation to SPDK.

We don't have concrete data yet since we're in the early stage of the experimenting. We w

[2020-12-16 04:49] khushboo-rancher opened #2106 "[BUG] Recurring backup job stuck on K8s 1.19.4 if volume is attached to the same node and powered down"
**Describe the bug**
On

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn v1.1.0-rc2 on a 1.19.4 K8s cluster of 4 nodes (1 etcd/control plane, 3 worker)
2. Create a volume and attach to a deployment.
3. Enable `Allow Recurring Job While Volume Is Detached`.
4. Set recurring backup job for every 2 mins.
5. Write some data into the volume and scale down the deployment.
6. Make su

[2020-12-16 06:41] khushboo-rancher opened #2107 "[BUG] A degraded DR volume remains in standby and attached after activation."
**Describe the bug**
If a DR volume is activated and had one of the replica failed remains in standby and attached until the failed replica is not deleted or restored.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn on a K8s cluster of a 4 nodes (1 etcd/control plane, 3 worker)
2. Create a DR volume.
3. Power off a replica node.
4. Activate the DR volume.
5. The DR volume rem

[2020-12-16 08:40] khushboo-rancher commented on #1304
The tests are passing the integration test run.

[2020-12-16 08:40] #1304 closed

[2020-12-16 08:55] cr0 commented on #1017
Resources are limited in terms of money. Hence, the node is running (for private use only) on consumer hardware, i.e. [cpu](https://ark.intel.com/content/www/us/en/ark/products/129939/intel-core-i5-8500-processor-9m-cache-up-to-4-10-ghz.html), [ram](https://www.gskill.com/product/165/186/1535962548/F4-2400C15S-8GNTValueDDR4-2400MHz-CL15-15-15-35-1.20V8GB-(1x8GB)), [mainboard](https://www.gigabyte.

[2020-12-16 08:57] #1871 closed

[2020-12-16 08:57] #1662 closed

[2020-12-16 08:59] khushboo-rancher commented on #1509
Test seems little flaky, we can wait for more nightly test run results before closing this.

[2020-12-16 09:34] PhanLe1010 opened #2108 "[BUG] live-upgrade for DR volumes longhorn engine triggers replicas rebuilding"
**Describe the bug**
When I do live-upgrade for DR volumes from longhorn engine v1.0.1 to v1.1.0-rc2, all replicas get rebuilt.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v1.0.1
2. Create a volume, create a 1GB backup, create a DR from the backup volume
3. Upgrade Longhorn to v1.1.0-rc2
4. Do live-upgrade for DR volumes from longhorn engine `v1.0.1` to `v1.1.0-rc2`
5. O

[2020-12-16 09:46] 2690522020 opened #2109 "volume size display does not conform to the actual situation"
**Question**
volume size display does not conform to the actual situation
**Environment:**
 - Longhorn version: 1.0.2
 - Kubernetes version:1.18.8
 - Node config
   - OS type and version
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal):Baremetal

**Additional context**
I ran Kafka and used Longhorn storage
![Inked1608111654(1)_LI](https://user-images.githubusercontent

[2020-12-16 09:49] benqwu commented on #2095
Thank you for your sharing.

[2020-12-16 11:35] shuo-wu commented on #2108
Based on the current implementation, it's unavoidable. Since right now the restore status (including the name of the last restore backup) is recorded by the replica progresses themself. For DR volumes, once the live upgrade is applied and the replica processes are restarted, those replica processes will lose the restore related info, which will result in a full restoration.

[2020-12-16 12:49] shuo-wu commented on #2103
Since Longhorn is waiting for the failed replica rebuild, the auto detachment will be disabled. In other words, when all scheduled but failed replicas are cleaned up, the auto detachment will be applied: https://github.com/longhorn/longhorn-manager/blob/eb98fc29d8ab37ec3c0650150a75d73ed22a4f93/controller/volume_controller.go#L1832

The following steps can also trigger this case:
1. Create a restor

[2020-12-16 14:36] joshimoo commented on #2109
The actual size includes snapshots as well as data that might have existed on the filesystem but has now been deleted. Since Longhorn operates on the block level and not the filesystem level.

More information [here](https://longhorn.io/docs/1.0.2/volumes-and-nodes/volume-size/#volume-actual-size).

[2020-12-16 18:28] shuo-wu commented on #2061
The test Chart for Cluster Manager: `https://github.com/shuo-wu/charts/` branch `master`
The test Chart for Cluster Explorer: `https://github.com/shuo-wu/charts/` branch `dev-v2.5`

[2020-12-16 18:54] VladoPortos commented on #6
Guys i need a nudge, I can create PVC and PV super fine, GUI = brilliant... test pod attached the PVC just fine. But When I try to create pod that is in other namespace than default it will get stuck with:

[code]

I know this is not probably longhorn problem but some kind of permission problem. Any ideas what to do ?
Longhorn is in its own namespace "longhorn"
Default namespace works fine
Created

[2020-12-16 19:01] joshimoo commented on #6
@VladoPortos kubernetes pvc's are namespaced and a pod can only use a pvc from the same namespace.

[2020-12-16 20:38] VladoPortos commented on #6
@joshimoo you are right :D fixed now... I love longhorn so far

[2020-12-16 23:12] yasker commented on #2108
Let's revisit it in v1.1.1.

[2020-12-16 23:29] khushboo-rancher opened #2110 "[Task] Add integration tests for RWX feature"
**Describe the bug**
Add integration tests for RWX feature.

The original feature id - https://github.com/longhorn/longhorn/issues/1470

[2020-12-17 00:04] meldafrawi commented on #2061
Validated Using the Provided charts: **LGTM**

[2020-12-17 00:05] meldafrawi commented on #2082
Validation: **PASSED**

Validated using the following charts:
[code]

[2020-12-17 00:05] #2082 closed

[2020-12-17 00:08] meldafrawi commented on #1818
Validation: **PASSED**

Steps to test: https://github.com/longhorn/longhorn/issues/1818#issuecomment-726053295

Validated using the provided charts
[code]

[2020-12-17 00:08] #1818 closed

[2020-12-17 00:38] khushboo-rancher commented on #1470
Closing this as the validation is completed.

[2020-12-17 00:38] #1470 closed

[2020-12-17 00:48] yasker commented on #2035
@meldafrawi can you confirm this is the case?

[2020-12-17 00:53] meldafrawi commented on #2039
Can't reproduce again

[2020-12-17 01:11] meldafrawi commented on #2035
I can confirm that all resources are removed, except for CSI services along with longhorn-namespace

[code]

Steps to reproduce:
1. Clone git@github.com:longhorn/longhorn.git
2. Create longhorn-system namespace
3. Install Longhorn using Helm: `helm install longhorn ./chart --namespace longhorn-system`
4. Wait for Longhorn to be running
5. Uninstall Longhorn `helm install longhorn  --namespace long

[2020-12-17 01:14] PhanLe1010 commented on #2035
`longhorn-namespace` cannot be deleted because it is not created by Longhorn
I will make a PR to delete all services.

[2020-12-17 01:18] yasker commented on #2035
Thanks @PhanLe1010 . Yes, services should be removed as a part of uninstallation.

[2020-12-17 01:22] #2095 closed

[2020-12-17 02:24] 2690522020 commented on #2109
But will baremetal use more and more storage space?

[2020-12-17 03:53] yasker opened #2111 "task: switch the image base for Longhorn share manager to ubuntu"
Trivy doesn't support scanning Fedora for vulnerabilities

[2020-12-17 04:02] yasker commented on #2039
@PhanLe1010 Wrong issue?

[2020-12-17 05:15] PhanLe1010 commented on #2039
Oops. I am sorry

[2020-12-17 10:49] shuo-wu commented on #1017
According to the links you provide for the node config, Intel i5 + 8GB RAM is powerful enough for Longhorn. The potential bottleneck here maybe the network bandwidth. If there are multiple volumes on a node issue sequential i/o requests, the bandwidth maybe not enough.

The most common cause of a disk becoming read-only is that the related volume (engine) is crashed. You can check if there is any

[2020-12-17 12:34] shuo-wu commented on #2109
Longhorn volumes use [sparse files](https://wiki.archlinux.org/index.php/sparse_file#:~:text=Creating%20sparse%20files,-The%20truncate%20utility&text=As%20you%20can%20see%2C%20although,required%20to%20store%20its%20contents.) to store data. You can log into the node host, access the data directory of the replica on the node (the directory path is already shown on the UI), check the apparent size a

[2020-12-17 12:59] shuo-wu commented on #2099
The root cause is the deadlock issue #1599 we fixed in the upcoming release v1.1.0

The log of longhorn manager `longhorn-manager-tvxx6`:
[code]

The log of instance engine manager `instance-manager-e-70acdbd1`:
[code]
(Get stuck due to the deadlock issue)

[2020-12-17 13:11] shuo-wu commented on #2108
The workaround for v1.1.0:
1. Delete all replicas on the gone node
2. Detach all volumes on the gone node
3. Delete the related Longhorn nodes via Longhorn UI

[2020-12-17 17:32] meldafrawi commented on #2035
Validation: **PASSED**

Longhorn version: v1.1.0-RC3

[2020-12-17 17:32] #2039 closed

[2020-12-17 17:39] #2035 closed

[2020-12-17 17:42] khushboo-rancher commented on #1719
`test_auto_remount_with_subpath` is passing from last 4 nightly integration test run. Closing this one.

[2020-12-17 17:42] #1719 closed

[2020-12-17 17:51] meldafrawi commented on #1829
Validation: **PASSED**

![image](https://user-images.githubusercontent.com/18232258/102524150-3cdd9900-40a1-11eb-84ee-1d22dbf38a94.png)

[2020-12-17 17:58] khushboo-rancher commented on #1509
`Test_recurring_job.test_recurring_jobs_for_detached_volume` is passing for last 4 days. Closing this for now.

[2020-12-17 17:58] #1509 closed

[2020-12-17 17:59] yasker commented on #2109
@2690522020 Longhorn volume itself will use to the maximum size of the allocated volume size. It might use more due to the snapshot which contains historical data. You can always delete the snapshots to release the extra space taken by it.

Once a block is been written, it will be recorded, no matter if the filesystem thinks it's free or not. Filesystem might write a block then mark it as free lat

[2020-12-17 18:43] khushboo-rancher opened #2113 "[BUG] Intermittent issue for resetting 'engine image' leads to failure of integration tests sometimes."
**Describe the bug**
Integration tests fail sometimes due to the resetting of engine image failure.

**To Reproduce**
Steps to reproduce the behavior:
1. Run longhorn integration test multiple times.

**Log**
[code]

**Environment:**
 - Longhorn version: Longhorn-master `12/17/2020`
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version: K8s 1.18
 - Node config
   - OS type and version: ubu

[2020-12-17 18:44] khushboo-rancher commented on #2055
Closing this one as the priority clean up is in place now.
Logged https://github.com/longhorn/longhorn/issues/2113 to track the rare integration failure.

[2020-12-17 18:44] #2055 closed

[2020-12-17 21:34] ElisaMeng commented on #2054
@yasker Thanks a lot!

[2020-12-17 21:34] #2054 closed

[2020-12-17 22:10] yasker commented on #2091
Done. Security check passed.

[2020-12-17 22:10] #2091 closed

[2020-12-17 22:10] #1829 closed

[2020-12-18 01:30] shuo-wu commented on #2101
The root cause is the deadlock issue #1599 we fixed in the upcoming release v1.1.0

The log of longhorn manager `longhorn-manager-tvxx6`:
[code]

The log of instance engine manager `instance-manager-e-70acdbd1`:
[code]
(Get stuck due to the deadlock issue)

[2020-12-18 02:07] shuo-wu commented on #2101
Workaround:
  - Directly killing the pod `instance-manager-e-70acdbd1`. It's better to upgrade to v1.1.0 before applying the workaround so that you won't hit this bug again.
  - Warning: This workaround will lead to all volumes attached to the node will get reattached. Please make sure the workloads on the node is not using the volumes.

[2020-12-18 02:09] 2690522020 commented on #2109
What happens when the actual used size of the volume reaches the allocated size? Can't write? However, when the file system doesn't use that much space

[2020-12-18 02:10] 2690522020 commented on #2109
My situation seems to be the same as what you described, but I'm worried that the file system will not be able to write in the future when there is still space in the file system

[2020-12-18 02:12] PhanLe1010 commented on #2109
If the actual used size of the volume reaches the allocated size but the file system doesn't use that much space, the application using the file system can still read/write as normal.

[2020-12-18 02:20] yasker opened #2114 "task: Update NFS examples"
The current `examples/rwx` is outdated. We need to provide new examples.

[2020-12-18 02:24] 2690522020 commented on #2109
So I can use it with ease

[2020-12-18 11:28] auricom commented on #2109
Thanks for the explanation. So there is no way to "recalculate" blocks to reclaim space on a longhorn node ?
The only solution I see now is to manually recreate a volume from scratch.

[2020-12-18 12:38] ralf-berger opened #2118 "[BUG] No Volume/Storage/Node after upgrading to 1.1.0"
**Describe the bug**
After upgrading from 1.0.2 to 1.1.0 the UI doesn't show nodes or volumes anymore. The funny unlabled link icons in the bottom right switch between grey and red with the tooltip reading "undefined: error" or "undefinded: closed". All Longhorn-related workloads seem to be running as expected though.

**To Reproduce**
I upgraded Longhorn (installed as Rancher app) from 1.0.2 to 1

[2020-12-18 13:11] tomdoherty commented on #2118
I also see this issue when upgrading from 1.0.1 to 1.1.0

[2020-12-18 14:00] joshimoo commented on #2118
The longhorn-ui uses websockets to communicate with the backend, the icons on the bottom right are the statuses of the websocket connections. Can you generate a support bundle manually, below are instructions to do this via curl please replace the longhorn-backend.xip.io with your own exposed service.

[code]

[2020-12-18 14:17] tomdoherty commented on #2118
Provided on slack. Thanks @joshimoo

[2020-12-18 14:24] timmy59100 commented on #2118
Same here.

[2020-12-18 16:01] yasker commented on #2118
Maybe related to https://github.com/longhorn/longhorn/issues/1777

[2020-12-18 16:03] joshimoo commented on #2118
The support bundle from @tomdoherty
Shows that there is an ominous `/volume` prefix added when accessing the longhorn-ui via an ingress.

As a **workaround** you can access the longhorn-ui via port forwarding, we are investigating what's causing the ui not to work correctly.

[2020-12-18 16:18] opticlear commented on #6
Hi  :+1:
Installed v1.1.0 using the steps [here](https://github.com/longhorn/longhorn/tree/v1.1.0/chart)

All deployed nicely (though I haven't played with it yet) except for the UI

[code]

Thanks

[2020-12-18 16:53] ws-way opened #2119 "[BUG] Removing the default storageclass 'longhorn' works for ~15-30 seconds, but it's reappears"
With v1.0.2 we did remove the default installed 'longhorn' storageclass, created our own storageclasses and made 1 of those own created storageclasses the default one.

With v1.1.0 we can remove the default installed 'longhorn' storageclass, but it reappears after ~15-30 seconds, resulting in that there are 2 default storageclasses.

[code]
After ~15 - 30 seconds it reappears and we have 2 default

[2020-12-18 16:55] yasker commented on #2118
It's the same as #1777.

If you’ve encountered this issue while using ingress in v1.1.0, please try closing all the tabs or restart your browser to clean the cache.

[2020-12-18 17:01] ralf-berger commented on #2118
<img width="683" alt="Longhorn UI" src="https://user-images.githubusercontent.com/37848234/102640208-6ad2e400-415a-11eb-956a-0dd17c80c083.png">

* Longhorn UI Service type: Rancher-Proxy

[2020-12-18 17:08] yasker commented on #2118
@ralf-berger Can you check your `longhorn-manager` logs to see if there are any errors?

[2020-12-18 17:12] Bobonium commented on #2118
May be related, may be unrelated, but for me the 1.1.0 manager pods were restarting until I removed the `replica-replenishment-wait-interval` from the config file.

Log message in the manager was:
[code]

After I removed the value from the config the upgrade without any problems

[2020-12-18 17:24] Bobonium opened #2120 "[BUG] annotation last-applied-tolerations magically added in 1.1.0"
**Describe the bug**
I manage my deployments with terraform. As a result I can see changes being done to the managed resources. I just upgraded to 1.1.0 and I did not ever configure any tolerations through the longhorn UI.
After the upgrade the following change is visible for the driver, the manager and the ui:
[code]
The change shows us, that terraform wants to remove the annotation, as it's not

[2020-12-18 18:13] yasker commented on #2109
@auricom Since the user has created the volume size of xxxGB, Longhorn would expect to use that much of space eventually.  There were some discussions about implementing `trim` e.g. https://github.com/longhorn/longhorn/issues/836 but in the end, it's very tricky to implement and we decide to put it on hold.

[2020-12-18 18:19] meldafrawi commented on #6
Hi @opticlear

Can you give us more details about your environment setup,I couldn't reproduce the error.

[2020-12-18 18:34] PhanLe1010 commented on #2119
@ws-way

In Longhorn v1.1.0, users cannot directly update `longhorn` StorageClass. In order to update `longhorn` StorageClass, you have to update `longhorn` StorageClass ConfigMap in `longhorn-system` namespace:
[code]
Because we have [some issues](https://github.com/longhorn/longhorn/issues/1527) with StorageClass that prevent users from upgrading Longhorn using Helm if they modified Longhorn Sto

[2020-12-18 18:38] ws-way commented on #2119
Thanks, I already saw it on https://github.com/longhorn/longhorn-manager/pull/735 . Is there any way to prevent the creation of the default storage class with the helm install?

[2020-12-18 18:41] PhanLe1010 commented on #2119
Yeah, you can `-set persistence.defaultClass=false` when doing Helm installation.

[2020-12-18 18:51] ws-way commented on #2119
I already tested that, but it doesn't seem to work. I will try it again, maybe I mixed up something

[2020-12-18 18:54] PhanLe1010 commented on #2119
@ws-way
Sorry. I might get your questions wrong.

Updated the response:

You can `--set persistence.defaultClass=false` when doing Helm installation to indicate that you don't want to set `longhorn` as the default StorageClass.

`longhorn` StorageClass is still created though. There isn't away to prevent the creation of `longhorn` StorageClass when installing by Helm.

[2020-12-18 19:51] opticlear commented on #6
Hi, thanks for the quick response.

Sorry, yes of course

It's a Pi4 cluster running k3s version v1.18.12+k3s1, on Ubuntu 20.10 server 64-bit.

I am currently running Rancher’s local path provisioner with a remote NFS volume. I have some pods using the NFS volume and some others using local storage. I installed the longhorn chart alongside this with the intent of migrating the pods over to the lon

[2020-12-18 20:01] joshimoo commented on #6
@opticlear From the error message it makes me think that you have ipv6 disabled on your cluster.
You can check if ipv6 is enable by following this guide:
https://www.golinuxcloud.com/linux-check-ipv6-enabled/

You can use sysctl as here to enable ipv6
https://linuxconfig.org/how-to-disable-ipv6-address-on-ubuntu-20-04-lts-focal-fossa

Even if your network is not ipv6 by disabling ipv6 the nginx ca

[2020-12-18 20:51] ralf-berger commented on #2118
No, nothing suspicious.

They tell me something about monitoring and that they're listening on port 9500, list all the rebuilds in progress over and over ("Skip rebuilding of replica because there is another rebuild in progress") and note an occasional GET request with response status 200. But literally not a single occurrence of the word "error" anywhere in there.

[2020-12-18 21:04] pulberg opened #2121 "[BUG] Upgrade Longhorn Rancher catalog app - Wait helm template failed. panic: interface conversion:"
**Describe the bug**
Errors upgrading Longhorn catalog app from 1.0.2 to 1.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cluster, go to project, go to apps, see indicator that Longhorn upgrade is available
2. Click on `upgrade available`
3. ensure all values are correct (we are air-gapped, so i used the provided save-images/load-images scripts)
4. See error

**Expected behavior**

[2020-12-18 21:13] ssirag opened #2122 "Failover for mariadb stateful set pvc isn't working"
**Failover for mariadb stateful set pvc isn't working**

I have a basic bitnami/wordpress configuration installed via helm on my rancher/longhorn kubernetes cluster.  I turn off a node to simulate node failure, expecting the pvc will be rescheduled to a remaining node.

**Environment:**
 - Longhorn version: 1.0.2
 - Kubernetes version: 1.19.4
 - Node config
   - OS type and version Ubuntu 18.04

[2020-12-18 21:17] mr-onion-2 commented on #6
Thanks Joshimoo, yes that will be it!  I'll change my provisioning script.

[2020-12-18 21:21] joshimoo commented on #2121
@pulberg just to verify did you run the load/save images against the updated images.txt file for the longhorn 1.1 release?
Since we added a new share-manager image.

Interestingly the above looks like a helm template failure.

[2020-12-18 21:24] pulberg commented on #2121
Yes, here is the list of images -

[code]

[2020-12-18 21:35] joshimoo commented on #2122
Kubernetes will not delete pods when a node fails, since the kubelet on the node is no longer running.
For **non stateful sets** we added the https://longhorn.io/docs/1.1.0/references/settings/#volume-attachment-recovery-policy

For 1.1 we added a new setting that allows us to cleanup **stateful sets** as well, by default this option is turned off.
https://longhorn.io/docs/1.1.0/references/setting

[2020-12-18 21:35] yasker commented on #2118
@ralf-berger Is it possible to generate a support bundle using https://github.com/longhorn/longhorn/issues/2118#issuecomment-748099002 ? Assume the service `longhorn-backend` is working. You can send it to `longhorn-support-bundle@rancher.com`

[2020-12-18 21:35] khushboo-rancher commented on #2122
This seems related to https://github.com/longhorn/longhorn/issues/2062

[2020-12-18 21:37] PhanLe1010 commented on #2122
Yeah, indeed it is related to #2062. It is an upstream Kubernetes bug and we are expecting that they will fix that soon.

[2020-12-18 22:50] noahsbwilliams commented on #6
Just writing in support - I appreciate all of your work on this project!

ARM64v8 support for Longhorn is *the* thing that will make Kubernetes (k3s specifically) usable on Raspi clusters in a production environment. Having tried other solutions (Rook, NFS), there simply isn't anything else that's really suitable for the use case.

The fact ARM support has been given priority within the longhorn p

[2020-12-18 23:20] PhanLe1010 commented on #2120
@Bobonium

How does Terraform react when Longhorn automatically adds the annotation? E.g Does it deploy/redeploy Longhorn repeatedly? Doesn't Longhorn's normal functionalities work ok?

In another word, how badly is the problem?

[2020-12-19 00:46] connde opened #2123 "[Question] How to handle failed replicas and how to evaluate the error."
**Question**
Hi, I'm running Longhorn with in K3S HA mode and set my replicas to 3.

Today one of my nodes failed and I saw that Longhorn had degraded status and after some time it was restored again.
My nodes, correct number of replicas would be 16.
![image](https://user-images.githubusercontent.com/1514559/102675975-3e2ec480-417a-11eb-96c5-b1b855d0728e.png)

All nodes have 16 Healthy volumes, bu

[2020-12-19 01:07] PhanLe1010 commented on #2123
The fail replicas will be deleted automatically after a timeout specified by `staleReplicaTimeout ` in storageclass. I think you don't have to manually delete them.

One reason I am think of is that Longhorn node fails because the pod of the `manager` DaemonSet in `longhorn-system` namespace fails. You can check to see if it is true by looking at the events of the `manager` DaemonSet and the `star

[2020-12-19 01:22] PhanLe1010 commented on #2077
**Reproduce Steps**:
1. Install a fresh version of Longhorn v1.1.0
1. What the `longhorn manager` DaemonSet closely.
2. Sometime, some manager pod fails and restart due to setting creation conflicts:
[code]
**Test Steps**:

make sure we never hit the above error. Longhorn manager pods don't restart during installation

[2020-12-19 01:24] yasker commented on #2123
I assume 16 replicas per node is because many of them are failed. But we do have a recommendation regarding how much CPU resources you should reserve per node, check https://longhorn.io/docs/1.1.0/best-practices/#guaranteed-engine-cpu for details.

Also, I noticed that you didn't show the network bandwidth between the node. If you only have a 1Gbps network between the node, it can only reliable pr

[2020-12-19 06:04] #1872 closed

[2020-12-19 06:04] #1873 closed

[2020-12-19 13:11] Bobonium commented on #2120
Hey @PhanLe1010 ,

Terraform will always show and apply a change, because longhorn automatically re-adds the annotation if it does not exist. I can (and I am currently) use a workaround, by simply adding the automated annotation to my terraform code, so it doesn't display a diff anymore.

This is less a technical problem as it is a design flaw, that in my opinion shows, that Longhorn as a Project

[2020-12-19 13:46] VladoPortos commented on #6
Strange on my cluster I on purpose disabled IPv6 also Ubuntu 20.10 and this issue did not occurred. ( maybe depends how they are disabled, it was not straight forward to get rig of them :D )

[2020-12-19 15:27] connde commented on #2123
Hi, thanks for the feedback.

The application is not read/write intensive, just some logs are being added from time to time, but I will see what can be optimized.

I will also review CPU reserve as it is below the recommended, but this might be associated to the bandwidth between each node as stated by you.

[2020-12-19 15:27] #2123 closed

[2020-12-19 15:32] astachowiak opened #2124 "[Question] Longhorn gets into bad state and cannot uninstall"
**Question**

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: K3S v1.19.5+k3s2
 - Node config
   - OS type and version Ubuntu 20.04
   - CPU per node:
   - Memory per node: 8GB / 16GB
   - Disk type workers 1TB NVME
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): Baremetal

I'm trying to instal

[2020-12-19 15:44] FCarvMobil commented on #2029
Guys, I'm truly sorry about this late answer, those last days were really busy and demanding.

As the version 1.1.0 is available now I ask you what you prefer for me to do; if I provide you more details and a new support bundle from my current version (1.0.2) or to install the new version 1.1.0 and check if this backup issue changes or solves itself.

Again, thanks for your attention!

[2020-12-19 16:02] ikaruswill commented on #6
Hi I’m just writing in to support as well. I really appreciate all the hard work put into arm64 support. It’s been working amazing on my cluster of 5x Rock Pi 4A and 1x Rock Pi X (mixed arm64/amd64 cluster) so far. I’ve tried Rook Ceph and Glusterfs but none have fit the use case as it did with Longhorn.

Huge kudos to the rancher team for pioneering not just `k3s` but also `longhorn` on bare meta

[2020-12-19 20:58] opticlear commented on #6
Thanks Joshimoo, yes that will be it! I'll change my provisioning script.

[2020-12-19 23:44] joshimoo commented on #2124
The resource version conflict is a temporary state and should pass after the reque (reprocessing of the updated object).
What issue are you running into?

[2020-12-20 09:37] teknologista opened #2125 "[BUG] instance pvc-454dc5eb-f... NodeID node-19 is not the same as the instance manager instance-manager-r-0983818b NodeID node-20"
**Describe the bug**

After upgrading from 1.0.2 to 1.1.0
the nodes page of the longhorn UI was acting weird with nodes displaying a rapid changing number of replicas (up and down).

Everything is operating fine on the storage provisioning to pods side.

We started exploring pods logs and found out the longhorn manager pod log for the affected nodes was spammed with messages like this:

[code]

An

[2020-12-20 13:34] #1843 closed

[2020-12-20 21:25] astachowiak commented on #2124
Hi,

the problem I have is that:

1. UI doesn't return anything - it loads but there is not data.
2. FluxCD thinks that the system was not deployed correctly
3. If I try to remove the longhorn-system namespace removal hangs

I have made some more tests and indeed it looks like the system itself works fine. I can create a PVC and PV via kubectl. The logs seems fine there. I see in the longhorn-mana

[2020-12-21 03:38] shuo-wu commented on #2121
The Longhorn images LGTM.
I just google the error you provide. It seems that something is wrong with the config value of the Longhorn Helm options. Can you click `Edit as YAML` on the Longhorn upgrade page then paste the contents (remember to delete the sensitive data) here?

BTW, what's your Rancher version?

[2020-12-21 04:58] shuo-wu commented on #2118
This error is a transient error: When a new setting is introduced in the new version, all longhorn-manager pods will try to initialize the setting simultaneously then lead to this kind of conflict/error.
But due to the retry and [check](https://github.com/longhorn/longhorn-manager/blob/87133daf86586398f74597c193dd63d702eb882c/datastore/longhorn.go#L48) mechanism, the manager pods can be running in

[2020-12-21 05:48] shuo-wu commented on #2124
I think the issue you encountered may be the same as https://github.com/longhorn/longhorn/issues/2118

[2020-12-21 06:05] mohjam2004 opened #2126 "[BUG] When I use longhron NFS storage as volume for InfluxDB the disk i/o increases unusually"
**Describe the bug**
When I use longhron nfs storage as volume for InfluxDB and use it as remote stoarge for prometheus, the DISK I/O increase unusually and the node on which the longhorn nfs volume is running become too slow.

**To Reproduce**
Steps to reproduce the behavior:
1. deploy longhorn in rancher
2. deploy longhorn nfs provisioner in rancher.
3. deploy influxdb and use longhorn nfs stora

[2020-12-21 08:00] ntcong commented on #1210
it's still good to have a FAQ or documented behavior because I just had the same problem with Ubuntu 20.04

[2020-12-21 08:16] PhanLe1010 commented on #2099
Hi @proligde

Do you still have the access to the `several hundred GB of data to the nfs-mounted volume`?

From what I understand, the PV is already deleted and I don't see a way to retrieve it from the Longhorn volume. @joshimoo Do you have any idea?

1. I don't see a way to retrieve data from the Longhorn volume because:
   When you created this PVC:
[code]
   The `longhorn-nfs-provisioner` will