[2020-12-21 08:58] yfoelling commented on #1457
Is there any news on this issue?

Im affected too on 1.0.201 installed via Rancher Apps

[2020-12-21 09:00] yfoelling commented on #1457
It even persisists after reboot

[code]

[2020-12-21 17:22] rohasharma commented on #1842
Hi,

Until last week all my applications were working fine as you suggested above (configuration). However now when I am trying to deploy the same applications it is throwing following error:

`
Events:
  Type     Reason                  Age                 From                     Message
  ----     ------                  ----                ----                     -------
  Warning  FailedSche

[2020-12-21 18:32] #2061 closed

[2020-12-21 18:47] yasker commented on #2048
@khushboo-rancher Does this issue have an end-to-end test that needed to be added?

[2020-12-21 19:01] khushboo-rancher commented on #2048
I think https://github.com/longhorn/longhorn/issues/2110 will cover the integration test cases for RWX feature. Let's close this and track the automation test with https://github.com/longhorn/longhorn/issues/2110

[2020-12-21 19:07] PhanLe1010 commented on #2013
@casek14

In the meantime, you can manually edit the `csi-provisioner` yaml file to set KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT.

[2020-12-21 19:11] #2048 closed

[2020-12-21 22:09] yasker opened #2127 "[FEATURE] Live migration support for KubeVirt"
**Is your feature request related to a problem? Please describe.**
Harvester is using Longhorn as the underlying storage. However, live migration in Harvester requests Longhorn volume to be simultaneously accessible from two different nodes, when the VM is migrating from one node to another.

**Describe the solution you'd like**
We need to support KubeVirt live migration in someway to enable the f

[2020-12-21 22:43] yasker opened #2128 "[FEATURE]Application consistent snapshot/backup"
**Is your feature request related to a problem? Please describe.**
Currently, Longhorn can do crash-consistent snapshot/backup. But for the applications like databases, quiescing is needed to create an application-consistent snapshot, so the application will make sure all the data in the memory has been written to the disk before creating the snapshot.

**Describe the solution you'd like**
Provide

[2020-12-21 22:53] yasker opened #2129 "[FEATURE]Application backup/restore"
**Is your feature request related to a problem? Please describe.**
Currently, Longhorn's backup is on the volume level. It can remember and recreate the original PV/PVC. However, it's not one-click for the user to restore the original application in another cluster or rebuilt the cluster.

**Describe the solution you'd like**
Longhorn should provide a way for the user to create a backup of an app

[2020-12-21 23:05] yasker opened #2130 "[FEATURE] Allow changing Guaranteed Engine CPU without restarting Instance Managers"
**Is your feature request related to a problem? Please describe.**
Longhorn is using GuaranteedEngineCPU option in the Kubernetes Pod Spec now, to guarantee the CPU allocation to Longhorn engine/replica. However, that part of Pod Spec cannot be changed unless recreating the Pod. But the CPU needed by Longhorn is associated with how many engines/replicas running in the instance manager.

**Describe

[2020-12-22 02:19] innobead commented on #2129
Velero supports backup & restore hooks to leave users to have some specific operations for their application or dependent application like a distributed database.

ref: https://velero.io/docs/v1.5/restore-hooks/

cc @jenting, maybe you can provide more insight here for reference.

[2020-12-22 02:33] khushboo-rancher commented on #1849
@Trackhe This feature has been released as part of Longhorn v1.1.0. You can refer https://longhorn.io/docs/1.1.0/advanced-resources/rwx-workloads/ to try it out and you should be able to view RWX volumes on Longhorn UI.

[2020-12-22 02:33] khushboo-rancher commented on #2009
@Raboldar This feature has been released as part of Longhorn v1.1.0. You can refer https://longhorn.io/docs/1.1.0/advanced-resources/rwx-workloads/ to try it out and you should be able to view RWX volumes on Longhorn UI.

[2020-12-22 02:41] Trackhe commented on #1849
i saw this. thank you all.

[2020-12-22 02:41] #1849 closed

[2020-12-22 02:59] #1822 closed

[2020-12-22 02:59] #1823 closed

[2020-12-22 02:59] #1824 closed

[2020-12-22 02:59] #1825 closed

[2020-12-22 02:59] #1864 closed

[2020-12-22 02:59] #1865 closed

[2020-12-22 02:59] #1866 closed

[2020-12-22 03:42] yasker commented on #2120
Hi @Bobonium ,

Thanks for the write-up. Your suggestion makes sense.

The problem we were trying to solve before is to make it as easy as possible for the users to set tolerations. And since we don't expect the users to update the YAML file, we decided to update the tolerations for the running workload automatically. The decision we made at that time, as you noticed, continuously bothers us later

[2020-12-22 05:19] VladoPortos commented on #6
Added longhorn to my hope setup guide :) https://rpi4cluster.com/k3s/k3s-storage-setting/ keep it up guys, love it !

[2020-12-22 05:40] shuo-wu commented on #2126
Since the data written into Longhorn volumes is exactly what users/workloads write. There are 2 possibilities for this case:
1. There is a filesystem formatting for the Longhorn volume near the peak.
2. The caches held by the NFS client/server (or the influxdb) are flushed into the Longhorn volume.

Right now it seems that the i/o peak is tolerable as long as there is no r/w timeout. Or is there a

[2020-12-22 06:02] khushboo-rancher commented on #2077
Verified with Longhorn master `12/21/2020`

Validation - **Pass**

Ran installation around 40 times using the attached script, didn't see the error.
[get_longhorn_manager_log.sh.zip](https://github.com/longhorn/longhorn/files/5728066/get_longhorn_manager_log.sh.zip)

[2020-12-22 06:30] mohjam2004 commented on #2126
What is written to longhorn nfs storage is the same what is written to longhorn basic storage.
I want to know  why, when the data is written to nfs storage (remote storage for prometheus) the disk i/o increases suddenly?
I haven't seen this problem with other pods when using longhorn nfs storage.
My guess is that the longhorn nfs storage has a problem with influxdb when the read and write data con

[2020-12-22 10:32] shuo-wu commented on #1842
@htwalid

It seems that there is cpu limit being automatically added by others when Longhorn tries to create instance manager pods dynamically. Since Longhorn will add the requested cpu resource for the pods and the value is greater than the limt, then the pods cannot be created successfully,
[code]
These instance manager pods are designed for managing and launching engines or replicas. If these p

[2020-12-22 11:04] joshimoo commented on #2126
@mohjam2004 you really shouldn't run a database on top of nfs storage.

[2020-12-22 11:13] mohjam2004 commented on #2126
hello @joshimoo
Why should not I use database on top of longhorn nfs storage?
I need a 'read and write many" storage and longhorn support it only through nfs.

[2020-12-22 11:13] joshimoo commented on #2099
@proligde @PhanLe1010 is correct the default reclaim policy is delete, so when you remove the pvc the pv and data is removed from the nfs-server. For 1.1 we have native rwx integration, where each volume will have it's own nfs-server that exports it.

If you have a longhorn backup/snapshot from the nfs-server volume than you might be able to recover your data easily.
In other cases you could look

[2020-12-22 11:27] joshimoo commented on #6
@VladoPortos nice write up, just leaving some notes below.

One can also use default disk annotations on the nodes to have additional disks setup automatically.
https://longhorn.io/docs/1.1.0/advanced-resources/default-disk-and-node-config/

Also one can change the default data path during installation, then the disks should be picked up automatically.
https://longhorn.io/docs/1.1.0/advanced-resou

[2020-12-22 11:42] joshimoo commented on #2126
@mohjam2004 have a look at the prometheus documentation here, about the nfs warning :)
https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects

[2020-12-22 12:44] shuo-wu commented on #1842
Can you provide the YAML file of the application as well as your cluster config(e.g., Kubernetes version) if possible? It may be related to [the fsGroup modification in Kubernetes v1.20](https://kubernetes.io/blog/2020/12/14/kubernetes-release-1.20-fsgroupchangepolicy-fsgrouppolicy/). Have you enabled the feature gate `CSIVolumeFSGroupPolicy`? And [here](https://github.com/kubernetes/kubernetes/bl

[2020-12-22 12:46] shuo-wu commented on #2029
Feel free to update to the latest version. If possible, please generating the support bundle before applying any workaround once you encounter this issue again.

[2020-12-22 12:51] rohasharma commented on #1842
Hi,

I flipped the version back to 1.19 and it started working fine.
For now in production we are using 1.19 version only.
However, does longhorn officially supports 1.20?

Thanks
Rohan Roy Sharma

On Tue, Dec 22, 2020, 6:14 PM Shuo Wu <notifications@github.com> wrote:

[2020-12-22 12:59] mohjam2004 commented on #2126
Hi, @joshimoo
Thanks alot.

[2020-12-22 12:59] #2126 closed

[2020-12-22 17:29] yasker opened #2131 "[FEATURE]Support CSI fsGroupPolicy"
https://kubernetes.io/blog/2020/12/14/kubernetes-release-1.20-fsgroupchangepolicy-fsgrouppolicy/

Ref:
#1221
https://github.com/longhorn/longhorn/issues/1842#issuecomment-749522327

Note: Manual test plan is required because:
1. We haven't had the v1.20 test environment ready yet.
2. Need to make sure we can speed up the fsgroup change

Applicable Kubernetes version: v1.20+

[2020-12-22 18:39] yasker commented on #1675
We've updated our recommended hardware to exclude the spinning disk. The timeout we have shown above is likely due to overloading the spinning disk, which cannot provide high IOPS for Longhorn, thus result in the failure of replicas.

[2020-12-22 18:47] yasker commented on #1691
@shuo-wu Can you add a checklist regarding what measurement we were planning to do? So other engineers can pick it up when you're working on other items.

[2020-12-22 18:49] yasker commented on #1877
Close this one for now, since the fix has shipped with v1.1.0 release.

If you continue to experience issues, feel free to reopen again.

[2020-12-22 18:55] PhanLe1010 commented on #2083
Thanks @axeal for reporting. We removed https://github.com/longhorn/longhorn-manager/pull/801 in v1.1.0 release

[2020-12-22 18:56] VladoPortos commented on #6
@joshimoo thanks for notes, much appreciated. I will add them. Still need to finish and re-read the whole thing, since some parts were taken when I was trying to get k8s working :D but now wife is not giving me much time to do it :D with all the holidays stuff.

[2020-12-22 19:53] yasker commented on #1988
Close the issue since:
1. The issue has been resolved in the user's setup.
2. The issue seems due to an ETCD issue, in which there isn't much Longhorn can do now.

[2020-12-22 19:53] #1988 closed

[2020-12-22 23:30] #1677 closed

[2020-12-22 23:56] yasker commented on #2083
Close this since the bind mount of `/var/run` has been removed in the v1.1.0 release.

Feel free to reopen if you experience the same issue again in v1.1.0 release.

[2020-12-22 23:56] #2083 closed

[2020-12-23 00:22] PhanLe1010 commented on #2125
@teknologista

1. As a workaround, can you try to see if the replica `pvc-4aa83d0c-c0e4-4c2f-81b2-af8a0301851a-r-6a118a25` and similar replicas are in error state on Longhorn UI? If they are and there are other healthy replicas of the volume, you can manually delete the failed replicas. That way, the longhorn manager will not be spammed with the above messages.

2. I am having a hard time reproduc

[2020-12-23 00:30] PhanLe1010 commented on #2125
@yasker @shuo-wu

From the code perspective, Do you recall why we return an error message [here](https://github.com/longhorn/longhorn-manager/blob/24300a52841e7f66b6568e05c327b2797df8abca/controller/instance_handler.go#L317 )? should we not return that error? Because if we return the error, the changes to `replicas.status` are not persisted in `etcd` and so the error message is printed again and a

[2020-12-23 03:00] gnoejuan commented on #2042
I suppose this means I need to understand Helm more than I currently do. Thanks!

[2020-12-23 03:00] #2042 closed

[2020-12-23 03:56] shuo-wu commented on #1842
We haven't test Kubernetes v1.20 thoroughly since Kubernetes v1.20 was also in release progress when we cut RC for Longhorn v1.1.0. When we complete the test and find any backward compatibility break, we will announce a Longhorn minor version to address the issues.

[2020-12-23 04:17] shuo-wu commented on #1691
OK. Here is the TODO list:
- Minimum disk performance requirement: Bandwidth requirement when writing sequential data to multiple volumes/replicas simultaneously
- Minimum disk performance requirement: IOPS/Latency requirement when writing random data to multiple volumes/replicas simultaneously
- Minimum disk performance requirement: IO depth requirement when writing sequential/random data to mult

[2020-12-23 05:25] yasker commented on #1691
IO Depth is a parameter we can tweak on the client iSCSI side. It's more like a setting than resource.

Otherwise LGTM.

[2020-12-23 05:41] yasker commented on #1385
There is an alternative than forcing a full backup every x backups, we can also develop a tool/feature to detect corruptions in the backupstore.
1. Backup blocks are stored with checksum, so we should be able to verify the integrity of the blocks.
2. If one block is corrupted, we should notify the user, and allow the block to be re-backed up in future backups.

Compare two approaches:
1. Full back

[2020-12-23 06:00] shuo-wu commented on #2125
Since this is definitely a bug rather than a handleable special case like node-down, it's better to expose this error rather than **directly tries** to recover it. Otherwise, we may miss the error, and it will degrade the system's reliability silently.

[2020-12-23 06:06] yasker commented on #2028
Depends on #791

[2020-12-23 06:10] yasker commented on #2059
@joshimoo Can you clarify what's expected in this situation? So we can update the UI with the message.

[2020-12-23 06:12] yasker commented on #2056
We need some thoughts about this. We cannot show all the histories since the main point of having the history is to remind users what does this volume for. @joshimoo what do you think?

[2020-12-23 06:18] yasker commented on #2106
Move to Icebox due to we're waiting for the upstream Kubernetes fix for #2062

[2020-12-23 06:24] yasker commented on #1930
Need to do some POC first to know what can be done in the current framework.

[2020-12-23 06:32] yasker commented on #1860
Duplicate of https://github.com/longhorn/longhorn/issues/1930

[2020-12-23 06:32] #1860 closed

[2020-12-23 08:17] brlbil commented on #1997
+1

[2020-12-23 12:26] himanshusharma-git opened #2132 "Cant able to use RWX"
i need to deploy a RKE cluster with longhorn but now when see the documentation where it ask us to deploy few yaml to enable rwx i coudn't find them.
Kindly suggest me how to move forward now . i have already deployed longhorn with rancher but now when i try to increaset the replicas of wordpress application it gives me multi attach volume error.

![image](https://user-images.githubusercontent.com

[2020-12-23 14:14] jshridha commented on #1842
I can confirm that enabling the CSIVolumeFSGroupPolicy feature group fixed the `kubernetes.io/csi: expected valid fsGroupPolicy, received nil value or empty string` issue for me with kubernetes 1.20.0. I'm not sure if there are any other issues that will pop up because of that change, but it's working now.

[2020-12-23 15:28] joshimoo commented on #2059
If a workload is using a shared volume (app-x) then the share-manager for that volume will be in control of the volume.
So when the user force detaches the volume, the share-manager pod will detect this and terminate itself which will trigger an error
on the share-manager controller which will then ramp up a new pod and ensure that the volume is attached.

tldr something like, `detaching a shared

[2020-12-23 15:31] joshimoo commented on #2056
Needs some more design discussion, but how do you feel about instead of referencing the individual pods, have the ui reference the deployment/statefulset instead?

[2020-12-23 15:52] ssirag commented on #2122
Update: 1.1.0 doesn't fix this issue, and it also affects deployments as well as stateful sets.

[2020-12-23 17:53] yasker commented on #2075
@WhitePhoera Read-only volume is normally caused by CPU pressure or network issues that result in the engine disconnects from replicas. A few things you can check:
1. What's the CPU utilization on the node? You can refer to https://longhorn.io/docs/1.1.0/best-practices/#guaranteed-engine-cpu to see how to reserve proper amount of CPU resources for Longhorn on the node.
2. Is the network bandwidth

[2020-12-23 18:00] yasker commented on #2056
But the same PVC can be used by different Deployment/StatefulSet as well. We record this information too.

And for StatefulSet, each pod can have different data, so it's still better to show the Pod and StatefulSet instead of just the StatefulSet.

The problem is, previously we only show either the history information or the current information. Once a pod starts to use the volume, we will show th

[2020-12-23 18:04] yasker commented on #2075
@shuo-wu Can you help to write a kb article about the topic? See https://longhorn.io/kb/troubleshooting-volume-pvc-xxx-not-scheduled/ for example.

[2020-12-23 18:45] PhanLe1010 commented on #2122
@ssirag

Yes, This is a [bug](https://github.com/longhorn/longhorn/issues/2062) in Kubernetes v1.19+ versions that breaks Longhorn's `Pod Deletion Policy When Node is Down` feature. We are waiting for the upstream Kubernetes to fix it.

[2020-12-23 19:07] PhanLe1010 commented on #2132
Hi @himanshusharma-git

Which Longhorn version are you using?

If you are using v1.1.0, RWX is supported natively and you don't have to do any additional setup, [see docs](https://longhorn.io/docs/1.1.0/advanced-resources/rwx-workloads/)

If you want to use Longhorn v1.0.2, you need to do additional setups as you mentioned above. It is a bug that some of the links in the Longhorn v1.0.2 document a

[2020-12-23 19:27] khushboo-rancher commented on #2056
Agree, Showing the history of the last attached pod makes sense.

[2020-12-23 19:34] yasker commented on #2056
@khushboo-rancher @joshimoo If you agree, we can close this issue.

[2020-12-23 19:35] #2056 closed

[2020-12-23 20:54] Raboldar opened #2134 "[Question] - Is it possible to export the longhorn configuration using Velero/Restic ?"
**Question**
Hy !
I did a cluster export using Velero/Restic, Lognhorn got deployed without issues, the storage classes and volumes were created, the only problem is the configuration of Longhorn and the Nodes. All the settings that I had defined rolled back to defaults. All disk configurations for each node have been lost (had 3 disks per node, now I have only one that goes to the default storage

[2020-12-24 05:22] PhanLe1010 commented on #2131
From the Kubernetes' code perspective, it looks like everything should work fine.

There are 3 cases we need to consider:
1. Kubernetes v1.19 with `CSIVolumeFSGroupPolicy` enabled
1. Kubernetes v1.20 with `CSIVolumeFSGroupPolicy` disabled
1. Kubernetes v1.20 with `CSIVolumeFSGroupPolicy` enabled

Case#1 and Case#3 should work because when `CSIVolumeFSGroupPolicy` is enabled, Kubernetes automatical

[2020-12-24 05:22] PhanLe1010 commented on #2131
@Khushboo already verified that Case#1 and Case#3 working as expected.
We are verifying Case#2

[2020-12-24 06:55] Bwvolleyball commented on #2088
I'm on Longhorn v1.1.0, Baremetal, k3s, but I'm still getting this exact error.

[code]

This backup worked exactly once for me, and now it can't find the service for my NFS server anymore.

[2020-12-24 07:57] WhitePhoera commented on #2075
i will check updated release. thanks.
i found out that i was mixed up by my collegues(i am part of that hosting), and my VPSs is unlucky to remain on old `experimental` nodes, they sometimes have IO lags.
i assume longhorn at that time fails with timeout error.

Also after i upgraded cluster to k8s 1.19, it started to work more stable, but that may be just coincedence.

So, in the end it was my fr

[2020-12-24 12:56] timmy59100 opened #2135 "[BUG] Can't reset default storage class "longhorn""
**Describe the bug**
After upgrading to longhorn 1.1 the standard default class "longhorn" keeps resetting as default storage class when I click reset default.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to storage classes
2. Click on 'longhorn storage class'
3. Perform 'reset default'
4. longhorn storage class is default again.

**Expected behavior**
A clear and concise description o

[2020-12-25 09:03] joshimoo commented on #2135
@PhanLe1010 Do we mark the storage class as default in the config map?
Is there documentation for the user on how to change the config map, that is used for the storage class?

[2020-12-25 09:05] joshimoo commented on #2132
@himanshusharma-git in 1.1 rwx support is natively available, you need to have the RWX access mode defined for the pvc.
If I remember correctly  the rancher wordpress app deploys with a RWO pvc instead of an RWX pvc.

[2020-12-25 22:17] koo9 commented on #1360
got the same error message but the volume is ready and working in kubernetes. any update on this?

[2020-12-26 04:23] dhoard opened #2136 "[BUG] longhorn-ui should not require IPv6"
**Describe the bug**
Longhorn-ui fails when installed on a node that has IPv6 disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a Vanilla K8s cluster (or other distribution) on nodes that have IPv6 disabled
2. Install Longhorn
3. Longhorn-ui fails to start due to a requirement for IPv6 in the nginx configuration.

**Expected behavior**
Longhorn-ui should be able to work with IP

[2020-12-26 09:10] PhanLe1010 commented on #2135
This issue is similar to https://github.com/longhorn/longhorn/issues/2119

[2020-12-26 15:11] #1775 closed

[2020-12-27 11:57] corvus-ch opened #2137 "[BUG] CSI plugin pods stuck in status ContainerCreating"
**Describe the bug**
After installing Longhorn, the CSI plugin pods remain in state ContainerCreating indefinitely.

**To Reproduce**
Steps to reproduce the behavior:
1. Cluster setup: https://github.com/corvus-ch/damp-lab-1081/blob/main/INSTALL.md
2. curl -sLo longhorn-system/deploy.yaml https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/deploy/longhorn.yaml
3. Patch deployment
[code]
4.

[2020-12-27 12:25] corvus-ch commented on #2137
Turns out, I misread https://longhorn.io/docs/0.8.0/users-guide/distribution-specific-notes/csi-on-k3s/. I am using both latest k3s and latest longhorn. So `--kubelet-root-dir` must not be altered. It just works out of the box.

[2020-12-27 12:25] #2137 closed

[2020-12-27 13:37] #1739 closed

[2020-12-28 06:04] shuo-wu commented on #2075
We will write an article to help users troubleshoot/understand this error.

[2020-12-28 06:15] shuo-wu commented on #1360
@koo9 I think it's due to the new enhancement/setting introduced in v1.1.0: [`Allow volume creation with degraded availability`](https://github.com/longhorn/longhorn/issues/1701).
The error `Replica Scheduling Failure` means there is no available disk/node that can fit the volume. And the expected HA(running replica count) cannot be guaranteed. In old versions, because of the HA downgrade concerns

[2020-12-28 06:30] shuo-wu commented on #2135
You can try modifying the annotation `storageclass.kubernetes.io/is-default-class` in the configmap `longhorn-system/longhorn-storageclass` data to `"false"`
[code]

[2020-12-28 08:04] WesleyVestjens opened #2138 "[BUG] Volume isn't assigned to node with 2 nodes"
**Describe the bug**
We have a setup with with 2 worker nodes (RKE + Longhorn). We have 3 PVC's that get bound to a PV, but while they should be attached to a node, they remain unattached. The longhorn-manager logs mention that there are no eligible nodes or disks or that there is insufficient space (which is not the case - we have 137 Gi assignable on in total 2 nodes).

**To Reproduce**
Steps to

[2020-12-28 08:10] WesleyVestjens commented on #2138
On Slack you mentioned it might be related to the ConfigMap, see #2119, but I don't think that's the case, the ConfigMap also refers to 2 replica's:

[code]

[2020-12-28 09:45] StoneCut opened #2139 "[BUG] Zombie longhorn-engine processes - I/O errors"
**Describe the bug**
I have a fair amount of zombie processes related to longhorn-engine referencing specific volumes on my nodes. Some of these zombie processes reference volumes that apparently work fine while a fair number reference volumes that appear to be attached to pods but are not actually accessible (I/O error).

**To Reproduce**
Steps to reproduce the behavior:
Not exactly sure. We just

[2020-12-28 09:48] teknologista commented on #2125
@PhanLe1010 Unfortunately your suggestion doesn't change anything.
We have shared the requested full support bundle (200MB) for issue via a Dropbox link you should have received.

We have also added 2 screen recordings (also attached below) so you can see what we are facing in the longhorn manager UI.
The problem show happens for several nodes, but not all.
We have tried manually deleting replicas

[2020-12-28 21:31] pulberg commented on #2121
Rancher version v2.5.3

[code]

[2020-12-29 04:42] shuo-wu commented on #2134
1. All Longhorn node & disk info, as well as other settings, are stored in the Longhorn CRs(Custom Resources). If Velero and Restic would back up and restore the whole ETCD, the CRs and the underlying CRDs(Custom Resource Definitions) of other applications would be backed up and restored. Since I am not familiar with Velero And Restic, I cannot tell what & how Velero/Restic apply the restore, and

[2020-12-29 08:58] unixfox commented on #1500
bump

[2020-12-29 10:47] DarianAnjuhal commented on #1500
Hi,

thanks a lot for the new version. It makes things easier and better. Pods very often recover automatically.
But I still notice down times for couple of services.

@yasker Can I send you a new support bundle. Maybe it helps to figure out the issue?

Greetings Darian

[2020-12-29 12:34] davidsbond commented on #2070
Hello, I'm also experiencing this issue on replica rebuilds. It tends to happen on larger volumes, I've only seen it happen on anything over 1GB. I'm running 1.1.0 on arm64. Anything I can do to help with debugging?

[2020-12-29 12:35] WesleyVestjens commented on #2138
Worked it out further with support employees through Slack, summary of this is as follows:

- Replica Node Level Soft Anti-Affinity must be enabled
- Replica Zone Level Soft Anti-Affinity must be enabled
- We have 'Allow Volume Creation with Degraded Availability' enabled, not sure if this is required
- Support reports that Longhorn might not work properly when the 'Storage Over Provisioning Perce

[2020-12-29 12:35] #2138 closed

[2020-12-29 12:42] davidsbond opened #2140 "[FEATURE] Use semantic versioning for longhorn-instance-manager docker image."
**Is your feature request related to a problem? Please describe.**

All the longhorn images follow a semantic versioning format, and are generally all released at the same time with an exception for the `instance-manager` image. Recently I did an upgrade to 1.1.0 and found that rather than having an image tag of `v1.1.0` the instance-manager has an image tag of `v1_20201216`. This initially caused

[2020-12-29 12:48] shuo-wu opened #2141 "[FEATURE]Instructions for tuning the scheduling related settings"
**Is your feature request related to a problem? Please describe.**
Like issue #2138. Users may be confused about the scheduling settings, then not able to launch a Longhorn volume.

The [existing doc](https://longhorn.io/docs/1.1.0/volumes-and-nodes/node-space-usage/) explains some concepts/terms on the Node page only. We need to improve it by explaining how the following configs work together to

[2020-12-29 13:57] #1897 closed

[2020-12-29 17:01] davidsbond commented on #2070
[longhorn-support-bundle_53b276b7-2b02-4fb8-81b9-d9ea1827a78f_2020-12-29T16-59-25Z.zip](https://github.com/longhorn/longhorn/files/5751477/longhorn-support-bundle_53b276b7-2b02-4fb8-81b9-d9ea1827a78f_2020-12-29T16-59-25Z.zip)

Added a support bundle, `pvc-20c8a881-cc60-496e-8311-b859c8a42333` and `pvc-20c8a881-cc60-496e-8311-b859c8a42333` are where I consistently get this error message, they're bo

[2020-12-29 19:47] amir-hg opened #2142 "change row size of volumes page in web ui [FEATURE]"
**Is your feature request related to a problem? Please describe.**
The problem is i want to see all volumes ( or backups) in one page (in the web ui)
right now the default size is 10 and it is sooo little for me that i have many volumes and backup
i need to see all of them in one page and even sort them

**Describe the solution you'd like**
I think there should be field in settings that can be con

[2020-12-29 22:57] Raboldar commented on #2134
Hy ! Thanks for the reply,
I will take a look at why it didn't include the Longhorn CR and maybe ask in the Velero Forum aswell.
Would have loved to use directly Rancher for the backups (mostly to transfer a cluster from prod to dev etc..) but we don't use rke.
The security is an important part for us so we are using containerd with kata-conainer. I would be great to have options for rke other tha

[2020-12-30 00:43] BeastlyPixels opened #2143 "RDMA"
**Question**
Hello, does longhorn support RDMA?

**Environment:**
 - Longhorn version:
 - Kubernetes version:
 - Node config
   - OS type and version
   - CPU per node:
   - Memory per node:
   - Disk type
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal):

**Additional context**
Add any other context about the prob

[2020-12-30 04:02] koo9 commented on #1360
@shuo-wu  that works! thx

[2020-12-30 04:16] shuo-wu commented on #2143
Right now the answer is NO. We will check if it's possible later.

[2020-12-30 18:10] dbpolito opened #2144 "[BUG] After upgrade to 1.1.0 some old managers still running"
Not sure it's a bug but i noticed that after upgrading to 1.1.0 and removing old engine from UI, it seems it will has some managers running on my cluster:

[code]

I have 3 nodes, when i deleted the old engine 3 pods of manager `r` were terminated but the `e` ones are still there.

Everything seems to be working fine...

[2020-12-30 20:04] #1803 closed

[2020-12-30 23:39] venomone opened #2145 "Unable to write to RWX Volume if user is not root"
Hey folks,

I have longhorn 1.1.0 installed but the problem is that if I use the natively RWX integration im not able to write to a volume if the container runs as a other user than root uid/gid != 1000 it seems.
Is this Issue already known?

[code]

Kind regards

[2020-12-31 01:05] #2013 closed

[2020-12-31 03:25] shuo-wu opened #2146 "[Question] i/o timeout during replica rebuild"
**Describe the bug**
As described in the title. The instance manager image is `longhornio/longhorn-instance-manager:v1_20201216`, which is the latest version in v1.1.0. The original post of this issue is in [Slack](https://rancher-users.slack.com/archives/CC2UQM49Y/p1609247747073400)

**To Reproduce**
Not sure right now

**Expected behavior**
No i/o timeout error

**Log**
[code]

**Environment:**

[2020-12-31 16:16] pulberg commented on #2121
I need to make some progress on this so i will be entering a support ticket.

[2020-12-31 17:53] pulberg commented on #2121
Wait helm template failed. 2020/12/31 17:51:03 Warning: Merging destination map for chart 'longhorn'. Overwriting table item 'ui', with non table value: longhornio/longhorn-ui 2020/12/31 17:51:03 Warning: Merging destination map for chart 'longhorn'. Overwriting table item 'engine', with non table value: longhornio/longhorn-engine 2020/12/31 17:51:03 Warning: Merging destination map for chart 'lon

[2021-01-01 17:06] timmy59100 commented on #2135
This works. I think the previous behaviour was better: Have it as default, but it is resettable.

[2021-01-01 20:54] unixfox commented on #1242
bump

[2021-01-02 06:23] taxilian commented on #1470
The documentation is still pointing to old information; I'm currently trying to figure out how to do this, hoping the lack of docs means to just use the flag?

[2021-01-02 08:47] yardenshoham commented on #1470
@taxilian it looks updated to me. https://longhorn.io/docs/1.1.0/advanced-resources/rwx-workloads/

[2021-01-02 16:29] FabianNiehaus opened #2147 "[BUG] Driver deployer stuck in Init / UI in CrashLoopBackOff / Manager cannot list the content of the src directory /var/lib/rancher/longhorn/engine-binaries"
**Describe the bug**
When installing Longhorn via Helm in a new cluster, the UI and the driver-deployer are not started properly, and the managers raise errors in the log.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v1.0.0 via Helm 3
[code]
2. Wait for Pods to come online
[code]
4. Pods get stuck at this state:
[code]

**Expected behavior**
All Pods come online without e

[2021-01-02 16:33] FabianNiehaus commented on #2147
Update: Same issue arises when using no custom values.

[code]

[2021-01-02 18:31] taxilian commented on #1470
Huh; maybe I was looking at an old version of the docs and didn't realize
it. Thanks for the link!

Richard

On Sat, Jan 2, 2021 at 1:47 AM Yarden Shoham <notifications@github.com>
wrote:

[2021-01-03 04:42] shuo-wu commented on #2121
It seems that something is wrong with your Helm rendering. More accurately, according to the error message, the value types seem to be messed up. e.g.The error `at <.Values.image.longhorn.manager.repository>: can't evaluate field repository in type interface {} : exit status 1` is weird. According to the YAML you provide, the value should be `"longhornio/longhorn-manager"`  rather than an invalid

[2021-01-03 04:45] shuo-wu commented on #2135
Yeah. It is better to allow users to reset/unset it via Helm/Rancher App. We will check it then.

[2021-01-03 22:20] docbobo commented on #2070
I am experiencing the same issue right now, though I also see it with volumes smaller than 1GB, e.g. 100MB. However, it seems that smaller volumes will eventually be able to replicate, while bigger ones might not.

[2021-01-04 04:51] shuo-wu commented on #2144
This is what Longhorn expected rather than a bug. For the Longhorn volume live upgrade, the engine cannot be switched to another/new engine manager pods without interrupt the i/o. Hence, the new engine of upgraded volumes should be launched by the old engine manager pods.
Once you detach the upgraded volumes, these engine manager pods will be removed automatically.

[2021-01-04 05:04] shuo-wu commented on #2147
1. What's the log/status of the longhorn-driver-deployer? I am not sure if other longhorn workloads are able to talk with longhorn manager pod. If No, that may be the root cause. You can check it by entering into one of the Longhorn workloads. e.g.:
[code]
2. Notice that you are using HDD and the potential network latency is pretty high. Longhorn system cannot work stably under this environment.

[2021-01-04 11:40] FCarvMobil commented on #2029
Hi guys. First of all, Happy New Year!

I'd upgraded yesterday the longhorn installation to version 1.1.0 - it went ok but I was spooked for a while as the UI didn't show volumes, nodes or even the gauges; just to find out that my link to the UI was wrong.

About the issue with the backups, I think it is solved. The volume analyzed by @shuo-wu completed its backup successfully as a few others also

[2021-01-04 12:45] joshimoo opened #2148 "Create KB article on when to use what type of storage"
Create a KB article, that we can reference to provide guidance on what type of volume a workload should use.
example questions, that the article should be able to answer:
- difference between rwx/rwo volumes and when to use each
- application replication vs storage replication (database workloads)
- when to use a volume claim template instead of an RWX volume (stateful set)

[2021-01-04 12:48] joshimoo opened #2149 "Create LEP for the current native RWX solution"
Create a LEP document for the current single volume per share manager solution.
Include reference to the pro/cons of this solution vs the multiple volumes per share manager.

[2021-01-04 13:53] dbpolito commented on #2144
Well i looked at all volumes through the UI on details page and they are all pointing to the new engine and pointing to `instance-r` managers on the nodes... it doesn't seem any `instance-e` is being used... 🤔

Well if they are still using somehow the old manager that means the new stuff like `Automatically Delete Workload Pod when The Volume Is Detached Unexpectedly` isn't enabled yet?

When you

[2021-01-04 14:11] Angelinsky7 opened #2150 "[Question] Chart helm installation from rancher dashboard"
I would like to know where is the official helm repo to use to install longhorn.

the default charts repo from rancher is `https://git.rancher.io/charts` (for my default installation) and currently has `longhorn:1.0.201` but i've seen that on `https://github.com/rancher/charts` the current version is  `longhorn:1.1.0` which is the last correct version. (that i would like to upgrade to)

I would pr

[2021-01-04 16:03] pulberg commented on #2121
Nothing else was/has been done, I'm simply trying to upgrade the current v1.0.2 install.

The only things I modify on the upgrade page are -

1. Pick v1.1.0 from the "template version" dropdown.
2. Enter my private registry secret name.
3. Update the "static storageclass name" to what mine is called.
4. Click upgrade.
5. View multiple errors.

[2021-01-04 18:01] yasker commented on #2140
Hi @davidsbond,

At this moment, we'd decided not to tie instance-manager to the semantic version of Longhorn release. The reason is they can remain the same version with the new Longhorn releases. The instance manager is designed to be stable across different versions. We only fix critical bugs in them. And every time instance managers are being upgraded, there will be some extra resources requir

[2021-01-04 18:05] yasker commented on #1939
This is fixed in v1.1.0. Close the issue.

[2021-01-04 18:05] #1939 closed

[2021-01-04 18:13] yasker commented on #2148
We can include this in our official doc instead of KB. KB is normally used to address a specific case.

[2021-01-04 19:49] davidsbond commented on #2140
Hey @yasker, thanks for the reply.

That makes sense, perhaps then in longhorn, it might be useful to have both `Latest Longhorn Version` and `Latest Instance Manager Version` displayed in the UI?

I'm using my own kustomize set up to deploy longhorn, so I don't just apply the latest hosted manifest you offer in the repository. So having a way to see when the version of the instance manager has ch

[2021-01-04 19:52] davidsbond commented on #2140
Alternatively, I can just always use `master` for the instance manager image, is that the preferred way?

[2021-01-04 19:54] khushboo-rancher commented on #2131
Validated the longhorn basic functionality with v1.20, It looks good.

As mentioned in the https://github.com/longhorn/longhorn/issues/2131#issuecomment-750746830 Longhorn is validated with the below cases.

1. Kubernetes v1.19 with CSIVolumeFSGroupPolicy enabled
2. Kubernetes v1.20 with CSIVolumeFSGroupPolicy disabled
3. Kubernetes v1.20 with CSIVolumeFSGroupPolicy enabled

Running the integratio

[2021-01-04 20:24] PhanLe1010 commented on #1842
@rohasharma @jshridha

We cannot reproduce the problem as described in the issue https://github.com/longhorn/longhorn/issues/2131

What steps did you try to produce the problem?

[2021-01-04 20:44] joshimoo commented on #2145
This is because in the current share-manager (nfs) server we don't squash and the share manager is running as root.
https://github.com/longhorn/longhorn-share-manager/blob/master/pkg/server/nfs/export.go#L159

squashing comes with it's own problems, I want to make this behavior user defined in a future release.
@venomone as a workaround are you able to `chmod -R +777` or `chown` the nfs mount dir

[2021-01-04 21:05] FabianNiehaus commented on #2147
Okay, so I was investigating the issue and stumbled across the following:
1. After adding two more nodes to the cluster, most of the pods would start. However, new pods had an image pull error.
2. Looking at the event logs, the pods tried to pull images from a private registry. Turns out I misconfigured the `k3s` `registries.yaml` by overwriting the default `docker.io` entry.
3. After completely u

[2021-01-04 21:05] #2147 closed

[2021-01-04 23:14] noahsbwilliams commented on #1181
Once again, writing in support!

I believe that ease of migration will likely be a the determining factor in whether or not people migrate to k8s from docker or dedicated VMs.

As a specific suggestion, I think what would be the most attractive, would be to offer an easy way for migration of a directory from a tarball, with a "click to upload" feature in the Longhorn UI. Most sysadmins can probabl

[2021-01-04 23:31] tetricky opened #2151 "Object Storage Backup setup - Wasabi"
I have tried to setup Wasabi (instead of aws) as a storage backend for longhorn backups. I appear to be unable to find a form that works.

I have referred to https://github.com/longhorn/longhorn/issues/811 which is a related issue, but I can't get where I need to be.

I have a secret, in the proscribed form (as per the docs)

apiVersion: v1
kind: Secret
metadata:
  name: private-name-secret
  name

[2021-01-04 23:53] khushboo-rancher commented on #2100
Verified with Longhorn master - `01/04/2021`

Validation - **Pass**

Deleted the node from the set up of Longhorn v1.0.2 and upgraded to master. The Deleted node got cleaned up on upgrading the set up. Added back new nodes (one of them with same name), nodes got added automatically in the Longhorn master.

Validated the scenario of the reusing of same replica, it worked fine.

[2021-01-04 23:53] #2100 closed

[2021-01-05 01:35] yasker commented on #2136
The related PR is at https://github.com/longhorn/longhorn-ui/pull/320.

Since IPv6 is not tested, we can revert this PR and put it in the next release.

[2021-01-05 01:59] yasker commented on #2146
We will try to reproduce the issue first.

[2021-01-05 02:47] gitlawr opened #2152 "[FEATURE] Upgrade longhorn engine automatically"
**Is your feature request related to a problem? Please describe.**
Currently, users need to upgrade the engine image manually in the UI after the longhorn manager is updated.

**Describe the solution you'd like**
Be able to upgrade engines without UI interactions. For example, provide an option. When it is enabled, upgrade engine images once the longhorn manager is updated.

**Describe alternative

[2021-01-05 05:23] shuo-wu commented on #2139
Typically i/o error is not related to the zombie processes. Instead, the most common cause is that the related volume is not remounted after the related engine gets crashed. In this case, you need to delete and relaunch the related pod to recover the i/o. If the workload pod is managed by a controller, e.g. Deployment or StatefulSet, you can enable the setting `Automatically Delete Workload Pod wh

[2021-01-05 05:25] #1915 closed

[2021-01-05 05:25] shuo-wu opened #2153 "[FEATURE]Add new setting descriptions in the doc"
**Is your feature request related to a problem? Please describe.**
For example, the description for setting `replica-replenishment-wait-interval` is missed in the v1.1.0 doc.

[2021-01-05 05:26] shuo-wu commented on #2029
We will update the doc for the new settings:https://github.com/longhorn/longhorn/issues/2153
Thank you for pointing this out!

[2021-01-05 05:28] shuo-wu commented on #2029
And if you can reproduce the issue later, feel free to re-open this issue

[2021-01-05 05:54] shuo-wu commented on #2144
1. For the engine manager (instance-manager-e) using the latest/default instance manager image, it will be retained even if there is no volume engine pointing to it. But if an engine manager is using the old instance manager image, it will be cleaned up automatically once there is no engine in it. You can verify this by checking which image the engine manager that contains volume engines is using.

[2021-01-05 07:33] StoneCut commented on #2139
Hhhm, will the StateFulSet actually notice that the volume is detached? Because on the face of it it doesn't seem like it.

[2021-01-05 07:44] ysakashita opened #2154 "[BUG] Panic down longhorn-csi-plugin by no param in SC"
**Describe the bug**
When parametes in StorageClass are omitted, I try to create RWX PV using it.
Then the longhorn-csi-plugin is down for panic.
Also the following pods are down.

- csi-attacher
- csi-provisioner
- csi-resizer
- csi-snapshot

**To Reproduce**

1. Deploy the following the manifest.

[code]

2. Occer panic down  longhorn-csi-plugin and csi pods.
3. See error log in longhorn-csi-plu

[2021-01-05 08:20] joshimoo commented on #2151
What are the forms of the backup target that you used?
Can you link to the Wasabi S3 setup instructions?

[2021-01-05 08:27] joshimoo commented on #2154
Thanks for reporting, your analysis is correct and we will fix this in the next release.
As a workaround you should be able to define any dummy parameter for the storage class, so the that CSI driver receives a non nil param map.

[2021-01-05 08:47] joshimoo commented on #2131
@PhanLe1010 the fuzzer you linked  to is code used only for testing, as recognized by the fact of the usage of random here :)
https://github.com/kubernetes/kubernetes/blob/af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38/pkg/apis/storage/fuzzer/fuzzer.go#L43

So in the case where the feature gate exists and the driver object exists as well as not having defined a FSgroup setting, we will trigger this erro

[2021-01-05 09:45] shuo-wu commented on #2121
All right. Can you try the following to see if it's a **Rancher + Helm** issue?
1. Download this chart directory: https://github.com/longhorn/longhorn/tree/master/chart
2. Update the value files, or directly use `--set` when running the command in step3
3. Run the helm command to see if the rendering works fine. e.g.
[code]

If it works fine, then there may be something wrong with **Rancher + Helm

[2021-01-05 10:01] shuo-wu commented on #2139
Longhorn will automatically re-attach the volume if it is detached/crashed unexpectedly. But Longhorn may be not able to do remount after the reattachment/recovery. As a result, **the mount point of the reattached volume** is still unavailable. There should be some related logs in the longhorn manager pod or related event, which indicate that some volume engine died unexpectedly

[2021-01-05 10:07] FCarvMobil commented on #2029
Sorry guys, a few PVCs still had the issue.
Tell me what you want me to do, to try something or to send you an updated support bundle.

The PVCs that failed.
pvc-8a815c0b-13a2-43e0-a433-3b22b3277344
pvc-f19d6fc3-d2b3-4e01-8aa8-a834626f3f34
pvc-f074f9f0-020d-40dc-8d94-7d9f670484ed - it was working then stopped
pvc-43da6f1c-29b5-4120-9d64-58778f8f3b20 - this PVC was created a week ago

Again, thanks

[2021-01-05 10:53] tetricky commented on #2151
The wasabi account user has two policy's attached. One is to restrict access to [bucket Name] and sub-directories. One is the longhorn policy (see below).

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "GrantLonghornBackupstoreAccess0",
      "Effect": "Allow",
      "Action": [
        "s3:PutObject",
        "s3:GetObject",
        "s3:ListBucket",
        "s3:DeleteObject"

[2021-01-05 11:00] shuo-wu commented on #2029
You mean this backup issue still? Can you generate the support bundle and send it to <longhorn-support-bundle@rancher.com>?

[2021-01-05 13:39] FCarvMobil commented on #2029
Yes, the same issue. I'm sending the support bundle right now.

[2021-01-05 13:47] justinrush commented on #1050
Has there been any progress on this or additional discussions? I'm interested in having a separate cluster to be the storage provider. My use case is to build a cheap storage array out of raspberry pis w/ SSDs strapped to them and mounted in the rack with [this 3d print](https://uplab.pro/2020/12/raspberry-pi-server-mark-iii/). Given that the PIs will be arm64 and k3s, I'd need them in a separate

[2021-01-05 14:05] dbpolito commented on #2144
@shuo-wu

Thank you for your answers, that makes sense... Last one i promise as it's yet not clear and i think it may be good for Knowledge Base for the project:

On the Longhorn UI everything is already pointing to the new managers, so how can i now which pods are still using the old one and holding it?

[2021-01-05 15:00] davidsbond commented on #2070
I'm seeing this log in my instance manager:

[code]

So I think what is happening is that the replica rebuild is timing out, then somewhere that should handle that gracefully ends up calling `proto.Marshal` with a `nil` message.

[2021-01-05 19:22] PhanLe1010 commented on #2150
@Angelinsky7

I believe that you are using Rancher with  `Cluster Explorer` UI  to install Longhorn. Is it correct? If so, the default repo `https://git.rancher.io/charts` on the `main` branch is the correct one. You should use this default one because it is fully tested with Rancher  `Cluster Explorer` UI.

The `Cluster Explorer` UI tracks the `main` branch of `https://git.rancher.io/charts` so i

[2021-01-05 19:34] PhanLe1010 commented on #2088
@Bwvolleyball

Can you check to make sure that you can access the `nfs-service` from a different pod in the cluster. e.g `ping` the `nfs-service` enpoint from a different pod in a different namespace. If you cannot ping the `nfs-service`, it is something wrong with the `nfs-service`. If you can ping the `nfs-service`, can you check the `Backup Target` setting in Longhorn UI. It should has a format

[2021-01-05 19:36] pulberg opened #2155 "[BUG] Docs search tool only partially working"
**Describe the bug**
Search docs for words that obviously exist, search shows no results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to docs, search for various words
2. See no results pulled up even though the words exist

**Expected behavior**
Search function shows correct results

![Screen Shot 2021-01-05 at 1 14 49 PM](https://user-images.githubusercontent.com/11069351/103690754-

[2021-01-05 19:59] PhanLe1010 commented on #2140
@davidsbond

I am not quite sure what you want to achieve here:
[code]
Is it correct that you want to know which version of `instance manager` goes with which version of Longhorn? If so, you can track that info by looking at the chart https://github.com/longhorn/longhorn/blob/57a454e9f635a7fe1a67317233a17b70f3359313/chart/values.yaml#L21

[code]
The master tag includes in-developing features that

[2021-01-05 23:37] yasker commented on #1050
Hi @justinrush

Unfortunately, we decided not to go ahead with the dedicated Longhorn cluster setup. The problem is, Longhorn cannot handle node failure unless the workload pod is on the same node, since Longhorn engines(controllers) are by design co-located with the workload pod and doesn't have HA by itself. In the hyperconverged deployment, Longhorn engines will be down along with the workload

[2021-01-06 00:20] PhanLe1010 commented on #2070
@davidsbond @docbobo
Can you take network connection in your cluster. Is it stable?

The `nil` message `ERROR: 2021/01/05 14:56:39 grpc: server failed to encode response:  rpc error: code = Internal desc = grpc: error while marshaling: proto: Marshal called with nil` doesn't seem to be the root cause to me though we should fix it. The `Timeout` error seems more relevant and related to a network is

[2021-01-06 01:18] yasker commented on #2070
@davidsbond @docbobo can you also post your environment information here?

**Environment:**
 - Longhorn version:
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version:
 - Node config
   - OS type and version:
   - CPU per node:
   - Memory per node:
   - Disk type(e.g. SSD/NVMe):
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, V

[2021-01-06 03:54] PhanLe1010 commented on #2125
@teknologista

1. For the workaround:

Yeah, they will imediately triggle a rebuild for the deleted replica but I think that after finishing rebuilding, the new replica should not spam `longhorn-manager` with the error messages.

Since I couldn't reproduce the issue, I cannot try it on on my setup. Can you make sure that all replicas on `node-20` are ok to delete and try to delete them? Then wait

[2021-01-06 11:03] davidsbond commented on #2070
Longhorn Version: 1.1.0
Kubernetes distro: K3s v1.20.0+k3s2
Node OS: Ubuntu 20.04.1 LTS aarch64
CPU per node: BCM2835 (4) @ 2.200GHz
Memory per node: 8GB
Disk Type: OS & K3s are running on SSD, Volume replicas are on a USB
Network bandwidth and latency between the nodes: Latency between 3ms and 16ms
Underlying Infrastructure: Baremetal, on raspberry pis
Volumes in total: 8

[2021-01-06 11:34] shuo-wu commented on #2029
Here are the problematic volumes I found in the new support bundle:

1. pvc-8a815c0b-13a2-43e0-a433-3b22b3277344
[code]
[code]
[code]

2. pvc-f19d6fc3-d2b3-4e01-8aa8-a834626f3f34
[code]
[code]

3. pvc-a70725b3-1fc9-4286-abe9-8904b036e6e5
[code]
[code]

4. pvc-e477eda9-eda7-4974-83e7-96d467fa6091
[code]
[code]

---

Since the log of all volumes above are similar. Let's focus on volume `pvc-8a815c0b

[2021-01-06 11:37] shuo-wu commented on #2029
And I just found there was a similar bug report: https://github.com/longhorn/longhorn/issues/2068

[2021-01-06 11:39] raelix commented on #828
Hi everyone, any updates on this? I still facing the same issue...

[2021-01-06 14:54] skandragon opened #2156 "[BUG] Newly installed 1.1.0 on Kubernetes and UI editing broken"
**Describe the bug**

I installed from Helm, and made no changes to the default settings.

When I go to the UI, I see a different experience than I expect.  For example, clicking on "save" for settings does nothing in any tab, although I can create volumes through the UI and delete them.  I can view as well.

I cannot initiate any backups, configure anything (nodes, resize a volume, etc) nor can I

[2021-01-06 17:23] davidsbond commented on #2140
I'll just keep an eye on the chart to know when that changes. Thanks for the replies!

[2021-01-06 17:23] #2140 closed

[2021-01-06 17:51] Angelinsky7 commented on #2150
@PhanLe1010 thanks for your answer.
Yes i use the Cluster Explorer (i don't really have a choice there, don't i...) and so i will wait for the v.1.1.0 to be updated by the rancher team.

[2021-01-06 17:51] #2150 closed

[2021-01-06 18:07] yasker commented on #2155
Thanks for @pulberg . We're working on a fix.

[2021-01-06 18:10] skandragon commented on #2156
BTW, if desired I can provide access to this cluster's longhorn UI.  Also, longhorn seems pretty amazing so far.

[2021-01-06 18:49] pulberg opened #2157 "[FEATURE] Allow use of existing private registry secret"
**Is your feature request related to a problem? Please describe.**
When using a private registry, the installation requires the private registry user/pass to be entered and the name of the secret that will be created.  I already have a cluster-wide (all namespaces) private registry secret, it doesn't make sense to have to create a new one for the Longhorn installation.

**Describe the solution you

[2021-01-06 19:41] joshimoo commented on #2111
Need to test arm images.

[2021-01-06 19:55] joshimoo commented on #2156
This seems to be an issue with Traefik (CORS), a previous issues has a workaround.
Can you try the workaround (middleware) mentioned here:
https://github.com/longhorn/longhorn/issues/1442#issuecomment-639761799

[2021-01-06 20:06] joshimoo commented on #2151
@tetricky can you try the below linked endpoint and url
https://github.com/longhorn/longhorn/issues/811#issuecomment-542058767

[code]
Also ensure that there are no new lines as part of the access key / secret
Which worked for the user in that thread.

There should not be an extra slash after `[Bucket Name]/`

[2021-01-06 20:13] PhanLe1010 commented on #2070
From the support bundle, there are 4 nodes in the cluster.

@davidsbond
It is likely that there is a problem with the connection between the nodes that contain theo existing replicas and the node that contains the new replica which is rebuilding. There are a few reasons that can cause this connection problem:
1. The network in the cluster is unstable
2. The CPU load on the worker nodes is high and

[2021-01-06 21:06] skandragon commented on #2156
This does seem to be a workaround, but I do feel it should not be necessary.  That said, I'll close this issue and let the other track the issue.

Thanks!

[2021-01-06 21:11] skandragon commented on #2156
I spoke too soon.  I am still having this problem with the work-around applied.  Some things work (triggering a backup, for instance) but editing configuration does not.

[2021-01-06 21:15] davidsbond commented on #2070
Yeah, looking through that resource requirement info, it seems like it's probably down to my network bandwidth, my Pis aren't set up currently to maximise their bandwidth where they're connected to my home network at the moment. Thanks for that information though, it'll help me in future. I'm planning on moving off Pis onto some proper hardware soon.

[2021-01-06 21:22] khushboo-rancher opened #2158 "[BUG] Test: recurring_job related tests are failing in nightly tests run."
**Describe the bug**
The below tests are failing in nightly test run.
1. tests.test_recurring_job.test_recurring_job[s3]
2. tests.test_recurring_job.test_recurring_job[nfs]
3. tests.test_recurring_job.test_recurring_job_in_volume_creation[s3]
4. tests.test_recurring_job.test_recurring_job_in_volume_creation[nfs]
5. tests.test_recurring_job.test_recurring_job_in_storageclass[nfs]
6. tests.test_recu

[2021-01-06 21:24] joshimoo commented on #2156
Can you restart your browser with the workaround applied and see what kind of logs you are getting, same as before?

[2021-01-06 21:26] skandragon commented on #2156
Yep, did that.  In fact, used another computer.  :)

[2021-01-06 21:36] tetricky commented on #2151
By way of research (and to see how each change affected the error reporting). I first just changed the backup target. "longhorn" is a folder in my bucket - which is  called [bucketname]. I first tried changing just the backup target, using the cuket name.

s3://[Bucket Name]@eu-central-1/

error listing backups: error listing backup volumes: Failed to execute: /var/lib/longhorn/engine-binaries/lon

[2021-01-06 21:46] yasker commented on #2130
Before this feature is available, the alternative is:
1. We reserve 1/8 of CPU for each instance manager, so for every node, we will reserve a quarter of CPU by default. It can be overridden by user.
2. We calculate how many engine/replicas can be allowed to run on the node. And if user exceeds the limit, we should warn user about the potentially over utilization and the possibility of result in u

[2021-01-06 21:59] yasker commented on #2155
cc @jrcreative

[2021-01-06 22:05] yasker opened #2159 "task: improve the automation framework to test different distros with one click"
We need to make sure Longhorn works with latest K3S, K3OS, RKE, RKE2, Latest Kubernetes release etc, and different node OS e.g. Ubuntu, RHEL 7/8 (maybe with SELinux on or off), SLES 15.

The test can be triggered when a new e.g. k3s version released, or we've cut a RC for a Longhorn release.

[2021-01-07 00:14] BayanAzima commented on #2045
I've since decided to use nfs subpath provisioner for these problem nodes. The product is great and works well with other nodes I have. I will close this issue.

[2021-01-07 00:14] #2045 closed

[2021-01-07 02:24] PhanLe1010 commented on #1895
There are 2 problems in this issue:
1. Error when starting SnapshotPurge is not reported back to Longhorn manager
2. How do we handle the situation when we detect a bad replica while doing SnapshotPurge?

The problem #1 is fixed by https://github.com/longhorn/longhorn-engine/pull/556
The problem #2 is part of a bigger problem: how do we monitor/handle the situation where the files in some replicas

[2021-01-07 04:34] shuo-wu commented on #2029
Can you provide the environment/config of your cluster? The CPU limitation or the disk performance may cause an unexpected delay of the snapshotting, too. Since there are 37 volumes running in your cluster, the CPU resource/disk performance may be exhausted during the snapshotting.

Here is the checklist of the environment:

**Environment:**
 - Longhorn version:
 - Kubernetes distro (e.g. RKE/K3s/

[2021-01-07 06:04] shuo-wu commented on #1895
I think the case here is similar to what we encountered in the restore part. I can take a look first: There may be errors before the restore start (failed to execute the cmd) or during the restoring progress. For the error returned by the cmd, Longhorn manager will [record it in the status by itself](https://github.com/longhorn/longhorn-manager/blob/73b66414ce281a91658d2b120a1933dd84ad99cb/control

[2021-01-07 08:43] joshimoo commented on #2156
What error are you getting when trying to change settings?
javascript console error?
loghorn ui log error?

[2021-01-07 09:57] smallteeths commented on #2059
I think it would be better to return an error message after the deatch request. @yasker @joshimoo

[2021-01-07 12:06] joshimoo commented on #2059
@smallteeths if I understand the pr correctly you are disabling the detach button and adding a tooltip that will be showed while browsing to the button? I think that's a good approach since it doesn't make sense to detach an active in use volume :)

[2021-01-07 13:50] FCarvMobil commented on #2029
Sure!

This cluster suffers from restrictions by the way the customer run its IT resources. This is pretty much why the cluster is currently not 100% symmetrical on nodes and resources - but it is a story for another thread.
Has been a fight between us and the users over the IT area, restrictions on architecture and services (like the proxy thing), and obviously budgets.

Thanks again, best regard

[2021-01-07 14:31] Wykiki commented on #1903
Is there a way to manually fix this on existing CronJob ? Like, putting the right tolerations ?
I tried to edit the failing CronJob manually (adding tolerations), but they seem to immediately get overriden by Longhorn.

[2021-01-07 15:20] joshimoo commented on #1903
@Wykiki are you having this issue on v1.1? The longhorn-manager would end up overriding your custom cronjob definition.

[2021-01-07 16:21] skandragon commented on #2156
The CORS error reported above.

[2021-01-07 16:37] joshimoo commented on #2156
@smallteeths Any idea on this, the middleware posted in the other thread seemed to work as a workaround before?

[2021-01-07 18:33] PhanLe1010 commented on #1895
Thanks @shuo-wu for the suggestion

Regarding to the error during the snapshot purge progress, it might the case that the replica fail to delete a snapshot because a transient error. Marking replica faulty has a big cost and not every snapshot purge error is critical and require marking the replica as faulty. Therefore, I am thinking we should design an error/response codes as mentioned in https:/

[2021-01-07 20:28] tetricky commented on #2151
In the hope that it may assist.  I had a look at connecting from the same server (but not k8s - or in my case k3s) using rclone.

With a test file of "k3os-amd64.iso", in folder "longhorn" in bucket [BucketName]

[ws-server]
type = s3
provider = Wasabi
access_key_id = account_key
secret_access_key = account_secret
region = eu-central-1
endpoint = s3.eu-central-1.wasabisys.com
env_auth = false

rcl

[2021-01-07 22:22] skandragon commented on #2156
To be sure I've applied it correctly, here is the configuration I have in place:

[code]

[2021-01-07 23:45] PhanLe1010 commented on #2125
@teknologista
After checking the support bundle we see that there are multiple nodes that have disks with the same DiskUuid (e.g `444ee229-c78d-4519-85c3-542e42cbe171`). This leads to the problem in this issue. Did you mount the same disk to multiple nodes or did you move the same disk around?

[2021-01-08 02:44] virus2016 opened #2160 "[BUG] Postgres crashed, recovery unsuccessful"
Hi @yasker!

I have an issue with Postgres and a the volume attached via longhorn. I noticed in rancher it has this random error:

`RunContainerError: failed to start container "35a3f58a67abfd9d8c1257595e8bb15cfa6caecf58fa295d32f5f0fd72e6bc72": Error response from daemon: error while creating mount source path '/var/lib/kubelet/pods/f33fd55b-b842-4ee4-aaa3-1d286d2e37ef/volumes/kubernetes.io~csi/pv

[2021-01-08 06:28] PhanLe1010 commented on #1895
**Reproduce Steps:**
1. Create a volume of 3 replicas. Attach to a pod.
2. Take a snapshot. Delete a replica. Wait for the rebuild to finish. Take an other snapshot. The end result should look like:
   <img width="843" alt="Screen Shot 2021-01-06 at 2 41 32 PM" src="https://user-images.githubusercontent.com/22139961/103981641-10b0b780-5137-11eb-87ed-6882bc410c97.png">
3. ssh into a node, reside th

[2021-01-08 06:51] shuo-wu commented on #2121
OK. I can reproduce this issue now. Here is the Reproducing step:
1. Deploy Longhorn via Rancher UI - Cluster Manager
  - Set version to `1.0.2`
  - Select `Default Image: False`
  - Select `Customize Default Settings: True` and Change`Default Longhorn Static StorageClass Name: longhorn`
2. Wait for deployment success then upgrade to v1.1.0. The error reported above will be shown.
  - Set version

[2021-01-08 08:06] teknologista commented on #2125
@PhanLe1010  No didn't move around or share the disks but as we use a snapshot to create new Kubernetes Nodes, some share the save UUID for disk /dev/vda1 indeed.

This was not an issue on Longhorn 1.0.2.

What can we do about this ?

Many thanks.

[2021-01-08 08:14] PhanLe1010 commented on #2125
@teknologista

Okay. We understand the root cause now.

It is a problem in Longhorn 1.1.0 only because Longhorn 1.1.0 supports disk migration to new node. So, Longhorn 1.1.0 depends on the uniqueness of disk's uuid to identify the disk.

Since it is late in my time, I will discuss with you the workaround tomorrow.

[2021-01-08 08:30] teknologista commented on #2125
@PhanLe1010

Brilliant! many thanks!

[2021-01-08 09:29] joshimoo commented on #2160
@virus2016 thank you for the support bundle, it looks like your system ran out of resources, particularly threads
(pthread_create failed: Resource temporarily unavailable)

There are also some io errors and a high number of snapshot syncs, the tread exhausting could potentially be caused by longhorn leaking go routines, but also any other activity on the node. Can you attach a dmesg of the two nod

[2021-01-08 10:13] shuo-wu opened #2161 "[FEATURE]Add more debug logs for snapshotting"
**Is your feature request related to a problem? Please describe.**
In order to check the issues like snapshotting timeout, e.g. #2029, we need to add debug logs to detect how long the sync function and the actual replica snapshotting will take.

[2021-01-08 10:37] shuo-wu commented on #2029
1. Great, the nodes in your cluster are pretty powerful. Notice that the memory size is pretty big, and typically the cache/buffer size (that will used in the volume i/o) is propotionate to the total memory size, I am not sure what the buffer/cache size is. Maybe you can check and tune it to avoid the potential long sync period.
2. Just in case, can you use `fio` or `dd` to do a simple benchmark f

[2021-01-08 11:18] ajjo-tech commented on #2146
Hi,
Here's the details of the environment:
Kubernetes distro RKE and version 1.19.4:
Node config

    OS type and version: Ubuntu 20.04.1 LTS
    CPU per node: 8Cores
    Memory per node: 16GB for Master and 32GB for Workers
    Disk type(e.g. SSD/NVMe): SSD
    Network bandwidth and latency between the nodes:

Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): VMWare.

R

[2021-01-08 12:29] huang12zheng opened #2162 "[BUG] Getting a error(timeout) when deleting helm longhorn."
**Describe the bug**
Getting a error(timeout) when deleting helm longhorn.

**To Reproduce**
Steps to reproduce the behavior:

1. helmfile apply
2. helmfile destroy
3. helmfile apply

**Expected behavior**
* step 2
delete success
* step 3
can apply success

**Log**
step 2 log:
[code]

step3
[code]

**Environment:**
 - Longhorn version:
1.1.0
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and ve

[2021-01-08 12:31] smallteeths commented on #2156
![Jietu20210108-201258](https://user-images.githubusercontent.com/27733391/104014598-42d12080-51ee-11eb-8db8-b2283e363bb9.jpg)
![Jietu20210108-113540](https://user-images.githubusercontent.com/27733391/104014610-4bc1f200-51ee-11eb-90c8-c632fa33e618.jpg)

I tested it and it works @joshimoo .
I am not sure if this error is related to the middleware `frontend-auth` you configured @skandragon

[2021-01-08 12:33] huang12zheng commented on #2162
addition
[code]

[code]

[2021-01-08 12:48] huang12zheng commented on #2162
log in job
[code]

[2021-01-08 12:53] itscaro opened #2163 "[QUESTION] csi aborted error when volume detach/attach"
**Describe the bug**
PV cannot be attached to pods

**To Reproduce**
Steps to reproduce the behavior:
1. Install longhorn via App catalogs
2. Create postgresql with pvc

**Expected behavior**
PV created and attached to pod so that pod can start up

**Log**
[code]

You can also attach a *Support Bundle* here. You can generate a Support Bundle using the link at the footer of the Longhorn UI.

**Envi

[2021-01-08 13:58] joshimoo commented on #2162
cc @shuo-wu @meldafrawi can you have a look, I don't know anything about the helm stuff :)

[2021-01-08 14:01] joshimoo commented on #2163
aborted is the code that the csi plugin send when an operation is in progress (intermediate error), this will lead to kubernetes retrying the call, so nothing unusually here as long as the volume eventually attaches/detaches correctly.
In this case it looks like the volume was detaching and attaching when requested.

@itscaro Does the volume correctly attach/detach eventually?

[2021-01-08 14:17] antonum opened #2164 "[Question] backup/snapshot hooks"
How do I configure Longhorn backup so it executes some bash scripts in the pod before and after snapshot/backup is taken?

Something similar to [Velero's backup hooks](https://velero.io/docs/v1.5/backup-hooks/#specifying-hooks-as-pod-annotations).

[code]

**Environment:**
 - Longhorn version: 1.1
 - Kubernetes version: 1.18.10

**Additional context**
An application running in k8s needs to be back

[2021-01-08 14:46] joshimoo commented on #2164
Thanks for opening this issue. At the moment we don't have that implemented, it is something we are looking into as part of https://github.com/longhorn/longhorn/issues/2128

[2021-01-08 14:59] virus2016 commented on #2160
@joshimoo Thank you for coming back to me so quickly!

Where do you want me to run the dmesg? On the pod or on the node? We use digitalocean kubernetes management so I can't see how to login the nodes directly.

We were only using 2x 4vcpu 8gb 160gb running kubernetes 1.19.3-do.0. I've added another couple of nodes to see how that goes.

Do you think limits of cpu and memory should be set for all

[2021-01-08 17:05] amir-hg opened #2165 "[Question] What do you suggest for storages that used by kafka"
**Question**
Hi
I have a system that stores temporary files on storages (kafka) and i could verify that in file system at max is around 500MB
I have 2GB storage in longhorn.
The problem is the actual size is around 4GB. I see that 2GB is the generated system snapshot and marked for removing (but still there even after i create new snapshot)

I did read about actual size ans block storage in docume

[2021-01-08 17:11] duckfullstop opened #2166 "[BUG] Longhorn does not launch on systems with a non-standard path"
**Describe the bug**
Linux distributions such as NixOS use a very non-standard path (e.g `/run/wrappers/bin:/root/.nix-profile/bin:/etc/profiles/per-user/root/bin:/nix/var/nix/profiles/default/bin:/run/current-system/sw/bi`) - in NixOS's case, this is to allow for use of the Nix package manager.

On these systems, because Longhorn uses nsenter to enter the host namespace, and nsenter uses the path

[2021-01-08 18:33] PhanLe1010 commented on #2131
@joshimoo

https://github.com/kubernetes/kubernetes/blob/af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38/pkg/apis/storage/fuzzer/fuzzer.go#L43
So in the case where the feature gate is enabled and the driver object exists as well as not having defined a .Spec.FSGroupPolicy setting, we will trigger this error:
https://github.com/kubernetes/kubernetes/blob/af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38/pkg/volume

[2021-01-08 20:04] PhanLe1010 opened #2167 "Bug in the test test_csi_expansion_with_replica_failure"
The test [test_csi_expansion_with_replica_failure](https://github.com/longhorn/longhorn-tests/blob/4e0f1c790f09b868f8cf0ed9af66f2c0e3c11928/manager/integration/tests/test_csi.py#L464) is expecting Longhorn to reuse failed replica at [here](https://github.com/longhorn/longhorn-tests/blob/4e0f1c790f09b868f8cf0ed9af66f2c0e3c11928/manager/integration/tests/test_csi.py#L531). However, The test doesn't

[2021-01-08 20:16] khushboo-rancher commented on #2059
With Longhorn-ui `image: wangsiye/longhorn-ui:fdfce44`, the button is disabled for `rwx` volume and the tooltip is available.

Looks good to me.

<img width="1762" alt="Screen Shot 2021-01-08 at 12 13 55 PM" src="https://user-images.githubusercontent.com/60111667/104060019-219b1080-51ab-11eb-9b53-2ab93733e8e4.png">

[2021-01-08 20:17] mikeccuk2005 opened #2168 "[QUESTION] Slow mount time on very large volumes"
Slow mount time on very large disks

I have gitlab pods that are very large:
minio - 946Gi/1.4Tb ( takes around 30 mins to mount )
gitaly - 25.2Gi/500Gi ( takes around 15 mins to mount )

I later disable replication due to very long rebuild time, which keeps rebuilding every hour that never finishes.
The errors goes like this:
[code]

---

Environment:
ubuntu 18.04 LTS
k3s **1.19.4**

1 master 1 s

[2021-01-08 21:01] joshimoo commented on #2168
@mikeccuk2005 I am guessing this has to do with kubernetes doing a chown on the filesystem, is your workload using a security context and running as non root?
https://kubernetes.io/blog/2020/12/14/kubernetes-release-1.20-fsgroupchangepolicy-fsgrouppolicy/
https://github.com/kubernetes/kubernetes/issues/69699

related #2131

[2021-01-08 22:40] PhanLe1010 commented on #1895
**Test steps for Error when starting SnapshotPurge**
1. Create a volume. Attach it to a pod. Write 500MB to the volume
2. Take 2 snapshots.
2. Delete a replica to trigger replica rebuilding
3. While the rebuilding is happening, delete a snapshot to trigger SnapshotPurge.
4. Verify that Longhorn manager reporting error similar to this format `Failed to purge snapshots: REPLICA_ADDRESS: cannot purge

[2021-01-08 23:06] antonum commented on #2164
Thanks, @joshimoo !

In a meantime, I suppose I can orchestrate it myself by something like:

[code]
Correct? If so - what would be the marker to check for in '#wait for snapshot to start'? It needs to make sure that the snapshot is capturing the state after the freeze and before the thaw. Not for the completion or availability at S3.

[2021-01-09 01:11] PhanLe1010 commented on #2125
@teknologista

These are the steps I have tested.

**Prepare:**
1. In the Longhorn UI node page, Disable scheduling on problematic nodes (node-2 and node-3 in the below video). After doing this step, you should have something like this:

https://user-images.githubusercontent.com/22139961/104077323-1e654c00-51ce-11eb-865f-c79160d65a92.mov

2. Make sure that all the volumes that have a replica on pr

[2021-01-09 01:22] PhanLe1010 commented on #2157
Sure! That makes sense.

[2021-01-09 03:57] mikeccuk2005 commented on #2168
On my minio pod I found my SecurityContext as:
[code]

[2021-01-09 12:25] mikeccuk2005 commented on #2168
Update:
I update my k3s to 1.20.0 and added
`fsGroupChangePolicy: "OnRootMismatch"`
The volume mounted less than a few minutes, very useful for statefulsets.
I wonder if this option can be made default? Since most the volume don't have use case that use different owners or application

[2021-01-09 13:57] #1941 closed

[2021-01-09 17:41] taxilian commented on #265
This is apparently "so simple it's obvious" -- but it's not at all obvious to me. I see an option in the UI to attach to a host, but after attaching I can't see how to access it; I imagine I'll figure it out but it'd sure be neat if there were, say, a simple page in the documentation that would come up when searching for "attach longhorn volume to host" on google...

[2021-01-09 20:50] tabnul opened #2169 "[FEATURE] Changing Node and Disk selector tags on volumes"
I would like to change disk and node tags on volumes that are already created (in my case they have no tags at all and i want them to be placed on correct nodes.
Would be nice to have this as a feature in the GUI.

Are there workarounds to set the tags? Maybe through kubernetes properties?

[2021-01-10 12:58] tetricky commented on #2151
I am increasingly of the view that what I am seeing is a level of problem with networking, on my stack (may not have anything to do with longhorn specifically).

I am rebuilding it, and will report from there.  I would advise nobody to invest time or effort into this issue.

[2021-01-10 12:58] #2151 closed

[2021-01-10 15:42] huang12zheng opened #2170 "[QUESTION] RWX volume fails to attach to a pod on ubuntu"
**Describe the bug**
RWX volume fails to attach to a pod on ubuntu

maybe like https://github.com/longhorn/longhorn/issues/2093
but I really install nfs-common

[code]
**To Reproduce**
Steps to reproduce the behavior:
* PVC, attached to  a pod (traefik),with RWX using longhorn storage class.

[code]
[code]

**Log**
If applicable, add the Longhorn managers' log when the issue happens.

You can also

[2021-01-10 20:17] Wykiki commented on #1903
I have the issue on :
- Longhorn v1.0.2
- Kubernetes v1.14
Not possible to test on Longhorn v1.1 yet

[2021-01-10 20:24] PhanLe1010 commented on #1903
@Wykiki

Unfortunately, you cannot manually  add tolerations to cronjob since manager will override it. There only 1 option in this problem that is delete the cronjob by the step mentioned in https://github.com/longhorn/longhorn/issues/1903#issuecomment-717636744

Longhorn 1.1.0 require Kubernetes 1.16 or above. So, you would need to upgrade Kubernetes first

[2021-01-11 03:44] shuo-wu commented on #2162
Notice that the **namespace** you are using is not **`longhorn-system`**. Right now Longhorn can not work correctly if it's installed in other namespaces.

The way to uninstall longhorn in this case:
[code]

[2021-01-11 06:57] innobead commented on #2105
@c3y1huang please help with this. Thanks.

[2021-01-11 06:59] innobead commented on #2128
@jenting Please help with this. Thanks.

[2021-01-11 06:59] innobead commented on #2129
@jenting Please help with this. Thanks.

[2021-01-11 07:34] huang12zheng commented on #2162
if I set namespace: longhorn-system, it work well.
Thank you very much @shuo-wu, @joshimoo
Namespace should also be customizable or documented. That's all I want to say
If there is a response, I will close this issue

[2021-01-11 16:23] joshimoo commented on #265
@taxilian please feel free to open a new question issue with all your details and we will try to help.

[2021-01-11 16:24] joshimoo commented on #1789
@g574 @obeyler is this issue still relevant?

[2021-01-11 16:26] joshimoo commented on #1966
@jdunhamvrtx on detecting an engine failure, we now kill the workload pods which will lead to kubernetes restarting the pods (reattach & remount)

[2021-01-11 16:27] joshimoo commented on #2151
@tetricky thanks for letting us know, please feel free to open another issue if you are still having problems down the line.

[2021-01-11 16:32] joshimoo commented on #2170
@huang12zheng can you run the below command on the host?
`/bin/mount -t nfs -o vers=4.1,noresvport,soft,sync,intr,timeo=7,retrans=3 172.16.253.0:/pvc-d97abca5-0034-403d-a619-e27dc44dca18 \tmp\nfs-mount`

[2021-01-11 16:36] joshimoo commented on #2162
@huang12zheng the hardcoded namespace is something we are aware of, feel free to open a tracking issue for that :)

[2021-01-11 16:36] #2162 closed

[2021-01-11 17:12] jdunhamvrtx commented on #1966
@joshimoo : Do you know which version will have this new behavior (sounds great).

[2021-01-11 17:34] joshimoo commented on #1966
@jdunhamvrtx we implemented this feature in v1.1 and it's enabled by default
https://longhorn.io/docs/1.1.0/references/settings/#automatically-delete-workload-pod-when-the-volume-is-detached-unexpectedly

[2021-01-11 18:24] ikaruswill opened #2171 "[BUG] longhorn-driver-deployer fails to delete longhorn-csi-plugin DaemonSet due to Pods stuck in Terminating state on down nodes"
**Describe the bug**
I had nodes that are permanently down (Powered off but not deleted) in my k8s cluster, with `longhorn-csi-plugin` DaemonSet pods in `Running`' state. Let's call this set of nodes as `permanently offline but not deleted`. Other than those nodes, there are another set of nodes that are actively running workloads and among them are the longhorn storage nodes, let's call these nod

[2021-01-11 18:34] khushboo-rancher commented on #2142
Verified with the Longhorn-UI  `image: wangsiye/longhorn-ui:fdfce44`

The design is as follows
1. The node/volume/backup page will have the option to change the page number at the bottom to one of the `10, 30, 50, 100` rows per page.
2. Changing rows per page in any page reflects the same rows in all the page.

<img width="1535" alt="Screen Shot 2021-01-08 at 11 56 48 AM" src="https://user-images.

[2021-01-11 19:23] khushboo-rancher commented on #2059
Validate with Longhorn Master - `01/11/2021`

Validation - **Pass**

The detach button is disabled for `rwx` volume and there is a tool tip to show the error message.

[2021-01-11 19:23] #2059 closed

[2021-01-11 19:25] yasker commented on #458
Close this issue since ARM64 support has been added in #6.

[2021-01-11 19:25] #458 closed

[2021-01-11 22:48] yasker commented on #2153
Add `urgent` tag due to inconsistency between the product and documentation.

[2021-01-12 00:10] khushboo-rancher commented on #1741
Validated with https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/iscsi/longhorn-iscsi-installation.yaml .

Validation - **Pass**

Verified the yaml file with EKS cluster and OS Linux2(aws), ubuntu, SLES15 SP1, it daemon set successfully deployed the iscsi-util.

[2021-01-12 00:33] khushboo-rancher commented on #2158
Tests `test_recurring_job.test_recurring_job` and `test_recurring_job.test_recurring_jobs_for_detached_volume` failed in recent nightly test run. https://ci.longhorn.io/job/public/job/longhorn-tests-arm64/64/#showFailuresLink

[2021-01-12 01:56] gknepper commented on #828
@raelix I think because RancherOS it's in EOL, people are looking for other options.

[2021-01-12 02:11] c3y1huang commented on #2105
Hi @abonillabeeche I've got no luck trying to reproduce this.

[code]

If you could run `kubectl -l app=longhorn-environment-check describe pod` while the check script is failing might give us better hint on the issue.

[2021-01-12 04:01] shuo-wu commented on #2166
Feel free to submit a PR for it. It will be great if Longhorn can work with NixOS
For the nsenter path modification, you can make this hard code path configurable, then you can simply modify the YAML files to make Longhorn fit NixOS. And besides the line (csi/nfs) you mentioned in the post, I think you may also need to modify [repo `longhorn/go-iscsi-helper`](https://github.com/longhorn/go-iscsi-h

[2021-01-12 05:13] #1956 closed

[2021-01-12 05:13] #1949 closed

[2021-01-12 05:46] shuo-wu commented on #2169
Thank you for pointing this out. We will provide options in UI to allow users to edit volume selectors in the futher. Current you can directly add node/disk selectors via `kubectl edit`:
[code]

After editing tags/selectors, the existing volume replicas that don't satisfy the latest tags won't be evicted automatically. To make all replicas satisfy the latest tags, you need to manually migrate the

[2021-01-12 08:33] shuo-wu commented on #1918
The bug in `test_csi_expansion_with_replica_failure` is tracked and fixed in https://github.com/longhorn/longhorn/issues/2167

We can close this issue if there is no other failure triggered by the above test cases.

[2021-01-12 09:32] AlexMikhalev commented on #458
@yasker thank you.

[2021-01-12 14:24] huang12zheng commented on #2170
[code]

[2021-01-12 15:18] vassilvk commented on #2136
Is there a workaround for this issue?

[2021-01-12 15:26] dhoard commented on #2136
I reverted the change and built my own container. https://hub.docker.com/r/dhoard/longhorn-ui

Until it's released, I suspect that's the only option.

[2021-01-12 16:11] duckfullstop commented on #2166
I'll happily take a look into putting some PRs together! Should have some time to delve it at the end of this week, otherwise hopefully next week.

[2021-01-12 16:45] yasker commented on #1695
Need to do automated deployment as well.

[2021-01-12 19:09] yasker commented on #2136
@vassilvk @dhoard

We've deployed a new patched `longhornio/longhorn-ui:v1.1.0` outside of the normal release process. Can you try again? Also make sure you've pulled down the new image for `longhornio/longhorn-ui:v1.1.0` (e.g. set the image pull policy to always).

[2021-01-12 19:31] dhoard commented on #2136
@yasker New version works for me. Thanks!

[2021-01-12 20:02] joshimoo commented on #2170
Does the below mount command work?
`sudo /bin/mount -t nfs -o vers=4.1 172.16.255.192:/pvc-d682e4d7-9c70-4c51-9347-f0bd0cb2f943 \tmp\nfs-mount`

This uses the default mount options, if the above does not work, then nfs4 is not available on the node.

[2021-01-12 22:20] vassilvk commented on #2136
@yasker
Beautiful 😄
Works as expected now - thanks for the quick response!

[2021-01-12 22:47] khushboo-rancher commented on #2154
Validated with Longhorn master `01/12/2020`

Validation - **Pass**

Validated creation of PV with a storage class with and without parameters.

[2021-01-12 22:47] #2154 closed

[2021-01-12 23:07] khushboo-rancher commented on #2114
The updated NFS example is updated and available at https://github.com/longhorn/longhorn-manager/tree/master/examples/rwx on master branch.

Validated by deploying to it a cluster, worked fine.

[2021-01-12 23:07] #2114 closed

[2021-01-13 00:37] huang12zheng commented on #2170
[code]
[code]

[2021-01-13 00:45] joshimoo commented on #2170
if you try to mount in nfs3 it will not work, but the command would be the below, withhout the -o
`sudo /bin/mount -t nfs -o 172.16.255.192:/pvc-d682e4d7-9c70-4c51-9347-f0bd0cb2f943 /tmp/nfs-mount`

[2021-01-13 02:32] nikkelma opened #2174 "[BUG] UI fails to deploy when only IPv4 is enabled on nodes"
**Describe the bug**
Longhorn UI does not come up healthy when cluster nodes only support IPv4

**To Reproduce**
Steps to reproduce the behavior:
1. Disable IPv6 on nodes
2. Build RKE cluster
3. Install Longhorn 1.1.0
4. See error `Address family not supported by protocol` in `longhorn-ui` deployment

**Expected behavior**
Longhorn UI comes up successfully.

**Log**

**Environment:**
 - Longhorn v

[2021-01-13 02:45] nikkelma commented on #2174
Known workaround exists - providing in edit to this comment

[2021-01-13 03:22] PhanLe1010 commented on #2038
@Wykiki

In the meantime, you can use the extension https://darkreader.org/ to "turn on"  Longhorn's dark mode :)
<img width="1412" alt="Screen Shot 2021-01-12 at 7 21 57 PM" src="https://user-images.githubusercontent.com/22139961/104402583-78864a00-550b-11eb-97c3-97af609e2d2a.png">

[2021-01-13 04:43] yasker commented on #2143
Longhorn doesn't support RDMA.

RDMA requires hardware support which is outside of Longhorn scope at the moment.

[2021-01-13 04:58] PhanLe1010 commented on #2165
Hi @amir-hg

The size of the filesystem reflects the space occupied by existing files. The actual size of the Longhorn block device reflects the space occupied by all blocks that were ever written to the Longhorn volume. For example, you create a filesystem on top of a Longhorn block device. you create 2 files in the filesystem: file1 of size 0.5GM, and file2 of size 1.5GB. Now the size of the fil

[2021-01-13 05:06] FlexibleToast opened #2175 "[FEATURE] Provide multiarch image for longhorn-ui"
**Is your feature request related to a problem? Please describe.**
When deploying Longhorn on arm64 everything deploys without issue with the exception of longhorn-ui. I edited the deployment to change the container image to be longhornio/longhorn-ui:v1.1.0-arm64 and it deployed just fine.

**Describe the solution you'd like**
If a multiarch image is provided it will "just work"

**Describe altern

[2021-01-13 05:22] PhanLe1010 commented on #2171
@ikaruswill

There are 2 problems you mentioned in this issue.

There is current a [bug](https://github.com/longhorn/longhorn/issues/2062) in Kubernetes v1.19+ versions that breaks Longhorn's `Pod Deletion Policy When Node is Down` feature. We are hoping K8s team to fix it soon. Btw, did you deploy workload using a deployment or statefulset? Did you turn on the feature `Pod Deletion Policy When No

[2021-01-13 05:25] PhanLe1010 commented on #2168
Thanks @mikeccuk2005
I will investigate the option together with the issue https://github.com/longhorn/longhorn/issues/2131

[2021-01-13 06:08] nsmith5 opened #2176 "[Question] Different sizes reported for PVC"
**Question**

I've found a curious discrepancy in sizes reported for a longhorn PVC. I've likely missed something obvious so I've posted as a question, but I'm happy to change this as a bug report if I haven't made a mistake

I have a PVC in longhorn:

[code]

The storage class is replication factor 3 and sits on some spinning disk hard drives (hence the storage class name). The longhorn UI report

[2021-01-13 07:32] huang12zheng commented on #2170
[code]
[code]
 TKE  is "tencent kubernetes engine"
[code]
Runtime: 	containerd
Service CIDR   172.16.252.0/22
Kube-proxy: 	iptables
Number of nodes  1
Network mode   cni

It is Standard managed cluster in TKE,  which means I don't know the information on Master&ETCD

[2021-01-13 08:29] snirkatriel opened #2177 "[Question] Longhorn HA SLA with RWO implementation"
Longhorn HA SLA with RWO implementation

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: v1.17.9
 - Node config
   - OS type and version: Ubuntu
   - CPU per node: 8
   - Memory per node: 64
   - Disk type: SSD
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): AWS ec2 t2.xlarge

Hey,
I'm working

[2021-01-13 08:32] snirkatriel opened #2178 "[Question] Longhorn HA SLA with RWO implementation"
Longhorn HA SLA with RWO implementation

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: v1.17.9
 - Node config
   - OS type and version: Ubuntu
   - CPU per node: 8
   - Memory per node: 64
   - Disk type: SSD
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): AWS ec2 t2.xlarge

Hey,
I'm working

[2021-01-13 08:32] PhanLe1010 commented on #2176
@nsmith5

1. It is not recommended to use Longhorn with spinning disks. You should use SSD instead. It might cause IO timeout and constantly rebuilding which degrade Longhorn system.

2. There are 2 different sizes concept here:
   * The size of Longhorn block device:

   * The size of filesystem on top of Longhorn block device:

   The size of the filesystem reflects the space occupied by existin

[2021-01-13 08:35] KobiAnyVision commented on #2178
Same here

[2021-01-13 08:41] PhanLe1010 commented on #2177
Seems to be a duplication of https://github.com/longhorn/longhorn/issues/2178

[2021-01-13 08:42] #2177 closed

[2021-01-13 09:12] shuo-wu commented on #1500
@DarianAnjuhal Here is the doc about troubleshooting this issue, you can take a look first:
https://longhorn.io/kb/troubleshooting-volume-readonly-or-io-error/

[2021-01-13 09:52] ikaruswill commented on #2171
Weird. I wasn't upgrading the cluster. There was just merely some downtime on storage nodes, not all at once but consecutively with a few minutes in between storage node outages. Would reapplying the longhorn yamls cause this? As the cluster is running fluxcd/flux which applies all manifests every few minutes. It has worked uneventfully for nearly a month so I doubt that's the cause.

About the fo

[2021-01-13 10:03] tabnul commented on #2169
Great, this workaround worked.

I will submit a seperate issue , because i had major issues after chaning the storage class affinity without adjusting the related disks.

[2021-01-13 10:16] tabnul opened #2179 "[BUG] Problems with volumes after changing storage class affinity settings"
**Describe the bug**
Last night, 02:00 all the sudden 50% of my volumes went to the ' failed ' state.
Nothing is scheduled at that moment, strangely.
This has been an indirect result of changing the node and disk affinity in the storage classes. (recreated the storage classes) without touching the volumes.
Note: storage class was changed a few days ago! No clue why this night the volumes went fail

[2021-01-13 13:20] riazarbi commented on #1554
Since I opened this issue, I'm just going to close the loop. This does indeed work on 1.1.0. However, on k3s `v1.18.8+k3s1` I had to use the following yaml -

[code]

Many thanks to everyone who worked on this, it is really appreciated.

[2021-01-13 13:20] #1554 closed

[2021-01-13 13:28] dgiebert opened #2180 "[Question] RWX CSI volume path not created"
**Question**

Very glad to see Longhorn adding RWX Volumes in v1.1.0 !
While trying to setup an RWX Volume and attaching it to a Pod the following things happen:
1. `share-manager-pvc-19de584c-bb96-4de7-9f4c-77c571208a72` is created
2. Volume is marked as healthy and ready by Kubernetes `AttachVolume.Attach succeeded`

The next step of mounting the volume on the host fails with:
[code]
Verified an

[2021-01-13 15:59] joshimoo commented on #2180
Is `/bin/mount` and `/bin/mount.nfs` available on the node?

[2021-01-13 16:03] dgiebert commented on #2180
`/bin/mount.nfs` does not exist

[code]

[2021-01-13 16:45] nikkelma commented on #2174
Known workaround provided above, and as mentioned a fix has been put into the UI already. Closing as this was created mainly for future reference.

[2021-01-13 16:45] #2174 closed

[2021-01-13 17:58] joshimoo commented on #2179
@tabnul Can you attach a support bundle or submit one with reference to this issue to `longhorn-support-bundle@rancher.com`

[2021-01-13 19:17] tabnul commented on #2179
Just sent it via mail.

[2021-01-13 20:04] yasker commented on #2175
@FlexibleToast `longhornio/longhorn-ui:v1.1.0` should work for ARM64 now. Can you retry? Remember to set image pull policy to always.

[2021-01-13 20:05] yasker commented on #2174
The retagged `longhornio/longhorn-ui:v1.1.0` should have the fix now.

[2021-01-13 20:21] FlexibleToast commented on #2175
I changed the image back to longhornio/longhorn-ui:v1.1.0 and changed the image pull policy. I can confirm it is working my arm64 cluster.

[2021-01-13 20:46] kcao3 opened #2181 "[Question] Expand a RWX volume"
**Question**
Does anyone know if it's currently possible to expand a RWX volume?  I followed the documentation from this link: https://longhorn.io/docs/1.1.0/volumes-and-nodes/expansion/ and attempted to expand a RWO Longhorn volume.

For some unknown reason, after the RWX volume was successfully expanded (i.e kubernetes showed the new size for the PVC), the volume WAS no longer able to be attache

[2021-01-13 23:12] khushboo-rancher commented on #2181
I see this working with Longhorn-v1.1.0-rc1 but doesn't work with Longhorn v1.1.0.
@joshimoo Could this be because of the modification(adding `share-manager` prefix) of the share-manager pod name?

[2021-01-14 01:04] yasker commented on #2142
@smallteeths @khushboo-rancher any update on this one?

[2021-01-14 01:05] #1786 closed

[2021-01-14 01:08] yasker commented on #2175
Thanks @FlexibleToast for confirmation. I will close the issue then.

[2021-01-14 01:08] #2175 closed

[2021-01-14 05:41] smallteeths commented on #2142
I don't think it's necessary to let users change the number of pages at will. Replacing with  `input` can also lead to Misoperation. Because as soon as the input changes it will trigger a change in the page number.
The second point I agree with.  @khushboo-rancher @yasker

[2021-01-14 09:46] braghettos commented on #1800
HI @yasker , what do you suggest to do in order to leverage Longhorn on EKS? There is the hard requirement to have the iscsi driver installed, which is not included in AMI images.

[2021-01-14 11:26] schwebke commented on #2156
I am facing the same issue here, for example updating some global settings. These updates are ignored via traefik. Workaround setting the header via traefik does not help.

By direct comparison of direct access via NodePort and access via traefik 2 IngressRoute I am getting a CORS error using traefik. The frontend tries to POST to an ws URL!
Loading via nodeport the POST works, and the POST is tar

[2021-01-14 11:54] smallteeths commented on #2156
Oh, that's weird. It looks like treafik upgraded the http request to a ws request. Is this the only request that reports an error? @schwebke

[2021-01-14 12:01] schwebke commented on #2156
yes -- and I do not see a upgrade handshake for this one. It's hard to debug with my prod build, but it looks like directly issued via xmlhttprequest to ws://...
@smallteeths

[2021-01-14 12:31] smallteeths commented on #2156
![Jietu20210114-202420](https://user-images.githubusercontent.com/27733391/104590679-a0f67b80-56a6-11eb-806a-1bc2eb9a819f.jpg)
There is indeed a problem with this, the data returned by the settings ws interface is incorrect under the ingressRoute proxy. @joshimoo

The correct one should be as shown below
![Jietu20210114-202657](https://user-images.githubusercontent.com/27733391/104590953-ff235e80-

[2021-01-14 13:02] Patralos opened #2182 "[Question] How to enable metrics?"
Hi,
According to the release notes longhorn 1.1 shoud support prometheus metrics, but there is no information available on how to enable them.

I just found some information in the feature ticket about it:
[code]

But there is no Longhorn manager target added automatically.

[2021-01-14 15:55] joshimoo commented on #2182
@Patralos does the following documentation help?
https://longhorn.io/docs/1.1.0/monitoring/prometheus_and_grafana_setup/

@PhanLe1010 can you elaborate on this.

[2021-01-14 16:32] Patralos commented on #2182
Yes this helps, I wasnt able to find it before. I will try it out tomorrow and report back.

[2021-01-14 16:32] joshimoo commented on #2181
Will have to investigate.

[2021-01-14 17:45] nsmith5 commented on #2176
Ahha! I missed that section of the manual in the docs. Thanks so much!

[2021-01-14 17:45] #2176 closed

[2021-01-14 18:33] joshimoo commented on #2160
@virus2016 if your host distro does not prevent access to the dmesg, you can run it inside of a pod.
Here is more information about this: https://stackoverflow.com/questions/41171349/why-is-a-shell-within-a-docker-container-showing-dmesg-content-from-the-host

The important thing is to find out what is consuming all your threads, you can try the below suggestions to monitor thread count on your ho

[2021-01-14 19:09] yasker commented on #2142
It's hard to say for sure if a customized row number is needed or not. We can use the current version for now. If there are users who want to customize it, we can add an enhancement later.

[2021-01-14 19:33] joshimoo commented on #2164
@antonum The above will work as long as you can ensure that all concerned applications have flushed all relevant data to disk.
The longhorn snapshot operation is O(1) so as soon as the VolumeSnapshot object is bound and the status.creationTime is set you can unfreeze.

Please do read the below ref for additional details:
https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snap

[2021-01-14 19:36] joshimoo commented on #2142
@smallteeths @yasker I am assuming we don't do pagination on the backend, do we even need a limited page size at all? instead of just showing all volumes?

[2021-01-14 19:39] joshimoo commented on #2180
@dgiebert did you run the last command above on the physical node or inside of a pod?
We create the mount folder as part of the csi attach call in the case where it's absent.

[2021-01-14 19:42] dgiebert commented on #2180
I ran the last command on the physical node to test connectivity to the nfs pod.

[2021-01-14 19:43] joshimoo commented on #2180
It seems you are using rancher os which we don't support since it's end of life, are you able to use a regular os (ubuntu, rhel, sles, k3os, etc)

[2021-01-14 19:44] joshimoo commented on #2180
Does this happen for each rwx volume that you are trying to use?

[2021-01-14 19:44] antonum commented on #2164
Thanks, @joshimoo ! That would cover all my needs now, but I'll keep my eyes open for #2128

Feel free to close the issue.

[2021-01-14 19:45] joshimoo commented on #2180
@khushboo-rancher are we able to replicate this on one of our supported environments?

[2021-01-14 19:46] joshimoo commented on #2164
Thanks, do let us know if you are running into any problems :)

[2021-01-14 19:46] #2164 closed

[2021-01-14 19:48] dgiebert commented on #2180
Happens to all RWX volumes I tried to attach.

Is there a way I can debug this ?

[2021-01-14 20:17] joshimoo commented on #2180
@dgiebert you can exec into the csi plugin container that is running on the node where the volume is supposed to get mounted then run the below nsenter command to get a shell on the host where the actual mount will be executed.

You can get the shell to the longhorn container via rancher ui or kubectl exec

[code]

Once you are having a shell that is operating in the same namespaces as the actual

[2021-01-14 22:22] khushboo-rancher commented on #2180
@joshimoo We have not seen this issue on the environments which we use for test which are as below.

Below OS with K8s v18.x/v19.x and K3s v19.x
1. Ubuntu 20.04/18.04
2. Linux2(aws)
3. SLES 15 SP1 / SLES 12 SP2 / SLES 12 SP5
4. RHEL 7.8
5. Cent OS

[2021-01-14 22:35] yasker commented on #2142
@joshimoo The API supports pagination in theory, but it's unused at the moment. E.g. https://github.com/longhorn/longhorn-manager/blob/master/client/generated_volume.go#L161

[2021-01-14 23:06] khushboo-rancher commented on #2153
Verified the latest doc https://longhorn.io/docs/1.1.0/references/settings/, there are few minor points as below.

1. The setting **Default Share Manager Image** is missing.

2. The setting `Automatically Cleanup System Generated Snapshot` is appearing as `Auto Cleanup System Generated Snapshot` and default value should be `True`.

3. The default value for **Default Engine Image** is appearing as

[2021-01-14 23:38] yasker commented on #2153
For settings like `Default Engine Image, Default Share Manage Image, Default Instance Manager Image, Latest Longhorn version`, we can remove the `Default` value part since it depends on the version - and we probably don't want to update it every time when we have a new release.

And the alphabetic order is a good idea.

[2021-01-14 23:39] yasker commented on #2153
Downgrade the priority since the previous missing settings have been added.

[2021-01-15 00:13] khushboo-rancher opened #2183 "[Feature] API support for pagination on Longhorn UI"
**Is your feature request related to a problem? Please describe.**
For the node, volume, backup pages on Longhorn UI, support pagination from backend to show elements on the page.

**Additional context**
https://github.com/longhorn/longhorn/issues/2142

[2021-01-15 00:17] khushboo-rancher commented on #2142
Created https://github.com/longhorn/longhorn/issues/2183 to track the API support for pagination.

With the Longhorn UI image: `wangsiye/longhorn-ui:7e36922`, modification of rows per pages to `10, 30, 50, 100` is working fine.

[2021-01-15 01:00] PhanLe1010 commented on #2171
@ikaruswill

I have followed the steps you mentioned:

With a similar setup Longhorn 1.1.0 and Kubernetes v1.19.4

I couldn't reproduce the same problem you encountered. I observered:
1. `longhorn-csi-plugin` DaemonSet is not deleted by `longhorn-driver-deployer`
2. Before of the bug in K8s, K8s doesn't set deletion timestamp on workload pods so Longhorn doesn't delete workload pod even when `dele

[2021-01-15 01:15] PhanLe1010 commented on #2062
Seems that the fix was merged to K8s master

[2021-01-15 01:48] yasker commented on #2062
@PhanLe1010 Let's wait for the next patch release and test again.

[2021-01-15 02:03] PhanLe1010 commented on #2182
Longhorn metrics are enabled by default on pods in `longhorn-backend` service.

The [doc](https://longhorn.io/docs/1.1.0/monitoring/prometheus_and_grafana_setup/) presents how to set up Prometheus and set it up to scrape Longhorn metrics.

Other alternative ways to setup Prometheus are [rancher monitoring project](https://rancher.com/docs/rancher/v2.x/en/monitoring-alerting/) or [prometheus-operat

[2021-01-15 02:15] duhruh opened #2184 "[Question] Remote NFS Server"
**Question**
Sorry if this isn't the right forum for this type of question but i've been searching all the docs and trying to understand if longhorn even supports this yet.

I have a external NFS server managed by different software and i'm trying to figure out how I could tell longhorn to dynamically mount a directory from that server and provide that to the cluster longhorn is running on.

I ass

[2021-01-15 02:16] khushboo-rancher commented on #1895
Verified with Longhorn-master - `01/14/2020`

Validation - **Pass**

**Scenario 1**
With master, on triggering the purge at step 4 as mentioned https://github.com/longhorn/longhorn/issues/1895#issuecomment-756575857, the Longhorn-manager reported the the failure of the purge and rebuild the failed replica.
[code]

**Scenario 2**: Trigger a snapshot when a rebuilding is in progress.
The Longhorn-ma

[2021-01-15 08:08] Patralos commented on #2182
Using the docs I was able to configure it into our prometheus operator setup.

Sadly the current available metrics are still rather useless for us, as monitoring volume usage with them is still not possible. longhorn_volume_actual_size_bytes is heavily affected by snapshots and there is no other variable to monitor the actual usage.

Thx for your help anyways!

[2021-01-15 08:12] PhanLe1010 commented on #2182
@Patralos

I believe you are referring to the usage of a filesystem inside the Longhorn volume. We do support those metrics. See https://longhorn.io/docs/1.1.0/monitoring/kubelet-volume-metrics/ .

[2021-01-15 08:18] dgiebert commented on #2180
Will k3os be supported in the future and be in tested, as you suggested the usage above ?

Thank you @joshimoo, this pointed me to the reason for it and can be sumarized by the following:
Namespace 1 on RancherOS is the system-docker that starts the other containers which does not contain anything.

Maybe the namespace to use is configurable, can you point me to the code, I can have a look and clo

[2021-01-15 08:31] Patralos commented on #2182
Great thanks, that helped a lot!

[2021-01-15 08:31] #2182 closed

[2021-01-15 09:34] joshimoo commented on #2184
This is not something longhorn supports, kubernetes natively supports nfs pv's
Here is an example on how to create an nfs volume:
https://matthewpalmer.net/kubernetes-app-developer/articles/kubernetes-volumes-example-nfs-persistent-volume.html
https://kubernetes.io/docs/concepts/storage/volumes/#nfs

Todo dynamic provisioning you would want to run an nfs provisioner on your nfs storage node that i

[2021-01-15 09:39] joshimoo commented on #2180
Sure thing, the longhorn-csi-plugin is running with hostPid = true which means we should be seeing the world from the host perspective.

The relevant lines to change are here:
https://github.com/longhorn/longhorn-manager/blob/master/csi/nfs/nsenter.go#L16-L38

[2021-01-15 10:25] joshimoo commented on #2180
@dgiebert If you want to try you should be able to run longhorn on k3os successfully.

[2021-01-15 15:07] antonum opened #2185 "[Question] Multiple pods, single RWO pvc"
**Question**

What is the expected behaviour for multiple pods, trying to mount the same ReadWriteOnce pvc? My expectation would be that one would successfully start and others would stuck either in Pending or ContainerCreating state, unable to attach the volume.

However, that's not what I'm observing.

The following would deploy a deployment with replicas=1, mounting the single ReadWriteOnce Lon

[2021-01-15 15:15] joshimoo commented on #2185
@antonum are you using an RWO pvc, I assume so?
And rwo volume can be used by multiple pods on the same node.
Which nodes are your iris pods on?

By doing the above you will actually make the failover longer, since kubernetes uses an exponential backoff for the attach/detach reconciliation :)

[2021-01-15 15:53] zrml commented on #2185
@joshimoo I'm confused.
ReadWriteOnce -- the volume can be mounted as read-write by a single node
from
https://kubernetes.io/docs/concepts/storage/persistent-volumes/

Did you mean ROX - ReadOnlyMany?

[2021-01-15 16:06] joshimoo commented on #2185
@zrml RWO allows for multiple pods on the same **node** to use a volume.
`ReadWriteOnce -- the volume can be mounted as read-write by a single **node**`

RWX/ROX allows a volume to be used by multiple **nodes**

[2021-01-15 16:40] antonum commented on #2185
Yes, it's RWO.

[code]
The "property failing one" is indeed running on a different node. The "node vs. pod" explains the behaviour I'm seeing. I was wrongly assuming "pod" here.

Is there a way to enforce "one PVC mounted exclusively to one pod" behaviour in Longhorn?

[2021-01-15 16:48] joshimoo commented on #2185
Not on longhorn's side, but you can influence kubernetes scheduler.
https://stackoverflow.com/questions/34668887/allow-only-one-pod-of-a-type-on-a-node-in-kubernetes

By doing the above you will actually make the failover longer, since kubernetes uses an exponential backoff for the attach/detach reconciliation :)

[2021-01-15 16:58] antonum commented on #2185
Thanks @joshimoo ! - no doubt I'm doing the wrong thing here, so exponential backoff is past the point I want to be at.

Currently, I suppose only the application level locking is preventing one pod from messing with the PVC, used by another.

The solution you suggesting restricts # of pods of a type per node but doesn't prevent one from creating multiple pods of different types, mounting the same

[2021-01-15 18:32] caimez opened #2186 "[BUG] Changing toleration to remove node after Eviction of volumes keeps the node as Down"
**Changing toleration to remove node after Eviction of volumes keeps the node as Down, how may I remove it ?**

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: v1.20.0
 - Node config
   - OS type and version: Ubuntu 20.10
   - CPU per node: 4
   - Memory per node: 2 to 16GB
   - Disk type: SD and HDD
   - Network bandwidth and latency between the nodes: 1GB/s
 - Underlying Infra

[2021-01-15 18:40] joshimoo commented on #2185
@antonum correct it's perfectly valid for an RWO pvc to be accessed on the same node by 2 different pods. An example use case for this is, application pod and log collector side car.

If you want to elaborate on what you are trying to do, we might be able to provide guidance on how to best accomplish your task at hand.

What I think you want to accomplish is faster failover, to get this you can ma

[2021-01-15 19:07] yasker opened #2187 "[IMPROVEMENT] Use `fsfreeze` instead of `sync` before snapshot"
**Is your feature request related to a problem? Please describe.**
Currently before snapshot operation, we will run a `sync` to flush the cache into the disk. It will be even safer if we also run `fsfreeze` against the filesystem, to stop the filesystem from written data to the disk before we take the snapshot. This will ensure the snapshot we took contains the stable filesystem image.

**Describe

[2021-01-15 19:16] khushboo-rancher commented on #2142
Validated with Longhorn master `01/15/2021`

Validation - **Pass**

The number of rows on the page can be change to `10, 30, 50, 100` .
<img width="1760" alt="Screen Shot 2021-01-15 at 11 14 54 AM" src="https://user-images.githubusercontent.com/60111667/104768803-19028700-5723-11eb-985b-0534ced444be.png">

[2021-01-15 19:16] #2142 closed

[2021-01-15 20:09] PhanLe1010 opened #2188 "[DOC] Improve monitoring feature documentation"
The [document](https://longhorn.io/docs/1.1.0/monitoring/kubelet-volume-metrics/) for `kubelet_volume_*` metrics is not clear about how the users can find those metrics in Rancher monitoring V2

Also, need to update the document so specify that Rancher monitoring V1 is deprecated and we only support V2

For the page https://longhorn.io/docs/1.1.0/monitoring/prometheus_and_grafana_setup/ , we shoul

[2021-01-15 22:29] PhanLe1010 commented on #2152
**Manual test plan:**
1. Install Longhorn using `longhorn-manager:master`
1. Turn on the setting `Automatically upgrade engine for volumes after upgrading Longhorn`
1. Create a volume attached to a pod write some data. Create a DR volume. Create volume and leave it in detached state.
1. For each test scenario below, try to upgrade Longhorn with longhorn engine image from `From` column to `To` colu

[2021-01-15 22:37] khushboo-rancher commented on #2075
https://longhorn.io/kb/troubleshooting-volume-readonly-or-io-error/ Looks good.

[2021-01-15 22:37] #2075 closed

[2021-01-15 23:18] antonum commented on #2185
@joshimoo - you already answered my original question. Observed behaviour is actually expected.

The follow-up one is more a hypothetical made-up situation than a real problem at hand. I just need to make sure not to [accidentally] set replica count to more than one and use a unique pvc per deployment.

Your suggestions on reducing failover time are great - I'll try them out.

Thanks again for you

[2021-01-16 00:47] #2185 closed

[2021-01-16 01:23] khushboo-rancher commented on #1967
Validated with Longhorn master - `01/15/2021`

Validation - **Pass**

Followed the test steps from https://github.com/longhorn/longhorn/issues/1967#issuecomment-736955281, on blocking the S3 traffic on proxy, Longhorn retries 4 times.

[2021-01-16 01:23] #1967 closed

[2021-01-16 02:46] PhanLe1010 commented on #2178
After investigating, it does take longer than expected.
It seems that we need to fix the backend to speed up the recording process.

[2021-01-16 12:15] duckfullstop commented on #2166
Took 5 to look into how I'm going to implement this: changing the container's $PATH is probably the least painful but least clean, otherwise I could change the codepath of `go-iscsi-helper`'s `Execute()` function to make an additional set of calls to find the binaries in a given set of extra paths (basically a wrapper around `os/exec`'s `LookPath()`, which queries against $PATH), and then do `nsen

[2021-01-16 16:39] #1963 closed

[2021-01-16 18:21] KobiAnyVision commented on #2178
Do we have any ETA for the fix?
Thanks

[2021-01-16 20:00] krisko commented on #2015
Hi, I have similar issue. Using LH 1.1.0 on raspberry pi4. After a day or so volume ends in state "Faulted". I can "Salvage" the volume from the UI, but it won't attach and is stuck in a loop Attaching - Detaching. The pod to which should be the volume attached is also restarting. Logs from instance-manager-r:

[code]

[2021-01-16 22:22] joshimoo commented on #2178
If you set `tolerationSeconds` = 0 you are saying the pod tolerates this forever.
That's why the pods will not be evicted :)

@snirkatriel @KobiAnyVision Try the above `tolerationSeconds` with a value >= 1

[2021-01-16 22:48] chrisingenhaag commented on #2015
Thx for analyizing. First i thought might ne another issue besides #1999 which is now merged. I now restored an oder backup. But Thx anyway

[2021-01-17 08:11] snirkatriel commented on #2178
Hey, tried to set tolerationSeconds to 1, and to 10.
Both gave the same result, sometimes the pod becomes ready and attached the volume within ~120sec and sometimes even ~180-200sec.

The error I keep getting while the new pod spins up (about 37 secs after the node that holds the previous pod is shut down) is:

![image](https://user-images.githubusercontent.com/52996477/104834993-1ed7a400-58ac-11e

[2021-01-17 10:13] tetricky commented on #2151
Just to confirm, on the off chance it's of some use to someone else. I have now rebuilt the stack, and all is now well.

Using Wasabi with my buckets in eu-europe-1; the endpoint that worked for me was: https://s3.eu-central-1.wasabisys.com

backupTarget: s3://[bucket name]@eu-central-1/[path within bucket]/
backupTargetCredentialSecret: wasabi-secret

-----------
apiVersion: v1
kind: Secret
metad

[2021-01-18 04:33] #2168 closed

[2021-01-18 07:22] joshimoo commented on #1998
@chaets it looks like you are creating the pvc as part of your deployment.yaml, so when you end up deleting the deployment.yaml
The pvc will be deleted. Since you use `retain` for the storageclass the pv will be retained but still will be bound to the old pvc.
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#retain

Retain just allows for manual administrator reclamation.
So to fix

[2021-01-18 11:42] MrDienns opened #2191 "[Question] Incremental backups and maximum retains?"
**Question**

I had a question about the way Longhorn manages backups. This likely applies to other storage solutions, but considering I'm using Longhorn, I hope it's okay to ask here.

I'm slightly confused about how incremental backups work in relation to Longhorns retain quantity. If I understand correctly, Longhorn makes backups incremental, which means the backup only contains the data which

[2021-01-18 15:16] #1910 closed

[2021-01-18 15:18] duckfullstop commented on #2166
Working on this now, should have some preliminary PR's out by today or tomorrow.

I note the existence of @joshimoo's https://github.com/longhorn/longhorn-manager/commit/b467f4fbb9f936b91830449a125cea04c9b0b6b6 which seems to be working in a similar direction to the one I am, except way more cleanly; perhaps they could chime in with their intentions?

[2021-01-18 16:05] duckfullstop commented on #2166
Having dived a bit deeper into this, I think implementing this one is going to be a bit beyond my pay grade, at least without sticking random calls to `os.getEnv()` everywhere (which was making me throw up a bit). I started trying to add a new `ExtraPath` attribute to the spec of `longhorn.InstanceManager`, but there was so much cascading change that had to be done to do that (to `longhorn.Node`,

[2021-01-19 02:55] FranEva opened #2192 "[QUESTION] Can longhorn be used across clusters？"
Can it be used across clusters instead of restoring data through backup？
Also, when one of my workloads applied for a PV, I found that the pod could only be fixed on the node with data, and could not be dynamically scheduled to other nodes in the cluster.
![image](https://user-images.githubusercontent.com/4972269/104982090-dacbd700-5a44-11eb-8191-27bad82b5bc9.png)

---
Version: `v1.1.0`

[2021-01-19 03:00] shuo-wu commented on #2015
1. Can you provide the following environment info? Since you said the volume became Faulted after 1 day, I guess the network/CPU/disk performance may not satisfy the Longhorn requirement.
[code]
2. There is no error in the instance manager's log. Can you provide the related log info of longhorn manager pods?
3. Since the volume is not attached, the pod won't work correctly then `the pod to which s

[2021-01-19 04:15] shuo-wu commented on #2179
1. The volumes suddenly failing at 02:00 maybe not related to the storageclass change. Instead, it seems to be caused by the node down/disconnection.
[code]
2. I am not sure why the volume selector somehow becomes weird? Do you mean the new volumes created by the modified storageclass, or the existing volume? If you mean the new volumes, then you need to check if the modification on the storagecla

[2021-01-19 04:21] shuo-wu commented on #2191
Longhorn will track the data blocks (the basic unit of the Longhorn backup) for each backup. As a result, Longhorn will remove the data blocked that used by the backup only when users decide to delete the backup. In your example, if a data block is used by the backup on 1st day and the backups after the 1st day, it won't be removed with the 1st backup on the 31st day.

[2021-01-19 05:50] viceice opened #2193 "[BUG] Wrong ui size sorting"
**Describe the bug**
A clear and concise description of what the bug is.
A picture say's more that thousands words 😉

![image](https://user-images.githubusercontent.com/1798109/104992573-a4309500-5a21-11eb-8657-eb2e2f5a225f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create volumes of diffentent sizes
2. Click on volume size order
3. See wrong ordering

**Expected behavior**
As the

[2021-01-19 05:57] yyt6200 opened #2194 "[QUESTION] The snapshot created by longhorn-ui page cannot be found in k8s"
I'm not sure what the specific problem is. I successfully created a snapshot in Longhorn's management interface, but I couldn't find the created snapshot through kubectl get volumessnapshot -- all-namespaces. The k8s version is 1.18.8. The version of Longhorn is V1_ 20201216-arm64。

[2021-01-19 05:57] viceice commented on #2193
Looks like `size` is returned as string, so fo the browser will sort it as string [here](https://github.com/longhorn/longhorn-ui/blob/f61d662f3623bc990c36c4afb39f412ad137c868/src/routes/volume/VolumeList.js#L171)

Also `actualSize` sorting is wrong [here](https://github.com/longhorn/longhorn-ui/blob/f61d662f3623bc990c36c4afb39f412ad137c868/src/routes/volume/VolumeList.js#L198]. It's sorted by `siz

[2021-01-19 05:58] yyt6200 commented on #2194
![image](https://user-images.githubusercontent.com/44914868/104993758-44a4aa80-5a5e-11eb-8da0-c86707a0b433.png)
![image](https://user-images.githubusercontent.com/44914868/104993807-5d14c500-5a5e-11eb-8e59-a19c62bfacb3.png)

[2021-01-19 06:15] viceice commented on #2193
State should sort by robustness, if volume is attached [here](https://github.com/longhorn/longhorn-ui/blob/f61d662f3623bc990c36c4afb39f412ad137c868/src/routes/volume/VolumeList.js#L97)

[2021-01-19 06:53] necipakca opened #2195 "[QUESTION] Why sometimes my volume stucks ?"
**Question**
I am newbie of longhorn.
Sometimes one of my volume stuck and I am fixing issue with fsck. how can I get more detail data or trace why it happens ?

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes version: 1.19.14
 - Node config
   - Debian 4.19.160-2
   - CPU per node: 8
   - Memory per node: 8GB
   - Disk type : MultiTier
   - Network bandwidth and latency between the node

[2021-01-19 07:25] yyt6200 commented on #2194
Create a snapshot through k8s. You can see that the log of csi-snapshot is as follows. The creation failed.

I0119 07:20:51.689831 1 snapshotter.go:56] CSI CreateSnapshot: snapshot-82ad5bb8-13f5-42a2-b655-aab727bc5eed

I0119 07:20:51.689841 1 connection.go:182] GRPC call: /csi.v1.Identity/GetPluginInfo

I0119 07:20:51.689846 1 connection.go:183] GRPC request: {}

I0119 07:20:51.692442 1 connection

[2021-01-19 08:24] krisko commented on #2015
I suspect that there is not enough performance with raspberry pi and longhorn. When undeploying an app it takes several minutes for the pod to terminate (simple pod with nginx). But this is not the case when using local-path provisioner.

**Environment:**
 - Longhorn version: 1.1.0
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version: v1.19.5+k3s2
   - Number of management node in the clu

[2021-01-19 14:51] joshimoo commented on #2194
@yyt6200 you need to setup a backup target `setting backup-target is empty`
https://longhorn.io/docs/1.1.0/snapshots-and-backups/backup-and-restore/set-backup-target/
longhorn snapshots are only local, a volume snapshot in the sense of kubernetes represents a longhorn backup.

[2021-01-19 15:43] yasker commented on #1539
We can return the last backup's PVC/namespace/workload information in the backend API.

[2021-01-19 15:58] yasker commented on #1221
Move to the icebox, pending on update from #2131

[2021-01-19 16:49] #304 closed

[2021-01-19 16:50] #1802 closed

[2021-01-19 17:19] joshimoo commented on #1539
linking the backup refactor issue https://github.com/longhorn/longhorn/issues/1761
linking the application aware backup feature https://github.com/longhorn/longhorn/issues/2128

[2021-01-19 17:19] joshimoo commented on #2128
linking the backup refactor issue https://github.com/longhorn/longhorn/issues/1761

[2021-01-19 18:06] #1895 closed

[2021-01-19 18:06] #2110 closed

[2021-01-19 18:06] #2158 closed

[2021-01-19 18:30] yasker commented on #2105
Lower the priority due to unable to reproduce.

[2021-01-19 19:07] yasker commented on #1929
We should build an automation test framework to automatically gather those informations, once Longhorn was set up on a certain system. Then we don't need to repeat the manual work every time when we want to release.

[2021-01-19 19:16] yasker commented on #2033
I am still concerned about automated installation for dependencies. I don't want Helm installation to fail unnecessarily. For the first step, let's update the [yaml](https://github.com/longhorn/longhorn/tree/master/deploy/iscsi) to install `nfs-common`(NFS client) as well. Need to update the doc as well.

[2021-01-19 19:24] tabnul commented on #2179
Thanks for your reply.
Strange i didnt see issues on my node but maybe this triggered indeed the issue.

However, after node came back, volumes didnt go online.

The strange values (value 1 and value 2) were the existing volumes.

After editing the volumes as you describe, i was able to get them back online.

I also created new volumes using the storage class, which went allright as well.

[2021-01-19 19:49] pti13 commented on #1997
+1

[2021-01-19 21:48] bentastic27 opened #2197 "[BUG] ganesha in the share-manager pod requires on IPv6 on the host"
There are some users that disable IPv6 on their nodes via kernel flags (`sysctl -w net.ipv6.conf.all.disable_ipv6=1`). When users try to create an RWX volume genesha in the share-manager pod fails with this error:

[code]

[2021-01-20 00:46] khushboo-rancher opened #2198 "[BUG] Secret doesn't refresh in Longhorn-manager unless longhorn-manager is restarted or access the backupstore"
**Describe the bug**
Secret doesn't refresh in Longhorn-manager unless longhorn-manager is restarted or access the backupstore

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn on a set up of 4 nodes cluster (1 etcd/control plane, 3 worker)
2. Set up a proxy like [Squid](https://github.com/wernight/docker-squid)
3. Create a secret without `NO_PROXY` or wrong `NO_PROXY`. e.g.
[c

[2021-01-20 01:06] yasker commented on #2198
The secret should be automatically refreshed.

[2021-01-20 02:27] yyt6200 commented on #2194
@joshimoo do you mean that if I use kubernetes to create a snapshot, I need to create a backup first? Thank you for your reply

[2021-01-20 03:22] shuo-wu opened #2199 "[FEATURE] Set tolerations and node selectors for dynamically provisioned Longhorn workloads"
**Is your feature request related to a problem? Please describe.**
It's required by the Windows cluster support.

https://github.com/rancher/rancher/issues/29220

cc https://github.com/rancher/charts/pull/994/files

[2021-01-20 06:05] shuo-wu commented on #2179
When a Longhorn volume is created via StorageClass, the empty selector value is `null`. But if a Longhorn volume is created via UI, the empty selector value is `[]`. Hence both value1 and value2 you mentioned above should be valid for Longhorn. I am sorry for the mistake in the previous response.

Typically, after a node comes back, the volumes attached to the node will be detached then reattached

[2021-01-20 06:53] tabnul commented on #2179
Thanks, so i drew wrong conclusions, thanks for investigating.

I still wonder why all volumes.failed, both nodes were operational , my heartbeat skipped a few times.when i saw it .

[2021-01-20 07:52] ikaruswill commented on #2171
Thanks for trying to reproduce the issue @PhanLe1010 perhaps constantly reapplying the yaml is not ideal. I'll exclude longhorn manifests from `fluxcd` in hopes that it'll mitigate future issues like this. I'll send the support bundle over.

[2021-01-20 09:03] snirkatriel commented on #2178
Hey guys,
any update on this one? :)

[2021-01-20 09:44] joshimoo commented on #2194
@yyt6200 no you can use csi snapshots which will automatically create a longhorn snapshot + backup. To do this you need to setup a backup target https://longhorn.io/docs/1.1.0/snapshots-and-backups/backup-and-restore/set-backup-target/
So longhorn knows where to store/retrieve the backups.

This is why your operation is failing.

[2021-01-20 15:17] yasker commented on #1812
@DarianAnjuhal has reached out to me in slack, mentioned his issue still exists.

One KB article might help: https://longhorn.io/kb/troubleshooting-volume-readonly-or-io-error/

@DarianAnjuhal Can you also fill in the questionnaire below again:

**Environment:**
 - Longhorn version:
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version:
   - Number of management node in the cluster:
   - N

[2021-01-20 15:31] mattcg commented on #1812
This problem disappeared once we moved from HDDs to SSDs, however that required spending a lot of money and losing time.

[2021-01-20 16:24] yasker commented on #1812
@mattcg @DarianAnjuhal Longhorn isn't designed for HDD though. The IOPS of HDD can provide is below what Longhorn requires, so it's hard to provide a stable system in that way. See https://longhorn.io/docs/1.1.0/best-practices/#minimum-recommended-hardware

[2021-01-20 16:41] mattcg commented on #1812
All SSD k8s is a pretty big ask. In my opinion software should be designed around the needs of organisations, and not vice versa...

[2021-01-20 18:01] yasker commented on #1812
@mattcg Sorry to hear that. Supporting the spinning disk is not the design goal of Longhorn. Since the random IOPS is too low with a spinning disk, the software needs to be much more complex just to handle it properly. I suggest looking at other storage solutions that support spinning disk well, to better support your use case.

[2021-01-20 18:32] joshimoo commented on #2146
@ajjo-tech Can you check your network configuration between the nodes / vm's.
There is definitly something wrong on that end.

Are you doing a kubectl logs here? This should not timeout at all, therefore it looks like something is not right with your network setup.
`Also when i try to check logs on longhorn-csi-plugin-XXXX/longhorn-csi-plugin i receive “dial tcp 10.227.34.12:10250: i/o timeout`

[2021-01-20 18:39] joshimoo commented on #2170
link to https://github.com/longhorn/longhorn/issues/2033 to ensure installation of nfs client.

[2021-01-20 18:54] #1789 closed

[2021-01-20 18:59] #2184 closed

[2021-01-20 19:00] #1998 closed

[2021-01-20 19:39] PhanLe1010 opened #2200 "[BUG] Shouldn't bind mount /var/run/ in Helm chart"
We need to remove the mount [/var/run](https://github.com/longhorn/longhorn/blob/0fd0c33e06d7c998dee0f9a43056e4a0030638d9/chart/templates/daemonset-sa.yaml#L48) in Helm chart

Related to https://github.com/longhorn/longhorn/issues/2088

Ref: https://github.com/longhorn/longhorn/blob/7533ae2fe22ab6a0f578633541eb8a88eccf6c9d/chart/templates/daemonset-sa.yaml#L48

[2021-01-20 19:46] PhanLe1010 commented on #1800
@braghettos

If AMI image doesn't have iscsi, you can install iscsi on all nodes in the cluster by deploying this DaemonSet:
[code]
See more at https://longhorn.io/docs/1.1.0/deploy/install/#installing-open-iscsi

[2021-01-20 20:12] khushboo-rancher commented on #2181
Reproduction steps:
1. Create a rwx pvc using `longhorn` storage class of size 1 Gi.
2. Attach it to a workload (deployment) and write some data of size 200 Mi.
3. Scale down the workload to detach the volume.
4. Expand the volume to 5 Gi using the Longhorn UI.
5. Scale up the workload once the expansion of volume is completed.
6. The workload gets stuck with error `The volume pvc-ae72f8d7-9f97-4d

[2021-01-20 22:53] khushboo-rancher opened #2201 "[BUG] rwx integration tests failing on arm64 set up"
**Describe the bug**
rwx integration tests failing on arm64 set up in nightly test run with longhorm master image.
https://ci.longhorn.io/job/public/job/longhorn-tests-arm64/71/

[2021-01-21 06:09] khushboo-rancher commented on #2107
Could be related to https://github.com/longhorn/longhorn/issues/1512

[2021-01-21 06:15] shuo-wu commented on #2179
When the node is down and not recovered, the volumes are state `unknown` rather than state `failed`. The volumes will become `failed`/`faulted` from state`unknown` only if the node is back. That's why you said `nodes were operational` when all volumes become failed.

You need to figure out when and why the node is down first. There are multiple node-down events in the log. It seems that your node

[2021-01-21 08:25] DarianAnjuhal commented on #1812
Okay thank you. We are using HDD as well so thats probably why we have issues.

[2021-01-21 10:07] QLeelulu opened #2202 "[Question] csinode.storage.k8s.io not found"
pod is running in k8s `master node`, but can't attach volume:

[code]

it worked if pod is running in k8s `worker node`.

[2021-01-21 10:22] MrDienns commented on #2191
Alright, so I do not have to worry about backups suddenly not working anymore after an x period of time. That would've been weird if that was the case anyway, but I wanted to make sure. Thank you.

[2021-01-21 10:22] #2191 closed

[2021-01-21 10:53] PhanLe1010 commented on #2178
@snirkatriel @KobiAnyVision

We are checking the interaction between Kubernetes and Longhorn CSI. Will post an analysis soon.

[2021-01-21 17:30] drewhemm opened #2203 "[FEATURE] instance-manager compatibility with Cluster Autoscaler"
**Is your feature request related to a problem? Please describe.**
When using Cluster Autoscaler, nodes are not removed from the cluster if they have bare pods; an annotation can be added to pods to let CA know it is safe to evict them:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

[code]

A node that has no

[2021-01-21 17:32] drewhemm commented on #2203
I tried to find the source code for where the pod spec is defined, but could not find it.

[2021-01-21 17:51] joshimoo commented on #2202
@QLeelulu if you user a dedicated master (etcd, controlplane) then no workload is expected to be running on this.
No deamonset will be deployed to it, so you will not have the longhorn-csi node plugin available on that node.
Workloads are not supposed to be running on dedicated master nodes (controlplane, etcd) if you want to use that node for workloads as well, add the worker role to it. But it's

[2021-01-21 18:07] joshimoo commented on #2203
If you want to dynamically remove nodes from the cluster you want to use dedicated storage nodes, otherwise you risk removing the last replica of your data.

https://longhorn.io/docs/1.1.0/volumes-and-nodes/storage-tags/
https://longhorn.io/docs/1.1.0/advanced-resources/default-disk-and-node-config/

We implement a poddisruption budget to prevent eviction of the last healthy replica. To prevent a

[2021-01-21 23:26] drewhemm commented on #2203
Thanks for the quick reply. The problem is not the nodes being used to host the replicas, it's all the other nodes in the cluster - every one gets a longhorn pod, which I assume is to enable them to mount the volumes for the pods that they are hosting. `instance-manager-e-*` pods are the problem, not the `instance-manager-r-*` ones.

My 'longhorn' nodes are static, but I want every other node to b

[2021-01-22 00:58] PhanLe1010 commented on #2186
@caimez

Yeah, in the current implementation, Longhorn UI doesn't allow users to delete a node. The workaround is using kubectl: `kubectl delete nodes.longhorn.io NODE_NAME -n longhorn-system`

A note for Longhorn team, we need to consider:
1. Expose the node deletion API to Longhorn UI. Need to figure out when it is safe to delete a node (i.e., Kubernetes node object doesn't exist, Longhorn manag

[2021-01-22 01:31] QLeelulu commented on #2202
@joshimoo thanks

[2021-01-22 01:31] #2202 closed

[2021-01-22 02:21] shuo-wu commented on #791
Need to consider the node selector and disk selector during the refactoring: https://github.com/longhorn/longhorn/issues/2179

[2021-01-22 02:33] shuo-wu commented on #2015
1. Taking several minutes for the pod termination is definitely problematic. You can check the resource usage by running `kubectl top node` or `kubectl -n <the namespace of your workloads> top pod`
2. Just curious, what's your Longhorn use case? As you mentioned, there is only one node in your cluster hence typically you don't need to HA provided by Longhorn.

[2021-01-22 02:35] munjalpatel commented on #2203
I agree with @drewhemm . I am facing the same exact problem in my AKS since I introduced longhorn to the cluster a week ago.

After spending an entire day troubleshooting why autoscaler does not mark a node that has nothing but `instance-manager-e-*` and `instance-manager-r-*` pods with MSFT, we were able to pinpoint the root cause to be these two longhorn pods from the following autoscaler logs:

[2021-01-22 03:11] khushboo-rancher commented on #2111
Verified with Longhorn-master `01/21/2021`

Validation - **Fail**

With image `longhornio/longhorn-share-manager:v1_20210106`, on deploying https://raw.githubusercontent.com/longhorn/longhorn-manager/master/examples/rwx/rwx-nginx-deployment.yaml, the deployment doesn't come up and stuck with the below error.
[code]

[2021-01-22 04:04] jenting commented on #1741
I think SLES15 SP1 won't works because it uses `zypper` as the package manager. However, in the yaml I did not see it.

[2021-01-22 06:03] jenting commented on #2088
@Bwvolleyball,
I tried to reproduce your case.

I'm using k3s + Longhorn v1.1.0 on SLES 15 SP2.
I deploy longhorn at namespace longhorn-system and deploy minio at namespace default.
At each longhorn-manager pod, I could access my minio server S3 URL by curl command.

Have you fixed your problem? If not, could you please provide more information on this issue, thank you.

[2021-01-22 08:14] drewhemm commented on #2203
I have come across a project called [kube-annotate](https://github.com/chickenzord/kube-annotate), which may provide a short-term solution. It uses a mutating admission controller to perform rule-based annotation of pods; I should be able to enforce annotation of the `instance-manager-e-*` pods with that. Would prefer if this functionality were available without the use of a third-party app though

[2021-01-22 09:01] PhanLe1010 commented on #2178
Pre-setup:
* Volume Attachment Recovery Policy: immediate
* Pod Deletion Policy When Node is Down: delete-both-statefulset-and-deployment-pod
* Add toleration for workload `tolerations: - effect: NoExecute key: node.kubernetes.io/not-ready operator: Exists tolerationSeconds: 0 - effect: NoExecute key: node.kubernetes.io/unreachable operator: Exists tolerationSeconds: 0`
* Set a short terminationGr

[2021-01-22 16:08] Blackclaws opened #2204 "[BUG] Single Node Longhorn fails to recover after multiple outages"
**Describe the bug**
Longhorn is in a faulted state and spins on attaching and detaching volumes even though there are no pods requesting the volumes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Longhorn Volumes
2. Have multiple crashes that result from kernel lockups
3. See Longhorn spinning on volume attaching and detaching

**Expected behavior**
Either the volumes are faulted,

[2021-01-22 17:49] yasker commented on #2088
@jenting The issue likely only happens for Helm chart deployment, e.g. installing using helm chart, installing using Rancher chart, due to the `/var/run` bind-mount still exists in the chart (but was removed in the deployment yaml): https://github.com/longhorn/longhorn/blob/master/chart/templates/daemonset-sa.yaml#L48 .

[2021-01-22 17:51] yasker commented on #1741
Weird. @khushboo-rancher can you double check?

[2021-01-22 17:58] khushboo-rancher commented on #1741
@yasker SLES15 SP1 has iscsi installed already, (Machine from AWS) when I checked it.
I validated that this daemon set is not failing and not creating any problem after it's deployment on the nodes.

Sorry for not stating that clearly.

[2021-01-22 18:13] khushboo-rancher commented on #2201
This is impacted by https://github.com/longhorn/longhorn/issues/2111.

[2021-01-22 18:19] yasker commented on #2178
Thanks for the detailed update @PhanLe1010 .

There are a few things we might be able to do:
1. Longhorn marks the Longhorn node down about 10 seconds after the Kubernetes node is not ready. Not sure what caused the delay.
2. For the improved case, the volume attachment has been deleted, why Kubernetes still reports multi-attach error?
3. How is Kubernetes backing off from the `Multi-Attach` error

[2021-01-22 21:31] Bwvolleyball commented on #2088
I guess where my setup differs is that I'm running a tiny external NFS server on a raspberry pi.  I can correctly get my service to resolve to my NFS server outside of the longhorn pods. My ultimate workaround was to use the ip address assigned to my NFS server since the service resolution wasn't working for longhorn.

[2021-01-22 22:36] jenting commented on #1741
I used SLES15 SP2 installed from the iso image if I remember correctly. The open-iscsi didn't installed by default, and I applied the yaml to installed the DaemonSet didn't work.

[2021-01-22 23:08] PhanLe1010 opened #2205 "[FEATURE] UI: Only allow to upgrade to the default engine image when the setting `automatically upgrade volumes' engine to default version` is enable"
If the setting `Concurrent Automatic Engine Upgrade Per Node Limit` is bigger than 0, only allow the user to upgrade to the default engine image. Even if there are other engine images available, we don't allow users to upgrade to a different engine image other than the default one.

More specifically, if the setting `Concurrent Automatic Engine Upgrade Per Node Limit` > 0,  filter the dropdown sel

[2021-01-22 23:53] yasker commented on #2205
Notice the backend hasn't been merged yet. PR at https://github.com/longhorn/longhorn-manager/pull/818

[2021-01-23 00:23] yasker opened #2206 "[FEATURE] Enhance Longhorn data plane on low performance environment (spinning disk, 1GBps network, low CPU etc)"
Based on the result from #1691 , we found the spinning disk doesn't work well with Longhorn. It's a current limitation but there are still many users using spinning disk out there. We need to investigate the Longhorn data path to find out the bottleneck/root cause of the spinning disk that doesn't work well and easily disconnected from Longhorn.

[2021-01-23 00:39] yasker opened #2207 "[FEATURE] Enhanced resource reservation mechanism"
**Is your feature request related to a problem? Please describe.**
To make sure users have a stable storage system, we need to be more specific on reserving resources for Longhorn, as well as make it clear in the case that the reserved resources might not be enough for Longhorn to function when there are too many engines/replicas running on the node.

**Describe the solution you'd like**
Make the

[2021-01-23 07:49] chrisu001 commented on #1831
@tvanderka many thanks for your notes
I can confirm that longhorn 1.1.0 is running on OKD4.6

additionally:

1. as a workaround for the usage of ``` /var/lib/kubelet/obsoleted-longhorn-plugins```, I created a machine-config with a oneshot service
[code]

2. removed ```/var/run``` from deployment.yaml
3. added oauth-proxy to the longhorn-ui.yaml

4. Rolling Updates

as a quickfix (hopefully, only u

[2021-01-23 12:15] ldipaolaIT commented on #1763
Thank you @shuo-wu, That worked!

[2021-01-23 12:21] necipakca opened #2208 "[BUG] All longhorn-manager pods crushloopbackoff"
**Describe the bug**
I tried to add disk to existing node. All longhorn-managers are crushloopbackoff now.
How can I get my volumes back without loosing data ?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to node and edit node which is disabled but ready.
2. Click add disk and set schedule to true.Best-effort was open so it tried to replicate probably.
3. Perform save.
4. See error

**

[2021-01-23 18:17] flokli commented on #1984
@yasker is there something more to add to the website/docs from your explanation? I might not be the only one bumping into this, and curious about the design decisions.

[2021-01-23 22:13] jwklijnsma commented on #1831
@chrisu001 do your have for 2 maybe more information ?

[2021-01-24 05:11] chrisu001 commented on #1831
simple remove the deprecated mount point from: https://github.com/longhorn/longhorn/blob/0fd0c33e06d7c998dee0f9a43056e4a0030638d9/chart/templates/daemonset-sa.yaml#L48

[2021-01-24 06:02] doug62 opened #2209 "[BUG] Doesn't recognize nodes"
Longhorn UI does not recognized Agent/Nodes when they are added.  The UI only lists 1 node (the master)

On a pristine/current K3s Agent & Master, when I:
helm repo add longhorn https://charts.longhorn.io
helm install longhorn longhorn/longhorn --namespace longhorn-system

And then join a few agents.

No Additional nodes appear

(no taints - prestine)

**Environment:**
 - Longhorn version: V1.1.0

[2021-01-24 06:53] doug62 commented on #2209
Opps:  This was caused by not having 'open-iscsi' installed, now works - HOWEVER - this dependency is not included in the 'rancher/k3s' image and so it seems longhorn won't work in K3d?

[2021-01-24 06:53] #2209 closed

[2021-01-24 08:14] chrisu001 commented on #2145
@joshimoo. Thanks for your advice

Unfortunately , the workaround is not an option on secured Kubernetes distributions like OKD (rootless containers)  or activated PodSecurityPolicies.
Longhorn RWX-pvs are mounted in OKD as uid=99,gid=99 with 755 permission, so the pod has no write-permissons

solution might be to to support g+rwx mounts as default, then
[code]
could be used?
sorry.. I am too far

[2021-01-24 12:05] jwklijnsma commented on #1831
And 3 you add the oauth-proxy to the longhorn-ui.yaml is that safe ?

[2021-01-24 18:05] jwklijnsma commented on #1831
@chrisu001 is your machine set config correct i test on okd 4.6 but getting this error error: error parsing fix-longhorn.yaml: error converting YAML to JSON: yaml: line 6: did not find expected node content

[2021-01-25 02:27] cclhsu commented on #2033
Have update/add manifest for iscsi/nfs (#2210, #2211).  I am currently exploring using helm installation.

[2021-01-25 04:16] shuo-wu commented on #2204
It seems that the replica of the volume was wrong (Longhorn cannot check [the replica status](https://github.com/longhorn/longhorn-engine/blob/783624ce3a4829b1162eb74f8736b1b4fcd13ae6/pkg/replica/replica.go#L1146) or [the related disk status](https://github.com/longhorn/longhorn-engine/blob/783624ce3a4829b1162eb74f8736b1b4fcd13ae6/pkg/replica/replica.go#L1134))  then the error message cannot be un

[2021-01-25 04:50] chrisu001 commented on #1831
@jwklijnsma  remove the line
[code]
this is an extension of my helm chart toolkit template

Adding an oauth-proxy as a sidecar container is possible and safe, yes. Pls refer to the documentation of OKD. Maybe I'll find the time to write some gists

[2021-01-25 06:21] tabnul commented on #2179
thanks i miss information about why they failed but if it happens again i will troubleshoot.

[2021-01-25 06:21] #2179 closed

[2021-01-25 08:43] shuo-wu commented on #1918
Close this issue since the above tests do not fail in the recent nightly test.

[2021-01-25 08:43] #1918 closed

[2021-01-25 09:43] rbq opened #2212 "[Question] Restoring from multiple replicas?"
Hi, I have 5 leftover replicas on disk that belong to a volume that was deleted accidentally. Those replicas are results of hosts being rebooted and Longhorn not cleaning up after they came back online. One of the replicas can be mounted following the single-replica recovery instructions, but the data is quite outdated. The other replicas time out or produce errors.

My question: Is there any othe

[2021-01-25 10:54] Blackclaws commented on #2204
I've since rolled back the underlying filesystem and the cluster to the last snapshot which restored functionality unfortunately also means I can't check the logs of the instance manager now.

I'll try the solutions you mentioned if the issue pops up again. Unfortunately I must use spinning disks in this case as these are persistent volumes used for cloud storage and thus are too large for our SSD

[2021-01-25 15:44] Born2Bake commented on #1831
How do you guys add disks to the nodes though? via MachineConfig?

[2021-01-25 16:35] antonum opened #2214 "[ENHANCEMENT] Change VolumeSnapshotClass API version to v1 from v1beta1 in documentation"
**Describe the bug**
Volume snapshot is now a released API. Version needs to be changed in documentation example:

Latest k8s documentation: https://kubernetes.io/docs/concepts/storage/volume-snapshots/
Longhorn doc with the old syntax: https://longhorn.io/docs/1.1.0/snapshots-and-backups/csi-snapshot-support/enable-csi-snapshot-support/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-01-25 17:16] #1991 closed

[2021-01-26 01:38] khushboo-rancher commented on #2193
Validate with longhorn-ui:master `01/25/2021`

Validation : **Pass**

The sorting based on the size is working fine.

[2021-01-26 01:38] #2193 closed

[2021-01-26 01:54] yasker commented on #2214
@joshimoo Is there a reason we're using v1beta1? Or we're safe to change it to v1.

[2021-01-26 05:29] shuo-wu commented on #2208
The simplest reproducing step:
- Add a random disk (even if the data path is invalid) with `Eviction Requested = True` and `Scheduling = False`.

This is a Longhorn bug, we will fix it in the next release.

The current workaround of this issue:
1. Set the `spec.evictionRequested` to false for the newly added disk on the Longhorn node:
[code]
2. Directly delete all longhorn manager pods that are in

[2021-01-26 05:54] munjalpatel commented on #2203
Folks, I would really appreciate some help here. We really want (need) to use `longhorn`.

However, this issue is significant since it completely prevents autoscaler to scale down.
We have a large cluster where proper functioning of autoscaler is vital for cost optimization and has significant material impact on business. I am fairly sure as more folks start utilizing amazing powers of longhorn, t

[2021-01-26 17:01] khushboo-rancher commented on #2136
I tried reproducing the problem but couldn't reproduce it.
Verified with `longhorn-ui:v1.1.0-rc3`.

Steps to reproduce the issue.
1. Create a cluster `k8s-v1.19.7` of 4 nodes (1 etcd/control plane, 3 worker).
2. Disable IPv6 on all the nodes
[code]
3. Deploy Longhorn v1.1.0-rc3, Longhorn-ui with nodeport.
4. Set up an external nginx server and access UI.

@dhoard @vassilvk Could you please let us

[2021-01-26 17:19] dhoard commented on #2136
@khushboo-rancher answers...

1. IPv6 disable via editing /etc/default/grub...

`GRUB_CMDLINE_LINUX_DEFAULT="ipv6.disable=1"`

... and then...

`update-grub`

2. Ubuntu 20.04.1 LTS

3. ingress using Nginx

[2021-01-26 17:25] #1756 closed

[2021-01-26 17:25] #1838 closed

[2021-01-26 17:25] #2001 closed

[2021-01-26 17:34] shuo-wu commented on #2206
### The way to control latency
1. Use the following script to create a delayed target via  `dmsetup` (Ref: https://enodev.fr/posts/emulate-a-slow-block-device-with-dm-delay.html):
[code]
2. Run `fio` tests to verify the latency
3. Mount the corresponding disk `/dev/dm-0` to a mount point then introduce the mount point on Longhorn Node page

@PhanLe1010

[2021-01-26 19:13] PhanLe1010 commented on #1741
The failed test https://github.com/longhorn/longhorn/issues/1741#issuecomment-758304030 is related to the issue https://github.com/longhorn/longhorn/issues/2045

We need to investigate why manually running `sudo yum install iscsi-initiator-utils ` works but when use the installation daemonset, Longhorn was able to install but cannot attach volumes.

[2021-01-26 19:14] PhanLe1010 commented on #2178
We need to create a doc this discussion

[2021-01-26 19:24] PhanLe1010 commented on #2212
@rbq

Did you try to use `fsck` command to try to repair those replicas

Unfortunately, there isn't

Btw, you can use the [Longhorn's backup feature](https://longhorn.io/docs/1.1.0/snapshots-and-backups/backup-and-restore/set-backup-target/) so you can easily get your data back if this problem happens in the future.

[2021-01-26 19:54] PhanLe1010 commented on #2198
The `NO_PROXY` environment variable is not reset until the next time Longhorn manager access the backupstore. It causes the Longhorn system to crash if the `NO_PROXY` environment variable set to wrong value.

We might want to consider not to set the `NO_PROXY` environment variable directly in the Longhorn manager process but in the child engine process when access backupstore

[2021-01-27 01:14] c3y1huang commented on #2121
This seems to be more towards a rancher UI issue.

Observed that the payload passed from rancher UI include both old and new `answers` key values. This confused helm in rancher and caused panic.
![Screenshot-2021-01-26-18:49:54](https://user-images.githubusercontent.com/22583541/105927776-a1681c80-607f-11eb-87ad-6384c57f6c62.png)

A quick workaround could be to pass the changes as the YAML file th

[2021-01-27 01:31] yasker commented on #2200
@jenting The chart PR should be made against `longhorn/longhorn` for the upcoming release branch, which is `v1.1.1` at the moment.

Ref: https://github.com/longhorn/longhorn/wiki/Repositories-for-contribution-guideline

[2021-01-27 01:42] yasker commented on #1695
Done.

[2021-01-27 01:42] #1695 closed

[2021-01-27 01:57] jenting commented on #2200
Thank you for the explanation.

If I guess correctly, the `v1.1.1` branch will be merged into the master branch after release, right?
Or should I create separate another PR for the master branch?

[2021-01-27 02:03] yasker commented on #2200
Yes, `v1.1.1` branch will be merged into `master` branch once it's released. No need to create another PR for `master` branch.

[2021-01-27 02:07] yasker commented on #2121
Thanks @c3y1huang . I saw you already filed a Rancher issue. Let's wait for the response to the issue before proceeding.

Move the issue to Icebox.

[2021-01-27 02:11] yasker commented on #2088
@Bwvolleyball Longhorn depends on Kubernetes's DNS to resolve the DNS name. Can you check if you can resolve the NFS DNS name in other Kubernetes pods?

[2021-01-27 02:13] PhanLe1010 commented on #2206
Initial test result:

**Environment:**
 - Longhorn version: v1.1.0
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version: RKE with Kubernetes v1.19.7
   - Number of management node in the cluster: 1
   - Number of worker node in the cluster: 3
 - Node config
   - OS type and version: Ubuntu 16.04.4 LTS
   - CPU per node: 2
   - Memory per node: 8GB
   - Disk type(e.g. SSD/NVMe): EBS volume

[2021-01-27 02:50] Bwvolleyball commented on #2088
Yes, I am able to resolve that DNS name / service in other pods.

[2021-01-27 03:10] yasker commented on #1691
Reassign to @PhanLe1010 since he is working on #2206 , so he needs to measure the minimal IOPS requirement.

[2021-01-27 03:12] yasker commented on #2088
@Bwvolleyball That's weird. What does `nslookup` say inside the pod? does it return the same result as ping?

[2021-01-27 03:42] jenting commented on #2198
I tried to reproduce the Secret does not refresh by longhorn-manager with changing the value of AWS_ACCESS_KEY_ID or AWS_SECRET_ACCESS_KEY. With changing wrong values on it, taking backup with failed on an invalid credential.

The issue would be more accurate related to `NO_PROXY` setting rather than the whole secret doesn't refresh in longhorn-manager.

[2021-01-27 06:29] jenting commented on #1955
From the AWS SDK, the default time is 30 seconds https://github.com/longhorn/backupstore/blob/18aa87a/vendor/github.com/aws/aws-sdk-go/aws/session/cabundle_transport.go#L17
From the issue reported, the longhorn version is `1.0.0` which means that the list operation can't be fulfilled with 30 seconds.

At longhorn release `1.1.0`, we add retry count to `3` https://github.com/longhorn/longhorn-engin

[2021-01-27 06:53] shuo-wu commented on #2206
Notice that the block size you are using is 1K, which may not be able to overwhelm the disk io. And the node CPU maybe not enough, either.

[2021-01-27 09:45] joshimoo commented on #2203
@munjalpatel please ensure you use always available dedicated storage nodes, if you plan on dynamically adding/removing nodes from your cluster. See for how to set this up: https://github.com/longhorn/longhorn/issues/2203#issuecomment-764836290

For the moment you can use the workaround posted by @drewhemm here: https://github.com/longhorn/longhorn/issues/2203#issuecomment-765224243

To allow auto

[2021-01-27 09:51] #2195 closed

[2021-01-27 09:59] joshimoo commented on #2214
There currently is no difference between V1 and beta both are still stored as beta.
https://github.com/kubernetes-csi/external-snapshotter#snapshot-v1-apis

V1 more or less requires the usage of a validation webhook, which should be the responsibility of the distribution to provide.
But currently for example k3s does not ship with either of the snapshot controllers.
Which means we have to look int

[2021-01-27 12:01] rbq commented on #2212
Is that something I can do at rest, if the container running `launch-simple-longhorn` won't even create a device?

[2021-01-27 13:07] drewhemm commented on #2203
Hi @munjalpatel, I am working on a fork of kube-annotate, which we will use to workaround this issue:

https://github.com/footprintmediaits/kube-annotate/tree/refactor-k8s-1.18

Will post back here once it is ready for use. There were some [issues](https://github.com/chickenzord/kube-annotate/issues/1) in the original repo, plus the code was outdated and not working with more recent versions of k8

[2021-01-27 15:05] aarlint commented on #538
longhorn-manager is going up to our set limit of 200m and stays there.  Only seems to increase on nodes that are running pods with PVs. If we let it it would eat up to 600m cpu... not sure what to do.

[2021-01-27 15:09] drewhemm commented on #2203
Well this is highly frustrating! We have got `kube-annotate` working, so that it adds the necessary annotation to the `instance-manager-e` pods:

[code]

...but now we hit the pod disruption budget - there is one created for each pod:

[code]

[code]

I must ask again: why are these deployed as bare pods instead of using a daemonset?

[2021-01-27 18:07] Xenwar commented on #2062
@yasker Any update on this ?

[2021-01-27 18:42] joshimoo commented on #1500
Leaving a note.
@PhanLe1010 is currently investigating, using longhorn with spinning disks.
https://github.com/longhorn/longhorn/issues/2206

[2021-01-27 18:57] joshimoo commented on #2171
Similar to the terraform issue, linking for reference: https://github.com/longhorn/longhorn/issues/2120

[2021-01-27 20:42] joshimoo commented on #2192
@FranEva You can use the iscsi frontend to use the volumes across clusters.
https://longhorn.io/docs/1.1.0/advanced-resources/iscsi/
But it's much nicer and better to use longhorn in the same cluster as the workloads.

The pods can be dynamically scheduled, but kubernetes can decide to schedule the pod to the same node :)
On the other hand if you try to use an RWO volume from 2 different nodes at

[2021-01-27 20:56] yasker commented on #1917
On today's code review session with @PhanLe1010 and @joshimoo , we found the write behavior of the Longhorn engine is different from what I expected before.

https://github.com/longhorn/longhorn-engine/blob/783624ce3a4829b1162eb74f8736b1b4fcd13ae6/pkg/controller/multi_writer_at.go#L55

This line returns an error even when only one replica failed to write, which will prompt the workload to retry th

[2021-01-27 22:39] drewhemm commented on #2203
Okay, I managed to resolve this. I modified the [generateInstanceManagerPDBManifest function](https://github.com/longhorn/longhorn-manager/blob/f77e4949cf16f72adaf885fc1c89cf1eeb6a1788/controller/instance_manager_controller.go#L617) to set the `minAvailable` for the `instance-manager-e` pods to 0:

[code]

[code]

In conjunction with kube-annotate, this allows CA to remove the nodes hosting these

[2021-01-27 23:01] drewhemm commented on #2203
PR: https://github.com/longhorn/longhorn-manager/pull/823

I also found where the annotations are defined for the instance-manager pods:

https://github.com/longhorn/longhorn-manager/blob/f77e4949cf16f72adaf885fc1c89cf1eeb6a1788/controller/instance_manager_controller.go#L818

[code]

Would it be acceptable to add the CA annotation here for [compatibility](https://github.com/kubernetes/autoscaler/b

[2021-01-27 23:44] drewhemm commented on #2203
PR that includes setting the annotation directly within longhorn instead of using kube-annotate:

https://github.com/longhorn/longhorn-manager/pull/824

[code]

I understand this may be more controversial than the PR that merely adjusts the PDBs as this one explicitly provides full support for CA.

[2021-01-28 02:29] c3y1huang commented on #1526
Currently, I have no permission to create IAM roles with my SUSE  account. The permission needs to be sorted first before I can progress the investigation.

[2021-01-28 02:47] innobead commented on #1526
Let's raise to SUSE Eng IT to see how it will work. Move it to icebox first, then triage later.

[2021-01-28 09:18] PhanLe1010 commented on #2171
@ikaruswill
I read the support bundle but have't found anything abnormal yet.

One question, when you say `the active nodes are power-cycled one-by-one for hardware upgrade`, did you upgrade Kubernetes version?

[2021-01-28 09:27] joshimoo commented on #2203
@drewhemm we discussed some of this last night, is it possible to configure the cluster autoscaler to cordon and drain the node before the check?

Do you have to do anything with the workloads before the cluster autoscaler removes the nodes?
Or does it just delete the node + all resources?

We do want to support cluster auto scaling, so we are looking into how the autoscaler works to get a better

[2021-01-28 09:32] PhanLe1010 commented on #2203
Too add to @joshimoo comment, the reason we need to use `poddisruptionbudget` protect engine manager pod from being deleted when there are volume engines inside it was because this issue https://github.com/longhorn/longhorn/issues/1631#issuecomment-687055380

[2021-01-28 10:14] ajjo-tech opened #2217 "Kasten-io and Longhorn CSI, snapshotting not working."
**Describe the bug**
Im using the Kasten-io backup software in order to backup my apps. However when it comes to a app with an pvc connected to it the backup doesnt finish. I can see that Kasten creates a Volumesnapshot per pvc in the app.
But after that nothings happends and the backup keeps going until i stop it by deleting the namespace.
So my question is there anything with Longhorn creating t

[2021-01-28 11:02] ajjo-tech commented on #2217
Sent an link with the support bundle to the longhorn-support-bundle@rancher.com.

[2021-01-28 11:10] ikaruswill commented on #2171
Hmm I did not upgrade kubernetes version. I only upgraded the power supplies, which should be inconsequential to the cluster. Weird.

[2021-01-28 14:37] timmy59100 commented on #1955
@jenting Still the same after upgrade to 1.1.0.
It's critical if we can't restore any volumes.

[2021-01-28 15:29] lucky4ever2 opened #2218 "[BUG] Self-Hosted Minio-Backupstorage - timeout during Backup"
**Describe the bug**
I have longhorn 1.1.0 on Rancher 2.5.1 and a self-hosted minio backupstorage. When I do a backup in Longhorn, it sometimes happens that minio displays a timeout error.
The "Snapshots and Backups Longhorn" view shows that a backup was carried out. When I click on "Backup" in the Longhorn UI, the last backup is not available.

**To Reproduce**
Manual or automatic backup to minio

[2021-01-28 15:38] yasker commented on #2152
Remember to update the chart too. The automation bot has been updated to contain the questionnaire regarding the chart and yaml update.

[2021-01-28 15:39] yasker commented on #2205
The backend has been merged at https://github.com/longhorn/longhorn-manager/pull/818

[2021-01-28 16:54] joshimoo commented on #2218
possibly related https://github.com/longhorn/longhorn/issues/1955

[2021-01-28 17:54] osddeitf commented on #1815
+1
I need to switch from local-path volumes (default in K3S), too.

[2021-01-28 20:31] lucky4ever2 commented on #2218
Thank you for your feedback.
I think it has nothing to do with #1955. If the backups are successful, I will also see them.
I think it has something to do with #1967
In this ticket are exactly the logs that are displayed to me. Instead of `read: connection reset by peer` is at the end for me `connect: connection refused`.
My problem is that I don't know exactly in which constellation the error occu

[2021-01-28 20:33] ishankhare07 opened #2219 "How to setup Google cloud storage as Backup Target"
I think the backup target section in the docs doesn't really document the GCS setup in entirety.
I'm able to set the correct URI using `AWS_ENDPOINTS: <base_64 for https://storage.googleapis.com>`.
But I still get the error
[code]

**Environment:**
 - Longhorn version: 1.0.2
 - Kubernetes version: 1.19
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): Digital Ocean

f

[2021-01-28 20:36] ishankhare07 commented on #1423
May I know how we can set GCS as the backup target?

[2021-01-28 21:53] PhanLe1010 commented on #2152
Updated the chart at https://github.com/longhorn/longhorn/pull/2220

[2021-01-28 22:41] krisko commented on #2015
Hi, the top pods/nodes shows only small numbers, the pods are not using much resources.
To answer your second question, I used only one raspberry pi node for POC, whether LH and other application can be used on arm architecture with given HW.

Today I had to reboot the cluster and again, few LH volumes ended in state Failed. Salvage did help to recover them, but starting pods were stuck in attach/

[2021-01-28 22:46] joshimoo commented on #1815
We currently don't support volume cloning, but for data migration we have an example kubernetes job that you can modify to copy the data from the local-path volume to the new longhorn volume.

https://github.com/longhorn/longhorn-manager/blob/master/examples/data_migration.yaml

[2021-01-28 22:51] joshimoo commented on #2015
@krisko are you able to supply a full longhorn support bundle from this cluster.
Do you only have this issue with RWX volumes? Any reason you are using an RWX volume in a single node cluster?

[2021-01-28 23:30] michaelandrepearce commented on #2192
Sounds like a nice idea though to be able to pool all your disks from host across different clusters so you have a global storage pool than can then be taken from so that you get better disk utilisation.

[2021-01-28 23:33] krisko commented on #2015
@joshimoo I use RWX volumes for pods, because they are running on multiple nodes. I've update my cluster to 3 nodes, as the POC was successful. I cannot tell whether this is connected to RWX volumes or not, as currently all my volumes are RWX :)

[longhorn-support-bundle_f915b513-bf53-4eec-bc4d-e00b5fa3a200_2021-01-28T23-24-43Z.zip](https://github.com/longhorn/longhorn/files/5890603/longhorn-suppo

[2021-01-28 23:37] pwl0lwp commented on #1770
Can I suggest that this be "fixed in docs" as a first step ? - mentioning that the screen may need to be resized to see all columns might at least help prevent people getting lost (since this is supposed to be an "easy to use" tool)

As a total n00b it wasn't clear to me that there was this additional column even though my browser window was very wide.

[2021-01-28 23:57] ElisaMeng opened #2221 "[Question] why it takes forever to delete snapshots?"
**Question**

**Environment:**
 - Longhorn version:
 - 1.1.0
 - Kubernetes version: 1.19
 - Node config
   - OS type and version: k3os
   - CPU per node: 48
   - Memory per node: 256G
   - Disk type: 10K sas
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal):

**Additional context**
Add any other context about the pr

[2021-01-29 00:58] bathina2 commented on #2217
@ajjo-tech could you send us the Kasten debug logs as well? We could take a look. https://docs.kasten.io/latest/operating/support.html#gathering-debugging-information

[2021-01-29 01:55] yasker commented on #2171
We will try to reproduce the issue with fluxcd first.

[2021-01-29 02:29] osddeitf opened #2222 "[BUG] Volume expansion through CSI results in Faulted volume"
I'm trying to move my K3s cluster from using `local-path` StorageClass to `longhorn`.
It felt like to try the CSI volume expansion.
I stopped my Prometheus pod, wait for PVC state to Detached, then edit PVC storage from `20G` to `25G`.
The PVC reported immediately that Resize success, but I could not able to start my Prometheus pod again.
With error like:
[code]

Then I see in Longhorn UI that my

[2021-01-29 02:47] PhanLe1010 commented on #2062
The [Pr](https://github.com/kubernetes/kubernetes/pull/96876) has been merged into Kubernetes v1.21 but v1.21 is not out yet

There are 2 cherry-pick PRs fix for Kubernetes [v1.19](https://github.com/kubernetes/kubernetes/pull/98140) and [v1.20](https://github.com/kubernetes/kubernetes/pull/98168) but they haven't been merged yet.

[2021-01-29 02:55] PhanLe1010 commented on #2217
@ajjo-tech

Can you try 2 things:

1. Go go longhorn Ui and take a backup manually. If it fails, we need to check the backup store
2. Follow the steps in the [docs](https://longhorn.io/docs/1.1.0/snapshots-and-backups/csi-snapshot-support/create-a-backup-via-csi/), to manually create a snapshot using kubectl. If it fails we need to check CSI snapshot components

If both of the above are ok, then i

[2021-01-29 03:01] shuo-wu commented on #2212
What's the error result when you running `launch-simple-longhorn` with one data directory?

In theory, Longhorn doesn't care about the data inside the replica. And a volume can be created as long as the directory/file organization and the metafiles are correct inside the data directory. Can you check if the files inside the data directory you are using are similar to the following?
[code]
[code]

[2021-01-29 03:16] shuo-wu commented on #538
@aarlint I guess you want to set a `limit` for the pod but actually set a `request`. If you want to limit the max cpu the worload will use, you need to set `spec.containers[].resources.limits.cpu`.

https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#requests-and-limits

[2021-01-29 03:18] ikaruswill commented on #2171
@yasker @PhanLe1010 Thanks for the attention on this issue so far.

Since fluxcd is now moving to fluxv2, this issue might not be relevant in the near future.

I'm thinking if we're not able to reproduce this on your side, we can close this issue and reopen if this happens again on either fluxv2, or in a future power outage on my cluster.

[2021-01-29 03:37] shuo-wu commented on #2218
1. What's the CPU/Memory usage of Minio workloads?
2. Notice that the network bandwidth in your cluster is 1Gi, which may be not enough when there are multiple volumes r/w or backup at the same time.
3. Longhorn implements the file lock mechanism which can avoid the potential conflicts caused by creating and deleting backups for a volume simultaneously. And based on the message you provide, the er

[2021-01-29 04:05] yasker commented on #2192
Longhorn is designed to work within the cluster, so it would be hard to identify the disks outside the cluster. Also, we need to make sure the connection between the nodes is good enough for data transfer, which will also be a problem.

[2021-01-29 05:28] huang12zheng commented on #2170
Sorry for not replying
I have get it. thank you.
I would close it and sub #2033

[2021-01-29 05:28] #2170 closed

[2021-01-29 06:02] aarlint commented on #538
I think I was unclear. I am setting a cpu limit and that works... but I’m not sure what I’m throttling when I do.
The default cpu request for longhorn manager is 20m but in our case the longhorn manager takes 500m if/when we don’t set a cpu limit.  Is that normal? What is the longhorn manager doing?

[2021-01-29 06:33] jenting commented on #1955
@timmy59100 could you please provide the ping latency between your LH cluster to the S3 provider?

[2021-01-29 06:54] benqwu opened #2223 "[Question] sharding between the different disks"
**Question**
Currently longhorn recommends using lvm to use multiple disks inside the node, but there is a problem. As long as any one of the disks is damaged, all data on the node will be invalid.
I saw a feature that is "Sharding across different disks." mentioned in the longhorn roadmap. I am very interested in this.
1. Relying on this feature, if any disk fails, can it not affect the data on o

[2021-01-29 07:33] #2109 closed

[2021-01-29 08:37] jenting commented on #1955
In my testing
- 3 control plane nodes & 3 worker nodes. Each node with 50G SSD and 4 CPUs and 8G memory
- create 50 volumes and run a recurring backup every 5 mins at all volumes.

If the ping latency from LH cluster to the minio server more than 315ms, click "Backup" on GUI displays **timeout** error.
From the LH manager log, I found that all volumes get at once without pagination.

Therefore, on

[2021-01-29 09:01] jenting commented on #1955
In my testing
- 3 control plane nodes & 3 worker nodes. Each node with 50G SSD and 4 CPUs and 8G memory
- create 50 volumes and run a recurring backup every 5 mins at all volumes.
If the ping latency from LH cluster to the minio server more than 315ms, click "Backup" on GUI displays **timeout** error.

[2021-01-29 09:41] timmy59100 commented on #1955
@jenting If I just ping the S3 interface it's under 1ms.
Can I measure this s3 specific?

[2021-01-29 09:50] ajjo-tech commented on #2217
@bathina2
Sure thing here is the Kasten Debug logs.
[k10_debug_logs.txt.gz](https://github.com/longhorn/longhorn/files/5892895/k10_debug_logs.txt.gz)

@PhanLe1010
1. backup and snapshotting in the Ui seem to work, but running kubectl get volumesnapshot --all-namespaces gets me no resources.
Might be mistaken here but shouldnt that snapshot or backup show?
2. creating snaps with kubectl works like

[2021-01-29 10:00] joshimoo commented on #2223
Currently a replica is a full copy of the volume. The default installation has a replica count of 3 so each volume is backed by 3 replicas. Which will be scheduled on different nodes/disks in the cluster.

In this scenario if a replica fails (node/disk failure) the replica can be rebuild on a new node/disks based on the state of the 2 other healthy replicas.

[2021-01-29 10:13] joshimoo commented on #2222
Can you attach a support bundle, you can create this via the longhorn-ui at the bottom.

[2021-01-29 10:16] joshimoo commented on #2221
Are you able to provide additional details about the specific scenario you are facing?
- How many nodes/volumes/snapshots?
- Why was a rebuild necessary?

Are you able to attach a support bundle?

[2021-01-29 10:48] iangregsondev opened #2224 "[Question] Auto attach volume to another node when the current attached node disappears or gets destroyed ?"
**Question**

Hi, I am using DigitalOcean and the nodes can be recycled or rebuilt at any time. I tested this yesterday evening but didn't get the results I was hoping. I am probably doing it wrong.

In longhorn ui it still states that it is attached to a node that has been destroyed..

![image](https://user-images.githubusercontent.com/2370364/106265419-4c670a80-6227-11eb-8fe8-8bc2b5671599.png)

[2021-01-29 10:58] shuo-wu commented on #538
How many CPU resources the longhorn manager will eat depends on how many volumes and replica in your system. Typically, longhorn managers are responsible for:
1. Create/Update/Delete the custom resources (CRs. e.g., Longhorn volumes) defined by Longhorn.
2. Dynamically Launching some Longhorn workloads
3. Handling volume recurring jobs
......

https://longhorn.io/docs/1.1.0/concepts/#11-the-longho

[2021-01-29 11:02] joshimoo commented on #2224
Can you attach a support bundle, you can create this via the longhorn ui.
Was the old node removed from kubernetes `kubectl get nodes`

[2021-01-29 11:44] iangregsondev commented on #2224
Hi, thanks for the quick response. Yes the node was removed from kubectl, it was destroyed and another recreated in its place

NAME                     STATUS   ROLES    AGE    VERSION
pool-rndlabs-old-39kgm   Ready    <none>   119m   v1.19.3
pool-rndlabs-old-39kl5   Ready    <none>   69m    v1.19.3
pool-rndlabs-old-39krt   Ready    <none>   141m   v1.19.3

attached is the support bundle. ( I zipp

[2021-01-29 12:34] ElisaMeng commented on #2221
Hi @joshimoo, we decide to take some nodes offline to performan hardware maintenance, so we disable schedules
 on those nodes, evict replicas from them.  Eviction procedure trigger rebuild. That went well but it take unacceptable time to cleanup after replica is relocated to other nodes.

It is unlikely the volume number matter here, since evicting 20-30 or a single replica seems behave the same:

[2021-01-29 13:34] iangregsondev commented on #2224
I did another quick test, same as before, but I detached the volume as it says it was attached to a node that no longer exists.

I re-attached it to a good node, and then all the replicas started up and everything was working again, healthy, 3 nodes - all good.

So now to repeat the process ( I am trying to feel certain that the volume re-attached to another node - because this test I am doing is

[2021-01-29 15:40] joshimoo commented on #2224
@yasker This is most likely a bug on our end, I didn't have time to do a deep dive just yet.
But the manager keeps spamming the log with the below, which makes me think that we are failing to cleanup some resources/relationships.

[code]

[2021-01-29 16:31] aarlint commented on #538
If I don’t put a hard limit their cpu usage goes up to over 500m which really impacts node performance.  The requested cpu is 20m in the standard install, so I thought they should use much less than 500cpu constantly.

[2021-01-29 17:00] FCarvMobil commented on #2029
Hi @shuo-wu , hope you're good. Sorry on this late answer, really busy after one team member departed early this month.

1. The buffer/cache is at the OS standard, I didn't make any adjustments.
2. I've done with dd. Results at the attachment 'longhorn-issue2029-dd-test.txt' with a few names redacted, references maintained.
[longhorn-issue2029-dd-test.txt](https://github.com/longhorn/longhorn/file

[2021-01-29 20:40] PhanLe1010 commented on #2217
@ajjo-tech

Yes, it is expected by design, snapshot/backup taken in UI will not have the corresponding volumesnapshot CR in Kubernetes

![image](https://user-images.githubusercontent.com/62011862/106259668-d4e1ad00-621f-11eb-9a06-833812f18df1.png)

No, this picture doesn't look good. You can see that `READYTOUSE`, `SNAPSHOTCONTENT` are empty . Did you make sure that the require components are inst

[2021-01-29 20:40] timmy59100 commented on #1930
@yasker How is the status of this issue?
Because we have random failed replicas which seriously hurts the cluster health.

Also the prometheus pod from rancher monitoring 2.4 gets read only and is not deleted like the other pods.

[2021-01-29 22:57] joshimoo commented on #2011
We want to look into this cgo and dns resolver issue as part of https://github.com/longhorn/longhorn/issues/1768

[2021-01-29 23:02] joshimoo commented on #2008
@PhanLe1010 Is updating the snapshot retain quantity possible now that we are using a config map to generate the storage class?

[2021-01-29 23:06] joshimoo commented on #2197
Just an additional note, this is only a problem when ipv6 is disable via the bootloader.
GRUB_CMDLINE_LINUX_DEFAULT="ipv6.disable=1"

Dynamically disabling it via sysctl will allow for the system to operate correctly.

[2021-01-29 23:06] joshimoo commented on #2136
Same root cause as the ganesha issue here https://github.com/longhorn/longhorn/issues/2197
This is only an issue when ipv6 support is disabled via the bootloader.

[2021-01-30 16:21] itscaro commented on #2163
Sorry for the late update, after debugging I found the root error, which is a missing library `/usr/lib/libopeniscsiusr.so.0.2.0`

Thank you for your time.

[2021-01-30 16:21] #2163 closed

[2021-01-31 09:46] budimanjojo opened #2225 "[BUG] longhorn-csi-plugin CrashLoopBackOff"
**Describe the bug**
This is a newly installed k3s embedded etcd HA with 3 master nodes and no worker node (with --disable traefik and servicelb). I only installed kube-vip and metallb, nothing else.
I do `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/deploy/longhorn.yaml` and nothing else. All the requirements listed in the documentation is fulfilled.
[code]
**Log**

[2021-01-31 14:49] joshimoo commented on #2225
Looks like the csi-driver is unable to communicate with the longhorn-backend.
can you post the output of the 2 below commands:
`kubectl get services -n longhorn-system`
`kubectl get endpoints -n longhorn-system`

Besides the above it also looks like your longhorn-manager on node3 is missing.

[2021-01-31 16:32] budimanjojo commented on #2225
Thanks but I just reinstalling longhorn and now I can't even get pass longhorn-driver-deployer initcontainer step.
[code]
[code]
[code]
[code]
I'm very confused now. Sorry the above longhorn-manager on node 3 was available but it was just cut out while copying.

[2021-01-31 16:39] budimanjojo commented on #2225
Maybe this'll help too.
[code]
All the longhorn manager pods end with dial tcp: i/o timeout error.

[2021-01-31 17:51] runningman84 opened #2226 "[BUG] s3 backup net/http: invalid header field value "AWS4-HMAC-SHA256""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. install k3os cluster
2. install longhorn chart version 1.1.0
3. setup aws credentials secret for s3 backup
4. See error

**Expected behavior**
Listing backups should work just fine.

**Log**
If applicable, add the Longhorn managers' log when the issue happens.
[code]

You

[2021-01-31 17:53] budimanjojo commented on #2225
I finally managed to fix this problem. It was all because one of my node is not pointing to the same DNS server. I got them all pointing to my router as DNS server and restarted network and k3s services and everything starts to work. Thank you and I'll close this issue now.

[2021-01-31 17:53] #2225 closed

[2021-01-31 19:06] joshimoo commented on #2226
@runningman84 You most likely have an extra newline in the secret elements
Use `echo -n key | base64` to create the secret elements.

[2021-01-31 22:04] runningman84 commented on #2226
Thanks for the quick help! Indeed this was the problem... maybe there could be a better error message in the future...

[2021-01-31 22:04] #2226 closed

[2021-02-01 03:11] jenting commented on #1955
@timmy59100 it would be good if you could measure the s3 by aws s3 CLI

1. Install aws s3 in one of the LH manager pod https://docs.aws.amazon.com/cli/latest/userguide/install-linux.html
2. Configure the s3 credential credential
[code]
3. List s3 objects
[code]

From my testing, if I add a 1-second delay, the list s3 objects operation increase 3 seconds because 3 HTTP operations performed.

[2021-02-01 03:26] shuo-wu commented on #538
20m is the minimum requirement. As I said, the actual resource it will use depends on the volume numbers. I just tried to attach 30 volumes to a node, then the longhorn manager pod on the node eats 300m CPU while other longhorn manager pods use 10m~50m CPU only.
[code]

But if there is a limited amount of volumes attached to the node, and the longhorn manager pod on the node eats 500m CPU, then so

[2021-02-01 04:26] shuo-wu commented on #2029
The disk performance is not bad, it won't be the cause. And based on the test result, the only possibility I can find right now is the `sync` call.

As for the ENV setup, currently there is no APIs or settings in Longhorn to do it. Maybe you can manually update the snapshot/backup cron jobs or Longhorn workloads as the workaround. Be careful that the workloads will be restarted when you update `en

[2021-02-01 06:17] jenting commented on #2198
IMO, this behavior is expected. So, should we need to continue addressing this issue?

[2021-02-01 08:18] ajjo-tech commented on #2217
@PhanLe1010
I corrected the crds and whoopy now the backup and with snapshots is working.
The documentation was a little bit abigious, i changed originally all crds to be in the kube-system namespace.
Recreated them in the default namespace and now its all good.

Thanks a bundle for the input and the insights.

[2021-02-01 08:34] jenting commented on #2183
According to https://github.com/longhorn/longhorn/issues/1955#issuecomment-769674121, I would like to add pagination support for the _backup page_ to prevent S3 timeout because the backend would get all information backups at once.

[2021-02-01 09:30] lucky4ever2 commented on #2218
1. I have a HyperV VM with 8vCore and 8GB RAM
2. In our monitoring system, the utilization of the VM and the network is very low.
3. I also think it's because of minio.
4. If possible, I would try it first without a support bundle

[2021-02-01 10:16] timmy59100 commented on #1955
real    0m0.739s
user    0m0.528s
sys     0m0.077s

[2021-02-01 11:19] Nemer-Naamneh commented on #918
is this supported in v1.1.0?

[2021-02-01 16:08] VladoPortos commented on #265
@taxilian this is how I did it.

I have created new volume claim using yaml file ( but doing it in web gui should work the same )
than in the gui go to volumes, and on the right click attach and choose node.

Than go to that node and do as root fdisk -l you should see something like this:

[code]

You are looking for VIRTUAL-DISK and check the size just to be sure it match the one you created.

No

[2021-02-01 16:27] joshimoo commented on #265
@VladoPortos @taxilian there is a simpler way you can use the [data migration example](https://github.com/longhorn/longhorn-manager/blob/master/examples/data_migration.yaml)

To create a job that copies that from an existing data source (pvc) this can be a host path if you have the data on the host device.
There is a little bit of explanation of the job script [here](https://longhorn.io/docs/1.1.0

[2021-02-01 17:17] excieve commented on #1877
@yasker We just had another instance of this issue. It seems the mount is still there for our deployments of `longhorn-manager` with Longhorn v1.1.0 (upgraded from v1.0.2), installed through a Rancher app. Is there something extra we need to do about it?

The `longhorn-manager` DaemonSet looks like this:
[code]

[2021-02-01 17:17] lucky4ever2 commented on #2029
I have exactly the same problem with a big Volume.

[code]
What do you mean by `And based on the test result, the only possibility I can find right now is the sync call.`?

[2021-02-01 18:53] yasker commented on #1457
@meldafrawi can you try if you can reproduce this issue in v1.0.2? Also in v1.1.0 as well.

[2021-02-01 21:48] yasker commented on #2221
@ElisaMeng Snapshot cleanup is an O(n) operation (n is the size of the replica) since each snapshot in Longhorn is a delta disk. To remove one snapshot, we need to merge the snapshot with its child, to keep the data correct in the volume. So it indeed will take a while for the snapshots to get merged correctly.

You can also refer to https://longhorn.io/docs/1.1.0/concepts/#231-how-read-and-write-

[2021-02-01 21:52] meldafrawi commented on #1457
I was able to reproduce it on `v1.0.2`, however not on `v1.1.0`

Environment:
- Longhorn version: 1.0.2  &&
- Kubernetes version: v1.18.2+k3s1
- Node OS type and version: Ubuntu 18.04.4 LTS

Reproduce steps:
1- Install Longhorn v1.0.2
2- Create statefulset using https://raw.githubusercontent.com/longhorn/longhorn/master/examples/statefulset.yaml
3- Scale up the satefulset to `10`
4- Wait for all v

[2021-02-01 22:17] yasker commented on #1457
@yfoelling @steffeneichler @makdmi Do you still have issues with Longhorn v1.1.0?

[2021-02-01 22:25] yasker commented on #2033
@cclhsu Can you file out the checklist before moving the issue to Merged? Thanks.

[2021-02-01 22:43] yasker commented on #2203
@drewhemm It seems we need to understand how cluster autoscaler works. Longhorn is blocking the deletion for engine instance managers because those are hosting Longhorn engine. If the engines are still running inside those pods, that means the Pods haven't been evicted from the node. So if we forcefully remove the engine instance managers, the workload that's running on the node will crash. So in

[2021-02-01 23:23] drewhemm commented on #2203
There is a FAQ entry for CA in relation to PDBs [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#does-ca-work-with-poddisruptionbudget-in-scale-down):

"Before starting to terminate a node, CA makes sure that PodDisruptionBudgets for pods scheduled there allow for removing at least one replica."

If the LH engine pods' PDBs do not allow for them to be reschedul

[2021-02-01 23:26] drewhemm commented on #2203
I don't think CA has different criteria than `kubectl drain`, it is just that it has criteria for _deciding_ whether to issue to drain command.

[2021-02-01 23:29] yasker opened #2227 "[FEATURE] Record recurring schedule in the backups and allow user choose to use it for the restored volume"
**Is your feature request related to a problem? Please describe.**
Users need to reset the recurring schedule for the volumes that restored from the backups.

**Describe the solution you'd like**
We can support reuse the recurring schedule of the volume from the backup. So if the user lost the previous recurring schedule, it can be easily re-setup using the information from the backup.

**Describe

[2021-02-02 02:45] PhanLe1010 commented on #2008
Yes, it is possible to modify the default storageclass config map
[code]
However, it is not recommended to do so. We recommend creating a new storageclass with the new parameter and use it instead.

[2021-02-02 02:58] PhanLe1010 commented on #2224
@iangregsondev

We checked the support bundle and see that the volume isn't used by any workload pod. Did you attach the volume to node using Longhorn UI? In this case, Longhorn doesn't move the volume to a new node because there is no need to do so (i.e., no workload is using it)

Can use try to deploy a workload ([example](https://longhorn.io/docs/1.1.0/references/examples/#statefulset)) then sh

[2021-02-02 03:02] PhanLe1010 commented on #2217
Can you explain a bit more so we can improve the document? Which part of the document is ambiguous?

[2021-02-02 03:07] shuo-wu opened #2228 "[FEATURE] Find a way to backup and restore Longhorn cluster before v1.2.0"
**Is your feature request related to a problem? Please describe.**
Before Longhorn v1.2.0 and [this feature achievement](), We need to provide a way to backup and restore the cluster using Longhorn as the storage.

**Describe the solution you'd like**
Possible Solution 1:
Use VM snapshot and restore. But this requires taking snapshots simultaneously among all worker nodes.

Possible Solution 2:
1.

[2021-02-02 03:11] shuo-wu commented on #918
YES. You can refer to this doc for more details: https://longhorn.io/docs/1.1.0/advanced-resources/data-recovery/export-from-replica/

[2021-02-02 03:22] shuo-wu commented on #2218
I saw [this comment](https://github.com/longhorn/longhorn/issues/2029#issuecomment-771015711) you put in another issue. Is the cause the same? You can find the more related logs in longhorn manager pods for the error `Post \"http://longhorn-backend:9500/v1/volumes/pvc-dca02b3d-8845-4e35-b4ba-7e004238d70d?action=snapshotBackup\": context deadline exceeded`.

I really suggest generating a support bu

[2021-02-02 03:25] shuo-wu commented on #2029
The call `snapshotBackup` contains a synced snapshot creation and an asynced backup creation. And the main blocking operation of this call is [this sync function during the snapshot creation](https://github.com/longhorn/longhorn-engine/blob/b9e072eb19cfcc27894e10a8e60794c66ca918f8/pkg/controller/control.go#L175).

[2021-02-02 03:30] PhanLe1010 commented on #2198
@jenting Thank you for working on this issue.

I think this is still a problem. I.e., Longhorn system will crash if user set the wrong NO_PROXY for the S3 Backupstore's proxy. I think that Longhorn should only fail to access the S3 Backupstore in this case. All other features should still be able to function.

More specifically, in the current implementation,  when Longhorn access S3 Backupstore,

[2021-02-02 06:25] benqwu commented on #2223
Thank you for your reply. Regarding the feature of "Sharding across different disks.", can you introduce it in detail?

[2021-02-02 07:29] aarlint commented on #538
If this is normal/expected behavior then there isn’t a problem. We weren’t aware longhorn manager’s cpu was tied directly to volume count.

[2021-02-02 07:30] aarlint commented on #538
Thanks for your help!

[2021-02-02 07:43] makdmi commented on #1457
I upgraded to 1.1.0 yesterday from 1.0.2 on the same setup as earlier and no Zombie processes. Thanks

[2021-02-02 08:24] joshimoo commented on #2223
We currently don't shard the data, each replica is a full representation of the data.
Example: you write 1 file of 800 blocks of data to the volume, now each replica contains the same 800 blocks.

[2021-02-02 09:05] benqwu commented on #2223
https://github.com/longhorn/longhorn/wiki/Roadmap
In the above page we can see that future features will include “Sharding across different disks.”. Regarding this feature, are there any design considerations at present? Does this feature refer to sharding one replica's data to different disks in the same node?

[2021-02-02 09:41] AlexDias95 commented on #1516
Any news about this? I have the same problem :/

[2021-02-02 10:45] ElZakariyae commented on #1526
also @here, for security reasons we can't use the AWS credentials, therefore is there any update regarding the solution mentioned above? from my point of view the environment variable is not needed since once the iam role is attached to the instance profile longhorn should access the resources defined in the role policies.

[2021-02-02 12:33] JSN-1 commented on #2228
just a side note
after etcd restore longhorn system is working fine if you make sure to restore old longhorn-disk.cfg on each of the storage nodes.

[2021-02-02 12:38] ElZakariyae opened #2230 "[Question]"
**Question**

Hello,

we are using the longhorn backup solution to keep a copy of the volumes externally and then we realised that the snapshots created by the backup are stored locally the thing that made the nodes volume more and more bigger and that's our main problem.

our question is:

is there a way to self remove the snapshots after the backup succeeded? or maybe have a retention period for

[2021-02-02 12:38] #2230 closed

[2021-02-02 12:40] ElZakariyae opened #2231 "[FEATURE] automatic sucessful backups should only retain the last snapshot"
Hello,

we are using the longhorn backup solution to keep a copy of the volumes externally and then we realised that the snapshots created by the backup are stored locally the thing that made the nodes volume more and more bigger and that's our main problem.

our question is:

is there a way to self remove the snapshots after the backup succeeded? or maybe have a shorter retention period for the s

[2021-02-02 14:42] jenting commented on #2198
My first idea is running a snapshot backup in Kubernetes Job. The environment variable is configured in the Job pod, it won't affect manager pods.

[2021-02-02 15:43] lucky4ever2 commented on #2218
I think I have two related issues.

1. Timeouts occurred in Minio. I wondered where these came from.

2. I rebuilt the Minio backup store. Minio-Docker used to run on a Hyper-V VM. Now Minio runs natively with the Minio server on the vm: https://github.com/minio/minio-service

3. I noticed that the service is more stable than via the Docker container. There were no more timeouts so far.

4. Longho

[2021-02-02 17:40] iangregsondev commented on #2224
Thank you, everyone, I knew it had to be me. I have tested it now and all seems well by creating a storageClass.

Thanks for all your help, excellent support!

I will close this.

[2021-02-02 17:40] #2224 closed

[2021-02-02 19:50] yasker commented on #2223
@benqwu That's a feature we're considering. It's tracked by https://github.com/longhorn/longhorn/issues/1061 . Also, it means sharding across the different disks on the same or different nodes.

[2021-02-02 20:16] yasker commented on #2198
Running the backup job inside another pod still cannot solve the problem with the backup list within the manager. Sounds like we need to look into how to set the environment variable precisely for the engine process first.

[2021-02-02 23:59] joshimoo commented on #2218
For 6. One cannot create a backup while a delete backup operation on that volume is in progress and vice versa.
To protect the consistency of the backupstore we need to lock concurrent backup&restore against delete operation.
Are your timeouts related to this?

[2021-02-03 00:30] shuo-wu commented on #2218
For the 4 continuous backup creation issue, does the 1st backup creation timeout caused by the MinIO? Since Kubernetes will retry the backup job after the failure, Longhorn will receive 3 more backup creation calls then. And the 1st call timeout means the snapshot & backup creation may be still in progress, the 3 following backup calls will be blocked then get timeout as well.

[2021-02-03 02:06] doug62 opened #2232 "[BUG] Chart/Values.yml:defaultDataPath not utilized/respected"
Please note:

Values.yml:  defaultDataPath: "<a new value>"

Is not implemented in chart:longhorn/daemonset-sa.yaml

      - name: longhorn
        hostPath:
          path: /var/lib/longhorn/

[2021-02-03 04:11] shuo-wu commented on #1628
Maybe we can add a lock to prevent the replica from [being marked as ERR](https://github.com/longhorn/longhorn-engine/blob/1481ab6dd315557d10c7e51081b966b39d694ed0/pkg/controller/control.go#L825) during [the backend removal](https://github.com/longhorn/longhorn-engine/blob/1481ab6dd315557d10c7e51081b966b39d694ed0/pkg/controller/replicator.go#L82).