[2018-08-30 07:32] lnikell opened #270 "Is there any way to set a proper name of volume during Persistent Volume creation?"
I'm using Rancher 2.0.6 and installed longhorn. I have longhorn as a default class and I see it in rancher. When I'm trying to create a new Persistent Volume through the rancher UI, I see the volume in the rancher UI but nothing was created in Longhorn. If I do the same through the command line with the command like this:
[code]

It creates volume in longhorn + I see it in Rancher, but the name of

[2018-08-30 20:48] LLParse commented on #261
I've reproduced the issue where deleting the `longhorn-driver-deployer` Deployment gracefully doesn't delete the underlying driver. We'll have to document some manual steps for 0.3.0 and investigate what the underlying issue is.

[2018-08-30 21:15] yasker commented on #261
Yeah, let's document the step in the Longhorn repo (as /docs/charts.md) and copy (and link) it to the chart.

Also, please file an issue for investigating this.

[2018-08-31 17:12] yasker commented on #270
1. Kubernetes normally delay calling the API until it's necessary. So if you're not using the PV, Kubernetes may not create it.
2. The name of the volume is generated by Kubernetes if you're using storage class. It's out of control of Longhorn. There are a few other occasions you can use self-defined volume name, e.g. if you're using CSI or Flexvolume to create PV directly. See https://github.com/

[2018-08-31 17:12] yasker commented on #269
@lnikell Is this issue solved for you?

[2018-08-31 17:16] lnikell commented on #269
@yasker tricky question :) Yes, I know how to manually remove everything which longhorn can't remove by itself and make it possible to do a second installation successful, but I don't think it's a right behaviour. Bug still exist and I could reproduce same behavior on each new node with second installation and removing longhorn through UI.

[2018-08-31 17:30] yasker commented on #269
@lnikell Yeah, the user shouldn't remove Longhorn from UI. We're updating the instruction for that. In the meantime, let's keep this issue open.

[2018-08-31 17:48] LLParse commented on #269
Ok, we're updating the documentation to fix this. https://github.com/rancher/charts/pull/34/files#diff-c8d360237f0a071006ffcfa8ee382d63R16

Following the instructions should fix any broken deployments. Chart delete behavior is not very controllable right now (we can't trigger a script to run these commands) so we'll have to live with documented steps in Rancher v2.0.8 and earlier.

[2018-08-31 19:16] LLParse opened #272 "Driver deployer cleanup doesn't always complete within its own grace period"
Sometimes, tearing down driver-deployer gracefully will leave some driver workloads behind.

Identified in https://github.com/rancher/longhorn/issues/261

[2018-08-31 19:51] lnikell commented on #269
Thank you, @LLParse!

[2018-08-31 19:51] #269 closed

[2018-08-31 19:54] lnikell commented on #270
Got you @yasker, thanks a lot!

[2018-08-31 19:54] #270 closed

[2018-08-31 22:39] yasker opened #273 "manager: Volume need to wait for all it's sub resources to be cleaned up before clean up itself"
https://github.com/rancher/longhorn-manager/blob/master/controller/volume_controller.go#L281

Currently, we only set the deletion timestamp. The expectation is the other controller will take care of the subresources (engines, replicas, recurring jobs). But from the user perspective, it's confusing since volume can be gone but replicas still exist (during the cleanup process).

Need to change the l

[2018-08-31 22:45] yasker commented on #273
In fact, let's put this aside for now. Not a high priority at the moment.

[2018-08-31 23:57] rootwuj commented on #268
This issue has been fixed.

[2018-08-31 23:57] #268 closed

[2018-09-02 10:52] lnikell commented on #265
@yasker could you get an example please, I think it could be also good to add to some section in the documentation.

[2018-09-03 15:03] JacieChao commented on #267
@yasker According to your reproduce steps, here's the error log I found in csi-plugin. It reported mount error.
[code]
I think this issue occurred when remount the same pvc before it has unmounted from other pod completely.

[2018-09-04 18:34] yasker commented on #265
@lnikell It's quite straightforward in fact. Thinking about how you're going to copy a file to the EBS volume? You create the volume in the UI, attach it to one node using the UI, format it on that node, and mount it on the same node. Then you can do whatever you want with it. After it's ready, umount it from CLI and detached it from UI. It's the same as how you would treat EBS volume.

[2018-09-04 19:36] yasker opened #275 "csi: Kubernetes won't reattach the volume after the reboot"
[code]

Volume is not attached (since Longhorn detaches the volume after reboot), but the volumeattachment doesn't reflect the latest status.
[code]

[2018-09-04 19:37] yasker commented on #275
`ControllerServer ControllerPublishVolume` was called after manually edit the volumeattachment to `attached: false`. And things works after.

[2018-09-04 22:35] yasker commented on #272
Done.

[2018-09-04 22:35] #272 closed

[2018-09-04 22:49] yasker commented on #275
https://github.com/kubernetes-csi/external-attacher/blob/master/pkg/controller/csi_handler.go#L124
https://github.com/kubernetes-csi/external-attacher/blob/master/pkg/controller/csi_handler.go#L319

It looks like the status sync is a one-off operation for now. There is no reconciliation according to the latest status. We need to reattach the volume after reboot in order for CSI plugin to work prop

[2018-09-05 00:42] yasker opened #276 "driver: Update CSI driver to v0.3.0"
Attacher is a deployment in v0.3.0, so it should be able to stand one node down.

Should help https://github.com/rancher/longhorn/issues/199

[2018-09-05 11:57] marcteyssier opened #277 "longhorn-csi-plugin in error on second node"
I using Rancher 2.0.8 and 2 nodes with fresh installation (ubuntu 16.04).

When I enabled Longhorn 0.3 with default configuration. It's ok on the first but the csi_plugin is ko on the second.
I checked the kubernetes log and I have
[code]

I tried with other driver (flexVolume), in another node order (before 2 and after 1), the second node is always in error.

[2018-09-05 15:35] piaohai opened #278 "how to boot from base_image with kvm ?"
![img20180905_232901](https://user-images.githubusercontent.com/1393745/45104031-b87eda80-b163-11e8-9024-932fd69161ea.png)

i have create two block device,  the first from base image Base Image:rancher/vm-ubuntu:16.04.4-server-amd64, when i run kvm with KVM_BLK_OPTS,
export KVM_BLK_OPTS="-drive file=/dev/sdd,if=none,id=drive-disk0,format=raw -device virtio-blk-pci,scsi=off,drive=drive-disk0,id=vir

[2018-09-05 17:59] yasker commented on #278
@LLParse ^^

[2018-09-05 18:01] yasker commented on #277
The error is from Rancher. Can you check using `kubectl` directly to see if the deployment of Longhorn is OK with Kubernetes?

[2018-09-05 18:28] yasker commented on #223
Done.

[2018-09-05 18:28] #223 closed

[2018-09-05 18:29] yasker commented on #223
https://github.com/rancher/longhorn-manager/pull/184

[2018-09-05 18:29] yasker commented on #260
Fixed. Will be released with v0.3.1.

[2018-09-05 18:29] #260 closed

[2018-09-05 19:57] yasker commented on #102
Seems fixed by https://github.com/rancher/longhorn-manager/commit/8dd5e3f709663cd4cc19393ff8e721b37792cf9f

[2018-09-05 19:57] #102 closed

[2018-09-05 21:16] lnikell opened #279 "Update documentation of backup to S3 and minio yaml"
We should have more information about backup to S3 option, because existing docs are not enough to get it up and running.

`kubectl create -f https://raw.githubusercontent.com/rancher/longhorn/master/deploy/backupstores/minio-backupstore.yaml`

- If you run the script above configuration will cause crashing of rancher UI. It should be I guess creation of Deployment rather than a single pod.
- No n

[2018-09-05 21:58] yasker commented on #279
Hi @lnikell

The yaml file is an one-click example. And it should work well. We're running it in our test every day.

1. It should create a pod instead of a deployment. That's by design. Rancher UI may have bugs which cannot make service select one pod instead of a deployment.
2. The namespace is the default namespace, as we assumed in the `AWS_ENDPOINTS`.
3. We need to create two secrets here bec

[2018-09-06 00:59] yasker commented on #66
Now we automatically attach the volume after the node reboot.

[2018-09-06 00:59] #66 closed

[2018-09-06 05:29] yasker commented on #275
Fixed by https://github.com/rancher/longhorn-manager/pull/189 and https://github.com/rancher/longhorn-manager/pull/190

[2018-09-06 05:29] #275 closed

[2018-09-06 06:07] yasker commented on #231
Fixed with https://github.com/rancher/longhorn/issues/275

[2018-09-06 06:07] #231 closed

[2018-09-06 11:28] piaohai commented on #278
vnc display   /dev/mapper/rancher--vg--root  not exists, how to how to mount ?

[2018-09-06 18:09] yasker commented on #279
@lnikell The bucket name doesn't need to be globally unique since we're using Minio and specified AWS_ENDPOINT in the secret.

Yeah, Minio will be installed in the default namespace, which has one minio-secret for it to read the credentials. Longhorn will use the duplicated minio-secret in the `longhorn-system` namespace to access the Minio in the default namespace. This is pure local setup. Longh

[2018-09-06 19:10] LLParse commented on #278
Hi @piaohai - It seems your goal is to boot a KVM instance using a Longhorn volume created with a base image. If that is the case, this can be achieved like so:

1. Create Longhorn volume with base image. *The volume size must match the base image size, which must be known ahead of time.* This is a current limitation that will be investigated in the future. The `rancher/vm-ubuntu:16.04.4-server-am

[2018-09-06 20:07] lnikell commented on #279
@yasker mmm don't understand how does it depend on Minio. maybe I don't understand how does it work.
The story is in AWS S3 you can't call your bucket as "backupbucket" because all s3 names are globally unique in AWS, if someone created "backupbucket" you can't create S3 with the same name. That's why in the example would be great to add the notes about how to use the a different from "backupbucke

[2018-09-06 20:09] yasker commented on #279
@lnikell Minio is a storage solution with S3 APi. https://minio.io/

[2018-09-06 20:26] yasker commented on #133
Sounds like this: https://github.com/etcd-io/etcd/issues/741

[2018-09-06 21:50] lnikell commented on #279
@yasker thank you! I was confused with documentation a bit, made improvements and created new PR with the example of a configuration for AWS S3 and required permissions set.

Thank you for helping me understand how should it be.

[2018-09-07 03:10] piaohai commented on #278
![img20180907_105922](https://user-images.githubusercontent.com/1393745/45196391-874ef900-b28e-11e8-8110-211a9b006419.png)

![img20180907_103149](https://user-images.githubusercontent.com/1393745/45195956-946ae880-b28c-11e8-844a-760707832d61.png)

first case i created block device with 20G.

second created 20G with iscsi,  after boot system all can't not login into system, error message the same a

[2018-09-07 20:54] yasker commented on #279
Fixed by #280

[2018-09-07 20:54] #279 closed

[2018-09-07 23:49] piaohai commented on #278
![img20180908_074337](https://user-images.githubusercontent.com/1393745/45247555-fb46db00-b33a-11e8-97b2-301de246f954.png)

i have try to with 8G, it not work for me also, error like above initramfs, so i think may be is remote disk volume not ok ?

longhorn version 0.3.0 (RUN on the vmware virtula machine)
vm v0.1.0

[2018-09-10 20:08] yasker commented on #199
Filed https://github.com/kubernetes-csi/external-provisioner/issues/130

[2018-09-11 12:50] marcteyssier commented on #277
Actually, I have a return on node 1 and not on the 2nd:
node 1

`{
    "actions": {},
    "id": "v1",
    "links": {
        "apiVersions": "http://longhorn-backend:9500/v1/apiversions",
        "attachInputs": "http://longhorn-backend:9500/v1/attachinputs",
        "backupInputs": "http://longhorn-backend:9500/v1/backupinputs",
        "backupVolumes": "http://longhorn-backend:9500/v1/backupvolum

[2018-09-11 17:56] yasker commented on #277
Yeah, that confirmed you have a network issue with your second node.

All the nodes should able to visit `longhorn-backend`, inside the pod of `longhorn-system` namespace. That's why CSI plugin failed to start.

[2018-09-11 23:12] yasker commented on #266
The functional is done. We need to update the documents.

[2018-09-12 00:43] yasker opened #281 "manager: need to cover the new node condition KernelDeadlock"
Warnings show in the manager log.

We may need to update our dependency.

[2018-09-12 09:28] marcteyssier commented on #277
It's the same error in another work space.
It's a problem with my rancher, I try to fix it before restart longhorn.

[2018-09-13 08:58] marcteyssier commented on #277
I have the problem.
This is because I use 2 OVH servers with ovh kernel for Ubuntu 16.04.
I check if it's compatible with docker (https://docs.docker.com/install/linux/linux-postinstall/#troubleshooting Kernel compatibility), and I have 1 error !

I reinstall my 2 nodes with default Ubuntu 16.04 kernel and all is ok and up :-)

Thank you for your help !

[2018-09-13 08:58] #277 closed

[2018-09-14 16:10] LLParse opened #287 "CSI restore volume from backup omits fromBackup setting"
Running Longhorn v0.3.1-rc1 with NFS backup store installed, configured, and a backup created.
[code]

This yields PV:
[code]

However, the Longhorn volume is missing `fromBackup`:
[code]

[2018-09-14 18:27] yasker commented on #287
We missed the backup/restore test in the test_provisioner/test_csi/test_flexvolume. We covered restoration with PV and Flexvolume in https://github.com/rancher/longhorn-tests/blob/master/manager/integration/tests/test_statefulset.py#L433 , but since CSI's PV require to be pre-created, we missed testing for that.

[2018-09-14 22:48] yasker commented on #287
Need test case for CSI provisioner.

[2018-09-14 23:57] adi961 opened #289 "UI Connection timeout after install"
After a fresh install of longhorn the UI works fine, but after some time I cant connect to the UI anymore. I have done several reinstalls of longhorn, but every time after acouple of minutes the timeout occurs. The logs doesn't say anything about the UI connection. Restarting the longhorn-manager doesn't help either.

longhorn-manager:

[code]

[2018-09-15 00:01] adi961 commented on #289
I did not look at the right container. Here are logs from the manager wit websocket messages.

[code]

[2018-09-15 00:13] yasker commented on #289
The log for the manager looks good, except it cannot connect to your s3 store.

[code]

[2018-09-16 20:48] adi961 commented on #289
For some reason it works with the xip.io dns but not with a custom domain name. Even tough they are using the same L7 ingress controller. Direly connecting to the node port doesn't work either, which worked and the dns name too when I installed longhorn. But after some time without changing anything I get timeouts on all except the xip.io dns. I am at a loss where this behavior could originate. Is

[2018-09-17 18:02] LLParse opened #290 "Longhorn CSI test cases freeze on K8s 1.11 clusters"
Kubernetes version: v1.11.2 (installed with Rancher)
Longhorn version: v0.3.1-rc1
Longhorn-test versions afflicted: v0.3.0, v0.3.1-rc1

Deploy the Longhorn test pod with following arguments:
[code]
When `test_csi_io` runs, it will hang indefinitely after `csi-io-test` Pod is created and running. Manually testing CSI plugin on K8s 1.11 succeeds. This automated test succeeds on previous versions of

[2018-09-17 19:53] adi961 commented on #289
I have found the problem. It was a network policy which I have overlooked... Sorry for bothering with this Issue!

[2018-09-17 19:53] #289 closed

[2018-09-17 21:20] yasker commented on #289
Glad you figured it out. Let me know if there are any other questions.

[2018-09-18 12:52] KuroObi opened #292 "Move replica to a different server"
Is there a way to move a replica of a volume from one server to another. Form maintenance or other reasons?

[2018-09-18 12:53] KuroObi opened #293 "Change number of replicas for a volume"
Is it possible to change the number of replicas for a longhorn volume after it was created and already used?

[2018-09-18 13:01] KuroObi opened #294 "Problem with reattaching volume on different node"
When deleting a pod of a statefullset with PVC-Template and active deployed longhorn volume.
The pod gets redeployed on a different node it is not able to reattach the volume with the following error message:
`Multi-Attach error for volume "pvc-XXXX" Volume is already exclusively attached to one node and can't be attached to another`
On the new and old now i see in the kublet log the follwing log

[2018-09-18 16:37] amioranza opened #295 "Runing jenkins with /var/jenkins_home on longhorn volume without root failed"
Hi guys!

I'm trying to deploy an scalable jenkins on kubernetes using a persistent volume from longhorn to keep /var/jenkins_home.

This is my deployment file:

[code]

This is my pvc file:

[code]

This is the Dockerfile to generate the custom image:

[code]

The pvc uses the longhorn StorageClass created by the oficial helm deployment. When I submit the pvc it works as expected and create a new

[2018-09-18 18:32] amioranza commented on #295
Hi,

This is not a longhorn problem, it is a security context mssing on the deployment, we fixed it with the options below:

[code]

Thanks.

[2018-09-18 18:32] #295 closed

[2018-09-18 22:08] yasker commented on #292
Not `move`, but you can achieve the same effort by forcing a rebuild.

1. Disable the scheduling for that node
2. Make sure volume is current healthy (since we're going to destroy a replica)
3. Delete the replica on the node you want for maintenance.

If any other node can be scheduled with that replica, the replica would be schedule there and started rebuilding process using the existing healthy

[2018-09-18 22:09] yasker commented on #293
We don't support change the replica number at the moment. It can be added if necessary. What's your use case?

[2018-09-18 22:12] yasker commented on #287
Done.

[2018-09-18 22:12] #287 closed

[2018-09-18 22:13] yasker commented on #294
We would need to reproduce it to see. From the message sounds like the Kubernetes failed to detach the volume from another node, which should had been done by CSI.

Currently Kubernetes CSI has issues with node down scenario, e.g. https://github.com/rancher/longhorn/issues/199 . Flexvolume isn't much better though. We're working on it and should get to the bottom of it in the next stable release v

[2018-09-19 08:36] KuroObi commented on #292
That sounds risky. Destroying the last replica of a volume.

Is this a feat feature on the roadmap?

[2018-09-19 08:39] KuroObi commented on #293
In our development stacks we only use a replica factor of 1, but if we were to transfer it to production we would need the redundancy.

[2018-09-19 08:42] KuroObi commented on #294
That was my theory as well, that it didn't succeeded to detach (or unmount) the volume in time for pod deletion and cant attach and mount it into any other pod.

If You need more logs or settings, feel free to ask so I can help resolve this issue.

[2018-09-19 08:46] KuroObi opened #296 "affinity/anti-affinity for replicas"
Is there a way to set a affinity or anti-affinity for repica deployment in a longhorn cluster?

In our scenario all database volumes replicas were scheduled onto the same longhorn node.
For this scenario we relied upon the database for data replication and redundancy.
Is there a way or upcoming feature that implements affinity for volumes/replicas like with StatefulSets and Deployments?

[2018-09-19 18:03] yasker commented on #292
The rebuilding process is essentially asking the controller to copy the data from one replica to another. The controller knows how to handle that. It's one of the basic features of the Longhorn system.

Of course, you won't want to destroy the last replica. That's why we recommended having at least 3 replicas for your volume.

Manually moving the replica won't be a feature, since we don't expect t

[2018-09-19 18:06] yasker commented on #293
I see. Just to be clear, we don't recommend to use replica number of 1. You won't have any redundancy in this case.

Yeah, we can look into adding this feature in the future releases.

[2018-09-19 18:10] yasker commented on #296
The replicas of the same volume would be scheduled using the anti-affinity rule, otherwise, it cannot prevent the case of node down.

What do you mean by `volumes replicas were scheduled onto the same longhorn node`? Are you using single replica as you mentioned in the other issues? If so, just use multiple replicas for each volume (recommended 3 at least) would solve the issue naturally.

[2018-09-19 18:11] yasker commented on #296
And if there is a bug regarding Longhorn didn't schedule replicas of the same volume to the different node (while it seems possible to use other nodes, e.g. the other nodes weren't full, or disabled for scheduling, etc.), please file an issue to let us know.

[2018-09-20 01:30] courcelm commented on #293
I'm looking to deploy Elasticsearch with Longhorn. Since Elasticsearch replicates its data to the cluster nodes I think it would be useful to be able to set replica number to 1.

[2018-09-20 01:32] yasker commented on #293
@courcelm Currently Longhorn does allow to set the replica number to 1. But for now, you cannot change it after the volume was created.

[2018-09-20 01:34] courcelm commented on #293
How can it be done before creating it?

[2018-09-20 01:35] yasker commented on #293
You can set it in the storage class. https://github.com/rancher/longhorn/blob/master/examples/storageclass.yaml

[2018-09-20 09:53] KuroObi commented on #296
We ware using single replicas per volume since the database dose the replication of the data.
Normally i would deploy multiple replicas of one volume but in this case we have huge amounts of data that wont do to replicate multiple times due to storage limitations.

Since this are some special conditions i would have hoped that there is a way to tell longhorn/k8s to schedule all volume replicas of

[2018-09-20 10:04] KuroObi commented on #292
`maintenance mode` sounds like a realy good idea.

[2018-09-20 23:42] yasker commented on #296
Hmm, it would need quite some efforts.

The volumes themselves don't know what the workload would be. If we're going to implement this, it's likely the user would need to define a few more options while creating the volume, namely the condition for replica scheduling, probably in the format of one or multiple tags and one or multiple rules.

I am not convinced that this will be useful except for t

[2018-09-21 17:55] yasker opened #297 "UI: Update websocket with Rancher proxy"
The `web-socket` will not work properly because the WebSocket path and URL is not [configured](https://github.com/rancher/longhorn-ui/blob/master/src/utils/websocket.js#L16
) correctly behind the proxy:

Related chart change: https://github.com/guangbochen/charts/commit/7d4e830dacb9f4a5cfa9672416888997fa87b54d,

![image 4](https://user-images.githubusercontent.com/3344618/45897729-cbf98a80-bd8c-11

[2018-09-21 22:26] yasker opened #298 "Manager: Add replica eviction support for node and disk"
https://github.com/rancher/longhorn/issues/292

Overview:
Eviction mode would give users the ability to work on scheduled maintenance without impact the volumes.

Pre-requirement:
1. The eviction can only be called if the scheduling was disabled.
2. During the eviction process, the scheduling cannot be re-enabled.

Description:
The eviction would result in all the replicas on the node or disk bein

[2018-09-21 22:27] yasker commented on #292
#298 filed. Close this one.

[2018-09-21 22:27] #292 closed

[2018-09-21 22:38] yasker opened #299 "Manager: support changing volume's `NumberOfReplicas` setting"
https://github.com/rancher/longhorn/issues/293

Overview
There are requests to run Longhorn in a single replica setup since the workload itself can replicate by themselves.
Also, enable the ability for users to update volume's `NumberOfReplicas` setting can enable a few interesting use cases, e.g. manually evict one node without losing the resiliency of the volume, increase volume's resiliency wit

[2018-09-21 22:41] yasker commented on #293
Filed #299 . Close this one.

[2018-09-21 22:41] #293 closed

[2018-09-21 22:42] yasker commented on #278
@piaohai Can you see if you can use open-iscsi to connect to this endpoint? Or use block device to verify the content of volume is correct.

[2018-09-22 23:26] mhemrg opened #300 "The architecture"
Hi,
Are there any resources to get a better understanding of `longhorn-manager` and it's architecture?
For example, I'm curious to know that how `longhorn-manager` communicates with volume drivers.

[2018-09-24 21:50] yasker commented on #300
It's standard Kubernetes storage drivers. Codes are in Longhorn manager repo (`flexvolume`, `app`, and `csi` directories). You can find Longhorn overview at: https://rancher.com/microservices-block-storage/

If you want to know how to Kubernetes storage driver get involved, check https://github.com/kubernetes-incubator/external-storage (flexvolume) and https://github.com/kubernetes-csi (CSI)

[2018-09-24 21:50] yasker commented on #266
Done.

[2018-09-24 21:50] #266 closed

[2018-09-25 21:28] yasker commented on #297
Magic proxy part merged in. We will include the chart as a part of v0.3.2. Tracking the issue here till v0.3.2 release.

[2018-09-25 21:33] yasker commented on #176
I still see this issue from time to time. Need to investigate.

[2018-09-26 00:35] Aeolun opened #301 "Volumes unmounting and containers going down"
I have been using Rancher for a few weeks now, and by far the most annoying issue is my Longhorn volumes suddenly detaching and becoming unreachable, bringing a random set of pods down each time.

I get some fairly unhelpful messages like:

(Apologies, apparently cannot insert the right characters for code formatting on iPhone)

Unable to mount volumes for pod "bitbucket-87f479b99-psnbs_default(cb

[2018-09-26 01:02] yasker commented on #301
Can you get the Longhorn manager and related driver log? See https://github.com/rancher/longhorn/blob/master/docs/troubleshooting.md#troubleshooting-guide on how to get the logs.

[2018-09-27 09:31] shinebayar-g opened #302 "Engine 0.3.0 is being installed when installing 0.3.1 via catalog"
Hi, I'm new to here, please correct me if I'm wrong.
I've installed Longhorn from Catalog. It's installed successfully.
![image](https://user-images.githubusercontent.com/3091558/46136475-45581800-c27a-11e8-8d23-b6d413aa2546.png)

However If I click that ingress address it redirects me to longhorn's dashboard. It surprised me that it even has its own dashboard, wow great. But it doesn't seem to ha

[2018-09-27 16:39] yasker commented on #302
Your deployment is correct. We're using Engine v0.3.0 for v0.3.1 as the [release note](https://github.com/rancher/longhorn/releases/tag/v0.3.1) mentioned.

The version of the engine may not be in sync with the version of the Longhorn release. I am considering separate it out.

The reason is a new tag for the engine means the user all needs to upgrade to the new engine image. We have live upgrade f

[2018-09-27 17:11] shinebayar-g commented on #302
Ah I see. Thanks for the explanation. I've tried to upgrade to 0.3.1 manual. But old 0.3.0 containers didn't turn off, new ones also appeared at same time. My workload was flooded with containers. I'm not sure if it's correct or what not. As you explained, I will stick to the default options until I get deep understanding and project become more mature.

How about Longhorn authentication? It was o

[2018-09-27 17:16] yasker commented on #302
In the next stable release we will use Rancher mechanism to help on the authentication, so the user will need to login into Rancher before accessing the Longhorn UI.

What do you by manually? If you're using the `Upgrade Engine` option, that's our live engine upgrade feature, which swaps the engine while keeping volume in the working condition. It's still experimental. You shouldn't have replica r

[2018-09-27 17:33] sjkeerthi opened #303 "Support of Backup { GCE Bucket / Minio }"
Hi

Can you add the features of Backup of GCE Bucket / Minio.

Thanks,
Keerthi

[2018-09-27 18:05] vincent99 commented on #303
Both of those have S3-compatible APIs and should be usable today.

[2018-09-27 18:36] yasker commented on #303
And our example for backup uses Minio.

https://github.com/rancher/longhorn/blob/master/docs/backup.md#setup-a-local-testing-backupstore

[2018-09-27 18:36] #303 closed

[2018-09-28 00:32] yasker opened #304 "Kubernetes snapshot support (csi-snapshotter)"
In Kubernetes 1.12, the snapshot support will be added. We will evaluate the feature and if it goes well, we will add the support for it.

The doc is at:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-snapshot.md

The external snapshotter:
https://github.com/kubernetes-csi/external-snapshotter

[2018-09-29 02:08] Aeolun commented on #301
The logs for longhorn manager (2 instances) are attached. Unfortunately I didn't get much useful information out of tailing the volume (I stopped and started the service and it was reattached), but got only this, which seems more like an access log:

[code]

[longhorn-manager-1.log](https://github.com/rancher/longhorn/files/2430174/longhorn-manager-1.log)
[longhorn-manager-2.log](https://github.co

[2018-09-29 04:51] shinebayar-g opened #305 "Volumes deleted by Longhorn not deleted in Rancher"
I've created Longhorn volumes when creating MongoDB replica set from catalog. Then I deleted my MongoDB replica set and deleted its created volumes on longhorn. But that volumes is still exist in rancher volumes menu.

[2018-09-29 06:08] yasker commented on #305
You need to delete the volume from Kubernetes side (PVC and PV). Kubernetes don't know about the volume deleted by Longhorn. There is no way for a storage vendor to tell Kubernetes the underlying volume has been deleted.

[2018-09-29 06:12] yasker commented on #301
I think you have network issues.

E0927 04:04:14.548562 1 reflector.go:205] github.com/rancher/longhorn-manager/vendor/k8s.io/client-go/informers/factory.go:87: Failed to list *v1.Job: Get https://10.43.0.1:443/apis/batch/v1/jobs?limit=500&resourceVersion=0: dial tcp 10.43.0.1:443: getsockopt: connection refused
E0927 04:04:14.549306 1 reflector.go:205] github.com/rancher/longhorn-manager/vendor/k

[2018-09-29 06:13] shinebayar-g commented on #305
Thanks for the explanation, so I go to my cluster/volumes and delete the existing volume that are deleted in Longhorn? Is it the right step?

[2018-09-29 06:14] yasker commented on #305
Yeah, if PVC for the namespace is there, delete the PVC first. After that, if any volume remains, delete the persistent volume under the cluster.

[2018-09-29 06:29] shinebayar-g commented on #305
Hmm I tested it with another deployment redis cluster from catalog app, since my MongoDB install stuck on installing step after I try to re-install MongoDB.

Here is the result of redis cluster.
First I deployed redis from Catalog Apps with longhorn PV option. Everything installed just fine. Then I deleted redis from Catalog Apps. It removed related volumes from both Longhorn volumes and Rancher v

[2018-09-29 06:36] yasker commented on #305
@shinebayar-g The default [reclaim policy](https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/) of longhorn storage class is `Delete`. So the PV should be deleted once the PVC was deleted.

The deletion of Catalog Apps should trigger the deletion of PVCs associated with it, thus resulting in the deletion of PV and Longhorn volumes. You can check the PVCs in the namespace

[2018-09-29 06:50] shinebayar-g commented on #305
@yasker Thanks for the great explanation. I understand you very well. However I didn't catch this part:

When I installing Redis from Catalog Apps there was name and namespace option, it was default to **redis**
You mean this?

If yes this is not deleted after I removing redis from Catalog Apps. It's still there.
![image](https://user-images.githubusercontent.com/3091558/46242103-cc31ff80-c3f6-11e

[2018-09-29 06:58] shinebayar-g commented on #305
**Another test** Alright, since you said that removing catalog apps triggers deletion of related namespace, what if I use default namespace? Or same namespace as other apps like MongoDB?
It'll delete related namespace and remove all volumes created by another app in same namespace right?
This is getting quite interesting.

[2018-09-29 20:53] yasker commented on #305
I meant the PVCs should be deleted if it's created along with the app, not the namespace.

If the PVCs remains, then the PV would remain, as well as the Longhorn volume. That would sounds like a Rancher bug, which failed to clean up the resources after the app was deleted.

[2018-09-30 14:03] justinrush commented on #253
think i'm hitting the same issue, but I haven't had any snapshots on this volume..  I'm running rancher 2.0.8 and longhorn 0.3.1.  I created a new pvc in rancher and configured my application and then went to back it up in longhorn to try and a test restore.  When I open the volume in the UI I get the following error displayed on the top of the page.  I've tried to detach/re-attach.  Any way to re

[2018-10-01 18:11] yasker commented on #253
@justinrush If the issue persists, as a workaround, you can remove one replica and let the volume finish the rebuild. Before that, can you post the logs for <volume_name>-e-xxxxx and <volume_name>-r-xxxx pods on your cluster? That would help us to debug the issue.

[2018-10-01 18:14] yasker commented on #253
Btw, as a part of backup, snapshot would be created. Sounds like something is wrong in that process.

[2018-10-03 14:21] Aeolun commented on #301
The bandwidth is technically 1Gbit, and I have no doubt that it's realistically at least somewhere within an order of magnitude of that.

Unfortunately, I'm not quite advanced enough to have any idea of how to establish whether the kubernetes overlay network is stable. Do you have any idea how I could do this? Or how to deliberately trigger instability to confirm that this is indeed what causes th

[2018-10-03 17:32] shinebayar-g opened #306 "Deleted server in cluster still listed in longhorn node list as marked "down""
I've increased my cluster worker number by one and deleted it after some time. However Longhorn thinks it's not deleted, but it's being down.
![image](https://user-images.githubusercontent.com/3091558/46427955-4d7def00-c775-11e8-8c02-540caf99f68a.png)
Second node was deleted already.

[2018-10-03 19:16] yasker commented on #306
Should be covered by https://github.com/rancher/longhorn/issues/223 .

Can you try to disable the scheduling for the node then see if UI allows you to remove the node?

Let me know if it doesn't work.

[2018-10-03 19:18] shinebayar-g commented on #306
![image](https://user-images.githubusercontent.com/3091558/46433680-0fd49280-c784-11e8-8a8e-721c39cc5359.png)
You mean by clicking this button of deleted node? If yes, this button does nothing on deleted node, but works on green node.

[2018-10-03 19:19] yasker commented on #306
OK, that's a bug.

[2018-10-03 19:34] shubb30 opened #307 "[FEATURE] Pause replica rebuild for server maintenance"
This is a follow up to https://forums.rancher.com/t/best-practice-when-rebooting-longhorn-hosts/11899

Issue:
When performing planned maintenance on a Longhorn node, as soon as the system is shut down, Longhorn will rebuild any replicas on the host onto a remaining host.  In the case where the number of replicas is equal to the number of hosts, Longhorn will end up with two replicas on one host, a

[2018-10-04 04:07] yasker opened #308 "controller: Update to use `status` subresource"
Should reduce conflicts caused by updating both spec and status.

[2018-10-04 04:09] yasker commented on #276
I realize this may not be possible in v0.3.2 release. The deployment of CSI attacher has been changed to StatefulSet. Users no longer able to use `kubectl apply` for upgrade. Maybe we should push this to v0.4.0.

[2018-10-06 11:34] codejamninja opened #309 "Longhorn Restore Error on Rancher 2"
I get an error when trying to reattach a rancher volume to an existing longhorn volume I restored from a backup.

Rancher version: v2.1.0

Longhorn version: v0.3.1

Docker version: 17.03 community edition

Operating system and kernel: Ubuntu 16.04

Type/provider of hosts: AWS

Setup details: single node rancher internal DB

Environment Template: Kubernetes

**Steps to Reproduce:**
I followed the p

[2018-10-06 11:34] codejamninja commented on #309
I don't know if this is a rancher or longhorn issue. I have also filed the issue on rancher.

https://github.com/rancher/rancher/issues/15980

[2018-10-08 22:42] yasker commented on #309
@codejamninja There is a troubleshooting you can try first: https://github.com/rancher/longhorn/blob/master/docs/troubleshooting.md .  Does manual creating/deleting volume works? And you can try https://github.com/rancher/longhorn#use-longhorn-with-kubernetes to see if the basic function works.

[2018-10-08 22:44] yasker commented on #273
Done.

[2018-10-08 22:44] #273 closed

[2018-10-09 07:05] codejamninja commented on #309
I'll take a closer look

[2018-10-11 09:08] Maxwell1987 opened #310 "Kubernetes v1.12: driver name io.rancher.longhorn not found in the list of registered CSI drivers"
When I upgrade rancher to 2.1.0 / k8s 1.12.0，all workloads using longhorn will not start, the error message is like this
MountVolume.MountDevice failed for volume "pvc-9cb54cca-a9aa-11e8-b476-fa163e532171" : driver name io.rancher.longhorn not found in the list of registered CSI drivers
I tried to create a new workload and tried to redeploy longhorn, the error still exists.

[2018-10-11 14:12] yasker commented on #310
Sounds like 1.12 break the CSI backward compatibility. We're working on it.

[2018-10-11 21:44] yasker commented on #309
@codejamninja Which version of Kubernetes you're using?

[2018-10-15 03:45] hunsche commented on #310
The same thing happens to me when starting the deployment, how should I proceed temporarily?

[2018-10-17 15:48] sebastiansirch opened #311 "Feature request: support for storage pools"
Currently, the disks of all nodes are added to a single storage pool. This implies that all disks have the same IO performance (otherwise, it becomes a random choice how fast the provided volume actually is).

In a setting with heterogeneous nodes (e.g. some have SSDs, some HDDs), the following features would be very helpful:
* assign disks to storage pools (e.g. "hdd-pool", "sdd-pool")
* create s

[2018-10-18 00:48] yasker commented on #290
Freeze is fixed by: https://github.com/rancher/longhorn-tests/commit/ac0673cb2a4721667c3a5cff0f7259e9f020096b

It sounds like a bug in Kubernetes. Either in python library or stream. Deal with it later.

[2018-10-18 00:49] yasker commented on #276
Done by https://github.com/rancher/longhorn-manager/commit/3da43930b6b2707dbdb87bbda58ad07925f00d97

[2018-10-18 00:49] #276 closed

[2018-10-18 00:50] yasker commented on #276
But we haven't changed the schema for attacher to deployment. Since provisioner hasn't been updated yet. And we need to investigate more on the node failure cases in Kubernetes.

[2018-10-18 00:53] yasker opened #312 "Upgrade checker"
Add an upgrade checker in UI to notify users if a new version of Longhorn is available.

[2018-10-18 00:55] yasker commented on #281
It's not in the official Kubernetes releases. Ignore for now.

[2018-10-18 00:56] yasker commented on #183
Close this for now. It's better after the refactor.

[2018-10-18 00:56] #183 closed

[2018-10-18 00:57] yasker commented on #310
Fixed.

[2018-10-18 00:57] #310 closed

[2018-10-21 17:28] kukara4 commented on #306
Hi, same situation.
Created kube with 3 nodes setup at digital ocean.
Created volumes - ok, attaching to differ nodes - ok.
But then i resize cluster from 3 nodes to one.

![default](https://user-images.githubusercontent.com/2709445/47270102-6b1dc780-d56f-11e8-81dc-88024e7464e5.png)

And now i can not delete nodes, that does not exist in cluster anymore.
I was checking scenario when more than half

[2018-10-23 11:14] shay-berman commented on #89
Hi
Does anyone knows why the provisioner show this error:
`ERROR: logging before flag.Parse: I1023 08:56:12.965359       1 controller.go:407] Starting provisioner controller 7e2b06b6-d6a1-11e8-a8ea-12a49f12eb0d!`

What this error indicate for?

[2018-10-23 22:36] phal0r opened #313 "Add Longhorn to CNCF Landscape"
Hi guys,

I think this is a really cool piece of technology and deserves more attention. What about adding it to the `cloud-native storage` section of the CNCF Landscape -> https://landscape.cncf.io/format=landscape&zoom=150

[2018-10-24 00:13] jgallucci32 opened #314 "Unable to deploy Longhorn on RHEL with SELinux enabled"
I am currently unable to deploy longhorn into a Rancher Kubernetes cluster (deployed using custom RKE method) when using RHEL hosts with SELinux enabled.

Rancher Version: v2.1.0
Kubernetes Version: v1.11.3
Docker Version: v1.13.1
OS Version: RHEL 7.5
Longhorn Version: v0.3.1

The issue is the engine-image pod is unable to deploy and has an error message for being unable to copy data to `/data/lon

[2018-10-24 00:14] yasker commented on #313
Good idea! I will make a PR for it after v0.3.2 released.

[2018-10-25 15:12] Aeolun commented on #301
This was resolved by not having my servers in different datacenters separated by two countries.

I still don't think that should technically result in this issue, but for now it works for me.

[2018-10-25 15:12] #301 closed

[2018-10-25 15:28] yasker commented on #301
@Aeolun Oh, that explains it. You may have enough bandwidth but the network latency is too big across the datacenter. In general, no primary storage can be spread across different datacenter since it have to provide a response in a constrained timeframe. In your case, seems even the overlay network cannot work well across the datacenter.

In fact, we're looking into a way to replica data into anot

[2018-10-26 19:32] jgallucci32 opened #315 "Documented procedures for removing a node with longhorn provisioned"
I am unable to find instructions for removing a node from the cluster with storage provisioned on the node with longhorn. There are settings to disable scheduling, however, what are the procedures for removing a node and rebalancing the data to other nodes in the cluster.

An example use case would be wanting to re-size an existing cluster with newer instances. Our first deployment uses 3 instance

[2018-10-26 19:51] yasker commented on #315
Hi @jgallucci32

The issue you mentioned is one of the issues we're currently working on: https://github.com/rancher/longhorn/issues/306

We will address this in the next release.

Btw, rebalancing (by rebuilding a new replica) should happen automatically when you attached the volume, even the node original replica resides is down. If that's not the case, please let me know.

[2018-10-29 02:26] yasker opened #316 "Catalog app: Make Longhorn compatible with Rancher 2.1+ using native Helm"
Users should able to do one-click install/upgrade/uninstall with the help of Helm hooks. Extra scripts shouldn't be necessary for upgrade/uninstall with native Helm support.

Should release the support with v0.3.2.

Only applies to Rancher 2.1+.

Also, need to investigate if it is possible for users of <2.1 to upgrade to newer Longhorn version.

@guangbochen knows more details about it.

[2018-10-29 11:41] Angelinsky7 opened #317 "[Question] Resizing a volume"
Hi, i would like to resize a volume created with longhorn.
Is longhorn compatible with resiszing a volume ?
What is the correct procedure ?
I tried to change the pvc and restart the pod, but the pvc stays in resizing state...

From :
[code]
to :
[code]
and the state is now :
[code]

Could someone guide me thought this ?
Thanks you very much !!!

[2018-10-29 13:12] Angelinsky7 commented on #317
i imagine that mean that longhorn doesn't support resizing ? or iam doing something bad ?

`error: persistentvolumeclaims "prometheus-server" could not be patched: persistentvolumeclaims "prometheus-server" is forbidden: only dynamically provisioned pvc can be resized and the storageclass that provisions the pvc must support resize`

[2018-10-29 16:01] yasker commented on #317
Longhorn doesn't support resizing currently. We're tracking it as a new feature. https://github.com/rancher/longhorn/issues/17

[2018-10-29 16:09] Angelinsky7 commented on #317
@yasker thanks for your feedback and sorry i should have search the feature request better...

[2018-11-02 17:44] glawson6 commented on #310
What is the fix? Is there a link or instructions somewhere?

[2018-11-02 18:59] yasker commented on #310
@glawson6 We haven't released the fix yet. We will release v0.3.2 next week and provide the upgrade instructions.

[2018-11-02 19:33] LLParse opened #318 "Attacher/Provisioner Permission Errors"
New versions of attacher and provisioner introduced in https://github.com/rancher/longhorn-manager/commit/3da43930b6b2707dbdb87bbda58ad07925f00d97 seem to now perform leader election, which requires permission to `endpoints` resource.

[code]

[2018-11-02 19:51] yasker commented on #318
Fixed.

[2018-11-02 19:51] #318 closed

[2018-11-04 19:37] LLParse opened #319 "Driver deployer cleanup logic broken for flexvolume driver"
When longhorn-driver-deployer Deployment is deleted, driver deployer doesn't delete the Flexvolume Driver DaemonSet. Cleanup logic still works for CSI driver.

Tracked behavior change to this commit https://github.com/rancher/longhorn-manager/commit/f381250806e03ff705ac6cec2db36b47777eaad8

cc @yasker

[2018-11-05 01:46] yasker commented on #319
That's weird. It's only a vendor change. And we're not using those vendors to delete the Flexvolume driver. Can you debug a bit more into it?

[2018-11-05 07:39] xyjwsj opened #320 "data store error"
There is a problem with the data disk monitored by longhorn. Only the system disk of the cloud server is monitored. The data disk cannot be configured!

[2018-11-05 09:42] carloslozano commented on #306
In the interim, is there a manual, or recommended, way to remove disabled/removed nodes without the UI?

[2018-11-05 15:31] yasker commented on #320
@xyjwsj Can you be more specific on what's the problem?

[2018-11-05 15:33] yasker commented on #306
@carloslozano We don't want to introduce the additional complexity now. But the good news is the new release (v0.3.2) contains the fix is coming out this week.

[2018-11-05 18:48] Angelinsky7 opened #321 "Inconsistent snapshot info"
Hi,
I've got a recurring issue with my volumes...
after a while they all become inconsistent and i don't understand why...
I tried to delete all the replicas and the volume become consistent again but after a while (some minutes, some days) it becomes inconsistent again...
Can you help me understand what is happening !!!?

here's the error message :
```fail to list snapshot: error listing snapshot

[2018-11-05 19:05] LLParse opened #322 "Upgrade error: Replica delete jobs orphaned"
The old replica delete logic that is being replaced in v0.3.2 creates jobs to cleanup replica data. These jobs are not used in the new delete logic.

While upgrading across the v0.3.2 boundary, any manager in the process of deleting a replica will potentially orphan a replica delete job. The new deletion logic is replayed for these replicas in the new version; the result of the orphaned job is uni

[2018-11-05 19:09] yasker commented on #321
I noticed the sizes of the snapshot are different for two replicas, which is really weird. You mentioned you're using XFS to store volume data? Can you try EXT4 instead? We didn't validate XFS in our tests.

[2018-11-05 19:12] yasker commented on #321
Btw, I guess you didn't delete `all` the replicas, because that will destroy your data. You can delete `all but one` replicas and system will eventually recover.

[2018-11-05 19:12] Angelinsky7 commented on #321
@yasker thanks for your answer.
sadly all my system is in xfs now (i recently tried this because docker seems to recommand it) but it's certainly the cause of my issue...
Is there something that i could do to help you do some test and try to validate xfs ?

[2018-11-05 19:12] Angelinsky7 commented on #321
exactly i deleted all but one

[2018-11-05 19:18] Angelinsky7 commented on #321
and deleting some of them don't always do it (i tried it now and my volume is still inconsistent but the data seems to be stil there)

[2018-11-05 19:21] yasker opened #323 "engine: Validate XFS for storing data"
According to https://github.com/rancher/longhorn/issues/321 , we may have problems with XFS.

[2018-11-05 19:21] yasker commented on #321
@Angelinsky7 I am afraid we need to look into XFS in our lab first. I don't know how the size can be slightly different. According to your description, it's not temporarily (which may happen sometime). I suspect something is different with XFS, which may need a major change.

I noticed you're using LVM. You can create some EXT4 fs for Longhorn for now and use multiple disks scheduling feature to d

[2018-11-06 03:02] xyjwsj commented on #320
The default path is "/var", but the cloud server has its own data disk, there is its own hanging path, so the data disk size is a problem.

[2018-11-06 08:45] yasker commented on #312
Now two new setting fields have been added to the manager.

For UI:
1. If a setting field is `bool` type, we need to show a choice in the UI rather than ask user to type `true` or `false`.
2. If` UpgradeChecker` enabled in the setting, and `LatestLonghornVersion` is not empty, and `LatestLonghornVersion` doesn't equal to the current version (can get from UI version which should be consistent with

[2018-11-06 08:46] yasker commented on #312
Assign UI part to @LLParse

[2018-11-07 15:27] magnusmaki opened #324 "engine: 2 TB size limit"
I cant make volumes larger than 2 TB, is it "by design" or is it configurable somewhere?
(When creating over 2TB the filesystem cant be created)
Really like longhorn! :)

[2018-11-07 18:41] yasker commented on #324
We don't aware of this limitation. What's the error message? Longhorn should be able to support block device as big as filesystem allowed for a single file, e.g. 16TB for ext4.

[2018-11-07 23:58] yasker commented on #306
Done

[2018-11-07 23:58] #306 closed

[2018-11-08 00:56] AmreeshTyagi opened #325 "File corrupted after volume revert from NFS backup"
I tried experimental helm chart of longhorn. Very impressive tool to manage all volumes of kubernetes cluster. But found one issue. Following are the steps, I took:

I installed minio in kubernetes with default longhorn storage class. Then, uploaded one file in minio bucket. Took backup & snapshot. Uploaded 2nd file & took backup & snapshot. I reverted backup after first file upload.

Files disapp

[2018-11-08 01:13] xyjwsj opened #326 "Can not read Store Data"
![image](https://user-images.githubusercontent.com/8518853/48171318-6199ab00-e336-11e8-8c5f-7ad884df7f89.png)
![image](https://user-images.githubusercontent.com/8518853/48171332-6bbba980-e336-11e8-8840-7905a01e5a39.png)

[2018-11-08 01:31] yasker commented on #325
Are you using `revert snapshot`?

As you can see there is a warning in the `revert snapshot` operation, that it cannot be done when the volume is mounting on the node, otherwise, it will cause filesystem corruption. Because you cannot change the underlying block device without the filesystem's awareness.

Another issue is, you need to make sure the data has been written into the block device befor

[2018-11-08 01:34] yasker commented on #326
The node objects should be created when the longhorn manager started. How did you install Longhorn?

Also shows the full manager logs would help.

[2018-11-08 01:37] xyjwsj commented on #326
My k8s cluster node has been created, I installed it in the store inside Rancher. The logs in the manager are all duplicates.

E1108 01:36:36.693040 1 node_controller.go:510] Couldn't get node k8s-node-2: node.longhorn.rancher.io "k8s-node-2" not found
E1108 01:36:36.693063 1 node_controller.go:510] Couldn't get node k8s-node-1: node.longhorn.rancher.io "k8s-node-1" not found
E1108 01:36:37.652907

[2018-11-08 01:41] yasker commented on #326
Your CRDs are missing. Don't know how that can happen automatically. Can you try to reinstall Longhorn?

[2018-11-08 01:42] yasker commented on #326
And please follow this instruction for uninstall.

https://github.com/rancher/longhorn/blob/master/docs/chart.md#uninstallation

[2018-11-08 01:44] xyjwsj commented on #326
It has been reinstalled many times, both in the test environment and online environment deployment. I will try again.

[2018-11-08 02:31] xyjwsj commented on #326
There is a problem, I first installed Longhorn in the store, then deleted, engine-image is not deleted, I re-install Longhorn, engine-image will be deleted, Longhorn-ui Dashboard display will be normal, in short, there is engine-image It will display abnormally, if not, it will display normal.

[2018-11-08 12:34] AmreeshTyagi commented on #325
Thanks for quick response @yasker . Yes, I did it using `revert` option provided in snapshot drop-down menu.

If that's is not the correct way, then what is the use of this option?
I cann't unmount volume as it is bounded by pod's volume claim. Should I have to take some other steps before reverting or any other seamless option?

Actually, I want to use Longhorn for MySQL HA cluster with NFS backu

[2018-11-08 12:43] graememross opened #328 "Moving pod to a different node - volume does not reattach"
I installed longhorn to our in-house development cluster yesterday.

My first test was to attach a volume to a pod and load some data - all worked as expected.
I then tried to spin up another copy of the pod and expected the volume to attach to the new pod as well, my access mode is
[code]
What happened is that the Volume failed to mount with the following messages in the Rancher console
`

Normal

[2018-11-08 14:28] graememross commented on #328
Just checked and there doesn't seem to be any way to load a volume into a second pod when it is already mounted in the first pod - am I missing something here?

[2018-11-08 16:47] yasker commented on #328
Hi @graememross

It's expected. Longhorn is a distributed block storage solution, so like AWS EBS or Google Persistent Disk, it's `ReadWriteOnce` in Kubernetes's word. One volume cannot be used by more than one node at the same time. You can see https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes for more details.

[2018-11-08 17:39] graememross commented on #328
Ok thanks for the quick response. I can work with that in my use case.

Just tested with ReadWriteOnce and it works as expected.

Any plans to implement ReadWriteMany (or ReadOnlyMany) I can imagine use cases where that would be useful and desirable - tho for my present uses cases I don't really need it - just asking :)

[2018-11-08 17:40] #328 closed

[2018-11-08 17:45] yasker commented on #328
@graememross It's not possible for a block storage solution to implement ReadWriteMany.

But ReadOnlyMany is possible. We're tracking it with https://github.com/rancher/longhorn/issues/4.

[2018-11-08 18:18] yasker commented on #325
@AmreeshTyagi Longhorn is a block storage solution like EBS. You cannot suddenly change a block device's content while the filesystem is still mounted. It's like writing to the block device directly, bypassing the filesystem, while you're still using it as a filesystem.

The `revert` can be done if you've unmounted volume but keep it attached to the node. It's not intuitive for Kubernetes since Ku

[2018-11-09 01:09] yasker commented on #312
Done.

[2018-11-09 01:09] #312 closed

[2018-11-09 01:27] #316 closed, assigned to nobody

[2018-11-09 01:46] AmreeshTyagi commented on #325
@yasker Thanks a lot!
I watched the video. It's really helpful to understand the features of longhorn. It solved my problem of backup too.

I will go with your suggestion & use Longhorn with backup for MySQL HA cluster.

Closing this issue.

[2018-11-09 01:46] #325 closed

[2018-11-09 13:17] florianb opened #330 "Longhorn default engine 0.3.0 hangs "deploying", can't change default engineimage"
I recently deployed longhorn v0.3.1 by hand using the installation description in the readme. The installation went well except from the state of the longhorn engine.

The UI displayed the engineimage `rancher/longhorn-engine:v0.3.0`, which hangs in the "deploying" state. I then added the engineimage `rancher/longhorn-engine:v0.3.1` by hand which deployed successful.

But i am still not able to ad

[2018-11-09 13:46] florianb commented on #330
I got an update to my situation - the recently installed engine v0.3.1 disappeared. So i guess i have to try to fix the installation of the engine 0.3.0 first.

[2018-11-09 14:52] florianb commented on #330
I was able to fix the deployment of the 0.3.0 engine. Is it necessary or recommended to try upgrading to 0.3.1?

[2018-11-09 16:35] yasker commented on #330
@florianb In fact, Longhorn v0.3.1 should use Longhorn Engine v0.3.0 as the default engine. The versions of Longhorn and Longhorn Engine are not always consistent. I've added more information to the homepage to clarify that.

[2018-11-09 17:18] florianb commented on #330
Thank you very much @yasker!

[2018-11-09 17:18] #330 closed

[2018-11-11 11:19] phal0r commented on #313
Yeah, your pull request was accepted. Nice!

[2018-11-11 11:19] #313 closed

[2018-11-11 15:18] AmreeshTyagi commented on #218
I tried to test performance of MySQL db using longhorn storageclass & observed huge performance issue then running a MySQL instance inside plain docker container or running it on my local machine.

I didn't want to spend so much time on this, so just created one simple table & stored proc to insert some test data.

**CREATE TABLE `student` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student` varc

[2018-11-11 17:40] yasker commented on #218
@AmreeshTyagi Thanks for the report.

I think your test case is IOPS intensive, which we are aware that there is plenty of room for improvement.

With Longhorn, you need to have a decent network connecting the nodes, which can be a bottleneck. I've just tried your case in Digital Ocean and GKE, both give me around 4.7s.

With the Longhorn become more feature complete and better in the usability, w

[2018-11-14 09:42] splattner commented on #321
`
fail to list snapshot: error listing snapshot: Failed to execute: /var/lib/rancher/longhorn/engine-binaries/rancher-longhorn-engine-v0.3.0/longhorn [--url http://10.42.3.81:9501 snapshot info], output time="2018-11-13T07:49:00Z" level=fatal msg="Error running snapshot info command: BUG: Inconsistent snapshot info: {Name:5a3777de-c726-452c-b831-54c7fcc626f1 Parent:06f5f012-e6d1-406f-b25c-7e3fffcf

[2018-11-14 10:20] splattner commented on #321
When I delete a Replica, during the Rebuild I see the Snapshots an no error. As soon as the rebuild is done, I get the error again

[2018-11-14 17:13] onlineandy commented on #321
We are also seeing this error after upgrading to v0.3.2. The volume still work as expected.
The error only shows on bigger (>4GB) volumes with no snapshots. But don't really kno if this is the pattern.

[2018-11-15 11:46] splattner commented on #321
I was able to manually shell into the longhorn engine of a PVC where you get the error and then manually remove all snapshots `longhorn snapshots rm id` now the error is gone

[2018-11-15 13:51] aborderon opened #335 "Dynamic volume"
Hello,

I come here to ask a quick question, I could see on previous problems that it was not possible to resize the size of a persistent volume Longhorn.

However, I would like to know if it is possible to create a dynamic volume, that is to say with a default size of 6 GB for example and to see the size of the volume automatically expand according to the need of the application that uses it ?

T

[2018-11-15 14:42] yasker commented on #335
@aborderon Longhorn volume themselves are stored in the sparse format, that means the position which wasn't written any data won't be stored on the disk anyway. So you can specify a bigger size than you expect to use and it will automatically use all the spaces till that specified size.

However, there is a catch. For some filesystem e.g. ext4, the size of the metadata of filesystem related to the

[2018-11-15 14:53] yasker commented on #324
@magnusmaki We've reproduced the issue in our lab. Looking into it.

[2018-11-15 14:54] aborderon commented on #335
Okay, fine, I understand better. thank you for this clarification.

I will try to anticipate the growth of our base.

[2018-11-15 14:54] #335 closed

[2018-11-19 08:54] magnusmaki commented on #324
Ok! thanks!

[2018-11-20 23:39] yasker commented on #324
Fixed. We will release the fix with the next release.

[2018-11-20 23:39] #324 closed

[2018-11-21 00:38] yasker commented on #317
Duplicate of #17

[2018-11-21 00:38] #317 closed

[2018-11-24 06:52] lucevers opened #336 "MountVolume failed rpc error"

[2018-11-24 06:58] lucevers commented on #336
**Version Information**
   Server Ubuntu version 18.04.1 LTS
   Kernal: 4.15.0-38
   Docker version: 18.6.1
   Rancher/kubernetes V1.11.3
   Kubectl version: V 1.10.1
   Longhorn CSI
   Longhorn-engine: V0.3.0
   Longhorn-manager: V0.3.2

  3 jobs are started, they are using the same PVC.

In attach info and logging.
[error.txt](https://github.com/rancher/longhorn/files/2612050/error.txt)

[2018-11-26 02:45] yasker opened #337 "doc: update uninstallation instruction to use `longhorn-manager uninstall`"
We should retire the uninstall script after this is done.

[2018-11-26 02:49] yasker commented on #336
@lucevers The configuration of access mode is wrong. Can you correct it and try again? I think it confused the Kubernetes.

[code]

Longhorn is `ReadWriteOnce`, not `ReadWriteMany`. It's similar to EBS, rather than NFS/EFS.

See the example at https://github.com/rancher/longhorn#use-longhorn-with-kubernetes

[2018-11-26 07:48] lucevers commented on #336
**Results:**
  Then I got the error:
**Multi-Attach error for volume "pvc-2fd481bcf14d11e8" Volume is already used by pod(s) sshpoller-job-txwdd**

Seems normal to me, this error disappear is I change the parameter to "ReadWriteMany"

Make a test with 2 containers which are using the same PVC. It works with the parameter "ReadWriteMany"  but you need to start several time before it works.

**_Afte

[2018-11-26 07:51] yasker commented on #336
@lucevers You cannot share block storage between different nodes, that's why you need to set `ReadWriteOnce`. It's the same as AWS EBS, or Google Persistent Disk.

Pod may work if they happen to schedule on the same host. That's probably why you saw it work sometimes.

[2018-11-26 23:43] yasker opened #338 "UI: Volume detail page: incorrect `Actual Size` calculation"
- [x] `Actual Size` of the volume should contain all the snapshots, whether it's removed or not. It only contains the non-removed snapshot currently.
- [x] `Actual Size` wasn't updated when snapshot list updated sometime, e.g. when creating/deleting a snapshot.
- [x] `volume-head`(`Live Volume`) 's size and creation date should be shown in the UI. Also, rename `Live Volume` to `Volume Head`.

[2018-11-27 02:15] BalaBalaYi opened #339 "chart: Need image modification support"
Like the implement in openebs which you can modify the image and tag:
![image](https://user-images.githubusercontent.com/23303886/49053965-5cd96000-f22d-11e8-97ea-1a84e20a5246.png)

[2018-11-27 02:38] BalaBalaYi opened #340 "chart: Fail to upgrade from NodePort to Rancher Proxy"
Rancher has rbac to constraint user on operating pods. But everyone can operate longhorn when longhorn ui service is exposed. Need some authentication and authorization which can be inherited from rancher's rbac . And may be a basic user/password on ui etc.

I don't know whether this issue is repeat with [64](https://github.com/rancher/longhorn/issues/64).

[2018-11-27 02:43] yasker commented on #340
As in v0.3.2, Longhorn UI has been exposed behind Rancher. You will need to have the access to the project Longhorn is running to access the UI.

[2018-11-27 02:48] yasker commented on #64
Update: as in v0.3.2, when installing as a catalog app, Longhorn UI will be exposed behind Rancher. You will need to have the access to the project Longhorn is running to access the UI.

Longhorn still needs its own user management support though.

[2018-11-27 02:51] BalaBalaYi commented on #340
Yes i am using 0.3.2 version catalog app. And it is deployed in the default project with admin user. But nothing happend when i open the longhorn ui dashboard.  Am i misunderstanding?

[2018-11-27 02:53] yasker commented on #340
Your Rancher session was passed in. Try logout Rancher and use the same link again. You should be prompted to login Rancher first before you can use Longhorn UI.

[2018-11-27 03:00] BalaBalaYi commented on #340
I logout rancher and refresh the longhorn ui page.  But i didn't see the prompt.
One thing i think i should mentioned is that im using vm on openstack. The link url shows on rancher is:  http://192.168.111.84:31175 (this is a private ip). And i am using http://10.255.84.115:31175 (this is a public floating ip) to visit the web.

[2018-11-27 03:51] yasker commented on #340
Oh, that's because the endpoint configuration wasn't updated during app upgrade. We need to change to use Rancher Proxy.

@guangbochen Is there a document we can refer to to change ingress to use Rancher Proxy?

[2018-11-27 05:43] guangbochen commented on #340
nope, but user should be able to change the longhorn UI service from e.g `NodePort` to `Rancher-Proxy` in the UI directly.
![image](https://user-images.githubusercontent.com/4569037/49060915-6de49a00-f24a-11e8-8234-e75bf678f20a.png)

[2018-11-27 05:46] BalaBalaYi commented on #340
@yasker @guangbochen Get it. Thx very much.

[2018-11-27 19:51] yasker commented on #340
@BalaBalaYi I've reproduced the issue and filed https://github.com/rancher/charts/issues/71 for it (@guangbochen). Let me know if it's not the issue you saw.

[2018-11-28 00:58] BalaBalaYi commented on #340
@yasker
I reproduced the upgrade and the following is the logs from rancher server:
[code]

[2018-11-28 01:00] yasker commented on #340
@BalaBalaYi Thanks. It looks like the same issue as I reproduced. We will fix it in the next release.

[2018-11-28 01:58] yasker commented on #321
A fix is coming for the next release. And it's not a sign for data corruption. The volume should be still healthy.

The workaround for persisting issue:
1. Find out what's your impacted engine pod is, it's a pod with name `<volume-name>-e-<uuid>`, e.g. `test2-e-e341a3f6`. Noted it as `<enginePod>`
2. Determine which snapshot was impacted. From the error message, you saw e.g.  `BUG: Inconsistent sn

[2018-11-28 02:15] #321 closed

[2018-11-28 10:32] Angelinsky7 commented on #321
@yasker thank you !

[2018-11-28 16:38] phal0r opened #341 "Volumes randomly failing"
From time to time containers with Longhorn volumes randomly fail.  We need to redeploy them via Rancher UI to recover from this state.

I can find a lot of entries like this in longhorn-manager (can't tell if it is related to the failing):
`Requeue longhorn-system/rancher-2-node-02 due to conflict`

[2018-11-28 19:55] yasker commented on #341
@phal0r this message is only at debug level, and it won't be the reason that pods are failed.

Can you show the manager's log when the incident happened? Also, let us know if you noticed anything else abnormal.

Just in case, make sure all of your nodes are in the same location and have good (high bandwidth and low latency) network connections between them.

[2018-11-28 23:30] yasker commented on #253
@aleksey005 What you saw seems like https://github.com/rancher/longhorn/issues/321 .

[2018-11-29 09:36] BalaBalaYi commented on #339
@yasker
For now, i can use yml to define the private-registry for longhorn images.
[code]

But i don't know how to define the private-registry for the following images:
![image](https://user-images.githubusercontent.com/23303886/49212322-b9d74080-f3fc-11e8-9269-3774c5768339.png)

Could you give me some advise? thx

[2018-11-29 12:35] lucasm0ta commented on #306
Hi, I've created a cluster in Rancher v2.1.1 using Longhorn on version v0.3.2 and added a cluster with 60 machines then deleted them. The problem still persists with the deleted nodes still being listed in Longhorn node list with the Down status (unable to remove by the UI). Do someone have the same problem still? Any tips regarding it?

Longhorn creation parameters:
* Longhorn Kubernetes Driver:

[2018-11-29 15:19] phal0r commented on #341
Thanks for the quick response. It sounded quite critical, this is why I wanted to post it.
It's a Rancher 2.1 cluster consisting of 3 nodes in the same data center at digitalocean, so bandwidth and latency should be fine.

Once it happens again, I will try to get the logs.

[2018-11-29 19:42] yasker commented on #306
@lucasm0ta Are they any replicas remains on the node? You would need to delete the replicas first before delete the node. The UI should give some prompt on why it's not deletable (if the button is greyed out).

[2018-11-29 21:12] yasker commented on #339
@BalaBalaYi Those are in the command line argument of `longhorn-driver-deployer`. See https://github.com/rancher/longhorn-manager/blob/master/app/driver.go#L73

You can update the cmdline parameter of `longhorn-driver-deployer` to use different images for csi.  Parameters (as you seen in the code) are: `csi-attacher-image`, `csi-provisioner-image`, and `csi-driver-registrar-image`

[2018-11-29 21:34] yasker opened #342 "ui: volume detail page: add a switch to show removed (hidden) snapshots"
Otherwise it may looks weird that volume took more than it should.

[2018-11-30 00:57] BalaBalaYi commented on #339
@yasker Get it. Thx!

[2018-11-30 03:19] yasker opened #343 "ui: volume detail page: disable volume snapshot operations when upgrade or migration in process"
The engine isn't available for any snapshot operations during the process and can trigger false alarms. Users may think upgrade/migration failed as the result.

List snapshot included.

[2018-11-30 07:05] senggen opened #344 "Stuck on deleting longhorn"
There is an "Waiting on external-attacher/io-rancher-longhorn" error, while delete pvc from rancher storage/persistant volume.

Tried commands below, the pvc and longhorn-system namespace is still there.
[code]

[2018-11-30 08:00] aleksey005 commented on #253
@yasker #321 Thanks, it works. But it needs to be repeated after each redeploy workload after disconnecting and connecting the volume. I will write a script that will do this automatically.

[2018-11-30 08:09] twitchax commented on #10
Any updates here?  Any need for outside contribution?

[2018-11-30 13:10] lucasm0ta commented on #306
There were no replicas on the node. The UI allows to click on "Remove Node" on the Down nodes, the page loads but nothing happens. Which longhorn service I can find relevant logs about it ?

[2018-11-30 19:44] yasker commented on #306
@lucasm0ta Can you check all the `longhorn-manager`'s log?

@LLParse can you take a look at this issue?

[2018-11-30 19:46] yasker commented on #253
@aleksey005 It should not happen in such high frequency... Are you using ext4 for your nodes or other filesystems?

[2018-11-30 19:57] yasker commented on #344
@senggen PVC needs to be removed before the Longhorn system was removed. https://github.com/rancher/longhorn#uninstall-longhorn

As a workaround, you can remove the `finalizer` in your pvc to get it removed.

[2018-11-30 20:03] LLParse commented on #306
@lucasm0ta Are there any volumes attached to the Down nodes? These need to be detached before node can be removed.

The UI should be telling user about this...so I suspect some bug... the logs would be very helpful.

[2018-11-30 21:22] yasker commented on #10
No update so far. Been busy on other issues.

The latest update of on RancherOS is we're currently blocking by https://github.com/rancher/longhorn/issues/198. The previous solution results in a nested mount which won't play well with Linux.

We definitely welcome outside helps!

[2018-12-01 12:42] Dremor commented on #299
May I add an idea : make it possible to set the default number of replicas in the general settings.

Use case :
- Users who want to preserve disk space, and manually set more replicas for specific volumes.
- Users who want to have a more reliable cluster by adding more replicas by default.

[2018-12-01 12:54] Dremor opened #345 "Add swift as backup target"
Would it be possible to add the SWIFT API ad possible backup target ?

[2018-12-01 19:45] yasker commented on #299
@Dremor Yeah, that's definitely doable. We can add that for the next release.

[2018-12-01 19:48] yasker commented on #345
I think Swift can expose S3 API? Then it should be supported automatically.

[2018-12-02 13:04] Dremor commented on #345
The support is still partial, and some provider (like OVH) disable it in favour of SWIFT.

[2018-12-02 20:47] aleksey005 commented on #253
@yasker Yes, all volume use ext4 - host Ubuntu 18.04 Longhorn v0.3.2, Rancher v.2.1.1, mounted SSD and HDD disks

Those volumes that have not been re-created (Attached) always work well, but if you recreate the workload at least once, this error message always appears and I don’t see snapshots and backups.
![image](https://user-images.githubusercontent.com/6145279/49344730-4fd4ca80-f68c-11e8-8e30-

[2018-12-03 03:56] senggen commented on #344
@yasker Thanks for your answer.

I can't reinstall the longhorn, the error is "Validation failed in API: target namespace longhorn-system is not assigned to the current project c-xd6f2:p-lz8ml". And the "longhorn-system" in namespace is in removing status.

So, I can't reinstall longhorn, and I can't remove it now.

I want to reinstall the longhorn, have any idea?

[2018-12-03 07:21] shinebayar-g opened #346 "Looking for advice"
We're planning to build our production grade kubernetes cluster on Digital Ocean using Rancher.
At GCP, we use Google Persistent Disk for volume storage. But on Digital Ocean it's like bare metal.
I know Longhorn is beta grade product. I saw Longhorn is mentioned on https://github.com/openebs/openebs/ (I guess these 2 are related?) that they're using longhorn as backend or something.. Does that me

[2018-12-03 09:43] phal0r commented on #341
I could find a Error in the Logs of the manager now:
[code]

The volume gets detached and the corresponding containers are failing and reporting "read-only filesystems". Only a manual redeploy of the container will reattach the volume.

[2018-12-03 18:47] yasker commented on #253
@aleksey005 The error message in your screenshot is different from what I saw so far. The difference between the sizes is bigger than what I saw in #321 . It may due to the mix of HDD and SSD. But just in case, can you go to each disk and check if the snapshot named here does have the same checksum (means the file are indeed the same)?

You can get the data path from replica CRD. E.g.
[code]

Then

[2018-12-03 18:53] yasker commented on #344
One possibility is the uninstallation of Longhorn wasn't done properly before, which left finalizer in the resources that cannot be cleaned up.

You can try the instructions at https://github.com/rancher/longhorn/blob/master/docs/chart.md#problems-with-crds to see if it helps to remove the Longhorn system namespace.

[2018-12-03 18:58] yasker commented on #341
This error message itself is not critical and isn't the reason for detaching. But it meant the manager decide to detach the volume (thus stop the monitoring). So the volume was started detaching before this message.

Can you show the fuller log of the managers around the same time? Also, you can give a look at the log of <volumename>-e-xxx which is the engine of the volume. If it failed due to som

[2018-12-03 23:01] yasker commented on #133
The workaround is in place.

We will still track this for a proper fix.

[2018-12-03 23:57] yasker commented on #177
Fixed (workaround for now) by https://github.com/rancher/longhorn-manager/commit/7ec0a17e7ff19668c13898867cc0727940f9ef22

[2018-12-03 23:57] #177 closed

[2018-12-03 23:57] yasker commented on #209
Fixed (workaround for now) by https://github.com/rancher/longhorn-manager/commit/7ec0a17e7ff19668c13898867cc0727940f9ef22

[2018-12-03 23:57] #209 closed

[2018-12-04 00:51] yasker commented on #267
Reproduced in the integration test.

[2018-12-04 05:53] yasker commented on #267
The attach function in CSI wasn't even called in the redeployment. Maybe an issue with CSI framework.

[2018-12-04 07:45] aleksey005 commented on #253
`> kubectl -n longhorn-system get lhr pvc-fa39cd33f16911e8-r-1fa03c29 -o yaml
apiVersion: longhorn.rancher.io/v1alpha1
kind: Replica
metadata:
  creationTimestamp: 2018-11-26T10:56:55Z
  finalizers:
  - longhorn.rancher.io
  generation: 1
  labels:
    longhornnode: huan3
    longhornvolume: pvc-fa39cd33f16911e8
  name: pvc-fa39cd33f16911e8-r-1fa03c29
  namespace: longhorn-system
  ownerReferences

[2018-12-04 07:50] yasker commented on #253
Looks good. It confirms the error message is a false alarm. Huan3's /mnt/sdc is different from others? Maybe SSD vs spinning disk can cause this.

[2018-12-04 07:54] aleksey005 commented on #253
only huan3 attached HDD, hun1 and huan2 - SSD
![image](https://user-images.githubusercontent.com/6145279/49426911-fdda9480-f7b2-11e8-9e4e-f6f629a28290.png)

[2018-12-04 08:57] aleksey005 commented on #253
Controller log:
[code]

[2018-12-04 10:41] senggen commented on #344
@yasker It's ok now, thank a lot.

[2018-12-04 18:37] yasker commented on #341
@de-robat

[code]

This means the Longhorn manager decide to detach the volume. Seems immediately after attached the volume to `rancher-2-node-01`, it was detached and reattached to ` rancher-2-node-03`.  Was the pod respun on a different node? It may due to Kubernetes ask it to, e.g. original pod which uses the volume crashed somehow by itself, then Kubernetes decided to start it on another node.

[2018-12-04 18:43] yasker commented on #253
@aleksey005

Can you delete a few snapshots? From the log, the maximum number of snapshot was reached so it cannot rebuild. The maximum snapshot number per volume is 250. Each rebuild will need one extra snapshot, besides what's created by the user.

After deleting the snapshots, try to delete that replica and Longhorn should heal the volume automatically.

[2018-12-04 18:44] #344 closed

[2018-12-04 18:54] aleksey005 commented on #253
I deleted all the snapshots and lost several volumes, I had to restore them from the archive s3. Apparently I did not understand something. But does it seem that every time the workload is re-created, the longhorn takes into account all the replicas created earlier and counts the snapshots in them?

[2018-12-04 19:09] aleksey005 commented on #253
I deleted the cue and the rebuild did not happen. The replica was gray all the time and did not turn yellow. In general, for myself, I concluded that with restarting workloads, you need to be especially careful and always do backup in c3 before restarting

[2018-12-04 20:37] yasker commented on #253
@aleksey005 yeah, every time when the volume has been attached, Longhorn will take account all the replicas created earlier. The volume content is in compose of all those snapshots.

What failure (lost of volume) do you see does when deleting snapshot? Longhorn won't allow you to delete snapshots that cannot be deleted and will coalesce other snapshots during the deleting. Those are decided automa

[2018-12-04 20:47] aleksey005 commented on #253
I re-created workloads many times and each time, probably, a replica of the volume was created on three nodes, which had different names. They multiplied until they reached the limit.

In the near future I will create a test workload and will conduct experiments on it. I just began to look at the disks and saw there a huge number of not remote replicas from the loads that I had previously created

[2018-12-04 20:50] yasker commented on #253
@aleksey005 I'd like to clarify: the only replicas Longhorn counts are the one listed with the attached volume. The snapshots in the replicas will stay the same as before. But the replicas won't be kept once it's removed from the engine.

[2018-12-05 03:37] yasker opened #347 "driver: upgrade CSI version to v1.1.0"
To follow Kubernetes's v1.13 release.

[2018-12-05 05:00] yasker commented on #347
Kubernetes v1.13 and CSI v1.0 broke the backward compatibility, again.

Kubernetes v1.12 and less are still using e.g. service csi.v0, though there is no v0 endpoint available in the CSI v1.0 package. And Kubernetes v1.13+ cannot use csi.v0.

Seems we don't have a choice but use separate code bases for two now.

Maybe from v0.4.0+, we only support Kubernetes v1.13+. In the meantime, continuing mai

[2018-12-05 05:48] yasker commented on #267
It looks a race condition in Kubelet. It's between creating and deleting volume attachments when create/delete pod repeatally.

Kubelet log:

[code]

[2018-12-05 08:49] de-robat commented on #341
Sure @yasker,
 up until 4 days before the incident the log does not contain anything else than:
[code]
the next entry of interest may be:
[code]
but that does not even relate to the same volume so may not related to our issue neither?

To elaborate a little more on the error-scenarios we do encounter:

We run services, e.g. a next-cloud installation that utilizes a postgres for storage purposes. T

[2018-12-05 17:22] yasker commented on #341
@de-robat

Now it's an interesting case.

Longhorn itself won't initiate the moving of volume. Only API caller or Kubernetes can decide to do so. I am not sure the log I saw above is before or after the event. It can be in the effort of redeploying the workload, Kubernetes relocate the pod to another node so Longhorn moved along.

Can you show me the immediate log for the one minute before:
[code]

[2018-12-06 09:48] de-robat commented on #341
@yasker, unfortunately there is no immediate log before the event at least not in the managers log. The log looks like follow:
[code]
I think kubetail will not offer anything new, as the issue mostly is resolved by the longhorn system when we do restart our pods. So I won’t expect seeing anything there, but I prepared the cluster to give it a try. On a site note: Your troubleshooting guide says `k

[2018-12-06 13:06] XzenTorXz opened #348 "how to recover from a node crash"
I have the following setup:
- node1: all roles
- node2: all roles
- node3: etcd+control

I installed rancher and tested it with a statefulset and a deploymet + volume on node2. Rancher created volumes that where mounted on node2 and had replicas on node1.
After the the shutdown of node2, the deployments tried to recreate themself, but without success. Whenever I try to start a deployment with the

[2018-12-06 13:08] XzenTorXz commented on #348
also on the volume view it shows the error

 from time to time, not sure if this is related.

[2018-12-06 18:57] yasker commented on #341
@de-robat Sorry there is a typo in the troubleshooting guide. It's meant to be `kubetail longhorn-manager -n longhorn-system`. It's fixed now.

[2018-12-06 19:32] yasker commented on #348
@XzenTorXz It's a bug. We aware of this as in https://github.com/rancher/longhorn/issues/199 and Kubernetes SIG Storage also aware of some unreliability of the workload migration with storage. We're working on fixing it.

In the meantime, if you didn't hit the Kubernetes bug of https://github.com/kubernetes-csi/external-provisioner/issues/130 , you can stop the workload and manually detach the vol

[2018-12-07 08:47] de-robat commented on #341
Well, no worries @yasker , it was still comprehensible, was just wondering wheter it strives for everything in the longhorn-namespace or just the managers. Good thing you clarified it though 👍 btt: As requested by you within our slack converastion i'm going to provide more logs then the initial set of logs from yesterday to give you the fullest picture possible. And thanks again for all your effor

[2018-12-07 09:51] XzenTorXz commented on #348
I had to delete node2 in kubernetes and all replicas of the volumes hosted on node2, then I could delete node2 in longhorn. And It reattached everything just fine.

[2018-12-08 00:04] yasker commented on #341
Hi Robert, I’ve seen the log. For now, it looks like something is killing Longhorn engines and replicas. If you take a look at logs for rancher2-node3 and rancher2-node1, you will notice the report of `instance xxxx crashed`, which means it’s a stop not initiated by Longhorn system, which should the reason of why the volume is gone. The manager has logged the final logs of the engine. And the case

[2018-12-08 21:21] #346 closed, assigned to nobody

[2018-12-11 05:29] yasker opened #349 "test: Test AWS S3 as backupstore"
There were reports that AWS S3 doesn't work due to `lack of endpoint`. Need to double check.

Also, make it easier to test AWS S3 with our test script, e.g. use the existing S3 credentials if some environment variable exists. See https://github.com/rancher/convoy/blob/master/tests/integration/test_main.py for example.

[2018-12-11 09:36] de-robat commented on #341
I tried forcefully shutting down one of our nodes that holds a volume which is in use, but no luck regarding forcing our issue ( which in it self is a good thing :D )
In parallel i kept running kubetail which did not reveal any issues neither. So it will take me some more time to provoke the erroneous scenario. As soon as i can provide more details i'll come back to you! Thank you so much for your

[2018-12-11 19:37] yasker commented on #341
@de-robat No problem. Let me know if you found anything. Maybe it's due to a large workload has been deployed since it's likely caused by high CPU/memory utilization on the node. And if it happens again, kubelet log and dmesg should have some clues.

[2018-12-12 14:44] AmreeshTyagi commented on #310
I am also getting this issue while deploying statefulset on Kubernetes v1.12 & longhorn v0.3.2.
Any idea?

[2018-12-12 15:16] db-adrian opened #350 "Volume is made Read-only"
I use Longhorn for a while now. I noticed that form time to time some volumes are somehow made read only. Which causes my application to crash because it cant write to the volume. Are there some circumstances known where such behavior could occur?
Example output from mysql server:
[code]
The csi-plugin container writes this:
[code]

[2018-12-12 23:13] yasker commented on #350
@db-adrian Can you check if the managers' log? Normally it because of the engine crashed. Last time we found that Kubernetes may evict the Longhorn engines because of the CPU/memory utilization on the node.

[2018-12-12 23:15] yasker commented on #310
@AmreeshTyagi The Kubernetes v1.12 changed the CSI interface. We automatically detect that for v1.12 when deploying. But your setup has already been deployed in v1.11 way. You can manually delete the `longhorn-driver-deployer` and it should automatically redeploy correctly again.

[2018-12-13 08:33] AmreeshTyagi commented on #310
@yasker Thanks. Tried after deleting from catalog & it worked. Thanks again.

[2018-12-13 10:56] db-adrian commented on #350
These are the logs from the manager pods from the time period where I think it happend:
[code]
Is there a way to automatically reattach the volume in rw? The only way I found out to get it working again is to manually delete the application pod and therefore the volume is remounted.

[2018-12-14 14:40] courcelm commented on #350
I also experienced this issue. It works fine for the day and the next morning, the application crashed.

[2018-12-14 21:43] yasker commented on #350
@db-adrian Manager reports cannot find node `master1`, which may be the cause of the problem. Is anything abnormal about `master1`? Also, the engine reports fail to rebuild due to replica state is open, which can be caused by unstable network.

@courcelm Can you provide the manager log? We can start working from there. There can be different symptoms.

[2018-12-15 01:57] yasker opened #351 "Node controller needs to deal with non-worker node"
https://github.com/rancher/longhorn/issues/350

[2018-12-15 02:00] yasker commented on #350
@db-adrian The log doesn't show volume failure...

The rebuilding failure is probably due to the first time rebuild failure, but the replica wasn't deleted so it's remain in open and not usable state. That would be a bug. We will investigate that.

[2018-12-18 11:43] courcelm commented on #350
Here is the read only error for a Redis container:
1:M 18 Dec 11:41:39.083 * Background saving started by pid 14691
14691:C 18 Dec 11:41:39.083 # Failed opening the RDB file dump.rdb (in server root dir /data) for saving: Read-only file system
1:M 18 Dec 11:41:39.183 # Background saving error

Here is the tail of the longhorn manager:

time="2018-12-15T10:37:09Z" level=debug msg="Requeue longhorn-

[2018-12-18 12:12] phal0r commented on #341
We did some more testing and could reproduce a scenario, where volumes would be read-only or not available at all. This happens, when we restart the docker service of the node, where more longhorn components are running: Specifically csi-attacher, csi-provisioner, driver-deployer and longhorn-ui.

All Volumes on this node get killed obviously, when restarting the service, but do not recover. We su

[2018-12-18 23:33] yasker commented on #341
@phal0r Thanks for the followup.

We didn't take the scenario that Docker service crashed but no node rebooted into consideration. If the node was rebooted, the manager will detect that and decide it's normal and we should reattach the volume. Though if only the docker service restarted, the manager still decides something was wrong and then detach the volume.

We didn't automatically reattach the

[2018-12-18 23:42] yasker commented on #350
@courcelm I also didn't see the engine crash from your log. And I noticed that node `tp93-i` seems had an issue. It reports `KubeletNotReady` constantly. And there is one other report for `tp87-i` as well. Is there anything else happens during the period of Redis failure?

[2018-12-19 14:42] courcelm commented on #350
Not sure exactly where to look at. Can you guide me?

First Redis error at 18 Dec 06:36:51.440. There are timeout errors above starting at E1218 06:35:55.763130

I found some longhorn log in kubelet log (see below), I don't know if it helps. I think this is related to my hourly snapshot of the volume.

I1218 00:00:05.733254   25178 kubelet.go:1883] SyncLoop (ADD, "api"): "pvc-4998dc62020111e9-c-gk

[2018-12-19 18:43] KaelBaldwin commented on #294
I've been using longhorn quite a bit and do notice that if the detach process takes a little while (which it normally does with fairly large volumes) the attach process will fail.

I'm having to manually scale down my deployments to 0, wait for the volume to show detached in longhorns UI then scale back up to 1 in order to have a smooth transition.

[2018-12-19 19:19] yasker commented on #294
@KaelBaldwin Your case sounds like the race condition in the Kubernetes CSI attachment. Can you take a look at https://github.com/rancher/longhorn/issues/267 to see if that's the case?

[2018-12-19 19:32] KaelBaldwin commented on #294
other than that it needs to be created and deleted repeatedly it might be the same.
Here's what I do to reproduce my case:

1. scale down a deployment (with a longhorn volume attached) to 0
2. once it disappears from rancher's interface immediately scale back up (don't wait for longhorns interface to show detached)
3. notice the volume is already exclusively attached message.

Depending on how lar

[2018-12-21 15:30] phal0r commented on #341
It's the same symptoms as in the original case, but the cause is probably not the same. We wait for Rancher 2.2 to have in-depth monitoring information. For now we do not monitor our services and therefor don't know when and why exactly things become unavailable. While we checked another issue we could reproduce the symptoms as described in our original case and wanted to share our findings.

In g

[2018-12-21 16:21] Angelinsky7 opened #352 "longhorn-driver-deployer hangs with 'PodInitializing'"
Hi,
i'm trying to install on a new node longhorn 0.3.2 and the longhorn-driver-deployer hangs in the state 'PodInitializing' without doing nothing...
sadly i don't know where i could find a log message to guide me solve this.
my installation pass the requirements with the Environment check script...
i tried with csi and flexvolume

this is the pod events :

[code]

the node info :
[code]

thanks f

[2018-12-21 17:01] Angelinsky7 commented on #352
If i deactivate 'Project Network Isolation' in Rancher everything is working fine...
So it's clearly not an issue with longhorn... sorry
If someone knows how to configure a namspace/project to override the setting it would be greate

[2018-12-21 19:18] yasker commented on #352
@Angelinsky7 It's due to `longhorn-driver-deployer` cannot talk to the Longhorn manager API. So it makes sense that it's a network related issue.

Though to my understanding (https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/options/), `Project Network Isolation` only applies to the network between projects. Can you check what's the log in the Longhorn manager? Is it compl

[2018-12-22 00:10] Angelinsky7 commented on #352
yeah exactly, the issue is that the driver cannot talk to the manager thought the service discovery name... if i try with the ip of the manager with a curl command everything is fine, but if i try with the dns name, no response. If i deactivate Project Network Isolation it's working again...
It clearly seems that is a docker configuration issue.

[2018-12-22 15:38] phal0r commented on #341
Ok, I just wanted to make sure, we are talking about the same thing. I read in another issue, that you are currently thinking on how to make csi-attacher more fault-tolerant with a raft-like multi-instance setup. So we probably should just wait on how things progress or should we provide more information for this issue?

I really think longhorn is a cool product and it would be nice for outsiders

[2018-12-22 21:13] yasker commented on #341
@phal0r The high availability with Kubernetes is one important issue we need to address before announcing Longhorn GA. We have already identified a few gaps (including the one you mentioned about Docker and one presuming that Longhorn container killed by Kubernetes or Linux Kernel) and will start working on it next (would be after the holiday though).

For the time being, I think you can just wait

[2018-12-25 08:32] aleksey005 commented on #253
Hello!

After all nodes are reloaded, snapshots are created every minute and the rebuilding process does not occur.

![image](https://user-images.githubusercontent.com/6145279/50417593-66f47b80-0838-11e9-8db4-86b30e6b6866.png)

![image](https://user-images.githubusercontent.com/6145279/50417606-770c5b00-0838-11e9-9537-77590ba1369b.png)

![image](https://user-images.githubusercontent.com/6145279/50

[2018-12-25 16:46] aleksey005 commented on #253
This has been going on for a long time.
[code]

[2018-12-26 23:12] thbeh opened #353 "will longhorn have a s3 compatible object storage?"
Is there a plan to create a S3 compatible object storage for longhorn?

[2018-12-26 23:35] yasker commented on #353
@thbeh Longhorn supports S3 compatible object storage. See https://github.com/rancher/longhorn/blob/master/docs/backup.md#setup-a-local-testing-backupstore for example.

[2018-12-26 23:35] #353 closed

[2018-12-26 23:42] yasker commented on #253
@aleksey005 I am a bit confused here. I think it's the rebuilding cause the snapshotting since your screenshot shows the rebuilding in progress. And the rebuilding process in Longhorn involves taking a snapshot automatically. (Also, make sure you didn't schedule any recurring snapshot/backup.)

Is it always happens on the same node? Btw, what do you mean by `all nodes are reloaded`? The replica lo

[2018-12-27 07:30] aleksey005 commented on #253
The power was turned off and all the hardware nodes rebooted - this was done specifically for testing. After that, some volumes were degraded in status. The rebuilding process begins, a large number of snapshots are created and at 250 the recovery ends and the replica node turns gray. I delete all the snapshots and make a purge, after this the rebuild process starts again and ends again at 250 sna

[2018-12-27 07:36] aleksey005 commented on #253
![image](https://user-images.githubusercontent.com/6145279/50470810-2d03b080-09c3-11e9-9eb8-d249c6ac8759.png)
Now on another problem volume, the recovery process is underway and it is clear that snapshots are created by themselves, almost every minute.

[2018-12-27 07:54] aleksey005 commented on #253
`time="2018-12-27T07:52:26Z" level=info msg="The file is a hole: [ 0: 2621440](2621440)"
time="2018-12-27T07:52:26Z" level=info msg="Ssync client: exit code 0"
time="2018-12-27T07:52:26Z" level=info msg="Done running ssync [ssync -host 10.42.0.51 -port 9762 volume-snap-38119cc6-a9e4-4e66-ba9e-eab2cd662a1f.img]"
time="2018-12-27T07:52:26Z" level=info msg="Running ssync [ssync -host 10.42.0.51 -port

[2018-12-27 07:55] aleksey005 commented on #253
[logs.txt](https://github.com/rancher/longhorn/files/2711852/logs.txt)

[2018-12-27 10:14] aleksey005 commented on #253
![image](https://user-images.githubusercontent.com/6145279/50476392-0d778280-09d9-11e9-9c1e-80f882f88f75.png)
I noticed that in the process of rebuilding, a backup copy is accessed in S3, but I did not restore it - for some reason this happens automatically.

[2018-12-28 00:50] yasker commented on #253
@aleksey005 Seems there is a problem with the other two replicas which wasn't rebuilding:
[code]

And this caused the rebuilding replica was reopened repeatedly without actually being worked on.
[code]

The failure was happened in the rebuild verify step. Unfortunately, the detail of chains is not shown.

If you delete the troubled replica `10.42.0.51` after purging the snapshots, can it recover?

[2018-12-28 00:55] yasker opened #354 "engine: if snapshot list happens at the same time as snapshot delete, engine may report error"

[2018-12-28 00:58] yasker commented on #350
@courcelm I think the network between your nodes has some issues:
[code]

(btw, can you put the log in a file or attachment later? it would be easy to look into)

[2018-12-28 12:39] aleksey005 commented on #253
Unfortunately, I had to remove the problematic replicas and restore them from the backup (I was able to make a backup, even though the volume was degraded), since these volumes were used in the productive release of our microservice. I can provide access to the cluster so that you can see for yourself when such a problem happens. Unfortunately, my qualifications are not enough to clearly diagnose

[2018-12-28 19:11] yasker commented on #253
@aleksey005 No worries, glad the backup still works as expected.

Thanks again for the information. We will try to reproduce the issue in the lab and let you know.

[2018-12-30 00:39] thbeh commented on #353
Sorry, I meant will longhorn have a direct S3 API for object storage instead of dependancy on minio, etc. Something similar to Zenko's s3server?

[2018-12-30 07:38] yasker commented on #353
No, Longhorn doesn't act as S3 server. User can use any S3 compatible server with Longhorn.

And for Zenko, I think it's a controller provides S3 API but not storing the data by itself. It replicates data to other cloud storages e.g. AWS S3.

What would be the use case for Longhorn to provide S3 API? If you meant it's more like Ceph Object storage, Longhorn doesn't support it. Longhorn only design

[2018-12-30 10:54] thbeh commented on #353
Thanks.

[2019-01-02 21:18] alfrye opened #355 "permission denied with attempting to write to volume mount"
After getting longhorn installed and creating the volume I tried to deploy to an application that uses a PVC and after deploying the app it appears the PVC got created but the application gets a permission denied error when trying to write to the volume mount.

[2019-01-02 22:19] #355 closed

[2019-01-02 22:20] alfrye commented on #355
I found the issue with my deployment.yaml and how I was setting up the volume mounts

[2019-01-05 13:24] brunnels opened #356 "Released PersistentVolume not deleting"
If I try to delete it hangs and never finishes.
[code]
If I patch the finalizer then it terminates and reclaim policy deletes it automatically.
`kubectl -n keycloak patch PersistentVolume pvc-27b8399a108811e9 -p '{"metadata":{"finalizers": []}}' --type=merge`

[2019-01-05 15:02] Angelinsky7 opened #357 "[Question] Minimal volume size"
Hi,
i would like to know if it's possible (and how) to create volumes smaller that 1Gi in size.
when i try to build a smaller volume in rancher, longhorn always create 1Gi volume....

if you look at this kubernetes volume file you can see that i tried to create a 400Mi volume but longhorn created a 1Gi one.

[code]

is this normal ? thanks a lot for your answers

[2019-01-07 18:38] yasker commented on #356
Are Longhorn managers and CSI plugins still running? The manager should pick it up and clean up after it.

[2019-01-07 18:41] yasker commented on #357
@Angelinsky7 I think in the manager we've limited the minimal size of the volume to 1G. I need to check but I agree that we should able to create volume less than 1G. 1 MiB sounds like a reasonable minimum.

[2019-01-07 18:48] yasker opened #358 "Deprecate Flexvolume driver and only support Kubernetes 1.11+"
We're planning to deprecate Flexvolume driver in Longhorn in the future. So we can focus on supporting Kubernetes v1.11+.

[2019-01-07 19:53] yasker commented on #357
On second thought, 1G sounds fine too. Since Longhorn is sparse, so unused storage won't take space anyway.

[2019-01-07 22:50] yasker opened #359 "UI: Changes to `numberOfReplicas`"
1. `numberOfReplica` prefilled in volume creation and backup restoration should be the same value as the `DefaultReplicaCount` in the setting.
2. In the Volume Detail page, to allow a user to change an attached volume's `numberOfReplicas`. The valid value is from 1 to 20. It should be listed as an action item in the dropdown. It's not common to change it.

[2019-01-07 23:56] yasker commented on #359
Backend merged with https://github.com/rancher/longhorn-manager/pull/214

[2019-01-08 00:03] yasker commented on #299
Backend is done (except for the `excessive resiliency` reporting).

Pending on https://github.com/rancher/longhorn/issues/359

[2019-01-08 00:03] #299 closed

[2019-01-08 01:12] yasker commented on #253
@aleksey005 Unfortunately, we cannot reproduce it in the lab... We will release a new version of Longhorn soon, with additional debug message which should point us in the right direction, if you met this issue again.

[2019-01-08 12:17] Angelinsky7 commented on #357
Thanks for you answer, i would gladly prefer a 1Mi minimum limit like that i could create 1Mi maximum storage. If you see what i mean... (or a 500Mi maximum redis cache, or db or anything that i would like)
with the 1Gi minimum limit it also mean that every storage can be 1Gi and in some case i would prefer not (like that i can be completely sure of my storage usage)

[2019-01-08 13:01] aleksey005 commented on #253
@yasker right now several volumes are in this state. I can give you access to the my cluster.

[2019-01-08 19:09] yasker commented on #253
@aleksey005 That would be helpful. You can find me at rancher-users.slack.com as @yasker , or drop me an email.

[2019-01-08 19:55] yasker commented on #349
For Longhorn v0.3.2 and below, need following configuration in the secret:
[code]
The endpoint originally will look like:
[code]
See https://docs.aws.amazon.com/general/latest/gr/rande.html for S3 endpoints.

It won't be necessary for Longhorn v0.3.3+

[2019-01-08 20:16] yasker commented on #349
Fixed with https://github.com/rancher/longhorn-manager/pull/216

[2019-01-08 20:16] #349 closed

[2019-01-08 22:32] yasker commented on #267
The volume attachment wasn't created for the volume at the second time when tested with Kubernetes v1.10.3.

After upgrade Kubernetes to v1.12.4, I can no longer reproduce this issue.

@PhilippHeuer @KaelBaldwin Can you retry on Kubernetes v1.12.4? I will close the issue for now. Feel free to reopen the issue if you reproduce it again with v1.12.4+

[2019-01-08 22:32] #267 closed

[2019-01-09 01:42] yasker commented on #176
The inconsistent snapshot issue was fixed with https://github.com/rancher/longhorn/issues/321

[2019-01-09 03:00] yasker commented on #253
Thanks to @aleksey005 's setup, I am able to reproduce the issue now:
1. Restore a volume from backup
2. Delete the very first snapshot, which named `backup-xxx`
3. Delete a replica and let replica rebuild begin.

The rebuild cannot complete because when a new replica created, it will automatically restore the volume content to the first snapshot, later this snapshot would become extra compared to

[2019-01-10 02:44] yasker opened #360 "engine: the rebuild process should clean up the extra disks on the replica being rebuilt"
Triggered by #253 .

The restoration from a backup creates an extra backup disk for the volume, which can be deleted by the user. But any new replicas which are going to be rebuilt can still have that file (which should be fixed at the manager side in #253). Still, the rebuilding process should guarantee that the source and destination are completely the same, and shouldn't leave extra files on de

[2019-01-10 11:19] kc004 opened #361 "Backup volume not appear"
I have created S3 backup path for Longhorn and provided secret keys along with it.
It seems backup created on S3 successfully but on the backup tab it doesn't show up. Is there any other way I can restore those volumes?

![image](https://user-images.githubusercontent.com/8349649/50965152-2adb3f00-14f7-11e9-8454-e4d860c25d36.png)

![image](https://user-images.githubusercontent.com/8349649/50965272-

[2019-01-10 17:32] LLParse commented on #340
@guangbochen Thanks for adding the force flag.

We'll need to wait for a Rancher release before we can support upgrading Longhorn frontend service. AFAIK, the only way for users on *old* versions of Rancher to discover they need Rancher 2.2+ for this feature is to document it.

Rancher 1.x had the ability to limit which charts appeared based on Rancher version, this might be a nice feature to even

[2019-01-10 17:50] yasker commented on #361
@kc004 Can you click the left-top dropdown and see if the volume is there?

[2019-01-10 17:54] yasker commented on #340
@LLParse yeah that makes sense. Let's wait for Rancher v2.2 release.

[2019-01-10 19:54] sebastiansirch opened #362 "Backup configuration - default setting or label-based?"
Currently, backups can only be configured by manually approaching the UI.

Two ideas for improvement:
* Provide a default configuration applied to all volumes (e.g. to have a weekly backup by default)
* Or even provide a configuration based on labels, i.e. the PVC could have multiple labels about backup intervals etc. and longhorn could use them to configure its internal backup mechanism.

[2019-01-10 20:50] yasker commented on #362
Hi @sebastiansirch

Those ideas sound nice.

1. This one can definitely be done.
2. Currently, Longhorn doesn't have the permission to look into PVC object directly. Though we should able to provide a way to set a backup policy in the storage class. And in the future, we may able to look into PVCs in order to provide more visibility to the workload.

[2019-01-10 21:01] sebastiansirch commented on #362
Yep, I like the idea with the storage class even more than attaching those labels to the PVC 👍

[2019-01-10 22:50] yasker opened #363 "manager: replicas wasn't cleaned up for the directories other than the default path"
We need to switch namespace to the host to perform the replica directory cleanup.

And need an integration test case for this.

[2019-01-10 23:15] yasker commented on #340
@guangbochen Is there anything we can do to limit the Rancher version for charts?

[2019-01-11 00:45] guangbochen commented on #340
Unfortunately this is indeed a missing feature we need for the catalog charts, https://github.com/rancher/rancher/issues/15014, but it will only work for newer rancher version, we probably won’t do patch for those old versions, thanks.

[2019-01-11 03:57] kc004 commented on #361
Yes, i saw it not a single volume is there.

[2019-01-11 05:01] yasker commented on #361
If you go to the volume detail page, then select `Backups` from the top-right drop down menu, are you able to see the backup?

Also, can you check what's in `backups` folder of s3? If a backup was completed, it should show a related file there.

[2019-01-11 05:02] yasker commented on #359
Done.

[2019-01-11 05:02] yasker commented on #343
Done

[2019-01-11 05:02] #343 closed

[2019-01-11 05:02] yasker commented on #342
Done.

[2019-01-11 05:02] #342 closed

[2019-01-11 06:31] yasker opened #364 "manager: volume-head should be reported as a part of snapshot list"
But we shouldn't allow users to delete/revert to it. It contains size information which is useful to calculate the volume size.

Related to https://github.com/rancher/longhorn/issues/338

[2019-01-11 06:59] kc004 commented on #361
When i clicked on create backup one snapshot is generated and i can see files are being transmitted in S3. There are 2 folders and 1 file
2 Folders:
1. backup - which contains backup.cfg
2. blocks - It contains many folders and when i go through them they contains .blk file.

1 file - volume.cfg

[2019-01-11 07:59] yasker commented on #338
https://github.com/rancher/longhorn-manager/pull/218 was merged to report `volume-head` in the snapshot list.

Seems the snapshot list already filtered `volume-head`(live volume) and the calculations are still correct. Though the tooltip is missing for the `live volume`. The user should able to see the size and creation date.

[2019-01-11 18:12] yasker commented on #337
What's about the Longhorn main doc?

[2019-01-11 20:16] yasker commented on #364
Backend in at https://github.com/rancher/longhorn-manager/commit/e23da7f6798def8b96cb95d865afc86568020877

[2019-01-11 20:17] yasker commented on #364
Track UI as https://github.com/rancher/longhorn/issues/338

[2019-01-11 20:17] #364 closed

[2019-01-12 01:20] yasker commented on #338
Done.

[2019-01-12 01:20] #338 closed

[2019-01-12 01:20] yasker commented on #337
Done except the chart, which would be in the release process.

[2019-01-12 01:20] #337 closed

[2019-01-12 01:20] yasker commented on #322
Done.

[2019-01-12 01:20] #322 closed

[2019-01-12 07:59] utkarshmani1997 opened #367 "Fd leak in longhorn-engine"
I found fd leak in longhorn engine. It's happening because RPC server is not being closed gracefully if replica or controller get disconnected.
Here is the script that i used identify fd leak:
[code]

[2019-01-13 02:19] yasker opened #368 "[FEATURE] Real-time volume performance monitoring"
The real time performance should be shown in the volume's detail page.

[2019-01-13 02:27] #300 closed, assigned to nobody

[2019-01-13 02:30] yasker commented on #305
Close the issue due to the age. Feel free to reopen if needed.

[2019-01-13 02:30] #305 closed

[2019-01-13 02:31] yasker commented on #309
Close the issue due to the age. Feel free to reopen if needed.

[2019-01-13 02:31] #309 closed

[2019-01-13 02:31] yasker commented on #315
https://github.com/rancher/longhorn/issues/306 has been fixed.

[2019-01-13 02:31] #315 closed

[2019-01-13 02:36] #352 closed

[2019-01-13 02:38] yasker commented on #367
Thank you @utkarshmani1997 for reporting. I will check this. Also, patches are welcome!

[2019-01-13 02:38] #281 closed

[2019-01-13 02:44] yasker opened #369 "Support StorageSnapshotPreservePercentage"
The problem is the volume can be larger than its nominal size. Because each volume can have up to ~250 snapshots, each snapshot can be as big as the volume nominal size, so in order to keep the volume size in check, we need to make sure the volume cannot exceed the predefined size.

We already have StorageOverprovisioningPercentage, which defines that how much more storage we can put on a disk. St

[2019-01-15 01:35] yasker commented on #290
Cannot reproduce on Kubernetes v1.12.4

[2019-01-15 01:35] #290 closed

[2019-01-15 01:59] yasker opened #370 "UI: Add confirmation dialog for batch Delete operation"
It's scary for one-click to delete all the volumes without confirmation.

[2019-01-15 02:21] yasker commented on #370
Fixed by: https://github.com/rancher/longhorn-ui/pull/110

[2019-01-15 02:21] #370 closed

[2019-01-15 18:01] yasker commented on #359
`numberOfReplica prefilled in volume creation and backup restoration should be the same value as the DefaultReplicaCount in the setting.` This is not fixed.

[2019-01-15 20:09] yasker commented on #359
Fixed by https://github.com/rancher/longhorn-ui/pull/111

[2019-01-15 20:09] #359 closed

[2019-01-17 08:01] hwaastad opened #374 "CoreOS support"
I would like to use CSI with CoreOS.
Currently only Flexvolume works.

[2019-01-18 20:35] sebastiansirch commented on #362
Hi @yasker,
in the meanwhile, is there a way to configure the backup settings of a volume via the REST API (i.e. create a new backup schedule for a specific volume)? Then it would be easy to write a small script to apply default backup settings via a cronjob.

[2019-01-22 20:09] dnauck opened #375 "Longhorn volumes detached after node reboot"
Rancher 2.1.5
K8n: v1.11.6
Host: Ubuntu 16.04.5 LTS
Docker: 17.03.3-ce, build e19b718

Deployment:

[code]

Pod:
[code]

YAML:
[code]

Manager Log:
https://gist.github.com/dnauck/79be754c5983487a20aed99d76df4a0f

[2019-01-22 20:24] dnauck opened #376 "Unable to mount volume "rpc error: code = Internal desc = exit status 1""
Rancher 2.1.5
K8n: v1.11.6
Host: Ubuntu 16.04.5 LTS
Docker: 17.03.3-ce, build e19b718

Sometimes a volume cannot be mounted anymore:

[code]

Example pod:
[code]

The longhorn manager log does not contain any information about this error.

[2019-01-22 20:31] dnauck commented on #376
csi-attacher-0 log:

[code]

longhorn-csi-plugins:
[code]

[2019-01-22 20:32] dnauck commented on #376
It is also on the same node, that was rebooted before. see #375

[2019-01-23 07:44] dnauck commented on #376
This is also not self-healing. I need to kill the pod and start it again to get it eventually fixed.

[2019-01-23 12:38] paulmorabito opened #377 "Defining an NFS Backup Target"
What is the format for entering an NFS share as a backup target for Longhorn?

[2019-01-23 16:47] dnauck commented on #377
In my last test i used:

[code]

Its also NFSv4 only

[2019-01-23 17:50] yasker commented on #376
@dnauck The volume is in the attached state? If so, not self-healing is a problem. Manager log would be helpful for investigating what's going on in the self-healing part.

[2019-01-23 18:58] dnauck commented on #376
The longhorn manager log does not contain any information about this error.

The volume was detached

[2019-01-23 21:34] yasker commented on #377
@paulmorabito

@dnauck is right. Also, I've updated the doc for NFS backupstore at: https://github.com/rancher/longhorn/blob/master/docs/backup.md#nfs-backupstore

[2019-01-23 21:34] #377 closed

[2019-01-24 01:19] paulmorabito opened #378 "Scheduling and managing backups"
How can I schedule a regular NFS backup and is it possible to maintain a rolling backup of last x backups according to the backup schedule defined?

[2019-01-24 01:57] yasker commented on #378
@paulmorabito It's exactly `Recurring Backup` designed for. Check for the Volume Detail page, scroll down and you will see it.

[2019-01-24 01:57] #378 closed

[2019-01-24 18:08] phal0r commented on #341
@yasker
We updated to 0.3.3 today. Let's how it goes. Deployment was a breeze. Thanks for creating such a nice product. I know storage is hard and there are not to many good projects. We sticked with Longhorn, because we have the impression, that is driven by use cases very close to real environments. Can't wait to see prometheus performance information, volume resizing and more stability updates.

[2019-01-29 17:23] botzill commented on #55
Hi.

I wanted to ask if you have a helm chart with the latest version? Also, how easy will be to remove it using helm chart as well?

[2019-01-29 17:25] yasker commented on #55
@botzill you can now install/uninstall latest Longhorn using Apps in Rancher, which is a wrapper around Helm Chart. We haven't released official Helm Chart yet.

[2019-01-29 17:41] botzill commented on #55
Hi @yasker! Thx for reply. Rancher is a really nice platform, will look into that. For now, I have my own k8s cluster on DO and I want to test longhorn and having a helm chart for tests will be much easier. I saw [this](https://github.com/rancher/charts/tree/master/proposed/longhorn/v0.1.0) but not sure if it's up to date, can you guide me about this?

[2019-01-29 18:54] yasker commented on #55
In Rancher repo, the latest one is at https://github.com/rancher/charts/tree/master/proposed/longhorn/latest . Yeah, we will always keep this up to date.

[2019-01-29 19:04] botzill commented on #55
I see, great! Does this work with `helm install` ?

[2019-01-29 23:43] yasker commented on #361
@kc004 Hi, have you figured out anything? Recently I also encounter it once but cannot reproduce it since.

[2019-01-30 17:15] yasker commented on #361
@kc004 the snapshot issue has been fixed in https://github.com/rancher/longhorn/issues/321 , which has been shipped with v0.3.3 release.

Can you send me the manager logs, and engine/replica logs after you click "backup"?

[2019-01-31 12:38] rbq commented on #375
Manually scaling down all workloads with volumes to 0 (and then back up) seems to work.

[2019-01-31 18:22] yasker commented on #176
The issue shows again in v0.3.3.

[2019-01-31 23:51] yasker opened #379 "Replica scheduling shouldn't take failed replica into consideration"
Replica scheduling shouldn't take failed replicas into consideration. Otherwise, the healthy replicas may land in the same hosts even there are other qualified hosts available (e.g. node come back from downtime) if they contain failed replicas.

[2019-02-01 01:13] yasker commented on #199
Fixed in https://github.com/rancher/longhorn-manager/commit/ba3478302db6c7cb1c207933294a42a73dc20809

[2019-02-01 01:13] #199 closed

[2019-02-01 01:20] yasker commented on #294
@KuroObi I am working on this issue. How did `the pod gets redeployed on a different node`? Have you manually delete the original pod? I think that's the only way I know to get pod relocated.

I found out that if you force delete the pod (e.g. in the case of the node failure), it will take Kubernetes (v1.12 as I tested) extremely long time to delete the `volumeattachment` object thus detach the vo

[2019-02-01 07:38] kc004 commented on #361
@yasker I can see the backup volumes now. Actually, I was accessing longhorn using Rancher Proxy but rancher proxy doesn't redirect to the actual backup page. Now, I am accessing it using ingress and it seems working perfectly. Thanks for your support.

[2019-02-01 07:38] #361 closed

[2019-02-01 07:54] dnauck commented on #375
Sometimes yes ... but sometimes the "detach" status is infinitely and you need to reboot the node where it hangs.

[2019-02-04 21:51] yasker commented on #375
@dnauck How many worker nodes in the cluster? It seems the log is only from one manager.

I saw the manager detected the reboot of `pvc-7f1b88ff1bce11e9` on node `cl1-node-1 detected`. It seems there are three other volumes reboot with the node, but no reboot detection shown in this manager's log. Is there more than more node? If that's the case, I would need the logs from other managers as well.

[2019-02-04 21:58] dnauck commented on #375
Hey @yasker,

yes there're 3 worker nodes, but only this node was rebooted.
The reboot was 13 days ago, i don't think the logs are available anymore.

[2019-02-04 22:18] yasker commented on #376
I think it's the same issue as #375. The CSI plugin log shows the mount code cannot find the device. And that's because the device wasn't automatically attached after the node reboots.

Mark as duplicate of #375

[2019-02-04 22:18] #376 closed

[2019-02-04 23:55] yasker commented on #226
Should be fixed in v0.3.1 release with CSI drivers. https://github.com/rancher/longhorn/releases/tag/v0.3.1

[2019-02-04 23:55] #226 closed

[2019-02-04 23:58] yasker commented on #224
@qdrop17 Can you give a look at our upcoming v0.4 document? It describes the behavior of Kubernetes and Longhorn while dealing with node failure.

https://github.com/rancher/longhorn/blob/v0.4/docs/node-failure.md

[2019-02-05 01:37] yasker commented on #375
Cannot reproduce at the moment. Added some precautious log in the v0.4, and let's wait and see...

[2019-02-05 01:39] yasker commented on #294
Also, see https://github.com/rancher/longhorn/blob/v0.4/docs/node-failure.md for what would expect in the upcoming v0.4.0 release.

[2019-02-05 19:38] yasker opened #380 "engine: iscsi endpoint may lost even the data path recovered from timeout"
Engine log:
[code]

dmesg (local time = UTC+1)
[code]

[2019-02-05 19:45] yasker opened #381 "investigation: possible solution to automatic recover from remount as read-only"
Sometimes due to network issues, volumes are temporarily unable to be used.

Currently
1. If it's severe, the engine will crash/quit and the manager will detach it, report the failure to the user. (e.g. #350 , #341 )
2. Even it's not severe enough for the engine to crash/quit, Linux kernel may decide to remount the volume as read-only, which render the workload useless. (#380 )

I am not sure if i

[2019-02-05 20:53] dnauck opened #382 "[Feature Request] Show replica location in volume view (or mark volumes with 2+ replicas on the same host)"
It would be helpful to see the replica locations and state in the UI list of the volumes, currently you need to click one by one to find replicas on the same host or failed replicas.

Maybe with a hover information or search/reporting, etc.

[2019-02-05 20:54] dnauck opened #383 "[Feature Request] show engine image version in UI volume list"
After a longhorn upgrade you need to find our which volume needs an upgrade ans has wich engine image version. Please provide some reporting for this.

[2019-02-06 00:55] debianmaster opened #384 "Use pid 1 namespace for initiator: Failed to find the ancestor process: dockerd"
[code]

[2019-02-06 03:49] debianmaster commented on #384
thanks for the reply.  i will give a check  and get back to you

[2019-02-06 03:56] debianmaster commented on #384
i had to `oc adm policy add-scc-to-user privileged -z default -n longhorn-system`   for hostaccess    openshift 3.11 cluster

[2019-02-06 03:59] debianmaster commented on #384
Also
```oc adm policy add-scc-to-user anyuid -z default -n longhorn-system```

[2019-02-06 04:20] #384 closed

[2019-02-06 04:50] debianmaster opened #385 "several pvc pods for 1 volume."
im longhorn storage class has replica size as 2.  but upon creating pvc   it resulted in several   pvc pods in  longhorn-system.   this seems abnormal
[code]

[2019-02-06 05:06] debianmaster commented on #385
Sorry my env issue.   accidently kept replicas = 12

[2019-02-06 05:06] #385 closed

[2019-02-06 09:53] debianmaster opened #386 "Use pid 1 namespace for initiator: Failed to find the ancestor process: dockerd"
[code]

[2019-02-06 17:00] yasker commented on #386
As I said in https://github.com/rancher/longhorn/issues/384#issuecomment-460889226 , it's not an error message if things work well (e.g. you can attach a volume and use it). And it would be removed in v0.4.0 release.

[2019-02-06 17:00] #386 closed

[2019-02-06 17:16] yasker opened #387 "engine test: Add websocket test case in the integration test"
Now engine supports WebSocket on reporting the volume status.

[2019-02-07 03:01] yasker commented on #354
`removed` must be set before purging happens. So if the inconsistent happens when one of the parents was marked as `removed`, it should be good enough to ignore.

[2019-02-07 12:43] KuroObi commented on #294
Yes, the pod was manual deleted and redeployed.
After updating to the newest rancher and longhorn version it doesn't take that long till the old volumeattachment gets released.

[2019-02-07 18:22] #360 closed

[2019-02-07 18:25] yasker commented on #294
@KuroObi Sounds good. We are improving Longhorn resiliency in v0.4.0 release, and trying to figure out the way to speed up the detach process once the pod was deleted. The latter would likely involve in Kubernetes upstream changes, and we're working on that.

[2019-02-08 00:16] #354 closed

[2019-02-08 00:30] yasker commented on #340
Force flag is fixed by https://github.com/rancher/rancher/issues/16769 , would be in Rancher 2.2

[2019-02-08 00:30] #340 closed

[2019-02-08 01:44] yasker commented on #381
The remount won't happen if the volume is down, which result in the current mount point on the node will fail even the workload restarts. Need more closely integrated with Kubernetes to deal with the situation. Probably can be done through operate the volumeattachments.

[2019-02-11 09:04] paulmorabito opened #388 "Adding existing volume as persistent volume"
Hi,

I'm using Rancher 2.1.6 on bare metal and I have installed Longhorn 0.3.3. I have restored some volumes from backups (as I had to wipe and rebuild my cluster). These volumes appear in Longhorn but I am unsure how to add the persistent volume to Rancher so I can create a PVC and link it to a workload.

If I try to add persistent volume and select Longhorn, it asks for a name. Should this be th

[2019-02-11 19:03] yasker commented on #388
Hi @paulmorabito

There are still a few changes we need to do to integrate with Rancher. Currently, we can workaround the problem using kubectl. You can take a look at https://www.youtube.com/watch?v=vRqvz-Ii49A&t=3328s which contains the demo on how to restore the volume to a workload.

I will keep this item open to track the effort.

[2019-02-11 21:59] yasker opened #389 "Investigate: Reboot a node result in temporarily error of `engine is deploying` instead of ready"
[code]

Need to investigate. As long as the engine exists on the node that the call is initiating, it should be allowed.

[2019-02-12 02:23] paulmorabito commented on #388
Thanks for the reply. This worked!

[2019-02-12 02:28] yasker commented on #383
I think it's not necessary to show the full engine image version there, but user needs to know the engine version is different from the default version (so it should be upgraded).

Put an icon similar to the upgrade icon for Longhorn manager next to the **volume name** would be helpful.
![screen shot 2018-11-08 at 22 08 13](https://user-images.githubusercontent.com/3344618/52607345-caf3f300-2e2a-1

[2019-02-12 02:36] yasker commented on #382
This one can be expressed similarly to #383

We can put a small icon with tooltip next to **Health**, and it will show if:
1. Yellow: Compromised HA. if more than one RW replicas are scheduled on one node.
2. Red: No HA. if all the RW replicas are scheduled on one node.
3. If neither was satisfied, nothing is shown.

Also, we can add a related filter to the upper-right dropdown for this embedded f

[2019-02-12 02:53] yasker opened #390 "Restarting Longhorn manager result in a few replicas marked as failed by mistake"
It's a regression caused by https://github.com/rancher/longhorn-manager/commit/08fe7606ba654fc495dd8aaf3d7ccf0608ebe573

The managers are temporarily offline, makes replicas seem running on the down nodes, so the first manager started up may shut down all the replicas that are not running on its node.

It caused by the second part of the change to be precise.

    don't depend on the exact reason

[2019-02-12 03:04] yasker commented on #380
Fixed by https://github.com/rancher/longhorn-engine/commit/773b0254ba3ab02c036f1cc9d785a517d44a8f1c

[2019-02-12 03:04] #380 closed

[2019-02-12 03:23] #390 closed

[2019-02-13 13:53] Akhail opened #391 "Suddenly our node name changed"
We need your help because our provider Digital Ocean recycled all the instances like a consequence of a detected vulnerability in Docker. For this reaseon longhorn is not finding the volumes and replicas. How can we resolve this issue?

Thanks!

![deepinscreenshot_select-area_20190213094204](https://user-images.githubusercontent.com/22435967/52716365-fdaa0280-2f74-11e9-98c7-5cf9bf11f15c.png)

[2019-02-13 18:50] yasker commented on #391
@Akhail Is it a name change? From what I see here, I suspect Digital Ocean delete the instance then recreated it from scratch... That's maybe why the instance names are not the same.

Looking at the latest reported `Used`. The old node has used `26.58G` of 157G, the new node only used `8.78G`. Sorry to tell you that, but it looks like all the volumes have been deleted along with the old instance..

[2019-02-13 19:25] Akhail commented on #391
Hey, thanks for the response!
Would't it be that the occupied space is due to the replicas? We don't have that much data.
Is there any way, through the file system, that we can access the place where the volumes were mounted and therefore access the data?

[2019-02-13 19:42] yasker commented on #391
Yeah, the occupied space in your old instance is likely due to the storage of Longhorn replicas (a.k.a data). But as you can see, in your new instance, the `used` space is much lower (by 18G in fact), which indicates that it's a new instance, instead of a renamed instance.

So it's likely all the data in the old instance is gone with the deletion of the old instance. Any data you have written to t

[2019-02-13 21:10] Akhail commented on #391
In what folder would it be, in case we could access the old instance?

[2019-02-13 21:42] yasker commented on #391
@Akhail Take a look at the host path for each replica, the volume data is stored there.

[2019-02-13 23:32] yasker commented on #389
If one node is down or malfunction, cause engine image daemon to fail to get desired number of pods, the whole engine image would become `deploying` instead of `ready`, which prevents all the engine level operations like `snapshot` from taking place.

The engine image status needs to be more fine grain controlled. As long as the node issuing the command has engine image ready in place locally, it

[2019-02-13 23:47] yasker commented on #84
A list of information we should be able to get from manager:
1. Longhorn configurations (CRDs)
2. Running pods list and logs in longhorn-system namespace, includes manager and engine, as well as drivers.

[2019-02-14 03:08] yasker commented on #84
@ly5156 Need UI to add a link `Generate Support Bundle` at the bottom bar, between `Documentation` and `File an Issue`, and link to the backend URL `/v1/supportbundle`.

[2019-02-14 18:39] yasker commented on #382
Feature merged.

[2019-02-14 18:39] #382 closed

[2019-02-14 18:39] yasker commented on #383
Feature merged.

[2019-02-14 18:39] #383 closed

[2019-02-15 05:12] #84 closed

[2019-02-15 05:20] yasker commented on #294
Move this to v0.5.0. Workaround Kubernetes's long timeout would need Longhorn to know more about Kubernetes status.

[2019-02-15 05:22] yasker commented on #224
The upcoming Longhorn v0.4.0 release is able to handle node failure better, but the user would need to read https://github.com/rancher/longhorn/blob/v0.4/docs/node-failure.md to know what's to expect and what to do during node failure.

Close this issue for now. Feel free to reopen if you have more questions.

[2019-02-15 05:22] #224 closed

[2019-02-15 10:25] Dremor opened #392 "Node has no NodeID annotation"
Hi,

I'm trying to use Longhorn in order to get persistent storage, but I'm stuck with the following error:

Normal | Scheduled | Successfully assigned default/test-6588947745-7q45v to serveur-1 | 5 minutes ago
-- | -- | -- | --
Warning | FailedAttachVolume | AttachVolume.Attach failed for volume "pvc-bb7bbbc9310a11e9" : node "serveur-1" has no NodeID annotation | a minute ago
Warning | FailedMoun

[2019-02-15 16:23] yasker commented on #392
What's the longhorn and kubernetes version?

[2019-02-15 18:21] yasker commented on #392
I saw there was an issue opened in Kubernetes related to restarted CSI driver. https://github.com/kubernetes/kubernetes/issues/71424

[2019-02-15 18:59] Akhail commented on #391
Thank you very much for your help, but it didn't work for me, all of the data are lost :/

[2019-02-15 19:02] #391 closed

[2019-02-15 19:38] yasker commented on #391
@Akhail sorry to hear that... Is it a Digital Ocean Kubernetes cluster? Delete a node instance without properly notify the user is really bad practice.

[2019-02-15 23:21] yasker commented on #367
Realized there is a better way to observe the FD leak:
1. Start engine build process
2. `docker exec -it` into the build container
3. After integration test started, use `watch "ls /proc/$pid/fd |wc -l"` to watch the fd changes for controller and 6 replicas.

It works because, in the integration test, we repeatedly use the same controller and replicas for testing, so if there is a FD leak, it shou

[2019-02-16 01:55] yasker commented on #176
Fixed by https://github.com/rancher/longhorn-tests/pull/125

[2019-02-16 01:55] #176 closed

[2019-02-16 02:01] yasker commented on #362
@sebastiansirch We do have API to config backup settings of a volume. An example can be found at https://github.com/rancher/longhorn-tests/blob/master/manager/integration/tests/test_recurring_job.py#L10 .

[2019-02-19 07:56] paulmorabito opened #393 "Recommended method for rebooting nodes"
Hi,

I have a rancher (2.1.6) K8s cluster in HA mode but only with two nodes. I'm using the latest longhorn for volumes for some of my containers. One of my nodes previously crashed and upon reboot, I couldn't remount the volume in the container. I have 3 replica sets and configured longhorn to store data on both nodes.

I'd like to reboot one of my nodes for maintenance. What is the recommended w

[2019-02-19 14:03] debianmaster commented on #386
volume attach is failing with this error

[code]

[code]

[2019-02-19 15:57] kc004 opened #394 "longhorn-csi-plugin error on particular node"
I have two control planes and two workers in the cluster. All the deployments of longhorn-CSI-plugins are working fine except one-second master node CSI plugin.
In the longhorn-csi-plugin deployment, there are two pods one is driver-registrar and csi-plugin.
Driver registrar is giving me these logs:
<pre>
Still trying, connection is TRANSIENT_FAILURE
Still trying, connection is CONNECTING
Still tr

[2019-02-19 18:50] yasker commented on #386
@debianmaster As I mentioned, this log doesn't cause the volume to attach to fail.

Is there any other log available indicates a volume attach failure? There can multiple manager pods so you would check them all.

[2019-02-19 18:54] yasker commented on #394
This log indicates that longhorn-csi-plugin cannot connect to the Longhorn manager, which should be exposed as a service at `longhorn-backend:9500`.

That failing master is a worker as well? Seems something wrong with the network setup. If you use `kubectl exec` to get into the longhorn-csi-plugin pod, can you ping `longhorn-backend`? I guess you can do that in the pod on the success nodes but wou

[2019-02-19 19:33] yasker commented on #393
Since you only have two nodes, set the default replica count to 2 is enough. Because you can only lost one node before losing the HA for the volume.

In the latest Longhorn (v0.3.3), if you reboot a node, as long as there is a replica on the other node, the volume should be attached automatically and continue to work with the container. If it's not the case, you can file a bug.

In v0.3.3, assumin

[2019-02-19 20:18] splattner commented on #341
Is it better with 0.3.3?
I do also see a lot of randomly failing Volumes (as posten in your Slack Channel).
Adding more Memory helped a bit (as I suspect OOM), but I still see this. Engine Pods are crashing from Time to Time, without any Hint in a Log File. No clue what it is.

[2019-02-19 22:36] shuo-wu commented on #321
Longhorn engine integration test passed on XFS

[2019-02-19 23:05] shuo-wu commented on #323
Longhorn engine integration test passed on XFS.

[2019-02-19 23:13] yasker commented on #323
Verified.

[2019-02-19 23:13] #323 closed

[2019-02-20 01:52] Akhail commented on #391
Yes, it's the kubernetes service provided by digitalocean, but they did not help us at all.

[2019-02-20 09:43] Dremor commented on #392
Kubernetes version is v1.13.1-rancher1-1, Longhorn chart v0.3.3, Rancher 2.2.0-alpha6

[2019-02-20 09:52] kc004 opened #395 "Volume restored in Longhorn doesn't show up in Kubernetes as PV"
I did restore PV from S3 backup and on Longhorn UI it created but when I see it in Rancher UI or kubectl get PV I cannot see any PV created with that name. Same as If I created PV from Rancher UI along with S3 backup URL it created PV but I cannot find it in Rancher.

Both are working differently and my application not able to start. Using Rancher UI created PV, PV bounded with PVC but I cannot se

[2019-02-20 10:15] Dremor commented on #392
Additional note : I'm using CoreOS 1967.6.0 as host.

[2019-02-20 10:19] kc004 commented on #394
Yes master is worker also. Longhorn-backend is getting dns internal ip address but not able to ping by any of the available pods.

Longhorn-manager logs for that particular node:
<pre>
time="2019-02-20T10:05:29Z" level=debug msg="Engine image rancher/longhorn-engine:v0.3.3 is ready"
time="2019-02-20T10:05:29Z" level=info msg="Listening on 10.42.1.30:9500"
time="2019-02-20T10:05:29Z" level=info msg

[2019-02-20 10:39] paulmorabito commented on #393
Hi,

Thanks for the detailed reply. This (largely) worked. The only stage that
didn't was step 7. If I clicked delete, nothing actually happened.

Finally, what should happen in the case of a more catastrophic failure -
for example, a node dies unexpectedly or a power outage outs all nodes? for
the first, if the volume is replicated across nodes, this would be OK? For
the second, would restarting

[2019-02-20 11:54] phal0r commented on #341
Yeah, the errors got less, but still occur. The types of errors we see correspond to #381 . I guess we have to wait until 0.5.0 to see this fixed.

[2019-02-20 18:57] yasker commented on #380
May help https://github.com/rancher/longhorn/issues/341

[2019-02-20 18:58] yasker commented on #341
@phal0r If the error is caused by network instability or reboot of the node, the fix of #380 may help. It will be included in v0.4.0 release.

[2019-02-20 19:05] yasker commented on #393
@paulmorabito

You meant in step 7, you cannot delete the replicas on the node? That's weird... Can you delete the same replica in the volume detail page?

For more catastrophic failures:
1. If one node failed, there won't impact the volume (except for the ones attached to that node) since we have multiple replicas across different nodes.
2. If power outage happens to all the nodes at the same tim

[2019-02-20 19:16] yasker commented on #394
@kc004 Can you try `curl longhorn-backend:9500`? If it's a network issue, this should fail on the failure pod but should success on the other nodes.

E.g.
[code]

[2019-02-20 19:20] yasker commented on #395
The restored volume is a Longhorn volume. It's not a Persistent Volume in Kubernetes yet.

https://github.com/rancher/longhorn/blob/master/docs/restore_statefulset.md can help you to create a PV with an existing Longhorn volume. You can also take a look at https://www.youtube.com/watch?v=vRqvz-Ii49A&t=3328s which contains the demo on how to restore the volume to a workload.

[2019-02-20 19:43] yasker commented on #367
Have fixes for this, but it won't make v0.4.0. Move to v0.5.0.

[2019-02-20 19:47] yasker opened #396 "Longhorn v0.4.0 release work"
- [x] New feature test
- [x] Integration test
- [x] Manual test
- [x] Upgrade test
- [x] Document update
- [x] Release
- [x] Update chart to v0.4.0
- [x] Update `Upgrade responder` to v0.4.0

[2019-02-20 21:13] yasker opened #397 "UI: Backup doesn't show up using rancher-proxy, but works with node port"
We've reproduced the issue @kc004 [experienced](https://github.com/rancher/longhorn/issues/361)

[2019-02-20 23:09] shuo-wu opened #399 "Listing backup volumes failed silently"
When longhorn is listing backup volumes and can not find volume.cfg file for one particular volumes in backupstore, it will return no result rather than skipping the volume and listing all other volumes.

And the corresponding errors raised by listing backup volumes do not present in log of longhorn manager.

[2019-02-20 23:36] yasker opened #400 "UI: False alarm on limited node redundancy for failed replica"
A failed replica was considered healthy somehow in the node redundancy calculation.

To reproduce
1. Create a volume and attach it to a node
2. Use `kubectl -n longhorn-system delete pod <any volume replica pod>`
3. The replica would become faulted and Longhorn started rebuilding to the same node failed replica is, but `limited node redundancy` icon would be shown for the volume.

[2019-02-21 00:24] yasker opened #401 "engine: if the device name failed to be cleaned up, volume attach would fail"
Need to find a safe way to tell if it's safe to remove the longhorn device.

[2019-02-21 01:40] #401 closed

[2019-02-21 01:40] yasker commented on #401
Fixed

[2019-02-21 02:09] yasker commented on #339
Will be addressed in https://github.com/rancher/charts/pull/132

[2019-02-21 02:09] #339 closed

[2019-02-21 02:59] yasker opened #402 "UI: Setting page may be reloaded when there are user inputs"
And reload will override the user's input.

[2019-02-21 06:31] yasker commented on #402
Fixed.

[2019-02-21 06:31] #402 closed

[2019-02-21 06:46] yasker commented on #400
Fixed.

[2019-02-21 06:46] #400 closed

[2019-02-21 18:39] yasker commented on #397
Fixed by https://github.com/rancher/longhorn-ui/pull/117

[2019-02-21 18:39] #397 closed

[2019-02-21 19:25] shuo-wu opened #403 "Cleanup Longhorn v0.4.0-rc1 failed"
When I try to delete Longhorn v0.4.0-rc1 upgraded from v0.3.3 on rancher,  it can not get cleaned up.
csi-attacher, csi-provisioner, and longhorn-csi-plugin still exist.

[2019-02-21 22:36] #403 closed

[2019-02-21 23:18] yasker opened #404 "UI: No error message if `Backup` tab was selected but no backup target was set"
Previously we have an error message to the user to remind them the backup target wasn't set.

Not sure it's frontend or backend issue.

[2019-02-21 23:45] #404 closed

[2019-02-21 23:45] yasker commented on #404
Wrong version.

[2019-02-22 00:25] yasker opened #405 "UI: Need to add upgrade icon for detached volume as well"
Get the current image from volume.CurrentImage.

[2019-02-22 02:39] yasker commented on #405
Fixed.

[2019-02-22 02:39] #405 closed

[2019-02-22 05:19] yasker opened #406 "UI: Generate support bundle doesn't work behind Rancher Proxy"

[2019-02-22 05:20] yasker opened #407 "UI: Click volume->backups or volume details -> backups won't jump to the backup page"

[2019-02-22 07:11] yasker commented on #407
Fixed.

[2019-02-22 07:11] #407 closed

[2019-02-22 07:11] yasker commented on #406
Fixed.

[2019-02-22 07:11] #406 closed

[2019-02-22 09:06] kc004 commented on #395
@yasker Thanks I can access my restored volume data. Actually at the time of restore PV it was in attaching state for a long time so I thought it was an error in attaching a volume but actually, it was downloading data from S3 and it took 20 min to download it from S3.

[2019-02-22 09:06] #395 closed

[2019-02-22 09:47] kc004 commented on #394
@yasker Thanks. It was a certificate error between two masters and now it solved.

[2019-02-22 09:47] #394 closed

[2019-02-22 12:41] paulmorabito commented on #393
I didn't try deleting in volume download page. It may have been that I was
accessing the browser via VNC and possibly this impacted the responsiveness
of the UI but I don't think so.

Thanks for the response to the rest.

On Thu, Feb 21, 2019, 04:05 Sheng Yang <notifications@github.com> wrote:

[2019-02-22 18:43] yasker commented on #395
@kc004 Thanks for the update. We will introduce the progress check for restore (#49) in the future release.

[2019-02-22 20:03] yasker commented on #396
Done

[2019-02-22 20:03] #396 closed

[2019-02-23 10:07] paulmorabito opened #409 "Pods remaining after upgrade to 0.4.0"
Using Rancher 2.1.6 on baremetal and Longhorn 0.4.0.

After upgrading from 0.3.3, I have a number of pods that are marked as completed as below:

pvc-4e775e3e30f511e9-c-dykwsm-c-1550707200-qfbgn   0/1     Completed   0          2d
pvc-4e775e3e30f511e9-c-dykwsm-c-1550793600-crdzx   0/1     Completed   0          1d
pvc-4e775e3e30f511e9-c-dykwsm-c-1550880000-t5pt9   0/1     Completed   0          10

[2019-02-24 08:39] paulmorabito opened #410 "All replicas on same node"
Using Longhorn 0.4.0 and Rancher 2.1.6. After taking a node down for maintenance, I am noticing many volumes are reporting this on the web UI:

No node redundancy: all the healthy replicas are running on the same node

Both of my nodes are schedulable and replica count is set to 2. The node that was down for maintenance is the one that doesn't seem to have replicated volumes.

Thanks,

[2019-02-25 14:23] phal0r opened #411 "Deleting unhealthy Replica has deleted all data"
Hello guys,

I was facing an error while creating a snapshot, so I decided to delete this replica as a manual failover. My expectation was, that longhorn will generate a new replica and everything runs fine again, but actually all data including all snapshots were deleted. The volume recovered and created new healthy replicas, but the data is still gone. Unfortunately the last backup is one month

[2019-02-25 16:11] phal0r opened #412 "Volume stays in Degraded State"
Hi guys,

we have a volume, that stays in degraded state and won't recover. Detach/Reattach doesn't help. Snapshots and Backups are not possible and with the following error:

[code]

Is there somthing we can do?

[2019-02-25 16:51] yasker commented on #411
How many other replicas except this "unhealthy" replica exists? Longhorn should rebuild successfully if there is at least one. Can you send me the support bundle and the volume name?

Is there any bad replicas still around? Have you detached the volume when data are gone? If there are bad replicas around we may able to recover.

Btw, what do you mean by "unhealthy" replica? If it's yellow, then it

[2019-02-25 16:53] yasker commented on #412
Something seems wrong with one of the replica. Can you send me the support bundle?

[2019-02-25 18:28] yasker opened #413 "manager: replica stuck in opening failure, cannot recover by itself"
[code]

Seems metadata failure prevent any further operations and engine didn't mark the replicas as error for rebuild as well.

[2019-02-25 18:47] phal0r commented on #411
I have attached a screenshot, how the unhealthy replica (the grey one) looks like on another volume with the same strange situation.

Unfortunately this was our preparation work to update to 0.4.0. Since we cannot perform backups, we cannot upgrade and so I am unable to generate a support bundle via UI.

The exact steps I took:
- delete the grey (unhealthy) replica
- the other replica got deleted

[2019-02-25 18:49] yasker opened #414 "Download support bundle may cause 504 gateway timeout if it took too long"
Need a better experience.

[2019-02-25 18:49] phal0r commented on #412
I have attached a picture and added additional information on this comment: https://github.com/rancher/longhorn/issues/411#issuecomment-467131850

What should be included in the support bundle? I am stuck on 0.3.3 for now.

[2019-02-25 18:56] dnauck commented on #414
Maybe a two phase method:

1.) user clicks the download bundle button
2.) longhorn notifiy the user that it now starts to collect a required information and when it finishes it will notifiy the user again that the bundle is read for download

[2019-02-25 18:57] yasker opened #415 "Prohibit user from deleting the last replica that contains data"
It contains the only data in this case, even when the replica is faulted.

The validation should be done in the manager.

[2019-02-25 18:59] yasker commented on #411
@phal0r

Sorry, I think the data is gone with the other (healthy) replica. We should put restraint in place that prevents anyone from deleting the last replica... I've filed #415 for this.

Can you send me the log of all the managers? I'd like to check what cause the healthy replica to be deleted.

[2019-02-25 19:06] yasker opened #416 "Make sure Kubernetes guarantee Longhorn engine's CPU"
Otherwise, high CPU can cause Longhorn engine timeout.

This also means we need to take cpu/memory into scheduling consideration.

[2019-02-25 19:24] yasker opened #417 "manager: enhance failed replica preserve policy"
Make sure if some disaster happens, we still have some data.

Maybe increase timeout to a few days, or increase the timeout for the last failed replica.

[2019-02-25 19:44] yasker commented on #412
All the managers' log and the log for all the engines of the volume (<volumename>-e-xxx and <volumename>-r-xxx) would help.

This looks like there is a replica was interrupted somehow didn't finish the rebuild. Maybe similar to #413

[2019-02-25 19:51] yasker commented on #410
Yeah, that's due to the node maintenance.

Longhorn would try to maintain the replica counts all the time. So if one node was rebooted, Longhorn would detect an error to that replica, then decide to give up that replica, rebuild one on the available node. If there is only one available node, Longhorn would decide to reuse it (since the other node is down anyway).

That's why in https://github.com/

[2019-02-25 19:53] yasker commented on #409
Those completed pods are for recurring snapshot/backups. There are jobs in Kubernetes. https://kubernetes.io/docs/tasks/job/#jobs-history-limits

By default, Kubernetes kept 3 of successful jobs for history log purpose. Yeah, those completed job pods are safe to delete.

[2019-02-26 06:57] de-robat commented on #411
hi @yasker any chance that we can somehow inspect the .img file on the replicas. the data is pretty valuable to me and i would be willing to go the distance to get it back. basically all we did was hitting delete on the greyed out replica. everyhting else was afterwards done by longhorn. So before giving up on the replicas i would love to be 100% certain that the data is really gone :/

[2019-02-26 07:17] yasker commented on #411
@de-robat

Can you send me the logs for all the managers? Also, the log for the related replicas, like the one you shows in the screenshot.

If you use the path listed in the volume detail page, you should able to find the raw files stored by the replica. Check the real size of them using `du`. And you can send me the directory file names and all the metadata.

You may want to use some tools in Li

[2019-02-26 08:43] de-robat commented on #411
sure, i just had to extract it from all involved 3 nodes. As always i added you all the logs into the zip, as well as a screenshot that describes the setup of the volume we encountered the error on. the on @phal0r posted above is not the one that has the problem (yet). because we stopped upgrading yesterday when discovering the error. So to make some sense of the logs i thought it might be a good

[2019-02-26 16:32] yasker opened #418 "manager: more log needed"
- [x] API log
- [x] Replica deletion/cleanup
- [x] Check all the major operations again.
- [x] Try to identify the caller of API in some way.
- [x] Gather controller and replica logs when controller reports one replica became error.
- [x] Gather controller log when it becomes faulted.
- [x] Gather controller and replica logs when controller crashed

[2019-02-26 17:54] NchemIcaLS opened #419 "Degraded volume not replicating"
After restarting some of the nodes there is only one healthy replica remaining. This replica is not being replicated to the other nodes. This may be related to #412 or #350. I attempted to delete the unhealthy replicas, detach and attach the volume and change the engine image without success. Would appreciate some advice before I try anything else and the data is gone.

[code]
I can send the suppo

[2019-02-26 18:51] yasker commented on #419
@NchemIcaLS You can send the support bundle to me at my email (listed in my profile), or on Slack @yasker

[2019-02-26 19:29] yasker commented on #419
@NchemIcaLS I've received the support bundle.

There is an issue in that volume: "Too many snapshots created". The snapshot limit is around 200. There was a related issue we fixed in #253 . But since you're running v0.4.0, this can caused by something else.
[code]

Can you try the following steps:
1. Make a backup of the current volume.
2. Reduce the replica count of the volume to the number of cu

[2019-02-26 21:07] NchemIcaLS commented on #419
I didn't realize there were that many snapshots. The backup settings are set to retain 7 for the past week (backup 1x each day) and 12 for the year (backup 1x each month). This volume has only existed for 3 months so even if I made a snapshot every day that would only be around 100 snapshots. Is there a reason there are this many snapshots? Do I need to configure something differently?

The snapsh

[2019-02-26 21:45] NchemIcaLS commented on #419
I managed to get 3/4 volumes back to healthy by deleting snapshots and then de/re attaching them. However pvc-85d77fd9ea6f11e8 is still not rebuilding even after deleting some snapshots. I tried to analyze the logs but couldn't find out why. I sent you another email with a new support bundle.

[2019-02-26 22:31] yasker commented on #419
@NchemIcaLS

Sorry, I forgot about the replica count update limitation...

Seems `pvc-85d77fd9ea6f11e8-r-e5e50d90` is in trouble. We have seen this before we haven't found the root cause of this. I would file a separate issue for this.

If you delete the replica `pvc-85d77fd9ea6f11e8-r-e5e50d90`(after backup the volume), the rebuild should resume.

Regarding snapshots and backups, there is nothing

[2019-02-26 22:57] yasker commented on #392
@Dremor CoreOS? We haven't officially support CoreOS yet. Are you using Flexvolume driver instead of CSI for CoreOS?

[2019-02-26 23:34] yasker opened #420 "engine: more information should be return to the caller for "500 Internal Server Error""
e.g.

time=\"2019-02-19T09:12:29Z\" level=fatal msg=\"Error running add replica command: Bad response: 500 500 Internal Server Error: {\"actions\":{},\"code\":\"Server Error\",\"detail\":\"\",\"links\":{\"self\":\"http://10.42.0.180:9501/v1/replicas"}, "message":"tcp://10.42.0.179:9502: Bad status: 500 500 Internal Server Error",\"status\":500,\"type\":\"error\"}

[2019-02-27 00:07] yasker opened #421 "engine: redirect tgt log to stderr"
And log before panic.

[2019-02-27 00:29] yasker opened #422 "engine: Add command to export the volume"
There is a WIP PR for this: https://github.com/rancher/longhorn-engine/pull/325

[2019-02-27 00:30] yasker opened #423 "Skip mounting for iSCSI volumes and write iSCSI target instead"
WIP PR: https://github.com/rancher/longhorn-manager/pull/212

[2019-02-27 01:01] yasker opened #424 "engine: tgtd sometime crashed, result in engine crash"
Collect this log from log of #411

[code]

[2019-02-27 01:03] yasker commented on #411
@de-robat I've identified follow issues from the log you sent me:

#415 Prohibit user from deleting the last replica that contains data
#417 manager: enhance failed replica preserve policy
#420 engine: more information should be returned to the caller for "500 Internal Server Error"
#424 engine: tgtd sometime crashed, result in engine crash

And two other issues (#418 and #421) for additional logs

[2019-02-27 13:20] NchemIcaLS commented on #419
Thank you for explaining the difference between snapshots and backups. That makes sense now.

Unfortunately that is replica is the only healthy one so after deleting it the volume is essentially gone as there is no data now. I also couldn't make a backup of that last replica as the entire volume would immediately crash and go into a faulted state. But thanks to the backups I had scheduled every da

[2019-02-27 13:20] #419 closed

[2019-02-27 19:35] yasker commented on #419
@NchemIcaLS Oh, sorry, I didn't notice `pvc-85d77fd9ea6f11e8-r-e5e50d90` is the only RW replica in the volume. Well, that explains it.

The replica "Invalid name" issue will be tracked at #412 .

[2019-02-28 07:33] de-robat commented on #411
Thanks for investigating! Well, i consider this issue closed as it is going to be tackeld by the once you linked. Or do you have anything else to add @phal0r ?

[2019-02-28 08:54] phal0r commented on #412
@yasker
Robert sent you all the logs of the managers and volumes related to issue #411. Thanks for the investigation and all the information. From what I understand, you have a good feeling, what happened and how it can be prevented the next time. Right now, we have another volume, that is exactly in the same state. I dind't change anything here. Is there anything we can do here to recover the vol

[2019-02-28 15:30] krishofmans commented on #10
I was hoping to finally give this a try with the 0.4 release, but apparently this has moved. Will this be available by the time rancher 2.2 gets released?

[2019-02-28 18:00] pagong commented on #10
@krishofmans:
Please have a look at the documentation of my [setup](https://github.com/pagong/k8s-ha-nfs/wiki/cluster02:-Longhorn-and-various-NFS-providers) of rook-nfs-0.9.2 on-top-of
longhorn-0.3.0 on-top-of RKE on-top-of rancheros-1.4.0 on-top-of KVM on-top-of openSUSE-15.0.
Maybe my write-up is helpful to you :-)

[2019-02-28 18:15] yasker commented on #10
@krishofmans Sadly it won't be available by the time Rancher 2.2 released. RancherOS support is a priority for v0.5 release.

[2019-02-28 22:03] yasker commented on #412
@phal0r I am looking into this issue but need a bit extra information. I have the log already, can you send me the list of files in the replica directory (you can find the node and directory in the volume detail page), as well as the content of all file with suffix `.meta`? I think one metadata file somehow got wrong in the replica `pvc-b4db5165-cb2d-11e8-ad59-4ed6ddea6d45-r-2cdf8e7a`. I want to c

[2019-03-02 00:21] paulmorabito opened #425 "Volumes take a long time to disconnect/connect so timeout errors"
Hi,

I'm using Longhorn 0.40 on Rancher 2.1.6. I also use Keel to update containers automatically.

Usually, any deployment with an attached Longhorn volume gives an error when Keel updates "REplicaSet has timed out progress..". When I look into the logs, there are timeout errors attaching the longhorn volume and sometimes volume not found errors. Within Longhorn, these volumes are listed as detac

[2019-03-02 00:29] yasker commented on #425
@paulmorabito Are you using Kubernetes 1.11 or 1.12? There was a bug in Kubernetes v1.11 and before can cause volume failed to attach (#267) if the workload changes quickly. If that's the case, you would see something like `MountVolume.WaitForAttach failed for volume "pvc-652a7f2a-aa56-11e8-ad33-001c42c2325f" : volumeattachments.storage.k8s.io "csi-ac63c8ac5d85e1e3347a4de29f9494490e5729518a7a83d55

[2019-03-02 01:00] paulmorabito commented on #425
Yes, that's exactly what I am getting and I'm using Kubernetes 1.11.6.

How do I upgrade Kubernetes? does it upgrade alongside rancher?

On Sat, Mar 2, 2019, 09:29 Sheng Yang <notifications@github.com> wrote:

[2019-03-02 01:09] yasker commented on #425
See https://rancher.com/docs/rancher/v2.x/en/k8s-in-rancher/editing-clusters/#upgrading-kubernetes

Also, remember to backup all Longhorn volumes in case something goes wrong during the upgrade. It's recommended to stop all the workloads (e.g. scale down to 0) using Longhorn before upgrading Kubernetes. After Kubernetes upgrade completed, you would need to delete the pod `longhorn-driver-deployer-

[2019-03-02 01:45] paulmorabito commented on #425
I reduced the workloads to 0 and went to upgrade the cluster as described.
However, I don't have the option to upgrade the K8S version, I guess
because my cluster is listed as imported?

I followed the HA install so am a bit confused how this could be?

Is there any way to do this?

On Sat, Mar 2, 2019, 10:09 Sheng Yang <notifications@github.com> wrote:

[2019-03-02 02:24] paulmorabito commented on #425
I completed the upgrade using RKE. I deleted longhorn-driver-deployer and
now getting this:

Successfully assigned apps/beets-fcbcc7895-57x27 to 192.168.1.52 2 minutes
ago
Warning FailedAttachVolume AttachVolume.Attach failed for volume
"beets-config" : attachment timeout for volume beets-config 2 minutes ago
Warning FailedAttachVolume AttachVolume.Attach failed for volume
"beets-config" : rpc err

[2019-03-02 02:59] yasker commented on #425
Does the deployer pod recreated? You've deleted the pod, not the deployment, right?

[2019-03-02 03:14] paulmorabito commented on #425
Yes and yes. I click on the pod, delete it and it redeploys a new pod
immediately. However, there is only one pod on one node. The other node
hasn't got a pod running on it. Is that ok?

On Sat, Mar 2, 2019, 11:59 Sheng Yang <notifications@github.com> wrote:

[2019-03-02 03:22] yasker commented on #425
Should be good. Can you send me a support bundles?

[2019-03-02 03:27] paulmorabito commented on #425
How do I do that?

On Sat, Mar 2, 2019, 12:22 Sheng Yang <notifications@github.com> wrote:

[2019-03-02 04:00] yasker commented on #425
You can click `Generate Support Bundle` in the Longhorn UI, then send the zip file to my email listed on my profile.

[2019-03-02 06:29] paulmorabito commented on #425
Sent to you now. Thanks.

On Sat, 2 Mar 2019 at 13:00 Sheng Yang <notifications@github.com> wrote:

[2019-03-02 07:03] yasker opened #426 "deploy: driver deployer didn't cleanup previous deployment if Kubernetes version changes"
Kubernetes CSI API changed between v1.11 and v1.12. Driver deployer should detect the Kubernetes version change and redeploy the driver even it's the same driver version.

[2019-03-02 07:03] yasker commented on #425
@paulmorabito Alright, I think I know what's wrong.

Can you try following:
1. Scale down deployment `longhorn-driver-deployer` to 0. Wait for the pod to be shutdown. DO NOT delete this deployment.
2. Manually delete deployments `csi-attacher`, `csi-provisioner`, and daemonset `longhorn-csi-plugin`. Wait for them to complete deletion.
3. Scale up deployment `longhorn-driver-deployer` to 1 again.

[2019-03-02 08:56] paulmorabito commented on #425
That worked, thank you. Early indications are also that volumes are not timing out. I'll let you know if it occurs again.

[2019-03-06 00:35] yasker commented on #413
The replica log indicates there is a race condition. After sync the image, the metadata file should be synchronized next, but volume got somehow closed for the replica, thus result in the cancellation of the metadata synchronizing, caused the "Failed to find metadata" error.

[code]

[2019-03-06 18:55] diegodorgam opened #427 "Can't connect to Scaleway Object Storage (S3) for backups"
Hi there,

I'm trying to use Scaleway Object Storage as my S3 backup, but I keep getting some strange errors.
I've Followed the documentations about [Minio](https://github.com/rancher/longhorn/blob/master/docs/backup.md) and the result is this:

I've created a secret called `scaleway-secret`, like this:
[code]
which basically is the base64 to my configurations:
[code]

and with this secret created

[2019-03-06 19:37] yasker commented on #427
Can you try `s3://bucket-name@us-east-1/` ? I am not familiar with Scaleway but we're using standard AWS library to connect, so `nl-ams` in the URI may not be recognized by AWS.

[2019-03-06 19:43] diegodorgam commented on #427
tryied,

got this:
[code]
`nl-ams` is the region in scaleway s3 access.

[2019-03-07 19:30] yasker commented on #399
Fixed.

[2019-03-07 19:30] #399 closed

[2019-03-08 01:57] yasker commented on #422
https://github.com/rancher/longhorn-engine/pull/335

[2019-03-08 02:24] yasker commented on #412
I am able to reproduce the issue using the following steps:
1. Attach the volume.
2. Reduce the replica count to 1 for the volume.
3. Delete all the replicas except one.
4. Make a backup of the volume
5. Kill the replica pod using `kubectl delete`.
6. The volume would be detached automatically. Then salvage the volume, choose the only replica available.
7. Attach the volume again.
8. Increase repl

[2019-03-08 18:11] diegodorgam commented on #427
thanks @yasker
will wait for further actions on this.

[2019-03-09 01:33] yasker commented on #412
The volume restoration steps as below. In general, we will create a new volume contains the exact information as the old one, and able to perform snapshot/backup.

1. Noted the working replica path (`origin_replica_path`) and node (`origin_replica_node`), then detach the origin volume (`old_vol`)
2. Create a new volume (`new_vol`), with exactly the same size as `old_vol`, but only 1 replica, and a

[2019-03-11 09:45] XzenTorXz opened #428 "Volume randomly changed to Read-only file system"
We have a pod with 2 volume mounts, both for the same volume:

[code]

and a pod with one volume mount:
[code]

Last week on wednesday we updated to Longhorn 0.4.0, everything worked fine.
On friday we suddenly lost write rights to our sessions subPath, other was still working.
We just got the message `Read-only file system (30)`. I couldnt change the file rights with chmod (ubuntu) with the same

[2019-03-11 18:28] yasker commented on #428
Hi @XzenTorXz

Those error messages you saw are expected since attachers/provisioners are running in leader election mode.

Can you send me the support bundle? You can find my email on my profile page.

[2019-03-11 19:46] yasker commented on #412
@phal0r fix has been merged in v0.4.1 release. Let me know if the volume recovery works.

[2019-03-11 20:23] yasker commented on #422
There are a few improvements can be done:
- [ ] Rename `restore-to` command to `restore-to-file` and put it under `backup` subcommand.
- [ ] Use the first argument of the command as `backup-url` instead of specifying it explicitly. Obvious without this parameter the command won't work. (see https://github.com/rancher/longhorn-engine/blob/master/app/backup.go#L120 for example)
- [ ] Rename `image-f

[2019-03-12 01:10] #421 closed

[2019-03-12 02:26] #420 closed

[2019-03-12 08:51] XzenTorXz commented on #428
I get a `504 Gateway Time-out`,  if I try to create a support bundle. Is there anyway i can increase the nginx timelimit ?

There is no crashed entry, this is the log from around the happening:

[code]

[2019-03-12 17:43] fedeostrit opened #429 "authentication problem layer 7 load balance"
hello,
I have installed rancher v2.2-rc2 with my F5 big IP as load balancer layer 7 in my cluster of kubernetes, I also have deployed the longhorn v0.4 and chose the option loadbalance layer 7 to install it, the problem is that I access the URL published without asking me for authentication.
if I change the Rancher-proxy option I access Rancher's URL but I have to be authenticated in UI rancher.
I

[2019-03-12 18:37] yasker commented on #429
@fedeostrit

Currently, we only support authenticate through Rancher UI (using rancher-proxy option) if you want authentication in Longhorn UI.

If you want to expose Longhorn UI directly to the load balancer, then we would need to add authentication to the Longhorn itself to support that. Or you can configure your LB pointed to the Longhorn endpoint behind the Rancher-proxy for now.

[2019-03-12 18:42] yasker commented on #414
As a workaround before the fix, the user should able to find a zip named like "longhorn-support-bundle_xxxx.zip` inside one of manager pods' `/tmp/` directory. The user can use `kubectl cp` to copy that file out.

[2019-03-12 18:43] yasker commented on #428
I saw the following in the log:

It seems somehow volume was asked to be detached, then was attached again 2 minutes later.

If it's not asked to be detached in the UI, then CSI driver plugin should have some records of the request.

For the support bundle, see https://github.com/rancher/longhorn/issues/414#issuecomment-472131576 for the workaround.

[2019-03-12 18:47] yasker commented on #425
@botzill can you show me the output of `kubectl describe pod xxxx`?

After that, you can try to scale down the deployment etc to 0 then scale back up to see if it works for you.

Also, give examples a try https://github.com/rancher/longhorn#use-longhorn-with-kubernetes and let me know.

[2019-03-12 19:52] botzill commented on #425
I did reinstall the longhorn, I try to install grafana with a single volume and here is what I get:

[code]

[2019-03-12 19:58] botzill commented on #425
And my volume is now in `Faulted` state:

![Screen Shot 2019-03-12 at 21 57 57](https://user-images.githubusercontent.com/4686040/54231816-ef1e1f00-4511-11e9-8665-d0684224ead0.png)

[2019-03-12 20:09] yasker commented on #425
@botzill faulted state means the engine lost connections to all its replicas.

What's the network connection between the nodes? You can send me the Support Bundle for checking. See my email in my profile.

[2019-03-12 20:16] botzill commented on #425
@yasker I tried that example above and works OK, pods are created and PVC also created, nop with that. Not sure why grafana has isues with it.

[2019-03-12 20:17] botzill commented on #425
@yasker I'm not using rancher service, it's my custom k8s cluster on DigitalOcean.

[2019-03-12 20:28] yasker commented on #425
@botzill The support bundle generation link located at the bottom of the UI, you can use it as long as you're using Longhorn.

The failure of Grafana seems caused by the faulted volume, I can take a look at the support bundle (log) to check what the direct reason of volume became faulted.

[2019-03-12 20:38] botzill commented on #425
OK, I removed grafana, installed again and now I see volume works OK. I did send you the bundle thought.

[2019-03-12 20:45] botzill commented on #425
I did again, remove the pod and it was recreated and attached again. Seems that longhorn is behaving differently when you put your thought into it, maybe some kind of quantum behavior here?

[2019-03-12 20:46] yasker commented on #425
@botzill

lol...

Btw, I got the bundle. From the log, it's just at the same moment, all three replicas reports error:

2019-03-12T19:49:50.997243259Z time="2019-03-12T19:49:50Z" level=info msg="Event(v1.ObjectReference{Kind:\"Engine\", Namespace:\"longhorn\", Name:\"pvc-d7a52bc6-44ff-11e9-bd8d-3a4c59247849-e-b767df6f\", UID:\"d7df3653-44ff-11e9-bd8d-3a4c59247849\", APIVersion:\"longhorn.rancher.i

[2019-03-12 20:49] botzill commented on #425
OK, great. Will keep an eye on next version.

Thx!

[2019-03-12 21:54] botzill commented on #428
I have these issues as well. At some point, it tells me the volume is read-only.

@yasker I did send you the bundle with latest errors.

Thx!

[2019-03-12 22:00] botzill commented on #428
So, if volumes are in `Faulted` state, will there be any attempt to somehow repair this volume, reinitialize them? Some kind of self heal?

[2019-03-12 22:42] yasker commented on #428
@botzill Can you file a new issue for volume fail into "faulted" state in your setup? Your issue involved a faulted volume, which is different from this issue.

After a volume became "faulted", you can use `salvage` command from UI to recover the volume.

Though it's unknown why your volume became faulted so frequently. Normally it's due to loss of network connectivity that results in Longhorn eng

[2019-03-12 23:57] yasker opened #430 "Create a network check tool to help troubleshooting intermittent network connectivity"
Longhorn has high requirement on network latency and bandwidth. The unstable underlying network will result in Longhorn volume failure and it would be hard for users to know it's the underlying network issue or Longhorn storage issue.

As a first step, the tool should be separate from Longhorn, and can be used by the users to determine if the underlying network caused volume failure or not.

[2019-03-13 00:01] yasker commented on #430
@dnauck @botzill

[2019-03-13 12:51] botzill commented on #428
Hi @yasker and thx for this complete guide!

For now, I did upgrade k8s cluster on DO to latest version plus I upgraded to more powerful droplets. I did the same tests and now it works OK. Will see how it goes with this setup and let you know if any issues.

Thx!

[2019-03-15 06:42] yasker commented on #418
To identify the caller (is user or Kubernetes), we will use gorilla CombinedLoggingHandler to get the user agent from the http request.

[2019-03-15 07:23] paulmorabito opened #431 "Randomly detaching volumes"
Hi,

I'm running Longhorn 0.4.0 on Rancher 2.1.7, Kubernetes version 1.12.6.

I upgraded to the latest Rancher (from 2.1.6) and Kubernetes at the same time.

Since then, I've noticed volumes randomly detaching. The error in longhorn-manager logs for the latest is:

[code]

This has never happened prior to the upgrade so I am a little unsure what is causing it. If I try to re-deploy, I get an error

[2019-03-15 09:25] yasker opened #432 "engine: replica need shutdown hook to handle signal gracefully"
Now kill process inside replica won't be caught in the log.

[2019-03-15 09:28] yasker commented on #418
Fixed by https://github.com/rancher/longhorn-manager/pull/235

[2019-03-15 09:28] #418 closed

[2019-03-15 10:46] paulmorabito commented on #431
I will close this for now as I realize I didn't redeploy the longhorn driver deployer as you recommended previously when the kubernetes version changed. I also moved to K8S 1.13.4. If it occurs again, I'll re-raise this issue.

[2019-03-15 11:54] paulmorabito commented on #431
This is still hapening. Same as above.

[code]

Kubernetes 1.13.4
Rancher 2.1.7
Bare metal.

Although I changed K8S versions during upgrade of Rancher, I moved back to 1.13.4 so the only difference is Rancher moving from 2.1.6 to 2.1.7. I deleted the deployments and re-deployed longhorn driver deployment after last K8S upgrade.

Any ideas?

[2019-03-15 18:26] yasker opened #433 "kubernetes raw block device support"
Since 1.13, raw block device support is in beta for Kubernetes. Longhorn should support it.

[2019-03-15 19:07] yasker commented on #431
@paulmorabito It seems caused by the network issues in your setup:

[code]

Can you check if the connection between different nodes (pods across the nodes) are stable?

[2019-03-15 20:52] paulmorabito commented on #431
How can I do that?

Nothing physically has changed with the network and they're wired
connections.

The only major system change was the upgrade. I've not noticed any other
issues elsewhere either.

On Sat, Mar 16, 2019, 04:07 Sheng Yang <notifications@github.com> wrote:

[2019-03-15 23:23] yasker commented on #431
I've written following in https://github.com/rancher/longhorn/issues/428 , and we're working on a tool to show the network instability. https://github.com/rancher/longhorn/issues/430

We can run three small pods per node, each on one node (by setting nodename in the pod), and make them ping Longhorn manager on the all the nodes. Then when network outage happens, we can take a look at those logs to

[2019-03-16 00:00] paulmorabito commented on #431
OK, I will give this a try.

This is a home setup. I have two nodes, one of these is a QNAP NAS running
an Intel J3455 so it's under powered, relatively speaking. This seems to be
the one that is struggling to run longhorn as my other node is working
fine. I'm finding that over time I get limited node redundancy (with only
replicas on my non-NAS node), I put this down to the above but possibly
it'

[2019-03-16 00:31] yasker commented on #431
Network latency sounds like the reason.

You can disable the scheduling to the NAS box in node setup, but it's only for the replica. If k8s decides to schedule workload to the NAS box, the engine would need to be run there, so it still can cause problems. You can limit the pod to schedule to the other box only to avoid that.

[2019-03-16 00:48] yasker opened #434 "K3S CSI reports "has no NodeID annotation""
Attacher reports:

2019-03-15T18:22:48.523277931Z I0315 18:22:48.523060       1 csi_handler.go:333] Saved attach error to "csi-07a4a8f966e28670b53480d97415c8b9eb96e198b2378ce56838f18f086268b2"
2019-03-15T18:22:48.523538418Z I0315 18:22:48.523417       1 csi_handler.go:95] Error processing "csi-07a4a8f966e28670b53480d97415c8b9eb96e198b2378ce56838f18f086268b2": failed to attach: node "node-2" has no

[2019-03-16 02:08] paulmorabito commented on #431
Is there anything in particular that is taxing? Volume size or how
frequently it's read/written to? I'll try to reduce the number of volumes
as a short term measure and monitor as you recommend.

On Sat, Mar 16, 2019, 09:31 Sheng Yang <notifications@github.com> wrote:

[2019-03-16 16:58] yasker commented on #431
More volumes will likely use more resources. Volume size or frequency of access won't matter much compare to number of volumes.

[2019-03-18 13:31] XzenTorXz commented on #428
I just sendet you the report bundle i created 6 days ago. Its 160mb so i put it on google drive.

[2019-03-18 20:43] ppotaki commented on #259
I reproduced this issue on my Rancher Cluster - the volumes were in Terminating state.

I was able to delete volumes from Rancher interface by editing PVC  with kubectl and deleting following **finalizer** section from yaml for above PVC's. I hope it will help you with your cases.

[2019-03-18 23:35] yasker commented on #259
@ppotaki Yeah, remove finalizer would work but it may result in leftover data on the node. How did you get into this state? If you deleted the Longhorn before the volumes, it will behave like this.

Now you can follow the uninstallation instructions [here](https://github.com/rancher/longhorn#uninstall-longhorn) to uninstall Longhorn properly.

[2019-03-19 00:01] yasker commented on #428
@XzenTorXz I've received your log.

It's Kubernetes asked the volume `pvc-6910751ffa3411e8` to be detached:

longhorn-csi-plugin-26jrd/longhorn-csi-plugin.log:2019-03-08T15:00:59.476006107Z time="2019-03-08T15:00:59Z" level=debug msg="NodeUnpublishVolume: done pvc-6910751ffa3411e8"
longhorn-csi-plugin-26jrd/longhorn-csi-plugin.log:2019-03-08T15:01:31.132849908Z time="2019-03-08T15:01:31Z" level=in

[2019-03-19 02:53] yasker commented on #417
Just double check the logic again.

https://github.com/rancher/longhorn-manager/blob/96e9efeffd2c15bd44c5a3685ed7487f0c9cc907/controller/volume_controller.go#L492

We didn't clean any stale replicas (error replicas after stale timeout) when there aren't any healthy replicas exist, so we're fine here. Need to fix #415 though.

[2019-03-19 02:53] #417 closed

[2019-03-19 05:25] yasker commented on #415
Fixed.

[2019-03-19 05:25] #415 closed

[2019-03-19 06:07] yasker commented on #426
Fix merged. Need to test k8s upgrade case.

[2019-03-19 06:12] yasker opened #435 "engine: tgtd crash should result in a graceful shutdown rather than a panic"
We may lose logs due to the panic.

[2019-03-19 08:50] XzenTorXz commented on #428
I'm sorry for not clearing this up. The volume that changed state to write only is `pvc-6910751ffa3411e8`

so this might be relevant in the `lonhorn-manager.log`

[code]

The volume u mention, was bount to the 2nd pod, that i tried to take down so i can reatache the problem volume.

[2019-03-19 09:03] XzenTorXz commented on #428
I just got really confused with the volumes, since the hash looks so simular.

I'm sorry for not clearing this up. The volume that changed state to write only is `pvc-6911aebbfa3411e8`.

The only relevant log i could find is in the csi-plugin log:
[code]
then this is repeated.

The volume u mention, was bount to the 2nd pod, that i tried to take down so i can reatache the problem volume.

[2019-03-19 19:09] yasker commented on #428
It's a race condition that result in two mount called at the same time:
[code]

According to the [CSI spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodepublishvolume), the mount call should be idempotent, so the second mount call to the same place shouldn't fail.

I suspect there is a bug in our code for detecting mounted or not. https://github.com/rancher/longhorn-

[2019-03-19 23:09] yasker commented on #435
https://github.com/rancher/longhorn-engine-launcher/commit/484d20ef51bcaae168b7d336ca218fbe66385229 should be able to help with this.

[2019-03-19 23:09] #435 closed

[2019-03-19 23:32] yasker commented on #412
Close the issue for now since the fix has been merged in v0.4.1.

[2019-03-19 23:32] #412 closed

[2019-03-19 23:47] yasker commented on #413
The whole replica data shouldn't be read while rebuilding hasn't completed, since it may result in partial data like shown above. But the change is too big for the late stage of v0.4.1 release. Move it to the next release.

[2019-03-20 00:12] yasker commented on #426
K8S upgrade case tested.

[2019-03-20 00:12] #426 closed

[2019-03-20 00:13] yasker commented on #432
Added additional message for replica shut down in https://github.com/rancher/longhorn-engine/pull/342

[2019-03-20 00:13] #432 closed

[2019-03-20 06:41] paulmorabito commented on #431
After testing for a few days, there seems to be nothing specific in the
kubelet logs or pings (tough ping response time varies).

I've reduced the number of volumes and I am still finding volumes
disconnected randomly. I am down to half the volumes I was using previously
and it is still occurring. Previously, I was running many more volumes and
although sometimes I had issues with node redundancy

[2019-03-20 09:24] XzenTorXz commented on #428
it happened while the pod was allready running. Also one subpath of the volume was working correctly.
I hope this helps.

[2019-03-20 18:26] yasker commented on #431
@paulmorabito are there any lost pings? If you look at the time that volume became faulted and the time that ping failed, are they correlated?

Also, what's the last stable version for you? Rancher version and kubernetes version.

And there is maybe something in canal's log. Take a look at `kubectl -n kube-system logs canal-xxx`. Those are the overlay networking components Kubernetes uses.

[2019-03-20 19:26] shuo-wu opened #436 "Most of test failure in k3s may be caused by the high latency of status update"
Log of integration test after setting arg `root-dir` correctly:

[code]

[2019-03-20 22:42] yasker commented on #427
@diegodorgam is there a way we can get an access key/secret key pair for debugging purpose? You can contact me privately using the email listed on my profile.

[2019-03-21 01:52] paulmorabito commented on #431
I'll take a look at canal also. I can't see anything out of the ordinary so
far but the logging history only goes back a few minutes.

Last stable version was Rancher 2.1.6 with Kubernetes 1.13.4. Now I am
using Rancher 2.1.7 and Kubernetes 1.13.4.

If there is any correlation it is that the ping times are longer around the
volume disconnect. As best as I can see, it looks like CPU/disk IO is
spik

[2019-03-21 02:19] yasker opened #437 "manager: integration test failed with `error listing backups for volume`"
text = '{"actions":{},"code":"Server Error","detail":"","links":{"self":"http://10.42.2.216:9500/v1/backupvolumes/longhorn-te...ckupstore\"\n\t\t}\n\t}\n}\n: invalid character \'i\' in literal true (expecting \'r\')","status":500,"type":"error"}
'
    def _error(self, text):

E       ApiError: (ApiError(...), 'Server Error : error listing backups for volume \'longhorn-testvol-qni5x6\': error parsi

[2019-03-21 02:19] debianmaster commented on #386
im using 0.4.0  now  still see same errors in longhorn manager pods

[code]

[2019-03-21 02:22] debianmaster commented on #386
Ans longhorn manager is not healthy at this stage
[code]

im using openshift btw

[2019-03-21 18:20] yasker commented on #437
Fixed.

[2019-03-21 18:20] #437 closed

[2019-03-22 01:30] yasker commented on #10
Fixed by https://github.com/rancher/longhorn-manager/pull/242

[2019-03-22 01:30] #10 closed

[2019-03-22 01:31] yasker commented on #198
Fixed by https://github.com/rancher/longhorn-manager/pull/242

[2019-03-22 01:31] #198 closed

[2019-03-22 01:31] yasker commented on #434
Fixed by https://github.com/rancher/longhorn-manager/pull/242

[2019-03-22 01:31] #434 closed

[2019-03-22 08:56] vincent927 opened #440 "Change default replica count configuration does not take effect"
I have modified the number of default replica count to 1, but it does not take effect. Whether it is an old volume or a newly created volume。

v 0.4.0

[2019-03-22 17:49] yasker commented on #440
@vincent927 In case of using Kubernetes driver, you need to update the storageclass configuration:

[code]

Change the `numberOfReplicas` above to `1` in your case.

[2019-03-22 18:28] rbq commented on #307
Similar issues here, three replicas on three nodes isn't fun. Why does Longhorn allow multiple replicas of the same volume to be scheduled on the same node at all? I'd very much prefer an option to stop this from happening over a maintenance mode that temporarily disables rescheduling.

[2019-03-22 18:46] yasker commented on #307
@rbq Yeah, we are planning to add this support. In the meanwhile, you can temporarily `Update Replica Count` to `n - 1` while doing the maintenance, which will instruct Longhorn to stop rebuilding during the period. After maintenance is done, you can increase the number back to the normal level, and prompt Longhorn to rebuild for the node.

[2019-03-22 23:09] #440 closed

[2019-03-22 23:10] yasker commented on #440
Feel free to reopen the issue if it doesn't answer your question.

[2019-03-22 23:10] yasker commented on #154
Fixed by https://github.com/rancher/longhorn/commit/14b194d8265b5b4e8414a1274a6b6f014ebf5011

[2019-03-22 23:10] #154 closed

[2019-03-23 03:07] yasker commented on #422
Done

[2019-03-23 03:07] #422 closed

[2019-03-23 14:36] debianmaster opened #444 "Failed to get arg root-dir: Cannot get kubelet root dir, no related proc for root-fir detection, error out"
Im seeing following error on openshift 3.11 (i.e.  k8s 1.11)

[code]

[code]

[2019-03-23 16:40] yasker commented on #444
@debianmaster I don't have an OpenShift setup but this error is due to Longhorn cannot find out where is the root dir setup for Kubelet, so the CSI plugin installation would fail.

Previously we assume in the case of we cannot decide, we use the default path instead of error out. After thinking about it, we think it's better to error out rather than fail silently. That's why you see the error for

[2019-03-23 21:49] PhilippHeuer opened #445 "Longhorn Helm Chart (usable with helm cli)"
Right now longhorn has a helm chart which can be installed using the catalog (gui).

It would be nice to get a official helm chart, which can be used with the normal `helm` cli tool.
I want to use this for a reproducable cluster deployment (with rke / rancher / longhorn).

Maybe that could be published in a repo like `https://releases.rancher.com/longhorn-charts/stable` same as rancher 2 has its o

[2019-03-25 02:23] vincent927 commented on #440
[code]
@yasker

[2019-03-25 02:35] yasker commented on #440
@vincent927 Kubernetes prevent you from modifying the parameter of storageclass. You would need to create a new storageclass with a different set of parameters.

[2019-03-25 17:45] yasker opened #446 "Add test case for invalid backup volume list in the manager"
It's a follow up of https://github.com/rancher/longhorn/issues/399

We should mix healthy and failed backup volumes and make sure they work well with the manager API in the end.

[2019-03-26 07:58] vincent927 opened #447 "How can i add a new disk to the longhorn ?"
I try add disk by longhorn ui, but wrong . How can i add a new disk to the longhorn ?

![image](https://user-images.githubusercontent.com/10399425/54980212-1ed42900-4fe0-11e9-9990-bba68dc59817.png)

[2019-03-26 09:52] #447 closed

[2019-03-26 17:57] yasker commented on #446
Done.

[2019-03-26 17:57] #446 closed

[2019-03-26 18:27] yasker commented on #368
Related to https://github.com/rancher/longhorn/issues/82

[2019-03-26 18:30] yasker commented on #83
Track #82 Item 5 in this issue as well.

https://github.com/rancher/longhorn/issues/82

5. show info about scheduled backups (everything green and healthy?)

[2019-03-27 00:42] yasker opened #449 "driver: k3s data-dir detection would fail if the command line has prefix e.g. `/usr/local/bin/k3s`"
PR in progress:
https://github.com/rancher/longhorn-manager/pull/246

Thanks to @aaliddell for spotting this issue!
https://github.com/rancher/longhorn-manager/pull/242#issuecomment-476852524

[2019-03-27 01:02] yasker opened #450 "test: validate Google Cloud Storage for Longhorn backupstore"

[2019-03-27 01:09] yasker commented on #427
@diegodorgam Can you try if `s3://bucket-name@nl-ams:/` works?

[2019-03-27 01:19] jaredkipe commented on #450
I have a secret named `google-cloud-storage` with a key in the secret (when viewed in the API) as

[code]

Which base64 decodes to `https://storage.googleapis.com`.
I believe this is correct only because of this particular page. **_Google Cloud Console -> Storage -> Settings -> Interoperability (tab)_**

Here is a screenshot of the section in question.

<img width="463" alt="interop" src="https://

[2019-03-27 01:31] jaredkipe commented on #450
@yasker Pointed out the documentation ( https://cloud.google.com/storage/docs/locations ) that suggested my above s3:// uri should have been `s3://some-bucket-name@us/backupstore`

This does indeed create backups, though with a double indenting, which isn't really a problem, but included for completeness.

<img width="790" alt="Backup-success-duplicate-folder" src="https://user-images.githubuserco

[2019-03-27 01:44] yasker commented on #450
Seems we've validated this. Thanks to @jaredkipe !

I've also updated the doc to emphasis the region code.

[2019-03-27 01:44] #450 closed

[2019-03-27 01:51] yasker commented on #444
Also, see a detail explantation at https://github.com/rancher/longhorn/blob/master/docs/csi-config.md

[2019-03-28 00:12] yasker opened #451 "chart: kubelet root-dir is not configurable in the chart"
Like `flexvolume-dir`, `kubelet root-dir` should be a configurable parameter, in case the auto detection failed.

[2019-03-28 07:33] debianmaster commented on #444
i have added following entry to driver deployment

[code]

i'll let you know if it works

[2019-03-28 07:36] debianmaster commented on #444
i.e.   `oc set env deploy longhorn-driver-deployer FLEXVOLUME_DIR='/var/lib/origin/openshift.local.volumes/plugins'`

[2019-03-28 08:32] debianmaster commented on #444
This setting sort of worked.   im yet to do final validations

[code]

[code]

[2019-03-28 12:05] botzill commented on #444
I also have this issue with longhorn`0.4.1` on DigitalOcean cluster `1.13.5.do`. Any idea how to fix this?

[2019-03-28 17:09] shuo-wu commented on #444
DigitalOcean cluster seems to containerize proc `kubelet` hence auto detection for kubelet `root-dir` doesn't work.
To solve it, You can add following entry to driver deployment:
[code]
https://github.com/rancher/longhorn/blob/master/deploy/longhorn.yaml#L329

[2019-03-28 18:19] botzill commented on #444
I did try your option but I still have the issue:

[code]

I set this in `deployment-driver.yaml`

[code]

Am I missing smth?

[2019-03-29 17:19] shuo-wu commented on #444
You got a wrong order for these command.
I think it should be:
[code]

[2019-03-29 23:15] yasker opened #452 "CSI driver may not work with `k3s server` as node agent"
While running Longhorn CSI driver with K3S, CSI driver may not work.

Using `k3s kubectl -n longhorn-system logs -l "app=longhorn-csi-plugin" -c driver-registrar` to check the log, you may see error:

[code]

It's an issue with K3S. For now, use `k3s server --disable-agent` as a workaround.

See https://github.com/rancher/k3s/issues/287 for details.

[2019-03-30 04:29] debianmaster commented on #444
[code]

[2019-03-30 05:49] debianmaster commented on #444
@yasker   based on this [doc](https://docs.okd.io/latest/install_config/persistent_storage/persistent_storage_csi.html#external-csi-controllers) can you suggest what is the right config for driver deployment, i will try on my cluster

[2019-03-30 12:46] phal0r commented on #412
@yasker
Thanks for the details. Unfortunately your instructions are not applicable via ui, since the minimum amount of replicas allowed are 2. I used `docker cp` to copy all content out of the degraded volume, generated a new one and copied everything to the new volume and just changed it in the volume mount of our workload. This has worked for me. Backups are now possible again and there are 3 he

[2019-03-30 15:32] phal0r commented on #412
@yasker
Problem persists with 0.4.1. Even worse, volumes in this state create now Snapshots every seconds and produce high load.

[2019-03-30 16:25] yasker commented on #412
@phal0r Have the engines upgraded to v0.4.1 as well?

[2019-03-30 17:46] yasker commented on #444
@debianmaster I've checked the openshift doc you provided.
1. That deployment method for CSI only applies to Kubernetes v1.11 or less. What version of Kubernetes you're using right now?
2. Seems OpenShift deliberately changed all kinds of default kubelet directores, e.g.
[code]
Is the kubelet root dir `/var/lib/origin/openshift.local.volumes`? Can you check https://github.com/rancher/longhorn/blob

[2019-03-30 23:39] phal0r commented on #412
Yes, but as I already wrote on Slack, the Cluster is totally unstable and behaves randomly, so it is unclearly what the root cause could be.

[2019-04-01 07:25] paulmorabito opened #453 "manager: Allow remove a node if the role of node changed from worker to non-worker"
Hi,

I'm running Rancher 2.2.0 and Kuvernetes 1.13.4.

I updated my cluster - added one node (with all three roles) and changed an existing node to remove the worker role. This was one of my nodes running longhorn and I mistakenly didn't stop scheduling or remove it from longhorn before updating the cluster.

Is there anything I can do to remove the node from longhorn? It's marked as down in the U

[2019-04-01 09:33] KuroObi opened #454 "Log Level adjustment"
We've been running longhorn for a while now and recently added the node-problem-detector to our clusters and now the longhorn-manager log gets and abundance of the following log-messages:
`level=debug msg="Unknown condition of kubernetes node xxxx: condition type is KernelDeadlock, reason is KernelHasNoDeadlock, message is kernel has no deadlock"

level=debug msg="Unknown condition of kubernetes n

[2019-04-01 09:39] paulmorabito commented on #453
I've partially resolved this here.

I re-enabled the node as a worker and disabled scheduling. I can't remove it from longhorn but it is otherwise inactive so I don't mind.

There is only one issue. One longhorn volume still has a replica on the disabled node. I can't remove the replica and also I can't delete it. It just hangs.

Any ideas?

[2019-04-01 18:18] yasker commented on #453
@paulmorabito Longhorn can remove node when:
1. The node scheduling is disabled
2. There is no replica on that node.

Since there is one replica on that node, you won't able to delete it. And in order to delete that replica, Longhorn manager needs to be run (at least temporarily) on that node and perform the cleanup.

Are you able to remove the replica on the node while the node is still acting as

[2019-04-01 18:45] yasker commented on #454
@KuroObi

You can disable debug mode by removing `-d` from the manager command line, though it would likely require a restart of the pods.

But it's hard to know what you don't know. And we don't want to flood debug log with useless information. I've skimmed the design doc for node-problem-detector, it seems all the conditions will become an issue only if `condition.Status==true`. I think we can u

[2019-04-02 03:30] debianmaster commented on #444
root-dir for openshift  is `--root-dir=/var/lib/origin/openshift.local.volumes`  from kubelet config

[2019-04-02 03:30] debianmaster commented on #444
i'll try with your recommendations one more time and see if i get lucky this time.

[2019-04-02 03:41] debianmaster commented on #444
[code]

[2019-04-02 03:45] yasker commented on #444
Are the CSI plugin running? Check `kubectl get pods -n longhorn-system` and check the logs of `longhorn-csi-plugin`

[2019-04-02 03:48] paulmorabito commented on #453
I re-enabled the node as a worker, deleted the remaining volume and
disabled it as a worker again. The node is now listed as down in longhorn
(it has controlpane and etcd roles only). I can select remove, however the
error I get is:

"Unable to delete node: Could not delete node 192.168.1.113 with node ready
condition is False, reason is ManagerPodMissing, node schedulable false,
and 0 replica, 0

[2019-04-02 03:48] debianmaster commented on #444
[code]

[2019-04-02 03:49] debianmaster commented on #444
everything looks  healthy.   even UI is working.  but attach fails

[2019-04-02 03:51] yasker commented on #444
UI is not in the driver's path. I think manager still works but driver cannot connect to it. Can you check the log of those `longhorn-csi-plugin` and `csi-attacher`/`csi-provisioner`? You can also generate a support bundle and that would be easier to take a look.

[2019-04-02 03:52] debianmaster commented on #444
```ls /usr/libexec/kubernetes/kubelet-plugins/volume/exec/```   folder is empty.      does it provide any clues?

[2019-04-02 03:54] yasker commented on #444
That's for Flexvolume driver. There wouldn't be anything if you're using CSI.

[2019-04-02 03:54] debianmaster commented on #444
attacher log for the machine where pod is scheduled.

[code]

[2019-04-02 03:56] yasker commented on #444
Attacher is not per node so it's normal. See the longhorn-csi-plugin's log on that node.

[2019-04-02 03:56] debianmaster commented on #444
csi-plugin pod logs on same node

[code]

[2019-04-02 03:57] yasker commented on #453
@paulmorabito This is a bug. Normally we allow removing of the node if the node has been removed from the cluster. But we didn't take node role changing into non-worker into consideration so it's not allowed.

We will fix this in the next release.

[2019-04-02 03:58] yasker commented on #444
This is driver-registrar container. What about longhorn-csi-plugin container?

[2019-04-02 03:58] debianmaster commented on #444
[code]

[2019-04-02 04:01] debianmaster commented on #444
provisioner  logs for same node ds
[code]