[2020-05-19 06:38] joshimoo commented on #820
It's useful to attach to the log output before starting the tests
[code]

**Testing Setup:**
- create a volume + pv + pvc named `vol1`
- create deployment of default ubuntu named `shell` with usage of pvc `vol1` mounted under `/mnt/vol1`
- wait till everything is up and running, verify volume `vol1` is accessible from shell via `/mnt/vol1`
- turn off node for workload `shell`
- wait till replaceme

[2020-05-19 06:39] joshimoo commented on #820
Some more notes below:
In general things get hairy once downed nodes come back from the dead, that's not related to this change and so far I observed things getting back to the correct state eventually.

Something odd I noticed was after longhorn-manager updates I was not able to access the mount anymore since it looked like the remount failed, so I created an issue for it here: longhorn/longhorn#

[2020-05-19 07:11] yasker commented on #307
@sowmyav27 It turns out it's hard to guarantee the concurrent rebuild count is no more than the setting due to multiple rebuilding process might start counting the replicas in the system at the same time. The updated version is better than the previous version, but I still able to get a slightly higher rebuild count sometimes.

We can focus on validating on set it to 0. In other cases, we shouldn'

[2020-05-19 15:54] yasker commented on #307
@sowmyav27 We will need to redo this feature. For now, we will only give the user option to disable replica rebuild across the cluster. Need to back to the whiteboard for the concurrent limit.

[2020-05-19 18:34] meldafrawi commented on #1240
Validation: **PASSED**

Steps to test:

1. Create a volume, attach it to a node, create a file system and mount it to a directory on the node.
2. Create a pod using a volume using
 `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/master/examples/pod_with_pvc.yaml`
3. write some random data to both volumes, and compute it's checksum
4. identify Instance Manager for both volumes

[2020-05-19 19:34] sowmyav27 opened #1364 "[BUG] Tool tip on a degraded volume suggests incorrectly that "one healthy replica is running at the same node as another" when Replica Node Level hard anti affinity is set"
**Describe the bug**
Tool tip on a degraded volume suggests incorrectly that "one healthy replica is running at the same node as another" when Replica Node Level hard anti affinity is set

**To Reproduce**

- Create a volume - 3 replicas
- Drain one node - force=true
- The volume will be in  degraded state, with one replica in failed state
- Hover of the state of the volume
- The tool tip shows me

[2020-05-19 21:09] yasker opened #1365 "task: remove compatible CSI deployment"
We no longer support it for v1.0.0 GA.

Steps to verify compatible CSI deployment got removed:
1. Set up a storage class with `provisioner: io.rancher.longhorn`.
2. Create a PVC using this storage class.
3. PVC creation should fail. Since we don't support it now.

Steps to verify current CSI deployment works:
1. Set up a storage class with `provisioner: driver.longhorn.io`.
2. Create a PVC using t

[2020-05-19 22:01] sowmyav27 commented on #1361
This is the case for a DRV volume also

[2020-05-19 22:45] sowmyav27 commented on #990
**Verified using image tag: `wangsiye/longhorn-ui:7bb2f43`**

Validation: **`PASSED`**
<img width="1629" alt="Screen Shot 2020-05-19 at 3 45 32 PM" src="https://user-images.githubusercontent.com/26032343/82385810-cb911700-99e7-11ea-9f74-444ae34252e1.png">

[2020-05-19 23:11] khushboo-rancher opened #1366 "[BUG] DR volume is stuck in restoring if the attached node is power downwhile restoring was in progress"
**Describe the bug**
DR volume is stuck in restoring if the attached node is power down while restoring was in progress.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a NFS backup store.
2. Create a volume (3 replicas), attach this to pod.
3. Write into the volume and take backup.
4. In another cluster, create DR volume of the backup
5. While restoring is in progress of DR volume, *

[2020-05-19 23:18] khushboo-rancher commented on #1328
Verified in master build.
Verification: **Passed**

Verified reboot scenarios while initial and incremental restoring of DR volume. It worked fine.
**Scenario 1:**
1. Rebooted the attached node while initial restoring was in progress. - Restore paused when node was rebooting. Once node came up, volume shows status detaching --> attach and started the restore again. Data verified.

2. Rebooted the

[2020-05-19 23:18] #1328 closed

[2020-05-19 23:19] joshimoo commented on #820
### Testing Setup
- create a volume + pv + pvc named vol1
- create deployment of default ubuntu named shell with usage of pvc vol1 mounted under /mnt/vol1
- wait till everything is up and running, verify volume vol1 is accessible from shell via /mnt/vol1

### StatefulSet
### if Volume Attachment Recovery Policy is set to `never` | `wait` | `immediate`
- turn off node for workload shell
- wait till

[2020-05-19 23:22] joshimoo commented on #820
To make kubernetes wait less for the setup of replacement pods have a look at this [article](https://fatalfailure.wordpress.com/2016/06/10/improving-kubernetes-reliability-quicker-detection-of-a-node-down/) on how one can configure the eviction timeout. I haven't tried this yet @meldafrawi would probably be the best to ask about this setup.

[2020-05-19 23:34] joshimoo opened #1368 "UI: add drop down list support"
For #820 I added a optional string Choices array to the SettingsDefinition schema.
See the following [commit](https://github.com/longhorn/longhorn-manager/pull/571/commits/dc593e7628ab1848266a8e9c73e096af05078349) for details.

It would be nice, if we can add a generic drop down component that is rendered anytime there is a Choices array present in the retrieved SettingsDefinition. We intend to us

[2020-05-19 23:48] sowmyav27 commented on #1336
**Validating on master - 05/19/2020 - 16:30 PDT**

**Steps:**

- Setup a backupstore on S3
- Create volume and attach to a workload
- Write random data to the pod volume and get the md5sum.
- Create a backup for the volume.
- Restore a new volume from the backup.
- Crash the engine during the restore - delete instance manager engine on the node where volume is attached.
- Wait for the volume detac

[2020-05-19 23:48] #1336 closed

[2020-05-19 23:57] #1121 closed

[2020-05-20 00:38] boknowswiki commented on #1291
@meldafrawi , for your information, I will take care the test case for this #1291.

[2020-05-20 00:56] yasker opened #1369 "Add volumeattachment to the support bundle"
We want to collect volume attachment for the support bundle.

Steps to verify this fix:
1. On UI click `Generate Support Bundle` on the left bottom.
2. Fill the URL and description for this support bundle.
3. The support bundler will be downloaded once it's done. And check yamls/kubernetes directory, there should be a volumeattachment yaml file if there is a volumeattachment object in the cluster.

[2020-05-20 02:12] khushboo-rancher opened #1370 "[BUG] Stateful set deployed with longhorn storage class shows error initially then recovers"
**Describe the bug**
Stateful set deployed with longhorn storage class shows error ```Multi-Attach error for volume "pvc-a5cf75b0-fe4f-4ff5-805e-9c70a650d86d" Volume is already exclusively attached to one node and can't be attached to another``` initially then recovers automatically.

**To Reproduce**
Steps to reproduce the behavior:
1. Install longhorn on a cluster.
2. Create a stateful 1 or 2 po

[2020-05-20 05:04] shuo-wu commented on #1366
This result is what we expect.
When a node becomes unresponsive, we don't know what happens and what status the related volumes are. e.g., the master node may be suddenly disconnected with all worker nodes or the worker node is down. Then we cannot blindly mark the volumes as `Faulted` state. Hence Longhorn won't operate the volumes and the volumes get stuck there until the node is back.

Of cours

[2020-05-20 10:29] shuo-wu opened #1373 "[BUG]Volume expansion will succeed even if the volume scheduling fails"
**Describe the bug**
This issue is similar to #1361

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume with (N+1) replicas in the N-node Longhorn cluster.
2. Expand the volume for multiple times

**Expected behavior**
The API call should be disabled or should fail.

**Environment:**
 - Longhorn version: v1.0.0-rc1

[2020-05-20 10:53] shuo-wu commented on #1373
Manual test 1:
1. Create a volume with (N+1) replicas in the N-node Longhorn cluster.
2. Verify the volume scheduling failure.
3. Try to expand the volume and get an error.

Manual test 2:
1. Create a volume with N replicas in the N-node Longhorn cluster.
2. Attach the volume and write some data.
3. Disable scheduling for one node and delete the related replica of the volume.
4. Verify the volume

[2020-05-20 17:12] sowmyav27 opened #1374 "[BUG] Info text for "Volume Attachment Recovery Policy" in settings page can be formatted"
**Describe the bug**
Info text for "Volume Attachment Recovery Policy" in settings page can be better formatted

**To Reproduce**
Currently the UI displays the text as
[code]
<img width="1791" alt="Screen Shot 2020-05-20 at 10 10 31 AM" src="https://user-images.githubusercontent.com/26032343/82476154-75bd7d00-9a82-11ea-8675-8ed769280b73.png">

**Expected behavior**
Its a little hard to read and un

[2020-05-20 19:06] boknowswiki commented on #1369
@yasker , do we have any document about support bundle and volumeattachment? I am trying to understand the issue. Thanks.

[2020-05-20 19:11] yasker commented on #1369
See https://github.com/longhorn/longhorn-manager/blob/master/manager/misc.go

It's a downloadable zip file that collects the log and yaml files in the `longhorn-system` namespace and others (e.g. volumeattachment object will be globally available). You can find it using the footer `Generate support bundle` link on the UI.

[2020-05-20 19:13] yasker commented on #1366
On a more general side, we can also consider handle it a similar way to Kubernetes. For example, when a node is down, we can mark the attached volume on that node as `unknown`. That would require some extra work on the controller to detect that though.

[2020-05-20 19:42] yasker commented on #1373
Note: we should require the volume to be healthy before it can be resized.

Hmm? If the volume is detached then we allow resizing? I am confused.

[2020-05-20 20:13] garrmark commented on #1346
@yasker I'm using a server that also supports v4 and can mount v4 directly to the linux nodes

[2020-05-20 20:26] yasker opened #1375 "[BUG] UI: node page crashed with the node doesn't have `Ready` condition yet"
It seems if some nodes haven't get into `Ready` state yet, then the node page won't show up.

Saw this in the developer console.
[code]

[2020-05-20 20:35] meldafrawi opened #1376 "[BUG] PVC created from Rancher will have empty spec.storageClassName"
**Describe the bug**

**To Reproduce**
1. Go to cluster → Storage → Persistent Volumes
2. Click on Add PV
3. Select Volume Plugin Longhorn
4. Give in other required parameters including replica count.
5. Click on Save.
6. Verify `test-1` PV is created
7. Go to Cluster → Project (default) → Workloads
8. Deploy a workload
9. In the Volumes section → Add a New Volume Claim → Use an existing persisten

[2020-05-20 21:14] meldafrawi commented on #1376
When Creating a PV , `Volume Handle` should refer to an existing Longhorn Volume.
No fix is needed

Closing the issue.

[2020-05-20 21:14] #1376 closed

[2020-05-20 21:23] joshimoo commented on #1346
It's hard to diagnose remotely, but the issue seems that your stat.d isn't auto started.

There is a [workaround ](https://bugs.launchpad.net/ubuntu/+source/nfs-utils/+bug/1624715/comments/5) posted here for Ubuntu 16.04.04 which would make sure that `rpc-statd` gets autostarted. Which I suggest you might want to try.

There are also mentions of missing directories, etc [here](https://unix.stackex

[2020-05-20 21:43] yasker commented on #1346
@garrmark Can it be the NFS fall back to v3 automatically? Can you check `mount|grep nfs` to see if `vers=4` or `vers=3` when you mounted volume manually on the node?

[2020-05-20 22:08] rsoika commented on #820
Just made a test in my self manged cluster

 - updated longhorn release from v0.8.1  -->  v1.0.0-rc1
 - upgraded my enginge-images in longhorn to longhornio/longhorn-engine:v1.0.0-rc1
 - killed one of my nodes hosting my PostgresDB and my Application (both with longhorn volumes)
 - waited 6 minutes
    - services were rescheduled by kubernetes
    - volumes from dead node were detached
    - new n

[2020-05-20 22:43] yasker commented on #1282
Integration test now runs with hard anti-affinity by default.

[2020-05-20 22:43] #1282 closed

[2020-05-20 23:10] yasker commented on #1364
@smallteeths
An easier way to reproduce:
1. Set replica soft node anti-affinity to false
2. Create a volume with three replicas and attach it to the node.
3. Disable scheduling for one node.
4. Delete the replica on the node that disabled scheduling.

Then this shows:

<img width="1105" alt="Screen Shot 2020-05-20 at 4 08 41 PM" src="https://user-images.githubusercontent.com/3344618/82506343-5c352

[2020-05-20 23:13] yasker opened #1377 "[BUG] UI: Sometimes UI doesn't allow to delete replica from the node page"
<img width="802" alt="Screen Shot 2020-05-20 at 4 06 49 PM" src="https://user-images.githubusercontent.com/3344618/82506463-b8984880-9ab4-11ea-8294-b62558477e2f.png">

On the page above, when the mouse cursor moved to the checkbox of replica, it's disabled.

It happened with node showing as schedulable or down.

It prevents the node from being removed.

[2020-05-20 23:14] sowmyav27 commented on #820
**Verified on `1.0.0-rc1`**

### Workload type: Deployment
**Immediate:**
- Have a workload deployed using longhorn volume
- change the `terminationGracePeriodSeconds: 600` in the yaml of the workload.
- Power down the node where the pod is attached on
- The replacement pod is created after 5 minutes from when the original pod goes into `Unknown` state.
- the volume is able to attach/mount and com

[2020-05-20 23:45] khushboo-rancher opened #1378 "[BUG] User is not able to use expanded volume if reverted to a snapshot before volume expansion"
**Describe the bug**
User is not able to write in expanded part of volume if reverted to snapshot which was created before volume got expanded.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume(3 replicas) - 3 GB, Attach to a pod
2. Write 2 GB data into the volume. file1
3. Create a Snapshot 1 and backup 1.
4. Expand the volume to 5 GB.
5. Write 2 GB data again into the volume.

[2020-05-21 00:18] khushboo-rancher commented on #1378
This is similar to https://github.com/longhorn/longhorn/issues/17
By following https://github.com/longhorn/longhorn/blob/v0.8.0/docs/expansion.md#handling-volume-revert, I was able to resize the volume and use it.

[2020-05-21 00:18] #1378 closed

[2020-05-21 01:06] boknowswiki commented on #1369
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] ~~**If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?~~
* [ ] ~~**if labeled: requir

[2020-05-21 01:10] yasker opened #1379 "[BUG]When the manager started, it reports failed to release lock"
When a manager starts with other managers at the same time, some of them already finished the upgrade process but reports:

[code]

This will delay the starting of managers in multiple nodes.

Longhorn version: v0.8.1

[2020-05-21 01:28] #1007 closed

[2020-05-21 02:00] yasker commented on #1370
Looks like it's https://github.com/kubernetes/kubernetes/issues/85320 but there is no fix in Kubernetes in place yet.

[2020-05-21 02:15] meldafrawi commented on #1287
Validation: **PASSED**
Longhorn Version: **v1.0.0-rc1**

[2020-05-21 03:01] shuo-wu commented on #1373
After step 5 of test 2, the volume **contains healthy replicas only** hence the expansion is fine.

If there is still scheduling failed replica after the detachment, the volume cannot be reattached/reused again, that would be a bug.

[2020-05-21 03:04] yasker commented on #1373
That means when we attach the volume, the rebuild progress will also start along with volume expansion?

[2020-05-21 03:14] shuo-wu commented on #1373
No. The rebuild is disabled for auto attached volumes. (Restoring volume, expanding volume, DR volume). See the fix for #1270

[2020-05-21 03:19] #820 closed

[2020-05-21 03:21] yasker commented on #820
@sowmyav27 Can you update the manual test steps on https://github.com/longhorn/longhorn-tests/wiki/Manual-Test-Plan ? Probably we need a separate page for it and link it there.

[2020-05-21 03:50] shuo-wu commented on #1360
Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [x] Is the reproduce steps/test steps documented?
* [x] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [x] ~~**i

[2020-05-21 05:29] yasker commented on #1375
I reproduce the issue last time when trying to scale the cluster by a lot during the scalability test. I will test this fix.

[2020-05-21 06:19] sowmyav27 opened #1380 "[BUG] Volume is seen in attached state after a DRV volume is activated when the last backup is deleted"
**Describe the bug**
[BUG] Volume is seen in attached state after a DRV volume is activated when the last backup is deleted

**To Reproduce**

**Scenario#1**

1. Create a volume vol1, attach to workload in Cluster A
2. Write data
3. Take a backup b1
4. Create a DRV volume `test` in another cluster B from vol1 b1
5. Write data and take a backup b2
6. Verify `test` is restored with b2 when the `Back

[2020-05-21 06:21] yasker commented on #1380
Let's investigate if there is a workaround. If so, we can fix it in v1.0.1 instead of v1.0.0.

[2020-05-21 06:24] sowmyav27 opened #1381 "[BUG] Create DRV option is NOT enabled when the latest backup of a volume is deleted"
**Describe the bug**
Create DRV option is NOT enabled when the latest backup of a volume is deleted

**To Reproduce**

- Create a volume vol1, attach to workload in Cluster A
- Write data
- Take a backup b1
- Write data and take a backup b2
- Delete latest backup - b2 from backup list page
- Go to backup page.
- Click on the volume, `Create Disaster Recovery Volume` option is disabled

**Expected

[2020-05-21 06:36] yasker commented on #1375
Verified.

[2020-05-21 06:36] #1375 closed

[2020-05-21 06:53] shuo-wu commented on #1373
Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [x] Is the reproduce steps/test steps documented?
* [x] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [x] ~~**i

[2020-05-21 13:23] shuo-wu commented on #1214
The test plan:
1. Deploy a cluster with 1 master node and 2 worker nodes (**w1, w2**). Deploy Longhorn **v0.8.1**.
2. Create a volume then attach it to **node w2**.
3. Use `kubectl drain` and `kubectl delete node` to remove **node w1 first**. Then power off the corresponding VM.
4. Add a new worker node w3 to the cluster.
5. Wait for the volume replica rebuild.
6. Remove the volume attached node w

[2020-05-21 13:28] yasker commented on #1214
@dnoland1 can you help to reproduce it on v1.0.0-rc1 ? It's on branch v1.0.0 of longhorn/longhorn. You can use deploy/longhorn.yaml to deploy.

[2020-05-21 13:42] garrmark commented on #1346
@yasker  yes, that mount works perfectly locally, but not in the container
[code]

[2020-05-21 14:44] shuo-wu commented on #1380
Here is the cause of this bug:
1. The `bv.lastBackup` will become empty after deleting the latest backup:
https://github.com/longhorn/backupstore/blob/7f9a1e8a1d69eaaeb52d13793c539ba01085f82f/deltablock.go#L639
2. And the DR volume `lastBackup` field will be updated to empty, too:
https://github.com/longhorn/longhorn-manager/blob/73f1617797097025d9d7c707cc85ddee041dcf88/manager/backup.go#L63
3. Th

[2020-05-21 15:22] shuo-wu commented on #1380
One more manual test:
    1. Set a random backupstore.
    2. Create a volume, then create the corresponding PV, PVC and Pod.
    3. Write data to the pod volume and get the md5sum
       after the pod running.
    4. Create the 1st backup.
    5. Create a DR volume from the backup.
    6. Wait for the DR volume restore complete.
    7. Set a longer `backupPollInterval`
    8. Write data to the or

[2020-05-21 16:54] dnoland1 commented on #1214
@shuo-wu I think that test plan should work. I used a 2 node k3s server setup with replica count of 2. For step 6, not sure if you need to immediately add a new worker, can wait a while, or if that's even needed. In my use case, replacement node was added within about 5 minutes. This was originally reproduced on longhorn 0.8.1.

@yasker I tried this on longhorn 1.0.0-rc1. I tried multiple times by

[2020-05-21 18:04] yasker opened #1382 "[BUG]UI: Without backuptarget set, backup target error is shown on every page"
<img width="414" alt="Screen Shot 2020-05-21 at 11 02 51 AM" src="https://user-images.githubusercontent.com/3344618/82590528-b4226d00-9b52-11ea-9e2c-f428915e319d.png">

The above information is shown on every page when there is no backup target. It should be shown only on the backup page.

[2020-05-21 18:34] boknowswiki commented on #1365
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] ~~**If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?~~
* [ ] ~~**if labeled: requir

[2020-05-21 18:57] joshimoo commented on #1208
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] **if labe

[2020-05-21 19:19] sowmyav27 opened #1383 "[BUG] ui: Error in the console when user tries to save recurring backup/snapshot in a detached volume"
**Describe the bug**
[BUG] Error in the console when user tries to save recurring backup/snapshot in a detached volume

**To Reproduce**

- Create a volume in Longhorn.
- Volume will be in detached state.
- Click on recurring Snapshot and backup
- Enter backup/snapshot and click on Save.
- There is an error in the console. And the changes are NOT saved

[code]
<img width="1913" alt="Screen Shot 20

[2020-05-21 19:44] yasker commented on #1208
We will need document for this option. Also, the test plan needs to be added to https://github.com/longhorn/longhorn-tests/wiki/Manual-Test-Plan

[2020-05-21 19:46] joshimoo commented on #1208
# Test Setup
- create a SLES12SP3 cluster
- keep all 3 deployments around till the end of the test

## Testing ext4 without custom fs params
- create a volume + pv + pvc with filesystem `ext4` named `ext-ck-fail`
- create a deployment that uses `ext-ck-fail`
- verify `MountVolume.SetUp failed for volume "ext4-ck-fails"` is part of the pod events
- verify that the pod does not enter running state

[2020-05-21 19:53] yasker commented on #1381
This is a known limitation for v1.0.0.

[2020-05-21 19:54] yasker commented on #1374
We currently cannot change the text or font of the setting. The detail of the setting description can be read at https://longhorn.io/docs/0.8.1/references/settings/ once it's done.

[2020-05-21 19:56] yasker commented on #1214
@dnoland1 That's great news! We will see if we can write a test case to reproduce it. But that, we will need to add this test to our manual test plan https://github.com/longhorn/longhorn-tests/wiki/Manual-Test-Plan .

[2020-05-21 20:39] joshimoo commented on #1208
Manual [test scenarios](https://github.com/longhorn/longhorn-tests/wiki/Test-Scenarios-for-Suse-SLES12SP3---custom-filesystem-paramters) created and added to the [manual test plan](https://github.com/longhorn/longhorn-tests/wiki/Manual-Test-Plan)

[2020-05-21 21:44] meldafrawi opened #1384 "[BUG] Longhorn instance managers wrongly terminated during upgrade process from v.0.8.1 to v1.0.0-rc1"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v0.8.1
2. Create a StatefulSet using Longhorn volumes,
3. Scale StatefulSet pods to 10
4. Upgrade to Longhorn v1.0.0-rc1
5. Check Longhorn volumes

**Observed**
Volumes **detached** and **reattached** again, and some of them kept **stuck at Attaching state**

Instance manager from the old version get recrea

[2020-05-21 21:50] yasker commented on #1384
A few things regarding why we didn't catch this in the automation upgrade test:
1. `Auto salvage` should be false during the upgrade phase.
2. We should use pod without `liveness` check for the validation, instead of volume directly. So anything went wrong we will catch it.
3. We need more volumes in the test_upgrade.

@meldafrawi can you make the change to the `longhorn-tests` to cover this?

In

[2020-05-21 22:41] sowmyav27 opened #1385 "[BUG] Subsequent new backups after a corrupted volumes create faulted volumes upon restoration"
**Describe the bug**
Subsequent new backups after a corrupted volumes create faulted volumes upon restoration

**To Reproduce**

- Volume v1 exists
- v1 has backup - b1
- Edit data (remove some checksum value) of back up b1 (vol v1) and upload to S3
- Verify the backup page lists the volumes v1
- Restore from b1
- Faulted volume is created
- Write data to vol v1 and create a new backup b2
- Restor

[2020-05-21 22:57] sowmyav27 commented on #990
**Verified on master - 05/21/2020**

Validation: **`PASSED`**
<img width="1889" alt="Screen Shot 2020-05-21 at 3 56 45 PM" src="https://user-images.githubusercontent.com/26032343/82614048-bbaa3c00-9b7b-11ea-876b-5830b6be9dba.png">

[2020-05-21 22:57] #990 closed

[2020-05-21 23:09] sowmyav27 commented on #1368
**Validated on master ui tag, longhorn - 1.0.0-rc1 - 05/21/2020**

- `Volume Attachment Recovery Policy` is seen as dropdown in settings page
<img width="1848" alt="Screen Shot 2020-05-21 at 4 06 58 PM" src="https://user-images.githubusercontent.com/26032343/82614703-5e16ef00-9b7d-11ea-9c32-6c83e9e2336d.png">

- Value is saved when you select one any option from dropdown.
- checked in `v1/settings

[2020-05-21 23:09] #1368 closed

[2020-05-21 23:12] sowmyav27 commented on #1097
**Verified in https://staging.longhorn.io/**
Changes are available.

`It’s highly recommended not to manipulate image tags, especially instance manager image tags such as v1_20200301, because we intentionally use the date to avoid associating it with a Longhorn version.`

[2020-05-21 23:18] #1097 closed

[2020-05-21 23:55] yasker commented on #1385
@sowmyav27 Can you try the following steps to see if it helps?
1. Create a snapshot.
2. Use snapshot to create a backup.
3. When it's finished, use the same snapshot to create a backup again.
    1. We have a built-in mechanism that if you create two backups with the same snapshot, the second time it will forcefully generate a full backup instead of an incremental backup.
4. Try to restore the bac

[2020-05-22 00:03] yasker commented on #1384
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **if labeled: require-doc** Has the necessary document PR submitted or merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-en

[2020-05-22 00:10] sowmyav27 commented on #1385
@yasker
These set of steps work

- Create a snapshot.
- Use snapshot to create a backup.
- When it's finished, use the same snapshot to create a backup again.
- Try to restore the backup.
- backup restore happens successfully.
- data is intact in this volume

[2020-05-22 00:31] sowmyav27 commented on #1364
**Verified with ui tag: `wangsiye/longhorn-ui:af54fa9`**

**Steps:**

- Set replica soft node anti-affinity to false
- Create a volume with three replicas and attach it to the node.
- Disable scheduling for one node n1.
- Delete the replica on the node that disabled scheduling.
- The degraded state does not have a tool tip now
- Now enable scheduling for the node n1.
- The replica will rebuild.
-

[2020-05-22 00:50] sowmyav27 commented on #1377
**Verified on ui tag: `wangsiye/longhorn-ui:af54fa9`**

Validation: **`PASSED`**

- Delete option - checkboxes for the replicas work.
- User is able to select and delete the replicas.

<img width="798" alt="Screen Shot 2020-05-21 at 5 38 03 PM" src="https://user-images.githubusercontent.com/26032343/82619701-7db51400-9b8b-11ea-96e6-81594876700c.png">

[2020-05-22 00:54] yasker commented on #1377
Hold on on this one.

[2020-05-22 01:55] yasker commented on #1364
@smallteeths ^^

[2020-05-22 02:42] meldafrawi commented on #1384
Validation: **PASSED**

Longhorn version: `master`

Steps to test:
1. Install Longhorn v0.8.1
2. Create a StatefulSet using Longhorn volumes,
3. Scale StatefulSet pods to 10
4. Upgrade to Longhorn v1.0.0-rc1
5. Check Longhorn volumes

[2020-05-22 02:51] sowmyav27 commented on #1359
**verified on master ui tag, longhorn version `1.0.0-rc1`**

Validation: **`Passed`**
- When the restore is in progress
<img width="581" alt="Screen Shot 2020-05-21 at 7 36 55 PM" src="https://user-images.githubusercontent.com/26032343/82625612-79442780-9b9a-11ea-905d-3f28cc9122b6.png">

- When the restore fails due to an invalid target in the settings
<img width="616" alt="Screen Shot 2020-05-21

[2020-05-22 02:51] #1359 closed

[2020-05-22 02:54] sowmyav27 opened #1386 "[BUG] Error messages can be better displayed"
**Describe the bug**
[BUG] Error messages can be better displayed

**To Reproduce**

- Use case:
- Backups existing on S3
- Invalidate the S3 target URL in longhorn settings page
- Restore from a backup
- the backup restore fails.
- The error seen n volume details page shows

<img width="1033" alt="Screen Shot 2020-05-21 at 4 02 21 PM" src="https://user-images.githubusercontent.com/26032343/826265

[2020-05-22 03:21] shuo-wu commented on #1380
Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?
* [x] Is the backend code merged?
* [x] Is the reproduce steps/test steps documented?
* [x] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] ~~**if labeled: require-doc** Has the necessary document PR submitted or merged?~~
* [ ] **If labeled: require-automation-e2e** Has the e

[2020-05-22 03:28] shuo-wu commented on #1373
The fix of UI part:
Gray out the button `Expand Volume` when `volume.conditions[scheduled].status == false && v. state == "detached"`

[2020-05-22 03:44] shuo-wu commented on #1361
The manual test step is the same as the reproducing step. And the final result should be:
The restore/DR volume will keep detached and won't start restoration after the creation and scheduling failure.

[2020-05-22 03:45] shuo-wu commented on #1361
Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [x] Is the reproduce steps/test steps documented?
* ~~[x] **If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* ~~[x] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?~~
* [x] ~

[2020-05-22 04:22] sowmyav27 commented on #1364
**Verified with ui tag: `wangsiye/longhorn-ui:afa7e56`**

Validation: **FAILED**

**Steps:**

- Create a volume - 3 replicas
- Drain one node - force=true
- The volume will be in degraded state, with one replica in failed state
- Hover of the state of the volume
- The tool tip shows message "Limited node redundancy: at least one healthy replica is running at the same node as another"

<img width="

[2020-05-22 04:24] sowmyav27 commented on #1382
**Verified with ui tag: wangsiye/longhorn-ui:afa7e56**

Validation: **`PASSED`**

- `error listing backups: setting backup-target is empty` message is shown when the target is empty only in the backup page

[2020-05-22 04:29] sowmyav27 commented on #1383
**Verified with ui tag: wangsiye/longhorn-ui:afa7e56**

Validation: **`PASSED`**

- Create a volume in Longhorn.
- Volume will be in detached state.
- Click on recurring Snapshot and backup
- Enter backup/snapshot and click on Save.
- No error is seen in console.
- Changes are saved.

[2020-05-22 04:41] joshimoo commented on #1341
@khushboo-rancher  can you test this issues with the below custom images.
This issue is related to #1326

Here are the test images, only the engine should be necessary but I like to have them in sync for testing.
Also by having the manager with the default engine deployed, it allows me to run the manager integration tests.
engine: `joshimoo/longhorn-engine:1341-test`
manager: `joshimoo/longhorn-ma

[2020-05-22 04:42] joshimoo commented on #1326
@khushboo-rancher  can you test this issues with the below custom images.
This issue is related to #1341

Here are the test images, only the engine should be necessary but I like to have them in sync for testing.
Also by having the manager with the default engine deployed, it allows me to run the manager integration tests.
engine: `joshimoo/longhorn-engine:1341-test`
manager: `joshimoo/longhorn-ma

[2020-05-22 06:05] ibrokethecloud opened #1388 "[FEATURE] Credential support for NFS backups"
**Is your feature request related to a problem? Please describe.**
Longhorn currently doesn't support credentials for NFS backup endpoints.

**Describe the solution you'd like**
Users should be able to provide credentials for NFS backup endpoint's in a manner similar to the S3 backup.

**Describe alternatives you've considered**

**Additional context**

[2020-05-22 09:53] aureq commented on #1256
Yes, it would be great to have an improved documentation. I'm trying to figure out how to create a YAML configuration for multiple disks but so far I've failed.

@catherineluse Have you been able to find anything? Do you mind to share what you may have if you don't mind?

[2020-05-22 11:57] shuo-wu commented on #1363
This would lead to a bug: The running volume cannot be deleted if the engine manager of the attached volume cannot be launched.

The reproducing steps:
1. Create and attach a volume.
2. Set a large number for the setting `Guaranteed Engine CPU`. e.g., 10
3. Verify all engine/replica manager pods loop in deleting then restarting.
4. Delete the volume. --> The volume will get stuck in `Deleting`.

[2020-05-22 17:15] sowmyav27 commented on #1361
**Verified on master - latest - 05/22/2020**

- Number of worker nodes - 4
- Cordon a worker node. Node is marked "Unschedulable"
- Restore from a backup with replicas - 4.
- The volume is seen in Replica Scheduling Failure state.
- All the replicas are in "Stopped" status
- Navigate to volume details page. The condition says - `Reason: RestoreInProgress`.
<img width="1062" alt="Screen Shot 2020-0

[2020-05-22 17:20] sowmyav27 commented on #1360
**Verified on master - 05/22/2020**

**Steps:**

- Number of worker nodes - 4
- Cordon a worker node. Node is marked "Unschedulable"
- Deploy a volume with 4 replicas in Longhorn
- Volume is in detached state with `Scheduling Failure Replica Scheduling Failure` and `Ready for workload: Not Ready`
<img width="642" alt="Screen Shot 2020-05-22 at 10 19 47 AM" src="https://user-images.githubuserconten

[2020-05-22 17:20] yasker commented on #1361
@sowmyav27 what if we restore the node? Will the restore continue? The restore was in fact `in progress`, but it's blocked by scheduling failure. Once the volume is scheduled, we should be able to continue the restoration.

[2020-05-22 17:24] sowmyav27 commented on #1361
@yasker
When the node is uncordoned, yes the restore continues. The volume gets restored correctly.

[2020-05-22 17:28] yasker commented on #1361
@sowmyav27 Sounds like we're good then.

[2020-05-22 17:30] sowmyav27 commented on #1361
Validation: **`PASSED`**

[2020-05-22 17:30] #1361 closed

[2020-05-22 17:49] yasker commented on #1256
@aureq You meant https://longhorn.io/docs/0.8.1/advanced-resources/default-disk-and-node-config/ ? Notice the node annotation only applies if there is no disk on the node yet.

[2020-05-22 17:56] sowmyav27 commented on #1364
**validated using UI tag: `wangsiye/longhorn-ui:ff585c6`**

Validation: **`PASSED`**

**Steps:**

**Scenario#1**

- Create a volume - 3 replicas
- Drain one node - force=true
- The volume will be in degraded state, with one replica in failed state
- Hover of the state of the volume
- The tool tip on the "degraded" state does NOT show any message.

<img width="661" alt="Screen Shot 2020-05-22 at 10

[2020-05-22 17:59] yasker commented on #870
The fix is too intrusive for v1.0.0. Move to v1.0.1.

1. The issue is hard to hit
2. If the manager crashed as the result, the manager will restart automatically, which shouldn't impact the user.

[2020-05-22 18:08] sowmyav27 commented on #1369
**Verified on master - 05/22/2020**

Validation: **`PASSED`**

**Steps:**

- Deployed two volumes, attached it to workloads - 2 .
- kubectl get volumeattachment showed

[code]

- On UI click Generate Support Bundle on the left bottom.
- Fill the URL and description for this support bundle.
- The support bundler will be downloaded once it's done. And check yamls/kubernetes directory,
- The folder h

[2020-05-22 18:08] #1369 closed

[2020-05-22 18:28] yasker commented on #1365
Remember to file a separate issue with the label `release/obsolete-compatibility` to remove the cleanup code for `compatible-csi-attacher`.

[2020-05-22 18:51] boknowswiki commented on #1365
@yasker , Do you mean a new bug or feature to tracking the deletion of this code?

[2020-05-22 18:52] yasker opened #1389 "doc: Add pre-upgrade check section"
1. Make sure the default storageClass object wasn't changed before the upgrade.

[2020-05-22 18:53] yasker commented on #1365
@boknowswiki it should be an enhancement rather than a bug.

[2020-05-22 18:59] sowmyav27 commented on #1382
**Verified with master - 05/22/2020 - 12:00 PDT**

**Validation: `PASSED`**

- `error listing backups: setting backup-target is empty` message is shown when the target is empty only in the backup page

[2020-05-22 19:00] #1382 closed

[2020-05-22 19:00] boknowswiki opened #1390 "Remove the cleanup code for compatible-csi-attacher"
This issue is to tracking removing the cleanup code for compatible-csi-attacher.

Link to the code to be removed:

https://github.com/longhorn/longhorn-manager/blob/044462f5cf901138be3559f1fd7440ad8b53650e/app/driver.go#L248-L266

And it's introduced by:

https://github.com/longhorn/longhorn/issues/1365

[2020-05-22 19:04] yasker opened #1391 "test: Improve upgrade test to run multiple pods"
https://github.com/longhorn/longhorn/issues/1384#issuecomment-632364661

[2020-05-22 19:04] sowmyav27 commented on #1383
**Verified on master - 05/22/2020 - ui tag: `9ab6368`**

Validation: **`FAILED`**

**Steps:**

- Create a volume in Longhorn.
- Volume will be in detached state.
- Click on recurring Snapshot and backup
- Enter backup/snapshot and click on Save.
- There is an error in the console. And the changes are NOT saved

<img width="1859" alt="Screen Shot 2020-05-22 at 12 04 00 PM" src="https://user-images.

[2020-05-22 19:05] yasker commented on #1384
Filed https://github.com/longhorn/longhorn/issues/1391 for automation test.

[2020-05-22 19:08] sowmyav27 commented on #1364
**validated longhorn master - 12:00 PDT 05/22/2020 **

Validation: **`PASSED`**

**Steps:**

**Scenario#1**

- Create a volume - 3 replicas
- Drain one node - force=true
- The volume will be in degraded state, with one replica in failed state
- Hover of the state of the volume
- The tool tip on the "degraded" state does NOT show any message.

<img width="652" alt="Screen Shot 2020-05-22 at 12 05 5

[2020-05-22 19:09] yasker commented on #1383
@sowmyav27 @smallteeths This is weird... This is the same error message as before.

[2020-05-22 19:09] #1364 closed

[2020-05-22 19:15] yasker commented on #1384
Updated https://github.com/longhorn/longhorn-tests/wiki/Manual-Test-Plan#longhorn-upgrade-test

[2020-05-22 19:19] khushboo-rancher commented on #1208
Verified on master- 05-19-2020

mounting ext4 on SLES SP3 works fine with parameter - ```-O ^64bit,^metadata_csum``` or ```-O ^metadata_csum```

Scenario tested:
1. XFS filesystem with and without setting ```mkfs.ext4 parameters```.
2. ext4 filesystem with stateful set with parameter ```-O ^64bit,^metadata_csum```. - Volume got mounted successfully and user is able to read/write data on volume.
3.

[2020-05-22 19:19] #1208 closed

[2020-05-22 19:26] sowmyav27 commented on #1373
**Reproduced issue on 1.0.0-rc1**

**Steps:**

- Create a volume with (N+1) replicas in the N-node Longhorn cluster with volume size 20G
- Expand the volume to 25G
- Replicas are seen running and when they come in detached mode, only N replicas are available and `Ready for workload:Ready`

**Validated on the latest master - 05/22/2020 - Ui tag: `9ab6368` and at 12:00 PDT**

- Create a volume with

[2020-05-22 19:29] yasker commented on #1373
@sowmyav27 The PR was merged after rc1, can you retry with the master?

[2020-05-22 20:01] sowmyav27 commented on #1365
**Validated on master - 05/22/2020**

- Set up a storage class with provisioner: `io.rancher.longhorn`
- Create a PVC using this storage class.
- PVC creation fails.

current CSI deployment:
- Set up a storage class with provisioner: `driver.longhorn.io`
- Create a PVC using this storage class.
- PVC creation succeeds

[2020-05-22 20:02] #1365 closed

[2020-05-22 20:07] sowmyav27 commented on #1373
**Validated on latest master -05/22/2020, ui tag: `8307588`**

**Steps:**

- Create a volume with (N+1) replicas in the N-node Longhorn cluster with volume size 20G when node soft affinity: False
- the volume will be in detached state with message:
[code]
- `Expand Volume` option is not enabled in the UI
- When trying to expand volume from API `v1/volumes/<volume-name>`
- Error seen
[code]

[2020-05-22 20:58] yasker commented on #1380
@shuo-wu please update the test skeleton.

I will make an exception and move this issue to Merged for RC2

[2020-05-22 21:27] sowmyav27 commented on #1380
**Validated on master - 05/22/2020**

Scenario#1

- Create a volume vol1, attach to workload in Cluster A
- Write data
- Take a backup b1
- Create a DRV volume test in another cluster B from vol1 b1
- Write data and take a backup b2
- Verify test is restored with b2 when the Backupstore Poll Interval interval has passed.
- Delete latest backup - b2
- Activate DRV test volume
- The volume is seen i

[2020-05-22 21:42] khushboo-rancher commented on #1341
Verified with below images
engine: joshimoo/longhorn-engine:1341-qa
manager: joshimoo/longhorn-manager:1341-qa

No backup failure is seen during concurrent backups of same volume and different volume.

[2020-05-22 21:42] yasker commented on #1377
I also cannot reproduce this issue now.

[2020-05-22 22:01] khushboo-rancher commented on #1341
@joshimoo There is a system created backup between two concurrent backups. Why was that created?
Also, it appears different from the other system snapshot created when I deleted one replica as per below image.
<img width="1433" alt="Screen Shot 2020-05-22 at 2 56 39 PM" src="https://user-images.githubusercontent.com/60111667/82712490-ed370c00-9c3c-11ea-9c2b-37e68c85310e.png">

[2020-05-22 22:07] yasker commented on #1341
The one in the circle is not a system created snapshot. it’s a removed snapshot. System created ones are yellow, like the latest one.

[2020-05-22 22:12] joshimoo commented on #1341
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merge

[2020-05-22 22:13] joshimoo commented on #1326
Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [x] Is the reproduce steps/test steps documented?
* [x] ~~**If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?~~
* [x] ~~**If labeled: area/ui** Has the UI issue filed or ready to be

[2020-05-22 22:20] joshimoo commented on #612
I added some improvements in regard to the concurrency issues in longhorn/backupstore#37

[2020-05-22 23:08] yasker commented on #1385
A few things we can do about it:
1. Set every x backup is a full backup.
2. We might able to check the previous backup's index, see if all the blocks exist.

[2020-05-22 23:20] yasker commented on #1214
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merge

[2020-05-22 23:55] sowmyav27 commented on #1214
**Reproduced the issue using longhorn `0.8.1`**

- Deploy a 3 node k3s cluster - all nodes have control+worker nodes N1, N2, N3.
- Deploy longhorn 0.8.1
- Create a volume in longhorn, create a pv/pvc
- Create a workload and use the volume created ^^^
- The workload is attached to node N1
- Force drain N1.
- The volume is seen ind `detaching` state

**Instance manager logs:**
[code]

[2020-05-23 00:20] sowmyav27 commented on #1214
**Validated on longhorn `1.0.0-rc1`**

**Steps:**

- Deploy a 3 node k3s cluster - all nodes have control+worker nodes N1, N2, N3.
- Deploy longhorn 0.8.1
- Create a volume in longhorn, create a pv/pvc
- Create a workload and use the volume created ^^^
- The workload is attached to node N1
- Force drain N1.
- Remove node from cluster
- The volume is seen in detaching state
- But the volume recover

[2020-05-23 00:24] boknowswiki commented on #1318
@meldafrawi , just checking with you, if you are not working on the test case for this issue. I can work on the test case. Thanks.

[2020-05-23 00:51] meldafrawi commented on #1318
@boknowswiki, sure, Thanks.

[2020-05-23 01:06] shuo-wu commented on #1380
@sowmyav27
For scenario #2, you need to use **2 separate clusters** and DO NOT delete the last backup in the Cluster that contains the DR volume. Since listing backup operation/entering backup page will trigger DRV incremental restore without waiting for the poll interval.

In your test step, the last backup is being restored by the DRV and suddenly gets deleted, then the DRV  becomes Faulted.

[2020-05-23 01:56] joshimoo commented on #1341
Added section for Backup & Restore Test Scenarios to the [manual test plan](https://github.com/longhorn/longhorn-tests/wiki/Test-Scenarios-for-Backups-&-Restore).

[2020-05-23 01:57] joshimoo commented on #1326
Added section for Backup & Restore Test Scenarios to the [manual test plan](https://github.com/longhorn/longhorn-tests/wiki/Test-Scenarios-for-Backups-&-Restore).

[2020-05-23 02:25] sowmyav27 opened #1392 "[BUG] Volume is seen in faulted state when navigating to backup page after the last backup has been deleted and before the Backupstore Poll Interval interval has passed"
**Describe the bug**
Volume is seen in faulted state when navigating to backup page after the last backup has been deleted and before the Backupstore Poll Interval interval has passed

**To Reproduce**
- Create a volume vol1, attach to workload in Cluster A
- Write data
- Set `Backupstore Poll Interval` as 6000 (a large value)
- Take a backup b1
- Create a DRV volume test in Cluster A from vol1 b1

[2020-05-23 02:38] yasker opened #1393 "[FEATURE] Don't allow backup deletion when in use for restoration"
We need to find a way to stop the user from deleting a backup when it's being used for restoration.

Root cause of: https://github.com/longhorn/longhorn/issues/1392

[2020-05-23 03:03] yasker opened #1394 "[FEATURE]UI: Add pagination to node/volume/backup volume/backup page"
Otherwise when the user has lots of volumes, the UI will become extremely slow.

[2020-05-23 03:05] yasker opened #1395 "Rancher Longhorn catalog chart for v1.0.0"
Need to create Rancher Longhorn catalog chart for v1.0.0 release.

[2020-05-23 05:02] yasker commented on #1349
Done.

[2020-05-23 05:02] #1349 closed

[2020-05-23 14:11] sangeethah commented on #1380
For the Scenario#2 tracked in https://github.com/longhorn/longhorn/issues/1392 , we should consider providing a warning message to the user when deleting backups of the volume that have DRV associated with them.

[2020-05-23 18:15] yasker commented on #1380
There isn't a way for us to tell if any volume is restoring using the backup when a user is deleting it (otherwise we can just stop them from using it). We can add a general warning message to delete backup and delete the whole backup volume. It can be filed as a separate UI issue.

[2020-05-23 19:15] sowmyav27 commented on #1383
**Verified on master - ui tag: `ca99642` on longhorn - 1.0.0-rc1**

Validation: **`PASSED`**

**Steps:**

- Create a volume in Longhorn.
- Volume will be in detached state.
- Click on recurring Snapshot and backup
- Enter backup/snapshot and click on Save.
- There is no error on the console and the changes made are saved.

[2020-05-23 19:35] sowmyav27 opened #1396 "[BUG] Warning message should be provided when deleting backups"
**Describe the bug**
Warning message should be provided when deleting backups

A warning message should be provided to the user when user deletes a backup as it maybe related to a DRV volume which can cause the volume to be faulted - related issue - https://github.com/longhorn/longhorn/issues/1380#issuecomment-632914958 (Scenario#2)

**Environment:**
 - Longhorn version: 1.0.0-rc1
 - Kubernetes ve

[2020-05-23 19:35] sowmyav27 commented on #1380
Logged a UI issue - https://github.com/longhorn/longhorn/issues/1396

[2020-05-23 19:42] yasker commented on #1383
@sowmyav27 Thanks. I've moved the issue to merged column.

[2020-05-23 19:47] yasker commented on #1396
How about the warning message like the following:
1. When deleting a backup, shows up a confirmation dialog: `Warning: if there is restore process in progress using the backup (including DR volumes), deleting this backup will result in restore failure and volume will become FAULTED. Are you sure you want to delete this backup?`
2. When deleting a backup volume, show up a confirmation dialog: `Warn

[2020-05-23 20:03] yasker opened #1397 "doc: Upgrade instruction from v0.8.1 to v1.0.0"
1. Offline upgrade.
1. Change for default settings
    1. GuaranteedEngineCPU
    1. Hard anti-affinity

[2020-05-23 20:48] khushboo-rancher opened #1399 "[BUG] On creating backup in S3/NFS backup store, an additional backups folder appears with error"
**Describe the bug**
On creating backup in NFS backup store, an additional backups folder appears with no data in backup page.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a S3/NFS backup store.
2. Create a backup of a volume.
3. An additional backup starts appearing in backup page with error.
<img width="1697" alt="Screen Shot 2020-05-23 at 1 29 32 PM" src="https://user-images.git

[2020-05-23 21:49] joshimoo commented on #1399
This happened because when creating the placeholder in progress backup.cfg, the volume name was not set. Which lead to the saveBackup placing the backup in the path before the volume.

I added a check in saveBackup to verify that a volume is always set, this prevents this error from happening again in the future.

[2020-05-23 21:51] joshimoo commented on #1399
Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [x] Is the reproduce steps/test steps documented?
* [x] ~~**If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?~~
* [x] ~~**If labeled: area/ui** Has the UI issue filed or ready to be

[2020-05-23 22:51] ShadowJonathan commented on #526
Can someone else confirm that longhorn works on a fresh k3OS install?

[2020-05-24 01:01] #1383 closed

[2020-05-24 01:13] sowmyav27 commented on #1396
@yasker Can we have them like this (slight modifications)

1. When deleting a backup, shows up a confirmation dialog: `Warning: If there is backup restore process in progress using this backup (including DR volumes), deleting the backup will result in restore failure and volume in the restore process will become FAULTED. Are you sure you want to delete this backup?`

2. When deleting a backup volu

[2020-05-24 01:33] sowmyav27 commented on #1214
**Was able to reproduce this issue on 0.8.1 using these steps also**

1. Deploy a 3 node k3s cluster - all nodes have control+worker nodes N1, N2, N3.
2. Deploy longhorn 0.8.1
3. Create a 3-replica volume in longhorn, create a pv/pvc/pod. The volume is attached to N1.
4. Write some data to the volume and get the md5sum.
5. Force drain and remove N2, which contains one replica only.
6. Wait for the

[2020-05-24 03:02] yasker commented on #1396
@sowmyav27 Looks good to me.

[2020-05-24 03:56] khushboo-rancher commented on #1399
Verified on master - 05-23-2020

Backup is not showing the additional backup folder with error reported in the issue. Only created backups are available in backup page.

Scenarios verified:
1. Volume created and backup taken in S3 backup store.
1. Volume created and backup taken in NFS backup store.

[2020-05-24 03:56] #1399 closed

[2020-05-24 05:15] sowmyav27 commented on #1394
**Verified on master - ui tag: `ebd09f9` and longhorn - `1.0.0-rc1`**

**Pagination on Node page**
<img width="1652" alt="Screen Shot 2020-05-23 at 10 05 38 PM" src="https://user-images.githubusercontent.com/26032343/82746283-e2ff3580-9d42-11ea-9587-9a5700b03c4c.png">

**Pagination on Volume page**
<img width="1668" alt="Screen Shot 2020-05-23 at 10 05 49 PM" src="https://user-images.githubusercon

[2020-05-24 05:19] khushboo-rancher commented on #1341
Verified on master - 05-23-2020

Verification : **Passed**

Concurrent backups got successfully created. Tested with concurrent backups within same volume and with two different volumes.

**Steps**
1. Create volume and attach to a pod.
2. Write into the volume.
3. Set up NFS backup store.
4. Create two parallel backups.
5. When backup creation is in progress, write some more data to the volume.
6.

[2020-05-24 05:19] #1341 closed

[2020-05-24 05:29] yasker commented on #1394
@sowmyav27 can you try to get the second page of backup and backup volumes? I've validated the node page for multiple pages.

[2020-05-24 17:15] #1071 closed

[2020-05-24 17:39] unixfox opened #1400 "[Question] How to move an existing volume to a new disk of the same node?"
I just added a new disk on my node and I want to move an existing volume of the same node to the new disk.
Is there a way to do that on the longhorn UI or using some commands?

Details about my cluster:
- Kubernetes type: K3S
- OS: Debian 10

[2020-05-24 18:16] sowmyav27 commented on #1394
Verified the pagination on backup volumes and backup list page. Looks good
<img width="1646" alt="Screen Shot 2020-05-24 at 11 14 42 AM" src="https://user-images.githubusercontent.com/26032343/82761520-f3012e80-9daf-11ea-909b-750e879e94bf.png">
<img width="1659" alt="Screen Shot 2020-05-24 at 11 15 35 AM" src="https://user-images.githubusercontent.com/26032343/82761522-f5638880-9daf-11ea-8778-8447

[2020-05-24 18:21] #1394 closed

[2020-05-24 20:30] sowmyav27 commented on #1326
**Verified on master latest 05/24/2020 - ui tag: `ebd09f9`**

**Steps:**

- create vol `vol-1` and Use it in a workload
- Write data into the volume
- wait for a bunch of data to be written (1GB)
- take a backup(1)
- wait for a bunch of data to be written (1GB)
- take a backup(2)
- immediately request deletion of backup(1)
- verify that backup(2) completes successfully
- verify that backup(1) has

[2020-05-24 20:35] #1326 closed

[2020-05-24 23:01] joshimoo commented on #1212
@sowmyav27 can this be closed?

[2020-05-24 23:01] yasker commented on #1212
@meldafrawi can you check if the automation passed for this issue?

[2020-05-25 00:48] yasker commented on #1159
I cannot find the merged PR https://github.com/longhorn/website/pull/102

[2020-05-25 00:50] yasker commented on #1332
I cannot find the best practice guide on the website right now.

The documentation for the `GuaranteedEngineCPU` is now at https://github.com/yasker/longhorn/wiki/Guaranteed-Engine-CPU-%5BDRAFT%5D . We can put this in to the setting reference.

[2020-05-25 04:00] sowmyav27 commented on #1396
**Validated on master,  longhorn and. ui tag: `wangsiye/longhorn-ui:93d4b65`**

Validation: **`PASSED`**

1. When deleting a backup, shows up a confirmation dialog:
<img width="1562" alt="Screen Shot 2020-05-24 at 8 56 07 PM" src="https://user-images.githubusercontent.com/26032343/82776919-5cf5f400-9e01-11ea-8d8a-0600e2c08fdf.png">

2. When deleting a backup volume, show up a confirmation dialog:

[2020-05-25 11:23] armandleopold commented on #6
+1

[2020-05-25 16:04] sowmyav27 opened #1401 "[BUG] "Delete All Backups" does not delete the backup volume folder"
**Describe the bug**
"Delete All Backups" does not delete the backup volume folder

**To Reproduce**

- Create a volume - `vol-1`, attach to a node, write data, take backups b1 and b2 for the volume.
- Navigate to Backup Page.
- From operations select "Delete All Backups" for the backup volume
- All the backups get deleted but the  backup volume folder is still available on the UI

**Expected beha

[2020-05-25 16:37] aimbot31 commented on #1401
I'm so glad someone opened this issue.. I'm facing an issue that may be related.
I'm using Google Cloud Storage for the backups and when i try to delete a single backup, nothing happens (no warning, errors etc..) The backup seems to be still there (in the bucket and ui).
When i'm trying to delete all the backups, i got an error :/

[code]

I hope my problem is related to this issue

[2020-05-25 20:11] timmy59100 commented on #1132
Would be something like this be possible?

[2020-05-25 21:18] yasker commented on #1401
Hi @aimbot31 ,

I think the original issue might not be related since it's likely a regression introduced by one of the recent changes after v0.8.1 release. Your issue looks different. Can you file another issue for it? We will look into it.

[2020-05-25 21:19] yasker commented on #1401
@sowmyav27 I assume it's always reproducible, right?

[2020-05-25 21:24] yasker commented on #1132
@timmy59100 There are a few scenarios:
1. Space taken by the extra snapshots. For example, the whole volume size might exceed the nominal size of the volume if there are multiple snapshots. The user can free up space by deleting snapshots or scheduling a recurring snapshot.
2. Space taken by the volume. For example, the volume has a nominal size of 20G, but the whole volume was written over, in th

[2020-05-25 21:34] yasker opened #1402 "[BUG]test: nightly tests are failing"
Both nightly tests are failing with a large amount of test case from time to time:

[code]

[2020-05-25 21:37] joshimoo commented on #1401
@sowmyav27 can you attach a support bundle, also do you have recurring backups setup for that volume?

[2020-05-25 21:42] yasker commented on #1400
Hi @unixfox

Currently, you cannot `move` the replica to another disk directly, but there is a way to do it:
1. Make the new disk the only disk that's schedulable.
    1. Disable all the node's scheduling except for the one node you're moving to.
    1. Disable the original disk's scheduling.
1. Delete the replicas on the old disk ONE BY ONE. Make sure to wait for the replica rebuild complete befo

[2020-05-25 21:43] yasker commented on #1400
We're planning to add a feature called `Replica eviction` (https://github.com/longhorn/longhorn/issues/298) in the v1.1.0. We will cover this case then.

[2020-05-25 22:02] yasker commented on #1252
Will be covered by https://github.com/longhorn/longhorn/issues/60

[2020-05-25 22:02] #1252 closed

[2020-05-25 22:02] yasker commented on #60
Need to cover how to recover from a single replica.

[2020-05-25 22:08] yasker commented on #1352
Check https://staging.longhorn.io/docs/0.8.1/ instead since it will become the next v1.0.0.

[2020-05-25 22:22] yasker commented on #1274
Created https://github.com/longhorn/website/pull/117

[2020-05-25 22:34] unixfox commented on #1400
Thank you @yasker for the reply. It's indeed a clever hack!
Do you mind if I let this issue open until the feature gets implemented into longhorn or should I create a new issue with a "feature request" tag? Let me know about that.

[2020-05-25 22:52] yasker commented on #1389
Will be done as a part of #1397

[2020-05-25 22:52] #1389 closed

[2020-05-25 22:53] yasker commented on #1397
Document draft at https://github.com/yasker/longhorn/wiki/Upgrade-from-v0.8.1-to-v1.0.0-%5BDRAFT%5D

[2020-05-25 23:59] yasker commented on #1400
@unixfox Feel free to keep this issue open until we fix #298

[2020-05-26 02:10] antmoveh opened #1403 "[BUG] Storageclass does not work when it has the parameter frontend:iscsi"
**Describe the bug**
- StorageClass.yaml
[code]
pvc.yaml
[code]
- But it's still a Block Device
![x](https://user-images.githubusercontent.com/26082792/82853528-9aa96880-9f38-11ea-8af9-0a33a143b129.png)

- I found this bug
- You're not dealing with parameters like frontend standy
- Please repair it
https://github.com/longhorn/longhorn-manager/blob/master/csi/util.go
[code]

[2020-05-26 04:56] yasker commented on #1403
Hi @antmoveh

Storage Class doesn't support iscsi as frontend. Kubernetes should always use block device as the front-end. Our CSI driver wasn't designed to work with iscsi front-end. What's your use case for exposing the iscsi device to Kubernetes?

[2020-05-26 05:53] antmoveh commented on #1403
pvc.yaml
[code]
- When deployment replicas=2, the following error is reported when mounting the PVC
![x1](https://user-images.githubusercontent.com/26082792/82864683-abb5a200-9f57-11ea-84df-f448c61bd7cd.png)
![x2](https://user-images.githubusercontent.com/26082792/82864685-ac4e3880-9f57-11ea-9c0d-bc52fb31b6ec.png)

- Unable to create pv in ReadWriteMany mode
pvc2.yaml
[code]

![x3](https://user-im

[2020-05-26 07:42] timmy59100 commented on #1180
@yasker For the moment how to you recommend that we monitor the volume usages at the moment so they don't get full.

[2020-05-26 08:12] aimbot31 opened #1404 "[BUG] Backups on Google Cloud Storage aren't deleted"
**Describe the bug**
When using a Google Cloud Storage bucket, "Backups" aren't deleted.

**To Reproduce**

1. Configure a Google Cloud Sotrage bucket to be the endpoint for your backups
2. Create a volume (PVC) of 5gb, attach it to a pod, write data, take backups b1, b2 for the volume
3. Navigate to Backup Page
4. From operations select "Delete All Backups" for the backup volume

**Expected behav

[2020-05-26 09:38] shuo-wu commented on #1402
Most of the cases fail at the setup stage:
[code]

The root caused of this setup error is that the extra disk won't be cleaned up correctly after the `test_node.test_node_default_disk_added_back_with_extra_disk_unmounted` failure:
[code]
[code]

Solution:
1. Fix the bug for `test_node_default_disk_added_back_with_extra_disk_unmounted`.
2. Make sure the node disks will be reset if there are multipl

[2020-05-26 10:50] shuo-wu commented on #1352
Validations:
- [x] The lastest Longhorn doesn't work on k3s of which the version is **lower than v0.10.0** without extra configs.
- [x] The lastest Longhorn works fine on k3s of which the version is **lower than v0.10.0** with the configs mentioned in the doc.
- [ ] The lastest Longhorn works fine on k3s of which the version is **v0.10.0 or higher** without extra configs.

Here, `works fine` means

[2020-05-26 14:12] yasker commented on #1402
The direct failure reason is when we're creating the extra disk (which only have one replica), it might get scheduled on the default disk, which we will try to remove later and then failed. Then it will trigger the chain reaction from there:
[code]

[2020-05-26 14:18] klauskobald commented on #1302
This is exactly what I do not want to do. I have this now. I want to get rid of NFS shares back and forth between nodes. So, will the update which will be presented the next days be able to handle multiple nodes and mount points?

[2020-05-26 14:23] yasker commented on #1403
Longhorn is a distributed block storage system. Like EBS, it doesn't support Read-Write-Many. So if you want to scale the deployment to more than one, you will need the deployment to be bind to one node.

Or you can use StatefulSet with VolumeClaimTemplate which will create a volume for each pod automatically and scales properly with Longhorn.

[2020-05-26 14:25] yasker commented on #1352
@shuo-wu Sounds good. And no, we don't need to check v0.7.0.

[2020-05-26 14:25] #1352 closed

[2020-05-26 16:59] sowmyav27 commented on #1401
@yasker Yes I am able to reproduce this always.
@joshimoo Attached the support bundle
[longhorn-support-bundle_1c9b022b-fa90-4793-92a1-253180b6f315_2020-05-26T16-58-10Z.zip](https://github.com/longhorn/longhorn/files/4683750/longhorn-support-bundle_1c9b022b-fa90-4793-92a1-253180b6f315_2020-05-26T16-58-10Z.zip)

[2020-05-26 17:31] yasker commented on #1291
The test case results in https://github.com/longhorn/longhorn/issues/1402 , which is later fixed by https://github.com/longhorn/longhorn-tests/pull/339

[2020-05-26 18:56] sowmyav27 commented on #1396
Verified on master - 05/26/2020

Validation: **`PASSED`**

[2020-05-26 18:56] #1396 closed

[2020-05-26 19:11] yasker commented on #1214
Now we can reproduce the issue, so we should be able to understand it better. E.g. what exactly went wrong, and what would triggered the issue. After we understand those, we can see if we need to automate the test case for it.

[2020-05-26 19:13] sowmyav27 commented on #1401
Not able to reproduce this issue on the latest master - 05/26/2020 ui tag: `e789737`

[2020-05-26 20:15] timmy59100 commented on #1132
It would be the second scenario. At the moment we have to avoid spikes in data usage to not bloat the space on disk, backup or replica.

[2020-05-26 20:38] sowmyav27 commented on #1377
**Verified on master - ui tag: `e789737`**

**Steps:**

- Delete option - checkboxes for the replicas work.
- User is able to select and delete the replicas.
- Verified on nodes which are `Schedulable` and `Down`

[2020-05-26 20:40] justinrush commented on #1323
Running into the same thing.

@yasker I don't see the actual work around in that link, it just says not to manipulate the tags.  What is the workaround?
@dmayle did you figure out what to do here?

[2020-05-26 20:47] #1377 closed

[2020-05-26 21:22] dmayle commented on #1323
@justinrush The expectation is that you'll push the same image under a new tag.  Instead of pushing the originalimage name (e.g. `registry.devcluster.longdomainname.com/longhornio/longhorn-instance-manager:v1_20200301`) You rename the image (assumint the registry is fixed) `registry.devcluster.longdomainname.com/repo/im:v1`

[2020-05-26 21:28] meldafrawi commented on #1323
@justinrush
You need to rename your image
from: `registry.devcluster.longdomainname.com/longhornio/longhorn-instance-manager:v1_20200301`
to something like this:  `registry.devcluster.longdomainname.com/lh/ins-mgr:v1_20200301`

[2020-05-26 21:36] justinrush commented on #1323
That won't really work cleanly in our environment.  We use artifactory to proxy docker hub, so we aren't really pushing the images to a private repo.  I'd need to pull it down on a docker host, retag it, then push it up to a new repository.

Is there a real fix planned here?

[2020-05-26 21:39] meldafrawi commented on #1323
This is a Kubernetes limitation, labels have to be less than 63 characters long
https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

[2020-05-26 21:53] yasker commented on #1323
Currently we do have this limitation and it's not easy to change at the moment because our usage of Kubernetes label. To fix this we will need to find another way to identify certain instance managers objects without using Kubernetes labels.

What does your proxy prefix looks like? How many characters are there?

[2020-05-26 21:57] yasker commented on #1132
@timmy59100 so instead of creating 20G volume at first, does create e.g 2G volume work for your scenario? Or maybe you don't have the control over the volume size.

[2020-05-26 22:12] justinrush commented on #1323
28 chars.  I looked into trying to create CNAMEs, but then the cert won't match and also artifactory is using reverse proxies so it needs to be reached with the full name.

[2020-05-26 22:13] justinrush commented on #1323
@yasker are you doing something in the longhorn code itself to try and get specific pods?  or is this just an update to the chart?

[2020-05-26 22:18] yasker commented on #1323
@justinrush All the images are specified in the chart, you can see how to configure them in https://longhorn.io/docs/0.8.1/advanced-resources/deploy/airgap/ .

The default instance manager image name is 48 chars, which indeed doesn't leave much space for the prefix.

I am thinking something like run a checksum on the image name and use that as the label instead, but we will need to deal with the u

[2020-05-26 22:53] justinrush commented on #1323
thanks.  I re-tagged them locally for testing but will wait for 1.1.0 before going to production.

[2020-05-27 00:19] yasker commented on #1334
We can add a new page under `Volume and Nodes` called `Scheduling` to document how Longhorn scheduling decision was made.

[2020-05-27 00:41] meldafrawi opened #1405 "[BUG] UI: Pagination icons should be fixed at the bottom of the page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Volume details page
2. Create a volume

![image](https://user-images.githubusercontent.com/18232258/82963512-6d55cc80-9fc3-11ea-86ed-a5ffcd8d5307.png)

**Expected behavior**
Pagination icons should be fixed at the bottom of the page

**Log**
N/A

**Environment:**
 -

[2020-05-27 01:13] joshimoo opened #1406 "make recurring backups run via the longhorn-manager api"
Make recurring backups run via the longhorn-manager api instead of directly calling the engine binaries.

- This will make sure that user backups and recurring backups use the same code path.
- This will lead to us having the logs for these operations as part of the longhorn-manager

[2020-05-27 01:21] sowmyav27 commented on #1401
Closing the issue. Will reopen if this issue is hit again.

[2020-05-27 01:21] #1401 closed

[2020-05-27 01:28] awlleon opened #1407 "[BUG] Cannot modify "Longhorn Static StorageClass Name" or other fields"
**Describe the bug**
From UI cannot modify "Longhorn Static StorageClass Name", so is the field "Backup Target" .

**To Reproduce**
Steps to reproduce the behavior:
1. In the settings page in Longhorn UI, set the "Longhorn Static StorageClass Name" - "longhorn" and Save.
2. Reopen  settings page , "Longhorn Static StorageClass Name"  is still "longhorn-static".
4. Error is seen in chrome Console t

[2020-05-27 01:30] awlleon commented on #1407
[](url)

[2020-05-27 02:03] yasker commented on #1407
It looks like you have some network issues for the UI to reach the backend API server.

[2020-05-27 02:20] joshimoo opened #1408 "[BUG] Fix ticker leakage"
I noticed that we are leaking Tickers, this is a tracking issue for the pull requests on all of the longhorn projects to fix the leakage.

[2020-05-27 02:36] yasker commented on #1408
This change is a bit bigger than I expected. Especially if `go-iscsi-helper` is changed, that means we need to change the engine too. We can merge this after the GA.

[2020-05-27 02:50] joshimoo opened #1409 "[REFACTORING] Evaluate the impact of removing the client side compression for backup blocks"
- This would reduce the cpu load on the nodes when creating a backup.
- This would increase the backup size, by how much?
- This would allow download and check operations to make sure that the backups crc still matches with the backup contents, currently we would need to download uncompress, crc check the data.

While doing this think about some alternatives, maybe keep a crc/hash of the compresse

[2020-05-27 02:54] antmoveh commented on #1403
@yasker
Thank you for your answer, I know how to use it

[2020-05-27 02:55] #1403 closed

[2020-05-27 03:11] joshimoo opened #1410 "[BUG] Backup List issue when failing to retrieve backup names for backup volume"
**Describe the bug**
When trying to List all Backup Volumes and there is an error to retrieve the backupnames via `getBackupNamesForVolume` for a volume, we currently return an error back to the caller instead of setting the error as part of the VolumeInfo object. This blocks the ui/api from showing all available backup volumes.

**To Reproduce**
This is just one of many possible failure cases, bu

[2020-05-27 04:17] docwho76 commented on #6
Is there anyone that can comment on what is happening with this? Between raspi running K3s/K3OS and AWS a1.* instances there is a real need for this support. This issue has been open for 3 years and no ones mentioned anything about a timeline let alone set real expectations.

[2020-05-27 06:11] sowmyav27 opened #1411 "[BUG] Data is lost from a pod in a stateful set when a node is deleted"
**Describe the bug**
Data is lost from a pod in a stateful set when a node is deleted

**To Reproduce**

Cluster spec - 1 master, 4 worker nodes - custom cluster

- Deploy a stateful set - 5 pods
- Write data into the pod p1 (file of 100Mb)
- Delete N1 from the cluster (custom cluster)
- Pod p1 migrates to another node. And it comes up Active.
- The volume does not have the data. (file is now 0Mb)

[2020-05-27 06:23] yasker commented on #1411
After the file was written, have you run `sync` to make sure the data was written to the disk?

[2020-05-27 06:24] dmayle commented on #1323
@yasker  there's actually a much simpler fix, if you don't want to redo everything.  Switch from using labels to using annotations.  Labels are not meant for storing information to be passed around, they're meant to be used to identify objects.

Annotations, however, are meant to carry additional data.  The limits are:
<dns prefix of up to 253 chars>/<name up to 63 chars>: <value up to 256k>

[2020-05-27 06:28] yasker commented on #1323
@dmayle not really. We are using labels to select/filter resources. You cannot filter by annotations.

[2020-05-27 06:33] dmayle commented on #1314
@yasker That wasn't clear to me from the docs.  The docs specify that for an offline upgrade you need to detach *all* workloads and use the batch upgrade procedure.  If you can still perform than one-by-ony, it does make this much less of an issue.

As to how I would bring them up on a second installation, I wouldn't use Kubernetes concepts, I would use HA concepts from each deployment.  For examp

[2020-05-27 07:01] awlleon commented on #1407
Yes, I found that it seems to be related to nginx-ingress.

When I use curl -X PUT 'http: // longhorn-service-ip /v1/ settings/default-longhorn-static-storage-class' on a worker node, it is ok.
Use curl -X PUT 'http: // longhorn-domain-name /v1/ settings/default-longhorn-static-storage-class' on worker node, longhorn-domain-name points to nginx-ingress, which is also ok .
But on computers other th

[2020-05-27 13:00] shuo-wu commented on #1214
The cause of the reported case:
1. The attached node is drained then the engine/replica manager pod gets evicted.
2. The engine/replica becomes `error`. Then the field `Status.InstanceManagerName` will be unset immediately.
3. Longhorn receives the `detach` call from the CSI plugin and starts to detach the volume.
4. The node is removed and the instance map in the instance manager won't be updated

[2020-05-27 15:29] Leen15 opened #1412 "[BUG] Constant errors about io.rancher.longhorn-reg.sock"
**Describe the bug**
I have several errors in kubelet log of every node, and it's the same that continues every X minutes:

[code]

**To Reproduce**
I have two clusters but this error happens only on one of them.
It's a RKE cluster, on 3 bare metal servers.
The error is logged in all nodes.
I already tried to remove longhorn with also manual remove of CRDs but the error PERSISTS also after remove

[2020-05-27 16:57] yasker commented on #1412
@Leen15 This should be fixed in v1.0.0 when we removed compatible CSI plugin #1365 .  @boknowswiki Can you check if this still happens for the master branch now?

[2020-05-27 17:56] boknowswiki commented on #1412
@yasker
Tried two ways to find the error messages:
1. Logged into all three nodes, and goto `/var/log` directories, run `rep "io.rancher.longhorn-reg.sock" -r *`, nothing returned.
2. Run `docker logs <kubelet docker id> | grep "io.rancher.longhorn-reg.sock"`, don't see the same error message, but found one interesting message, but I think it's from 5/22/2020, please help to confirm.

`I0522 01:29

[2020-05-27 18:01] yasker commented on #1412
@boknowswiki the second error message should be something else. Are you able to reproduce the issue on v0.8.1?

[2020-05-27 18:15] boknowswiki commented on #1412
@yasker , I just found this error message, I can see the issue on my testbed now.

`W0527 18:11:26.910365    1113 clientconn.go:1120] grpc: addrConn.createTransport failed to connect to {/var/lib/kubelet/plugins_registry/io.rancher.longhorn-reg.sock 0  <nil>}. Err :connection error: desc = "transport: Error while dialing dial unix /var/lib/kubelet/plugins_registry/io.rancher.longhorn-reg.sock: con

[2020-05-27 18:26] catherineluse commented on #1159
I think we can close this issue because it's in staging now. https://staging.longhorn.io/docs/0.8.1/best-practices/

[2020-05-27 18:26] #1159 closed

[2020-05-27 18:31] yasker commented on #1412
@boknowswiki which version you're using? If it's v1.0.0-rc2, can you restart the node/kubelet, to see if it disappears? Since kubelet might keep some internal states in the memory.

[2020-05-27 18:41] khushboo-rancher opened #1413 "[BUG]test: PV/PVC didn't get cleaned up for failed tests after completion of automation tests."
**Describe the bug**
PV/PVC created by automation test which got failed somehow PV/PVC don't get deleted after test completion.

**Steps to reproduce**
1. Run automation tests on SUSE SLE12 SP3 set up without ```-O ^64bit,^metadata_csum``` parameter.
2. Some tests will fail. For failed tests PV/PVC is not deleted.

So, if later ```-O ^64bit,^metadata_csum``` parameter is added and test triggered o

[2020-05-27 19:26] meldafrawi opened #1414 "[BUG] UI: Disable Update Replica Count button for DR volumes"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume attach it to a node, write some data to it and create a backup
2. Create DR volume from created backup.
3. Try to Update replica count for DR volume

ERR: `unable to update replica count for volume volume-test-1-dr: invalid volume state to update replica co

[2020-05-27 19:26] yasker commented on #1413
@khushboo-rancher which test case failed in your case? We might want to focus on fixing those.

[2020-05-27 19:27] yasker commented on #1414
It's too close to the GA. Let's do this in v1.0.1 instead.

[2020-05-27 19:35] khushboo-rancher commented on #1413
[code]

[2020-05-27 20:06] boknowswiki commented on #1412
@yasker I am using latest master images. I did `kubectl delete -f <manager and driver yaml>`, and apply them back. Let me try v1.0.0-rc2.

[2020-05-27 20:40] boknowswiki commented on #1412
@yasker
Steps I did:
1. Uninstall longhorn and make sure nothing left.
2. Restart all my worker nodes.
3. Install longhorn v1.0.0-rc2.

I can see the same error message:

`W0527 20:37:19.600693    1093 clientconn.go:1120] grpc: addrConn.createTransport failed to connect to {/var/lib/kubelet/plugins_registry/io.rancher.longhorn-reg.sock 0  <nil>}. Err :connection error: desc = "transport: Error whi

[2020-05-27 20:46] yasker commented on #1412
@boknowswiki There is a host directory leftover by the previous driver, located at `/var/lib/kubelet/plugins/io.rancher.longhorn`. Can you try to remove it and see if it helps?

[2020-05-27 20:50] catherineluse commented on #1274
I think this issue can be closed because I merged the doc into staging.

[2020-05-27 20:51] #1274 closed

[2020-05-27 20:53] mikekuzak commented on #1210
Hi I think it has something to do with iscsid
[code]

[2020-05-27 22:41] boknowswiki commented on #1412
Found it at `/var/lib/kubelet/plugins_registry/io.rancher.longhorn-reg.sock`, and after I remove it, the error message is gone with the message in kubelet log:

`I0527 22:35:53.677564    1093 plugin_watcher.go:212] Removing socket path /var/lib/kubelet/plugins_registry/io.rancher.longhorn-reg.sock from desired state cache`

[2020-05-28 00:30] meldafrawi commented on #1405
Validation: **PASSED**
Longhorn UI: `wangsiye/longhorn-ui:3d63591`

[2020-05-28 00:39] khushboo-rancher opened #1415 "[BUG] Volume is shown in healthy state when attached node is deleted when restore is in progress"
**Describe the bug**
Volume shows healthy even if attached node is deleted when restore was in progress.
Similar to https://github.com/longhorn/longhorn/issues/1355 and https://github.com/longhorn/longhorn/issues/1366

**To Reproduce**
Steps to reproduce the behavior:
1. Restore from a backup.
2. When restore is in progress, delete the attached node.
3. Volume stays in healthy state and shows 'res

[2020-05-28 01:26] yasker commented on #1333
Done

[2020-05-28 01:26] #1333 closed

[2020-05-28 01:32] sowmyav27 commented on #1411
With `sync` this issue is not seen. Data is available on the pod later.

[2020-05-28 01:51] catherineluse commented on #1332
Closing this issue because this PR was merged https://github.com/longhorn/website/pull/120

[2020-05-28 01:51] #1332 closed

[2020-05-28 01:59] khushboo-rancher opened #1416 "[BUG]test: Test create_host_disk in node.py should retrieve custom mkfs settings from longhorn"
**Describe the bug**
The tests in node.py create_host_disk should use the client to retrieve custom mkfs settings from longhorn then pass these settings to common.prepare_host_disk

This is to support SUSE SLE12 SP3

[2020-05-28 02:35] yasker commented on #1412
@Leen15 According to what we have discussed above, you should be able to remove `/var/lib/kubelet/plugins_registry/io.rancher.longhorn-reg.sock` from the node to stop kubelet from complaining about this obsolete domain socket.

[2020-05-28 05:22] #1125 closed

[2020-05-28 06:57] Leen15 commented on #1412
Hi @yasker , I see two sock in plugins_registry:
[code]
can I safely remove `io.rancher.longhorn-reg.sock` from all nodes keeping longhorn 0.8.1 running?

[2020-05-28 07:15] wanyaoqi opened #1417 "[BUG] longhorn-ui docker image size is too large"
**Describe the bug**
longhorn-ui image size is too large
[code]

**Environment:**
 - Longhorn version: v0.8.1
 - Kubernetes version:
 - Node OS type and version:

[2020-05-28 08:47] shuo-wu commented on #1363
Need to retest [the case](https://github.com/longhorn/longhorn/issues/1214#issuecomment-633163795) found in #1214 after fixing this issue.

Here is the cause:
1. The attached node is drained and the engine manager pod gets evicted.
2. The engine becomes state `error` then the auto reattachment logic is triggered.
3. The volume becomes `detached` within a very short interval then starts reattaching

[2020-05-28 14:06] yasker commented on #1414
The change seems very small. We can merge it for v1.0.0.

[2020-05-28 14:11] yasker commented on #1214
Thanks @shuo-wu . For this issue, we are dealing with the original reported case only. The other corner case found by @shuo-wu will be dealt with in #1363.

[2020-05-28 14:19] yasker commented on #1417
@smallteeths Is there a way for us to shrink the UI image size?

[2020-05-28 14:20] yasker commented on #1412
@Leen15 After making sure you have no PV with driver `io.rancher.longhorn` (see the instruction [here](https://longhorn.io/docs/0.8.1/deploy/upgrade/longhorn-manager/#upgrading-from-v062-or-older-version-to-v081)), you can safely remove `io.rancher.longhorn-reg.sock`

[2020-05-28 15:25] meldafrawi commented on #1405
Validation: **PASSED**  verified on `master`

[2020-05-28 15:25] #1405 closed

[2020-05-28 16:51] yasker opened #1419 "[FEATURE] Aggregate the necessary Docker images"
quay.io has an outage today, which is blocking the deployment and development of Longhorn.

We should figure out the necessary images for Longhorn deployment, re-tag/re-publish them to `longhorn` in Docker Hub. This has two advantages:
1. Remove the extra dependency on different container image registry.
2. The users can easily pull all the necessary images to their air-gap environment.

Of course

[2020-05-28 18:14] yasker commented on #1145
@paleozogt Sorry to take so long to get back to you.

I am keeping think how can we help users to systematically identify and recover the issue like this. I've written some documentation for that.

In your case, I think it's possible that one of your replicas went bad (due to disk or something else). So if you take a look at the instruction [here](https://github.com/yasker/longhorn/wiki/Troublesho

[2020-05-28 18:17] yasker commented on #60
Content is now ready at https://github.com/yasker/longhorn/wiki/Data-recovery-%5BDRAFT%5D .

@catherineluse Can you help to move them to the website?

[2020-05-28 18:19] yasker commented on #1298
Documentation ready at https://github.com/yasker/longhorn/wiki/Data-recovery-%5BDRAFT%5D . Will be moved to the website soon.

Regarding this issue, it's https://github.com/yasker/longhorn/wiki/Identify-the-corrupted-replica-%5BDRAFT%5D

[2020-05-28 18:41] meldafrawi commented on #1404
Could be reproduced using latest `master`:

Reproduce steps:
1. Deploy Longhorn using latest master images.
2. Create GCP bucket, and create backupstore secret
3. Set backupstore  target to point to GCP bucket, and backup target credentials to backup store secret name
4. Create a pod using volume, create a backup for that volume
5. In Backup page, try to delete all backups for the volume   **FAILE

[2020-05-28 19:38] #1214 closed

[2020-05-28 19:38] catherineluse commented on #1257
Closing this issue because all items are done

[2020-05-28 19:38] #1257 closed

[2020-05-28 20:42] sowmyav27 opened #1420 "[BUG] "Update Schedule" action should NOT be enabled for DR volumes"
**Describe the bug**
"Update Schedule" action should NOT be enabled for DR volumes

**To Reproduce**

- Create a DRV
- Batch operation - "Update Schedule" is enabled
- Currently when the user updates the schedule, changes are NOT saved. But the action should not be allowed - keeping it consistent with the behavior of adding `Recurring Snapshot and Backup` for the DRV

**Expected behavior**
"Update

[2020-05-28 21:39] sowmyav27 opened #1421 "[BUG] Deleted backup because or a recurring backup scheduled is seen in backuplist page"
**Describe the bug**
Deleted backup because or a recurring backup scheduled is seen in backuplist page

**To Reproduce**

- Enable recurring backups for a volume. - retention count is 2 (backupstore - S3)
- Navigate to the backup list page, in a couple of minutes
- 3 backups will be available (if the timing is right, i.e. user navigates to backuplist page when the creation and deletion of a backup

[2020-05-28 21:40] #1416 closed

[2020-05-28 21:41] #1318 closed

[2020-05-28 21:44] #1360 closed

[2020-05-28 21:48] #1240 closed

[2020-05-28 21:48] #1402 closed

[2020-05-28 21:48] #1391 closed

[2020-05-28 21:50] yasker commented on #1421
Can it be just b3 was deleted a moment later? The result is the real-time result from the S3. We don't have cache.

[2020-05-28 21:50] #1384 closed

[2020-05-28 21:52] #1172 closed

[2020-05-28 21:54] #1107 closed

[2020-05-28 21:55] #1246 closed

[2020-05-28 21:55] #1245 closed

[2020-05-28 21:56] #1291 closed

[2020-05-28 21:58] #1253 closed

[2020-05-28 22:03] meldafrawi commented on #1212
Passed for three times in a row

[2020-05-28 22:03] #1212 closed

[2020-05-28 22:04] #1287 closed

[2020-05-28 22:05] #1052 closed

[2020-05-28 22:08] #1373 closed

[2020-05-28 22:25] meldafrawi commented on #1270
@shuo-wu
test_dr_volume_with_last_backup_deletion failed in **longhorn-tests/457**

[2020-05-28 22:27] meldafrawi commented on #1270
@shuo-wu

test_rebuild_with_restoration failed in **longhorn-tests/457**

[2020-05-28 22:29] meldafrawi commented on #1380
@shuo-wu

test_dr_volume_with_last_backup_deletion failed at **longhorn-tests/457**

[2020-05-28 22:30] meldafrawi commented on #1260
test_single_replica_restore_failure failed at **longhorn-upgrade-tests/114**

[2020-05-28 22:38] sowmyav27 opened #1423 "[BUG] Backup and Backup list pages take longer to load when backupstore is configured in google cloud"
**Describe the bug**
Backup and Backup list pages take longer to load when backupstore is configured in google cloud

**To Reproduce**

- Configure backupstore to be in google cloud
- Create some backups for volumes.
- Navigate to Backup page and Backup List page.
- There is a distinct delay in loading the contents when compared to when the backupstore is configured on S3

**Environment:**
 - Long

[2020-05-28 22:50] sowmyav27 opened #1424 "[BUG] Multiple backups created at the same time by a recurring backup job when backupstore is configured in google cloud bug"
**Describe the bug**
Multiple backups created at the same time by a recurring backup job when backupstore is configured in google cloud bug

**To Reproduce**

- Backupstore - configured in google cloud
- Enable recurring backups for a volume, retention count=2, backups to be generated every 1 minute.
- Because of this [issue](https://github.com/longhorn/longhorn/issues/1404) - backups will not get

[2020-05-28 23:06] #81 closed

[2020-05-28 23:28] yasker commented on #1348
https://github.com/longhorn/longhorn-manager/blob/master/types/setting.go

[2020-05-28 23:30] yasker commented on #1397
Done

[2020-05-28 23:30] #1397 closed

[2020-05-29 00:40] sowmyav27 opened #1426 "[BUG] "Recurring Snapshot and Backup Schedule" section is big volume details page"
**Describe the bug**
"Recurring Snapshot and Backup Schedule" section is big volume details page

**To Reproduce**

- Create a volume, attach it to a node, and navigate to Volume detail page
- Scroll down to "Recurring Snapshot and Backup Schedule" section
- The section seems real big and when you scroll towards the real end , user can add new schedules
<img width="1653" alt="Screen Shot 2020-05-2

[2020-05-29 00:45] yasker commented on #1183
We need a test plan for NFS. Ideally, we should test it end to end for the workload cases.

[2020-05-29 01:10] yasker commented on #1426
@sowmyav27 This is more like a UI design issue. For example, one question is, if we make it smaller, what are we going to put in the empty space.

[2020-05-29 01:12] joshimoo commented on #1404
The reason the backup deletion does not work, is that google cloud storage is not have full s3 interoperability. In particular it is missing the s3 multi object delete functionality that we are using for our deletion operation.

There is a tiny footnote [here](https://cloud.google.com/storage/docs/migrating#methods-comparison)

For 1.0.1 we plan to switch to individual object deletion, which will

[2020-05-29 03:34] sowmyav27 commented on #1426
**validated with ui tag: `wangsiye/longhorn-ui:af45a6d`**
Validation: **`PASSED`**

The "Recurring Snapshot and Backup Schedule" section is smaller and is as expected
<img width="1657" alt="Screen Shot 2020-05-28 at 8 31 23 PM" src="https://user-images.githubusercontent.com/26032343/83218252-950f7680-a122-11ea-9efb-f1f920b4f7ec.png">

[2020-05-29 04:00] sowmyav27 opened #1427 "[BUG] Greyed "Revert" option on a snapshot is not disabled"
**Describe the bug**
Greyed "Revert" option on a snapshot is not disabled

**To Reproduce**

- Create a volume, attach it on the node.
- Go to the volume details page
- Click on `Create Snapshot`
- A snapshot gets created. Click on the snapshot. Revert option is `Greyed`.
- Click on revert.
- The below pop up is displayed

<img width="927" alt="Screen Shot 2020-05-28 at 6 42 32 PM" src="https://us

[2020-05-29 04:37] sowmyav27 opened #1428 "[BUG] Scroll bar in the Snapshots section can be placed towards the end"
**Describe the bug**
Scroll bar in the Snapshots section can be placed towards the end

**To Reproduce**

- Create a volume, attach to a node (maintenance mode)
- Go to volume details section
- Click on `Create Snapshot`
- Snapshot is created. Create a few more.
- Revert to a snapshot.
- The scroll bar in this section will be clearly visible.

<img width="1646" alt="Screen Shot 2020-05-28 at 9 19

[2020-05-29 04:39] catherineluse commented on #1348
I think this issue can be closed because it was addressed in this PR https://github.com/longhorn/website/pull/121

[2020-05-29 04:52] catherineluse commented on #1334
I think this issue can be closed because https://github.com/longhorn/website/pull/121 was merged

[2020-05-29 04:58] #1334 closed

[2020-05-29 04:59] #1348 closed

[2020-05-29 05:37] smallteeths commented on #1427
Now the design is changed to be clickable, but the pop-up window becomes as shown in the figure. Clicking ok will not request and will only close the pop-up window. @yasker @sowmyav27
![Jietu20200529-133406](https://user-images.githubusercontent.com/27733391/83225109-989e0e80-a1b1-11ea-89e5-818a3c4b0a29.jpg)

[2020-05-29 06:08] sowmyav27 commented on #1427
@yasker @smallteeths Do we need `Revert` option to be enabled? Because the tool tip on `Revert` shows this message.
Do we need an additional message on pop up ?
<img width="801" alt="Screen Shot 2020-05-28 at 11 07 23 PM" src="https://user-images.githubusercontent.com/26032343/83227044-21786400-a138-11ea-994f-7feb541d1aae.png">

[2020-05-29 06:17] sowmyav27 commented on #1420
**Validated with ui tag: `wangsiye/longhorn-ui:b9002be`**

Validation: **`PASSED`**

- Update Schedule is disabled fro DRV
<img width="942" alt="Screen Shot 2020-05-28 at 11 16 55 PM" src="https://user-images.githubusercontent.com/26032343/83227595-6650ca80-a139-11ea-9356-b72f4b89e0f4.png">

[2020-05-29 06:58] smallteeths commented on #1427
The image has been updated to `wangsiye/longhorn-ui:6771633` . @sowmyav27 @yasker .
Modify to only disable without pop-up window.

[2020-05-29 07:45] Leen15 commented on #1412
I removed the sock in both plugins and plugins_registry directories but it continues:

[code]

[2020-05-29 08:03] shuo-wu commented on #1256
- [ ] Add default values in `references/settings.md`
- [ ] Provide a full example YAML file/Update the YAML file in `advanced-resources/deploy/customizing-default-settings.md`
- [ ] Add multi-disk instructions  in `advanced-resources/deploy/customizing-default-settings.md` and put the related references in `references/settings.md`.
- [ ] Add a reference of `high-availability/recover-volume.md` in

[2020-05-29 10:33] dnauck commented on #81
/unstale

[2020-05-29 11:42] aimbot31 commented on #1404
Thanks for yours answers, I hope the v1.0.0 or v1.0.1 is going to be released soon :)

[2020-05-29 13:17] yasker commented on #1412
@boknowswiki Do we need to do anything after removing the Unix domain socket? e.g. restart kubelet. Or Kubelet will automatically pick it up?

[2020-05-29 14:04] sowmyav27 commented on #1427
**Validated using UI tag: `wangsiye/longhorn-ui:6771633`**

Validation: **`PASSED`**

- Revert is Greyed out.
- No pop up seen or no requests are made when clicked on Revert

<img width="738" alt="Screen Shot 2020-05-29 at 7 03 51 AM" src="https://user-images.githubusercontent.com/26032343/83268538-a1272280-a17a-11ea-8bec-aa0b256e16dd.png">

[2020-05-29 16:35] sowmyav27 commented on #1421
Snapshots section in volume details page, refreshes when an event like creation of a recurring snapshot or deleting a recurring snapshot, automatically and does NOT require a hard refresh of the page. We can have a similar behavior for the backups.

[2020-05-29 16:40] yasker commented on #1421
@sowmyav27 it cannot be done for the backup page since the mechanism you mentioned is implemented by using WebSocket and event notification from Kubernetes CRD changes. We don't have CRDs for backups. We are polling backups instead of waiting for the event at this moment.

[2020-05-29 16:41] #60 closed

[2020-05-29 17:06] yasker commented on #1256
Merged.

[2020-05-29 17:06] #1256 closed

[2020-05-29 17:06] boknowswiki commented on #1412
@yasker , No, after I delete the `io.rancher.longhorn-reg.sock` socket, the error message went away. And I just logged in my node, and I haven't see the error message so far, it's been more than 10 mins now.

Another thing is I did received the email about @Leen15 reporting the issue again, but I don't see the comment here.

[2020-05-29 17:14] boknowswiki commented on #1412
@Leen15 , could you help to confirm if you still see the error message after removing `io.rancher.longhorn-reg.sock` socket? Thanks.

[2020-05-29 17:21] Leen15 commented on #1412
Hi @boknowswiki , I first reported the issue again, but then after removed the sock from the plugins folder too, and restarted the kubelet, I didn't see the error anymore.
I don't know if one of these two things did the magic, but now It works.

[2020-05-29 17:21] catherineluse commented on #1298
I think this issue can be closed because the docs are merged

[2020-05-29 17:26] yasker commented on #1298
@khushboo-rancher Can you try the instruction on https://staging.longhorn.io/docs/0.8.1/advanced-resources/data-recovery/corrupted-replica/

[2020-05-29 17:28] boknowswiki commented on #1412
@Leen15 , thanks for your confirm, and good to hear the issue is gone for you.

[2020-05-29 17:45] khushboo-rancher opened #1429 "[doc] Add 'live upgrade not supported for iSCI volume' documentation."
Live upgrade is not supported for iSCSI volume' should be included in documentation.

[2020-05-29 18:48] jeanluclariviere opened #1430 "[Question] Roadmap / release cycle"
Hi Folks,
Very interested in the longhorn project - wondering what sort of release cycles you're working with, and when the roadmap for 1.0 GA and production level workloads is anticipated?

[2020-05-29 19:28] sowmyav27 commented on #1414
**Validated on master ui tag: `23c813d` longhorn: `v1.0.0-rc3`**

` Update replica count` for DR volume is disabled
<img width="1651" alt="Screen Shot 2020-05-29 at 12 27 20 PM" src="https://user-images.githubusercontent.com/26032343/83297656-cc743680-a1a7-11ea-8aa4-968a5109583c.png">
<img width="1642" alt="Screen Shot 2020-05-29 at 12 27 56 PM" src="https://user-images.githubusercontent.com/26032

[2020-05-29 19:29] #1414 closed

[2020-05-29 19:30] sowmyav27 commented on #1420
**Validated with latest master ui version: `23c813d` longhorn: v1.0.0-rc3**

Validation: **`PASSED`**

- Update Schedule is disabled for DRV
<img width="1655" alt="Screen Shot 2020-05-29 at 12 29 18 PM" src="https://user-images.githubusercontent.com/26032343/83297822-1c52fd80-a1a8-11ea-836a-fce9da4c4acd.png">

[2020-05-29 19:30] #1420 closed

[2020-05-29 19:31] sowmyav27 commented on #1427
**Validated on latest master ui version : `23c813d` longhorn: `v1.0.0-rc3`**

Validation: **`PASSED`**

- Revert is Greyed out.
- No pop up seen or no requests are made when clicked on Revert
<img width="765" alt="Screen Shot 2020-05-29 at 12 31 14 PM" src="https://user-images.githubusercontent.com/26032343/83297902-502e2300-a1a8-11ea-9a5b-a935507eeb35.png">

[2020-05-29 19:31] #1427 closed

[2020-05-29 19:36] sowmyav27 commented on #1426
**Validated on latest master ui version : `23c813d` longhorn: `v1.0.0-rc3`**

Validation: **`PASSED`**

- The "Recurring Snapshot and Backup Schedule" section is smaller and is as expected
<img width="1670" alt="Screen Shot 2020-05-29 at 12 36 08 PM" src="https://user-images.githubusercontent.com/26032343/83298320-0db91600-a1a9-11ea-882b-d5abbe1f5bd7.png">

[2020-05-29 19:36] #1426 closed

[2020-05-29 19:40] jeanluclariviere commented on #1430
That's fantastic, thanks! When can we expect 1.0 to be released, roughly?

[2020-05-29 20:28] khushboo-rancher opened #1431 "[BUG] Deleting a backup from backup page in longhorn doesn't delete the blocks in backup store"
**Describe the bug**
Deleting a backup from backup page in longhorn doesn't delete the blocks in backup store

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume, attach to a pod and write into it.
2. Set up an S3/NFS backup store.
3. Take a backup. Wait for it to complete.
4. Check the size of backup in backup store.
5. Delete the backup.
6. Check the size in the backup storage.

[2020-05-29 22:04] meldafrawi commented on #1260
test_single_replica_restore_failure passed

[2020-05-29 22:07] meldafrawi commented on #1270
test_rebuild_with_restoration passed

[2020-05-29 22:07] #1270 closed

[2020-05-29 22:08] meldafrawi commented on #1380
test_dr_volume_with_last_backup_deletion passed

[2020-05-29 22:08] #1380 closed

[2020-05-29 22:21] yasker commented on #1429
Check https://staging.longhorn.io/docs/1.0.0/references/examples/#storageclass

[2020-05-29 22:25] meldafrawi opened #1432 "[BUG] Nightly test: test_single_replica_restore_failure sometimes fail"
**Describe the bug**
test_single_replica_restore_failure sometimes

**To Reproduce**
Steps to reproduce the behavior:
Install Longhorn `v0.8.1`
Upgrade Longhorn to use `master` images
Run `test_single_replica_restore_failure`

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**A

[2020-05-29 22:29] meldafrawi commented on #1260
Opened separate issue #1432 to track integration test failure

[2020-05-29 23:04] khushboo-rancher commented on #1298
Instructions are clear and work, but do we really have to scale down the workload?
If it is precautionary measure and user should do it, should we add a last point something like below?
 ```scale up the workload and you will see error is gone and data is intact```

[2020-05-29 23:04] khushboo-rancher commented on #1429
Looks good, should we close this id ?

[2020-05-29 23:15] yasker commented on #1429
@khushboo-rancher Yes you can close this.

[2020-05-29 23:16] #1429 closed

[2020-05-29 23:29] yasker commented on #1298
@khushboo-rancher It's better to scale down the workload otherwise any write on the fly will cause the checksum to be different.

I've added the last line in the PR at https://github.com/longhorn/website/pull/133

[2020-05-29 23:56] joshimoo opened #1433 "Add Engine Integration test for backup block deletion"
We need an engine integration test, that verifies the correct deletion of the backup blocks.

longhorn/longhorn#1431

[2020-05-29 23:58] joshimoo opened #1434 "Add e2e integration test for backup block deletion"
We need an e2e integration test, that verifies the correct deletion of the backup blocks.
Have a look at the [manual test scenario](https://github.com/longhorn/longhorn-tests/wiki/Test-Scenarios-for-Backups-&-Restore#1326-backup-block-deletion-test) for an idea of what that should look like.

longhorn/longhorn#1431

Test skeleton is [here](https://github.com/longhorn/longhorn-tests/pull/348)

[2020-05-30 00:01] yasker commented on #1434
Assign to @joshimoo for now, until we have the test skeleton approved.

[2020-05-30 00:09] joshimoo opened #1435 "[BUG] Orphaned Backup Blocks during concurrent backup creation / deletion"
**Describe the bug**
At the moment, when there is a backup in progress while we receive a request to delete a backup.
We remove the backup but since we cannot determine, whether the in progress backup requires any of the deleted backup blocks we don't remove the blocks.
related to longhorn/longhorn#1431

This leads to having orphaned blocks.
We can fix this as part of the gc process by looking at

[2020-05-30 00:14] yasker commented on #1298
@khushboo-rancher document updated at https://staging.longhorn.io/docs/1.0.0/advanced-resources/data-recovery/corrupted-replica/

[2020-05-30 02:32] sowmyav27 opened #1436 "[FEATURE] Recurring backups and snapshots can be named different for easier identification"
**Is your feature request related to a problem? Please describe.**
The recurring backups and snapshots can be tagged with a better `name`/`id`/ `label` to identify them easier

Currently on `v1.0.0-rc3`
Backups have a label
<img width="799" alt="Screen Shot 2020-05-29 at 7 30 17 PM" src="https://user-images.githubusercontent.com/26032343/83317627-e3844a00-a1e2-11ea-90dd-2d94d7a150b4.png">

And the

[2020-05-30 03:18] yasker commented on #1431
## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at https://github.com/longhorn/backupstore/pull/40

* [ ] Is the reproduce steps/test steps documented?

* [ ] ~~**If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
The

[2020-05-30 03:21] khushboo-rancher commented on #1298
https://staging.longhorn.io/docs/1.0.0/advanced-resources/data-recovery/corrupted-replica/ looks good.

[2020-05-30 03:21] #1298 closed

[2020-05-30 04:31] khushboo-rancher commented on #1431
Verified on master- 05-29-2020

Verification : **Passed**

Deletion of backup from backup page in longhorn delete the corresponding block in backup store.

Tested scenario:
1. Configure NFS/S3 backup store
2. Create a backup.
3. Delete the backup and verify in backup store if the block is removed

1. Configure NFS/S3 backup store
2. Create a backup.
3. Delete all the backups and verify in backup s

[2020-05-30 04:43] yasker commented on #1431
Close this issue for now since e2e test will be covered by https://github.com/longhorn/longhorn/issues/1434

[2020-05-30 04:43] #1431 closed

[2020-05-30 18:08] yasker commented on #1395
Done

[2020-05-30 18:08] #1395 closed

[2020-05-30 18:10] yasker commented on #1430
We've just released v1.0.0. Give it a try. :)

[2020-05-30 18:30] tedder opened #1439 "[BUG] wiki links are out of date"
**Describe the bug**
The links on the wiki point to longhorn/blob/master/docs/, which doesn't exist anymore.

For instance, this wiki page: https://github.com/longhorn/longhorn/wiki/Settings
Has many links to here, which is invalid: https://github.com/longhorn/longhorn/blob/master/docs/snapshot-backup.md

In reality, this is the proper link on github: https://github.com/longhorn/website/blob/maste

[2020-06-01 08:09] harutyundermenjyan opened #1440 "[BUG] After upgrading from v0.8.1 to v1.0.0 the node and disk tags are removed."
**Describe the bug**
Installed as Rancher catalog app v0.8.1 then tried to upgrade to v1.0.0 as it described [here](https://longhorn.io/docs/1.0.0/deploy/upgrade/longhorn-manager/#upgrading-from-v081-to-v100) and after the upgrade the node and disk tags were removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Node'.
2. Click on 'Edit Node and Disks and Add some disk and/or node T

[2020-06-01 14:04] yasker opened #1441 "UI: Live upgrade should be disabled for v1.0.0"
We should disable the upgrade button when the volume is attached for v1.0.0, to let the user know that only offline upgrade is supported.

[2020-06-01 14:47] yasker commented on #1441
We will retag `longhornio/longhorn-ui:v1.0.0` for this change

[2020-06-01 15:22] wopl opened #1442 "UI API request sometimes failed on 1.0.0"
**Describe the bug**
Upgrade of several PVs from 0.8.1 to 1.0.0 fail. Some others upgraded well.

**To Reproduce**
Steps to reproduce the behavior:
1. Kubernetes deployments for PVs scaled to 0
2. Crosscheck no pod is running
3. Longhorn UI tells the PVs are detached
4. Select a PV "upgrade engine", then select the 1.0.0 version, then o.k.

**Expected behavior**
After a few seconds the upgrade sym

[2020-06-01 15:33] yasker commented on #1442
Previous thread: https://forums.rancher.com/t/cannot-upgrade-engine/17580/7

[2020-06-01 15:47] yasker commented on #1442
@wopl It's weird that I didn't see any engine upgrade request in the manager's log.

We normally should see something like this
[code]

From the support bundle, I saw `pvc-c7af46c3-aab0-46ad-ae47-4b2bf33ad73c` and `pvc-5cb345c7-a33b-46a9-a7f6-ee37274c5daa` are not upgraded, others have been upgraded to v1.0.0. Are the other volumes working fine?

[2020-06-01 16:03] meldafrawi commented on #1441
Validation: **PASSED**

Longhorn UI: `image: wangsiye/longhorn-ui:f661000`

Steps to test:
- Install Longhorn v0.8.1
- Create multiple volumes used by workload.
- Write data to volumes, and compute its checksum  **checksum#1**
- Upgrade Longhorn to v1.0.0
- While volume is in not in Detached state, `Upgrade Engine` button should be disabled, in both Volume page and Volume Details page (**PASSED**)

[2020-06-01 16:17] wopl commented on #1442
You are correct. All have been upgraded except the two you mentioned.
I now removed the deprecated driver.

I am working with Chrome. In addition I tried on Firefox.
All are working fine at the moment. At least I haven't seen any issues yet.

This one worked now (successfully upgraded):

`2020-06-01T18:04:43.715197434+02:00 time="2020-06-01T16:04:43Z" level=debug msg="Upgrading volume pvc-c7af46c3

[2020-06-01 16:23] yasker opened #1443 "doc: Move deprecated driver socket documentation to v1.0.0"
It doesn't make sense to be v0.8.1 doc since we haven't removed the compatible CSI plugin then.

[2020-06-01 16:46] yasker commented on #1442
@smallteeths Do you know why we saw this kind of request from UI?

[code]

[2020-06-01 17:07] mshack70 opened #1444 "designating specific worker nodes as replicas"
hello.

I am a little confused on how to properly designate certain worker nodes out of a pool to be used as longhorn replica nodes.

Reading the documentation, it refers to 'taint' worker nodes you want to use as replicas, then assign toleration to the Longhorn deployment so that it can run the instance manager pods on them (I think these are what manages replica state, could be wrong).

For an e

[2020-06-01 17:23] mshack70 opened #1445 "About offline upgrade"
I'm looking at the upgrade instructions for 0.8.1 to 1.0.0, and as a pre-req it looks to require detaching all longhorn volumes in use prior to the upgrade.  This is very disruptive imo, but since this is moving from a beta version to GA maybe this is a one time requirement.  Just to be sure though, are there plans in future upgrades post 1.0 to allow for upgrading without the need to detach or af

[2020-06-01 17:25] wopl commented on #1442
Well, not sure, A _few_ times (definitely less then 10 attempts) I played a bit with the Browser Debug and copied the statements from below response to see what happens.

` createTypes": {

    "volume": "…/v1/volumes",

},
"data": [ 6 items

    {
        "actions": {
            "activate": "…/v1/volumes/pvc-5cb345c7-a33b-46a9-a7f6-ee37274c5daa?action=activate",
            "attach": "…/v1/volum

[2020-06-01 17:27] meldafrawi commented on #1325
test failed again at `longhorn-tests/465`

logs:
[code]

[2020-06-01 17:29] meldafrawi opened #1446 "[BUG] Nightly Upgrade Test: test_volume_reattach_after_engine_sigkill sometimes failed"
**Describe the bug**
sometimes `test_volume_reattach_after_engine_sigkill`  test failed after upgrade

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v1.0.0
2. Upgrade Longhorn to `master`
3. Run `test_volume_reattach_after_engine_sigkill` test

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
 - Longhorn version: master
 - Kubernetes version: v1.17.2

[2020-06-01 17:37] yasker commented on #1444
@mshack70 Longhorn will still deploy to all of them since Longhorn engine needs to be run at other nodes to make sure the workload pod can access the volume.

You can disable the scheduling for the nodes that you don't want to have replicas, and remove any disks from them.

[2020-06-01 17:42] yasker commented on #1445
Hi @mshack70

Our goal is the future upgrade shouldn't involve offline upgrade. We're still stabilizing the live upgrade framework, so it might change during the major releases (e.g. v1.0.0 to v1.1.0), but it should be good for patch version upgrade (e.g. v1.0.0 to v1.0.1). We will definitely try not to disrupt the live upgrade path even for the major releases.

[2020-06-01 17:45] mshack70 commented on #1444
@yasker thx, I see that options in Longhorn UI now edit->node , didnt see those options in 0.8.1.  Whats the difference , when editing a node in longhorn UI, of disable node scheduling option at top, vs at bottom there is an Enable/Disable scheduling?

[2020-06-01 17:47] mshack70 commented on #1445
Ok thanks, yeah I think it would be hard to use this for production if we have to detach PV's from applications for upgrades.  Hopefully this should be a high priority goal for future releases.  Thanks for the response.

[2020-06-01 17:47] #1445 closed

[2020-06-01 17:48] yasker commented on #1444
One is node level, the other one is disk level (since Longhorn supports multiple disks per node).

[2020-06-01 17:50] mshack70 opened #1447 "allow to edit multiple nodes"
**Describe the solution you'd like**
Currently in v1.0.0 you can select multiple nodes, but only make edit changes on one at at time.  It would be a nice feature to allow one to checkmark multiple nodes, and make the same Edit change on all selected nodes.

[2020-06-01 17:52] yasker commented on #1445
In fact it's already a top priority item. The design guarantees that no function changes should be made to the live upgrade framework, it's hard to predict if there will be anymore bugs.

[2020-06-01 17:53] mshack70 commented on #1444
Ok, that makes sense, I only have 1 disk per node for longhorn so it wasnt obvious to me.  Thanks much.

[2020-06-01 17:53] #1444 closed

[2020-06-01 19:26] khushboo-rancher commented on #1440
I tried upgrade from v0.8.1 to 1.0.0 but couldn't reproduce the issue.

Steps followed:
1. Set up rancher with 4 nodes - ubuntu 18.04 (1 etc/control plane, 3 workers)
2. Install longhorn app.
3. Add node/disk tags for node and disk in longhorn.
4. Upgrade longhorn app to v1.0.0 (By using kubectl command and by app upgrade)
5 Check the added tags for the nodes.

[2020-06-01 19:45] harutyundermenjyan commented on #1440
Thanks for checking, can't say why it happened in my case. If you checked and all works well please consider the issue solved. I'll check for the reason internally because I'm not alone on that cluster. Thanks again.

[2020-06-01 21:24] yasker commented on #1443
Done

[2020-06-01 21:24] #1443 closed

[2020-06-01 21:25] boknowswiki commented on #1440
@harutyundermenjyan
Do you mind to share more information on the steps and your cluster information? Please feel free to insert your answer or something you think is different to the steps I described below.

1. Use Rancher catalog to install Longhorn v0.8.1 with default settings(didn't change anything and assuming you have a 3 nodes cluster with rancher, please let me know if you have something d

[2020-06-01 21:26] yasker commented on #1439
Thank you @tedder to point those out. A part of wiki's functionality has been replaced by https://longhorn.io/docs , so we no longer need to keep documentation in the wiki.

I've repurposed the wiki to be more developer orientation and cleaned up the obsolete contents. Let me know what do you think.

[2020-06-01 21:35] tedder commented on #1439
Looks great- thanks. Definitely good to have basic pointers in there now, and should keep other users from stumbling across old documentation.

[2020-06-01 21:35] #1439 closed

[2020-06-01 22:22] zeppelinux opened #1448 "Volumes are failing to attach after upgrade (not very clean one)"
**Describe the bug**
After Offline upgrade from Longhorn 0.81 to 1.0.0 cluster ended up in a state where previosly existing volumes failed to attach to the pods

**To Reproduce**
Steps to reproduce the behavior:
1. Scale deployment to 0 and verify volume is detached
2. Shutdown Kubernetes API Server
3. Click on 'Upgrade' using Rancher Helm Longhorn App (nothing visually happens because API server

[2020-06-01 22:51] harutyundermenjyan commented on #1440
Yes, the steps you provided are very similar I did, and you right about step 4.
I'm not refuting that something I missed/confused during the upgrade because after you check this, I've repeated the steps and all went well and all tags are preserved as well. The problem is that steps I've given not performed immediately one after the other but there were some gaps between them so I assume something

[2020-06-01 22:53] yasker commented on #1440
Thanks for the clarifying @harutyundermenjyan . We will close this bug for now. Feel free to reopen it if you find anything more.

[2020-06-01 22:53] #1440 closed

[2020-06-01 22:56] yasker commented on #1448
We've found the issue was caused by old driver name `io.rancher.longhorn`.

[code]

Due to a bug reporting at https://forums.rancher.com/t/failed-upgrade-from-v0-8-1-to-v1-0-0-caused-by-pv-created-before-v0-6-2/17586/2 , we're revalidating the steps for migrating `io.rancher.longhorn` to `driver.longhorn.io`.

[2020-06-01 23:01] yasker commented on #1408
@joshimoo PR merged, will need a PR for the engine. Btw, is there anything we can test for this?

[2020-06-01 23:35] yasker commented on #496
Manager engine controller already have a list of snapshot available now, see https://github.com/longhorn/longhorn-manager/blob/master/types/resource.go#L182

[2020-06-02 00:36] yasker commented on #1118
Need to see what's the impact of instance manager refactoring.

[2020-06-02 00:40] joshimoo commented on #1408
Will submit pr's for the updated go-iscsi dependency.
To identify these leaked resources in the future we could look into setting up profiling on one of our test clusters.

In terms of integration tests, the csi ticker fix should be covered by all regular csi operations. The manager ticker fix should be covered by normal usage as well (ratelimiter)

I don't see how we could create a specific test

[2020-06-02 00:42] joshimoo commented on #1213
This requires the implementation of orphaned block deletion. longhorn/longhorn#1435
Afterwards we can remove the backup file even if we cannot load the backup file.

[2020-06-02 00:43] joshimoo commented on #1263
covered by longhorn/longhorn#1435

[2020-06-02 00:45] yasker commented on #1197
Let's fix the internal API first. We shouldn't introduce any change might cause API version bump.

[2020-06-02 01:19] yasker commented on #1275
Move out of scope. It sounds like eventually the request will timeout.

[2020-06-02 01:27] yasker commented on #1374
@smallteeths Can we support a richer format in the setting description? E.g. multi-lines, quote, link.

[2020-06-02 01:29] yasker commented on #1381
We can see if we can refactor the `lastBackup` field to not read from the volume.cfg.

[2020-06-02 01:38] smallteeths commented on #1442
If you perform a single volume upgrade operation, you can try to debug as shown.
You can see if the value of payload.url is correct @wopl

![Jietu20200602-092320](https://user-images.githubusercontent.com/27733391/83470116-00a36c00-a4b4-11ea-8787-1e8921f286e4.jpg)

If you perform a batch upgrade operation, you can try to debug as shown.

![Jietu20200602-093405](https://user-images.githubuserconten

[2020-06-02 01:38] yasker commented on #1423
Not sure if there is anything we can do about it. Worth looking.

[2020-06-02 02:15] yasker commented on #1311
Sounds like the duplicate of https://github.com/longhorn/longhorn/issues/1249 .

[2020-06-02 02:17] yasker commented on #1392
Check again once https://github.com/longhorn/longhorn/issues/1393 is done.

[2020-06-02 02:25] meldafrawi commented on #1448
**Reproduce Steps:**

1. Install Longhorn v0.6.2: `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v0.6.2/deploy/longhorn.yaml`
2. Create Longhorn StorageClass: `kubectl apply -f  https://github.com/longhorn/longhorn/blob/v0.6.2/examples/storageclass.yaml`
3. Create a StatefulSet using Longhorn volumes: `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v0.6

[2020-06-02 02:53] shuo-wu commented on #1196
Here is the draft script for this issue:
https://gist.github.com/shuo-wu/518c0e6f4c01d03fd24a4a4113e298fd

[2020-06-02 03:55] joshimoo commented on #1408
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [x] Is the backend code merged?
The PR is at [32](https://github.com/longhorn/go-iscsi-helper/pull/32) [593](https://github.com/longhorn/longhorn-manager/pull/593)

* [x] ~~Is the reproduce steps/test steps documented?~~

* [x] ~~**If the fix introduces the code for backward compatibility** Has an sepa

[2020-06-02 04:13] joshimoo commented on #1183
## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at

* [ ] Is the reproduce steps/test steps documented?

* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
The compatibility issue is filed at

* [ ] **If labele

[2020-06-02 04:13] joshimoo commented on #1404
## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at

* [ ] Is the reproduce steps/test steps documented?

* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
The compatibility issue is filed at

* [ ] **If labele

[2020-06-02 04:13] joshimoo commented on #1435
## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at

* [ ] Is the reproduce steps/test steps documented?

* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
The compatibility issue is filed at

* [ ] **If labele

[2020-06-02 04:14] joshimoo commented on #1213
## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at

* [ ] Is the reproduce steps/test steps documented?

* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
The compatibility issue is filed at

* [ ] **If labele

[2020-06-02 04:14] joshimoo commented on #1263
## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at

* [ ] Is the reproduce steps/test steps documented?

* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
The compatibility issue is filed at

* [ ] **If labele

[2020-06-02 04:14] joshimoo commented on #1410
## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at

* [ ] Is the reproduce steps/test steps documented?

* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
The compatibility issue is filed at

* [ ] **If labele

[2020-06-02 04:25] joshimoo commented on #1213
This issues contains 2 different issues, the delete all backups is caused by a check for the existence of volume.cfg. Which should be easily removable since there is no dependency on the content of volume.cfg for the volume delete operation.

The other issue is corrupted backup.cfg, which get fixed in [41](https://github.com/longhorn/backupstore/pull/41)

[2020-06-02 05:44] wopl commented on #1442
Here the url at first breakpoint

`url: "wss://longhorn.xxx.de/v1/volumes/pvc-5cb345c7-a33b-46a9-a7f6-ee37274c5daa?action=engineUpgrade"
`
I looked around not resuming at the breakpoint. Added a shell. I started again from the base URL.
Now at breakpoint I see

`url: "https://longhorn.xxx.de/v1/volumes/pvc-5cb345c7-a33b-46a9-a7f6-ee37274c5daa?action=engineUpgrade"
`
Different protocol now???
I res

[2020-06-02 06:04] dnoland1 opened #1449 "Duplicate node warning events when node is restarted"
**Describe the bug**
When a node is restarted, duplicate warning events in the longhorn namespace are added. Do these events need to be logged at all?

**To Reproduce**
Steps to reproduce the behavior:
1. Install two node k3s cluster with Rancher
2. Deploy longhorn app in Rancher catalog
3. Restart one node on k3s cluster - `systemctl restart k3s`

**Expected behavior**
No warning events or at lea

[2020-06-02 09:02] shuo-wu commented on #1448
As the user reports in the [forum](https://forums.rancher.com/t/failed-upgrade-from-v0-8-1-to-v1-0-0-caused-by-pv-created-before-v0-6-2/17586/2), there is a PV finalizer that blocks the migration. We will update the doc now.

If you have failed to migrate some volumes/PVs, you can:
    1. Use `kubectl edit pv <the name of the PV that fails the migration>` to remove the finalizer `external-attacher

[2020-06-02 11:18] shuo-wu commented on #1415
Are there any differences between this issue and #1355? If NO, I think we can close this one.

[2020-06-02 11:58] shuo-wu commented on #1366
@yasker
Do we need to do anything else besides marking the robustness as `unknown` for restoring/DR volumes?

[2020-06-02 16:16] zeppelinux commented on #1448
@shuo-wu in the step 2 (I'm using Longhorn UI) I can see the 'Create PV/PVC' button, but it is in disabled state. Please advise.

[2020-06-02 16:28] yasker commented on #1448
@zeppelinux Please hold on for now. We're validating the updated documentation at https://github.com/longhorn/website/pull/140 . After it's done, you should be able to follow it to migrate.

[2020-06-02 17:23] yasker commented on #1408
It's refactoring, so I don't think we have a specific way to test this now.

#538 might be related to this. I will see if we can test that.

[2020-06-02 17:26] yasker commented on #538
We've recently fixed a ticker leak in the master. @meldafrawi can you check if there is a way we can reproduce the issue that long-running manager process taking more and more CPUs over the time?

[2020-06-02 17:28] yasker commented on #1442
@smallteeths It seems we're issuing commands over WebSocket?

[2020-06-02 19:34] meldafrawi commented on #1243
I couldn't reproduce the issue for a second time

[2020-06-02 19:57] khushboo-rancher commented on #1448
Verified the steps to migrate the volume from https://github.com/longhorn/website/pull/140, it works and I'm able to migrate volume successfully.

**Scenario tested**
**Pre upgrade migration**
1. Install longhorn v0.6.2. Create a volume and attach it to pod.
2. Write data into volume and compute checksum.
3. Upgrade to v0.7.0 --> v0.8.0 --> v0.8.1 and write data into volume, compute checksum.
4. F

[2020-06-02 20:37] yasker commented on #1448
@zeppelinux Can you check out https://longhorn.io/docs/1.0.0/references/settings/#custom-mkfsext4-parameters for the steps to migrate old volume drivers? Let us know if it works for you.

[2020-06-02 20:45] yasker commented on #1449
I think we should show one warning at least. But duplicated ones are not preferred.

[2020-06-02 21:29] joshimoo commented on #1385
@sowmyav27 In this issue are you referring to changing the blocks filename? or changing the data of the blocks?

[2020-06-02 21:33] yasker commented on #1424
The reason for this is the failure of backup deletion is counted as the whole recurring backup failure, so the recurring job will retry.

We should be count the backup deletion as best effort in the recurring job, and make it possible for the next recurring job to retry the deletion.

The Google Cloud deletion failure should be addressed by #1404 soon.

[2020-06-02 22:30] yasker commented on #1366
@shuo-wu Mark as the volume as unknown is not enough. Mark the volume state as unknown should be a separate issue in fact. But it can be used as the foundation of the fix.

For the DR volume and restoring case, we should be able to detect the issue (and knowing that the engine is unknown for a while, probably configurable) and then reattach the volume to another node to continue/restart the restor

[2020-06-02 22:43] khushboo-rancher commented on #1415
This is similar case, here the change is only deletion of node. In #1355 node is powered down and in this one node is deleted.
This issue is created to track deletion case separately. If we want to close this, we can add this scenario in #1355 and close it.

[2020-06-02 23:03] ttpcodes commented on #1273
Did some investigating, and this is what I've been able to find out:
- `Longhorn` attempts to install the `Engine Image` to `/var/lib/longhorn/engine-binaries/longhornio-longhorn-engine-${ENGINE_VERSION}`, which appears to be under the `SELinux` context of `system_u:object_r:container_var_lib_t:s0`. The container runs as `container_t`, which doesn't seem to have write access on `container_var_lib_

[2020-06-02 23:20] yasker commented on #1441
Done

[2020-06-02 23:20] #1441 closed

[2020-06-02 23:48] yasker commented on #1273
@ttpcodes

We currently have `longhorn-manager`, `instance-manager`, and `cronjob` pods running as `privileged`. So I am fine with running `engine-image` daemonset as `privileged` as well, given Longhorn is system software.

If https://github.com/kubernetes/kubernetes/issues/27282 can be resolved in the future, we can use Kubernetes to correctly label the volumes. But we cannot wait for that fix a

[2020-06-02 23:51] yasker commented on #1221
This might be related to #1154

[2020-06-02 23:59] zeppelinux commented on #1448
@yasker It did, all volumes are attaching successfully! Thanks Guys!

[2020-06-03 00:56] boknowswiki commented on #1243
Hi All,

Unfortunately, I couldn't reproduce both @meldafrawi  and @shuo-wu issues.

@meldafrawi has updated with his latest verification, we don't see that issue.
I have also tried @shuo-wu 's steps from the latest comment. For me it takes about under 1s to get the md5sum for the second data file after the extra disk lazy umounted from node 2.

One thing I noticed it during lazy umounted, if we w

[2020-06-03 00:57] yasker commented on #1448
@zeppelinux Glad to hear that! I will close the issue for now. Feel free to reopen it if you found any issues with the newly migrated volumes.

[2020-06-03 00:57] #1448 closed

[2020-06-03 05:13] shuo-wu commented on #1415
I think node down and kube node deletion are the same for Longhorn. We can track this scenario in #1355 if you want to double-check it.

[2020-06-03 05:35] shuo-wu opened #1451 "[BUG]Volume should be Unknown if the attached node is down"
**Describe the bug**
As we discussed in #1355 and #1366, it's better to mark the volume as `Unknown` if the attached node is down.

**To Reproduce**
Steps to reproduce the behavior:
1. Create and attach a volume.
2. Power off the related VM of the attached node.
3. Wait for the Longhorn node down
4. Check the volume health state, it's still `Healthy`

**Expected behavior**
The volume should be `Un

[2020-06-03 05:40] shuo-wu commented on #1451
We may need a special icon for the volumes on the down nodes.

The basic idea/draft design for the UI part (this part may get updated  later):
1. Add an icon for the volume if the `volume.state == attached && volume.robustness == unknown`
2. Add hover for the icon to inform the users: `The volume attached node may be down.`

[2020-06-03 06:01] shuo-wu commented on #1451
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at https://github.com/longhorn/longhorn-manager/pull/595

* [x] Is the reproduce steps/test steps documented?
The test steps are the same as the reproduce steps.

* [x] ~~**If the fix introduces the code for backward compatibility** Has a separate issue been fi

[2020-06-03 08:03] dgiebert commented on #1221
Seems that restarting the kubelets helps for Longhorn to pick up the attachments, or they at least are showing up in the UI with a transition from detached to attached.

Checking the kubelet configuration in RKE could it be related to this configuration from the hardening guideline: `streaming-connection-idle-timeout: 1800s` ?

[2020-06-03 09:14] lijinghuatongxue opened #1452 "[FEATURE] snapshot's custom name"
Will you consider adding the snapshot's custom name function in the future
---
Version: `v1.0.0`

[2020-06-03 10:35] jackivanov opened #1453 "Longhorn helm chart is not included in the Rancher repo"
Hello,

Can you publish the helm chart to the rancher (or any other) repo as suggested in #445

[code]

[2020-06-03 11:06] shuo-wu commented on #870
Manual test:
1. Deploy Longhorn.
2. Set `Guaranteed Engine CPU` to 10 (10 vcpus).
3. Instance(engine/replica) manager pods will be recreated again and again. Check the managers' log. (Use `kubetail longhorn-manager -n longhorn-system` to check the log)
4. Set `Guaranteed Engine CPU` to 0.25 and wait for instance manager pods running.
5. Create and attach a volume. Then use the volume to r/w data.

[2020-06-03 11:08] shuo-wu commented on #870
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at https://github.com/longhorn/longhorn-manager/pull/588

* [x] Is the reproduce steps/test steps documented?
The test steps are the same as the reproduce steps.

* [x] ~~**If the fix introduces the code for backward compatibility** Has a separate issue been fi

[2020-06-03 14:41] #1346 closed

[2020-06-03 16:46] sowmyav27 commented on #1385
@joshimoo I removed some checksums from the backup.cfg file

[2020-06-03 18:09] ttpcodes commented on #1295
There is an option that affects the behavior of the `NFS` client when a request times out that is documented [in the manpage for the client](https://linux.die.net/man/5/nfs):

It seems that if we apply the `soft` option to the `NFS` mount, we can make the process time out in the case that the connection to the `NFS` server is lost. From there, we just need to make sure that the system handles erro

[2020-06-03 18:45] ttpcodes commented on #1273
Manual test steps:
1. Set up a node with `CentOS` and make sure that the output of `sestatus` indicates that `SELinux` is enabled and set to `Enforcing`.
2. Run the `k3s` installation script.
3. Install `Longhorn`.
4. The system should come up successfully. The logs of the `Engine Image` pod should only say `installed`, and the system should be able to deploy a `Volume` successfully from the UI.

[2020-06-03 18:52] dmayle commented on #1301
I've just rebuilt a mini cluster for the sole purpose of reproducing this, and I've managed to do it.  I'm attaching a support bundle now

[2020-06-03 18:53] dmayle commented on #1301
[longhorn-support-bundle_9ca2e2f6-baff-4cea-a99d-3e0965aaea75_2020-06-03T18-52-43Z.zip](https://github.com/longhorn/longhorn/files/4725571/longhorn-support-bundle_9ca2e2f6-baff-4cea-a99d-3e0965aaea75_2020-06-03T18-52-43Z.zip)

[2020-06-03 19:10] dmayle commented on #1301
Second failure in the transfer, I'm 9GB into a 20GB transfer:
[longhorn-support-bundle_9ca2e2f6-baff-4cea-a99d-3e0965aaea75_2020-06-03T19-09-52Z.zip](https://github.com/longhorn/longhorn/files/4725672/longhorn-support-bundle_9ca2e2f6-baff-4cea-a99d-3e0965aaea75_2020-06-03T19-09-52Z.zip)

[2020-06-03 19:13] yasker commented on #1301
Thanks @dmayle

I've check the support bundle and seen the problem with `pvc-f24ee6ba-ad71-42f8-bf02-70cc779146e5`. It still looks like a CPU resource or network issue. More likely CPU resource issue. Can you try the option `Guaranteed Engine CPU`? This will guarantee the CPU for the engine, which can be the reason the data failed to be processed in time. We've set this option to `0.25` by default

[2020-06-03 19:37] dmayle commented on #1301
I've done this, and here's the support bundle on first failure:
[longhorn-support-bundle_9ca2e2f6-baff-4cea-a99d-3e0965aaea75_2020-06-03T19-36-24Z.zip](https://github.com/longhorn/longhorn/files/4725820/longhorn-support-bundle_9ca2e2f6-baff-4cea-a99d-3e0965aaea75_2020-06-03T19-36-24Z.zip)

[2020-06-03 19:48] yasker commented on #1301
@dmayle From the support bundle, I don't see the setting on the pod been set. For example, when the setting was set, the instance manager pod should have something like this:
[code]

But in the support bundle I saw nothing set for the requests:
[code]

Also, when the setting took effect, we should see the following from `kubectl describe nodes`
[code]

Can you check if you've seen the setting been

[2020-06-03 19:55] dmayle commented on #1301
I've checked the pods, the CPU request has been applied.  I've attached the latest support bundle and the YAML from one of the instance manager pods.
[longhorn-support-bundle_9ca2e2f6-baff-4cea-a99d-3e0965aaea75_2020-06-03T19-47-50Z.zip](https://github.com/longhorn/longhorn/files/4725900/longhorn-support-bundle_9ca2e2f6-baff-4cea-a99d-3e0965aaea75_2020-06-03T19-47-50Z.zip)

[code]

[2020-06-03 20:00] dmayle commented on #1301
[code]

[2020-06-03 20:07] yasker commented on #1301
Thanks @dmayle , the last support bundle has it enabled. What's the CPU utilization on the nodes? You can check it using `kubectl top nodes`. From the log it still looks like the engine cannot keep up with the requests.

[2020-06-03 20:28] dmayle commented on #1301
This cluster is very minimal and so I don't have what I need to run `kubectl top nodes` running on it.  I've connected to the two two nodes and grabbed snapshots of htop, and they're running around 50% CPU while both the 20GB transfer and rebuilds are in progress.

These are bare-metal clusters, and this one is a bit out of date.  I rebuilt the kubernetes cluster, but not the base.  Tomorrow, I'm

[2020-06-03 20:34] yasker commented on #1301
The load average is a bit disturbing here:
[code]

The load average for the last 5 minutes and 15 minutes exceeds the CPU numbers (which I assume is 2). It sounds like a CPU issue.

If it's two nodes cluster, you can change the replica count to 2 instead of 3, since the additional replica won't be useful if it landed on the same node. `hard anti-affinity` is enabled by default in v1.0.0.

[2020-06-03 20:38] yasker commented on #1243
@shuo-wu Can you check if it's the case that @boknowswiki described?

[2020-06-03 20:40] yasker commented on #1415
@khushboo-rancher can you add this case to #1355 ? As @shuo-wu said, power down and not coming back is very similar to removing a node in Longhorn's perspective. We can treat them as the same for now unless we found anything more later.

[2020-06-03 20:44] yasker commented on #1452
@lijinghuatongxue Currently you can use labels in backup for this purpose. We recommend relying on backups if possible since the snapshot is inside the cluster and can be lost along with the cluster.

[2020-06-03 20:47] yasker commented on #1453
@jackivanov we're working on adding Longhorn into the standard helm hub #1043 .

[2020-06-03 20:58] yasker commented on #1295
What kind of `data corruption` we're talking about here? There might be a reason for the NFS set `hard` by default.

[2020-06-03 21:03] jackivanov commented on #1453
@yasker It's been quite a while. Any progress on this? Is there anything I can help you with?

[2020-06-03 21:16] khushboo-rancher commented on #1415
Closing this issue as this scenario is added in #1355

[2020-06-03 21:16] #1415 closed

[2020-06-03 22:16] yasker opened #1454 "[BUG] Update README in Longhorn Rancher chart to warn users against the downgrade"
https://github.com/rancher/rancher/issues/27423

Rancher UI cannot prevent user from downgrading Longhorn from e.g. v1.0.0 to v0.8.1. We should update the README in `rancher/charts` to warn user against it.

[2020-06-03 22:25] ttpcodes commented on #1273
## Pre-merged Checklist
* [X] Does the PR include the explanation for the fix or the feature?

* [X] Is the backend code merged?
The PR is at longhorn/longhorn-manager#597.

* [X] Is the reproduce steps/test steps documented?

* [ ] ~~**If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?~~

* [ ] ~~**If label

[2020-06-03 23:34] yasker commented on #1454
Hold on for this one. We're discussing what's the right thing to do.

[2020-06-04 00:40] #1407 closed

[2020-06-04 01:12] yasker commented on #1407
Hi @awlleon , have you figured out what's wrong?

[2020-06-04 01:27] yasker commented on #1453
Thanks for the offering of help @jackivanov ! we just started working on it after GA. It should be done soon.

[2020-06-04 01:32] yasker opened #1455 "[FEATURE] Backup/Restore Longhorn System"
Rancher has introduced ETCD snapshot/restore, but [we found that](#1969) it doesn't work well with Longhorn. More importantly, there is currently no recommended way to backup the Longhorn system itself. It can be useful for the following scenarios:
1. Rollback in the case of an upgrade failure.
2. Recreate/replicate the cluster

In general, we can dump the related CRDs and rollback to them if some

[2020-06-04 01:33] #1452 closed

[2020-06-04 02:54] joshimoo commented on #1433
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [x] Is the backend code merged?
The PR is at [here](https://github.com/longhorn/backupstore/pull/41)

* [x] Is the reproduce steps/test steps documented?

* [x] ~~**If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibilit

[2020-06-04 03:04] shuo-wu commented on #1451
@yasker Can you check what we need to do for the UI part?

[2020-06-04 03:11] yasker commented on #1451
@shuo-wu what's your opinion?

[2020-06-04 03:14] shuo-wu commented on #1451
I had put my idea in the above comment. I am not sure if we need to so many special icons for volumes.

[2020-06-04 03:17] yasker commented on #1451
Sorry, missed that part.

In fact we should know almost for sure if the attached node is down or not? Can we reflect that information in the UI as well? We can either have UI retrieve the node information or add it as a condition etc in the volume to indicate problem with the attached node.

[2020-06-04 03:20] yasker commented on #1433
PR merged. Done.

[2020-06-04 03:20] #1433 closed

[2020-06-04 03:33] shuo-wu commented on #1451
Yeah. We can check the attached node if the volume becomes `Unknown`.
But what if the node is running and the volume is `Unknown`? (Maybe temporarily `Unknown`. I am not sure if there is such a weird case.) How about showing the message `Longhorn is updating the volume` for this case?

[2020-06-04 03:53] shuo-wu commented on #1243
I cannot reproduce it, either. Maybe the slow md5sum calculating is caused by the heavy system load.
Thank you for Bo's verification!

[2020-06-04 04:05] yasker commented on #1451
Regarding `Add an icon for the volume if the volume.state == attached && volume.robustness == unknown`, it can happen in the normal procedure. When the volume is just attached and the engine wasn't updated yet, this condition will be satisfied as well. So we need to use the node condition as well.

`Longhorn is updating the volume` is too generic. Previous if the volume is attached but robustness

[2020-06-04 04:23] shuo-wu commented on #1451
OK. I have updated the UI design.

[2020-06-04 06:19] wopl commented on #1442
Seems we are getting closer to the root cause. I am using Traefik as Ingress Controller opening HTTP/HTTPS connection for comms into K3S. In the meantime I simplified to HTTP to ensure not to observe any security side effects. All HTTP get requests seem to work (200) and UI looks good (except some minor missing fields that can be filled by a refresh).

Sending commands to Traefik / K3S I see no HT

[2020-06-04 06:40] dmayle commented on #1301
@yasker It's 3 leaders and 5 worker nodes.  The load numbers don't have anything to do with CPU starvation, because these machines never peg the CPUs.  I think it's mostly kernel contention due to some process accounting that should have been turned off for containerd.  I'm going to rebuild these machines today, which will solve that problem and run them again.

[2020-06-04 08:29] anouarchattouna commented on #1379
Hello,

After upgrade to `v1.0.0` we are having the same error you mentioned but also causing an outage of the `longhorn-manager`
[code]

[2020-06-04 08:48] wopl commented on #1442
In addition I see

`root      9471  6421  1 Jun03 ?        00:28:38 longhorn-manager -d daemon --engine-image longhornio/longhorn-engine:v1.0.0 --instance-manager-image longhornio/longhorn
`
producing a lot of zombie processes. Any coincidence with above or open this as a new issue?

[2020-06-04 09:49] shuo-wu commented on #1355
The manual test:
1. Create a backup.
2. Create a restore volume from the backup.
3. Power off the volume attached node during the restoring.
4. Wait for the Longhorn node down.
5. Wait for the restore volume being reattached and starting restoring volume with state `Degraded`.
6. Wait for the restore complete.
7. Attach the volume and verify the restored data.
8. Verify the volume works fine.

[2020-06-04 09:51] shuo-wu commented on #1355
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at https://github.com/longhorn/longhorn-manager/pull/598

* [x] Is the reproduce steps/test steps documented?

* [x] ~~**If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`

[2020-06-04 10:00] shuo-wu commented on #1366
Manual test 1:
1. Create a pod with Longhorn volume.
2. Write data to the volume and get the md5sum.
3. Create the 1st backup for the volume.
4. Create a DR volume from the backup.
5. Wait for the DR volume starting the initial restore. Then power off the DR volume attached node immediately.
6. Wait for the DR volume detached then reattached.
7. Wait for the DR volume restore complete after the re

[2020-06-04 10:02] shuo-wu commented on #1366
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged?
The PR is at https://github.com/longhorn/longhorn-manager/pull/598

* [x] Is the reproduce steps/test steps documented?

* [x] ~~**If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`

[2020-06-04 10:30] dmayle commented on #1301
@yasker good news!  I rebuilt the base, re-imaging all the machines, and brought up the exact same cluster (with Longhorn 0.8) and this time I've got no failures.  The write load is even bigger than it was before (I'm sustaining 10-11 MB/s of S3 object storage on this cluster instead of the 7MB/s I was getting before), and there are no failures.

This time around, the process accounting if fixed,

[2020-06-04 10:35] dmayle commented on #1301
I spoke too soon.  After transferring about 27GB (first transfer I stopped at 17GB and then I restarted and got 10GB into the second transfer), I hit my first replica failure.  I'm attaching the support bundle here:

[longhorn-support-bundle_10aadefb-36e0-4534-a6b1-d94da01ce37f_2020-06-04T10-33-47Z.zip](https://github.com/longhorn/longhorn/files/4729395/longhorn-support-bundle_10aadefb-36e0-4534-a

[2020-06-04 10:37] dmayle commented on #1301
The machine which had the replica failure doesn't even have a very high load.  (And yes, these are dual-core machines)

[code]

[2020-06-04 10:40] dmayle commented on #1301
After lunch, I'm going to upgrade this cluster to 0.8.1 and then to 1.0 and rerun this test.

[2020-06-04 11:18] dmayle commented on #1301
Final support bundle of 0.8, I had a total of four replica failures across three of my five volumes
[longhorn-support-bundle_10aadefb-36e0-4534-a6b1-d94da01ce37f_2020-06-04T11-17-19Z.zip](https://github.com/longhorn/longhorn/files/4729590/longhorn-support-bundle_10aadefb-36e0-4534-a6b1-d94da01ce37f_2020-06-04T11-17-19Z.zip)

[2020-06-04 16:21] dmayle commented on #1301
I finally get everything up to 1.0 today, and I started up the test only to get my first failures about 12GB into the transfer.  Under 1.0, I'm seeing 8MB/s of S3 throughput on the cluster.

[longhorn-support-bundle_10aadefb-36e0-4534-a6b1-d94da01ce37f_2020-06-04T16-19-42Z.zip](https://github.com/longhorn/longhorn/files/4731379/longhorn-support-bundle_10aadefb-36e0-4534-a6b1-d94da01ce37f_2020-06-0

[2020-06-04 16:55] dmayle commented on #1301
This is with 0.25 (250m) CPU requests

[2020-06-04 17:08] khushboo-rancher commented on #1446
Tried multiple times, couldn't reproduce the issue on a cluster with 1 etcd/control plane and 3 workers node. os type - ubuntu 18.04

[2020-06-04 17:20] yasker commented on #1442
@wopl regarding zombie processes, please file a separate bug.

Regarding the original issue, `https` shouldn't change to `ws`. Something is wrong here. I am not sure if it's frontend or backend though. Can you provide instructions to recreate your environment? If we can reproduce it, it should be much easier to troubleshoot.

[2020-06-04 17:25] haflinger commented on #1379
I have the same issue, same logs... :-(

[2020-06-04 17:55] yasker commented on #1379
@anouarchattouna @haflinger Was the manager able to start in the end? Those messages you saw is different from the original bug description. When a new version of manager deployed with a new version of engine image, we will need to install the engine image on the node, that's the responsibility of `engine-image-ei-xxx` daemonset. It will take some time for the daemonset to be created and running,

[2020-06-04 18:28] dmayle commented on #1301
And another bundle after another 10GB or so:

[longhorn-support-bundle_10aadefb-36e0-4534-a6b1-d94da01ce37f_2020-06-04T18-27-50Z.zip](https://github.com/longhorn/longhorn/files/4732059/longhorn-support-bundle_10aadefb-36e0-4534-a6b1-d94da01ce37f_2020-06-04T18-27-50Z.zip)

[2020-06-04 18:51] yasker commented on #1301
@dmayle A few observation from the support bundle:
1. I might be looking into the wrong support bundle (or it might be a Longhorn bug), but I didn't see the CPU requests were set on the pods, though the setting indeed specified `0.25`.
2. And there are only 4 of 5 nodes shows up in the log, seems dev05 has disk pressure per reporting of Longhorn (but not reported Kubernetes)
[code]
And all the pod

[2020-06-04 19:14] dmayle commented on #1301
@yasker I've pulled the YAML on the pods, and they're showing the CPU request, so there might be something off with the logs.

I'm going to load in prometheus so I can get a better look at what is going on during a failure, and rerun the tests.  I've watched the nodes live, I don't think it's flat out CPU starvation.  I think it's much more likely a problem with kernel overhead.  These are not hug

[2020-06-04 19:23] ttpcodes commented on #1295
A lot of information that I found on `NFS` seemed to say the same thing (that mounting as `soft` can lead to data corruption) without much other info.

Based on some other information I dug up:
- [Strategies for NFS Troubleshooting](https://docs.oracle.com/cd/E19120-01/open.solaris/819-1634/rfsadmin-214/index.html)
- [Soft mount issues](https://docstore.mik.ua/orelly/networking_2ndEd/nfs/ch18_02.h

[2020-06-04 19:28] wopl commented on #1442
Hi Yasker,
of cource https will change to wss. All fine at this side. It seems to be the change of protocol between HTTP/WS or HTTPS/WSS which will lead to a CORS problem. CORS does not allow a protocol change (e.g. from HTTP to WS / from HTTPS to WSS).

As said before, I "could" add some rules to the Ingress Controller, but gave me other challenges (I am in contact with Traefik team as well). Not

[2020-06-04 19:39] ttpcodes commented on #1379
It looks like the cause of this bug is upstream in `client-go`. kubernetes/client-go#762 seems to indicate that the cause of this is due to the `LeaderElectionRecord` in one of the files of `client-go` being constructed incorrectly. There's a similar bug over in kubernetes/kubernetes#88194, and there are fixes for this bug in kubernetes/kubernetes#88192 and kubernetes/kubernetes#88925.

Should we

[2020-06-04 19:47] wopl opened #1457 "[BUG] zombie processes"
**Describe the bug**
Longhorn manager does create a lot of zombie processes (200 or more per day)

**To Reproduce**
Steps to reproduce the behavior:
1. Installed version 1.0.0 (but also occurs on 0.8.1)

**Expected behavior**
no zombie processes - of course

**Log**
`2020-06-04T21:07:57.716716931+02:00 time="2020-06-04T19:07:57Z" level=debug msg="Failed to check for the latest upgrade: Post \"http

[2020-06-04 19:50] yasker commented on #1457
Sounds like longhorn manager is leaving zombie processes. We should be able to use `tini` to properly reap them.

[2020-06-04 20:08] yasker commented on #1301
@dmayle understand. That would require automatically throttling when CPU is a problem. In fact you remind me of one thing, can you check and reduce `node.session.queue_depth` in ` /etc/iscsi/iscsid.conf` on each node? It will result in lower bandwidth of course, but it will limit the request to the backend, thus might fix the issue.

[2020-06-04 21:30] dmayle commented on #1301
I figured it out!   The high load was interfering with the NFS mount, and because on Linux write operations to NFS never fail, they just hang, and the freezing filesystem operations caused Longhorn on those nodes to lock up, causing replica failures.

I actually got pretty lucky here, you mentioned disk pressure, so I SSH'ed into the box to check out the space on the filesystem, but `df` just hung

[2020-06-04 21:30] #1301 closed

[2020-06-04 21:40] mshack70 opened #1458 "longhorn volume recovery issue?"
**Describe the bug**
I'm doing some simple testing with 1.0.  I have designated 3 worker nodes as replicas, remaining worker nodes for normal workloads.  After creating a volume, and installing an application using this volume, did some disaster type test.

-  I stopped docker on the 1st replica worker, app still had access to volume as expected (degraded)
- I stopped docker on 2nd replica worker,

[2020-06-04 21:47] mshack70 commented on #1458
I started docker back on the other 2 nodes, and the volume started to recover.

Since I was staggering the docker stop's on these nodes, the primary replica owner changed.  It seems that only one of these 3 nodes was considered to be a true owner of the replica.

I'm a bit concerned on what to do if all 3 replica nodes crash at same time, or lets say only 2 of the 3 come back and the one which is

[2020-06-04 21:59] yasker commented on #1301
hmm, normally the NFS server/client shouldn't have able to interfere with Longhorn's data path. They might cause a delay in the disk information (which probably answered the question of why Longhorn's node update is slower than the Kubernetes's), but data plane is operating separately.

[2020-06-04 22:09] yasker commented on #1458
Where is the volume attached to? Once you get the docker on the attached node up, Longhorn should automatically start rebuilding (if it's allowed). Longhorn treats all replicas equally. The workload doesn't need to be in the same node that has a replica. But the workload needs to be up for Longhorn volume to be attached, then start the rebuild process.

Also, the failed replica will be automatical

[2020-06-04 22:46] joshimoo commented on #1434
@yasker test skeleton merged https://github.com/longhorn/longhorn-tests/pull/348

[2020-06-04 23:18] khushboo-rancher commented on #1454
We should make the change in v0.1.0/README.md too.

[2020-06-04 23:20] yasker commented on #1454
Hmm, I am not sure why.

[2020-06-04 23:33] khushboo-rancher commented on #1454
Change in v0.1.0/README.md is not required - https://github.com/rancher/rancher/issues/27423#issuecomment-639166740
Verified https://github.com/rancher/rancher/issues/27423 on master-3145-head. Warning appears for v1.0.0 as below.
<img width="1362" alt="Screen Shot 2020-06-04 at 3 34 00 PM" src="https://user-images.githubusercontent.com/60111667/83820166-bf13ec00-a680-11ea-8d50-9146e17e90b1.png">

[2020-06-04 23:33] #1454 closed

[2020-06-05 00:28] khushboo-rancher commented on #1408
I've set up a cluster of it, we can check CPU utilization after few days.

[2020-06-05 01:34] mshack70 commented on #1458
hi Sheng.  So in my case, the replicas were on nodes 1,2,3 , my pod which was mounting the pv was on node4.  only node1,2,3 are allowed to have replicas in my test.  Docker was never restarted on node4, only on node1,2,3.

[2020-06-05 01:52] joshimoo commented on #1408
@khushboo-rancher can you also keep track of memory usage?

[2020-06-05 02:00] yasker commented on #1408
@joshimoo the monitoring is enabled on the cluster, so memory usage will be tracked as well.

[2020-06-05 02:03] joshimoo commented on #1458
If I understood correctly you are saying all 3 replicas ended up on node x?
Could you share what your [replica-node-level-soft-anti-affinity](https://longhorn.io/docs/1.0.0/references/settings/#replica-node-level-soft-anti-affinity) setting is set to?

[2020-06-05 02:07] yasker commented on #1458
@mshack70 When all the replica are down, Longhorn will try to auto salvage and re-attach the volume. See https://longhorn.io/docs/1.0.0/high-availability/recover-volume/ . After you bring back the docker on the first node, did you see the volume start to reattach in the Longhorn UI? It might take a moment but if the auto-salvage option is enabled, that should happen.

[2020-06-05 02:50] mshack70 commented on #1458
Yes when all 3 replica nodes were back up, only one of the 3 nodes had all 3 replicas.

 replica-node-level-soft-anti-affinity was enabled

When bringing up docker on the 1st replica node, I waited over a minute and the volume did not attach or recover..., not until the the other 2 nodes docker start did the volume recover, and all replicas were on node2.

[2020-06-05 07:01] smallteeths commented on #1374
It cannot be formatted temporarily. The data is now the back end of the direct read. If you need to change the format, you may need the back-end returned data to conform to a specific structure  @yasker

[2020-06-05 07:46] smallteeths commented on #1447
Does this need to be discussed, and which ones can be modified uniformly? Now some editable content, such as tags, are not very good for unified modification. @yasker

[2020-06-05 07:50] tabnul commented on #1180
Also very interested in how to do this..
There are always ways such as querying the api via blackbox exporter.. but thats kind of ugly.

[2020-06-05 08:46] runningman84 commented on #1417
From my point of view you could uninstall packets like build-essential after the software was built.

You could also think about moving to alpine or some special image like this:
https://github.com/mhart/alpine-node

You could also drop nginx out of the image and just use a plain nginx container for serving static files or proxy and a nodejs container which just contains your app.

[2020-06-05 12:21] dmayle commented on #1301
I ran the test again with Prometheus installed in the cluster (restoring my NFS settings), and I dumped the output of `dmesg` before the test, during, and again after (appending to the same file each time).  The cluster never went about 60% CPU utilization.  The failure happened on dev02, where the machine was consistently at about 90% CPU utilization.  The CPU pegged to 100% on dev04, but that's

[2020-06-05 12:25] dmayle commented on #1301
Also, don't be fooled by the earlier error messages in dmesg.log.  There don't seem to be any NFS-related errors on dev02

[2020-06-05 13:18] dmayle commented on #1301
I ran the test again, after having switched back to an S3 backup target.  I may have been wrong about the mecahanism, but I am not wrong about the culprit.  With an S3 backup target, I don't have unexplained replica failures under load.  Everything works as it should.

![Screenshot 2020-06-05 at 15 16 05 - Display 1](https://user-images.githubusercontent.com/67033/83880636-ba623d00-a73f-11ea-8552-

[2020-06-05 13:29] dmayle commented on #1301
One last set of screenshots, the 3 hour view showing both the original transfer with failure and the successful transfer.  The failure happens at about 13:57-13:58, you can see in the dev02 Disk I/O graph.  sda io time splits from  sda write patterns, with write suddenly dropping, and io time going back up again.

![Screenshot 2020-06-05 at 15 27 42 - Display 1](https://user-images.githubuserconte

[2020-06-05 16:55] yasker commented on #1458
What happened is, Longhorn assumes the last replica you've shut down contains the latest data of the volume, so unless the last replica is somehow able to be started (e.g. enable docker on the node), the volume won't be recovered since we cannot expect the user to write some data into the volume but lost the data when volume comes back (since other two replicas might not contain stale data).

Also

[2020-06-05 16:57] yasker commented on #1374
@smallteeths how about markdown format? Can we support that in the UI?

[2020-06-05 17:00] yasker commented on #1447
@smallteeths We can start with enable/disable scheduling. We indeed need to think about the node tags. @mshack70 did you refer to the enable/disable scheduling or you refer to the node tags as well?

[2020-06-05 17:22] ttpcodes commented on #1424
## Pre-merged Checklist
* [X] Does the PR include the explanation for the fix or the feature?

* [X] Is the backend code merged?
The PR is at longhorn/longhorn-manager#599.

* [ ] Is the reproduce steps/test steps documented?

* [ ] ~~**If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?~~

* [ ] ~~**If label

[2020-06-05 17:36] yasker commented on #1301
Thanks @dmayle for such a detailed explanation. I am surprised when I saw in the S3 case, CPU utilization is near 100% and the load is above 15, but it's still working fine for you. There must be something I don't fully understand yet. Given the evidence, I am sure the culprit is the NFS server as you said. I just hope I can make more sense of this.

Thanks again for digging into this issue!

[2020-06-05 19:34] khushboo-rancher opened #1459 "[BUG] Longhorn app fails to come up on 'pod security policy' enabled cluster."
**Describe the bug**
Longhorn pods fail to come up healthy on a 'pod security policy' enabled cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster with pod security policy enabled as 'restricted'.
2. Deploy longhorn app in the cluster
3. Longhorn pods fail to come up healthy.

**Log**
[code]

**Environment:**
 - Longhorn version: master- 06-05-2020
 - Kubernetes version:

[2020-06-05 19:57] christiaangoossens commented on #1442
Hi everyone, I solved this issue independently today of your posts. Had the same issues with CORS wss failing. It's related to the default settings of Traefik not correctly setting headers for the websocket connection. Therefore, everything seemed very unreliable.

Adding the following middleware to the route for the Longhorn UI fixed all issues:
[code]

The missing forward protocol header when ac

[2020-06-05 20:18] yasker commented on #1442
Thanks @christiaangoossens ! @wopl Can you verify if it works for you? We would love to add this to the doc.

One question remaining: it seems this cannot be triggered by the normal k3s + traefik installation since we've tried that. What's the reproduce step for the issue?

[2020-06-05 20:29] christiaangoossens commented on #1442
I think normal k3s uses Traefik 1.x. This issue only appears for Traefik 2.x. That would be the difference. It's not k3s related in any way, only Traefik 2.x and it's Websocket handling.

[2020-06-05 20:35] rsoika commented on #1442
yes I can confirm that the  `X-Forwarded-Proto: "https" `solves the problem running longhorn-ui via trafic 2.2.1

[2020-06-05 20:40] yasker opened #1460 "test: move manual test from longhorn-test wiki to the longhorn-test code"
The manual test before the release is currently documented at https://github.com/longhorn/longhorn-tests/wiki . But the wiki is hard for the outside contributors. We want to move it to https://github.com/longhorn/longhorn-tests code base, ideally, also generate the website along with [automation test cases](https://longhorn.github.io/longhorn-tests/) to make it easier to read.

[2020-06-05 20:47] yasker opened #1461 "discuss: should we code live upgrade logic in the backend or not"
It's more of a release decision.

Also, live upgrade works even for the version that we don't claim to support live upgrade (e.g. v0.8.1 to v1.0.0), as long as the API is compatible. The only problem is the extra engine instance managers that might get left over. Should we allow it or not? It will still reduce the workload downtime, even user need to have some old version of instance manager runni

[2020-06-05 20:59] mshack70 commented on #1458
What would happen if all the replica nodes lost network connectivity at same time, and then recovered later?

[2020-06-05 21:10] yasker commented on #1458
if all the replica lost the network at the same time, auto salvage will bring them back and trying to attach the volume to the last known node.

For the best practice, `node level soft anti-affinity` should be disabled. It's the default value in v1.0.0.

[2020-06-05 21:26] yasker commented on #1043
Let's host our own charts in the GitHub.

We have two choices: either we continue to use `longhorn/longhorn`, or we can create a new repo `longhorn/charts`. I am thinking we can still update the latest in `longhorn/longhorn`, but push the new charts to `longhorn/charts`.

[2020-06-05 21:28] khushboo-rancher opened #1462 "[BUG] Test: Replace prepare_pod_with_data_in_mb, create_pv_for_volume and create_pv_for_volume methods with pv/pvc fixture in integration tests."
**Describe the bug**
Replace ```prepare_pod_with_data_in_mb, create_pv_for_volume and create_pv_for_volume``` methods with pv/pvc fixture in integration tests, so pv/pvc can be cleaned up properly.

https://github.com/longhorn/longhorn-tests/pull/350

[2020-06-05 22:52] khushboo-rancher commented on #1366
Verified in master - 06-05-2020

Verification - **Failed**

**Scenarios**
1. When first restore is in progress and attached node is powered off - Passed
2. When incremental restore is in progress and attached node is powered off - Failed.

<img width="1720" alt="Screen Shot 2020-06-05 at 3 50 02 PM" src="https://user-images.githubusercontent.com/60111667/83928321-3eb6bf00-a744-11ea-9a83-bcf7d60e76

[2020-06-05 23:42] yasker opened #1463 "Scalability test and optimization for v1.0.0"
Test and optimize Longhorn's scalability on a large number of nodes.

[2020-06-06 00:28] khushboo-rancher commented on #1355
Verified on master- 06-05-2020

Verification - **Passed**

**Steps followed to test:**
**Scenario 1**
1. Create a volume, attach to a pod and write into it.
2. Take a backup.
3. Restore the backup.
4. While restore is in progress, power down the attached node.
5. Restore completed with degraded status.
6. Verified the data.

**Scenario 2**
1. Create a volume, attach to a pod and write into it.
2.

[2020-06-06 00:28] #1355 closed

[2020-06-06 06:11] wopl commented on #1442
@yasker Yes I can confirm, the X-Forwarded-Proto header (either HTTP or HTTPS) solves the problem.

Still not sure it is solely Traefik related (see @rsoika)

Anyway many thanks @chrisitangoossens ! I never would have solved that on my own.
@yasker, @smallteeths  Thanks a lot for the deep discussions.

[2020-06-06 06:24] christiaangoossens commented on #1442
It seems to be a particularity in Traefik 2.x that only causes problems with (ex)Rancher products due to some particularities in their websocket implementation. More details and earlier research here, I have only seen this bug in the context of the Rancher UI and Longhorn: https://github.com/containous/traefik/issues/5533#issuecomment-553823512

I guess I would still count this as a bug(?) report

[2020-06-06 09:32] wopl opened #1464 "[FEATURE] SFTP backup protocol"
**Describe the solution you'd like**
An additional SFTP protocol to backup PV/PVC would be desirable.
For professional use S3 is fine, NFS4 only on a local datacenter cluster (Internet not recommended...?). For semi-professional and small deployments SFTP might be an additional option.
Allows to connect a wider range of backup-resources (storage boxes etc.). For the cases S3 and NFS is not availab

[2020-06-06 12:46] krishofmans commented on #526
I quickly tried after installing k3os, but can't seem to get the volume attached
![image](https://user-images.githubusercontent.com/999774/83944496-3625bd80-a804-11ea-98d3-c69377f944e6.png)

Tried by another another disk, assuming possible kubelet datadir issue, but same issue:
![image](https://user-images.githubusercontent.com/999774/83944529-59506d00-a804-11ea-987d-d1fa98618a0c.png)

[2020-06-06 14:17] runningman84 commented on #1461
I have updated everything using helm upgrades for quite some time without big problems. After the helm release was updated I updated the engine for each volume in the gui.

[2020-06-06 16:36] threedliteguy opened #1465 "[BUG] Power loss causes volume unable to mount"
Description:
Hard reset of k3s cluster causes intermittent volume failure to recover.

MountVolume.SetUp failed for volume "pvc-0e0511b0-019e-4305-af82-fa524b1a088f" : rpc error: code = InvalidArgument desc = There is no block device frontend for volume pvc-0e0511b0-019e-4305-af82-fa524b1a088f

Deleting pod or pvc does not help.

**To Reproduce**
Steps to reproduce the behavior:
0. Install latest

[2020-06-06 19:25] yasker commented on #1465
@threedliteguy Can you try v1.0.0? We've fixed a few issues regarding the power down cases in v1.0.0.

Also, power down immediately after data are written is like pulling a hard drive, there can be data stored by the filesystem's cache but hasn't been written to the underlying block device yet. It's possible that the disk might need `fsck` or similar to recover the data later. But in your case, th

[2020-06-06 22:15] threedliteguy commented on #1465
I upgraded to 1.0.0 and tried the same test and did not have any issue this time, although I may have to try a few more times to be sure.

[2020-06-07 00:00] prasenforu opened #1466 "Does it support NFS backed storage?"
Does it support NFS backed storage?

Please help me to implement on NFS backed storage.

[2020-06-07 11:48] tscswcn opened #1467 "[Question] worknode must install iscsi-initiator-utils?"
Do the worknodes need to install `iscsi-initiator-utils`?

[2020-06-07 11:58] tscswcn opened #1468 "[Question] get issue error: listing backups: setting backup-target is empty"
[Question] get issue error: listing backups: setting backup-target is empty

how to fix

[2020-06-07 14:42] nsmith5 commented on #526
Huh, I've got this working pretty well now. I'm on k3os 0.10.2 now with 3 nodes, 2 cpu each and 6 GiB ram each. Perhaps your cluster is a little resource starved?

[2020-06-07 14:48] ShadowJonathan commented on #526
@krishofmans can you look at the actual events the scheduler pumps out as to why it's not being scheduled? Also, what version of longhorn are you using?

[2020-06-07 15:58] threedliteguy commented on #1465
I restarted everything with 'shutdown now' a second time, and this time 3 out of about 87 pods failed to attach volumes (events below from 'describe'). I wonder if it's helpful to increase priority of longhorn-system pods so that they are able to start before the other dependent application pods.

kubectl  describe pod cassandra-4

 Warning  FailedMount  22m (x11 over 29m)    kubelet, a3.localdoma

[2020-06-07 17:06] krishofmans commented on #526
@ShadowJonathan ok, sorry for the scarce information.

Rancher 2.4.4, imported K3os Kubernetes Version: v1.17.5+k3s1, fresh baremetal install.
Longhorn is 1.0.0

I deleted the test volume and recreated it. Picking either iscsi or block storage doesn't make a difference:
![image](https://user-images.githubusercontent.com/999774/83974651-449cd380-a8ef-11ea-8784-393b9c00bd3d.png)

I went through all

[2020-06-07 17:43] ShadowJonathan commented on #526
Hmmm, I don't particularly know what im looking at myself (because i havent used longhorn yet, or have a rancher server), but this should be enough info to help.

Pinging @yasker

[2020-06-07 18:16] krishofmans commented on #526
Thanks, I've given @yasker cluster owner on the imported k3os: https://rancher.rotate-it.be/c/c-gbhpx since it's not a production setup anyway, and this cluster was merely for testing both k3os and longhorn. This will likely cut back on the back&forth.

[2020-06-07 20:17] threedliteguy commented on #1465
More info if this helps -
Rebooting cluster once again resulted in a fewer number of stuck pods that time around.
Then I found that if I cordon the node the stuck pod(s) is on, delete the pod, wait for it to start on another node, then uncordon the node, then it usually ran ok instead of being stuck in Unknown or ContainerCreating.  One pod also failed on the next node too so I cordoned it also an

[2020-06-08 00:16] #1033 closed

[2020-06-08 02:08] shuo-wu commented on #1197
Do we need to test anything manually before closing this issue? IMO, the issue can be closed as long as all integration tests get passed.

[2020-06-08 02:40] yasker commented on #1197
It's fine. Since it's a refactoring on engine API level, if something went wrong we will know.

Mark as fixed and close the issue.

[2020-06-08 02:40] #1197 closed

[2020-06-08 03:40] shuo-wu commented on #1461
1. IMO, the live upgrade should be supported by default if we don’t claim the disabling.
2. I think you are concerning the issue `an extra set of (old) engine instance manager running after the live upgrade`. Actually we already make [a decision](https://github.com/longhorn/longhorn-manager/pull/499) for it: When we refactor the live upgrade, I want to support live upgrade as long as it’s possible

[2020-06-08 04:03] yasker commented on #1461
@shuo-wu sounds good. We shouldn't explicitly disable it then.

And thanks for the input @runningman84 . We will support live upgrade as much as we can in the future releases.

[2020-06-08 04:03] #1461 closed

[2020-06-08 10:04] modogo2000 opened #1469 "[BUG]Set up recurring jobs backup"
**Describe the bug**
I try to initialise the recurring backup and snapshot and I have this message error when edit the storage class:

storageclasses.storage.k8s.io "longhorn" was not valid:
 parameters: Forbidden: updates to parameters are forbidden.

this is the edit of the storageclass :

allowVolumeExpansion: true
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  annotations:
    st

[2020-06-08 10:05] shuo-wu commented on #1451
The UI fix LGTM except for the volume detail page.
I think we can show the same icon and tooltips in the volume detail page. @smallteeths

The tests for the UI part:

Test1:
1. Create and attach a volume.
2. Power off the attached node.
3. Wait for the UI showing the icon then check the tooltips.
4. Power on the node.
5. Wait for the icon disappearing and the volume reattaching.

Test2:
1. Create

[2020-06-08 12:29] threedliteguy commented on #1465
UI is using alipayobjectshttps://atlas.eff.org//domains/alipayobjects.com.html

    On Monday, June 8, 2020, 04:25:17 AM CDT, Shuo Wu <notifications@github.com> wrote:

After reboot, it seems that Longhorn doesn't reattach the volume correctly then Kubernetes fails to remount it. Hence the error There is no block device frontend is triggered.
https://github.com/longhorn/longhorn-manager/blob/3124d

[2020-06-08 16:51] khushboo-rancher commented on #1469
@modogo2000 Kubernetes doesn't allow editing of parameters of Storage Class, you can always create a new one with required parameters.

[2020-06-08 17:18] ttpcodes commented on #1379
Just patching the `vendor` in order for the `LeaderElectionRecord` to work properly isn't working since it's causing a panic as a result. It looks like it's related to a race condition that was fixed in kubernetes/kubernetes#87899. However, it doesn't look like this fix has been ported back to the version of the `Kubernetes API` that we are using. We also can't manually patch this bug, since there

[2020-06-08 17:28] dweomer commented on #526
@krishofmans is looks like you are running with a single node. By default, Longhorn requires a minimum of three. Please see https://longhorn.io/docs/1.0.0/best-practices/#minimum-recommended-hardware /cc @yasker

[2020-06-08 17:28] yasker commented on #526
Hi @krishofmans , we've enabled hard anti-affinity by default in v1.0.0. So you will need to have 3 nodes minimal to run Longhorn. I've taken a look at your setup and there is only one node, so the replica scheduling will fail for the new volumes.

[2020-06-08 17:35] ShadowJonathan commented on #526
@yasker question just out of curiousity, will longhorn also schedule on master nodes? Or only if that tolerance is applied?

[2020-06-08 17:39] yasker commented on #526
@ShadowJonathan Longhorn pod will only be scheduled to the worker node, so in the case of a master node are tagged as a worker as well, Longhorn will schedule pods there. It's not by design scheduled to the master nodes. Just curious, what's your use case?

[2020-06-08 17:46] yasker commented on #1366
https://github.com/longhorn/longhorn-manager/pull/601 merged, move back to `Merged`

[2020-06-08 17:51] yasker commented on #1467
Hi @tscswcn , it's in the requirement: https://longhorn.io/docs/1.0.0/deploy/install/#installation-requirements

[2020-06-08 17:52] yasker commented on #1468
Do you see it on all the pages or just `Backup` page? The later is expected since without `backup target` there is no backup to be seen.

[2020-06-08 17:53] krishofmans commented on #526
Ok great, now we know why it doesn't work :)

I was hoping that, k3(o)s being an edge usecase, with hardware resources being (more) limited, that longhorn would serve the case where we've traditionally used vmware esxi/vsphere for snapshotting/backups before software deployments.

We ship hardware appliances to customers, but it's usually just one physical server (up to 56 cores/384gb ram), so spl

[2020-06-08 17:54] yasker commented on #1466
We're working on an example to run NFS on top of Longhorn on #1183 for now. Later we will add more native and HA features to NFS solution.

[2020-06-08 17:55] yasker opened #1470 "[FEATURE]Native RWX with Longhorn volume"
We want to support RWX on Longhorn. Probably using NFS protocol in someway.

[2020-06-08 18:02] yasker commented on #526
@krishofmans One of the highlighted features of Longhorn is HA, which means if you have multiple nodes and one is down, then your workload will be still running. HA doesn't make much sense in a single node environment though. You can definitely create a new StorageClass with replica=1 and use it with a single node cluster, you will still enjoy snapshot/backup. For a single node, https://github.com

[2020-06-08 18:16] yasker commented on #1374
The UI has changed the setting to use markdown style. The only except is to use `\n\n` for line change instead of `\n`.

[2020-06-08 18:18] krishofmans commented on #526
Great, snapshot/backup is already a great added value over the local path provisioner, everything is working fine with the new storage class.

![image](https://user-images.githubusercontent.com/999774/84065737-23a6b200-a9c5-11ea-8bf1-5ebcf090433a.png)

Thanks!

[2020-06-08 19:11] ShadowJonathan commented on #526
I was simply being curious as I have a fairly limited and constrained environment with only 3 worker nodes (physical ones), that's why I wanted to know if the master node can be used as a failover in case any node goes offline

[2020-06-08 20:53] yasker commented on #526
@ShadowJonathan In fact three nodes are fine since Longhorn only requires one of them to be online to serve the volume correctly. So you can afford two nodes down in the default setup, though it's better if they come back soon to restore the robustness of the volume.

[2020-06-08 21:14] ShadowJonathan commented on #526
@yasker understood, thanks for explaining that, I was mainly afraid if longhorn wouldn't function correctly if:
1. A node goes suddenly offline and k8s schedules the pods somewhere else after 5 mins, and requires the volume. (With all the attach stuff involved, I know longhorn has some issues if the pod actually never went "offline", only "missing", but was that fixed in v1?)
2. I manually drain t

[2020-06-08 21:15] khushboo-rancher commented on #1404
Verified on Master - 06-08-2020

Verification - **Failed**

**Scenarios tested:**
1. Delete all backups on google backup store - Passed.
2. Delete individual backup on google backup store - Failed.

**Steps follow**
1. Set up a google backup store.
2. Set the backup target as google backup store in longhorn.
3. Create a volume, attach to a pod. Write into the volume.
4. Take multiple backups.
5. T

[2020-06-08 21:59] ttpcodes commented on #1424
Since #1404 has been resolved, this issue can be reproduced by using the following Quay.io `Engine Images` that I've built:
- `quay.io/ttpcodes/longhorn-engine:no-cleanup` - `Snapshot` and `Backup` deletion are both set to return an error. If the `Snapshot` part of a `Backup` fails, that will error out first and `Backup` deletion will not be reached.
- `quay.io/ttpcodes/longhorn-engine:no-cleanup-

[2020-06-08 22:20] yasker commented on #526
@ShadowJonathan We've addressed the first scenario in v1.0.0. See https://longhorn.io/docs/1.0.0/high-availability/node-failure/#volume-attachment-recovery-policy

The second case wouldn't prevent the normal workload from working, but when the node is down, new volumes won't be allowed to be created in Longhorn since it will cause scheduling failure when 1. replica count is set to 3; 2. node level

[2020-06-08 22:36] ShadowJonathan commented on #526
@yasker thanks for the explaination, sorry for the off-topic diversion, it's not likely I'll create new volumes when a node is down, unless I have a horizontal pod scaler on a statefulset or something.

[2020-06-08 22:53] khushboo-rancher opened #1471 "[BUG] There is a delay in deleting backup.cfg on backup store."
**Describe the bug**
There is a delay in deleting individual backup on backup store. On clicking delete backup from backup page in longhorn, it still continues to show backup available to perform action on it.

**To Reproduce**
**Scenario 1**
1. Create a volume and attach to a pod. Write data into the volume(500 mib).
2. Set up an s3/nfs backup store.
3. Take a backup.
4. Go to backup page and cli

[2020-06-08 23:01] khushboo-rancher opened #1472 "[BUG] UI: Backup continues to appear in longhorn UI after deletion till page is refreshed."
**Describe the bug**
On clicking delete backup from backup page in longhorn, it still continues to show backup available to perform action on it till a considerable time.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume and attach to a pod. Write data into the volume(500 mib).
2. Set up a s3 backup store.
3. Take a backup.
4. Go to backup page and click delete the backup.(Indi

[2020-06-08 23:05] #1404 closed

[2020-06-09 00:43] khushboo-rancher commented on #1366
Verified on master - 06-08-2020

Verification - **Passed**

**Scenarios tested:**
1. Power down the attached node when DR volume restore is in progress.
2. Power down the attached node when DR volume incremental restore is in progress.
3. Power down a replica node when DR volume restore is in progress.
4. Power down a replica node when DR volume incremental restore is in progress.
5. Reboot the at

[2020-06-09 00:43] #1366 closed

[2020-06-09 03:07] shuo-wu commented on #1465
Sorry, I cannot follow what you are talking about...

[2020-06-09 07:11] modogo2000 commented on #1469
Hi,

Thank you for the information. I recreate the storage class the issue is solved.

May be add a comment or give an option in the catalog to activate the recurring backup will be interressting.

[2020-06-09 07:11] #1469 closed

[2020-06-09 07:49] Sheldonwl opened #1473 "[FEATURE] Implement Alerts and Notifications from Rancher for Longhorn"
**Is your feature request related to a problem? Please describe.**
This feature request relates to: https://github.com/longhorn/longhorn/issues/928https://github.com/longhorn/longhorn/issues/928
It would be nice to setup Alerts and Notifications in Rancher to get notified about certain things in Longhorn.

**Describe the solution you'd like**
To be able to create Alerts from within Rancher and att

[2020-06-09 07:54] Sheldonwl opened #1474 "[FEATURE]: Enhance Longhorn RBAC from Rancher"
**Is your feature request related to a problem? Please describe.**
Currently Longhorn is seen as an admin UI. It would be nice to have certain roles in place to give users different type of permissions. Those roles should be set in Rancher and will provide a user with a certain set of capabilities. Like, creating volumes, creating snapshots/backups, deleting volumes, editing settings, etc.

**Desc

[2020-06-09 08:01] Sheldonwl opened #1475 "[FEATURE]: Full cluster backup from Rancher"
**Is your feature request related to a problem? Please describe.**
Currently a user has to have a backup of the application volumes, a backup, the RKE state file and a backup of etcd, stored in separate placed, managed by separate tools.

**Describe the solution you'd like**
Would like to see an option in Rancher to do a full backup of an entire cluster. This would contain all configurations and b

[2020-06-09 11:28] threedliteguy commented on #1465
I went to create a support bundle so I think I needed to set up the ui by adding an Ingress. But when I tested with curl it showed an alipayobjects url, which would be a security issue.

[2020-06-09 11:58] shuo-wu commented on #1465
Do you mean the ingress/UI setup in Longhorn doc doesn't work? If YES, we can file a separate issue to track that.

[2020-06-09 12:02] threedliteguy commented on #1465
yes

[2020-06-09 14:13] abuisine commented on #1180
Happy to give it a try as soon as it is available in a rc

[2020-06-09 15:55] mshack70 commented on #1447
I was initially just thinking that node scheduling, or disk scheduling.  But it might also be nice to allow for labels to be set on all, or even the disk path to be set to all (if doing something other than the standard location), vs. having to click on each one.

[2020-06-09 17:10] 1bigchonk commented on #1379
I’m _really_ new to k8, so if I’m completely off base I’m sorry.

Could this be fixed temporarily with a canary rollout?

[2020-06-09 17:28] yasker commented on #1475
This is going to be a bit hard on the etcd part since Longhorn depends on the Kubernetes API server and etcd to store the metadata, so Longhorn won't be able to be used to run etcd.

[2020-06-09 18:13] meldafrawi commented on #1435
Manual Validation: **PASSED**

1. Create vol blkand mount to a node on /mnt/blk
2. Take backup(1)
3. Write data to volume using `dd if=/dev/urandom of=/mnt/blk/data2 bs=1M count=512 `status=progress
4. Dake backup(2)
5. Write data to volume using `dd if=/dev/urandom of=/mnt/blk/data2 bs=1M count=512 `status=progress
6. Take backup(3)
7. While backup(3) is in progress, Immediately delete backup(1)

[2020-06-09 20:09] fooevr opened #1476 "[Question] PVC auto created successfully, but pod start failed with error "Unable to attach or mount volumes""
longhorn web UI can attach and detach pvc, but pod in rancher v2.4.4 (kubernetes v1.17.0) failed with this error:

all longhorn's pods looks work fine. how to locate my failed reason?

[2020-06-09 21:57] mshack70 opened #1477 "s3 url"
Does the s3 backup option support a non amazon s3 endpoint?  We use internal s3 storage and I dont think that the s3://<your-bucket-name>@<your-aws-region>/  will not work for that as there is no option to include the http(s) endpoint.

[2020-06-09 22:19] ttpcodes commented on #1477
You can specify a non Amazon S3 endpoint by specifying the `AWS_ENDPOINTS` key in the `Secret` that you are using to provide the access keys. See [this page](https://longhorn.io/docs/0.8.0/users-guide/backup-and-restore/backupstores-and-backuptargets/) for more information. In the example shown, we have the `AWS_ENDPOINT` set to `http://minio-service.default:9000` for a locally running `Minio` ser

[2020-06-09 23:20] yasker commented on #1447
@mshack70 it will quite some redesign to handle the disk level objects because a node can have multiple disks. Current set node level scheduling is straightforward, but tags are different because there can be existing tags on the node, should we expect to replace them or just add new tags? How about deletion? This will require some thoughts.

[2020-06-09 23:33] khushboo-rancher commented on #1424
Verified on master - 06-09-2020

Verification - **Failed**

Steps:
1. Set up a Google cloud backup store.
2. Enable recurring backup with 1 min interval and retain count 2.
3. After sometime, Disabled the recurring backup.
4. Backup page shows 3 backups. It seems there is always one extra backup present than retain count.

[2020-06-09 23:54] yasker commented on #1374
@joshimoo The frontend markdown schema change has been merged. Can you update the description for the settings?

[2020-06-10 00:03] joshimoo commented on #1424
@khushboo-rancher did you verify that the extra backup is actually present on s3?
I remember you having some caching issues when testing #1404

[2020-06-10 00:03] joshimoo commented on #1374
Will format the settings.

[2020-06-10 00:08] khushboo-rancher commented on #1424
It doesn't look like cache issue here, Even if I check backup page after 1 hour, there is one extra backup appearing.
Attaching the logs
[longhorn-support-bundle_6d37239e-54b2-4db0-817a-b238375b6f18_2020-06-09T23-23-50Z.zip](https://github.com/longhorn/longhorn/files/4755463/longhorn-support-bundle_6d37239e-54b2-4db0-817a-b238375b6f18_2020-06-09T23-23-50Z.zip)

[2020-06-10 00:10] yasker commented on #1471
Sounds like a duplicate of https://github.com/longhorn/longhorn/issues/1423

[2020-06-10 00:12] yasker commented on #1182
Duplicate of https://github.com/longhorn/longhorn/issues/1470

[2020-06-10 01:12] fukunagt opened #1478 "[Question] Only one of longhorn-csi-plugin container cannot start"
Hi, I have installed Longhorn using Helm as below.
https://longhorn.io/docs/0.8.0/getting-started/quick-start-with-helm/

Only one longhorn-csi-plugin cannot start.
[code]

And I have got the following message.
[code]

Do you have any good idea to fix this issue?

[2020-06-10 01:35] shuo-wu commented on #1465
Can you file a bug then? I don't know the details of this UI issue, including the setup and the reproducing steps.

[2020-06-10 05:35] fukunagt commented on #1478
I have an additional information. I have installed v1.0.0.
[code]

[2020-06-10 09:02] fukunagt commented on #1478
I complete forgot to do the following step :-(
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#letting-iptables-see-bridged-traffic

I will apply it and I will tell you the result.

[2020-06-10 10:24] fukunagt commented on #1478
Hmm... I cannot fix it. On the other node, the same issue occured.
[code]
[code]

[2020-06-10 11:02] timmy59100 commented on #538
Still happens in 1.0.0

![image](https://user-images.githubusercontent.com/7300669/84260630-a42af700-ab1a-11ea-8e1f-171cc60fd75f.png)

[2020-06-10 17:10] yasker opened #1479 "Migrate Longhorn Infrastructure to CNCF"
This contains the tasks we want to do to migrate Longhorn infrastructure to CNCF.

- [x] Setup Rancher and Kubernetes cluster.
- [x] Run the upgrade responder and provide a dashboard to the public (to be done)
- [x] GitHub Runner (to be done)
- [x] Migrate Jenkins
- [x] Migrate Drone.

[2020-06-10 23:04] yasker opened #1480 "[BUG]Add `additionalPrinterColumn` to CRDs"
Check https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#additional-printer-columns

As the first step, we need to define what fields should be exposed.

It might impact the upgrade, depends on if CRDs allow editing.

[2020-06-10 23:31] joshimoo commented on #1410
After discussing with @khushboo-rancher we decided to address the general case here and just ignore & log invalid named files instead of erroring out.

[2020-06-10 23:41] khushboo-rancher commented on #1410
On current master, if a faulted backup file exists for volume v1, other backups of v1 are not being shown on UI but backups related to other volumes(having no faulted backup.cfg) are shown on backup page.

There are two scenarios here:
1. If a backup.cfg file is faulted in backup store for volume v1, other backups of same volume v1 should be retrieved properly.
2. If a backup.cfg file is faulted i

[2020-06-10 23:52] khushboo-rancher opened #1481 "[BUG] Mapping of error messages to user friendly error messages on UI for backup retrieve problems."
**Describe the bug**
Different error messages appearing in backup page when system fails to retrieve the backup from store should be mapped to more user friendly messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume, take backup b1, b2, b3
2. Go to backup store, delete the content of b3 config file.
3. Change the backup config file of b2 and make json invalid.
4. Open the

[2020-06-11 00:08] ttpcodes commented on #1221
Are you running into this issue on new `PersistentVolumes`, or just existing ones? If this issue is occurring on existing `Volumes`, and these `Volumes` hold a lot of data and are high in inodes, then I think this is connected to kubernetes/kubernetes#69699.

The permissions change to match `fsGroup` is not actually handled by `Longhorn`, but rather by `Kubernetes` by `kubelet` during the `Volume`

[2020-06-11 00:57] joshimoo commented on #1385
There isn't really anything we can do here.
By altering the block mapping for the backup.cfg. The backup no longer depends on the removed blocks, so any restore would not be correct since it would be missing the removed blocks.

[2020-06-11 01:11] khushboo-rancher commented on #1263
Verified on master - 06-10-2020

Verification - **Passed**

**Steps followed:**
1. Create a volume
2. Write about 800M of data in it in file1.
3. Take a backup b1. The block space in backupstore will be of size 800M
4. Overwrite file1 with 800M of data.
5. Take another backup b2. The block space in backupstore will be of size 800M *2
6. Delete b1
7. Interrupt the deletion process by deleting the m

[2020-06-11 03:11] fooevr commented on #1476
@joshimoo thanks for your help.
It's a clean install.
`kubectl get volumeattachments --all-namespaces` return `no resources found`.

`kubectl describe ` logs
[code]

[2020-06-11 03:57] joshimoo commented on #1476
@fooevr could you upload a support bundle?

[2020-06-11 04:29] wopl commented on #1457
There seems to be a coincidence to the issue #1442 filed by me as well.
Not sure yet, but I did have a lot of zombies, as long as the websocket problem was not solved (solved now by Ingress adding a Header). At this point I am struggling with NFS backup targets and as long as the target is not reachable, I see Zombies again. In both cases (websocket, backup) we ran into communication timeouts. Cou

[2020-06-11 04:49] fooevr commented on #1476
[longhorn-support-bundle_868fbd2a-90df-471a-8323-0d5fdf080cd3_2020-06-11T04-48-24Z.zip](https://github.com/longhorn/longhorn/files/4762620/longhorn-support-bundle_868fbd2a-90df-471a-8323-0d5fdf080cd3_2020-06-11T04-48-24Z.zip)
@joshimoo thanks a lot

[2020-06-11 04:50] fooevr commented on #1476
[longhorn-support-bundle_868fbd2a-90df-471a-8323-0d5fdf080cd3_2020-06-11T04-48-24Z.zip](https://github.com/longhorn/longhorn/files/4762623/longhorn-support-bundle_868fbd2a-90df-471a-8323-0d5fdf080cd3_2020-06-11T04-48-24Z.zip)
@joshimoo Thanks a lot.

[2020-06-11 06:45] fukunagt commented on #1478
Oops! You say that I need 4 vCPUs and 4GiB for each node at least.
https://longhorn.io/docs/1.0.0/best-practices/#minimum-recommended-hardware

[2020-06-11 11:02] arturmon opened #1482 "[Question]How to split replicas by host labels?"
given:
3 hosts with one label (PV1)
1 host with a different label (PV2)
It is required to separate replicas by labels. For example: 3 replicas, one must go to the host with the PV2 tag, the rest of the replicas can be scattered across the hosts with the PV1 tag. How to implement this? at the moment we get error 'Scheduling Failure Replica Scheduling Failure'
![image](https://user-images.githubuser

[2020-06-11 16:09] fooevr commented on #1476
I've remove `kubelet/extra_args` and `kubelet/extra_bindings` config from `rancher-cluster.yml`, then `rke up --config=rancher-cluster.yml` again is ok now. thanks. @joshimoo

[2020-06-11 16:54] yasker commented on #1478
@fukunagt That's recommended for the production environment. If you are only using it for testing/small deployment, your setup might be fine. Pay close attention to CPU and memory utilization though.

[2020-06-11 17:42] joshimoo commented on #1480
links seems to be no longer valid:

below might contain additional information about the `additionalPrinterColumns` for the crd spec.
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#customresourcedefinitionspec-v1beta1-apiextensions-k8s-io
https://kubernetes.io/docs/reference/using-api/api-concepts/#receiving-resources-as-tables

[2020-06-11 17:48] joshimoo commented on #1468
If you are trying to setup a backup target have a look at the documentation [here](https://longhorn.io/docs/0.8.1/snapshots-and-backups/backup-and-restore/set-backup-target/)

[2020-06-11 19:27] yasker commented on #1480
Thanks @joshimoo , link updated.

[2020-06-11 19:35] joshimoo commented on #1482
@arturmon
From your question, it sounds like you are trying to setup multiple failure zones. If your nodes are indeed in different [zones](https://kubernetes.io/docs/setup/best-practices/multiple-zones/).
Additional information about zone setup [here](https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#topologykubernetesioregion).

Using multiple zones has impact on your