[2019-07-25 13:57] yasker commented on #644
To be safe, let set it to 30 minutes instead. Also we can do the same with restoration.

[2019-07-25 14:20] yasker commented on #49
@shreesha21 We need to update the replica field in the manager API to report the replica name instead of IP, otherwise it's hard for UI to figure out which is which. Only need to update the manager API, no change needed for the engine.

[2019-07-25 14:21] yasker opened #650 "Disable base image feature for now"
We need to disable base image for manager and manager integration test since the new deployment model doesn't support it currently.

We will reintroduce it later.

[2019-07-25 18:37] cisiever commented on #647
Thanks, I'll give that a try.

[2019-07-25 19:18] meldafrawi commented on #563
**Validation: PASSED**

Steps to test:
  - In `Settings` page, make sure backup target is defined.

  - Backup Tests
    1- volume attached to pod, manual backup
      - Create a pvc with longhorn volume using:
      kubectl apply -f https://raw.githubusercontent.com/rancher/longhorn/master/examples/pvc.yaml
      - Write some data to `/data` directory, and compute its md5 checksum.
      - In vol

[2019-07-25 19:23] yasker commented on #563
@meldafrawi Can you check if the PVC can be automatically refilled after restoration?

[2019-07-25 21:05] meldafrawi commented on #563
Comment updated with additional checks.

[2019-07-26 00:16] #563 closed

[2019-07-26 12:50] Angelinsky7 opened #651 "[Question] Compatibily with Kubernetes 1.14.3"
Hi,
I would like to know if the current version of longhorn (0.5.0) is compatible with the 1.14.3 version of kubernetes. I tried to do the update but longhorn stopped working without any error (the volumes didn't mount) i revert back to 1.13.7 so i cannot give you more information...

Could it be possible to have this kind of information on the first page of the wiki ?
like that we won't update a

[2019-07-26 14:21] cisiever commented on #647
@yasker
I tried creating a snapshot and deleting and left overnight, it did not do any cleanup.

Now multiple volumes are showing > 10 failed replicas.

![image](https://user-images.githubusercontent.com/3027961/61958219-eb55db00-af8e-11e9-909e-31bc1ae4a0f3.png)

![image](https://user-images.githubusercontent.com/3027961/61958275-09234000-af8f-11e9-8afd-42ce0dcc405b.png)

[2019-07-26 17:33] yasker commented on #647
@cisiever Those replicas that failed to allocate is due to running out of space. As long as you saw it's `N/A` there in the replica details, those are safe to delete.

Can you send the support bundle to `longhorn-support-bundle@rancher.com` ? How many volumes you have in trouble? Currently, the most important thing is to clean up space on the second and third node. We will check how things went wr

[2019-07-26 17:52] cisiever commented on #647
Sent the support bundle.

Currently 19 of 34 volumes are degraded or detached.

[2019-07-26 18:22] yasker opened #652 "UI: Require user to fill in support bundle's issue description"
It will help the developer to know what's wrong.

Also, let users know they can send support bundle to `longhorn-support-bundle@rancher.com`

[2019-07-26 18:41] yasker opened #653 "manage: Remove timeout in the time consuming engine command"
Backup, restore, backup remove, rebuild, snapshot purge shouldn't have a timeout in the manager.

[2019-07-26 18:52] yasker opened #654 "manager: allow user to adjust replica count even if the volume is not healthy"
It can be used as a workaround in some cases.

[2019-07-26 18:58] yasker opened #655 "instance manager: need a way to run longhorn engine command manually"
We need a way to run Longhorn engine command for individual volume while using the instance manager since it will help a lot on debugging the problem.

[2019-07-26 18:59] yasker commented on #647
@cisiever We found there are two problems. One is the timeout is too aggressive (#653 ), which exposed the second problem, which is manager keep trying adding the replica already in rebuild mode to the engine but the engine didn't reset the state of the replica, which we should have fixed in the next release.

For the big volume you have, you can manually run `longhorn purge` command to clean up t

[2019-07-26 22:08] yasker commented on #653
Timeout for backup deletion removed by https://github.com/longhorn/longhorn-manager/pull/357

[2019-07-26 23:56] yasker commented on #651
@Angelinsky7 Thanks for the information, let us reproduce it in our lab first.

[2019-07-27 00:15] yasker commented on #650
@smallteeths We also need to disable `base image` related fields in the UI.

[2019-07-27 00:58] yasker commented on #651
@Angelinsky7

Brand new installation of v1.14.3 (RKE) works for us.

Can you describe how did you upgrade Kubernetes? Have you stopped the workload before upgrading? The only thing we've found is iscsiadm acts weirdly when we did the upgrade and we guess it's probably due to the overlay network change. But you should able to remount the volume after it's done.

For references, iscsiadm decides to

[2019-07-28 21:48] yasker opened #656 "instance manager: Add test case for watching mechanism"
We need to reproduce the deadlock issue in the instance manager. Also, instance manager is critical to our current framework, we need to ensure it's stability.

[2019-07-29 11:53] Angelinsky7 commented on #651
@yasker
Thanks for your time and answers again !
I tried the update again... this time draining all the nodes and shutting down longhorn volumes before and the update went without (almost) any issues...
So sorry for the noise... and thank you very much for trying for me.

[2019-07-29 11:53] #651 closed

[2019-07-29 15:06] jocarren commented on #410
I have this exact same problem, tried what you suggest but when increasing volume replica count, the new replicas are created on the same node (tried 4 replicas and all of them are created in the same node).

[2019-07-29 16:58] yasker commented on #410
@jocarren You meant, for example, the node 1 has multiple disks e.g. disk A, B, and disk A is full while disk B is still usable, Longhorn somehow skipped the disk B even it's usable while no other replicas exists on node 1?

[2019-07-29 17:01] jocarren commented on #410
Exactly.

[2019-07-29 17:03] yasker commented on #410
@meldafrawi Can you help to reproduce the issue? It sounds like a scheduler bug.

[2019-07-29 17:07] jocarren commented on #410
Of course,
What do you need?

[2019-07-29 17:08] jocarren commented on #410
@yasker can I help? looks like I have the same issue.

[2019-07-29 19:37] yasker commented on #631
Done

[2019-07-29 19:37] #631 closed

[2019-07-29 19:38] yasker commented on #621
Done

[2019-07-29 19:38] #621 closed

[2019-07-29 19:38] yasker commented on #620
Done.

[2019-07-29 19:38] #620 closed

[2019-07-29 21:32] yasker opened #657 "manager/UI: Show the status of instance managers"
We've added the instance manager as a part of Longhorn deployment now, but currently, there is no way to know if the instance manager is ready to serve.

We can add a field in the node status: Readiness: Ready, Deploying.

Ready means all the existing (compatible) engine images have been deployed on the node and instance manager of the related engine images are running.

Otherwise, it's deploying.

[2019-07-29 21:39] yasker commented on #622
This may depend on https://github.com/longhorn/longhorn/issues/593

[2019-07-29 23:00] yasker commented on #618
Done except #622

[2019-07-29 23:00] #618 closed

[2019-07-29 23:03] yasker commented on #49
@smallteeths https://github.com/longhorn/longhorn-manager/pull/355 has been merged, now API shows replica name instead of IP.

[2019-07-29 23:04] yasker commented on #653
Wait for https://github.com/longhorn/longhorn/issues/644

[2019-07-29 23:09] yasker commented on #649
Fixed by https://github.com/longhorn/longhorn-manager/pull/358.

[2019-07-29 23:09] #649 closed

[2019-07-29 23:29] yasker opened #658 "manager: extend default replica cleanup timeout to 48h"
better safe than sorry if the replica contains any data.

[2019-07-29 23:57] meldafrawi commented on #598
Validation: PASSED

Steps to test:

- In `Settings` page, make sure backup target and backup secret is properly set.
- In `Volume` page, create a volume, attach the volume to a node, mount the volume, and write some data to the volume.
- Create multiple backups.
- In `Backup` page, from the drop down menu click `Delete All Backups`

[2019-07-30 00:00] yasker commented on #598
@meldafrawi Can you double-check that the volume and backups in the backup store have been removed?

[2019-07-30 00:19] yasker commented on #644
Done.

[2019-07-30 00:19] #644 closed

[2019-07-30 00:25] meldafrawi commented on #598
@yasker
I double checked, and it is removed.

[2019-07-30 01:20] shuo-wu opened #659 "The controller endpoint of attached volume temporarily becomes empty"
It is a race condition.

`endpoint` is unset by engine monitor reset (`ResetEngineMonitoringStatus()`) during volume attach. And engine monitor reset is caused by `running` engine temporarily becoming `starting` state.

Since the engine state depends on field `Instances` of instance manager. Field `Instances` is updated by the streaming response of watch function and polling result of the main syn

[2019-07-30 17:16] #598 closed

[2019-07-30 19:21] jocarren opened #660 "Disaster recovery restoration"
According to #534 and the docs, when creating a disaster recovery volume, it shouldn't be possible to activate it until the icon turns from grey to blue.

But when I created a disaster recovery volume from a 60 GB backup (in a machine off site), the blue icon appears immediately and the "activate" option is available.

For testing purposes I activated the DR volume and created a PVC wich I can att

[2019-07-30 19:37] meldafrawi commented on #629
Validation: PASSED

Steps to test:
  - Create a volume, and attach it to a node with `Maintenance` checkbox **Unchecked**, mount it, write some data to it, and compute data's md5 checksum.

  - From `Volume Detail` page, Create a snapshot.
  - Write some another data to the volume, create another snapshot.
  - detach the volume from the node.
  - re-attach the volume to a node with `Maintenance` c

[2019-07-30 20:04] #629 closed

[2019-07-30 20:19] meldafrawi commented on #654
Validation: PASSED

Steps to test:
  - In `Settings` page, **uncheck** `Replica Soft Anti-Affinity`
  - For k8s cluster with **n** longhorn schedulable nodes, create a volume with
number of replicas = **n - 1**
  - Attach the volume to a node

  - In `Volume` page, from drop down menu on the right click on `Update Replica Count`, set the number of replicas equal to **n + 1**

  - In `Volume` page,

[2019-07-30 20:32] yasker commented on #660
@jocarren

The first time DR volume was attached, the first backup has already been restored automatically. That's why it shows blue immediately. When the newer backups are created later, the icon will become grey while the incremental restoration in progress, and turn back to blue while it's ready to be activated.

If you want to simply restore a backup to a volume, you can choose the backup afte

[2019-07-30 21:56] #654 closed

[2019-07-30 23:51] yasker opened #661 "manager: Take instance manager into uninstallation consideration"
The uninstallation steps don't work anymore due to the instance manager.

[2019-07-31 01:26] yasker commented on #661
It's already been addressed.

[2019-07-31 01:26] #661 closed

[2019-07-31 01:32] yasker commented on #648
https://github.com/longhorn/longhorn-manager/pull/368 has added `timestamp` fields in the various resource and it should help the caller to know which status can be dropped if needed.

[2019-07-31 15:55] jocarren commented on #660
I see, thanks.

Just to be clear: Actual data transfer from backupstore to backupcluster begins once the DR recovery volume is attached to a node in backupcluster. Not when DR volume is created.

[2019-07-31 17:36] yasker commented on #660
@jocarren Yeah, we will make it easier in the next release to automatically attach the DR volume once it's created. And the only way to detach it would be to activate the volume.

[2019-07-31 17:39] #602 closed

[2019-07-31 17:40] yasker opened #662 "UI: The detach button of standby volume should be removed"
Once a DR volume is attached, the only way to detach it is to activate it.

[2019-07-31 19:10] yasker commented on #653
@meldafrawi Old timeouts:
1. Purge (snapshot deletion): 15 minutes
2. Backup: 6 hours.
3. Rebuild: 3 hours.
4. Restoration: No limit, make sure it stays that way.

Best way to simulate purge is to create a few big snapshots, then use Longhorn command line to mark the snapshot as removed, then create a new snapshot in the UI, then delete it. The last step will trigger `snapshot purge` in Longhorn m

[2019-07-31 20:06] cisiever commented on #647
@yasker
I ran the purge on the larger volumes and cleaned up a lot of space. So all good there.

Currently there are a lot of volumes that are stuck detaching or attaching for the past few days. I sent a support bundle created today to longhorn-support-bundle@rancher.com

[2019-07-31 20:17] yasker commented on #656
Per discussion with @ttpcodes , for the watch function itself, the deadlock happens no matter there is someone watching the object or not. It's better to be tested using a stress test rather than an integration test.

Close this issue.

[2019-07-31 20:17] #656 closed

[2019-08-01 00:32] shuo-wu commented on #655
Steps to run longhorn engine cmd manually:

1. Use `kubectl -n longhorn-system get lhe <engine-name> -o yaml`. Find engine process port in `status.port` and related instance manager in `status.instanceManagerName`.
2. Use `kubectl -n longhorn-system exec -it <instance-manager-name> bash` to enter instance manager pod.
3. Run longhorn engine cmd `longhorn --url localhost:<engine-process-port> ...`

[2019-08-01 00:51] yasker commented on #657
Backend merged at https://github.com/longhorn/longhorn-manager/pull/370

[2019-08-01 05:33] yasker opened #663 "UI: Setup CI"
Longhorn UI should have Drone enabled similar to Longhorn Manager and Longhorn Engine.

PR should enable building process.

The commits merged to master should automatically push the latest image to `longhornio/longhorn-ui:master`.

[2019-08-01 05:34] yasker opened #664 "manager: Update deploy files to use `master` during development cycle"
We're using `longhornio/longhorn-manager:master` and `longhornio/longhorn-engine:master` for nightly tests, so they should always keep in sync and relatively stable.

[2019-08-01 06:19] yasker opened #665 "Snapshot purge progress support"
In order to address https://github.com/longhorn/longhorn/issues/581 and provide better usability, we want to provide `snapshot purge` (snapshot rm from manager's POV) progress support.

1. Move the snapshot purge operation to the `sync agent server`.
2. Store the progress information in the sync agent server.
3. Report the progress using `longhorn snapshot purge-status` command.
4. Prevent multipl

[2019-08-01 17:38] yasker commented on #49
@smallteeths reports that the replica states during the restoration are switching between `RW` and ``(empty). @shreesha21 ^^

[2019-08-01 19:08] yasker commented on #647
@cisiever I am stilling check the log. Some of the pods stuck in the detaching should be deleted already but it didn't happen. Anything abnormal happened during the process?

[2019-08-01 19:39] yasker commented on #647
@cisiever something is wrong with node `o-kube03-de` and `o-kube06-de`. The managers running on those two nodes seems out of sync with Kubernetes. Can you try to delete the managers `longhorn-manager-fsxwx` and `longhorn-manager-msr6v`? They should be recreated automatically and once they're back to the service, the status sync should continue. I am still trying to figure out what's happened.

[2019-08-01 19:39] cisiever commented on #647
I actually restarted the managers one at a time on the nodes and it cleaned up most of the stuck pods, save for 2.  Nothing abnormal going on. I held off doing anything else for a few days to see if it was too much load causing the pods not to detach.

[2019-08-01 19:47] meldafrawi commented on #652
Validation: FAILED

Steps to test:
  - on UI footer, click on `Generate Support Bundle`
    (1) Leave `Description` empty, and click `OK`

         "Please fill in support bundle's issue description"

    (2) Enter a single white space, and click `OK`

    (3) Enter a description, and click `OK`

[2019-08-01 20:20] meldafrawi commented on #662
Validation: **WIP**

Steps to test:
  - Ensure that backup target is configured correctly on clusters A & B and points to the same backup target.
  - On Cluster A:
    - Create a volume, attach it to a node
    - In `Volume Details` page, create a backup.
  - On cluster B:
    - In `Backup` page, from drop down menu click `Create Disaster Recovery Volume`, wait until volume be in healthy state.

[2019-08-01 22:43] shuo-wu opened #666 "Engine/Replica state will become `error` first then `stopped` during detaching"
[code]

It seems that graceful shutdown of the replica/controller process doesn't return the correct code. Then the error is not nil here:
https://github.com/longhorn/longhorn-instance-manager/blob/65e05c9f4ec4d7d97bcf5e56ef9a1d4c9e040967/process/process_manager.go#L401

[2019-08-01 23:08] ttpcodes commented on #666
The shutdown `hook` that gets registered and called on both the `Controller` and the `Replica` is this:

https://github.com/longhorn/longhorn-engine/blob/f0240e283659f2d58daae75791e59fb881585ff5/app/shutdown.go#L26-L39

Assuming that this `hook` is meant to indicate a clean shutdown, this should be modified so that it doesn't return an `exit code` of `1`, since that `exit code` represents some kin

[2019-08-01 23:59] meldafrawi commented on #653
Validation: **WIP**

Steps to test:

  (1) backup
  - In `Settings` page, make sure that backup target is correctly configured.
  - Create a volume with large size ~ 200 GB, attach it to a node, format it, mount it to a directory on attached node.
  - Write a large data file that consumes all/most of volume size ~198 GB
  - In `Volume Details` page, create a backup.

[2019-08-02 01:10] yasker commented on #606
Done

[2019-08-02 01:10] #606 closed

[2019-08-02 01:10] yasker commented on #597
Done.

[2019-08-02 01:10] #597 closed

[2019-08-02 01:12] yasker opened #667 "UI: Add deleting state for backup volumes and backup"
The backup volume and backup has a new field named `deleting` to indicate it's deleting

[2019-08-02 05:12] yasker opened #668 "engine: build failed sometime after deleting flag of backup checked in"
[code]

[2019-08-02 06:22] yasker commented on #667
Cancel the work. Backend cannot pass integration test.

[2019-08-02 06:22] #667 closed

[2019-08-02 06:38] yasker commented on #668
Backup deleting flag reverted.

[2019-08-02 06:38] #668 closed

[2019-08-02 06:39] yasker commented on #668
https://github.com/longhorn/longhorn-engine/pull/399

[2019-08-02 06:40] yasker commented on #634
Also using different volume name to make sure there won't be interference between the test running on the same node.

[2019-08-02 17:31] yasker commented on #648
@smallteeths ^^

[2019-08-02 17:36] yasker commented on #639
@ttpcodes Can you provide a reproduce step?

[2019-08-02 17:42] yasker commented on #513
No longer failed.

[2019-08-02 17:42] #513 closed

[2019-08-02 17:57] yasker commented on #652
@meldafrawi Fix merged.

[2019-08-02 18:30] yasker commented on #657
@smallteeths Now the backend shows up the `managerType` to be `replica` or `engine`.

UI needs to read from `InstanceManager` list and `EngineImage` list. The engine name will be used to match the two.

[2019-08-02 18:48] #658 closed

[2019-08-02 18:48] yasker commented on #658
Done.

[2019-08-02 19:12] meldafrawi commented on #652
Validation: **PASSED**

[2019-08-02 19:13] #652 closed

[2019-08-02 19:36] meldafrawi commented on #650
Base image disabled.

[2019-08-02 20:43] meldafrawi commented on #49
Validattion: **PASSED**

Steps to test:
  - Create a volume, attach it to a node, format it, mount it to a directory on attached node, write some data to it.
  - In `Settings` page, make sure backup target is correctly configured.
  - In `Volume Details` page, Click `Create Backup`, and wait for backup to complete.
  - In `Backup` page, click on volume name
  - From the right drop down menu of the

[2019-08-02 20:43] #49 closed

[2019-08-02 20:50] meldafrawi commented on #650
`Base Image` need to be removed from `Create Disaster Recovery Volume` modal

![Screenshot from 2019-08-02 22-46-56](https://user-images.githubusercontent.com/18232258/62398051-e1783d00-b577-11e9-8565-5b136b6bbfcc.png)

[2019-08-03 00:40] yasker opened #669 "instance manager: Deadlock in the engine manager"
If we attach 5 volumes at the same time, there is a chance the instance manager will be locked up.

[2019-08-03 01:04] yasker commented on #640
Port Update call removed.

[2019-08-03 01:04] #640 closed

[2019-08-03 01:20] yasker opened #670 "engine/instance manager: replace the dependency for C++ grpc code"
Otherwise, it would look like the engine is written in C++...

[2019-08-04 03:28] yasker commented on #659
Nightly tests still failed after the fix merged.

[2019-08-05 00:44] tiger0425 opened #671 "Rebuilding 非 常慢"
现在我的pvc有80多G，做了3个replica，每次Rebuilding一个Replicas卷都要十几个小时，而且经常Rebuilding中就停一下，现在我的pvc总是在Degraded状态，请问这是正常的吗
longhorn 0.5.0

[2019-08-05 17:43] tiagovdaa opened #672 "All nodes with Unschedulable status"
After a installation, all nodes are with 'unschedullable' status in longhorn UI...in Rancher, all services seems ok.

I'm using RancherOS in all nodes.

What should I verify? What information I need to provide to you guys?

---
Version: `v0.5.0`

[2019-08-05 18:17] ttpcodes commented on #639
This issue can be reproduced by creating a `Volume` in `Longhorn` and then creating a `PersistentVolume` in `Kubernetes` with a `VolumeHandle` referencing the `Longhorn Volume`. However, set the `Driver` for the `PersistentVolume` to something else that isn't `Longhorn`. Check `Longhorn UI`, and it should indicate the status of the `PersistentVolume`, even though that `PersistentVolume` isn't supp

[2019-08-05 21:26] meldafrawi opened #673 "[FEATURE] Filter the disks doesn't have enough space to restore volume from backup"
When restoring volume from backup, we need to choose the disk with enough space to accommodate the volume.

[2019-08-05 21:42] meldafrawi commented on #650
Fixed

[2019-08-05 21:42] #650 closed

[2019-08-05 22:37] yasker commented on #574
The issue with the error message was fixed by reverting the change in https://github.com/longhorn/longhorn-manager/pull/366/commits/b9633528a37a885ed6eb3c66086deca553a1b618

[2019-08-05 22:37] #574 closed

[2019-08-06 00:23] meldafrawi commented on #453
Validation: **PASSED**

Steps to test: (using RKE)
  - Change a worker node's role from `worker` to `non-worker` (etcd / controleplane).

[2019-08-06 00:23] #453 closed

[2019-08-06 00:55] yasker opened #674 "manager: Attach 5 or more volumes at the same time result in volume stuck in attaching state"
Version: dev

According to the log, it looks like the conflict of the engine caused some changes to be dropped off.

[2019-08-06 02:49] tiger0425 opened #675 "Replicas error"
replica status is stop ,no rebuilding,pod report error
time="2019-08-06T02:45:12Z" level=error msg="Error in request: Failed to find metadata for volume-snap-c-rdofl3-153e4e48.img"

time="2019-08-06T01:57:36Z" level=info msg="Done running ssync [ssync -port 9780 -daemon volume-snap-c-2fv2en-8101389c.img.meta]"
time="2019-08-06T01:57:36Z" level=info msg="Running ssync [ssync -port 9781 -daemon volu

[2019-08-06 03:29] tiger0425 commented on #413
hey @yasker
I have the same problem as infinytum. Can I solve it in v0.5.0?

Thats fine for smaller disks, but larger ones take quite a while to replicate again and again.

[2019-08-06 18:58] yasker commented on #413
@tiger0425 Currently the workaround is to delete the replica and let Longhorn rebuild it. We believe the issue is the timeout during the rebuilding process (so you're likely to experience it for the larger volumes). The timeout issue will be fixed in the next release.

[2019-08-06 18:59] yasker commented on #675
Mark as duplicate of #413

[2019-08-06 18:59] #675 closed

[2019-08-06 19:01] yasker commented on #672
@Almejida Can you check the node page in the Longhorn UI? It may due to lack of space on the nodes.

[2019-08-06 19:08] yasker commented on #160
With the refactoring code, the speed of attaching/detaching is even slower. We have to fix this before the release.

[2019-08-06 20:50] yasker commented on #663
@cloudnautique PR CI cannot be enabled due to the number of repositories hits the limitation.

[2019-08-06 20:54] yasker commented on #664
Done

[2019-08-06 20:54] #664 closed

[2019-08-06 23:43] yasker opened #676 "A few cleanup needed for backup/restore progress"
1. Rename the state `incomplete` to `in_progress`. `incomplete` doesn't mean `in_progress`...
2. Rename `BackupProgressReply.backupError` in grpc to `error`

[2019-08-07 01:24] yasker opened #677 "manager/engine: Add EventWatch in engine gRPC"
The manager can be notified about status changes sooner than the normal 5 seconds query interval.

We still need to set the default query interval to 5 seconds because we need the progress update.

[2019-08-07 01:40] tiger0425 commented on #413
@yasker Rebuilding almost every day

[2019-08-07 03:21] yasker commented on #648
Done. Feel free to reopen if it happens again.

[2019-08-07 03:21] #648 closed

[2019-08-07 05:33] shreesha21 commented on #676
I have also changed the `BackupProgressReply` to `BackupStatusReply` to keep it consistent with `RestoreStatusReply`. Looks like there is no changes required in `longhorn-manager` and `longhorn-tests` as we are only relying on `complete` and not on `incomplete` earlier.

[2019-08-07 18:03] yasker commented on #413
@tiger0425 Something maybe wrong in your environment. Rebuild happens when the network connection was interrupted and Longhorn engine failed to reach one of the replicas. High CPU utilization can also delay the replica. Can you check the CPU utilization and network in your environment?

[2019-08-07 20:04] yasker opened #678 "kubernetes: Add raw block device support"
We should support a raw block device in Kubernetes.

[2019-08-07 20:49] yasker opened #679 "End to end stress test"
Updated:

**Goal**
The goal of the stress test is to test Longhorn's long term endurance during various kind of operations. The measurement of the progress is how long can the stress test be run without error out.

**Design**
The stress test will be run in an infinite loop and checking for errors.

1. Start N number of pods at the same time, with Longhorn volume.
2. Write random data with size 100

[2019-08-08 09:46] tiger0425 commented on #413
@yasker yes  CPU 80%

[2019-08-08 18:34] yasker commented on #308
We're planning to declare only support Kubernetes v1.13+ for v0.6.0 release.

[2019-08-08 18:54] yasker commented on #655
Can we have a script or something easier to do this? It's way more complex than what we did before, which is `kubectl -n longhorn-system exec -it <volume-name>-e-<xxx> longhorn <cmd>`.

[2019-08-08 19:35] yasker opened #680 "test: Test fromBackup for storage class and PV creation for v0.6.0"
Because we changed the way for restoring, we need to double check the existing option for restoration.

[2019-08-09 18:17] yasker commented on #665
@smallteeths Backend merged.

[2019-08-09 22:03] yasker commented on #665
@ttpcodes Can you document the API?

[2019-08-09 22:16] ttpcodes commented on #665
I've already sent the API over Slack via DM.

[2019-08-10 00:27] shuo-wu commented on #678
Cannot support it now:
1. The min version of Kubernetes which enables the feature `CSIBlockVolume` by default is v1.14. (Beta):
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

2. The CSI Provisioner starts to support block volume since v1.0.1:
https://github.com/kubernetes-csi/external-provisioner/releases/tag/v1.0.1

[2019-08-10 00:33] yasker commented on #678
We are not ready to drop the support for Kubernetes v1.14- yet. Move to v0.7.0 release.

[2019-08-12 22:04] shuo-wu commented on #487
Rancher Version: v2.2.7
Longhorn Version: v0.5.0

Now Longhorn cannot be installed correctly since it is not deployed in the predefined `longhorn-system` namespace.

Rancher will add a random suffix for the project name then use that string as project namespace. There is no way to specify the namespace to predefined namespace `longhorn-system` for Longhorn system deployment.

[2019-08-13 19:27] jonstelly commented on #584
For anyone else that finds themselves here, I just added a toleration (tolerate everything, just for testing) and it worked.  I added the toleration to the longhorn-manager, engine-image, and longhorn-csi-plugin daemonsets.

(kubernetes dashboard / json)
[code]

(yaml)
[code]

And it seems

[2019-08-13 20:07] paalkr commented on #584
Absolutely, it's possible to make post deployment edits to make tainted nodes work, as I described in this comment https://github.com/longhorn/longhorn/issues/574#issuecomment-496009473

[2019-08-13 20:37] jonstelly commented on #584
Ah, I hadn't seen that, I saw that linked issue but didn't see your post with the toleration.  Out of curiosity, is the engine-image the only place I needed to add the toleration? i.e. not longhorn-manager or csi-plugins?

The longhorn documentation is well written and [this](https://rancher.com/blog/2017/announcing-longhorn-microservices-block-storage/) was really helpful, easier to digest than s

[2019-08-13 23:38] yasker commented on #623
Note: in order to test the chart, the modification to the images used are needed since we haven't cut rc1 yet.

[2019-08-14 05:51] paalkr commented on #584
It depends how you plan to operate the longhorn storage system, and how your kubernetes nodes are organized. I have dedicated nodes intended for longhorn storage backend which is tainted and labeled accordingly. And in that case you would also add taints to the manager DaemonSet. This is easier as the manager DaemonSet is something you deploy to your cluster yourself, and you can modify the asset

[2019-08-14 06:49] paalkr commented on #584
@yasker @shuo-wu , will this https://github.com/longhorn/longhorn-manager/pull/385 go into 0.6? I certainly hope so ;)

[2019-08-14 07:21] ChrisScottThomas commented on #603
I stumbled across a potential fix here, which is to add the service account to the longhorn-manager init container.
[code]

Everything started up first time.

[2019-08-14 09:51] smallteeths opened #682 "Access create snapshot api return timeout"
- Write a 10 GB data file in the volume
- On volume details page:
   Create a snapshot when during file writing. The create snapshot api will return timeout
![Jietu20190814-131917](https://user-images.githubusercontent.com/27733391/63012083-2b3c1e00-bebc-11e9-9921-f8a5dbf17f8d.jpg)

[2019-08-14 15:01] yasker commented on #584
@paalkr Yes, this issue is targetted for v0.6.0.

[2019-08-14 15:33] yasker commented on #676
Done.

[2019-08-14 15:33] #676 closed

[2019-08-14 15:36] yasker commented on #663
@drpebcak ^^

[2019-08-14 15:40] yasker commented on #603
@ChrisScottThomas You meant, add init container for longhorn-manager fixes the permission issue for the engine daemonset deployment?

[2019-08-14 15:42] yasker commented on #682
We need to investigate since even we're writing the data, the snapshot should be still possible.

[2019-08-14 15:42] yasker commented on #682
@smallteeths Just to clarify, how big is the timeout?

[2019-08-14 15:56] yasker commented on #487
@shuo-wu Is this about multi-cluster app or single cluster app?

[2019-08-14 15:57] ironsalsa commented on #587
Adding my vote here for this feature - it would be great to not need manual intervention after node failures.

[2019-08-14 17:03] drpebcak commented on #663
We are working through some issues with drone right now, and then we will be upgrading our drone installation to a newer version. That should resolve this!

[2019-08-14 17:13] morgoved commented on #85
i have some problem.
[https://github.com/rancher/rancher/issues/22173](url)

[2019-08-14 17:22] shuo-wu commented on #487
It happens in multi-cluster app deployment.

[2019-08-14 17:56] paalkr commented on #584
That is absolutely brilliant. I think that the 0.6 release will great!

[2019-08-14 18:38] yasker commented on #85
@morgoved I noticed that you're using flex volume driver, can you try CSI? Which version of Kubernetes you're using?

[2019-08-14 23:23] yasker commented on #646
[code]

[2019-08-14 23:24] yasker commented on #646
From the log, it looks like the replicas are disconnected prematurely. So the problem is probably not the TGT or iSCSI part.

[2019-08-15 01:52] smallteeths commented on #682
Server returns 500 doesn't returns 502.I don't know if timeout caused it
Steps to test:
 1. Create a volume with size 40 GB
 2. Create PVC and create pod bound this PVC
 3. exec -it this pod and Write a 10 GB data  `dd if=/dev/zero of=/var/tmp/test3 bs=10M count=1024`
 4. In Volume Details create snapshot

[2019-08-15 05:53] ChrisScottThomas commented on #603
@yasker - no, this init container exists in the yamls.
https://github.com/longhorn/longhorn/blob/d02316da0d6f0dec07e781edf2cb23aa5d8464fe/deploy/longhorn.yaml#L309

[2019-08-15 08:39] morgoved commented on #85
because i have ubuntu 18.04 and have problem with running open-iscsi
` systemctl status open-iscsi
● open-iscsi.service - Login to default iSCSI targets
   Loaded: loaded (/lib/systemd/system/open-iscsi.service; enabled; vendor preset: enabled)
   Active: inactive (dead)
Condition: start condition failed at Tue 2019-08-13 23:49:48 UTC; 1 day 8h ago
           ├─ ConditionDirectoryNotEmpty=|/etc/is

[2019-08-16 00:25] shuo-wu opened #683 "Display instance manager of engine/replica in volume detail page"
If users/developers want to run `longhorn` command for debug purposes, currently they need to manually find the related instance manager pod (then `exec` into it to run the command).

Ref:
https://github.com/longhorn/longhorn/issues/655

[2019-08-16 20:15] chrisbulgaria commented on #375
Same issue., perfectly reproducible
Rancher 2.2.7, Longhorn 0.5
2 nodes , 3 volumes. Stop docker on one node , wait until rebuilding finished and all volumes are healthy.  The start docker again.
During this some volumes get detached and don't automatically reattach. What always helps is attaching them manually.
Event below.

Great fan of Rancher and Longhorn, keep up the good work !
Chris

2019-0

[2019-08-16 21:06] yasker commented on #375
@chrisbulgaria Thanks for reporting.

Longhorn will automatically attach the volume if the node reboot happened, but it depends on Kubernetes node `bootID` to tell if the reboot happened or not. Restart the docker daemon doesn't trigger the change of Kubernetes node ID so Longhorn cannot decide why the engine was suddenly crashed thus it keeps it there as detached.

The volume will become faulted

[2019-08-16 21:21] yasker commented on #669
Done with https://github.com/longhorn/longhorn-instance-manager/pull/58

[2019-08-16 21:21] #669 closed

[2019-08-16 21:23] yasker commented on #674
No longer show up.

[2019-08-16 21:23] #674 closed

[2019-08-16 21:23] yasker commented on #663
Done.

[2019-08-16 21:23] #663 closed

[2019-08-16 21:24] yasker commented on #487
@shuo-wu Multi-cluster app is tracked in https://github.com/longhorn/longhorn/issues/633 .  This issue is about the single cluster app.

[2019-08-16 21:24] #487 closed

[2019-08-16 21:44] yasker commented on #659
No longer show up in the nightly test.

[2019-08-16 21:44] #659 closed

[2019-08-17 00:56] yasker opened #684 "Test node down scenario"
For v0.6.0. Manual test first.

[2019-08-17 05:41] vistalba opened #685 "[FEATURE] Clean up orphaned unused volume replicas after node failure"
I run into a node failure agina... because of a connectivity issue (not related to longhorn).

Longhorn rebuilds the replica on the two remaining nodes.
I then manually rebalanced it after third node was avaiable again.

After all rebuilds I noticed a big bump at disk-space on node3 (that one that has failed before).

[code]

As you can see, longhorn leave old folders on the node which are consumi

[2019-08-17 15:55] chrisbulgaria opened #686 "Volumes stay detached after docker restart on node"
in relation to comment 8/9 in issue 375.
Rancher 2.2.7, Longhorn 0.5
2 nodes, one node docker is stopped and after some 10 minutes started again. All volumes which were previously assigned to that node stay in detached forever.
Sometimes scaling down/up of the affected workload helps, sometimes not.
What always helps is manual attaching back.
Error messages same as in 375. Happy to provide details

[2019-08-17 16:07] yasker opened #687 "manager: repeatedly rebuilt may fail"
Release: v0.6.0-dev

It seems the reason is
[code]

Now we're not allocating new IPs for the replicas, and replicas can use the old port number, which results in the newly added replica may already show in the engine as `ERR` since we didn't aggressively clean up the failed replicas in the engine.

Steps to reproduce:
1. Create a volume, attach it.

Log for `test-r-f4eb9e29`
[code]

[2019-08-17 16:07] yasker opened #688 "manager: repeatedly rebuilt may fail"
Release: v0.6.0-dev

It seems the reason is
[code]

Now we're not allocating new IPs for the replicas, and replicas can use the old port number, which results in the newly added replica may already show in the engine as `ERR` since we didn't aggressively clean up the failed replicas in the engine currently.

Steps to reproduce:
1. Create a volume, attach it.
2. Wait for it to become healthy, kill

[2019-08-17 16:22] yasker commented on #688
Github acting weird... Duplicate of #687

[2019-08-17 16:22] #688 closed

[2019-08-18 16:33] yasker commented on #682
@meldafrawi Can you check if you can reproduce it?

[2019-08-18 16:34] yasker commented on #622
We will only support detaching the v0.5.0 volume gracefully in v0.6.0. No other operations would be supported.

[2019-08-19 02:25] yasker commented on #685
Currently, the faulted replica will be cleaned up after 30 minutes, and if the node isn't available for clean up, it will be simply skipped since it cannot wait for the node forever. Though it seems the default `staleReplicaTimeout` is too low (which is set for each volume now) and users may want to keep it a bit longer, and it also means if the node came back in time, the replicas would be cleane

[2019-08-19 02:27] yasker commented on #686
If we want to detect if the docker daemon was restarted, we need to find a way to know it's the reason for the controller down, like what we did with node restart and Kubernetes NodeBootID.

[2019-08-19 04:50] chrisbulgaria commented on #686
Hmm I’m a newbie here - but why would it harm if we always at least try to reattach when the restarting  (typical StatefulSet) workload asks for it ? Independent of the potential reason why it was detached ?
Sometimes when manually scale down and up again the workload after Docker restart longhorn seems to do exactly that .
Thanks for the explanation .
Chris

[2019-08-19 13:42] vistalba commented on #685
@yasker For me it could be automaticly after the volume get `healty` state again. If volume isn't healty thant I suggest du leave all `failed` replicas just in case. (then we can trigger it manually if someone thinks it's safe to delete).

For me the case is:

- healthy volume with 3 replicas is running and mounted.
- one of three nodes with 1 replica goes down
- node comes back (after some time..

[2019-08-20 10:49] akuscu-smartpulse opened #689 "Update Replica Count When Replica is Not Healty"
I am using kubernetes and i have 1 volume with 2 replica.Volume size is 160 Gi.One of replicas is deleted and now rebuilding it.How can i stop replication ? Or update replica count ?

[2019-08-20 11:14] #689 closed

[2019-08-20 14:52] akuscu-smartpulse opened #690 "Volume Size is Still Increasing When Delete the Data"
I am using kubernetes.My volume path is /var/lib/postgresql/
It's actual size is 17G.
I am always adding and deleting many data in the volume.
But on the dashboard and /var/lib/rancher//longhorn/replicas/ it shows me 60G.
Why this size is always increasing?
Also there is no any snapshosts.

This is inside of container and /var/lib/postgresql folder
![1](https://user-images.githubusercontent.com/53

[2019-08-21 17:52] DenisKramer opened #696 "Support Let's Encrypt SSL certificates for S3 Backup endpoints"
## Issue
When trying to use a S3 backup store using Let's Encrypt certificates (MinIO) via https, access fails with

[code]

errors.

## Workaround
 Manually adding the [Let's Encrypt Intermediate X3 certificate](https://letsencrypt.org/certificates/) to /etc/ssl/certs/ca-certificates/ca-certificates.crt in the various containers helps avoiding this error.

## Proposed solution
Add Let's Encrypt I

[2019-08-22 07:52] sybnex commented on #696
Im using MinIO with a subdomain and lets encrypt certificates for **production** and I never got an error message like this.

So why you are using Intermediate and not Production? ...

[2019-08-22 09:05] DenisKramer commented on #696
Thanks. I am using **production** certificates as well. As it is obviously working for you, I was digging a bit deeper. I used an older version of MinIO (mid 2018) that could only deal with the leaf certificate (cert.pem generated by certbot). That version of MinIO crashed when trying to use the fullchain.pem that includes the intermediate. After updating to the latest version, I was able to use t

[2019-08-22 09:05] #696 closed

[2019-08-22 23:43] #662 closed

[2019-08-25 18:47] #653 closed

[2019-08-25 20:25] meldafrawi commented on #657
Validation: **PASSED**

Steps to test:
  - Longhorn (master):
    - On `Settings/Engine Image` page, Click "Deploy New Image", Enter `longhornio/longhorn-engine:v0.5.0`
    - On `Node` page, `Readiness` column

| Engine | Engine Image | Instance Manager - Engine | Instance Manager - Replica |
-- | -- | -- | --
| longhornio/longhorn-engine:v0.5.0 | Incompatible | Unknown | Unknown
| longhornio/long

[2019-08-25 20:26] #657 closed

[2019-08-26 17:29] meldafrawi commented on #639
Validation: **PASSED**

Steps to test:
  - In Longhorn UI, Create a volume with `20 GB` size and name `volume-test`
  - Create a pv using the following manifest, that will create a PV with the same volume handle as longhorn volume, but will use AWS Elastic Block Storage as a driver.

[code]
Expected Result: In Longhorn UI, No PV status should be indicated since the volume is not managed by longhor

[2019-08-26 17:31] #639 closed

[2019-08-26 17:56] meldafrawi commented on #665
Validation: **PASSED**

Steps to test:
Create a volume with size 64 GB, attach it to a node, format it, and mount it to a directory on attached node.
Create a datafile with size 32 GB, and on Volume Detail page. create a snapshot
repeat previous step with volume sizes 16 GB & 8 GB
Use kubectl -n longhorn-system get lhe <engine-name> -o yaml Find engine process port in status.port and related insta

[2019-08-26 17:56] #665 closed

[2019-08-26 19:11] meldafrawi commented on #655
Validation: **FAILED**

Steps to test:
  - Create a volume with `volume-test-01`, attach it to a node.
  - Use script `longhorn-engine-exec`, found in `https://github.com/longhorn/longhorn-manager/blob/master/deploy/scripts/longhorn-engine-exec` to execute longhorn command on `volume-test-01` with the correct number of parameters.

  - Use the script to execute longhorn command on `volume-test-01`

[2019-08-26 21:10] meldafrawi commented on #623
Validation: **WIP**

Steps to test:
   - Set the following values to `longhorn-default-setting` ConfigMap, and deploy longhorn
[code]

[2019-08-26 21:28] meldafrawi opened #697 "Helm Chart: Support custom setting during Longhorn deployment."
#623

[2019-08-26 21:29] #623 closed

[2019-08-26 23:48] shuo-wu opened #698 "test: test_backup_kubernetes_status failed"
[code]

Volume is not `detached` after the related pod is deleted. Notice that this pod is using Longhorn UI created PVC and PV. There may be something wrong with volume detach in the csi plugin.

By checking the log of `csi-attacher`, it 's caused by the failure of unmarshaling volume object:
[code]

In order to solve this issue, we need to check the fields setting in `api/model.go`, then update

[2019-08-27 19:14] shuo-wu opened #699 "UI: Text overflow when the label of backup recurring jobs is too long"
![Screen Shot 2019-08-27 at 12 04 02 PM](https://user-images.githubusercontent.com/47542419/63800920-07b5a200-c8c4-11e9-8039-12805014e08d.png)

[2019-08-27 21:12] meldafrawi commented on #603
Validation: **PASSED**

Steps to test:   Thanks to @shuo-wu
  - Deploy a cluster with Pod Security Policy (psp) enabled. (In Rancher UI, enable psp. choose restricted psp as default psp).
  - In the cluster, delete the default psp. kubectl get psp should return restricted psp only.
  - Verify PSP works: directly deploying Longhorn, no components can be installed
  - Add pod security policy
[code]

[2019-08-27 21:45] shuo-wu opened #700 "test: test_recurring_job_kubernetes_status failed"
[code]

The actual backup list is in `bv.backupList().data` rather than ` bv.backupList()`.
Maybe Python syntactic sugar prevents this issue from being exposed in other similar use cases.

[2019-08-27 23:55] meldafrawi commented on #584
Validation:

Steps to test:
  - taint longhorn nodes with `nodetype=storage:NoSchedule` `storage=longhorn:NoSchedule` and on `Settings/General` page, set `Kubernetes Taint Toleration` to `nodetype=storage:NoSchedule,storage=longhorn:NoSchedule`

[2019-08-28 00:15] meldafrawi commented on #682
can't reproduced again. closing the issue.

[2019-08-28 00:15] #682 closed

[2019-08-28 19:23] shuo-wu opened #701 "test: test_ha_salvage failed"
[code]

Since we are using replica processes rather than pods after Longhorn refactoring, `testr_ha_salvage` should find and delete replica processes to trigger salvage.

[2019-08-28 19:51] meldafrawi commented on #684
Validation: **WIP**

Manual test steps:
  - Create a pod with longhorn volume using: https://raw.githubusercontent.com/longhorn/longhorn/master/examples/pvc.yaml
  - Write data to "/data" directory and compute it's checksum
  - Shutdown the node which the pod scheduled to.

  - Access the pod and verify the data checksum

[2019-08-28 21:49] shuo-wu opened #702 "test: engine_offline_upgrade and engine_live_upgrade failed"
[code]

Need to update those images for engine upgrade tests.

[2019-08-29 00:19] shuo-wu commented on #687
Rebuilding will get stuck there:
1. Replica object is deleted
2. Volume controller creates new replica object && update e.Spec.ReplicaAddressMap
3. Replica controller cleans up the old replica, then creates process for the new replica with **the same address**
4. The new replica object becomes running
5. Engine monitor receives the **expired** result of the replica list.
    Since the address is t

[2019-08-29 19:28] shubb30 opened #703 "Support Kubernetes upgrade without volume down"
Longhorn version: `v0.5.0`
Rancher version: `2.2.8`

We have noticed that when we do a Kubernetes upgrade, often times any workloads that have a Longhorn persistent volume will get disconnected from the volume.

We just upgraded one cluster from Kubernetes 1.12.7 to 1.14.6.

We left 3 workloads with Longhorn volumes running to test with, and stopped all other workoads.
Of the 3, one workload re-at

[2019-08-30 18:23] oskapt opened #704 "Add parameter for trusted CA in backup configuration in UI"
Longhorn will not accept a Minio endpoint wrapped in TLS from an unknown CA. After a long conversation in Slack, we all agreed that rather than accept _any_ CA, it would be a fair compromise to specify _a_ CA to trust for the backup endpoint. That CA can be an internal CA or a self-signed certificate that's sitting in front of Minio.

[2019-08-30 18:26] oskapt opened #705 "Deny HTTP endpoints for backup (Minio)"
On the back of #704 we also agreed that if we can specify a trusted CA for the backup endpoint, there is no reason not to enable TLS for Minio. That will enable Longhorn to safely deny any HTTP endpoint for backups, which would be a Good Thing:tm:.

[2019-08-30 20:54] meldafrawi commented on #687
Validation: **Passed**
Steps to test:
  - Create and attach one volume with 9 replicas
  - In `Node` page, Delete multiple replicas from multiple nodes.

[2019-08-30 23:44] shuo-wu commented on #700
One more issue that fails this test:
Since `DeleteBackup` is aync and we will directly talk with backupstore in the recurring job pod, the pod immediately becoming `complete` after `DeleteBackup` call will fail the aync deletion process.

[2019-09-04 13:29] beanallergy commented on #444
Any upd

I got the same issue on Openshift. Now trying to install the Helm chart with Flexvolume driver enabled, setting `driver: flexvolume` in the values file is not enough. Driver deployer logs:
[code]

Seems like the deployment template in Helm chart doesn't have support for this flag?

[2019-09-04 14:00] beanallergy commented on #444
Seems like flexvolume is not working for openshift either. After manually adding --flexvolume-dir to deployment files, I managed to get longhorn up and running. But when I tried to create a test volume https://github.com/longhorn/longhorn#create-longhorn-volumes , the pod got stuck in "ContainerCreating" state with `Unable to mount volumes for pod`. No error or warning in driver and manager logs.

[2019-09-04 17:48] shuo-wu opened #706 "The termination of longhorn-engine integration test may get stuck"
If we manually interrupted the integration test by `Command` + `C`, the test may get stuck in the termination step.

[2019-09-04 17:51] shuo-wu opened #707 "The endpoint of `Healthy` volume is empty sometimes"
[code]

[2019-09-04 19:29] yasker opened #708 "Rancher UI: PV source doesn't show up for Longhorn"
Version: 2.2.4

<img width="1277" alt="Screen Shot 2019-09-04 at 12 28 35 PM" src="https://user-images.githubusercontent.com/3344618/64284952-92734e00-cf0f-11e9-8fc0-20b43041b2f1.png">
<img width="1274" alt="Screen Shot 2019-09-04 at 12 28 42 PM" src="https://user-images.githubusercontent.com/3344618/64284954-943d1180-cf0f-11e9-96d0-b1da5ed7ea08.png">
<img width="1287" alt="Screen Shot 2019-09-04

[2019-09-04 21:59] yasker commented on #703
@shubb30 Thanks for the reporting. We haven't looked into the Kubernetes upgrade yet, but I assume if the overlay networking is down, Longhorn volume would be down.

We need to look into the details of how Kubernetes upgrades to understand more about the impact to Longhorn. I think it's easy to reproduce it in our lab so feel free to recover your current workloads.

[2019-09-04 22:41] shuo-wu opened #709 "test: backup test failed sometimes"
[code]

Since backup deletion is async call now, we cannot assume the deleted backup will be removed from the backup list immediately.

[2019-09-04 22:44] yasker commented on #686
@chrisbulgaria

We need to check if Kubernetes asked for reattaching or not.

In this case, the engine crashed but we don't know why, so the volume is automatically detached. If Kubernetes asked the volume to be attached, we should just do that. But my guess is the Kubernetes's volume attachment didn't reflect that the volume was detached so Kubernetes still think the volume is attached thus forgo

[2019-09-04 23:04] yasker commented on #634
Done

[2019-09-04 23:04] #634 closed

[2019-09-04 23:18] shuo-wu opened #710 "Listing backups may fail during backup deletion"
[code]

When Longhorn tried to list the backup which was being deleted, this error may occur.

[2019-09-04 23:20] shuo-wu commented on #710
Currently the above PR is more like a workaround: ignore and retry

[2019-09-04 23:25] shuo-wu opened #711 "Deleted backups still exist in the backup status list"
![Screen Shot 2019-09-04 at 4 23 36 PM](https://user-images.githubusercontent.com/47542419/64300105-792ec980-cf30-11e9-888b-3c6086d7d24d.png)
![Screen Shot 2019-09-04 at 4 22 56 PM](https://user-images.githubusercontent.com/47542419/64300119-80ee6e00-cf30-11e9-905a-5fd250d70f81.png)

[2019-09-04 23:47] shubb30 commented on #703
Thanks @yasker.  It's RKE that's doing the upgrade, and I'm sure you are right that it is taking down the networking during the upgrade.

I would understand that if the network were to go down that it might cause an interruption, but what I am worried about is that Longhorn does not self-heal in this scenario.  In just about every other case we have encountered, Longhorn is able to fix itself exce

[2019-09-04 23:52] yasker commented on #680
`fromBackup` is an option available in the storage class https://github.com/longhorn/longhorn/blob/master/examples/storageclass.yaml#L9

But we haven't tested it in the integration test before.

[2019-09-05 18:35] yasker commented on #592
Done.

[2019-09-05 18:35] #592 closed

[2019-09-06 00:51] yasker commented on #646
Cannot reproduce in the recent engine build. Mark as fixed.

[2019-09-06 00:51] #646 closed

[2019-09-06 01:28] yasker commented on #701
Fixed.

[2019-09-06 01:28] #701 closed

[2019-09-06 01:30] yasker commented on #687
Need to fix the issue in another way.

[2019-09-06 18:01] yasker commented on #711
Move to v0.7.0 since it's no immediate impact of the issue.

[2019-09-06 18:03] yasker commented on #710
Need the workaround for v0.6.0, move the real fix to v0.7.0

[2019-09-06 20:09] yasker commented on #679
It seems the stress test's load is too much for the normal nightly test setup. We won't able to run nightly test with it for now.

Close https://github.com/longhorn/longhorn-tests/pull/196

[2019-09-06 21:37] yasker opened #712 "engine image: Reference count should count for live upgraded engine as well"
The live upgraded engine is running inside the old instance manager, which is using the old engine image.

Currently, once upgraded, the reference count of the old engine would be reduced. But since the updated engine is still running inside the old instance manager, we cannot allow removing the engine image thus remove the old instance manager for the engine.

[2019-09-07 00:06] yasker commented on #702
Image updated.

[2019-09-07 18:01] yasker commented on #702
No more failure in the test.

[2019-09-07 18:01] #702 closed

[2019-09-07 18:02] yasker commented on #709
Backend fix from @shuo-wu merged.

[2019-09-07 20:08] yasker commented on #593
Close as a subtask for #622

[2019-09-07 20:08] #593 closed

[2019-09-07 20:13] yasker commented on #670
Done.

[2019-09-07 20:13] #670 closed

[2019-09-09 13:59] #296 closed

[2019-09-09 20:37] meldafrawi commented on #683
Validation: **WIP**

Steps to test:
  - Create a longhorn volume.

  - Attach volume to node, and wait volume to be in `Healthy` state.

  - Using `kubectl delete pods INSTANCE_MANAGER_POD_NAME  -n longhorn-system`

[2019-09-09 21:04] meldafrawi commented on #699
Validation: **PASSED**

Steps to test:
  - create a volume, attache it to a node
  - in `Volume Details` page, scheduled a backup.
  - add a label to backup with key: `label1` and value: Random 512 characters, and click `Save`

![Screenshot from 2019-09-09 23-03-34](https://user-images.githubusercontent.com/18232258/64566384-2735db80-d356-11e9-8838-a2436145ef3d.png)

[2019-09-09 21:06] #699 closed

[2019-09-09 21:19] meldafrawi opened #713 "Longhorn volume replicas reports healthy state after instance manager deleted and volume detached"
Steps to reproduce:

  - Create a longhorn volume.
  - Attach volume to node, and wait volume to be in Healthy state.
  - In `Volume Details` page, get instance Instance Manager name
Using `kubectl delete pods INSTANCE_MANAGER_POD_NAME -n longhorn-system`
  - Longhorn Volume gets detached, but replicas states reports `Healthy`.

![Screenshot from 2019-09-09 22-48-41](https://user-images.githubuser

[2019-09-09 22:21] meldafrawi commented on #603
Verified on master.

[2019-09-09 22:21] #603 closed

[2019-09-09 23:56] #683 closed

[2019-09-10 12:30] akuscu-smartpulse opened #714 "Copying All Replica Content to Another Node"
I have 1 master 2 nodes kubernetes cluster.I am trying to deal with node failure and i deployed mongodb on slave1.In the slave 2 i have prometheus and i am sniffin incoming network traffic.I have 50 mb data in my mongodb.When i try to add 3 mb data to mongodb it syncronizing 53 mb to other node.I think it suppose to transmit only 3mb data to slave2 node.Is this act normal or am i wrong about trans

[2019-09-10 17:38] yasker commented on #581
Reproduce steps:
1. Create a volume contains multiple snapshots, each snapshot should have some data in it.
2. Use `longhorn snapshot rm` to mark a few snapshot as `removed`.
3. Start multiple `longhorn snapshot purge` at the same time. One purge command should go through. The others should be rejected when purging is in progress.

[2019-09-10 18:06] meldafrawi commented on #581
Validation: **PASSED**

Error Message:
[code]

[2019-09-10 18:07] #581 closed

[2019-09-10 18:17] meldafrawi commented on #687
Validation: **Passed**

[2019-09-10 18:17] #687 closed

[2019-09-10 21:10] meldafrawi commented on #684
Validation: **FAILED**

Manual test steps:
  - Create a Deployment with one pod attached to longhorn volume mount to `/data`
[code]

  - Write data to the `/data/` directory and compute it's checksum
  - Shutdown the node which the pod scheduled to.

  - Manually delete the terminating pod.

  - Access the pod and verify the data checksum

Longhorn is not starting new replicas replacing `Failed` o

[2019-09-10 21:17] meldafrawi commented on #655
Validation: **FAILED**

Steps to reproduce:
  - Create a volume `volume-test` , DON'T attach it to a node.
  - execute `longhorn-engine-exec  volume-test snapshot list`

[code]

[2019-09-11 00:08] meldafrawi commented on #584
Validation: **PASSED**

Steps to test:
  - Deploy a 3-node cluster, and install Longhorn
  - taint a node with `storage=longhorn:NoExecute`

  - In `General/Settings` page, set `Kubernetes Taint Toleration`  to `storage=longhorn:NoExecute`

[2019-09-11 00:08] #584 closed

[2019-09-11 16:44] yasker opened #715 "manager: errors triggered when getting status from replica in error mode"
[code]

Reproduce steps:
1. Create a volume, attach it.
2. Monitoring the manager log.
3. Delete one replica.

Engine controller will report above errors before the error replica is removed from the engine.

[2019-09-11 16:59] yasker commented on #714
1. I think it's something else. Longhorn is not synchronizing replicas from each other when the volume is being used. The data written to the replica is from the block level command. From the block device's POV, it doesn't know if you've added 3MB data or not. It only knows there is certain amount of data was written by the write command on the block level. So it's possible that the data written b

[2019-09-11 19:18] shuo-wu opened #716 "The backup number created by recurring job is greater than the retain value"
[code]

It is caused by 2 bugs:

1. The output format of backup create command changed in longhorn engine part. But longhorn manager hasn't been updated. See the commit: https://github.com/longhorn/longhorn-engine/commit/57b6bc1eeb176fc8c5d6455300cf0e450d3a70f1

2. Nil pointer was used when the backup cannot be found in the backup status list.

[2019-09-11 22:40] shuo-wu opened #717 "test: test_hard_anti_affinity_scheduling failed"
[code]

Now wait_for_volume_degraded() means the volume just waits for the engine becoming sync. The new replica will be created after wait_scheduling_failure(). Hence using the volume object returned by wait_for_volume_degraded() will lead to the assertion failure.

[2019-09-12 00:21] shuo-wu opened #718 "Sometimes instance manager is not cleaned up after deleting the related engine image"
Before deleting:
[code]

After deleting:
[code]

[code]

[2019-09-12 00:32] shuo-wu commented on #718
One possible race condition that will cause this case:
1. The engine image object is deleted
2. The related engine image daemonset and instance manager objects are deleted.
3. The new instance manager is created by node controller. (triggered by the engine image deletion)
4. The new instance manager cannot be cleaned up and retain there

Solution: check the deletion timestamp of the engine image o

[2019-09-12 00:39] yasker commented on #718
@shuo-wu This is weird. Why the new instance manager cannot be cleaned up after the image is gone? It is supposedly able to reconcile.

[2019-09-12 00:41] shuo-wu commented on #718
I am not sure if the deleted engine image triggers both node controller (which is responsible for creation) and engine image controller (which is responsible for cleanup).

[2019-09-12 07:30] akuscu-smartpulse commented on #714
1.Ok it was my fail because i sniffed all traffic not only longhorn so i though it is copying all
 the replicas.My bandwith use was 2-3 MBps when writing data to database.It seems ok for databases.(For information :  when i copy a 400 MB file to the volume my bandwiths use around 16-20 MBps.)
2.So you mean snapshots only using for rebuilding failed replicas.And all the data do not have to copying

[2019-09-12 16:13] #700 closed, assigned to shuo-wu

[2019-09-12 16:14] #698 closed, assigned to shuo-wu

[2019-09-12 18:31] meldafrawi opened #719 "UI: Long node tags will mess up Longhorn UI"
![Screenshot from 2019-09-12 20-30-17](https://user-images.githubusercontent.com/18232258/64810772-4b82f980-d59c-11e9-990b-0d3d374b2818.png)

[2019-09-13 14:59] yasker commented on #714
@akuscu-smartpulse Thanks.

And yes, ideally we should able to rebuild using the existing replica, which can minimize the network traffic for the rebuild. Though we've decided not to do it now since it will make things more complicated. There were a few discussion (e.g. https://github.com/longhorn/longhorn/issues/570) about it before. No worries, we still keep this idea on the radar.

[2019-09-13 17:35] yasker opened #720 "Speed up the time engine was detected healthy after attached"
It should be instantaneous.

Implement this instead of #677 in v0.6.0

[2019-09-13 18:05] yasker commented on #160
There are still a few significant lags when putting the system on load, e.g. by starting a volume with 10 replicas.

One problem has been identified is when instance manager starts the process and reports back to the Longhorn manager, the manager can take more than 1 second to change the replica or engine state to `Running`. A significant part of that has been spent on the call to update Instance

[2019-09-13 19:08] meldafrawi opened #721 "BackupstorePollInterval minimal value 0 to disable the feature should be documented"
Steps to reproduce:
  - In Longhorn UI, `Settings/General` page, set `Backupstore Poll Interval` to `0` and click `Save`.

[2019-09-13 19:32] josecelano opened #722 "Waiting on external-attacher/io-rancher-longhorn"
I have created this issue in the rancher repo:

https://github.com/rancher/rancher/issues/22829

but I do not really know if it's a Rancher problem or a longhorn issue.

[2019-09-13 19:40] josecelano commented on #344
Same problem. I have created a new issue so people can find the issue faster:

https://github.com/longhorn/longhorn/issues/722

I have not found a solution yet.

Related issue:
https://github.com/longhorn/longhorn/issues/259

[2019-09-13 19:42] josecelano commented on #259
Same problem. I have created a new issue so people can find the issue faster:

https://github.com/longhorn/longhorn/issues/722

I have not found a solution yet. I followed the [uninstallation instructions](https://github.com/longhorn/longhorn#uninstall-longhorn) here to uninstall Longhorn properly.

Related issue:
https://github.com/longhorn/longhorn/issues/344

[2019-09-13 20:26] yasker commented on #679
And it doesn't need to be fit in the nightly test framework.

[2019-09-13 22:54] yasker commented on #160
Another identified problem is also related to the time to run `update` API to Kubernetes. The process of setting the desired state to `running` for the replica can delay (https://github.com/longhorn/longhorn-manager/blob/e59e4724e654b25304a6ac90814ab657bba830a5/controller/volume_controller.go#L776 ). The root cause of the delay is similar to the previous issue, that `UpdateReplica` call may also t

[2019-09-13 23:13] yasker commented on #715
We should aggregate the engine status command if possible, and don't error out in this kind of situation.

[2019-09-14 02:09] yasker commented on #160
During the POC, start engine and replica at the same time probably would only save about 1 second of the time when the load is light. All the engine and replicas can be up in 2 seconds but it will still take a couple of seconds for the engine to add all the replicas. We can revisit the idea to see if it's more helpful during the heavy workload in the future.

[2019-09-14 02:13] yasker commented on #160
Consider it's done for the current stage.

For the next step, we also may optimize the instance manager to start the Longhorn process faster. Currently, it took about 1.2 seconds to start a replica process, 2.4 seconds to start an engine process (including starting the block device frontend) in our development environment.

[2019-09-14 02:14] #160 closed

[2019-09-14 02:16] yasker commented on #720
Should be fixed by #417. Feel free to reopen if the volume becomes visibly attached but not healthy in some situation.

[2019-09-14 02:16] #720 closed

[2019-09-15 11:41] josecelano commented on #722
I found a solution.

I deleted PVs directly in the google console but somehow the PVs are still there for the rancher. Using Rancher `kubectl` console I was able to list the PVs. You have to launch `kubectl` and execute:

[code]

And I saw the same list as in Rancher UI:

[code]

Then I had to edit the PVs with:

[code]

And I removed again the lines:

[code]

And that's all, the PVs disappeared f

[2019-09-15 11:41] #722 closed

[2019-09-15 11:44] josecelano commented on #259
I had to remove the finalizers using rancher `kubectl` console because even if the PVs were deleted from GKE they still were present in rancher, so I guess rancher has an internal cache and was not able to sync state with GKE.

https://github.com/longhorn/longhorn/issues/722

[2019-09-15 13:48] nmaggioni commented on #533
I'm unable to attach volumes as well, with similiar pod log entries:

[code]

The custom path points to a subfolder of an NFS mount (FreeNAS ZFS dataset). Only the `replicas` subfolder is created. Is there any way around this?

[2019-09-15 19:50] yasker commented on #259
@josecelano I think GKE is the problem (and has the cache). Rancher reads all the information from `kubectl` which is a standard Kubernetes interface to the Kubernetes API. Rancher didn't control the result of `kubectl`. If `kubectl` say the PV still exists but GKE think it's gone, then GKE is wrong.

[2019-09-15 19:51] yasker commented on #722
@josecelano I think GKE is the problem (and has the cache). Rancher reads all the information from `kubectl` which is a standard Kubernetes interface to the Kubernetes API. Rancher didn't control the result of `kubectl`. If `kubectl` say the PV still exists but GKE think it's gone, then GKE is wrong.

[2019-09-15 19:55] yasker commented on #533
@nmaggioni Longhorn cannot use NFS for storing replica data. They don't support the file extent feature required by Longhorn. Currently, we recommended using ext4 as storage filesystem for Longhorn. XFS works too.

Btw, not sure why you want to Longhorn on top of NFS, which is already a distributed storage system.

[2019-09-15 20:44] nmaggioni commented on #533
@yasker Thanks for the clarification, I must have missed that in the docs.

I'm migrating from Rancher v1.6 to 2.x, so I'm taking the chance to experiment with new capabilities along the road.

[2019-09-15 21:39] #533 closed

[2019-09-15 21:40] yasker commented on #533
@nmaggioni Thanks for the reminder of the doc. We've added the host filesystem requirement in it.

[2019-09-15 21:42] yasker commented on #69
Close as resolved.

[2019-09-15 21:42] #69 closed

[2019-09-16 15:31] akuscu-smartpulse opened #723 "Driver Deployer Stucks Init:0/1 State"
I have 1master 1 slave kubernetes bare metal for test purposes.When i try to deploy longhorn with kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/longhorn.yaml
But longhorn driver stucks Init:0/1 state.
here are manager logs :
[code]
Here are fdisk -l results on slave:

[code]
here are kubectl get po -A :
[code]
kubectl get nodes :

[code]

[2019-09-16 17:30] yasker commented on #723
@akuscu-smartpulse The error you see in the manager log is not critical. The init process of `longhorn-driver-deployer` is trying to reach the manager through `longhorn-backend` service, and it seems it's down.

Can you open the UI? UI should use the same `longhorn-backend` service and if it doesn't work, the services function of kubernetes may have some issues.

[2019-09-16 17:45] yasker commented on #721
When interval is 0, the backup polling would be disabled. Need to add instruction in the setting description.

https://github.com/longhorn/longhorn-manager/commit/4060d2e6b078c35d7de80ff2784944ffa9f007d4

[2019-09-16 18:07] yasker commented on #721
@meldafrawi Please make sure backupstore polling is disabled. Notice if one volume has a new backup, the last backup would be updated automatically.

The disable of the feature can be tested by:
1. Creating two clusters, sharing one e.g. AWS S3 as backup target
2. Create a volume with the same volume name. Create a backup
3. The last backup on the other cluster shouldn't update (as long as you don

[2019-09-16 20:43] meldafrawi commented on #655
Validation: **PASSED**

[2019-09-16 20:44] #655 closed

[2019-09-16 20:57] meldafrawi commented on #721
Validation: **PASSED**

[2019-09-16 20:57] #721 closed

[2019-09-16 21:07] yasker opened #724 "controller: engine: sometimes engines are slow to detach due to empty `NodeID`"
Version: v0.6.0-dev

When an instance manager's status changed, we are trying to find the related engine by using the engine's nodeID (https://github.com/longhorn/longhorn-manager/blob/946c027c43a1a6c3a7e7b6913e3e1d4624a186a0/controller/engine_controller.go#L309). But the engine's nodeID will be unset by the volume controller during the detach process (https://github.com/longhorn/longhorn-manager/

[2019-09-16 21:50] yasker commented on #707
Cannot reproduce this in the recent nightly tests.

[2019-09-16 22:28] yasker commented on #622
Note: Live upgrade from v0.5.0 to v0.6.0 is not supported, so no need to test the live upgrade feature.

[2019-09-16 23:11] yasker commented on #715
Also need to get rid of following error message:
[code]

[2019-09-17 00:45] shuo-wu opened #725 "Add unit test for engine image controller"
Now the instance manager sync function is moved to engine image controller and all related unit tests are removed from node controller test cases. But there is no unit test for engine image controller. Hence we need to add it back later.

https://github.com/longhorn/longhorn-manager/pull/414

[2019-09-17 00:54] yasker commented on #46
Cannot make it in v0.6.0 in time. Move to v0.7.0.

[2019-09-17 01:10] yasker commented on #718
@shuo-wu Can you comment on how to verify the fix?

[2019-09-17 06:31] akuscu-smartpulse commented on #723
I can not reach UI with curl and from browser.I can reach the backend service using clusterIP.My other kubernetes services and pods working correctly.I tried with kubeadm reset and setup cluster again but the result is same.I also tried remove and pull again docker images but same.
Curl to clusterIP of backend gives me this result:
curl 10.107.87.211:9500

[2019-09-17 07:24] #714 closed

[2019-09-17 08:47] akuscu-smartpulse commented on #723
When i try with ubuntu 16 it seems ok now.I will try again later with ubuntu 18 and notice the result.

[2019-09-17 13:24] akuscu-smartpulse commented on #723
Ok i understand the problem.Actually i have multiple ip on the node.So when i use only 1 network card it working correctly but when i bind other interfaces it reproduces same problem.I tried give metrics to interfaces but no effect.If i find a solution i will write it down

[2019-09-17 15:43] yasker opened #726 "doc: Documents for v0.6.0 features"
- [x] Storage Tag
- [x] Taint Toleration
- [x] Customize settings during installation of Longhorn
- [x] Settings

[2019-09-17 17:39] shuo-wu commented on #718
Right now I cannot find a way to clearly verify the fix. Maybe we can write a script to run the following steps multiple times to see if we can reproduce this issue:
1. Deploy an available engine image. e.g. `longhornio/longhorn-test:upgrade-test.2-2.2-2.1-1`
2. Wait for engine image ready
3. Delete that engine image
4. Check the instance managers

[2019-09-17 17:45] yasker commented on #718
@shuo-wu Do we have this in the integration test?

For the manual test, make sure repeated the steps for at least 3 times.

[2019-09-17 17:51] yasker commented on #713
@meldafrawi Can you reproduce this issue now?

[2019-09-17 17:53] shuo-wu commented on #718
Right now No. I can add it but I cannot guarantee that this bug can be verified by the test.

[2019-09-17 17:58] yasker commented on #718
We run the integration test every day for this kind of race condition, so add it to the integration test would help.

For manual testing:
1. Find a way to trigger the issue in the old version, probably something like "do this for 5 times, it's guaranteed the issue happens at least once" (and those would be the steps need to be included in the integration test)
2. Check with the new version, do the

[2019-09-17 19:54] meldafrawi commented on #622
Validation: **WIP**

**Steps to test:**
#### Install Longhorn **v0.5.0**
1- using `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v0.5.0/deploy/longhorn.yaml`

2- Create volumes:
  - Create a volume, attach it to a node, and write data to it and calculate its md5 checksum.
  - Create a volume with pv/pvc attached to a pod using: `kubectl apply -f https://github.com/longhorn/l

[2019-09-17 20:41] shuo-wu opened #727 "The replica state of restoration volume becomes RW or empty intermittently in UI"
The reason for this bug:
1. For longhorn manager api model, it will use `e.Spec.NodeID == v.Spec.NodeID` to find the matching engine. Since sometimes the volume **engine's** `NodeID` is different from the **restoration volume's**. The engine is nil then the replica state becomes empty.

2. This mismatch is caused by the volume controller. It will **repeatedly** find a random ready node and set `No

[2019-09-17 21:16] yasker opened #728 "controller: volume: get rid of `replicaUpdated` and `engineUpdated` in the reconciliation loop"
The extra optimization logic buried https://github.com/longhorn/longhorn/issues/727 .

[2019-09-17 21:16] yasker commented on #727
...

And by mistake [the line](https://github.com/longhorn/longhorn-manager/blob/86ca7c6ebb9617dbaa881cee0350e6fb13acb4f0/controller/volume_controller.go#L829) should catch the changing nodeID failed because the engine is already set to running.

Filed #728 for it.

[2019-09-17 21:40] shuo-wu opened #729 "test: test_engine_live_upgrade_rollback failed"
[code]

Now engine image needs to wait for the related instance managers before becoming state `ready`. And instance manager pod will use gRPC health check as its liveness/readiness probe.

But for the engine image used in this test, there are no gRPC server and gRPC health check binary. Then the engine image cannot become state `ready`.

[2019-09-18 00:47] meldafrawi commented on #715
Validation: **Passed**

[2019-09-18 00:47] #715 closed

[2019-09-18 01:03] yasker commented on #724
To reproduce, try attaching/detaching a volume 10 times. Both actions should take around 5 seconds. In the RC1, it may take more than 10 seconds for detaching to happen.

[2019-09-18 01:06] yasker commented on #728
The impact of dealing with `isVolumeUpgrading` can be big. Move to v0.7.0.

[2019-09-18 01:13] yasker opened #732 "Refactor instance handler to deal with engine enqueue problem"
The current engine enqueuing process by instance manager status change has been divided into [two parts](https://github.com/longhorn/longhorn-manager/blob/df0c1fab73e8974f2f801750308a6603980cab2a/controller/engine_controller.go#L315). The key problem is in the instance manager, when an instance doesn't show up in the instance manager status, [we don't know if we've just created it or it's long gon

[2019-09-18 01:15] yasker commented on #729
We can add a fake GRPC server (it would be great if there are existing ones) in the test container. See how the image was built at https://github.com/longhorn/longhorn-tests/blob/master/manager/test_containers/compatibility/generate_version_image.sh

[2019-09-18 06:19] #690 closed

[2019-09-18 13:32] akuscu-smartpulse commented on #723
I added a new 1 network card node and change yaml file like this:
[code]

After that it is running normally.Is this hostNetwork:true definition proper for use ?

[2019-09-18 17:03] yasker commented on #707
Show up in the `test_backup` again today.

[code]

[2019-09-18 17:13] yasker commented on #723
We don't recommend to run Longhorn manager on the host network at this moment. It looks like the problem in your system is not with Longhorn, but Kubernetes network setup and Kubernetes [services](https://kubernetes.io/docs/concepts/services-networking/service/). I would suggest fixing the Kubernetes service reachability issue first, then `longhorn-backend` service should work without any change t

[2019-09-18 17:51] #622 closed

[2019-09-18 18:11] meldafrawi commented on #697
Validation: **PASSED**

[2019-09-18 18:11] #697 closed

[2019-09-18 20:36] meldafrawi commented on #718
Validation: **PASSED**

[2019-09-18 20:37] #718 closed

[2019-09-18 21:26] meldafrawi commented on #712
Validation: **PASSED**

Steps to test:
  - Deploy longhorn with engine image `longhornio/longhorn-engine:live-upgrade-2-2-1`
  - Create few volumes, attach them to nodes.
  - Deploy new image `longhornio/longhorn-engine:v0.6.0-rc1`
  - On `Volume` page select some volumes, and click `Upgrade Engine`, and select `v0.6.0-rc1` engine image.
  - On `Settings/Engine Image`, reference count should be up

[2019-09-18 21:40] #712 closed

[2019-09-18 21:50] yasker commented on #726
Done

[2019-09-18 21:50] #726 closed

[2019-09-18 21:58] shuo-wu commented on #727
The reproduce step is simple:
Create a restoration volume from backup, and it's better to choose a large backup.

For old version:
1. In the volume detail page of Longhorn UI, the replica background may suddenly gray out when the volume is restoring data.
2. In the HTTP response of the restoration volume, the replica state becomes RW or empty intermittently.
3. Check the `NodeID` of the volume via

[2019-09-18 22:14] shuo-wu opened #734 "test: test_toleration_setting failed sometimes"
[code]

[2019-09-18 22:15] shuo-wu commented on #734
Maybe it’s caused by the following corner case:
1. All instance managers become `running`
2. The engine image controller hasn’t updated the related engine image since there is no instance manager informer
3. The test considers the Longhorn is available then attaches volumes

Solution:
1. Add instance manager informer for engine image controller
2. Add more engine image state check for this test ca

[2019-09-18 22:41] yasker commented on #679
Framework done. We will add more steps/functions to it later.

[2019-09-18 22:41] #679 closed

[2019-09-18 23:06] yasker opened #735 "Nonscheduled replica can result in volume stuck in `attaching` state"
To reproduce:
1. In a cluster with 3 nodes, set replica count to 3.
2. Disable `Replica Soft Antiaffinity` in the settings.
3. Create a volume, attach it to e.g. node 1.
4. Shutdown one node, waiting for the volume to report `scheduling failure`.
5. Detach the volume. Attach it to another node.
6. The volume may be stuck in `attaching state` forever.

It's due to when we waiting for all the replic

[2019-09-18 23:16] yasker commented on #635
Need to add the first reproduce method of #735 in this test case as well.

[2019-09-18 23:56] meldafrawi commented on #727
Validation: **PASSED**

[2019-09-18 23:56] #727 closed

[2019-09-19 00:06] meldafrawi commented on #724
Validation: **PASSED**

[2019-09-19 00:06] #724 closed

[2019-09-19 00:06] yasker commented on #729
Integration test passed.

[2019-09-19 00:06] #729 closed

[2019-09-19 00:25] meldafrawi commented on #735
Validation: **PASSED**

[2019-09-19 00:26] #735 closed

[2019-09-19 00:29] yasker commented on #734
Wait for nightly test.

[2019-09-19 09:10] akuscu-smartpulse commented on #723
Ok i try this and it work fine now.
First i reset the kubernetes cluster.
I added another node with 1 network card.
Then deploy longhorn.
After deployed succesfully i added the node which have multiple network card.
Thank you for help

[2019-09-19 09:10] #723 closed

[2019-09-19 10:21] nalakawula opened #737 "Backup to minio"
any step by step to create backup using minio?

Thanks

Edit: I install minio and add to backup setting but got error:
[code]

[2019-09-19 15:24] yasker commented on #737
Hi, please check https://github.com/longhorn/longhorn/blob/master/docs/snapshot-backup.md#setup-a-local-testing-backupstore

[2019-09-19 17:06] narayaar opened #739 "Rancher v2.2.8 + LongHorn 0.50 / Volume Size Keeps Growing"
Hello Team:  In my org, we are currently evaluating LongHorn as the storage backend for non-critical applications, and have accordingly configured LongHorn 0.5.0 to communicate with Rancher v.2.2.8.

The infrastructure comprises of 2 physical nodes (32 CPUs / 64G mem), with each node playing the roles of both Rancher Cattle and LongHorn Nodes.  LongHorn has been configured to use a directory sitti

[2019-09-19 19:40] shuo-wu opened #740 "test: replica scheduler tests failed"
[code]

[code]

[2019-09-19 19:47] shuo-wu commented on #740
The failure is caused by `test_replica_scheduler_no_disks()`:
1. This test case is executed before those failed tests
2. After testing this case, those removed disks will be reset and added back by the client cleanup function.
3. Once the nodes get disks, all related replica managers will be recreated and engine image will become state `deploying`. But client cleanup function won't wait for the cr

[2019-09-19 19:50] shuo-wu commented on #734
One more kind of failure:
[code]

[2019-09-19 20:35] yasker opened #741 "manager: sometimes instance managers wasn't removed when the corresponding engine images are removed"
Version v0.6.0-rc2

[code]

[2019-09-19 21:40] shuo-wu commented on #734
It's caused by the bug in function `monitor_restore_progress`:
`completed` should be set to `0` at the beginning of each iteration.

[2019-09-19 22:37] yasker commented on #740
Merged, wait for the nightly test.

[2019-09-19 22:42] yasker commented on #734
This function doesn't look right. Why `len(rs) == 0`? That means the volume has no replica.

[2019-09-19 22:45] shuo-wu commented on #734
`rs` means `restoreStatus` rather than `replicas`. `restoreStatus` will become empty if the volume is not `attached`. `len(rs) == 0` means the restoration volume is automatically detached after restoration complete.

[2019-09-19 22:48] meldafrawi commented on #713
Can't be reproduced.
Closing the issue.

[2019-09-19 22:48] #713 closed

[2019-09-19 22:53] yasker commented on #734
@shuo-wu ok that clarifies it, I don't expect we're checking the progress on a detached volume - volume progress are cleaned up by default when detached. It seems due to we cannot pinpoint the time the volume JUST finished the restoration. Should be enough for now.

[2019-09-20 00:47] nalakawula commented on #737
Ah, I need a cup of coffe. That was writen in readme and I not see that.
Thank you very much.

[2019-09-20 00:47] #737 closed

[2019-09-20 01:17] yasker commented on #707
Very hard to reproduce locally. Move out of v0.6.0.

[2019-09-20 05:56] yasker commented on #707
Got the volume object from debug log when the error happens:

ar/lib/rancher/longhorn/replicas/longhorn-testvol-041ddy-8fd42e84 Mode: FailedAt:}] Controllers:[{Instance:{Name:longhorn-testvol-041ddy-e-71326cc3 NodeID:yasker-longhorn-dev-3 Address:10.42.2.6 Running:true EngineImage:longhornio/longhorn-test:upgrade-test.2-2.2-2.1-1 CurrentImage:longhornio/longhorn-test:upgrade-test.2-2.2-2.1-1 Insta

[2019-09-20 11:43] narayaar commented on #739
Hello Team:  Understanding you may be busy solving bigger problems, I was wondering if I can receive an invite to your slack channel, so that I may collaborate with you guys there.

Looking forward to your assistance.

Thanks,
Arun

[2019-09-20 16:27] yasker commented on #741
A potential way to reproduce it:

[code]

Sometime this modified test can result in error after a while (another error this test can detect is #707 )
[code]

[2019-09-20 16:30] yasker commented on #734
Didn't see the error in nightly test so far.

[2019-09-20 16:30] #734 closed

[2019-09-20 16:30] yasker commented on #740
Didn't see the error in nightly test so far.

[2019-09-20 16:30] #740 closed

[2019-09-20 16:32] yasker commented on #635
Moving out to v0.7.0.

[2019-09-20 16:40] yasker commented on #735
@meldafrawi Which reproduce step you've used for validation?

[2019-09-20 18:10] yasker commented on #707
I think the root cause is (again) etcd's eventual consistency:
1. The debug log in volume reconciliation logic and engine monitoring logic wasn't triggered during the attaching process. From instance manager, since we're starting replicas with the engine, it guarantees that before the device creation process completed, the [GRPC server won't be up](https://github.com/longhorn/longhorn-engine/blob/

[2019-09-20 19:12] meldafrawi opened #742 "Longhorn installation breaks on k8s 1.16"
Steps to reproduce:
  - Deploy a cluster with k8s 1.16
  - Install Longhorn v0.6.0 using
    `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v0.6.0/deploy/longhorn.yaml`

Error:
[code]

[2019-09-20 19:30] shuo-wu opened #743 "Investigate: Why foreground deletion doesn't work for Engine image's dependents"
Kubernetes version v.1.13

Set instance manager `ownerReferences` to engine image with `blockOwnerDeletion = true`.
Delete engine image with deletion policy `foregroundDeletion`.

Expect result:
Engine image deletion timestamp is set with the finalizer `foregroundDeletion`.
Then the instance managers will be deleted.
Engine image won't be removed until all related instance managers are gone.

Actu

[2019-09-20 21:25] yasker commented on #739
@narayaar We've just added some documents to explain the volume size, please check https://github.com/longhorn/longhorn/blob/v0.6.0/docs/volume.md#volume-size

In short, even though Longhorn is thin-provisioned, the size of volume will only grow up. The size won't shrink down by itself. Block device is mostly blind to the filesystem changes.

But if you have some snapshots created, those take spac

[2019-09-20 21:29] yasker commented on #469
@dvdbot Hi, you can create another issue for it. The question you have is unrelated...

It seems like you have an attached volume and want Kubernetes to use it. For a Longhorn volume to be used by Kubernetes workload, you need to detach it. Kubernetes will decide where to attach and mount the volume.

Regarding the volume content, you can access it without Kubernetes. After you attached the volume

[2019-09-20 23:58] yasker commented on #707
Done, for now.

[2019-09-20 23:58] #707 closed

[2019-09-20 23:58] yasker commented on #741
Cannot be reproduced.

[2019-09-20 23:58] #741 closed

[2019-09-20 23:59] yasker opened #745 "Upgrade from v0.5.0 to v0.6.0 with attached volume failed"
Manager stuck in starting state.

Log
[code]

[2019-09-21 00:03] yasker opened #746 "test: Add integration test case for upgrade"
We need to free us from manually test upgrade at the end of every release cycle.

1. The test would be included in the integration test.
2. It should be able to run with the nightly test but disabled off by default, since we will not get upgrade path ready until later in the release cycle.
3. It will only concern with YAML installation/upgrade as the first step.

[2019-09-21 01:06] shuo-wu opened #747 "test: test_node_default_disk_labeled failed sometimes"
[code]

Issue:
Need to disable `CREATE_DEFAULT_DISK_SETTING` before cleanup. Otherwise, the new default disk will be created immediately then fails this test case.

[2019-09-21 01:18] meldafrawi commented on #742
Validation: **Passed**

[2019-09-21 01:18] #742 closed

[2019-09-21 01:19] meldafrawi commented on #745
Validation: **PASSED**

[2019-09-21 01:19] #745 closed

[2019-09-21 01:23] yasker opened #748 "UI: backup page doesn't show up after the rancher proxy"
1. Install the latest Longhorn UI from `https://github.com/shuo-wu/charts`, branch `dev`.
2. After installed, use `App->Longhorn->index.html` to access the UI
3. Setup a backupstore.
4. Make some backups
5. Click backup page.

Nothing show up in the backup.

[2019-09-21 01:41] yasker commented on #747
Waiting for the integration test result.

[2019-09-21 08:00] C0NO opened #749 "How Can I See Replica And Volume Status From Host CLI?"
We can see status of replicas,pvc,backups,snapshots etc. from ui.But how can i check this status from master's host cli ?For example i want to make an alarm sistem when one of the replicas failed with a bash script.

[2019-09-21 18:27] yasker commented on #749
Hi @C0NO

Currently, you can access the manager API point using manager API. We haven't documented that yet but you can find examples in longhorn-tests repo, e.g. [test_basic.py](https://github.com/longhorn/longhorn-tests/blob/master/manager/integration/tests/test_basic.py#L169).

The official CLI would be available once we implemented #613 .

[2019-09-21 19:34] yasker opened #750 "Quality of Service support (QoS)"
We want to support QoS for specified volumes.

[2019-09-21 19:40] yasker commented on #747
Looks fine now.

[2019-09-21 19:40] #747 closed

[2019-09-21 19:41] yasker commented on #748
Verified.

[2019-09-21 19:41] #748 closed

[2019-09-22 10:14] phobos-dthorga opened #753 "Error: Failed to get taint toleration setting before starting CSI driver"
Okay, I'm not very good with these issue reports, so please be kind :) My environment consists of the following:

- Kubernetes as deployed by Rancher (not HA) across three nodes.
  - Using version `1.14.6-rancher1-1`.
  - Two of the nodes are deployed under a `KVM` hypervisor whilst the other is on a bare-metal server, all of which are under my complete control (i.e. I own all three bare-metal ser

[2019-09-22 15:21] yasker commented on #753
@phobos-dthorga Thanks for reporting, we're looking into this now. Have you collected any log we can take a look?

[2019-09-22 15:38] yasker commented on #753
@phobos-dthorga We found the problem, fixing it.

[2019-09-22 16:18] yasker commented on #753
@phobos-dthorga We cannot reproduce the issue in the lab. Was your Longhorn UI up? That means UI can connect to the Longhorn manager and we would know the manager is up. In your case, I think it might be something blocking Longhorn manager from starting up correctly. Once Longhorn manager is up, `taint toleration setting` should be set.

I am not sure what's the root cause of the issue, but there

[2019-09-23 05:10] narayaar commented on #739
Hello @yasker:  Thank you for getting back.

As there's no workaround currently, please consider this issue closed.

Thanks,
Arun

[2019-09-23 05:10] #739 closed

[2019-09-23 07:40] aleksey005 opened #754 "Observed a panic: "invalid memory address or nil pointer dereference""
After upgrade from 0.5.0 to 0.6.0

CrashLoopBackOff: Back-off 5m0s restarting failed container=longhorn-manager pod=longhorn-manager-78jk6_longhorn-system(99bf8884-b48f-48dd-a8cc-4b718fff5818)
--
[code]

[2019-09-23 07:54] aleksey005 opened #755 "Failed to install app longhorn. Error: UPGRADE FAILED: transport is closing"
Longhorn rollback from 0.6.0 to 0.5.0 not work:

`Failed to install app longhorn. Error: UPGRADE FAILED: transport is closing`

[2019-09-23 16:27] yasker commented on #754
To reproduce the issue, create the following yaml file and apply using `kubectl create -f`

[code]

All the managers would crash at this point.

[2019-09-23 16:47] courcelm commented on #753
I just updated from 0.5 and I am also experiencing this problem. Workaround fixed the problem.

[2019-09-23 16:53] yasker commented on #753
@courcelm Can you check the Longhorn managers' log and see if it's due to #754 ?

[2019-09-23 17:03] courcelm commented on #754
Also got this one!

[2019-09-23 17:06] yasker commented on #754
@courcelm OK, sounds like this is the culprit!

We will release v0.6.1 today to fix this.

[2019-09-23 17:07] yasker commented on #753
Sound like #754 is the culprit!

[2019-09-23 18:51] thomasmodeneis opened #756 "trying and failing to pull longhorn-manager:6.0 image"
kubectl apply results in a hanging longhorn-manager due to the script longhorn.yaml being updated to 6.0 but the image is not yet released https://hub.docker.com/r/rancher/longhorn-manager/tags.

Shall I build the image myself or this is going to happen sometime soon ?
Cheers.

[code]

[2019-09-23 18:58] yasker commented on #756
@thomasmodeneis

We have an issue #754 for v0.6.0 release, so we pulled image temporarily. We will update the image with the fix soon.

[2019-09-23 18:59] thomasmodeneis commented on #756
Great thanks.

[2019-09-23 19:03] yasker commented on #756
@thomasmodeneis We've put back the image with a hotfix. It's not a standard procedure (since the tags would be wrong), but `longhornio/longhorn-manager:v0.6.0` should be fine for now.

We will release v0.6.1 with the official fix today.

[2019-09-23 19:04] yasker commented on #756
Note: for the record, the current v0.6.0 image is generated by the commit:

[code]

[2019-09-23 19:21] thomasmodeneis commented on #756
Great, thanks for the heads-up.

[2019-09-23 19:21] #756 closed

[2019-09-23 20:29] shuo-wu commented on #755
It's a Rancher Bug. See:
https://github.com/rancher/rancher/issues/23017

[2019-09-23 20:33] yasker commented on #753
This is the symptom of #754 . Once the manager is up, the setting should be set correctly and deployer should continue to work.

[2019-09-23 20:33] #753 closed

[2019-09-23 21:50] yasker opened #758 "uninstaller: Error when running, but still able to complete the uninstallation"
[code]

[2019-09-23 21:51] yasker commented on #754
Fixed. Longhorn v0.6.1 is coming soon.

[2019-09-23 21:51] #754 closed

[2019-09-23 22:20] yasker commented on #381
We have changed the deployment model of engine's in v0.6.0, combined with `GuaranteedEngineCPU`, it should help on the stability of the system.

[2019-09-23 22:27] yasker commented on #636
Should be fixed by https://github.com/longhorn/longhorn/issues/581

[2019-09-23 22:27] #636 closed

[2019-09-23 22:30] yasker commented on #711
Duplicate of #627

[2019-09-23 22:30] #711 closed

[2019-09-23 23:05] yasker commented on #82
Only remain item is 7, which is tracked by https://github.com/longhorn/longhorn/issues/368

[2019-09-23 23:07] yasker commented on #387
Cancel since we're moving to https://github.com/longhorn/longhorn/issues/677

[2019-09-23 23:07] #387 closed

[2019-09-23 23:13] yasker commented on #389
Need to rethink once #677 in place.

[2019-09-23 23:23] yasker commented on #368
Related to #677

[2019-09-23 23:45] shuo-wu commented on #17
The requirement for expanding PVC of CSI volume:
Kubernetes version v1.16: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#csi-volume-expansion
CSI Version v1.1.0: https://kubernetes-csi.github.io/docs/volume-expansion.html
New sidecar container named `CSI external-resizer`: https://kubernetes-csi.github.io/docs/external-resizer.html

For now, we can provide an option on the Longho

[2019-09-24 00:00] yasker opened #759 "PoC: upgrading manager API to Rancher 2 style"
Related to #611 , #613

Answer the questions:
- [x] Is Rancher 2 API framework fit for Longhorn manager's API?
- [x] Can Longhorn CLI benefit from it?
- [x] How much would the effort to change to use Rancher 2 style API?
- [x] Would it be helpful in rewriting the URL behind the magic proxy?

[2019-09-24 00:02] yasker opened #760 "[POC] SPDK"
Maybe can replace tgtd.

Answer the question:
- [ ] Is it possible to replace tgtd to create iscsi target for a userspace process? And how long it will take? What's the performance/CPU utilization gain?
- [ ] How much effort it would need to create a kernel module to talk with SPDK to implement the block device interface?

[2019-09-24 01:19] yasker opened #761 "PoC: QoS for v0.7.0"
PoC for #750

- [x] Design the QoS for upper limit and lower minimal for the BPS and IOPS
- [x] Implement a prototype for the upper limit.

[2019-09-24 01:23] yasker opened #762 "PoC: Reattach volume when docker reboot"
PoC for #686 .

- [x] Is it possible to observe the Docker reboot event from Longhorn? e.g. via Kubernetes state change.

[2019-09-24 01:28] yasker opened #763 "PoC: Kubernetes upgrade"
PoC for #703

- [x] Why the volumes are detaching during the upgrade?
- [x] Figure out possible ways to keep volume attached (or reattached) and still usable by the workload after Kubernetes upgrade.

[2019-09-24 01:53] yasker commented on #705
I am not sure it's necessary since I don't think you need to require HTTPS for internal networks or the testing setup. Sounds like the choice is up to the user.

[2019-09-24 01:55] yasker commented on #719
Fixed.

@meldafrawi Remember to set labels and milestones when filing the issue next time.

[2019-09-24 01:55] #719 closed

[2019-09-24 01:57] yasker commented on #666
@shuo-wu Remember to set the milestone we agreed to when filing the issue next time.

[2019-09-24 01:58] yasker commented on #660
In v0.6.1, DR volume is automatically attached.

[2019-09-24 01:58] #660 closed

[2019-09-24 01:59] yasker commented on #610
Close the issue since it's resolved.

[2019-09-24 01:59] #610 closed

[2019-09-24 02:01] yasker commented on #591
Should be fixed in v0.6.0 by the above commit.

[2019-09-24 02:01] #591 closed

[2019-09-24 08:49] rbq commented on #755
Is there any way to recover from this without waiting for the second next stable Rancher release?

[2019-09-24 11:41] aleksey005 commented on #755
After upgrade 0.5.0 to 0.6.1 - work good, but error not clear
![image](https://user-images.githubusercontent.com/6145279/65508515-17cb9c00-ded9-11e9-847e-3531e80f7aa3.png)
![image](https://user-images.githubusercontent.com/6145279/65508628-4a759480-ded9-11e9-9a44-b4e325da5fd0.png)
If you delete, then everything is fine
![image](https://user-images.githubusercontent.com/6145279/65508912-f7501180-de

[2019-09-24 11:51] rbq commented on #755
@aleksey005 Delete what exactly, the catalog-installed app or the resources it provisions? Does that disconnect/corrupt mounted volumes? Will it pick up the existing volumes after reinstalling?

[2019-09-24 12:07] aleksey005 commented on #755
@tbq I made backups in the S3 volumes of the Longhorn, then deleted the failed application from the Apps - Longhorn, then restored the volumes through the backup Longhorn procedure.

[2019-09-24 16:51] yasker commented on #755
@rbq Deleting the app will remove all the data, make sure you have backups before doing it.

We're investigating possible ways to work around the Rancher issue, stay tuned.

[2019-09-24 16:54] yasker commented on #753
@phobos-dthorga No problem, glad it resolved!

Just one note: the settings on the app page only apply if there is no current setting in the Longhorn UI (e.g. new installation or upgrade to a new version with more settings), to prevent accidentally overridden the current Longhorn setting.

[2019-09-24 17:20] courcelm opened #764 "Empty backup list for some volumes"
In longhorn v0.6.1,  I can't see backup anymore for some volumes. The issue might be related to volume name.

Not ok:
matomo-mysql-volume

Ok (can see list):
matomo-backup-1
pvc-0cd9592d-54a0-11e9-a1b0-000c298019f4

[2019-09-24 17:28] yasker commented on #764
@courcelm This is weird. I don't think it's volume name since the name you provided works fine for me.

Maybe it's related to the backup progress we've introduced in v0.6.0. Now making backups are asynchronized command and you can check the progress in the UI by looking at the related snapshot. Before the backup was completed, the backup won't show up in the backup store.

[2019-09-24 17:31] yasker commented on #764
@smallteeths I think it's a UI bug. Can you check?

[2019-09-24 17:33] yasker commented on #764
@smallteeths It looks like a UI bug. Backend returns the data correctly. Can you check?

[2019-09-24 17:33] courcelm commented on #764
I don't see any error in Chrome console.

[2019-09-24 17:34] courcelm commented on #764
I think a receive data from websocket. Not very familiar with this....

[2019-09-24 17:35] yasker commented on #764
@courcelm It's probably got something to do with our UI dealing with Rancher proxy...

May due to this last-minute fix: https://github.com/longhorn/longhorn-ui/commit/927b2dc596d79bd22d195d38ab1d534a41826e00

[2019-09-24 17:40] courcelm commented on #764
Ok, let me know if there is a workaround. I would appreciate restoring my backup.

[2019-09-24 17:47] yasker opened #765 "test: Improve the stress test"
The goal of the stress test is by running the system in the high utilization environment for a long period of time to expose issues in the system. The measurement of the stress test would be how long can the system running without an error.

We want to
- [ ] Find a proper relationship between CPU number, acceptable concurrent testing pod number, and timeout number in the current stress test.
- [ ]

[2019-09-24 20:30] meldafrawi opened #766 "stress test: snapshot purge failed"
- Snapshot marked as removed, has no parent, and volume-head is not listed as child.

[code]

[2019-09-24 21:39] yasker commented on #766
I suspect it because the API returns staled data so the real purge might not be started yet before the `wait_for` function declare it's completed, which may due to the last purging process.

[2019-09-25 03:55] yasker commented on #764
@courcelm Can you try to upgrade UI deployment to use `longhornio/longhorn-ui:v0.6.1-patch1`? This image should fix the problem.

You can also repull `longhornio/longhorn-ui:v0.6.1` on the nodes, which also included the patch from https://github.com/longhorn/longhorn-ui/pull/200 .

[2019-09-25 12:29] courcelm commented on #764
@yasker The patch is working fine. I can see all my backups now. Thank for the quick fix!

Unrelated question: what is the purpose of the new maintenance checkbox when attaching volume?

[2019-09-25 12:59] jocarren commented on #755
I have the same problem.

[2019-09-25 15:06] namuch opened #767 "High CPU usage observed after upgrade to 0.6.1"
After upgrading from 0.5.0 to 0.6.1, the instance manager pod on each node consumes much higher CPU resources.

With or without volumes mounted, the following containers are extremely busy:
-`k8s_replica-manager_instance-manager-r-xxxx...`
-`k8s_engine-manager_instance-manager-e-xxxx...`

Viewing the logs on these containers show almost no activity after initial startup and no errors.

[2019-09-25 15:20] yasker commented on #767
Hi @namuch

Instance managers are new components we've added to v0.6.0. Longhorn will no longer start separate pods for each engine and replica, instead instance manager will spin up processes inside it. As an extra component it will take some CPU when there is nothing running on it.

How much higher of CPU utilization you're referring to?

[2019-09-25 16:12] namuch commented on #767
They are constantly at 4% and 6% usage when idle, determined by using docker stats.
Here is a graphing showing the usage prior to time of upgrade until current time:

![image](https://user-images.githubusercontent.com/18311962/65619130-73973300-df74-11e9-8110-e050761158c7.png)

[2019-09-25 17:27] yasker commented on #764
@courcelm I've added a [section](https://github.com/longhorn/longhorn/blob/master/docs/volume.md#maintenance-mode) in documents to explain the usage of `Maintenance mode`.

[2019-09-25 17:44] yasker commented on #767
@namuch Thanks for reporting. I think there is room for improvement. We will see what can we do about it for the v0.7.0 release.

[2019-09-25 22:27] yasker commented on #760
Push to v0.7.1. SPDK requires huge page support which will definitely bring more complexity into containerizing it.

[2019-09-25 23:02] yasker opened #768 "Delete all backups of one volume sometime fails, left empty volume"
Error message:

Driver: S3.

During the error case, all the backups are gone but the backup volume remains.

The empty backup volume cannot be deleted.

The only file remains inside the backupstore directory:

[2019-09-26 01:04] shuo-wu commented on #755
Steps to reproduce this issue:

0. Setup environment before reproducing: Rancher version `v2.2.7`; Kubernetes version `v1.13.9`; One Kubernetes Cluster with **3 nodes**;

1. Set Chart repo URL to https://github.com/shuo-wu/charts.git with branch `test` as the test chart. Please refresh the chart before reproducing it.

2. Use `kubectl apply -f https://raw.githubusercontent.com/shuo-wu/longhorn/tes

[2019-09-26 02:26] yasker commented on #755
@rbq @jocarren We've found a workaround to the rollback or upgrade failure. See https://github.com/longhorn/longhorn/wiki/Longhorn-v0.6.0-Upgrade:-Workaround-for-recovering-from-a-rollback-failure-in-Rancher for details.

[2019-09-26 06:43] rbq commented on #755
@yasker Thank you!

I experimented with the workaround and managed to revert to 0.5. My Helm ConfigMaps seem to be called `longhorn.v${n}` though, without the `-system` part.

Then I tried to upgrade to 0.6.1 and it failed with:

I definitely didn't delete that one:

[code]

Anyway, I then managed to revert to 0.5 again, this time by killing the workloads, removing the Helm config map and finally

[2019-09-26 12:47] sybnex commented on #538
I still have very high CPU Loads after updating to 0.6.1 ...

OS: Ubuntu Server 18.04
Docker: 19.03.2

If I shutdown the longhorn docker ressources the load is coming down immediately.
In the OS you see a lot of Context Switches and Interrupts made by longhorn and calico.

Will you have a look on that? Do you need additional informations?

[2019-09-26 16:37] yasker commented on #538
@sybnex Yeah, we're looking into it. We're tracking v0.6.1 CPU utilization at https://github.com/longhorn/longhorn/issues/767

Can you provide us the result of
[code]

And ideally, the `docker stats` and `top` output from each node you have.

[2019-09-26 16:41] yasker commented on #755
@rbq Saw your edit. What's wrong with your deployment?

[2019-09-26 17:48] shuo-wu commented on #755
This error message `Failed to install app longhorn. Error: UPGRADE FAILED: no ConfigMap with the name "longhorn-default-setting" found` is actually a Helm bug: If the new resources introduced by the new version already exist in your cluster, this kind of error will be triggered when you try to upgrade to that new version.

For Longhorn system, this new version means `v0.6.0` or `v0.6.1`. The faile

[2019-09-26 19:51] shuo-wu opened #769 "Engine image DaemonSet will be created even if the engine image is incompatible"
When the Longhorn system is upgraded from `v0.5.0` to `v0.6.0`, the new version engine image will be created by the new longhorn manager pod. But the old longhorn manger pods are still capable of creating DaemonSet for the new engine image object. Then something unexpected may happen.

e.g. The engine image DaemonSet created by old longhorn manager will use the deprecated label `longhorn=engine-im

[2019-09-26 21:25] shuo-wu opened #770 "test: test_kubernetes_status failed in the Longhorn deployed by Rancher"
[code]

[2019-09-26 21:35] shuo-wu commented on #770
The reason for this issue:
1. Manually created PVC will set the field `spec.storageClassName` to  default StorageClass name. But manually created PV's `spec.storageClassName` is empty by default.
[code]
2. For the Longhorn created by charts, the StorageClass `longhorn` will be set to default StorageClass. By there is no default StorageClass set for the Longhorn deployed via the yaml files in `long

[2019-09-26 21:41] shuo-wu commented on #770
Solution:
Set `spec.storageClassName` for PV and PVC in this test

This bug also demonstrates a lack of standard and comprehensive test workflow for the Longhorn release.

[2019-09-26 22:08] ryandharper opened #771 "Longhorn Pods Stuck In Attaching State Kubernetes v1.16.0"
Kubectl get pods
[code]
Kubectl describe pod easy-butter-ghost-5757444bd8
[code]
The volumes also show hung as 'attaching' in the Longhorn UI /dashboard.

Logs from the CSIAttacher
[code]
**Steps to reproduce**
1 - Install Kubernetes v1.16.0 with Kubeadm
2 - Start longhorn as per documentation (I have one change where I used my own local volume rather than /var/lib/rancher/longhorn by defining the

[2019-09-26 22:21] ryandharper commented on #771
I think this may be because the volume I am trying to attach to is NFS!

[2019-09-26 22:21] #771 closed

[2019-09-26 23:41] shuo-wu commented on #743
It's caused by the wrong `ownerReferences` setting: the `kind` field should be `EngineImage` rather than `longhorn.rancher.io/v1alpha1, Kind=EngineImage`

[2019-09-27 08:24] rbq commented on #755
@yasker The UI couldn't connect to the nodes and provisioning volumes didn't work. I then saw that there were still some workloads with version 0.6.1 running and removed those. That seemed to trigger Longhorn going on a killing spree, setting all volumes to “Deleting …” without any way to abort. I ended up uninstalling Longhorn, manually removing the rest, patching away a bunch of finalizers, dele

[2019-09-27 08:55] sybnex commented on #538
Here are the first results:

`~$ kubectl top node
NAME           CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
192.168.1.61   3472m        86%    5712Mi          36%
192.168.1.62   1980m        99%    1687Mi          21%

~$ kubectl -n longhorn-system top pods
NAME                                        CPU(cores)   MEMORY(bytes)
csi-attacher-5b788cc68-4bslg                4m           7Mi
csi-attac

[2019-09-27 08:58] sybnex commented on #538
![image](https://user-images.githubusercontent.com/12811138/65756602-b0e6f680-e115-11e9-8ec1-c9290e29e6b1.png)

[2019-09-27 09:08] sybnex commented on #538
After removing longhorn ... especially the intance-managers:

[code]

[2019-09-27 17:20] yasker opened #772 "deploy: Include a storage class in the yaml deployment"
#770

Need to update the doc as well.

[2019-09-27 17:45] yasker opened #773 "UI: show `System Hidden` snapshot doesn't work"
<img width="1265" alt="Screen Shot 2019-09-27 at 10 42 41 AM" src="https://user-images.githubusercontent.com/3344618/65790058-93b12880-e113-11e9-9131-42d32176401a.png">

[2019-09-27 17:47] yasker commented on #764
Fixed.

[2019-09-27 17:47] #764 closed

[2019-09-27 18:24] yasker opened #774 "engine: Recurring backup with retain number leaves a huge list of `Failed to get backup status` in the status"
E.g.

[code]

We need to set a limitation on how many backup errors we should preserve in the engine.

[2019-09-27 18:25] yasker commented on #766
I've observed a possible related issue that snapshot purge wasn't completed on a local setup. Need to determine it's the same.

[2019-09-27 22:14] zeppelinux opened #775 "After Longhorn upgrade to 0.6.1 - fail to list snapshot: cannot get client for volume pvc-cxxxx: cannot get engine client with image rancher/longhorn-engine:v0.5.0: engine image ei-9bea8a9c (rancher/longhorn-engine:v0.5.0) is not ready, it's incompatible"
I upgraded Longhorn using Rancher UI to 0.6.1 and now, when i click on any volume in Longhorn UI I'm getting error popup that says:

`fail to list snapshot: cannot get client for volume pvc-c6c95827-b492-11e9-bc5e-00241dac3968: cannot get engine client with image rancher/longhorn-engine:v0.5.0: engine image ei-9bea8a9c (rancher/longhorn-engine:v0.5.0) is not ready, it's incompatible`

Replica coun

[2019-09-27 22:43] shuo-wu opened #776 "The replica subdirectory of data path won't be created when Longhorn is upgrade from v0.5.0 to v0.6.0"
When Longhorn is upgraded from v0.5.0 to v0.6.0, the replica subdirectory of data path `/host/var/lib/rancher/longhorn/replicas` somehow doesn't exist then fails volume attach.

The cause of this issue:
In v0.5.0, the subdirectory will be created automatically when there is a Longhorn volume being attached (I haven’t checked the implementation detail for the feature).
In v0.6.0, the replica subdir

[2019-09-27 23:15] yasker opened #777 "test: Set a baseline for the CPU utilization"
To prevent something like #767 from happening again.

Some ideas:
1. Use CPU utilization reported by `kubectl top node` and `kubectl -n longhorn-system top pods`, as well as `dstat` or `sar` on the node.
2. Test the following cases for a start:
* install Longhorn without any workload
* one volume detached
* one volume attached with no traffic.

The CPU utilization during accessing would be dealt w

[2019-09-27 23:46] yasker commented on #767
Before the fix, on a three-node cluster, each with 2 VCPUs, Longhorn just installed:
[code]
After the fix:
[code]

Noted we need to wait for a few minutes for `kubectl top` to update the data.

[2019-09-27 23:47] shuo-wu commented on #776
The steps to reproduce it:
1. Deploy a new cluster. Or clean up the longhorn directory `/var/lib/rancher/longhorn` for the existing cluster nodes.
2. Deploy Longhorn v0.5.0
3. Do nothing on Longhorn v0.5.0, directly upgrade it to v0.6.1
4. Create and attach a volume. The volume will get stuck in `attaching` and the replicas are always in state `Stopped`

[2019-09-28 00:03] yasker commented on #538
@sybnex For the issue of v0.6.1 release, check #767 . We found the culprit and fixing it in 0.6.2 release. Leave this issue open for the CPU utilization with the load.

[2019-09-28 00:28] yasker opened #778 "engine: data plane may be interfered by the backup process"
A user reported this in slack:

Hi, see on longhorn 0.60 replicas failing every night , below are the errors. Could be caused by some nightly snapshot backups (nodes are VMs), but as I didnt observe this on 0.5 - anything I could influence here - tweak something to wait longer ?

[code]

I have also seen once that when installing wordpress app, making backups of mariadb disrupt the data plane, and

[2019-09-28 01:12] yasker opened #779 "engine: deadlock in `snapshot purge` result in `Too many snapshots`"
Observed the stuck of purge snapshot during the recurring scheduled backup. With one minute snapshot running for a couple of days.

It results in `Too many snapshots` in the end.

Found the snapshot purge cannot proceed.

Manual testing reveals that the snapshot purge cannot proceed due to cannot get snapshot purge-status from one of the replica:

[code]

Looking at the code, found a deadlock caus

[2019-09-28 01:13] yasker commented on #779
Maybe related to https://github.com/longhorn/longhorn/issues/766

[2019-09-28 01:20] yasker commented on #755
Thanks @rbq . How did you triggered the uninstaller? It shouldn't be triggered during either upgrade or rollback process, unless there is something we don't aware of.

[2019-09-28 01:21] yasker commented on #755
Also, a quick update: we're still working on the workaround. The previous steps have some issues and gaps, we're validating the updated version currently. We should able to release it next week.

[2019-09-28 08:26] aleksey005 commented on #755
On a single-node cluster, Longhorn is installed and updated without failures.

[2019-09-28 10:57] sybnex commented on #767
So when can we expect the new release with this fix? The kubernetes cluster is really unusable at the moment.

It would be great to have this as soon as possible.

[2019-09-28 16:54] yasker commented on #767
@sybnex We're planning to releasing the fix with v0.6.2 by the end of next week. There are a few other bugs we've found and need to address before the release.

[2019-09-28 22:49] zeppelinux commented on #775
Detaching each volume, updating the engine to 0.60 and attaching it back fixes it. Closing the bug.

[2019-09-28 22:49] #775 closed

[2019-09-30 18:55] yasker commented on #779
The following script can reproduce the deadlock in the pre-fix version in a Longhorn engine setup.

[code]

[2019-09-30 18:55] meldafrawi commented on #758
Validation: **PASSED**

Steps to reproduce:
  - Uninstall Longhorn using
 `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn-manager/master/deploy/uninstall/uninstall.yaml`
  - Check uninstaller job logs using `kubectl logs -f longhorn-uninstall-xxxxx`

[code]

[2019-09-30 18:57] #758 closed

[2019-09-30 19:32] meldafrawi commented on #773
Validation: **PASSED**

Steps to reproduce:
  - Create a volume with size 20 GB, attach it to a node, format it, and mount it to a directory on attached node.
  - Create a data file with size 8GB, and on `Volume Detail` page. create a snapshot
  - Repeat previous step with volume sizes 4 GB & 2 GB data files.
  - Using `lhexec`,  list and remove volume snapshots.
  - UI: on `Volume Detail` page. c

[2019-09-30 19:33] #773 closed

[2019-09-30 22:17] meldafrawi opened #781 "UI: volume-head disappeared at recurring snapshot create."
Steps to reproduce:

  - Create a volume, attach it to a node.
  - Create a recurring snapshot every 1 min.
  - Wait for snapshot to be created, **Do Not** refresh the page.
![Screenshot from 2019-10-01 00-12-03](https://user-images.githubusercontent.com/18232258/65920907-cba0c000-e3e0-11e9-9fe4-06c09999719a.png)

[2019-09-30 23:24] shuo-wu commented on #768
Cannot reproduce this issue.
But I found that the returned error message doesn't contain the actual error info.

[2019-09-30 23:33] meldafrawi commented on #779
Validation: **PASSED**

Steps to test:
  - Pull the latest engine master, make build && make package
  - Run the engine using docker run -it --privileged -v /volume -v /proc:/host/proc -v /dev:/host/dev longhornio/longhorn-engine:<version> /bin/bash
  - inside the engine container run
  `longhorn replica /tmp/replica1 --size 10G &`, then
  `longhorn controller --replica tcp://localhost:9502 volume

[2019-09-30 23:34] #779 closed

[2019-09-30 23:49] Angelinsky7 opened #782 "Blocked update from 0.0.5 to 0.0.6"
I didn't read the update documentation and tried to live update all my volumes. Now, they are all stuck in detached mode. I cannot upgrade the engine because the ui thinks that the volume are already upgraded and i cannot remount them because of the incompatibility. What can i do ?
Thanks for your help

[2019-09-30 23:58] yasker commented on #782
@Angelinsky7 Can you tell us the reproduce steps? The case you described shouldn't happen. You should able to reattach the volumes once they're upgraded offline. Longhorn will automatically delay the upgrade util volumes are offline if the engines are incompatible.

[2019-10-01 00:14] Angelinsky7 commented on #782
i tried to rollback longhorn from rancher. it worked
then rollback the volume to the 0.0.5 engine. it worked
then upgrade again longhorn from rancher... and i lost all my volume in rancher.
is it possible to get them back :-(

[2019-10-01 00:22] yasker commented on #782
@Angelinsky7 What did you mean by "lost"? Have you run the uninstaller manually? Does the volume show up in the Longhorn UI?

Can you send us a support bundle at longhorn@rancher.io?

[2019-10-01 00:23] yasker commented on #768
[backupstore.tar.gz](https://github.com/longhorn/longhorn/files/3673887/backupstore.tar.gz)

One example of the content of a failed deletion.

[2019-10-01 00:24] Angelinsky7 commented on #782
@yasker no i didn't run the unintaller manually, but i did see it launched. Do the volumes does not appear in the ui...

i don't undertand... what would like ?
and thanks for your help :-)

[2019-10-01 00:27] Angelinsky7 commented on #782
also all my config in the config map section is gone (the longhorn-default-settings)

[2019-10-01 00:30] Angelinsky7 commented on #782
but all my replicas are still there...
[code]

[2019-10-01 00:32] Angelinsky7 commented on #782
i've got a backup of my kubernetes cluster from this morning, does the longhorn volumes configuration is inside ?

[2019-10-01 00:33] yasker commented on #782
@Angelinsky7 From what I saw in the support bundle, the volume metadata is all gone. Looks like the uninstaller's doing. But we don't know how the uninstaller get involved if it's not manually triggered by the user.

Can you check if there are any content inside those replica directories you've shown? if so, you can use the method on https://github.com/longhorn/longhorn/issues/469#issuecomment-480

[2019-10-01 00:38] yasker opened #783 "investigate: why uninstaller get involved in the Longhorn app upgrade/rollback process"
There are two reports that the uninstaller get involved: https://github.com/longhorn/longhorn/issues/782#issuecomment-536805285 and https://github.com/longhorn/longhorn/issues/755#issuecomment-535363241

We don't expect the uninstaller to get involved during upgrade/rollback, since it will clean up the user volume data if triggered. If it's the mechanism of Helm chart rollback, we need to stop it

[2019-10-01 00:47] shuo-wu commented on #782
What's your Rancher version?

Are the following steps the reproduce steps?
1. Launch Longhorn v0.5.0
2. Create and Attach Longhorn volumes
3. Upgrade to Longhorn v0.6.1 and wait for it to become `active`
4. Upgrade the volumes to longhorn-engine v0.6.1 (offline upgrade)
5. Rollback to Longhorn v0.5.0 and wait for it to become `active`
6. Upgrade the volumes to longhorn-engine v0.5.0 (offline upgra

[2019-10-01 00:50] Angelinsky7 commented on #782
[code]

1.     Launch Longhorn v0.5.0
2.     Create and Attach Longhorn volumes
3.     Upgrade to Longhorn v0.6.1 and wait for it to become active
4.     Upgrade the volumes to longhorn-engine v0.6.1 (**online upgrade** --> was my mistake)
5.     Rollback to Longhorn v0.5.0 and wait for it to become active
6.     Upgrade the volumes to longhorn-engine v0.5.0 (offline upgrade).
7.     Upgrade to Lo

[2019-10-01 00:54] shuo-wu commented on #782
For the **online upgrade** at step 4, do you detach and re-attach those upgrading volumes before rolling back to Longhorn v0.5.0?

[2019-10-01 01:01] Angelinsky7 commented on #782
when upgrated at step 4 the upgrade was "instantaneous" but obviously not done.
i waited about 30min to see if something changed and when i saw that nothing was going to change. i detached the volumes (hoping that the migration start at this point) but nothing happened. So i re-attach all volume (hoping of a migration again) but this time the volume never re-attached themselves. without any error

[2019-10-01 01:13] yasker commented on #782
@Angelinsky7 We need sometime to investigate what's happened in your environment. And we're releasing v0.6.2 soon, which is going to fix a few issues we found in v0.6.1 release. You can wait until then for the upgrade.

[code]

This is unexpected.

Also, how did you drain your node? Maybe it's related.

[2019-10-01 01:19] Angelinsky7 commented on #782
@yasker i drain my node using rancher ui (agressive mode, with 600 sec) most of the time it's working well.
maybe the volume were migrating and i didn't see it (but is there a way that the volume is migrating from one engine to another ??) but i waited like 30min and usually migrating volume is really quick.

Yes i can wait for 0.6.1 with pleasure.
I really think that the only fault is my behavior

[2019-10-01 01:22] shuo-wu commented on #782
I update the reproduce steps. Could you double-check it?
1. Launch Longhorn v0.5.0
2. Create and Attach Longhorn volumes
3. Upgrade to Longhorn v0.6.1 and wait for it to become `active`
4. Online upgrade the `attached` volumes to longhorn-engine v0.6.0. Wait for 30 mins then detach those volumes. --> Those volumes are using longhorn-engine v0.6.0 but they cannot be re-attached any more.
5. Rollbac

[2019-10-01 01:24] Angelinsky7 commented on #782
@shuo-wu
7. `attached` the v0.0.5 volumes successfully
8. Upgrade to Longhorn v0.6.1 and wait for it to become active --> The uninstaller somehow gets triggered and all of your Longhorn volumes are gone.

[2019-10-01 01:27] yasker commented on #782
@Angelinsky7 Oh, no it's not... it's more likely a bug in Longhorn since we've built in the fail-safe for the live upgrade: if it cannot be upgraded, then the upgrade will happen after volume is detached. So it's surprising that the volume cannot be attached again after upgraded. We will try to figure it out the reason the fail-safe doesn't work as expected.

[2019-10-01 01:27] Angelinsky7 commented on #782
@yasker @shuo-wu either way thanks a lot for your support

[2019-10-01 01:33] shuo-wu commented on #782
Step 4 works fine for me (without waiting for 30 mins before detaching) and I cannot reproduce it. Let me retry it later...

[2019-10-01 01:36] yasker commented on #782
@Angelinsky7 Can you send us a support bundle from v0.5.0? Maybe we can get some clues there.

[2019-10-01 09:01] Angelinsky7 opened #784 "Actual size of the volume is bigger than max size"
Hi,
I discover that one of my volume is bigger that the size maximum size allowed. Is this normal ?
What can i do about it ? How is this even possible ?

Here some informations :
[code]
[code]
[code]

if you need more info or a bundle i will be happy to help.
Thanks for your amazing support

[2019-10-01 09:03] Angelinsky7 opened #785 "[feature] Add a percentage meter of the size of the volume in the list"
Hi,
Could it be possible to have a percentage meter of the actual size of the volume in the volume list, like that we could directly see when a volume is near the 100%.

It is certainly possible to create an alarm about that and go to grafana to see them but it would we really easier to have it there (or in any other way)

(and i didn't find a way in the rancher grafana instance to see the size)

[2019-10-01 09:18] rbq opened #786 "UI: Wording of tooltip for “Health Degraded” incorrect (low priority)"
I have one degraded volume (replica count: 3, anti-affinity: hard) with four replicas listed, each on a different host:

* Node 1: Healthy
* Node 2: Rebuilding…
* Node 3: Healthy
* Node 4: Failed

Health is correctly shown as “Degraded” in list and detail view, but when you hover over it, there is a tooltip for “Limited node redundancy” (multiple replicas being located on the same node). But that

[2019-10-01 12:31] rbq commented on #783
@yasker Regarding [my comment from #755](https://github.com/longhorn/longhorn/issues/755#issuecomment-535363241): I saw the uninstaller running at least once, but don't remember if it was when I created a 0.5 release following a 0.6.1 one, or later when rolling back to a previous revision. Sorry, I wish I could be of more help.

[2019-10-01 12:54] rbq commented on #73
A user managed to create a Longhorn-backed ReadWriteMany PVC that seems to be mounted in a couple of Pods on the same node. So I checked the Rancher UI and didn't see any warning or validation that would stop me from creating those. What am I missing? Does this somehow actually work? Is it safe?

[2019-10-01 17:56] yasker commented on #784
@Angelinsky7 There was a bug in v0.5.0 which prevents the snapshot purging from completion. You can try again later after upgrade to the upcoming v0.6.2 release.

One side note: if you only have one node in the cluster, it's unnecessary to have 3 replicas. Two would be enough even for the potential replica disk failure. But it's recommended to backup the volume to the outside of the cluster, just

[2019-10-01 18:04] yasker commented on #785
It's a bit hard for the block device to decide it's full or not since it's the filesystem on top of the block device determines that. But I understand the need for this.

This will require us to somehow access the pod created by Kubernetes and get information from there if possible. We will look into this later.

[2019-10-01 18:31] yasker commented on #73
@rbq

RWX means [`the volume can be mounted as read-write by many *nodes*`](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes). So it's `per node`, not `per pod`. In this case, since all the pods are created on the same node, it's still `per node`. Once the pod gets scheduled away, Longhorn would error out since it cannot be attached to two nodes at the same time. So far

[2019-10-01 19:32] shuo-wu commented on #783
Steps to reproduce this issue:
1. Deploy Longhorn v0.5.0 and wait for it to becomes `active`
2. Upgrade Longhorn to v0.6.1 and wait for it to becomes `active`
3. Roll back or upgrade Longhorn to v0.5.0 and wait for it to becomes `active`
4. Re-upgrade Longhorn to v0.6.1 --> error message `failed to install app longhorn-system. Error: UPGRADE FAILED: no CustomResourceDefinition with the name "insta

[2019-10-01 20:18] Angelinsky7 commented on #784
@yasker ok, perfect, i'll update the issue when i'll go to 0.6.2
great thanks, i'll update to 2 replicas.
I backup with nfs every day my volume that hold data...

[2019-10-01 20:22] Angelinsky7 commented on #785
@yasker if i understand correctly the actual size written in the picture is in fact the size of the file in the filesystem (with all the snapshot) and not the actual size of the "mount"

![image](https://user-images.githubusercontent.com/13157968/65997589-f26efd00-e499-11e9-940a-b4e3817ade3a.png)

[2019-10-01 20:24] meldafrawi commented on #776
Validation: **PASSED**

[2019-10-01 20:24] #776 closed

[2019-10-01 20:49] yasker commented on #784
@Angelinsky7 Is the NFS server running inside the cluster or outside the cluster? I just want to make sure if the node's disk is gone then the NFS server still have the data.

[2019-10-01 20:50] yasker commented on #785
@Angelinsky7 Yeah, it's the size each replica of the volume occupied on the hard drive, which includes all the snapshots.

[2019-10-01 20:55] Angelinsky7 commented on #784
@yasker :-)
outside :-) different machine, different hdd
thanks for your concern :-)

[2019-10-01 20:57] shuo-wu commented on #783
The causes for this issue:
1. The upgrade failure of step 4 is due to [the helm bug](https://github.com/helm/helm/issues/6031)

[2019-10-01 21:24] yasker commented on #778
Very hard to reproduce the issue. Once had an issue when starting wordpress while doing backups at the same time. Maybe it's caused by the CPU utilization issue #767 . Postpone to v0.7.0 if still unable to reproduce before v0.6.2. release.

[2019-10-01 22:58] meldafrawi commented on #777
- Using 3 node kubernetes cluster.

- Instance specs:
  - 2 vCPU
  - 4 GB RAM

#### Before installing longhorn
---------------------------

[code]

#### Longhorn installed - without any workload
-----------------------------------------

[code]

[code]

#### Longhorn installed - one volume (detached)
------------------------------------------

[code]

[code]

#### Longhorn installed - one volume (

[2019-10-02 00:48] shuo-wu commented on #769
There is no way to get the engine image version info and decide if an engine image is incompatible before deploying the related DaemonSet. This issue is unavoidable.

Now we plan to delete the engine image DaemonSet when the engine image is compatible and the labels are mismatching. It's actually a workaround and it can be removed after v0.6.x upgrade.
The consequence of this workaround is that we

[2019-10-02 02:37] yasker commented on #781
Move to 0.7.0 since China team is on holiday

[2019-10-02 17:26] shuo-wu commented on #783
The key point for this issue is to avoid upgrade failure (error in step 4) in old Rancher. For the details, see: https://github.com/longhorn/longhorn/wiki/Longhorn-v0.6.0-Upgrade:-caveats-about-rolling-back-to-v0.5.0

[2019-10-02 18:30] meldafrawi commented on #781
Validation: **PASSED**

[2019-10-02 18:30] #781 closed

[2019-10-02 20:34] meldafrawi commented on #769
Validation: **Failed**

Engine image DaemonSet still exists after the upgrade

`ei-7c102650`

[code]

[2019-10-03 01:48] meldafrawi commented on #769
Validation: **PASSED**

Steps to test: thanks to @shuo-wu

1- using Rancher v2.2.7, k8s 1.13.9
2- deploy longhorn v0.5.0
3- create the pv that trigger upgrade to v0.6.0 error. Create a pod with Longhorn volume and keep r/w data during upgrade.
4- try upgrade to v0.6.0, upgrade failed.
5- try to rollback to v0.5.0, rollback failed
6- delete all workloads (longhorn-driver-deployer, longhorn-manager,

[2019-10-03 01:49] #769 closed

[2019-10-03 02:42] paulmorabito opened #787 "Volumes topped on one node"
Using Longhorn 0.6.1. I had some issues with a node that wasn't response (k8sn2) which eventually crashed and rebooted. Since then, I've been unable to have any replicas running on the node with the below error happening every time. The error and K8S version are below.

Kubernetes Version
[code]

Logs
[code]

[2019-10-03 02:45] paulmorabito commented on #787
Nevermind. Fixed it. Somehow the wrong location for the volumes was enabled.

[2019-10-03 02:45] #787 closed

[2019-10-03 17:17] yasker commented on #6
@dvdbot We haven't put this on the schedule yet, though I just noticed that this issue has 14 upvotes... I put it on the v0.7.1 release now, so we can start evaluating it.

[2019-10-03 17:29] yasker commented on #768
More details after exposing the error information
[code]

[2019-10-03 19:33] meldafrawi commented on #783
Validation: **WIP**

[2019-10-03 20:17] meldafrawi commented on #783
Validation: **Failed**

Steps to test
0- Rancher v2.2.7; Kubernetes v1.13.9; 3-node cluster.
1. Deploy Longhorn v0.5.0 and wait for it to becomes active
2. Upgrade Longhorn to v0.6.1 and wait for it to becomes active
3. Roll back or upgrade Longhorn to v0.5.0 and wait for it to becomes active
4.
    - Scenario 1:
      - No cleanup before Re-upgrading Longhorn to v0.6.1 --> error message failed to

[2019-10-03 20:47] meldafrawi commented on #767
Validation: **PASSED**

[2019-10-03 20:47] #767 closed

[2019-10-03 20:49] meldafrawi commented on #755
Validation: **PASSED**

Steps to test:
  - https://github.com/longhorn/longhorn/wiki/Longhorn-v0.6.0-Upgrade:-Workaround-for-recovering-from-a-rollback-failure-in-Rancher

[2019-10-03 21:00] yasker commented on #755
We will release the fix with v0.6.2 soon.

[2019-10-03 21:04] yasker commented on #774
@shuo-wu need the reproduce steps

[2019-10-03 21:12] yasker commented on #755
We will keep the issue open until Rancher fixes https://github.com/rancher/rancher/issues/21070

[2019-10-03 22:38] yasker commented on #761
A few findings from POC:

Regarding the upper limit:
1. Since cgroups' policy will only apply to one process (specify by the pid in the `tasks`), we cannot apply it to the block device on the controller side if no process is using it. Restricting the speed on the replica would be harder since backup/rebuild speed will impact the RW speed.
2. Wrote a PoC to see if we can rate-limit the IO by blocki

[2019-10-03 22:38] #761 closed

[2019-10-03 22:41] yasker commented on #750
Move to planning, see #761 for details.

[2019-10-03 22:48] shuo-wu opened #788 "The instance manager's log is flooded by the error message when it fails to start a process"
[code]

May need to adjust the wait interval: https://github.com/longhorn/longhorn-instance-manager/blob/f83d29eee6b9451fe5aae1843fa0c2907fd31ffa/process/healthchecker.go#L28

[2019-10-03 22:51] yasker commented on #788
Weird, it shouldn't take more than a couple of seconds to start the replica. 5 seconds is long.

[2019-10-03 22:56] shuo-wu commented on #788
In this case, instance manager cannot launch replica processes due to some issues. e.g.: https://github.com/longhorn/longhorn/issues/776. Then the log is flooded by this message.

[2019-10-03 22:59] shuo-wu commented on #774
Reproduce step:
1. Create and attach a volume with a recurring backup job set (the schedule is `*/1 * * * *`).
2. Wait for more than 10 minutes. Then check the `backupStatus` in the engine object

[2019-10-03 23:03] yasker commented on #788
In fact, the log is useful since it indicates there is a problem. We can move it to the debug level. Increase the wait interval won't solve the problem: there is little difference between 1 second or 10 seconds if you run it for days but the later can cause 10 seconds delay in starting the process.

[2019-10-03 23:28] shuo-wu opened #789 "The crashed processes in instance manager cannot be cleaned up"
[code]

The key point of this issue:
The `instanceManagerName` will be unset when the engine/replica becomes state `error`. Then when we detach this errored volume, the instance handler will directly mark the engine/replicas as state `stopped` without sending a request to clean up the errored processes.
Later if we want to re-attach the volume, the instance manager will find that there is already

[2019-10-03 23:31] shuo-wu commented on #783
The above failure is actually caused by these two issues:
https://github.com/longhorn/longhorn/issues/776
https://github.com/longhorn/longhorn/issues/789

@meldafrawi Could you directly use the latest version(`v0.6.2` in the private test chart) to test this issue?

[2019-10-04 01:08] meldafrawi commented on #774
Validation: **PASSED**

[2019-10-04 01:09] #774 closed

[2019-10-04 08:05] ffilippopoulos commented on #428
We observe the same behaviour with longhorn v0.6.1. Our prometheus pods that use longhorn volumes fail randomly because the mount becomes ReadOnly (not during mount time but while pod is running and the volume is already mounted). Some errors I collected form `instance-manager-e` instance that is running on the same node around the time that this happens:

[code]
then we get a bunch of stack trace

[2019-10-04 14:58] yasker opened #790 "Stack trace happened in instance manager - engine"
Copied from https://github.com/longhorn/longhorn/issues/428#issuecomment-538292044 by @ffilippopoulos

---

We observe the same behaviour with longhorn v0.6.1. Our prometheus pods that use longhorn volumes fail randomly because the mount becomes ReadOnly (not during mount time but while pod is running and the volume is already mounted). Some errors I collected form `instance-manager-e` instance th

[2019-10-04 14:59] yasker commented on #790
Thanks for the report! @ffilippopoulos Is it possible to send a support bundle to us at longhorn-support-bundle@rancher.com ? We want to look into it ASAP.

[2019-10-04 15:06] ffilippopoulos commented on #790
@yasker I've forward all the collected logs to the email above! thanks for looking into this

[2019-10-04 15:32] yasker commented on #790
@ffilippopoulos Received, thanks!

[2019-10-04 18:39] yasker commented on #778
This may also caused by https://github.com/longhorn/longhorn/issues/790

[2019-10-04 18:46] meldafrawi commented on #783
Validation: **PASSED**

Steps to test
Using Rancher v2.2.7; Kubernetes v1.13.9; 3-node cluster.
1. Deploy Longhorn v0.5.0 and wait for it to becomes active
2. Upgrade Longhorn to v0.6.2 (master) and wait for it to becomes active
3. Roll back or upgrade Longhorn to v0.5.0 and wait for it to becomes active
4.
    - Scenario 1:
      - No cleanup before Re-upgrading Longhorn to v0.6.2 (master) --> er

[2019-10-04 18:46] #783 closed

[2019-10-04 18:48] yasker commented on #790
The direct reason is the same as the race condition in https://github.com/golang/protobuf/issues/838

But I am not sure if it's caused by the protobuf bug or the engine bug.
Two possible reasons:
1. Due to https://github.com/golang/protobuf/issues/838 , if protobuf structure definition has subfield, it may triggered the issue. We do have subfields for engine e.g. https://github.com/longhorn/longho

[2019-10-04 19:13] yasker commented on #790
The fix will be released with v0.6.2 release.

Feel free to reopen if it happens again with v0.6.2 release or later with the same call trace.

[2019-10-04 19:13] #790 closed

[2019-10-04 21:04] meldafrawi commented on #768
Validation: **PASSED**

Steps to test:
1. Launch an online s3 instance and set it as Longhorn backup target
2. Create a backup volume
3. Manually delete the backup directory of the backup volume in s3 instance. e.g. /storage/backupbucket/backupstore/backupstore/volumes/3d/32/longhorn-testvol-00oae2/backups/
4. before fix: Deleting the backup volume on UI page will fail with error message reported

[2019-10-04 21:05] #768 closed

[2019-10-04 23:23] shuo-wu commented on #789
Reproduce steps:
0. Newly created cluster(or remove directory `/var/lib/rancher/longhorn/replicas/` for each nodes); 3 nodes cluster
1. Deploy Longhorn v0.5.0 and wait for `active`
2. Upgrade to v0.6.1 and wait for `active`
3. Create and attach a volume. This volume will get stuck in `attaching` state since issue #776 is triggered. Detach this stuck volume
4. Upgrade to
  4.1. the version that doe

[2019-10-04 23:50] shuo-wu commented on #789
The fix for this issue may have huge potential impacts. We need to test all kinds of cases for it. e.g. online upgrade, offline upgrade, node down, etc.

[2019-10-05 01:27] yasker opened #791 "[REFACTOR] Longhorn CRD structural schema"
We're considering adopting OpenAPI v3 with Kubernetes CRD, transiting from the current Rancher API framework.

The main motivation is to support editing CRD. In order to do so, we might need to implement the validation hook as well as find ways to replace snapshot/backup creation calls - since those are actions, not declarations.

**Describe the items of the task (DoD, definition of done) you'd li

[2019-10-05 01:27] yasker commented on #759
Result:

Is Rancher 2 API framework fit for Longhorn manager's API?
The answer is no. Instead, we're exploring the native K8S API style. By adding validation hook and OPEN API schema, we're working towards making k8s style API usable for UI and CLI.

This is also the direction that other projects in Rancher moving towards.

Filed #791 to track the effort.

[2019-10-05 01:27] #759 closed

[2019-10-05 01:31] yasker commented on #788
The solution, for now, would be moving the log to the debug level.

[2019-10-07 18:02] yasker opened #792 "Support bundle missing instance managers and config map yamls"
Version v0.6.2.

[2019-10-07 19:14] shuo-wu opened #793 "There may be tons of conflict error messages in kubernetes controller"
[code]

Causes:
1. The kubernetes controller doesn't check the `ownerID` before handing the volume.
2. There is no equal check for the volumes before updating it in the kubernetes controller.

[2019-10-07 20:26] meldafrawi commented on #789
Validation: **PASSED**

Additional tests:
  - Engine image upgrade scenario (online & offlline).  **PASSED**
  - Node down scenario. **PASSED**

[2019-10-07 20:26] #789 closed

[2019-10-07 20:36] shuo-wu opened #794 "test: anti affinity tests failed sometimes"
[code]

[2019-10-07 20:38] yasker commented on #794
Another type of failure:

[code]

[2019-10-07 22:36] yasker commented on #792
Before the fix, instance manager and config maps are missing from the support bundle.

After the fix, instance manager is at `yamls/longhorn/instancemanagers.yaml`, config maps are at `yamls/kubernetes/configmaps.yaml`.

[2019-10-07 23:00] meldafrawi commented on #792
Validation: **PASSED**

[2019-10-07 23:01] #792 closed

[2019-10-07 23:12] shuo-wu commented on #793
Test Steps:
1. Create a volume
2. Create PV and PVC for the volume
3. Check the longhorn manager pods' log
- Before the fix: There should be conflict messages in **multiple** manager pods. e.g.:
[code]
- After the fix: Typically there is no conflict message in the manager pod. If the conflict messages exist, they should be **the same** manager pod.
4. Delete PVC and PV for that volume
5. Check the

[2019-10-07 23:35] yasker opened #795 "instance manager: Left over defunct (zombie) sync agent in the replica instance managers"
When instance manager shutdown replica process, the spawned sync agent process still remains in the process list of the instance manager. Those need to be cleaned up properly.

[code]

[2019-10-07 23:43] shuo-wu opened #796 "There are two VolumeGet and ownerID check in kubernetes controller"
One is in the main reconciliation loop. Another one is in the function `cleanupForPVDeletion()`.

Need to check and rewrite this part in v0.7.0.

[2019-10-07 23:45] shuo-wu commented on #796
The second `ownerID` check is introduced by this issue: https://github.com/longhorn/longhorn/issues/793

[2019-10-08 00:01] meldafrawi commented on #793
Validation: **PASSED**

[2019-10-08 00:02] #793 closed

[2019-10-08 03:55] yasker commented on #755
The workaround is now available at https://github.com/longhorn/longhorn/wiki/Longhorn-v0.6.0-Upgrade:-Workaround-for-recovering-from-a-rollback-failure-in-Rancher , along with Longhorn v0.6.2 release.

[2019-10-08 07:03] akuscu-smartpulse opened #799 "Is It Possible to Do'nt Install Longhorn to a Node?"
I have a mini node and i do not want to consume resources on that node.If i install longhorn the container will run in that node.I want to install longhorn only specific nodes.Is it  possible? If i add node affinity in https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/longhorn.yaml file would it run properly ?

I have one more question.Is it possible to take our files from /var/lib

[2019-10-08 18:37] yasker commented on #799
@akuscu-smartpulse

Longhorn manager and engine will need to run on the node to support the workload running on the node. You can use:
1. Kubernetes taint to disable the node, but the workload running on that node won't be able to access the Longhorn volume.
2. You can disable the node scheduling in Longhorn UI for the node, so Longhorn will not use that node for storage, but still able to provide

[2019-10-08 22:24] yasker commented on #777
Copied information to https://github.com/longhorn/longhorn-tests/wiki/CPU-utilization-baseline-(without-load). Close this issue.

[2019-10-08 22:24] #777 closed

[2019-10-08 23:38] yasker opened #800 "Improve and document the release process"
Need to document the release process.

Current issues:
1. The chart is separated from the main repo and hard to test.
2. The release process is not a one-click operation.

[2019-10-08 23:40] yasker opened #801 "Development process improvement"
- [x] An architecture design doc to help to ramp up new developers
- [x] Write a guideline for single Linux node development setup.

[2019-10-08 23:44] C0NO commented on #799
No i mean for example if my system crushed and i can only reach /var/lib/rancher/replicas... directory.This directories have .img , snapshots etc...
How can i take back my files from that .img?
I know backup and snapshot options available but i want to take files from that .img files.

[2019-10-08 23:48] yasker commented on #799
See https://github.com/longhorn/longhorn/issues/469#issuecomment-480963593

[2019-10-08 23:54] yasker opened #802 "Use go mod for Longhorn"
It's a more standard way to manage dependency. Though we will keep the vendor for build as well.

[2019-10-09 09:52] KuroObi opened #803 "Set recurring Snapshots config as annotation"
Is there a plan to set a Snapshot/Backup Schedule with annotations at volume creation.

It would be nice to set a daily Snapshot for a Database to daily reduce volume size.

[2019-10-09 12:26] akuscu-smartpulse opened #804 "Volume Detach After Add New Volume"
Here are my infrastructure infos:
1 master 1 slave kubernetes cluster.
I've deployed a mongo statefulset with 1 pod with 250 Gi PVC and redis statefulset with 1 pod 25Gi PVC.Both have 2 replicas.
My physical disk size is is 250 GB and my actual mongo db  size is 27 GB.
Here are my yaml file :

[code]
when i want to add a new statefulset with 100 GB size the mongo volume becoming detached state and

[2019-10-09 15:16] HHT02 opened #805 "Taint-toleration issues"
Hi,

We've been having some issues when trying to add the taint-toleration via deployment. After changing the recommended YAML file (https://github.com/longhorn/longhorn/blob/master/docs/customized-default-setting.md) and applying it to our deployment we can see the appropriate tolerations in our manager pods, however the volumes still seem to attach to all nodes, not just the storage nodes. Check

[2019-10-09 15:45] HHT02 opened #806 "Longhorn UI Taint-toleration settings"
Related to https://github.com/longhorn/longhorn/issues/805.

After editing the default setting YAML and applying it to our deployment, we were seeing a different result within the Longhorn UI than was in our deployment. We previously added an incorrect key/value pair to the deployment and when trying to overwrite it we were still seeing the old key/value pair instead of the newer one.

Our default

[2019-10-09 17:56] shuo-wu commented on #805
I think you may misunderstand the usage of taint and tolerations. The tolerations of one pod mean this pod can be scheduled to the node containing the corresponding taints. It doesn't mean that pod cannot be scheduled to the node without those taints.

In other words, the storage nodes(the nodes contain dedicated taints) should block all other workloads and accept Longhorn workloads only as long a

[2019-10-09 17:58] yasker commented on #803
@KuroObi You can already do that using storage class settings. See https://github.com/longhorn/longhorn/blob/master/examples/storageclass.yaml#L12

From UI is a different story though. It's a bit too much to put in and we haven't decided if we want it or not. See https://github.com/longhorn/longhorn/issues/505

[2019-10-09 18:04] yasker commented on #804
@akuscu-smartpulse Can you describe your setup and send us the support bundle to `longhorn-support-bundle@rancher.com`? We can take a look.

[2019-10-09 18:14] shuo-wu commented on #806
I think you just want to modify the toleration setting for the existing Longhorn system. If Yes, you can check this doc for more info and instructions: [taint toleration setting](https://github.com/longhorn/longhorn/blob/master/docs/taint-toleration.md#after-longhorn-has-been-installed)

The default setting YAML file is for the Longhorn system that hasn't been deployed only, rather than the existi

[2019-10-10 00:40] yasker commented on #801
Architecture overview is now available at https://github.com/longhorn/longhorn/wiki/Architecture-Overview

[2019-10-10 06:17] ChrisScottThomas commented on #805
The description of this usage is:

This is confusing, as we _only_ want storage and replicas on our _storage_ nodes, however longhorn workloads appear on all the nodes _and_ the nodes without taints are still marked as schedulable.

Ideally we want to guarantee a longhorn state via declarative config, and without having to meddle in the UI.  This is the nature of Kubernetes after all.

We can achi

[2019-10-10 07:44] akuscu-smartpulse commented on #804
I think i understand what is the problem.I am using RPN-SAN technology on cloud:
https://www.online.net/en/storage/rpn-san
This a usable on network storage solution.
I guess longhorn can not reach the disk when writing something to the disk because of latency etc.
So volume becoming faulted and detached state.
If you confirm me no need for generate support bundle.If it is not related RPN-SAN i wil

[2019-10-10 08:23] ChrisScottThomas commented on #806
The confusion comes because this isn't really Kubernetes intuitive.  We want, and expect, to be able to declare the state of workloads via the YAMLs, not via a UI.  Really this configMap, if used, should be the source of truth for the Longhorn workloads, not the UI.

[2019-10-10 08:36] ChrisScottThomas opened #808 "Request: Declare all workloads in YAML"
Currently when deploying Longhorn, you can only declare the state of:

[code]

yet we have the following daemonsets:

[code]

and the following deployments:

[code]

that can not be declared in YAML.

Is there a reason why this is so?  Not being able to control everything that is deployed via YAML doesn't satisfy the requirements of most Kubernetes users.

This leads to problems, when using config

[2019-10-10 09:43] #803 closed

[2019-10-10 13:07] akuscu-smartpulse commented on #799
Thank you it is worked for me.More clear information  below for newbies like me :

- If you can reach /var/lib/rancher/longhorn/replicas directory copy replicas from crushed system to your new system.On new system you need only docker installed.

- Start below command.Name volume name whatever you want and volume-path to your new replica location.volume size should fit your actual volume size.

`d

[2019-10-10 13:07] #799 closed

[2019-10-10 16:01] mattsdevop commented on #722
Ran into the same issue on "custom" provider (locally hosted CentOS servers). @josecelano solution to edit the pv did work. I used the following commands:
`kubectl --namespace longhorn-system get pv`
`kubectl --namespace longhorn-system edit pv pvc-77849875-de03-11e9-a581-005056a3ab27`
then delete the two lines mentioned, save and exit.

[2019-10-10 17:23] yasker commented on #722
@mattsdevop how did happen? Normally PV should be cleaned if Longhorn is still installed.

[2019-10-10 17:27] yasker commented on #804
@akuscu-smartpulse Normally the replica disconnected because the controller cannot reach it. It can be the disk, network, or CPU. It's hard to decide the root cause so we normally take a look at the log and try to see if there is anything obviously wrong first.

As you said, it can be disk. We can take a look at the support bundle still to make sure that's the best guess we have.

[2019-10-10 17:47] yasker commented on #808
@ChrisScottThomas

You can upgrade Longhorn using `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/longhorn.yaml`. We also support Helm.

Longhorn is a system of microservices, so normally upgrade the image version won't be sufficient anyway since there are multiple components. And we might modify the RBAC or command line or others for a new version. We don't exp

[2019-10-10 17:52] yasker commented on #806
@ChrisScottThomas There is no way for us to validate the config map. So it cannot be the source of truth.

We're using CRDs in Kubernetes to store the metadata for Longhorn managers. Currently, we don't recommend to modify it directly, since there was no way of validation. We're working on #791 to adding validation hooks and transiting the API to more Kubernetes native way.

For now, you can use `

[2019-10-10 18:01] yasker commented on #805
@ChrisScottThomas As I said in https://github.com/longhorn/longhorn/issues/806#issuecomment-540699065 , we're working toward using Kubernetes's newer feature to make it easier to configure the system using kubectl API.

The scheduling setting doesn't relate to the taint setup. You can disable them separately in the UI for now.

CSI-attacher and csi-provisioner are standard Kubernetes CSI component

[2019-10-10 18:07] shuo-wu commented on #805
For the usage of taints and tolerations, if a user plans to use taints and tolerations to group nodes by the functionality, I think he will set one bunch of dedicated taints for each group of nodes. Then if there are some nodes without any taints, it means those nodes are for general purpose and they can accept all kinds of workloads including Longhorn.

Hence the taints and tolerations setting he

[2019-10-10 18:30] gittygoo commented on #17
+1 that this is needed, cant understand how this is not a high priority feature

[2019-10-10 18:34] mattsdevop commented on #722
@yasker Thanks for the reply! I wish I could explain how this happened. I can say that some have persisted through Longhorn updates (pre-0.5.0) and some were only a couple days old (created since upgrading to Longhorn 0.6.2). The host nodes are running CentoOS and have been kept relatively up to date.

May or may not be related: This particular cluster was bit by the kubernetes/kernel bug in 3.10

[2019-10-10 19:00] Angelinsky7 commented on #782
hi @yasker,
i tried to do the update to 0.6.2 and i'm sad... because all my volume don't want to attach.
they all stay in the attached state for ever. There is no pvc created in rancher/kubernetes and no error message.
i've sent you a bundle
can you help me please !?

[2019-10-10 19:05] Angelinsky7 commented on #782
![image](https://user-images.githubusercontent.com/13157968/66598645-bde9f800-eba1-11e9-8ce1-0ef022027519.png)

[2019-10-10 19:23] Angelinsky7 commented on #782
so i went to the manager to modify the volume mount instead of having `/var/lib/rancher/longhorn` mounted at the same place, i changed it to `/host/var/lib/rancher/longhorn` and now i got this error message in the longhorn ui when i try to manually mount a volume :
[code]

[2019-10-10 20:04] Angelinsky7 commented on #782
i've found the issue... but i don't know how to solve it...
in replica-manager the volume is mount on the /host
but my rancher and longhorn directories are symbolic link on the host... so they are not resolved correctly :
[code]
host:
[code]
longhorn-manager:
[code]
So what's the difference with the way the volume are mounted in the longhorn-manager (working) and the replica-manager (not working)

[2019-10-10 20:08] Angelinsky7 commented on #782
and of course all my replicas are accessible in the replica-manager... but with the correct path
[code]

[2019-10-10 20:23] Angelinsky7 commented on #782
Whouhouhou....
by manually creating the missing symbolic link directly in the replica-manager instance the path is working again !!! (`ln -s /host/datas /datas`)
So now... is there a way to avoid this ? because sadly now, at every update and every host reboot the issue will be there and i won't be able to continue working like this...

@yasker do you have any idea ?
thanks for your amazing support

[2019-10-10 21:42] yasker commented on #722
@mattsdevop You might want to send us a support bundle at `longhorn-support-bundle@rancher.com`, and note which volumes are stuck before.

And if I understand correctly, when you delete the PVC, Longhorn did clean up the volume but PV is still stuck.

[2019-10-10 22:06] yasker commented on #782
@Angelinsky7 Mount directories are at different levels for Longhorn manager and Instance manager. Bind mount can propagate through the mount.

Instead of using the symbolic link, can you try the bind mount on the host instead?

e.g.
[code]

[2019-10-10 23:40] yasker commented on #801
[Development guide](https://github.com/longhorn/longhorn/wiki/Getting-started-with-Longhorn-Development) updated with k3s and `lm-update.sh` script.

[2019-10-10 23:40] #801 closed

[2019-10-11 06:58] HuxyUK opened #810 "Pod Affinity and Data Locality"
**Given the following scenario**

Three hyper-converged nodes and default settings with:
```default-replica-count: 2```

Is it possible to schedule pods to only run on nodes that have replicas stored on them? I'm assuming ensuring a pod always runs with at least one local replica would reduce the amount of network traffic needed to keep the data in sync?

I ask as there are three nodes, of which t

[2019-10-11 08:50] HuxyUK opened #811 "[BUG] Validate S3 input to make sure they don't contain trailing newline or space"
Hi,

How can I debug the following error?
```error listing backups: error listing backup volumes: Failed to execute: /var/lib/rancher/longhorn/engine-binaries/longhornio-longhorn-engine-v0.6.2/longhorn [backup ls --volume-only s3://longhorn/], output Caught FATAL error: runtime error: invalid memory address or nil pointer dereference```

I'm using Wasabi S3 and can connect with the awscli tools us

[2019-10-11 10:47] ChrisScottThomas commented on #805
Thanks for taking the time to reply, we're looking forward to the updates.  The more we can control by declarative config, the better!

[2019-10-11 10:50] ChrisScottThomas commented on #806
Looking forward to the updates, thanks for the information

[2019-10-11 10:56] ChrisScottThomas commented on #808
@yasker, thanks for clarifying.  I'd be interested to understand why there isn't a more Kubernetes way to do these tasks.  On the face it doesn't look all that complicated as, for example, it looks like manager just has a command line flag that spawns two daemonsets (enginge-image & manager). Why can't the engine-image be declared separately?

[2019-10-11 13:49] martinounap opened #812 "Longhorn Air Gap installation"
Hi

Could you please provide steps, how to set up longhorn in Air Gap enviroment.

We managed to do it with one of the old versions (if I rember it was 0.4.X)
But now we can not understand, hoe to do it.

I would be really thankful, if it is possible :)

[2019-10-11 14:51] yasker commented on #808
The manager's daemonset is started directly by the Kubernetes using the yaml file.

The engine image in the command line specifies which engine is the default one for the Longhorn system, since we can have multiple engine images in the system during e.g. upgrade or debug. If the engine image CRD wasn't created yet, it would be created, along with the daemonset. See `kubectl -n longhorn-system get

[2019-10-11 15:31] yasker commented on #812
@martinounap It should be possible. Normally the air gap installation requires the user to pull images beforehand on all the nodes and the image pull policy for the workload should be `IfNotPresent`. I can see there is [one line of code](https://github.com/longhorn/longhorn-manager/blob/74b92aa65f69ba0db11d2b05805f6b5f64a35e5d/controller/engine_image_controller.go#L663) which set one part of Longh

[2019-10-11 15:33] yasker commented on #811
Can you fetch the call trace in the log? It should contain the text version of the error message.  Seems AWS SDK crashed during SSL validation.

[2019-10-11 15:41] yasker commented on #810
I don't think there is a way to do that now. Kubernetes controls the scheduling of the pods, and the workload pods are started earlier than the Longhorn. The information about where are the replicas are not directly accessible by Kubernetes.

Maybe we can provide more replica information to Kubernetes by aggressively tag the nodes, but it can get messy easily. Not sure it's worth doing.

[2019-10-11 15:58] martinounap commented on #812
@yasker

We have managed to pull and push all imagaes to our private registy.
Then we have managed to provide yaml with registry secret creation.

Then we upated yaml so, that it would use registry secret:
[code]

We have problem with csi-attacher, csi-provisioner, engine-image-ei-XXXXXX, instance-manager-x-xxxx, longhorn-csi-plugin.

I will make suggestion that there would be variables in default

[2019-10-11 17:54] yasker commented on #812
@martinounap You can change the images in those lines to use the private repo:
1. https://github.com/longhorn/longhorn/blob/8385749346df76231ad357b9e120f36f59db3994/deploy/longhorn.yaml#L232
2. https://github.com/longhorn/longhorn/blob/8385749346df76231ad357b9e120f36f59db3994/deploy/longhorn.yaml#L234
3. https://github.com/longhorn/longhorn/blob/8385749346df76231ad357b9e120f36f59db3994/deploy/long

[2019-10-11 19:49] shuo-wu commented on #763
After Kubernetes upgrade, the containers of instance manager pods will be restarted and all engine/replica processes info will be lost. Then `attached` volumes will become error status and be detached automatically.
  - We can know the restart by checking the event message of the instance manager pods:
    `Container engine-manager definition changed, will be restarted`
  - This behavior is alread

[2019-10-11 20:51] yasker commented on #811
Seems like https://github.com/aws/aws-sdk-go/issues/689

[2019-10-11 23:05] shuo-wu opened #813 "Need to show the fatal message/warnings in a conspicuous place of UI"
This will help users be aware that something is wrong in the system then they can handle these cases timely. e.g.:
Recover the workloads on the down nodes.
Handle the volumes and related pods after Kubernetes upgrade (since all pods will be restarted then all Longhorn volumes will become detached in this case #763 ).

[2019-10-11 23:09] yasker commented on #813
Can be an enhanced version of `event log`.

[2019-10-11 23:36] meldafrawi opened #814 "Create full test plan for basic test cases."
The test plan should cover Longhorn basic test cases and be validated against each new release.

[2019-10-12 00:29] jaredkipe opened #815 "Stuck `discover-proc-kubelet-cmdline` crashes `longhorn-driver-deployer`"
Crashing in `longhorn-driver-deployer` with logs

[code]

There is a 'completed' pod named `discover-proc-kubelet-cmdline` with the logs.

[code]

Deleting the `discover-proc-kubelet-cmdline` pod by hand, and scaling down/up the `longhorn-driver-deployer` deployment resolved the issue.

[2019-10-12 00:44] shuo-wu commented on #815
Which Longhorn version are you using?
This bug should have been fixed by [this commit](https://github.com/longhorn/longhorn-manager/commit/df0c1fab73e8974f2f801750308a6603980cab2a)

[2019-10-12 09:30] yizhishang opened #816 "*Summarize your issue here*"
*Describe your issue here*

I can't edit the node

---
Version: `v0.6.2`

After i installed the longhorn from the  catalog ,i can't edit the node.

[2019-10-12 09:30] #816 closed

[2019-10-12 09:31] yizhishang opened #817 "can't edit the node"
*After i installed the longhorn from the catalog ,i can't edit the node.*

---
Version: `v0.6.2`

[2019-10-14 09:23] HuxyUK commented on #810
Okay, thanks for the response. Yeah I was thinking "tagging" and pod affinities would be a possible solution, but the number of tags etc might make it undesirable. I think I will manually create the volumes and then set the pod affinity to be the same nodes. That should ensure data is local to the pod and save on my limited bandwidth.

[2019-10-14 09:23] #810 closed

[2019-10-14 09:30] HuxyUK commented on #811
I tried removing the trailing ```/``` but get the following error
error listing backups: error listing backup volumes: Failed to execute: /var/lib/rancher/longhorn/engine-binaries/longhornio-longhorn-engine-v0.6.2/longhorn [backup ls --volume-only s3://longhorn], output Invalid URL. Must be either s3://bucket@region/path/, or s3://bucket/path , stderr, time="2019-10-14T09:28:35Z" level=error msg="

[2019-10-14 09:37] HuxyUK commented on #811
I checked the logs for services/longhorn-backend and the found the following error:
```time="2019-10-14T09:34:28Z" level=error msg="Error in request: error listing backups: error listing backup volumes: Failed to execute: /var/lib/rancher/longhorn/engine-binaries/longhornio-longhorn-engine-v0.6.2/longhorn [backup ls --volume-only s3://longhorn/backups], output Caught FATAL error:  runtime error: i

[2019-10-14 17:57] martinounap commented on #812
Hi...

...we managed to install it from private register. But we had couple of problmes, we needed to edit deployments/dameonsets manually after autocreate, because they did not have imagePullSecret set.

Maybe it would be good idea to add this settings to variables or to add possible to add it through longhorn-manager command.

[2019-10-14 19:21] yasker commented on #811
@HuxyUK Can you double check the endpoint url? not S3 URL.

Similar to `AWS_ENDPOINTS` and `http://minio-service.default:9000`down here:
[code]

[2019-10-14 19:23] yasker opened #818 "Update AWS GO SDK"
And double-check the compatibility.

[2019-10-14 19:27] yasker commented on #812
@martinounap Yeah, we can add image pull secret as an option as well.

[2019-10-14 19:28] yasker opened #819 "manager: Add image pull secret as an option for auto deployed workloads"
From #812

[2019-10-14 19:45] HuxyUK commented on #811
[code]
I've also tried https://s3.wasabisys.com. If I update the secret do I need to redeploy anything or will Longhorn always use the latest version i.e. no caching

[2019-10-14 20:33] yasker commented on #811
@HuxyUK You need to use `echo -n` otherwise echo will add a new line in the end.

So `https://s3.eu-central-1.wasabisys.com` should be
[code]

[2019-10-14 20:37] yasker commented on #811
@HuxyUK And you don't need to redeploy anything. The latest secret will be automatically picked up as long as it's specified in the Settings.

[2019-10-14 20:43] yasker commented on #815
Yeah, talked with @jaredkipe I think it happened in v0.5.0 (please correct me if I am wrong)

So v0.6.x should already contain the fix.

[2019-10-14 21:07] yasker commented on #763
Maybe there is something we can do for 3.2.2.

In the worst-case scenario, we can remount to RW on the node manually
[code]
We should be able to find the mount point through the `mount` command

[2019-10-15 00:44] yasker commented on #817
Can you elaborate the reproduce steps?

[2019-10-15 01:14] yizhishang commented on #817
![图片](https://user-images.githubusercontent.com/12756407/66792595-0f8cdc80-ef2c-11e9-98ee-77a9be021e70.png)
![图片](https://user-images.githubusercontent.com/12756407/66792606-174c8100-ef2c-11e9-984c-35c6041cd819.png)
![图片](https://user-images.githubusercontent.com/12756407/66792615-216e7f80-ef2c-11e9-9bdc-5bb5dafa538f.png)

 i installed the longhorn from the catalog, and this is my settings

[2019-10-15 06:28] HuxyUK commented on #811
@yasker That did it! Thank you for your help. I've now been able to successfully backup to my S3 store. Apologies for the bug, I had a feeling it might be user error but couldn't tell what might be causing it and the error was confusing :confused:

Is it possible for Longhorn to strip any newline characters at the end of strings before using them? or do you think this would be bad idea which hides

[2019-10-15 06:58] martinounap commented on #819
My recommendation is:

-----------
containers:
      - name: longhorn-manager
        image: rancher.repo.tehik.ee/longhornio/longhorn-manager:v0.6.2
        imagePullPolicy: Always
        securityContext:
          privileged: true
        command:
        - longhorn-manager
        - -d
        - daemon
        - --engine-image
        - {regisryUrl}/longhornio/longhorn-engine:v0.6.2
        -

[2019-10-15 15:24] yasker commented on #725
Done.

[2019-10-15 15:24] #725 closed

[2019-10-15 15:25] yasker commented on #815
Close as fixed in v0.6.x. Feel free to reopen if it's not the case.

[2019-10-15 15:25] #815 closed

[2019-10-15 18:41] yasker commented on #811
The error was a bug in the AWS SDK. After it's fixed AWS might just report the error on the URL. The same issue can happen with credentials.

I wouldn't want Longhorn to arbitrary remove the newline or space at the end of the string. But I think we can validate the AWS_ENDPOINTS, AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY to make sure they don't contain ending space or newlines, which wouldn't be in

[2019-10-15 18:43] yasker commented on #819
@martinounap 👍this looks good.

[2019-10-15 18:54] shuo-wu commented on #763
The uninstallation blocking issue occasionally happens in the docker/node reboot tests, too. This issue maybe not caused by the Kubernetes upgrade. We can check it after fixing the issue mentioned #743 (wrong owner reference).

[2019-10-15 19:13] shuo-wu opened #820 "Enhance Kubernetes node recovery speed up to support auto-detach deployment pod's volume when the node is down"
After #793 is fixed, the Kubernetes controller cannot handle the volumes on the down node since the `ownerID` of those volumes won't change after node down. Then [the feature disaster recovery speeding up](https://github.com/longhorn/longhorn-manager/wiki/Feature:-Kubernetes-integration#speed-up-disaster-recovery) doesn't work. We need to reconsider the workflow of kubernetes controller.

[2019-10-15 21:05] shuo-wu commented on #762
The main issue is that the `nodeBootID` won't change after docker reboot then Longhorn cannot handle it as a kind of node reboot case. And we cannot observe anything from Kubernetes state for the Docker reboot event.

For this docker reboot case, the Kubernetes actually behaves like node reboot case:
1. If the docker is rebooted within the around 6 mins, Kubernetes will restart pods and directly r

[2019-10-15 21:18] shuo-wu commented on #762
Additional issue observed in the PoC:
For scenario 2, Longhorn v0.6.2 will take a long time to detach the volume. Since the instance manager pods on the docker reboot node are being restarted then deleting the instances in the instance manager will fail. This long detachment will lead to VolumeAttachment cleanup timeout then delay the pod restarting/recovery. The recovery time of Longhorn v0.5.0 i

[2019-10-16 20:56] yasker commented on #762
Done.

[2019-10-16 20:56] #762 closed

[2019-10-16 20:58] yasker commented on #763
We need to verify the above remount works if we incorporate the logic.

[2019-10-16 22:11] shuo-wu opened #822 "The OwnerReferences in Longhorn system is wrong"
The schema of the field `Kind` should be like `EngineImage` rather than `longhorn.rancher.io/v1alpha1, Kind=EngineImage`.

[2019-10-16 22:41] meldafrawi opened #823 "Update Ubuntu version to 18.04 for NFSv4.1 support"
Steps to reproduce:
  - Create an NFS server (Using CentOS 7 instance is recommended)
  - Enable only NFSv4.1.
  - In settings page, set the backup store to point to NFS share.

#### Note:
Enable NFSv4.1only in CentOS 7:
  - in `/etc/nfs.conf`, make sure the following lines exists under `[nfsd]` section:

[code]

[2019-10-17 01:51] yasker opened #824 "UI: Backup Volume page: Add actions for whole backup volume"
After we click into one of the backup volumes, we won't able to perform actions like create DR volume or delete the whole backup volume in the backup list.

It's important since if we have to do those operations in the backup volume list page, we will have to know the name of the volume we're operating on, which all looks similar in the Kubernetes.

[2019-10-17 18:37] yasker commented on #817
I meant, when you said `can't edit the node`, what operation you've taken and what's the response of the UI? For example, did you mean clicking `node` page has no response inside Longhorn UI? or clicking `edit node` has no response inside Longhorn UI? Or edit node has no response for Rancher UI?

[2019-10-18 01:33] yizhishang commented on #817
![image](https://user-images.githubusercontent.com/12756407/67059099-35172180-f18a-11e9-90ff-e62da0bc5cca.png)

i found no button in the page to edit

[2019-10-18 17:59] shuo-wu commented on #822
Test case 1:
1. Launch v0.6.2 Longhorn system. Create a volume with recurring jobs and deploy a compatible engine image. --> For the engine image DaemonSet and instance manager objects, the field `ownerReferences[0].kind` is `longhorn.rancher.io/v1alpha1, Kind=EngineImage`. For the engine/replica manager pods, the field is `longhorn.rancher.io/v1alpha1, Kind=InstanceManager`. For the engine, repli

[2019-10-19 01:48] yasker opened #825 "UI: Event API changes"
https://github.com/longhorn/longhorn-manager/commit/675373837aac1d0a30f522e72c900b52c01cc2d4#diff-6eab75d28556617dd6b07a631937b93fL194

[2019-10-19 12:19] roonie007 commented on #427
@yasker `s3://bucket-name@nl-ams/longhorn/` it does not work, i tried it, we really need to fix this, we need it in our company.

[2019-10-19 18:34] yasker commented on #427
@roonie007 Sorry we don't have access to Scaleway Object Storage. If it's possible, can you set up a test bucket for us and provide us with credentials so we can test and fix this? You can email the setup and credentials to `longhorn-support-bundle@rancher.com`.

[2019-10-19 19:42] yasker commented on #802
Golang v1.13.3 has a bug that `go fmt` doesn't respect `-mod=vendor`, so it will still pull from the internet for the dependency. The bug has been fixed at https://github.com/golang/go/commit/ed7e43085ef2e2c6a1d62785b2d2b343a80039bc and once it's release, we will update Golang again.

[2019-10-19 19:52] yasker commented on #802
There are a few complications when handling Longhorn manager's dependency.

`go mod` by default will pull the latest of the repo if no version is unspecified (e.g. repo without `go.mod`), result in the building failure. Even pinning down the version in `go.mod` doesn't work since `go.mod` would override it with the latest version if any other dependency requires the package but didn't specify the

[2019-10-19 20:12] yasker commented on #802
Done

[2019-10-19 20:12] #802 closed

[2019-10-19 20:13] yasker commented on #802
See https://github.com/longhorn/longhorn/wiki/Getting-started-with-Longhorn-Development#how-to-update-dependencies for the new dependency managing flow.

[2019-10-19 21:39] roonie007 commented on #427
Yes I can, but the problem is that the same keys for the S3 gives you Full control over our account. since it's a support mail, many people can see and use the keys.

I can give them specifically to you, at least we know who is using them, is this ok for you ? or you can easily create an account and they will give you 500$ Credits .

[2019-10-19 21:53] yasker commented on #427
@roonie007 Giving your original key to us wouldn't be a good idea if you cannot create another account/key pair. We can try to create an throwaway account instead if it's in fact free to do so.

[2019-10-20 10:52] roonie007 commented on #427
You have to signup using this Input

![image](https://user-images.githubusercontent.com/7860859/67158447-67ff1800-f338-11e9-8f96-53896e76fa75.png)

[2019-10-21 13:19] roonie007 commented on #427
@yasker Let me know if you need anything else.

[2019-10-21 21:16] yasker commented on #427
@roonie007 It seems they require a mobile number and a credit card, which makes it hard for us to do. I've sent an email to `opensource@scaleway.com` to see if we can get a test account to help with this issue.

[2019-10-21 22:10] roonie007 commented on #427
@yasker okay, keep me updated, but i know they are super active on their slack : https://slack.online.net/ , and you can lookup for these 2 channels :

* #object-storage
* #k8s

[2019-10-22 01:13] yasker commented on #433
Duplicate of #678

[2019-10-22 01:13] #433 closed

[2019-10-22 20:36] shuo-wu commented on #823
The cause of this issue: the `mount` version in Ubuntu 16.04 is too old. Need to update the Ubuntu version to 18.04

[2019-10-22 21:40] shuo-wu opened #826 "test: test_listing_backup_volume failed sometimes"
[code]

Cause: This issue will happen when trying to list the deleting volumes.

[2019-10-22 21:41] shuo-wu commented on #826
Solution: Will ignore this error and retry listing in the integration test

[2019-10-22 23:52] meldafrawi opened #827 "stress test: Connection reset by peer while deleting replica"
stress test log files:
[stress_test_error_log2.txt](https://github.com/longhorn/longhorn/files/3759138/stress_test_error_log2.txt)
[stress_test_error_log3.txt](https://github.com/longhorn/longhorn/files/3759139/stress_test_error_log3.txt)

[2019-10-23 13:43] aleksey005 opened #828 "Longhorn manager not run on RancherOS"
I try run Longhorn on RancherOS node, install open-iscsi after show error:

[code]

[2019-10-23 18:20] yasker opened #829 "Changes for joining CNCF"
- [x] UI: Replace the old Longhorn logo with the new one designed by @lvuch
- [x] UI: Update slack link in the UI to the CNCF slack https://slack.cncf.io/ and join the #longhorn channel.
- [x] Update Rancher Appstore logo to the new one
- [x] Update the community page link of slack
- [x] Update the YouTube Longhorn channel logo
- [x] Banner of CNCF sandbox in https://github.com/longhorn/longhorn/

[2019-10-23 21:47] meldafrawi commented on #827
Stress test: (Wed, 23 Oct 2019 )

Log file:
[longhorn-stress-jobs-s44jb.txt](https://github.com/longhorn/longhorn/files/3764640/longhorn-stress-jobs-s44jb.txt)

Error:

Log file:
[longhorn-stress-jobs-sz9lf.txt](https://github.com/longhorn/longhorn/files/3764645/longhorn-stress-jobs-sz9lf.txt)

Error:

[2019-10-23 23:24] yasker commented on #641
Move out to v0.8.0. We've already spent about a few days on it but nowhere near close.

[2019-10-24 15:57] aleksey005 opened #830 "Longhorn backup not complite"
Longhonrt backup in S3 (MINIO) not complite.
Longhorn 0.6.2, Rancher 2.3.1, Minio Mount volume over NFS PVC.

![image](https://user-images.githubusercontent.com/6145279/67503252-facce900-f68f-11e9-8459-bfe0979f57c5.png)

[2019-10-24 16:22] aleksey005 commented on #830
Please, close, not problem Longhorn - i set ingress
nginx.ingress.kubernetes.io/proxy-body-size: "0" in minio
and backups is done,

[2019-10-24 16:51] caniszczyk opened #831 "Add badge for public CI build"
don't see anything on README

[2019-10-24 17:18] yasker commented on #830
No problem, glad everything is fine.

[2019-10-24 17:18] #830 closed

[2019-10-24 17:31] yasker commented on #831
Added badges from different components in https://github.com/longhorn/longhorn/commit/e537197ed5422e46000a4021d9b6d359865abaa8

We also have a nightly integration test. The code is open source at https://github.com/longhorn/longhorn-tests . But it's current running on Jenkins and Digital Ocean using an internal Rancher's infrastructure. I would prefer it to be moved to CNCF if possible. The test w

[2019-10-24 21:11] shuo-wu opened #832 "The backup volumes listed by longhorn manager pods may be out of sync due to the cache of NFS v4.1"
This issue also leads to the failure of test `test_listing_backup_volume`

Reproduce steps:
1. Launch a NFS v4.1 server in the integration test. (The value of env `LONGHORN_BACKUPSTORES` in the `integration/deploy/test.yaml` will be like `"s3://backupbucket@us-east-1/backupstore$minio-secret,  nfs://<Server IP>:<Export Directory>"`.)
2. Run the test `test_listing_backup_volume` --> The test should

[2019-10-24 21:15] shuo-wu commented on #823
There is one issue caused by NFS v4.1: #832, which will lead to the failure of some integration test cases.

For now, it's better to **manually** test the backup related features with a real NFS v4.1 server.

[2019-10-24 21:20] johansmitsnl commented on #392
Is there a fix for K3S V0.10.0?

My pod is not working:

[code]

[2019-10-24 21:28] johansmitsnl commented on #434
I still have this issue, posted my details at issue #392

[2019-10-24 23:15] yasker commented on #832
@shuo-wu Can you add the steps to manually reproduce this problem without backup store? So we know for sure something is up with the NFS server or client.

[2019-10-24 23:51] shuo-wu commented on #832
How to set up a NFS v4.1 server:
1. Launch a CentOS 7 instance
2. `yum install nfs-utils -y`
3. Create an export directory for the NFS server. e.g.`mkdir /opt/backupstore && chmod 755 /opt/backupstore`
4. Uncomment and modify `nfsd` setting in `/etc/nfs.conf` to enable NFS v4.1 only:
[code]
5.
[code]
6. Add line `/opt/backupstore    *(rw,sync,no_root_squash,no_all_squash)` in `/etc/exports`
7. Res

[2019-10-25 01:38] yasker opened #833 "Multiple disks might not work due to replica instance manager may failed to correctly set mount propagation"
Version: v0.6.2

Symptoms: A new volume using non-default disk get stuck in the attaching state.

Error log:
[code]

Root cause:
It turns out somehow `/host/pvstorage` wasn't mounted inside the instance manager pod.

It can be verified by running the following command inside the pod:
[code]
The same command returns the correct mount on the host but nothing inside the replica manager pod.

Workarou

[2019-10-25 02:05] yasker opened #834 "PV stuck in `Terminating` state but no longer exists in Longhorn"
csi-attacher log:

[code]

[2019-10-25 15:50] yasker commented on #763
Tried a bit POC:
1. `remount` doesn't work. It's probably because we've changed the major:minor number of the device after reattaching it, so it's essentially a new device, even though the `/dev/longhorn/xxx` is the same.
2. But run `mount` again works, as it put another layer of the mount on top of the original mount path. Though it will result in the mount point become multiple layers. We would

[2019-10-25 18:17] yasker commented on #381
In fact we might have found a way during investigating the Kubernetes upgrade issue https://github.com/longhorn/longhorn/issues/763 and https://github.com/longhorn/longhorn/issues/703

[2019-10-25 20:02] meldafrawi opened #835 "Longhorn system doesn't work on k3s v0.10.0+ since the kubelet dir is changed"
Steps to reproduce:
  - Deploy 3-node k3s cluster
**k3s version: v0.10.0**

  - Install longhorn using `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/longhorn.yaml`

  - Create Longhorn storage class `kubectl create -f https://raw.githubusercontent.com/longhorn/longhorn/master/examples/storageclass.yaml `

  - Create a pod using Longhorn volume as persistent st

[2019-10-25 20:11] yasker commented on #835
@meldafrawi Do you see any other error messages that can be used for reference?

[2019-10-25 20:14] shuo-wu commented on #763
We don't need to worry about the multi-layer unmount. The current CSI plugin will check the mount point after unmount. If the mount point still exists, `NodeUnpublishVolume()` will error out and be re-invoked later:
[code]

[2019-10-25 20:19] meldafrawi commented on #835
@yasker I've updated issue details.

[2019-10-25 23:06] meldafrawi commented on #835
CSI socket is not created on the worker nodes
e.g `/var/lib/kubelet/plugins/io.rancher.longhorn/csi.sock`

on worker node:
[code]

`$ kubectl logs -n longhorn-system longhorn-csi-plugin-z7zvw driver-registrar`

[code]

[2019-10-26 01:19] shuo-wu commented on #835
The kubelet root directory for k3s is modified to `/var/lib/kubelet`, which is the root cause of this issue.

[2019-10-28 09:30] IAkumaI opened #836 "[FEATURE] Reclaim/Shrink space of volume"
Hello, I khow volumes can grow only, but what if I need to reclaim space of deleted files?
Is there other choice but remove/create volume?

[2019-10-28 14:26] alexellis commented on #6
@ibuildthecloud this would be great to see for ARM64 and ARMHF for use with k3s.

[2019-10-28 20:50] yasker commented on #836
@IAkumaI

I don't think there is another way to reclaim the space of deleted files. Regarding the total size of the volume, you might reclaim some by removing old snapshots.

[2019-10-28 23:05] shuo-wu commented on #832
Cannot reproduce this issue with a brand new NFS v4.1 server.

[2019-10-28 23:05] #832 closed

[2019-10-29 01:14] meldafrawi opened #837 "UI: remove base image from backup page."
Steps to reproduce:
  - Create a volume, attach it to a node
  - Create backup

  - Click on backup volume,

[2019-10-29 17:35] yasker opened #838 "Allow the disk disappear from the host to be removed"
Version: v0.6.2-dev

Reproduce steps:
1. Add a new disk to a node of Longhorn
2. Unmount the disk from the node.
3. Try to delete the disk from Longhorn

Result:
1. Cannot disable the scheduling for the disk, warning in the log:
[code]
2. Cannot remove the disk since the scheduling cannot be disabled.

Expect result:
1. The disabling of scheduling should be allowed then the disk can be removed.

[2019-10-29 20:10] meldafrawi commented on #822
Validation: **PASSED**

[2019-10-29 20:10] #822 closed

[2019-10-29 20:14] yasker opened #839 "UI: Snapshot revert tree doesn't show vertical line"
<img width="1006" alt="Screen Shot 2019-10-29 at 1 13 30 PM" src="https://user-images.githubusercontent.com/3344618/67805279-ee5cdd80-fa4d-11e9-8b91-735b2f38e5f0.png">

[2019-10-29 20:24] meldafrawi commented on #837
Validation: **PASSED**

[2019-10-29 20:24] #837 closed

[2019-10-29 20:24] meldafrawi commented on #824
Validation: **PASSED**

[2019-10-29 20:24] #824 closed

[2019-10-29 20:30] meldafrawi commented on #822
Notes: the following one-liners will help checking owner reference for all mentioned components.

[code]

[code]

for ENGINE in `kubectl get engine --no-headers -n longhorn-system | awk '{print $1}'`; do
  echo -n "${ENGINE}:   "
  kubectl get engine -n longhorn-system -o json ${ENGINE}  | jq ".metadata.ownerReferences[0].kind"
done

[2019-10-29 21:02] meldafrawi opened #840 "UI: footer links should point to Longhorn GitHub organization."
![image](https://user-images.githubusercontent.com/18232258/67808758-ef1e5f80-fa9f-11e9-939c-d6d3a37dcc02.png)

![image](https://user-images.githubusercontent.com/18232258/67809143-dc585a80-faa0-11e9-9214-c73bc49a7e05.png)

[2019-10-29 22:47] meldafrawi commented on #743
Validation passed for issue #822

[2019-10-29 22:47] #743 closed

[2019-10-30 00:14] meldafrawi commented on #823
Validation: **PASSED**

[2019-10-30 00:15] #823 closed

[2019-10-31 00:48] tedder opened #842 "UI: can't load a volume, enqueueSetState JS error"
Hi, I've newly installed v0.6.2 on a bare metal home lab Kubernetes cluster, on v1.15.x currently. I searched around and couldn't find anything that appeared to be this problem.

The longhorn-ui loads and everything looks fine, but when I click on a single volume I get a blank page. The URL is something like `hostname/volume/volumename` when it happens.

I'm using Chrome 77, the dev console gives

[2019-10-31 00:50] tedder commented on #842
Oh, I finally got Chrome to decompile the minified JS. It's coming from this function, apparently:

[code]

[2019-10-31 01:14] yasker commented on #842
@smallteeths Can you take a look at this?

[2019-10-31 02:20] smallteeths commented on #842
![Jietu20191031-100058](https://user-images.githubusercontent.com/27733391/67913400-df019f80-fbc7-11e9-9f5e-af339b1a489c.jpg)
![Jietu20191031-100228](https://user-images.githubusercontent.com/27733391/67913417-ec1e8e80-fbc7-11e9-892f-cdbd6f49d62b.jpg)

[2019-10-31 21:56] yasker opened #843 "controller: Replace `UpdateNode` spec call when creating the default disk"
The node controller is not supposed to change the node spec.

[code]

[2019-10-31 21:57] yasker opened #844 "controller: Move LastBackup/LastBackupAt update into the volume controller"
Volume controller should responsible for the volume status change.

[2019-10-31 21:59] yasker opened #845 "Upgrade CRDs from `longhorn.rancher.io/v1alpha1` to `longhorn.io/v1beta1`"
Need to upgrade the old CRDs for v0.6.2 to v0.7.0.

- [x] v.Status.RestoreInitated need to be set to true for v1alpha1 by default
- [x] Change finalizer from `longhorn.rancher.io` to `longhorn.io`

[2019-10-31 22:02] yasker commented on #308
Sadly changing to use `status` won't reduce the conflict due to how resources are designed in the Kubernetes API. But it can help to clarify the ownership of the spec and status.

[2019-10-31 22:31] yasker commented on #831
Done for Longhorn drone build.

[2019-10-31 22:31] #831 closed

[2019-11-01 00:40] yasker commented on #308
PR merged. Upgrade will be addressed by #845

[2019-11-01 00:40] #308 closed

[2019-11-01 00:57] yasker commented on #763
@shuo-wu I think it's better if we can handle it gracefully. Each error out would cause a backoff. If there are too many layers, it may take a few minutes to unmount them all.

Also, we should try to see how many layers can we put on one mount point.

[2019-11-01 00:58] yasker commented on #765
Two out of three items have been done in v0.7.0 cycle. We need to take a deeper look into the CPU utilization later.

[2019-11-01 14:38] yasker commented on #838
We only need to check the system now functions as described here.

[2019-11-01 14:41] yasker commented on #778
Punt it due to unable to reproduce

[2019-11-01 14:54] yasker commented on #17
Due to the short cycle of v0.7.0 release (only have about a month after v0.6.2), we have no choice but to move this feature along with some other features originally planned for v0.7.0 like #46 to v0.8.0 release instead.

At this moment, the volume expansion feature is at the top of our list, and we will get to it as soon as we can.

[2019-11-01 15:13] yasker opened #846 "Update default path from `/var/lib/rancher/longhorn` to `/var/lib/longhorn`"
It's an API break change and will result in live upgrade unsupported since the engine binaries are also located at `/var/lib/rancher/longhorn/engine-binaries`.

We need to do it when we break the live upgrade next time.

[2019-11-01 18:43] yasker commented on #755
Rancher v2.3 has been fixed to mitigate the issue. See https://github.com/rancher/rancher/issues/21070 for details.

[2019-11-01 18:43] #755 closed

[2019-11-01 18:48] yasker commented on #835
- [ ] We're going to only support K3S v0.10+ starting Longhorn v0.7.0. Need release note.

[2019-11-01 19:13] meldafrawi opened #847 "node down scenario: pod stuck at ContainerCreating state"
related to #635

Steps to reproduce:

  - Create a Deployment with one pod attached to longhorn volume mount to `/data`

[code]
- Shutdown the node which the pod scheduled to.
- Monitor the pods, as soon node is detected to be down, the old pod will be in terminating state.
- Force delete the terminating pod.
`kubectl delete pod TERMINATING_POD_NAME --force --grace-period=0`

- New pod will be stu

[2019-11-01 19:50] meldafrawi opened #848 "UI: Take Snapshot button is disabled for attached volumes"
**UI Version:** `ef2757ab`

Steps to reproduce:
  - Deploy Longhorn components from  `master` images
   `https://github.com/longhorn/longhorn-manager/tree/master/deploy/install`
  - Create a volume
  - Attach volume to node
  - In volume details page, `Take Snapshot` button is disabled.

![image](https://user-images.githubusercontent.com/18232258/68052032-70b8fc00-fcf1-11e9-92f5-5dfc27404706.png)

[2019-11-01 19:52] meldafrawi commented on #839
affected by #848

[2019-11-01 19:52] yasker commented on #847
Due to #820 , now we need to wait longer for the volume to be detached by Kubernetes. Did the volume ultimately detach?

[2019-11-01 20:24] meldafrawi commented on #847
No, the volume still in `Attached` state

Also, In volume details page, `Pod Name` field value is the name of the stuck pod.

[2019-11-01 20:38] meldafrawi commented on #840
Validation: **PASSED**

[2019-11-01 20:38] #840 closed

[2019-11-01 21:00] meldafrawi commented on #838
Validation: **PASSED**

[2019-11-01 21:00] #838 closed

[2019-11-01 21:12] meldafrawi commented on #842
Validation: **PASSED**

[2019-11-01 21:12] #842 closed

[2019-11-01 21:44] yasker commented on #847
@meldafrawi Just merged a fix.

[2019-11-01 21:45] meldafrawi commented on #847
@yasker will check it again.

[2019-11-01 21:47] yasker commented on #848
In the backend, we've removed `MigrationNodeID` field. Not sure if it's related.

[2019-11-01 22:32] meldafrawi commented on #847
Fixed.
Volume now get detached after pod deleted.

[2019-11-01 22:32] #847 closed

[2019-11-01 23:12] yasker commented on #833
This case is interesting.

Obviously the issue is caused by incorrect mount propagation(a.k.a. `private`), resulted in the local mounted disks cannot be accessed by the Replica Instance Manager. The correct mode would be `rslave`(host to container) or `rshared`(bidirectional).

But it's also interesting that in most cases, the current configuration just works. And we HAVEN'T set the `MountPropagat

[2019-11-02 16:20] maxaudron opened #849 "Node Disk gets disabled randomly"
After some time my two nvme SSD disk will be disabled in longhorn, trying to reenable them only yields this message in the logs:
[code]

The disks are mounted with the flags `default,noatime` and a xfs filesystem.

For now the only easy way that i've found to reenable them is restart the node,
I can't unmount them as longhorn is still using them

[2019-11-03 10:27] NchemIcaLS opened #850 "Upgrading from v0.5.0 to v0.6.2 all volumes disappeared"
I have longhorn installed under apps in rancher. Before upgrading I made sure to detach all volumes. Then I upgraded the chart from 0.5.0 to 0.6.2. After the upgrade I noticed that the longhorn-system namespace no longer had any pods corresponding to volumes and the longhorn UI shows no volumes as well. I checked /var/lib/rancher/longhorn on the nodes and some replicas are still there.

I tried a

[2019-11-04 18:00] yasker commented on #849
@maxaudron Are the disks' filesystem changed? Longhorn records the filesystem ID to make sure it won't accidentally write into another disk due to e.g. the disk was umounted.

The following command can be used to get fsid
[code]

If longhorn detected the filesystem change for the directory(e.g. the disk was reformatted or umounted), the disk would be disabled automatically, to prevent unintended c

[2019-11-04 18:14] yasker commented on #829
@JasonvanBrackel Can you update the youtube channel logo?

[2019-11-04 18:39] shuo-wu commented on #850
1. What's your Rancher version when you upgrade your Longhorn?
2. Did you experience the upgrade/rollback failure like #755 before the volume disappeared?

I am suspecting you may trigger the bug #783: the Longhorn uninstaller is launched and all Longhorn volumes will be deleted.

[2019-11-04 19:46] NchemIcaLS commented on #850
1. I was on Rancher v2.2.4
2. The first time there was no issue with the upgrade itself. #775 happened after the volumes disappeared and I attempted to rollback.

The volumes definitely disappeared during the upgrade. That somehow the uninstaller got triggered would explain it. I wish I could provide more debug information but I needed the cluster back and running so I reset everything and restore

[2019-11-04 23:17] yasker commented on #795
Steps to reproduce the issue:
1. Create a volume.
2. Attach it, then detach it.
3. Check any replica manager using `ps aux` inside the pod.

Before the fix, `[longhorn] <defunct>` would be listed.

After the fix, there would be no zombie process left.

And the manager should work with both v0.6.2 engine image (with the bug) and the image contains the fix.

[2019-11-04 23:38] yasker commented on #834
Cannot reproduce this issue at this moment.

Tried to:
1. Create a pod using Longhorn volume.
2. Delete the volume from Longhorn UI, so PV and PVC are still there.
3. Delete the pod.

The pod, PV and PVC are deleted correctly.

Tested on Kubernetes v1.14.6 with Longhorn v0.7.0-dev.

Keep the issue open to see if we can get more information on this.

[2019-11-04 23:44] yasker commented on #786
The redundancy is calculated by the UI. @smallteeths Can you take a look?

[2019-11-05 02:03] yasker commented on #728
Wait for the integration test.

[2019-11-05 03:30] yasker opened #851 "Automatically attach volume if was detached unexpected"
As long as there are still healthy replicas available, we can attach the volume.

It should cover with node reboot #375 , docker reboot #762 , Kubernetes upgrade #703 , and recovery from volume remounted as read-only #381

https://github.com/longhorn/longhorn-manager/pull/453 should help.

[2019-11-05 04:33] yasker commented on #728
Integration test passed.

[2019-11-05 04:33] #728 closed

[2019-11-05 07:47] chrisbulgaria commented on #851
Yes !!!
Thats what I have been waiting for .

[2019-11-05 09:14] yuchunyun opened #852 "what is forntend?"
Hello, I have some questions that I don't understand. Can you help me?

I've seen multiple references to the frontend in the document

-    "Longhorn supports iscsi target frontend mode as stated" in the file docs/iscsi.md

-    "The frontend (either open-iscsi/TGT are supported at this moment)"  in the file longhorn-engine/readme.md

-    When I create volume on the UI, the Frontend has two choic

[2019-11-05 18:09] yasker commented on #848
Seems GitHub bugged out. The commit has been merged.

[2019-11-05 18:10] yasker commented on #848
Seems GitHub bugged out. The commit has been merged.

[2019-11-05 18:26] yasker commented on #852
@yuchunyun The frontend in the Longhorn indicates the way how Longhorn present the volume to the user.

To the end-user, we have two frontends available now: iscsi or block device. Both of them are implemented using TGT as an iSCSI target in the back. Block device frontend will also involve open-iscsi on the host to create the device. To Longhorn engine, those two frontends are `tgt-iscsi` and `tg