[2020-04-21 22:12] meldafrawi commented on #1167
Validation: **PASSED**

Steps to test:
- Create a volume, and attach it to a node
- Delete a replica, a new replica should start to rebuild.
- Hover over replica, a tooltip state `Synchronizing from Replica: <REPLICA_NAME>`

[2020-04-21 22:18] #1167 closed

[2020-04-21 22:59] meldafrawi commented on #1220
Validation: **PASSED**

Steps to test:
Reproduce case 1:
1. Make sure the setting `Replica Soft Anti-Affinity` is enabled.
2. Disable scheduling for all nodes except for one.
3. Launch a volume with 3 replicas, write some data
4. Delete a replica and wait for rebuilding
5. Check the rebuild status, the field `fromReplica` is the same as the field `replica`.
6. The field `fromReplica` should not be

[2020-04-21 22:59] #1220 closed

[2020-04-21 23:22] meldafrawi opened #1231 "[BUG] Nightly Test: test_ha_backup_deletion_recovery sometimes failed"
**Describe the bug**
sometimes test_ha_backup_deletion_recovery test failed

**To Reproduce**
Install Longhorn `master`
Run `test_ha_backup_deletion_recovery

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**Additional context**
Jenkins build num: longhorn-tests/385

[2020-04-21 23:23] meldafrawi commented on #1143
Test also failed at: longhorn-tests/385

[2020-04-21 23:28] yasker commented on #1151
I am thinking we can add a setting to allow automatically delete the node if it's deleted from Kubernetes.

[2020-04-21 23:33] yasker commented on #1230
It seems the disconnected replica is still being reached by the controller's `backup status` command.

We should add a test case for this: test delete the replica doing the backup, check the backup status, and check the backup after.

[2020-04-21 23:38] sowmyav27 opened #1232 "[BUG] Nodes deleted from cluster and re created with the same node name are seen as Unschedulable"
**Describe the bug**
Nodes deleted from cluster and re created with the same node name are seen as Unschedulable

**To Reproduce**
Steps to reproduce the behavior:

1. Create an RKE DO cluster from Rancher - 1 etcd, 1 control plane and 4 worker nodes
2. Enable/Deploy Longhorn in the cluster
3. Delete a worker node from Rancher.
4. The worker node is recreated (node pool) with the same node name
5.

[2020-04-22 00:40] meldafrawi commented on #972
Validation: **PASSED**

Steps to test (1/2):
- Deploy Longhorn, root disk on each node should be schedulable on `/var/lib/longhorn`
- Add a disk to the node, where the new disk path is on existing node disk e.g `/home` or `/mnt`
- Check longhorn events, should see the following event

[code]

Steps to test (1/2):
- Create 2 disks with same size, format `disk1` with ext4, and `disk2` with xfs
- Mou

[2020-04-22 00:40] #972 closed

[2020-04-22 02:17] yasker commented on #800
Done.

[2020-04-22 02:17] #800 closed

[2020-04-22 02:20] yasker commented on #1098
@PennyScissors Has we moved the chart from `/proposed` to `/charts`?

[2020-04-22 02:32] yasker commented on #1159
Available at https://github.com/yasker/longhorn/wiki/Best-practices-for-deploying-Longhorn-in-production for now. Will move to the doc later.

[2020-04-22 03:14] yasker commented on #978
We don't need batch cancel button for now, it's not a commonly used the button. We can add it later if necessary.

[2020-04-22 04:04] yasker commented on #1156
@meldafrawi I cannot reproduce the issue following the steps. Can you provide logs?

[2020-04-22 04:11] shuo-wu opened #1234 "[BUG]Socket connection reload doesn't work if the frontend is FrontendTGTISCSI"
**Describe the bug**
When users choose `FrontendTGTISCSI`, it means they need to send this command manually since we cannot find the block device/Longhorn tgt client.

**To Reproduce**
The following steps are not tested and may be updated later.
Steps to reproduce the behavior:
1. Deploy Longhorn v0.8.0
2. Create a volume with frontend `FrontendTGTISCSI`.
3. Attach then use the volume.
4. Upgrade

[2020-04-22 11:23] shuo-wu opened #1235 "[BUG]Data writing during the live upgrade leads to replica error"
**Describe the bug**
If users keep writing data to the Longhorn volume during the live upgrade, some new replicas will fail immediately when the new engine is launching.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume using v0.8.0 engine image
2. Attach the volume then keep writing data into the volume
3. Live upgrade the volume to the latest engine image
4. Some newly launch

[2020-04-22 11:56] shuo-wu commented on #1137
The root cause of this issue is actually #1225

The reasons why sometimes this test can succeed are that:
1. The image `longhornio/longhorn-test:upgrade-test.3-3.3-3.1-1` is not updated.
2. The volume state including engine endpoint and replica mode is not checked.

Hence the image update and the test improvement are needed beside fixing #1225

[2020-04-22 12:39] nicolamarella commented on #1221
For those who have a similar issue, we found a temporary solution:
The problem appears to be originated when using `fsGroup` in the security context, and as you know, postgres chart uses it by default. We had many of them and also used in some custom charts.

Disabling it and using an init-container to do chmod to fix the permission seems to have solved the (at least for now).

[2020-04-22 15:49] yasker commented on #836
@SeMeKh Losing the snapshot is not really an option. If you take a look at `Replica Operations` section in https://rancher.com/blog/2017/announcing-longhorn-microservices-block-storage/ , snapshots are the foundations of Longhorn. We rely on `holes` in the snapshots to know where is the data stored. TRIM can potentially change that. I think TRIM may change previous data into holes, so a read befor

[2020-04-22 17:33] meldafrawi commented on #1137
Test failed on: longhorn-tests/386

logs:
[code]

[2020-04-22 17:36] meldafrawi opened #1236 "[BUG] Nightly Test: test_ha_salvage sometimes failed"
**Describe the bug**
sometimes `test_ha_salvage` test failed

**To Reproduce**
Install Longhorn `master`
Run `test_ha_salvage`

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**Additional context**
Jenkins build num: longhorn-tests/386

[2020-04-22 17:38] meldafrawi opened #1237 "[BUG] Nightly Test: test_rebuild_failure_with_intensive_data sometimes failed"
**Describe the bug**
sometimes `test_rebuild_failure_with_intensive_data` test failed

**To Reproduce**
Install Longhorn `master`
Run `test_rebuild_failure_with_intensive_data`

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**Additional context**
Jenkins build num: longhorn-t

[2020-04-22 17:40] meldafrawi opened #1238 "[BUG] Nightly Test: test_statefulset_recurring_backup sometimes failed"
**Describe the bug**
sometimes `test_statefulset_recurring_backup` test failed

**To Reproduce**
Install Longhorn `master`
Run `test_statefulset_recurring_backup`

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**Additional context**
Jenkins build num: longhorn-tests/386

[2020-04-22 18:11] khushboo-rancher opened #1239 "[BUG] Snapshot creation failed when one of the node out of three was rebooting."
**Describe the bug**
Snapshot creation failed when one of the node was rebooting.
The below API to create snapshot call returned 503 - service unavailable
[code]
<img width="1026" alt="Screen Shot 2020-04-22 at 11 00 04 AM" src="https://user-images.githubusercontent.com/60111667/80017700-d8bef280-8489-11ea-9acc-5575815ce29c.png">

After the above failure, snapshot list call failed as well.
[code]

[2020-04-22 18:23] yasker commented on #1239
@khushboo-rancher If one replica is trying to create snapshot but was rebooted, the snapshot creation can be either success (when the replica somehow manage to finish snapshot creation before cut off) or failure (when the replica failed to finish snapshot creation before cut off). The expected result is:
1. After this incident, engine should cut off the rebooted snapshot
2. snapshot operations lik

[2020-04-22 18:34] yasker commented on #1235
I think the reason is different.

When we start the new engine image, it will connect to the replicas immediately. There is no locking mechanism to make sure when this happens, the replicas are at the same revision version. And it's in fact impossible to guarantee that since the engine writing to the data is totally in another process, and we don't want inter-process dependency here.

The point to

[2020-04-22 18:41] meldafrawi commented on #978
Validation: **PASSED**

[2020-04-22 18:53] meldafrawi commented on #1192
Validation: **PASSED**

Longhorn UI versio: wangsiye/longhorn-ui:82eb981

[2020-04-22 18:54] meldafrawi commented on #1227
Validation: **PASSED**

Longhorn UI versio: wangsiye/longhorn-ui:82eb981

[2020-04-22 19:44] #1192 closed

[2020-04-22 19:44] #978 closed

[2020-04-22 19:44] #1227 closed

[2020-04-22 20:37] yasker commented on #878
@shuo-wu can you add PR for the script?

[2020-04-22 22:09] yasker commented on #1022
Done

[2020-04-22 22:09] #1022 closed

[2020-04-22 22:09] yasker commented on #1015
Done

[2020-04-22 22:09] #1015 closed

[2020-04-22 22:29] khushboo-rancher commented on #1239
Thanks @yasker It makes sense.  I tried above scenario multiple times, what I found are below.
1. If somehow snapshot creation API call fails, the subsequent calls to list snapshot keeps failing until volume detail page is refreshed.
2. If the attached node to volume is rebooted, replica doesn't rebuild.

[2020-04-22 22:30] meldafrawi opened #1240 "[BUG] Crash engine process using SIGKILL will result in a detach/attach loop for volume"
**Describe the bug**
Crashing engine process will result in a detach/attach loop for volume

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume, attach it to a node
2. exec into volume  Instance Manager  using
` kubectl -n longhorn-system exec -it <INSTANCE_MANAGED_ENGINE_POD>  /bin/bash `
3. Use ps command to identify engine process for volume
`ps aux | grep -i <VOLUME_NAME>`
4.

[2020-04-22 22:41] yasker commented on #1239
1. This is may due to the routing of the UI. Should be a UI bug.
2. You meant the reboot the node that volume attached to? That should result in workload migrate to other nodes and Longhorn volume attach to that node again. Rebuild should happen later. What are the steps to reproduce this issue?

[2020-04-22 22:51] khushboo-rancher commented on #1239
To reproduce the 2nd issue, steps are
1. Create a volume with 3-replicas 3-node, attach to a pod to the volume. Lets' say pod is running on Node1.
2. Write data to volume.
3. Trigger a reboot on Node1 and immediately take snapshot.
4. Snapshot fails and replica doesn't get rebuilt.

In above case, workload didn't migrate to other node but stayed in unavailable state for a while and become active o

[2020-04-22 22:51] meldafrawi commented on #1156
Validation: **PASSED**

Steps to test (1/2):
- Install Longhorn v0.7.0
- Upgrade to Longhorn `master`
- Use https://github.com/longhorn/longhorn/blob/master/examples/deployment.yaml to create a pod and volume.
- Write data to pod and compute it's checksum.
- Corrupt the disk using following command on the attached node
`dd if=/dev/zero of=/dev/longhorn/<vol-name> bs=1 seek=1108 count=4`
- Use SIGI

[2020-04-22 23:42] yasker commented on #1239
@khushboo-rancher That's expected, at least at this moment.

Longhorn will only rebuild when the engine is attached and communicating with Longhorn Manager. On that attached node, since it's down, Longhorn engine is already down with it. The UI you saw for that volume is in fact only the metadata. We didn't indicate that in the UI currently though. There isn't anything you can do for that volume a

[2020-04-22 23:44] khushboo-rancher commented on #1239
OKay, So should we solve the UI issue only then?
[code]

[2020-04-22 23:45] yasker commented on #1239
@khushboo-rancher yes, we should see if we can solve this.

[2020-04-23 05:34] shuo-wu commented on #1235
There is a field named `revisionCache` in replica struct. When the volume starts to use the new engine to write data, the `revisionCache` that holds a smaller revision counter value will be recorded into the revision counter file. Hence the replicas will be still marked as ERROR if the volume is reattached.
https://github.com/longhorn/longhorn-engine/blob/21572ccd3c25bb83b766692877dc055a9959b710/p

[2020-04-23 06:24] michaelandrepearce commented on #810
Could an approach with an extended scheduler thats aware of data location work here?

[2020-04-23 09:28] awlleon opened #1241 "[Question]engine image ei-e10d6bf5 (longhornio/longhorn-engine:v0.8.0) is not ready, it's deploying"
Hi,
Using longhorn as storage system. After update longhorn to 0.8.0 and drain a worker node, I am not able to attach valume  to host using longhorn UI (Request failed with status code 500)  and  the pods can not use the storage volume too.

[code]

[2020-04-23 12:30] awlleon commented on #1241
I find the longhornio/longhorn-engine:v0.7.0 state is Deploying.
![Screenshot_20200423_201809](https://user-images.githubusercontent.com/51808092/80099548-34c86a80-85a1-11ea-9225-6f9c38757d89.jpg)

[2020-04-23 15:02] yasker commented on #1241
You might have hit https://github.com/longhorn/longhorn/issues/1116 . Can you check if that's the case?

[2020-04-23 17:23] #1224 closed

[2020-04-23 17:23] #1156 closed

[2020-04-23 19:14] lomori opened #1242 "High performance local storage"
HI,

Let's say I have a high-performance storage drive, e.g. NVME, attached to a host. We can mount that somewhere and configure Longhorn to use it. A few questions:

1. Since replicas are done synchronously, to obtain the best performance possible, we have to set the number of replicas to 1, right? Otherwise, network traffic would slow down access.
2. Any particular reason replicas are done synch

[2020-04-23 20:05] meldafrawi opened #1243 "[BUG] If disk is lazy umounted, replica will not report failure"
**Describe the bug**
Replica will not fail if disk is lazy un-mounted.

**To Reproduce**
Steps to reproduce the behavior:
1. Attach a new disk to a node, and add the addition disk to the node, make the disk schedulable.
2. Disable scheduling on other nodes, so we make sure one replicas will be scheduled to the additional disk.
3. Create a pod using a volume using: https://raw.githubusercontent.com

[2020-04-23 20:13] meldafrawi opened #1244 "[BUG] Nightly Upgrade Test: test_salvage_auto_crash_replicas_short_wait sometimes failed"
**Describe the bug**
sometimes `test_salvage_auto_crash_replicas_short_wait`  test failed after upgrade

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v0.7.0
2. Upgrade Longhorn to `master`
3. Run `test_salvage_auto_crash_replicas_short_wait` test

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
 - Longhorn version: master
 - Kubernetes version: v1.

[2020-04-23 20:16] meldafrawi opened #1245 "[BUG] Nightly Upgrade Test: test_rebuild_failure_with_intensive_data sometimes failed"
**Describe the bug**
sometimes `test_rebuild_failure_with_intensive_data`  test failed after upgrade

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v0.7.0
2. Upgrade Longhorn to `master`
3. Run `test_rebuild_failure_with_intensive_data` test

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
 - Longhorn version: master
 - Kubernetes version: v1.17.2

[2020-04-23 20:19] meldafrawi opened #1246 "[BUG] Nightly Test: test_recurring_job_kubernetes_status sometimes failed"
**Describe the bug**
sometimes `test_recurring_job_kubernetes_status` test failed

**To Reproduce**
Install Longhorn `master`
Run `test_recurring_job_kubernetes_status`

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**Additional context**
Jenkins build num: longhorn-tests/387

[2020-04-23 20:20] meldafrawi opened #1247 "[BUG] Nightly Test: test_hosts sometimes failed"
**Describe the bug**
sometimes `test_hosts` test failed

**To Reproduce**
Install Longhorn `master`
Run `test_hosts`

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**Additional context**
Jenkins build num: longhorn-tests/387

[2020-04-23 21:27] yasker commented on #1244
Duplicate of https://github.com/longhorn/longhorn/issues/1141

[2020-04-23 22:09] yasker commented on #1101
I am not able to reproduce the issue after the fix. Tried DR volume create and activate 10+ times, with timing including just created, when DR volume is restoring, or restoring completed.

[2020-04-23 22:10] yasker commented on #1098
https://github.com/rancher/charts/pull/439 fixes rancher/charts#390

@shuo-wu remember to rebase to the `/charts` directory.

[2020-04-23 22:10] #1098 closed

[2020-04-24 03:00] yasker commented on #1158
Duplicate of https://github.com/longhorn/longhorn/issues/1177

[2020-04-24 03:00] #1158 closed

[2020-04-24 06:09] yasker commented on #1229
It is the link to https://github.com/longhorn/longhorn/blob/master/chart/README.md .

[2020-04-24 10:54] shuo-wu commented on #1235
Test steps:
1. Deloy Longhorn v0.8.0.
2. Launch a pod with Longhorn volume.
3. Write data to a tmp file in the pod and get the md5sum. e.g.:
[code]
4. Upgrade Longhorn to the latest version and wait for the upgrade complete
5. Copy the data from the tmp file to the volume. e.g.:
[code]
6. Do not wait for the copy complete. Immediately live upgrade the volume.
7. Wait for the copy complete and live

[2020-04-24 14:36] yasker commented on #1235
Note on verify: repeat the test at least 5 times to make sure it's done correctly.

[2020-04-24 14:41] yasker opened #1248 "test: Add the endpoint value validation in the live upgrade test for engine and manager"
For example in https://github.com/longhorn/longhorn-engine/pull/481/commits/194b09bf445a8c44751ad2a077137db96ff20d17#diff-6796a5e78e6631639f4d8dfb4584929bR53

And
https://github.com/longhorn/longhorn-tests/pull/300/commits/048b042fc9cd7e69c0a74ed74af24f0a2aaf770e#diff-99c7805e5fa15cec781eb48f5a6c2587R293

We should know exactly what's the endpoint is, not just `not empty`.

[2020-04-24 14:44] yasker commented on #1248
https://github.com/longhorn/longhorn-tests/pull/300/commits/1261a24fd0e25fbd74db03e77f065ce72ac40d7e#diff-99c7805e5fa15cec781eb48f5a6c2587R26

Better comment `in MiB`.

[2020-04-24 19:04] meldafrawi commented on #1235
Validation: **PASSED**

Steps tried multiple times.

[2020-04-24 19:04] #1235 closed

[2020-04-24 20:29] meldafrawi commented on #1223
Validation: **PASSED**

Steps to test:
1. Start an EKS cluster in Rancher.
2. Install open-iscsi on the node using `sudo yum install iscsi-initiator-utils -y`
3. Install Longhorn on it.
4. Attach a new EBS volume to the EC2 instance in AWS console, specify `sdb` as the name
5. Create multiple volumes  in Longhorn and attach it to the same node.
6. Check the `major:minor` number of the volumes in `

[2020-04-24 20:30] #1223 closed

[2020-04-24 21:19] sowmyav27 opened #1249 "[BUG] Error during backup process will be removed quickly without user knowing"
**Describe the bug**
No error message is presented when a user takes a backup when incorrect backup target is entered

**To Reproduce**

- Steps to reproduce the behavior:
- Give. an incorrect value in Backup target in Settings page on Longhorn.
- create a volume, attach it to a workload, write data into the volume.
- Go to volume details page on Longhorn UI.
- Click on create. backup.
- Backup cr

[2020-04-24 22:41] yasker commented on #878
The script is now at https://github.com/longhorn/longhorn/tree/v0.8.1/scripts . @meldafrawi can you check it's working as expected? Thanks.

[2020-04-24 23:18] sowmyav27 commented on #1249
Similar to - https://github.com/longhorn/longhorn/issues/1217

[2020-04-24 23:39] meldafrawi commented on #1225
Validation: **PASSED**

Steps to test:

1. Deploy Longhorn v0.8.0
2. Create a volume then attach it., use `lhexec` command check volume info
https://github.com/longhorn/longhorn-manager/blob/master/deploy/scripts/lhexec

`./lhexec VOLUME_NAME info`

3. Upgrade Longhorn to v0.8.1-rc3
4. Live upgrade the volume engine to v0.8.1-rc3
5. Use `lhexec` command check volume info
https://github.com/longhor

[2020-04-24 23:39] #1225 closed

[2020-04-25 02:12] khushboo-rancher opened #1251 "[BUG] when one snapshot is removed from a replica, volume stuck in recursive Attaching/detaching state."
**Describe the bug**
If one snapshot out of many is deleted and pod is scaled to zero. On attaching the volume to node, it stuck in 'Attaching' and 'De-attaching' state.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume -(1 replica, 1 node) and attach it to a pod.
2. Write data into the volume and take three snapshots. s1, s2 and s3
3. Go to /var/lib/rancher/longhorn/replica/vo

[2020-04-25 21:56] #1062 closed

[2020-04-26 00:50] yasker opened #1252 "[DOC] Add document on how to recover a volume using a single replica"
Before we implemented https://github.com/longhorn/longhorn/issues/469 , we need a document to tell users how to recover a volume (expose a block device) if only a single replica exists.

[2020-04-26 00:55] yasker commented on #1178
@meldafrawi As I mentioned the DisableVolumExpansion is only a feature gate on the Kubernetes side, it won't affect the ability of expansion of the volume if the user decide to do it using Longhorn. We currently don't support a way to prohibit certain volumes from expansion.

[2020-04-26 10:41] #1035 closed

[2020-04-27 00:45] gytxmu commented on #1208
We had upgrade the OS to SuSE12SP5,
the kenel version is
Linux tgdfhk8snode08 4.12.14-120-default #1 SMP Thu Nov 7 16:39:09 UTC 2019 (fd9dc36) x86_64 x86_64 x86_64 GNU/Linux
the e2fsprogs version is e2fsprogs-1.43.8-3.8.1.x86_64.
 this package provide the `mkfs.ext4` commond by default.
I checked the docs , the version of e2fsprogs-1.43.8-3.8.1.x86_64 have the feature of METADATA_CSUM.this feature

[2020-04-27 09:53] shuo-wu commented on #1208
Longhorn is using the default packages of Ubuntu 18.04:
[code]

Here are the links:
http://manpages.ubuntu.com/manpages/bionic/man8/mkfs.8.html
http://manpages.ubuntu.com/manpages/bionic/en/man8/mkfs.ext4.8.html
http://manpages.ubuntu.com/manpages/bionic/man8/mount.8.html

[2020-04-27 11:00] mschiessl commented on #345
Think OVH opened this one up as you can see here:
https://docs.ovh.com/gb/en/public-cloud/getting_started_with_the_swift_S3_API/#configure-aws-client

but I am struggling getting this to work

[2020-04-27 18:23] yasker commented on #1183
Depends on the result of https://github.com/longhorn/longhorn/issues/1105

[2020-04-27 19:08] yasker commented on #1185
Done

[2020-04-27 19:08] #1185 closed

[2020-04-27 19:10] yasker commented on #1184
[code]
This specific issue fixed.

[2020-04-27 19:10] #1184 closed

[2020-04-27 19:20] khushboo-rancher opened #1253 "[BUG] Replica should get rebuilt even If a snapshot corrupt in a replica."
**Describe the bug**
Scenario where there is wrong info in ```parent``` tag in snapshot meta data i.e. volume-snap.img.meta. Replica should get rebuild from other healthy replica.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a longhorn volume (3 replicas 3 nodes) attach it to one pod.
2. Write data to volume and take snapshots (3 times). say snapshots s1, s2 s3
3. Go to one of the

[2020-04-27 19:44] catherineluse opened #1254 "[BUG] Option to create PVC should be grayed out for Longhorn volume bound to PVC"
**Describe the bug**
The option to create a PVC is grayed out in one place but not another. This applies to a volume that already has a PV/PVC created in the Longhorn UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Longhorn volume
2. From the Longhorn UI, create PV/PVC
3. Select the volume using the check box in the left column
4. Click the hamburger menu > Create PV/PVC
5. See

[2020-04-27 21:07] sowmyav27 opened #1255 "[BUG] Restore from backup when S3 target is invalid creates a Healthy volume"
**Describe the bug**
Restore from backup when S3 target is invalid creates a Healthy volume

**To Reproduce**

- Create a volume and a backup
- Invalidate the target URL in Settings page.
- Restore from backup into a volume - `v1`
- The volume `v1` is seen. in Healthy. state
- The. replicas are seen in "Running" state
- Create PV/PVC for the volume
- Attach the volume through Rancher in a workload

[2020-04-27 21:28] catherineluse opened #1256 "[DOC] Add more examples to docs"
Suggested examples:

- In configuration reference (`/docs/0.8.0/advanced-resources/settings/`), if applicable, each default value should be included in addition to the example values.
- In settings, add a full example YAML file of a longhorn deployment configuration
- Multiple disk support: Configuration section should have an example YAML
- The example setup in "recovery volume after unexpected d

[2020-04-27 21:41] catherineluse opened #1257 "[DOC] New content for docs"
I'm raising this issue to make it easier to track the work that needs to be done with regard to adding some new content to the Longhorn docs.

- **Add doc page "Best Practice Configuration" (DONE)** https://github.com/longhorn/website/issues/68, which is being drafted here https://github.com/yasker/longhorn/wiki/Best-practices-for-deploying-Longhorn-in-production
- **Document the minimum hardware

[2020-04-27 21:44] yasker commented on #1257
https://github.com/longhorn/website/issues/63 should be addressed by https://github.com/longhorn/website/commit/38a5f9939f25efcf327641ba3aa03c44a35f1524 already?

[2020-04-27 21:45] catherineluse opened #1258 "[DOC] Staging website/Forwarding docs.longhorn.io/xxx to longhorn.io/docs/xxx"
I'm opening this issue to make it easier to track some UI-related work for the longhorn/website repo.

- **Build the staging website** https://github.com/longhorn/website/issues/75
- **Forwarding `docs.longhorn.io/xxx` to `longhorn.io/docs/xxx`** https://github.com/longhorn/website/issues/65

[2020-04-27 21:51] meldafrawi opened #1259 "[BUG] Change UI browser tab icon to Longhorn"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Longhorn UI

**Expected behavior**
![image](https://user-images.githubusercontent.com/18232258/80424339-cd345700-88e1-11ea-983e-f5212b105715.png)

**Log**
N/A

**Environment:**
 - Longhorn version: 0.8.1-rc3
 - Kubernetes version: 1.17
 - Node OS type and version: Ubu

[2020-04-27 21:54] sowmyav27 opened #1260 "[BUG] State transitions for a failure in backup restore"
**Describe the bug**
State transitions for a failure in backup restore can be made better

**To Reproduce**

- Create a volume and a backup
- Invalidate the target URL in Settings page.
- Restore from backup into a volume - v1
- The volume v1 is seen. in Healthy. state
- The. replicas are seen in "Running" state

**Expected behavior**
If a backup restore fails, it should be seen. on the volume. Th

[2020-04-27 22:00] sowmyav27 opened #1261 "[BUG] Deleting a snapshot shows > 100% progress on the replica in the volume details page"
**Describe the bug**
Deleting a snapshot shows > 100% progress on the replica in the volume details page

**To Reproduce**

- Create a volume and attach it to a workload.
- Go to volume details page
- Create few snapshots
- Delete snapshots
- Hover over the progress bar of a replica
- It shows Deleting Snapshot 115%
- Snapshot Section shows Deleting 100%

<img width="1655" alt="Screen Shot 2020-04

[2020-04-27 22:07] catherineluse commented on #1257
You're right. I edited this issue and closed it on longhorn/website

[2020-04-27 22:09] sowmyav27 opened #1262 "[BUG] Error message displayed when a backup restore fails can be modified"
**Describe the bug**
Error message displayed when a backup restore fails can be modified to reflect the actual failure

**To Reproduce**

- Create a volume, attached to a workload, write some data.
- Create a backup
- Restore from this back
- While the restoration is in process, delete the actual backup from Backup page in Longhorn
- The restoration fails with error message: `AWS Error: NoSuchKey

[2020-04-27 23:19] meldafrawi commented on #1172
test failed again on longhorn-tests/400:

logs:

[code]

[2020-04-27 23:21] sowmyav27 opened #1263 "[BUG] Leftover data in backupstore from an interrupted backup deletion process is not deleted in subsequent delete backup calls"
**Describe the bug**
Leftover data in backupstore from an interrupted backup deletion process is not deleted in subsequent delete backup calls

**To Reproduce**

1. Create a volume
2. Write about 800M of data in it in file1.
3. Take a backup b1. The block space in backupstore will be of size 800M
4. Overwrite file1 with 800M of data.
5. Take another backup b2. The block space in backupstore will b

[2020-04-28 01:14] yasker commented on #1160
Hi @rsoika ,

One thing I noticed in the doc: you specify the replicas in Longhorn as `PODS` in the diagram, which can be confusing because the reader might think it's the workload, instead of the process provide Longhorn access to the local node's disk. A diagram similar to https://longhorn.io/ might be more clear on how Longhorn works.

[2020-04-28 01:38] yasker commented on #1262
We need a way to indicate the restoration failure in general.

Related to https://github.com/longhorn/longhorn/issues/1260

[2020-04-28 01:47] meldafrawi commented on #1101
Can't reproduce on after the fix

[2020-04-28 01:47] #1101 closed

[2020-04-28 02:11] meldafrawi commented on #878
Validation: **PASSED**

[2020-04-28 02:11] #878 closed

[2020-04-28 06:00] shuo-wu opened #1264 "[BUG]Manager reports "errors" during the live upgrade"
**Describe the bug**
During the live upgrade, the manager will print some "errors", which actually doesn't affect the functionality.

**To Reproduce**
Steps to reproduce the behavior:
1. Lively upgrade a volume
2. Check manager log

**Expected behavior**
The live upgrade should work fine and there is no error messages in the manager's log.

**Log**
[code]

**Environment:**
 - Longhorn version: v0.

[2020-04-28 09:13] catherineluse opened #1265 "[BUG] Review the text on the settings page of the Longhorn UI"
The text on the settings page has some grammar/clarity issues.

[2020-04-28 09:19] awinlei commented on #790
can you explain how to fix this bug? thanks very much.

[2020-04-28 11:44] smallteeths commented on #1261
![Jietu20200428-194203](https://user-images.githubusercontent.com/27733391/80483332-7cc40480-8988-11ea-97f3-a544a07a2a54.jpg)
![Jietu20200428-192203](https://user-images.githubusercontent.com/27733391/80483346-82214f00-8988-11ea-8d5a-c0f2b05cbfec.jpg)

The returned data may be the cause of this bug @yasker @sowmyav27

[2020-04-28 13:54] rsoika commented on #1160
yes - that's true. I have improved the diagram a little bit.  Thanks for your feedback

[2020-04-28 13:54] #1160 closed

[2020-04-28 13:58] rsoika commented on #1105
as you may have seen, I have had continued the discussions about the 'node-fancing' topic in the kubernetes-sigs project. It seems that there will be no solution in kubernetes in the near future. If you find a way to address this in Longhorn, I think this would be a unique feature compared to other solutions.

[2020-04-28 18:50] yasker commented on #790
@awinlei the fix is already in v0.6.2, which version of Longhorn you're using?

[2020-04-28 18:57] yasker commented on #1261
looks like an issue in the backend calculation.

[2020-04-28 18:59] sowmyav27 opened #1266 "[BUG] Manual and recurring backups are not being triggered"
**Describe the bug**
Manual and recurring backups are not being triggered

**To Reproduce**

- Create a volume, attach to workload, write data and take some backups.
- Schedule recurring backups - every minute
- Delete all the backups by clicking on "Delete all backups"
- All the backups are deleted on S3
- Manual backups and scheduled backups happen correctly after this
- they are seen uploaded i

[2020-04-28 19:26] khushboo-rancher opened #1267 "[BUG] Backups are not getting deleted even after crossing retain count."
**Describe the bug**
Retain count is not getting applied to backups. Older backups are not getting deleted when backup counts are exceeding the count of retain.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume(3 replicas, 3 nodes), attach to a pod
2. Write data to volume. Take a snapshot s1.
3. Enable recurring backup with retain count 10.
4. After system takes 5 backups, **re

[2020-04-28 20:43] yasker commented on #1267
Is it because the backup retain was changed to 5? Can you try to retain at 5 when creating the new recurring job?

[2020-04-28 21:08] sowmyav27 opened #1268 "[BUG] Error message is not seen on the UI when the backup to minio fails"
**Describe the bug**
Error message is not seen on the UI when the backup to minio fails

**To Reproduce**

- Attach a minio as the external storage.
- Add some files into the minio to make the external storage almost full.
- Go to the volume --> Volume details page --> Create Backup
- The backups are seen stuck on the UI but no error message is seen
- subsequent backups show 0% progress.

<img wid

[2020-04-28 22:27] all4innov opened #1269 "[FEATURE] Preserve the data from existing disks on the new nodes"
**Description**
As shown in the figure, Longhorn is completely off when all EC2 k8s workers was recreated via an ASG (the red down nodes are the old and the green schedulable are the new) knowing that the new instances are attaching the same EBS volumes with the same datapath (so in theory preserving all replicas).

![image](https://user-images.githubusercontent.com/520080/80543253-d3dcd000-89ae-1

[2020-04-28 22:41] yasker commented on #1269
This might impact the design on https://github.com/longhorn/longhorn/issues/1151

[2020-04-28 22:54] sowmyav27 opened #1270 "[BUG] Not able to attach a restored volume to a workload when the volume was interrupted during restoration process"
**Describe the bug**
Not able to attach a restored volume to a workload when the volume was interrupted during restoration process

**To Reproduce**

- Restore from a backup to vol-1
- while restore is in process, delete a replica
- wait for the volume to be in "Detached" state after restoration. Create PV/PVC
- Deploy a workload and attach the volume vol-1
- Error seen:
<img width="1261" alt="Scr

[2020-04-28 23:30] khushboo-rancher commented on #1267
Actually, After reverting to snapshot, it is keeping backups till retain count starting from there and not deleting the backups taken before reverting. Is it something expected?
Recurring snapshots get deleted in above scenario.

I've updated the steps to reproduce.

[2020-04-29 00:14] yasker commented on #1267
I don't expect a revert to affect anything here. We will take a look.

[2020-04-29 00:21] joshimoo commented on #1266
Can you confirm that the backups are not getting created on S3?

Below is an issue I had, that looked similar to this one, and might just be a UI issue?

Repro:
- create backups
- delete replica associated with backups
- ui /backup no longer shows the backups (also does not call backupvolumes api)
- create new backup
- ui /backup still blank (and no call to backupvolumes api)

Verification:
- call

[2020-04-29 02:02] yasker commented on #1229
Done

[2020-04-29 02:02] #1229 closed

[2020-04-29 02:02] yasker commented on #1163
Done

[2020-04-29 02:02] #1163 closed

[2020-04-29 02:03] yasker commented on #1068
Done

[2020-04-29 02:03] #1068 closed

[2020-04-29 02:03] yasker commented on #1248
Done

[2020-04-29 02:03] #1248 closed

[2020-04-29 02:03] yasker commented on #1137
Done

[2020-04-29 02:03] #1137 closed

[2020-04-29 03:30] yasker commented on #704
We also need to add document to https://github.com/longhorn/website for this new feature.

[2020-04-29 07:04] smallteeths commented on #1217
![Jietu20200429-141638](https://user-images.githubusercontent.com/27733391/80568785-36bf7d00-8a2a-11ea-818a-9f14ee066c53.jpg)
![Jietu20200429-143731](https://user-images.githubusercontent.com/27733391/80568797-417a1200-8a2a-11ea-96e0-e9f5c31f8d56.jpg)

Backup data returned without `lastBackupName` @yasker

[2020-04-29 10:08] shuo-wu opened #1273 "[BUG]Longhorn doesn't work on K3S + CentOS + SELinux"
**Describe the bug**
The engine-image pods have no permission to access the mounted volumes, then the engine image cannot become state `ready`.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy K3S with CentOS nodes
2. Deploy the latest longhorn. The engine-image pod will get stuck in `CrashLoopBackOff` status.

**Expected behavior**
Longhorn should work fine.

**Log**
[code]

**Environ

[2020-04-29 10:11] shuo-wu commented on #1273
@ShylajaDevadiga

Can you provide the steps to deploy the k3s for this issue?

[2020-04-29 11:06] shuo-wu commented on #1270
1. If there is a replica deleted during the restoration, a new replica will be rebuild. But this rebuild replica won't continue restoring data after the rebuild complete. Hence it's actually an invalid replica. BUG!
2. The wrongly rebuilt replica messes up the whole volume (the meta info may be included) when the pod is trying to use it. Then the error reported above will be triggered.
3. Deleting

[2020-04-29 17:10] catherineluse opened #1274 "[BUG] Update architecture docs"
This doc update comes from [feedback in Slack](https://rancher-users.slack.com/archives/CC2UQM49Y/p1588178476080200):

Anywhere in the docs that it says there is a dedicated longhorn pod for each replica, we should update it to say that replicas are sharing the same instance-manager pod.

[2020-04-29 20:01] yasker commented on #1217
When a new backup was created, the lastBackup should be updated. So it's ok to disable the option temporarily since it's uncommon to remove the last backup.

[2020-04-29 20:12] yasker commented on #1270
@shuo-wu replica rebuild and data writing should be fine. When we do replica rebuild there is a lock to prevent any writing until we've done snapshot. You can try it too.

Regarding the replica rebuild during the restoration, we can disable the rebuild during restoration volumes for now. Though for the new replica, it should start the restoration process - not the rebuild process. The same applies

[2020-04-29 20:50] sowmyav27 commented on #1262
Another use case which requires a better display/handling of the error message displayed -

- Create a volume, attached to a workload, write some data.
- External backupstore is configured on minio server
- Create a backup
- Restore from this back
- While the restoration is in process, disconnect Minio by deleting the pod where minio is running
- restoration fails with error -
`AWS Error: Forbidde

[2020-04-29 21:43] sowmyav27 opened #1275 "[BUG] Backup UI is stuck in loading state when backupstore is on minio server and the minio server pod is deleted"
**Describe the bug**
Backup UI is stuck in loading state when backupstore is on minio server and the minio server pod is deleted

**To Reproduce**

- Setup minio given here - https://longhorn.io/docs/0.8.0/users-guide/backup-and-restore/backupstores-and-backuptargets/#setup-a-local-testing-backupstore
- Create a volume in longhorn, attach to a workload and write data in the volume
- Configure the

[2020-04-29 22:13] yasker commented on #1275
This sounds like backend. Can you check if the backend responded? Timeout is might be 1 minute.

[2020-04-29 22:30] ShylajaDevadiga opened #1276 "[BUG] Pods using xfs filesystem fails with health check"
**Describe the bug**
Pods using Storage class with fstype: xfs fails CrashLoopBackOff

**To Reproduce**
Steps to reproduce the behavior:
Create Storage class with fstype: xfs
Create pvc
Create pod to use the pvc

**Expected behavior**
Pods should be in running state and mountpoint should be accessible

**Log**
[code]
**Environment:**
 - Longhorn version: 0.8.1
 - Kubernetes version: 1.18.2, k3s v1

[2020-04-29 22:46] yasker commented on #1276
We need to find a way to check XFS's availability since it doesn't have `lost+found`.

Also, let's check if `ls /<data-dir>` works.

[2020-04-30 02:18] joshimoo opened #1277 "[BUG] UI does not show backups for Volume when accessed via the link (Click here for completed backups)"
**Describe the bug**
After creating a backup then clicking on the link: "Click here for completed backups."
the backup details page for that volume will not show the backups instead it will show select a volume first. The reason seems to be it's missing the state=true/false param, when added the page correctly loads the backups for the specified volume. Please see attached screenshots for an examp

[2020-04-30 03:10] joshimoo commented on #1230
The real issue is that we run into a io timeout while trying to get the backup status information from the previously deleted replica.
Since we can potentially reuse the replica address (ip/port) for the rebuilt replica, we would end up waiting on a response while the rebuild is in progress.
If this happens for multiple backup status the whole backup status call will fail to return in time and the

[2020-04-30 03:13] shuo-wu commented on #1270
OK. I checked the implementation. The replica rebuild with data writing looks fine.

I will disable the rebuild for this case in the manager part now. But when will we refactor/fix the rebuild?

[2020-04-30 03:14] yasker commented on #1043
We need to investigate first on how those hubs work.

[2020-04-30 03:16] yasker commented on #1097
@meldafrawi is there anything we can do about this? Or we can provide instructions on how to work around this.

[2020-04-30 03:22] yasker commented on #1151
Need to consider the design with #1269

[2020-04-30 03:23] yasker commented on #1189
It seems was fixed in Rancher.

[2020-04-30 03:34] yasker commented on #1249
I am not sure it's a backend issue or frontend. @sowmyav27 can you check if API returns any errors? e.g. in backup status field of the volume.

[2020-04-30 03:38] yasker commented on #1255
It's ok if we restored the volume, but the workload shouldn't fail.

[2020-04-30 03:49] yasker opened #1278 "Interaction with Kubernetes Drain and Cordon operation"
We need to consider what we should do with the Kubernetes drain and cordon node for maintenance.

Also, when Kubernetes is doing recommended upgrade, each node will be drained. Need to take care of that scenario as well.

[2020-04-30 03:52] yasker commented on #1270
@shuo-wu can you check and give me an estimate of how long it will take to fix the rebuild during restoration? We can just let the new replica to do restoration rather than rebuild.

[2020-04-30 03:59] shuo-wu commented on #1270
Maybe 3~5 days(Review is not included). I think it depends on the complexity of the DR volume part.

[2020-04-30 04:10] yasker commented on #1270
@shuo-wu OK, let's stop the rebuilding for failure during restoration or DR. Can you file a bug to track the rebuild during the restoration as an enhancement? Thanks.

[2020-04-30 04:26] shuo-wu opened #1279 "[BUG]Rebuild doesn't work for the restoring volume or DR volume"
**Describe the bug**
When a replica of a restoring volume fails, Longhorn should directly restore the data to a new replica during the rebuild progress, rather than syncing data from the restoring replicas.

Right now Longhorn just simply disables the rebuild for restore volumes and DR volumes.

See the 1st part of #1270 for details.

**Additional context**
Need to consider:
1. How to restore data

[2020-04-30 16:55] erikwilson commented on #1273
This is probably an issue where selinux is properly enforcing the types and permissions on the host path.

k3s does not use docker by default, it uses containerd with selinux support. To verify it is not an issue with recent containerd changes the install should be compared to k3s using docker with selinux enabled.

If there is no difference with k3s using docker w/selinux or containerd I think th

[2020-04-30 21:52] khushboo-rancher opened #1280 "[BUG] Engine crash makes volume throw input/output error"
**Describe the bug**
If the engine manager crashes on the node where pod is running, the volume attached to it throws error. User is unable to access the volume. After redeploying the pod it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume (3 replicas 3 nodes), attach to a workload
2. Delete the instance-manager-e pod running on the same node where the workload is

[2020-05-01 00:14] ShylajaDevadiga commented on #1273
@shuo-wu To install k3s
[code]

[2020-05-01 01:31] yasker commented on #1280
This is expected since here the engine was crashed. The block device endpoint will lost so `input/output error` will be shown. However, Longhorn will automatically reattach the volume, but the workload pod needs to be restarted to recognize the updated mount point. That's why we need to use `liveness check` for workloads. See https://longhorn.io/docs/0.8.1/high-availability/recover-volume/ for det

[2020-05-01 10:26] aspettl opened #1282 "Set hard anti-affinity by default"
I'm interested in the rationale for the current default of a soft anti-affinity for replicas. I was surprised and it's the first option I change.
As https://github.com/longhorn/longhorn/issues/586 says where the hard anti-affinity was announced, in most cases scheduling two replicas on the same node makes no sense. I agree. For clusters with only 3 nodes, it's important to me that when the third o

[2020-05-01 10:35] shuo-wu commented on #1244
This failure is different from #1141.

[2020-05-01 10:49] shuo-wu commented on #1244
The following race condition will lead to this failure:
1. One replica is crashed
2. Wait for 5 seconds.
3. The rebuild is triggered. A new replica is created but **hasn't been updated to running state**.
4. All **running** replicas get crashed.
5. The new replica is in running state.
6. Auto salvage cannot be triggered since there is still an available replica for the volume

The solution:
1. Wai

[2020-05-01 14:25] yasker opened #1283 "[BUG]Nightly test failure on `longhorn-tests` job"
Our nightly test frequently failed or timed out without reason since about two weeks ago. We need to fix that.

[2020-05-01 16:48] yasker commented on #1244
@shuo-wu on step 5, you meant the new replica finished rebuild before crashing? That's also probably why #1141 failed recently: https://jenkins.int.rancher.io/job/longhorn-upgrade-tests/66/testReport/tests/test_ha/test_salvage_auto_crash_replicas_short_wait/

[2020-05-01 18:00] yasker commented on #307
Consider using this feature for maintenance in Longhorn v1.0.0.

[2020-05-01 18:15] yasker commented on #1212
The error shouldn't block the whole listing of the backup. Other backups should still show up.

[2020-05-01 18:36] meldafrawi commented on #1243
Also, on step (5), if replica directory is renamed, Replica will not report failure

[2020-05-01 18:45] yasker commented on #1255
We should prevent the CSI plugin to attach/mount the volume that's in restoration or DR phase.

[2020-05-01 19:15] yasker opened #1284 "[Doc] Document how user can reuse the disks metadata information on the `Down` nodes"
https://github.com/longhorn/longhorn/issues/1269

[2020-05-01 19:17] yasker commented on #1151
Move out to v1.1.0 due to we need to redesign the feature due to the user may want to retain the disk on the new nodes, e.g. extra EBS volume. See #1269

[2020-05-01 19:26] yasker commented on #1151
Retain metadata of disk or not can be implemented as a flag for each disk, with a global default setting.

[2020-05-01 20:25] boknowswiki opened #1285 "[BUG] filesystem ID check is bypassed when disk name is specified"
**Describe the bug**
This is to make sure there is no two or more disk paths are in the same filesystem.
To avoid disk usage calculation issue.

This issue was found during testing [#1219 ](https://github.com/longhorn/longhorn/issues/1219)

**To Reproduce**
Steps to reproduce the behavior:
1. The Longhorn node contains no disk.
2. Go to Longhorn-UI "Setting/General/".
3. Click on "Create Default D

[2020-05-01 21:33] sowmyav27 commented on #1275
The status of the backend call `https://<ip>/v1/backupvolumes?` is `pending`.

[2020-05-01 21:44] sowmyav27 commented on #1249
On clicking on Create backup the api call - `https://<ip>/v1/volumes/vol1?action=snapshotBackup` gives - response: 200

Error in one of the replicas of the volume
[code]

[2020-05-01 21:46] yasker commented on #1249
The backup will be started but the error should show up in the volume's backup status. You can check the `v1` API endpoint to see if it's there.

[2020-05-01 22:00] sowmyav27 commented on #1249
Backup status does not have the failed backup's status. Only the good ones (already existing ones) are available

[code]

[2020-05-01 22:28] yasker commented on #1249
This might due to we've removed the failed backups very soon after it was reported.

Use this bug to track the error reporting in the Longhorn engine for backup status.

[2020-05-01 23:06] yasker commented on #1189
@sowmyav27 Can we close this bug?

[2020-05-01 23:12] yasker commented on #1282
Previously we don't want to change the behavior suddenly to confuse the user, also the new feature wasn't tested enough. We can change it to hard anti-affinity by default in the next release.

[2020-05-02 00:43] meldafrawi commented on #1217
Validation: **PASSED**

Longhorn UI: `wangsiye/longhorn-ui:9211206`

Steps to test:
- Create a volume, PV/PVC/ attach to a workload. Write some data into the volume, compute it's checksum (checksum#1)
- Enable recurring backups for this volume for every 2 minutes
- Wait for a couple of recurring backups happen
- Go to Backup list page and delete the latest backup
- Go back to backup page
- When us

[2020-05-02 01:07] meldafrawi commented on #1254
Validation: PASSED

Longhorn UI: wangsiye/longhorn-ui:9211206

Steps to test (1/2)
- Create a volume,
- On Volume Page, In `Operation` menu, `Create PV/PVC` option should be enabled **(PASSED)**
- Click on `Create PV/PVC`, Uncheck Create PVC, and create only PV for volume
- PV should be created for volume **(PASSED)**
- On Volume Page, In `Operation` menu, `Create PV/PVC` option should still be en

[2020-05-02 01:08] meldafrawi commented on #1259
Validation: **PASSED**

Longhorn UI: wangsiye/longhorn-ui:9211206

[2020-05-02 01:11] meldafrawi commented on #1218
Validation: PASSED

Longhorn UI: wangsiye/longhorn-ui:9211206

Steps to test:
- Navigate to volume detail page
- Right click on backup page
- open the page in new tab
- backups are NOT being listed

[2020-05-02 01:16] meldafrawi commented on #1216
Validation: PASSED

Longhorn UI: wangsiye/longhorn-ui:9211206

Steps to test:
- Create a volume, PV/PVC/ attach to a workload. Write some data into the volume
- Go to volume details page
- Take a snapshot
- Click on the snapshot
- User is presented with Options - Revert/Backup/Delete
- Click on Backup
- User should be asked to add backup labels
- Create a backup with few labels
- Verify backup cre

[2020-05-02 01:27] #1216 closed

[2020-05-02 01:27] #1217 closed

[2020-05-02 01:27] #1254 closed

[2020-05-02 01:27] #1259 closed

[2020-05-02 01:27] #1218 closed

[2020-05-02 06:53] boknowswiki commented on #1219
Verified the longhorn-manager log has the correct error message
[longhorn-manager-b559j] time="2020-05-02T06:43:55Z" level=warning msg="Kubernetes node: invalid annotation node.longhorn.io/default-disks-config: config: the disk name same-name has duplicated"

[2020-05-02 18:54] #1069 closed

[2020-05-02 20:12] sowmyav27 opened #1286 "[BUG] Drain action fails on the nodes in a cluster when longhorn is deployed."
**Describe the bug**
Drain action fails on the nodes in a cluster when longhorn is deployed.

**To Reproduce**

- Have longhorn deployed in a cluster
- From Rancher UI, Select a node and "Drain" a node.
- Select Option `Aggressive` from Rancher UI
- Command sent is -`Draining node sowmya-test-longhorn-w-4 in c-w6fdn with flags --delete-local-data=true --force=false --grace-period=-1 --ignore-daemo

[2020-05-02 20:24] sowmyav27 opened #1287 "[BUG] Worker node cordoned does not change the state of nodes in Longhorn"
**Describe the bug**
Worker node cordoned does not change the state of nodes in Longhorn

**To Reproduce**

- Deploy longhorn in a cluster
- Cordon a worker node
- The node is still seen in "Schedulable" state.

**Expected behavior**
The node should be marked with a state to reflect that it has been cordoned.

**Environment:**
 - Longhorn version: master - 05/01/2020
 - Kubernetes version: 1.17.5

[2020-05-03 09:55] hennk opened #1288 "[BUG] Constant errors about non-existing imagePullSecrets"
**Describe the bug**
After installing longhorn v0.8.1 with the supplied helm chart, constant errors about not being able to retrieve imagePullSecrets appear in k3s log:

[code]

Looking at the replicasets, they always have an entry for "imagePullSecrets", with one empty "name".

To me it looks like maybe the support for airgap installation added in 0.8.1 might be the culprit? For example https://g

[2020-05-03 14:36] hennk commented on #1288
Btw, the longhorn deployment finishes and seems to work, but the errors in k3s' log continue

[2020-05-03 17:21] sowmyav27 commented on #1189
Fixed in rancher - https://github.com/rancher/rancher/issues/26627

[2020-05-03 17:21] #1189 closed

[2020-05-03 17:41] erikwilson opened #1289 "[BUG] Alpine failures"
**Describe the bug**
When running k3s with alpine longhorn fails to attach volumes to pods.

**To Reproduce**
Steps to reproduce the behavior:
1. Install alpine
2. Install k3s
3. Install longhorn
4. Install example
5. Pods stuck in ContainerCreating

**Expected behavior**
Success

**Log**
[code]

Found high CPU usage by tgtd:
[code]
Leading to ISCSI failures in instance-manager:
[code]

**Environm

[2020-05-03 19:05] yasker commented on #1289
Hi Eric,

We don't officially support Alpine, though this bug looks like https://github.com/longhorn/longhorn/issues/1240 and something else (due to it reports engine image 0.8.1 is incompatible which is weird).

[2020-05-04 01:28] yasker commented on #1284
The basic idea is if the user can provide a mapping between the old nodes' name and new nodes' name, as long as the directory mounted on each host are the same and only the name changed, we can provide a script for the user to update the `replica` objects to find the data on the new nodes.

[2020-05-04 01:29] yasker commented on #1143
@joshimoo might have found the issue. Wait for https://github.com/longhorn/longhorn/issues/1266. to be merged

[2020-05-04 01:31] yasker commented on #1169
@shuo-wu might have found the reason and fixed it along with https://github.com/longhorn/longhorn/issues/1244 .

[2020-05-04 01:32] yasker commented on #1141
@shuo-wu might have found the reason and fixed it along with https://github.com/longhorn/longhorn/issues/1244 .

[2020-05-04 01:32] yasker commented on #1144
@shuo-wu might have found the reason and fixed it along with https://github.com/longhorn/longhorn/issues/1244 .

[2020-05-04 01:50] yasker commented on #990
We want to include objects: volume(use volume name), engine (use engine name), replicas (use replica names). Those can be found in the `v1/events` API call's. We can use events' `involvedObject` to find the object.

<img width="898" alt="Screen Shot 2020-05-03 at 6 41 49 PM" src="https://user-images.githubusercontent.com/3344618/80931487-fab05300-8d6e-11ea-8ca9-83381b7219f2.png">

[2020-05-04 01:57] yasker commented on #1260
We need a state or something to indicate that the volume is in the restoring process and cannot be used immediately. DR will need a similar state too.

[2020-05-04 03:32] yasker commented on #1243
We need to figure out what's wrong, and then decide if we have to include this in v1.0 release.

[2020-05-04 03:53] yasker commented on #1253
Maybe related to https://github.com/longhorn/longhorn/issues/1243

[2020-05-04 04:04] yasker commented on #820
We need a quick POC to check if deleting the volume attachment works for detaching the volume from deployment's old pod and make it available to the new pod. See https://github.com/longhorn/longhorn/issues/1105#issuecomment-612814811

If it's doable, we will include this feature for deployment workload in the release.

We will going to trigger the deletion of the volumeattachment when:
1. The orig

[2020-05-04 04:06] yasker commented on #1151
In order to implement this feature, we will need to promote disk to the first-class object.

[2020-05-04 04:09] yasker commented on #1289
@erikwilson Can you take a look at UI->Setting->Engine Image? Just want to confirm that you're using v0.8.1 manager with the v0.8.1 engine. The `incompatible` error is weird.

[2020-05-04 04:14] yasker commented on #1105
@rsoika We've decided to add support to auto-detach volume from failed deployment pod in the next release, which will be tracked at https://github.com/longhorn/longhorn/issues/820 , since this scenario is relatively straightforward and doesn't require extra permissions from Kubernetes.

We will start investigating other options after the GA.

[2020-05-04 04:31] shuo-wu commented on #1244
No. The error I fixed seems to be different from both.

In the race condition I mentioned, the rebuilt replica seems to become the running state after the test crashing all existing running replicas. Then the volume **cannot be `Faulted` state**.

Since the test and the related implementation have been updated, we can keep the issue open now and check if those failures can be still triggered.

[2020-05-04 06:18] yasker commented on #1278
What cordon did is add changes to the node spec, including a taint and `unscheduable=true`.

[code]

[2020-05-04 06:19] yasker commented on #1286
Related to #1278

[2020-05-04 06:19] yasker commented on #1287
Related to #1278

[2020-05-04 06:25] yasker commented on #1286
Btw, it's very hard for Longhorn to change behaviors for drain, because it's the drain command doesn't allow single pod running, which is allowed in Kubernetes. Longhorn manages the two instance manager pods on the node and ensuring they will be recreated after the force drain. If there is any exception hook we can plug to, we would do that. But for now, if the user wants to drain, force drain is

[2020-05-04 06:31] yasker commented on #1286
It seems client-go has a function called `metav1.GetControllerOf(&pod)` which is used to get the controller. We can look into this and see if we can ask Kubernetes to skip the drain of instance managers instead (just like `--ignore-daemonsets` option).

The function only check if any owner in the `ownerReferences` is a controller. We already have the following set as the owner for an instance mana

[2020-05-04 06:47] yasker commented on #1287
We can automatically disable the Longhorn node schedule when Kubernetes cordon the node. Since the user don't want any workload to be run on the node, it's highly likely they don't want any new replica to be created on the node as well. But just in case, we need to add a setting in the `Scheduling` section: `disable-scheduling-when-cordoned`. The default value would be `true`.

We can add a new no

[2020-05-04 06:54] yasker commented on #307
We're planning to introduce a global setting `replica-concurrent-rebuild-limit` to limit the rebuild happening at the same time in the cluster.
1. The default limit will be 10.
1. The limit can be set to 0, so no replica rebuild will happen after that.
1. It will not impact the rebuilding in progress.

[2020-05-04 10:40] shuo-wu opened #1290 "[BUG]Node is still schedulable when there is an scheduling disabled disk and an invalid disk"
**Describe the bug**
The node shouldn't be `Schedulable` when:
1. The 1st disk works fine but the scheduling is disabled by users.
2. The 2nd disk doesn't work but the scheduling is allowed by users.

This bug was found when I was reproducing the issue #1243

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn system. Each node should have an available default disk for the schedul

[2020-05-04 10:53] shuo-wu opened #1291 "[BUG]Cannot add a new available disk after the only disk doesn't work on the node"
**Describe the bug**
When the only disk doesn't work on the node, adding a new disk via UI cannot make the node become `Schedulable`.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn.
2. Attach a new (Linux) disk/volume to one node. Then create an extra Longhorn disk for the corresponding Longhorn node, make the extra Longhorn disk schedulable.
3. Delete the default disk for t

[2020-05-04 10:54] shuo-wu commented on #1243
More logs & observations:
1. The related replica can still r/w the current opening files after the lazy unmount, but we need to mark the replica as unavailable/error. Since Longhorn cannot use that replica to do rebuild/snapshot... e.g., Snapshotting the volume after the lazy unmount will lead to the replica becoming error, we can use this in the integration test later.
I am thinking if we can add

[2020-05-04 19:05] Mercwri opened #1292 "[BUG] Set Backup Target has an incorrect example manifest"
Running this on K8s v1.18.2

The minio-secret example manifest has the wrong ket used which will result in the values not being read by longhorn.

Current:
[code]

Changing the key from data to stringData allowed longhorn to read the values and successfully read and create backups.

[2020-05-04 19:08] yasker commented on #1292
It always worked for us. Maybe something changed in Kubernetes v1.18.

[2020-05-04 19:13] yasker commented on #60
Related to https://github.com/longhorn/longhorn/issues/1145

[2020-05-05 01:02] Rancheroo commented on #1165
I have this issue also when running containers using a non-root limited access user.
It cannot access the mount with Permission denied.

Assuming container have root is not great for security as my workloads all run with a system account.

[2020-05-05 02:35] joshimoo commented on #1228
@sowmyav27 could you retest this with the latest master, after my fixes for #1230
Once we no longer know the replica (getting cleaned up) the backup status should turn into error
and then the status should get removed.

[2020-05-05 04:09] yasker commented on #1228
Fix for #1230 merged.

[2020-05-05 04:37] boknowswiki opened #1293 "test: Add test case for multiple paths on the same filesystem in the node default disk config annotation"
This test case is for if there are two or more disk paths in the default disk config annotation cat not in the same filesystem in the node.

The test is for this issue:
https://github.com/longhorn/longhorn/issues/1285

Test steps:
1. Make a clean condition: no disk, no tag, no default disk related annotation.
2. Create default disk annotation with two disks different paths, but in the same filesys

[2020-05-05 04:43] boknowswiki commented on #1293
Verified the test case, the got the expected error message:

[longhorn-manager-t87z5] time="2020-05-05T01:56:25Z" level=warning msg=" [{\"path\":\"/root\",\"allowScheduling\":false,\"storageReserved\":1024,\"name\":\"root-name\"},{\"path\":\"/var/lib/longhorn/\",\"allowScheduling\":false,\"storageReserved\": 1024,\"name\":\"default-name\"}]"
[longhorn-manager-t87z5] time="2020-05-05T01:56:25Z" lev

[2020-05-05 06:50] yasker commented on #1291
If the disk's UUID check failed, we don't need to check the FSID.

[2020-05-05 06:55] yasker commented on #1243
The disk has been umounted, the replica can still access it? It sounds weird. Lazy umount doesn't happen immediately. Can you check what does replica reports when the disk disappeared from the mount table? Where does the replica read from/write to?

[2020-05-05 07:36] yasker opened #1294 "[BUG] Backup the same name but different volumes can result in corrupt data"
**Describe the bug**
Backup the same name but different volumes can result in corrupt data

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume called `test` and attach and format it.
2. Make two backups
3. Delete the volume `test` and recreate it with the same name. Now the volume size is 0.
4. Make a backup again.
5. Notice the new backup size in the backup list is the same as t

[2020-05-05 07:52] shuo-wu commented on #1243
[code]

As I said, the head/snapshots files are kept opening (references exist there) hence r/w contents is fine. The only error the replica will print out is the log Mohamed reports above. Once the replica process tries to reload/refresh the head/snapshots files, the replica cannot fetch the data content anymore.

[2020-05-05 09:22] shuo-wu commented on #1260
And we need integration tests for the restoration failure cases, including incremental restoration failure.

[2020-05-05 10:17] #1074 closed

[2020-05-05 10:36] shuo-wu opened #1295 "[BUG]NFS server corruption may lead to restoring stuck"
**Describe the bug**
If the NFS server suddenly corrupts/becomes unavailable, there may be no timeout mechanism hence the sync agent server of the replicas cannot realize the issue and won't report any errors in the restore status. Then restoring volume will get stuck there.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn system and the NFS server pod used in the manager inte

[2020-05-05 11:17] shuo-wu commented on #1260
I just double-checked the reproducing step and I found that was weird...

@sowmyav27 Can you provide more detailed info/instruction for these 2 steps:
[code]
If the target URL is invalid, there shouldn't be backup volume in the UI page. Then how can you restore a volume?

[2020-05-05 16:46] yasker commented on #1295
Let's investigate and see if we can set mount options for the NFS client. If we cannot, we will move this out of v1.0.0.

[2020-05-05 17:22] boknowswiki commented on #1293
Verified with local build longhorn-manager:

[longhorn-manager-t87z5] time="2020-05-05T16:56:21Z" level=warning msg="[{\"path\":\"/root\",\"allowScheduling\":false,\"storageReserved\":1024,\"name\":\"root-name\"},{\"path\":\"/var/lib/longhorn/\",\"allowScheduling\":false,\"storageReserved\": 1024,\"name\":\"default-name\"}]"
[longhorn-manager-t87z5] time="2020-05-05T16:56:21Z" level=warning msg="K

[2020-05-05 20:26] meldafrawi commented on #1288
I was also able to reproduce the issue on Kubernetes clusters

Steps to reproduce:
1. Deploy Longhorn v0.8.1
2. log in to worker nodes, identify `kueblet` container on the node `docker ps | grep kubelet`
3. fetch `kubelet` container logs `docker logs kubelet`

logs:
[code]

[2020-05-05 20:56] khushboo-rancher opened #1296 "[BUG] longhorn-csi-plugin and longhorn-ui fail on new worker node added in cluster"
**Describe the bug**
longhorn-csi-plugin and longhorn-ui stuck in crashloop, if one of the worker node is terminated and a new worker node is added.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom cluster with ASG EC2 nodes for worker (1 - etcd/control, 3 - workers)
2. Create a volume(3 replicas) and attach to a pod.
3. Terminate the worker node where pod is running in aws co

[2020-05-05 22:29] yasker commented on #1296
The real reason is

Somehow some of the CSI plugins and UI cannot connect to the `longhorn-backend` service in this cluster.

[2020-05-05 22:39] yasker commented on #1296
DNS resolution failed.

`longhorn-backend` service cannot be reached, but its cluster IP can be reached.

[2020-05-05 22:53] yasker commented on #1296
[code]

The reason is the coredns pods are all on the down nodes: `ip-172-31-22-235` and `ip-172-31-34-172`. Not sure why the deployment wasn't moved to other nodes.

[2020-05-05 23:11] joshimoo commented on #1208
Just leaving some notes below.

More information about the metadata checksumming feature can be found [here](https://ext4.wiki.kernel.org/index.php/Ext4_Metadata_Checksums)

[Suse12SP3 ](https://www.suse.com/releasenotes/x86_64/SUSE-SLES/12-SP3/#fate-325367) does not support the ext4 metadata checksumming (METADATA_CSUM, 400)

[Suse12SP5](https://www.suse.com/releasenotes/x86_64/SUSE-SLES/12-SP5/#

[2020-05-05 23:45] boknowswiki commented on #1261
For the 4th reproduce step, need to delete the snapshot not in the creating order. Means delete the snapshots in the middle.

[2020-05-06 00:12] khushboo-rancher commented on #1208
We're able to reproduce this issue with SUSE-SLE12Sp2
NAME="SLES"
VERSION="12-SP2"
VERSION_ID="12.2"
PRETTY_NAME="SUSE Linux Enterprise Server 12 SP2"
ID="sles"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:suse:sles:12:sp2"

[2020-05-06 00:16] meldafrawi opened #1297 "[BUG] Create backup button on Volume Details page is not working"
**Describe the bug**
In Volume Details page, `Create Backup` button is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn using `master` images
2. Create a volume used by a workload
3. Write some data to the volume.
4. In Volume Details page, Click on `Create Backup` button

**Expected behavior**
Backup should start to create.

**Log**

**Environment:**
 - Longhorn

[2020-05-06 01:28] yasker commented on #1260
@shuo-wu I think @sowmyav27 has another tab open for the backup list page while modifying the setting page.

[2020-05-06 01:41] shuo-wu commented on #1260
Can you provide the URL? There are lots of issues related to the backup. I can't find the tab you mentioned.

[2020-05-06 01:54] yasker commented on #1260
I meant, a browser tab pointed to the backup page.

[2020-05-06 02:06] shuo-wu commented on #1260
Oh, OK...

[2020-05-06 02:30] yasker commented on #1296
Seems due to https://github.com/rancher/rancher/issues/26190

[2020-05-06 04:43] boknowswiki commented on #1276
@ShylajaDevadiga thanks for providing the information about reproducing this issue.

After discuss with @yasker, since we don't support xfs filesystem auto re-mount in Longhorn. So we don't need the livenessprobe to trigger pod restarting and trigger longhorn to re-mount the volume.

Please refer to this document:
https://longhorn.io/docs/0.8.1/high-availability/recover-volume/

Thanks,
Bo

[2020-05-06 04:43] #1276 closed

[2020-05-06 04:55] shuo-wu commented on #1243
After the discussion with Sheng, we decide not to fix this as long as the following conditions are satisfied:
1. The replica can still r/w data after the lazy unmount.
2. The data won't be written to the underlying root filesystem after the lazy unmount.
3. The replica can become error immediately when the users try to do snapshot/expansion/...
4. The written data after the lazy unmount and before

[2020-05-06 11:51] shuo-wu commented on #1260
More details about reproducing step2 and step3:
- Pick up a backup volume then click `Restore Latest Backup`. There should be a pop-up that allows users to config the restore volume.
- Invalidate the backup target URL. e.g., Add some extra characters
- Create the restore volume via the pop-up.

The error logs:
[code]
The error is returned [here](https://github.com/longhorn/longhorn-manager/blob/ma

[2020-05-06 18:44] khushboo-rancher opened #1298 "[BUG] Corrupting one of the snapshot in the chain from one of the replicas results in loss of data."
**Describe the bug**
If a snapshot data in one of the replica is corrupted, The data get lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume (3 replicas, 3 nodes), attach it to a pod.
2. Write data to volume and take snapshot( repeat this for 3 snapshots). S1, S2 and S3
3. Go to the one of the node and delete/modify the content of a snapshot S2. volume-snap----.img
4. Rever

[2020-05-06 18:51] yasker commented on #1298
This is not fixable currently in Longhorn since we don't have ECC or similar mechanism.

We can provide a workaround to identify and delete the corrupted replica.

[2020-05-06 20:09] sangeethah commented on #1298
@khushboo-rancher  Can you confirm the following:
1. We will see the sane problem reported even when you revert to S3 which is 1 snapshot ahead of the corrupted snapshot ? Basically we will see this problem when reverting to any snapshot that has the corrupted snapshot in its chain ?
2. Also in the scenario mentioned ,
Instead of these steps (after S2 is corrupted),
[code]
If we try to just read/w

[2020-05-06 21:49] sowmyav27 commented on #1298
Tested the following scenarios

**Scenario#1**

- attach volume to a node
- Write Data to file1 -->S1
- Write Data to file2 --> S2
- Write Data to file3 --> S3
- Corrupt S2 data on one replica
- Write more data to volume - create file4
- Take a new Snapshot -> S4
- Revert to S3
- Volume has file1 ONLY.

**Expected:**
Data should NOT be lost.
Volume should have file1, file2, file3

**Scenario#2**

[2020-05-06 21:58] dmayle commented on #1289
I'm running Longhorn on Alpine, and I think this issue is caused by not starting the open iscsi daemon yourself.  (The daemon will start up automatically in response to certain iscsiadm commands, but that's not sufficient to keeps things going)

[2020-05-06 22:02] sowmyav27 opened #1299 "[BUG] Confirm snapshot revert pop up window can be better displayed"
**Describe the bug**
Confirm snapshot revert pop up window can be better displayed

**To Reproduce**
Pre condition:
[code]
- Revert to snapshot S1
- A confirmation pop up window is displayed to the user
<img width="1031" alt="Screen Shot 2020-05-06 at 1 06 52 PM" src="https://user-images.githubusercontent.com/26032343/81232910-9679d300-8faa-11ea-814c-ce14266de10c.png">

**Expected behavior**
Pop u

[2020-05-06 22:03] khushboo-rancher commented on #1298
With reference to https://github.com/longhorn/longhorn/issues/1298#issuecomment-624863479
Yes, we will see the problem when reverting to any snapshot after the corrupted snapshot. I've updated the steps to reproduce.

[2020-05-06 22:13] sowmyav27 opened #1300 "[BUG] User is not able to create backups from volume details page"
**Describe the bug**
User is not able to create backups from volume details page

**To Reproduce**

- Create a volume, attach to a node, write data in the volume
- Go to volume details page
- Click on Create Backup.
- The page is stuck in loading state
- Error in console

[code]
<img width="1677" alt="Screen Shot 2020-05-06 at 3 12 37 PM" src="https://user-images.githubusercontent.com/26032343/812

[2020-05-06 22:58] dmayle opened #1301 "[BUG] Failure under sustained write load with NFS backup target."
**Describe the bug**
I have a relatively large number of replica failures during sustained write operations (measured in minutes or tens of minutes)

**To Reproduce**
Steps to reproduce the behavior:
1. Run a MinIO cluster using minio operator
2. wait for cluster to come up
3. Using the mc client (`mc cp *files* host/bucket`), try to send around 20GB, broken into files of around 100MB each
4. See

[2020-05-06 23:01] dmayle commented on #1301
Log from a second failed replica:
[code]

[2020-05-06 23:03] dmayle commented on #1301
Another failed replica from the same host.  I've got failure on mutliple hosts, it's just easier to pull multiple logs from the same host
[code]

[2020-05-06 23:15] dmayle commented on #1301
From another host and replica:
[code]
This is the replica manager log during the first event:
[code]

And then:
[code]

[2020-05-07 00:15] yasker commented on #1301
@dmayle Can you send us a support bundle at `longhorn-support-bundle@rancher.com`? We want to take a look. Also, can you make sure you have enough spaces on the disks used by Longhorn? It's maybe due to network or disk.

[2020-05-07 00:34] klauskobald opened #1302 "Use persistent volume claim for more than one deployment?"
The only tutorial one can find is how to deploy a wordpress - great ;-)

But, how would I solve this tiny real world setup:
Run one nginx container with a volume claim mounted at /var/www/html
Run a sftp container for uploading files mounted to the same claim?

People on Slack are telling me: "no you can´t do that" - what? I cannot believe this is not possible!
Please help!

[2020-05-07 01:37] meldafrawi opened #1303 "[BUG] Nightly Upgrade test: offline node test is failing and causing all following tests to fail."
**Describe the bug**
Failed offline node test will cause all it's following tests to fail, since Node will not start up after test is done.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v0.8.1
2. Upgrade to Longhorn master
3. Run offline node test

**Expected behavior**
On teardown, test should wait for instance to startup after being shutdown, an report ready state to API

[2020-05-07 01:55] yasker commented on #1302
You can have two pods with pod affinity to make sure they're running on the same node, then you can use Longhorn volume for it.

Longhorn is like AWS EBS volume. It can only be used with one node. If you have multiple pods within the same node, then you can share the volume since it's the same filesystem. But since Longhorn is a distributed block device solution instead of a distributed filesystem

[2020-05-07 02:21] yasker commented on #1298
As we discussed, any snapshot after the corrupted one has no guarantee to be right. But the one before corruption should be fine.

I am planning to address how to figure out which replica is bad in https://github.com/longhorn/longhorn/issues/60 , so user can delete it and workaround the issue.

[2020-05-07 02:22] yasker commented on #60
Need to address how to identify a bad replica from the good ones if the incident on the disk happens.

[2020-05-07 02:23] yasker commented on #1300
Sounds like a duplicate of https://github.com/longhorn/longhorn/issues/1297 . @smallteeths can you confirm?

[2020-05-07 04:27] shuo-wu commented on #1253
This issue is similar to #1243: There is something wrong with the replica. But the replica can be still available as long as the issue is not triggered by some specific operations.

For this issue, the only place that the replica reads the (invalid) snapshot meta file is in the replica construction function. This means the replica always works fine as long as the volume is not reattached.

When us

[2020-05-07 05:08] yasker commented on #1253
@shuo-wu Make sense. Why volume will be in the loop? Is it related to #995 ?

[2020-05-07 05:16] shuo-wu commented on #1253
Yes. The root causes may be different. But in both cases, the engine needs to mark the replica as ERROR if it cannot use the replica as the backend.

[2020-05-07 05:23] yasker commented on #1253
On the `replica is open` case, once we closed the replica then it would be fine. Not sure if we want to mark it as error.

Here we definitely need to mark them as error.

[2020-05-07 05:39] shuo-wu commented on #1253
Do you mean that we don't need to mark the replica as ERROR immediately if the replica is not closed in issue #995? As long as the replica cannot be used as backend during the attachment/reattachment, the engine should mark it as ERROR, right?

And I plan to refactor [this part](https://github.com/longhorn/longhorn-engine/blob/4bf6f2b65fc8b64898ff76b788fe1dfb30d54003/pkg/controller/control.go#L472

[2020-05-07 05:43] yasker commented on #588
Duplicate of #307

[2020-05-07 05:43] #588 closed

[2020-05-07 05:48] yasker opened #1304 "[FEATURE] Rebuild using existing replica data"
Using a new replica every time for rebuild will waste lots of network bandwidth and disk space. We should try to rebuild using existing replica's data.

Require #1269

[2020-05-07 05:50] yasker commented on #1253
Thinking about it, once #1304 implemented, the `open` replica will not be a problem even we mark them as error replicas. They will be rebuilt quickly later. So it will be fine.

Regarding the size, we can error out directly then. Better if we figure out a way to stop auto-reattach from working in this case.

[2020-05-07 06:08] shuo-wu commented on #1253
The most naive/simplest way to stop continuous auto-reattach is by introducing the backoff (with max retry) mechanism. Otherwise, the engine process needs to somehow tell the instance manager/longhorn manager the error reason before exit.

[2020-05-07 06:10] yasker commented on #1253
Back-off is fine if we are dealing with unknown conditions. But if it's known to be bad and there is no point to retry if possible.

[2020-05-07 06:17] shuo-wu commented on #1253
For the possible size inconsistency issue we discussed above (although I don't know how to trigger it now), can we directly mark all replicas as ERROR so that there will be no auto attachment?
Or since we haven't encountered that issue, it's actually a kind of unknown condition and auto reattachment is fine for the case.

[2020-05-07 06:54] yasker commented on #1253
I think we should stop the auto attach for size mismatch for sizes. It's weird that sizes become different, since expansion success will not result in this situation, and the expansion failure should stop the auto attach from happening.

[2020-05-07 07:08] shuo-wu commented on #1253
That's why I say "`I don't know how to trigger it now`".  Anyway, I will mark all replicas as ERROR for the case so that the volume will become `Faulted`.

[2020-05-07 13:13] greyman-hh commented on #828
thx, works fine, I hope we see this soon in the next release.

[2020-05-07 14:36] Athosone opened #1305 "[BUG] Longhorn does not umount volume when pod are drained"
**Describe the bug**
The bug happens while trying to upgrade k3os with parameters
`
drain:
  force: true
`
On our cluster we have a docker registry that uses a longhorn volume to store its images.
When we launch the upgrade eventually the upgrade controller drain the pods where the registry is and spawn it on another node.
When the new registry spawn it stucks on **ContainerCreating** and a kubect

[2020-05-07 15:30] dmayle opened #1306 "[FEATURE] Create UI to force unmount NFS backup server"
**Is your feature request related to a problem? Please describe.**
If the NFS server used for backup becomes unavailable, the NFS mounts will lock up and never return.  (For example, on NFS server reboot).  This prevents backups from working going forward, as well as restores.  The only way to fix this currently is to manually force unmount the NFS volumes from all hosts in the longhorn manager da

[2020-05-07 16:45] dmayle commented on #1301
@yasker while all of this was going on, my NFS backup server went bye-bye (see Issue #1306 ), so I'm busy trying to restore my cluster.  Once that happens, I'm going to try and re-create this issue in my dev cluster, and then I'll send a support bundle.

[2020-05-07 17:43] sowmyav27 opened #1307 "[BUG] Volume fails to reattach when the node is powered down and the pod migrates"
**Describe the bug**
Volume fails to reattach when the node is powered down and the pod migrates

**To Reproduce**

- Attach a volume to a pod on node 1
- Power down node 1
- The pod/workload goes into "Unknown" state when seen from Rancher UI.
- The pod migrates to another node
- But the volume fails to reattach. Error: `Multi-Attach error for volume "vol1" Volume is already used by pod(s) wk01-5

[2020-05-07 17:47] yasker commented on #1307
It's #820 . After #820 is solved, this should be good.

The pod must be a part of deployment for #820 to work.

[2020-05-07 18:10] meldafrawi commented on #1169
test failed again in longhorn-tests/421

[code]

[2020-05-07 18:11] yasker opened #1308 "[FEATURE] Hide the customized default setting by default in Rancher chart"
It was mistakenly used for configuring the existing Longhorn system. We should make it clear to the user it only works if there is no Longhorn installed before.

[2020-05-07 18:13] yasker commented on #1307
Duplicate of #820

[2020-05-07 18:13] #1307 closed

[2020-05-07 18:13] yasker commented on #820
Remember to test #1307 when this is fixed.

[2020-05-07 18:23] yasker commented on #1301
Thanks @dmayle . It looks like a network issue so far. If that's the case, next time you should see something happening in `instance-manager-e-`, in which engine will disconnect the replica. It should also log why it happened.

[2020-05-07 18:33] yasker commented on #990
- [ ] It seems not sorted by the Last time occurred.

<img width="1537" alt="Screen Shot 2020-05-07 at 11 31 10 AM" src="https://user-images.githubusercontent.com/3344618/81331333-48220e00-9056-11ea-8d9c-1cfcf570518c.png">

- [ ] Can we make it expandable? We can hide it by default since it took quite some space.
- [ ] How often are we refreshing it? It seems a bit late compare to the volume state

[2020-05-07 18:51] sowmyav27 commented on #1305
Validated by using longhorn master - 05/07/2020

**Steps:**

- Deploy a workload in rancher - on a DO RKE cluster. Attach volume (created from longhorn)
- Workload is on node N1
- Force drain N1 using `kubectl drain <n1-name> --force=true --ignore-daemonsets`
- The workload's pod migrates to another node N2
- initially error `Multi-Attach error for volume "vol1" Volume is already used by pod(s) wk

[2020-05-07 19:45] khushboo-rancher commented on #1270
Verified in master - 05-04-2020

While restoring if there is any interruption, replica rebuild doesn't get triggered and volume later get attached to pod successfully.

Steps for verification:
Scenario: 1
1. Restored a volume. (3 replicas)
2. Deleted one replica when restoring was in progress.
3. New replica didn't get rebuilt. Volume created with 2 replicas.
4. Created PV/PVC
5. Attached to a pod

[2020-05-07 19:48] yasker commented on #995
Duplicate with https://github.com/longhorn/longhorn/issues/1253

[2020-05-07 19:49] yasker commented on #1253
### Remember to validate https://github.com/longhorn/longhorn/issues/995 as well when this is fixed.

[2020-05-07 20:02] erikwilson commented on #1289
Are you able to comment on which versions Alpine / k8s / longhorn @dmayle ?

I tried again, before installing longhorn installed iscsiadm via `apk add open-iscsi`, and ran `/etc/init.d/iscsid start`.

In case the result is any different I have tried with Alpine 3.10, k3s v1.18.2 and v1.17.4, and deploying longhorn & example like the following:

[code]

[2020-05-07 20:17] meldafrawi commented on #1292
I was able to create and restore a backup using  [backupstore manifest](https://github.com/longhorn/longhorn/blob/master/deploy/backupstores/minio-backupstore.yaml) file without issues.
 using K3S  `v1.18.2+k3s1`

**Reproduce steps:**
1. Deploy 3 node cluster with k3s v1.18.2  (1 master, 3 wroker nodes)
2. Install Longhorn `master`
3. Deploy Backupstore using: [backupstore manifest](https://github

[2020-05-07 21:05] yasker commented on #1289
@erikwilson `block-volume` is for CSI raw block device. Can you try e.g. `deployment.yaml` or `statefulset.yaml`?

[2020-05-07 21:06] meldafrawi commented on #1297
Validation: **PASSED**

Longhorn UI: `wangsiye/longhorn-ui:750fb23`

[2020-05-07 21:14] sowmyav27 commented on #1266
Verified on master (05/07/2020)

**Steps to reproduce this issue on 0.8.1 version of longhorn:**

1. Create a volume, write data into the volume `vol-1`.
2. Take backup - b1, b2 for `vol-1`.
3. Go to the backup store - S3. Verify the last backup in `volume.cfg` is b2. Delete b2 from S3
4. Take backup - b3 for `vol-1`.
5. Manual backups are NOT created anymore.
6. Enable recurring backups for `vol-

[2020-05-07 21:20] #1266 closed

[2020-05-07 22:25] cloudnautique opened #1309 "[FEATURE] Backups to Azure Blob Storage"
**Is your feature request related to a problem? Please describe.**
Azure Blob storage does not provide an S3 compatible API.

**Describe the solution you'd like**
Backup directly to Azure blob storage solution.

**Describe alternatives you've considered**
Could backup to shared storage but Azure only allows 2 volumes per core to be attached to a node. Users would like to use those for workloads vs

[2020-05-07 22:31] yasker commented on #1270
E2E test has been implemented by Shuo.

[2020-05-07 23:25] dweomer commented on #1305
@sowmyav27 would it be possible to replicate this on a K3S v1.17.4+k3s1 cluster (instead of RKE)?

[2020-05-08 00:51] boknowswiki commented on #1285
The test case for this issue has been merge at:

https://github.com/longhorn/longhorn-tests/pull/308

[2020-05-08 00:54] sowmyav27 commented on #1305
Verified using longhorn master - 05/07/2020

**Steps:**

- Deploy a workload in rancher(v2.4.3) - on a K3S v1.17.4+k3s1 imported cluster (2 worker nodes). Attach volume (created from longhorn)
- Workload is on node N1
- Force drain N1 using kubectl drain <n1-name> --force=true --ignore-daemonsets
- The workload's pod migrates to another node N2
- initially error `Multi-Attach error for volume "vol

[2020-05-08 02:32] joshimoo commented on #1228
Verified my fix in #1230 addresses this issue.
I did the below, repro steps:

1) create volume p1228 with 20GB
2) attach volume p1228 to node1
3) ssh into node1
4) run: `dd if=/dev/urandom of=/dev/longhorn/p1228 status=progress`
5) wait for around 1GB of data
6) start backup, ssh into backup replica X
7) enable magic commands: `echo 1 > /proc/sys/kernel/sysrq`
8) hard reboot **(can kill the machin

[2020-05-08 02:33] joshimoo commented on #1228
You should be able to do the same with a soft reboot via: `reboot`

[2020-05-08 03:15] smallteeths commented on #1300
Yes, it has been fixed in issues1297 @yasker

[2020-05-08 04:02] yasker opened #1310 "Refactoring the volume controller"
The current logic is too complex, especially in the `ReconcileVolumeState` regarding the auto detach, restoring, DR etc. We need to clean the code and make it more readable.

[2020-05-08 09:22] erikwilson commented on #1289
The block volume example should still work tho?

I tried with the deployment example also and received an error:
[code]

If longhorn does not support alpine then maybe this issue should be closed. Unfortunately I don't have a lot of time/resources to debug or try and find a fix. It may very well be something I am doing wrong, but would be nice for longhorn to support alpine and automate testing.

[2020-05-08 10:17] erikwilson commented on #1289
Sorry, am having problems with my internet service at the moment too, one clue from `kubectl logs service/longhorn-backend` shows:
[code]
The ulimit for files in the container was 1024, maybe too low or something is not being released, trying again with a fresh install I see errors like:
[code]
where the pvc is bound but pod/mysql-868cbbc584-lk65h still fails to attach a volume.

[2020-05-08 10:33] shuo-wu commented on #1260
Test plan/skeleton 1:
Test if the invalid backup target will lead to the restore volume becoming Faulted, and if the auto salvage feature is disabled for the faulted restore volume.
1. Enable auto-salvage.
2. Set the backupstore. (No not use NFS server for this case before fixing #1295)
3. Create a volume and a backup.
4. Invalidate the target URL. (e.g., `s3://backupbucket-invalid@us-east-1/backu

[2020-05-08 10:58] shuo-wu commented on #1260
This [PR](https://github.com/longhorn/longhorn-manager/pull/558) is not enough for issue #1188 since some incremental restore errors may not be recorded in the sync agent server restore status, then longhorn manager can't catch the errors and handle the failure.

[2020-05-08 11:00] erikwilson commented on #1289
Okay, did a fresh install again after adding `lsblk` via the `util-linux` package, and the deployment and block volume examples are starting correctly now. Apologies, it is documented here: https://github.com/longhorn/website/blob/b06f9b278cc75435672c2ffba7560f12d78d25ff/content/docs/0.8.1/deploy/install/_index.md, we might want to update k3s-root to include that utility.
Would be nice if errors c

[2020-05-08 11:00] #1289 closed

[2020-05-08 11:09] shuo-wu commented on #1188
Integration test plan:
Test if the replica fails the incremental restore will be marked as ERROR.
1. Set a random the backupstore.
2. Create a regular volume and a backup (with some data).
3. Create a DR volume from the backup.
4. Create the 2nd backup for the regular volume
5. Wait for the DR volume incremental restore complete.
6. Pick up a replica of the DR volume, Create a non-empty directory

[2020-05-08 17:04] dweomer commented on #1305
Thanks @sowmyav27. I will try and reproduce on k3OS.

[2020-05-08 17:11] dweomer commented on #1289
there is some flexible, possibly reusable code for surfacing such in kubeadm: https://github.com/kubernetes/kubernetes/blob/v1.17.5/cmd/kubeadm/app/preflight/checks.go#L375

[2020-05-08 17:11] dweomer commented on #1289
there is some flexible, possibly reusable code for surfacing such in kubeadm: https://github.com/kubernetes/kubernetes/blob/v1.17.5/cmd/kubeadm/app/preflight/checks.go#L375

[2020-05-08 18:19] yasker commented on #1208
@khushboo-rancher Can we test on SLES 15 as well?

[2020-05-08 18:32] sowmyav27 opened #1311 "[BUG] Failed backups should be available to the user with a failed status"
**Describe the bug**
Failed backups should be available to the user with a "failed" or in "Error" status

**To Reproduce**
- Create a volume, attach to a workload. write something to the volume
- Take a backup
- While the backup is in progress, reboot the node, in which the replica responsible for backup is running
- The backup fails
- It is not see in "In Progress" anymore
<img width="803" alt="S

[2020-05-08 18:32] sowmyav27 commented on #1228
**Verified on master - 05/08/2020**

**Steps:**

- Create a volume, attach to a workload. write something to the volume
- Take a backup
- While the backup is in progress, reboot the node, in which the replica responsible for backup is running
- The backup fails
- It is not see in "In Progress" anymore
<img width="803" alt="Screen Shot 2020-05-08 at 11 16 11 AM" src="https://user-images.githubuserc

[2020-05-08 18:32] #1228 closed

[2020-05-08 18:56] yasker commented on #1214
We don't have a reliable way to reproduce this issue at the moment.

[2020-05-08 18:58] meldafrawi commented on #1303
Observations:
- node shutdown command reported failure each time after instance been deployed, however the instance will be powered off.
- if instance is restarted, test will pass.

[2020-05-08 19:01] yasker commented on #1303
We will disable the node offline integration test by default for now. Move the issue to the next release.

[2020-05-08 19:04] sowmyav27 commented on #1300
Verified using ui image: `wangsiye/longhorn-ui:c45d726`

**Steps:**

- Create a volume, attach to a node, write data in the volume
- Go to volume details page
- Click on Create Backup.
- User is able to create backups

[2020-05-08 19:11] yasker commented on #1268
Due to https://github.com/longhorn/longhorn/issues/1311 , move this to the next stable release.

[2020-05-08 19:19] meldafrawi commented on #1283
fixed: longhorn-tests/420

[2020-05-08 19:19] #1283 closed

[2020-05-08 19:21] meldafrawi commented on #1293
`test_node_config_annotation_invalid` passed for two consecutive runs. `longhorn-tests/421` & `longhorn-tests/422`

[2020-05-08 19:22] #1293 closed

[2020-05-08 19:23] meldafrawi commented on #1143
`test_restore_inc` passed for two consecutive runs.`longhorn-tests/421` & `longhorn-tests/422`

[2020-05-08 19:23] #1143 closed

[2020-05-08 19:25] meldafrawi commented on #1141
`test_salvage_auto_crash_replicas_short_wait` passed for two consecutive runs `longhorn-tests/421` & `longhorn-tests/422`

[2020-05-08 19:25] #1141 closed

[2020-05-08 19:25] meldafrawi commented on #1144
`test_salvage_auto_crash_all_replicas` passed for two consecutive runs `longhorn-tests/421` & `longhorn-tests/422`

[2020-05-08 19:25] #1144 closed

[2020-05-08 19:25] yasker commented on #990
- [ ] Can we make clicking the `+` to expand, instead of clicking the `Expand` button? It's consistent with our node page.

[2020-05-08 19:26] sowmyav27 commented on #1199
**Verified using UI image: `wangsiye/longhorn-ui:c45d726`**

**Steps:**

- Create a backup for a volume v1
- Navigate to the backupstore in S3.
- Go to Volume v1 and rename volume.cfg to volume.cfg.tmp
- On the Longhorn UI, navigate to Backup Page.
- Error seen on the UI - `cannot find backupstore/volumes/68/88/vol-2/volume.cfg in backupstore`

<img width="946" alt="Screen Shot 2020-05-08 at 12 23

[2020-05-08 19:27] meldafrawi commented on #1270
`test test_rebuild_with_restoration`  &  `test test_rebuild_with_inc` passed for two consecutive runs `longhorn-tests/421` & `longhorn-tests/422`

[2020-05-08 19:30] meldafrawi commented on #1219
`test_node_config_annotation_invalid` passed for two consecutive runs `longhorn-tests/421` & `longhorn-tests/422`

[2020-05-08 19:30] #1219 closed

[2020-05-08 19:31] meldafrawi commented on #1244
`test_salvage_auto_crash_replicas_short_wait` passed for two consecutive runs `longhorn-tests/421` & `longhorn-tests/422`

[2020-05-08 19:31] #1244 closed

[2020-05-08 19:52] khushboo-rancher commented on #1208
Tested on SUSE SLE 15 SP1, It works fine.
[code]

[2020-05-08 20:00] joshimoo commented on #1208
Verified that volume is correctly mounted EXT4 RW as well as that metadata_csum feature is enabled.

[2020-05-08 20:09] sowmyav27 commented on #1261
**verified on master - 05/08/2020**

**Steps:**

- Create a volume and attach it to a workload.
- Go to volume details page
- Create few snapshots - 4 snapshots while writing data between taking snapshots
- Delete snapshots (not the latest)
- The progress bar on the replicas show > 100% deletion

<img width="1789" alt="Screen Shot 2020-05-08 at 1 01 29 PM" src="https://user-images.githubuserconten

[2020-05-08 22:35] yasker commented on #1260
PR is mostly good. Need to finish the following items before merge:

- [ ] Communicate API change and the expected behavior to UI @smallteeths
- [ ] Make a PR to the `longhorn/longhorn-test` about the above test cases. Make sure to include @sowmyav27 and @meldafrawi in the PR review.

[2020-05-08 23:46] khushboo-rancher commented on #1230
Verified on Master - 05-08-2020
Verification - **Reopened**

Volume API just have last backup detail.

[code]
Volume has 3 backups
<img width="1527" alt="Screen Shot 2020-05-08 at 4 45 02 PM" src="https://user-images.githubusercontent.com/60111667/81457525-4b4af600-914b-11ea-9d82-3d0a5a7354cd.png">

[2020-05-08 23:48] aleksey005 commented on #1134
setup custom DNS name in /etc/hosts CoreDNS workload in kube-system (default install Rancher 2.4.2) namespace and longhorn backup target not resolved in this name S3. What's Longhorn describe DNS info?

[2020-05-09 00:15] #1230 closed

[2020-05-09 00:18] khushboo-rancher commented on #1311
Adding one more scenario here.

When backup is created from a replica and it gets rebuilt, volume API doesn't show the backups details in volume page tool tip of snapshot.
Steps:
1. Create a backup. (A snapshot also gets created before taking backup). Let it complete.
2. Delete the replica from where the above backup was created.
3. After replica rebuilt, Hover to snapshot or check the volume API

[2020-05-09 00:57] yasker commented on #1212
I don't think we have a way to manipulate S3 or NFS in the end-to-end test. Remove the `require-automation-e2e` for now.

[2020-05-09 01:31] boknowswiki commented on #1261
@sowmyav27 ,

I just try the latest master image, and i don't see this issue.

Could you check if you are using the latest image with the following steps?

1. login to any engine-image-ei-xxx with cmd:
`kubectl -n longhorn-system exec -it engine-image-ei-605a0f3e-cbgcq bash`
2. check longhorn version with cmd:
`root@engine-image-ei-605a0f3e-cbgcq:/# longhorn --version
longhorn version a76acd6`

If

[2020-05-09 04:15] joshimoo commented on #1212
BackupInfo (used by backupvolumes api) now contains a messages field that can be used to pass error messages to the client. This way we also display Backup infos for corrupt or missing backup configs.
For now we just pass the underlying error through.

[2020-05-09 05:14] yasker commented on #1261
Note: `kubectl -n longhorn-system delete daemonset engine-image-ei-xxxx` is more convenient.

[2020-05-09 05:17] yasker commented on #60
Need to cover how to recover from disk full here.

[2020-05-09 05:17] yasker commented on #1121
Recover from disk full will be covered by https://github.com/longhorn/longhorn/issues/60 instead.

Others are at https://github.com/yasker/longhorn/wiki/Maintenance-Guide . @catherineluse can you help to move them to the website?

[2020-05-09 05:19] yasker commented on #1159
@catherineluse Can you help to move the guide at https://github.com/yasker/longhorn/wiki/Best-practices-for-deploying-Longhorn-in-production to the website?

[2020-05-09 05:21] yasker commented on #1278
We will use https://github.com/longhorn/longhorn/issues/307 to help with the node drain case. Cordon case will be handled on #1287 . Maintenance guide about drain and cordon is at #1121 .

Close this issue.

[2020-05-09 05:21] #1278 closed

[2020-05-10 16:41] dmayle opened #1313 "[IMPROVEMENT] Dashboard category: allocated/commitments"
**Is your feature request related to a problem? Please describe.**
There's currently no way to know how much of your storage has been pre-allocated to existing volumes.  The dashboard shows reserved, used, and schedulable, but not the amount that has already been assigned to existing volumes.

**Describe the solution you'd like**
I think there should be a category for allocated or committed, so th

[2020-05-10 17:46] dmayle commented on #1313
![Dashboard](https://user-images.githubusercontent.com/67033/81506459-c43a8100-92f6-11ea-80a7-827e093b54a4.png)
I've added a worked up screenshot to show what I mean.  Disabled and reserved would be to the far right (since they're both unusable space).  Then would come used because it's filled up, allocated in yellow because that's what's been promised to the existing volumes, and green would be c

[2020-05-10 17:49] dmayle commented on #1313
If the total allocated was greater than the total available space, the text would go yellow, and instead of showing "315 Gi / Storage Schedulable", it would show the overage, and say something like "10 Gi / Overcommited By)

[2020-05-10 17:54] dmayle commented on #1313
![Overcommitted](https://user-images.githubusercontent.com/67033/81506640-0adcab00-92f8-11ea-947d-0b68c96a83ec.png)

[2020-05-10 22:47] boknowswiki commented on #1287
@smallteeths  could you help to clarify two questions?
1. Since we need to provide a setting for customer to decide if they would like to cordon the node or not if k8s disable schedule the node. What API do you expect, could you show me an example?

2. On UI node section, the status shows "Schedulable" in green box, and when you put the mount on the green box "Schedulable", it shows "node xxx is r

[2020-05-11 03:21] yasker commented on #1287
@boknowswiki For the setting part, you can refer to https://github.com/longhorn/longhorn-manager/blob/master/types/setting.go . The frontend will detect this automatically.

[2020-05-11 03:29] yasker commented on #1313
Thanks @dmayle , this sounds like a good idea. It's more than a UI change though. Currently, the actual volume size is only tracked when the volume is attached. We need to figure something out in the backend part to get this working.

[2020-05-11 06:41] shuo-wu commented on #1253
Right now the key point is that when we need to disable the auto reattachment. Hence we should check all possible causes of engine corruption first.

After this engine PR gets merged, theoretically the engine starting corruption may be caused by one of the following cases:
1. There are invalid parameters. This shouldn't happen since all parameters are set by the longhorn manager rather than the us

[2020-05-11 07:23] dmayle opened #1314 "[FEATURE] Named Installation (multiple per cluster)"
**Is your feature request related to a problem? Please describe.**
It would be useful in a production cluster to have multiple longhorn deployments (e.g. blue/green deployments).  This would allow for things like upgrading when there is no live upgrade process, or experimenting on the storage layer itself.

**Describe the solution you'd like**
I'd like to see a way to add a name to the installatio

[2020-05-11 08:42] cameronbraid opened #1315 "Cant run with istio"
Istio requires applications to bind to locahost

https://istio.io/faq/applications/

Therefore the manager pod is not accessible since it binds to the pod ip

[code]

Please change the longhorn binary to bind to locations, or provide a cli option to cause this to happen

[2020-05-11 11:36] shuo-wu commented on #1260
UI part:
1. Add a new field `Available for workloads usage` in the volume detail page. The responding backend field is `v.ready`.
2. Add a hover if it's not ready: "The volume may be under maintenance."

@yasker Do we need to add something in the volume list page if a volume is not ready.

Manually tests when the UI part is done:
Test 1: Create a DR volume and see if the volume is already not read

[2020-05-11 14:12] Athosone commented on #1305
Sorry did not see the notification
Actually the issue was noticed on k3os and k3s v1.17.4
Simple cluster with 3 masters and one worker running k3os and k3s

[2020-05-11 14:39] azbpa commented on #705
Facing the same issue while playing around with Longhorn. Think security is a key feature, even in internal networks. In our case Let's Encrypt isn't an option as well and we are using internal PKI for signing every certificate. So also for an internal Minio installation.

So please add the option to add custom certificate authorities for the backup endpoints like it is possible from Rancher serve

[2020-05-11 16:02] yasker commented on #705
@azbpa Custom CA will be in the GA release, and it's tracked at #704

[2020-05-11 16:36] boknowswiki commented on #1287
@yasker ,  do you know from UI side, what's the API call to get the node status? I would like to use that do verify longhorn-manager replying the right status.

[2020-05-11 17:16] yasker commented on #1315
@cameronbraid We can add a command parameter for that. Not sure we want to use `0.0.0.0` by default, and we definitely cannot do `127.0.0.1` by default.

May I ask what's your use case for Istio and Longhorn manager?

[2020-05-11 17:22] yasker commented on #1314
@dmayle Can you elaborate your use case for more than one Longhorn app per cluster? I don't feel blue/green deployment makes much sense for Longhorn since it's more of infrastructure-level software. And not sure how it can help with the live upgrade process as well, because they will likely have the same storage driver name.

You can have more than one StorageClass, which includes different parame

[2020-05-11 18:07] yasker commented on #704
We use the custom CA by default in our testing for now. No further end-to-end automation needed for now. https://github.com/longhorn/longhorn-tests/commit/025b1956eff938e09f9e83b688f50b988ecacff6

[2020-05-11 19:13] catherineluse commented on #1159
The best practices guide has been added to the staging branch of the Longhorn website. https://github.com/longhorn/website/pull/102

[2020-05-11 19:29] yasker commented on #1159
Done.

[2020-05-11 19:32] meldafrawi commented on #1243
There are 3 cases to validate this issue:
**Case(1/3):** Volume is attached to a node, **no process** is keeping volume mount directory open
**Case(2/3):** Volume is attached to a node, process e.g `bash` is keeping volume mount directory **Case(3/3):** Volume is used by a Kubernetes workload e.g pod.

- For Cases 2 & 3, Validation **PASSED**,  All data md5sum in the mounted volume head file is co

[2020-05-11 19:41] khushboo-rancher commented on #1285
Verified on master - 05-08-2020
Verification - **Passed**

More than one disk path can't be created on same file system.
logs:
[code]

[2020-05-11 20:59] sowmyav27 commented on #1299
**Verified with UI image: `wangsiye/longhorn-ui:492c389`**

Validation: **`PASSED`**

<img width="1677" alt="Screen Shot 2020-05-11 at 1 57 14 PM" src="https://user-images.githubusercontent.com/26032343/81611196-79b91300-938f-11ea-889e-bfc76bddd034.png">

Revert confirmation of a snapshot window is seen displayed in the middle of the web page.

[2020-05-11 21:03] yasker commented on #1253
@shuo-wu How will we tell if the engine is in the starting phase or not? Now I think #995 is beyond the scope for the current release now. We can move it to the next stable release.

Also, in the cases above, we can disable auto-attachment for case 3 as well.

[2020-05-11 21:04] #995 closed

[2020-05-11 21:21] sowmyav27 opened #1316 "[BUG] Workload/Pod pop up in Volume page does not have the same text spacing between different fields"
**Describe the bug**
Workload/Pod pop up in Volume page does not have the same text spacing between different fields

**To Reproduce**
- Create a volume in longhorn and attach it to a workload `wk01`.
- The Pod Status on the UI in the volume page - shows the correct status of the pod - Pending/Running.
- Delete the workload wk01 in Rancher.
- `Last time used by Pod` field is seen on the UI in the

[2020-05-11 21:24] sowmyav27 opened #1317 "[BUG] Field in Backup Labels can be renamed"
**Describe the bug**
Field in Backup Labels can be renamed

**To Reproduce**
- Create a volume in longhorn and attach it to a workload `wk01`.
- Create  a backup for the volume
- Navigate to backup page --> Backup List page --> Labels
- A new field `Create Time` has been added. The field can be renamed to "Created time" instead.
<img width="819" alt="Screen Shot 2020-05-11 at 2 01 59 PM" src="http

[2020-05-11 21:24] sowmyav27 commented on #1194
**Verified with UI image: `wangsiye/longhorn-ui:492c389`**

- Create a volume in longhorn and attach it to a workload `wk01`.
- The Pod Status on the UI in the volume page - shows the correct status of the pod - Pending/Running.

<img width="699" alt="Screen Shot 2020-05-11 at 2 09 17 PM" src="https://user-images.githubusercontent.com/26032343/81612089-192ad580-9391-11ea-8b32-2348d17d9422.png">

-

[2020-05-11 21:39] catherineluse opened #1318 "[FEATURE] Improve functionality of Guaranteed Engine CPU setting"
Currently, we expose the parameter Guaranteed Engine CPU in the Longhorn settings, and the workflow is:

1. Change the parameter
2. Manually restart the instance manager

It would be better with the following improvements:

- Longhorn should restart the instance manager automatically if the Guaranteed Engine CPU changes.
- ~~Longhorn should stop you from changing this parameter if you have a volum

[2020-05-11 22:43] sowmyav27 commented on #1211
**Verified using ui tag:`wangsiye/longhorn-ui:187f116`**

Validation: **`PASSED`**

**Steps:**

- Create a volume, pv,pvc and attach it to a workload/pod
- Take a backup
- In S3 (backup target), change the name of the backup file to volume.cfg.tmp
- Navigate to Backup page and the backup seen on the UI has an error message

<img width="1597" alt="Screen Shot 2020-05-11 at 3 38 14 PM" src="https://

[2020-05-11 22:46] sowmyav27 commented on #1201
**Verified using ui tag:wangsiye/longhorn-ui:187f116**

Validation: **`PASSED`**

**Steps:**
- Navigate to Node page --> Operation --> Edit Node and Disk
- `Storage Available`, `Storage Max` and `Storage Scheduled` fields are not input textboxes anymore. There are displayed as User info
<img width="857" alt="Screen Shot 2020-05-11 at 3 44 25 PM" src="https://user-images.githubusercontent.com/26032

[2020-05-11 22:59] sowmyav27 opened #1319 "[BUG] A backup which has corrupt file in backupstore has an operation "No Last backup" which is disabled"
**Describe the bug**
A backup which has corrupt file in backupstore has an operation "No Last backup" which is disabled

**To Reproduce**

- Create a volume, pv,pvc and attach it to a workload/pod
- Take a backup
- In S3 (backup target), change the name of the backup file to volume.cfg.tmp
- Navigate to Backup page
- The backup has an error.
- Click on the `Operation` dropdown for the backup.
- `N

[2020-05-11 23:03] yasker commented on #1260
@shuo-wu I think we can just add `Ready for workload` in the volume detail page. `Yes` as green, `No` as red. Reason can be `The volume may be under maintenance or in the restore process`.

If the volume is not ready, we want to show it in the volume list as well. How about if the volume is not ready, we show a green icon next to the volume state to indicate that? Hover it will say `Not ready for

[2020-05-11 23:27] boknowswiki commented on #1287
Test case for this issue, the steps are below:

Case 1 with "Setting/general/disable-schedule-cordoned-node" set to True.

1. Create 3 nodes (e.g. node1/node2/node3) cluster and deploy longhorn in this cluster.
2. Create a longhorn-volume(e.g. volum1), longhorn-manager should create replicas on all three nodes(node1/node2/node3).
3. Set cordon on one node(e.g. node1), and the status for this node

[2020-05-11 23:39] meldafrawi commented on #704
- Docs Validation: **PARTIALLY FAILED**
  In docs [here](https://staging.longhorn.io/docs/0.8.1/snapshots-and-backups/backup-and-restore/set-backup-target/#set-up-a-local-testing-backupstore):

  1. Minio secret example is missing `AWS_CERT`
  2. Current Minio deploy manifest is using http endpoint, we need to update the docs to have both http/https examples, or modify the existing manifest to be

[2020-05-11 23:47] joshimoo commented on #704
Based on a conversation with @yasker the https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/backupstores/minio-backupstore.yaml gets copied over from longhorn-test automaticly? Since we haven't released 1.0 yet, I assume it has not been copied/updated yet?

[2020-05-11 23:51] joshimoo commented on #704
The minio AWS_CERT_KEY (private key) is only necessary for our [test-minio](https://github.com/longhorn/longhorn-tests/blob/master/manager/integration/deploy/backupstores/minio-backupstore.yaml), it's up to the customer to deploy their own minio ssl secured backupstore.

We currently do not provide any guidance on how to do so, we only provide instructions for the client side (longhorn) setup (AWS

[2020-05-12 00:39] meldafrawi commented on #1297
Validation: **PASSED**

[2020-05-12 00:39] #1297 closed

[2020-05-12 00:40] #1300 closed

[2020-05-12 00:44] meldafrawi commented on #1199
Validation: **PASSED**

Longhorn UI: `master`

[2020-05-12 00:44] #1199 closed

[2020-05-12 01:05] catherineluse commented on #1265
I have created a PR to edit these descriptions here. https://github.com/longhorn/longhorn-manager/pull/560

Why is the build failing?

[2020-05-12 01:42] joshimoo commented on #1267
The backup retention code works correctly, the reason this happened is that to determine whether to include a backup in our cleanup we compare all the backup labels with the job labels. One of these labels is the Kubernetes status, which comes from the volume directly.

If you have look at your screenshot you will see that the volume switched to a different pod, which means that the content of the

[2020-05-12 01:48] sowmyav27 commented on #1270
Reopening this issue -

Validated on the latest master - 05/11/2020

**Steps:**

- Restore from a backup to vol-1
- while the restore is in progress, power down a worker node.
- A replica fails and gets deleted (when seen from UI)
- The other two replica are seen in "restoring" state since long. In the API failed replica still exists and is not removed.

[code]

[2020-05-12 03:14] shuo-wu commented on #1260
In general, it sounds good. I think a yellow icon for the volume is better if it's not ready.

[2020-05-12 03:36] sowmyav27 commented on #1212
**Verified on master - 05/11/2020**

**Steps:**

- In S3, edit a backup file - make it an invalid json data - (removed "}}" from the file in the end)
- Save the file and upload it back to S3.
- Go to Backup --> Backup list page
- Error seen in backupList view

[code]
- NO error is seen on the UI
<img width="1639" alt="Screen Shot 2020-05-11 at 8 30 21 PM" src="https://user-images.githubusercontent

[2020-05-12 03:54] sowmyav27 commented on #1213
Another use case:

- In S3, edit a backup b1 file - make it an invalid json data - (removed "}}" from the file in the end)
- Save the file and upload it back to S3.
- Go to Backup --> Backup list page
- The backup b1 will not be listed in the backup list page.
<img width="1639" alt="Screen Shot 2020-05-11 at 8 30 21 PM" src="https://user-images.githubusercontent.com/26032343/81636791-96723c80-93c9

[2020-05-12 04:04] sowmyav27 opened #1320 "[BUG] No error message displayed on UI when there is Invalid backup file in S3"
**Describe the bug**
No error message displayed on UI when there is Invalid backup file in S3

**To Reproduce**
- In S3, edit a backup file - make it an invalid json data - (removed "}}" from the file in the end)
- Save the file and upload it back to S3.
- Go to Backup --> Backup list page
- Error seen in backupList view - API

[code]
- NO error is seen on the UI
<img width="1639" alt="Screen Shot

[2020-05-12 04:13] sowmyav27 opened #1321 "[BUG] User is allowed to restore from a backup which is corrupt."
**Describe the bug**
User is allowed to restore from a backup which is corrupt.

**To Reproduce**
- In S3, edit a backup file - make it an invalid json data - (removed "}}" from the file in the end)
- Save the file and upload it back to S3.
- Go to Backup --> Backup list page
- Error seen in backupList view - API

[code]
- NO error is seen on the UI
<img width="1639" alt="Screen Shot 2020-05-11 at

[2020-05-12 04:38] sowmyav27 opened #1322 "[FEATURE] Mapping error messages for an invalid backup file to a set of errors"
**Is your feature request related to a problem? Please describe.**
 Mapping error messages for an invalid backup file to a set of errors

- In S3, edit a backup file - make it an invalid json data - (removed "}}" from the file in the end)
- Save the file and upload it back to S3.
- Go to Backup --> Backup list page
- Error seen in backupList view - API

[code]
- When the backup file has data like

[2020-05-12 04:54] cameronbraid commented on #1315
My use case is to use istio mutual tls between UI and manager, and to use istio external auth envoy filter to secure the UI

[2020-05-12 08:14] dmayle commented on #1314
@yasker the first time I wanted this was during the 0.7.0 to 0.8.0 upgrade, which was not live.  I had to take the cluster completely offline in order to perform the upgrade.

The main reason I'd like this is to allow upgrades without disrupting production traffice.  This way, I could migrate a deployment or statefulset to an already upgraded deployment without having to worry that a failed upgrad

[2020-05-12 08:58] smallteeths commented on #1320
I followed your steps to test, the situation is not the same as yours, as shown
![Jietu20200512-164107](https://user-images.githubusercontent.com/27733391/81663944-ab0a0f80-9471-11ea-9816-9444e0ccc286.jpg)

[2020-05-12 10:13] shuo-wu commented on #1253
Test 1:
Test if the volume still works fine when there is an invalid replica/backend in the engine starting phase.
1. Create a pod using Longhorn volume.
2. Write some data to the volume then get the md5sum.
3. Create a snapshot.
4. Repeat step2 and step3 for 3 times. Then there should be 3 snapshots.
5. Randomly pick up a replica and manually messing up the snapshot metafile.
6. Delete the worklo

[2020-05-12 12:03] dmayle opened #1323 "[BUG] Air Gap limitation in instance manager image name (63 chars)"
**Describe the bug**
When attempting to air gap longhorn, if the name of the image used for the instance manager is longer than 63 characters, than volumes will never be able to attach.  This is because a mangled image name is applied as a label, and it becomes impossible to sync the node and replica.  Perhaps a hashed version of the label should be used instead (e.g. im:<tag>:<hash_of_image_name>

[2020-05-12 12:44] shuo-wu commented on #1255
Longhorn already prevented the CSI plugin to use the restore/DR volume and the expanding volume. I will update the go client and check `v.ready` anyway.

Test steps:
1. Create a pod with Longhorn volume.
2. Write some data and create a backup.
3. Restore a volume from the backup.
4. Create another pod using the restoring volume when the restore is in progress. (Make sure `spec.nodeName` of this po

[2020-05-12 16:39] joshimoo commented on #1320
@smallteeths have you updated to the newest longhorn-manager/engine@master?

[2020-05-12 17:46] sowmyav27 commented on #1261
**Verified on master - latest - 05/12 (`5b9f05c` on UI)**

Validation: **`PASSED`**

- Create a volume and attach it to a workload.
- Go to volume details page
- Create few snapshots - 4 snapshots while writing data between taking snapshots
- Delete snapshots (not the latest)
- Deletion progress is NOT seen > 100%. It matches the progress in the snapshot section

[2020-05-12 18:04] meldafrawi commented on #1169
Test failed again in `longhorn-tests/424`  & `longhorn-upgrade-test/86`

[2020-05-12 18:07] meldafrawi opened #1324 "[BUG] Nightly Test: test_recurring_job_labels sometimes failed"
**Describe the bug**
sometimes `test_recurring_job_labels` test failed

**To Reproduce**
Install Longhorn `master`
Run `test_recurring_job_labels`

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**Additional context**
Jenkins build num: longhorn-tests/426

[2020-05-12 18:10] yasker commented on #1194
@sowmyav27 The backup metadata only concerned about the state that pod was in when the snapshot was created. So it won't reflect the live data. So we won't expect the backup status updated when the workload has been deleted.

[2020-05-12 18:11] meldafrawi opened #1325 "[BUG] Nightly Upgrade Test: test_rebuild_with_restoration sometimes failed"
**Describe the bug**
sometimes `test_rebuild_with_restoration`  test failed after upgrade

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v0.8.0
2. Upgrade Longhorn to `master`
3. Run `test_rebuild_with_restoration` test

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
 - Longhorn version: master
 - Kubernetes version: v1.17.2
 - Node OS type and ver

[2020-05-12 20:01] yasker commented on #1314
Hmm? The volume will form either the new version of Longhorn or the old version? I am not sure why it can help with smoothing the upgrade process.

[2020-05-12 20:21] sowmyav27 opened #1326 "[BUG] When a backup is in progress for 2 different volumes the "volume.cfg" in backupstore is deleted for one of the volumes and backup is stuck"
**Describe the bug**
When a backup is in progress for a volume the "volume.cfg" in backupstore is deleted

**To Reproduce**

-  Create a backup from a volume
- The backup is stuck in 95% progress with an error:

<img width="1652" alt="Screen Shot 2020-05-12 at 11 48 37 AM" src="https://user-images.githubusercontent.com/26032343/81741353-4a6bda00-9453-11ea-9776-369b6ba32ca9.png">

**Expected behavi

[2020-05-12 20:35] sowmyav27 opened #1327 "[BUG] Backup restore fails when the node where restore volume was attached is disconnected during restoration"
**Describe the bug**
Backup restore fails when a node is disconnected during restoration

**To Reproduce**

- Take a backup
- restore from a backup
- While the restore is in progress, Network node to which (restore volume) is attached to is disconnected  (100 seconds)
- The volume is seen in Faulted state and API gives message

[code]

**Expected behavior**
Volume should be in detached state after

[2020-05-12 20:40] yasker commented on #1327
Btw, the backupstore is S3, so the connectivity wasn't cut.

[2020-05-12 20:50] boknowswiki commented on #1287
After discussed with @yasker , below is the order we check the "Schedulable":

1. Node needs to be in ready condition.
2. From the nodes which are ready, we check if the schedulable has been enabled or not on each node.
3. Check the node schedulable and settings related to schedule.
Note: for the third one, currently we are checking the k8s node status(cordon) and the setting we have "Disable Sche

[2020-05-12 20:57] ryandharper commented on #1273
Can confirm same issue on Fedora 32 today.

`k3s version v1.17.4+k3s1 (3eee8ac3)`
kubectl version
[code]

[2020-05-12 21:16] meldafrawi commented on #1285
Manual validation **Passed** by @khushboo-rancher
Integration test implemented by @boknowswiki & merged.
Integration test passed in Nightly integration test.

[2020-05-12 21:16] #1285 closed

[2020-05-12 22:14] khushboo-rancher opened #1328 "[BUG] DRV stuck in attaching state when restoring is interrupted by rebooting attached node"
**Describe the bug**
Creating DRV stuck in attaching state when restoration of volume is interrupted by rebooting one of the node.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to backup page.
2. Select a backup and click 'Create Disaster Recovery Volume'. (3 replicas)
3. While restoring is in progress, reboot the node where volume is attached to.
4. Volume stuck in attaching state and

[2020-05-12 22:20] meldafrawi commented on #1294
Validation: **PASSED**

**Steps to test:**

1. Create a volume called `test` and attach and format it.
2. Make two backups
3. Delete the volume test and recreate it with the same name. Now the volume size is 0.
4. Make a backup again.
5. The new backup from the new volume should contain 0 data, instead of old volume's data. (**PASSED**)

![image](https://user-images.githubusercontent.com/18232258/

[2020-05-12 22:21] #1294 closed

[2020-05-12 22:33] yasker commented on #1253
@shuo-wu Can you file another issue to track all replica went bad during starting problem?

[2020-05-12 22:43] yasker commented on #1253
Pre-merged Checklist
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] [area/ui] Has the UI issue filed or ready to be merged?
* [ ] [require-automation-e2e] Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] [require-automation-engine] Has the engine integration test been merged?
* [ ] [require-doc] Has the necess

[2020-05-12 23:02] yasker commented on #1323
@dmayle We're using Kubernetes labels derived from some image names, so this might happen. We've documented a workaround in the upcoming docs at https://staging.longhorn.io/docs/0.8.1/advanced-resources/deploy/airgap/#longhorn-instance-manager-metadatalabels-must-be-no-more-than-63-characters . Basically you can rename the existing images to work around this issue. cc @meldafrawi

[2020-05-12 23:06] yasker commented on #1255
Pre-merged Checklist
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] **if labeled: require-automation-engine** Has the engine integration test been

[2020-05-12 23:09] yasker commented on #1326
@sowmyav27 The reproduce steps here are weird... I thought it was due to there were two backups happening at the same time? But it's not mentioned here.

[2020-05-12 23:11] yasker commented on #1287
@boknowswiki LGTM.

[2020-05-13 01:13] yasker commented on #1267
Pre-merged Checklist
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] **if labeled: require-automation-engine** Has the engine integration test been

[2020-05-13 01:27] yasker commented on #1260
Pre-merged Checklist
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] **if labeled: require-automation-engine** Has the engine integration test been

[2020-05-13 01:52] khushboo-rancher commented on #1328
This could be similar to https://github.com/longhorn/longhorn/issues/1188. This bug can be tested once https://github.com/longhorn/longhorn/issues/1188 is fixed to see if this is fixed too.

[2020-05-13 01:59] smallteeths commented on #1198
Due to the need to update the antd version, `Issue#6` has not been modified temporarily, I will file an issue for issues # 6 separately.  For `Issue#4`,I don’t know where the sorting is wrong @sowmyav27

[2020-05-13 02:04] smallteeths opened #1329 "The dropDown box does not scroll with the page"
The dropDown box does not scroll with the page

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Dashboard page
2. Click on filter, filter text box opens.
3. now scroll up in the window, the filter window scrolls up with the Dashboard window.

<img width="1667" alt="79353507-fcb18f80-7eef-11ea-9efe-3a1133448031" src="https://user-images.githubusercontent.com/27733391/81763143-1cdd6

[2020-05-13 03:35] shuo-wu commented on #1255
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] ~~**If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?~~
* [ ] ~

[2020-05-13 04:08] shuo-wu opened #1330 "[BUG]The volume gets stuck in detach-reattach loop if there is no valid backend during the engine starting stage"
**Describe the bug**
This issue is found during the #1253 fixing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create and attach a volume.
2. Create some snapshots for the volume.
3. Manually modifying/invalidating one snapshot/head metafile for all replicas.
4. Detach then reattach the volume.

**Expected behavior**
The volume should fail to attach and become `Faulted` state.

**Environm

[2020-05-13 04:08] shuo-wu commented on #1253
For the case that there is no valid replica/backend in the engine starting phase and the volume gets stuck in the detach-reattach loop. It is a different issue and it's complicated. We will track it in #1330

[2020-05-13 05:34] sowmyav27 opened #1331 "[BUG] Volume keeps attaching and detaching when process running volume on instance manager is killed"
**Describe the bug**
Volume keeps attaching and detaching when process running volume on instance manager is killed

**To Reproduce**

- Create a volume, attach to a workload, write data into the volume
- Take a backup. When backup is in progress, log in to the instance manager of  Longhorn disk instance-manager-e-xxxx, and identify engine PID for the volume using `ps aux | grep “longhorn controll

[2020-05-13 05:52] sowmyav27 commented on #1331
This issue is seen in the following scenario:

- Create a backup
- Add a disk on node N1
- Restore from backup.
- During backup restoration, cause a disk failure by killing the process running the restoring volume in the apt instance manager.
- The restoring volume is seen in attaching and detaching mode.

[2020-05-13 05:56] sowmyav27 opened #1332 "[BUG] Documentation required for "Guaranteed Engine CPU" setting"
**Describe the bug**
Documentation required for "Guaranteed Engine CPU" setting

Currently the Longhorn UI displays info -
`Required. (EXPERIMENTAL FEATURE) Allow Longhorn Engine to have guaranteed CPU allocation. The value is how many CPUs should be reserved for each Engine/Replica Manager Pod created by Longhorn. For example, 0.1 means one-tenth of a CPU. This will help maintain engine stability

[2020-05-13 05:58] sowmyav27 opened #1333 "[BUG] Documentation around the additional steps for a user when a node removed from cluster and added back with the same hostname"
**Describe the bug**
Documentation around the additional steps for a user when a node removed from cluster and added back with the same hostname

Currently user will have to delete the existing disk and add a new disk, when a node removed from cluster and added back with the same hostname.

These set of steps have to be added in the docs

[2020-05-13 06:01] sowmyav27 opened #1334 "[BUG] Update docs on scheduling policy based on available volume"
**Describe the bug**
Update docs on scheduling policy based on available volume

Currently `Storage Minimal Available Percentage` , `Storage Over Provisioning Percentage`, `Storage Available`, `Storage Maximum`, `Storage Reserved` and `storage scheduled` are taken into account while deciding on the scheduling policy.

Docs have to be updated with this info

[2020-05-13 09:23] shuo-wu commented on #1243
Unfortunately, I cannot reproduce it but I find another issue. Here are my reproducing steps & results:
1. Mount the extra disk on `node-2`:
[code]
2. Create a volume with the only replica and attach it to `node-1` on UI. Then format and mount it.
[code]
3. Prepare some data then copy data `t1` to the volume on `node-1`:
[code]
4. Do lazy umount on `node-2`:
[code]
5. Copy data `t2` to the volume

[2020-05-13 10:33] dmayle opened #1335 "[BUG] Longhorn-manager high CPU usage"
**Describe the bug**
I have a small (5 worker node) cluster that is mostly idle (no user load) right now, and I'm trying to figure out why my CPU usage is so high.  I've been pulling CPU usage on the worker nodes, and with the exception of one of my nodes (which runs argocd with no persistent volumes), the top CPU consumer on every node is longhorn consuming 30% of the CPU (dual-core machines).

W

[2020-05-13 10:49] dmayle commented on #1314
@yasker by allowing me to avoid it completely.  I would have created a new 0.8.0 installation and migrated my workloads from one installation to the other, one job at a time.

On the other hand, I just went through my second 0.7.0 to 0.8.0 upgrade, and this time it went smooth as silk.

[2020-05-13 11:03] shuo-wu commented on #1188
The PR for issue #1260 cannot completely solve this issue since there are some errors during the incremental restore not being recorded in the restore status. Then the longhorn manager cannot mark the related replica as failed.
The errors are not recorded in the sync agent server restore status:
1. Parameters check failure before restore status initialization.
2. Delta file check and cleanup error

[2020-05-13 12:54] shuo-wu commented on #1270
There are actually 2 sub-cases for the node down:
1. The restore volume attached node is down.
2. The replica node of the restore volume is down.

I think what Sowmya encountered is the 1st case. For a regular volume, the volume should be retained there if the attached node somehow gets disconnected hence the above behavior is what Longhorn currently expects. But for the restoring volume, I think

[2020-05-13 15:18] normanschlatter commented on #828
I asked in the last k3s meetup about this Issue, I got following response: "this is off topic from the meetup, but ill get it to the devs. you should know that we are no longer focusing heavily on rancher os."

Looks like its time to ditch RancherOS for me.

[2020-05-13 15:20] cjellick commented on #828
That was me. I don't know all the technical details of this issue.  I also don't know if this bug applies specifically to _just_ rancher os or some other subset of linux OSes.

[2020-05-13 16:19] sowmyav27 commented on #1326
@yasker Yes. Actually that was the only thing standing out in this use case, when it failed.
Two backups were in progress at the same time. One succeeded. Other one failed as mentioned in the issue https://github.com/longhorn/longhorn/issues/1326#issue-616934363

[2020-05-13 17:27] yasker commented on #1255
@sowmyav27 Can you check if https://github.com/longhorn/longhorn/issues/1255#issuecomment-627318982 makes sense to you? If PR for #1260 has already fixed the issue in this case, we can close this one.

[2020-05-13 17:42] boknowswiki commented on #1052
Test skeleton for zone anti-affinity:

@pytest.mark.node  # NOQA
def test_replica_zone_anti_affinity(client):  # NOQA
    """
    Test replica scheduler with zone anti-affinity

    1. Set zone anti-affinity to hard, and replica count to 2.
    2. Create 2 nodes and add the same zone label to them
    3. Create a volume.
    4. Wait for volume condition `scheduled` to be false.
    5. Change the z

[2020-05-13 17:50] boknowswiki commented on #1052
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] ~~**if la

[2020-05-13 17:53] sowmyav27 commented on #1255
@yasker @shuo-wu I have one question about this comment https://github.com/longhorn/longhorn/issues/1255#issuecomment-627318982

"Whether we need to disable the PV/PVC creation for the restoring volume" --> But we could disable this from the Longhorn perspective? As per we discussed yesterday?

[2020-05-13 18:25] meldafrawi commented on #1325
Test failed again in: `longhorn-tests/427`

**logs:**
[code]

[2020-05-13 18:29] sowmyav27 opened #1336 "[BUG] Backup restore succeeds when an instance manager engine crashes and data is NOT available in the restore volume"
**Describe the bug**
Backup restore succeeds when an instance manager engine crashes and data is NOT available in the restore volume

**To Reproduce**

- Have a volume v1 - with 3 replicas
- write data into the volume
- Take a backup
- Restore from the backup
- While the restore is in progress, delete instance manager engine running the volume.
- The restore succeeds.
- Data is NOT available in th

[2020-05-13 18:32] yasker commented on #1255
@sowmyav27 I don't think we need to disable PV/PVC creation in this case. As I mentioned yesterday:
1. If Longhorn disabled PV/PVC creation, the user can still do it using Rancher or kubectl.
2. When does the user create the PV/PVC is not related to when the user wants to use the volume. For example, to speed up the recovery process, the user can choose to create PV/PVC when restoring is happening

[2020-05-13 19:08] boknowswiki commented on #1291
@shuo-wu , thanks for providing the steps, I am able to reproduce this issue.

The reason the default disk can not be mark as schedulable is because it's in the same filesystem as the other path(which has been mounted to extra disk, but after unmount it, this path is the same filesystem as default disk path). Since we don't allow multiple paths in the same filesystem, in this case probably user ha

[2020-05-13 19:36] yasker commented on #1326
@sowmyav27 Can you update that information in the original description? Since it would be crucial to reproduce this problem.

[2020-05-13 19:53] #1136 closed

[2020-05-13 19:55] yasker commented on #1331
The reattaching issue is tracked as #1240 . I recommend don't use `-9` for now.

[2020-05-13 20:01] sowmyav27 commented on #1255
@yasker When a volume is "Faulted" because of this issue here https://github.com/longhorn/longhorn/issues/1255#issue-607853895, Can we **`disable`** the attach to node/Create PV/PVC options in longhorn UI.

But this should not affect other volumes "faulted" (due to some other issue where it can be salvaged).

Do we need a distinction of these two use cases?

[2020-05-13 20:24] sowmyav27 commented on #1198
@smallteeths The sort option currently sorts it as - Ascending, descending and original. Do we need "Original" sorting here ?

[2020-05-13 20:27] sowmyav27 commented on #1194
@yasker Do we need the `Pod status` under workload status here in this case? It might just give an incorrect impression to the user about the pod.

[2020-05-13 20:29] yasker commented on #1291
The problem here is because the extra disk wasn't supposed to be on the same filesystem as the default disk. It failed disk UUID check already. So in this case, it doesn't make sense to check the filesystem ID of the extra disk because the extra disk doesn't suppose to use the root filesystem.

[2020-05-13 20:34] yasker commented on #1194
@sowmyav27 We need it. It's an piece of important information for the user to identity the volume. We can rephrase the UI to e.g. `Workload Status When Created`

[2020-05-13 20:36] sowmyav27 commented on #1194
Yes I think this `Workload Status When Created` would make more sense to the "Pod status" now. Thanks @yasker

[2020-05-13 20:37] yasker commented on #1198
@sowmyav27 Yeah that's what the sorting do normally in Longhorn UI.

[2020-05-13 20:40] yasker commented on #1314
@dmayle Can you elaborate how you plan to migrate your workload from one Longhorn version to another without downtime? I still don't understand. It seems would involve downtime anyway.

[2020-05-13 20:46] meldafrawi commented on #704
Validation **PASSED**

**Additional tests:**
- Test Minio backupstore with a valid Let's Encrypt certificate, backup list/create/restore/delete operations should work **PASSED**
- Test Minio backupstore with self-signed certificate with **Corrent** SANS -- backup list/create/restore/delete operations should work **PASSED**
- Test Minio backupstore with self-signed certificate with **incorrect** SA

[2020-05-13 20:46] #704 closed

[2020-05-13 21:36] yasker commented on #1335
@dmayle We are going to replace the communication mechanism between manager and engine using GRPC https://github.com/longhorn/longhorn/issues/677 in the next major release, to alleviate this problem.

[2020-05-13 21:38] meldafrawi commented on #1290
Validation: **PASSED**
Longhorn UI image: `wangsiye/longhorn-ui:187f116`

Steps to test:
Deploy Longhorn system. Each node should have an available default disk for the scheduling.
Attach a new (Linux) disk/volume to one node. Then create an extra Longhorn disk for the corresponding Longhorn node, make the Longhorn disk schedulable.
Disable scheduling for the default disk for the Longhorn node.
Um

[2020-05-13 21:53] sowmyav27 commented on #1317
**Verified on master - ui image: `wangsiye/longhorn-ui:79c09d9`**

Validation: **`PASSED`**

- Backup Labels have `Created Time` field now.
<img width="635" alt="Screen Shot 2020-05-13 at 2 52 55 PM" src="https://user-images.githubusercontent.com/26032343/81869797-86716e80-9529-11ea-8ed0-b10adc5fbe25.png">

[2020-05-13 21:54] yasker opened #1337 "Negative test case issues"
The issues in this epic spread across v1.0.0 and v1.0.1.

[2020-05-13 21:55] sowmyav27 commented on #1316
**Verified on master - ui image: `wangsiye/longhorn-ui:79c09d9`**

Validation: **`PASSED`**

- The spacing between the field Last time used by Pod and other fields in the pop up is same.
<img width="913" alt="Screen Shot 2020-05-13 at 2 54 50 PM" src="https://user-images.githubusercontent.com/26032343/81869966-d2241800-9529-11ea-9ace-17255ad6d289.png">

[2020-05-13 21:58] yasker commented on #1331
@sowmyav27 Can you retest using `kill` instead of `kill -9`?

[2020-05-13 22:03] yasker commented on #1194
@smallteeths Can you update the UI with the comment of https://github.com/longhorn/longhorn/issues/1194#issuecomment-628231474 ? Thanks.

[2020-05-13 22:14] yasker commented on #1255
@sowmyav27

If the volume is `Faulted`, the attach operation will be disallowed from UI and API. But we don't have ability to differentiate it's `Faulted` due to replica disconnection or failed restoration at the moment. You can file an issue for that. For the corrupted volume, we shouldn't allow salvage or auto-salvage operation. In fact, @shuo-wu I think we mentioned this already. Do we have an

[2020-05-13 22:17] yasker commented on #1188
Have we fixed https://github.com/longhorn/longhorn/issues/1328 along with #1260 ?

Sounds like we need to move this out of 1.0.0.

[2020-05-13 22:24] yasker commented on #1337
Fix for https://github.com/longhorn/longhorn/issues/1260 : (from https://github.com/longhorn/longhorn-manager/pull/558)

1. A new API field named `ready` is introduced. It can indicate if the volume is available for workloads now. If the volume is Faulted or is auto attached, the `ready` is false. The reason why auto attached volumes are not usable is that the auto attachment is triggered by one o

[2020-05-13 22:25] sowmyav27 opened #1338 "[BUG] Color of OK buttons for filters on Columns in Dashboard page is inconsistent"
**Describe the bug**
Color of **OK** buttons for filters on Columns in Dashboard page is inconsistent

**To Reproduce**

- Navigate to Dashboard page
- Filter for Name and Source columns have "OK" button with a blue color and `Kind` and `Type` columns filters have OK buttons with NO color.
<img width="1137" alt="Screen Shot 2020-05-13 at 3 18 56 PM" src="https://user-images.githubusercontent.com/2

[2020-05-13 22:26] sowmyav27 commented on #1198
**Validated on master, ui tag: `wangsiye/longhorn-ui:79c09d9`**

Validation: **`PASSED`**

**Issue#1 Validation**
In Dashboard --> SubObject column is not present
<img width="1867" alt="Screen Shot 2020-05-13 at 3 02 12 PM" src="https://user-images.githubusercontent.com/26032343/81870503-ce44c580-952a-11ea-8619-d18e9805f0f1.png">

**Issue#2 Validation**
Column header is highlighted like it does fo

[2020-05-13 22:26] yasker commented on #1337
Regarding https://github.com/longhorn/longhorn/issues/1188 :

[2020-05-13 22:28] yasker commented on #1337
Fix for https://github.com/longhorn/longhorn/issues/1253 : (PR: https://github.com/longhorn/longhorn-engine/pull/487 )

[2020-05-13 22:34] yasker commented on #1188
@shuo-wu Can you assess the impact of missing the fix for this issue? E.g. in which case the user will have trouble, what's the workaround, etc.

[2020-05-13 22:45] dnoland1 opened #1339 "Longhorn keeping deleted files open and not cleaning up disk space"
*Describe your issue here*
Running a two node k3s cluster and have a dedicated filesystem for /var/lib/rancher/longhorn

Running `df` shows that there is 43GB used:
[code]
However, `du` shows that there is 26GB being used:
[code]
Running lsof shows that longhorn is holding on to deleted files, which is likely why there is a 17GB difference between du and df:
[code]
Longhorn should be closing these

[2020-05-13 22:46] yasker commented on #1339
Needs to investigate if it's due to Longhorn didn't close the file when `snapshot purge` completed.

[2020-05-13 22:52] meldafrawi commented on #1201
Validation **PASSED** on `longhornio/longhorn-ui:master`

[2020-05-13 22:52] #1201 closed

[2020-05-13 22:52] sowmyav27 commented on #1321
**Verified on master, ui image: `wangsiye/longhorn-ui:79c09d9`**

Validation: **`PASSED`**

- In S3, edit a backup file - make it an invalid json data - (removed "}}" from the file in the end)
- Save the file and upload it back to S3.
- Go to Backup --> Backup list page
- Error is seen on the UI.
<img width="1869" alt="Screen Shot 2020-05-13 at 3 42 23 PM" src="https://user-images.githubuserconten

[2020-05-13 22:54] meldafrawi commented on #1290
Validation **PASSED** on `longhornio/longhorn-ui:master`

[2020-05-13 22:54] #1290 closed

[2020-05-13 22:55] sowmyav27 commented on #1320
**Verified on master, ui image: `wangsiye/longhorn-ui:79c09d9`**

Validation: **`PASSED`**

- In S3, edit a backup file - make it an invalid json data - (removed "}}" from the file in the end)
- Save the file and upload it back to S3.
- Go to Backup --> Backup list page
- Error is seen on the UI.
<img width="1869" alt="Screen Shot 2020-05-13 at 3 42 23 PM" src="https://user-images.githubuserconten

[2020-05-13 22:59] khushboo-rancher commented on #1328
Validated after fix of https://github.com/longhorn/longhorn/issues/1260 got merged, still this issue is reproducible.

[2020-05-13 23:14] sowmyav27 commented on #1327
I tried it again on a master setup. I was not able to reproduce this issue.

Volume is in detached state after restoration. Replica on the node disconnected network, fails and is in "Stopped" State.

[2020-05-13 23:34] yasker commented on #1327
@sowmyav27 There are engine fixes checked in yesterday, maybe that's the reason? cc @shuo-wu

[2020-05-13 23:34] dnoland1 commented on #1339
Here's more information on the two PIDs mentioned in the lsof output:
[code]

[2020-05-13 23:36] sowmyav27 commented on #1255
@yasker  When the heath of the volume is `Faulted`, Create PV/PVC is disabled on the UI
<img width="1875" alt="Screen Shot 2020-05-13 at 4 34 33 PM" src="https://user-images.githubusercontent.com/26032343/81876515-be7fae00-9537-11ea-8afd-142b145aae3a.png">

I will file an issue for this --> `But we don't have ability to differentiate it's Faulted due to replica disconnection or failed restoration

[2020-05-13 23:50] sowmyav27 opened #1340 "[BUG] Faulted volumes should be differentiated based on reason why it failed"
**Describe the bug**
Faulted volumes should be differentiated based on reason why it failed

Volume which is in "Faulted" state because of replica disconnection or failed restoration should be differentiable. As volumes failed because of `failed restoration` should not be eligible for `Automatic Salvage`

**Environment:**
 - Longhorn version: master 05/13/2020

[2020-05-14 00:03] khushboo-rancher opened #1341 "[BUG] Backup creation on NFS backup store failed when there was already a backup creation in progress"
**Describe the bug**
Backup creation failed when it was triggered before completion of previous backup creation.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume (3 replicas) and attach it to a node.
2. Configure an NFS backup store.
3. Enable a recurring backup for the volume.
4. Write data to the volume 1 Gi.
5. Take a backup of the volume when one recurring backup creation

[2020-05-14 00:06] sowmyav27 commented on #1288
Reproduced the issue on 0.8.1 release
Logs seen in kubelet on a worker node:

[code]
**Verified on master - 05/13/2020**

Validation: **`PASSED`**
- kubelet logs do not show these statements ^^^

[2020-05-14 00:47] khushboo-rancher commented on #1341
On the above setup, I'm able to create more backups but later restoring from the backups after the faulted backup doesn't work.
[code]

[2020-05-14 00:59] yasker commented on #1341
This is maybe related to #612 ..

[2020-05-14 04:28] shuo-wu commented on #1337
Regarding #1243 :

The basic idea:

@meldafrawi 's Validations:

I cannot reproduce it but found another issue for the above case 1. (Additional context: Step 8 is to verify the data is still correct after the lazy unmount happens and the replica becomes failed):

[2020-05-14 04:38] shuo-wu opened #1342 "[BUG]Auto salvage will be triggered even if all replicas are invalid and the engine cannot start"
**Describe the bug**
If issue #1330 is fixed, all invalid replicas will become failed as long as the engine cannot use them to startup. But the auto salvage will be triggered in this case, then the volume still gets stuck in the detach-reattach loop.

**To Reproduce**
Steps to reproduce the behavior:
This can be reproduced after fixing #1330

**Expected behavior**
The volume keeps `Faulted` and th

[2020-05-14 04:46] shuo-wu commented on #1337
Regarding #1330 :

[2020-05-14 04:50] shuo-wu commented on #1337
Regarding #1342:

[2020-05-14 05:12] shuo-wu commented on #1337
Fix for #1255 (PR https://github.com/longhorn/longhorn-manager/pull/564):

[2020-05-14 05:30] shuo-wu commented on #1342
It's like a duplicate of #1340

[2020-05-14 05:30] #1342 closed

[2020-05-14 05:31] shuo-wu commented on #1340
Auto salvage needs to be disabled for some other cases besides the restore failure. e.g.:
If issue #1330 is fixed, all invalid replicas will become failed as long as the engine cannot use them to startup. But the auto salvage will be triggered in this case, then the volume still gets stuck in the detach-reattach loop.

[2020-05-14 11:16] shuo-wu commented on #1270
Manually test steps:
1. Enable the auto-salvage feature.
2. Launch a volume and write some data. (e.g., 5Gi random data).
3. Create a backup.
4. Restore a new volume.
5. Power off the attached node of the restore volume.
6. Wait for the volume Faulted and all replicas failed.
7. Check the volume condition `restore`.
8. Make sure the auto-salvage is not triggered.

[2020-05-14 11:26] shuo-wu commented on #1327
Is this issue similar to the reopened issue #1270?

[2020-05-14 11:30] shuo-wu commented on #1188
No, #1328 will be fixed along with other issues later.
The fix for #1260 would only handle parts of the restore failure cases. We will record all found cases in #1337

[2020-05-14 11:44] shuo-wu commented on #1328
This issue is almost the same as the reopened issue #1270. The fix for that issue would handle this.
Since the manual tests are almost identical but replace the restore volume with DR volume, I won't repeat them here.

[2020-05-14 12:31] dmayle commented on #1314
@yasker for example, minio is 4 replicas.  I take it down to 3, and bring up 1 replica on the second installation.  Wait for it to recover, and repeat.  For postgres, I bring up a replica on the new deployment, promote to master, and start bringing up machines on the new storage installation.  This only works for my services that support high availability, but that's why I use kubernetes in the fi

[2020-05-14 14:20] yasker commented on #1328
@khushboo-rancher In this case, you've rebooted the node that engine or replica is running on?

[2020-05-14 15:19] catherineluse commented on #1265
Closing this issue because https://github.com/longhorn/longhorn-manager/pull/560 was merged

[2020-05-14 15:19] #1265 closed

[2020-05-14 16:34] khushboo-rancher commented on #1328
@yasker The node where replica was running was rebooted.

[2020-05-14 16:38] sowmyav27 commented on #1327
@shuo-wu This issue - https://github.com/longhorn/longhorn/issues/1270 was reopened as the restore was "stuck" when a node was powered down,

However, this issue #1327 - is when the restore failed completely, when the network on a node was disconnected.

[2020-05-14 16:49] yasker commented on #1328
@khushboo-rancher : and it's not the node that the volume was attached to? If so, this is a different case from #1270 . IIUC, #1270 only deal with engine detachment.

[2020-05-14 17:09] khushboo-rancher commented on #1328
Yes, the node rebooted was not the attached one.

[2020-05-14 17:22] yasker commented on #1336
@shuo-wu We need to understand why it behaviors in this way first before fixing this. The question here is why the restore was a success?

[2020-05-14 17:23] yasker commented on #1270
@sowmyav27 Which worker node you powered down? Is it a replica one or the node that the volume attached to?

[2020-05-14 17:36] sowmyav27 commented on #1194
**Verified on master - ui tag: `wangsiye/longhorn-ui:8de351f`**

Validation: **`PASSED`**

- Navigate to Backup --> Backup list --> Labels
- `Kubernetes Status When Backup Created` is seen

<img width="794" alt="Screen Shot 2020-05-14 at 10 35 30 AM" src="https://user-images.githubusercontent.com/26032343/81966719-bde62680-95ce-11ea-90ae-f97e46ef26bd.png">

[2020-05-14 17:38] sowmyav27 commented on #1270
@yasker I consciously powered down a node where a replica was deployed. I am not sure how to find out which node is the volume attached to. How can we check this?

[2020-05-14 17:48] yasker commented on #1270
See the `Attached To` field.

[2020-05-14 17:59] yasker commented on #1314
@dmayle I am not sure how would you able to bring up one on the second installation. By changing the StorageClass name?

For Longhorn upgrade, manager part is separated from engine part. You can upgrade the manager, and even when managers are upgraded, we will make sure the existing attached volume on the old engine version won't be affected (except for the rebuild/snapshot etc functions). Then yo

[2020-05-14 19:25] sowmyav27 commented on #1308
Verified by applying the latest fixes to a private repo.

Launch Longhorn app in a project --> Apps in Rancher
"Customize Default Setting" is available.

<img width="1363" alt="Screen Shot 2020-05-14 at 12 20 44 PM" src="https://user-images.githubusercontent.com/26032343/81976633-afebd200-95dd-11ea-9a88-df52027bec4c.png">

When select "true" and enter different values for replicas, etc. Launch the

[2020-05-14 19:55] sowmyav27 commented on #1097
**Verified in `https://staging.longhorn.io/`**

Can we change the following texts

1. `Longhorn manager would report errors in the log when this happened:` **to** `Longhorn manager would report errors in the log when this happens:`
2. `it’s known Kubernetes limitaion that label value should be no more than 63 characters` **to** `It’s a known Kubernetes limitation that label value should be no more

[2020-05-14 20:08] yasker commented on #1097
@sowmyav27 : @catherineluse is working on the document. She has a new PR to update some of the documentations. Can you check https://github.com/longhorn/website/pull/104/commits to see if the air gap part looks to you?

[2020-05-14 20:24] sowmyav27 commented on #1097
@yasker I verified air gap in this PR. https://github.com/longhorn/website/pull/104/commits

I have one comment (from my previous one)

We could change

`It's highly recommended not to manipulate image tags, especially instance manager image tags such as v1_20200301, because we intentionally used the date to avoid associating it with a Longhorn version.`

**to**

`It's highly recommended not to ma

[2020-05-14 20:28] yasker commented on #1097
@sowmyav27 Can you leave the comment in the PR? Thanks.

[2020-05-14 20:37] sowmyav27 opened #1345 "[BUG] Default value for Guaranteed Engine CPU setting is 0"
**Describe the bug**
Default value for Guaranteed Engine CPU setting is 0

**To Reproduce**
Currently the default value is 0.

**Expected behavior**
Should not be zero.

**Environment:**
 - Longhorn version: master (05/13/2020)

[2020-05-14 20:39] yasker commented on #1345
This value has a few implications, but I think you're right. It shouldn't be zero by default.

[2020-05-14 20:52] sowmyav27 commented on #1319
**Verified in master, ui tag: `wangsiye/longhorn-ui:8de351f`**

Validation: **`PASSED`**

- Create a volume, pv,pvc and attach it to a workload/pod
- Take a backup
- In S3 (backup target), change the name of the backup file to volume.cfg.tmp
- Navigate to Backup page
- The backup has an error.
- Click on the Operation dropdown for the backup.
- `Create Disaster Recovery Volume` option is seen disa

[2020-05-14 20:56] garrmark opened #1346 "[BUG] Backups - mount.nfs4: rpc.statd is not running but is required for remote locking"
**Describe the bug**
I have set up a remote nfs share to send backups to, but when I try and run a backup, the replica-manager.log has the following error:

2020-05-14T20:21:51.904487922Z [pvc-8375a62c-4265-42db-9416-57d42dcea128-r-dff401ae] time="2020-05-14T20:21:51Z" level=error msg="Error creating backup: Cannot mount nfs mynas:/backup/longhorn-backup/test-kube: Failed to execute: mount [-t nfs

[2020-05-14 20:59] yasker commented on #1346
@garrmark Can you try to install `nfs-common` on your host?

[2020-05-14 21:02] sowmyav27 commented on #1338
**Verified on master, UI tag: `wangsiye/longhorn-ui:8de351f`**

**Validation: `PASSED`**

- Color of the OK buttons in the Dashboard page, Column filters are consistent.
<img width="811" alt="Screen Shot 2020-05-14 at 2 01 18 PM" src="https://user-images.githubusercontent.com/26032343/81985685-702be700-95eb-11ea-9fb0-7b9479a1c5ea.png">

<img width="925" alt="Screen Shot 2020-05-14 at 2 01 22 PM" s

[2020-05-14 21:11] joshimoo commented on #1346
@garrmark From the logs, it looks like you are missing `nfs-common` on your ubuntu nodes.
ref: [nfs-common](https://packages.ubuntu.com/bionic/nfs-common)
ref: [rpc.statd](https://manpages.ubuntu.com/manpages/precise/man8/rpc.statd.8.html)

[2020-05-14 21:37] boknowswiki commented on #1287
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] ~~**if la

[2020-05-14 21:50] meldafrawi commented on #1261
Validation: **PASSED**

[2020-05-14 21:50] #1261 closed

[2020-05-14 21:50] khushboo-rancher commented on #1328
@yasker ignore my previous comment, I am seeing different behavior in latest master build. I don't see volume stuck in attaching state anymore.

1. Rebooted the node where volume was attached. - Volume stuck in attaching/detaching recursive state.
2. Rebooted the node that volume was not attached to - DRV completed the restoring  with degraded status.

[2020-05-14 22:44] khushboo-rancher commented on #1267
Verified in master - 9069373 commit id
Verification- **Passed**

Backups are getting deleted after reaching over retain count.

Steps followed to test:
1. Created a volume(3 replicas) and attached it to a pod.
2. Created a backup b1.
2. Enable recurring backup with count 5.
3. After system takes 5 backups, Scaled down the workload to 0 and reverted to b1.
4. Scaled up the workload volume got attac

[2020-05-14 22:45] #1267 closed

[2020-05-14 22:51] yasker commented on #307
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] **if labe

[2020-05-14 23:02] yasker commented on #1328
@khushboo-rancher That's good news. So which case is this issue originally about? I want to make sure we have separate issues for separate cases.

[2020-05-15 00:09] khushboo-rancher commented on #1328
Originally, the issue was if a node(volume not attached to this node) where a replica was running rebooted while restore was in progress, it was stuck in attaching state forever.

Now, the above case doesn't have problem but if the attached node is rebooted volume gets stuck in attaching/detaching state.

[2020-05-15 00:25] yasker commented on #1328
@khushboo-rancher Let's either open a new issue for the reboot the attached node case, or repurpose this issue for that. If we want to repurpose this issue, you can update the first comment to reflect that, make sure it's about `reboot the attached node` only. Also mention the update is due to comment e.g. https://github.com/longhorn/longhorn/issues/1328#issuecomment-628950378

[2020-05-15 00:48] yasker commented on #307
Test steps are the same as the test case skeleton. No additional manual test required.

[2020-05-15 00:53] yasker opened #1348 "Sync up setting description with website document for 1.0.0"

[2020-05-15 00:53] yasker commented on #307
Filed https://github.com/longhorn/longhorn/issues/1348 for setting doc.

[2020-05-15 01:12] yasker commented on #1288
@sowmyav27 This issue doesn't require e2e test. So you can close it after it's verified.

[2020-05-15 01:41] #1288 closed

[2020-05-15 02:09] yasker commented on #1345
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] ~~**If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?~~
* [ ] ~

[2020-05-15 02:11] yasker opened #1349 "Sync up manager deployment's latest setting with the chart default setting"

[2020-05-15 02:12] yasker commented on #1345
To check, deploy a new Longhorn cluster using yaml from Longhorn manager. The default setting of GuaranteedEngineCPU should be 0.25.

The instance managers should have guaranteed 250M CPU set in the pod spec.

[2020-05-15 02:50] sowmyav27 opened #1350 "[BUG] "Attached To" column is inconsistent for a volume attached to a node vs volume attached to a workload"
**Describe the bug**
"Attached To" column is inconsistent for a volume attached to a node vs volume attached to a workload

**To Reproduce**
Volume - vol1
Workloads - W1, W2
Hosts - h1,h2,h3

1. Deploy a vol1 and attach to W1
2. As seen on Volumes page - State: "Healthy" Vol1  Attached to: W1 on h1 (white background)
3. Delete W1 (detach from W1)
4. As seen on Volumes page - State: Detached Vol1

[2020-05-15 04:03] shuo-wu commented on #1336
There are some weird/wrong behaviors after deleting the engine manager:
1. Stopping the errored engine takes a long time (about 1 minute).
2. The volume will be reattached automatically.
3. The volume will become `Ready` after the automatic reattachment and detachment.

Ideally, the engine should be `stopped `and the volume should be Faulted after the engine manager deletion. And this shouldn't ta

[2020-05-15 04:04] yasker commented on #1350
White background is current status. Yellow background means it was used but it wasn't now. The tooltip or click the `Attached To` label should give you an explanation.

[2020-05-15 04:05] shuo-wu commented on #1337
Regarding #1336:

This is a derived negative case from #1260

Need to do more investigation along with #1270 and #1328.

[2020-05-15 04:21] shuo-wu commented on #1337
Regarding #1270, there are 2 parts for this issue.
(The PR for the 1st part: https://github.com/longhorn/longhorn-manager/pull/553)

---
The 1st part:

The derived issue/improvement: We can enable the rebuild later by directly starting restoring data for new replicas. (#1279)

---
The 2nd part:
The restore volume doesn't act as expected if the node is down during the restore.

(For the 2nd case)

[2020-05-15 04:25] shuo-wu commented on #1337
Regarding #1328:

This is a derived negative case from #1260

Need to do more investigation along with #1336 and #1270.

[2020-05-15 04:33] shuo-wu commented on #1337
Regarding #1327:

[2020-05-15 05:29] yasker commented on #1327
@sowmyav27 can you check if this case applies to the node that volume attached to, or the node that only have the replica?

[2020-05-15 06:06] sowmyav27 commented on #1327
@yasker This issue https://github.com/longhorn/longhorn/issues/1327#issue-616942796 happens when the network on the node in which restored volume is attached is disconnected for around 100 seconds.

In case where the network on a node, where a replica is scheduled is disconnected, the replica is in "Failed" state. restoration happens and the volume is in detached mode.

[2020-05-15 06:10] sowmyav27 commented on #1350
@yasker

After Step 9 from above,

The volume is actually attached on H3 only

But in the `Attached to` section - the whole of test - W2 on H3 in a yellow background gives an incorrect impression to the user that the volume was previously attached to W2 on H3. Whereas the volume is currently ONLY attach to H3 (which should be represented with a white background)

[2020-05-15 06:11] yasker commented on #1327
@sowmyav27 Got it. Can you clarify that in the original comment? We want to make sure it's up to date and as accurate as possible since it only mentioned `Network of one of the nodes is disconnected`

[2020-05-15 12:03] garrmark commented on #1346
Thanks for the suggestion, but nfs-common is installed on all of my hosts:
[code]

[2020-05-15 12:03] garrmark commented on #1346
I can also nfs mount the shares directly to the nodes.

[2020-05-15 13:18] shuo-wu commented on #1240
The causes of this issue:
1. There are frontend leftovers (ISCSI target) after the SIGKILL.
2. The frontend leftovers cannot be cleaned up correctly during the engine restarts.
    Since there is no parameter set when the 1st time the new engine process tries to start up the frontend then the shutdown doesn't work:
https://github.com/longhorn/longhorn-engine/blob/8df2fb156e35d86402314df69a619470ec

[2020-05-15 14:08] yasker commented on #1350
@sowmyav27 Until another workload starts to use it, it doesn't make sense to remove the previous workload information just because the volume was attached to a different node, because the user can perform some maintenance work or inspect the volume manually. That's why the history information is only related to the workload, not the attached node. If we remove the history information just because

[2020-05-15 14:30] shuo-wu commented on #1240
Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [x] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [x] ~~**i

[2020-05-15 16:35] boknowswiki commented on #1291
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ]~~**if

[2020-05-15 17:35] sowmyav27 commented on #1350
@yasker it makes sense, thank you. However, when the the text that says it is currently "on a host h1" is also in a yellow background, that gives an incorrect impression to the user that that part is also history.

[2020-05-15 17:37] yasker commented on #1350
@smallteeths Can you make the background different for the attached node and history Kubernetes status information in this case?

[2020-05-15 18:44] boknowswiki commented on #1282
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] ~~Is the reproduce steps/test steps documented?~~
* [ ] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] ~~**If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?~~
* [

[2020-05-15 19:49] yasker commented on #1332
Also, remember to add to the best practice guide.

[2020-05-15 20:38] catherineluse opened #1352 "[DOC] Review doc about Longhorn on K3s and update if necessary"
We have some specific steps for installing Longhorn on a K3s cluster. This page https://longhorn.io/docs/0.8.1/advanced-resources/os-distro-specific/csi-on-k3s/ should be reviewed to make sure the custom setup is still necessary, because there have been some fixes since the document was written.

[2020-05-15 21:16] meldafrawi opened #1353 "[BUG] Nightly Upgrade Test: test_backup_labels sometimes failed"
**Describe the bug**
sometimes `test_backup_labels`  test failed after upgrade

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn v0.8.0
2. Upgrade Longhorn to `master`
3. Run `test_backup_labels` test

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
 - Longhorn version: master
 - Kubernetes version: v1.17.2
 - Node OS type and version: Ubuntu 18.04

**

[2020-05-15 21:18] meldafrawi commented on #1325
test failed again in: `longhorn-tests/429`

**logs:**
[code]

[2020-05-15 21:22] meldafrawi opened #1354 "[BUG] Nightly Test: test_recurring_job sometimes failed"
**Describe the bug**
sometimes `test_recurring_job` test failed

**To Reproduce**
Install Longhorn `master`
Run `test_recurring_job`

**Expected behavior**
test should pass

**Log**
[code]

**Environment:**
- Longhorn version: master
- Kubernetes version: v1.17
- Node OS type and version: Ubuntu 18.04

**Additional context**
Jenkins build num: longhorn-tests/429

[2020-05-15 21:34] khushboo-rancher commented on #1341
I tried concurrent backup creation with S3 backup store couple of times, didn't see the issue with that.

[2020-05-15 21:43] sowmyav27 opened #1355 "[BUG] Replicas stuck in Restoring mode when the node where restore volume attached to is powered down"
**Describe the bug**
Replicas stuck in Restoring mode when the node where restore volume attached to is powered down

**To Reproduce**
**Scenario-1**
- Restore from a backup to vol-1
- while the restore is in progress, **power down a worker node**.
- A replica fails and gets deleted (when seen from UI)
- The other two replica are seen in "restoring" state since long. In the API failed replica stil

[2020-05-15 21:44] sowmyav27 commented on #1270
Logged bug https://github.com/longhorn/longhorn/issues/1355 to track this issue separately - https://github.com/longhorn/longhorn/issues/1270#issuecomment-627059336 as otherwise the original issue is seen fixed - https://github.com/longhorn/longhorn/issues/1270#issue-608665927

[2020-05-15 21:44] sowmyav27 commented on #1355
Related info:
- https://github.com/longhorn/longhorn/issues/1270#issuecomment-627963519
- https://github.com/longhorn/longhorn/issues/1270#issuecomment-628565848

[2020-05-15 21:48] yasker commented on #1341
@khushboo-rancher Thanks. Can you update the bug title and first comment as well to point out it's not an issue with S3?

[2020-05-15 21:53] sowmyav27 commented on #1345
**Verified on latest master - 05/15/2020**

Validation: **`PASSED`**

- `Guaranteed Engine CPU` is seen set as 0.25 on the Longhorn UI --> Settings page
- instance managers have 250M CPU
[code]
- kubectl describe node lists with 250M CPU set for each instance manager pod.
[code]

[2020-05-15 21:54] #1345 closed

[2020-05-15 22:03] yasker commented on #1282
@meldafrawi I suspect the default change for soft anti-affinity might cause issues in the integration test case. Can you run the full integration tests using the latest merged code?

[2020-05-15 22:31] sowmyav27 commented on #1331
@yasker Verified using the below steps

- Vol - v1 is attached on N1 and on workload - wk01
- There are 3 replicas - on N1, N2 and N3
- Write data into the volume. Take a backup.
- Do a `kill <PID>` in the instance manager on n1
- Backup fails and no backup is seen in backup --> backup List page
- The volume is seen in detached state
- However replicas on N2 and N3 are in failed state. and now are

[2020-05-15 22:46] sowmyav27 commented on #1260
**Verified on master - 05/15/2020**

Validation: **`PASSED`**

- Create a volume and a backup
- Invalidate the target URL in Settings page.
- Restore from backup into a volume - v1
- The volume v1 is seen. in Healthy. state for a second ( approx)
- The volume is then in "Faulted" state in Volume detail page.
- Backup restore - fails in this case - which is expected

[2020-05-15 22:51] sowmyav27 opened #1356 "[BUG] Create PV/PVC option is enabled for a volume which is in Faulted state because of failure in backup restoration"
**Describe the bug**
Create PV/PVC option is enabled for a volume which is in Faulted state because of failure in backup restoration

**To Reproduce**
- Create a volume and a backup
- Invalidate the target URL in Settings page.
- Restore from backup into a volume - v1
- The volume v1 is seen. in Healthy. state for a second ( approx)
- The volume is then in "Faulted" state in Volume detail page.
-

[2020-05-15 22:51] sowmyav27 commented on #1255
**Verified on master - 05/15/2020**

Validation: **`PASSED`**

- Create a volume and a backup
- Invalidate the target URL in Settings page.
- Restore from backup into a volume - v1
- The volume v1 is seen. in Healthy. state for a second ( approx)
- The volume is then in "Faulted" state in Volume detail page.
- Backup restore - fails in this case - which is expected
- Volume details page shows stat

[2020-05-15 22:51] #1255 closed

[2020-05-15 22:58] sowmyav27 opened #1357 "[BUG] User is not presented with any warning when user detaches a volume currently used by a workload"
**Describe the bug**
User is not presented with any warning when user detaches a volume currently used by a workload

**To Reproduce**
Currently user is able to detach a volume in use by a workload and is attached to node1. But this will corrupt the mount point of the workload on node1. And when the user attaches it back on a node, the volume will still not be useful.

**Expected behavior**
User s

[2020-05-15 23:01] yasker commented on #1331
@sowmyav27 This is the inconsistency due to the engine crash. Sounds like there is data hasn't been written to replicas on N2 and N3 yet before the engine crashed. The result is the replica on N1 has newer data on N2 and N3. I don't think it's reproducible every time, especially we stopped writing data to the volume before the engine crashed (you can run a `sync` in the pod to make sure the data h

[2020-05-15 23:17] yasker commented on #1357
Design:
1. If the volume isn't currently related to a Kubernetes pod (check Kubernetes status), change nothing.
2. If the volume is currently related to a Kubernetes pod, show below when user try to detach the volume:
[code]

The last line is a checkbox. Before the user checks the checkbox, the `OK` button should be greyed out.

[2020-05-15 23:29] sowmyav27 commented on #1331
**Steps:**

- Vol - v1 is attached on N1 and on workload - wk01
- There are 3 replicas - on N1, N2 and N3
- Write data into the volume. Run `sync` on the pod
- Take a backup
- While backup is in progress, Do a kill <PID> in the instance manager on n1
- Backup fails and no backup is seen in backup --> backup List page
- No replica rebuild is seen.

[2020-05-15 23:40] sowmyav27 opened #1358 "[BUG] When a volume is detached when in use by a workload and attached back to a host, the volume is not accessible automatically in the workload"
**Describe the bug**
When a volume is detached when in use by a workload and attached back to a host, the volume is not accessible automatically in the workload

**To Reproduce**

- Create a volume, attach it to a workload.- wk01.
- Volume is seen `Attached To`: "wk01 on node 1" on Longhorn UI.
- Detach the volume from the node from longhorn UI.
- The volume is still seen attached to workload wk01

[2020-05-16 00:01] yasker commented on #1346
@garrmark which version of NFS server you're using? We only support NFSv4+.

[2020-05-16 01:12] sowmyav27 commented on #1331
Closing the issue, as the result (https://github.com/longhorn/longhorn/issues/1331#issuecomment-629547552) is as expected.

[2020-05-16 01:12] #1331 closed

[2020-05-16 01:51] joshimoo commented on #1326
@sowmyav27 To help with the repro case. the logs show that there was a backup delete request executed potentially while the prior backup create request was still not complete.

`
2020-05-12T18:45:41.194758991Z 24.130.226.140 - - [12/May/2020:18:45:40 +0000] "POST /v1/volumes/vol-2?action=snapshotCreate

2020-05-12T18:45:41.294533387Z 24.130.226.140 - - [12/May/2020:18:45:41 +0000] "POST /v1/volume

[2020-05-17 22:21] yasker commented on #1339
This look like caused by the snapshot coalescing process, but I failed to reproduce this problem in a Ubuntu 18.04 + RKE (ext4 on the host) Longhorn setup. Steps:
1. Create a Longhorn volume, attach it to one of the node, format it and mount it to e.g `/mnt/tmp`.
2. Write an 5 GB file using `dd if=/dev/urandom of=file1 bs=1M count=5000` into the disk (mounted on `/mnt/tmp`).
3. Create snapshot S1

[2020-05-17 22:23] yasker commented on #1358
Per our discussion, the steps after detaching the volume when a pod is running will be the responsibility for the user, rather than Longhorn.

[2020-05-17 22:43] yasker commented on #1318
Move to v1.0.1.

Note: it's better if we can merge this change with taint tolerance change resulted in the recreate of instance managers etc.

[2020-05-18 02:12] yasker commented on #870
Reproduced it while overcommitted instance manager's CPU when working on #1318 .

[2020-05-18 03:35] smallteeths commented on #1350
The attached node is always up to date, so no yellow background is needed.
Am i getting it right @yasker @sowmyav27
![Jietu20200518-113416](https://user-images.githubusercontent.com/27733391/82172030-97d8c300-98fb-11ea-93d3-522ab1a0542f.jpg)

[2020-05-18 04:16] yasker commented on #1350
@smallteeths Yes, this screenshot looks right.

[2020-05-18 05:24] yasker commented on #1318
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] **if labe

[2020-05-18 05:25] yasker commented on #1318
Check the automation test case for the test steps.

[2020-05-18 05:26] yasker commented on #1318
We've added a setting section called `Danger Zone`. UI can show a red frame (instead of grey) for the `Danger Zone` settings.

[2020-05-18 09:00] smallteeths commented on #1318
Modify as shown
![Jietu20200518-165919](https://user-images.githubusercontent.com/27733391/82194268-18fa7f00-9929-11ea-8967-5bb4c5b35eaa.jpg)

[2020-05-18 10:58] shuo-wu commented on #1336
The explanations for the issue and the behaviors mentioned above:
1. Since there is no process existing in the newly recreated engine manager, the engine manager needs to wait for 60s to refresh the instance map. This part is fine and we don't need to do anything for it.

2. When the Longhorn tries to reattach the volume, `v.Status.CurrentNodeID` will be cleaned up since the volume needs to be det

[2020-05-18 15:32] dnoland1 commented on #1339
I tried the steps above and was not able to reproduce the issue. I only saw this problem on one node in a two node k3s cluster. I have 6 nearly identical clusters and only seen this issue once. Not sure how to reproduce the issue. If it helps, I did generate a support bundle at the time the problem occurred. See [zd-10093](https://rancher.zendesk.com/agent/tickets/10093).

[2020-05-18 16:22] yasker commented on #1214
@dnoland1 Do you know if there is a way we can reproduce this? We've committed a fix for an obvious issue but unable to reproduce the issue before the fix.

[2020-05-18 16:49] sowmyav27 commented on #1308
Verified the change
<img width="849" alt="Screen Shot 2020-05-18 at 9 48 26 AM" src="https://user-images.githubusercontent.com/26032343/82238862-c9965d80-98ec-11ea-9341-0ab58bb79795.png">

[2020-05-18 16:49] #1308 closed

[2020-05-18 17:08] sowmyav27 commented on #1350
**Verified on master using UI image: `wangsiye/longhorn-ui:941d022`**

Validation: **`PASSED`**

- History has workload in a yellow background and the current node the volume is attached to is in white background.
<img width="1600" alt="Screen Shot 2020-05-18 at 10 01 26 AM" src="https://user-images.githubusercontent.com/26032343/82240534-6e199f00-98ef-11ea-8afa-6959c3427ccf.png">

[2020-05-18 17:34] sowmyav27 commented on #1357
Verified on `wangsiye/longhorn-ui:941d022`

The warning message is available when a user tries to detach a volume currently attached to a workload.
<img width="788" alt="Screen Shot 2020-05-18 at 10 29 50 AM" src="https://user-images.githubusercontent.com/26032343/82242475-c00ff400-98f2-11ea-8182-6c88af05c4a0.png">

But can we change the text to this:
[code]

[2020-05-18 17:39] yasker commented on #1357
@sowmyav27 I am fine with it.

[2020-05-18 18:22] sowmyav27 commented on #1318
**Verified on latest master - 05/18/2020 and UI tag: `wangsiye/longhorn-ui:941d022`**

- Verified with the following Guaranteed Engine CPU setting values

- - 0.2 -  instance manager pods are seen with 200m CPU requests on all nodes
- - 0.1 -  instance manager pods are seen with 100m CPU requests on all nodes
- - 200m - instance manager pods are seen with 200m CPU requests on all nodes
- - 10 - Th

[2020-05-18 18:52] sowmyav27 commented on #1356
**Verified on master, ui tag: `wangsiye/longhorn-ui:941d022`**

Validation: **`PASSED`**

- Create a volume and a backup
- Invalidate the target URL in Settings page.
- Restore from backup into a volume - v1
- The volume v1 is seen. in Healthy. state for a second ( approx)
- The volume is then in "Faulted" state in Volume detail page.
- Backup restore - fails in this case - which is expected
- Cre

[2020-05-18 18:59] yasker opened #1359 "UI: Show up the volume, node, disk conditions"
Currently, the volume, node, disk objects all have conditions that may provide extra information to the user about why something doesn't work.

We need to have a way to show those conditions in the UI, in additional to handle each condition separately.

[2020-05-18 19:20] sowmyav27 commented on #1359
Related use case for this issue:

- When the volume is faulted during a backup restoration process because of an invalid target URL, the UI presents option Salvage to the user.
- On clicking Salvage, and selecting 1 replica, the replica is seen running.

<img width="1315" alt="Screen Shot 2020-05-18 at 11 52 51 AM" src="https://user-images.githubusercontent.com/26032343/82251417-03be2a00-9902-11ea

[2020-05-18 19:22] sowmyav27 commented on #1287
**Verified on latest master - 05/18/2020 - ui tag: `wangsiye/longhorn-ui:941d022`**

When a node is cordoned in Rancher, the node shows up as `Unschedulable` in Longhorn.

[2020-05-18 21:04] yasker commented on #1208
@joshimoo We need to give the user a choice to use it in SLES 12 SP3.

[2020-05-18 21:06] boknowswiki commented on #1287
@meldafrawi , I will start to work on this test case today. Just make sure we don't duplicate our work. Please let me know if you have worked on this issue already.

[2020-05-18 21:16] sowmyav27 opened #1360 "[BUG] Ready for workload incorrectly marked Ready when the volume fails because of "Replica Scheduling Failure""
**Describe the bug**
Ready for workload incorrectly marked Ready when the volume fails because of "Replica Scheduling Failure"

**To Reproduce**

- Number of worker nodes - 4
- Cordon a worker node. Node is marked "Unschedulable"
- Deploy a volume with 4 replicas in Longhorn
- Volume is in detached state with `Scheduling Failure Replica Scheduling Failure` and `Ready for workload:Ready`

**Expecte

[2020-05-18 21:20] sowmyav27 opened #1361 "[BUG] Restore is successful even when there is "Replica Scheduling Failure" during a backup restore of volume"
**Describe the bug**
Restore is successful even when there is "Replica Scheduling Failure" during a backup restore of volume

**To Reproduce**

- Number of worker nodes - 4
- Cordon a worker node. Node is marked "Unschedulable"
- Restore from a backup with replicas - 4.
- The volume is seen in `Replica Scheduling Failure` state. But the restoring happens on the remaining healthy replicas.

**Expec

[2020-05-18 21:32] sowmyav27 commented on #990
Verified on master - 05/18/2020

@yasker The event log has the "expand" button also along with `+` on the UI.
Do we want it like this?
<img width="1873" alt="Screen Shot 2020-05-18 at 2 30 14 PM" src="https://user-images.githubusercontent.com/26032343/82261680-586aa080-9914-11ea-957b-576a3464e775.png">

[2020-05-18 21:35] yasker commented on #990
@sowmyav27 Good question. How about removing the `Expand` button on the right? And add a tooltip to the `+` say `Click to expand`/`Click to Collapse`

[2020-05-18 21:43] sowmyav27 commented on #1211
Verified on master - 05/18/2020

Create a volume, pv,pvc and attach it to a workload/pod
Take a backup
In S3 (backup target), change the name of the backup file to volume.cfg.tmp
Navigate to Backup page and the backup seen on the UI has an error message
<img width="1843" alt="Screen Shot 2020-05-18 at 2 33 17 PM" src="https://user-images.githubusercontent.com/26032343/82261919-c8792680-9914-11ea-8

[2020-05-18 21:43] #1211 closed

[2020-05-18 21:46] sowmyav27 commented on #1320
**Verified on master - 05/18/2020**

Steps:
In S3, edit a backup file - make it an invalid json data - (removed "}}" from the file in the end)
Save the file and upload it back to S3.
Go to Backup --> Backup list page
Error is seen on the UI.
<img width="724" alt="Screen Shot 2020-05-18 at 2 45 37 PM" src="https://user-images.githubusercontent.com/26032343/82262727-4b4eb100-9916-11ea-8f47-b1413e020

[2020-05-18 21:46] #1320 closed

[2020-05-18 21:46] yasker commented on #1258
Both issues are fixed.

[2020-05-18 21:47] sowmyav27 commented on #1316
**Validated on master - 05/18/2020**

**Steps:**

- Create a volume in longhorn and attach it to a workload wk01.
- The Pod Status on the UI in the volume page - shows the correct status of the pod - Pending/Running.
- Delete the workload wk01 in Rancher.
- Last time used by Pod field is seen on the UI in the Workload/Pod pop up
- The spacing between the field Last time used by Pod and other field

[2020-05-18 21:47] #1316 closed

[2020-05-18 21:48] sowmyav27 commented on #1317
**Validated on master - 05/18/2020**

- Backup Labels have `Created Time` field now.
<img width="815" alt="Screen Shot 2020-05-18 at 2 47 59 PM" src="https://user-images.githubusercontent.com/26032343/82262882-9d8fd200-9916-11ea-95a0-20ec44fbb48f.png">

[2020-05-18 21:48] #1317 closed

[2020-05-18 21:51] sowmyav27 commented on #1299
**Validated on master - 05/18/2020**

- Revert confirmation of a snapshot window is seen displayed in the middle of the web page.
<img width="801" alt="Screen Shot 2020-05-18 at 2 50 54 PM" src="https://user-images.githubusercontent.com/26032343/82263106-0b3bfe00-9917-11ea-935e-21de425f12a2.png">

[2020-05-18 21:51] #1299 closed

[2020-05-18 21:54] sowmyav27 commented on #1194
**Validated on master - 05/18/2020**

- Create a volume in longhorn and attach it to a workload wk01.
- The Pod Status on the UI in the volume page - shows the correct status of the pod - Pending/Running.

<img width="555" alt="Screen Shot 2020-05-18 at 2 53 27 PM" src="https://user-images.githubusercontent.com/26032343/82263274-62da6980-9917-11ea-9f1c-ca6f422cebc3.png">

- Delete workload wk01.
-

[2020-05-18 21:54] #1194 closed

[2020-05-18 21:55] sowmyav27 commented on #990
@yasker This https://github.com/longhorn/longhorn/issues/990#issuecomment-630448029 sounds good.

[2020-05-18 21:57] sowmyav27 commented on #1338
**Validated on master - 05/18/2020**

- Color of the OK buttons in the Dashboard page, Column filters are consistent.

<img width="1148" alt="Screen Shot 2020-05-18 at 2 57 06 PM" src="https://user-images.githubusercontent.com/26032343/82263511-e8f6b000-9917-11ea-9071-1a1d905c70b8.png">
<img width="1104" alt="Screen Shot 2020-05-18 at 2 57 14 PM" src="https://user-images.githubusercontent.com/2603

[2020-05-18 21:57] #1338 closed

[2020-05-18 22:03] sowmyav27 commented on #1319
**Validated on master - 05/18/2020**

- Create a volume, pv,pvc and attach it to a workload/pod
- Take a backup
- In S3 (backup target), change the name of the backup file to volume.cfg.tmp
- Navigate to Backup page
- The backup has an error.
- Click on the Operation dropdown for the backup.
- Create Disaster Recovery Volume option is seen disabled
<img width="1844" alt="Screen Shot 2020-05-18 at

[2020-05-18 22:03] #1319 closed

[2020-05-18 22:07] sowmyav27 commented on #1198
**Validated on master - 05/18/2020**

**Issue#1 Validation**
In Dashboard --> SubObject column is not present
<img width="1881" alt="Screen Shot 2020-05-18 at 3 05 56 PM" src="https://user-images.githubusercontent.com/26032343/82264108-2576db80-9919-11ea-9fed-9c8687009269.png">

**Issue#2 Validation**
Column header is highlighted like it does for other column headers
<img width="1881" alt="Screen

[2020-05-18 22:07] #1198 closed

[2020-05-18 22:13] sowmyav27 commented on #1321
**Verified on master - 05/18/2020**

- In S3, edit a backup file - make it an invalid json data - (removed "}}" from the file in the end)
- Save the file and upload it back to S3.
- Go to Backup --> Backup list page
- Error is seen on the UI.

<img width="1853" alt="Screen Shot 2020-05-18 at 3 11 49 PM" src="https://user-images.githubusercontent.com/26032343/82264583-0cbaf580-991a-11ea-947e-55beb4

[2020-05-18 22:13] #1321 closed

[2020-05-18 22:27] sowmyav27 commented on #1282
**Validated on master - 05/18/2020**

- In longhorn settings page -
`Replica Zone Level Soft Anti-Affinity:` : True
`Replica Node Level Soft Anti-Affinity:` : False

[2020-05-18 23:37] yasker commented on #1097
@meldafrawi remember to move this issue to `Merged` when the doc is merged.

[2020-05-18 23:39] joshimoo opened #1362 "Remount Failure is not correctly signaled"
**Describe the bug**
There are cases in which we fail a remount but aren't returning error.
Now the system thinks the device has been remounted, one of these cases is unable to detect filesystem.

**Expected behavior**
System should signal Remount failure if a Remount is required.

**Log**
[code]

**Environment:**
 - Longhorn version: 0.8.1

**Additional context**
[Expects Error](https://github.co

[2020-05-18 23:45] #1258 closed

[2020-05-19 03:31] yasker commented on #990
@smallteeths ^^

[2020-05-19 03:35] sowmyav27 commented on #307
**Verified on master - 05/18/2020**

**Steps:**

**Scenario#1**
- In a custom cluster - 5 worker nodes, cordon W1
- Create 5 volumes with 4 replicas each. Use in 5 different workloads and write data into the volume.
- Set `Replica Rebuild Concurrent Limit` to 3 in the Settings page
- Uncordon W1.
- Delete W2.
- All the volumes will be in degraded state
- 3 out of the 5 volumes are picked for repli

[2020-05-19 03:46] yasker commented on #307
@sowmyav27 on scenario 2, what does `On all the nodes, 1 replica is in Rebuilding process.` mean? We have 4 nodes now, does that mean all four nodes are rebuilding (instead of suppose 2)? Also, I don't understand `replicas on 2 worker nodes are picked for rebuilding.` or `When 1 finishes, the remaining 3 - now total - 4 replicas on 4 different nodes are in rebuilding state at the same time.`

[2020-05-19 03:58] yasker commented on #307
@sowmyav27 nvm, I've reproduced the issue. It seems due to the cache of Kubernetes lister on each node delayed a bit, result in a race condition while calculating the total number. Let me see if it works if we changed it to per-node limit.

[2020-05-19 04:00] sowmyav27 commented on #1357
**Verified on u tag: `wangsiye/longhorn-ui:9871b3c`**

Validation: **`PASSED`**

- Warning text is now
[code]

[2020-05-19 05:31] dnoland1 commented on #1214
@yasker I was able to reproduce this issue once after two tries. Used a two node k3s cluster with volumes of a replica of 2. I drained and remove 1st node. Terminated the VM and added a replacement VM. Once the new node's replicas were synced, I drained and removed the second k3s node, terminated the VM, added a replacement. In longhorn I could not remove the down node in the UI and volume was stu

[2020-05-19 05:36] joshimoo commented on #820
Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [ ] Is the reproduce steps/test steps documented?
* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [ ] **if labe

[2020-05-19 05:36] shuo-wu opened #1363 "[BUG] Removing old instance records after the new IM pod is launched will take 1 minute"
**Describe the bug**
If an instance manager pod crashes unexpectedly, all related instances will be marked as `ERROR` and the records will be retained for 1 minute even if the new pod is launched.

The issue is found during test #1336

**To Reproduce**
Steps to reproduce the behavior:
1. Clean up all volumes
2. Create a new volume and attach it to a node
3. Delete the related engine manager pod fo

[2020-05-19 05:43] sowmyav27 commented on #1291
**Reproduced the issue on 0.8.1 release**

**Steps:**

- Deploy Longhorn.
- Attach a new (Linux) disk/volume to one node. Then create an extra Longhorn disk for the corresponding Longhorn node, make the extra Longhorn disk schedulable.
- Delete the default disk for the Longhorn node.
- Umount that extra (Linux) disk. Wait for the node becoming Unschedulable.
- Add back the default disk.
- Node doe

[2020-05-19 05:46] sowmyav27 commented on #1357
**Verified on master - 05/18/2020 - 22:00 PDT**

Warning text is as expected
<img width="881" alt="Screen Shot 2020-05-18 at 10 45 27 PM" src="https://user-images.githubusercontent.com/26032343/82289339-6b539400-9959-11ea-9692-84f8a2a8f44c.png">

[2020-05-19 05:46] #1357 closed

[2020-05-19 05:47] sowmyav27 commented on #1350
**Verified on master - 05/18/2020 - 22:00 PDT**
- History has workload in a yellow background and the current node the volume is attached to is in white background.
<img width="1654" alt="Screen Shot 2020-05-18 at 10 47 24 PM" src="https://user-images.githubusercontent.com/26032343/82289406-9807ab80-9959-11ea-8121-a44a0528f875.png">

[2020-05-19 05:47] #1350 closed

[2020-05-19 05:53] shuo-wu commented on #1336
Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?
* [ ] Is the backend code merged?
* [x] Is the reproduce steps/test steps documented?
* [x] ~~**If labeled: area/ui** Has the UI issue filed or ready to be merged?~~
* [ ] **If labeled: require-automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
* [x] ~~**i

[2020-05-19 05:59] sowmyav27 commented on #1356
**Verified on master - 05/18/2020 - 22:00 PDT**

Validation: **`PASSED`**

**Steps:**

- Create a volume and a backup
- Invalidate the target URL in Settings page.
- Restore from backup into a volume - v1
- The volume v1 is seen. in attaching/attached state for a few seconds.
- The volume is then in "Faulted" state in Volume detail page.
- Backup restore - fails in this case - which is expected
-

[2020-05-19 05:59] #1356 closed

[2020-05-19 06:00] shuo-wu commented on #1328
Manual test 1:
1. Create a pod with Longhorn volume.
2. Write data to the volume and get the md5sum.
3. Create the 1st backup for the volume.
4. Create a DR volume from the backup.
5. Wait for the DR volume starting the initial restore. Then reboot the DR volume attached node immediately.
6. Wait for the DR volume detached then reattached.
7. Wait for the DR volume restore complete after the reatt

[2020-05-19 06:02] sowmyav27 commented on #1318
**Validated on master - 05/18/2020 22:00 PDT**

Validation: **`PASSED`**

**Steps:**
- Ui shows Guaranteed Engine CPU under Danger Zone
<img width="1444" alt="Screen Shot 2020-05-18 at 10 33 28 PM" src="https://user-images.githubusercontent.com/26032343/82290301-6f80b100-995b-11ea-9e20-0166661b1480.png">

[2020-05-19 06:18] wopl commented on #941
Running Longhorn v0.8.1 i as well get a lot of zombie processes. Running k3s on a single node.

The parent process looks as follows:
`root      6992  6402  1 05:59 ?        00:02:18 longhorn-manager -d daemon --engine-image longhornio/longhorn-engine:v0.8.1 --instance-manager-image longhornio/longhorn-instance-manager:v1_20200301 --manager-image longhornio/longhorn-manager:v0.8.1 --service-account

[2020-05-19 06:23] shuo-wu commented on #1328
The attached node rebooting will lead to the engine crashing unexpectedly.
Hence this case is similar to #1336 and the fix for that case should work here. (It passed the above tests in my cluster)

@khushboo-rancher Can you verify if this issue is still reproducible after the PR gets merged?