[2022-04-28 02:06] PhanLe1010 commented on #3304
Assuming that the goal is `get rid of old versions of instance managers`, I have tested the following steps:
1. Stop the automatic engine upgrade
1. Cordon all nodes
1. For each node:
    1. drain by the command `kubectl drain --pod-selector='app!=csi-attacher,app!=csi-provisioner,[longhorn.io/component!=instance-manager,app!=longhorn-admission-webhook,app!=longhorn-conversion-webhook](http://long

[2022-04-28 04:51] fanlix opened #3901 "[BUG] image clone not usable"
sry

[2022-04-28 05:25] innobead opened #3902 "[TEST] Create an air-gap testing pipeline"
## What's the test to develop? Please describe

Based on https://longhorn.io/docs/latest/advanced-resources/deploy/airgap/#requirements, create an air-gap regression pipeline

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] A on-demand running pipeline to verify the air-gap test cases.

## Additional context

N/A

[2022-04-28 05:58] yangchiu opened #3903 "[TEST] measure CPU usage in benchmark test"
## What's the test to develop? Please describe

As discussed in [PR#939](https://github.com/longhorn/longhorn-tests/pull/939)
Think about a way to measure CPU usage (maybe using `kubectl top `periodically).

[2022-04-28 06:18] #3901 closed

[2022-04-28 07:40] cchien816 commented on #3880
When I tried using install Longhorn by chart https://github.com/longhorn/longhorn/tree/master/chart , longhorn-admission-webhook pod will throw below error :
[code]
This error make longhorn installation stuck and did not generate default storageclass.
With out storageclass, this improvement can not verify now.

 I will wait this [PR](https://github.com/longhorn/longhorn/pull/3899) merged then test

[2022-04-28 16:21] derekbit commented on #3888
@korenlev @korenlev
We are working on the improvement of the performance. As for trim, we need to do more investigation first.

[2022-04-29 01:15] derekbit commented on #3900
@michaelkoetter
Thanks for the investigation. We have a [ticket](https://github.com/longhorn/longhorn/issues/1409) tracking the backup performance and will have improvements.

[2022-04-29 01:25] derekbit commented on #3775
Handled and tracked in https://github.com/longhorn/longhorn/issues/685.

[2022-04-29 01:25] #3775 closed

[2022-04-29 01:39] cchien816 commented on #3880
**Validated on longhorn master-head 20220429
Result Failed**

After installed helm, clone longhorn repo and switched to longhorn/chart floder
1. Use default setting in values.yaml which `migratable: false`  and run command `helm install -n longhorn-system longhorn .` Longhorn can successfully installed but
2. If use `migratable: true` in  values.yaml and run command `helm install -n longhorn-syste

[2022-04-29 02:13] cchien816 commented on #3667
Close this issue since after resync time reverted all test case become stable, if new error bumps happen will create another one for tracking

[2022-04-29 02:13] #3667 closed

[2022-04-29 02:14] cchien816 commented on #3527
Close this issue since after resync time reverted all test cases in master branch become stable, if bunch number of failed cases happened will create another one for tracking

[2022-04-29 02:14] #3527 closed

[2022-04-29 02:19] cchien816 commented on #3892
Close this issue because after code merger, e2e pipeline on master branch can run properly, will no longer stopped at infra stage, thank you.

Before code merged's test [result](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/104/)
After code merged's  test [result](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles

[2022-04-29 02:19] #3892 closed

[2022-04-29 02:28] cchien816 opened #3905 "[BUG] Many e2e case failed by FileNotFoundError"
## Describe the bug

In e2e master build [107](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/107/) There were many cases failed by FileNotFoundError :
`FileNotFoundError: [Errno 2] No such file or directory: 'findmnt'`
`FileNotFoundError: [Errno 2] No such file or directory: 'mkfs.ext4'`

## To Reproduce

Steps to reproduce the behavior:
1. Observe e

[2022-04-29 02:35] innobead commented on #3905
@cchien816 good to follow up 👍

https://github.com/longhorn/longhorn-tests/pull/952 merged, so you can trigger another test to see if the problem is fixed.

[2022-04-29 03:51] mddeff opened #3906 "[BUG] Some volumes keep attaching/detaching in UI, workloads fail to mount"
## Describe the bug

VMs got into an inconsistant state (some OOM Kill/kernel panics).  After trying to reboot the vms, and then eventually restoring from ZFS snapshots on the qcow files backing the VMs, still can't get some of the volumes to attach/mount successfully

## To Reproduce

Unknown

## Expected behavior

The pods are able to attach and launch.

## Log or Support bundle

Attached.

## E

[2022-04-29 06:06] sharanbabumg opened #3907 "[IMPROVEMENT] liveness and readiness probes with longhorn csi plugin daemonset"
As of now after patching of our worker nodes are are rebooting every node after patching, but we ended up with pvc not able attach or mount issues and pods were stuck in container creating state only.

MountVolume.MountDevice failed for volume "pvc-d0af4c3e-355d-40db-88d5-cbec82fe3f00" : rpc error: code = Internal desc = Get "[http://longhorn-backend:9500/v1/volumes/pvc-d0af4c3e-355d-40db-88d5-cbe

[2022-04-29 13:15] drz9 commented on #3895
So basically we can figure out that we experience high CPU on that specific node, causing it to become unresponsive for a certain amount of time.
If I understand correctly, longhorn then cannot reach that node and the underlying PVC, causing it to become unresponsive and causing i/o timeouts / errors. This will lead to filesystem corruption in like 30% of cases, roughly estimated.
However, as far

[2022-04-30 07:39] koraykutanoglu commented on #3837
hello, this is very strange. There were no problems with our servers. My disk spaces were fine. I had enough space. However, the problem did not get fixed. We built the Kubernetes infrastructure and all the machines from scratch. The problem was resolved when we installed the latest version from scratch. However, we were never able to determine why these errors occurred. But one thing is doubtful.

[2022-04-30 07:39] #3837 closed

[2022-05-02 13:47] vanlueckn commented on #2259
@joshimoo Any news on this?

[2022-05-02 19:57] edantes-1845 commented on #2263
For expanding a Longhorn volume I do:
1. Stop workload with this volume
2. Longhorn UI: this volume has to have detached status
3. Delete PVC
4. Delete PV
5. Longhorn UI: expand volume
6. Longhorn UI: create PV/PVC
7. Start workload

[2022-05-03 01:53] cchien816 commented on #3905
Close this issue because after code merged, those FileNotFoundError not happened on pipeline.
The result can refer to build [108](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/108/), [109](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/109/), [110](https://ci.longhorn.io/job/public/job/master/job/sles/jo

[2022-05-03 01:53] #3905 closed

[2022-05-03 03:04] cchien816 commented on #3070
Close this issue
Verified on master head 20220503
1. This case was passed in [e2e](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/110/testReport/tests/test_ha/test_recovery_from_im_deletion/) master branch pipeline
2. This case was passed in [e2e](https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-tests-sles-amd64/85/testReport/tests/tes

[2022-05-03 03:04] #3070 closed

[2022-05-03 06:01] cchien816 commented on #3492
Close this issue
In recently [build](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/110/testReport/tests/test_scheduling/test_data_locality_basic/), the fail situation was not seen

[2022-05-03 06:01] #3492 closed

[2022-05-03 07:34] opstalj opened #3909 "[QUESTION] Disabled nodes -> FailedMount for pod that landed on such a disabled node"
## Question
I have a k8s vanilla cluster with 10 worker nodes. When setting up longhorn, I got an issue on 2 worker nodes, so for the moment, I have disabled these 2 worker nodes (nodes: tgnm and ti76).

Issue: I created a pod that needs a PVC and the pod landed on the disabled node ti76. Now, it looks like it can't make use of the PVC due to the following error when describing the pod:

 -> the p

[2022-05-03 07:51] opstalj commented on #3909
Already an update: I started a tcpdump from the longhorn-manager on ti76 and indeed, it seems it does not get a reply on the TCP SYN towards the instance-manager-r/e on ti76:

[root@TH84 ~]# k get pods -A -o wide|grep longhorn-manager|grep ti76
longhorn-system   longhorn-manager-9xpwb                                   1/1     Running             1 (19h ago)    19h     10.244.144.162   ti76   <none

[2022-05-03 08:07] opstalj commented on #3909
Also, an extra comment: I disabled node ti76, since I could not get a running Replica there ... when I created a volume and ti76 had to take care of a Replica, it just remained in 'Stopped' state and the volume does never get attached ...

![image](https://user-images.githubusercontent.com/12182338/166421707-fa6e8143-47a4-47fe-87e8-f8fb28627bba.png)

I tried to delete the ti76 (hoping the Replica

[2022-05-03 10:49] innobead commented on #2285
cc @smallteeths

[2022-05-03 12:51] gp187 commented on #1797
What's the solution here??

[2022-05-03 13:48] kaxing commented on #3087
Validating in progress, cc @shuo-wu

Testing from v1.2.2 to v1.3.0-dev.
Retest with 20 volumes attached to 20 simple workload and concurrent-automatic-engine-upgrade-per-node-limit set to 3.
By measuring the `status.numberAvailable` pod of `daemonset/longhorn-manager` right after longhorn.yaml deployed.
Sampling the average time out of 4 rounds of test: (container image download time is ignored as

[2022-05-03 13:58] StarAurryon commented on #2259
Bump

[2022-05-03 18:55] mstrent commented on #2317
The backup refactor is out there for 1.2. The Backuptarget CRD is a thing now. Are we able to specify multiple Backuptarget CRDs with different names?

[2022-05-03 19:07] mstrent commented on #2317
Answering my own question: https://github.com/longhorn/longhorn-manager/blob/dd8e20c76dcd740db4301f3e37cb314e15a01b5e/controller/backup_target_controller.go#L120

[2022-05-03 23:06] PhanLe1010 opened #3910 "[TASK] Scale test and investigation for big number of backup and snapshot CRs"
## What's the task? Please describe

If we have 1000 volumes, each with 20 backups and snapshots? 40k objects would be there for backups and snapshots. We are not sure what would be the limitation that a normal etcd cluster can handle. How about with 10k volume?

We should do a scale test and investigation for a big number of backup and snapshot CRs. The scaling problem could appear in any compone

[2022-05-03 23:17] WolfspiritM commented on #685
As we have the same usecase I made a script for now. It's still not completly automated but I hope it helps a bit:
[code]

Make sure to run that script on a node with kubectl installed first then pass in the longhorn node as an argument:
./replicacheck.sh worker01

It will then generate a script including all the "known replica paths" which needs to be copied to the worker and executed there. It w

[2022-05-03 23:37] PhanLe1010 commented on #2263
Stop workload with this volume
Longhorn UI: this volume has to have detached status
Delete PVC
Delete PV
Longhorn UI: expand volume
Longhorn UI: create PV/PVC
Start workload

If you delete PVC and PV, you might lose the Longhorn volume.

Please refer to the document for the instruction https://longhorn.io/docs/1.2.4/volumes-and-nodes/expansion/#expand-a-longhorn-volume

[2022-05-03 23:40] PhanLe1010 commented on #3844
Adding validation in Longhorn API can reduce the risk but cannot be 100% guaranteed. I think adding a lock and validation to engine process is the complete solution

[2022-05-04 00:07] PhanLe1010 commented on #3056
Do we want to watch this [longhorn-images.txt](https://github.com/longhorn/longhorn-manager/blob/dd8e20c76dcd740db4301f3e37cb314e15a01b5e/deploy/longhorn-images.txt#L1-L5) file inside longhorn/longhorn-manager repo instead because it will be updated first before the file with the same name is updated inside longhorn/longhorn repo?

[2022-05-04 00:11] PhanLe1010 commented on #3890
The test case is at https://github.com/longhorn/longhorn/issues/3910

[2022-05-04 00:52] PhanLe1010 commented on #3883
Ready for testing but please don't close as there is a low priority item about the unit test for this issue https://github.com/longhorn/longhorn-engine/pull/696#issuecomment-1108231312

[2022-05-04 00:54] innobead commented on #3890
#3910 looks like a time spending task, so we can treat it as another task to follow up.

For this issue, we just need to verify if there are logs displayed when upgrading walks through v1.2.2 -> v1.2.3, there will be some progress logs about backup CR update. https://github.com/longhorn/longhorn-manager/pull/1308/files

[2022-05-04 00:57] PhanLe1010 commented on #3890
Thanks @innobead

So the test steps:
1. Install Longhorn v1.2.2
2. Create a few volumes, attach them, create 100 backups from those volumes
3. Upgrade Longhorn to the fixed versions
4. Verify the upgrading progress logs in one of the longhorn manager (the first leading Longhorn manager)

[2022-05-04 01:02] innobead commented on #3056
Good idea :+1:

@yangchiu Let's enhance this later, but create another ticket to track. Thank you.

[2022-05-04 01:02] PhanLe1010 commented on #3423
We are investigating trimming volume. The effort is tracked at https://github.com/longhorn/longhorn/issues/836

[2022-05-04 02:06] PhanLe1010 opened #3911 "[BUG] [BACKPORT] [1.2.5] A snapshot has a child that is no-longer exist in the snapshot chain"
ref: https://github.com/longhorn/longhorn/issues/3883

[2022-05-04 02:08] PhanLe1010 opened #3912 "[BUG] [BACKPORT] [1.1.4] A snapshot has a child that is no-longer exist in the snapshot chain"
ref: https://github.com/longhorn/longhorn/issues/3883

[2022-05-04 02:29] cchien816 commented on #3880
Using fresh environment with longhorn master head 20220504 cloned, After set `migratable: true` to install Longhorn by helm, I got error in longhorn-manager pod.

Test environment:

- HELM: 3.8.2
- Ubuntu 20.04
- Longhorn master head 20220504

Install method
1. Clone Longhorn repo
2. Switch into folder `chart`
3. Modify `migratable: true` in values.yaml
4. Run command `helm install -n longhorn-sys

[2022-05-04 02:42] yangchiu opened #3913 "[TEST] Clean up unexpected long-running tests/instances"
## What's the test to develop? Please describe

We need to remember to clean up any orphaned resources created in our testbed to avoid any resources running indefinitely. Could we help another weekly run pipeline to clean up long-running instances?

https://github.com/longhorn/longhorn-tests/pull/939#discussion_r863877198

[2022-05-04 02:51] yangchiu opened #3914 "[TEST] Update CSI images according to longhorn-images.txt in longhorn/longhorn repo"
## What's the test to develop? Please describe

The mirror-csi-images jenkins job can be further improved:

Do we want to watch this [longhorn-images.txt](https://github.com/longhorn/longhorn/blob/master/deploy/longhorn-images.txt) file inside longhorn/longhorn repo?
https://github.com/longhorn/longhorn/issues/3056#issuecomment-1116775512

So users supply which branch's longhorn-images.txt they wa

[2022-05-04 02:52] yangchiu commented on #3056
[#3914](https://github.com/longhorn/longhorn/issues/3914) has been created for this.

[2022-05-04 03:18] cchien816 commented on #1598
**Validate on master head 20220504
Result Pass**

After create a volume with long PVC name (40 characters)
1. Using openSUSE Leap 15.3 and Firefox 100.0 browser, the PVC name will warp correctly
2. Using Windows 11 and Firefox 100.0 browser, the PVC name will warp correctly

[2022-05-04 03:18] #1598 closed

[2022-05-04 03:40] cchien816 opened #3915 "[BUG] UI pop error if long volume name used (when > 40 characters)"
## Describe the bug

Currently if create Volume from UI, UI will tell user volume name length can not greater than 63 characters
But if create volume with 41 characters (> 40 character), UI will pop up error message, and the volume name will be changed

## To Reproduce

Steps to reproduce the behavior:
1. Deploy Longhorn
2. Click `Create Volume` button from UI
3. Enter volume name with 41 characte

[2022-05-04 03:47] innobead commented on #3915
cc @derekbit I feel this is related to validation?

[2022-05-04 06:04] innobead commented on #3915
This has been caused by the volume name changed by the mutator after the volume was created, but the following validation still used the old name.

https://github.com/longhorn/longhorn-manager/blob/3839e03106a39c91660e40b017df56342f05eeb5/datastore/longhorn.go#L383

I would suggest mutation does not touch the identity value like `metadata.name` to avoid any following validation after creation stil

[2022-05-04 06:19] kaxing opened #3916 "[BUG] Gradual upgrading Longhorn from v1.2.2 to v1.2.4 will encounter volume stuck at engine image live upgrade"
## Describe the bug

This might be duplicated but I couldn't find that issue. A quick workaround is found (noted in the end of post).

Enable `Concurrent Automatic Engine Upgrade Per Node Limit` then deploy next release of longhorn there is a chance some volume will bump into the issue stuck at engine image upgrade. From the web UI the spinning and never finished:
![image](https://user-images.gith

[2022-05-04 06:19] derekbit commented on #3915
Because we mutate the name in mutator but not update `verifyCreation`, the `verifyCreation` use the old name.
Fixing it now. Some resources may have same bug.

[2022-05-04 07:19] derekbit commented on #3915
@cchien816
`Currently if create Volume from UI, UI will tell user volume name length can not greater than 63 characters` is incorrect.`
Maximum name length is 40 in the backend. If the input length exceeds 40 chars, backend will correct it.

[2022-05-04 07:52] cchien816 commented on #3768
**Validated on v1.2.x-head 20220504
Result Pass**

1. After snapshot marked as Removed and attach volume again in Maintenance mode, form volume detail page there not exist revert option on removed snapshot (enable Show System Hidden:).

    If use API to revert the marked as Removed snapshot , will get below message to refuse to revert.

    ```{"actions":{},"code":"Server Error","detail":"","link

[2022-05-04 07:52] #3768 closed

[2022-05-04 08:17] cchien816 commented on #3764
**Validated on v1.1.x-head 20220504
Result Pass**

After snapshot marked as Removed and attach volume again in Maintenance mode, form volume detail page there not exist revert option on removed snapshot (enable Show System Hidden:).

1. If use API to revert the marked as Removed snapshot , will get below message to refuse to revert.

[code]

2. After snapshot marked as Removed and volume not in Ma

[2022-05-04 08:17] #3764 closed

[2022-05-04 08:35] gp187 commented on #2741
Same problem. Any solutions?

[2022-05-04 08:40] chriscchien opened #3917 "[BUG] Max length of volume name not consist between frontend and backend"
## Describe the bug

From https://github.com/longhorn/longhorn/issues/3915#issuecomment-1117000306, Maximum volume name length is 40 in the backend, but in UI the max volume name length is 63

## To Reproduce

Steps to reproduce the behavior:
1. Deploy Longhorn
2. Create volume from UI, set volume name more than 63 characters
3. Click `OK` button
4. See error
[code]
## Expected behavior

We should

[2022-05-04 08:42] derekbit opened #3918 "[TASK] add finalizer to resource in mutating webhook"
## What's the task? Please describe

CreateXXX, e.g. CreateBackup, adds Longhorn finalizer to new created resource.
To make the behavior consistent between API and Resource operation using CLI, we can move the longhorn finalizer creation logic to the mutating webhook.

## Additional context

Add any other context or screenshots about the task request here.

[2022-05-04 08:43] cchien816 commented on #3915
For the volume name length in UI, I create https://github.com/longhorn/longhorn/issues/3917 for tracking

[2022-05-04 09:59] yangchiu opened #3919 "[TEST] improve benchmark test to test customized longhorn version"
## What's the test to develop? Please describe

Request from @c3y1huang

customize any longhorn components version just like regression tests to do some benchmarking for gRPC proxy.

[2022-05-04 11:11] joshimoo commented on #2741
@gp187 @armourshield Are you able to successfully use an RWO volume (i.e. is iscsi up and running as well as no multipathd problem)

What are the logs for the share-manager?
If they are, that means the RWO volume is not getting attached correctly see iscsi / multipathd.
This would become apparent if a regular RWO volume is not working either on that node.
[code]

If the share-manager is up and run

[2022-05-04 11:38] opstalj commented on #3909
Hi,
Ticket can be closed.
Reason of failure: firewalld was still enabled on certain worker nodes and this caused communication failure (dropped packets) ... After stopping firewalld, longhorn started working as expeced.

[2022-05-04 11:38] #3909 closed

[2022-05-04 11:43] voarsh2 opened #3920 "[BUG] Changing longhorn-static to longhorn breaks backups"
## Describe the bug

Backups do not complete anymore

## To Reproduce

Steps to reproduce the behaviour:
1. In Longhorn settings change longhorn-static to just "longhorn"
2. Backups will fail to create

Changing back to longhorn-static (after manually creating a copy of the Longhorn class and calling it longhorn-static will not resolve the issue 

I keep getting the following in csi-snapshotter:

[2022-05-04 12:00] cchien816 commented on #3890
**Validated on master-head 20220504
Result Pass**

Steps

1. Install Longhorn v1.2.2
2. Create 5 volumes, attach them, create total 100 backups from those volumes
3. Upgrade Longhorn to master-head by `kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/longhorn.yaml`
4. Can see logs contain progress of `upgradeBackups` , `checkAndRemoveEngineBackupStatus`, `checkAnd

[2022-05-04 12:00] #3890 closed

[2022-05-04 12:29] innobead commented on #3890
@cchien816 we need to verify in 1.2.x as well, see if there is a backport issue there, if not please help create, verify and close. Thank you.

[2022-05-04 12:37] voarsh2 commented on #3920
Do I manually need to re-install the kubernetes csi (external-snapshotter)?
https://github.com/kubernetes-csi/external-snapshotter/tree/v4.0.0/deploy/kubernetes

https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/release-4.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/release-4.0/clien

[2022-05-04 13:26] innobead commented on #3917
The backend has no strict limitation for the length but truncates the value to the max length of 40 instead only.

This should not be an issue after https://github.com/longhorn/longhorn/issues/3915 is fixed.

[2022-05-04 13:40] innobead commented on #3917
Even the length correction of the name is expected, but it's implicit actually, so it's better to have this behavior explicitly validated. Just reopen this for the improvement in the future.

[2022-05-04 14:18] edantes-1845 commented on #2263
Yes you are right, but if your volume has **detached** state, you can delete PVC/PV safely
![image](https://user-images.githubusercontent.com/60153776/166699467-9baabdc7-a102-416f-ba55-bb7d40b10920.png)

After all manipulations with this volume, you can re-create PV/PVC through Longhorn UI
![image](https://user-images.githubusercontent.com/60153776/166700468-b711b803-7058-4edd-a7d7-e877d70ff57a.pn

[2022-05-04 15:58] kaxing commented on #3550
Retest with latest script from longhorn-magner:master with a mixed distro cluster:
[code]

Two problems found:

1. Checking on system without proper dependency for the script, it seems double quote is missing for error `error Not found: $target` at line 114
[code]

2. With SLES 15, it seems when the first running zypper it will update repo cache, resulting in a very long wait time
[code]
Possible

[2022-05-04 18:29] PhanLe1010 opened #3921 "[IMPROVEMENT] Longhorn doesn't reuse failed replica on a disk with full allocated space"
## Describe the bug

Longhorn doesn't reuse failed replicas on a disk with full allocated space

## To Reproduce

Steps to reproduce the behavior:
1. Create a Longhorn cluster with 3 nodes
2. Create 3 volumes such that the total size of 3 volumes is equal to the maximum allocable space
3. Attach the volumes, write some data to them
4. Reduce the `Storage Over Provisioning Percentage` setting a bit

[2022-05-04 18:52] PhanLe1010 commented on #3921
Update:

Now, I am not sure if this is a bug as the reproducing steps are problematic by themselves.

[2022-05-05 01:00] voarsh2 commented on #3920
I just made a fresh new cluster and when installing Longhorn I am getting:

E0505 00:56:58.925283 1 reflector.go:127] github.com/kubernetes-csi/external-snapshotter/client/v3/informers/externalversions/factory.go:117: Failed to watch *v1beta1.VolumeSnapshotContent: failed to list *v1beta1.VolumeSnapshotContent: the server could not find the requested resource (get volumesnapshotcontents.snapshot.s

[2022-05-05 02:13] derekbit commented on #3550
It's weird. I tried `zepper` and didn't find the problem.
I agree to use `rqm` instead.

[2022-05-05 02:50] cchien816 opened #3922 "[BUG] Instance manager keep restarting"
## Describe the bug

Using master-head 20220505 to deploy Longhorn, instance-manager pods will keep loop at `ContainerCreating` -> `Error` -> `Terminating`

## To Reproduce

Steps to reproduce the behavior:
1. Deploy Longhorn with master-head 20220505
2. Observe pods in namespace longhron-system
3. Instance-manager (replica , engine) will keep restarting by `ContainerCreating` -> `Error` -> `Termi

[2022-05-05 05:21] shuo-wu commented on #3921
May need to revisit this part for reusing the failed replica in unscheduable disks issue:
https://github.com/longhorn/longhorn-manager/blob/665eff6d4365aa2a6272f4354a587c30de30b05c/scheduler/replica_scheduler.go#L528-L548

[2022-05-05 05:41] yangchiu commented on #685
verified passed by running [orphan tests](https://github.com/longhorn/longhorn-tests/pull/940) on master-head

[2022-05-05 05:41] #685 closed

[2022-05-05 05:45] yangchiu commented on #3613
verified passed on master-head
by manual test: [snapshot purge retry ](https://github.com/longhorn/longhorn-tests/blob/master/docs/content/manual/release-specific/v1.3.0/test-snapshot-purge-retry.md) and
e2e test (-k test_snapshot_prune)

[2022-05-05 05:45] #3613 closed

[2022-05-05 05:46] innobead commented on #3826
@derekbit @smallteeths this is nice to have in 1.3.0, so please help cooperate on this. Thanks.

[2022-05-05 05:49] cchien816 opened #3923 "[TASK][BACKPORT][1.2.5] Update the upgrade doc about expected laborious upgrade due to mass backup CRs"
## What's the task? Please describe

https://github.com/longhorn/longhorn/issues/3890

[2022-05-05 05:54] yangchiu opened #3924 "[BACKPORT-v1.1.x][IMPROVEMENT] Improve snapshot purge"
backport #3613

[2022-05-05 05:54] yangchiu commented on #3924
verified passed on v1.1.x-head
by manual test: [snapshot purge retry ](https://github.com/longhorn/longhorn-tests/blob/master/docs/content/manual/release-specific/v1.3.0/test-snapshot-purge-retry.md)

[2022-05-05 05:54] #3924 closed

[2022-05-05 05:55] yangchiu opened #3925 "[BACKPORT-v1.2.x][IMPROVEMENT] Improve snapshot purge"
backport #3613

[2022-05-05 05:56] yangchiu commented on #3925
verified passed on v1.2.x-head
by manual test: [snapshot purge retry ](https://github.com/longhorn/longhorn-tests/blob/master/docs/content/manual/release-specific/v1.3.0/test-snapshot-purge-retry.md)

[2022-05-05 05:56] #3925 closed

[2022-05-05 06:11] derekbit commented on #3826
My idea is that we can add a `orphaned data` page.
![image](https://user-images.githubusercontent.com/12527233/166869737-e28ab616-b1f9-4c76-abe9-2a75d5ecb90a.png)

Then, in the page, the layout is like
![image](https://user-images.githubusercontent.com/12527233/166870609-aa3f04e9-f457-4d4e-a27b-494c2e638497.png)

- Name: resource.name
- Node: resource.spec.nodeID
- Disk: resource.spec.parameters["

[2022-05-05 06:13] innobead commented on #3826
Setting will be automatically created w/o any UI change :slightly_smiling_face:

[2022-05-05 06:16] derekbit commented on #3826
Cool!

[2022-05-05 06:23] smallteeths commented on #3826
Yes I am working on this page, I am going to put the nav link under the drop down menu in setting.

<img width="769" alt="截屏2022-05-05 下午2 19 17" src="https://user-images.githubusercontent.com/27733391/166871698-d816de48-ee36-436a-8e18-36c6a90027e7.png">

And something else I'm not so sure about

1. Is batch deletion also required?
2. Do we need to add a filter by name component？

[2022-05-05 06:27] cchien816 commented on #3923
**Validated on v1.2.x-head 20220504
Result Pass**

Steps

1. Install Longhorn v1.2.2
2. Create 5 volumes, attach them, create total 100 backups from those volumes
3. Upgrade Longhorn to v1.2.x-head
4. Can see logs contain progress of `upgradeBackups` , `checkAndRemoveEngineBackupStatus`, `checkAndUpdateEngineActiveState` with log pattern `logrus.Infof("%v: current progress %v%% (%v/%v)"` which add

[2022-05-05 06:27] #3923 closed

[2022-05-05 06:27] derekbit commented on #3826
`orphaned data` might be better because there are other different orphaned data types in the future.
 I'm not sure if putting `orphaned data` link in `Setting` is better. But it's fine for me with it.

Yes, we need.

No, the name is UUID and meaningless.
But we need a filter by node and disk

Thank you @smallteeths

[2022-05-05 06:43] cchien816 commented on #3922
Update
After [PR](https://github.com/longhorn/longhorn-manager/pull/1318) merged Longhorn can deploy success.
Volume will stuck at `Detaching` state and not ready for workload when creating volume form UI

longhorn-manager log
[code]

Output from `kubectl get volume vol1 -n longhorn-system -o json`
[code]

[2022-05-05 06:47] cchien816 commented on #3890
Hi @innobead ,
I created issue https://github.com/longhorn/longhorn/issues/3923 to verify this task in 1.2.x,  thank you.

[2022-05-05 07:11] cchien816 commented on #3915
**Verified on master-head 20220505
Result Pass**

Test Step

1. Deploy Longhorn
2. Click Create Volume button from UI
3. Enter volume name with 41 characters eg aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa1
4. Click OK
5. UI **not** pop up error message

[2022-05-05 07:11] #3915 closed

[2022-05-05 07:42] yangchiu opened #3926 "[TEST] Pipeline for air gap installation"
## What's the test to develop? Please describe

add pipeline for air gap installation (private registry) to install longhorn
a. Using yaml
b. Using Helm Chart
c. Using Rancher App

## Describe the items of the test development (DoD, definition of done) you'd like

- [x] `setup private docker registry on cloud environment`
- [x] `make sure cluster can access private registry w/o problem`
- [x] `sav

[2022-05-05 09:44] innobead commented on #3648
Sorry to miss this comment. Probably not related.

[2022-05-05 09:45] innobead commented on #3648
@cchien816 could you check it again on CI? I found those issues passed recently.

[2022-05-05 09:59] cchien816 commented on #3880
**Validate on longhorn master-head 20220505
Result Pass**

After installed helm, clone longhorn repo and switched to longhorn/chart floder
1. Use default setting in values.yaml which is `migratable: false` and run command `helm install -n longhorn-system longhorn .` then observe default storageclass can not see `migratable` parameter
2. Set `migratable: true` in values.yaml and run command `helm i

[2022-05-05 09:59] #3880 closed

[2022-05-05 10:39] chris93111 commented on #2510
Same issues, they are no snapshot for the volume

the size in container is 400Mo

<img width="717" alt="image" src="https://user-images.githubusercontent.com/27526373/166907062-35224a96-bfc6-4cee-b0d3-02eae2db3e23.png">

<img width="717" alt="image" src="https://user-images.githubusercontent.com/27526373/166906558-04989b6e-a411-476b-8119-20651be99009.png">

this is a real problem for observability

[2022-05-05 21:08] joshimoo commented on #2510
@chris93111 if you care about the filesystem size in the container, you should be monitoring the kubelet volume metrics, ref: https://longhorn.io/docs/1.2.4/monitoring/kubelet-volume-metrics/#about-kubelet-volume-metrics

[2022-05-05 22:55] chris93111 commented on #2510
@joshimoo thanks for your response
ok so I can't trust the longhorn ui, I was leaning on his https://longhorn.io/docs/1.2.4/monitoring/alert-rules-example/

[2022-05-06 01:00] yangchiu commented on #3056
The jenkins pipeline has been implemented: https://ci.longhorn.io/job/private/job/mirror-csi-images/

[2022-05-06 01:00] #3056 closed

[2022-05-06 01:54] cchien816 commented on #3648
**Validate Pass**

For test fail about below 3 test cases
[test_auto_remount_with_subpath](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/46/testReport/junit/tests/test_ha/test_auto_remount_with_subpath)
[test_volume_reattach_after_engine_sigkill](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/46/testRepo

[2022-05-06 01:54] #3648 closed

[2022-05-06 02:22] joshimoo commented on #3891
This is a related issue for this task: https://github.com/longhorn/longhorn/issues/3720

[2022-05-06 02:38] cchien816 commented on #3678
**Validate on master head 20220506
Result Pass**

1. Follow test steps in [description](https://github.com/longhorn/longhorn/issues/3678#issue-1154804712), volume will become schedulable after change `Storage Over Provisioning Percentage` from 0 to 100
2. e2e [passed](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/113/testReport/tests/test_node/test_r

[2022-05-06 02:38] #3678 closed

[2022-05-06 02:58] c3y1huang opened #3929 "[BACKPORT][v1.2.x] Allow to add annotations on the serviceAccount managed by the helm chart"
I guess we forgot to backport [this](https://github.com/longhorn/longhorn/pull/3432).

https://cloud-native.slack.com/archives/CNVPEL9U3/p1651717419977589

[2022-05-06 03:11] shuo-wu commented on #3087
When there are multiple volumes in the system, upgrading to v1.3.0 is still relatively fast, right?
BTW, you can launch 100+ volumes instead and see the difference.

[2022-05-06 03:29] joshimoo commented on #3839
The below is a test secret that can be used to enable MTLS auth on a cluster.
The different test cases:

**absent TLS secret (default setup):**
- manager + im is deployed while TLS Secret is not present (i.e non tls client, non tls server)
- normal volume functionality should work

**Test im deployed without TLS secret (non tls server)**
- same as default setup
- create TLS secret
  - manager will

[2022-05-06 03:30] joshimoo commented on #3922
Added test instructions here: https://github.com/longhorn/longhorn/issues/3839#issuecomment-1119229639

[2022-05-06 04:30] kaxing commented on #3860
Checking with latest master image, and received rpc error cc @derekbit
[code]

[2022-05-06 04:39] innobead commented on #3860
This is due to https://github.com/longhorn/longhorn/issues/3886#issuecomment-1107974757. The PR is ready to merge later.

[2022-05-06 06:07] innobead commented on #3922
@cchien816 for this issue, you can just focus on if it's fixed. But for #3839 , QA can verify it separately later as per the @joshimoo comment.

[2022-05-06 06:27] cchien816 commented on #3922
**Validate on master head 20220506
Result Pass**

After some fix merged into master head, now
1. During Longhorn deploying, instance-manager won't stuck at restarting. Longhron now can deploy successfully
2. After Longhorn deploy.  Volume creation no longer stuck at `detaching` state. Volume can create and attach as normal.

Close this ticket

[2022-05-06 06:27] #3922 closed

[2022-05-06 06:45] innobead commented on #3918
Don't think we need to have any manual testing, but rather rely on the e2e instead. @derekbit WDYT?

[2022-05-06 06:47] derekbit commented on #3918
Yes, we rely on the e2e test rather than manual testing.

[2022-05-06 06:50] innobead commented on #3918
Closing cc @longhorn/qa

[2022-05-06 06:50] #3918 closed

[2022-05-06 06:58] PhanLe1010 opened #3932 "[BUG] [BACKPORT] [v1.2.5] Volume created from cloned PVC will stuck at Not Ready status"
ref: longhorn/longhorn#3886

[2022-05-06 07:12] derekbit opened #3933 "[IMPROVEMENT] [BACKPORT] [v1.2.5] Prevent PVC provisioning if there is insufficent storage"
## What's the test to develop? Please describe
https://github.com/longhorn/longhorn/issues/3529

## Additional context
Add any other context or screenshots about the test request here.

[2022-05-06 07:13] derekbit opened #3934 "[IMPROVEMENT] [BACKPORT] [v1.1.4] Prevent PVC provisioning if there is insufficent storage"
## What's the task? Please describe
https://github.com/longhorn/longhorn/issues/3529

## Additional context

Add any other context or screenshots about the task request here.

[2022-05-06 07:31] cchien816 commented on #3883
**Validate on master-head 20220506
Result Pass**

Test steps from [comment](https://github.com/longhorn/longhorn/issues/3883#issuecomment-1105938840)

1. Using engine image `chanow/longhorn-engine:issue3883`,  this image did not contain `delete(r.diskChildrenMap, name)` in `pkg/replica/replica.go` line 495 which means not include this [PR](https://github.com/longhorn/longhorn-engine/pull/696/files

[2022-05-06 07:31] #3883 closed

[2022-05-06 07:52] smallteeths opened #3935 "[BUG] Websocket's icon in footer is showing wrong"
## Describe the bug

Websocket's icon in footer is showing wrong.

<img width="306" alt="截屏2022-05-06 下午3 32 00" src="https://user-images.githubusercontent.com/27733391/167087592-b6c788b4-b305-4448-9dc5-cbe80f6a4337.png">

## Expected behavior

The name of the websocket icon should be displayed correctly.

[2022-05-06 08:18] #3853 closed

[2022-05-06 08:19] innobead commented on #3550
@kaxing Could we close this one?

[2022-05-06 08:27] cchien816 commented on #3550
I have a quick test with @kaxing and I found it can tell user which package leak and support different node distro combine was cool

[2022-05-06 08:29] kaxing commented on #3550
Thank you @cchien816 for the help.

I will mark this as passed.

[2022-05-06 08:29] #3550 closed

[2022-05-06 08:30] kaxing commented on #3550
Validation - **PASSED**

Verified with latest script under longhorn-manager:master + mixed(Rocky, Ubuntu, SLES) distro cluster.

[2022-05-06 08:32] innobead commented on #3550
Thanks @kaxing and @cchien816 :+1:

[2022-05-06 08:33] innobead commented on #3550
@derekbit Please help backport to 1.2.x, and I don't think we need to reverify again because it's just the same script.

[2022-05-06 08:40] derekbit opened #3937 "[IMPROVEMENT] [BACKPORT][v1.2.5] Improve the environment check script to check for dependences"
## What's the test to develop? Please describe

https://github.com/longhorn/longhorn/issues/3550

## Additional context

Add any other context or screenshots about the test request here.

[2022-05-06 08:44] innobead opened #3938 "[TASK] Release 1.3.0"
**What's the task? Please describe.**
Action items for releasing v1.3.0

**Describe the items of the task (DoD, definition of done) you'd like.**
  - Pre-Release
    - [x] Verify longhorn chart PR to ensure all artifacts ready (`install`, `upgrade`)  @cchien816
        - https://github.com/longhorn/charts/pull/63 (`longhorn/charts`)
    - [x] Run e2e regressionfor each milestone (`install`, `upgra

[2022-05-06 09:03] cchien816 commented on #3912
**Validate on v1.1.x-head 20220506
Result Pass**

Test steps from https://github.com/longhorn/longhorn/issues/3883#issuecomment-1105938840

1. Using engine image chanow/longhorn-engine:issue3883-11x, this image did not contain delete(r.diskChildrenMap, name) in pkg/replica/replica.go line 471 which means not include this [PR](https://github.com/longhorn/longhorn-engine/pull/701/files) to test. In

[2022-05-06 09:03] #3912 closed

[2022-05-06 09:51] gp187 commented on #2741
@joshimoo I managed to get it to work by redeploying the 2 Daemons in the Longhorn [install pre-requisites](https://longhorn.io/docs/1.2.4/deploy/install/#installing-nfsv4-client).

The NFS4 and ISCSI but as a daemon.

Thanks!

[2022-05-06 12:02] derekbit opened #3939 "[TASK] Improve e2e test cases to prevent false alarms after calling node.diskUpdate"
## What's the task? Please describe

There are some errors in the e2e test after introducing the node monitor, like
[code]

Currently, the tests are not waiting long enough for the disks to be reconciled by the node controller.
The subsequent actions might encounter unexpected errors due to the non-ready disks.
In this task, the goal is to improve test cases and avoid running into the timing issue

[2022-05-06 13:47] thehejik commented on #3425
I've validated today's `master` build of Longhorn on s390x installed from locally checkouted helm chart stored on upstream lh master branch.

#### Environment description
* 1 server and 2 agent nodes deployed with RKE2 `v1.23.5+rke2r1` (without rancher mcm)
* using zVM hypervisor - each VM with 2 vCPU, 8GB RAM and 20GB btrfs as rootfs
* all nodes running on SLE15SP2 with `open-iscsi` and `nfs-clie

[2022-05-06 14:28] innobead commented on #3425
cc @longhorn/qa

[2022-05-06 15:34] w13915984028 opened #3941 "[BUG] LH driver and volume are slow to be ready when Harvester is rebooted"
## Describe the bug
Harvester uses LH as CSI. When Harvester is rebooted,  LH driver and volume are slow to be ready, which causes many/all LH-backed VM/POD are redeployed by k8s, due to time out of mounting volume for POD.

## To Reproduce

Steps to reproduce the behavior:
1. Install a single-node Harvester cluster.
2. Create one volume, then create a VM which uses  this volume. (say vm-1)
3. Rec

[2022-05-06 16:19] stenwt opened #3942 "[BUG] Replicas failing to rebuild"
## Describe the bug

I have several volumes in "degraded" state, with 1 working replica (3 desired) and no other replicas. I see them starting the rebuild process to a new replica, and failing, repeatedly.

## To Reproduce

Unsure, I've also seen 1-2 nodes being marked unschedulable in Longhorn while the nodes themselves are still reporting ready.

## Expected behavior

Replicas should rebuild

##

[2022-05-06 16:34] saul-data opened #3943 "Possible to use Digitalocean do-block-storage as backend?"
I'd like to use the read write many mode of Longhorn inside a Digitalocean managed Kubernetes. The problem is when the nodes get replaced or restarted the folders or volumes dont necessarily persist. It is also not easy to attach a volume to a node outside of PVC with Digitalocean's managed K8s - so having the do-block-storage as a backend would be perfect.

I would like to use the do-block-storag

[2022-05-06 16:48] kaxing commented on #3860
Validation - **PASSED**

Tested with v1.3.0-preview1 + csi release-4.0.

Notes on test steps:
1. install and enable csi
2. create volumesnapshot class
3. create volume1 and write some data
4. create volumesnapshot1 from volume1's pvc
5. create a pvc from volumesnapshot1
6. wait for Longhonr to pick up the pvc and create a new volume
7. verify the data checksum

Example a working event logs as foll

[2022-05-06 16:48] #3860 closed

[2022-05-07 14:00] stenwt commented on #3942
I had a segmentation in the software defined network:

`=> Start network overlay test
error: unable to upgrade connection: container not found ("overlaytest")
FAIL: overlaytest-cvktb on node2 cannot reach pod IP node2 on
error: unable to upgrade connection: container not found ("overlaytest")
FAIL: overlaytest-cvktb on node2 cannot reach pod IP 10.42.2.204 on node3
error: unable to upgrade connect

[2022-05-07 14:26] stenwt commented on #3942
I cleared up a pvc stuck in Terminating because it was still attached to pods, that seems to have unblocked the replica rebuilds.

[2022-05-07 14:26] #3942 closed

[2022-05-07 22:58] balajivedagiri opened #3945 "kasten k10 Pre-Flight Checks reports longhorn as Not a supported CSI driver"
## Describe the bug

We want to backup our pvc coming from longhorn using kasten k10, after installing all the CRDs and snapshot-controller into kube-system namespace the k10 script throws an error

Starting CSI Checker. Could take up to 5 minutes
CSI Snapshot Walkthrough:
  Not a supported CSI driver (driver.longhorn.io)  -  Error

But i can take volumesnapshots and those are created in longhorn

[2022-05-08 06:22] btdan opened #3946 "[QUESTION] How to locate the disk for longhorn？"
Hello，after the installation of longhorn and configuration following the official document， the longhorn is now working.
However, I found longhorn employ the whole disk space that not used yet.
Can  I configure the longhorn to use the special disk space, such as /data , not the whole disk space.
Thanks very much.

[2022-05-08 07:50] derekbit commented on #2777
After checking current purge command, `SnapshotPurge` API directly calls the engine binary to do purge, i.e. `/.../longhorn  snapshot purge ...`. It looks there is no way to know
1. Disks' storage information, e.g. storage maximum, storage available and etc.
2. Other running snapshot purge tasks

---

Instead, we can do the pre-condition check in the snapshot controller (https://github.com/longhor

[2022-05-09 02:47] innobead commented on #3933
@mantissahz Please help verify this fix. Thank you.

[2022-05-09 02:49] innobead commented on #3937
@mantissahz Please verify this and close it if it works as expected. Thanks.

[2022-05-09 03:00] shuo-wu commented on #2777
1. Extra space for a volume purge can be Min(VolumeSpecSize, The Actual size of the largest snapshot (or we can directly use volume actual size for convenience))
2. Used size of a disk can be directly read from the disk status.
3. This is a general check no matter if the caller is SnapshotController or not.

[2022-05-09 03:23] derekbit commented on #2777
After discussing with Shuo, the general check will be added in both the API path and the snapshot controller.

[2022-05-09 04:10] yangchiu commented on #3826
verified passed on v1.3.0-preview1 by
(1) checking there is Orphaned Data page and it has list and delete functionalities
(2) checking there is Orphan Auto-Deletion setting and it works
(3) running https://github.com/longhorn/longhorn-tests/pull/940 and checking the UI in the meantime

[2022-05-09 04:10] #3826 closed

[2022-05-09 05:48] yangchiu commented on #3529
verified passed on v1.3.0-preview1 by:

1.
1.a. Disable all disks and on all nodes
2.b. Create a volume on UI
3.c. Create PV/PVC for the volume
4.d. Check the PV annotation "longhorn.io/volume-scheduling-error", the error message is "disks are not available"

2
2.a. Create a volume on UI. The request size exceeds the disk available size.
2.b. Create PV/PVC for the volume
2.c. Check the PV annotati

[2022-05-09 06:05] yangchiu commented on #3626
Verified passed on v1.3.0-preview1 by following steps:

1. Disable all the nodes.
2. Create a volume, scheduling will fail.
3. Enable scheduling on all the nodes.
4. Wait for volume to become scheduled.
==> Volume should get scheduled at any point of time when node becomes available.

[2022-05-09 06:05] #3626 closed

[2022-05-09 07:17] kaxing commented on #3087
I redo the test with 100pod-volumes(size in 11MB) and the result still shows v1.2.4 had better deployment speed of longhorn-manager pods.

Gradual upgrade:
install path | time
:-|:-
fresh install v1.2.3 | 146s
upgrade to v1.2.4* | 56s
upgrade from v1.2.4 to v1.3.0-preview1 | 97s

<sup>* Some engine image will stuck when upgrading to v1.2.4, but it will be resolved when upgrade to 1.3.0-preview1 im

[2022-05-09 07:49] cchien816 commented on #3886
**Verified on master-head 20220509
Result Pass**

1. Follow test [steps](https://github.com/longhorn/longhorn/issues/3886#issue-1211934131), cloned PVC now can generated success fully
[code]
2. e2e on master branch [passed](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/116/testReport/tests/test_cloning/)

[2022-05-09 07:49] #3886 closed

[2022-05-09 08:03] innobead opened #3949 "[TEST] Run e2e regression of 1.3.0"
## What's the test to develop? Please describe

As titled, run the pipelines of fresh and upgrade of each milestone release, then analyze the results. (https://ci.longhorn.io/)

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] Run fresh install tests and analyze the result
- [ ] Run upgrade tests and analyze the result

## Additional context

N/A

[2022-05-09 08:11] cchien816 commented on #3932
**Verified on v1.2.x-head 20220509
Result Pass**

1. Follow test https://github.com/longhorn/longhorn/issues/3886#issue-1211934131, cloned PVC now can generated success fully
[code]
2. e2e on v1.2.x branch [passed](https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-tests-sles-amd64/90/testReport/junit/tests/test_cloning/test_cloning_basic/)

[2022-05-09 08:11] #3932 closed

[2022-05-09 08:22] VJickriya opened #3950 "Snapshot is failing Longhorn PVs"
## Describe the bug

Snapshot is failing Longhorn PVs

## To Reproduce

Steps to reproduce the behavior:
1) Deploy Longhorn v1.2.4
2) Create a volume
3) Create CSI snapshot, see that the nill timestamp error

## Expected behavior

Expecting to take snapshot.

[2022-05-09 08:22] innobead commented on #3425
@thehejik Could you run again preview 1? I would expect we will have the result for each milestone here because we don't have s390x automation and it's better to have each update. Thank you.

[2022-05-09 08:36] innobead commented on #3950
@VJickriya have you seen any errors from the logs? Please help provide the support bundle for more insights.

[2022-05-09 09:14] cchien816 opened #3951 "[TEST] Verify e2e failed cases (Listed in description)"
## What's the test to develop? Please describe

Recently failed cases below
https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/test_results_analyzer/
https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-upgrade-tests-sles-amd64/test_results_analyzer/

- test_ha_salvage_with_backing_image
- test_ha_salvage
- test_disk_migration
- te

[2022-05-09 09:21] badihi opened #3952 "[QUESTION] How to monitor bandwidth usage for each volume"
## Question
How can I monitor the network bandwidth that is being used by each volume to replicate and/or transfer the data to the mounted host? This will be so useful for planning locality and disk usage over the cluster.

## Environment

 - Longhorn version: 1.2.4
 - Kubernetes version: 1.21.5
 - Node config
   - OS type and version: Ubuntu 20
   - CPU per node: 8
   - Memory per node: 16
   - D

[2022-05-09 16:02] TobiasS1402 commented on #3866
Thanks for your input @derekbit, I am closing the issue.

[2022-05-09 16:02] #3866 closed

[2022-05-09 22:16] keithalucas commented on #3871
In order to the this, the following functionality will be implemented:
- [ ] Create API to launch and stop a SPDK process.
- [ ] Create API to create an empty file of a certain size.
- [ ] Create API to register the empty file as a loopback device.
- [ ] A means to reset an instance of SPDK, i.e. remove all volumes, replicas, logical stores, and devices.   This is to return to a state to run anoth

[2022-05-10 02:06] yangchiu commented on #3929
verified passed on v1.2.x-head.

there are service account annotations settings in yaml files, and the annotation can be set to service account w/o problems.

[2022-05-10 02:06] #3929 closed

[2022-05-10 02:15] yangchiu commented on #3949
[v1.3.0-preview1 amd64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1172/): 16 failures
[v1.3.0-preview1 amd64 upgrade](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1173/): 15 failures
[v1.3.0-preview1 arm64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1176/): 32 failures
[v1.3.0-preview1 arm64 upgrade](https://ci.longhorn.io/job/privat

[2022-05-10 03:34] cchien816 commented on #3839
**Verified on v1.3.0-preview1
Result Pass**

Follow test [steps](https://github.com/longhorn/longhorn/issues/3839#issuecomment-1119229639) for this feature

1 . absent TLS secret (default setup):
- Without TLS secret present in Longhorn cluster, Longhorn can deploy success and normal volume functionality working properly

2 . Test im deployed without TLS secret (non tls server)
- Continue after st

[2022-05-10 03:34] #3839 closed

[2022-05-10 03:40] innobead opened #3953 "[DOC] mTLS authentication for manager <-> instance-manager communication"
## What's the task? Please describe

We need to have a doc for #3839

## Describe the items of the task (DoD, definition of done) you'd like

- [x] Add mTLS doc in 1.3.0 documentation.

## Additional context
N/A

[2022-05-10 03:40] innobead commented on #3839
@joshimoo Please help work on the doc at https://github.com/longhorn/longhorn/issues/3953.

[2022-05-10 06:31] yangchiu commented on #2157
verified passed on master-head by importing repo: longhorn/longhorn/chart master-head into rancher (using https://github.com/yangchiu/rancher-charts/tree/longhorn-v1.3.0) and try to install the imported latest longhorn.

https://github.com/longhorn/longhorn/pull/3954 is needed since there's some incorrect indent and missing double-quote on the original master-head cause the questions unable to be

[2022-05-10 06:31] #2157 closed

[2022-05-10 06:46] cchien816 commented on #3951
Reproduced on local environment

- test_ha_salvage_with_backing_image - In progress
- test_ha_salvage - In progress
- test_disk_migration - Flaky
- test_node_config_annotation_invalid - https://github.com/longhorn/longhorn/issues/3939
- test_node_config_annotation_missing - https://github.com/longhorn/longhorn/issues/3939
- test_allow_volume_creation_with_degraded_availability - Flaky
- test_allow

[2022-05-10 06:46] sharanbabumg opened #3955 "[BUG]: kubelet was restarted this probably caused Longhorn issues nodes started misbehaving probably due to broken longhorn mounts"
kubelet was restarted

this probably caused Longhorn issues

nodes started misbehaving probably due to broken longhorn mounts

df -h was hanging on those nodes

inspecting the output of mount we found lines starting with

172.28.130.22:/pvc-f67505ea-de07-4627-873c-6b5605911f00 ...

this IP was the Service IP of the share-manager-pvc Pod for that PVC (RWX)

the pod was failing with message that vol

[2022-05-10 07:09] thehejik commented on #3425
Results from testing `v1.3.0-preview1` build and longhorn-tests from the same tag, this time with nfs & minio:
`= 6 failed, 60 passed, 5 skipped, 220 deselected, 2 errors in 7678.35s (2:07:58)`

[code]

* pytest logs [here](https://github.com/longhorn/longhorn/files/8659073/220510-longhorn-v1.2.3-preview1-test-results-nfs%2Bminio-btrfs-coretest-test.log)
* support bundle [here](https://github.com/

[2022-05-10 07:12] derekbit opened #3956 "[IMPROVEMENT] Improve the error message from API"
## Is your improvement request related to a feature? Please describe

When one adds a new disk and then immediately removes the disk, the API will return the error message because the disks' spec and status are not synced yet.

![image](https://user-images.githubusercontent.com/12527233/167568868-17014023-174c-4625-b5e5-ea8612ea906d.png)

The message is not friendly to users and cannot let them un

[2022-05-10 07:53] innobead commented on #3955
Have you tried v1.2.4? we have some improvement for kubelet restart.

[ref: #3644 ](https://github.com/longhorn/longhorn/issues/2650)

[2022-05-10 08:13] innobead opened #3957 "[FEATURE] Local volume for distributed data workloads"
## Is your feature request related to a problem? Please describe

Longhorn is a highly available replica-based storage system, and it's good for fault tolerance, read performance, data protection, etc, but on the other side, it also needs some extra costs like requiring more disk paces for replication.

In some cases, especially for distributed data workloads (SS) like databases (ex: Cassandra, Ka

[2022-05-10 08:20] thehejik opened #3958 "[BUG] Event Log on Dashboard is always empty on s390x with v1.3.0-preview1"
## Describe the bug
No events are displayed in Dashboard WebUI of Longhorn v1.3.0-preview1 on s390x

![lh_no_events](https://user-images.githubusercontent.com/12828077/167582422-6b9152a8-3dad-4808-9c83-a3aca3e21879.png)

## To Reproduce

Steps to reproduce the behavior:
1. Create a volume and/or turn off one of the nodes
2. Go to http://longhorn/#/dashboard
3. Scroll down and see there are no even

[2022-05-10 08:32] innobead commented on #3958
cc @longhorn/qa

[2022-05-10 08:50] innobead commented on #3540
@yangchiu Can you provide a screenshot in the comment to share what the result looks like after running a benchmark?

[2022-05-10 08:56] yangchiu opened #3960 "[TEST] avoid private folder rebuild when jenkins-job-builder triggered"
## What's the test to develop? Please describe

Currently when jenkins-job-builder triggered, it would rebuild all the jenkins jobs and folders even though they are not changed, and cause the private folder permission settings being overwritten, the private folder becomes publicly visible, it requires restart jenkins application from infra rancher to reconfigure the permission setting again.

## D

[2022-05-10 09:26] smallteeths commented on #3958
I checked http/ws and found that the event api returns an empty array. Not quite sure if this is a front-end issue. @innobead

<img width="591" alt="截屏2022-05-10 下午5 18 38" src="https://user-images.githubusercontent.com/27733391/167596233-18920c2e-f93b-4f57-91b0-cc31d79e518b.png">
<img width="653" alt="截屏2022-05-10 下午5 26 03" src="https://user-images.githubusercontent.com/27733391/167596443-fffbee

[2022-05-10 09:27] yangchiu commented on #3540
Currently there is no separate report would be generated after the test finished. The results of each benchmark test is printed in console output. To find the test results, you can search "Benchmark Summary" in console output, there would be 4 results, for local-path-provisioner, longhorn with 1, 2, 3 replica(s) respectively:

(1) local-path-provisioner
![051011](https://user-images.githubusercont

[2022-05-10 09:59] #3540 closed

[2022-05-10 10:05] innobead commented on #3958
@mantissahz probably u can try this to see why the results back is empty?

cc @derekbit

[2022-05-10 13:23] voarsh2 commented on #3920
Update: I had 8,000 backups in the Longhorn system, I still can't explain the error in snapshotter, but after deleting ALL snapshots in the system and starting fresh backups run as expected. I suppose Longhorn kept timing out somewhere with the fast number of backups in the system.

[2022-05-10 14:49] innobead commented on #3934
Thanks, @derekbit ! Just decided don't backport this to 1.1.4.

The basic ideas for backport:
- For the recent minor (1.2), we will do bug & improvement backport.
- For older supported minor (1.1), we will just do bug backport.

[2022-05-10 15:01] rebotrer opened #3961 "the longhorn can not work on kubernetes v1.23"
In the kubernets v1.23 , the CRD API  ( apiextensions.k8s.io/v1beta1) is no longer used . So after I Installed longhorn . the pod
longhorn-manager-t6fsh can not work normally and info that "
E0510 14:33:24.989602       1 reflector.go:123] k8s.io/client-go/informers/factory.go:134: Failed to list *v1beta1.CSIDriver: the server could not find the requested resource
E0510 14:33:25.991338       1 refl

[2022-05-10 15:34] #3961 closed, assigned to nobody

[2022-05-10 16:02] derekbit opened #3963 "[IMPROVEMENT] API should responds correct status code"
## Is your improvement request related to a feature? Please describe

When an error occurs, the API always returns HTTP status code 500, regardless of the status code from the backend, e.g. admission webhook.

The root cause is
https://github.com/longhorn/longhorn-manager/blob/master/api/router.go#L39
https://github.com/longhorn/longhorn-manager/blob/4e25888fd7acdd6fa73bede0f85de1d28e9b9421/vendor

[2022-05-10 16:50] #3602 closed

[2022-05-10 17:09] #3934 closed

[2022-05-10 19:40] miketice22 opened #3964 "New PVCs won't attach / pods can't mount volumes"
## Describe the bug

New PVCs won't attach / pods can't mount volumes

## To Reproduce

Steps to reproduce the behavior:
1. deploy pod with PVC
2. volume is unable to attach / mount. Example below:
[code]

Here's the PVC:
[code]

## Expected behavior

Pod is able to attach / mount volume.

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happ

[2022-05-10 19:51] miketice22 commented on #3964
Support bundle is 246.7MB, how can I attach that? Or is there a way to reduce the size?

[2022-05-10 21:57] jhuynh08 opened #3965 "Cannot attach drive to any of the AWS nodes"
Hello,

I can't seem to attach one of my volumes to any of the nodes I have running in AWS. The error I'm receiving shown below.

[code]

The error states that the volume can't attach due to longhorn engine not deployed but that's not the case since this is deployed on all the nodes.

[2022-05-10 22:16] jhuynh08 commented on #3965
Uploaded support bundle

[2022-05-11 00:44] yangchiu commented on #3949
[v1.3.0-preview1 amd64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1186/): 9 failures
[v1.3.0-preview1 amd64 upgrade](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1187/): 5 failures
v1.3.0-preview1 arm64: in progress
[v1.3.0-preview1 arm64 upgrade](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1189/): 17 failures

[2022-05-11 01:44] miketice22 commented on #3964
Issue was resolved by restarting all longhorn daemonsets / deployments.

[2022-05-11 01:44] #3964 closed

[2022-05-11 02:03] cchien816 commented on #3220
Update: This issue still present in recently build and make test case falky

[2022-05-11 02:15] derekbit commented on #2777
For `Min(VolumeSpecSize, The Actual size of the largest snapshot)`, is it possible that `The Actual size of the largest snapshot` is larger than `VolumeSpecSize`?

[2022-05-11 02:17] innobead commented on #3083
Let's do this testing until RC1 is released because RC1 will include #3546  and this will make the communication between manager and engine process has one more hop (manager -> proxy -> engine process).

cc @c3y1huang @shuo-wu

[2022-05-11 02:40] kaxing commented on #3087
Validation - **PASSED**

Validated with v1.2.4 image, upgrade time had been improved since v1.2.3: https://github.com/longhorn/longhorn/issues/3087#issuecomment-1116121960

Also had reference test with v1.3.0-preview1(see previous comment): https://github.com/longhorn/longhorn/issues/3087#issuecomment-1120730706

As the improvement is made in v1.2.4 branch, the launch time is expecting differ with

[2022-05-11 02:40] #3087 closed

[2022-05-11 03:21] cchien816 opened #3966 "[BUG] Command longhorn-instance-manager process won't work without TLS key"
## Describe the bug

From e2e
- test_ha_salvage_with_backing_image
- test_ha_salvage

By default longhorn installation, if we present command `longhorn-instance-manager process delete` in instance-manager-r pod will see below error
[code]
## To Reproduce

Steps to reproduce the behavior:
1. Run e2e test_ha_salvage

or

1. Deploy Longhorn
2. Enter instance-manage-r pod
3. Exec command `longhorn-ins

[2022-05-11 03:27] cchien816 commented on #3966
Related to https://github.com/longhorn/longhorn/issues/3839

[2022-05-11 05:36] mantissahz commented on #3933
Verified Passed on v1.2.x-head by:

1.a. Disable scheduling on all nodes
1.b. Create a volume on UI
1.c. Create PV/PVC for the volume
1.d. Check the PV annotation "longhorn.io/volume-scheduling-error: nodes are unavailable"

2.a. Disable all disks and on all nodes
2.b. Create a volume on UI
2.c. Create PV/PVC for the volume
2.d. Check the PV annotation "longhorn.io/volume-scheduling-error: disks a

[2022-05-11 05:36] #3933 closed

[2022-05-11 05:53] derekbit commented on #3958
The event log is also missing on AMD platform as well.

[2022-05-11 05:55] derekbit commented on #3958
I think the culprit is here https://github.com/longhorn/longhorn-manager/blob/master/datastore/uncached.go#L18.
Need to update to "involvedObject.apiVersion=longhorn.io/v1beta2"

[2022-05-11 10:42] c3y1huang opened #3967 "[IMPROVEMENT] Refactor to use dedicated goroutine for proxy client creation and keepalive"
https://github.com/longhorn/longhorn-manager/pull/1212#discussion_r868998592

[2022-05-11 10:46] c3y1huang opened #3968 "[IMPROVEMENT] Do not create proxy server for instance manager replica pod"
https://github.com/longhorn/longhorn-instance-manager/pull/105#discussion_r869152992

https://github.com/longhorn/longhorn/issues/3546

[2022-05-11 10:57] joshimoo commented on #3963
For reference added this to the EPIC https://github.com/longhorn/longhorn/issues/1875
The linked issues, should have additional context + discussion around the current -> future error handling mechanism.

[2022-05-12 00:01] joshimoo commented on #3966
test image: `joshimoo/longhorn-instance-manager:3966-test`

[2022-05-12 00:54] cchien816 commented on #3862
Close this ticket.

After code merged this case passed on [master](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/120/testReport/tests/test_settings/test_setting_backing_image_auto_cleanup/) and v[1.2.x](https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-tests-sles-amd64/94/testReport/tests/test_settings/test_setting_backing_image_auto_c

[2022-05-12 00:54] #3862 closed

[2022-05-12 01:07] #3939 closed

[2022-05-12 02:22] cchien816 opened #3969 "[BUG] [BACKPORT] [V1.2.5] Websocket's icon in footer is showing wrong"
## Describe the bug

ref : https://github.com/longhorn/longhorn/issues/3935

[2022-05-12 02:43] cchien816 commented on #3935
**Verified on master-head 20220512
Result Pass**

All web socket icon display correctly :

- volume
- node
- setting
- engineImage
- event
- backingImage
- recurringJob
- BackupVolumes
- Backups

Those icon will switch between open/closed when browse different Longhorn page
Opened icon in each page :

- Dashboard : volume, node, event
- Node : volume, node, setting
- Volume : volume, node, setting

[2022-05-12 02:43] #3935 closed

[2022-05-12 02:46] cchien816 commented on #3969
**Verified on v1.2.x-head 20220512
Result Pass**

All web socket icon display correctly :

- volume
- node
- setting
- engineImage
- event
- backingImage
- recurringJob
- BackupVolumes
- Backups

Those icon will switch between open/closed when browse different Longhorn page
Opened icon in each page :

- Dashboard : volume, node, event
- Node : volume, node, setting
- Volume : volume, node, setting

[2022-05-12 02:46] #3969 closed

[2022-05-12 05:29] shuo-wu opened #3970 "[IMPROVEMENT] Launch a general file managing and syncing service for backing image"
## Is your improvement request related to a feature? Please describe

Right now each component will launch one kind of file server (HTTP service) by themselves, and the implementations are similar, which looks redundant. e.g., the backing image data source server, some backing image manager APIs, and some replica sync agent APIs.

In this ticket, we will focus on the backing image related refactor

[2022-05-12 06:12] cchien816 commented on #3966
Validate [pass](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1206/testReport/tests/) with test image `joshimoo/longhorn-instance-manager:3966-test`, will test again in master head later

[2022-05-12 07:09] innobead commented on #3966
After the merge, please also reverify mTLS features to ensure nothing broken. Thanks, @cchien816 .

[2022-05-12 07:28] innobead commented on #3830
ref: #2570

[2022-05-12 10:27] vidhut-singh opened #3972 "Is it possible to mount longhorn replica on Node 2 while longhorn volume is attached to Node1"
Setup :
I have two node k3s setup and I have deployed longhorn on it.  I have created a volume with replica count 2. The volume is in a healthy state and replicated to Node2.

Node 1 :
I have attached the longhorn volume

Node 2
I am trying the mount the replica of the volume manually. For that, I am following this article
https://www.bookstack.cn/read/longhorn-1.0.0-en/a4a31b895ca2573a.md
This ar

[2022-05-12 12:53] thehejik commented on #3425
Once I rebuilt `longhorn-engine` image for upgrade tests all the upgrade related tests from `-m coretest` started to PASS.

Results from `-m coretest` pytest run on `v1.3.0-preview1` on s390x and logs [here](https://github.com/longhorn/longhorn/files/8679151/220511-longhorn-v1.2.3-preview1-test-results-minio-btrfs-coretest-successful.log):
[code]

Results from `"full"` pytest run on `v1.3.0-previe

[2022-05-12 14:39] derekbit commented on #2777
After discussing with @shuo-wu and @shuo-wu,  the async mechanism between engine and manager introduces uncertainties, e.g. we cannot know which snapshot is purging. The uncertainties may lead to the over-estimation of the reserved space and reject the purge request.

We can revisit the task after the snapshot CRD and the snapshot APIs refactoring  are ready.

[2022-05-13 01:16] yangchiu commented on #1800
Verified **AWS EKS** + v1.3.0-preview1 **passed**.

The following 3 scenarios are tested:

(1) Create additional volume

(1-1) Before creating additional volume, create [deployment](https://github.com/longhorn/longhorn/blob/master/examples/deployment.yaml) and write some data to it.
(1-2) Create additional volume by following the [instructions](https://v1-3-0--longhornio.netlify.app/docs/1.3.0/adv

[2022-05-13 02:39] c3y1huang opened #3975 "[IMPROVEMENT] Implement TLS to proxy client"
https://github.com/longhorn/longhorn-instance-manager/pull/105#discussion_r871248489

https://github.com/longhorn/longhorn/issues/3546
https://github.com/longhorn/longhorn/issues/3978

[2022-05-13 02:57] cchien816 commented on #3839
**Verified on master-head 20220513(73f1914b988daa121599f7ff2c4c9bbf59a40967)
Result Pass**

1 . absent TLS secret (default setup):

- Without TLS secret present in cluster, Longhorn can deploy success and normal volume functionality working properly

2 . Test im deployed without TLS secret (non tls server)

- Continue after step 1. After TLS secret created in cluster , in longhorn-manager, instanc

[2022-05-13 03:02] innobead commented on #3825
@mantissahz Please help this one. You can check with @derekbit to understand the context and some other reported issues.

[2022-05-13 03:08] cchien816 commented on #3966
**Validate on master-head 20220513(73f1914b988daa121599f7ff2c4c9bbf59a40967)
Result Pass**

1. e2e [Passed](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1216/testReport/tests/)
2. Command `longhorn-instance-manager process delete` running properly in both instance-manage-r/e
3. Restset mTLs feature https://github.com/longhorn/longhorn/issues/3839 on master-head, test pass and d

[2022-05-13 03:08] #3966 closed

[2022-05-13 03:13] innobead commented on #3966
After #3546 merged, we need to revisit this issue.

cc @c3y1huang

[2022-05-13 03:17] c3y1huang opened #3976 "[IMPROVEMENT] replace libqcow with libqcow-devel package"
https://github.com/longhorn/longhorn-instance-manager/pull/105#discussion_r871091320

https://github.com/longhorn/longhorn/issues/3546

[2022-05-13 03:27] c3y1huang opened #3977 "[IMPROVEMENT] Send credential to process server via request"
https://github.com/longhorn/longhorn-instance-manager/pull/105#discussion_r871509816

https://github.com/longhorn/longhorn/issues/3546

[2022-05-13 03:29] innobead commented on #3839
cc @c3y1huang

[2022-05-13 03:31] innobead commented on #3839
@cchien816 just added an automation label, could you help create a ticket to track the e2e test implementation later? Thanks.

[2022-05-13 03:36] chriscchien opened #3978 "[TEST] Implement test case for mTLS authentication"
## What's the task? Please describe

From https://github.com/longhorn/longhorn/issues/3839 and test steps [here](https://github.com/longhorn/longhorn/issues/3839#issuecomment-1119229639)

## Describe the items of the task (DoD, definition of done) you'd like

- [x] Implement test case for mTLS authentication
- [x] Verify script on pipeline

## Additional context

N/A

[2022-05-13 03:38] c3y1huang commented on #3972
Have you tried [ReadWriteMany](https://longhorn.io/docs/1.2.4/advanced-resources/rwx-workloads/)?

[2022-05-13 03:42] innobead commented on #1800
@yangchiu could you help create the manual test plan in longhorn-tests based on engineering input as well? (we have `manual-test-plan`) thanks.

[2022-05-13 04:38] vidhut-singh commented on #3972
Thanks, I have already used ReadWriteMany and that doesn't solve my use case. Since it uses longhorn NFS provisioned and essentially points to the same volume. I have a use case to mount the replica in an Active-Active setup if possible but so far it doesn't look like it is possible if the volume is already in use on Node1.  Can you confirm if this is supported by Longhorn?

[2022-05-13 05:22] alitechio commented on #1861
Awesome worked smoothly thank you!!!

[2022-05-13 05:53] derekbit commented on #2570
After updating the `charts` in `longhorn/longhorn`, the installation sometimes encounter the error
[code]

Although we already add
[code]
in the `Setting` CRs template as @jenting mentioned (https://github.com/longhorn/longhorn/issues/2570#issuecomment-986413965), the error still happens in helm3 (v3.8.2).

The error is because the `Setting` CRs are applied because the `Setting` CRD is fully regis

[2022-05-13 06:00] PhanLe1010 commented on #3144
## Test Plan:
### Innit
1. Create volume: `vol1`, `vol2`
1. Attach and write some data to it

### Create
1. Create new snapshot CR, volume attached
    1. Deloy the yaml
[code]
    1. Verify that Longhorn provison a new snapshot `snap001` inside Longhorn UI
    1. Run `kubectl get snapshots -n longhorn-system snap001`. Verify the `status` field of the snapshot CR is good (all fields make sense)

[2022-05-13 06:44] cchien816 commented on #3958
**Verified on master-head 20220513 (e89c7eebbb6900e129cf5abb2bcbe224ead8d66d)
Result Pass**

**Test environment : Ubuntu 20.04 virtual machine**

1. Can reproduce error behavior on  v1.3.0-preview1
2. In master-head, can see event logs in Longhorn dashboard
3. The dashboard event log meets result of command `kubectl get event -n longhorn-system ` filtered by `volume` `replica` node `engine` `engin

[2022-05-13 06:44] #3958 closed

[2022-05-13 06:44] innobead opened #3979 "[TEST] Add a pipeline for snapshot resource scaling testing"
## What's the test to develop? Please describe

After #3144 is introduced, this makes us think of how to measure and understand the potential upper bound of the number of Longhorn resources we could support like the number of snapshot, given don't impact system/cluster stability like overwhelming K8s API server/etcd.

We would like to have an on-demand testing pipeline to figure out that given som

[2022-05-13 07:15] PhanLe1010 opened #3980 "[BUG] Upgrading from v1.2.x to v1.2.4 take a long time if there are many backup CRs in the system"
## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:
1. Install Longhorn v1.2.0 or v1.2.1 or v1.2.2 or v1.2.3
2. Create 20k backups in the system (e.g., by using a recurring job)
3. Perform upgrade to Longhorn v1.2.4
4. See that it takes a long time (about 2 hours) for the first Longhorn manager pod to come up

## Expected beha

[2022-05-13 07:24] c3y1huang opened #3981 "[IMPROVEMENT] Consolidate command line and proxy implementations"
Currently, we are duplicating implementation from the command line to the proxy. Need to consolidate shared implementation where possible.

https://github.com/longhorn/longhorn-instance-manager/pull/105#discussion_r872060997

https://github.com/longhorn/longhorn/issues/3546

[2022-05-13 07:56] derekbit commented on #2570
I'm thinking if we should rollback to previous `ConfigMap` to `Setting` method and then introduce the Longhorn version field into the ConfigMap.

After upgrade, if setting controller detects the current setting does not have the version or has a version different from the value in the ConfigMap,  then setting controller will update the setting.

@innobead @shuo-wu WDYT?

[2022-05-13 09:34] yangchiu opened #3983 "[TEST] Add manual test plan for managed Kubernetes cluster (EKS, GKE, AKS)"
## What's the test to develop? Please describe

Add manual test plan for managed Kubernetes cluster (EKS, GKE, AKS) described in #1800

[2022-05-13 09:58] NicklasWallgren commented on #2219
It would be great if the documentation provided a setup guide for GCP, as an alternative to AWS S3.

https://staging--longhornio.netlify.app/docs/0.8.1/snapshots-and-backups/backup-and-restore/set-backup-target/

[2022-05-13 15:52] innobead commented on #2570
@derekbit do you mean it did not work by helm hook instead of helm managed resources?

I saw @jenting proved it worked before.
https://github.com/longhorn/longhorn/issues/2570#issuecomment-986413965

[2022-05-13 16:06] derekbit commented on #2570
No, there is a probability of hitting the error after applying the solution.

[code]

[2022-05-13 16:09] derekbit commented on #2570
Helm cannot guarantee the CR create/update happens after the CRD is registered although post-install hook is applied.

[2022-05-13 16:10] innobead commented on #2570
:point_up: just saw this part as you said

[2022-05-13 16:28] derekbit commented on #2570
I just rollback to previous ConfigMap and implement the setting update in upgrade path. Looks feasible. I will submit the PR after fully testing.

[2022-05-13 16:42] derekbit commented on #2570
The design is

In the upgrade path and before `CreateOrUpdateLonghornVersionSetting`, do `updateCustomizedDefaultSetting`.

In `updateCustomizedDefaultSetting`
- check if the LH version will be updated
   - If no, don't update any default settings and exit directly
   - If yes, read the customized default settings from latest ConfigMap user provided
         - update the settings to latest values

[2022-05-14 00:28] PhanLe1010 commented on #3972
No, it is not supported.

If you mount the replica on node2 and start writing to it, it will break the data consistency between replica on node 1 and replica on node 2

[2022-05-14 01:13] PhanLe1010 commented on #3965
From the support bundle, the nodes of the replicas for this volume are:
| Replica  | Node |
| ------------- | ------------- |
| pvc-e97e44a9-06ca-4b83-9c82-11681da9e505-r-387b9791  | ip-10-0-73-219.ec2.internal  |
| pvc-e97e44a9-06ca-4b83-9c82-11681da9e505-r-da72c9e0 | ip-10-0-22-150.ec2.internal  |
| pvc-e97e44a9-06ca-4b83-9c82-11681da9e505-r-aa77b042 | ip-10-0-5-191.ec2.internal |

None of the n

[2022-05-14 01:35] PhanLe1010 commented on #3952
Can setting up Prometheus to monitor the network of inter nodes help?
How about monitoring the network of instance-manger-xxx pods which host the engines and the replicas of volume?

What do you think?

[2022-05-14 01:38] PhanLe1010 commented on #3952
The network bandwidth to move data from the engine of the volume to the replica of the volume can be calculated using the number of IOPs. However, Longhorn has not exposed this metrics for each volume yet

[2022-05-14 02:05] PhanLe1010 commented on #3943
cc @c3y1huang Do you have any idea if DO block volume works with Longhorn when you investigate the issue https://github.com/longhorn/longhorn/issues/1800

[2022-05-14 06:21] c3y1huang commented on #3943
No idea. [#1800](https://github.com/longhorn/longhorn/issues/1800) is about EKS, GKE, AKS.

[2022-05-14 07:07] c3y1huang opened #3984 "[IMPROVEMENT] Cache process clients in proxy server"
Investigate if we can make process clients reusable by cache in the proxy server.

https://github.com/longhorn/longhorn-instance-manager/pull/105#discussion_r866492493
https://github.com/longhorn/longhorn-instance-manager/pull/105#discussion_r872395281

https://github.com/longhorn/longhorn/issues/3546

[2022-05-14 07:16] badihi commented on #3952
So I have some questions to clear what you said:
- Do you confirm that the network throughput of the container `instance-manger-xxx` will be equal to throughput of all volumes on the node (the sum of replication and read/write operations)? If yes, this will be a good place to start.
- You say that the exact network bandwidth can be derived from IOPS (if yes, please describe how), or it is just a m

[2022-05-15 02:16] #3827 closed

[2022-05-15 02:16] #3814 closed

[2022-05-15 02:16] #3604 closed

[2022-05-15 02:23] pcgeek86 opened #3985 "[BUG] 🐛 Longhorn Manager 1.2.4 fails to spin up properly on Vultr Kubernetes Engine (VKE)"
## Describe the bug

1. When deploying Longhorn via `kubectl` onto the Vultr Kubernetes Engine (VKE), the Longhorn Manager component fails to start.
2. The `longhorn-driver-deployer` stays in `init` status

## To Reproduce

Steps to reproduce the behavior:
1. Deploy Vultr Kubernetes Engine (VKE) version 1.23.5
2. Deploy Longhorn to the VKE, using command below
3. Observe failed Pods in the `longho

[2022-05-15 05:44] derekbit commented on #3985
Please check if the iscsi daemon is installed on your nodes.
https://longhorn.io/docs/1.2.4/deploy/install/#installing-open-iscsi

[2022-05-15 05:47] pcgeek86 commented on #3985
I opened a support ticket with Vultr, saying the following:

[2022-05-15 06:03] pcgeek86 commented on #3985
- I created a Vultr Kubernetes Engine (VKE) cluster with 2 worker nodes
- I was able to SSH into one of the nodes and run `apt install open-iscsi`
- I attempted to deploy Longhorn with the `kubectl` approach
- The `longhorn-manager` successfully started on the single node that I manually fixed
- The secondary, unmodified worker node continued to fail to start `longhorn-manager`

I shared this info

[2022-05-15 06:03] #3985 closed

[2022-05-15 08:48] StefanNienhuis commented on #2078
Running into the same issue on RHEL 8.6.

Something that might be related: on boot I always get `A start job is running for Login and scanning of ISCSI devices` (even before 8.6, before it broke) which runs for 5 minutes and then continues with the boot process.

[2022-05-15 13:09] derekbit commented on #2570
Three manual test cases.

## Test 1. Fresh installation

### 1. Create customized-default-settings.yaml

[code]

### 2. Install Longhorn with customized-default-settings.yaml

[code]

Then, check the default settings.

[code]

### 3. Update default settings using kubctl

[code]

### 4. Upgrade (Longhorn version is not changed, and longhorn-manager tag is changed)

**4.1 Without a new customized-de

[2022-05-15 23:46] jemand771 commented on #3824
I've bit the bullet and reinstalled the machine+cluster, everything works as intended now.
Ideally, I could have just reinstalled the cluster and leave the os as-is to pinpoint the issue, but I really didn't feel like redeploying everything twice :b

Thanks for the help (+the amazing software in general), I'm now 99.9% sure that none of this was longhorn's fault.

[2022-05-15 23:46] #3824 closed

[2022-05-16 03:06] cchien816 commented on #3951
Close this ticket because most issues were fixed and fail casees not apper in [recent](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/124/) pipleline

Only https://github.com/longhorn/longhorn/issues/3220 need keep follow

[2022-05-16 03:06] #3951 closed

[2022-05-16 03:41] innobead commented on #3951
@cchien816 Well done, this is a good pattern to track failed e2e test cases.

cc @longhorn/qa

[2022-05-16 05:53] #1800 closed

[2022-05-16 07:26] #3983 closed

[2022-05-16 07:31] innobead opened #3987 "[TEST] Support different types of install/upgrade e2e regression"
## What's the test to develop? Please describe

Currently, we only support testing over longhorn-manager/deploy, but in real user cases, they will follow the guidance from https://longhorn.io/docs/latest/deploy/install/ and https://longhorn.io/docs/latest/deploy/upgrade/, so we need to ensure we have a way to choose what type to run our e2e regression.

## Describe the items of the test developmen

[2022-05-16 07:37] weihanglo opened #3988 "[IMPROVEMENT] Support backing image with common compression formats."
## Is your improvement request related to a feature? Please describe

Longhorn already supports qcow2 and raw iamge format, which is really great. However, some vendors ship their images with additional compression, for example, `https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2.xz`. If Longhorn supports some common compression formats, vendors can directly use those imag

[2022-05-16 07:45] derekbit commented on #2570
@innobead
If users only change the settings and don't change the longhorn-manager tag.
Longhorn won't restart can update the setting CRs using the values from configmap.
Do we need to handle this scenario?

If yes, we can handle this update in setting controller.

[2022-05-16 09:05] innobead commented on #2570
Yeah, we should tackle this part that we missed and overtook because users probably will use gitops ways to handle their longhorn installation w/o any following resource updates. That means we can't just rely on the start time of the longhorn manager to make the new changes take effect.

I would suggest some changes instead:
- Use the config map controller to reconcile the changes of the default s

[2022-05-16 09:08] cchien816 commented on #2570
**Validate on longhorn**

- master-head(702d728cba2837c6f7e2bb0ef19e688657cbb364)
- v1.2.x-head (3bad923306beeb0c6ac88bf839a6efee5fb19713)
- v1.1.x-head (aebd0b10868af2f20bcf45c7f54a00a464221055)

**Test [steps](https://github.com/longhorn/longhorn/issues/2570#issuecomment-1126938163)**
**Result Pass**

Test 1. Fresh installation
Check default setting value working properly at each step

- [ ] 1.

[2022-05-16 09:09] gp187 commented on #3037
This is still a huge issue. Any updates?

[2022-05-16 09:23] cchien816 commented on #3956
Close this issue.

After change disk API error message from `cannot finish API request due to too many error retries` to `being syncing and please retry later` in both backend and longhorn-test repo,
1. User will get more precise error message from UI and
2. e2e [error](https://github.com/longhorn/longhorn/issues/3951) not happen in recently build

[2022-05-16 09:23] #3956 closed

[2022-05-16 15:04] pcgeek86 commented on #3985
I received another reply from Vultr Support, indicating that they plan to add `open-iscsi` to their VKE worker node base image.

[code]

Hopefully this should be solved, and avoid the need for Longhorn users — running Kubernetes on VKE — to manually deploy the package to worker nodes.

[2022-05-17 02:15] #3833 closed

[2022-05-17 03:45] fzyzcjy opened #3993 "[IMPROVEMENT] Allow customize CPU requests for `instance-manager`"
## Is your improvement request related to a feature? Please describe

Hi thanks for the wonderful library! I am using the helm chart deploying longhorn to kubernetes. However, the `instance-manager` has a fixed CPU request of 0.5 cores. For my own use case, I have very limited cpu and low workload, so want to lower this request, e.g. to 0.1 core. Seems that there is not existing config param for t

[2022-05-17 04:48] shuo-wu commented on #2570
It seems that the Setting CR solution is blocked by https://github.com/longhorn/longhorn/issues/1879#issuecomment-947332276

[2022-05-17 06:03] innobead commented on #3938
1.3.0 RC1

- (chart, deploy manfiest)https://github.com/longhorn/longhorn/tree/v1.3.0-rc1
- (helm chart) https://github.com/longhorn/charts/tree/v1.3.x

[2022-05-17 10:48] joshimoo commented on #3993
Have a look at this part of the doumentation:
https://longhorn.io/docs/1.2.4/references/settings/#guaranteed-engine-manager-cpu
https://longhorn.io/docs/1.2.4/references/settings/#guaranteed-replica-manager-cpu

These default percentage settings can also be overriden per node. A certain amount of CPU will be required for correct functionality of the engine/replicas.

[2022-05-17 10:54] fzyzcjy commented on #3993
Thank you!

[2022-05-17 10:54] #3993 closed

[2022-05-17 11:57] kaxing commented on #2203
Initial test with Longhorn v1.3.0-preivew1 with GKE result positive with new test case: [test_cluster_autoscaler ](https://github.com/longhorn/longhorn-tests/pull/936)

The new global setting will allow autoscaler to scale down the nodes with longhorn managed pods.

AKS and EKS will be testing with rc image.

[2022-05-17 12:47] thehejik commented on #3425
Results from `-m coretest` pytest run on `v1.3.0-rc1` on s390x and logs [here](https://github.com/longhorn/longhorn/files/8708330/longhorn-tests.log):
[code]
(used nfs and s3/minio as backup backends)

[2022-05-17 12:56] fzyzcjy opened #3994 "[BUG] Pod wait infinitely with "MountVolume.MountDevice failed for volume ... rpc error: code = Internal desc = mount failed: exit status 32 ... already mounted or mount point busy.""
## Describe the bug

Hi thanks for the storage solution! However today when I use it, Pod wait infinitely with errors.

pod event says:

[code]

longhorn-csi-plugin

[code]

extra info following https://longhorn.io/kb/troubleshooting-volume-with-multipath/

[code]

## To Reproduce

N/A

## Expected behavior

no error

## Log or Support bundle

seems to contain too much sensitive information. you c

[2022-05-17 20:34] oivindoh commented on #3708
@w13915984028  It is possible to have three replicas by setting`Replica Node Level Soft Anti-Affinity` to `true` in Longhorn settings. I use this to spread replicas among different drives in my single node setups.

[2022-05-17 20:53] PhanLe1010 commented on #3980
## Test data:
### Evn:
Number of CP nodes: 3
Number of worker nodes: 5
Node spec: EC2 m5.2xlarge
Longhorn version:  v1.2.x (05/17/2022)
Number of backup CRs in the system: 7.7k
Number of volumes: 300
Number of volumes per node: 60
Recurring backup job:
[code]

### Data

| Setup  | Upgrading Time | Logs |
| ------------- | ------------- | ------------- |
| burst = 10 <br> qps = 5  | 27 mins  | `[lo

[2022-05-18 00:58] PhanLe1010 opened #3995 "[IMPROVEMENT] Change Longhorn API to create/delete snapshot CRs instead of calling engine CLI"
## Is your improvement request related to a feature? Please describe

After [the snapshot CRD](https://github.com/longhorn/longhorn/issues/3144) is implemented and stable, we should change the Longhorn snapshot create/delete API to create/delete snapshot CRs instead of calling engine CLI

Note that this change will impact all clients: recurring job, e2e test because now the 200 response from snaps

[2022-05-18 00:59] PhanLe1010 commented on #3995
cc @innobead Could you please help to assign milestone

[2022-05-18 01:28] PhanLe1010 opened #3996 "[BACKPORT][V1.2.5][BUG] Upgrading from v1.2.x to v1.2.4 take a long time if there are many backup CRs in the system"
ref: https://github.com/longhorn/longhorn/issues/3980

[2022-05-18 01:35] PhanLe1010 commented on #3996
## Test steps
1. Install Longhorn v1.2.0 or v1.2.1 or v1.2.2 or v1.2.3
2. Create 20k backups in the system (e.g., by using a recurring job)
3. Perform upgrade to Longhorn v1.2.x-head
4. Verify that it takes less than 15 mins for all Longhorn manger to come up

[2022-05-18 01:36] PhanLe1010 commented on #3980
## Test steps
1. Install Longhorn v1.2.0 or v1.2.1 or v1.2.2 or v1.2.3
2. Create 20k backups in the system (e.g., by using a recurring job)
3. Perform upgrade to Longhorn master-head
4. Verify that it takes less than 15 mins for all Longhorn manger to come up

[2022-05-18 02:12] PhanLe1010 commented on #3994
Can you provide the output of:
1. `kubectl get volumes -n longhorn-system -o yaml pvc-8ccb1ec6-1f11-4a0d-8848-a128f6f04729`
2. Find the status.currentNodeID field in the above output. SSH into that node. run `lsblk`

[2022-05-18 02:17] innobead commented on #3891
@PhanLe1010 will help with this one w/ @joshimoo help.

[2022-05-18 05:38] innobead opened #3997 "[TEST] Create a upgrade pipeline to evaluate the time elapsed given considerable resources"
## What's the test to develop? Please describe

When doing an upgrade, given a considerable number of resources it will potentially take a longer time to finish the process, so it will impact users' maintenance costs and system stability.

Need a pipeline to verify this case to see the impact of performance and time elapsed.

## Describe the items of the test development (DoD, definition of done)

[2022-05-18 05:39] innobead commented on #3997
cc @longhorn/qa

[2022-05-18 09:56] cchien816 commented on #3144
HI @PhanLe1010 ,

I have a quick question about test [plan](https://github.com/longhorn/longhorn/issues/3144#issuecomment-1125684793) steps  **create** -> **2** -> **iii** , is the snapshot name snap001 typo in command `kubectl get snapshots -n longhorn-system snap001` ? thank you

[2022-05-18 10:38] oldluke92 opened #3999 "[BUG] high instance-manager-e-.../tgtd CPU Usage and disconnecting Volumes"
## Describe the bug

We are running Longhorn 1.2.4 and K3s v1.22.5+k3s2.
The k3s cluster configuration is 1 master / 3 workers, while only the workers hold longhorn volumes.
About once a week the CPU Load of one of the instance-manager-e-... pods goes up to > 4 CPU Cores and stays there till it is manually restarted. `top` on the worker node shows tgtd as the Process using those CPUs.
While in tha

[2022-05-18 13:55] IJOL opened #4000 "[BUG] After some kind of hardware glitch, volume fails to mount"
After some kind of hardware glitch one volumes fails to mount

 - Longhorn version: 1.2.3
 - Installation method : kubectl
 - Kubernetes distro and version: rke, v.1.21.9
   - Number of management node in the cluster: 3
   - Number of worker node in the cluster: 3
 - Node config
   - OS type and version: ubuntu 20.04
 - Underlying Infrastructure : baremetal
 - Number of Longhorn volumes in the clu

[2022-05-18 14:04] derekbit commented on #3988
@weihanglo Do you mean that Longhorn reads the data from the compressed backing image (base image) in the run time?

[2022-05-18 18:41] PhanLe1010 commented on #3144
Yeah, it is a typo. Fixed it. Thank you

Done. Thank you

[2022-05-18 23:58] yangchiu commented on #3949
[v1.3.0-rc1 amd64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1252/): 47 failures
[v1.3.0-rc1 amd64 upgrade](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1253/): 44 failures
[v1.3.0-rc1 arm64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1254/): 54 failures
[v1.3.0-rc1 arm64 upgrade](https://ci.longhorn.io/job/private/job/longhorn-tests

[2022-05-19 00:34] goodidea-kp opened #4001 "NFS backup failed with error 'file exists'"
## Question

## Environment

 - Longhorn version:1.2.4
 - Kubernetes version:1.24
 - Node config
   - OS type and version
   - CPU per node:
   - Memory per node:
   - Disk type
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal): baremetal

## Additional context

Add any other context about the problem here.

Trying

[2022-05-19 01:08] weihanglo commented on #3988
These all make sense, especially performance drop. I'll re-consider if we really needs this feature for our situation. Thanks for the rapid reply.

[2022-05-19 02:25] derekbit opened #4002 "[TASK] Performance benchmark of Longhorn v1.2.4 and v1.3.0 on Equinix"
## What's the task? Please describe

Performance benchmark of Longhorn v1.2.4 and v1.3.0 on Equinix

## Additional context

https://github.com/longhorn/longhorn/issues/2986
https://suse.slack.com/archives/C02DR3N5T24/p1652886159419279

[2022-05-19 02:29] innobead opened #4003 "[IMPROVEMENT] Support K8s 1.25 by updating removed deprecated resource versions like PodSecurityPolicy"
## Is your improvement request related to a feature? Please describe

PodSecurityPolicy has been deprecated and will be removed from K8s 1.25, so we need to find an alternative way to resolve the need for PSP in Longhorn to support 1.25.

Also, some deprecated resource versions are also removed from 1.25. Need to resolve this via https://github.com/longhorn/longhorn/issues/4239 or even consider to

[2022-05-19 02:31] innobead commented on #4002
cc @yangchiu

[2022-05-19 02:41] yangchiu opened #4004 "[BUG][v1.3.0-rc1] faulted volume after engine upgraded"
## Describe the bug

Upgrade longhorn from v1.2.4 to v1.3.0-rc1, and then upgrade longhorn engine to v1.3.0-rc1, a healthy volume becomes faulted.

## To Reproduce

Steps to reproduce the behavior:
1. install longhorn v1.2.4
`kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.2.4/deploy/longhorn.yaml`
2. access longhorn ui to disable `Auto Salvage`
3. create a deployment to us

[2022-05-19 02:53] derekbit opened #4005 "[TASK] Investigate the direct IO of the replica"
## What's the task? Please describe

Longhorn engine opens a replica's volume-head and snapshot files with direct IO.
The direct IO bypasses the host page caches and cannot get the benefit of the page caches.

Apart from the volume-head that accepts read/write requests, we can firstly investigate if Longhorn engine can operate the snapshot files using buffer IO and check if the performance can be

[2022-05-19 03:03] cchien816 commented on #3144
**Validate on master-head 20220519
Result Pass**

Follow test [steps](https://github.com/longhorn/longhorn/issues/3144#issuecomment-1125684793), below snapshot behavior in different scenarios all working as expected

**Create**
- [ ] Create new snapshot CR, volume attached
- [ ] Create new snapshot CR, volume detached
- [ ] Create snapshot using UI
- [ ] Create snapshot using recurring job
- [ ] C

[2022-05-19 03:03] #3144 closed

[2022-05-19 03:47] derekbit commented on #2570
Also tested the upgrade on Rancher UI. The default settings set in v1.2.4 are reserved as expected after upgrading to v1.3.0.

[2022-05-19 06:13] PhanLe1010 commented on #3891
## Steps to bum K8s, client-go, CSI sidecars, Golang version

1. Check the [Deprecated API Migration Guide](https://kubernetes.io/docs/reference/using-api/deprecation-guide/) to identify the deprecated/removed API versions that are used by Longhorn. Using the info on this document, we should be able to determine the minimum supported Kubernetes version by following the steps:
    1. Find the lates

[2022-05-19 06:35] derekbit commented on #3734
Already implemented in https://github.com/longhorn/longhorn/issues/3529.

[2022-05-19 06:36] #3734 closed

[2022-05-19 07:08] thehejik commented on #3425
Results from full pytest run on `v1.3.0-rc1` on s390x, logs [here](https://github.com/longhorn/longhorn/files/8726097/longhorn-test.log)

[code]

[2022-05-19 07:49] c3y1huang commented on #4004
[longhorn-support-bundle_45e24b0b-93ee-4ed1-a032-1d4666f15225_2022-05-19T07-48-43Z.zip](https://github.com/longhorn/longhorn/files/8726931/longhorn-support-bundle_45e24b0b-93ee-4ed1-a032-1d4666f15225_2022-05-19T07-48-43Z.zip)

[2022-05-19 10:09] zucatti commented on #2217
got the same error with longhorn and k10

[2022-05-19 10:22] NarayanPooja commented on #2217
I installed open-icsi as a prereq before installing longhorn and was able to rectify the error

https://longhorn.io/docs/1.2.4/deploy/install/#installing-open-iscsi

You can refer this link

[2022-05-19 10:35] NarayanPooja commented on #2217
I have made a small note on installing Kasten with longhorn Please refer if you find it useful

Install Longhorn

kubectl get no -o wide

ssh into all nodes

run the below commands in all the nodes

yum --setopt=tsflags=noscripts install iscsi-initiator-utils
systemctl enable iscsid
systemctl start iscsid
yum install nfs-utils

docker login

docker pull busybox

curl -sSfL https://raw.githubuserco

[2022-05-19 10:59] c3y1huang commented on #4004
https://github.com/longhorn/longhorn-manager/blob/master/controller/engine_controller.go#L1519-L1525

Weird, seems both `version.ClientVersion.GitCommit` and `version.ServerVersion.GitCommit` is using v1.2.4 ommit `3e1eadde16a4c5024dd397b8353d2c869e59c417`.

[2022-05-19 11:32] yasker commented on #836
@keithalucas we need to be careful about the data we returned if a block is claimed as `unmapped`.

I agree that if a block is unmapped/trimmed, the user shouldn't care about it. However, there are two concerns if there are snapshots exist in the system:
1. As a block storage provider, what's the defined behavior for reading if a block is `trimmed`? Would the user expect 0 or anything from reading

[2022-05-19 12:26] fzyzcjy commented on #3994
[code]

[2022-05-19 12:27] fzyzcjy commented on #3994
[code]

[2022-05-19 12:27] fzyzcjy commented on #3994
@PhanLe1010 The info is shown above. Thank you!

[2022-05-19 12:45] jamesharr commented on #836
Agreed on the security concern of getting back data that was previously trimmed.

I have a couple other points I figure I'd add in:

There's also this implicit agreement that if a block is TRIMed, it will be zeros if/when read in the future. This may or may not be written into a spec anywhere, but the behavior is ubiquitous if the device supports trim.

I recognize your proposed work around though

[2022-05-19 12:51] fzyzcjy commented on #3994
https://longhorn.io/kb/troubleshooting-volume-with-multipath/ solved the problem.

[2022-05-19 12:51] #3994 closed

[2022-05-19 18:15] oldluke92 commented on #3999
Adding a second Support Bundle.
System is not doing very well in this one, some Workloads are crashing and Pods show I/O Errors for their Volumes. Longhorn dashboard shows everything is fine. Had already shut down 4 Pods with broken Volume when taking this.
CPU Load of instance-manager-e-d08f5487 was between 2.5 and 2.8 Cores

[longhorn-support-bundle_a8203b86-01db-42e9-8f00-f02a6b0bf7e3_2022-05-1

[2022-05-20 00:19] PhanLe1010 commented on #3891
Test steps:

Test uninstall

PR for longhorn yaml

Doc

Test PSP on cluster that enable PSP

Test the CSI snapshot intensively snapshot

[2022-05-20 00:42] cchien816 opened #4007 "[BUG] [v1.3.0-rc1] set createSecret :true cause error when install Longhron from Rancher Chart"
## Describe the bug

Use Rancher Chart v1.3.0-rc1 install Longhorn from private registry
If enable `Create Secret for Private Registry` Settings or set  `createSecret : true` in yaml
After longhron-crd complete, longhorn installation will strop by error `Error: secrets <secret name> already exists`

## To Reproduce

Steps to reproduce the behavior:
1. Set up air gap environment
2. Set up Rancher s

[2022-05-20 02:24] c3y1huang opened #4008 "[IMPROVEMENT] Cleanup unnecessary intermediate proxy client logging"
https://github.com/longhorn/longhorn/issues/3546

[2022-05-20 04:57] derekbit commented on #4007
The error is because the duplicate `registry_secret.yml` in [rancher chart](https://github.com/innobead/charts-1/tree/longhorn-1.3.0-2.6/charts/longhorn/100.2.1%2Bup1.3.0-rc1/templates).

cc @innobead

[2022-05-20 05:27] innobead commented on #4007
It seems we have some external contribution, but forgot to remove that one in the Rancher chart :disappointed:  Let me fix this.

[2022-05-20 05:44] innobead commented on #4007
@cchien816 the chart PR is updated. Please help verify it again. Thank you.

https://github.com/rancher/charts/pull/1899

[2022-05-20 07:03] cchien816 commented on #4007
**Verified on chart PR longhorn-1.3.0-2.6(d4711e948a004f9783383f6fcb3d697d508e38b5)
Result Pass**

Using Rancher chart to install Longhorn with private registry info apply
Longhon 1.3.0-rc1 can both install success in below chart setting:
1. set `createSecret : true`
2. set `createSecret :` (empty)

[2022-05-20 07:03] #4007 closed

[2022-05-20 12:14] zucatti commented on #2217
thanks for your reply. you're awesome !
This "bug" almost drove me crazy. I have finally found what it happened...
The longhorn S3 configs seems not working with scaleway S3 object storage which is the reason of the k10 snapshot failed. Scaleway S3 is working with k10... I have just replaced scaleway S3 config within longhorn by AWS and even my own minio S3, all the two methods are working fine wi

[2022-05-20 12:24] NarayanPooja commented on #2217
It would be best if you didn't use your own minio instead use the below link

https://longhorn.io/docs/1.2.4/snapshots-and-backups/backup-and-restore/set-backup-target/#set-up-a-local-testing-backupstore

in order to set this, you have to change the longhorn-fontend service to nodeport. Then you will be able to access longhorn UI there you have to perform step 3,4 under Set up AWS S3 Backupstore

[2022-05-20 12:56] fzyzcjy opened #4009 "[BUG] Cannot customize memory request/limit on `instance-manager` and `replica-manager`"
Hi thanks for the lib! However I want to customize memory request/limit on `instance-manager` and `replica-manager`.

https://longhorn.io/docs/1.2.4/references/settings/ does have CPU requests, but seems no memory request/limits?

[2022-05-20 13:22] ghost opened #4010 "[BUG] Terraform kubernetes_manifest reports missing OpenAPI schema warning"
## Describe the bug

When running terraform with kubernetes_manifest module I get the warning that the API scheme is not associated with the CRD (See log output below) this prevents the manifest from being updated.

I use the following manifest file:
[code]

## Expected behavior

I expect that no warning is shown.

A clear and concise description of what you expected to happen.

## Log or Support

[2022-05-20 14:02] paul-grozav opened #4011 "[QUESTION] Replicating HEAD without snapshot to avoid 2x disk usage?"
## Question
Hello, I'm running Longhorn on my cluster, and I have a PVC which holds prometheus data (let's say 100GiB). This volume has a replica count of 3. I wonder why does Longhorn need to create a snapshot of my data. Can't Longhorn be configured so that it only keeps the head, and replicate that on the other nodes? Apparently this is how it works until the first replica failure, when Longhor

[2022-05-20 14:10] ProjectInitiative opened #4012 "[BUG] RWX Volume Actual Size Constantly Grows with No Pod Usage"
## Describe the bug

Any newly created RWX PVC continually eats up space on local disk even though nothing is being added within pod volume. Pods are reporting a few kilobytes for a test text file, but inspecting the mount points on the nodes, the .img file keeps growing in size

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Volume does not balloon with no disk us

[2022-05-20 21:53] PhanLe1010 commented on #3891
TODO:
* Doc:
  * Support K8s in range [v1.18, v1.24] inclusively

[2022-05-20 23:50] voarsh2 opened #4013 "[BUG] ReadWriteOne read-only filesystem when rebuilding replcia"
## Describe the bug

I get somewhat frequent read-only filesystem despite the fact that I set Longhorn to kill deployments and redeploy when there is an unexpected detatchment.
However, in this case the volume had a fault volume and was rebuilt but the workload is stuck in read-only filesystem.

The only solution here is to scale down the deployment for the volume to detach and to re-deploy. This

[2022-05-21 02:02] #3842 closed

[2022-05-21 10:22] voarsh2 commented on #4013
Perhaps similar to #3325 https://github.com/longhorn/longhorn/issues/3598

[2022-05-21 11:48] voarsh2 commented on #3999
See #3636 RE TGTD

[2022-05-21 16:49] sethbrasile commented on #2901
@damienbutt I just experienced the same thing. I think I got the idea that you needed to base64 encode secrets for longhorn from a couple of different places, one being here: https://www.civo.com/learn/backup-longhorn-volumes-to-a-minio-s3-bucket

I fussed around with this for hours and your comment was the only thing I found that made clear what was happening and got me up and running so thank yo

[2022-05-21 21:40] johnwc opened #4014 "[BUG] Annotations not being applied to ingress"
## Describe the bug

We set a annotation on the ingress, but it never was applied to the ingress.

## To Reproduce

Steps to reproduce the behavior:
1. Deploy chart using annotation on ingress.
2. View ingress that was created, no annotations were created as you added.

## Expected behavior

Ingress gets deployed with applied annotations.

## Environment

 - Longhorn version: 1.2.4
 - Installation

[2022-05-22 02:13] #3850 closed

[2022-05-22 12:39] ElGranLoky opened #4015 "[FEATURE] Create a replica limit per node"
Hello,

I have been testing longhorn for some time and I have set up a cluster with low-performance equipment:

1 Raspberry Pi 4 8Gb
2 Raspberry Pi 4 4G
1 Intel® NUC Kit D54250WYK
1 Chuwi Hero Box

Version: v1.23.6+k3s1
OS: Ubuntu 21.10
Container Runtime: containerd://1.5.11-k3s2
Longhorn: 1.2.4

I have been testing performance using cpu limitations for engine and manager without much success. And

[2022-05-23 07:46] cntsp commented on #3753
Hi, I have the same issue, the volume pvc-xxx-xxx-xxx failed to attach the node!
(k8s:v1.18.20, longhorn:1.2.4, os:centos7.9)
`[shutang@node-u23 test]$ kubectl get nodes
NAME              STATUS   ROLES    AGE   VERSION
node-u04   Ready    <none>   8d    v1.18.20
node-u19   Ready    <none>   8d    v1.18.20
node-u20   Ready    <none>   8d    v1.18.20
node-u21   Ready    master   8d    v1.18.20
node

[2022-05-23 07:50] cntsp commented on #3753
[longhorn-support-bundle_992e2565-7949-4bea-8f14-17a2eb2d93d2_2022-05-23T07-24-38Z.zip](https://github.com/longhorn/longhorn/files/8752520/longhorn-support-bundle_992e2565-7949-4bea-8f14-17a2eb2d93d2_2022-05-23T07-24-38Z.zip)

[2022-05-23 08:13] lukaszraczylo opened #4018 "[BUG] Replicas fail to rebuild"
## Describe the bug

Replicas fail to rebuild with 1.3.0-RC1

## To Reproduce

Steps to reproduce the behaviour:
Replica rebuild - not sure _why_ it went down in the first instance
The same failure ( context exceeded ) happens when backing volumes few gb big

## Expected behaviour

Replica rebuild successfully

## Log or Support bundle

[longhorn-support-bundle_bfd4b99e-7573-462c-95ec-588a671497f4

[2022-05-23 08:55] joshimoo commented on #4013
Can you check the settings for and confirm their values:
https://longhorn.io/docs/1.2.4/references/settings/#automatically-delete-workload-pod-when-the-volume-is-detached-unexpectedly
https://longhorn.io/docs/1.2.4/references/settings/#pod-deletion-policy-when-node-is-down

Can you also check if the workload that has this problem has a controller assigned (replicaset / statefulset)?

The frequent

[2022-05-23 08:58] innobead commented on #4018
This is probably related to a known issue in RC1 about the communication between manager and instance manager. We will have RC2 in near future, so we can recheck this.

[2022-05-23 08:59] innobead commented on #4018
cc @longhorn/qa

[2022-05-23 09:00] lukaszraczylo commented on #4018
From the observations - I've noticed that it also knocked out the coredns (?) for some reason. Really awkward morning to wake up. Can't wait for the RC2 with fix :)

[2022-05-23 09:09] lukaszraczylo commented on #4018
On a side note - is there _anything_ that could be done right now to mitigate the issue?

[2022-05-23 09:29] innobead commented on #4018
Do you have any reproduce steps? I would suggest you just wait for RC2 because if for the known issue I mentioned, there is no mitigation.

[2022-05-23 10:21] derekbit commented on #3281
Note here.
Related to https://github.com/longhorn/longhorn/pull/3812. We need to define the supported k8s version range.

[2022-05-23 10:29] #4008 closed

[2022-05-23 10:32] lukaszraczylo commented on #4018
Create any 10gb volume, fill it up half way, restart the node to trigger rebuild process

[2022-05-23 10:32] innobead commented on #3975
cc @joshimoo

[2022-05-23 11:32] cntsp opened #4019 "kubelet MountVloume failed for volume "pvc-xxxx-xxx-xxx-xxx-xxxx""
## Question

## Environment

 - Longhorn version:1.2.4
 - Kubernetes version:v1.18.20
 - Node config
   - OS type and version
      CentOS Linux release 7.9.2009 (Core)
   - CPU per node: 4
   - Memory per node: 16G
   - Disk type xfs
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal):

## Additional context
[code]

[2022-05-23 11:54] cntsp commented on #4019
![5](https://user-images.githubusercontent.com/26156442/169813506-4c029417-c13e-4010-943d-4612e1f085b3.png)

[2022-05-23 11:58] innobead commented on #3891
I think probably we can just leverage e2e to see if any outstanding issues later.

@PhanLe1010 @yangchiu WDYT?

[2022-05-23 15:34] deB4SH opened #4020 "[BUG] longhorn-csi-plugin segmentation violation [arm64]"
## Describe the bug

Wanted to add a rpi4 64bit (raspian) to my existing x86 cluster.
Everything starts accordingly but longhorn-csi-plugin errors with

[code]

## To Reproduce

Steps to reproduce the behavior:
1. Add RPI4 with 64bit raspian to cluster
2. Wait for deployments
3. See error

## Expected behavior

Starting longhorn-csi-plugin container.

## Log or Support bundle

If applicable, add t

[2022-05-23 18:58] c3y1huang opened #4021 "[BUG] updateSettingDefinitions throws concurrent map write"
## Describe the bug

While running e2e `test_basic.py::test_restore_basic` for https://github.com/longhorn/longhorn-manager/pull/1338, found this panic occasionally happens, but I've not verified it on the master branch.

https://github.com/longhorn/longhorn-manager/blob/master/datastore/longhorn.go#L113

## To Reproduce

Steps to reproduce the behavior:
1. Run e2e `test_basic.py::test_restore_bas

[2022-05-23 19:02] voarsh2 commented on #4013
So, I've left them at the default of 12 - I suppose I can try and increase it... at an appropriate time. I have in the past, but I can't say if has helped this issue. Certainty I've had other issues. However, isn't it just applicable when Longhorn CRD's are competing for resource (starvation)?

In this case it is a Statefulset

Automatically Delete Workload Pod when The Volume Is Detached Unexpect

[2022-05-23 22:19] PhanLe1010 opened #4022 "[BUG] Snapshot CRD feature is broken on Kubernetes v1.18"
## Describe the bug

Snapshot CRD feature is broken on Kubernetes v1.18

## To Reproduce

Steps to reproduce the behavior:
1. create Kubernetes v1.18 cluster
2. Deploy Longhorn master-head
3. create/delete a snapshot using Longhorn UI
4. See error: snapshot CR is failed to be created/deleted `
[code]
## Expected behavior

create/delete a snapshot using Longhorn UI resulting in snapshot CR being cr

[2022-05-23 22:22] PhanLe1010 commented on #4022
Related to https://github.com/kubernetes/apiextensions-apiserver/issues/25

[2022-05-23 22:53] PhanLe1010 commented on #3891
@innobead Could you help to release a new version for `longhorn-manager` so I can finish the [TODO work](https://github.com/longhorn/longhorn/issues/3891#issuecomment-1133416269)?

[2022-05-23 23:32] PhanLe1010 commented on #4020
cc @keithalucas Do you have any idea?

@deB4SH So is it only happened with the [Raspberry Pi OS](https://www.raspberrypi.com/news/raspberry-pi-os-64-bit/)? What is the OS of other nodes in the cluster?

[2022-05-23 23:50] PhanLe1010 commented on #4019
Something is wrong with the iscsiadm on the node as the error suggested `Cannot perform discovery. Invalid Initiatorname`.

Look likes similar to this problem https://forums.rancher.com/t/iscsiadm-discovery-fails-container-linux-rke-k8s-solved/12553/3?u=phanle0110

[2022-05-24 00:03] keithalucas commented on #4020
I think the segfault is occurring because of [this](https://github.com/golang/go/blob/9baddd3f21230c55f0ad2a10f5f20579dcf0a0bb/src/runtime/proc.go#L6265) which looks like it's trying to treat a value linked into the program as a function pointer and call it.  I'll try to look into it more.

[2022-05-24 00:04] innobead commented on #3891
v1_20220523 has been released.

[2022-05-24 00:26] keithalucas commented on #4020
@deB4SH There are two containers in the longhorn-csi-plugin pods:  longhorn-csi-plugin and csi-node-driver-registrar.  I want to see which one the segfault is occuring in.

[2022-05-24 00:31] innobead commented on #4021
Thanks @c3y1huang !

This part should be protected because datastore needs thread safe.

[2022-05-24 04:12] kaxing commented on #4022
I am able to reproduce this with **v1.3.0-rc1** with k3s v1.18.20+k3s1
[code]

[2022-05-24 04:59] kaxing commented on #4022
Validation - **PASSED**

Tested with master-image<sup>*</sup>(0524), no more syncSnapshotCRs errors from engine controller.

All snapshots were created as expected. An example of volume contains 16 snapshot:
[code]
The following volume UI layout screenshot had been slightly modified for easier reading:
![image](https://user-images.githubusercontent.com/602540/169952237-5456fb87-3b74-442e-a1f6-a5ed

[2022-05-24 04:59] #4022 closed

[2022-05-24 06:02] innobead opened #4024 "[FEATURE] Support distributed backup target"
## Is your feature request related to a problem? Please describe

To extend disaster recovery volume support across different sites, we need to ensure atomic backup delta should be respected when creating a DR volume from a distributed backup target, for example, a standby backup target is just replicating from the source backup target.

## Describe the solution you'd like

Ensure backup restoring

[2022-05-24 06:08] cchien816 commented on #2570
**Validate on longhorn**

- master-head (2ccd63fdfa5870892001c4c4fb67480ea82d0fd5)
- v1.2.x-head (https://github.com/longhorn/longhorn/commit/3bad923306beeb0c6ac88bf839a6efee5fb19713)
- v1.1.x-head (https://github.com/longhorn/longhorn/commit/aebd0b10868af2f20bcf45c7f54a00a464221055)

**Test [steps](https://github.com/longhorn/longhorn/issues/2570#issuecomment-1126938163)
Result Pass**

Test 1. Fr

[2022-05-24 06:11] innobead commented on #2570
@cchien816 @derekbit We need one more test case to test the in-place update via the config map controller.

@derekbit could you help add the test case? Thanks.

[2022-05-24 06:12] derekbit commented on #2570
Yes, I’m working on it.

[2022-05-24 06:19] kaxing opened #4025 "[IMPROVEMENT] UI: automatically adjust the view height of Snapshots and Backups"
## Is your improvement request related to a feature? Please describe

To increase the usability of viewing Snapshot and Backup chain(tree) chart.

A mockup view based on tweaking current css:

![Mockup UI for snapshot tree with multiple child](https://user-images.githubusercontent.com/602540/169952237-5456fb87-3b74-442e-a1f6-a5ed83d9aec9.png)

## Describe the solution you'd like

Automatically inc

[2022-05-24 07:36] cchien816 commented on #4004
**Verified on**
- longhorn master-head (59f3c3b647d162dce483586faaec105ea50a9add)
- longhorn-manager master-head ( [f61745](https://github.com/longhorn/longhorn-manager/commit/f61745347089d4724d78df92c18817510b57c3a6))

**Result Pass**

1. Can reproduced on v1.3.0-rc1.

2. Follow test steps in [comment](https://github.com/longhorn/longhorn/issues/4004#issue-1241048070) and use `longhorn-manager:ma

[2022-05-24 07:36] #4004 closed

[2022-05-24 08:28] cntsp commented on #4019
In the above linked document, I didn't find the answer I was looking for, I didn't use rancher to deploy k8s, I didn't use rancher, I used kubeadm to deploy k8s and used kubectl to deploy longhorn。

[2022-05-24 08:32] cntsp commented on #4019
![8](https://user-images.githubusercontent.com/26156442/169986910-27609508-1223-4fd5-aca3-be2ee482e285.png)

[2022-05-24 08:50] IJOL commented on #4000
howdy, nothing to say about this problem?

[2022-05-24 08:57] deB4SH commented on #4020
Hi all,
thanks for picking this up so quickly.

@PhanLe1010 : this only happens on my raspberry pi os 64bit. all other x86 nodes in my cluster are working fine.

@keithalucas the issue occures withing the container "node-driver-registrar"

the longhorn-csi-plugin looks fine for me
[code]

[2022-05-24 13:36] paul-grozav commented on #4011
It seems I managed to better understand how this works, and I think I have a good enough answer to my question.

It seems that the HEAD is only holding "new" data, after the last snapshot. When there is no snapshot, all the data is in the HEAD. When a snapshot is created, all the data is moved from the HEAD into the snapshot, and the HEAD size drops to 0 bytes. The fact that HEAD size drops to 0 i

[2022-05-24 13:36] #4011 closed

[2022-05-24 14:18] keithalucas commented on #4020
@deB4SH The node-driver-registrar container is a copy of k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.3.0 which is part of kubernetes.  The error looks there is a problem with the executable in that container running on the raspberry pi.  I couldn't find any indication of a problem in running csi-node-driver-registrar on raspberry pis in that project's github.  I don't know if running somet

[2022-05-24 14:42] derekbit commented on #3488
Let us reopen this backport because the configmap design is doable in 1.2.x.

[2022-05-24 14:49] kaxing commented on #4021
Validation - **PASSED**

The error can be reproduced with longhorn-manager image built on commit 9fb0cda2: `longhornio/longhorn-manager:master-head-amd64@sha256:2fb01d7de50af86f5b74b45b2f9cd4cfce73a56a965b31e53b5fb116af7b7dbf`

With the latest master-head image: `longhornio/longhorn-manager:master-head-amd64@sha256:35dbecda9f3c052831a10265c218e9ab12136821c4fbf742322198810c1afb58`
(commit: fb4e45e7

[2022-05-24 15:28] innobead opened #4027 "[TEST] Use a release version of external snapshotter in e2e pipelines"
## What's the test to develop? Please describe

The current e2e relies on the master branch of external snapshotter and the manifests applying are incorrect due to the wrong version of kustomize resource, so this will cause some unexpected results.

![image](https://user-images.githubusercontent.com/899492/170071877-b599f5c6-92c1-4fe1-9b07-736e01999ba2.png)

## Describe the items of the test devel

[2022-05-24 16:24] deB4SH commented on #4020
@keithalucas

sadly - seems to work with both images

[code]

[code]

[2022-05-24 20:17] PhanLe1010 commented on #4018
By the way, `RC` releases are not recommended for the end users as it is being tested/verified by our QAs

[2022-05-24 20:18] PhanLe1010 commented on #4015
How about using Longhorn node tags to controller which volumes' replica will be put on which nodes? The idea is that you will tag fast nodes with the `fast` tag and slow nodes with the `slow` tag. Then create 2 StorageClass, one with `nodeSelector: "fast"` and the other one with `nodeSelector: "slow"`. Now you can use the `fast` storageclass for more volumes and the replicas of those volumes are s

[2022-05-24 20:22] PhanLe1010 commented on #4019
You can also verify by manually ssh into the node that has the pod with the IP `10.244.4.85` and exec: `iscsiadm -m discovery -t sendtargets -p 10.244.4.85`

[2022-05-24 20:25] PhanLe1010 commented on #4019
@cntsp Did you try to change the iscsi initiator name on the node as mentioned in [the discussion](https://forums.rancher.com/t/iscsiadm-discovery-fails-container-linux-rke-k8s-solved/12553/3)

<img width="733" alt="Screen Shot 2022-05-24 at 1 23 10 PM" src="https://user-images.githubusercontent.com/22139961/170125392-60626bfd-7e26-43c7-8cc7-5da3478aba61.png">

[2022-05-24 20:25] PhanLe1010 commented on #4013
This setting is to make sure that Kubernetes doesn't kill Longhorn instance-manager-xxx pods because they are using more CPU than they requested

Check the `instance-mamager-xxx` pods inside `longhorn-system` namespace to see how frequently they are restarted.
Checking the logs of Kuberlet for those pods

Can you send us a support bundle to `longhorn-support-bundle@suse.com` to check this?

[2022-05-24 21:09] ElGranLoky commented on #4015
As I know when putting the longhorn labels you are dividing the disks according to those labels and I want to have all the nodes for all the replicas in case one fails to be able to put all the replicas in the others, so for what I want it is not possible.

Currently that is what I have done, I disable the scheduling of replicas in one of the nodes to overload another node, when that node stops re

[2022-05-24 23:05] PhanLe1010 commented on #4012
The accutal size is increasing initially due the fact that the filesystem (by default ext4) being initialize on the Longhorn block device. Filesystem has the metada overhead [link](https://rwmj.wordpress.com/2009/11/08/filesystem-metadata-overhead/)

You should see that eventually the actual size stop increasing after this process (given that the workload pod doesn't do any io)

[2022-05-25 00:42] PhanLe1010 commented on #4014
Thanks @johnwc for reporting
I am able to reproduce this issue using Longhorn chart on the Rancher market place.
The problem doesn't happen when install using pure Helm.
 Need to do more investigation

[2022-05-25 01:15] PhanLe1010 commented on #4014
I am scratching my head not understanding why setting the helm value [here](https://github.com/rancher/charts/blob/4b64d2984fb6f7e0959d7a3e84e3ee44665486b3/charts/longhorn/100.1.2%2Bup1.2.4/values.yaml#L202-L204)  doesn’t take effect.

I am asking for help from Rancher team

[2022-05-25 01:21] lukaszraczylo commented on #4018
Thank you, I am fully aware, yet 1.2.4 caused even more issues so my thinking was "if it's already broken, can't get any worse"

[2022-05-25 01:27] derekbit commented on #2570
Add more e2e test cases for in-place update via config map controller.
https://github.com/longhorn/longhorn-tests/pull/969

cc @cchien816

[2022-05-25 02:07] PhanLe1010 commented on #4011
Hi @paul-grozav

The system snapshots are usually created when one of the replicas of the volume crash. Longhorn will take a system snapshot to rebuild the failed replica. Longhorn needs to take a system snapshot before rebuilding because it is not possible to copy the live volume head which is being written by the application layer.

I do see your concern about space usage. Something you can do t

[2022-05-25 02:09] derekbit commented on #4009
@fzyzcjy
Can you run `kubectl -n longhorn-system get settings.longhorn.io` to see if the CPU limit are set correctly?

[2022-05-25 02:12] fzyzcjy commented on #4009
It is unrelated to the question...

[2022-05-25 02:14] derekbit commented on #4001
Do you mean the NFS mountpoint is already mounted on your longhorn node?

[2022-05-25 02:18] derekbit commented on #4009
Ah, sorry, my bad. Misunderstood your question.
Longhorn does not support memory request/limits setting right now.

[2022-05-25 02:18] PhanLe1010 commented on #4009
Maybe this is a feature request instead of a bug?

[2022-05-25 02:18] fzyzcjy commented on #4009
If so, then it seems to be a FR.

[2022-05-25 02:19] fzyzcjy commented on #4009
I guess it should not be very hard to implement - just add a sibling to CPU limit :)

[2022-05-25 02:22] PhanLe1010 commented on #4009
We also have to be careful about the upgrade cases, modifying those settings may lead to crashing instance manager pods.

I am also wondering if there is a reason that Longhorn doesn't have this setting before. cc @shuo-wu @joshimoo

[2022-05-25 03:14] derekbit opened #4028 "[FEATURE] Backup to external nfs server from a specific node"
This is a feature request from the discussion.

### Discussed in https://github.com/longhorn/longhorn/discussions/3908

<div type='discussions-op-text'>

<sup>Originally posted by **TodorSamardziski** May  2, 2022</sup>
Hello,

I didn't find any topic, or discussion about this. Is it possible to backup to an external nfs server only from a specific node ? Or maybe the solution is to run longhorn-m

[2022-05-25 03:49] yangchiu commented on #3891
For each of the Kubernetes version: [1.18, 1.19, 1.20, 1.21, 1.22, 1.23, 1.24], do:

* Test new install Longhorn master-head, create some volumes (RWO/RWX), workloads, backups job, snapshot jobs, test basic Longhorn functionality
  * 1.18: verified passed on v1.18.20+k3s1. (Tested in local environment since the kubectl has different output format which would make e2e test pipeline stuck)
  * [1.19

[2022-05-25 05:31] innobead commented on #4027
@cchien816 I would suggest making this configurable later because each release of the external snapshotter actually has a different support matrix of K8s versions.

Please help create an issue, and add it to the QA board. Thanks.

[2022-05-25 06:12] PhanLe1010 commented on #4010
It seems that [the setting CRD](https://github.com/longhorn/longhorn-manager/blob/878cfb868c568396d6ebfa4ce096c5d95d9b31e3/deploy/install/01-prerequisite/03-crd.yaml#L107-L137) does have the openAPIV3Schema.

Could you provide the detail steps in the process `running terraform with kubernetes_manifest module` for investigation? I am not familiar with this installation method

[2022-05-25 06:17] PhanLe1010 commented on #4001
Can you try to create backup again and provide the logs of `longhorn-manager-xxx` pods inside the `longhorn-system` namespace?

[2022-05-25 06:27] PhanLe1010 commented on #4000
Sorry for the late response. It looks like you had the problem mentioned in [this knowledge base article](https://longhorn.io/kb/troubleshooting-volume-filesystem-corruption/#solution). The article also has instruction how to recover. You may not need the heavy recovery method mentioned at https://longhorn.io/docs/1.2.3/advanced-resources/data-recovery/corrupted-replica/

This hardware problem cor

[2022-05-25 06:39] innobead opened #4029 "[TEST] Add metrics test cases"
## What's the test to develop? Please describe

Add tests to verify metrics exported by Longhorn, for example, node, disk, volume, and backup.

![image](https://user-images.githubusercontent.com/899492/170196481-2106ae38-3e07-49e3-bdb3-5d0ff0ff5b9c.png)

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] In each test, have some given steps to create correspon

[2022-05-25 08:04] IJOL commented on #4000
ok, did it, i will try the recovered volume shortly, but in mean time can you give us any diagnostic about why this happened and what happened? it was an in use volume, and was the only corrupted  volume in the glitch, we know something happened.. but not exactly what..

[2022-05-25 16:10] ProjectInitiative commented on #4012
I retried with some smaller and larger volumes, this seems to be accurate, thanks for the update.

[2022-05-25 16:10] #4012 closed

[2022-05-25 19:06] PhanLe1010 commented on #3999
Thanks @oldluke92 for the details report

cc @keithalucas Could you help to take a look at this one?

[2022-05-25 21:14] PhanLe1010 commented on #4014
Rancher UI ticket is filled at https://github.com/rancher/dashboard/issues/6038

[2022-05-25 21:38] PhanLe1010 commented on #3955
@sharanbabumg

In Longhorn v1.2.4, when Kuberlet restarts, Longhorn doesn't kill the instance-manager-xxx pods. This should in theory help your case. Please let us know if you have feedback after upgrading to Longhorn v1.2.4

[2022-05-25 22:01] PhanLe1010 commented on #3952
@badihi

The sum of network throughput of the instance-manager-e-xxx pod and instance-manager-r-xxx pod is the upper bound of the throughput of all volumes on the node (the sum of replication and read/write operations)

A Longhorn volume has an engine process and multiple replicas process. Data are moving between the engine (which lives inside instance-manager-e-xxx pod) and the the replicas (whic

[2022-05-25 22:03] PhanLe1010 commented on #3945
Can you file a ticket in the kasten k10 repo to see if they provide any info about why it marks Longhorn as failed?

[2022-05-25 22:18] PhanLe1010 commented on #3943
Will leave the ticket open to see if there is more interest in this topic

[2022-05-25 22:25] PhanLe1010 commented on #4020
@deB4SH
What is the Kubernetes version?

Can you try with the newer `k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.5.0` image by following the below steps:
1. If you are installing Longhorn using Helm, try to set it [here](https://github.com/longhorn/longhorn/blob/59f3c3b647d162dce483586faaec105ea50a9add/chart/values.yaml#L35-L37)
2. If you are using kubectl apply. Try to set it [here](https

[2022-05-25 22:37] braucktoon opened #4030 "Stale replicas left on some nodes"
Stale replicas left on some nodes taking up space.

I found my storage on my nodes to be very uneven, but I looked at the replicas directory on each node and found a lot of PVCs that were not active, I have no clue why there are here, I only have 6 volumes so there is not a ton of volumes.

I don't know how to reproduce but I feel it has to do when a node reboots for maintenance, the replica needs

[2022-05-26 01:16] innobead opened #4031 "[TEST] Add uninstall test case"
## What's the test to develop? Please describe

A clear and concise description of what the test you want to develop.

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] `item 1`

## Additional context

Add any other context or screenshots about the test request here.

[2022-05-26 02:17] #2620 closed

[2022-05-26 05:38] derekbit opened #4032 "[BUG] Failed to build longhorn-engine"
## Describe the bug

protobuf 4.21.0 drops support for Python < 3.7, but zypper only supports python3-devel 3.6.x installation.

[code]

## To Reproduce

$ git clone https://github.com/longhorn/longhorn-engine.git
$ make build

[code]
## Expected behavior

Build successfully

## Log or Support bundle

If applicable, add the Longhorn managers' log or support bundle when the issue happens.
You can g

[2022-05-26 06:09] innobead opened #4033 "[FEATURE] Deprecate Engine Image after IM Proxy introduction"
## Is your feature request related to a problem? Please describe

Before 1.3.0, the longhorn manager will use each volume's current image to determine which engine image to use to communicate with its volume engine process.

After 1.3.0, the communication between the longhorn manager and the volume engine is through IM proxy client, so there is no engine image involved in between, also the version

[2022-05-26 08:36] innobead opened #4034 "[TEST] Add user account part of the build name of each on-demand job"
## What's the test to develop? Please describe

Now:
![image](https://user-images.githubusercontent.com/899492/170450758-4f535ee1-380b-4973-ba5d-842b5ad0fba5.png)

Expect to have each build name w/ user account like `#<build-id>-<user-account>`, so it will be easier to identify which build is triggered by whom.

## Describe the items of the test development (DoD, definition of done) you'd like

-

[2022-05-26 09:05] strahe commented on #3178
Some issue for me, version: v1.2.4.

[code]

[2022-05-26 09:05] deB4SH commented on #4020
Hi @PhanLe1010
this seems to resolve the issue.

logs: node-driver-registrar
[code]

logs: longhorn-csi-plugin
[code]

Thanks for the help @PhanLe1010 @keithalucas

I'm installing via kustomize and kubectl directly from here: https://github.com/longhorn/longhorn/blob/v1.2.4/deploy/longhorn.yaml

Maybe 1.2.5 with an upgraded image? Or is it upgraded in 1.3 anyway?

Thanks again!

[2022-05-26 09:44] c3y1huang opened #4035 "[BUG] test_rwx_parallel_writing failed at missing awk"
## Describe the bug

https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/134/testReport/junit/tests/test_rwx/test_rwx_parallel_writing/

## To Reproduce

Steps to reproduce the behavior:
1. Run `test_rwx_parallel_writing`.

## Expected behavior

Not missing `awk`.

## Log or Support bundle

[code]

## Environment

`n/a`

## Additional context

`None`

[2022-05-26 09:45] innobead commented on #4035
cc @longhorn/qa @cchien816

[2022-05-26 10:11] kaxing commented on #4035
related issues/PRs:
https://github.com/longhorn/longhorn-tests/pull/950
https://github.com/longhorn/longhorn-tests/pull/952
https://github.com/longhorn/longhorn-tests/pull/953

just a note that `tar` is also not included in **bci/python**, if anyone wants to use `$ kubectl cp`

[2022-05-26 19:02] voarsh2 commented on #4013
I'm not sure how far back the bundle does, it was a few days ago on a busy Longhorn install.
Luckily the issue happened again today for a Deployment, but every time I try and make a bundle it times out.

Instance manager shows no restarts:
![image](https://user-images.githubusercontent.com/60437695/170558414-8faeb930-c18a-42ad-a40b-3acfbdb022c1.png)

[2022-05-26 22:10] voarsh2 commented on #3717
This issue is really causing problems for having up to date DR volumes. Almost every time there's a backup and it is restored (the DR volume) the error about  type 1 acquisition presents.

[2022-05-27 00:47] PhanLe1010 commented on #4020
It is upgraded in 1.3

[2022-05-27 00:51] PhanLe1010 commented on #4018
Could you provide more details about the issues that you are facing with v1.2.4?

[2022-05-27 00:53] PhanLe1010 commented on #4015
Got it. We will put this one into planing and visit it later

[2022-05-27 03:53] cchien816 opened #4037 "[TEST] Have configuration for external snapshotter version in e2e"
## What's the test to develop? Please describe

Making external snapshotter version configurable because each release of the external snapshotter actually has a different support matrix of K8s versions.

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] Have configuration for external snapshotter use version in e2e

## Additional context

Add any other conte

[2022-05-27 03:55] innobead opened #4038 "[IMPROVEMENT] Add gRPC conn metrics between longhorn-manager and instance-manager"
## Is your improvement request related to a feature? Please describe

Having metrics of gRPC connections between the longhorn manager and instance manager will give us a better understanding of how much cost spent on the communication among components

## Describe the solution you'd like

Expose metrics of gRPC connections (process manager, proxy) via metrics endpoint.

## Describe alternatives yo

[2022-05-27 03:57] cchien816 commented on #4027
After the fix merged, the external snapshotter  and ,manifest apply error not happen in our e2e pipelne as below

- Master build [135](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/135/)
- v1.2.x build [109](https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-tests-sles-amd64/109/)
- v1.1.x build [113](https://ci.longhorn.io/job/public/j

[2022-05-27 03:57] #4027 closed

[2022-05-27 04:00] innobead opened #4039 "[TASK] Automate CI infra lifecycle management"
## What's the task? Please describe

Right now, the CI infra is manually managed, but actually, all services we need are very specific and documented already. We should make the lifecycle of the CI infra cluster fully automated including provisioning, and adding/replacing nodes.

How to operate the management? Suggest using Jenkins pipelines as our interface.

## Describe the items of the task (Do

[2022-05-27 05:41] deB4SH commented on #4020
That's fine for me tbh. :)
Closing this issue - it is resolved with upgrading the image.

Thanks a lot!

[2022-05-27 05:41] #4020 closed

[2022-05-27 05:59] cchien816 opened #4040 "[TEST] Implement test_disk_eviction_with_node_level_soft_anti_affinity_disabled"
## What's the test to develop? Please describe

Currently `test_disk_eviction_with_node_level_soft_anti_affinity_disabled` only have test skeleton, need to implement test script.

## Describe the items of the test development (DoD, definition of done) you'd like

- [x] Implement the test script
- [x] Verify the test is running fine in the pipeline

## Additional context

Add any other context or s

[2022-05-27 07:53] iangregsondev opened #4042 "[QUESTION] New StorageClass to point to a different volume on the host ?"
## Question
Hi,

Can anyone help ?

I have longhorn setup as normal and its working fine, but I needed to add a new storage device to the machine (node), I have set this to NOT schedule as its only for specific things. Its quite a slower disk.

Its mounted in the node itself  as /storage-box, so its accessible using "ls"

How do I create a new storage class that points to this disk ? I couldn't fi

[2022-05-27 09:50] thehejik commented on #3733
Fixed kernel is available for SP3 already and the fix is working, closing.

[2022-05-27 09:50] #3733 closed

[2022-05-27 11:46] LarsBingBong commented on #3355
I up'ed the ante on the script.

- Linted it with shellcheck
- Added a volumes health check section
- provided a parameter block
- a help section

----

However, be aware that I removed the Rancher login stuff. So that might need to come in again depending on what the end goal is here.

Here's the gist: https://gist.github.com/LarsBingBong/113657b323bcf466dcb3d16ef36bb3f5

Furthermore verifyK8sCon

[2022-05-27 18:59] PhanLe1010 commented on #4030
Thanks @braucktoon for reporting

It seems related to the enhancement orphan replica cleanup: https://github.com/longhorn/longhorn/issues/685

[2022-05-27 20:20] michaelpearce-gain commented on #4000
I do not follow the argument here on resolution being proposed, Surely the point of having a distributed storage system with 3 or more replica's is that you're resilient to single hardware failure, this is the case with other distributed storage platforms.

[2022-05-27 21:54] PhanLe1010 commented on #3955
@sharanbabumg
It is weird. Can you provide us:

---
* Reproduce steps
* Your env details
[code]

---
* Reproduce the problem
* When this problem is happening. Take support bundle
* send us at `longhorn-support-bundle@suse.com`
* exec into one of the `longhorn-csi-plugin-xxx` and the container `longhorn-csi-plugin` pods, do a `curl  http://longhorn-backend:9500/v1`
exec into `longhorn-driver-deploy

[2022-05-27 23:04] PhanLe1010 commented on #4000
There are some more info on this article  https://longhorn.io/kb/troubleshooting-volume-readonly-or-io-error/

Assume that a Longhorn volume has 3 replica on 3 node. The volume is attaching to the 4th node and the workload pod is running on the 4th node. That volume is resilient to any hardware failure that happens to 2 of the replicas (you can kill 2 of the 3 replica nodes and there is no filesys

[2022-05-28 08:51] voarsh2 commented on #3910
I keep around 100 backups for 30 or so volunteers, backups start to take a long time to back up and behind to time out, so I must refresh the backup store by changing the backup target to a new location.

[2022-05-30 03:14] #3891 closed

[2022-05-30 05:46] innobead opened #4045 "[TEST]"
## What's the test to develop? Please describe

`crash_replica_processes` will be flaky to cause the test cases to fail. `wait_for_replica_failed` will probably fail because the killed replica processes have been recreated before checking it's failed.

[code]

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] Have a common parallel check function to check re

[2022-05-30 06:37] son-la opened #4046 "[BUG] Longhorn volume failed to attach to pod/ node"
## Describe the bug

Longhorn volumes fail to attach to pod/ node.  The error message can be seen from instance manager and dmesg
[instance-manager.txt](https://github.com/longhorn/longhorn/files/8796018/instance-manager.txt)
[dmesg.txt](https://github.com/longhorn/longhorn/files/8796020/dmesg.txt)

The error is seen on v1.1.3, v1.2.3 and v1.2.4 while firewalld service is running. When I stop the

[2022-05-30 08:24] michaelpearce-gain commented on #4000
So this occurred because one replica corrupted, not all 3. I would expect the DFS to detect and fix this automatically why is any user intervention needed. VMWare vSAN, Nutanix ABS, HDFS and other DFS solutions, detect this, the user should be invisible to a single node / replica issue, this is the whole point of a Distributed File System

[2022-05-30 09:50] #4032 closed

[2022-05-31 00:04] #3919 closed

[2022-05-31 00:48] innobead commented on #4035
It seems the case still failed in a recent build https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1398/

[2022-05-31 01:33] cntsp commented on #4019
@PhanLe1010 Yes, I solve the issue, thx.

[2022-05-31 01:34] #4019 closed

[2022-05-31 01:55] mantissahz commented on #4035
longhorn-shared-manager:[v1_20220523](https://github.com/longhorn/longhorn-share-manager/releases/tag/v1_20220523) does not has the [commit](https://github.com/longhorn/longhorn-share-manager/pull/32/commits/2f3f366a9bdb9cc01a54351e36be96673810a196), so awk package is still not installed in.

[2022-05-31 02:02] cchien816 opened #4047 "[TEST] Verify e2e failed cases on master-head build 139"
## What's the test to develop? Please describe

Recently failed cases below
https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/139/#showFailuresLink

test_ha.test_dr_volume_with_restore_command_error[s3]
test_basic.test_allow_volume_creation_with_degraded_availability
test_ha.test_ha_salvage
test_backing_image.test_ha_salvage_with_backing_image
test_basic

[2022-05-31 02:18] cchien816 commented on #4047
- test_ha.test_dr_volume_with_restore_command_error[s3]
- test_basic.test_allow_volume_creation_with_degraded_availability
- test_ha.test_ha_salvage
- test_backing_image.test_ha_salvage_with_backing_image
- test_basic.test_backuptarget_available_during_engine_image_not_ready
- test_cloning.test_cloning_interrupted
- test_rwx.test_rwx_parallel_writing - https://github.com/longhorn/longhorn/issues/4

[2022-05-31 03:18] derekbit commented on #2570
@cchien816
I refactored the settings from configmap implementation.
Can you retest based on the steps in https://github.com/longhorn/longhorn/issues/2570#issuecomment-1126938163?

Thank you.

[2022-05-31 03:21] innobead commented on #4035
@mantissahz Please close this after it passes in our daily run. Thanks

[2022-05-31 04:26] cchien816 opened #4049 "[BUG] Longhorn can't handle restore command error in DR volume incremental restore"
## Describe the bug
From [e2e](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/139/testReport/junit/tests/test_ha/test_dr_volume_with_restore_command_error_s3_/)

Incremental restore will fail in DR volume when set restore command error

Tested on master-head 20220531
Not happen on V1.2.4

## To Reproduce

Steps to reproduce the behavior:
1. Set a rand

[2022-05-31 05:05] innobead commented on #4049
cc @c3y1huang

[2022-05-31 05:21] derekbit commented on #4035
test_rwx.py e2e
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1421/

[2022-05-31 07:23] cchien816 opened #4051 "[TEST] Fix flaky ha_salvage_test"
## What's the test to develop? Please describe

Function `ha_salvage_test` in `test_ha.py` is flaky.

Because it will try get specific volume state 'faulted' but in recent build, LH volume recover from faulted to detached state almost immediate,  `ha_salvage_test` hard to correct capture expected volume state

## Describe the items of the test development (DoD, definition of done) you'd like

- [

[2022-05-31 07:26] c3y1huang commented on #4051
https://github.com/longhorn/longhorn-tests/pull/977
https://github.com/longhorn/longhorn/issues/4045

cc @cchien816

[2022-05-31 07:31] cchien816 commented on #4051
Close this issue since we already have issue for this issue

[2022-05-31 07:31] #4051 closed

[2022-05-31 08:33] innobead opened #4052 "[BUG] When downloading a backing image, the original file name w/ suffix should be reserved"
## Describe the bug

When downloading a backing image from UI, the image name will be a randomly generated name.

[code]

## To Reproduce

Steps to reproduce the behavior:
1. Create a backing image
2. When it's ready, download it

## Expected behavior

The file name should be kept as the upload/download from the remote

## Environment

 - Longhorn version: 1.3.0-rc2

[2022-05-31 08:49] innobead commented on #3155
We only have a doc about creating volumes from backing images, but along with the completeness of backing image functions, it's time to add some other doc to introduce other functions like how to create a backing image from upload/remote download, create a backing image from a volume, download, etc.

[2022-05-31 09:49] shuo-wu commented on #4052
The downloaded file name is the backing image UUID.
In the current design, the sync server in the BackingImageManager does not understand what a backing image is hence it won't store the backing image **name**. Hence, I just use the UUID as the file name instead.

---

I think we can ask UI to present the UUID on the BackingImage page instead. Then users would know what the file name is.

[2022-05-31 10:02] #4035 closed

[2022-05-31 10:06] innobead commented on #3825
The doc merged, Closing.

[2022-05-31 10:06] #3825 closed

[2022-05-31 10:15] #3546 closed

[2022-05-31 11:44] shuo-wu opened #4054 "[IMPROVEMENT] File managing and syncing service refactoring"
## Is your improvement request related to a feature? Please describe

In #3970, we launched a file managing and syncing service for the backing image. Now we need to investigate if we can do more based on this file service:
- [ ] Coalesce the file-syncing service in repo longhorn/sparse-tools with this new service
- [ ] Make the file sync service a kind of separate workload
- [ ] Refactor replica

[2022-05-31 11:52] shuo-wu opened #4055 "[BUG] Unexpected high memory usage of the backing image manager"
## Describe the bug

After downloading a large backing image to local (#3155) or syncing backing images between backing image managers, the pod memory usage may surge.

Once the backing image file is removed from the backing image manager, memory usage will decrease.

## To Reproduce

Steps to reproduce the behavior:

There are 2 ways of reproducing this.
1. Via Download API
    1. Launch a large

[2022-05-31 12:36] kaxing opened #4056 "[BUG] longhorn-manager pods backoff: snapshot controller failed to get volume"
## Describe the bug

This is found during [the scalability test](https://github.com/longhorn/longhorn-tests/tree/master/scalability_test) with io_1 test set to 80 replicas on 3+20 cluster

## To Reproduce

Steps to reproduce the behavior:
1. Launch cluster with 3 control nodes and 20 worker nodes
3. Run scale-test.py
4. Wati and observe

## Expected behavior

Should be no crash/backoff errors

##

[2022-05-31 13:00] kaxing commented on #3083
Validating with v1.3.0-rc2, the volumes for statefulset replicas can slowly build up but there is issue causing longhorn-manger pods crashing: #4056

Early test result with 20 nodes seems better compared to v1.3.0-rc1 with 10 nodes, this is a testing in-progress chart for reference:*
![io_1_70](https://user-images.githubusercontent.com/602540/171179059-6712a576-92db-4fdf-b026-6d9759742bb9.png)

<s

[2022-05-31 21:03] keithalucas opened #4058 "[TASK] Longhorn SPDK: add stop volume and replica functionality"
## What's the task? Please describe

During implementing https://github.com/longhorn/longhorn/issues/3871, there were something lacking in longhorn SPDK that need to be implemented in order to complete 3871 as written.

## Describe the items of the task (DoD, definition of done) you'd like

- [x] Update longhorn's SPDK repo to use a newer, fixed version of the official SPDK.  Test that it builds w

[2022-05-31 21:09] keithalucas opened #4059 "[BUG] Error in little endian support in liblonghorn"
## Describe the bug

There is a logic error in
https://github.com/rancher/liblonghorn/blob/74f14b50895ac6b0faebc715c025a8a46a4333a1/src/longhorn_rpc_protocol.c#L146

This should be:

```Offset = le64toh(Offset);```

The PR for the little endian change for liblonghorn was merged already.

This is in `receive_msg` and liblonghorn doesn't actually use the value that is receives for the Offset for any

[2022-05-31 23:08] PhanLe1010 commented on #3955
Note: we might want to take a look at [this project](https://github.com/kubernetes-csi/livenessprobe) to allow kubelet to restart the longhorn csi plugin

[2022-05-31 23:18] PhanLe1010 commented on #4000
If there was no issue with the node where the workload pod (the pod that is using a Longhorn volume) running on AND there is only one failed replica, this is unexpected. Let's us dig into the provided support bundle. Was the attached supported bundle taken while the issue was happening?

[2022-05-31 23:41] PhanLe1010 commented on #3178
@strahe Did you try https://github.com/longhorn/longhorn/issues/3178#issuecomment-998090624 ?

[2022-05-31 23:54] PhanLe1010 commented on #4046
Thanks @son-la for reporting

It seems that the problem is caused by the introduction of the new longhorn-engine-manager and `longhorn-replica-manager` services, [link](https://github.com/longhorn/longhorn-manager/commit/f994a750c004934a11df4f6b815a8759822b577d)

cc @keithalucas could you take a look to see which firewalls users need to enable for this to work?

[2022-06-01 00:05] PhanLe1010 commented on #4042
No, the PVC that use your default storageclass which doesn't specify any tag will try to use all node/disk.

[2022-06-01 00:07] iangregsondev commented on #4042
Oh, Thanks @PhanLe1010 , so, do mean i should apply a tag to my default disk and edit the default storage class to specify ONLY to use this new tag then ?

[2022-06-01 00:10] PhanLe1010 commented on #4042
Yeah, I am thinking about that approach. However, there is a problem with the existing volumes that are already created by the old version of the storageclass. Those volume will have no tag, therefore, when Longhorn decide to rebuild a replica for those volume, Longhorn might reschedule the replicas on to the slow disk

[2022-06-01 01:04] yangchiu commented on #3949
[v1.3.0-rc2 amd64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1428/): 13 failures
v1.3.0-rc2 amd64 upgrade: in progress
[v1.3.0-rc2 arm64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1430/): 16 failures
[v1.3.0-rc2 arm64 upgrade](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1431/): 18 failures

[2022-06-01 02:02] c3y1huang opened #4060 "[IMPROVEMENT] Use context with timeout for gRPC proxy client"
Discussion threads [here](https://github.com/longhorn/longhorn-manager/pull/1348#discussion_r884034772).

https://github.com/longhorn/longhorn/issues/3546

[2022-06-01 02:18] #3857 closed

[2022-06-01 02:30] c3y1huang opened #4061 "[BUG] Longhorn manager nil pointer dereference from proxy SnapshotBackup"
## Describe the bug

This error showed sometimes midway through full regression.
[code]

## To Reproduce

Run e2e regression, but not reproducible every time.

## Expected behavior

Longhorn manager shouldn't panic with nil pointer dereference.

## Log or Support bundle

`N/A`

## Environment

`N/A`

## Additional context

https://github.com/longhorn/longhorn/issues/3546

[2022-06-01 02:58] derekbit commented on #4049
[code]

[2022-06-01 03:25] yangchiu opened #4062 "[TEST] refactor longhorn-tests terraform scripts"
## What's the test to develop? Please describe

too many redundant/duplicate files and code in test_framework/terraform/aws/

## Describe the items of the test development (DoD, definition of done) you'd like

- [ ] `modularize terraform scripts`

[2022-06-01 03:32] innobead commented on #4062
cc @longhorn/qa

[2022-06-01 03:40] innobead opened #4063 "[IMPROVEMENT] Restoring a backup to create a volume should keep the original storage class"
## Is your improvement request related to a feature? Please describe

Currently, when restoring a backup to create a volume will use the default storage class configured on the system. Usually, what users really expect is to keep the original storage class when creating a new PV/PVC.

## Describe the solution you'd like

When creating a new volume/PV/PVC, we should keep using the original storage

[2022-06-01 03:49] cchien816 commented on #2570
**Validate on longhorn**

**Test [steps](https://github.com/longhorn/longhorn/issues/2570#issuecomment-1126938163)
Result Pass**

Test 1. Fresh installation
Check default setting value working properly at each step

- [ ]  Install Longhorn with customized-default-settings.yaml
- [ ]  Update default settings using kubectl
- [ ]  Upgrade longhorn-manager(different tag) without a new customized-defau

[2022-06-01 04:57] cchien816 commented on #2570
Close this issue

Test result on v1.3.0-rc2 : [Pass](https://github.com/longhorn/longhorn/issues/2570#issuecomment-1143085986)
e2e result (PR [969](https://github.com/longhorn/longhorn-tests/pull/969)) : [Pass](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1438/testReport/tests/test_settings/)

[2022-06-01 04:57] #2570 closed

[2022-06-01 06:59] c3y1huang commented on #3967
In favor of [on-demand proxy client](https://github.com/longhorn/longhorn-manager/pull/1348) for now.

Backlog this and we can revisit after https://github.com/longhorn/longhorn/issues/4038.

[2022-06-01 08:56] lukaszraczylo commented on #4018
It looks like rc2 fixed the context deadline exceeded issue - rebuilding 50G volumes at the moment. If you won't hear from me in next 24h - this bug report can be closed :)

[2022-06-01 09:11] kaxing commented on #3083
Rerun the test with master-head* with 3+10 nodes, volume build up is slightly faster (~3000secs vs 3500secs+) but using slightly more memory(per %),

![image](https://user-images.githubusercontent.com/602540/171369287-f472c184-6649-4a36-bb13-9e0b029ea438.png)
![image](https://user-images.githubusercontent.com/602540/171368766-4af42815-73d0-4c67-b3a3-6d0c86ce673d.png)
<sup>* based on commit after v

[2022-06-01 09:41] c3y1huang opened #4064 "[IMPROVEMENT] transfer backup CR ownership when IM is down"
## Is your improvement request related to a feature? Please describe

Discussion thread starts [here](https://github.com/longhorn/longhorn-manager/pull/1338#issuecomment-1139355486).

## Describe the solution you'd like

As discussed in the PR review session, we've reached a consensus to deal with the bad IM with ownership transfer.

## Describe alternatives you've considered

https://github.com/l

[2022-06-01 16:37] afarresg opened #4065 "[BUG] longhorn-manager panic if UI deployment missing and updating CA settings"
Hello,

We are developing a product on top of Kubernetes and Longhorn that sets up a cluster programmatically. We don't make use of the Longhorn UI to set up Longhorn. Would it be possible to disable the creation of the Longhorn UI pod without having to scale down its deployment? If not, are there any plans in the near future to support it?

Up until now, we patched the Helm Chart and disabled the

[2022-06-01 20:31] michaelpearce-gain commented on #4000
thats probably because it was taken after it was resolved.... Can you request any further details you need via the support ticket.

[2022-06-02 01:28] #3970 closed

[2022-06-02 02:14] yangchiu opened #4066 "[TEST] cleanup volumes failed causes cascading error"
## What's the test to develop? Please describe

Sometimes the tear down function `cleanup_all_volumes` could fail and cause volumes remained in longhorn, and cause following test cases failed in their setup function.

like:
https://ci.longhorn.io/job/public/job/master/job/sles/job/arm64/job/longhorn-upgrade-tests-sles-arm64/129/
https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1407

[2022-06-02 05:33] #3720 closed

[2022-06-02 05:33] innobead commented on #3720
https://github.com/longhorn/longhorn/issues/3891 closed, and all libraries updated.

[2022-06-02 05:38] c3y1huang commented on #2865
I've got a couple of places with reminder notes like this.
[code]

[2022-06-02 06:59] innobead commented on #4051
caused  a side effect: https://github.com/longhorn/longhorn-tests/pull/982#discussion_r887620154

[2022-06-02 08:10] son-la commented on #4046
Thanks for the response. I have my deployment using Canal CNI with VXLAN backend. Are those ports for whitelisting in Network policy or for firewallD in this case?

At least I added a firewalld rule to whitelist all ports but it doesn't seem to help here. I can only make it work by stop the firewalld service

[code]

[2022-06-02 08:25] thehejik commented on #3425
Results from full pytest run on `v1.3.0-rc2`, logs [here](https://github.com/longhorn/longhorn/files/8822058/longhorn-test-full.log)

[code]

[2022-06-02 10:49] mantissahz commented on #3996
Validate on v1.2.x-head 20220602
Result Pass

Environment: v1.23.6+k3s1 with 3 control-plane nodes and 5 worker nodes
Created backups: 10062

It takes less than 3 mins for all Longhorn manager pods to come up when upgrading from v1.2.3 to v1.2.x-head

[2022-06-02 10:49] #3996 closed

[2022-06-02 11:32] wirwolf commented on #1756
Hello. I have the same error.
I have cluster setup by kubespray v1.21.13, longhorn 1.2.4
Network - 10G
In events i see
[code]

[2022-06-02 13:27] innobead commented on #3996
@mantissahz well done, thanks!

[2022-06-02 14:04] zenhighzer commented on #3172
- same here on raspberry pi 4 with Ubuntu 20.04.4 LTS and microk8s
- in longhorn.yaml I already adjusted KUBELET_ROOT_DIR  to /var/snap/microk8s/current/kubelet

[2022-06-02 14:12] derekbit commented on #2865
@

@c3y1huang Thanks for the hints. 👍

[2022-06-02 16:28] uh-dk commented on #428
Hello,
I currently have the same or a very similar problem with Longhorn v1.2.4.
Several volumes suddenly go read-only. Only deleting and recreating the pods helps to make the volumes rw again.
In the manager log you can see that there are timeouts after 8s.

I have created a support bundle. Can someone take a look at it?

[2022-06-02 18:48] mfbrj opened #4069 "[IMPROVEMENT] less verbose log on longhorn-manager"
## Is your improvement request related to a feature? Please describe

longhorn-manager pods currently use level=debug on logs, such as:
[code]

This generates gigabytes of logs on each worker node, causing kubernetes **disk pressure** events.

## Describe the solution you'd like
A less verbose log of `longhorn-manager` pods.

## Describe alternatives you've considered
The possibility to set the le

[2022-06-02 18:56] uh-dk commented on #4013
I have exactly the same problem. Volumes are suddenly in read-only mode and only by scaling the statefulsets down and up again can the volumes be remounted in read-write mode.

![image](https://user-images.githubusercontent.com/85555664/171696510-8d1e913c-0774-4a6f-a907-a07474f592da.png)
![image](https://user-images.githubusercontent.com/85555664/171696561-a29fffa7-65bb-4ad2-a933-d5534fb2948e.png)

[2022-06-02 20:00] PhanLe1010 commented on #4046
@son-la Can you dump out the firewalld config?
We would like to reproduce it in our lab to debug

[2022-06-02 20:27] diamonwiggins opened #4070 "[BUG] Filesystem corruption in Longhorn"
## Describe the bug

We're working with a user who suffered filesystem corruption and data loss as a result when using Longhorn persistent volumes in their K8s cluster. At times the filesystem is mounted read only and requires a `fsck` for it be remounted. At other times there is data loss and a restore of the app's data needs to be done.

Whenever the issue occurs we see the following in the kern

[2022-06-03 06:01] mantissahz commented on #3980
Validate on master-head 20220603
Result Pass

Environment: v1.23.6+k3s1 with 3 control-plane nodes and 5 worker nodes
Created backups: 11447

It takes less than 3 mins for all Longhorn manager pods to come up when upgrading from v1.2.3 to master-head

[2022-06-03 06:01] #3980 closed

[2022-06-03 06:46] oldluke92 commented on #3999
Hi there!
So today the described scenario happened again. Instance-manager cpu usage was 4 CPU Cores. Deleting the instance-manager pod fixed that, but afterwards 3 Volumes could not be mounted (k8s saying "timed out waiting for condition", longhorn saying the volumes are running). After restarting the worker node everything got up running again. So this time it took 15 days to occur again. Not su

[2022-06-03 09:06] wirwolf commented on #2673
Hello @cclhsu. A want to discuss Scenario 1. Why does Longhorn not move volume to another node(in my test he tries, but he delete new volume after rebuild)?

[2022-06-03 19:46] Ornias1993 commented on #1061
@yasker I notice you changed this, might be worth while to also keep a ticket open for sharding between multiple disks on the same node.
As it would mean just that single disk has to be recovered, instead of the current go-to lvm/mdadm stripe solution.

[2022-06-03 21:45] PhanLe1010 commented on #3172
It seems that the longhorn-csi-plugin hasn't been successfully registered to kubelet yet.
@armourshield @zenhighzer Can you kill all pods ` longhorn-csi-plugin-xxx` to retry?

[2022-06-03 21:59] PhanLe1010 commented on #3172
Todo: may be we should enhance Longhorn node driver registration to detect the failed case. ref https://github.com/kubernetes-csi/node-driver-registrar/pull/152

[2022-06-03 23:24] voarsh2 commented on #4013
Again, a node had HIGH IO delay and some workloads had health checks fail, several volumes on that node became faulted and read-only, breaking my application.
Scaling down fully and scaling up......... no instance manager restarts. But I see engine image on that node currently not ready

[2022-06-04 01:16] PhanLe1010 commented on #3714
Ref:
* https://github.com/rancher/rancher/issues/34701
* https://gist.github.com/bashofmann/e91fdea3960644f0431d478cf37807cc (thanks to @bashofmann)

[2022-06-05 09:26] arontsang opened #4071 "[QUESTION] Can I attach a PV as a Longhorn Disk"
My kube is on some custom cluster setup.

My nodes are dynamically provisioned (node IDs aren't stable), and I have access to some statically provisioned RWO PVs (block storage).

I am trying to re-export the block storage through Longhorn so I can

 - Divide up the block storage between stateful sets
 - Export slices of the storage as NFS for RWX PVs
 - Replicate storage between the backing store

[2022-06-06 01:36] yangchiu opened #4072 "[TEST] regression test stuck in download support bundle"
## What's the test to develop? Please describe

Previous steps already failed (longhorn or longhorn test doesn't even setup successfully), but the current pipeline still wants to download  support bundle and stuck in this step forever.

like: https://ci.longhorn.io/job/public/job/master/job/sles/job/arm64/job/longhorn-upgrade-tests-sles-arm64/132/

## Describe the items of the test development (Do

[2022-06-06 02:31] yangchiu commented on #2285
verified passed on v1.3.0-rc2 by following the [manual test plan](https://github.com/longhorn/longhorn-tests/blob/9f19673653dd158ddcae24cb8563b47d4a6c69d0/docs/content/manual/release-specific/v1.3.0/test-storage-network.md).

created eth0 (10.0.1.0/24) and eth1 (10.0.2.0/24) for each instance, and let pods communicated with each other on eth1 using multus.
remember to stop `source/destination chec

[2022-06-06 02:31] #2285 closed

[2022-06-06 02:39] shuo-wu opened #4073 "[BUG] Downloaded backing image state incorrect after restarting/upgrading the backing image manager"
## Describe the bug

After refactoring #3970, the downloaded backing image will be wrongly updated to `ready-for-transfer` and the backing image data source pod will be re-launched as well. This is not what we expected.

## To Reproduce

Steps to reproduce the behavior:
1. Create a backing image from a download URL
2. Wait for the backing image ready
3. Restarting the corresponding backing image m

[2022-06-06 03:11] shuo-wu opened #4074 "[BUG] Backing image download or upload timeout does not work"
## Describe the bug

When the download URL suddenly becomes invalid or the upload is interrupted, the in-progress backing image should be marked as failed after a timeout.

## To Reproduce

Steps to reproduce the behavior:
1. Create a backing image from local file upload via UI
2. When the upload is started and in progress, refreshing the page
3. Wait a while => The backing image gets stuck in sta

[2022-06-06 06:45] sharanbabumg commented on #3955
@PhanLe1010  please find the details requested.

 - Longhorn version: 1.2.4
 - Installation method (e.g. Rancher Catalog App/Helm/Kubectl): argocd deployment
 - Kubernetes distro (e.g. RKE/K3s/EKS/OpenShift) and version: on-prem kubernetes
   - Number of management node in the cluster: 3 nodes
   - Number of worker node in the cluster: 17 nodes
 - Node config
   - OS type and version: few servers

[2022-06-06 06:50] innobead commented on #3955
cc @shuo-wu

[2022-06-06 06:50] cchien816 commented on #4049
Waiting for e2e master build [146](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/146/) result

[2022-06-06 06:55] innobead commented on #4059
Closing due to that attribute not actually being used by Longhorn. @longhorn/qa will follow up if any outstanding issues in e2e later on.

cc @derekbit

[2022-06-06 06:55] #4059 closed

[2022-06-06 06:57] cchien816 commented on #3820
Close this ticket because after resync time reverted this issue not happened in recently maser e2e build ([145](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/145/testReport/tests/test_ha/test_disable_replica_rebuild/) , [144](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/144/testReport/tests/test_ha/tes

[2022-06-06 06:57] #3820 closed

[2022-06-06 06:57] innobead commented on #4002
This can be done before or after 1.3.0 GA. cc @longhorn/qa

[2022-06-06 07:06] kaxing commented on #3083
Validation - **PASSED**

Tested with v1.3.0-rc2 image , longhorn-manager no longer slows down after 500 volumes.

---
Notes for QAs,

Test workload:
- deploy with scale-test.py: io_1, and non_io for reference
- initial sts replicas: 70

Node spec:
- instance type: m5.2xlarge
- node nubmer: 3 control nodes, 10 worker nodes
- gp3 volume with size in 1200G, iops = 6000, throughput = 250

[2022-06-06 07:06] #3083 closed

[2022-06-06 07:34] derekbit commented on #2865
After quick investigation, we cannot remove `volume.spec.VolumeRecurringJobSpec` now, because the upgrade from v1.1.0 to v1.2.0 still needs it.
https://github.com/longhorn/longhorn-manager/blob/master/upgrade/v110to120/upgrade.go#L298

[2022-06-06 07:36] innobead commented on #2865
Thanks, @derekbit , then we need to enforce the upgrade path instead of all paths included instead. Let's do it in 1.4.

[2022-06-06 10:00] innobead commented on #4055
cc @derekbit @PhanLe1010

[2022-06-06 10:27] c3y1huang opened #4076 "[IMPROVEMENT] Revert backup target related gRPC to binary calls"
https://github.com/longhorn/longhorn-manager/pull/1361#issuecomment-1147257498

[2022-06-06 10:38] prasadve0506 opened #4077 "i Have Master node a linux and worker nodes Windows i am not able to install longhorn"
## Question

## Environment

 - Longhorn version:
 - Kubernetes version:
 - Node config
   - OS type and version
   - CPU per node:
   - Memory per node:
   - Disk type
   - Network bandwidth and latency between the nodes:
 - Underlying Infrastructure (e.g. on AWS/GCE, EKS/GKE, VMWare/KVM, Baremetal):

## Additional context

Add any other context about the problem here.

[2022-06-06 14:10] shuo-wu commented on #4055
The result shown in `pprof` seems to be caused by this issue: https://github.com/longhorn/backing-image-manager/pull/59

More investigation is needed.

[2022-06-06 16:16] derekbit commented on #4055
So, the memory usage (`WorkingSet`) from `kubectl top pod` includes the cache.

https://github.com/google/cadvisor/blob/master/info/v1/container.go#L394
https://github.com/google/cadvisor/blob/master/container/libcontainer/handler.go#L836

[2022-06-07 00:45] innobead commented on #3871
cc @DamiaSan

[2022-06-07 01:28] #4060 closed

[2022-06-07 01:29] c3y1huang commented on #4064
Close in favor of https://github.com/longhorn/longhorn/issues/4076.

[2022-06-07 01:29] #4064 closed

[2022-06-07 01:38] c3y1huang commented on #3977
Close in favor of https://github.com/longhorn/longhorn/issues/4076.

https://github.com/longhorn/longhorn-manager/pull/1361#issuecomment-1147257498

[2022-06-07 01:38] #3977 closed

[2022-06-07 02:50] cchien816 commented on #4049
Hello @derekbit
In build 146 [result](https://ci.longhorn.io/job/public/job/master/job/sles/job/amd64/job/longhorn-tests-sles-amd64/146/testReport/junit/tests/test_ha/test_dr_volume_with_restore_command_error_s3_/) there still have problems with this issue and looks like the fix code merged days ago, could you help to clarify on it? thank you

[2022-06-07 02:56] c3y1huang commented on #4076
Testing:
- Full regression: https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1476/

[2022-06-07 03:36] derekbit commented on #4049
@cchien816
Not sure why, but it works as expected in my local env and https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1479/console.

[2022-06-07 03:55] derekbit commented on #4049
From the support bundle, the failure is not caused by assertion failure fixed in this PR, but it's not easy to identify the root cause currently.

[2022-06-07 05:14] innobead commented on #4076
This is an internal change, so we can rather rely on the e2e, but QA can help with verifying some backup operations as well to see if it works as expected.

[2022-06-07 05:15] shuo-wu commented on #4055
With the fix, both @derekbit and me agree:
1. It's hard to trigger OOM
2. The cache will be cleaned up automatically after several hours, or will be dropped automatically if other pod needed more memory

We don't think we need to anything more for this.

[2022-06-07 05:17] innobead commented on #4055
Closing, and just follow up if any feedback in the future.

[2022-06-07 05:17] #4055 closed

[2022-06-07 05:17] innobead commented on #4055
cc @longhorn/qa

[2022-06-07 05:31] c3y1huang commented on #4076
For a single network cluster, we can rely on the full regression test result and the nightly runs.

I think QA can help verify the tests with the prefix `test_backup` on a dual network cluster (storage network).

[2022-06-07 05:35] innobead commented on #4076
@cchien816 Please check with @yangchiu who verified the storage network before.

[2022-06-07 05:39] kaxing commented on #4056
No more snapshot controller issue with latest master-head.

[2022-06-07 05:39] #4056 closed

[2022-06-07 05:51] kaxing commented on #2203
Validation - **PASSED**

Tested with v1.3.0 branch c2, master-head image.
AKS also tested with [test_cluster_autoscaler ](https://github.com/longhorn/longhorn-tests/pull/936)

I will close this for now as EKS will be tested a bit later in the release cycle.

[2022-06-07 05:51] #2203 closed

[2022-06-07 06:17] cchien816 commented on #4049
Tested on local environment with s3 and NFS, the result were all passed on local.
On pipeline all failure were due to `wait_for_volume_restoration_start` maybe it's timing issue make case flaky.
I will keep track pipeline result and try reproduce

[2022-06-07 06:33] kaxing opened #4080 "[IMPROVEMENT] UI: making batch deletion dialog more readable"
## Is your improvement request related to a feature? Please describe

As the per page maximum items is limited to 100 items, user may very possibly at some point need to delete more than 100 volumes at once. However, the current confirmation dialog will be too long to read:
<img width="32" alt="longhorn-with-100-volumes" src="https://user-images.githubusercontent.com/602540/172310702-78be53f7-29f0

[2022-06-07 07:22] c3y1huang opened #4081 "[DOC] Add storage network setting document"
## What's the task? Please describe

Add document for the storage network setting.

## Additional context

https://github.com/longhorn/longhorn/issues/2285

[2022-06-07 07:36] innobead opened #4082 "[DOC] Improve backing documentation"
## What's the task? Please describe

Right now, we only have a page related to the backing image about creating a volume from a backing image. However, we have complete functions of backing images in 1.3.0, so it's time to enrich the backing image doc like backing image download, creating a backing image from a volume, etc.

## Describe the items of the task (DoD, definition of done) you'd like

-

[2022-06-07 07:47] derekbit commented on #4002
**Environment**
- Cloud provider: Equinix
- Machine: m3.small.x86
- Kubernetes: v1.23.6+rke2r2
- Nodes: 3 (each node is master and also worker)
- OS: Ubuntu 22.04 / 5.15.0-33-generic
- Storage: 1 (SSD Micron_5300_MTFD)

![image](https://user-images.githubusercontent.com/12527233/172323920-6a0980e5-6cc2-4a80-b549-00d6f3d2b9c9.png)

The performance between v1.2.4 and v1.3.0-rc2 are very close.

[2022-06-07 08:30] jenting opened #4083 "[BUG] CSI VolumeSnapshot failed to restore if the source PV/PVC gone"
## Describe the bug

We want to restore the PVC from the CSI VolumeSnapshot. Everything works well if the source PV/PVC exists in the cluster.

However, if the source PV/PVC has gone, Longhorn could not restore the PVC with dataSource points to the existed VolumeSnapshot, the error message shows the Volume CR is not found.

## To Reproduce

Steps to reproduce the behavior:
1. Create source PVC and

[2022-06-07 08:37] cchien816 commented on #4052
**Validate on longhorn manager master-head 20220607(e771821e32f2b3fdb274dfe703aac5a711e94956)
Result Pass**

Steps:
1. Create 2 backing images, 1 from URL, 1 from upload
2. After create complete, download both backing images
3. Observe download file name, the file name  kept as the upload/download file UUID displayed UI

[2022-06-07 08:45] innobead commented on #4083
This is the current limit because the lifecycle of a longhorn snapshot is bound to its owner volume.

https://v1-3-0--longhornio.netlify.app/docs/1.3.0/snapshots-and-backups/csi-snapshot-support/csi-volume-snapshot-associated-with-longhorn-snapshot/#current-limitation

cc @PhanLe1010

[2022-06-07 09:03] chriscchien opened #4084 "[TEST] v1.2.x e2e pipeline fail"
## What's the test to develop? Please describe

Our 2e v1.2.x piple fail recently, no test result.
In depoly longhorn stage , console get below error:
[code]

## Describe the items of the test development (DoD, definition of done) you'd like

- [x] Should work properly as usual
## Additional context

[N/A](https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-tests-sles-amd64/121/consol

[2022-06-07 09:20] innobead commented on #4052
@cchien816 Could you help retest this based on the new change from https://github.com/longhorn/longhorn-ui/pull/521? Thank you.

[2022-06-07 09:29] cchien816 commented on #4076
**Validate on master-head e771821e32f2b3fdb274dfe703aac5a711e94956
Result Pass**

1. Follow [manual test plan](https://github.com/longhorn/longhorn-tests/blob/9f19673653dd158ddcae24cb8563b47d4a6c69d0/docs/content/manual/release-specific/v1.3.0/test-storage-network.md), created eth0 (10.0.1.0/24) and eth1 (10.0.2.0/24) for each instance, after update storage network setting value to `kube-system/de

[2022-06-07 09:29] #4076 closed

[2022-06-07 09:47] scbay commented on #4010
I have provided detailed steps to reproduce this issue above.

[2022-06-07 09:51] cchien816 commented on #4052
**Retest with longhorn-ui cca2d09404045a0327f112bc0139b48f6f14f0ad
Result Pass**

Steps:

1. Create 2 backing images, 1 from URL, 1 from upload
2. After create complete, download both backing images
3. Observe download file name, the file name kept as the upload/download file UUID displayed UI
4. Backing image UUID display correctly in popup window

[2022-06-07 09:51] #4052 closed

[2022-06-07 10:14] shuo-wu commented on #3955
The fix for the kubelet restart #2650 is mainly for RWO volumes.

As for the RWX volume, there is another ticket tracking it, which maybe related to this issue: https://github.com/longhorn/longhorn/issues/3612

[2022-06-07 10:17] kaxing opened #4085 "[BUG] Backing image without checksum value created from older release will not able to be reuse: `no expectedChecksum for existing file`"
## Describe the bug

![image](https://user-images.githubusercontent.com/602540/172355870-4b3efa4f-d7ad-4e18-80d5-19e83d6c15d3.png)

## To Reproduce

Steps to reproduce the behavior:
1. Install v1.1.3
2. Create Backing Image (leave checksum blank)
3. Create and attach volume with backing image
4. Wait until everything settle
5. Upgrade to master-head

## Expected behavior

Able to resolve the situa

[2022-06-07 12:44] shuo-wu opened #4086 "[BUG] Backing image manager does not release ports correctly after file syncing"
## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:
1. Create multiple backing images. It's better to make sure the file size is relatively large so that the syncing won't be done immediately.
2. Create and attach multiple volumes using these backing images.
3. Wait for the attachment complete.
4. Repeat the above step until o

[2022-06-07 12:53] innobead commented on #3955
cc @derekbit

[2022-06-07 12:59] innobead commented on #4086
cc @longhorn/qa

[2022-06-07 14:33] innobead opened #4089 "[TEST] Unstable flaky engine test `test_snapshot_mounted_filesystem`"
## What's the test to develop? Please describe

<details>
<summary>failed test_snapshot_mounted_filesystem</summary>
================================== FAILURES ===================================
_______________________ test_snapshot_mounted_filesystem _______________________

grpc_controller = <rpc.controller.controller_client.ControllerClient object at 0x3ff87633e48>
grpc_replica1 = <rpc.replic

[2022-06-07 16:32] innobead commented on #4089
mostly on arm64 and s390x, randomly each recently. https://drone-publish.longhorn.io/longhorn/longhorn-engine

[2022-06-07 17:24] innobead commented on #3778
@PhanLe1010 any update on the upstream? thanks.

[2022-06-08 01:27] derekbit commented on #4077
Longhorn leverages the Linux features, tools and utilities, e.g. unix domain socket and open-iscsi, so it does not support Windows platform.

[2022-06-08 03:09] niusmallnan commented on #4002
Hi @derekbit , I did a similar test on the Equinix platform, however, I was hovering over its local-path performance.
This caused me a little bit of trouble. I'm sharing it here, hope it helps with this test.

Unlike your environment, I was assigned a **Micron_5200** device. I am using Harvester-based OS, it should be from openSUSE leap 15.3.
[code]

By using `yasker/kbench` image(numjobs=1 and ra

[2022-06-08 03:36] derekbit commented on #4002
Hello @niusmallnan,
Thanks for your results.

Yes. We can increase the `numjobs` to squeeze the random I/O performance.
 *numjobs = 1* makes sense for sequential I/O, otherwise the result will introduce the random I/O effect.

SSD WriteCache is the write-back cache buffer on the SSD device, and it can improve the write performance.
In the case of disabling it, latency should increase significantly

[2022-06-08 04:09] kaxing commented on #4085
Not happening with backing image created with longhorn v1.2.x, logs from bi manager pod:
[code]

[2022-06-08 05:17] innobead commented on #4085
As per https://github.com/longhorn/longhorn/issues/4085#issuecomment-1149435698, not a priority to 1.3.0.

[2022-06-08 05:23] derekbit commented on #3220
`cleanupCorruptedOrStaleReplicas` is responsible for deleting staled or failed replicas.
https://github.com/longhorn/longhorn-manager/blob/master/controller/volume_controller.go#L780
The deletion is not triggered because `r.Spec.RebuildRetryCount` is 0.

[2022-06-08 06:09] kaxing commented on #4073
Validation - **PASSED**

Backing Image Manager won't launch DS pods even when force deleting the working bi working pods.

Testing with following image combination from master branch:
- longhorn-manager@sha256:be3d8fa02ec4a2d58b0265069fb01c29c57c977dfcb7ac9fc761d534eca17a91
- longhornio/backing-image-manager:v3_20220606 => backing-image-manager@sha256:96b89b83373cfa1a0860fef9cc9459935a60096d0786f6

[2022-06-08 06:09] #4073 closed

[2022-06-08 06:18] #4081 closed

[2022-06-08 06:19] #3884 closed

[2022-06-08 07:44] innobead commented on #3220
@derekbit is this a regression or actually an existing issue for a long while (from 1.2.x)?

[2022-06-08 07:56] derekbit commented on #3220
After checking the logic in v1.2.x, it's also an existing issue in v1.2.x.
v1.2.x e2e also hit this issue.
https://ci.longhorn.io/job/public/job/v1.2.x/job/v1.2.x-longhorn-tests-sles-amd64/96/

[2022-06-08 10:41] innobead commented on #3938
1.3.0 RC2

(raw chart, deploy manifest) [https://github.com/longhorn/longhorn/tree/v1.3.0-rc2](https://github.com/longhorn/longhorn/tree/v1.3.0-rc2?rgh-link-date=2022-05-31T09%3A50%3A16Z)
(longhorn chart) [https://github.com/longhorn/charts/tree/v1.3.x](https://github.com/longhorn/charts/tree/v1.3.x?rgh-link-date=2022-05-31T09%3A50%3A16Z)
(rancher chart 2.6) https://github.com/rancher/charts/pull/

[2022-06-08 11:53] shuo-wu opened #4090 "[BUG] Delete and resync failed backing image files"
## Describe the bug

When there is one failed backing image file while others are still available, Longhorn should delete the failed one then do resync for it automatically.

## To Reproduce

Steps to reproduce the behavior:
1. Create a backing image.
2. Create and attach a volume using the backing image, so that the backing image will be synced to other nodes.
3. Directly remove one backing image

[2022-06-08 14:01] thehejik commented on #3425
Results from `-m coretest` on `v1.3.0-rc3` running on three nodes `v1.23.7+rke2r1` SLE15SP3.s390x cluster with EXT4 rootfs, Minio as s3 backupstore. Logs [here](https://github.com/longhorn/longhorn/files/8862214/longhorn-test.log)

[code]

[2022-06-08 18:29] keithalucas commented on #4089
Adding `-t ext4` to the mount command also caused it to pass:  https://drone-pr.longhorn.io/longhorn/longhorn-engine/647/2/3

[2022-06-09 00:42] yangchiu commented on #3949
[v1.3.0-rc3 amd64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1498/): 4 failures
v1.3.0-rc3 amd64 upgrade: in progress
[v1.3.0-rc3 arm64](https://ci.longhorn.io/job/private/job/longhorn-tests-regression/1499/): 16 failures
v1.3.0-rc3 arm64 upgrade: in progress

[2022-06-09 01:00] #4084 closed, assigned to derekbit, chriscchien

[2022-06-09 01:23] innobead commented on #3953
cc @longhorn/qa

[2022-06-09 01:23] #3953 closed

[2022-06-09 01:53] #4049 closed

[2022-06-09 03:25] yangchiu commented on #3155
verified pass on v1.3.0-rc3 by following [manual test steps](https://longhorn.github.io/longhorn-tests/manual/release-specific/v1.3.0/test-backing-image-download-to-local/)

[2022-06-09 03:25] #3155 closed

[2022-06-09 03:28] innobead opened #4092 "[IMPROVEMENT] Faster resync time for fresh replica rebuilding"
## Is your improvement request related to a feature? Please describe

**Feedback from users.**

We recently faced a need to move replicas to new nodes (in order to do maintenance on existing nodes).

Replicas that had low (or non) incoming traffic (like Grafana) were synced quickly, but a replica of Prometheus PVC (250Gbi) took more than 30h to resync fully, because PVC itself was actively used by

[2022-06-09 03:35] innobead commented on #3425
@cchien816 Could you follow up on the test result to see if any difference compared with our amd64? then we will better understand the failure is actually because of still some flaky tests. Thank you.

cc @longhorn/qa

[2022-06-09 03:45] shuo-wu commented on #4092
Do you mean that, when the existing data size is identical, the speed would be much slower if there are new incoming data during the rebuilding?

[2022-06-09 03:50] innobead opened #4093 "[TASK] Resource exhaustion testing to verify volume resilience"
## What's the task? Please describe

We need to do some resource exhaustion testing to see if Longhorn volumes still work well with the parent workloads, then it's better to understand how Longhorn reacts to this kind of negative situation to ensure volume resilience.

- Resource:
	- Node (compute, involuntary on/off)
	- Disk (storage space, disk broken)
	- The network connection between workload,

[2022-06-09 04:46] c3y1huang opened #4094 "[BUG] prometheus-operator pod in CrashLoopBackOff state following doc instruction"
## Describe the bug

The prometheus-operator pod goes in CrashLoopBackOff following doc instruction
https://github.com/longhorn/website/blob/v1.3.0/content/docs/1.3.0/monitoring/prometheus-and-grafana-setup.md#install-prometheus-operator.

## To Reproduce

Steps to reproduce the behavior:
1. [Create monitoring namespace](https://github.com/longhorn/website/blob/v1.3.0/content/docs/1.3.0/monitoring

[2022-06-09 05:18] innobead commented on #4094
cc @longhorn/qa

[2022-06-09 05:24] innobead commented on #4094
Is there any detailed error stack info to know the root cause? Is this the same happening in the previous version?

[2022-06-09 05:31] innobead commented on #4092
I think yes in general but that's something we need to investigate further, part of replica rebuilding improvement.

[2022-06-09 05:48] c3y1huang commented on #4094
Seems related to K8s version. Cannot reproduce with K8s `v1.21.12`.
Closing.

[2022-06-09 05:50] innobead commented on #4094
So the doc is not working for 1.23?

[2022-06-09 06:15] PhanLe1010 commented on #3714
## Problem Definition

1. Deploy rancher v2.5.10
1. Create a cluster and install Longhorn 1.1.x using the old Rancher catalog UI
    <img width="959" alt="Screen Shot 2022-06-07 at 4 16 01 PM" src="https://user-images.githubusercontent.com/22139961/172772148-3596019a-55fc-47cf-b737-404baced4866.png">
1. Create volume, cronjob, backup, etc ...
1. Upgrade to Longhorn v1.2.3
1. Upgrade rancher to >=

[2022-06-09 06:29] PhanLe1010 commented on #3714
## Test plan

We should test [the above migration steps](https://github.com/longhorn/longhorn/issues/3714#issuecomment-1150714463) for all Longhorn version 1.2.x. After verifying this, we can make an announcement that there is a migration path from old rancher catalog to new rancher app&marketplace if the user meets the following conditions:
1. Longhorn version is >= v1.2.0
2. Rancher version is >

[2022-06-09 06:35] kaxing commented on #4085
Validation - **PASSED**

Tested with v1.3.0-rc3 + backing-image-manager dev image from: shuowu/backing-image-manager:v3_20220608
As latest backing-image-manager is [not ready yet.](https://drone-publish.longhorn.io/longhorn/backing-image-manager/70/1/4)

For reference this is the bi created from v113 then upgrade to v13.0-rc3 with dev image:
[code]

[2022-06-09 06:35] #4085 closed

[2022-06-09 07:17] drawdy commented on #2813
Lonhorn 1.3 will support multi-network based on multus cni. I would like to known if it is possible to replace the IP in the endpoint of iscsi frontend volume with Storage IP ? Then I can access the iscsi target outside the cluster.

Have time to look at this question ? @c3y1huang

Related code as follows.

https://github.com/longhorn/longhorn-manager/blob/3ca585fd3a36f57fea36e37f2109f6c5c823e9e0/

[2022-06-09 07:21] kaxing commented on #4074
Validation - **PASSED**

Tested with v1.3.0-rc3 plus bi-manager dev img.

With the latest change, now the backing image upload got interrupted will be showing failed state:
![image](https://user-images.githubusercontent.com/602540/172788195-4c78f2c0-a206-405f-98dc-8021720d50fb.png)

Additionally, if there are file size under the expectation there will be error message:
![image](https://user-images

[2022-06-09 07:21] #4074 closed

[2022-06-09 07:45] shuo-wu commented on #4074
The file size check is expected behavior.

[2022-06-09 08:27] c3y1huang opened #4096 "[BUG] gRPC client need to use long timeout where previously binary execute without timeout"
We need to use timeout longer then [GRPCServiceLongTimeout   = 24 * time.Hour](https://github.com/longhorn/longhorn-engine/blob/master/pkg/replica/client/client.go#L20) where engine binary executed with `ExecuteEngineBinaryWithoutTimeout`.
[code]

The timeout is determined by https://github.com/longhorn/longhorn-engine/blob/0a69c6c3be34ffcd411d484774bbb992c12c93e0/pkg/sync/sync.go#L444. and should

[2022-06-09 08:33] thehejik commented on #3425
Results from full pytest run on `v1.3.0-rc3`, logs [here](https://github.com/longhorn/longhorn/files/8868452/longhorn-test.log)

[code]

[2022-06-09 08:36] R-Studio commented on #2128
This feature would be awesome! 👍🏽😃
@innobead can be estimated when this feature will be implemented? (I ask because it is a open feature request since 21 Dec 2020)

[2022-06-09 08:46] innobead commented on #4096
cc @shuo-wu @derekbit

[2022-06-09 08:57] shuo-wu commented on #4096
- `ReplicaRebuildVerify`: In the proxy side implementation, there is no blocking call. But I am not sure if the locking would lead to any extra delay. In general, I don't think we need to use a 24-hour timeout for this.
- `SnapshotPurge`: This is an async call. There is no need to use a long timeout.
- `SnapshotBackup`: This would take some time but should not take 24 hours. The most time-consumin

[2022-06-09 09:21] innobead commented on #4096
I feel we can improve the proxy interface to highlight what methods are async via naming convention but the rest are synchronous.

[2022-06-09 09:23] shuo-wu commented on #4096
Or in the future, all external APIs should be async once there are blocking operations.

[2022-06-09 09:27] innobead opened #4098 "[IMPROVEMENT] Make IM Proxy server support asynchronous operations by default"
## Is your improvement request related to a feature? Please describe

As per the discussion at https://github.com/longhorn/longhorn/issues/4096#issuecomment-1150884830, we should consider making all operations via IM Proxy service asynchronous by default to avoid being confused by different timeout strategies for different operations.

## Describe the solution you'd like

Asynchronous operations b

[2022-06-09 11:56] mantissahz commented on #4090
Verified on v1.23.6+k3s1 cluster with master-head image `2022/06/09`
Validation - **PASSED**

Steps:
 1. Create a backing image.
 2. Create and attach a 3-replica volume using the backing image.
 3. Wait for the attachment complete.
 4. Manually remove the backing image on the current node.
 5. Wait for the file state in the disk/on this node become failed.
 6. Wait for the file recovering automat

[2022-06-09 11:56] #4090 closed

[2022-06-09 13:03] keithalucas opened #4100 "[FEATURE] Import and export SPDK longhorn volumes to longhorn sparse file directory"
Create a JSON-RPC command to import a directory of sparse files into a thinly provisioned SPDK logical volume store and a JSON-RPC command to export a logical volume in SPDK to a directory of sparse files.

You can make a directory of sparse files with longhorn by setting up with one replica:
https://github.com/longhorn/longhorn/wiki/How-to-run-longhorn-engine-without-containers

To make snapshots

[2022-06-09 22:22] PhanLe1010 commented on #4070
@diamonwiggins

Thanks for reporting.
Longhorn volume consists of 1 engine + multiple replicas.  A crash of 1 replica shouldn't corrupt the filesystem and this should be the behavior out of the box. I am investigating this topic. As the first step, we would want to find a way to reproduce the filesystem corrupting issue. Can you provide us:

* Could you provide the name of the volume that had the

[2022-06-10 02:13] c3y1huang commented on #4065
Thank you @afarresg for reporting. This is a bug on our side. We will fix this and you should be able to patch the Helm Chart as usual.

[2022-06-10 02:46] innobead commented on #4065
@mantissahz Please help verify this. Thank you.

cc @longhorn/qa

[2022-06-10 03:05] #4002 closed

[2022-06-10 03:06] innobead commented on #4086
@mantissahz Please help with that testing. Thanks.

[2022-06-10 07:07] mantissahz commented on #2673
Failed to drain the node with v1.3.0-rc3
Stuck at
`“error when evicting pods/"instance-manager-r-dac5b6e6" -n "longhorn-system" (will retry after 5s): Cannot evict pod as it would violate the pod's disruption budget`

[2022-06-10 07:24] sharanbabumg commented on #3955
@innobead @shuo-wu Can i get some update?

[2022-06-10 07:45] innobead commented on #2673
@mantissahz please don't remove the previous flag. The issue is a regression in 1.3.0-rc instead only. Good catch!

[2022-06-10 07:47] innobead commented on #2673
Closing this. @mantissahz Please help create another issue to track. Thank you!

[2022-06-10 07:47] #2673 closed

[2022-06-10 08:10] mantissahz opened #4103 "[BUG] kubectl drain node gets stuck forever"
## Describe the bug

In case when drain the node by the command `kubectl drain`, it gets stuck forever with log

`error when evicting pods/"instance-manager-r-dac5b6e6" -n "longhorn-system" (will retry after 5s): Cannot evict pod as it would violate the pod's disruption budget`

## To Reproduce

Steps to reproduce the behavior:
1. Setup the Kubernetes cluster and deploy the Longhorn system with v1

[2022-06-10 08:11] innobead commented on #4103
cc @longhorn/qa

[2022-06-10 08:14] innobead commented on #4103
@cchien816 Could you help verify this? because this was fixed by @mantissahz as well.

[2022-06-10 14:24] impsik commented on #4103
For me it's draining but it takes 5min or so with kubectl. About that `Cannot evict pod as it would violate the pod's disruption budget`
[code]
I have 3 workernodes. But sadly i'm not able to drain using Ansible (module: kubernetes.core.k8s_drain)
"msg": "Failed to delete pod POD NAME HERE due to: Too Many Requests"
I guess this module works over API.

[2022-06-10 15:55] diamonwiggins commented on #4070
@PhanLe1010 Thanks so much for getting back to me!

`data-stackstate-hbase-hdfs-dn-0`/`pvc-70fc2e9b-e75d-415c-b85f-3efe67439717`

This is the helm chart which has the relevant component - https://github.com/StackVista/helm-charts/tree/master/stable/hbase. The entire application exactly as the user deploys it may be a little difficult to provide, but I'll see what I can do.

The storage for Longhor

[2022-06-12 02:47] voarsh2 commented on #4092
I think the entire way replica's work is a bit flawed in that it doesn't reuse any data when rebuilding.

[2022-06-12 02:55] derekbit commented on #4071
Can you mount the block storage on your worker node? If yes, you can mount it and them add it to the Longhorn work node's disk list.

[2022-06-12 03:03] voarsh2 commented on #4070
Probably an unhelpful comment but I have experienced some corrupted volumes recently, if I see it again I'll be sure to add information here as well.

[2022-06-12 20:24] iosifnicolae2 opened #4105 "Auto-balancing volumes between nodes & disks"
## Is your feature request related to a problem?
- The actual size of volumes is very high and **disks are getting low on available disk space**.
- the performance is affected because instead of distributing the volumes across multiple disks, **one disk is used to store all the volumes**

## Describe the solution you'd like
It would be awesome if Longhorn would be able to:
1. **allocate** new volu

[2022-06-13 00:56] derekbit commented on #2293
**Investigate two scenarios**

**1. node, which has the volume and the share-manager pod, is not crashed or shut down, but the share-manager pod is stopped unexpectedly**
    The  share-manager pod  is restart on the same node, and then everything works well again.

**2. node, which has the volume and the share-manager pod, is crashed or suddenly shut down**
    The volume and share-manager are re