[2020-07-17 19:39] PhanLe1010 commented on #1600
Update: I was also able to upgrade from `v1.0.1-rc1` to `v1.0.1-rc2`

[2020-07-17 20:06] khushboo-rancher commented on #1561
Verified on Master - ```c94569e```

Validation - **Passed**

In case of bulk deletion message lists the Volume name, PVC/PV and Pod associated with it.

[2020-07-17 20:06] #1561 closed

[2020-07-17 20:19] PhanLe1010 commented on #1043
Should we update the file https://github.com/longhorn/charts/blob/master/charts/longhorn/templates/NOTES.txt so that Helm gives user more useful information after the installation.

Currently, I got this message after install longhorn using the chart in longhorn repo on Helm hub.
<img width="889" alt="Screen Shot 2020-07-17 at 1 14 48 PM" src="https://user-images.githubusercontent.com/22139961/878

[2020-07-17 20:22] yasker commented on #1043
@PhanLe1010 Yes. We can point them to the `docs.longhorn.io` for the documentation. That would be definitely more helpful.

[2020-07-17 20:23] PhanLe1010 commented on #1043
@yasker  NVM, I see the updated note in the RC2 release. I am sorry

[2020-07-17 20:24] yasker commented on #1043
For the `dev-chart` part, we will track it on https://github.com/rancher/rancher/issues/27725. So we can move this to merged.

[2020-07-17 20:40] meldafrawi commented on #1590
Validation: **PASSED**

[2020-07-17 20:40] #1590 closed

[2020-07-17 21:03] joshimoo commented on #1604
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at longhorn-tests#372

* [x] Is the reproduce steps/test steps documented?

* [x] Which areas/issues this PR might have potential impacts on?
Area backup tests
Issues #710 #1604 #1603

* [x] ~~**If the fix in

[2020-07-17 21:07] joshimoo commented on #1603
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at longhorn/longhorn-tests#372
longhorn/backupstore#53
longhorn/longhorn-manager#632
longhorn/longhorn-engine#517

* [x] Is the reproduce steps/test steps documented?

* [x] Which areas/issues this PR might h

[2020-07-17 21:07] joshimoo commented on #710
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at longhorn/longhorn-tests#372
longhorn/backupstore#53
longhorn/longhorn-manager#632
longhorn/longhorn-engine#517

* [x] Is the reproduce steps/test steps documented?

* [x] Which areas/issues this PR might h

[2020-07-17 21:18] yasker commented on #710
What's the reproduce steps for the issue?

[2020-07-17 21:37] joshimoo commented on #710
So there are 2 cases in which this issue could happen:
The core problem is that listing the backup volume names is a multi step process.
Since we have 2 intermediate folders for each backup volume.

Case 1:
could happen previously when deleting the last backup for a backup volume.
we solved this case a while ago when we split the backup / backup volume deletion.

Case 2:
A: If during the execution

[2020-07-17 22:19] khushboo-rancher opened #1605 "[BUG]Test: 'backupstore_cleanup' method causing failures for some integration tests."
**Describe the bug**
Tests 'test_single_replica_restore_failure' and 'test_backup_block_deletion' fail intermittently as method 'backupstore_cleanup' fails to delete backups from backup store.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up the minio backup store and create a backup of 2 GB
2. Run the test 'test_single_replica_restore_failure' and 'test_backup_block_deletion'.
3. The

[2020-07-17 22:33] joshimoo commented on #1572
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [x] ~~Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at~~

* [x] ~~Is the reproduce steps/test steps documented?~~

* [x] ~~Which areas/issues this PR might have potential impacts on?
Area
Issues~~

* [x] ~~**If the fix introduces the code for backward compat

[2020-07-17 22:40] joshimoo opened #1606 "Add e2e integration tests for RWX volumes"
For 1.0.1 we added an experimental nfs provisioner #1183  for rwx volumes. We need to add e2e integration tests for RWX volumes.
They should be structured in a way so that we can reuse the tests for the planned HA setup.

[2020-07-17 22:46] joshimoo commented on #1183
@khushboo-rancher added a tracking issue for the e2e integration tests #1606 can you close this issue?

[2020-07-17 23:02] #1183 closed

[2020-07-17 23:10] joshimoo commented on #1605
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [x] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at longhorn/longhorn-tests#372
longhorn/backupstore#53
longhorn/longhorn-manager#632
longhorn/longhorn-engine#517

* [x] Is the reproduce steps/test steps documented?

* [x] Which areas/issues this PR might h

[2020-07-18 02:18] laeo commented on #1584
Thanks for the answer, i'll close this issue.

[2020-07-18 02:18] #1584 closed

[2020-07-18 02:26] mikefaille commented on #1600
But, what my log mean ? How can I investigate this ? It will be a pleasure
to do the follow up. It may be related to a combination of stuff I
installed on the past.

Le ven. 17 juill. 2020 15:39, PhanLe1010 <notifications@github.com> a
écrit :

[2020-07-18 02:46] PhanLe1010 commented on #1600
Sure, I would like to take a deeper look at the problem. Could you please generate a support bundle using the link at the bottom left of Longhorn UI and send me?

<img width="593" alt="Screen Shot 2020-07-17 at 7 42 49 PM" src="https://user-images.githubusercontent.com/22139961/87843041-e3f5a480-c865-11ea-9eb8-6cd1a54b43ce.png">

[2020-07-18 02:49] yasker commented on #1600
@mikefaille you can send the support bundle to `longhorn-support-bundle@rancher.com`.

[2020-07-18 03:32] mikefaille commented on #1600
I'm able to see the count down until 100% after entering the issue ID and the description.
At 100% when I try to generate it, it says my connection is reset :
![Screenshot_20200717_232726](https://user-images.githubusercontent.com/978196/87843777-33979880-c885-11ea-9db8-4378dea2d7a9.png)

There is no error on the frontend log.

[code]

I use `kubectl port-forward` for the connection to the service

[2020-07-18 03:35] mikefaille commented on #1600
Ok, let me check. It could be the connection to my cluster...

[2020-07-18 03:42] mikefaille commented on #1600
@PhanLe1010  @yasker  I just send the support bundle as requested. BTW, I fully support you guy. It's far more easier to configure Longhorn than any other CSI on baremetal.

[2020-07-18 07:15] liyimeng commented on #1541
@yasker thanks for sharing the info and the awesome work!

[2020-07-18 12:28] destanyinside commented on #1586
@yasker SELinux in permissive mode

[2020-07-18 13:39] hillbun commented on #1601
@yasker

[code]

[2020-07-18 15:41] laeo commented on #1551
Sorry i rebuild my micro cluster, and deploy Longhorn again, so can't provide more detail about previous deployment.

But in this time deploy, Longhorn still reports same error message.

[code]

[2020-07-18 15:51] laeo commented on #1551
Details in Longhorn UI of create volume is

[code]

State is in loading, and the `Operation` dropdown list only shows `Backups` and `Delete`, doesn't shows `Detach` button.

[2020-07-18 19:21] yasker commented on #1601
Weird, Kubernetes reports only 11 pods are ready, not 12. So one of the `engine-image-ei-eee5f438` pod is not right. But as you see, all 12 of them are indeed in the running state.

Can you check `kubectl -n longhorn-system get daemonset engine-image-ei-eee5f438 -o yaml`?

[2020-07-18 19:24] yasker commented on #1551
@laeo can you check if it failed to schedule? Or can you attach the volume? The log in the `longhorn-manager-xxx` pods should be also helpful to figure out what's the reason. You can search for `pvc-0e50a9f3-a2e3-4d38-ba42-192adeaa40d8` in the log.

[2020-07-19 01:24] hillbun commented on #1601
[code]

[2020-07-19 04:09] laeo commented on #1551
@yasker it's so many logs look like

[code]

and i can't find any useful information from it.

i think there should have a fix to show these logs in Longhorn UI, and don't write to std output, so we can find useful info quickly.

i'll try to reproduce this problem and catch those logs for you.

[2020-07-19 04:31] laeo commented on #1551
I don'k know what happened, but after i remove `recurringJobs` from StorageClass and recreate it, then redeploy my service, all seems working normally. The PVC a created and bound, and the volume in Longhorn UI is in healthy state.

[2020-07-19 21:34] excieve commented on #306
Just had the same issue as @fa-at-pulsit after rolling k8s nodes in AWS auto-scaling group (one by one, first creating a new node, then cordoning and draining old node, then terminating the EC2 instance). A single volume (out of 24) ended up "attached" to a non-existing node. This caused a `StatefulSet` pod to get stuck. Manually detaching helped, but it looks like a bug to me.

[2020-07-19 23:21] khushboo-rancher opened #1609 "[BUG]Test: Tests related to rebuild replica need not check the real time rebuild status"
**Describe the bug**
Below tests fail due to rebuilding status validation as for small volume, it is hard to validate run time status as ```in progress```. Due to which below tests fail intermittently.
1. test_volume_reattach_after_engine_sigkill
2. test_salvage_auto_crash_replicas_long_wait
3. test_rebuild_with_restoration

**Possible Fix**
Instead of checking run time rebuild status, it is bette

[2020-07-20 02:51] smallteeths commented on #1598
I use the same version of Firefox as you, But failed to reproduce. I'm confused, Why does your first row and second row display differently. I tried to modify the style and don’t know if it works. You can replace the image `wangsiye/longhorn-ui:0827dca`. If you have time, would you please check this and give a feedback. thanks @dnoland1

[2020-07-20 05:50] hillbun opened #1610 "[Question] NFS backup question"
I have config backup target :
nfs://192.168.100.72:/data/nfsdata

but there is no backup list in backup menu when backup pvc manually.

How to debug?

[2020-07-20 06:28] mikefaille commented on #1600
@yasker @PhanLe1010
Sorry here, I must deliver a cluster for my client with Longhorn. I prefer to flush current assets on baremetal and deliver a brand new Longhorn setup. I wish that my logs still give you insights for potentials issues. Problems I got could be on my side too. So, now it's hard to know. At it's hard to reproduce this bug, I close this issue. Feel free to reopen it if it's necessa

[2020-07-20 06:35] PhanLe1010 commented on #1600
Hello @mikefaille! I am so sorry for the delay. But I spent quite sometime deep dive into this problem. This is my best guess so far. Please correct me if I am wrong. Note: When I refer to code, I am referring to the support bundle which you sent us.

1. I first notice there there are 3 nodes in this cluster: `node1`, `node2`, and `node3`
2. At the time when he upgraded Longhorn, I see that all 3

[2020-07-20 07:13] mikefaille commented on #1600
@PhanLe1010 Long story short, I was upgrading the node1 with a drain. But, I could not continue my upgrade flawlessly using Kubespray. On kubespray, the recommended way to upgrade (the gracefull upgrade according the guide), is draining the node. [1]

I reported an issue with draining node with Longhorn :
https://github.com/longhorn/longhorn/issues/1577

It's because I installed longhorn v1.0.0 be

[2020-07-20 07:18] mikefaille commented on #1600
Again, I tried so mush other way to manage storage on baremetal (you may know wish ones). Longhorn is the best opensource one with CSI support. It's the simplest yet too, the doc is straightforward and it's not spread/puzzled across you sites. Keep going !

[2020-07-20 07:49] hillbun opened #1611 "[Question] How to mount longhorn pvc in initContainers?"
[code]

But no such file /data/init.txt after pod startup.

[2020-07-20 08:18] tksm opened #1612 "[BUG] Unable to attach volumes with `node.session.scan = manual`"
**Describe the bug**

When I set `node.session.scan = manual` in iscsid.conf, all pods cannot attach Longhorn volumes. The pod status sticks in ContainerCreating and the Longhorn volume state sticks in attaching/detaching loop.

The reason why I set `node.session.scan = manual` is to avoid the following issues with another CSI Driver.

- [Automatic session scanning discovers all iSCSI devices duri

[2020-07-20 08:40] hillbun commented on #1611
solved

[2020-07-20 08:40] #1611 closed

[2020-07-20 09:34] hillbun commented on #1601
@yasker

Any advise?

[2020-07-20 12:59] justinrush opened #1613 "storage provisioning broken after node failure"
* docker: 19.3.6
* k8s: 1.16.6
* rancher: 2.3.5
* deployment: on-prem baremetal (Ubuntu 18.04)

I have 9 nodes in my cluster, one died. When it died, all the existing PVs went readonly. I was able to just restart some of those pods and they started working, but one deployment was totally hosed. I tried to upgrade from 0.8 to 1.0, which worked for all but the pod on the failed host, but that didn't

[2020-07-20 16:53] khushboo-rancher commented on #1603
Validation - **Passed**

The test ```test_backup_metadata_deletion``` is passing in nightly integration test.

[2020-07-20 16:53] #1603 closed

[2020-07-20 16:54] khushboo-rancher commented on #1604
Validation - **Passed**

The test ```test_deleting_backup_volume``` is passing in nightly integration test.

[2020-07-20 16:54] #1604 closed

[2020-07-20 16:56] khushboo-rancher commented on #1605
Validation - **Passed**

```test_single_replica_restore_failure' and 'test_backup_block_deletion``` are not failing for deletion of backup reason anymore in integration test.

[2020-07-20 16:56] #1605 closed

[2020-07-20 16:57] khushboo-rancher commented on #710
Validation - **Passed**

Integration tests related to backup deletion are not failing from last few runs.

[2020-07-20 16:57] #710 closed

[2020-07-20 17:00] yasker commented on #1600
@mikefaille Normally if you disconnect a node (say, the node is down), the node should either come back soon after or removed from the cluster. The node stuck in the `NotReady` status is probably the reason for the cleanup failure of `csi-attacher`, since Kubernetes cannot delete the previous deployment successfully with a down node.

So you might able to reproduce the issue by:
1. Install Longhor

[2020-07-20 17:05] yasker commented on #1551
`cannot backup with empty backup target` means the `backuptarget` setting was unset, so Longhorn cannot make the backup. It shouldn't block the reconciliation process though... Can you check if you unset the backuptarget would trigger the issue?

[2020-07-20 17:07] yasker commented on #306
@excieve Have the workload moved to a new node? If you can show us the `longhorn-manager` log regarding the volume, it would help us to find out what happened. A support bundle would be even more helpful.

[2020-07-20 17:10] yasker commented on #1610
Check the `longhorn-manager`'s log. The most common issue is the NFS server is not v4.

[2020-07-20 17:13] yasker commented on #1601
[code]

There is 1 daemonset pod is `unavailable`. You would need to look into the daemonset pod to know why.

Or if you don't have any attached volumes, try to delete engine-image-ei-eee5f438 daemonset . It will be recreated and may solve the problem. Only do it when all the volumes are attached and workloads are stopped.

[2020-07-20 17:19] yasker commented on #1613
You don't need to delete and recreate everything.

`time="2020-07-20T12:49:38Z" level=fatal msg="Error deploying driver: failed to deploy deployment csi-attacher: failed to cleanup deployment csi-attacher: Foreground deletion of deployment csi-attacher timed out"`

It seems csi-attacher deployment cannot be deleted and updated because one of the node is down. It's similar to #1600

You can manuall

[2020-07-20 17:21] justinrush commented on #1613
The failed node is no longer in the cluster, I removed it

[2020-07-20 17:26] yasker commented on #1613
What would happen if you run `kubectl -n longhorn-system delete deployment csi-attacher` ? Would it delete the `csi-attacher` deployment?

[2020-07-20 17:58] justinrush commented on #1613
I don't see why it wouldn't, if I delete that will something else magically recreate it?

[2020-07-20 18:49] PhanLe1010 commented on #1613
The `csi-attacher` would not be magically recreated after you delete `kubectl -n longhorn-system delete deployment csi-attacher`. You can scale down the `longhorn-driver-deployer`deployment to 0. Then scale it up back to 1. The `longhorn-driver-deployer` deployment will try to recreate `csi-attacher` deployment

[2020-07-20 19:20] khushboo-rancher opened #1614 "[BUG]Test: test_ha.test_rebuild_with_restoration fails sometimes to remove replica"
**Describe the bug**
tests.test_ha.test_rebuild_with_restoration fails sometime to remove replica when volume is getting restored.
Test fails when it doesn't find ```replicaRemove``` method available. The possible reason could be the restore just finished and the volume is in detaching state or attaching state at the time.

**Nightly test result**
https://ci.longhorn.io/job/longhorn-tests/24/testR

[2020-07-20 21:55] boknowswiki opened #1615 "[BUG]Longhorn replica doesn't get rebuild when the replica files are removed/crashed"
**Describe the bug**
Longhorn replica doesn't get rebuild when the replica files are removed/crashed

**To Reproduce**
Steps to reproduce the behavior:
1. Use https://github.com/longhorn/longhorn/blob/master/examples/pod_with_pvc.yaml to create a pod and longhorn volume.
2.  login to pod to write data at /data/data, and get md5sum of the data file.
3. login to a node and delete one replica file. I

[2020-07-20 22:12] PhanLe1010 commented on #1388
Hi @ibrokethecloud ! After researching the issue, I have found 2 common methods to secure NFS:

1. by default, NFSv4 already used `AUTH_SYS` as the authentication mechanism. We do not need to do anything with Longhorn. This method relies on hostname/host_ip, the state of the UID and GIDs on the client machine. The disadvantage of this method is that it is not 100% secure. In case the DNS server is

[2020-07-20 23:49] #1483 closed

[2020-07-20 23:52] meldafrawi commented on #1410
test `test_backup_volume_list` Pass

[2020-07-20 23:52] #1410 closed

[2020-07-20 23:53] #1381 closed

[2020-07-20 23:54] meldafrawi commented on #1572
test `test_dr_volume_with_last_backup_deletion` Pass

[2020-07-20 23:54] #1572 closed

[2020-07-21 00:01] ttpcodes opened #1617 "Update chart README.md for Helm Hub"
Currently, the chart's `README.md` is currently targeted towards users who are installing Longhorn using Rancher, which doesn't make sense now that we've put the Helm chart on Helm Hub and Artifact Hub. We should update the `README.md` so it reflects installation instructions for Helm users and instead either refer to Rancher as a side note or create a separate version of `README.md` with Rancher

[2020-07-21 00:05] ttpcodes commented on #1588
## Pre-merged Checklist
* [X] Does the PR include the explanation for the fix or the feature?

* [X] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PRs are at longhorn/longhorn-tests#371 and longhorn/longhorn-tests#373.

* [X] Is the reproduce steps/test steps documented?

* [X] Which areas/issues this PR might have potential impacts on?
Areas: pm
Issues: #158

[2020-07-21 00:07] ttpcodes commented on #1588
On all merges into longhorn-tests, any changes made to the tests that would either result in a change in the generated integration test docs or a change in the manual test pages will result in a new version of the Hugo site being built, committed to `gh-pages`, and made public [here](https://longhorn.github.io/longhorn-tests).

[2020-07-21 00:50] meldafrawi commented on #1043
Chart install validation **PASSED**

[2020-07-21 01:33] virus2016 commented on #584
Yes, I am looking to only have some nodes running longhorn.

[2020-07-21 01:37] hillbun opened #1618 "[Question] what's difference between snapshot and backup?"
what's difference between snapshot and backup?

[2020-07-21 01:40] hillbun commented on #1601
@yasker

I delete engine-image-ei-eee5f438 daemonset, and issue fixed.

what do you mean by "Only do it when all the volumes are attached and workloads are stopped."

when I delete engine-image-ei-eee5f438 daemonset, I have pvc attached to pods.

[2020-07-21 01:54] shuo-wu commented on #584
Yeah. I think you can check this [post](https://github.com/longhorn/longhorn/issues/1584#event-3560432757). It explains why Longhorn will be deployed on all worker nodes by default and why it's what we expect.

[2020-07-21 03:29] hillbun commented on #1610
@yasker

`error listing backups: error listing backup volumes: Failed to execute: /var/lib/longhorn/engine-binaries/longhornio-longhorn-engine-v1.0.0/longhorn [backup ls --volume-only nfs://192.168.100.216:/data/nfsdata], output Cannot mount nfs 192.168.100.216:/data/nfsdata: Failed to execute: mount [-t nfs4 192.168.100.216:/data/nfsdata /var/lib/longhorn-backupstore-mounts/192_168_100_216/data/n

[2020-07-21 04:06] hillbun commented on #1610
nfs server side /etc/exports config error.
fixed

[2020-07-21 04:06] #1610 closed

[2020-07-21 05:52] hillbun opened #1622 "[Question] what's pvc storage unit?"
pvc storage unit is only Gi?

and minimal storage capability for pvc is 1Gi?

[2020-07-21 07:31] hillbun opened #1623 "[Question] How to get pvc storage usage alert?"
How to get pvc storage usage alert?

[2020-07-21 07:44] hillbun opened #1624 "[Question] How to config or change display rows amount in volume menu?"
How to config or change display rows amount in volume menu?

default is 10.

[2020-07-21 19:02] khushboo-rancher opened #1625 "[DOC] Update doc with the info longhorn deployments require root access"
**Describe the requirement**
The following points should be added in longhorn docs.
1. Longhorn requires root access to get deployed and run.
2. Steps to deploy Longhorn on a PSP enabled cluster.

[2020-07-21 20:51] yasker opened #1626 "task: Add a bot to post `pre-merge check list` in the issue"
Make it easy for developers to get the most updated `pre-merge check list` in the issue.

[2020-07-21 22:12] Sheldonwl commented on #1474
Hi @yasker, again apologies for missing these questions. We've just spoken on slack and have concluded that implementing the CSI snapshotter would already meet most of the requirements for this. So, for the moment there is no need to further expand the scope of the current solution.

[2020-07-22 00:19] boknowswiki commented on #1615
@yasker  and @shuo-wu ,

Proposal:
Add a new field in replica info struct `Error bool`, this will reflect any error detected by replica itself. And In replica server status function, we return the error state to the pingResponse function, which failed the ping, and then triggers the replica rebuild. This is the same way as the replica directory is missing, how we handle it right now.

One thing I

[2020-07-22 00:46] yasker commented on #1553
`It seems that the manager pod on the disconnected node is still able to update the object.`

This is probably due to some iptables setup issue when blocking the traffic. Move out from the release unless we can reproduce it again.

[2020-07-22 00:48] yasker commented on #1615
Why the error `Fail to get size of file` is triggered but the replica continues working?

[2020-07-22 00:59] boknowswiki commented on #1615
It's not `working`, it doesn't trigger rebuild, since there is no writing to the replica. If there is any writing to the replica, it will trigger rebuild automatically. And the reason for this doesn't trigger a rebuild is because we don't report the error all the way back.

[2020-07-22 02:39] joshimoo commented on #1618
@hillbun I will try to answer that, please feel free to ask for clarifications.

(System)
Longhorn uses snapshots for locally stored revisions of data (these snapshots are deltas of the prior snapshot).
Longhorn also uses Snapshots to rebuild a failed replica for example.

(User)
Backups are a complete set of data based on snapshot XYZ stored externally (s3, nfs).
Anytime you request a brand new b

[2020-07-22 02:45] joshimoo commented on #1595
@hillbun Do you have a liveness probe on this pod that checks `ls /data`?
This might have happened in the case where no liveness probe is setup and the longhorn-engine responsible for that volume crashed.
Then the mount might no longer be valid after reattachment of the longhorn volume.
In that case a (restart, recreation, scale down/scale up) of the pod should fix the issue?

Hard to diagnose wit

[2020-07-22 02:55] hillbun opened #1627 "[Question] How to set backup target to aliyun OSS?"
what's URL format? and where to put api key and secret?

[2020-07-22 02:57] joshimoo opened #1628 "[BUG] Investigate engine integration test failure - restore_with_frontend: can only restore backup from replica in mode RW, got ERR"
**Describe the bug**
We noticed engine integration test failures, during a restore operation.
The error is not dependent on the test method in question.
Potentially any restore operation in a test could trigger this.

- https://drone-publish.rancher.io/longhorn/longhorn-engine/220/1/3
- also noticed it on a dev build

**To Reproduce**
- Unknown

**Expected behavior**
A clear and concise descriptio

[2020-07-22 03:03] hillbun commented on #1595
@joshimoo

restart solved this problem.

How to get pvc attached stablely?   if pvc attached crashed, pod auto restart?

[2020-07-22 03:50] shuo-wu commented on #1628
This failure seems to be caused by a delay in [the monitor stop](https://github.com/longhorn/longhorn-engine/blob/d3e2a2d62568fcaa60c3e910b1052efe9350bc74/pkg/controller/replicator.go#L82). The monitor is stopped [after the volume recreation](https://github.com/longhorn/longhorn-engine/blob/d3e2a2d62568fcaa60c3e910b1052efe9350bc74/integration/data/test_backup.py#L333) and lead to the replica mode

[2020-07-22 04:01] shuo-wu commented on #1627
Since OSS is S3 compatible, the way to use aliyun OSS in Longhorn is almost the same as that of S3. And of course, the URL format is the same as S3. e.g.:
If the endpoint of your OSS bucket is `oss-eu-central-1.aliyuncs.com`, the region name is `oss-eu-central-1`, and your bucket name is `shuo-longhorn-eu`, the URL should be `s3://shuo-longhorn-eu@oss-eu-central-1/`.

Besides setting key, secret,

[2020-07-22 04:13] shuo-wu commented on #1618
Snapshots can store historical data for the volume. They are a part of Longhorn volumes, which means they will be deleted if the volume is gone.

Backups are the data stored in external storage like S3 or NFS. When the volume somehow is crashed/gone, you will use the backups to restore data to a new volume.

[2020-07-22 04:30] shuo-wu commented on #1622
For Longhorn volume creation (with/without PVC), the unit is Gi. And Yes, minimal storage capability for Longhorn volume is 1Gi

[2020-07-22 11:30] justinrush commented on #1613
Thanks, force deleting the pods in the various csi-* deployments seems to have unstuck them. When I deleted them, something deleted the entire deployment and re-created it and now things are working again.

Is it expected behavior that on a node failure I will need to manually and forcefully delete these pods?

[2020-07-22 13:57] janeczku commented on #1459
If Longhorn requires a privileged pod, then I think the correct approach would be for the Helm chart to ship the pod security and RBAC policies granting the expected privileges . This will save users from failed installs or having to figure out on their own how to make LH work in production-grade clusters with CIS hardened pod security policies. See https://github.com/longhorn/longhorn/issues/608

[2020-07-22 14:02] janeczku commented on #608
Judging by the official Helm repo, it appears standard practice to include a custom PSP  when an application requires privileged pods: https://github.com/helm/charts/search?q=podsecuritypolicy&unscoped_q=podsecuritypolicy

[2020-07-22 16:22] joshimoo commented on #1595
@hillbun In the case of a liveness probe failure, the pod will be restarted. You you add a liveness probe to the workload pod, that will evaluate whether the volume is available and working. You can find an example in the documentation [here](https://longhorn.io/docs/1.0.0/high-availability/recover-volume/#automatically-remount-volumes-and-restart-workloads)

[2020-07-22 16:24] yasker commented on #1495
With https://github.com/longhorn/longhorn/issues/1273 fixed, we should be able to support SELinux in v1.0.1.

[2020-07-22 16:29] yasker commented on #1613
@justinrush it's not. We're still trying to reproduce the issue to understand what happened exactly.

[2020-07-22 17:09] yasker commented on #1495
In fact @janeczku has tested #1273 and it doesn't work for him. @ttpcodes can you take a look?

[2020-07-22 17:34] virus2016 commented on #1286
I have this issue, not great if you are using autoscaling from a cloud provider and the nodes are being removed. The nodes are unable to be deleted automatically.

[2020-07-22 18:43] yasker commented on #1286
@virus2016 you meant unable to drain the node will prevent the node being removed from Kubernetes? That's weird. If you are running a pod (without any controller) on the node, the same thing will happen. You need to use `drain --force`. Not sure why the node removal can be blocked by unable to drain the node in Kubernetes.

[2020-07-22 20:16] boknowswiki commented on #1615
## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at

* [ ] Is the reproduce steps/test steps documented?

* [ ] ~~Which areas/issues this PR might have potential impacts on?
Area
Issues~~

* ~~[ ] **If the fix introduces the code for backward compatibility*

[2020-07-22 20:44] khushboo-rancher commented on #1495
Longhorn v1.0.1 successfully gets deployed on a k3s cluster on **RHEL 7.8 with SELinux**.

The node details.
[code]
Note:
The problem can be reproduced with longhorn- v1.0.0

[2020-07-22 21:47] mattmattox opened #1630 "[BUG] volume stuck in Attaching if backup is defined in storageclass"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create storageclass with backup schedule
[code]
2. Deploy PVC https://raw.githubusercontent.com/longhorn/longhorn/master/examples/simple_pvc.yaml (NOTE: Change the storageclass from longhorn to longhorn-backup)
3. Deploy Pod https://raw.githubusercontent.com/longhorn/longh

[2020-07-22 21:55] yasker commented on #1630
Saw this in the longhorn manager log:
[code]

So it's likely due to the server since AWS SDK reports: `dial tcp: lookup s3.us-east-1.wasabisys.com on 10.43.0.10:53: server misbehaving`

[2020-07-22 22:27] yasker commented on #1630
One of the replica instance manager (`instance-manager-r-4e634a1b`) has hit https://github.com/longhorn/longhorn/issues/1599 . Delete the instance manager to let it recreate workaround the problem.

[2020-07-22 23:50] yasker commented on #1516
@yujunz Just rechecked the log again

It seems the iscsid is not configured correctly on the host. Especially the initiator name is not set.

[2020-07-22 23:51] excieve opened #1631 "[BUG] Volume stuck bound after draining and terminating workload nodes"
**Describe the bug**
After rolling k8s nodes with `StatefulSet` workloads in AWS auto-scaling group — first creating new nodes, then cordoning and draining old nodes, then one by one terminating the EC2 instance. Some (out of many) volumes ended up "attached" to a non-existing node. This caused a `StatefulSet` pod to get stuck after being scheduled to a new node. The "Down" node couldn't be delete

[2020-07-22 23:52] excieve commented on #306
@yasker Yes, the workload has been moved to a new node. Opened a new bug here: https://github.com/longhorn/longhorn/issues/1631

[2020-07-23 00:19] yasker commented on #677
This might be more than event watch. We can use GRPC to replace the binary call totally for the communication between engine and manager. Needs to be careful on upgrade though.

[2020-07-23 01:34] yujunz commented on #1516
Thanks for the diagnose. We do have two different types of nodes in the clusters. Let me recheck to see if it is related to iscsid configuration.

[2020-07-23 01:40] hillbun commented on #1595
@joshimoo

How to setup multiple livenessProbe if I mount 2 pvc with a pod?

[2020-07-23 01:44] shuo-wu commented on #1623
Right now Longhorn has no alert/notification mechanism for storage usage.
@yasker Are there any plans for the feature?

[2020-07-23 01:46] hillbun commented on #1623
any general solutions on k8s about pvc storage usage alert?

[2020-07-23 02:04] shuo-wu commented on #1623
It seems Kubernetes has no alert for PVC/PV. Actually the space usage status relies on the implementation of the underlying storage vendor, Longhorn for example. And Kubernetes has no idea about it.

But Kubernetes does monitor the disk usage of each node and reflects the info in `node.Status.Conditions`:
https://kubernetes.io/docs/concepts/architecture/nodes/#condition

[2020-07-23 02:14] hillbun commented on #1623
I suggest longhorn add feather about this.

like exporter.  I can use prometheus and send to alertmanager.

[2020-07-23 04:25] shuo-wu commented on #1599
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [x] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at
https://github.com/longhorn/longhorn-instance-manager/pull/79
https://github.com/longhorn/longhorn-engine/pull/519

* [x] Is the reproduce steps/test steps documented?

* [x] Which areas/issues this PR mig

[2020-07-23 09:19] gianmarcomurru opened #1632 "Longhorn can't do volume attach if he uses more than one replication."
I created two storage classes for longhorns, one uses 1 replica, the other 2:
[code]

[code]

I tried to create two tests, one using the storageclass longhorn1 and the other longhorn2:

[code]

[code]

When I create the resources, the `test2-pv-pod` pod remains in `ContainerCreating` state with error:
[code]

The other `test-pv-pod` using the `longhorn1` storage class with a replica is running:
[c

[2020-07-23 11:49] aandrushchenko opened #1633 "[Question] run longhorn workloads on dedicated nodes only (taints, tolerations, affinity, nodeSelector)"
hi!

we run longhorn installed via Rancher catalog on our cluster. We would like to run longhorn workloads (instance manager, engines etc) only on dedicated nodes, not on every node. The reason for this would be that we might be adding more nodes to the cluster, then remove that nodes or run experiments over that nodes that would result into longhorn failures (engine would stuck in deploying phase

[2020-07-23 17:24] yasker commented on #1633
Longhorn needs to be running on the node to provide storage on the node, so normally it's not recommended to limit the deployment for a subset of the node.

However, can you elaborate your issue with `engine would be stuck in deploying phase`? Longhorn is designed to scale well with the cluster, so if there is a problem with that part, we want to understand why it happened and potentially fix it.

[2020-07-23 17:27] yasker commented on #1632
Can you check the manager's log or the Longhorn UI? The other node might have certain conditions result in the scheduling failure. Check https://longhorn.io/docs/1.0.1/volumes-and-nodes/scheduling/ for potentially scheduling failure cases.

[2020-07-23 17:28] yasker commented on #1599
@shuo-wu I don't think we've decided to disable live upgrade?

[2020-07-23 17:32] yasker commented on #1623
The alert/metrics feature is tracking at #1180 and #928 . Can you add your requirement to them as well so we can easily track them?

[2020-07-23 17:59] yasker commented on #1631
@khushboo-rancher Can you help to reproduce the issue? Not sure if autoscaling group is needed. Probably give it a try without autoscaling group first.

@excieve Can you generate a support bundle and send it to `longhorn-support-bundle@rancher.com`? Just in case if we cannot reproduce the issue.

[2020-07-23 18:00] yasker commented on #1519
Done.

[2020-07-23 18:00] #1519 closed

[2020-07-23 18:55] jcambronero commented on #1061
hi @yasker, what is the status of this feature please?

[2020-07-23 19:00] yasker commented on #1061
@jcambronero We haven't scheduled this feature yet. What's your use case? Currently, we're recommending using LVM to aggregate disks on one node to help.

[2020-07-23 19:01] jcambronero commented on #1061
thank you @yasker , we would like to have the ability to create volumes that are larger that the maximum capacity available on a single node. We're hoping sharding across different nodes would allow us to accomplish this.

[2020-07-23 19:06] yasker commented on #1061
In that case, yes you will need this feature. We are in the development cycle of v1.1.0 release, targeting October. Once we're done with v1.1.0, we can take a look and see what we can do about this feature.

[2020-07-23 20:57] dnoland1 commented on #1598
This is a production environment, so a little hesitant to deploy a test image. Anything I can do to further troubleshoot? Do these captures help at all:
<img width="1404" alt="image" src="https://user-images.githubusercontent.com/468462/88337759-1848e500-ccec-11ea-9993-a651246434f7.png">
<img width="1406" alt="image" src="https://user-images.githubusercontent.com/468462/88337833-39113a80-ccec-11ea

[2020-07-23 21:01] dnoland1 commented on #1598
I think it's related to the PVC string. If I paste the same PVC name `pvc-08921768-6e31-4f87-94c9-9508441aa0fd` into the second row, it has the same issue:
<img width="1423" alt="image" src="https://user-images.githubusercontent.com/468462/88338187-d9675f00-ccec-11ea-9ce7-8240ddba4ebc.png">

[2020-07-23 23:04] khushboo-rancher commented on #1631
Without the autoscaling group, I was not able to repro the issue. After draining of node, the pod moves to another node and volume successfully attached to the new node.
I'll try to repro this with autoscaling and update.

[2020-07-23 23:35] yasker commented on #1045
Thought more about this:
1. The setting `Ensure One Replica co-located With Engine` should be exposed as a global option.
    1. We don't need to allow per volume configuration for now because the option will be enabled only when the network condition is bad.
2. There is still a question if we can delay the scheduling of replica, or does it make sense to do that.
3. The basic idea is, if a volume

[2020-07-24 01:24] khushboo-rancher commented on #1631
@yasker With the autoscaling group also, I couldn't reproduce the reported issue. I followed the below steps to reproduce the issue.

Steps:
1. Create a cluster (1 master, 3 workers) with EKS auto-scaling group enabled.
1. Deploy multiple numbers of `StatefulSet` with volume attached.
2. Update the ASG launch template with a new template.
3. Roll the group with https://github.com/hellofresh/eks-ro

[2020-07-24 02:16] smallteeths commented on #1598
Thank you for your reply @dnoland1 . This error will be fixed in the next version.

[2020-07-24 07:19] gianmarcomurru commented on #1632
Hi @yasker, thanks a lot for your help...

Here's my manager:
[code]
From the UI:

<img width="1427" alt="Schermata 2020-07-24 alle 09 16 33" src="https://user-images.githubusercontent.com/48201852/88368594-afff0f80-cd8e-11ea-9480-971899a86348.png">
<img width="1366" alt="Schermata 2020-07-24 alle 09 16 46" src="https://user-images.githubusercontent.com/48201852/88368608-b4c3c380-cd8e-11ea-9e72-a9

[2020-07-24 07:42] aandrushchenko commented on #1633
so the scenario was (not exact, but i will be running more soon, and likely will have better steps to reproduce):
1. have longhorn installed via Rancher. everything is stable
2. add node(s) to the cluster - longhorn is getting installed
3. taint nodes in order to isolate them for heavy jobs (do not require longhorn, but it's already installed)
4. nodes are getting randomly rebooted/killed due to r

[2020-07-24 08:09] gianmarcomurru commented on #1632
@yasker Thanks a lot, I figured out what the problem was!

These settings were disabled, once activated I had no more issues!
<img width="1135" alt="Schermata 2020-07-24 alle 10 07 26" src="https://user-images.githubusercontent.com/48201852/88372177-af1dac00-cd95-11ea-82c9-f327e2c90470.png">

[2020-07-24 08:09] #1632 closed

[2020-07-24 08:15] PhanLe1010 commented on #1612
## Pre-merged Checklist
* [x] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at https://github.com/longhorn/go-iscsi-helper/pull/34 , manager_comming, engine_comming

* [ ] Is the reproduce steps/test steps documented?

* [x] Which areas/issues this PR might have potential impacts on?

[2020-07-24 08:20] PhanLe1010 commented on #1612
*Reproduce:*

1. Setup a cluster with OS Ubuntu 18.04.4 LTS. SSH into each worker node in the cluster. Update the open-iscsi to the latest version (because ):
[code]
1. Set `node.session.scan = manual` in `/etc/iscsi/iscsid.conf`
2. Restart iscsid `sudo systemctl restart iscsid`
3. Create Longhorn PVC and Pod
4. Pod sticks in ContainerCreating

[2020-07-24 08:33] PhanLe1010 commented on #1612
@tksm Thank you for reporting. May I ask how you setup Longhorn along with other CSI Drivers? I would like to understand more about your setup to see if there are any other potential problems.

[2020-07-24 10:30] excieve commented on #1631
@khushboo-rancher The setup we have looks like this:
 - EKS cluster 1.17
 - 4 custom worker groups each with its own ASG + `cluster-autoscaler` operating on (ii) and (iii):
   1. Workloads with EBS-backed storage
   2. Workloads with no storage
   3. Workloads with Longhorn-backed storage
   4. Longhorn storage

The issue happens for us when rolling (iii) as described in the ticket. The workloads

[2020-07-24 14:00] tksm commented on #1612
Thank you so much for the quick fix! I'll check the fix with custom build after this PR is merged.

My setup is based on [deploy/longhorn.yaml](https://github.com/longhorn/longhorn/blob/master/deploy/longhorn.yaml) with some modifications (PSP and StorageClass option). The cluster also runs [NetApp/trident](https://github.com/NetApp/trident) v20.04.0 which requires `node.session.scan = manual` to

[2020-07-24 14:53] joshimoo commented on #1595
@hillbun kubernetes allows for 1 liveness probe per container, a pod can have multiple containers.
Now in the case where you have a single pod = single container with multiple pvc's mounted.
The most simplest liveness probe example could be implemented like this:
`ls /mnt/vol1 && ls /mnt/vol2`

[Here](https://stackoverflow.com/questions/49172671/multiple-liveness-probes-in-kuberenetes) is a thread

[2020-07-24 15:31] Crystal-w commented on #1549
I have the same problem

[code]
kubectl logs -f   longhorn-manager-gsqgj -n longhorn-system
time="2020-07-24T10:00:36Z" level=info msg="Start overwriting built-in settings with customized values"
time="2020-07-24T10:00:36Z" level=info msg="cannot list the content of the src directory /var/lib/rancher/longhorn/engine-binaries for the copy, will do nothing: Failed to execute: nsenter [--mount=/host/

[2020-07-24 17:41] excieve commented on #1631
When trying to reproduce it I ended up with two stuck volumes, but this time in a different way:

[code]

The volume in question was in a "Detached" state, despite a rescheduled pod waiting for it. Attaching it manually to the pod's node using Longhorn UI resolved this.

Another volume had a similar issue, but deleting the pod made it being able to attach automatically on a recreated pod (this did

[2020-07-24 17:48] PhanLe1010 commented on #1612
@tksm Thank you for the info

[2020-07-24 22:17] yasker commented on #1105
We also want to implement the automatically recovery for the stateful set.

[2020-07-24 22:27] excieve commented on #1631
Right, I've experimented some more and it indeed looks like the original issue is related to PDBs. My `StatefulSet`s have 2 pods each and PDBs for them allow a maximum of 1 pod to be disrupted at a time. This means that when draining, k8s will keep some pods and their nodes alive until one of two pods in each set is successfully running on new nodes to prevent service outage. With this workload it

[2020-07-25 14:38] mseewooth opened #1635 "Unable to attach or mount volumes: unmounted volumes=[xxxx], unattached volumes=[xxxx]: timed out waiting for the condition"
Hello,

i have deployed a k8s cluster across 3 vps . Below are the specs :

 Kubernete version is v1.18.6
MetallB version : v0.9.3
Flannel network : https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
longhorn : v1.0.1

Centos 7
FS : ext4

[code]

[code]

[code]

Kubectl describe sc

[code]

kubectl describe  pv

[code]

 kubectl describe  pvc -n blue-prod

[code

[2020-07-25 16:54] mseewooth commented on #1635
Hello,

Some more traces on message log :

[code]

[2020-07-25 17:29] joshimoo commented on #1635
@mseewooth can you check the longhorn dashboard to see if you have schedulable storage/nodes?
Are you able to manually create a volume via the longhorn ui?
If all your nodes are non schedulable (nodes in the longhorn dashboard), then you most likely have taints on the nodes or you have hard anti affinity enabled but not enough nodes for the amount of requested replicas.

[2020-07-25 17:46] mseewooth commented on #1635
@joshimoo  on the dashboard , the manually created as well as the volume created on dashboard says

`The volume cannot be scheduled `

When i go the the volume details it tells me :

[code]

When i go to Node, it gives me the workers nodes status  `Schedulable `

When i select both noded and Edit Node , Node Scheduling is set on  Disable .  The enable option is greyed .  I cannot enable it.

How t

[2020-07-25 18:15] joshimoo commented on #1635
@mseewooth In your case the issue is most likely that you have hard anti affinity enabled (which means each replica needs to be on a different node) but since you only have 2 nodes but are requesting 3 replicas the volume cannot be scheduled.

Check your longhorn settings and [enable soft anti affinity](https://longhorn.io/docs/1.0.1/references/settings/#replica-node-level-soft-anti-affinity)

Aft

[2020-07-25 18:34] mseewooth commented on #1635
@joshimoo thanks a bunch man .  i adjusted the sc to 2 replica . my deployment have 2 replicas , its now that i get another error :

On dashboard , i do not have the error of

[code]
When i do  :

kubectl get pod -n blue-prod :

[code]

Why its not able to mount the volume on the second container ?

[2020-07-26 03:15] mseewooth commented on #1635
Yes its  normal, because longhorn supports ReadWriteOnce

[2020-07-27 01:56] shuo-wu commented on #1549
Does the longhorn manager pods get stuck there? What're the logs of other longhorn manager pods?

[2020-07-27 02:56] shuo-wu commented on #1612
After the PRs are merged, does Longhorn work fine if `open-iscsi` on some worker nodes is not up-to-date?

[2020-07-27 03:21] shuo-wu commented on #1633
1. Using taints with effect `NoExecute` will evict the existing Longhorn workloads on the node immediately. Then rebooting/shutting down the tainted nodes won't affect Longhorn.
2. Rebooting/Killing the nodes on which the Longhorn workloads are running does lead to the longhorn engine image becoming 'deploying' status. In this case, waiting for the longhorn workloads back is enough and you don' ne

[2020-07-27 05:30] Crystal-w commented on #1549
[code]
[root@k3s-master ~]# kubectl logs -f longhorn-manager-gsqgj -nlonghorn-system
time="2020-07-24T10:00:36Z" level=info msg="Start overwriting built-in settings with customized values"
time="2020-07-24T10:00:36Z" level=info msg="cannot list the content of the src directory /var/lib/rancher/longhorn/engine-binaries for the copy, will do nothing: Failed to execute: nsenter [--mount=/host/proc/14

[2020-07-27 07:48] mrcdb opened #1636 "[Question] Volume expansion on Rancher workload"
Hi!

I am having some issues at expanding volumes that are automatically created on Longhorn via Rancher (e.g. when I deploy an app from the catalogue or create a Deployment).

From the docs, I read that the required steps are:

1. detach the volume from Longhorn UI
2. expand the PVC/PV by  updating the YAML spec and applying it via Kubectl (I don't see how to expand the PVC on Rancher UI)
3. rede

[2020-07-27 10:54] rptl commented on #1635
Just faced the same issue in a two node cluster. It was trying to schedule a third replica in a non-existing node. Enabling node anti affinity did the trick, it has scheduled 2 replicas in the first node.

Replica Node Level Soft Anti-Affinity: x

[2020-07-27 11:01] mseewooth commented on #1635
Hi, thank for the info, i did it already and its resolved now.

[2020-07-27 11:01] #1635 closed

[2020-07-27 16:05] ttpcodes commented on #1626
There is now a folder named `github-bot/` in the longhorn/bot repo that contains the code necessary to deploy this bot. This bot listens for incoming webhook events from ZenHub that indicate that the issue has been moved into the `Review` pipeline, and will post the pre-merged checklist if it doesn't already exist.

[2020-07-27 16:29] ttpcodes commented on #1457
The `rpc.statd` zombies that result from NFSv3 fallback should no longer appear, as longhorn/backupstore#44 and longhorn/backupstore#47 should prevent usage of NFSv3 backup stores.

The zombies being created on startup of the `longhorn-engine` should no longer appear as a result of longhorn/nsfilelock#1. This change should be introduced into `longhorn-engine` as a result of `vendor/` being updated

[2020-07-27 18:12] yasker commented on #542
It's a part of https://github.com/longhorn/longhorn/issues/928 .

[2020-07-27 18:12] yasker commented on #925
It's a part of #928 .

[2020-07-27 18:14] yasker commented on #368
It's a part of #1180

[2020-07-27 18:21] PhanLe1010 commented on #1612
I tested and it was fine. Still need QA to verify.

[2020-07-27 20:04] yasker opened #1637 "Performance and scalability report"
We need performance and scalability report

[2020-07-27 20:05] yasker commented on #1637
Related to https://github.com/longhorn/longhorn/issues/1463

[2020-07-27 20:37] joshimoo commented on #1637
The goal is to start work on this once we have reached the feature freeze for 1.1.0.

- We want to be able to provide guidance for the system requirements for X volumes / Y nodes
- We want to test system interaction with a 100 nodes - 1000 volumes cluster and make sure that we at worst scale linearly with the amount of volumes/nodes.

We should look into adding prometheus metrics to the different

[2020-07-27 21:40] khushboo-rancher opened #1638 "[BUG] Scaling down the replica count should delete the extra unscheduled replica"
**Describe the bug**
The unscheduled replica should be deleted if the user scales down the replica count and there are more replicas present than the replica count. No healthy or failed replicas should get deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume with 3 replicas in a 3 worker node set up. and attach it to a node.
2. Go to the volume detail page and increase th

[2020-07-27 22:55] joshimoo commented on #1463
**Context:**
We noticed that once we reached around 200 volumes, attach/detach operations started taking longer and longer.
Related: longhorn/longhorn#1058

This issue was created to see if we can identify the root cause of this slow down and fix it.
I was able to identify the issue and verify that the slow down wasn't caused by the longhorn components.
Instead this failure mode would happen to al

[2020-07-28 04:24] shuo-wu commented on #1631
Here may be the root cause. Since some logs are missed in the support bundle, I cannot guarantee the analysis is accurate:
1. During the node draining, the related engine manager pod is evicted hence the volume on the node gets crashed unexpectedly. Then Longhorn will automatically detach and reattach the volume as the auto-recovery mechanism. (Cannot find any log here.)
2. During the auto detachm

[2020-07-28 13:35] tksm commented on #1612
@PhanLe1010 I confirmed that the issue is fixed with the custom longhorn-engine and longhorn-manager images built on v1.0.1 + cherry-pick. Thanks a lot for the fix!

[2020-07-28 16:39] yasker commented on #1632
It seems the other node doesn’t have the capacity for the volume so the replica is failed to schedule on the other node. That's why soft anti-affinity can help.

If you want to use the other node to store volume data as well, you might want to check what's the reason with failing to schedule to the other node.

[2020-07-28 22:37] yasker commented on #1631
@shuo-wu Nice find! Can we detach the volume regardless of if the volume is detaching or not? We can check if it's detaching or not later, but I am not sure if it's really needed if the detach becomes idempotent.

[2020-07-28 22:39] yasker commented on #1463
@joshimoo Good analysis! We will share more information about the scalability of Longhorn in the upcoming Performance and Scalability report. #1637

[2020-07-28 22:41] yasker commented on #1626
Done.

[2020-07-28 22:41] #1626 closed

[2020-07-28 23:03] yasker commented on #1302
@klauskobald Sorry missed your reply. What's the reason for you wanting to get rid of NFS? Stability or something else?

[2020-07-28 23:33] yasker commented on #1636
@mrcdb In fact you need to scale down the workload to detach the volume, instead of detaching the volume from Longhorn UI. Can you point out the place that said the user need to detach the volume from Longhorn UI? We need to fix that.

[2020-07-29 00:23] yasker commented on #1479
Done. We Will track issues separately.

[2020-07-29 00:24] yasker opened #1639 "task: Report failure test count etc in the nightly test report to the slack"
We want to know how many test cases failed if the test is reported as `unstable`.

[2020-07-29 00:36] khushboo-rancher commented on #1612
Verified on Master - 07-28-2020

Validation - **Passed**

Followed the steps from https://github.com/longhorn/longhorn/issues/1612#issuecomment-663405053
Verified Longhorn deployment and volume creation and attaching to pod.

Tested below scenarios:
1.  With config ```node.session.scan = manual```
2. Without config ``node.session.scan```
3. With config ```node.session.scan = auto```
4. With dummy

[2020-07-29 00:36] #1612 closed

[2020-07-29 01:09] #1043 closed

[2020-07-29 02:39] shuo-wu commented on #1631
Do you mean returning nil for the detach request if the volume is already detaching? I don't think that is the key point. Maybe we can cancel the following reattachment in this case if Longhorn receives detach requests from users/Kubernetes.

[2020-07-29 06:10] xfrogcn opened #1640 "[BUG]An error occurred while upgrading Longhorn from 1.0.0 to 1.0.1 through Rancher UI"
**Describe the bug**
An error occurred while upgrading Longhorn from 1.0.0 to 1.0.1 through Rancher UI，the error message is：
Failed to install app longhorn-system. Error: UPGRADE FAILED: the server has asked for the client to provide credentials (get configmaps)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Rancher Apps Page
2. Click "longhorn-system" app menu，select “upgrade”，enter

[2020-07-29 08:16] xiaoluhong opened #1641 "[BUG] Longhorn Air Gap installation from private repo"
**Chart_version**: v1.0.1

**Describe the bug**

Based on the current Charts, Although the Private Registry URL was set in the Rancher Apps UI before deploying Longhorn, but the images were still pulled from the dockerhub during the deployment action.

![image](https://user-images.githubusercontent.com/20707603/88774234-c1dd1a00-d1b5-11ea-84f6-718e9e2bd62d.png)

![image](https://user-images.github

[2020-07-29 08:54] xiaoluhong opened #1642 "[BUG] CSI related plugins does not automatically update the image after the chart is updated"
## csi-attacher, csi-provisioner, csi-resizer, longhorn-csi-plugin workload

**To Reproduce**
1. Updating **Longhorn-Driver-Deployer** workload adds the environment variables,
![image](https://user-images.githubusercontent.com/20707603/88776880-2483e500-d1b9-11ea-87ac-5a61a77bf64f.png)

2. The **csi-attacher, csi-provisioner, csi-resizer, longhorn-csi-plugin** workload is not automatically updated

[2020-07-29 11:16] mgcrea opened #1643 "[BUG] longhorn-frontend can't be used with kubectl proxy"
**Describe the bug**

When using `kubectl proxy` and trying to reach the `longhorn-frontend` service using the proxied url: http://localhost:8001/api/v1/namespaces/longhorn-system/services/http:longhorn-frontend:http/proxy/, the page does load but there is several asset loading errors and the longhorn frontend does not work.

Longhorn frontend should be able to handle not being exposed at the root

[2020-07-29 13:59] klauskobald commented on #1302
well, what I have now is 3 Nodes, each with a 40gb space. So I have to export mountpoints on each node. When the node goes down, the storage is gone. I would like to have one virtual filesystem, like a raid 5 or something. I have tried all of the promising systems out there, but cannot get any of them to "really" work. A bit frustrating - so I live now with my nfs solution and wait for better time

[2020-07-29 17:17] mgcrea opened #1645 "[Question] Can't find how to use an S3-compatible endpoint for target backup"
I'm currently trying to use a S3-compatible endpoint as my backup target but I am currently encountering the following error:

[code]

I'm using Helm to deploy, with the following related values:

[code]

Any idea what I'm doing wrong?

Thanks!

[2020-07-29 17:28] mgcrea commented on #1645
Found the solution, looks like I should use `AWS_ENDPOINTS` and `AWS_CERT` in the secret.

[2020-07-29 17:41] yasker commented on #1379
@ttpcodes We've encountered this issue again in our scalability test. Due to the delay of leader election and potentially conflict when updating CRDs, the time took to stand x nodes is more than x * 30 seconds. We need to find a way to fix this, otherwise, it will severely impact Longhorn installation experience on large clusters.

[2020-07-29 17:49] joshimoo commented on #1379
More information below on what I encountered and how I worked around it.
30 minutes, I just nuked one of the manager pods to see if I restart would fix it.
But the restart did not fix it.

**On the old pods (30 minutes still stuck)**
[code]

**On the newly restarted pod:**
[code]

**On the leader side we get this:**
[code]

**Workaround:**
around 80 longhorn-manager pods where waiting for the lead

[2020-07-29 17:54] yasker commented on #1379
So if we can solve the conflict gracefully (or crash it), then the installation process won't be blocked.

[2020-07-29 17:54] joshimoo commented on #1379
So the above upgrade failure can keep happening, which gets the leader stuck again.
@PhanLe1010 we should add retry logic for the updates in the case of a conflict.
[code]

[2020-07-29 17:56] yasker commented on #1379
@PhanLe1010 We should file a separate issue on failing to upgrade due to conflict.

[2020-07-29 18:00] yasker commented on #1379
The problem is we don't have retry mechanism for this part:

https://github.com/longhorn/longhorn-manager/blob/master/upgrade/upgrade.go#L96

[2020-07-29 18:06] joshimoo commented on #1637
install / upgrade scalability issue for longhorn-manager: longhorn/longhorn#1379

[2020-07-29 18:17] yasker commented on #1302
In fact, Longhorn can help. In Longhorn v1.0.1, we have an experimental NFS server on top of Longhorn block devices. If the node went down, the Kubernetes will migrate the pod to another node and bring up the NFS server again. There will be a downtime about 60 - 90 seconds, but it will recover automatically. We're planning to have a full HA RWX setup for v1.1.0.

See https://longhorn.io/docs/1.0.1

[2020-07-29 18:38] PhanLe1010 opened #1646 "Failing to upgrade due to conflict"
**Describe the bug**
On a large cluster, the delay of leader election and conflicts when updating CRDs blocked Longhorn upgrading

**To Reproduce**
New installation:
1. create a large cluster of many nodes (about 30 nodes)
1. Install Longhorn to v1.0.1
1. The upgrading is blocked after about 17-20 managers are up.

Upgrading from old version:
1. create a large cluster of many nodes (about 30 nodes

[2020-07-29 18:43] PhanLe1010 commented on #1379
Thanks @yasker and @joshimoo . Created the issue.

[2020-07-29 19:40] yasker commented on #1646
It's probably blocked instead of being very slow.

[2020-07-29 19:42] #1430 closed

[2020-07-29 19:47] yasker commented on #1641
What's the difference between this one and #1642 ?

[2020-07-29 19:48] yasker commented on #1642
The old engine image is fine since once you stop using it, it will be cleaned up automatically.

The CSI components should be updated automatically though.

[2020-07-29 20:15] PhanLe1010 commented on #1641
@xiaoluhong In Longhorn installation using Rancher UI, if user wants to use private registry, setting up a private registry (URL, user, password) is the first step out of three steps. As you has noticed, just setting up a private registry does not make Longhorn pull images from the private registry. There are 2 other steps here https://longhorn.io/docs/1.0.1/advanced-resources/deploy/airgap/#using

[2020-07-29 21:50] yasker commented on #1640
@xfrogcn This is the most common upgrade path. Is there any change regarding the owner of the project? It seems related to the permission of Kubernetes. E.g. https://github.com/rancher/rancher/issues/18787

[2020-07-30 02:32] xiaoluhong commented on #1641
Hi All,

@yasker  The expected effect of adding environment variables in updated Longhorn-Driver-Deployer workload should automatically update the image of the csi-attacher, csi-provisioner, csi-resizer, longhorn-csi-plugin workload, but the actual effect is not updated. A look at the Longhorn-Driver-Deployer Workload log seems to indicate that the Workload already exists and the update is skipped

[2020-07-30 04:04] xiaoluhong commented on #1642
@yasker

Hi ,

This is a completely new environment that I used for testing, and no pod use PV.
I tried to delete the engine-Image-ei-3bd16bdf pod, but the automatically created pod still use the old engine Image.

[2020-07-30 07:44] PhanLe1010 commented on #1641
@xiaoluhong Yeah, you have a great point. Thank you!

Should we change the logic @yasker ?

[2020-07-30 08:16] PhanLe1010 commented on #1642
@xiaoluhong
We cannot manually delete the `engine-Image-ei-3bd16bdf` daemonset. The reason is because Longhorn `EngineImageController` is monitoring all `engineimages` CRDs. The `EngineImageController` will create a new `engine-Image-ei-3bd16bdf` daemonset with the same old spec when it detect that engine-Image-ei-3bd16bdf` daemonset is downed but the corresponding `engineimages` CRD still exists.

[2020-07-30 08:31] PhanLe1010 commented on #1642
We still need to fix this though

[2020-07-30 08:51] cwt commented on #755
@yasker I just upgrade longhorn from 0.8.0 to 1.0.0 on the Rancher UI and stuck at state `installing` just like @TemaSM

I did upgrade on Rancher 2.2.12, now I already upgrade to Rancher 2.4.5 (2.2.12 -> 2.3.0 -> 2.3.8 -> 2.4.5), the longhorn state is still stuck at `installing`. While it still functioning which all of my volumes are working fine, I can't upgrade longhorn to 1.0.1.

[2020-07-30 08:58] xiaoluhong commented on #1642
Hi @PhanLe1010 ,

I deleted the engine-Image-ei-3bd16bdf  pod through rancher UI, and it will automatically create the  after deleting it.
I don't see the definition of image in the two crds（ engineimages.longhorn.io and engineimages.longhorn.rancher.io), So I don't know what file to change.

[2020-07-30 10:04] smallteeths commented on #1643
The kubectl proxy:
-client to proxy uses HTTP
-proxy to apiserver uses HTTPS

The reason I found the problem is that kubectl proxy uses http to proxy to apiserver. When apiserver requests longhorn frontend, because apiserver uses https, it will change the static resource address path of longhron frontend to https, which is caused static resource loading failure.The solution is to switch the path o

[2020-07-30 16:17] yasker commented on #1646
Need to backport to v1.0.2

[2020-07-30 16:18] yasker opened #1647 "backport: Failing to upgrade due to conflict"
https://github.com/longhorn/longhorn/issues/1646

Need to backport to v1.0.2

[2020-07-30 16:27] yasker commented on #755
@cwt @TemaSM is there any more specific failure information you can share? For example, @cwt, since you mentioned the Longhorn, stuck at state `installing`, can you check the workload page to see if any workload isn't in healthy state?

[2020-07-30 16:44] yasker commented on #1641
@xiaoluhong It makes sense, thanks for the explanation. I am going to assign this issue to you too since you already have a PR ready for it.

[2020-07-30 16:47] yasker commented on #1642
@xiaoluhong It's because `engine-Image-ei-3bd16bdf` is the engine image provided by the Docker Hub. The Docker Hub URL is encoded into it already. You need to delete it in the `Setting -> Engine Images` once there is no volume using it.

[2020-07-31 00:57] joshimoo commented on #1637
# scale-test results
[scale-test-results.zip](https://github.com/longhorn/longhorn/files/5004451/scale-test-results.zip)

# logs + support bundle

[2020-07-31 02:03] xiaoluhong commented on #1642
Hi @yasker ,

Since this is a brand new environment, there is no volume in use. In the longhorn UI,  I looked at the **setting-> Engine Images**, which are already the new images version. So I am a little confused why **engine-Image-ei-3bd16bdf** does not automatically update

[2020-07-31 02:10] PhanLe1010 commented on #1642
Hi @xiaoluhong!
I am not quite understand this

About this

Yes, it will not go away. Try this instead:
[code]

[2020-07-31 02:14] xiaoluhong commented on #1642
Hi @PhanLe1010

I see. Thank you.

[2020-07-31 02:36] xiaoluhong commented on #1641
Hi @yasker ,

I submitted the new PR https://github.com/longhorn/longhorn/pull/1650.
Thank you.

[2020-07-31 02:47] PhanLe1010 commented on #1646
After the fix, it takes ~16 mins for 30-node cluster. Still ~ 30s per node. It seems like ` the delay of leader election` still persists.

[2020-07-31 03:26] xiaoluhong opened #1651 "[BUG] The connection failed because the addresses could not be automatically updated between longhorn-Manager components"
**Chart_version**: v1.0.1

**Describe the bug**
The pods was rebuilt after the node restarted, and the **Longhorn-Manager** log showed the connection <IP>:8500 timeout.

**To Reproduce**
Because I forgot the screenshot, now I can only use my description to explain this problem, but I think this problem is quite serious.
1. The host has to be restarted due to configuration optimization or failure.

[2020-07-31 04:02] shuo-wu commented on #1646
It seems that each manager will loop in retry until it becomes the leader

[2020-07-31 04:10] cwt commented on #755
@yasker workloads are all green. on the app page -> longhorn-system I got this message:

`Failed to install app longhorn-system. Error: UPGRADE FAILED: a release named longhorn-system is in use, cannot re-use a name that is still in use`

as I said previously, everything seem working fine, I can create volume, snapshot, backup. all of my pods that mount longhorn volumes are working fine too. It's

[2020-07-31 06:10] PhanLe1010 commented on #1646
@shuo-wu
Manager enters the `retry loop`. Then goes into `upgrade()`. Then goes into `leaderelection.RunorDie()`. It is sleeping inside `leaderelection.RunorDie()`, wakes up every 2 seconds try to vote to become leader. When it becomes leader, it does the upgrade. If it gets into an error while upgrading it will back out to the `retry loop`, sleep 3 seconds and try `upgrade()` again.

So, manager

[2020-07-31 08:09] shuo-wu commented on #1646
1. I just double check the arg `LeaseDuration` and here is the explanation:
[code]
I am not sure what `force acquire leadership` is, and if this is the culprit of the 30s delay.
2. We may need to verify how the error is triggered. Then I can find a correct way to release the lock in advance.

[2020-07-31 09:09] arturmon opened #1652 "[Question] incorrectly displays the capacity of the volum"
checked on two volumes, incorrectly displays the used place. or is it an unused place? then what does the `Actual Size` field mean?

![photo_2020-07-31_12-00-45 (2)](https://user-images.githubusercontent.com/7686999/89019748-772edf80-d326-11ea-9cb5-ea27953a3e34.jpg)
![photo_2020-07-31_12-00-45 (3)](https://user-images.githubusercontent.com/7686999/89019750-77c77600-d326-11ea-94ed-cb6a3e807935.jpg)

[2020-07-31 12:44] bashofmann commented on #1633
Another use case for supporting taints and tolerations is a cluster with windows and linux nodes where you want to use longhorn only on the linux nodes.

[2020-07-31 16:40] khushboo-rancher commented on #1588
Validation - **Passed**

https://longhorn.github.io/longhorn-tests/ integration and manual tests are getting updated on merge.

[2020-07-31 16:40] #1588 closed

[2020-07-31 16:54] yasker commented on #1652
You can refer to https://longhorn.io/docs/1.0.1/volumes-and-nodes/volume-size/ .

Also, Longhorn doesn't detect the volume usage from the filesystem's perspective at this moment. We're planning to address it with https://github.com/longhorn/longhorn/issues/925

[2020-07-31 20:28] yasker opened #1653 "[BUG] Uninstall took long time to finish"
**Describe the bug**
Uninstall took long time to finish

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn from Rancher.
2. Uninstall Longhorn

**Expected behavior**
The uninstaller should finish soon without time out.

**Log**
[code]

**Environment:**
 - Longhorn version: v1.0.1
 - Kubernetes version: v1.17.4
 - Node OS type and version: Ubuntu 18.04

[2020-07-31 20:31] yasker opened #1654 "[Backport] Uninstall took long time to finish"
https://github.com/longhorn/longhorn/issues/1653

[2020-07-31 22:01] yasker commented on #1646
@shuo-wu Phan was referring to https://github.com/longhorn/longhorn/issues/1379

[2020-07-31 22:02] yasker opened #1655 "backport: When the manager started, it reports failed to release lock"
Need to backport the fix for #1379

[2020-07-31 22:06] yasker commented on #1651
@xiaoluhong Is there any log you can provide? I think the instance manager IP might be the issue here. But we should already test this scenario multiple times, so it's better if we can take a look at the log to see what triggers the issue.

CC @khushboo-rancher

[2020-07-31 22:13] yasker commented on #755
@cwt It would hard for us to figure out from Longhorn side since it seems related to some pre-exist conditions. I found a related bug at https://github.com/helm/helm/issues/4174 which you might find useful.

[2020-07-31 23:24] joshimoo opened #1656 "[BUG] Volumes showing as detaching even though all workload pods are scaled down"
**Describe the bug**
During our scalability test we found an issue with the longhorn volumes getting stuck in the detaching state.
Even though the workload pods had been scaled down to 0 correctly.

**To Reproduce**
Not sure below is what I did:
3 control nodes - 100 worker nodes - 100 statefulsets - 1400 volumes total
- scale up 0-1400 with steps at 0,1,100,1000,1400
- scale down 1400-0 with step

[2020-07-31 23:26] joshimoo commented on #1656
below is a trace for a single volume, Identified one opportunity of improvement already.
# Trace for pvc-351fecb9-e9be-4b70-b9dd-2177fce7e685
# CreateVolume
2020-07-30T01:45:36.714888324Z time="2020-07-30T01:45:36Z" level=info msg="GRPC request: {\"capacity_range\":{\"required_bytes\":1073741824},\"name\":\"pvc-351fecb9-e9be-4b70-b9dd-2177fce7e685\",\"parameters\":{\"baseImage\":\"\",\"fromBackup\

[2020-08-01 00:21] boknowswiki commented on #1637
[Performance Test Plan and Results](https://rancher.atlassian.net/wiki/spaces/LON/pages/608141542/Performance+Test+Plan)

[2020-08-01 00:49] khushboo-rancher commented on #1651
Yes, we have tried this scenario multiple times and never faced this issue.
**Scenarios we have tested**:
1. Reboot the node where the pod exists.
   **Result**:
   Instance-manager, longhorn-manager pods got recreated and no problem observed.
2. Node down and added a new node.
    **Result**:
   Pod moved to the new node and Instance-manager, longhorn-manager pods got created on the new node.

@x

[2020-08-01 04:22] xiaoluhong commented on #1651
Hi @yasker ,

Sorry, it was very late that night, the user wanted to recover the storage as soon as possible, so we directly deleted and recreated all pods, and forgot to record the log information at that time.  However, we looked at the running logs of all the components, and the most fatal problem I located was that longhorn-manager prompted a connection `< IP >:8500` timeout, and other pods di

[2020-08-01 10:14] yasker commented on #1651
@xiaoluhong Next time you can use `Generate Support Bundle` at the bottom of the UI to generate the support bundle before reinstallation, so we can keep the necessary log and look into it.

This kind of issue is likely a race condition. It's hard to troubleshoot without reproducing it or have any related log.

[2020-08-01 13:43] cwt commented on #755
@yasker Thanks for your help anyway. Since I already have backup for all volumes, I already plan to remove longhorn and reinstall it again. I think my problem should be fixed.

[2020-08-02 04:12] xiaoluhong commented on #1651
Ok, I will collect the log when there is a problem again. Thank you

[2020-08-02 07:33] #1314 closed

[2020-08-02 11:09] digger18 commented on #1379
In my case the upgrade leader is stuck because of pod spec upgrade violation:
[code]

What can I do to solve this?

[2020-08-03 07:38] mrcdb commented on #1636
Hi @yasker! I read about volume detaching in this page (https://longhorn.io/docs/1.0.0/volumes-and-nodes/expansion/) and I mistakingly though that it was bound to be done via Longhorn UI.

Actually, I see that the documentation mentions the workload scale down here (https://longhorn.io/docs/1.0.0/volumes-and-nodes/detaching-volumes/). I think it would be beneficial to add some Rancher-specific doc

[2020-08-03 07:38] #1636 closed

[2020-08-03 07:53] mrcdb opened #1657 "[BUG] Longhorn volume random detachment from the workload in Rancher"
I am experiencing random malfunctions to Longhorn volumes with the pods of my Rancher environment.

They are seen as attached to a pod from Longhorn UI, but I cannot access their data from inside the container. In particular, I see I/O errors from the logs or when accessing the mounted directories via shell. If I run `mount` from inside the container I can still see the mount point from the PVC to

[2020-08-03 08:22] #1503 closed

[2020-08-03 10:01] longlnk commented on #1643
I have the same problem
![image](https://user-images.githubusercontent.com/15074179/89171127-e61c6a80-d5aa-11ea-8ab1-888d1192dbb9.png)
Please help me.

[2020-08-03 10:32] longlnk opened #1658 "[Question] How to run longhorn on specific nodes"
Hello,

- I have 6 nodes worker with named A, B, C, D, E, F. I run longhorn installed via Rancher catalog on our cluster and default longhorn will run on all nodes

- How to run all longhorn workloads on 3 node A, B, C?

- Because I use firewall between App (node D, E, F) and Backend (node A, B, C). So I need run all longhorn workloads on 3 node A, B, C
- Can you provide firewall port?
Please help

[2020-08-03 10:51] longlnk opened #1659 "[Question] Firewall Port?"
Hello,

- Can you provide port communication between all workload of longhorn?
- I have problem when deploy node workers in firewall

Please help me.

[2020-08-03 12:44] just1689 opened #1660 "[FEATURE] Context route support for Longhorn UI for reverse proxies"
**Is your feature request related to a problem? Please describe.**
The problem is that we need to host Longhorn-UI behind a reverse proxy on a context like /longhorn/
I could not find if this was supported in the docs or by Googling it. If it is supported this issue will help future engineers see that it is supported. Otherwise this issue could host the conversation around the possibility of suppo

[2020-08-03 14:29] gabriel-milan opened #1661 "[BUG] AttachVolume.Attach failed for volume: volume not scheduled"
**Describe the bug**
I know there are a lot of similar issues out there, specially https://github.com/longhorn/longhorn/issues/625, but none of the workarounds I've seen works for me. Anyway, I've installed Rancher v2.4.5 on my cluster, which was deployed with RKE (v1.1.4) on a single custom node (Docker 18.9.9 installed from Rancher releases).
I was able to deploy my company website and cocalc-ku

[2020-08-03 15:08] destanyinside commented on #1586
Sorry? it's my error.
Mount /var/lib/docker in /ets/fstab, was created with noexec option. After delete and remount -"mount -o remount /var/lib/docker" and restart docker daemon, it's works!

[2020-08-03 15:08] #1586 closed

[2020-08-03 17:10] boknowswiki commented on #1637
Uploaded a Longhorn Dbench [Here](https://github.com/boknowswiki/dbench/tree/dbench_for_longhorn_blk_dev). Hit a permission issue, this issue may impact the performance test results. And if I set `privileged` to true, the bind mount point is not correct. Need to look into this issue later.

[2020-08-03 17:17] yasker commented on #1453
@jackivanov Forgot to update you. Now Longhorn chart is available at https://charts.longhorn.io/ as a Helm Repo.

[2020-08-03 17:17] #1453 closed

[2020-08-03 20:28] yasker commented on #1661
How many nodes you have? By default, Longhorn is creating 3 replicas on 3 nodes. If there isn't space to satisfied the requirement, the scheduling will fail.

You can either add more nodes, reduce the default replica count (by creating a new StorageClass), or enable `node level soft anti-affinity`.

[2020-08-03 21:06] gabriel-milan commented on #1661
Hi @yasker thanks for fast reply.

Currently, I have a single node for demonstration purposes.

I've tried creating a new StorageClass and setting `numberOfReplicas=1`, creating a new PVC and deploying a simple `debian:buster` container with that mounted but got no success:

[code]

Can you please provide instructions for enabling `node level soft anti-affinity`?

[2020-08-03 21:22] yasker commented on #1661
One replica should work. You might want to check the Longhorn UI to see if there is any disk available for Longhorn.

Regarding the setting, check https://longhorn.io/docs/1.0.1/references/settings/#replica-node-level-soft-anti-affinity . You can update it in the `Settings` of Longhorn UI.

[2020-08-03 21:42] yasker commented on #1660
@smallteeths Can you investigate if this is possible?

[2020-08-03 21:45] #1145 closed

[2020-08-03 21:58] PhanLe1010 commented on #1379
@digger18
The error says that it is changing some forbidden fields in instance manager Pod's `spec`. However, in upgrade code, we only change the instance manager Pod's `labels`. Can I have more detail about your setup?

[2020-08-03 22:09] PhanLe1010 commented on #1379
@digger18
One walk around is: you can try to manually kill the pod `longhorn-manager-pshbv `. Longhorn will try to recreate the pod and do upgrading again.

[2020-08-03 23:06] ttpcodes commented on #1379
To reproduce the issue, use the image `quay.io/ttpcodes/longhorn-manager:no-upgrade` for the Longhorn Manager and either create a new installation with this image or update the Longhorn Manager Daemon Set on an existing installation with this image.

Check the logs for the Longhorn Manager Pods and note the timestamps for the first line in the log and the timestamp for when the upgrade has complet

[2020-08-03 23:21] gabriel-milan commented on #1661
I've redeployed Longhorn with `node level soft anti-affinity` enabled and default replicas changed from 3 to 1. Everything works fine now, thank you very much!

[2020-08-04 00:23] khushboo-rancher commented on #1643
Validated on ```longhorn-ui-5d4f878cdf```

Validation - **Passed**

The longhorn-frontend ```http://localhost:8001/api/v1/namespaces/longhorn-system/services/http:longhorn-frontend:http/proxy/``` is working fine with ```kubectl proxy```.

Verified longhorn-ui with rancher proxy and by creating ingress controller as well.

@longlnk How are you accessing the longhorn frontend, can you please share t

[2020-08-04 00:23] #1643 closed

[2020-08-04 01:15] smallteeths commented on #1660
We can refactor our routing to distinguish front-end and back-end routing. Let front-end routing not depend on back-end routing. Because the structure of the routing is like this since 0.4.0, I need some time to self-test after the reconstruction. @yasker

[2020-08-04 07:06] kaiomatico commented on #1554
I have the same problem. I am using traefik in conjunction with basic auth to password-protect the longhorn-frontend, but it only works if the path is set to /
Hope it is an easy fix :)

[2020-08-04 07:15] strowi commented on #1180
Also looking forward to this!
With rook we had the vomlume usage show up within kubernetes as `kubelet_volume_stats_used_bytes` / `kubelet_volume_stats_capacity_bytes`.
Which i guess depends on the way the storage-driver integrates with kubernetes.

[2020-08-04 07:28] NickyBoy89 opened #1662 "[BUG] Unused Replicas Are not Correctly Removed from Running Pods"
**Describe the bug**

Data from a past longhorn install is not correctly removed from the cluster, causing the leftover replicas on the nodes to still have activity

I discovered this after accidentally wiping my Longhorn configuration, and trying to mount the block devices that the disaster recovery guide on the website instructed me to do

**To Reproduce**

**NOTE** the PVC pvc-1234 is solely fo

[2020-08-04 14:33] digger18 commented on #1379
It doesn't work unfortunately.
Same error in recreated pod, but it makes sense because the pod tries to change the applied manifest and fails, so
 the pod is recreated again with the exact same values and labels...

I am using Gravitational Gravity 6.3 Kubernetes flavor, I believe this is something that is related to my K8s configuration? Maybe k8s audit log or something?

[2020-08-04 17:49] khushboo-rancher opened #1663 "[BUG] Longhorn installation fails sometimes with longhorn-manager pods stuck to come up healthy."
**Describe the bug**
The longhorn v1.0.1 installation sometimes fails on a cluster of 4 nodes(3 worker, 1etc/control plane)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster of 3 workers and 1 etc/control plane.
2. Install longhorn v1.0.1 from the catalog app.
3. Try to install and uninstall multiple times
4. Sometimes longhorn installation fails with longhorn-manager pods stu

[2020-08-04 17:54] boknowswiki opened #1664 "Modify Dbench to support Longhorn raw block device test"
This issue is to track supporting Longhorn raw block device on Dbench.

[2020-08-04 18:02] yasker opened #1665 "[Backport] Longhorn installation fails sometimes with longhorn-manager pods stuck to come up healthy."
Need to backport the fix of #1663 to v1.0.2

[2020-08-04 20:26] khushboo-rancher opened #1666 "[BUG] UI: The volume details page shows blank page on refresh"
**Describe the bug**
The volume details page shows blank page on refresh

**To Reproduce**
Steps to reproduce the behavior:
1. Go to longhorn UI using rancher proxy, create a volume.
2. Click on volume. It takes the user to the volume detail page.
3. Refresh the page.
4. The page becomes blank.

**Expected behavior**
The page shouldn't become blank

**Log**
[code]
<img width="520" alt="Screen Shot

[2020-08-04 20:50] yasker commented on #1463
Done.

[2020-08-04 20:50] #1463 closed

[2020-08-04 20:59] yasker commented on #1637
Waiting for the proofread.

[2020-08-04 21:05] khushboo-rancher commented on #1615
Validated on longhorn-master - 08-04-2020

Validation - **Failed**

Steps followed:
1. Created a volume with 3 replicas.
2. Deleted volume-head from one of the replica. It didn't trigger the rebuild.

[2020-08-04 21:06] yasker commented on #1379
@digger18 Longhorn should only try to change the label of the instance in this case. Is that allowed? Also, can you share the result of `kubectl -n longhorn-system get pods -o yaml`?

Also, is it a new installation or an upgrade?

[2020-08-04 21:25] onedr0p opened #1667 "[BUG] Backup is successful (as indicated on the UI) but the backup job/pod never stops running for a specific volume"
**Describe the bug**
Very odd behavior on one of my volumes, the rest seem to back up fine and the backup job/pod finishes.

Still running:

![image](https://user-images.githubusercontent.com/213795/89346538-38c35880-d677-11ea-953a-c0f527142cf9.png)

Trying to find logs in that pod:

[code]

UI says everything is fine:

![image (1)](https://user-images.githubusercontent.com/213795/89346575-4c6ebf0

[2020-08-04 22:14] boknowswiki commented on #1615
@khushboo-rancher , I think the longhorn-engine image is out of date. I just checked docker hub [longhorn-engine](https://hub.docker.com/r/longhornio/longhorn-engine), it was updated 11 days ago. And from the git log, my fix was merged 7 days ago. So the image we are using doesn't have my fix. And that also explained why my local build works. I also found a typo in the error message. Let me submit

[2020-08-04 23:07] PhanLe1010 commented on #1105
**To reproduce**
1. Set up a cluster of 3 nodes.
1. Install Longhorn and set `Default Replica Count = 2`
1. create a SetfullSet. Ex:
[code]
1. Find the node which contains one pod of the StatefullSet. Power off the node
1. After about 5 minutes, checking `kubectl` shows that the pod stuck in terminating state forever.

[2020-08-04 23:44] tomdoherty commented on #1180
Very interested in access to `kubelet_volume_stats_available_bytes` to allow Strimzi dashboards to work without modification

[2020-08-05 01:17] yasker commented on #1542
We need to filter the HIGH severity issues.

[2020-08-05 03:26] shuo-wu commented on #1658
You can refer to the comments in this issue:
https://github.com/longhorn/longhorn/issues/1633

[2020-08-05 03:29] shuo-wu commented on #1599
The manual test step is the same as the reproducing step.

[2020-08-05 03:30] uhcl-lund commented on #828
Just installed longhorn 1.0.1 and, although this article helped (adding stat and flock), I found I was also missing lsblk, which I "stole" from an overlay file system:

cp /var/lib/docker/overlay2/84b6637f5e5e0d1a160300637d3a183f0d1cf0cb3c483545fb9e4ad72cf9a1c3/merged/bin/lsblk /bin/

(your long hex string WILL be different, I used "find / -type f -name lsblk -print" to find one.  Make sure you ge

[2020-08-05 03:34] gknepper commented on #828
@uhcl-lund I modified RancherOS to include stat and flock. I'll also include lsblk.  I was wondering if you can test it ? Thanks.

[2020-08-05 03:41] uhcl-lund commented on #828
I’d be happy to.  I am new to GitHub, but not to git in general.  Do you have a document to help me set up my workstation to do the pull/build?  Sorry if it is obvious, but I didn’t poke around much, just submitted the comment.

Thanks to Longhorn, I now have my own docker-registry, so…

Kurt

From: Gabriel Knepper Mendes <notifications@github.com>
Sent: Tuesday, August 4, 2020 10:35 PM
To: longho

[2020-08-05 06:16] digger18 commented on #1379
v1.0.0 works out of the box.
When I try v1.0.1, it happens with fresh new installation and also when I try to upgrade from a newly installed (no volumes) v1.0.0.

[code]

[code]

[2020-08-05 12:39] andrewdavies-net commented on #1651
Hi, @yasker
I have also experienced a similar problem although its fairly rare occurrence (once every month or so).

This is just my homelab playground so by all means not particularly stable environment.

I have had this occur since 0.7 to current 1.0.1
On Rancher OS nodes & now ubuntu 18.04/20.04
Rancher based cluster 2.4.5 k8s 1.18.6

**Firewall log**
  | Aug 5 11:39:22 | DMZHOSTING | Default d

[2020-08-05 17:29] yasker commented on #1663
Log from first starting

[code]

It seems due to

[2020-08-05 18:38] Yomanz opened #1669 "[FEATURE] Clean up system generated snapshot automatically"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to clear out some hidden snapshots, they take a while to remove.

**Describe the solution you'd like**
A way to select mulitple volumes and delete them in one go

**Describe alternatives you've considered**
Deleting them individually and having incredible patience.

**Additional context**
![image](

[2020-08-05 19:45] yasker commented on #1669
One thing to work around this is, if you set up recurring snapshot or backup, those will get cleaned up automatically.

[2020-08-05 22:53] khushboo-rancher commented on #1646
@PhanLe1010 Could you please add manual test cases
https://github.com/longhorn/longhorn-tests/tree/master/docs/content/manual

We maintain our manual test cases [here](https://longhorn.github.io/longhorn-tests/manual/release-specific/v1.0.2/.)

[2020-08-05 22:59] PhanLe1010 commented on #1646
@khushboo-rancher
Does it mean that I will have to create a PR into the `longhorn-tests` repo?

[2020-08-05 23:12] khushboo-rancher commented on #1646
@PhanLe1010 Yes, like this one - https://github.com/longhorn/longhorn-tests/pull/383

[2020-08-05 23:16] PhanLe1010 commented on #1646
Thanks @khushboo-rancher. Added

[2020-08-05 23:18] khushboo-rancher commented on #1646
Verified on longhorn-master - 08-05-2020

Validation - **Passed**

Tested with 32 nodes multiple times, Installation and upgrade from v1.0.0 to master worked fine.

[2020-08-05 23:59] PhanLe1010 commented on #1379
@digger18
It seems like the upgrading process is stuck at the very first manager (on node 10.83.1.254). None of the managers is up yet. There are only 2 instance-managers in the system: instance-manager-e and instance-manager-r  (both are on node 10.83.1.254). This conflict is so weird because the manager on 10.83.1.254 is stuck when upgrading IM pods on the same node.

Can it be the case that the

[2020-08-06 12:55] Yomanz commented on #1669
Maybe a way to cleanup hidden system ones automatically would be a better way then.

[2020-08-06 18:13] yasker commented on #1641
@xiaoluhong the chart PR is merged. Can you help to check the doc to see if we need to update it? See https://longhorn.io/docs/1.0.1/advanced-resources/deploy/airgap/ . The doc repo is at https://github.com/longhorn/website

[2020-08-06 18:35] yasker commented on #1653
More error message from the manager side:
[code]

[2020-08-06 19:23] yasker commented on #1664
Done.

[2020-08-06 19:23] #1664 closed

[2020-08-06 21:04] khushboo-rancher commented on #1379
Verified on longhorn master 08-06-2020

Validation - **Passed**

Tested with the install and upgrade from v1.0.1 to master multiple times. The time taken from 1st log to ```Finish upgrading``` is taking on an avg 3-4 secs on a 3 nodes worker cluster.
Logs:
[code]

[2020-08-06 21:04] #1379 closed

[2020-08-06 21:37] yasker commented on #1379
@anouarchattouna @haflinger I think you've encountered #1663 . We're going to release a v1.0.2 with the fix.

[2020-08-06 23:02] meldafrawi commented on #1542
We can now filter scan results based on severity of the reported vulnerability.
![image](https://user-images.githubusercontent.com/18232258/89591010-66f89200-d849-11ea-95a9-d2f6f03cb1c6.png)

[2020-08-06 23:06] yasker commented on #1105
What are the validation steps?

[2020-08-06 23:25] khushboo-rancher commented on #1615
@boknowswiki I don't see the fix in the latest master as of 08-06-2020
Moving back to implement bucket for now.

[2020-08-06 23:45] PhanLe1010 commented on #1105
It is in the manual test plan here https://github.com/longhorn/longhorn-tests/wiki/Manual-Test-Plan#improve-node-failure-handling

I will create a PR to move it to `longhorn-test` repo though

[2020-08-07 02:31] yasker commented on #1615
We have a drone issues on engine image building at the moment. Let's move it to merged once the drone issue fixed.

[2020-08-07 02:32] yasker commented on #1542
Done.

[2020-08-07 02:32] #1542 closed

[2020-08-07 02:35] xiaoluhong commented on #1641
@yasker
Yes, the doc needs to be updated. I will submit a PR.

[2020-08-07 10:32] xiaoluhong opened #1670 "[BUG]The image cannot be pulled from the private image repository due to lack of secret if not customize setting"
**Describe the bug**
Even if the privateRegistry parameter is configured correctly, the image cannot be pulled from the private image repository when using Default Settings

**To Reproduce**
1. Set Longhorn's image repo to private mode(You need to be logged in to pull the image)
2. Run the Longhorn Catalog in the Rancher UI and configure the `PRIVATE REGISTRY URL, username, and password` in the PR

[2020-08-07 17:33] yasker commented on #1670
@xiaoluhong The default value will be overridden by user settings. What's the step to reproduce the issue?

[2020-08-07 18:16] PhanLe1010 commented on #1045
@yasker
When users choose the option to keep a replica on the same node as the engine. If for some reasons (e.g node tag, disk tag conflict, or not enough space), the replica cannot be migrated to the node. Do we error out and stop the volume or just skip the migration?

[2020-08-07 18:55] yasker commented on #1045
It's going to be the best effort. We cannot give user zero availability if there is no local disk satisfied the requirement. We should notify the user about that in some way.

[2020-08-07 21:10] yasker commented on #1654
Decide to exclude this issue from v1.0.2 release.

[2020-08-07 21:10] #1654 closed

[2020-08-07 21:11] yasker opened #1671 "backport: Pod Security Policy Should be used instead of privileged"
https://github.com/longhorn/longhorn/issues/608

[2020-08-07 21:20] #1646 closed

[2020-08-07 21:26] yasker commented on #1670
@meldafrawi @PhanLe1010 In the current process, how would the user add the secret for the private registry? It seems we require the user to add both the plain text username/password, as well as the secret to install Longhorn correctly.

[2020-08-07 21:39] PhanLe1010 commented on #1670
@yasker
In the current process, to use private registry:

## Using Rancher UI:
User need to add url/username/password and **specify a name for registry secret**. Longhorn will automatically create a secret with the name and encoding the url/username/password into it.

<img width="1455" alt="Screen Shot 2020-08-07 at 2 35 31 PM" src="https://user-images.githubusercontent.com/22139961/89690586-baa3c

[2020-08-07 21:47] oscni commented on #836
This has been a problem day one since hypervisors came along. You create for an example a 100GB disc and initially the VM installation takes up 30GB. But since the filesystems writes new data pretty much randomly over the the disc after a while the hypervisor will report 100GB usage even though you might only use 60GB inside the VM. Same thing seems to apply here with the containers and longhorn.

[2020-08-07 21:50] yasker commented on #1670
This makes sense. Though `Private Registry Secret` is in the default setting section, which might be the reason of confusion for the user. Is there a better way to avoid confusion?

[2020-08-07 21:53] PhanLe1010 commented on #1670
Should we move the setting `Private Registry Secret` to section `Private Registry Setting` to avoid the confusion?

[2020-08-07 22:04] PhanLe1010 commented on #1670
Also, Can we remove the `Generate` button next to `Private registry password` ? It confused me the first time bc I don't know whether I should click `Generate` or not. I had to try both to see which way work.

[2020-08-07 22:11] yasker commented on #1670
We can, but it also means we need to automatically enable `Customize default settings`. Also, what if the user is updating the Longhorn deployment? then the `Private registry secret` won't be applied. Need to think about that as well.

Regarding the `Generate` button, I think it's a limitation from Rancher. It should be gone in v2.5.

[2020-08-07 22:13] PhanLe1010 commented on #1670
@yasker

Yes, I will think more about this. Can you assign priority for this issue? If it is not top priority, I will work on other issues first.

[2020-08-07 22:51] yasker opened #1672 "Setup nightly test for v1.0.x branch"

[2020-08-08 06:15] markmaas commented on #458
Perhaps when Apple comes with their ARM processors, we will see more software be available on ARM as well ;-)

[2020-08-08 06:24] aspettl commented on #1667
I have the same or a similar problem, on two different clusters (rarely on my private one, where Longhorn volumes are <2G and content is pretty static, every day on a bigger one with volumes up to 500G and up to almost 200G turnover per day on a single volume). So both very small snapshots and big snapshots seem to be affected. I use MinIO for backup storage.

On both clusters, I see a log message

[2020-08-09 03:03] ryantiger658 commented on #1210
Any movement here? I am having the same issues. I am happy to provide any debug information.

Thanks!

[2020-08-09 07:31] TemaSM commented on #755
-> No any specific/detailed info. Everything is just like @cwt described:

@yasker Anyway, thanks for your time! I decided to look onto Longhorn later, when it became more stable.

[2020-08-09 08:21] Jawenba opened #1673 "[BUG]Two volumes stop update backups to minio s3 !"
**Describe the bug**

The two volumes can scheduler  the backup jobs and can snapshot ,but can update to the minio s3.Other volumes can work well .
![image](https://user-images.githubusercontent.com/47962033/89727949-cb8b3b00-da5b-11ea-8a91-5bc5e226b1ef.png)

`time="2020-08-09T08:06:02Z" level=debug msg="Cleaned up snapshot c-uyxea4-d98d8cc6 for pvc-5a8900a8-126e-4c25-9894-6961ca03dd6e"
time="2020

[2020-08-09 11:09] aleksey005 commented on #755
@TemaSM ))) Longhorn is stable, I have been using it for a long time and very rarely there were any hallucinations. The only thing that I would like to improve is to increase performance and make it a complete analog of the file system, that is, so that applications can delete data.

[2020-08-09 20:31] oscni commented on #1555
I did some tests without snapshots and when you do the above the host filesystem will never get the 10G back. From what I understand longhorn does not support space reclaim (TRIM,UNMAP,discard,deletenotification) so that explains why it happens.

If you have a database/application which is both writing and deleting files/data then eventually the longhorn volume will be 100% full even if the contai

[2020-08-09 21:11] oscni opened #1674 "[FEATURE] Online volume expansion"
**Is your feature request related to a problem? Please describe.**
Running out of space inside containers causes all kind of bad problems

**Describe the solution you'd like**
Online expansion of volumes

**Describe alternatives you've considered**
Space reclaim would probably be the best alternative but since it does not seem to work we can't oversize the volumes as they will just grow forever if

[2020-08-10 02:29] shuo-wu commented on #1673
For these 2 volumes, I am not sure if there are any backup creation/deletion requests in progress, which block the following `backup status` command invocations and lead to the timeout. Can you check what happens with these 2 volumes? e.g., fetching the logs of the related longhorn-manager, engine-manager, and replica manager.

[2020-08-10 06:22] Jawenba commented on #1673
It can work today ,Maybe the data is too big for backup first time 。but now the new question is too many snapshots，more 254。I had removed all the snapshots ,but the volume was failed to be rebuilded.
![image](https://user-images.githubusercontent.com/47962033/89755918-9f32f580-db13-11ea-88de-a7be07a2c4bd.png)
`(combined from similar events): Failed rebuilding replica with Address 10.42.1.245:10030

[2020-08-10 06:27] Jawenba commented on #1673
` ./lhexec pvc-cc3b61a7-f556-11e9-8a1e-6c92bfe1affa snapshot ls`

`ID
31fec284-f814-48af-b1dd-59357a43a057
56f83bc0-499b-4fc2-8160-b6d2afeb4119
a57ea856-271b-46de-b72c-0554fcc999da
c-nhsr8f-dd715f6b
c-nhsr8f-7e2fa900
c-nhsr8f-c81c0657
c-nhsr8f-66920ddb
ed7cf128-0f12-409b-b6f8-b794e7973636
23d5855c-8167-4877-8f8c-627f3d3f61de
a5244f49-25fb-4319-ba01-24a4368b33e0
1d14ad54-e3f9-4ba3-925d-28dec42bee2d

[2020-08-10 17:19] boknowswiki commented on #1210
@mikekuzak , good find. It looks like iscsid failed to start. And could you help to run `ps -elf | grep iscsid` to see if iscsid is running or not? And I think for iscsiadm requires iscsid to be running for discovery operations. If iscsid is not running correctly, this may impact on iscsiadm operations.

[2020-08-10 19:20] mogwai commented on #1210
Not sure if its related but I'm getting the same error

Using Ubuntu 20.04.1 with microk8s I saw this in the long for `longhorn-csi-plugin`

[code]

[2020-08-10 20:50] khushboo-rancher commented on #1663
@ttpcodes Tried multiple installations with the image ```quay.io/ttpcodes/longhorn-manager:engine-image-wait```, Installation still fails sometimes.

[code]

[2020-08-10 21:10] yasker commented on #1210
@ryantiger658 @mogwai There were two reasons we saw for this issue. The first one happens with AWS mapping mechanism and has been fixed in v1.0.0. #1223

The other one is there is a local process pick up the block device created by Longhorn automatically. Normally what we saw is multipath process. To find out the culprit:

1. Find the major:minor number of the Longhorn device. On the node, try `ls

[2020-08-10 21:51] mogwai commented on #1210
`ls -l /dev/longhorn/`
[code]

[2020-08-10 21:55] yasker commented on #1210
@mogwai Can you check your `longhorn-manager` log? The block device wasn't created. Maybe iscsid isn't running/installed on the node.

[2020-08-10 21:59] mogwai commented on #1210
1. Get the device major and minor:
[code]
2. I use the 8, 32 to find the device:
[code]
3. lsof to find the PID
[code]

4. My long-manager logs:

[code]

[2020-08-10 22:00] yasker commented on #1210
Yeah, your multipath process hijacked the device. :)

[2020-08-10 22:01] mogwai commented on #1210
How do I destroy it :)?

[2020-08-11 01:34] khushboo-rancher commented on #1615
Verified on master - 08-10-2020

Validation - **Passed**

**Scenarios tested**
1. Deletion of the replica folder from the node. - Triggers a rebuild
2. Deletion of a data file like volume-head.img or volume-snap.img - Triggers a rebuild
3. Deletion of a metafile like volume-snap.img - Doesn't trigger a rebuild
4. Modification of a data file - Doesn't trigger a rebuild
5. Addition of a file in repl

[2020-08-11 02:13] khushboo-rancher commented on #1599
Verified on master - 08-10-2020

Validation - **Fail**

Followed the steps from https://github.com/longhorn/longhorn/issues/1599#issue-658852785 I could see volume stuck in attaching state.

logs:
[code]

[2020-08-11 02:36] meldafrawi commented on #1210
To prevent multipath daemon from adding additional block devices created by Longhorn

First check devices created by Longhorn using `lsblk`
[code]
Notice that Longhorn device names start with `/dev/sd[x]`

- Create the default configuration file `/etc/multipath.conf` if not existed
- Add the following line to blacklist section `devnode "^sd[a-z0-9]+"`
[code]
- Restart multipath service
`systemctl

[2020-08-11 11:09] shuo-wu commented on #1663
1. After this [modification](https://github.com/longhorn/longhorn-manager/commit/dd1de2216d7496e00dd2b81e8ab10bfb8d62ac31#diff-22c8fd3bf4667bd9f7d846eff73474edL342), the engine image can not become `ready` anymore once it is (wrongly) marked as `incompatible`. That's why we will encounter this issue only in v1.0.1.

2. In order to verify if the error is caused by the incompleteness of the binary,

[2020-08-11 11:46] shuo-wu commented on #1599
I just double-checked the fix. The volume won't be marked as `Faulted`. It gets stuck in state `Attaching`. But users can detach or delete the volume after the fix. Hence an extra fix may be needed for the issue.

The log is different from my side. It seems that you are not using the fixed version:
[code]

[2020-08-11 17:47] #1639 closed

[2020-08-11 20:47] stevenmcastano opened #1675 "[BUG] Replicas failing to recreate and volumes randomly failing"
It seems in my environment that any time there is some disk contention longhorn starts to think replicas have failed and begins rebuilding them constantly. Frequently stopping in the middle of the rebuild and starting another one. The only way to stop it has been to reduce the replica count to 1, delete the failed replicas, then up it back to 2, then to 3, and let them rebuild one at a time.

**En

[2020-08-11 20:53] yasker commented on #1675
Per our conversation on the slack, I found something weird in the log
[code]

Also, @stevenmcastano mentioned this tends to happen on the slower storage.

[2020-08-11 23:06] khushboo-rancher commented on #1660
Verified on master - 08-11-2020
Longhorn UI is accessible through the reverse proxy. Tested by creating Nginx reverse proxy to the exposed service on node port.

Validation - **Passed**

Steps followed
1. Create a cluster (3 worker nodes and 1 etcd/control plane) in rancher.
2. Deploy the longhorn app with longhorn-frontend service as NodePort type.
3. Install Nginx in the local system.
4. Set the

[2020-08-11 23:06] #1660 closed

[2020-08-11 23:33] #1458 closed

[2020-08-12 00:19] PhanLe1010 commented on #1045
**reproduce/test steps:**
1. Create a cluster of 6 nodes and install Longhorn. Having more nodes helps us to be more confident in verifying the PR because the chance of randomly scheduling a replica onto same node as the engine is small.
1. Create volume `testvol` with `Number of Replicas` = 2
####Case 1: `keep-local-replica-on-same-node-as-engine` set to `false`:
1. Attach `testvol` to a node whi

[2020-08-12 04:28] yasker commented on #1641
@PhanLe1010 Can you help to check and update the doc for this issue?

[2020-08-12 04:29] PhanLe1010 commented on #1641
@yasker Sure

[2020-08-12 04:44] shuo-wu commented on #1673
1. The rebuild failure is caused by the snapshot file `volume-snap-c-3osxd0-b4b127fc.img` syncing error:
[code]
2. According to the snapshot list result, there is no snapshot `volume-snap-c-3osxd0-b4b127fc` in the volume. I am suspecting if the file-syncing happens during the snapshot removing/purging then the error is triggered. We will check and verify it later.

[2020-08-12 06:11] just1689 commented on #1660
Morning

Just to confirm - this would would with a context route right? For example:
[code]

[2020-08-12 09:44] mpiexec opened #1677 "[BUG] Replica fail during sync"
**Describe the bug**

An error occurs during creation a PVC replica:

instance-manager-e-faa7c869 log (node with healthy replica):
[code]

Result
![lh-issue](https://user-images.githubusercontent.com/112605/90000047-522c5c00-dc98-11ea-8ccc-974a47760737.jpg)

**Environment:**
 - Longhorn version: v0.7.0
 - Kubernetes version: v1.14.5
 - Node OS type and version: Centos 7 (Linux 4.4.232-1.el7.elrepo

[2020-08-12 12:17] afeiszli commented on #1580
Just encountered this issue as well....how do we choose xfs? I don't see that in the docs.

[2020-08-12 12:23] #1661 closed

[2020-08-12 14:45] LO3N opened #1678 "[BUG] Volume attach is failing suddenly"
My NFS Provisioner Pod restarted in the middle of the night. After the reboot, the connection to the Longhorn volumes does not work anymore. I made in that time no configuration changes.
When starting the Pod, I get the following error message:

MountVolume.SetUp failed for volume "pvc-8e89263a-11e3-4514-8f71-f2f9c7718cac" : kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = InvalidArgum

[2020-08-12 19:25] yasker commented on #1637
The blog is up at https://longhorn.io/blog/performance-scalability-report-aug-2020/

[2020-08-12 19:25] #1637 closed

[2020-08-12 22:21] khushboo-rancher commented on #1663
Verified on Master - 08-11-2020

Validation - **Passed**

Ran installations above 200 iterations, all installations passed successfully.

[2020-08-12 22:21] #1663 closed

[2020-08-13 00:25] boknowswiki opened #1679 "[BUG]Need to clean failed to scheduled extra replica if there is no eviction."
**Describe the bug**
A clear and concise description of what the bug is.
After increase the replica count number and decrease it back, the extra failed to scheduled replica stays in longhorn. We need to clean it up.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a longhorn with 3 nodes in k8s cluster.
2. Create a volume with 3 replicas, everything should be done correctly.
3. Increas

[2020-08-13 00:33] meldafrawi commented on #1641
Validation: **PASSED**
Longhorn Version: `v1.0.2-rc1`

[2020-08-13 00:33] meldafrawi commented on #1641
Waiting for docs to be updated

[2020-08-13 00:57] boknowswiki commented on #1580
Based on [longhorn example storageclass.yaml](https://raw.githubusercontent.com/longhorn/longhorn/master/examples/storageclass.yaml), you can add `parameters` `fstype: xfs`. Like this
`kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: longhorn
provisioner: driver.longhorn.io
allowVolumeExpansion: true
parameters:
  fstype: xfs
  numberOfReplicas: "3"
  staleReplicaTimeout: "3000"`

[2020-08-13 01:28] khushboo-rancher commented on #1671
Verified on longhorn-v1.0.2-rc1

Validation - **Passed**
PSP gets installed along with longhorn other deployments.
[code]

**Scenarios tested:**
1. Longhorn deployed on a cluster where PSP is enabled as ```restricted```.
2. Longhorn deployed on a cluster where PSP is enabled as ```unrestricted```.
3. Longhorn deployed on a cluster where PSP is disabled.
4. Upgrade longhorn on a cluster PSP enabled

[2020-08-13 01:28] #1671 closed

[2020-08-13 03:42] khushboo-rancher commented on #1665
Verified on v1.0.2-rc1

Validation - **Passed**

Ran longhorn installation for around 100 times, no failure is observed.

[2020-08-13 03:42] #1665 closed

[2020-08-13 04:17] hillbun commented on #1580
what's difference between xfs and ext4?

[2020-08-13 04:24] khushboo-rancher commented on #1647
Verified on v1.0.2-rc1

Validation - **Passed**

Tested with 32 worker nodes, Installation and upgrade work fine.

[2020-08-13 04:24] #1647 closed

[2020-08-13 04:38] khushboo-rancher commented on #1655
Verified on v1.0.2-rc1

Validation - **Passed**

Tested with 3 worker nodes, the avg. time taken between the below logs is 2.33 secs. The minimum time taken is 0 sec and max time taken 6 secs.
Tested with 32 worker nodes, the avg. time taken between the below logs is 52.5 secs. The minimum time taken is 0 sec and max time taken 160 secs.
[code]

[2020-08-13 04:38] #1655 closed

[2020-08-13 06:11] shuo-wu commented on #1580
Besides the StorageClass modification mentioned above, you can
1. Choose `XFS` when you use Longhorn UI to create PV/PVC for a Longhorn volume. Then later the pod using the PV/PVC will mount the Longhorn volume with `xfs` filesystem.
![Screen Shot 2020-08-13 at 2 07 42 PM](https://user-images.githubusercontent.com/47542419/90100071-79555d00-dd6e-11ea-878a-d39b7adbdf1d.png)
![Screen Shot 2020-08-13

[2020-08-13 06:17] shuo-wu commented on #1580
For this issue, the filesystem `xfs` doesn't contain any directory/file after formatting. If some users prefer a clean mount point/directory after the mounting, they can choose `xfs`.
If you want to know the feature or performance differences between these 2 filesystems, you can directly google it. There are a lot of articles or comments about this topic.

[2020-08-13 06:21] shuo-wu commented on #1677
1. There is a write time out happened in the replica, then this replica is considered as inconsistent and unavailable. Typically the timeout is caused by the in-cluster network fluctuation/disconnection. You can check it first.
2. Since the only replica of the volume becomes unavailable/ERR, the volume has no way to continue to r/w data. As a result, it will be considered as `Faulted`.

[2020-08-13 07:56] mpiexec commented on #1677
Ok thank you, I'll try to check but why problem is disappeared when we use dedicated nodes for LH? Could other workloads affect LH instances?

[2020-08-13 10:27] NerdSec opened #1680 "[BUG] Volume mount fails with RPC "InvalidArgument desc = There is no block device frontend for volume""
Hi All,

First of all, Rancher is really an amazing piece of software and it has eased my introduction to Kubernetes quite nicely. I can troubleshoot stuff much easily while I learn the internals of Kubernetes in parallel. I deployed Longhorn on Kubernetes from the UI, and have maybe encountered a bug. Let me know how if you need any more inputs!

Provisioned a Longhorn PVC, and then used the PV t

[2020-08-13 10:39] NerdSec commented on #1680
I am using the latest version of rancher and longhorn.
rancher: rancher/hyperkube:v1.18.6-rancher1
longhorn: 1.0.1

[2020-08-13 15:00] shuo-wu commented on #1677
Probably yes. If the CPU is consumed up by other workloads, the Longhorn volumes on the nodes will be affected. You can also check the CPU usage next time when you encounter the similar issue. Besides, you can refer to [this setting](https://longhorn.io/docs/1.0.1/references/settings/#guaranteed-engine-cpu) to guarantee the CPU resource for Longhorn system.

[2020-08-13 15:55] WhitePhoera commented on #1465
Made reboot on nodes, have same issue. Any way to solve it? Detaching makes same error. After reattach redis just don't start back. It can't read file seems.
`1:M 13 Aug 2020 15:53:53.144 * Reading RDB preamble from AOF file...
1:M 13 Aug 2020 15:53:53.155 * Reading the remaining AOF tail...`

[2020-08-13 16:07] boknowswiki commented on #1580
Also one more thing, Longhorn supports auto remount for ext4 filesystem, but xfs filesystem doesn't have this support. [Here remount doc](https://longhorn.io/docs/0.8.1/high-availability/recover-volume/#remount) has more details. Thanks.

[2020-08-13 16:55] boknowswiki commented on #1680
@NerdSec,

First of all, thanks for the great compliment about Rancher and Longhorn.

I have tried 3 times using the yamls you posted here, and I don't see the issue. How often do you see the issue? And do you have steps to reproduce this error? If you can provide the steps, that will be very helpful for us to dig into the issue.

About the performance test, it's very trick to compare the numbers,

[2020-08-13 19:00] yasker commented on #1672
Done.

[2020-08-13 19:00] #1672 closed

[2020-08-13 19:13] yasker commented on #1678
@LO3N Can you scale down the workload and scale it back to see if it helps? Also, you can try to attach the volume to a node and see if you can access it on the node.

[2020-08-13 19:15] yasker commented on #1678
The error message is not final, since later the container started. The error message indicates the volume is not ready to be used yet at the time. We will see if we can improve the error message.

[2020-08-13 20:37] yasker commented on #1641
Updated doc merged to `staging` branch.

[2020-08-13 22:12] boknowswiki commented on #298
I think we need @smallteeths to help adding buttons for `Eviction` and `Cancel Eviction` for disks and nodes from UI.

[2020-08-14 01:03] smallteeths commented on #1660
It can be set arbitrarily, as long as the service can be found, now the front and back routes have been separated. @just1689

[2020-08-14 01:18] xuyinhao opened #1682 "[Question] each replica is a container ?"
https://longhorn.io/docs/1.0.0/concepts/

In the figure below,
Each Longhorn volume has two replicas, and **each replica is a container**.

I just find  all  replicas in a container named  k8s_**replica-manager_instance-manager-r-**62ac0296_longhorn-system_df7e1d0c-db09-420a-98a8-c275ee574b72_0.

thx

[root@node221 ~]# docker exec -it 877b502e916c sh
# ps -ef
UID        PID  PPID  C STIME TTY

[2020-08-14 01:59] yasker commented on #1045
Need to investigate the scheduler option as well.

[2020-08-14 02:01] yasker commented on #1682
@xuyinhao it's a doc bug. It's no longer a container since v0.6.0. It's a process now. We will fix the doc.

[2020-08-14 02:38] xuyinhao opened #1683 "[BUG]InvalidArgument desc = There is no block device frontend for volume vi01"
I used longhorn UI create volumn and  Create PV/PVC,then used https://longhorn.io/docs/1.0.1/references/examples/#simple-pod to create pod .

Pod status :  ContainerCreating

Block type volume no this issue

[root@master220 home]# kubectl  get pvc
NAME   STATUS   VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS      AGE
vb01   Bound    vb01     2Gi        RWO            longhorn-static   53m
vi01

[2020-08-14 02:42] shuo-wu commented on #1465
What's the log in longhorn-manager pods? And can you check:
1. If the related Longhorn volume is attached.
2. If the related Longhorn volume is remounted after the attachment.
3. If the Longhorn volume remount is propagated to the related workload.

These two docs may be helpful:
https://longhorn.io/docs/1.0.1/high-availability/node-failure/#what-to-expect-when-recovering-a-failed-kubernetes-node

[2020-08-14 02:47] shuo-wu commented on #1678
Can you generate a support bundle and upload it here? The button for support bundle generation is in the footer of the UI page.

[2020-08-14 03:03] shuo-wu commented on #1683
Notice that you are using the frontend `iSCSI`, hence the pod cannot find a block device file then mount it automatically after the attachment.
You can check this [doc](https://longhorn.io/docs/1.0.1/advanced-resources/iscsi/) to see how to use Longhorn volume with frontend `iSCSI`.

[2020-08-14 03:26] xuyinhao commented on #1683
thx
The Longhorn CSI driver doesn’t support iSCSI mode.

Attached Node & Endpoint:
node222.bocloud.cn
iscsi://10.10.36.225:3260/iqn.2019-10.io.longhorn:vi01/1

The above information can be used to connect to the iSCSI target provided by Longhorn using an iSCSI client.

[2020-08-14 03:26] #1683 closed

[2020-08-14 03:42] khushboo-rancher opened #1684 "[BUG] Too many logs for ''Remount' failure."
**Describe the bug**
Below logs is appearing lots of times when the attached node is rebooted.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Restore a volume
2. Attach to a node
3. Reboot the node
4. Check the longhorn-manager logs

**Expected behavior**
Logs should not get generated for infinite times.

**Log**
[code]

**Environment:**
 - Longhorn version: v1.0.1
 - Kubernetes vers

[2020-08-14 05:40] shuo-wu commented on #1684
Found a better way to reproduce it:
1. Restore a volume
2. Attach to a node
3. Format `ext4` for the volume but do not mount it
4. Reboot the node
5. Check the longhorn-manager logs

But I am not sure if you have formatted/mounted the volume when you succeed to reproduce this issue.

The cause of this issue:
The [function](https://github.com/longhorn/longhorn-manager/blob/a0c87e1796fee22da47955adb

[2020-08-14 05:58] shuo-wu commented on #1279
May need to change the color for rebuilding restore/DR volume
![Screen Shot 2020-08-14 at 1 57 22 PM](https://user-images.githubusercontent.com/47542419/90218367-33fc6280-de36-11ea-89ca-d70d315b4ab7.png)

[2020-08-14 06:05] shuo-wu opened #1685 "Remove compatible code for old restore/DR volumes"
In order to handle the compatibility issue in #1279, some compatible codes are introduced in https://github.com/longhorn/longhorn-manager/pull/638. This issue is to track the code cleanup.

[2020-08-14 06:07] smallteeths commented on #1666
@khushboo-rancher  I did not reproduce this issues after updating the longhorn routing。[https://github.com/longhorn/longhorn/issues/1660](url)

[2020-08-14 07:11] mpiexec commented on #1677
I set the recommended value for the Guaranteed Engine CPU parameter (=0.25), but the result is as follows:

node1:
* instance-manager-e-faa7c869 (172.24.3.72)
* instance-manager-r-b4fb8a68 (172.24.3.71)

creates a replica on the
node2:
* instance-manager-e-7c1636e9 (172.24.6.57)
* instance-manager-r-c1503a3f (172.24.6.58)

[code]

[2020-08-14 07:33] tuxpeople opened #1686 "[FEATURE]: Visual difference between Snapshot and Backup"
I have the following PV. I'm always confused with this timeline. Because it mixes up snapshots and backups. I even thought initially, that the retain for snapshots isn't working because of this. It adds even more confusion that the title of the timline is "Snapshots" even it also contains backups. I suggest to

a) make a difference between snapshots and backups by either name or icon (or both)
b)

[2020-08-14 07:47] mpiexec commented on #1677
I noticed that the error appears if the CPU limit is greater than 100%

[code]

[2020-08-14 08:53] WhitePhoera commented on #1465
ty, links guided me in needed direction.
i did not cheched file size, but looks like redis used up whole volume somehow(thou it's strange for nearly just started project...) after restart
Sorry for false report.

[2020-08-14 11:41] NerdSec commented on #1680
Hmmm.. That's weird. I am doing this using specific block drives formatted as `ext4` and mounted on `/var/lib/longhorn` on all the storage nodes. I see this every other volume, it fails and then retries and succeeds.

Not sure how to get more logs for this. Is there any switch that enables the debug logs from the pod?

Will also test out the performance using the dbech fork mentioned in the blog p

[2020-08-14 11:53] LO3N commented on #1678
Thanks for the help. I have attached the Support Bundle as .zip.

Best Regards
Leon Stephan

Am Fr., 14. Aug. 2020 um 04:47 Uhr schrieb Shuo Wu <notifications@github.com

[2020-08-14 12:24] LO3N commented on #1678
@yasker I scaled the workload down and up again. I have also rebooted all the nodes. The result remains unchanged.

Inside the container I am getting the following log:

[code]

I have also attached the Support Bundle.
[longhorn-support-bundle_84449419-c450-4eb2-a227-9b6701a2982f_2020-08-14T11-42-06Z.zip](https://github.com/longhorn/longhorn/files/5074508/longhorn-support-bundle_84449419-c450-4eb2

[2020-08-14 16:07] lomori opened #1687 "WORM: Write-Once, Read-Many"
Does Longhorn support WORM: Write-Once, Read-Many? If not, any plans to add it?

Regards,
Luiz

[2020-08-14 16:24] boknowswiki commented on #1680
@NerdSec,

Please correct me if my understand is wrong below:
1. One the node, there is an extra block device `/dev/sdX`. And you format it to `ext4`.
2. Mount `/dev/sdX` to `/var/lib/longhorn`.
3. Use the yamls posted above to create volume for the pod to use.

About the debug logs, I am not sure, as I remembered, longhorn engine is at debug level, I think should be fine.

Once you confirm the st

[2020-08-14 16:29] yasker commented on #1680
@NerdSec The error message itself is a bit misleading. It can be caused by an intermediate state.

[code]

is generated from https://github.com/longhorn/longhorn-manager/blob/master/csi/node_server.go#L52

If the volume works after, then it's fine.

cc @shuo-wu

[2020-08-14 16:39] yasker commented on #1687
Normally Kubernetes calls it ReadOnlyMany (ROX) https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

Longhorn doesn't support it yet. Currently, it's not on the roadmap. We need to see the demand for the feature before adding it.

What's your use case?

[2020-08-14 16:44] yasker commented on #1678
@LO3N The data seems mostly fine. But genesha configuration files are somehow wrong. Can you run a `fsck` on the disk? You can scale down the workload and attach the volume to a node as a block device to run fsck.

Also, the error message might related to some internal mechanisms of Ganesha. You might want to search to see if there is any reported issue regarding it.

[2020-08-14 16:46] boknowswiki commented on #1677
@mpiexec , based on my understand, `the Guaranteed Engine CPU parameter (=0.25)` is the minimum suggestion. And for most of the cases when there is a timeout issue, they are because of lack CPU resource.

Could you help to capture the top output during this timeout happening? Command like this `top -d 1 -b -c -w > top.log`. Thanks.

[2020-08-14 16:50] stevesim101 opened #1688 "[BUG] PVC stuck in pending state with Longhorn SC recurringJobs and certain cron schedules"
**Describe the bug**
When the longhorn storage class is defined with recurringJobs that use certain cron schedules for a backup job, any PVCs created with the storage class remaining in a pending state indefinitely.  This causes the pods that use the PVCs to fail in their creation.  The specific cron schedules that create the problem contain a forward slash.  If the cron schedule does not contain

[2020-08-14 17:17] lomori commented on #1687
Our use case is that we have only one data producer (fetch and process data from a DB) but in order to keep up with the client demand, need more than one pod instance to server our clients (REST APIs). Client requests only need to access the data stored, i.e., won't trigger the writer. We can handle the synchronization, i.e., readers pause while data is being written. Data is not written frequentl

[2020-08-14 17:46] yasker commented on #1687
We might able to implement this as a by-product as #1470 , but there is a problem for this approach: Kubernetes doesn't support WORM, it only supports ROM natively, which means you will need to use RWX. So probably RWX solution as in #1470 is your best bet at the moment.

[2020-08-14 20:25] #1466 closed

[2020-08-14 21:48] meldafrawi commented on #1641
Validation: **PASSED**

[2020-08-14 21:48] #1641 closed

[2020-08-15 00:47] boknowswiki opened #1691 "Longhorn CPU minimum requirement investigation"
This issue is for tracking the minimum CPU requirement for different deployment.
The reason for this is we are seeing sometime due to CPU starvation, longhorn-engine controller and longhorn-engine replica don't have enough CPU to perform I/O operation, which caused I/O read/write timeout. This may impact user experience and data storage.

We need to find some formula that can give us a guidance ab

[2020-08-15 05:36] #1505 closed

[2020-08-15 17:00] NerdSec commented on #1680
Yes. These are the correct steps

[2020-08-15 17:02] NerdSec commented on #1680
Ohh, then its fine. The logging got me worried, made me think if the volume is getting assigned properly or if there were any issues.

[2020-08-16 17:35] abserari commented on #31
on centOS 7: `yum install -y iscsi-initiator-utils`

[2020-08-17 03:26] shuo-wu commented on #1677
Yes. Typically, the cause of the IO timeout can be one of the following:
1. there is in-cluster network latency/fluctuation
2. the pod `instance-manager-r` somehow gets stuck in processing the IO requests from `instance-manager-e` (CPU usage, implementation bugs...)
3. something is wrong with the disk used by the `instance-manager-r`

I am not sure which one is the culprit. And you can generate a

[2020-08-17 04:00] shuo-wu commented on #1688
1. It's meaningless to set `recurringJobs` twice in a single storageclass.
2. The 2nd recurring job is invalid, which leads to this issue. Do you mean `*/360 * * * *`?

[2020-08-17 09:11] WhitePhoera opened #1692 "[Question] internal deployment replicas, it is safe to reduce for small cluster?"
I have simple cluster, 1 master + 1 worker(for now).
i reduced storage class replicas to 1, since i have one worker yet.

But i looked into longhorn namespace and found out that csi-attacher, csi-provisioner, csi-resizer deployments also have several replicas.
Can i safely reduce that amount to 1 replica per deployment? and then increase back with increasing cluster size?

[2020-08-17 10:10] joshimoo commented on #1692
For non production clusters (evaluation, learning, testing, etc), it's safe to reduce the replica count for the kubernetes CSI components.

[2020-08-17 10:20] joshimoo commented on #1680
@NerdSec There is no need to worry about this message, if the Mount succeeds after the first try.
Kubernetes will call this, immediately after the Attach Succeeded but the volume is not ready yet for usage from the longhorn side.
So we fail the first Mount request and Kubernetes will automatically request the mount again which will succeed once the longhorn volume is ready.

[2020-08-17 10:31] WhitePhoera commented on #1692
i start with small cluster, at first, later will add more workers to it.
so i just will need to add replicas back, right?

[2020-08-17 10:38] joshimoo commented on #1686
@tuxpeople The timeline only contains snapshots, since a backup is always based on a snapshot.
Your scheduled backup will end up creating a snapshot first (instant operation) then backup that snapshot (upload to s3).

[2020-08-17 10:44] strowi opened #1693 "[BUG] ignoring Storage Reserved"
**Describe the bug**
Longhorn seems to ignore the "Storage Reserved"-parameter:

Longhorn-UI
[code]
On-Disk:
[code]

There are also other 2TB disks mounted and configured on other locations, which are 0Gi used.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn in Rancher-2.4.5
2. Use up all available space via PV
3. see on-disk that > 95% get used..

**Expected behavior*

[2020-08-17 10:45] joshimoo commented on #1678
@LO3N are you using the longhorn provided nfs-provisioner?
https://github.com/longhorn/longhorn/blob/master/examples/rwx/02-longhorn-nfs-provisioner.yaml
https://longhorn.io/docs/1.0.2/advanced-resources/rwx-workloads/

If not do you have a liveness/readiness probe setup for for the underlying longhorn volume?

[2020-08-17 10:50] joshimoo commented on #1657
@mrcdb a volume detachment can happen for example when the volumes engine process crashes or there are resource exhaustions (network, cpu, etc). To mitigate this you should setup a liveness probe on your workload deployments, see example in the docs here: https://longhorn.io/docs/1.0.2/high-availability/recover-volume/

This will make sure that your workloads are automatically restarted in the cas

[2020-08-17 10:58] joshimoo commented on #1692
For the kubernetes CSI components that will work.

[2020-08-17 10:59] WhitePhoera commented on #1692
thank you.

[2020-08-17 10:59] #1692 closed

[2020-08-17 11:11] shuo-wu commented on #1693
1. The schedulable size = (the total size - the reserved size) * Storage Over Provisioning Percentage - the size scheduled for existing volumes. In brief, the reserved size determines the max schedule size for Longhorn.
2. For existing volumes, Longhorn does not block/interrupt the volume writing even if all available space dedicated for Longhorn is used up(Longhorn will continue to use the reserv

[2020-08-17 12:01] dennybritz opened #1694 "No backups are created (Minio)"
Version 1.0.2 installed via Helm on k3s.

When I click on "Create Backup" or "Take Snapshot" in the UI, nothing happens. I don't see any error messages, and I don't see anything useful in the pod logs, though maybe I'm looking at the wrong place. There is a brief loading animation in the UI, but nothing happens. No messages, no errors, no files written to Minio.

I initially thought it's a Minio c

[2020-08-17 12:20] strowi commented on #1693
Thx for the explanation and sorry for the noise, maybe i should've dug deeper into the docs!
Seems i was missing the over-provisioning percentage.

But to be clear:
Longhorn will allow scheduling up to (in case of sda1 above) (217GB-65GB)*200% ~ 304GB ?

It would be very useful to at least notify, since this can quickly become a problem creating an unstable node.

[2020-08-17 13:01] stevesim101 commented on #1688
I never said I was setting `recurringJobs` twice in the same SC definition.  I was simply providing two **separate** examples of `recurringJobs` that I tested.

Yes, I meant `*/360 * * * *`.  Accidental typo when I was creating the issue.

[2020-08-17 13:02] NerdSec commented on #1680
Okay! Will close the issue then. 😄
Thanks for the updates you guys.

[2020-08-17 13:02] #1680 closed

[2020-08-17 13:07] LO3N commented on #1678
@yasker Thank you very much for your help! The error is in the Ganesha configuration files. Something must have gone wrong overnight. Mounting the volume is working.

[2020-08-17 15:04] xiaoluhong commented on #1670
A similar problem was found today.
I want to specified nodes to deploy Longhorn, but the **default Settings** I use. it's collapsed, so I don't see the corresponding configuration items. Finally I found this configuration option in the documentation: https://longhorn.io/docs/1.0.2/references/settings/#create-default-disk-on-labeled-nodes.
So I feel like this option shouldn't be a setting parameter

[2020-08-17 18:13] yasker commented on #1670
@xiaoluhong It's not designed to be a setting parameter. It's designed to use Kubernetes labels/annotations to make it easy for the user to customize it in Kubernetes in a per-node basis.

[2020-08-17 22:00] yasker opened #1695 "task: build Longhorn bot automatically"
We have a GitHub bot and running but don't have a mechanism to build and publish the image automatically.

https://github.com/longhorn/bot

[2020-08-17 23:08] #1467 closed

[2020-08-17 23:08] #1468 closed

[2020-08-18 00:34] boknowswiki opened #1697 "[FEATURE]Longhorn UI redirect replica name on `Node` page to the corresponding volume page"
**Describe the solution you'd like**
Once click on the replica name on the `Node` page, Longhorn UI can redirect to volume page which has this replica.
This is related to
https://github.com/longhorn/longhorn/issues/298

**Additional context**
First on the Longhorn UI `Node` page:
![Screen Shot 2020-08-17 at 5.30.11 PM.png](https://images.zenhubusercontent.com/5ea86ddb41903e5d4e29e34f/dd986e0b-59b3

[2020-08-18 00:35] boknowswiki commented on #1697
@smallteeths , I just submitted this new feature about UI, please let me know if you have any question about it. Thanks.

[2020-08-18 02:59] shuo-wu commented on #1693
Yes. And you can directly check the schedulable size of each node in the Longhorn UI Node page.

As for the setting `over-provisioning percentage`, you can modify it based on your use case. If most of the volumes in your cluster are not heavily used, it's fine to set the value over 100. But if the volumes are written frequently and will be snapshotted periodically, it's better to decrease the valu

[2020-08-18 03:00] shuo-wu commented on #1688
Oh, sorry for misunderstanding it. Does it work fine after correcting the typo?

[2020-08-18 03:36] shuo-wu commented on #1694
That's weird. As long as the volume is attached, The button `Take Snapshot` and `Create Backup` shouldn't gray out.

To check if the MinIO works fine in Longhorn, you can see if there are any errors when you click the Backup page.

[2020-08-18 07:41] strowi commented on #1693
Thx again;) Found the settings. For the time being i just disabled the /var/lib/longhorn on those nodes, since we have enough with separate disks/mounts. I will have to dig into this deeper when i get some more spare time.

[2020-08-18 08:14] joshimoo commented on #1694
@dennybritz can you check if you are getting a js error in the console F12?
If your minio connection is in error, the page should display an error message when visiting the backup page.
As well as when trying to create a backup.

If you cannot see an error message in the browser console, please attach a support bundle and we will have a look.

[2020-08-18 09:02] joshimoo commented on #458
Linking to full arm feature request: longhorn/longhorn#6

[2020-08-18 09:06] joshimoo commented on #6
csi build infrastructure is currently in the progress of updating to support building arm csi sidecar images, tracked here:
https://github.com/kubernetes-csi/csi-release-tools/issues/86#issuecomment-634509901
https://github.com/orgs/kubernetes-csi/projects/29#card-42709613

For supporting arm in the meantime we would need to look into building our own sidecar csi images.

[2020-08-18 12:17] Vilsol opened #1698 "[BUG] longhorn fails to attach volume on minikube"
**Describe the bug**
When running longhorn in minikube, it fails to attach a PVC to a pod.

**To Reproduce**
[code]

**Expected behavior**
PVC to be attached to the pod

**Log**
[code]

**Environment:**
 - Longhorn version: 1.0.2
 - Kubernetes version: 1.18.3
 - Node OS type and version: minikube v1.12.1 on Ubuntu 19.10 using docker driver.

[2020-08-18 17:07] PhanLe1010 commented on #1105
I updated manual test plan at the PR https://github.com/longhorn/longhorn-tests/pull/395

[2020-08-18 17:30] ranchersvet opened #1700 "[BUG] Better error message for scheduling failure"
When a volume is unable to attach and scheduled the error log in csi-attacher shows

Status [500 Internal Server Error]. Body: [detail=, message=unable to attach volume pvc-a9ca3dde-dbb1-4ea7-9f1e-bb3769721e3d to gvllc302c: volume pvc-a9ca3dde-dbb1-4ea7-9f1e-bb3769721e3d not scheduled, code=Server Error] from [http://longhorn-backend:9500/v1/volumes/pvc-a9ca3dde-dbb1-4ea7-9f1e-bb3769721e3d?action=

[2020-08-18 19:02] yasker opened #1701 "enhancement: introducing `Allow volume creation with degraded availability`"
We've made a decision to ~~revert~~ replace the change for #1282 .

Lots of queries after Longhorn v1.0.0 release are related to the scheduling error since many users don't have three nodes available when trying the Longhorn for the first time. Even though Longhorn is designed for a production environment,

1. Introduce `Allow volume creation with degraded availability`. It would be by default ena

[2020-08-18 21:37] khushboo-rancher commented on #1599
Verified on master- 08-18-2020

Validation - **Passed**

The volumes stuck in the attaching state can be deleted and detach after the fix.

Logs:
[code]
@shuo-wu Would you please confirm that the logs are what we are expecting?

[2020-08-19 00:07] yasker commented on #1625
Done

[2020-08-19 00:07] #1625 closed

[2020-08-19 02:45] saidghamra opened #1702 "[BUG] ARM64 - Error Attaching Volume to Pods"
**Describe the bug**
After looking at the [arm64 support PR](https://github.com/longhorn/longhorn-engine/pull/514), I deployed Longhorn on my 8 node Raspberry Pi 4 K8S cluster. I was able to find all the needed [docker images](https://hub.docker.com/u/ivanangelov) on DockerHub that were built by ivang. I used the official Longhorn helm chart and modified the images and their respective tags in the

[2020-08-19 03:09] shuo-wu commented on #1599
No. That's really weird. There shouldn't be log `rpc error: code = DeadlineExceeded desc = context deadline exceeded` in the manager...
What's your environment and how do you test it?

[2020-08-19 07:22] tuxpeople commented on #1686
Okay, I understand the concept here. But I find it confusing when I set that I want to keep 5 snapshots, but see 10 of them on the timeline. At first I even thought that deleting the old snapshots would not work.

Is there any way to graphically distinguish between snapshots and snapshots that were created for backup? You could also call the latter "backup", even if they are technically snapshots.

[2020-08-19 08:06] shuo-wu commented on #1698
Here is the key error log:
[code]

I am not sure if this is caused by [the iscsi version issue](https://bugzilla.redhat.com/show_bug.cgi?id=1009299), or there is something wrong with the `iscsiadm` setup. Notice that the OS version you are using is `Ubuntu 19.10` but Longhorn is using `Ubuntu 18.04`

[2020-08-19 09:26] joshimoo commented on #1686
@tuxpeople Thank you for the feedback, just to clarify a recurring job only cleans up it's own created snapshots / backups.
The reason for this is that assuming you would want to set up an additional recurring backup for weekly/monthly with it's own retention time, you wouldn't want the daily backups to nuke your weeklies/monthlies. Link to a common [backup rotation scheme](https://en.wikipedia.or

[2020-08-19 10:39] tuxpeople commented on #1686
@joshimoo Yes I understand the concept. But without a visually difference, it's hard to understand it by just looking at the timeline. I think it could be a small change: two different colors for the circles and maybe a different symbol in it.

[2020-08-19 11:54] shuo-wu opened #1703 "[FEATURE]Add instructions or provide tools to help users migrate data from other storage vendors"
**Describe the solution you'd like**
Add a migration example in the doc. Right now a simple way to do migration is that:
1. Launch a simple pod with 2 volumes, one is Longhorn volume another one is the volume users want to migrate from.
2. Do copy or `dd` between the 2 volumes.
3. Shutdown the pod but retain the volumes.

[2020-08-19 11:58] excieve commented on #1631
As another datapoint: by now this happens every time we rolling-upgrade nodes no matter how many volumes and volume-consuming pods there are. It gets pretty difficult to manage once there are hundreds as each stuck volume needs to be identified, then manually detached and then it takes some minutes until it finally attaches and mounts, slowing everything down.

[2020-08-19 12:56] stevesim101 commented on #1688
The typo only existed in the issue, not in my SC manifest.

[2020-08-19 17:12] khushboo-rancher commented on #1599
Steps of validation:
1. Created a cluster (1 etcd/control plane, 3 worker nodes) in rancher. K8s version - 18.6
2. Deployed longhorn master using ```kubectl``` command. (Attached the longhorn yaml file)
[longhorn.yaml.zip](https://github.com/longhorn/longhorn/files/5098069/longhorn.yaml.zip)
3. Ran ```kubetail longhorn-manager -n longhorn-system``` to capture logs.
3. Created a stateful set with v

[2020-08-19 19:06] yasker commented on #1698
`iscsiadm: Cannot perform discovery. Initiatorname required.`

This seems due to the iscsid/open-iscsi wasn't configured correctly on the node. The initiator name wasn't set.

[2020-08-19 19:12] yasker commented on #1702
@ivang Is there anything specific we need to do with the CSI driver for ARM64?

[2020-08-19 20:39] yasker commented on #1703
Duplicate of https://github.com/longhorn/longhorn/issues/1181 . Will track it there.

[2020-08-19 20:39] #1703 closed

[2020-08-19 20:40] yasker commented on #1181
Paste from #1703 , we can
[code]

[2020-08-19 20:50] ivang commented on #1702
Yes, the original CSI drivers are not yet available for ARM64. Thus, I had to build them myself (see [this comment](https://github.com/longhorn/longhorn-manager/pull/626#issuecomment-657051105)), push them to [my docker hub](https://hub.docker.com/u/ivanangelov), and modify [these lines](https://github.com/longhorn/longhorn-manager/blob/34c40abf2dabf5f25541a36917568c37e21af3ea/deploy/install/02-co

[2020-08-19 21:17] yasker commented on #1686
Both snapshots and backups are a point in the past, also the snapshots are needed for backup creation.

I think the original question is not due to the difference between snapshot and backup. It's more likely due to we didn't differentiate different scheduling items. They normally can be differentiated by name but the name we set for each snapshot/backup schedule is implicit. That's what caused th

[2020-08-19 23:57] boknowswiki opened #1704 "[FEATURE]Add eviction support for detached volume"
**Is your feature request related to a problem? Please describe.**
Relates to https://github.com/longhorn/longhorn/issues/298.

**Describe the solution you'd like**
Support disks and nodes eviction when the volume is detached.

[2020-08-20 03:17] shuo-wu commented on #1688
OK. Can you check if the related Longhorn volume is created or not? You can check it via Longhorn UI or the command `kubectl -n longhorn-system get volumes.longhorn.io`. If NO, then can you fetch the log of the pods `longhorn-csi-plugin-xxxxx`?

[2020-08-20 03:19] saidghamra commented on #1702
Update:

I was able to get it to work! After looking at @ivang comment, I found [csi docker images](https://hub.docker.com/u/raspbernetes?page=2) that did the trick! I was able to deploy the sample nginx deployment and I just finished deploying cluster monitoring, which uses persistence for Grafana and Prometheus. Works great so far!

For anyone that comes across this, here is what I did to get Lo

[2020-08-20 03:20] #1702 closed

[2020-08-20 06:29] shuo-wu commented on #1599
The yaml file you are using does not contain the fix. The instance manager image should be `longhornio/longhorn-instance-manager:v1_20200724` rather than `longhornio/longhorn-instance-manager:v1_20200514`:
https://github.com/longhorn/longhorn-manager/blob/c5d89d751f7c5d8f78544555fd0ea82581071885/deploy/install/02-components/01-manager.yaml#L30

[2020-08-20 06:36] tuxpeople commented on #1686
@yasker Showing the name of the schedule would be a good solution, from my point of view.

Please consider also to change the title of the timeline section from "Snapshots" to "Snapshots and backups", even if both are technically snapshots. Would help as well to avoid confusion and would match the title of the scheduler section.

[2020-08-20 15:53] yasker commented on #1688
@meldafrawi can you check to see if you can reproduce the issue using the configuration above?

[2020-08-20 18:12] meldafrawi commented on #1688
@yasker Couldn't reproduce the issue using steps provided

Deployment pods get attached to Longhorn volume without issues.

![image](https://user-images.githubusercontent.com/18232258/90809004-29076d80-e321-11ea-9685-dd68b011238b.png)

![image](https://user-images.githubusercontent.com/18232258/90809024-302e7b80-e321-11ea-9a93-58c3d200a25c.png)

![image](https://user-images.githubusercontent.com/1

[2020-08-20 19:15] meldafrawi commented on #1688
Manifest file used (StorageClass + PVC + Deployment + Service)

[code]

[2020-08-20 22:15] meldafrawi opened #1706 "[BUG] test_engine_image_incompatible test failed due to engine image compatibility issue"
**Describe the bug**
test_engine_image_incompatible failed

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn using master images
2. Run `test_engine_image_incompatible`

**Expected behavior**
`longhornio/longhorn-test:version-test.3-3.3-3.1-1` should be incompatible with Longhorn

**Log**
[code]

**Environment:**
 - Longhorn version: master
 - Kubernetes version: v1.18
 - Node

[2020-08-21 00:39] rtchinnachot opened #1707 "The volume has been deleted but somehow it’s still on Volume Dashboard as DELETE status"
The volume has been deleted but somehow it’s still there in the Longhorn Volume Dashboard and pending in DELETE state and never gets deleted.

---
Version: `v0.8

Log from 'longhorn-manager'

time="2020-07-30T20:31:25Z" level=info msg="Start overwriting built-in settings with customized values"
time="2020-07-30T20:31:25Z" level=info msg="cannot list the content of the src directory /var/lib/ranche

[2020-08-21 00:47] yasker commented on #1686
@tuxpeople yeah, make sense.

@smallteeths Can we update those in the UI?
1. Change `Snapshots` to `Snapshots and Backups`
2. Show the hidden recurring schedule name in the UI
3. Show more of the snapshot name so the user can identify which snapshot is created by which recurring schedule.

[2020-08-21 02:23] shuo-wu commented on #1707
1. Does the volume still exist after you refresh the UI page?
2. If NO, can you run the command `kubectl -n longhorn-system get volumes.longhorn.io pvc-59be1179-0288-41e0-a2a7-3b1bd6540390  -o yaml` to see what the volume status is?

[2020-08-21 04:31] yasker commented on #1707
@rtchinnachot Hi, as I mentioned in the slack, can you send us the support bundle to take a look as well? Thanks.

[2020-08-21 14:03] almorgv opened #1709 "[Question] Automatically restart workloads after volume salvage"
**Is there a way to automatically restart workloads after volume savlage?**

One way to do this described in docs https://longhorn.io/docs/1.0.2/high-availability/recover-volume/#automatically-remount-volumes-and-restart-workloads

But the problem is then you use public helm charts like postgres you can't modify `livenessProbe`. The only way is to fork all used charts and modify them manually to a

[2020-08-23 15:43] excieve opened #1711 "[FEATURE] Configure successfulJobsHistoryLimit of CronJobs"
**Is your feature request related to a problem? Please describe.**
With many volumes having recurring snapshotting and backups configured the number of `Succeeded` pods remaining after the corresponding `CronJob`s have been successfully executed can be in hundreds and even thousands because the default `successfulJobsHistoryLimit` is `3`. So e.g. 100 volumes with a backup and snapshot schedules wo

[2020-08-23 16:37] rsoika opened #1712 "[Question] MountVolume.SetUp failed - There is no block device frontend"
I am running longhorn 1.0.2 in a self managed kubernetes cluster
Everything works fine.
But I observer the following warning when I launch a new POD (in this case a postgresdb)

    MountVolume.SetUp failed for volume "xxx : rpc error: code = InvalidArgument desc = There is no block device frontend for volume xxx

These are the events form the pod description after successful deployment:

[code]

[2020-08-23 18:20] #1499 closed

[2020-08-24 02:59] shuo-wu commented on #1712
No, this error message is misleading... It's actually a transient/intermediate error during the attachment, and Kubernetes/Longhorn will try it when the error happens.

[2020-08-24 03:59] manhhailua opened #1713 "[Question] Got "Permission denied" in successful attached volume"
I got error "permission denied" in all pods which is using longhorn volumes on a k3s cluster with 1 master and 2 nodes (all those threes are ubuntu 18.04 on AWS and having Security Groups rules follow k3s [network config requirements](https://rancher.com/docs/k3s/latest/en/installation/installation-requirements/#networking)).

Redis pod log:
[code]

Postgresql pod log:
[code]
I installed the k3s s

[2020-08-24 06:43] tuxpeople opened #1714 "[Question] unable to resize PV"
**Describe the bug**
PV does not resize.

**To Reproduce**
Steps to reproduce the behavior:
1. Create deployment including a PVC
2. change pvc requested size using kubectl edit pvc <name> -n <namespace>

**Expected behavior**
PVC gets expanded. New size viewable in Longhorn and Rancher UI's

**Environment:**
 - Longhorn version: 1.0.2
 - Kubernetes version: 1.18.6
 - Node OS type and version: Ubun

[2020-08-24 06:46] rsoika commented on #1712
ok, thanks for clarifying.

[2020-08-24 07:28] joshimoo commented on #1714
@tuxpeople we currently only support offline [volume expansion](https://longhorn.io/docs/1.0.2/volumes-and-nodes/expansion/), is your volume detached?

[2020-08-24 07:35] tuxpeople commented on #1714
No, it wasn't. Thanks for pointing out.

It is now, should expansion then start immediately?

[2020-08-24 07:42] tuxpeople commented on #1714
Works. Sorry

[2020-08-24 08:00] tuxpeople commented on #1714
Volume is now enlarged, but can't be used anymore...

<pre>
MountVolume.SetUp failed for volume "pvc-fdb8f8ef-b439-41b2-b74f-319329cb156f" : rpc error: code = InvalidArgument desc = There is no block device frontend for volume pvc-fdb8f8ef-b439-41b2-b74f-319329cb156f
</pre>

[2020-08-24 08:04] joshimoo commented on #1714
@tuxpeople you should be able to ignore that error, it's a transitive error from the first mount call. The following mount calls should succeed?

We are aware of the issue of the transitive error.

[2020-08-24 08:10] joshimoo commented on #1678
Error not longhorn related, we will look into addressing the initial csi -NodePublishVolume failure.

[2020-08-24 08:10] #1678 closed

[2020-08-24 08:14] tuxpeople commented on #1714
Unfortunately no. It's going to be attached and shortly getting dettached again.
![Bildschirmfoto 2020-08-24 um 10 11 16](https://user-images.githubusercontent.com/1506076/91020063-44f56280-e5f2-11ea-9502-35d54f676bab.png)

It's like a loop... attaching, dettaching, attaching, dettaching...

In Longhorn UI, it's changing between faulty (all red) and ready. But the health is always "unknown".
![Bil

[2020-08-24 08:16] joshimoo commented on #1713
- Are you running SELinux?
- Are you able to create a single shell pod, with a longhorn volume mounted?
- Are you able to access the mount in that pod? (ls, touch)
- Anything in the longhorn-manager logs? `kubetail longhorn-manager -n longhorn-system`

[2020-08-24 08:30] joshimoo commented on #1714
- Did you reboot all nodes simultaneously? if so the volume now requires salvaging, by default [auto salvage](https://longhorn.io/docs/1.0.2/references/settings/#automatic-salvage) is enabled.

- Is `/var/lib/longhorn` on stable storage on these nodes?
- Start by scaling down the workload deployments that are using this volume to 0

CC @shuo-wu Can you provide guidance on how to best proceed from

[2020-08-24 08:37] tuxpeople commented on #1714
The issue already existed before rebooting the nodes. `/var/lib/longhorn` is on local M2SSD storage.

While I already tried (also before rebooting the nodes), I scaled the workload again down to 0. No pod is currently running.

However, the Longhorn UI sill shows attaching -> attached -> faulty -> detaching loop

Could the root cause of this be, that I've edited the PVC while the PV was bound? I'v

[2020-08-24 08:48] tuxpeople commented on #1714
This is what I see in Longhorn UI (screen recording with Quicktime):

[screencapture-longhorn.zip](https://github.com/longhorn/longhorn/files/5116734/screencapture-longhorn.zip)

[2020-08-24 09:52] joshimoo commented on #1714
Thank you for the elaboration, can you attach a support bundle?

[2020-08-24 10:08] tuxpeople commented on #1714
Well, it's to big to upload it here. But feel free to get it there: https://www.dropbox.com/s/rrsqdjva7oz0yat/longhorn-support-bundle_f8c9ff66-436f-4093-add6-7f177152ceb1_2020-08-24T09-58-21Z.zip?dl=0

[2020-08-24 11:26] almorgv commented on #1709
It would help a lot. Currently its our own duty to manually detect failed workloads and restart (delete) them. But this could take a while because many workloads become unoperational but keep passing liveness/readiness probes. So we need to manually check worload logs to find a plenty of IO errors.

[2020-08-24 12:58] timmy59100 opened #1715 "[FEATURE] Include "Update Replica Count" as Multi-edit"
**Is your feature request related to a problem? Please describe.**
Sometimes I want all my volumes to have more or less replicas. At the moment I have to set this manually for each volume.

**Describe the solution you'd like**
Include "Update Replica Count" as Multiedit in UI

**Describe alternatives you've considered**
Maybe one could update the replica count in the storage class. Would that upda

[2020-08-24 14:58] manhhailua commented on #1713
@joshimoo
**- Are you running SELinux?**
It is disabled.
**- Are you able to create a single shell pod, with a longhorn volume mounted?**
I'm currently not (following this https://longhorn.io/docs/0.8.0/users-guide/create-volumes/). The pod is stuck at ContainerCreating state.
I successfully created the pod once when I used only 1 master and 1 node (longhorn replica was also set to 1).
**- Are you

[2020-08-24 17:30] boknowswiki commented on #1713
@manhhailua , I think the issue is 'There's no available disk for replica pvc-dc8a0fc4-0483-474c-96b7-84ee14781fe7-r-b632a64f, size 2147483648'. You might need to enable the `Replica Node Level Soft Anti-Affinity`, here is the document about it as reference [Replica Node Level Soft Anti-Affinity](https://longhorn.io/docs/1.0.2/references/settings/#replica-node-level-soft-anti-affinity).

[2020-08-24 18:13] tuxpeople opened #1716 "[FEATURE] columns management in volumes overview"
Is it possible to add a function to managed the columns in volumes overview? I'd love to have an additional column to see the value of "actual size".

[2020-08-24 18:16] tuxpeople opened #1717 "[FEATURE]: See over-provisioning in Dashboard"
As far as I understand, I can provision more space in Longhorn than I actually have. But I'm not aware of a way to see how much I have compared to what I provisioned and what's actual used. Maybe, that information could be added to the dashboard somewhere?

[2020-08-24 18:23] tuxpeople commented on #1714
I tried to resize it a bit further. That stopped the attach-loop and the volume got "healthy". However, it's still "resizing". Logs telling me this:

`time="2020-08-24T18:18:50Z" level=info msg="Event(v1.ObjectReference{Kind:\"Volume\", Namespace:\"longhorn-system\", Name:\"pvc-fdb8f8ef-b439-41b2-b74f-319329cb156f\", UID:\"99edf0cf-0761-453e-aec7-e7b5e98805d6\", APIVersion:\"longhorn.io/v1beta1\",

[2020-08-24 20:45] meldafrawi opened #1718 "[task] Refactor nightly upgrade test to support upgrade from/to different Longhorn versions"
We need to be able to specify Longhorn base version and upgrade version while running Longhorn upgrade tests

e.g. Start with Longhorn v1.0.x , upgrade to v1.1.x, and run integration tests.

[2020-08-24 21:18] khushboo-rancher commented on #1697
Verified on Master - 08-24-2020

Validation - **Passed**

On clicking the replicas on the node page, the page is redirected to respective volumes.

Verified with the combination of replicas in ```Healthy, Unknown, Stooped, Failed and Rebuilding``` state and nodes in ```Schedulable, Disabled and Down``` state.

[2020-08-24 21:18] #1697 closed

[2020-08-24 22:12] #1507 closed

[2020-08-24 22:14] khushboo-rancher commented on #1599
Thanks @shuo-wu for finding the problem.

Validation - **Passed**

I validated the issue with ```longhornio/longhorn-instance-manager:v1_20200724```. It worked as expected, below are the logs as expected.

[code]

[2020-08-25 03:33] yasker commented on #1242
We recently have published a performance report at https://longhorn.io/blog/performance-scalability-report-aug-2020/

For the best write performance, yes the number of replicas should be `1`. But we can provide a better read performance if there are more replicas.

Because we need to ensure the crash consistency. `asynchronously` means the software ack the request before it's completely written to

[2020-08-25 03:37] shuo-wu commented on #1714
I suspect that all replicas somehow become inconsistent (size is not updated correctly) when the expansion is not processed correctly. When the volume loops in attach-fault-detach state. To find the cause, we need the support bundle.

[2020-08-25 03:40] yasker commented on #1712
The error message issue has been reported multiple times. Let's use this issue to track the fix for the error message.

[2020-08-25 03:48] yasker commented on #1716
@smallteeths can you check if it's possible for the user to customize the columns in the volume overview page?

[2020-08-25 07:01] almorgv opened #1719 "[BUG] Delete the workload pod of a failed engine automatically to trigger recovery"
**Describe the bug**
This happens a lot with Prometheus PVC after some network issues. Longhorn failed to write to replica due to timeout errors. When network becomes ok longhorn salvaging pvc and it becomes healthy in longhorn UI. But currently working workload can't use it any more. When you trying to restart workload pod gets stuck in terminating state. PVC detaching takes about 5 minutes but a

[2020-08-25 07:54] tuxpeople opened #1720 "[FEATURE] Filters in Overview"
If one has many volumes, a way to filter volumes in the overview could be very useful, eg. for bulk changes (eg. delete, backup etc)

Either allow filtering for all columns (eg. name containing "X" , or predefine some useful predefined filters like all the possible states or all the namespaces in which volumes do exist.

[2020-08-25 08:31] manhhailua commented on #1713
@boknowswiki I upgraded longhorn release with `--set defaultSettings.replicaSoftAntiAffinity=true` but nothing changed.
But when I tested simple bitnami/postgresql chart, it worked (`sudo helm install postgresql-dev bitnami/postgresql`). I think longhorn is fine, I'll keep looking on my chart configurations for the defect.

[2020-08-25 11:53] shuo-wu commented on #1707
1. The direct reason for the volume getting stuck in DELETE is that a replica `pvc-59be1179-0288-41e0-a2a7-3b1bd6540390-r-257fd033` cannot be deleted correctly:
[code]
2. The reason for this gRPC error is that the corresponding instance manager IP somehow is messed up:
    1. The instance manager of  replica `pvc-59be1179-0288-41e0-a2a7-3b1bd6540390-r-257fd033` is:
[code]
    Notice that the IP in

[2020-08-25 12:38] shuo-wu commented on #1714
1. Due to the misoperation, it seems that all the underlying files in the volume replicas are not expanded successfully. Then the volume will get crashed as long as there are I/Os:
[code]
2. Since Longhorn now just blindly salvages/reuses replicas when all replicas are crashed, the volume will be detached then reattached. --> Back to statement 1 --> Infinite loop. This salvage issue will be improv

[2020-08-25 17:30] boknowswiki commented on #1719
From this ' target is busy.\n, error exit status 32'. Can we try to find which process is using the volume? Like 'lsof | grep <mount point name>' or 'fuser <mount point name>'.

The pod is stuck at terminating state is because k8s failed to umount the volume. And after you find the process and then kill it, you should be able to umount it.  Or if you still can not umount it, you can do lazy umount

[2020-08-25 18:28] yasker commented on #608
We've shipped PSP with deployment since 1.0.2.

[2020-08-25 18:34] yasker commented on #1666
@khushboo-rancher can you verify if this issue still exists?

[2020-08-25 18:38] khushboo-rancher commented on #1666
This is not reproducible anymore on the master.
Closing the issue.

[2020-08-25 18:38] #1666 closed

[2020-08-25 18:58] #1599 closed

[2020-08-25 19:10] yasker commented on #1279
This issue has been in Review for 12 days. What's blocking this issue to be moved to Merged?

[2020-08-25 19:11] yasker commented on #612
@joshimoo Can you update the backupstore for manager and engine to get this issue to Merged?

[2020-08-25 19:11] yasker commented on #1393
@joshimoo Can you update the backupstore for manager and engine to get this issue to Merged?

[2020-08-25 19:12] yasker commented on #1105
This issue has been in Review for 21 days. What's blocking this issue moving to Merged?

[2020-08-25 19:12] yasker commented on #298
This issue has been in Review for 13 days. What's blocking this issue moving to Merged?

[2020-08-25 19:12] yasker commented on #1560
Done

[2020-08-25 19:12] #1560 closed

[2020-08-25 20:11] meldafrawi commented on #1325
test passed for the last 3 nightly tests runs & can't trigger the failure running manually multiple times

[2020-08-25 20:11] #1325 closed

[2020-08-25 21:32] boknowswiki commented on #298
I think it's because of [this part](https://github.com/longhorn/longhorn-manager/pull/651#discussion_r474952588). I will sync with @shuo-wu about it later today.

[2020-08-25 21:37] meldafrawi opened #1721 "[BUG] backup creation time take longer time using master images causing some tests to fail exceeding backup timeout limits"
**Describe the bug**
The following tests fail due to backup timeout
test_ha.py/test_engine_crash_for_restore_volume
test_ha.py/test_inc_restoration_with_multiple_rebuild_and_expansion
test_ha.py/test_engine_crash_for_restore_volume

**To Reproduce**
Steps to reproduce the behavior:
1, Install Longhorn using master images, and run the test

**Expected behavior**
tests should pass

**Log**
[code]
**

[2020-08-25 21:48] PhanLe1010 commented on #1105
I think this one should be good to merge. I just re-requested reviews from Joshua and Shuo.

[2020-08-25 21:58] PhanLe1010 commented on #1045
Kubernetes currently only have hard node-affinity for PV https://kubernetes.io/docs/concepts/storage/persistent-volumes/#node-affinity
We may want to consider submitting a PR to the upstream Kubernetes to fix this and use it to implement data locality

[2020-08-25 21:59] yasker commented on #1717
@tuxpeople you can see it in the node pages for each node. `Scheduled` is what's the volume size we've been scheduled for the node/disk.

[2020-08-25 22:00] yasker commented on #1720
We currently allow filtering in both node and volume pages for certain fields. Check the top right box.

[2020-08-25 23:53] meldafrawi commented on #1169
Test passed for the last 3 nightly tests, and can't reproduce the error running the test manually

[2020-08-25 23:53] #1169 closed

[2020-08-26 00:58] shuo-wu commented on #1279
1. UI modification is required.
2. The engine image incompatibility test failure is not checked. And the backup & restore tests seem to become slower. Not sure if we need to track these issues separately.

[2020-08-26 01:19] smallteeths commented on #1716
This is a little complicated to implement. Do we need to specify some fixed display columns, and then summarize the columns that users can customize the display.@yasker

[2020-08-26 02:50] yasker commented on #1716
Yeah, we can do that.

Fixed columns:
1. State
2. Name
3. Size
4. Attached To
5. Operations

The user can customize others.

[2020-08-26 06:22] almorgv commented on #1719
`lsof` under user gives the following output
[code]
`lsof` under root gives the following output
[code]

[2020-08-26 06:30] te4336 opened #1722 "Unschedulable volume"
[longhorn-support-bundle_90aacc4d-8541-4696-b13f-8cdaeb4c3031_2020-08-26T06-30-42Z.zip](https://github.com/longhorn/longhorn/files/5127992/longhorn-support-bundle_90aacc4d-8541-4696-b13f-8cdaeb4c3031_2020-08-26T06-30-42Z.zip)
When dynamically creating a PV/PVC the new storage shows as being unschedulable and can't even be manually attached to a node. Please let me know what you need other than the

[2020-08-26 07:19] PhanLe1010 commented on #1045
**reproduce/test steps:**

1. Create a cluster of 9 worker nodes and install Longhorn.
Having more nodes helps us to be more confident because the chance of randomly scheduling a replica onto the same node as the engine is small.
1. Using Rancher to install an L7 ingress pointing to `longhorn-backend` service

##### Test volume creation with `dataLocality` is `best-effort`:

1. Open the ingress an

[2020-08-26 07:48] PhanLe1010 commented on #1045
## Solution Space

When analyze this enhancement, I notice that there are many different moving parts/components from which we can use to build up a solution:

1. **Longhorn's ability to move replica to a new node**

     Longhorn manager has ability to create a new replica, schedule it to a new node, and rebuild the replica on the node. When a pod uses Longhorn volume and the volume doesn't have

[2020-08-26 07:54] tomikonio opened #1723 "[BUG] IPV6 errors in connectivity - too many colons in address"
**Describe the bug**
When trying Longhorn on an ipv6 cluster, you get connectivity errors in longhorn-manager pods due to missing square brackets around ipv6 addresses of the instance-manager pods.
[code]
The storage does not work due to this.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Longhorn helm chart on an ipv6 kubernetes cluster.
2. Watch the logs of one of the longhorn-man

[2020-08-26 09:35] joshimoo opened #1724 "[ENHANCEMENT] Improve longhorn-manager logs via structured logging (refactor setup/handling)"
Start by introducing a consistent logging format for the individual longhorn-manager controllers.

[2020-08-26 11:45] joshimoo opened #1725 "[ENHANCEMENT] refactor engine-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the engine controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

[2020-08-26 12:35] joshimoo opened #1726 "[ENHANCEMENT] refactor engine-image-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:39] joshimoo opened #1727 "[ENHANCEMENT] refactor instance-manager-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:41] joshimoo opened #1728 "[REFACTORING] refactor kubernetes-node-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:42] joshimoo opened #1729 "[REFACTORING] refactor kubernetes-pv-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:44] joshimoo opened #1730 "[REFACTORING] refactor node-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:45] joshimoo opened #1731 "[ENHANCEMENT] refactor replica-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:46] joshimoo opened #1732 "[ENHANCEMENT] refactor setting-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:48] joshimoo opened #1733 "[ENHANCEMENT] refactor uninstall-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:50] joshimoo opened #1734 "[ENHANCEMENT] refactor volume-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 12:51] joshimoo opened #1735 "[ENHANCEMENT] refactor websocket-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-26 13:19] joshimoo opened #1736 "[ENHANCEMENT] add structured instance based logger support to controllers"
Add a base controller that takes care of setting up the initial instance based logger so that we always have the controller name and node fields for all longhorn-manager controllers.

longhorn/longhorn#1724

[2020-08-26 13:31] #1510 closed

[2020-08-26 13:46] TemaSM commented on #755
@aleksey005 I mean, stable for my needs. For example, currently I need to automate somehow auto-mount of all Longhorn's block devices to FS of nodes. If you have any tips doing this, will appreciate any tips from you.

[2020-08-26 15:14] aleksey005 commented on #755
@TemaSM why are you asking this question in a closed ish.  Open a new one or make a request for such functionality.  Culture comes first.

[2020-08-26 16:47] boknowswiki commented on #1722
Found the following error message from `longhorn-manager-stq76`:

`2020-08-26T06:28:08.947501942Z time="2020-08-26T06:28:08Z" level=error msg="There's no available disk for replica pv-victoriametrics-storage-r-e7dcece1, size 107374182400"
2020-08-26T06:28:08.947565666Z time="2020-08-26T06:28:08Z" level=error msg="unable to schedule replica pv-victoriametrics-storage-r-e7dcece1 of volume pv-victori

[2020-08-26 16:51] boknowswiki commented on #1719
Thanks for the information.

Yes, we would like to know the reason of ' target is busy.\n, error exit status 32'. If you hit it again, please help to see which process is using the mount point.

[2020-08-26 17:44] #1462 closed

[2020-08-26 17:44] #1413 closed

[2020-08-26 17:54] khushboo-rancher commented on #1686
Verified on Master - 08-26-2020

Validation - **Passed**

1. The title in the volume details page is changed to ```Snapshots and Backups```.
2. The name of recurring backups and snapshots are now visible on the UI.
3. The name of snapshots and backups appear as same as they appear in ```Recurring Snapshot and Backup Schedule```

<img width="1767" alt="Screen Shot 2020-08-26 at 10 41 11 AM" src="ht

[2020-08-26 17:54] #1686 closed

[2020-08-26 18:21] yasker commented on #1045
One of the option of `data locality` should be `disabled` instead of `disable`, which is a verb.

[2020-08-26 18:25] PhanLe1010 commented on #1045
Thanks Sheng!

[2020-08-26 22:45] khushboo-rancher commented on #1286
The reported issue is not reproducible with longhorn v1.0.2.

**Steps followed:**
1. Deployed longhorn on a cluster (1 etcd/control plane and 3 workers)
2. Selected a worker node and drain it with the ```delete local data``` set to ```yes```.
[code]

The drain works fine, the instance-manger continues on the same node and no error is observed.

[2020-08-26 23:15] te4336 commented on #1722
Activating that setting resolved the issue. Thanks!

[2020-08-26 23:25] #1722 closed

[2020-08-27 00:14] yasker commented on #755
@TemaSM We don't support automatically mount the block device needed for Longhorn now. Feel free to create an issue for the enhancement so we can track it.

[2020-08-27 03:19] dcplaya opened #1737 "[Question] Max number of mount points limited to just /dev/sd(a-z)?"
A specific node in my cluster seems to love to grab all the mounts, unfortunately it tries to grab more than it can handle apparently. Are the max number of mounts longhorn can do really just 26 (a-z)?

The error I get is below

[code]

I am running longhorn v1.0.2

[2020-08-27 05:05] t3hmrman commented on #1242
Hey @yasker just got a chance to watch your presentation (webinar) earlier this year and took a look at the perf/scalability report released recently as well.

The numbers are pretty staggering -- 20%-30% (so a 1/5th or 1/3rd reduction) in IOPS is a pretty large reduction -- I totally understand the value of crash consistency and the instant migration that it enables, but am wondering if there are

[2020-08-27 06:54] almorgv commented on #1719
We encountered this again.

Error in events 4 minutes ago
[code]

[code]

There are even more mounts of the same pvc then previous
[code]
fuser gives nothing again and that is strange. May be I use it wrong
[code]

[code]

When I trying to execute command from pvc error event
[code]

But I really don't understand how can `lsof` know nothing about any of this mount points? Maybe I do something wron

[2020-08-27 09:01] willzhang commented on #1465
jenkins pod not running with longhorn pv
kubernetes version
[code]
longhorn verison
[code]
pv and pvc is bound
[code]
jenkins pod describe logs

[code]

longhorn pods
[code]

longhorn manager logs
[code]

[2020-08-27 12:32] dcplaya opened #1738 "Unable to replicate large volume"
Whenever I try and increase my replica count to more than 1 on a specific volume (300GB), it ALWAYS fails. When it fails, it takes seems to also force a bunch of other volumes to degrade too. The error is below

---
Version: `v1.0.2`

[2020-08-27 12:41] shuo-wu commented on #1721
I tried to test the backup creation speed in both `v1.0.2` and `master` by running the following test case multiple times:
[code]

The result is that:
    - `master`: around 445s
    - `v1.0.2`: 445s~465s

It seems that there is no regression issue about backup creation.

---
Most of the failed test cases are newly introduced tests. And as for the failed old test case `test_rebuild_with_restoratio

[2020-08-27 14:01] #1154 closed

[2020-08-27 15:44] te4336 opened #1739 "no block device frontend for volume error"
[longhorn-support-bundle_90aacc4d-8541-4696-b13f-8cdaeb4c3031_2020-08-27T15-44-38Z.zip](https://github.com/longhorn/longhorn/files/5137412/longhorn-support-bundle_90aacc4d-8541-4696-b13f-8cdaeb4c3031_2020-08-27T15-44-38Z.zip)
When I go to deploy my helm chart thePV/PVC is created in Longhorn however I keep getting a Frontend device error when it tries to attach it to the pod.

Warning | FailedMoun

[2020-08-27 16:05] yasker commented on #1739
[code]

That means the block device created by Longhorn has been automatically used by some other processes.

The last time we saw the issue, it's due to multipath process running on the node automatically add the Longhorn disk to the multipath pool. You can take a look at https://github.com/longhorn/longhorn/issues/1210 on how to find the root cause of the issue in your setup.

[2020-08-27 16:11] yasker commented on #1738
@dcplaya The error message doesn't give much information here since it's a parsing error. Though it seems unrelated to the volume size. Increase the replica count of one volume shouldn't impact any other volumes unless we don't have enough space for the rebuild. Can you check the actual size of the volume and the remaining space of your disk to make sure the new node for the replica has enough spa

[2020-08-27 16:17] yasker commented on #1737
The error message isn't related to the block device name. This is the `remount` feature we've built for the unexpected volume detachment. See https://longhorn.io/docs/1.0.2/high-availability/recover-volume/

The error message here simply means:
1. This volume has been detached unexpectedly due to some reason
2. Now we've reattached it automatically
3. But somehow there isn't one mount point on the

[2020-08-27 16:19] yasker commented on #1739
Btw, `There is no block device frontend for volume vm-victoria-metrics-cluster-vmselect-0 ` is not a real error. The error message is misleading. We will fix that in https://github.com/longhorn/longhorn/issues/1712

[2020-08-27 16:37] boknowswiki commented on #1737
One possible Longhorn will skip the auto-remount is that the mount point is being used by other devices.

[2020-08-27 16:48] yasker commented on #1242
@t3hmrman Yes, we've in fact considered having one local "sync" replica with crash consistency, and multiple `async` replica to help with the performance. But we haven't brought it up to the schedule yet because:
1. It will be pretty complex from the technical perspective.
2. As you can see from https://longhorn.io/blog/performance-scalability-report-aug-2020/#benchmark-result , the main bottlenec

[2020-08-27 17:01] yasker commented on #1719
@almorgv Can you find the block device name as `/dev/sdxxx` instead of `/dev/longhorn/pvc-xxxx`? It might be used in that name (yes, both are the same device if with the same major/minor number).

For example, take a look at `ls -l /dev/longhorn/pvc-xxxx`, and you get:
[code]

Assume you want to find what's the other name of `pvc-06b4a8a8-b51d-42c6-a8cc-d8c8d6bc65bc`, take a look at `ls -l /dev/`,

[2020-08-27 18:05] boknowswiki commented on #1719
As @yasker  mentioned, it's good to use the linux kernel device name like '/dev/sdd', there might be some process is writing to the device through some other mount point or some way.

you might want to try add '-v' after 'fuser' to enable the verbose mode like this:

`root@botao-linode-dev-2:~# mount /dev/longhorn/test /mnt/
root@botao-linode-dev-2:~# dd if=/dev/urandom of=/mnt/data2 bs=1M count=1

[2020-08-27 19:45] boknowswiki commented on #298
@smallteeths , could you help to update the UI part, which adding 'Eviction Requested' 'true' or 'false' options next to the 'Scheduling' on the 'Node' page? Thanks.

[2020-08-27 20:21] joshimoo opened #1740 "[REFACTORING] refactor kubernetes-pod-controller to use structured logging"
We want to have consistent and structured logs to improve the ability to filter and analyse longhorn-manager logs.
Currently the controller uses the global logrus package logger, the task here would be to switch the log calls to the instance logger that was implemented in longhorn/longhorn-manager#661

While doing this also improve the log messages, where possible.
For an example of a successful c

[2020-08-27 20:52] dbpolito opened #1741 "Improve documentation for installing open-iscsi"
I was trying to install Longhorn on EKS and faced the problem with missing open-iscsi, i see it's documented here: https://longhorn.io/docs/1.0.2/deploy/install/#installing-open-iscsi

But for EKS how to ssh into the node, deal with autoscaling, etc.

I was searching a better way for handling this and found out that the approach on openebs is pretty straight forward:

https://openebs.github.io/cha

[2020-08-27 21:26] yasker commented on #1741
Thanks @dbpolito , that's a good idea. We will see if we can include something similar in our next release.

[2020-08-27 21:32] dbpolito commented on #1741
Just in case someone need, i deployed this and everything is working now:

[code]

[2020-08-27 21:54] dcplaya commented on #1737
@yasker

`But somehow there isn't one mount point on the node that using this volume, so we will skip the auto-remount process.` seems to be the correct answer. This PVC is linked to a influxDB that is currently scaled down to 0. But now I am wondering why longhorn keeps trying to mount it. If the container isn't running but I manually attach the volume, will Longhorn continue to try and keep it a

[2020-08-27 22:02] dcplaya commented on #1738
The parsing error explains why I had absolutely no clue what is causing this! Been scratching my head for days.

The actual size as reported by Longhorn
[code]

Below are all my node's allocated and used space. The single replica is currently only on 1 worker (2nd from the top)
![image](https://user-images.githubusercontent.com/1105320/91499005-94979080-e875-11ea-8776-ce14a7360ecb.png)

I will hav

[2020-08-28 00:41] meldafrawi opened #1742 "[BUG] test_salvage_auto_crash_replicas_short_wait and test_salvage_auto_crash_all_replicas fails sometimes due to fast pod restart"
**Describe the bug**
tests `test_salvage_auto_crash_replicas_short_wait` and `test_salvage_auto_crash_all_replicas` fails if pod restarted too quickly before `wait_for_pod_restart` and `wait_for_pod_remount` executes

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn using master images
2. run tests

**Expected behavior**
tests should pass

**Log**
[code]

**Environment:**
 - L

[2020-08-28 00:54] rtchinnachot commented on #1707
For the update. I ran three commands above but the volume on the dashboard still showing (Refreshed, use Cognito browser, clear browser cache).

However, I managed to clean this up in the end sine the cluster is in testing, I rebooted the node one by one and the volume cleared up on the dashboard.

[2020-08-28 02:42] crutonjohn commented on #1210
Just posting so that it may help someone who stumbles across this as well.

I also experienced a similar issue with Longhorn and `iscsid`. After rebuilding my k8s cluster from scratch and installing Longhorn, I was attempting to restore a PVC from a Minio/S3 backup. My backup would restore, but mounting the PV into the pod resulted in (`kubectl describe pod my-pod-12345-123456`):

[code]

So after

[2020-08-28 02:45] t3hmrman commented on #1242
@yasker Thanks for the explanation and I appreciate the hard work.

[2020-08-28 02:47] smallteeths commented on #1716
Now the way to get the actual size is by requesting a snapshotList from the volume detail page. If we want to get the actual size on the volume list page, then we must send a request for each volume. This doesn't make sense. So I would like to be able to return the actual size directly in the volume list api.

[2020-08-28 04:26] shuo-wu commented on #1737
Longhorn always tries to automatically reattach the volume if the **attached** volume somehow gets detached unexpectedly.

[2020-08-28 06:06] almorgv commented on #1719
[code]

[code]

I guess its `/dev/sdc`

And nothing again with lsof
[code]

fuser gives only mount point
[code]

[2020-08-28 06:40] almorgv commented on #1719
Today prometheus volume became readonly again. I tried to follow your instructions.

[code]

[code]

So I assumed that `/dev/sdc` is the key but I got nothing again with lsof
[code]

and fuser gives only mount point
[code]

Duplicated mounts are still here but pod id is the same `ff6a5dda-c552-4897-9da9-e976bc3ee9db`
[code]

When I tried to delete prometheus pod longhorn has stopped the volume but

[2020-08-28 08:33] Frankkkkk commented on #1723
I've added some MRs yesterday (https://github.com/longhorn/longhorn-ui/pull/320, https://github.com/longhorn/longhorn-manager/pull/663) but there's still some more code missing, notably on the csi-*, instance-manager.

If I've got time I'll try to do an MR today, but I'm afraid that I'm missing some information on the inner workings.

@yasker We could provide you with a test IPv6 cluster if you de

[2020-08-28 10:58] joshimoo commented on #1628
@shuo-wu Another instance of this test failure:
(after the restore refactor longhorn/longhorn-engine#521 & longhorn/longhorn-engine#529)
https://drone-pr.longhorn.io/longhorn/longhorn-engine/39/1/3

Looks like this test is still flaky, runs on local fails on remote.
context: longhorn/longhorn-engine#512

[2020-08-28 11:08] joshimoo commented on #1628
@shuo-wu Is the replica state something that would fix itself?
If so can we add a for loop just for the replica state checking here: https://github.com/longhorn/longhorn-engine/blob/91189263f90ce1b4c28b88ef7d4c49c8fecc0680/integration/common/core.py#L363

instead of needing to go through the whole reset-volume ramp down/up again?

[2020-08-28 12:22] shuo-wu commented on #1628
Let me explain the case with more details:
1. The engine controller tries to [stop monitoring the old replica (address)](https://github.com/longhorn/longhorn-engine/blob/d3e2a2d62568fcaa60c3e910b1052efe9350bc74/pkg/controller/replicator.go#L82)
2. The engine controller [removes the replica from the list](https://github.com/longhorn/longhorn-engine/blob/d3e2a2d62568fcaa60c3e910b1052efe9350bc74/pkg/

[2020-08-28 14:37] Frankkkkk commented on #1723
What's missing as of now:

- longhorn-instance-manager : https://github.com/longhorn/longhorn-instance-manager/pull/80
- go-iscsi-helper : https://github.com/Frankkkkk/go-iscsi-helper/tree/fvd/ipv6 - MR in progress
- longhorn-engine : add some `joinHostPort`
- longhorn-manager: https://github.com/Frankkkkk/longhorn-manager/commit/aaec3d48717247e8b28e1e2a51f9aa313f5122ee - listen everywhere in v6 (

[2020-08-28 16:04] joshimoo commented on #612
All rebased and restore change fixed in longhorn/longhorn-engine#529.

[2020-08-28 16:35] meldafrawi commented on #1718
we also need to have the ability to run a specific group of tests, e.g. (infra tests, backup and restore tests, .., etc)

[2020-08-28 16:41] yasker commented on #1737
@dcplaya is the volume attached or detached when this error message is showing up?

[2020-08-28 16:42] meldafrawi commented on #1615
test  passed in nightly tests.

[2020-08-28 16:42] #1615 closed

[2020-08-28 16:44] meldafrawi commented on #1706
test passed, waiting few iterations before closing the issue.

[2020-08-28 17:05] sergiocharpineljr commented on #1500
I'm also experiencing this issue with v 1.0.1. My cluster doesn't seem to have any resource pressure.

After the problem, longhorns devices seems to be mounted twice, ro and rw mounts.

[code]

I can see some timeouts and some errors:
[code]

But in the end it gets synchronized:
[code]

livenessProbe is not a good solution for me because I've already have one for monitoring HTTP. I could create a

[2020-08-28 17:29] yasker commented on #1716
@smallteeths Now the upstream manager has the `actualSize` field in the volume->controller object response.

[2020-08-28 17:35] yasker commented on #1210
@crutonjohn Thanks for the information. Though I am a bit confused about why it's happened in your case. Btw, I don't think `/dev/longhorn/disk` is a Longhorn volume right? It should be the LVM device provided to Longhorn IIUC.

[2020-08-28 17:41] yasker commented on #1500
@sergiocharpineljr Yes, there was a disconnection happened. Since you said seems there is no resource pressure, so it might be caused by the temporary network outage.

The reason you saw two mounts is Longhorn tried to recover the volume so when the volume comeback, it remounted the volume back to the same location, in the hope that the workload would restart and pick up the correct mountpoint aga

[2020-08-28 18:34] khushboo-rancher opened #1743 "[BUG]UI-Provide multiple-choice dropdown for settings 'Pod Deletion Policy When Node is Down' and 'Default Data Locality'"
**Describe the bug**
'Pod Deletion Policy When Node is Down' and 'Default Data Locality' settings in longhorn take input as text. There should be a dropdown providing multiple-choice rather than text input

**To Reproduce**
Steps to reproduce the behavior:
1. Install Longhorn
2. Go to the setting page.
3. Check the settings 'Pod Deletion Policy When Node is Down' and 'Default Data Locality'
4. Bot

[2020-08-28 18:38] yasker commented on #1743
@smallteeths We should dynamically generate the options, instead of hard code them in the UI. If it needs more backend work, let me know.

[2020-08-28 18:40] yasker commented on #1738
Thanks @dcplaya . After you come back, can you send a support bundle (see the generate button at the footer of the UI) to us at longhorn-support-bundle@rancher.com ? We want to take a deeper look at this issue.

[2020-08-28 20:13] khushboo-rancher commented on #1105
Verified on Longhorn master - 08-27-2020

Validation - **Pass**

**Scenarios Tested:**
1. The default value for setting ```Pod Deletion Policy When Node is Down``` is ```do-nothing```
2. The setting doesn't take empty value.
3. The setting takes input ```do-nothing, delete-statefulset-pod, delete-deployment-pod and delete-both-statefulset-and-deployment-pod```, anything other than these inputs thr

[2020-08-28 20:13] #1105 closed

[2020-08-28 20:20] yasker commented on #1719
@almorgv Thanks for the investigation. I might know the root cause know.

Can you show me the pod spec who is using the volume? Is it using `subPath`? Our auto remount mechanism might not work with the subpath. The alternative would be to kill the pod automatically from the Longhorn side and ask Kubernetes to handle the remount/restart of the pod.

cc @shuo-wu

[2020-08-28 22:11] meldafrawi commented on #1045
Manual Testing:  **PASSED**
Longhorn version: **master**

Tests:

- [x] volume creation with dataLocality is best-effort
- [x] volume creation with dataLocality is disabled
- [x] updateDataLocality from disabled to best-effort
- [x] updateDataLocality from best-effort to disabled
- [x] volume creation by using storage class with dataLocality parameter is disabled
- [x] volume creation by using sto

[2020-08-28 22:24] PhanLe1010 opened #1744 "[FEATURE] UI part for Data Locality feature"
We need to modify UI to support the Data Locality feature.

1. On volume creation [Form](https://github.com/longhorn/longhorn-ui/blob/2d7874cf8db38e8c159fc44c954e94aebdb2f76d/src/routes/volume/CreateVolume.js#L53), add a `FormItem` for `dataLocality`. There are 2 `dataLocality` modes: `disabled` and `best-effort`.
1. On volume detail page:
   * On the right [volume info panel](https://github.com/l

[2020-08-29 02:59] shuo-wu commented on #1719
The `subpath` is a blind spot for the Longhorn remount. Should we re-consider the remount feature?

[2020-08-29 09:40] joshimoo commented on #1744
In regard to 1. the options on the volume form, should be dynamically generated based on the settings.
Having a generic drop down component that gets feed via a choices array, would be a good idea.
https://github.com/longhorn/longhorn-ui/pull/274#discussion_r428977246

[2020-08-29 15:35] #1713 closed

[2020-08-29 16:39] yasker commented on #1719
@shuo-wu Yes, might make sense to kill the pod instead. Ideally we should `restart` the pod but there isn't a way to do it in Kubernetes as I know.

[2020-08-29 21:40] #1502 closed

[2020-08-30 01:45] ianvari opened #1745 "Trying to access Longhorn UI through a Sub Path ends up in a blank white page"
I'm trying to access the longhorn UI and ingress controller, nginx in my case on a K3S environment. First off I had to change the ingress YAML file found on the docs a bit to be able to get it to work, but I was able to finally access it with no issues.

In the next step I tried customizing a bit more and accessing the UI through a subpath instead of directly on the root path and tried multiple di

[2020-08-30 02:40] #1504 closed

[2020-08-30 03:04] ianvari commented on #1554
I have a similar problem #1745 , but in my case I've actually deployed ngnix, I want to deploy other dashboards and expose through the ingress controller and at this point Longhorn UI is taking it over.

[2020-08-30 06:57] crutonjohn commented on #1210
correct, `/dev/longhorn/disk` is an LVM.

i'm not really sure either, idk if it's a different bug or what but the symptoms were sorta the same. i came up with the solution with the amalgamation of info here and just thought i'd share.

[2020-08-30 07:24] crutonjohn commented on #1210
okay, i had to rebuild my cluster again tonight for reasons and it looks like this is happening again.

i'm gonna have to try the multipath fix tomorrow and see if that fixes it. sorry for the thread spam.

[2020-08-30 07:56] smallteeths commented on #1745
For the time being, this version only supports `path: /`. The next version will be updated to support any path. @ianvari @andyjeffries  @yasker
If it is a test environment, you can try image `wangsiye/longhorn-ui:904c756`. Ingress needs to be configured correctly, annotations need to add parameters nginx.ingress.kubernetes.io/rewrite-target: /$2
path is set to /xxx(/|$)(.*)

[2020-08-30 08:00] smallteeths commented on #1554
For the time being, this version only supports path: /. The next version will be updated to support any path. @ianvari @andyjeffries @yasker
If it is a test environment, you can try image wangsiye/longhorn-ui:904c756. Ingress needs to be configured correctly, annotations need to add parameters nginx.ingress.kubernetes.io/rewrite-target: /$2
path is set to /xxx(/|$)(.*)

[2020-08-30 08:05] smallteeths commented on #1743
https://github.com/longhorn/longhorn-ui/pull/274#discussion_r428977246

[2020-08-30 08:12] smallteeths commented on #1554
I'm using the nginx ingress controller, which may not have the same parameters as traefik. I'll try to configure it sometime! @ianvari @riazarbi

[2020-08-30 12:48] denissabramovs opened #1746 "Can't mount longhorn pv"
related thread in kubernetes issues:
https://github.com/kubernetes/kubernetes/issues/94336

[2020-08-30 18:17] ianvari commented on #1745
Thanks for clarifying @smallteeths, would you mind sharing your ingress YAML file after you test it so I understand where you add those parameters?

As a work around on the stable version, is it possible to deploy a second ingress controller and dedicate the existing one to the longhorn UI? I'm a K8S newbie so still trying to learn all the bits and pieces.

[2020-08-31 02:10] smallteeths commented on #1745
`  apiVersion: networking.k8s.io/v1beta1
  kind: Ingress
  metadata:
    annotations:
      kubernetes.io/ingress.class: nginx
      # type of authentication
      nginx.ingress.kubernetes.io/auth-type: basic
      # prevent the controller from redirecting (308) to HTTPS
      nginx.ingress.kubernetes.io/ssl-redirect: 'false'
      # name of the secret that contains the user/password definitions

[2020-08-31 02:10] shuo-wu commented on #1746
According to this log, all volumes on that node cannot be attached. Can you check what your node's current status/condition is?
[code]

[2020-08-31 04:01] dcplaya commented on #1738
Support bundle sent. This time, I wasn't trying to replicate, I was actually trying to copy the data out of Longhorn so I could get these logs and not risk data. It so happens, the same error popped up when doing this! It seems like high IO load (not large files, but large number of files) seems to cause Longhorn cause all of this to happen.

[2020-08-31 14:38] ianvari commented on #1745
Thanks a lot @smallteeths  I'll give this a try, just to clarify would this work with the current stable version or do I need to replace the UI? If so can you point me to where the image path needs to be updated?

[2020-08-31 15:54] tscswcn opened #1747 "[Question]what does this mean? why need NodeID annotation?"
FailedAttachVolume | 2020-08-31 23:52:49 || attachdetach-controller, | AttachVolume.Attach failed for volume "pvc-f6d5f68c-6971-46f6-9658-84c73c92924a" : node "node-******" has no NodeID annotation
-- | -- | -- | -- | --

[2020-08-31 16:05] crutonjohn commented on #1210
@meldafrawi 's suggestion worked: https://github.com/longhorn/longhorn/issues/1210#issuecomment-671689746